[2021-03-19 02:42] trivialfis commented on #6766
https://github.com/dmlc/xgboost/pull/6769 might be able to provide better error messages.  suggestions are welcomed.

[2021-03-19 04:48] ShvetsKS commented on #6552
@hcho3 Disabling threading in DMatrix create by default is not good solution as we can mitigate it in another way.
There is already solution for Dense adapter (unfortunately reverted): https://github.com/dmlc/xgboost/commit/bdebab195d8ab6b3f0104b7ed6132ee7585f8d40
With this fix it's possible to get similar to `nthread=1` memory consumption.

[2021-03-19 12:34] titericz commented on #6766
Thanks @trivialfis . At least my bug may help with better error messages ;)

[2021-03-19 17:56] #6766 closed

[2021-03-19 17:57] trivialfis commented on #6768
Thanks for the detailed issue and PR.

[2021-03-19 17:57] #6768 closed

[2021-03-19 18:51] trivialfis commented on #6731
The bug in gamma deviance is fixed.  Better documentation for other metrics will be a different topic.  Thanks for raising the issue!

[2021-03-19 18:51] #6731 closed

[2021-03-19 20:25] trivialfis commented on #6753
Found the new doc: https://numba.readthedocs.io/en/stable/cuda/cuda_array_interface.html .

[2021-03-19 21:19] #6752 closed

[2021-03-19 21:19] #6762 closed

[2021-03-19 21:54] hcho3 commented on #6767
@CodingCat @wbo4958 What's your take on this? Do you think it's a good idea to link `libxgboost4j.so` with `libomp`?

[2021-03-20 07:57] trivialfis commented on #6731
Just a quick note for who's following this thread.  I believe these metrics and objectives are derived from the generalized linear model.

[2021-03-20 08:37] Roffild commented on #6731
All metrics are calculated for each result separately.

Loss is calculated for each individual result, but metrics must be calculated for the entire result matrix. Therefore, the metrics in XGBoost are approximate.

[2021-03-20 08:42] Roffild commented on #6731
https://github.com/pytorch/pytorch/issues/22439

[2021-03-20 08:59] trivialfis commented on #6500
I will branch out next week.

[2021-03-20 09:01] trivialfis commented on #6500
I will branch out next week.

[2021-03-20 09:12] Roffild commented on #6500
Will you fix other metrics (gamma-nloglik, logloss)?

[2021-03-20 09:36] trivialfis commented on #6500
Yeah, I will take a deeper look into them this weekend.

[2021-03-21 23:44] wenouyang opened #6773 "the reason of GPU does not provide any performance boost"
I was following this [notebook](https://www.kaggle.com/vinhnguyen/accelerating-xgboost-with-gpu/log) to test the GPU-enabled xgboost, I had the two observations

1) I did not see any differents in the training time between training on CPU and trainin on GPU

2) I observed the following warning message during training. Does it mean that we cannot get any GPU boost if we only have single GPU on a wi

[2021-03-22 16:47] lhsalud commented on #5869
Hello.  I am getting similar results. May I as if anyone has a solution for this?

[2021-03-22 18:07] trivialfis commented on #6500
@Roffild Will reply on the original thread: https://github.com/dmlc/xgboost/issues/6731

[2021-03-22 18:11] trivialfis commented on #6731
See `Evaluating the Poisson distribution` section of https://en.wikipedia.org/wiki/Poisson_distribution

[2021-03-22 18:13] trivialfis commented on #6731
Yeah, this one is a bit confusing, I tracked down the PR for `-log(\gamma)`: https://github.com/dmlc/xgboost/pull/1369 , which hard codes the dispersion to 1.  Not entirely sure why.

[2021-03-22 18:28] trivialfis commented on #6731
The weird logloss you see is just a way to work around numerical issues.

[2021-03-23 00:41] hcho3 commented on #6767
@Craigacp Hello, for the upcoming release (1.4.0), we probably won't be able to provide XGBoost4J release with OpenMP enabled. I will instead put up instructions on how to build XGBoost4J from the source. I will also add an entry in the "Known Issues" section in the release note.

Let us also re-visit this issue after 1.4.0 release.

[2021-03-23 00:55] Craigacp commented on #6767
Sure, that's fine by me. Provided it's documented behaviour then I can link to that from my docs and tell people to recompile if they need multithreading on macOS. I would like it to have OpenMP support for macOS in Java, but if you've not planned for it then it's not something to turn on just before the release.

[2021-03-23 01:15] hcho3 commented on #6767
We will need to also think about how to display a user-friendly message when `libxgboost4j.so` fails to load due to missing `libomp`. (Currently, Python and R packages have this.)

[2021-03-23 02:48] trivialfis commented on #6552
@ShvetsKS Do you know any sparse matrix transpose algorithm that doesn't have `O(NT)` runtime memory requirement, with `N` as rows and `T` as threads?

[2021-03-23 03:03] trivialfis commented on #6552
I will try some different solutions.

[2021-03-23 03:07] hcho3 commented on #6552
For the upcoming release (1.4.0), let's document this as a known issue, as the true fix may take a while to achieve.

Known limitation: the DMatrix construction may cause a high amount of memory consumption. If your machine is constrained in the amount of memory available, please set `nthread=1`.

[2021-03-23 12:08] trivialfis commented on #6552
Didn't think parallel transpose is such a difficult problem.  I couldn't find an algorithm that's close to ideal.  Sorting-based can be quite efficient for sparse data but performs poorly on dense data due to its complexity.  Atomic-based also performs poorly on dense data.  Scan-based (what we are currently employing) has `O(NT)` memory consumption and merge-based is no better.

The fix from @Shv

[2021-03-23 12:40] trivialfis commented on #6723
I need to restore the estimation on dispersion.

[2021-03-23 12:41] trivialfis commented on #6723
For now please use gamma deviance instead, it should be a good metric as the objective is actually derived from it with log link.

[2021-03-23 13:44] ShvetsKS commented on #6552
@trivialfis What if we still preserve default `-1` value for dispatched `_from_numpy_array` (always calls with `DenseAdapter`) as for this branch we are still able to reduce memory consumption `nthread` times (result: O(N/T) for each thread) ? Seems that this approach for memory reduction can be applied for each Adapters with row-oriented memory.

For columnar-oriented storage (`CSCAdapter` ?) we

[2021-03-23 14:06] trivialfis commented on #6552
@ShvetsKS

Setting the default to -1 means some automated value right?  We will still have to pick the correct value for `omp_set_num_threads`?  Or we just bypass this call when input number of threads is invalid and let the system decide?

[2021-03-23 14:10] ShvetsKS commented on #6552
No. Just allow lazy `self.nthread` initialization in `dispatch_data_backend`
https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/core.py#L538
It allows to preserve user defined value if it's different from `None`

[2021-03-23 14:14] trivialfis commented on #6552
The `-1` is preserved and passed down to `SimpleDMatrix` where we call `common::OmpSetNumThreadsWithoutHT`, which then uses `omp_get_max_threads()` due to `-1` being an invalid value.  From here on we are using the maximum number of threads.  I'm not sure how lazy initialization for `DMatrix.nthread` can be applied here?  Sorry for not catching up.

[2021-03-23 14:40] ShvetsKS commented on #6552
Sorry for not clear description.
If we change default value from `-1` to `1` [here](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/core.py#L528) it would not be possible to distinguish `1` was provided by user or by default settings. That's why I propose to keep `-1` value if `nthread is None` and call `XGDMatrixCreateFromMat_omp`  to preserve threading construction for  this c

[2021-03-23 14:46] AgingChan commented on #6767
https://github.paypal.com/SG-PPIL-RnD/xgboost/blob/bcc02773380fb840792bb662e24ffcf8bc367503/jvm-packages/create_jni.py#L81

Seems macOS is by design not using OpenMP.

[2021-03-23 14:48] AgingChan commented on #6767
Actually we are facing issues for jvm-packages on Linux hosts. Since we cannot install packages on our production boxes, we have to remove dependency on libgomp1

[2021-03-23 15:02] trivialfis commented on #6552
Okay, we keep it as -1.

Yes, that will be the cost per-thread.

So are you suggesting that we change this internally instead of changing it in the interface parameter?  If so then I fully agree. ;-)

Any chance your previous fix can be generalized to all row-major formats?

[2021-03-23 15:03] trivialfis commented on #6552
If your assessment is that's doable I would like to help (by contributing to your code branch and review etc).

[2021-03-23 15:40] trivialfis commented on #6552
For now I will put a temp fix by changing internal number of threads inside DMatrix.

[2021-03-23 15:43] ShvetsKS commented on #6552
I suppose so and try to generalize it.

[2021-03-23 15:45] trivialfis commented on #6552
I'm hoping to get a release candidate this week.  But we can still backport before final release, or use patch release, so no strict timeframe.

[2021-03-23 18:35] JohnZed commented on #6561
@pseudotensor are you able to use ROC-AUC instead with the current main? #6747 was just merged in, which should make that version work much better. AUCPR is still planned for an update, but it will take a fair amount of work too, so if ROC-AUC is usable as a workaround it may get you a solution faster.

[2021-03-24 00:40] trivialfis commented on #6773
1. Remove the `silent`, `n_gpus` parameters.
2. Depends on the size of the dataset.

Since when kaggle needs to verify phone number ...

[2021-03-24 07:21] trivialfis commented on #6723
Your data contains 0.  You need to do some per-processing to remove them.

[2021-03-25 00:02] qinglong1230 opened #6780 "[jvm-packages] SIGSEGV for predict function in XGBoost4J"
We are trying to run xgboost4j for model inference in a cascading job and encounter an error below. It looks very similar to
https://github.com/dmlc/xgboost/issues/3768

But there is no suggested fix for the issue. I tried both 0.90 and 0.82 and had the same problem below.

[code]

[2021-03-25 01:35] trivialfis commented on #6780
The current xgboost version is 1.3 and 1.4 is coming.  Please use them.  I believe the issue is fixed.

[2021-03-25 01:35] #6780 closed

[2021-03-25 01:58] #6753 closed

[2021-03-25 03:46] #6723 closed

[2021-03-25 09:10] xuye1989 opened #6782 "how can I get sparkxgb.zip from Official website not personalized blog/website/repo"
how can I get sparkxgb.zip from Official website not personalized blog/website/repo used in pyspark xgboost

[2021-03-25 10:24] #6782 closed

[2021-03-25 18:34] #6748 closed

[2021-03-26 00:44] trivialfis commented on #6552
Closed by https://github.com/dmlc/xgboost/pull/6779 .

[2021-03-26 10:27] Roffild opened #6786 "What label= should be for the regression model?"
[code]

xgboost.DMatrix(label=)
* `label : list, numpy 1-D array or cudf.DataFrame, optional
            Label of the training data.`
* `label=None`
`xgboost.core.XGBoostError: src/objective/regression_obj.cu:57: Check failed: preds.Size() == info.labels_.Size() (61872 vs. 0) :  labels are not correctly providedpreds.size=61872, label.size=0, Loss: binary:logistic`
* `label=mylbl` - OK

catboost.P

[2021-03-26 10:32] Roffild commented on #6786
https://github.com/dmlc/xgboost/issues/6786
https://github.com/catboost/catboost/issues/1623
https://github.com/microsoft/LightGBM/issues/4115

[2021-03-26 10:33] trivialfis commented on #6786
For training you need to pass labels, for prediction it's not needed.

What's your expectation?

[2021-03-26 10:39] Roffild commented on #6786
Used training.

[2021-03-26 10:52] trivialfis commented on #6786
## When is label required
Other than survival training which uses `label_upper_bound` and `label_lower_bound`, `label` is required for training.  It can be any data type supported by xgboost.

## What data type does xgboost accept

We don't have a complete document on supported data types yet so on the latest it's required to be "array like", but looking into https://github.com/dmlc/xgboost/blob/8

[2021-03-26 11:49] #6786 closed

[2021-03-26 11:50] trivialfis commented on #6786
Feel free to reopen if there's further question.

[2021-03-26 12:08] Roffild commented on #6786
I am iterating over the parameters. It's easier for me to set label. Algorithm-level error is preferred over global error.

In the description 1D array. But for regression there must be ND.

[2021-03-26 12:11] trivialfis commented on #6786
What do you mean by that?

[2021-03-26 17:09] hcho3 opened #6788 "Error when training model from Dask client"
https://discuss.xgboost.ai/t/cant-understand-this-error-when-training-model-from-the-client/2197

[2021-03-26 19:28] trivialfis commented on #6788
I have replied in there and need a reproducible example.  Most likely something went wrong with the distributed cluster so no result is returned.

[2021-03-26 20:04] trivialfis opened #6790 "Cost matrix optimization."
https://discuss.xgboost.ai/t/cost-matrix-optimization/2159/5

[2021-03-26 23:09] hcho3 opened #6791 "[CI] Upgrade to CentOS 7 image for building libxgboost.so"
As noted in #6467, CentOS 6 reached end-of-life on Nov 30, 2020 and thus will no longer receive security updates. We should upgrade the worker image to CentOS 7.

**What's the impact of this change?**
* Currently we distribute a pre-built binary wheel for the Linux platform which has `manylinux2010` tag. The tag will need to change to `manylinux2014`. Users will need to use Pip 19.3 or later.
* We

[2021-03-26 23:14] hcho3 commented on #6791
Will re-visit this after the 1.4.0 release.

[2021-03-27 06:15] HenryBao91 commented on #5915
I have a question about how to get these  all leaves’  weights from the model ？ I can't find any API to get this. Please help me.

[2021-03-29 01:58] hcho3 opened #6793 "1.4.0 Release Candidate"
Roadmap: #6500

We are about to release version 1.4.0 of XGBoost. In the next two weeks, we invite everyone to try out the release candidate (RC).

Feedback period: until the end of **April 10, 2021**. No new feature will be added to the release; only critical bug fixes will be added.

@dmlc/xgboost-committer

**Now available**

**Python package**. RC1 available on PyPI. Try it out with the comman

[2021-03-29 16:10] hcho3 commented on #6793
Deprecation:
* This release will be the last release to support 10.0.
* Starting next release, the Python package will require Pip 19.3+ due to the use of `manylinux2014` tag. Also, CentOS 6, RHEL 6 and other old distributions will not be supported.

[2021-03-30 00:17] 9849842 opened #6800 "Error when creating mapping large dataframe - started happening a few days ago."
Nothing has changed on my end so something must have been updated. I am using a AWS instance with 4x T4 GPUs.

All of the sudden I am getting this error when I try to create my DaskDeviceQuantileDMatrix:

[code]

Here is the error:
[code]

[2021-03-30 00:25] hcho3 opened #6801 "Clarify the behavior of `use_rmm` flag."

[2021-03-30 00:37] hcho3 opened #6802 "Change the default value for `HIDE_CXX_SYMBOLS`to ON"

[2021-03-30 00:58] hndrsrynt opened #6803 "[FEATURE] Asymmetric Shapley Values"
It would be great if TreeShap function below can support Asymmetric Shapley Values (ASV)

RegTree::TreeShap (xgboost/tree_model.cc), using causal relationship as inputs, the weights of features in TreeShap are adjusted.

ASV paper:
[Asymmetric Shapley Values](https://www.researchgate.net/publication/336577536_Asymmetric_Shapley_values_incorporating_causal_knowledge_into_model-agnostic_explainabili

[2021-03-30 02:59] liuyonglang opened #6806 "xgboost on spark version 0.9 got Exception (java.util.NoSuchElementException,key not found: train)"
FYI，when i use xgboost on spark 0.9 version to fit a model ,wo get this Exception(java.util.NoSuchElementException,key not found: train)。what condition can lead to the problem?  Thanks for your attention
follow is my paramters:

XGBoostSpark: Running XGBoost 0.90 with parameters:
alpha -> 0.29174557458107453
min_child_weight -> 2.7498486288961455
sample_type -> uniform
base_score -> 0.5
colsample_

[2021-03-30 03:42] trivialfis commented on #6800
[code]

That doesn't look like xgboost related?

[2021-03-30 03:45] trivialfis commented on #6806
Could you please provide a reproducible example?

[2021-03-30 06:08] liuyonglang commented on #6806
it is like this:
https://github.com/dmlc/xgboost/pull/4380#issuecomment-486047797.
but I dont found what the solution finally.

[2021-03-30 09:55] trivialfis commented on #6773
I ran the notebook with GPU and CPU.  With GTX 1080TI vs Ryzen 7 2700 the perf seems pretty good.

[2021-03-30 09:56] trivialfis commented on #6767
@Craigacp Interesting, would you like to open a PR for the customized error message?

[2021-03-30 09:57] #6702 closed

[2021-03-30 09:59] trivialfis commented on #6607
We have some fixes and tests for dart in 1.4rc.  Feel free to reopen if the issue persists.

[2021-03-30 09:59] #6607 closed

[2021-03-30 10:03] #6541 closed

[2021-03-30 10:06] trivialfis commented on #6447
Any chance you can normalize the value down to a smaller floating-point range?

[2021-03-30 12:10] Craigacp commented on #6767
Sure. This would be for after 1.4.0 right?

[2021-03-30 14:24] forrestneo opened #6812 "how to show feature importance in pyspark xgboost？"
i need to know ，the offical document doesnot have this content

[2021-03-30 14:28] trivialfis commented on #6812
I don't think xgboost has official support for Pyspark.

[2021-03-30 20:31] trivialfis commented on #6800
Feel free to reopen if the error is thrown after reaching to XGBoost.

I'm not sure how did you run the script, if it's inside a notebook then it's fine.  Otherwise you should wrap everything under `__name__ == "__main__` guard.

[2021-03-30 20:31] #6800 closed

[2021-03-30 20:32] trivialfis commented on #6280
@pseudotensor Could you please try the latest nsight system?  It can track memory usage.

[2021-03-30 20:33] #6812 closed

[2021-03-30 20:38] trivialfis commented on #6483
Looked into this, seems we need to balance the threads across folds.

[2021-03-31 07:43] #6801 closed

[2021-03-31 12:23] trivialfis opened #6816 "Speed up dask tests."
https://github.com/microsoft/LightGBM/pull/4088#issuecomment-810711965

[2021-04-01 13:06] trivialfis opened #6820 "DaskXGBClassifier doesn't support cupy backend."
Tracking issue https://github.com/dask/dask/issues/7482 .

Details:

The classifier needs to determine the number of classes, which is the number of unique values in labels assuming it's already encoded.

[2021-04-01 19:38] trivialfis commented on #6621
Closing in favor of https://github.com/dmlc/xgboost/issues/6632 .

[2021-04-01 19:38] #6621 closed

[2021-04-02 13:18] Craigacp commented on #6793
Is there an RC of XGBoost4J I can check out? Also will the 1.4.0 release include Windows binaries for XGBoost4J or is that going to be in a later release?

[2021-04-02 18:16] trivialfis commented on #6793
cc @hcho3

[2021-04-02 18:18] hcho3 commented on #6793
Yes.

I updated the post to show instructions for downloading RC1.

[2021-04-02 20:30] Craigacp commented on #6793
Awesome.

Thanks. I tested it out and all the tests I have in Tribuo pass, though those are mostly functional rather than measuring runtime or statistical performance.

[2021-04-02 22:54] ayushdg opened #6822 "[Bug] DeviceQuantileDmatrix failing with memory errors on A100-80GB"
On large datasets, DeviceQuantileDMatrix fails with memory errors that look like some kind of overflow/ptr bug.

Reproducer:
[code]

The following scripts succeeds on a `V100-32GB` and `A100-40GB` but fails on `A100-80GB`

Stacktrace:
[code]

**Additional Info**

The requested memory value `- Requested memory: 18446744073675998463` from the stack trace is extremely close to the unsigned int64 limi

[2021-04-02 23:58] hcho3 commented on #6822
@ayushdg How did you install XGBoost? Did you build it from the source?

[2021-04-03 07:44] trivialfis commented on #6822
Hmm .. somewhere inside thrust.  Suspecting the `thrust::sort`.

[2021-04-03 09:44] trivialfis commented on #6822
I just ran it with master branch on rtx8000, it works fine?  What's your XGBoost version?

[2021-04-03 22:53] #6704 closed

[2021-04-04 08:02] ayushdg commented on #6822
This is the one shipped with the rapids nightly containers: `xgboost 1.3.3dev.rapidsai0.19`

I tested on v100, and a100 40gb and it worked fine on those gpu's as well. Was failing specifically on the a100 80gb (though it has more memory). Not sure why.

[2021-04-05 09:21] trivialfis commented on #6822
@ayushdg Thanks for sharing.  I will test it on A100.

[2021-04-05 09:58] trivialfis commented on #6706
@adamjstewart Hi sorry for the late reply.  I'm trying out spack.  Out of curiosity, for dynamic languages like Python (and any others) that lack of the ability for encoding module paths, is there a general solution for package managers instead of patching libraries one by one?

[2021-04-05 10:00] trivialfis commented on #6706
If not, is there a general pattern that package developers should use?

[2021-04-05 16:00] forrestneo commented on #6812
i get a method

import re
str1 = FeatureScoreMap = preModel.nativeBooster.getScore("","gain")
file_path ="./importance.csv"
file  = open(file_path,"w+")
print(str1,file = file)
file.close()
f1 = open(file_path)
line = f1.readline()
data=line.replace(',','\n').replace('->',',').replace('Map(','').replace(')','').replace('f','')
file  = open(file_path,"w+")
print(data,file = file)
file.close()
data

[2021-04-06 00:52] #6715 closed

[2021-04-06 01:15] wbo4958 commented on #6806
@liuyonglang Can you try the latest xgboost release and see if the issue is still there, if yes, pls provide your reproducible sample. thx

[2021-04-06 02:34] #6822 closed

[2021-04-06 02:49] adamjstewart commented on #6706
For dynamic languages like Python, it's kind of a nightmare. Spack makes heavy use of RPATH because it allows users to install multiple versions of the same library, and you don't want to have the wrong version of a dependency in your `LD_LIBRARY_PATH` because it can break ABI compatibility. Since Python does not support RPATH, we have [a few hacks in place](https://github.com/spack/spack/pull/211

[2021-04-06 05:16] hcho3 commented on #6654
Hello everyone, we invite you try out the pre-built R package binary with GPU support.

Prerequisite:
* CUDA Runtime 10.0 or later
* R 3.3.0 or later
* Linux 64-bit only, for now

1. Download the tarball from https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/PR-6827/xgboost_r_gpu_linux_8b120fc6ff8d5eae92a584b9f64ad04787de134c.tar.gz
2. If not installed already, install the dependencies for

[2021-04-06 11:36] jaredlander commented on #6654
This is awesome! Can't wait to try this. Also going to build it into my training material.

[2021-04-06 20:58] hcho3 commented on #6654
@jaredlander If nothing breaks in the next few days, I plan to release the pre-built binary in the upcoming 1.4.0 release.

[2021-04-06 21:03] jaredlander commented on #6654
Very excited for this.

[2021-04-08 04:15] #6654 closed

[2021-04-08 06:48] liuyonglang commented on #6806
Thanks for you reply. Because I use spark 2.4.3, so I cannot change to the latest xgboost release. But when I dont set the parameter (num_workers) ,this problem disappear.

[2021-04-08 06:51] liuyonglang commented on #6806
So, I gusses there are some confict between xgbbost's num_workers and spark's executor or something else.

[2021-04-08 21:15] 100ravSingh opened #6837 "WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.0.0\src\learner.cc:328: Parameters: { n_estimators } might not be used. This may not be accurate due to some parameters are only used in language bindings but passed down to XGBoost core. Or some parameters are not used but slip through this verification. Please open an issue if you find above cases."
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2021-04-08 22:20] #6837 closed

[2021-04-08 22:21] hcho3 commented on #6837
Closing this, as it lacks the description of what went wrong.

[2021-04-09 01:02] trivialfis commented on #6837
The parameter is only used in sklearn interface, on native interface see the document of `train` method.

[2021-04-09 19:32] rinisin13 opened #6838 "We are taking baby steps to migrate from xgboost 0.72 to 0.90 version . please help us in resolving below queries: 1) Would there be any challenge if I run grid search on 0.90 version and do training with those tuned hyper parameter on 0.72 version? 2) Is there any way to know at which nth round the early stopping feature stopped in 0.90 version for regression and classification cross validation?"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2021-04-09 19:52] bhavana3 opened #6839 "Release changes for the ability to send enable_categorical to DaskDMatrix"
I am trying to use xgboost-dask 1.3.3 version and see that the enable_categorical feature support is not enable while making the call to xgb.dask.DaskDMatrix. I also identified changes are made to master and merged. As the release version wouldn't support this and blocks users, I wanted to understand when the release of these changes are planned?

[2021-04-09 19:58] trivialfis commented on #6839
Category data support is not in distributed training yet.  As documented this parameter is experimental.  See https://github.com/dmlc/xgboost/issues/6503 for progress.

In 1.4 (about to be released), the parameter is available in Dask DMatrix, but setting it to true will raise an error.

[2021-04-09 20:02] trivialfis commented on #6838
Please directly migrate to 1.3 or 1.4(about to be released).

But to answer your questions:
1. Should be fine.
2. There's an attribute called best_iteration.

[2021-04-09 20:29] bhavana3 commented on #6839
Thank you. Are the only supported dtypes are - int, float, bool for distributed training?

[2021-04-09 22:00] trivialfis commented on #6839
Yup.  But basic support for distributed training should come soon.  Stay tuned.

[2021-04-09 22:00] #6839 closed

[2021-04-09 22:00] #6838 closed

[2021-04-10 22:23] trivialfis commented on #6793
Draft for release note is here: https://github.com/dmlc/xgboost/pull/6841 .

[2021-04-11 00:20] hcho3 commented on #6793
I will now make the final release and add the `v1.4.0` tag. Thanks!

[2021-04-11 01:02] wbo4958 commented on #6806
@liuyonglang  there is an empty dataset in your partition, which didn't be handled very well. It is supposed to throw an exception.

[2021-04-11 20:50] rinisin13 commented on #6838
@trivialfis : Thanks for answering this. We are still with spark 2.3.1 version.
Is there any backward compatibility support, If we want to migrate 1.3/1.4 version?

[2021-04-12 12:30] trivialfis commented on #6838
1. Yes, you can load old models from the new version, but not the other way around.
2. I don't know.  @wbo4958 may have better insight.

[2021-04-12 15:25] zyq11223 opened #6844 "load xgboost source code"
Could you share how to load the xgboost source code with vscode ? I wanna improve my coding style, and participate in to contribute to the source code

[2021-04-12 18:20] trivialfis commented on #6793
@CodingCat @hetong007 @hcho3 Hi I believe we can start submitting 1.4 to maven/cran/pip now.

[2021-04-12 18:34] hcho3 commented on #6793
I just submitted XGBoost 1.4.0 to PyPI.

[2021-04-12 18:36] trivialfis commented on #6793
@hcho3 Thanks!  I was just starting to check out the wheels from CI

[2021-04-12 18:39] hcho3 commented on #6654
Hello everyone, we just release the 1.4.0 release. See the top of https://xgboost.readthedocs.io/en/latest/build.html for instructions to install XGBoost from the pre-built binary package. You can find the file `xgboost_r_gpu_linux_1.4.0.tar.gz`
(74.3 MB) from the [Releases](https://github.com/dmlc/xgboost/releases/tag/v1.4.0) page.

[2021-04-12 18:40] #6500 closed

[2021-04-12 18:40] trivialfis commented on #6500
1.4 is out, submit status will be on https://github.com/dmlc/xgboost/issues/6793 .

[2021-04-12 18:43] trivialfis opened #6846 "[Roadmap] 1.5.0 Roadmap"
@dmlc/xgboost-committer Please add your items here by editing this post. Let's ensure that

* Each item has to be associated with a ticket
* Major design/refactoring are associated with a RFC before committing the code
* Blocking issue must be marked as blocking
* Breaking change must be marked as breaking

For other contributors who have no permission to edit the post, please comment here about w

[2021-04-12 18:46] trivialfis commented on #6844
Just like loading any other project?

[2021-04-12 21:23] 9849842 opened #6847 "Getting out of memory error on GPU, but GPU's are only half full."
While training on multiple GPU's I encounter an out of memory error, but when checking nvidia-smi output, the GPU's are less than half full.

Here is the error:
[code]

And the GPU memory:

[code]

Code to reproduce:

[code]

This is using dask and distributed versions 2021.3.0 and xgboost version 1.3.3, on an AWS P2.8xLarge instance.

[2021-04-13 00:53] wbo4958 commented on #6724
Since the PR merged, better to close this issue. @trivialfis

[2021-04-13 00:57] #6724 closed

[2021-04-13 01:59] hetong007 commented on #6793
Seems the `release_1.4.0` tag fails on win-builder: https://win-builder.r-project.org/6EiRDtHXdu43/00install.out

[2021-04-13 02:06] trivialfis commented on #6793
Hmm, something is changed in dmlc core ..

[2021-04-13 02:06] trivialfis commented on #6793
I will try that on R hub.

[2021-04-13 02:43] wbo4958 commented on #6838
Yeah, the jvm maintainer decided not to support backward from 1.0 release. I don't know, if there are many users who still work on spark 2.4, I can make xgboost backward compatibility.

[2021-04-13 02:48] CodingCat commented on #6838
Spark 2.4 is releasing the last version in few weeks and then EOL..not
seeing keep investing a dying version is efficient

On Mon, Apr 12, 2021 at 7:44 PM Bobby Wang ***@***.***> wrote:

[2021-04-13 15:18] zyq11223 commented on #6844
Missing Headers...

[2021-04-13 15:24] zyq11223 commented on #6844
include/xgboost/base.h
has problems:
    identifier "constexpr" is undefined,
    expected a ';'

[2021-04-13 15:46] zyq11223 commented on #6844
solved by change c++ standard to c++11

[2021-04-13 17:12] trivialfis commented on #6793
Building on release: https://builder.r-hub.io/status/xgboost_1.4.0.1.tar.gz-15c2d55160be5ecc324a6e209d34aea1
Failing on oldrel due to c++ requirement: https://builder.r-hub.io/status/xgboost_1.4.0.1.tar.gz-95a76e407d42fb216c2a8fa5455b0f80
But failing on dmlc core: https://ci.appveyor.com/project/tqchen/dmlc-core/builds/38684309/job/bw9dcj6rww3rg7o1

[2021-04-13 18:50] KevinJChalifoux opened #6850 "Multiclass Training - WARNING: amalgamation/../src/learner.cc:541"
Hi,

I've been using this package for over a year now and I really like it. Earlier in the year, I made an update and everything still worked fine until the following update I made about a week ago. Calling the "train_model" function below, on the features (data) and errors given in the files at the end of this message, makes it unable to make predictions (using the function stats::predict below)

[2021-04-13 19:26] geetikasharma3119 commented on #6139
Hi @hcho3
I am trying to use xgboost's dask functionality with the survival AFT model with little success. Could you please point me to a toy example that demonstrates how to use dask for the AFT survival model?

[2021-04-13 19:41] freddyaboulton opened #6851 "Add support for pandas nullable types in feature matrix"
I would like to use [pandas nullable types](https://pandas.pydata.org/docs/user_guide/integer_na.html) with xgboost. Currently, xgboost will raise a ValueError if any of the features use the new nullable pandas types.

Repro with xgb `1.2.1` and pandas `1.2.3`:

[code]

As a user, I would like this feature so I can build a data processing pipeline using the latest pandas capabilities.

Thank you!

[2021-04-13 20:11] ReeceGoding opened #6852 "Remove magrittr dependency in the R documentation for cb.gblinear.history"
The documentation for `cb.gblinear.history`, generated [here](https://github.com/dmlc/xgboost/blob/master/R-package/R/callbacks.R), has a dependency on magrittr. While this is not a particular obscure library, it seems strange that we assume familiarity with it. Furthermore, the six calls to the library that I've found in the documentation all appear to be trivial. If I'm not mistaken, they're all

[2021-04-13 20:11] trivialfis commented on #6139
@geetikasharma3119 Could you please open an issue and share the difficulty that you have?

[2021-04-13 20:12] hcho3 commented on #6852
Thanks! We'll make sure to review your pull request.

[2021-04-13 20:13] trivialfis commented on #6850
Thanks for opening an issue, the `silent` parameter is replaced by `verbosity`.  Setting it to 0 means `silent`.

[2021-04-13 20:38] hcho3 commented on #6139
@geetikasharma3119 I opened #6853 to add a demo for fitting AFT survival model with Dask.

[2021-04-13 20:52] hcho3 commented on #6793
@trivialfis I pushed a commit to https://github.com/dmlc/dmlc-core/pull/647 fix the build for MSVC.

[2021-04-13 21:38] hcho3 commented on #6793
@CodingCat This time, let's include the Windows binary `xgboost4j.dll`. You can locate it at https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/list.html?prefix=release_1.4.0/

[2021-04-13 22:37] trivialfis commented on #6851
Took a quick look.  I think a better way is to work on https://github.com/dmlc/xgboost/pull/5667 so that we can have masked arrays.

[2021-04-13 22:38] trivialfis commented on #6844
Can you run `cmake` ?

[2021-04-13 22:39] trivialfis commented on #6844
For general c++ projects, you may want to take a look into language server protocol: https://microsoft.github.io/language-server-protocol/

[2021-04-13 22:39] #6844 closed

[2021-04-14 00:30] trivialfis commented on #6847
We are trying to get better data batching inside XGBoost.  Hopefully we can find a way to mitigate this.

[2021-04-14 12:04] Abhinavfreecodecamp opened #6859 "Json saved model fails to reproduce results"
Hi Team,

I have worked with xgb classifier for past 2-3 years and since then my goto save and load model mechanism was pickle, recently I upgraded my xgb to 1.3.3 and since xgb recommended way to save and reload model is through JSON mechanism, I tried this and it failed miserably, I have mentioned below results of some experiments and their results.

The following table contains probability buck

[2021-04-14 12:24] trivialfis commented on #6859
Could you please share a reproducible script?

[2021-04-14 12:35] trivialfis commented on #6859
It would be great to have at least the set of parameters that you are using.

[2021-04-14 12:47] trivialfis commented on #6859
The issue you are describing is quite serious.   I tried to reproduce it with `sklearn.datasets.fetch_covtype` on 1.3 but counldn't observe the difference.

[2021-04-14 13:08] trivialfis commented on #6859
Also, could you please try 1.4 if you have early stopping enabled?  I suspect the difference comes from `best_iteration` not being restored after loading the model.  Before 1.4, users need to call `booster.attr` for getting those attributes back.  After 1.4 they are loaded automatically.

[2021-04-14 13:10] Abhinavfreecodecamp commented on #6859
@trivialfis

model.save_model('models/xgb_cl11.json') # saving model script

model = xgb.XGBClassifier() # loading model
model.load_model("models/xgb_cl11.json")

predictions_with_treatment = model.predict_proba(data)

[2021-04-14 13:15] trivialfis commented on #6859
I'm doing something similar.  I will share my script a bit later, currently on phone.  See if you can tweet it into reproducing the issue.

[2021-04-14 13:16] Abhinavfreecodecamp commented on #6859
@trivialfis

I am getting these same numbers multiple times so yes I can reproduce this issue.

[2021-04-14 14:22] trivialfis commented on #6859
@Abhinavfreecodecamp Thanks for sharing.  Could you try this with `X, y` replaced with own data:

[code]

[2021-04-14 14:31] freddyaboulton commented on #6851
Thanks for taking a look @trivialfis ! So a feature matrix with pandas nullable types will be converted to a masked array? What's the status of #5667 ?

[2021-04-14 16:21] Abhinavfreecodecamp commented on #6859
@trivialfis it worked fine without any error but I was able to produce this error.

[2021-04-14 16:39] trivialfis commented on #6859
Hmm ..  if you want me to debug further I will have to get access to your code.  I can't guess what's happening.

[2021-04-14 16:54] Abhinavfreecodecamp commented on #6859
@trivialfis I am not at liberty to share code as it is proprietary, I am sharing model object.

xgb_cl11_treatment = xgb.XGBClassifier(silent=False,
                learning_rate=0.1,
                 n_jobs=40,
                 n_estimators=600,
                 random_state=7,
                 max_depth=10,
                 eval_metric='binary:logistic',
                 objective = 'binary:logi

[2021-04-14 21:01] trivialfis commented on #6851
That's what I'm hoping and I suspect that's how it's implemented for nullable arrays.

I assigned myself to work on it based on the existing work by @zhangzhang10 .  But arrow can trunk the data in an arbitrary way so it's a bit messy, I will try to follow up.

[2021-04-14 21:49] trivialfis commented on #6859
@Abhinavfreecodecamp Got it.  Could you please be more specific on your previous comments:

So currently you can't reproduce it with your code, or with my code, or neither of them can be used to reproduce.

If you can't reproduce it with my code and your code still shows the error, then I suspect it's the `early_stopping_rounds`.  Could you please try 1.4 as suggested in https://github.com/dmlc/xg

[2021-04-15 06:40] miguellacerda opened #6861 "Can labels in an LTR xgboost model be negative?"
What are the requirements for the labels/ranks in a learning-to-rank xgboost model? In particular, can the labels be negative? E.g. Is [-2, -1, 0, 1, 2] a permitted set of labels in xgboost?

[2021-04-15 08:31] Abhinavfreecodecamp commented on #6859
@trivialfis It Worked fine with 1.4 and got the same numbers with 1.3 with booster.attr Thank you so much :)

[2021-04-15 10:41] trivialfis commented on #6861
No.  Please transform them into positive numbers.

[2021-04-15 10:41] #6861 closed

[2021-04-15 10:42] trivialfis commented on #6859
No problem.  Thanks for raising the issue, it will help others who search for similar problems.

[2021-04-15 10:42] #6859 closed

[2021-04-15 10:45] trivialfis commented on #6852
Closed by #6855

[2021-04-15 10:45] #6852 closed

[2021-04-15 11:56] trivialfis commented on #6793
@hetong007 Hi have you seen errors like this:

https://github.com/dmlc/xgboost/pull/6862/checks?check_run_id=2352185232

This pops up recently, googling returns lots cran check results that look similar but I can't find a concrete solution.

[2021-04-15 13:14] hetong007 commented on #6793
Hmm, this looks new to me. May I ask:

1. Do we have this error before?
2. Do we indeed have pandoc (>= 1.12.3) configured on the CI server?
3. Based on the error messages below, seems we could also try adding `markdown` into the `Suggest` field of `R-package/DESCRIPTION`, could we try it?

[2021-04-15 13:16] hetong007 commented on #6793
I read the related issue https://github.com/yihui/knitr/issues/1864 and some other records referenced this one, probably that `markdown` into `Suggest` trick is the fix.

[2021-04-15 13:21] trivialfis commented on #6793
Thanks for the reply.

No, this should be new within a week.

I need to check since it works fine before (and still works fine on r-hub).  Maybe it's the rmarkdown updating dependency requirements?

Yes.  Then we will have both rmarkdown and markdown as suggested dependencies so I'm not entirely sure.  But I will try that too.

[2021-04-15 13:27] trivialfis commented on #6793
Pushed to install pandoc: https://github.com/dmlc/xgboost/pull/6862  Let's see how it works. ;-)

[2021-04-15 13:40] trivialfis commented on #6850
Could you please share you `error_softmax_obj`?

[2021-04-15 13:56] trivialfis commented on #6793
@CodingCat Hi, if you prefer we @hcho3 can probably help to share some responsibility on uploading/managing the maven artifacts.  @hcho3  has worked on lots of build automation

[2021-04-15 16:04] trivialfis commented on #6793
@hetong007 I got it working by installing pandoc on github action. https://github.com/dmlc/xgboost/pull/6862 .

[2021-04-15 18:05] btong04 opened #6865 "[BUG] xgb.cv() auc metric computation in v1.4.0 release with tree_method='gpu_hist' broken"
Tested xgb.cv() method against various scoring metrics on both CPU and GPU for classification models. Using xgboost version 1.4.0 release from pip produced unexpected results with metric='auc'. Other metrics such as ['aucpr', 'logloss', 'map'] appears to be consistent.
![xgb_1 4 0_release_auc_issues](https://user-images.githubusercontent.com/23238612/114915422-893baa00-9df1-11eb-8d06-f576a0664baa.

[2021-04-15 22:07] trivialfis commented on #6865
The `cub::DeviceRadixSort` is not stable.

[2021-04-15 22:22] hcho3 commented on #6865
@trivialfis According to https://groups.google.com/g/cub-users/c/1iXn3sVMEuA, the CUB's radix sort is stable.

[2021-04-15 22:34] trivialfis commented on #6865
For binary case (this issue), the result is different between runs, I narrowed it down the the `Argsort`.  If radix sort is stable, then my guess is somewhere it uses floating point which generates instability.

[2021-04-16 00:19] trivialfis opened #6867 "[Roadmap] 1.4.1 Patch release"
This will be a bug fix release after 1.4.  Please comment if you think there are commits that should be backported.
@dmlc/xgboost-committer

PRs to be backported:

- [x] https://github.com/dmlc/xgboost/pull/6866

TODOs:
- [x] Bump version. (https://github.com/dmlc/xgboost/pull/6874) .
- [x] github release.
- [x] Source tar ball.
- [x] pip release.
- [x] CRAN release. https://github.com/dmlc/xgboos

[2021-04-16 01:01] trivialfis commented on #6793
It's probably a good idea to skip 1.4 for R and JVM and use 1.4.1

[2021-04-16 01:17] Craigacp commented on #6793
What's wrong with the JVM 1.4.0?

[2021-04-16 01:39] liuyonglang commented on #6806
yeah, I got it.thanks very well.

[2021-04-16 02:10] trivialfis commented on #6793
If you don't use GPU then nothing.

[2021-04-16 02:10] trivialfis commented on #6793
https://github.com/dmlc/xgboost/pull/6866

[2021-04-16 02:47] Craigacp commented on #6793
Ok. Is 1.4.0 still going to be pushed to Maven Central, or is that going to be skipped in favour of 1.4.1?

[2021-04-16 13:05] #6865 closed

[2021-04-17 06:54] tirkarthi opened #6871 "threading.Thread.setDaemon has been deprecated in favor of setting daemon attribute directly in Python 3.10"
Ref : python/cpython#25174

https://github.com/dmlc/xgboost/blob/7bc56fa0eda6984197152ed4aa98d2fc9e9e8cc8/python-package/xgboost/tracker.py#L352

[2021-04-18 21:30] CodingCat commented on #6793
Hi, @trivialfis , is the fix for 1.4.1 a regression?

[2021-04-19 13:55] trivialfis opened #6873 "Document and demo for refresh updater."
See discussion in https://gist.github.com/ylogx/53fef94cc61d6a3e9b3eb900482f41e0 .

[2021-04-19 13:57] trivialfis commented on #6793
Yes, it's a regression.  I will make a patch rel today.

[2021-04-19 18:31] KevinJChalifoux commented on #6850
Hi.

Here is the error_softmax_obj function I used, inspired by the FFORMA model used in the M4 competition.

# Softmax Transformation
softmax_transform <- function(x) {
  exp(x) / sum(exp(x))
}

# Error Softmax Function
error_softmax_obj <- function(preds, dtrain) {
  labels <- xgboost::getinfo(dtrain, "label")
  errors <- attr(dtrain, "errors")

  nb_fcters <- ncol(errors)
  nb_series <- nrow(er

[2021-04-19 22:56] wbo4958 commented on #6806
PR merged. @liuyonglang Could you pls close this issue?

[2021-04-20 00:57] trivialfis commented on #6806
@wbo4958 Thanks for the fix!

[2021-04-20 00:57] #6806 closed

[2021-04-20 15:54] gravesee opened #6878 "Preven xgboost from splitting only on missing values"
The xgboost documentation and papers that discuss how it works hints strongly that missing values are sent down the left or right branch _along with_ non-missing records. However, it is clear from the histogram splits that there are many cases where xgboost will send all of the missing data down one branch and the non-missing data down the other.

In our testing this has caused problems for monoto

[2021-04-20 20:18] yurivict opened #6879 "[Python binding] --use-system-libxgboost isn't respected by the build"
```--use-system-libxgboost``` in the install args:
[code]
isn't respected and the line in ```python-package/setup.py```

is evaluated to false.

FreeBSD 12,2

[2021-04-20 20:28] yurivict opened #6880 "libxgboost.so is added to plist when --use-system-libxgboost is set"
The option ```--record /usr/ports/misc/py-xgboost/work-py37/.PLIST.pymodtmp``` adds ```lib/python3.7/site-packages/libxgboost.so``` to the list of installed files.

[code]

[2021-04-20 20:39] yurivict opened #6881 "Tests fail without CUDA"
[code]

How to test without CUDA?

[2021-04-20 20:51] hcho3 commented on #6881
You should ignore all tests under the diretory `tests/python-gpu`, as they depend on the existence of CUDA.

[2021-04-20 20:59] #6881 closed

[2021-04-20 21:09] yurivict opened #6882 "import file mismatch: imported module 'test_basic' has this __file__ attribute:"
Test fails:
[code]

[2021-04-21 02:41] hcho3 commented on #6882
To run the tests, run:
[code]

[2021-04-21 07:40] hetong007 commented on #6793
I checked out `v1.4.1` and updated the submodules.

From the win-builder pre-check results, I have got this warning from the current R-current [1] and R-devel [2]:

[code]

[1] https://win-builder.r-project.org/9ist6LqnSY1f/00check.log
[2] https://win-builder.r-project.org/1CKtxuSKi640/00check.log

[2021-04-21 09:31] liuyonglang commented on #6806
OK, thanks for you propse.

[2021-04-21 17:15] Stochastic13 opened #6885 "Error in cox-regression while evaluating"
I am using XGBoost version 1.3.3 on Windows with Python 3.6.8. On attempting to do training with objective set to `survival:cox`, I repeatedly get this error.

    Traceback (most recent call last):
      File "xgboost_survival_cv.py", line 94, in <module>
        evals=[(data_m, 'train'), (data_v, 'eval')])
      File "C:\Program Files\Python36\lib\site-packages\xgboost\training.py", line 235, in

[2021-04-21 17:23] hcho3 commented on #6885
Are you able to post your data and training script? That will help us further diagnose this problem.

[2021-04-21 17:38] hcho3 commented on #6793
FYI, @trivialfis and I have gained deployer access to the Maven Central repository (https://issues.sonatype.org/browse/OSSRH-67724). We will publish the 1.4.1 version to Maven Central once all pending issues are resolved.

[2021-04-21 17:57] #6871 closed

[2021-04-21 18:19] trivialfis commented on #6879
This might be a bug in setup tools.

[2021-04-21 18:21] trivialfis commented on #6878
Right now I don't think it's possible at the moment.  Could you please share the script you are running and some pseudo data that can demonstrate the issue?

[2021-04-21 18:35] gravesee commented on #6878
In my small example below, all of the 1s in the y array are missing in the x array. This seems to have the effect of splitting on missing versus not missing. I think the desired output would be to use the non-missing values only for determining the split (subject to other constraints) and then sending the missing data down the left or right branch based on gain.

[code]

[2021-04-21 18:52] trivialfis commented on #6878
Note to myself:
- https://github.com/dmlc/xgboost/issues/2914
- https://github.com/dmlc/xgboost/pull/6666

[2021-04-21 19:04] Stochastic13 commented on #6885
I can post the main part of training script and the output. There is a large section of preprocessing and setting up the CV that I am skipping. Also the parameters are just so as to get the error quickly.

        data_m = xg.DMatrix(xsub_train, label=y_coded_train, weight=[imbalance if i == 1 else 1 for i in ysub_train])
        data_v = xg.DMatrix(xsub_test, label=y_coded_test, weight=[imbalance

[2021-04-21 19:06] hcho3 commented on #6885
@Stochastic13 Can you post the data after the pre-processing step? If we cannot run the program ourselves, it's hard for us developers to find the cause of the error.

[2021-04-21 19:45] Stochastic13 commented on #6885
@hcho3 I understand. The data is confidential unfortunately.
Here's a reproducible example I recreated with random data:

[code]

And the Output:

[code]

[2021-04-21 20:40] jacobgqc opened #6888 "xgboost 1.4.0+: ValueError: If using all scalar values, you must pass an index"
Using xgboost 1.4.0 or 1.4.1, we are now getting an error:
ValueError: If using all scalar values, you must pass an index

No error with 1.3.3

All releases after 1.3.3, we're receiving a ValueError upon XGBSEBootstrapEstimator.fit() call.
Tested in Python 3.7.2 and 3.8.6

Trace:

	C:\Users\jacob\Envs\xgbse_gqc_38\lib\site-packages\xgboost\core.py:101: UserWarning: ntree_limit is deprecated, use i

[2021-04-21 20:47] hcho3 commented on #6888
The error is coming from Pandas?

[2021-04-21 20:48] hcho3 commented on #6888
Please bring this issue to https://github.com/loft-br/xgboost-survival-embeddings

[2021-04-21 20:54] trivialfis commented on #6888
Sorry, just to get some extra safety.  Could you please share your script and possibly some data?  I saw the line:

So I assume something is changed from output of xgboost.  I need to make sure that isn't the case.

[2021-04-21 21:00] trivialfis commented on #6888
Okay, I saw that you can't share your data.  Will try other routes.

[2021-04-21 21:18] trivialfis commented on #6888
Reproduced.  The shape of the output leaf is changed from `(n_samples, )` to `(n_samples, 1)`.  They should be exactly the same, not sure why pandas is picky about this.

[2021-04-21 21:32] trivialfis commented on #6888
Tracking issue: https://github.com/loft-br/xgboost-survival-embeddings/issues/31 .

[2021-04-21 22:51] chenrui333 opened #6890 "xgboost 1.4.1 osx build failure on Mojave"
👋 trying to build the latest release, but run into some build issue. The error log is as below:

<details>
<summary>build failure on 10.14</summary>

[code]

</details>

Full build log is in here, https://github.com/Homebrew/homebrew-core/runs/2388620981
relates to https://github.com/Homebrew/homebrew-core/pull/75561

[2021-04-21 23:01] hcho3 commented on #6890
It appears that the problem is specific to Apple Clang 11. The build is successful with Apple Clang 10 + MacOS Mojave: https://travis-ci.org/github/dmlc/xgboost/jobs/767905619

[2021-04-22 04:36] Stochastic13 commented on #6885
@hcho3 I can also try with similar random datasets with different censoring extents, if that sounds like something that helps narrow down the problem. I was just worried if I had made some mistake in running the training.

[2021-04-22 09:43] hetong007 commented on #6793
R 1.4.1.1 is on its way to CRAN now. Thanks for the help @trivialfis !

[2021-04-22 10:41] Machine-Tom opened #6892 "How to Avoid Overfitting by Applying Early-stop on Dev Set?"
As the title says, how can I apply early-stop strategy on dev-set rather than train-set when training?

[2021-04-22 11:06] candalfigomoro opened #6893 "[XGBoost4J-Spark] Early stopping and best iteration"
This has been asked before (e.g https://github.com/dmlc/xgboost/issues/3140#issuecomment-369417119) but no answer was ever given.

In XGBoost4J-Spark we can use early stopping by using `setNumEarlyStoppingRounds`.

1. When I call `transform()`, does it use by default the best iteration (the best number of trees) or the best iteration + `num_early_stopping_rounds`?
2. If it uses the best iteration

[2021-04-22 11:38] wbo4958 opened #6894 "the model trained by same datasets created by same file seems not be the same."
1. data file: a.csv
2. parameters: PARAM
2. create dmatrix1 from **a.csv** by XGDeviceQuantileDMatrixCreateFromCallback
3. create dmatrix2 from **a.csv** by XGDMatrixCreateFromArrayInterfaceColumns
4. model1 = train(dmatrix1,  PARAM)
5. model2 = train(dmatrix2. PARAM)
6. predict1 = predict(dmatrix2)
7. predict2 = predict(dmatrix2)

but predict1 != predict2, we expect predict1==predict2.

The issue

[2021-04-22 13:28] trivialfis commented on #6892
Which language binding are you using?

[2021-04-22 13:40] trivialfis commented on #6894
I couldn't reproduce:

[code]

[2021-04-22 13:51] trivialfis commented on #6793
@hetong007 Awesome!  Thanks for managing the release.

[2021-04-22 19:25] trivialfis commented on #6893
@wbo4958 probably has some insight.

[2021-04-22 19:29] trivialfis commented on #6885
Weird that the nloglik increases.

[2021-04-22 23:00] KevinJChalifoux commented on #6850
When I replace silent = 1 by verbosity = 0, I obtain the following error calling the xgboost function, for the same data:

Error in xgb.get.DMatrix(data, label, missing, weight) :
  xgboost: invalid input data
In addition: Warning message:
In xgb.get.DMatrix(data, label, missing, weight) :
  xgboost: label will be ignored.

[2021-04-23 01:17] david-cortes opened #6896 "R: models can get de-serialized redundantly multiple times"
In the R version, the booster model objects store the underlying C++ objects as raw bytes plus a pointer to an in-memory object.

When one de-serializes a booster object (e.g. by restarting the R session or through `saveRDS` and `readRDS`), the pointer then becomes null, and when the time comes to use the C++ object, the object gets reconstructed from the raw bytes.

However, the pointer does not

[2021-04-23 01:36] hcho3 commented on #6896
You can call `.complete()` method in order to amortize the cost of deserialization: https://www.rdocumentation.org/packages/xgboost/versions/1.4.1.1/topics/xgb.Booster.complete

Example:
[code]

[2021-04-23 01:36] #6896 closed

[2021-04-23 01:38] #6882 closed

[2021-04-23 01:38] david-cortes commented on #6896
I realize it's possible, but would still be more handy to update the booster object in-place instead. Would you accept such a PR, or is there something that would break if the pointer were to be updated in-place?

[2021-04-23 01:42] ericvoots opened #6897 "Using 'sample_weight_eval_set' - AssertionError assert len(sample_weight_eval_set) == len(eval_set) - Lengths are equal"
Hi,

I am getting the following error when using sample weights for the eval_set

"File "/usr/local/lib/python3.8/dist-packages/xgboost/sklearn.py", line 903, in fit
    train_dmatrix, evals = self._wrap_evaluation_matrices(
  File "/usr/local/lib/python3.8/dist-packages/xgboost/sklearn.py", line 259, in _wrap_evaluation_matrices
    assert len(sample_weight_eval_set) == len(eval_set)
AssertionErr

[2021-04-23 01:47] colinfang opened #6898 "DMatrix with multiprocessing deadlock"
v1.4 on linux

[code]

This hangs. Is this a known issue or am I doing it wrong?

[2021-04-23 01:51] colinfang opened #6899 "GPU initialization error on multiprocessing"
v1.3.3 on linux

[code]

This shows

[code]

[2021-04-23 03:12] trivialfis commented on #6897
Hi, please pass them as lists:

[code]

[2021-04-23 03:12] #6897 closed

[2021-04-23 03:15] trivialfis commented on #6896
@david-cortes I'm not sure, but if you have some code you can try running the tests.  PRs are welcomed.  Feel free to ping me if you need any help.

[2021-04-23 03:17] trivialfis commented on #6898
This is known.  It's a bug somewhere inside openmp runtime.  A similar issue is here: https://github.com/dmlc/xgboost/issues/6617 .

The best option is to send an issue to gcc development team, but might take some efforts to create a reproducible example.

[2021-04-23 03:18] trivialfis commented on #6898
I haven't verified `libomp` from llvm, should try to do so later.  If you have experiment result feel free to share.

[2021-04-23 03:20] trivialfis commented on #6899
This is a limitation in CUDA runtime, similar to the openmp issue you posted.  Another similar issue is https://github.com/dmlc/xgboost/issues/4246 .

[2021-04-23 04:01] wbo4958 commented on #6894
The trained models are completely the same. the only difference is one predict used cached predication, while the other one was calculating runtime by GPU. So there may be some float accuracy.

Close this issue. thx @trivialfis

[2021-04-23 04:01] #6894 closed

[2021-04-23 04:27] Stochastic13 commented on #6885
@trivialfis The increase doesn't have to be large either for the error, in case it helps. The following has the same error after 85 iterations, but both the `train` and the `eval` score does not change at all up to the first 5 decimal places.

[code]

[2021-04-23 05:52] nickhuangxinyu opened #6902 "Can you provide a easy-to-use c++ interface?"
XGBoost is a great tool!

but i think its c++ interface is not so easy to use.

can you provide a interface for python save_model output?

I think CatBoost has a easy interface, its usage is:

in python:
model.save_model(path, format='cpp')

then it generate a cpp header file.

when i want to use the model, i only need to include the header file.

Can you kindly consider to add a interface?

Thank

[2021-04-23 05:55] trivialfis commented on #6902
Can you try treelite?

[2021-04-23 05:56] 7starsea commented on #6902
for c++ exmaple, please goto demo/c-api/c-api-demo.c.

however the c-api-demo.c is **old**.

[2021-04-23 06:01] 7starsea commented on #6902
Hello, could you please provide an example for XGBoosterPredictFromDense (the main issue for me is how provide the parameter _char const *values_)?

(My typical use case is online real-time prediction, predict one row at a time)
Thanks.

[2021-04-23 06:05] trivialfis commented on #6902
I am currently away from computer.  Predict function for xgboost is designed to handle large datasets.  For your use case (online, low latency), https://github.com/dmlc/treelite might be a good fit.  @hcho3 maintains both projects.

[2021-04-23 06:22] 7starsea commented on #6902
Thanks for your information and I will go and give it a shot.

[2021-04-25 03:04] jameslamb opened #6904 "[R-package] remove dependency on {magrittr}"
I've noticed that the R package has an `Imports`-level dependency on `{magrittr}`: https://github.com/dmlc/xgboost/blob/8760ec48277b345aaaa895b82570c25566fc0503/R-package/DESCRIPTION#L65

It seems that that library is only being used for the pipe operator (`%>%`), and all the uses of that operator are internal to the R package.

Would you be open to a pull request that factors out this dependency?

[2021-04-25 20:10] lingzhou125 opened #6905 "Unable to reproduce results on local machine vs cloud"
Local Machine
XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.942219119220772,
             gamma=0.30088663356155, gpu_id=0, importance_type='gain',
             interaction_constraints='', learning_rate=0.05, max_delta_step=0,
             max_depth=10, min_child_weight=6, missing=nan,
             monotone_constraints='()',

[2021-04-25 22:22] trivialfis commented on #6905
You have specified different tree methods.

[2021-04-25 22:46] lingzhou125 commented on #6905
I started a gpu instance of sagemaker and tried it again and still different results. I have also tried tree_method='exact' on both and received different results

[2021-04-26 08:45] candalfigomoro commented on #6893
@CodingCat

[2021-04-26 10:30] kadyb commented on #6904
This may be of interest to you. The new R version 4.1.0, which is scheduled for release on May 18, is expected to have a native pipe operator `|>`.

https://stat.ethz.ch/R-manual/R-devel/doc/html/NEWS.html

[2021-04-26 21:56] hcho3 commented on #6654
@jaredlander Did you have a chance to try it? How did it go? If you run into any issue, please let us know.

[2021-04-26 22:19] jaredlander commented on #6654
I've been so buried the past few weeks. I can give it a try Wednesday afternoon.

[2021-04-26 22:22] hcho3 commented on #6654
Great! We've cleaned up the installation doc to display the binary package option more prominently: https://xgboost.readthedocs.io/en/latest/install.html#r

[2021-04-27 03:40] hcho3 commented on #6793
Checks for the R package are all passing: https://cran.r-project.org/web/checks/check_results_xgboost.html

Also, I've just released 1.4.1 to Maven Central. The artifacts will become available momentarily. Thanks everyone!

[2021-04-27 03:40] #6793 closed

[2021-04-27 03:41] #6867 closed

[2021-04-27 03:41] hcho3 commented on #6867
I've just released 1.4.1 to Maven Central. The artifacts will become available momentarily.

[2021-04-27 03:52] hcho3 commented on #6793
@Craigacp XGBoost4J 1.4.1 is now on Maven Central: https://repo1.maven.org/maven2/ml/dmlc/xgboost4j_2.12/1.4.1/. The JAR file contains three native binaries, one each for three OSes (Linux, Windows, MacOS):
[code]

[2021-04-27 03:57] hcho3 commented on #6904
I approve the move to eliminate the dependency on `{magrittr}`.

[2021-04-27 03:57] hcho3 commented on #6867
XGBoost4J 1.4.1 is now on Maven Central: https://repo1.maven.org/maven2/ml/dmlc/xgboost4j_2.12/1.4.1/.

[2021-04-27 04:10] jameslamb commented on #6904
Ok thanks, I'll prepare a PR.

And thanks for the link @kadyb . To be clear though, I'm not proposing replacing `%>%` with the new base R pipe, as that would require pushing all `{xgboost}` users to upgrade up to R 4.1.0 when it's released.

I'm proposing replacing code like this:

[code]

with code like this

[code]

[2021-04-27 12:50] sheecegardezi opened #6908 "Use array interface for numpy array inputs"
Code to reproduce:

using following  version
xgb.__version__= 1.4.0
System: Ubuntu 20.04 LTS

[code]
Following warning is received:
[code]

[2021-04-27 13:00] Craigacp commented on #6793
That's great. I've made the PR to update my library, re-enable the Windows tests, and everything passed.

[2021-04-27 18:30] clstaudt opened #6909 "`XGBoostError: XGBoost Library (libxgboost.dylib) could not be loaded` on Apple Silicon (ARM)"
While `>pip install xgboost` works without error, the installation is broken. Note the following part of the error message:

`Did find:\n\t/Users/cls/miniforge3/envs/packaging-measurement/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib: mach-o, but wrong architecture`

[code]

[2021-04-27 18:35] hcho3 commented on #6909
As the wheel filename `xgboost-1.4.1-py3-none-macosx_10_14_x86_64.macosx_10_15_x86_64.macosx_11_0_x86_64.whl`, we currently only supports MacOS with x86_64 CPU architecture. Apple Silicon is not supported. See #6408

[2021-04-27 18:35] #6909 closed

[2021-04-27 18:36] hcho3 commented on #6909
Try:
[code]

[2021-04-27 21:38] hcho3 commented on #6908
This is expected behavior, since you are using a sliced array (`data.iloc[:,:-1]`) as an input to `DMatrix`. The program will work; just keep in mind that the array will be copied and load to increased memory usage.

[2021-04-27 21:42] hcho3 commented on #6793
@Craigacp Now let's see if we can tackle #6767. In particular, we want to catch `UnsatisfiedLinkException` and display a good error message to direct users to install `libomp`.

[2021-04-27 22:16] Craigacp commented on #6793
Sure, that's easy. I'll work up a PR later this week or at the weekend. Basically we put a try catch around this line (https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/NativeLibLoader.java#L115) and then we can pretty it up by restructuring the OS detection and rethrowing the exception with an OS based error message.

[2021-04-28 09:00] Foreist opened #6910 "xgboost is not learning."
![image](https://user-images.githubusercontent.com/46616734/116376845-9756e500-a84b-11eb-81e4-a52a46ddf1e2.png)

Even if you search for an error, nothing is found.
The version is 1.4.1.
Is it a bug?

[2021-04-28 09:39] Foreist commented on #6910
I installed xgboost with pip, but the pass comes out as conda.

[2021-04-28 09:45] Foreist commented on #6910
Moved libxgboost from pip path to conda.

[2021-04-28 09:45] #6910 closed

[2021-04-28 13:13] ivan-marroquin commented on #5859
Hi all,

I found this article that I think it may be helpful to this enhancement request for xgboost: https://towardsdatascience.com/regression-prediction-intervals-with-xgboost-428e0a018b

Ivan

[2021-04-28 15:04] trivialfis commented on #5859
Thanks for the reference, I will look into it.

[2021-04-28 15:06] trivialfis commented on #6850
Hi, sorry for the slow reply.  I will be back from vacation tomorrow.

[2021-04-28 15:10] trivialfis commented on #6905
These types of reproducibility issues are quite difficult to solve.  You can try setting the `n_jobs` to 1.  Most of them are caused by floating-point errors.   Floating-point addition is non-associative so in a parallel execution environment, it can present non-reproducibility behaviour.

[2021-04-28 17:03] trivialfis opened #6913 "Fix CI failures."
- [x] Python lint. (https://github.com/dmlc/xgboost/pull/6911)
- [x] [jenkins] shotgun is still flaky after https://github.com/dmlc/xgboost/pull/6900 . (https://github.com/dmlc/xgboost/pull/6918)
- [x] [jenkins] hist dask is flaky. (https://github.com/dmlc/xgboost/pull/6919)
- [x] [travis] A new error on osx with dask shows up with index error. (https://github.com/dmlc/xgboost/pull/6917)
- [x] [tr

[2021-04-28 17:29] trivialfis commented on #6898
Closing as the bug is in underlying runtime instead of xgboost.

[2021-04-28 17:29] #6898 closed

[2021-04-28 17:29] trivialfis commented on #6899
Closing as the issue is in underlying runtime instead of xgboost.

[2021-04-28 17:29] #6899 closed

[2021-04-28 17:29] #6902 closed

[2021-04-28 17:49] ReeceGoding commented on #6904
I had a similar idea after submitting my PR that removed the magrittr dependency in the documentation a few weeks ago. What made me quit was the graphing code. For example, the pipes in xgb.plot.multi.trees.R seem quite natural. There are quite a few places where the pipes could be removed, but that's what made me give up on the idea. Any replacement that I could think of for them made the code mu

[2021-04-28 17:58] trivialfis commented on #6910
Maybe cleaning up the environment can help.

[2021-04-28 18:07] ReeceGoding opened #6914 "R documentation hasn't been updated in 1.4.1.1?"
A number of edits have been made to the R documentation in the past month or so. However, the only changes that I can find on either [the pdf on CRAN](https://cran.r-project.org/web/packages/xgboost/xgboost.pdf) or the documentation on my own 1.4.1.1 installation are updates to the upload dates and version numbers. I cannot, for example, find [March 19th's documentation changes](https://github.com

[2021-04-28 18:28] hcho3 commented on #6914
See #6915

[2021-04-28 18:54] 1a1a11a opened #6916 "n_thread not working"
Hi there,
     This is a great repo! I am following the C API and tutorial and I try to set the number of threads to 1 with ` safe_call(XGBoosterSetParam(learner->booster, "nthread", "1"));` but it still uses all the cores, I do not see anything wrong, I have attached my code, can you help me with it?

[code]

Thank you!

[2021-04-29 05:49] trivialfis commented on #6916
Could you please attach a more self-contained code example?  The use of thread might be coming from the creation of DMatrix instead of training.

[2021-04-29 09:06] trivialfis commented on #6280
I sort of reproduce it.  But it's more a Python thing instead of issues in libraries.  For documents on memory management with dask, see https://distributed.dask.org/en/latest/memory.html .  `client.restart` is actually a valid way to purge unused states.  Also for simple training with XGBoost inside loops, Python `gc` is quite useful from my testing.  Without calling `gc.collect` the memory usage

[2021-04-29 09:06] #6280 closed

[2021-04-29 09:14] trivialfis opened #6920 "[Roadmap] 1.4.2 Patch release"
This will be a bug fix release after 1.4.1. Please comment if you think there are commits that should be backported.
@dmlc/xgboost-committer

The release is planned to be Python only with following patches:

- [x] CI fixes (https://github.com/dmlc/xgboost/pull/6933).
- [x] https://github.com/dmlc/xgboost/pull/6889
- [x] Fix for updated cupy with `lazy_isinstance`. (https://github.com/dmlc/xgboost/

[2021-04-29 09:27] nickhuangxinyu opened #6921 "how can i install xgboost if my gcc complier dont support c++14?"
Hi, thanks for your attention.

I read the doc, it tolds me install command is:

[code]

but for some reasons, i cant use c++14 in my server(c++11 is ok)

how can i install its old version?

can you list the command?

Thanks very much!

[2021-04-29 11:51] trivialfis commented on #6921
Use a package manager like conda that are mostly self-contained.

[2021-04-29 11:55] trivialfis commented on #6921
The latest xgboost package on conda is still 1.3.3.  1.4 hasn't been merged yet: https://github.com/conda-forge/xgboost-feedstock/pull/73  But you can build XGBoost by yourself using compilers from conda.

Also, there's a rapidsai distribution of XGBoost: https://anaconda.org/rapidsai/rapids-xgboost which is close to 1.4

[2021-04-29 11:55] #6921 closed

[2021-04-29 13:21] 1a1a11a commented on #6916
Hi @trivialfis, thank you for you reply! This is very helpful! I looked into the places where it could have use multiple threads, and I notice that when predict, it uses the max number of threads (https://github.com/dmlc/xgboost/blob/a2ecbdaa31d6850ed7343d2fc4e11d21b6582745/src/predictor/cpu_predictor.cc#L184)
now I set the environment `OMP_NUM_THREADS` and make it to use one thread. :)

[2021-04-29 14:38] JoseLlorensRipolles commented on #6908
Hey @sheecegardezi ,

Althought this issue is closed, I thought I would add that you can make the array contiguous with
`X = np.ascontiguousarray(X)`
Which will improve memory usage and avoid the warning.

Would you consider adding this fix for uncontiguous arrays to XGboost @hcho3?  I would like to do it if so. Thank you very much in advance.

[2021-04-29 15:37] trivialfis commented on #6916
Hmm .. no, if you have specified `nthread`, xgboost calls `omp_set_num_threads` so `omp_get_max_threads` will return 1.

[2021-04-29 18:55] #6914 closed

[2021-04-30 01:04] #6913 closed

[2021-04-30 09:02] Pacerzhujiang0112 opened #6923 "Recently I built an experimental feature that generates a binary XGBoost model file from a model specification. Here are the steps:"
Recently I built an experimental feature that generates a binary XGBoost model file from a model specification. Here are the steps:

1. Download `treelite` package:
[code]
2. Use the [model builder API](http://treelite.readthedocs.io/en/latest/tutorials/builder.html) to programmatically construct the ensemble model. (Complete API doc is found [here](http://treelite.readthedocs.io/en/latest/treelit

[2021-04-30 09:03] #6923 closed

[2021-04-30 09:04] hcho3 commented on #6923
Closing, as it's just copy and paste of a past post and doesn't contain any actual issue.

[2021-04-30 09:09] Pacerzhujiang0112 opened #6924 "there is a way that can convert dump_model file to The structure of trees"
I saw your work about #3291, I want to know there is a way that can convert dump_model file to The structure of trees?

[2021-04-30 09:15] hcho3 commented on #6924
It was a small prototype that I made a while back and is very much incomplete. In general, it's best to always keep the original model file and not rely on the output of dump_model.

[2021-04-30 09:25] candalfigomoro commented on #6893
@hcho3

[2021-04-30 09:50] Pacerzhujiang0112 commented on #6924
OK，thanks a lot，your work is great！

[2021-04-30 09:55] trivialfis commented on #6924
You can consider the JSON model: https://github.com/dmlc/xgboost/tree/master/demo/json-model .

[2021-04-30 09:55] #6924 closed

[2021-04-30 11:39] wbo4958 commented on #6893
@candalfigomoro According to the code https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoost.java#L253. Looks like "it uses the best iteration + num_early_stopping_rounds". And I have no idea how to get the values of the best iteration, Seems we need to support this.

[2021-04-30 12:40] candalfigomoro commented on #6893
@wbo4958
Thank you for your reply.
I think we need to add `bestScore` and `bestIteration` attributes to be consistent with the python package (see https://xgboost.readthedocs.io/en/latest/python/python_intro.html#early-stopping) and also because I think it's a pretty important feature.

[2021-04-30 13:09] kyleengel opened #6925 "Bug in XGBoost >=1.4: Check failed: typestr.size() == 3 (2 vs. 3)"
I ran into this error and found a slackoverflow post on the topic: https://stackoverflow.com/questions/67095097/xgboosterror-check-failed-typestr-size-3-2-vs-3-typestr-should-be

I haven't done much digging but it looks like it has to do with macOS Big Sur, using XGBoost in a sklearn `Pipeline`, and XGBoost version >= 1.4.

[2021-04-30 13:15] trivialfis commented on #6925
It's an error parsing numpy array interfaec: https://numpy.org/doc/stable/reference/arrays.interface.html .  Not sure which data part returns a wrong `typestr`.  It's required to have 3 characters.  It would be great to have a reproducible example.

[2021-04-30 13:56] trivialfis commented on #6893
@wbo4958 If you are interested in the feature, you can use the `SetAttr` function in XGBoost to store these attributes inside the model.  Also, we support model slicing to slice up trees for retuning the best model.  Feel free to ping me if you have any questions.

[2021-04-30 14:10] trivialfis commented on #6925
@kyleengel Could you please share an example script that we can run?  I tried to complete the snippets from SO but couldn't reproduce the issue.  Also, it would be great to have versions of numpy and pandas.

[2021-04-30 14:25] Craigacp commented on #6793
I opened PR #6926 which adds better error messages when library loading fails on the JVM.

[2021-04-30 15:00] kyleengel commented on #6925
Sure, no problem. I did a little bit of digging and it's related to `bool` column(s) in the design matrix. It seems like `bool` columns were acceptable pre-1.4, but no longer after 1.4.

Here are my installed versions:
* Pandas: `1.2.3`
* Numpy: `1.20.2`
* XGBoost: `1.4.1`

I'm running on Mac OS but I can also reproduce on Ubuntu 18.04.

Here's a reproducible example:

[code]

[2021-04-30 15:54] trivialfis commented on #6925
Thanks, that's super helpful.  Created a PR https://github.com/dmlc/xgboost/pull/6927 with explanation for the error.

[2021-04-30 21:46] wbo4958 commented on #6893
Ok, will add this feature.

[2021-05-01 09:49] ajordan-apixio opened #6929 "XGBoostModel training failed on large dataset, works on subset of dataset"
Hey all,

Hoping I can get some help with this. I have a dataset with about 27 million rows and 300 columns, and I cannot figure out how to get training to work. It always fails with this error:

[code]

I don't see anything else useful anywhere in the logs. I'm using XGBoost 1.1.0, Spark 2.3.2, and running the code in a Zeppelin notebook.

I'm using a simple Spark ML pipeline to create the vector

[2021-05-01 16:09] #6925 closed

[2021-05-02 18:45] FelixYBW commented on #6929
You can find more details from executor's log file. You can find the log from YARN UI.
To confirm if it's out of memory issue, you may collect sar data on each worker node. The used memory - cached memory will increase to 99% then fails.

[2021-05-02 18:57] aeftimia opened #6931 "xgboost cannot recognize alternative installations of libomp"
Homebrew generally needs admin privileges to be installed and while most packages, including libomp, can be installed manually, xgboost has no way to recognize alternative installations. This means xgboost in its current form cannot be used on a mac without admin privileges.

[2021-05-02 19:18] FelixYBW commented on #6931
Did you try to set LD_LIBRARY_PATH or even LD_PRELOAD? it looks not xgboost's issue, it's how dynamic library is loaded.

[2021-05-02 19:35] aeftimia commented on #6931
I was able to fix the issue with install_name_tool What should I be doing with LD_LIBRARY_PATH and LD_PRELOAD? I did some googling, but it's not obvious how to use them. I'm currently trying to reinstall xgboost with LD_LIBRARY_PATH set to my custom lib location (it was not set before). I'm still not sure how to use LD_PRELOAD. Could you post an example?

[2021-05-02 20:43] FelixYBW opened #6932 "[XGBoost4J-Spark] Reason why spark_xgboost must evaluate training dataset?"
From current Spark code (Flink does this also), the training process will evaluate the training dataset alwasy no matter we enable earlyStop or evaluation or not. Does it impact the training process? I didn't see this happenned on dask distributed training by default.

 SXGBoost.trainAndSaveCheckpoint(  **watchesmap("train")**, params, numRounds, **watchesmap**, metrics, obj, eval,
          early

[2021-05-03 01:38] trivialfis commented on #6931
Maybe you can consider using conda?  OpenMP is a language, switching its standard library can be tricky.

Maybe @hcho3 has better insight on Mac.

[2021-05-03 14:59] AhmedTroudi commented on #5582
Hello, I'm using xgboost4j version 1.3.1 and I'm facing the same error when I set `objective=count:poisson`. Can someone help me with this please? Thanks.
`java.lang.NumberFormatException: For input string: "inf"
[info]  at sun.misc.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:2043)
[info]  at sun.misc.FloatingDecimal.parseFloat(FloatingDecimal.java:122)
[info]  at java.lang.Float.par

[2021-05-03 18:44] datavisornicolacorradi opened #6936 "Error: Invalid cast, from Null to Array, when opening a JSON model in Java"
XGBoost version - 1.3.1
java version - 1.8.0_281

- train and save a model in python (v 1.3.3) as json file. The file is a valid json, and can be re-loaded in python.
- load the model in java `XGBoost.loadModel(PATH);`
error:

[code]

[2021-05-04 17:18] jkc1 opened #6939 "xgb.dask.inplace_predict discards index of dask dataframes in mapped partitions"
I've noticed that the dask version of `.inplace_predict()` creates a new dataframe in the mapped prediction function, but this function creates a new dataframe with the default index.

This makes it impossible to add the predictions back to the original dask.dataframe if that dataframe has a non-RangeIndex.

https://github.com/dmlc/xgboost/blob/4ddbaeea32b598d5daf4b8a71ecd51199de1c41e/python-packa

[2021-05-05 05:06] jyk4100 opened #6941 "xgboost python and R outputs differ when sampling hyperparameters are introduced"
Hello

I get identical predicted probabilities from xgboost classifiers trained on same data and same hyperparameters on R and Python. However, when sampling related hyperparameters are added, I start to see that output differs.

**settings**
- windows machine
- python 3.8.3 (anaconda distribution) & xgboost 1.4.1
- R 4.0.2 & xgboost_1.4.1.1

**R code**
[code]

**Python code**
[code]

With the abo

[2021-05-05 08:55] GiuseppeLaurenza commented on #6908
Hi, it something to do with our data or a modification that XGBoost should do?

[2021-05-05 09:22] thifil commented on #4982
Hi @trivialfis,
Is there any update on the numerical tolerance for the xgb regressor?
Cheers!

[2021-05-05 09:45] trivialfis commented on #4982
@thifil Could you pls take a look into https://github.com/dmlc/xgboost/pull/6942 and see if that's what you want?

[2021-05-06 08:13] HenryBao91 opened #6943 "How to change DMLC_TRACKER_PORT=9092 in code ？"
I want to use the popular one pipine，that XGBoost + LR . And  my compute engine is  Spark 2.4.3 . I used `ml.dmlc.xgboost4j.scala.spark._`  . But I meet a difficult problem， below this:

`Tracker started, with env={DMLC_NUM_SERVER=0, DMLC_TRACKER_URI=10.10.20.153, DMLC_TRACKER_PORT=9092, DMLC_NUM_WORKER=2}`

When my xgboost code runs on Spark Cluster,  the DMLC_TRACKER_PORT is 9092 which is confli

[2021-05-06 08:45] trivialfis commented on #6943
@wbo4958 might have some insight.

[2021-05-06 08:50] trivialfis commented on #6939
Could you please provide an example of this running into error?  Or would you like to open a PR? ;-)

[2021-05-06 09:14] HenryBao91 commented on #6943
Really ？This problem has been bothering me for a long time. @wbo4958  Have you meet this problem ? Could you give me some methods to solve this problem ? Thank you very much . I'm looking forward to your reply.

[2021-05-06 09:37] trivialfis commented on #6941
The R package uses random engine from R runtime, other packages use rng from c++ standard library.

[2021-05-06 11:06] trivialfis commented on #6936
Could you please share how did you train the model?  I can't reproduce your error.

[2021-05-06 13:56] ivan-marroquin commented on #5859
Hi all,

I found NGBoost approach (https://github.com/stanfordmlgroup/ngboost) to conduct probability regression. It seems that their code allows to use any based tree learner to perform a regression analysis.

I have Python 3.6.5 with XGBoost 1.1.0 and NGBoost 0.3.10 and I gave try with the following code
** -->
import numpy as np
import xgboost as xgb
import ngboost
from sklearn.datasets import

[2021-05-06 14:41] jkc1 commented on #6939
happy to provide a minimum working example. it's a bit big, but demonstrates the issue.

I actually misspoke on the original comment. only DaskDMatrix respects the index, if a Dask DataFrame is passed to either `.predict()` or `.inplace_predict()` then it discards the index.

[code]

[2021-05-06 20:22] jkc1 commented on #6939
it may also be worth  checking if similar happens in the RAPIDS df a few lines above. i've never used rapids but the line of code looks similar

[2021-05-07 00:29] wbo4958 commented on #6943
Seems there is not an easy way to change it like a parameter thing, but you can change it in your code, see here https://github.com/dmlc/dmlc-core/blob/main/tracker/dmlc_tracker/tracker.py#L141 .

but interesting, the code tries to bind the port from 9091. if the port is occupied, it will try to bind next port.
[code]

[2021-05-07 01:20] HenryBao91 commented on #6943
Thank you for your reply. I find this，I have two  bigdata cluster，I run my code on the a cluster， DMLC_TRACKER_PORT=9097， but  on the b cluster，DMLC_TRACKER_PORT=9092， then it come to errors. When  9092 port  is occupied， it doesn't try to bind next port but try again this port.  I find this python file： track.py in `xgboost4j_2.11-1.0.0.jar` ， but I code with Scala. Even though I change it in   `

[2021-05-07 04:01] wbo4958 commented on #6943
So you mean you have the XGBoost source code, and you want to change the python code and compile your own jars? If yes,

You need to run the below commands firstly

[code]
and you can change the code in dmlc-core/tracker/dmlc_tracker/tracker.py and then compile the xgboost. You can refer to this page https://xgboost.readthedocs.io/en/latest/build.html

[2021-05-07 04:05] #6941 closed

[2021-05-07 06:13] HenryBao91 commented on #6943
Not really.  I can  change  `tracker.py`  in  `xgboost4j_2.11-1.0.0.jar` directly  or change `dmlc-core/tracker/dmlc_tracker/` and compile it. But  I'm not  so understand that  my project is a  spark project  with sbt .  I need to add config in build.sbt :
[code]
So it'll re-download these xgboost4j-spark jars , what should I do so that I can use the compiled jar in my spark project?
Thanks.

[2021-05-07 09:34] Alxe1 opened #6945 "TypeError: Singleton array array(<xgboost.core.DMatrix object at xxx>, dtype=object) cannot be considered a valid collection"
Use xgboost for grid search, the code is in below:

[code]

But in the last step, the error occured: `TypeError: Singleton array array(<xgboost.core.DMatrix object at xxx>, dtype=object) cannot be considered a valid collection`.

the package version:
xgboost=0.82
sklearn=0.20.3
scipy=1.2.1

[2021-05-07 09:50] trivialfis commented on #6945
Hi, if you are using the sklearn interface, then you don't need to construct `DMatrix` object.

[2021-05-07 09:50] #6945 closed

[2021-05-07 15:45] ihyaroshenko commented on #5717
@trivialfis hi. Can you help, please? I have similar issue for multi class classification

[code]
and the corresponding warning:

[code]

[2021-05-07 17:59] rteuwens commented on #6908
I know for a fact my own code is not slicing any numpy arrays, but my terminal is being inundated with this `UserWarning ` message, nonetheless. I am, however, using xgboost in conjunction with sklearn's SearchCV methods, making use of the [TimeSeriesSplit](https://github.com/scikit-learn/scikit-learn/blob/15a949460dbf19e5e196b8ef48f9712b72a3b3c3/sklearn/model_selection/_split.py#L735) class for t

[2021-05-07 18:27] trivialfis commented on #6908
I plan to use array interface for numpy array inputs, through which we can reliable consume sliced data.

[2021-05-07 18:30] hcho3 commented on #6908
@trivialfis Do you need some help with this?

[2021-05-07 18:48] trivialfis commented on #6908
@hcho3 Feel free to work on it.  We have in place predict that accepts numpy array interface, the DMatrix csr ctor is also using it.

[2021-05-07 19:49] JoseLlorensRipolles commented on #6908
Something you have to do with your data. The warning is right, if you pass a non-contiguous array, xgboost makes a contiguous copy of it (increasing the memory needed), while if your array is contiguous from the beginning, the copy is not needed ([data.py](https://github.com/dmlc/xgboost/blob/e41619b1fc6152d4392896c6caf9a0dc960c5558/python-package/xgboost/data.py#L118)). Everything will work fine,

[2021-05-09 01:20] daveloui commented on #1715
Thanks so much @gpetty !! You're a life saver! :D

[2021-05-10 00:13] wbo4958 commented on #6943
I mean you need to compile and install your own xgboost jars from source code. then compile your application jars with xgboost dependency. that should work.

[2021-05-10 00:49] HenryBao91 commented on #6943
I see. And I‘ll try it.Thank you again.

[2021-05-10 05:49] kabrapankaj32 opened #6950 "Parallel processing performance bug after xgboost version 1.2.1"
I found huge performance degradation when shifting to versions after 1.2.1. I've provided a dummy script below to reproduce the issue. In the below script, xgboost version 1.2.1 takes a couple of seconds (On a 96 core machine); changing the version to any version after 1.2.1 takes much longer, more than 100x the time (and still going). Upon looking into the utilization, all cores are at 99+% the w

[2021-05-10 07:13] wbo4958 commented on #6943
I don't thinks this issue is related with tracker PORT.

with the log "Tracker started, with env={DMLC_NUM_SERVER=0, DMLC_TRACKER_URI=10.56.28.15, DMLC_TRACKER_PORT=9092, DMLC_NUM_WORKER=2}", which has indicated that the tracker has binded to 9092 successfully.

[2021-05-10 07:14] hcho3 commented on #6950
Try adding the hyperparameter `n_jobs=1` to ensure that only one thread is used per process.

[2021-05-10 08:49] kabrapankaj32 commented on #6950
@hcho3 yes restricting one thread per fit does the job :) Will keep this in mind, earlier both the inner and outer processes were able to use the threads safely. Thanks!

[2021-05-11 17:11] freeIsa opened #6953 "Discrepancy between plot_tree() and get_dump() in splitting conditions"
Hello everyone,
I was looking into a simple XGB regressor I trained, having only binary variables as predictors. I ran  `xgb.get_booster().get_dump()` to get the details about the trees constituting the model, then I used `plot_tree()` on the first tree to visualize it.
When comparing the textual description of the first tree (obtained from `get_dump()`) with the plot, everything was the same, exc

[2021-05-12 00:15] craigching opened #6954 "Parameters: { delta } might not be used, but delta is a parameter for a custom plugin"
We've written our own Huber loss function as an xgboost plugin. Our Huber loss uses a parameter called `delta` which combines L1 and L2 regularization terms on weights for our loss function (as described in wikipedia for the pseudo huber loss function). The problem is that xgboost complains about this parameter, saying that it may not be used. I would like it if xgboost could recognize plugin para

[2021-05-12 04:04] 1a1a11a commented on #6916
Thank you! Let me try to make a minimal example in the next few days and see what I did wrong.

[2021-05-12 04:07] 1a1a11a opened #6955 "Ranking prediction are all same value"
I am using the XGBoost C API to do some ranking tasks and I have tried to use `rank:pairwise`, `rank:map`, and `rank:ndcg` as the objective, however, when I use `rank:map`, and `rank:ndcg` to train and predict, all the predicted values are constant, but it is not a problem when I use `rank:pairwise`. Does anyone know what could be wrong in my setup? Or is there a better way other than digging into

[2021-05-12 04:15] 1a1a11a commented on #6955
I have checked that the relevance in the training data are all from 0 to 1, and the inference data are not constant. I think the training has some problems, the metric does not change at all from the first iteration to 10 iterations (while it changes if I use
regression or rank:pairwise.

[2021-05-12 05:24] #6939 closed

[2021-05-12 06:57] trivialfis commented on #6954
Hi, there's an example in the plugin in directory in xgboost source tree, inside that example you can see these 2 functions:

[code]

It's for both serialization and parameter validation.  You need to implement them with the parameter named to something like:

[code]

[2021-05-12 07:42] #6954 closed

[2021-05-12 09:06] freeIsa commented on #6953
I tried to produce a minimal example:

[code]

using this dummy dataset (`subsample` DataFrame in the above code):

[code]
The output of the print statement is
[code]
and here is the plot:
![xgb_output](https://user-images.githubusercontent.com/61782307/117948787-c2dcd380-b311-11eb-8bcd-520a4d7acbcf.png)

[2021-05-12 11:27] Johhana opened #6956 "Implement XGBoost in Scala Spark, dataproc zeppelin notebook"
I am trying to implement an xgboost model in scala, using zeppelin in dataproc (google cloud). This is the code I'm implementing:

    import org.apache.spark.sql._
    import org.apache.spark.sql.functions._
    import org.apache.spark.sql.expressions._
    import org.apache.spark.sql.{DataFrame, Dataset, Row, SaveMode, SparkSession}
    import org.apache.spark.sql.expressions.UserDefinedFunction

[2021-05-12 14:31] ShadowTemplate opened #6957 "Build from source fails due to undefined references with NCCL v2.9.6"
Hi everyone!
Over the last 2 years I have regularly built XGBoost from source. Today, for the first time, I have received an error while building XGBoost v1.4.1 in this environment:

- CUDA 11.2
- NCCL 2.9.6
- GPU_COMPUTE_VER 52;60;61;62;70;72;75;80;86

The error is the following:

[code]

I think it's important to highlight that I have no issue with this other environment:
- CUDA 11.2
- NCCL 2.8.

[2021-05-12 16:54] beckernick opened #6958 "Support GPU arrays as input to inplace_predict when using gpu_predictor"
I'd like to use the `gpu_predictor` to use the GPU for predicting. My current understanding is that using `predict` on a DMatrix will return the result in CPU memory, causing a potentially unnecessary device to host transfer. `inplace_predict` can accept a numpy array as input when using the CPU predictor, but cannot accept either a CPU or GPU array as input when using the gpu_predictor.

[code]

[2021-05-12 18:47] ShadowTemplate commented on #6957
Hi everyone and sorry for the mess: it looks like I am using a NCCL version built for CUDA 11.3, hence the errors, since _cudaStreamGetCaptureInfo_v2_ is not available on CUDA 11.2.
Please, ignore this issue.

Have a great day!

[2021-05-12 18:47] #6957 closed

[2021-05-12 19:49] Livius90 opened #6959 "xgboost build failed in x86 release"
I tried to build c-api demo from master source in x86 release in Visual Studio 2019 cmake in Windows 10, but it seems to me xgboost is not able to build to 32bit (x86) architect config, now. If i start the building in x64 release it works fine. Can you fix the compiler errors in x86 build?

[code]

[2021-05-12 19:59] hcho3 commented on #6959
Feel free to submit a pull request. However, keep in mind that XGBoost does not support 32-bit platforms. That is, we don't run tests for 32-bit platforms.

[2021-05-12 20:01] #6959 closed

[2021-05-12 20:33] hcho3 commented on #6958
@beckernick Failure is not expected, since we have code specifically to handle cuPy arrays in `inplace_predict()`:
https://github.com/dmlc/xgboost/blob/2a9979e256bbead2f364ac8698a890ba9a1e004a/python-package/xgboost/core.py#L1945-L1966

We will investigate.

[2021-05-12 20:34] #6904 closed

[2021-05-12 20:52] beckernick commented on #6958
Thanks Philip! I'm happy to help triage as well

[2021-05-13 02:41] adatum commented on #6654
@hcho3 Thank you for this R GPU support! I checked it quickly and it seems to work fine. It is easier than the recursive cloning for the submodules and building from source.

[2021-05-13 04:33] trivialfis commented on #6958
It's fixed in latest 1.4 branch.  This is caused by updated cupy.

[2021-05-13 04:33] #6958 closed

[2021-05-13 04:34] trivialfis commented on #6953
I will look into it.

[2021-05-13 05:13] hcho3 commented on #6958
@trivialfis Ah didn't notice it was a new addition after the 1.4.0 release. So cuPy 9.0.0 isn't supported by XGBoost 1.4.0 (+ cuML 0.19)?

[2021-05-13 08:41] trivialfis commented on #6958
No.  But 1.4.2 should be fine.

[2021-05-13 11:54] Livius90 commented on #6959
Ok, a pull request #6964 was made for it and the Jenkins testing has no any failed checking.

[2021-05-13 11:55] #6920 closed

[2021-05-13 13:17] beckernick commented on #6958
Perfect, thanks all!

[2021-05-13 16:19] #4982 closed

[2021-05-13 17:21] mahadafzal opened #6965 "Seg Fault when calling fit on XGBClassifier"
I keep running into Seg Faults when calling fit on an XGBClassifier instance. The inputs are np arrays with the X array being encoded text using a BERT tokenizer. Could someone help me point in the right direction? Thank you!

[2021-05-13 17:31] WissenY commented on #1715
For me, it works! But the file I removed is a little different from yours which is `libiomp5md.dll` in the path  of `C:\Users\***\Anaconda3\Library\bin`. I think it may caused by installing full package of pytorch by me after installing anaconda. So the better way is to use miniconda or install pytorch by `conda install torch torchvision torchaudio`

[2021-05-13 18:06] hcho3 commented on #6965
Can you post your code? Also what is the version of XGBoost you are using?

[2021-05-13 20:25] trivialfis commented on #6931
I think it's best to avoid pulling this kind of trick.

[2021-05-13 20:25] #6931 closed

[2021-05-13 20:26] trivialfis commented on #6932
I'm open to having it as optional, could you please open a PR?

[2021-05-13 20:27] #6905 closed

[2021-05-13 20:31] trivialfis commented on #6888
Fixed in 1.4.2.

[2021-05-13 20:31] #6888 closed

[2021-05-13 20:42] trivialfis commented on #6642
@hcho3 I think this release would be a good time for dropping cuda 10.x. ;-)

[2021-05-13 20:46] kkraus14 commented on #6642
+1 to dropping CUDA 10.x generally but that may be a bit aggressive :)

[2021-05-13 21:45] hcho3 commented on #6931
Yes, if you do not have an admin privilege, it's best to install XGBoost using Conda:
[code]

[2021-05-13 22:03] craigching commented on #6954
Just want to report back that this worked. Thanks for the help!

[2021-05-14 06:04] ssh352 commented on #6654
good news, waited too long!

[2021-05-14 19:44] FelixYBW commented on #6932
Sure.

[2021-05-14 19:44] #6932 closed

[2021-05-17 01:01] mahadafzal commented on #6965
https://github.com/mahadafzal/BERT-XGBoost/blob/2c2eaffba0df2bd9ec0da5a19b4793bc3cd128c0/xgbert.py#L37-L133

I am using version 1.5.2

I've had experience with PyTorch but haven't really used the XGBoost library before, so any help would be much appreciated!

[2021-05-17 01:13] hcho3 commented on #6965
Can you check the dimension of the data array used in XGBClassifier.fit? The crash may be due to running out of memory.

[2021-05-17 01:31] mahadafzal commented on #6965
It is a 2d array, (4536 x 1), where 4536 is the number of training sentences. I use the same setup with a LinearSVC classifier and it works fine.

[2021-05-17 06:00] trivialfis commented on #6965
Could you please share the data too?  Maybe with fusing.

[2021-05-17 06:11] trivialfis commented on #6953
Which version of XGBoost are you using?  I'm running latest xgboost and it works fine.

[2021-05-17 08:50] freeIsa commented on #6953
I checked, it's version 1.3.3.
I have just run `pip install --upgrade xgboost`, which installed version 1.4.2, but I still get the same behaviour.

[2021-05-17 10:35] trivialfis commented on #6953
That's strange.  Could you please try making sure there's no other installation of xgboost in your python `site-packages`, also no other `libxgboost.so` are found?

Here's my code, I just tried to guess it from your snippet.  Feel free to point it out if it doesn't match yours.
[code]

[2021-05-17 10:51] freeIsa commented on #6953
It looks like it may be a type problem. Running your code as-is in my virtual environment, I get the same result from plot_tree and from the print statement (i.e. splitting condition set to 0.5). The only difference I could find is that in your code the predictors have `float64` type, whereas in mine they are coded as `uint8`.

[2021-05-17 11:19] trivialfis commented on #6953
Can you cast the type and try again?

[2021-05-17 11:20] trivialfis commented on #6953
If it works then feel free to close the issue

[2021-05-17 15:15] freeIsa commented on #6953
To sum up: I checked that when the input is provided as `uint8`, the result of `reg.get_booster().get_dump()` will display integer split values (e.g. `[var1<1]`); if the same input is provided as `float64`, printing the tree structure will result in float split values (e.g. `[var1<0.5]`). Both ways, the `plot_tree` method will use float split conditions.

In turns, it looks like this is an effect

[2021-05-17 15:15] #6953 closed

[2021-05-17 15:18] trivialfis commented on #6953
When the input is provided as int, xgboost will recognize it as some kind of discrete value as perform the cast during plot.

[2021-05-18 17:22] mahadafzal commented on #6965
I am not allowed to share the data publicly, but I was able to solve the issue. It was a preprocessing error on my end causing the program to run out of memory. Thank you for the help!

[2021-05-18 17:22] #6965 closed

[2021-05-18 22:49] FelixYBW commented on #6956
This is your driver's log. did you see executor failuer from Spark UI? You may take a look of worker's log.

[2021-05-19 06:30] trivialfis commented on #6788
Closing as it's unlikely to be an error in xgboost.

[2021-05-19 06:30] #6788 closed

[2021-05-19 06:32] trivialfis commented on #6604
Multi-lock is used in XGBoost.  Please reopen if the issue is still reproducible.

[2021-05-19 06:32] #6604 closed

[2021-05-19 06:33] trivialfis commented on #6447
I think this is a floating point error issue and can be mitigated by preprocessing.

[2021-05-19 06:33] #6447 closed

[2021-05-20 00:49] pseudotensor opened #6972 "internal compiler error: in maybe_undo_parenthesized_ref, at cp/semantics.c:1705"
Keep trying to compile xgboost and this keeps failing.  I'm using https://github.com/h2oai/xgboost/tree/h2oai or head of dmlc, both have same issue.  I'm using https://github.com/h2oai/xgboost/blob/h2oai/tests/ci_build/Dockerfile.gpu_build_centos6_x86_64alt_py38 for the docker image to build in.

And I'm doing something like:
[code]

to build.

The same steps and docker image worked fine on 610ee6

[2021-05-20 01:21] pseudotensor commented on #6972
Related: https://github.com/kokkos/kokkos-kernels/issues/349

[2021-05-20 05:34] pseudotensor commented on #6972
Updating from devtools-7 to devtools-8 with gcc 8 did not help.

[2021-05-20 05:35] pseudotensor commented on #6972
I guess the problem comes from 9b530e5697545ae384297889bf86b5568f520f4f FYI @ldesreumaux

[2021-05-20 07:13] pseudotensor opened #6973 "SIGSEGV cpu_predictor.cc:61"
Master is in a highly broken state.  I think it must be some OMP changes that are not general and make xgboost only usable in more specialized settings.

I tried https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.5.0_SNAPSHOT%2B2320aa0da23ed29610a3bd58cba9a1fe481e443a-py3-none-manylinux2010_x86_64.whl
I tried my own build of latest master from dmlc.
And I tried my own master+vario

[2021-05-20 08:21] trivialfis commented on #6973
@ShvetsKS could you please help take a look?

[2021-05-20 08:39] ShvetsKS commented on #6973
@trivialfis  sure
it would be helpful to get some reproducer with run options

[2021-05-20 08:43] pseudotensor commented on #6973
Recalling and reviewing the various breaking changes or deprecations, I noted that I was still passing ntree_limit during predict.  This is what leads to the segfault.  I thought it would just be ignored, but it seems to cause segfaults.

So the work-around seems to be to just stop passing ntree_limit entirely, as consistent with the new API.

[2021-05-20 08:51] trivialfis commented on #6973
If ntree limit is the cause then it should be easy to reproduce, probably with sanitizer

[2021-05-20 08:52] trivialfis commented on #6973
Could you please provide a script that we can run?  I can try sanitizers.

[2021-05-20 08:52] trivialfis commented on #6973
Also, it's not ignored.  The feature is still there.

[2021-05-20 12:37] trivialfis commented on #6973
I ran address sanitizer with our prediction tests: https://github.com/dmlc/xgboost/blob/master/tests/python/test_predict.py  Some tests use `ntree_limit`.  So far nothing turn up yet.

[2021-05-20 19:37] hcho3 opened #6975 "[CI] TestWithDask.test_hist is flaky"
https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/master/858/pipeline/

May want to relax the test or mark it as XFAIL.

[2021-05-20 21:02] pseudotensor opened #6977 "[FEATURE] enable output_margin, pred_contribs in sklearn API"
We maintain a slightly adjusted version of xgboost for our own purposes, but one thing that is common are some trivial features that are not exposed.  I've mentioned this to @trivialfis before, but wanted to bring up since it's been several months and we are applying latest changes to ours.

Here's what I'd recommend:

1) sklearn.py pred_leaf, pred_contribs, approximate_contribs

diffs here:
(some

[2021-05-20 21:14] hcho3 commented on #6977
@pseudotensor Would you like to submit a pull request? Let's get the change into the upstream so that it'd be easier for you to sync your fork with the upstream.

[2021-05-21 02:52] trivialfis commented on #6977
Predict leaf is in the `apply` method.

[2021-05-21 08:39] Jonathanpro opened #6978 "sklearn XGBoost dask interface to run on multiple GPUs"
Hello everyone,
I like to report an issue with the Dask sklearn gpu tutorial that can be found here
https://github.com/dmlc/xgboost/blob/master/demo/dask/sklearn_gpu_training.py

I modified the code code a little and executed the following

[code]

that works greatly.
However now I want to convert the "prediction" to a numpy array
If I do

`prediction.compute()`

or try to save predation to csv vi

[2021-05-21 09:07] trivialfis commented on #6978
I can't reproduce your result.  Could you please share:

- xgboost version.
- dask version.
- distributed version.

[2021-05-21 11:47] Jonathanpro commented on #6978
python 3.6.12
xgboost.__version__ = 1.4.2
dask.__version__ = 2021.03.0
dask_cuda.__version__ = 0+unknown Thats the problem ?

[2021-05-21 11:48] Jonathanpro commented on #6978
I did
python3 -m pip install "dask[dataframe]" --upgrade
pip install dask[complete]
pip install dask[dataframe]

[2021-05-21 12:35] trivialfis commented on #6978
Looked at your code a second time I found the issue.  You need to wrap the code under:

[code]

[2021-05-21 13:59] Jonathanpro commented on #6978
@trivialfis thanks for you help !

the code has to be
[code]

prediction_np is then the NumPy values of the prediction
would be a great improvement of the tutorial from my opinion because this will help people to migrate code from Single GPU XGBoost to multiple GPU XGBoost Dask code

[2021-05-22 01:38] pseudotensor commented on #6973
[cpupredict_segfault.zip](https://github.com/dmlc/xgboost/files/6525610/cpupredict_segfault.zip)
[code]

[2021-05-22 03:10] wingedskull opened #6980 "Multi classification on GPU runs fast only the first time"
Hello.
It is not an imagination, checked many times in R an Python, latest or one of the latest builds.
Using params like:

only the first run is fast. Trying to run this training even for second time (the same language or other) finishes it MUCH SLOWER,
What is even more weird, the time elapsed for next runs are high for any CPU/GPU. Much better Workstation shows the same or even slower execution

[2021-05-22 03:48] pseudotensor commented on #6973
To avoid any confusion with the pickled state, here is same thing with this snapshot:

https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.5.0_SNAPSHOT%2B2320aa0da23ed29610a3bd58cba9a1fe481e443a-py3-none-manylinux2010_x86_64.whl

[cpupredict_segfault2.zip](https://github.com/dmlc/xgboost/files/6525739/cpupredict_segfault2.zip)

[code]

[2021-05-22 06:25] hcho3 commented on #6980
I am sorry to hear about your trouble. To help us identify the root cause, I will ask you a few questions.

Have you run into this issue in multiple machines? Or is it specific to your workstation? So far I have not run into this issue myself; our testing server runs the XGBoost code multiple times over and it does not freeze.

Please post your training script so that we can run it ourselves and s

[2021-05-22 08:55] chestergan commented on #1715
Legend!

[2021-05-22 15:06] wingedskull commented on #6980
Hello Philip
Thanks for an immediate answer. Sending you the code (Python for sake of compatibility) and data in zip.
Once more: GPU is engaged.
About run times (for you - to estimate the ratio). First Run: 35 sec, fastest of the next runs: 56.2 sec.
Switching to uniform and hist (core i5 - 4 cores + 4 hyperthreds) gives 14.5-15.5 sec
We are using Random Forest and boosted Random Forest params sug

[2021-05-22 15:17] wingedskull opened #6981 "R: xbg + foreach + doParallel"
Hello
Sorry for reporting one more issue, decided no to do it the same day :)
After installing foreach + doParallel trying to run xgboost causes message:

[2021-05-22 18:29] pseudotensor commented on #6973
Roughly speaking, the off by 1 problem is one has an eval_set, but n_estimators is (say) 100.  Then if it happens that no early stopping was hit, all 100 trees should be built.  However, best_ntree_limit comes back as 100.  However, this is supposed to indicate the tree index, not the tree count.  At least it used to.  So then it should have come back as 99, not 100.

There's some different handli

[2021-05-22 19:16] trivialfis commented on #6981
Could you please provide a more detailed setup and an example code that we can debug?

[2021-05-22 19:17] #6978 closed

[2021-05-22 19:22] trivialfis commented on #6973
Thanks for the reproducible example!

TD-DOs
- [ ] Check validity of iteration range. (it's used internally even if it's `ntree_limit`)
- [ ] Better tests for all cases.

[2021-05-22 19:34] wingedskull commented on #6981
Hi again
Sending zipped file. Number of loops in it is set to 1 now, so no long runs.
R: a couple of last night builds with gpu support.

xgb was installed first. Then, later - foreach and doParallel through pip. Tried to run - appeared messages.
Re-installed even newer night build for xgb. - Nothing changed. For the moment keeping everything as-is, none of libraries removed till your comments.

R

[2021-05-22 19:50] trivialfis commented on #6973
I tried on 1.0.0 and don't think that's the case.  But it's a confusing parameter anyway, I think a better alternative is the `iteration_range` or model slicing, which has a consistent meaning.  For reproducing the behavior of XGBoost on returning `best_ntree_limit` when no early stopping has occurred, here's my very casually written snippet:
[code]

[2021-05-22 21:51] hcho3 commented on #6981
Are you using e-mail to reply? GitHub ignores e-mail attachments. Please use your web browser to upload files to this issue thread.

[2021-05-22 22:21] wingedskull commented on #6980
[xg-test.zip](https://github.com/dmlc/xgboost/files/6527245/xg-test.zip)
Sending it here

[2021-05-22 22:22] wingedskull commented on #6981
[R-issue.zip](https://github.com/dmlc/xgboost/files/6527246/R-issue.zip)
Here it goes

[2021-05-24 06:04] harupy opened #6984 "Make dev python package version match the scheme defined in PEP 440"
This is NOT an issue but more like a proposal. The dev version of python package currently looks like this:

https://github.com/dmlc/xgboost/blob/81bdfb835d0d0244c86649e74d2dc3c00beb3942/python-package/xgboost/VERSION#L1

The `packaging` library fails to parse this since it doesn't match the scheme defined in `PEP440`.

[code]

So I think `-SNAPSHOT` should be replaced with `-dev`:

[code]

### Mo

[2021-05-24 16:46] wingedskull commented on #6980
Hello to the developers team.
Were you able to execute an example code several times, looking at how it works, including GPU/CPU?
For the moment is you could confirm the case - will be very important.
I just hope that it is really the issue when resources were allocated, context created but due to changes in trees some of them are not de-allocated where it should.
But also the presence of context

[2021-05-24 19:05] pseudotensor opened #6989 "xgboost.core.XGBoostError: [14:37:47] /workspace/xgboost/src/tree/updater_gpu_hist.cu:533: Check failed: out_preds_d.DeviceIdx() == device_id (-1 vs. 0) :"
There is some change in behavior in xgboost over last few months.

I can't tell what the error really means, but it is easily reproducible.

[code]

[X.zip](https://github.com/dmlc/xgboost/files/6534508/X.zip)

[code]

[2021-05-24 19:32] pseudotensor commented on #6973
But I guess it was removed for dask, so API is not quite consistent.  makes it harder to use.

[code]

[2021-05-24 21:21] pseudotensor opened #6990 "Unsupported data type for inplace predict."
Dask API I guess changed some from Dec 2020 till now.  I'm trying to understand this one.

I'm still trying to construct repro, but I can't tell what the problem is.  It sounds like dask API changed so that only inplace prediction is allowed, and somehow that means some types of more flexible inputs are no longer allowed?

I'm just passing normal dask from, like I have been, to the predict.  The f

[2021-05-24 23:10] pseudotensor opened #6991 "can't load dask model from non-dask model"
Related to https://github.com/dmlc/xgboost/issues/6547 and the related PR: https://github.com/dmlc/xgboost/pull/6582/files, something changed so the code fragment I shared there no longer works.  The shape of predictions gets messed up.

I noticed this: 47b62480af9fefaca3116488c29126265773e2b4 specifically https://github.com/dmlc/xgboost/commit/47b62480af9fefaca3116488c29126265773e2b4#diff-56b2615

[2021-05-25 00:16] trivialfis commented on #6989
This is in the master branch, fix is pending on https://github.com/dmlc/xgboost/pull/6971 .

[2021-05-25 00:33] trivialfis commented on #6990
Your example doesn't reproduce the issue.  The error in your backtrace should happen only when you are calling `inplace_predict` directly, and have set `predictor` to something that doesn't match your input data (cpu vs gpu).  This should not happen in sklearn interface since `inplace_predict` wouldn't be used if you have set the `predictor` parameter.

[2021-05-25 00:34] trivialfis commented on #6973
It was never on dask interface.

[2021-05-25 00:42] trivialfis commented on #6991
I tried to come up with a reproducible example by modifying this test: https://github.com/dmlc/xgboost/blob/cf06a266a8256e55a0644ae48d02ce71bb1e020e/tests/python/test_with_dask.py#L1370

So far I can't reproduce your issue.  The following script is modified from the test with `predict` changed to `predict_proba`.

[code]

[2021-05-25 00:47] trivialfis opened #6992 "[CI] Jenkins Windows build is failing non-deterministically"
https://xgboost-ci.net/blue/organizations/jenkins/xgboost-win64/detail/PR-6982/2/pipeline/

cc @hcho3

[2021-05-25 00:53] trivialfis commented on #6973
Just to clarify a little bit, on Python predict, there's *no* breaking change.

[2021-05-25 01:09] trivialfis commented on #6980
I'm looking into them today.  Thanks for the patience.

[2021-05-25 01:28] trivialfis commented on #6980
Running it in a bash loop.  Will update the progress once it's finished.

[2021-05-25 01:39] trivialfis commented on #6980
Ran it 32 times with Python loop on CUDA 11, so far I haven't been able to reproduce it. Log and modified code are attached below.  The code changes are:

- "hist" -> "gpu_hist"
- Added for loop.

[code]
[code]

[2021-05-25 01:51] wingedskull commented on #6980
First thing to ask. Do you have nVidia GPU? If yes, which driver you are using?
Second thing: can you share the xgb build which you are using?
I want to check both things, since your machine definitely uses GPU correctly.

[2021-05-25 01:52] wingedskull commented on #6980
BTW.
Try, pls to use 'gradient_based' or explain me well why I should not use it?

[2021-05-25 01:58] trivialfis commented on #6980
Yes.  Ubuntu 20.04 with driver 460.73.01.  Also:
[code]

The commit I used 7e846bb9652bb263414a49257fc6b9327ef848d3  since you mentioned you have compiled from source without listing the commit you are using.  I can try other commits too if you have specific one in mind.

Just trying to run your script with minimum amount of changes, changed to gradient and running, right now the result looks pret

[2021-05-25 02:09] trivialfis commented on #6981
I think the correct name of that parameter is `max_depth`, not `maxdepth`.

[2021-05-25 02:39] pseudotensor commented on #6973
Well, to clarify, before ntree_limit was ignored.  Now things fail.  So it's still kind of breaking, right?

But why not just apply what iteration_range should be when user passes ntree_limit?

[2021-05-25 02:40] wingedskull commented on #6981
Yes. My mistake. But maybe it indicates that its is reasonable to set alias "maxdepth" too?
I guess that I am not the only person writing it this way.
Thanks

[2021-05-25 02:40] #6981 closed

[2021-05-25 02:41] pseudotensor commented on #6990
Yes, I specifically said I can't reproduce.  I said I gave example that has same parameters and data and choices.

I'm not calling inplace_predict directly.  I'm only using sklearn API.

[2021-05-25 03:05] hcho3 commented on #6992
Will fix it this week.

[2021-05-25 03:14] wingedskull commented on #6980
Important!
The same driver.
Made 2 things:
1) Pushed GPU from auto mode to performance mode always
2) Installed the latest night build for python
Executed under python 3: stable times, quite fast for my weak GPU
Tried python 2: stable times, but nearly 2 times slower... and a bit lower accuracy (1%) for the same code and conditions.
Thus, started under python3 again. And guess what: execution time

[2021-05-25 03:23] hcho3 commented on #6980
It appears that the issue is specific to your machine. Consider renting GPU-enabled machines from cloud services, such as Amazon EC2.

[2021-05-25 03:25] trivialfis commented on #6973
The parameter doesn't exist in 1.3 https://github.com/dmlc/xgboost/blob/963a17b7717c0a43f96edb5695924aa8648c155a/python-package/xgboost/dask.py#L1140

We added it in 1.4 to avoid warning from inheritance.

It's never supported on dask, I don't see obvious reason for supporting it after its deprecation.

[2021-05-25 03:27] wingedskull commented on #6980
Jupiter uses Python 3 by default, so you never saw the issue.
I will use xbg under Python 3 only. But the issue is detected, so I highly recommend inserting the check for Python version, blocking GPU!!! under Python2

[2021-05-25 03:27] #6980 closed

[2021-05-25 03:28] hcho3 commented on #6980
XGBoost actually never supports Python 2. `pip install xgboost` will fail if you use Python 2.

[2021-05-25 03:29] trivialfis commented on #6980
I'm not entirely sure how you run xgboost under py2, there should be a lots of syntax errors ..

I will add the check, thanks for the suggestion!

[2021-05-25 03:32] trivialfis commented on #6981
Let's avoid inventing words.  :-). I think the warning is sufficient for now.

[2021-05-25 03:37] trivialfis commented on #6990
Could you please dump out the `model.get_booster().save_config()` right before running the problematic predict?

[2021-05-25 03:45] trivialfis commented on #6990
Will try to reproduce it today.

[2021-05-25 05:03] superfan123 opened #6993 "CPU performance better than GPU"
I use same code/data/KPI and train XGB model, CPU(dual xeon 2690 V3) model perform better than GPU(GTX 1070) in term of GINI. (system is Ubuntu 20.4, XGB is V1.14 from Rapids)
CPU Gini is 0.30792, GPU Gini is 0.30667. So this is material difference.
I can reproduce my GPU/CPU results with no problem, so both model results are not affected by any system random issue.
Is anybody experience the same

[2021-05-25 05:57] pseudotensor commented on #6990
https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.5.0_SNAPSHOT%2B2320aa0da23ed29610a3bd58cba9a1fe481e443a-py3-none-manylinux2010_x86_64.whl

Using this snapshot.

[code]

[code]

Then doing the .compute() leads to:

[code]

[2021-05-25 06:00] pseudotensor commented on #6990
Thanks.  I will try to see which hash caused it.

[2021-05-25 06:15] pseudotensor commented on #6990
BAD: https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.5.0_SNAPSHOT%2B2320aa0da23ed29610a3bd58cba9a1fe481e443a-py3-none-manylinux2010_x86_64.whl
GOOD: https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.4.0_SNAPSHOT%2Bd8ec7aad5a9a3eb580c55680aee8ad1a975cba20-py3-none-manylinux2010_x86_64.whl
BAD: https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.

[2021-05-25 10:47] trivialfis commented on #6993
It depends on the size of your data and inputs.  Would you like to share your datasets so we know where to optimize?

[2021-05-25 10:49] trivialfis commented on #6990
Thanks for finding the diff.  That PR modifies XGBoost to use inplace predict by default on sklearn interface.  I see the `predictor` is set to `gpu_predictor`, in which case XGBoost should use normal prediction.  I'm not entirely sure why yet.

[2021-05-25 11:48] #6992 closed

[2021-05-25 14:08] wingedskull commented on #6980
I mean <python> and <python3> as a command. p3 - fine, just p - problems

[2021-05-25 15:24] #6973 closed

[2021-05-25 16:44] superfan123 commented on #6993
Sorry this is a private dataset. But in general should I expect the CPU and GPU results be same? Or should I use a GPU with ECC memory? I noticed two system can get different results even they run the same dataset and exactly same setting.

[2021-05-25 18:17] pseudotensor commented on #6973
I see, I probably filtered out non-existing parameters automatically.

[2021-05-25 18:19] pseudotensor commented on #6990
Did the output of `model.get_booster().save_config()` above help?  Also, the error literally makes it seem the frame type is wrong.  But what frame type (at that point) is allowed vs. not allowed?  I'm just asking to see if I can understand what is happening to better find a repro.

Thanks!

[2021-05-25 18:38] trivialfis commented on #6993
They will have slightly different results due to implementation differences and floating-point errors.

It would still be a great source of info if you can share some properties of your datasets, for example, sparsity, shape.

[2021-05-25 18:44] trivialfis commented on #6990
I managed to reproduce it in a weird way:

[code]

See the line before running predict_proba.  I'm not sure if that's your case.

[2021-05-25 18:51] trivialfis commented on #6990
Aside from the above reproducible example, I suspect that this is related to https://github.com/dmlc/xgboost/issues/6991 .  There might be some mixups in your code that somehow native `Booster` and `sklearn.XGBClassifier` are loading each other.

[2021-05-25 19:04] pseudotensor commented on #6990
It's possible.  We fit in one fork, and can sometimes predict in another fork.  So we have to pickle between.  And we tend to set some parameters of the booster that usually get lost (kinda related to n_classes_ going missing).

However, in this case, this is a direct dask use.  I'm not converting from dask to non-dask, so that #6991 is not directly relevant.

[2021-05-25 19:11] trivialfis commented on #6990
N classes should be preserved as mentioned in the other issue.  See the test I posted there.

There's is no problem on setting it with the standard `set_params` function from skl interface.  Also setting it in constructor is also fine.  Pickle is also tested.

I reproduced the issue only when one tries to set the parameter bypassing skl interface.  Could you confirm that's the case?

[2021-05-25 19:14] trivialfis commented on #6990
The only possible explanation I have got so far, is you have trained a model using `xgb.dask.train`, then load it with `xgb.dask.DaskXGBClassifier`.  Then the behavior is undefined.

[2021-05-25 19:20] pseudotensor commented on #6990
No, I don't use xgb.dask.train, or load models with xgb.dask.<sklearn API classes>.

I do similar to what you showed and what I showed.

1) fork
2) fit with dask
3) pickle the model to file
4) complete fork
5) fork (or be on new system entirely, maybe with no GPUs anymore)
6) load the pickle
7) set some things that got lost or got changed since not stored in pickle.  In past this has been things l

[2021-05-25 19:23] trivialfis commented on #6990
Thanks for debugging on this.  I think at this point it would be great to focus on the other issue first.  We run extensive tests to ensure nothing is lost during pickle.  I'm quite surprised that's not the case in your environment.

[2021-05-25 19:50] pseudotensor commented on #6990
Yes, super, so this repros:

[trains.zip](https://github.com/dmlc/xgboost/files/6541981/trains.zip)

[code]

[code]

[2021-05-25 19:53] trivialfis commented on #6973
Thanks for raising the issue, more test cases are appreciated!

[2021-05-25 20:01] trivialfis commented on #6990
Thanks for confirming.  I can fix it in a PR.  But for general usage, I would suggest avoiding interleaving calls to different interfaces.

The `set_params` from sklearn is quite complicated, it inspects Python constructor with `inspect` using runtime reflection and other dart arts ...  The `set_params`/`get_params` in XGBoost wraps around the one from sklearn and does some more magic to ensure co

[2021-05-25 20:05] pseudotensor commented on #6990
As for the reason why we set things.

1) At least in past, setting the model state directly had no effect, it didn't change what booster had.
2) We haven't had issues with setting booster properties for non-dask models
3) The origin of the problem was the use of the pickled model can be on a system with change in GPUs or CPUs.  An example original issue: ttps://github.com/dmlc/xgboost/issues/4494

[2021-05-25 20:11] trivialfis commented on #6990
Got it.  I will see if I can make sure of the consistency between internal parameters and sklearn object attributes.

In current version, use `XGBClassifier.set_params` or constructor.  These 2 are the only valid ways to set parameters.

[2021-05-25 20:12] pseudotensor commented on #6990
Will those funnel down to the booster assignment?

[2021-05-25 20:15] trivialfis commented on #6990
Yes, both go to `Booster.set_param`.  But as mentioned, before that we have to go through some other things to ensure consistency.

[2021-05-26 01:43] jnoorman opened #6999 "libxgboost.so: undefined symbol: XGBoosterGetStrFeatureInfo"
After compiling 1.5.0 with -DUSE_CUDA = on for Unbuntu 20.04 and installing fir python I get the following attribute error.

[code]

I have found this on stack overflow referring to the same attribute:
https://stackoverflow.com/questions/67634576/how-fix-attributeerror-dlsym0x7fa8b0814da0-xgboostergetstrfeatureinfo-symbo

[2021-05-26 02:00] superfan123 commented on #6993
the dataset has 5 million records with 35 columns. Less than 5 percent missing value and very low sparsity. most of the column are double float.  The difference start right out of the gate from first tree.

[2021-05-26 06:58] pseudotensor commented on #6561
We are just finishing py38+rapids0.19.2 etc. upgrade and will be trying to see if have these dask problems still.

Yes, I'll avoid AUCPR for dask for now.

[2021-05-26 07:41] trivialfis commented on #6999
What compiler are you using?  Also, can you confirm that the libxgboost.so file is the one you have just built?

[2021-05-26 12:48] jnoorman commented on #6999
Thanks for the reply.  There are no other copies of libxgboost.so installed.

[code]

[2021-05-26 13:23] trivialfis commented on #6999
If `libxgboost.so` is correct then you might be seeing a compiler bug.  The function is defined here: https://github.com/dmlc/xgboost/blob/86e60e3ba8c7e384da7aecd4e77e2518f5ff7f08/src/c_api/c_api.cc#L1050

And somehow it's not exported in `libxgboost.so`.  I can't be sure for the moment, but if you want to use latest branch you can try our nightly build.

[2021-05-26 14:25] karunrao97 opened #7002 "Colsample performance when using tree_method=hist"
In general, I would expect usage of colsample_by_* parameters to improve training speed (per tree), since we do not need to consider all features when evaluating splits. For my use case, however, I do not observe this.

Using tree_method=hist and grow_policy=depthwise, I see that most of the time is taken in building histograms (I profiled QuantileHistMaker::Builder<GradientSumT>::ExpandWithDepthW

[2021-05-27 01:10] jnoorman commented on #6999
I checked that there were no cached copies on the system, I cloned the nightly and the now have another error.

[code]

[2021-05-27 08:06] #6984 closed

[2021-05-27 08:08] #6908 closed

[2021-05-27 08:09] trivialfis commented on #6999
What data are you passing in?

[2021-05-27 08:19] trivialfis commented on #6999
The data type you passed into XGBoost has a wrong typestr defined in https://docs.scipy.org/doc/numpy-1.13.0/reference/arrays.interface.html#__array_interface__

[2021-05-27 08:28] trivialfis commented on #6999
Or is it something like float 16 or float 128?

[2021-05-27 08:42] jnoorman commented on #6999
The core app has not changed all values are np.float16, the model works with v1.3.3 no gpu which is the default conda installed xgboost lib.  Thanks.

[2021-05-27 08:52] trivialfis commented on #6999
Ah ..  I get it now.

We changed XGBoost to consume data directly in the last version to reduce memory consumption.  So right now XGBoost is trying to access the internal memory of numpy directly.  It doesn't support types that are not defined in C.  I will create a PR to workaround it.

[2021-05-27 09:15] jnoorman commented on #6999
Thanks, let me know if I can help, I am assuming you were referring to v1.4 and above?

[2021-05-27 09:17] trivialfis commented on #6999
Yup.  Before 1.4, everything is converted to f32 first, then make a CSR internal representation.  In 1.4 we tried to eliminate these 2 copies (3 if it's an array slice).  But didn't make the support for types that are not defined in c.

[2021-05-27 12:38] trivialfis commented on #6975
https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-7003/3/pipeline
[code]

[2021-05-28 00:48] pseudotensor commented on #6991
The work-around of setting n_classes_ after loading the pickle works fine.

[2021-05-28 00:48] #6991 closed

[2021-05-28 01:19] pseudotensor opened #7004 "Different dask vs. non-dask training even on 1 worker, 1 chunk, 1 n_jobs"
Kinda related to: https://github.com/dmlc/xgboost/issues/6553

Summary:

1) Dask is ignoring iteration_range
2) Dask does not agree with non-dask -- this is just 1 "GPU" case (really runs on CPU using GPU worker) case, nothing hard for dask to handle.  And used to work.
3) non-dask also has problem of looping to wrong predictions at end of iteration_range

[code]

[bad_dask.pkl.zip](https://github

[2021-05-28 01:44] trivialfis commented on #6991
Do you have a reproducible example?

[2021-05-28 01:49] pseudotensor commented on #7004
In this code:

![image](https://user-images.githubusercontent.com/2249614/119917804-18bd9800-bf1c-11eb-8dbf-c02af778c021.png)

iteration_range seems to not be passed always.

E.g. In next step, it comes to core.py's Booster.predict and then iteration_range is back to (0,0) even if before dask was called it was (0, 30)

![image](https://user-images.githubusercontent.com/2249614/119917915-502c4480-b

[2021-05-28 02:08] pseudotensor commented on #6991
No, but maybe it's related to some other things like the mix between how some things are set, and that ruins things.  Not sure.  Have other issues that are more important, like dask prediction issue: https://github.com/dmlc/xgboost/issues/7004

[2021-05-28 02:57] trivialfis commented on #7004
Thanks for raising the issue.  Let's sort things through:

- Yup, there are missing parameters for prediction with DaskDMatrix.  Will submit a PR soon.
- (0, 0) is the same with `None`.  On sklearn interface it's using the best, on `predict` it's using all.  It's just being consistent with the previous `ntree_limit` implementation.  I don't want to break the heuristic silently.  After refactoring

[2021-05-28 04:41] jnoorman commented on #6999
Just to confirm I compiled 1.3.3 with gcc on unbuntu 20.04 with CUDA 10.1 using cmake .. -DUSE_CUDA=ON and it worked beautifully across the GPU's with tree_method='gpu_hist'.  I will wait until 1.5 is updated and close the issue.  Thanks for your help.

[2021-05-28 05:50] pseudotensor commented on #7004
Hi, can you  explain what you changed to be consistent and what was wrong with my version?

I still see the (new) inconsistency in our production code just switching versions of xgboost from old to new, nothing else different.  So I think there is still a problem, even if the repro code is not applicable.  But please explain why it was wrong.

[2021-05-28 06:26] pseudotensor opened #7006 "Slow dask predictions"
Related to codes in: https://github.com/dmlc/xgboost/issues/7004

[code]

gives:

[code]

Seems bad that dask is about 100x slower.  @trivialfis

[2021-05-28 06:31] pseudotensor commented on #7006
Here's your version of code:

[code]

[code]

[2021-05-28 06:49] pseudotensor commented on #7004
@trivialfis I'm not sure why you changed things in your script so that (basically) dask is not really dask.  Here is your version of script where dask is really using dask for data, training, and predictions:

[code]

and the result is:

[code]

There is no issue with workers or n_jobs or anything like that here.  There is is only one worker and n_jobs=1 and *still* there is mismatch.

[2021-05-28 06:52] pseudotensor commented on #7004
Here is to clarify with forcing 1 worker as process and n_jobs=1:

[code]

[code]

[2021-05-28 06:53] pseudotensor commented on #7004
If you think chunksize is problem, here is with 1 chunk on 1 worker on 1 process:

[code]

[code]

Still same problem.

[2021-05-28 11:48] trivialfis commented on #7006
Could you please take a look at: https://xgboost.readthedocs.io/en/latest/tutorials/dask.html#running-prediction and see if it helps?

2 things worth noticing in the referenced document:
- Consider using `inplace_predict` or using `predict` without `DaskDMatrix`.
- Consider scattering the model first.

Longer explanasion is in the doc.

[2021-05-28 11:52] trivialfis commented on #6993
Thanks for sharing, that should be finished within a second right?

[2021-05-28 11:59] superfan123 commented on #6993
No. The GPU will fit the model, just a little bit weak than the CPU fitted model. The GPU model has 108 booster and CPU model has 162 booster.

[2021-05-28 17:42] pseudotensor commented on #7004
Ok thanks.  The title is about predictions, but that's just because that's the only thing one can get out of the model state that shows what the model fit did given fixed parameters.  We could look at eval scores vs. iteration for fit only I suppose.

[2021-05-28 17:53] trivialfis commented on #7004
I usually save the models and run shasum to compare them.

[2021-05-28 20:52] #6990 closed

[2021-05-28 22:32] pseudotensor commented on #7004
@trivialfis Should re-open with corrected title.

[2021-05-29 01:38] hcho3 commented on #7004
@pseudotensor  #6711 appears to be an identical issue. The issue is the use of global random state.

[2021-05-29 04:54] pseudotensor commented on #7004
I don't think so.

In their case they see problems when they interleave training per boosting round, due to the global random seed.

However, in both my and @trivialfis 's version of code, there is no interleaving.  The training is block by block with a starting model given a random seed starting point.  While the non-dask sklearn and non-dask non-sklearn models perfectly agree.  Only the dask one

[2021-05-29 05:02] pseudotensor commented on #7006
Ok, just seems a bit extreme.

E.g. this version:

[code]

is just ridiculously slow.

[2021-05-29 05:12] pseudotensor commented on #7006
And note that in this code I'm *not* using dmatrix for prediction.  I'm just using dask dataframe.

[2021-05-29 06:39] trivialfis commented on #7006
Setting chunksize to 1 means you have `n_samples` partitions, than it means the `predict` function in xgboost is called `n_samples` times by dask.  It's gonna be slow.

The doc suggests it's a balance between throughput and latency.

The model is still pickled from the client process to the worker process.  You have specified the number of the worker process, there are still seperated client and s

[2021-05-29 07:12] trivialfis commented on #7004
If it's distributed, XGBoost uses `seed_per_iteration` by default.  Otherwise, it's the default seed.  The issue goes away if you remove the sampling.  The heuristic was set in 67747552 .

[2021-05-29 07:29] pseudotensor commented on #7004
It's not distributed if have 1 worker and 1 process and 1 chunk.  And even the very first iteration gives different predictions.

But you can see even if all sampling is off it's still there:
[code]

dask first/last iteration:

[code]

non-dask first/last:
[code]

No sampling:

[code]

[2021-05-29 07:39] trivialfis commented on #7004
Great!

That was the case with your previous script, not the current one.

I will take another look later next week.

[2021-05-29 08:34] pseudotensor commented on #7006
I don't see that change from pre-scatter as significant, it's within error of re-running over and over probably.

I'm basically trying to understand why a single threaded case is so much slower, regardless of chunk size.  It can be 10000X slower for chunksize=1 and 100X for chunk sizes approaching the maximum of 1 partition.

The model is super small, so pickle times should be small.  This can be

[2021-05-29 08:52] pseudotensor commented on #7006
In the scheduler console, every predict looks identical no matter the iteration_range.  So I don't think the model state is a problem, unless for every row prediction the model is being pickled, which is what I'm worried about.

![image](https://user-images.githubusercontent.com/2249614/120064149-b948b080-c01f-11eb-802f-0246f0a22ea4.png)

There seems to be always 1000 from_pandas and 2000 get_item

[2021-05-30 15:08] mvishruth opened #7008 "CentOS 7 xgboost install error"
while installing install.packages("xgboost") I'm running into this error.

`* installing *source* package ‘xgboost’ ...
** package ‘xgboost’ successfully unpacked and MD5 sums checked
** using staged installation
checking for gcc... gcc
checking whether the C compiler works... yes
checking for C compiler default output file name... a.out
checking for suffix of executables...
checking whether we ar

[2021-05-30 18:22] creat89 commented on #6955
For NDCG, and I'm guessing MAP too, the relevance scores must be integers. See:

https://github.com/dmlc/xgboost/issues/6352#issuecomment-735595924

or:

https://discuss.xgboost.ai/t/very-large-ndcg-result/1712

[2021-05-30 19:00] trivialfis commented on #7006
If you don't pre-scatter the model, XGBoost will do it for you inside the `predict` function: https://github.com/dmlc/xgboost/blob/816b789bf06864b37d3b2eacd4ce5d75fa3865cf/python-package/xgboost/dask.py#L1131  But it has to be done for every call to `predict`, so it's best if users can do it themselves.

You are partly right that it's 1 model pickle per chunk, but since we have scattered the model

[2021-05-30 19:30] trivialfis commented on #7004
Did a quick test, removing the configuration of `seed_per_iteration` can make bit-to-bit identical models between dask and native interfaces.  Right now we can assume they have differences, I will try to remove the `seed_per_iteration` if possible.  I'm not entirely sure what it does, seems to be related to a removed feature about model recovery.

[2021-05-30 19:35] trivialfis commented on #7008
We don't have the `-mtune` nor the `-march` in our compilation flags.  Could you try to find out who's adding those flags?

[2021-05-30 19:37] trivialfis commented on #7008
Maybe you are adding some environment variables like `CPPFLAGS`.  Try to clear them out.

[2021-05-30 19:37] #7008 closed

[2021-05-30 23:40] hcho3 commented on #4150
Fixed in #4147

[2021-05-30 23:40] #4150 closed

[2021-05-31 12:36] mvishruth commented on #7008
@trivialfis how and where should I find the flags to clear them can you help me. the only command i am running is.
install.packages("xgboost") in R

[2021-05-31 13:17] trivialfis commented on #7008
Type `env` in your terminal then it will return a list of environment variables.

[2021-05-31 13:22] mvishruth commented on #7008
MANPATH=/krb5/man:
XDG_SESSION_ID=26989
HOSTNAME=hc9t08474
SELINUX_ROLE_REQUESTED=
TERM=xterm
SHELL=/bin/bash
DISTVER=CentOS7
HISTSIZE=1000
SSH_CLIENT=16.116.142.154 51404 22
VMvendor=vmware
SELINUX_USE_CURRENT_RANGE=
QTDIR=/usr/lib64/qt-3.3
QTINC=/usr/lib64/qt-3.3/include
V1CLOUD=y
SSH_TTY=/dev/pts/0
QT_GRAPHICSSYSTEM_CHECKED=1
HISTFILESIZE=1000
http_proxy=proxy.houston.hpecorp.net:8080
USER=muth

[2021-05-31 14:09] trivialfis commented on #7008
Sorry, I can't be sure who's adding those flags in your environment.  You will have to debug it yourself.  If I were you I would try to look at things like which gcc is being invoked, or try to install XGBoost from its repository.

[2021-05-31 14:10] trivialfis commented on #7008
Also, if the gcc doesn't come from centos, it may be wrapped by another script.

[2021-06-01 00:34] #6999 closed

[2021-06-01 02:07] jnoorman commented on #6999
Resolved.  Complied and executing with no errors of Unbuntu 20.04, CUDA=10.1.  Thanks heaps.

[2021-06-01 06:14] NiDHanWang commented on #5850
But I got soemthing bigger than 1 , this doesn't seem to be probabilites

[2021-06-01 08:10] NiDHanWang opened #7010 "Output of XGBClassifier.predict_proba() is over 1.0"
Here's my code:
[code]
And I got something like:
[code]
This confused me.According to the documentation, the output of XGBClassifier.predict_proba should be the probability, but the output above is far bigger than 1.0 and does not seem to be probability at all.

Did I misunderstand the XGBClassifier.predict_proba func or something  goes wrong here?

[2021-06-01 08:13] hcho3 commented on #7010
Can you use `objective="binary:logistic"` instead?

[2021-06-01 09:47] trivialfis commented on #7010
@hcho3 Can we consider deprecating the raw logistic objective?

[2021-06-01 09:57] NiDHanWang commented on #7010
It works,thanks!

[2021-06-01 09:57] #7010 closed

[2021-06-01 20:07] hcho3 opened #7013 "[CI] Use mamba to speed up Conda env setup"
Replacing `conda create` with `mamba create` significantly speeds up the creation of the Conda environment, often by 2-5x.

[2021-06-02 01:00] jmoralez commented on #6816
Hi. I'd be happy to give this a go, just have a couple of questions on the scope.
1. Should this target only the tests that take in a `client` fixture or every test that builds a cluster?
2. The main component is creating a cluster fixture that lives throughout the tests. What should the client be?
    * A fixture that uses the cluster fixture.
    * Define `client = Client(cluster)` in every test

[2021-06-02 06:07] FelixYBW opened #7014 "[XGBoost4J-Spark] Model trained on Spark has much lower AUC than the one on pandas/dask/modin using some dataset"
Root cause is still not identified.  But it's not because of null values, because there is no null value in the dataset. missing is set to 0.0.
I encountered the issue on Mortgage (AUC 0.50 vs. 0.92) and RecSys (AUC 0.63 vs. 0.78) dataset.
Interestingly with our arrow+xgboost optimization, the model is the same as pandas. So it's very possible due to the Sparse vs. Dense data format.

Does anyone

[2021-06-02 08:10] trivialfis commented on #7014
@wbo4958 Do you have any insight?

[2021-06-02 14:13] ShvetsKS opened #7016 "continue refactoring: cpu enable_feature_grouping parameter is possibly useless"
Hi, after running several benchmarks I noticed that there are no any benefits (in terms of accuracy and/or especially performance) from usage of `enable_feature_grouping` parameter in cpu branch:

training time:
| dataset| enable_feature_grouping: 0 | enable_feature_grouping: 1 |
| ------------- |-------------| -----|
| airline-ohe  (1m rows) | 36.37s | 860.75s |
| higgs (1m rows) | 15.46s | 108.1

[2021-06-02 14:43] AlfredSAM opened #7017 "Fail to install xgboost R package from source inside conda environment under MacOS (big sur)"
Hello! Xgboost only uses ONE thread (core) under MacOS if it is installed using general `install.packages("xgboost")`. The solution is to install xgboost R package from source as indicated in https://xgboost.readthedocs.io/en/latest/build.html#installing-the-development-version-linux-mac-osx. Of coz, I also install
[code]
at first, and then follow the above instructions to build the xgboost R pack

[2021-06-02 14:48] AlfredSAM commented on #7017
Supplements for the installation with the revised `FindLibR.cmake` are as follows:

[code]

Sorry for the incomplete information.

[2021-06-02 17:10] trivialfis commented on #7016
It's supposed to handle sparse dataset created by one hot encoding I think?  @hcho3

[2021-06-02 17:20] hcho3 commented on #7017
Conda-forge provides the XGBoost R package: https://anaconda.org/conda-forge/r-xgboost-cpu. Can you try installing it with `conda install -c conda-forge r-xgboost-cpu`?

[2021-06-02 17:22] hcho3 commented on #7017
Also, according to https://xgboost.readthedocs.io/en/latest/install.html#r, it should be sufficient to run `install.packages("xgboost")`. It should make use of `libomp` automatically.

[2021-06-02 17:23] hcho3 commented on #7016
@trivialfis I crreated it to mimic the Exclusive Feature Bundling (EFB) feature in LightGBM, as described in https://papers.nips.cc/paper/2017/file/6449f44a102fde848669bdd9eb6b76fa-Paper.pdf. It's an experimental feature that really didn't work out.

[2021-06-02 17:42] ShvetsKS commented on #7016
I tested on airline one hot encoded and it didn't work well (first line of the table)

[2021-06-02 17:45] hcho3 commented on #7016
I suggest we remove `enable_feature_grouping`.

[2021-06-02 17:52] ShvetsKS commented on #7016
@hcho3 Thanks for fast decision!
I can prepare PR in a few hours

[2021-06-02 19:04] FelixYBW commented on #7014
It's solved. Spark output probability and prediction but Pandas etc. output probability. I wrongly compare roc_auc_score(prediction) vs. roc_auc_score(probability).  If I compare probability on both side, the score is very close.

probability=df.select(F.col("label"),(vector_to_array("probability")[1]).alias("pred")).toPandas()

[2021-06-02 19:04] #7014 closed

[2021-06-02 21:08] pseudotensor opened #7019 "dask multinode: /workspace/xgboost/src/tree/updater_gpu_hist.cu:794: Exception in gpu_hist: NCCL failure :unhandled system error /workspace/xgboost/src"
@trivialfis We got done with upgrading to latest python3.8 + rapids 0.19.2 and all basic things working, including dask on single node.  I'm now testing multinode and it seems worse than before.  I immediately get the below error:

1) 2 nodes, 2 GPUs on scheduler, 1 on worker (https://github.com/dmlc/xgboost/issues/6397): CRASHES
OR
2 nodes, 1 GPU on scheduler, 1 on worker :CRASHES
[code]

This wa

[2021-06-02 23:07] trivialfis commented on #7019
Could you please share the script you are running?  Also please share the nccl version

[2021-06-02 23:07] #7016 closed

[2021-06-02 23:40] pseudotensor commented on #7019
[code]

[2021-06-03 04:52] pseudotensor commented on #7006
Thanks for the report.  My expectation is that in the limit of 1 prediction per row, 1 worker, 1 thread, n_jobs=1, and 1 partition, we should be able to identify the source of all timing leading to the total time of a predict call on a frame.  That should be closest to just native prediction.

Of course, if each worker has alot of work to do, like HIGGS with alot of data per worker's predict, then

[2021-06-03 06:04] pseudotensor opened #7021 "TypeError: Expecting <class 'dask.dataframe.core.DataFrame'> or <class 'dask.array.core.Array'>. Got <class 'cudf.core.dataframe.DataFrame'>"
[code]

[dask_model_7057781c-8d70-4bed-b21b-126deb380a26.pickle.zip](https://github.com/dmlc/xgboost/files/6589284/dask_model_7057781c-8d70-4bed-b21b-126deb380a26.pickle.zip)

[code]

I don't really understand this message.  This exact code worked before on older 1.3 releases of xgboost and was part of older issues.  Why doesn't it still work?

I encountered actually several of these kinds of prob

[2021-06-03 06:22] pseudotensor commented on #7021
This fails in similar way.  Above I can imagine has issues now because the .compute() from dask returned cudf always or something, but here I'm converting back to pandas and still get same failure
[code]

[code]

[2021-06-03 06:23] pseudotensor commented on #7021
Ah, my kwargs had cudf still.  I guess I'll just live with the changes.

[2021-06-03 06:23] #7021 closed

[2021-06-03 07:11] trivialfis commented on #7021
You need to make sure the data being dask collection.  Which backend (pandas, cudf) doesn't matter.

[2021-06-03 07:40] asam46 commented on #7017
Thanks @hcho3 ! Well, actually I tried both methods before but they fail to employ multi threads in use.
Let's check the benchmarks using the system-wide R with xgboost R package built from source. As expected, multi threads are allowed to work as follows:

[code]

On the other hand, for some  conda based on
[code]
installing `xgboost` using `conda install -c conda-forge r-xgboost-cpu` CANNOT allo

[2021-06-03 07:46] trivialfis commented on #7006
I prefer 0.0368 second overhead than 30x slower in this case.

I can come up with a few reasons.
- From dask interface we need to transfer the column names and data shape for each partition, so here are the communication overhead. `n_samples`.  ;-)
- For each partition, since you are not using inplace_predict, we need to create `DMatrix`, which means we have created n_samples DMatrix instances.
-

[2021-06-03 07:55] trivialfis commented on #7019
So far I haven't been able to reproduce it with compute-sanitizer.  I tried empty dataset and non-empty dataset, snmg and mnmg.

[2021-06-03 10:27] RAMitchell commented on #7006
Dask is really not built for low latency.

[2021-06-03 10:28] trivialfis commented on #7019
How did you compile XGBoost?

[2021-06-03 11:12] trivialfis commented on #7019
I can't be entirely sure yet, but this might be caused by symbol collision between libraries, pushed some changes into https://github.com/dmlc/xgboost/pull/6798

[2021-06-03 11:40] trivialfis commented on #6975
Now that lossguide and depthwise is partially merged, let's see if we can close this one.

[2021-06-03 15:26] mvishruth commented on #7008
anybody who has finished installing xgboost on centos7?

[2021-06-03 17:13] pseudotensor commented on #7019
I didn't get chance to give repro yesterday, I hope today.

[2021-06-03 17:18] pseudotensor commented on #7006
Latency is not an issue for the 1 partition case, which is still 30-100x slower.

[2021-06-03 17:24] trivialfis commented on #7019
@pseudotensor Maybe you  can try https://github.com/dmlc/xgboost/pull/6798, and compile XGBoost with `-DHIDE_CXX_SYMBOLS=ON`.

[2021-06-03 18:57] pseudotensor commented on #7019
So for the multinode case:

I don't have an isolated repro yet, but I can produce the problem in pycharm and reproduce it every time.

So one observation is that if I put a break point at the place of failure when the sklearn model.fit() is called, and open an evaluate window to call model.fit(), then it fails with the NCCL error.  However, since this is no longer fatal in xgboost, just a python e

[2021-06-03 19:05] hcho3 commented on #7017
Got it. I'm out of ideas. The OpenMP support in MacOS has been a sticky point for a while and even with `libomp` there are some use cases that falls through the crack, such as yours. Feel free to share your insights once you figure something out.

[2021-06-03 19:35] pseudotensor commented on #7019
Ok here is repro:

On node A:
[code]
One node B:
[code]

[code]

[foo.zip](https://github.com/dmlc/xgboost/files/6593835/foo.zip)
[code]

[2021-06-03 20:18] pseudotensor commented on #7019
Hi, I tried that and it had no effect.  The exact same error was produced.

[2021-06-04 07:15] trivialfis commented on #7019
At least this is gone:
[code]

Another error is weird, I managed to reproduce a nccl failure but it fails during init complaining peer communication is not allowed.  Im not sure what's the root cause.

[2021-06-04 07:54] asam46 commented on #7017
After several trials, I figure out a method to solve this problem even though it is not that elegant. First, after the installation of `libomp` via
[code]
`OpenMP` should be available for MacOS, so that for system-wide R installation of xgboost from source can successfully make `multi-threads` available. Therefore, the problems should be the compilation process when installing `xgboost` within the

[2021-06-04 08:55] asam46 commented on #7017
Another remark here is about installation of xgboost python package within **conda environment**. The short finding is that with `libomp` installed using
[code]
then installation using `conda install -c conda-forge xgboost` can make `multi-thread` **available**. In my experiment, I also employ `mkl` to accelarate `numpy`, just like what I set for **conda environment of R**:
[code]
and then install

[2021-06-04 09:24] trivialfis commented on #7019
Here's a quick progress update:

I managed to reproduce a nccl failure on my local system with 1080TI + 1080, without nvlink.  But it works on other configurations including 2xGTX8000 and 2xV100 on multi-nodes.  The error is:
[code]

I will try to ask for help from dask-cuda.

[2021-06-04 09:42] trivialfis commented on #6511
Replaced by https://github.com/dmlc/xgboost/issues/6975

[2021-06-04 09:42] #6511 closed

[2021-06-04 10:07] trivialfis commented on #7019
Submitted an issue to dask-cuda https://github.com/rapidsai/dask-cuda/issues/639

[2021-06-04 11:53] #6671 closed

[2021-06-04 13:20] bridgream opened #7022 "Extending External Memory with Iterator-based Interface"
I am currently working on extending the external memory feature to allow the construction of DMatrix from multiple binary data files. The current implementation only allows reading data from a single text file (csv and libsvm), which can be impractical with large datasets. Early experiments show that, the impact on performance is insignificant if caching data to SSD and training on CPUs.

This is

[2021-06-04 15:56] awcchungster opened #7023 "Callback Access"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

With the [new callback format](https://github.com/dmlc/xgboost/blob/29d6a5e2b8ce3ae3cc5db4a25ea69

[2021-06-04 15:57] awcchungster commented on #7023
Moving to discuss forum.

[2021-06-04 15:57] #7023 closed

[2021-06-04 17:18] trivialfis commented on #7022
Thanks for submitting the issue.  I plan to introduce a similar feature to XGBoost by this working in progress branch: https://github.com/trivialfis/xgboost/tree/external-iterative-dmatrix Also I talked to @RAMitchell about this feature and possibly replace the current implementation of external memory (which is rusty and limiting).

Right now my branch is just a proof of concept, I have a simple

[2021-06-04 19:39] trivialfis commented on #6476
Tested are added.

[2021-06-04 19:39] #6476 closed

[2021-06-04 19:42] #5798 closed

[2021-06-04 19:52] trivialfis commented on #6637
Closing as pyspark is not supported.

[2021-06-04 19:52] #6637 closed

[2021-06-05 09:19] trivialfis commented on #6397
I suspect this is caused by the same issue of https://github.com/dmlc/xgboost/issues/7019 .  Just tested with various node configurations on V100 clusters and they work fine.

[2021-06-05 09:38] trivialfis commented on #6721
I don't think we will implement this, you can split the multi-class problem into multiple binary classification problems in Python.

[2021-06-05 09:38] #6721 closed

[2021-06-05 10:24] IvanUkhov commented on #6552
Does everybody perceive it as a solved issue? I currently alternate between 1.2.4 and 1.4.2 with everything else held constant, and while the former successfully finishes in reasonable time, the latter does not seem to be able to do so: it just keeps the machine indefinitely busy.

[2021-06-05 10:35] trivialfis commented on #6552
@IvanUkhov Could you please open a new issue?  This particular one is resolved since we reduced the memory usage down by https://github.com/dmlc/xgboost/pull/6779

[2021-06-05 16:23] pseudotensor commented on #7019
P2P disable had no effect:

https://github.com/rapidsai/dask-cuda/issues/639#issuecomment-855262515

[2021-06-05 16:29] trivialfis commented on #7019
Could you please use cuda memcheck with dask cuda worker?

[2021-06-05 16:48] IvanUkhov commented on #6552
I think I have figured it out. It was in the context of `GridSearchCV(n_jobs=-1)`. It turns out XGBoost sets `nthreads` to the maximum value if unset, which was the case in my case. So both were working against each other. Not sure how it was working up till 1.2.1. Maybe the default has changed.

[2021-06-05 16:52] pseudotensor commented on #7019
I did this kind of thing instead:
[code]
On both workers, but no new messages appeared.  Same failure.

[2021-06-05 16:54] pseudotensor commented on #7019
Sometimes before the NCCL failure I see:
[code]

[2021-06-05 17:00] trivialfis commented on #7019
Hmm, since it's nccl reporting unhanded system failure, memcheck should report that system failure before nccl does...  If no new error message appears then I'm running out of ideas.  Non of my configuration can reproduce the error.

[2021-06-06 01:03] hcho3 opened #7024 "[CI] Build and Test XGBoost GPU algorithm with Microsoft Visual Studio 2019"
There have been a user report saying that Visual Studio 2019 could not compile XGBoost from the source. See https://discuss.xgboost.ai/t/installing-xgboost-with-gpu-support-for-r-on-windows-build-does-not-complete/2227/15. The issue surfaces when the GPU support is enabled with `-DUSE_CUDA=ON`.

Currently, our CI uses Visual Studio 2017 to build and test the GPU algorithm.

[2021-06-06 21:50] tpboudreau opened #7025 "Training fails for method 'gpu_hist' for large datasets with missing values"
When a training dataset is sparse (contains missing values) and the number of elements in the dmatrix exceeds 2^32, attempts to train using tree_method=gpu_hist can fail with a diverging RMSE.

For example, using the dataset [here](https://www.gamma-rho.com/xgboost/divergent_training_dataset.csv.gz) -- which is 2 million rows by 2500 features ( = 5x10^9 > 2^32 elements ) -- and this code:

[code]

[2021-06-07 03:39] trivialfis commented on #7025
Wow!  Thanks for submitting the issue and the fix!  It's exciting to see users getting larger and larger datasets.

[2021-06-07 06:44] pseudotensor commented on #7019
Only see at end:
[code]

[2021-06-07 06:51] pseudotensor commented on #7019
Another message that sometimes appears in repeat of run is:
[code]

[2021-06-07 06:53] pseudotensor commented on #7019
And nothing bad reported in dmesg etc.

[2021-06-07 06:56] pseudotensor commented on #7019
And what you are saying is not quite true right?  You happen to disable P2P and no longer get such a failure, but that is example where one gets the NCCL failure and it is still unexpected.

I presume NCCL put to conda with rapids 0.19.x is unstable.  Such errors never occurred with rapids 0.14

[2021-06-07 07:01] pseudotensor commented on #7019
I googled a bit and other people who have had similar problems suggested trying NCCL_DEBUG=WARN instead.  Then I get this:

[code]

I don't think what you said is true.  The unhandled exception does not mean there is a memory or cuda issue.  Instead, it is some mis-handling of the cluster via xgboost or NCCL.

On the remote (to scheduler) node, a similar thing is said:

[code]

[2021-06-07 07:06] pseudotensor commented on #7019
Others who have hit similar issues say it was due to library incompatibilities or GPU isolation issues:

https://stackoverflow.com/questions/64589547/xgboosterror-101003-workspace-src-tree-updater-gpu-hist-cu1407-exception
https://github.com/NVIDIA/nccl-tests/issues/14
https://github.com/NVIDIA/spark-xgboost-examples/issues/11

But note in my case I'm bare metal using just conda solution for rapid

[2021-06-07 07:11] pseudotensor commented on #7019
FYI the "network is unreachable" errors are referencing one correct and one incorrect device  E.g. mr-dl10 with:
[code]

and mr-dl17 with:
[code]

For whatever reason, NCCL/xgboost is using veth4cea06a that is in no way associated with the IP address.

That is, it seems that mr-dl10 scheduler on mr-dl10 gets info from mr-dl17 to use a certain device and that is wrong.

Probably this is related to

[2021-06-07 07:25] trivialfis commented on #7019
XGBoost doesn't pass specific network information into nccl.  It only provides an abstract view of communicators and nccl figures out the lower level network topology.   I don't think I can control the socket even if I want to https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/api/comms.html .  Would be great if there's a standalone test for NCCL initialization.

[2021-06-07 07:29] pseudotensor commented on #7019
If I use https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/env.html#nccl-socket-ifname to specify which device to use:

[code]

and on remote node:
[code]

NCCL no longer complains about network being unreachable.  But the remote node still says:
[code]

And everything hangs instead of failing.

[2021-06-07 07:31] pseudotensor commented on #7019
In this case NCCL is definitely doing bad autologic for the IFNAME.  The system with the desired IP was no way to be using that other device without even an IP.  So that is a bug in NCCL.

But not sure about the current hang.  Maybe that missing library is a problem still.

[2021-06-07 07:36] pseudotensor commented on #7019
I did: `sudo apt install libibverbs-dev` on that mr-dl17 system, but that didn't cure anyting.

Now there are no warnings on either machine, and still xgboost just hangs.

[2021-06-07 07:49] pseudotensor commented on #7019
However, this hang above also happens with 1 single node.

[2021-06-07 07:51] trivialfis commented on #7019
I think your cluster is interesting.  The last time I saw something like this was GKE, we kind of worked around some limitations after painful debugging.  I don't think I can resolve your issue by having more GitHub conversations.  There needs to be a way for me or others to reproduce your cluster.

[2021-06-07 07:53] trivialfis commented on #7019
Great news!  I was worrying how do I create a cluster like yours.

[2021-06-07 07:57] trivialfis commented on #7019
@pseudotensor Thanks for finding the root of this issue!

[2021-06-07 08:02] pseudotensor commented on #7019
Thanks for patience.

[2021-06-07 08:05] pseudotensor commented on #7019
Note the single node case is still a problem.  But after some NCCL adjustments I'll repost to a new issue if I still hit:
[code]

[2021-06-07 08:05] #7019 closed

[2021-06-07 08:06] trivialfis commented on #7019
If you saw `cudaErrorInvalidValue`, I suggest the first option to try is making sure `HIDE_CXX_SYMBOLS`.  I encountered it a few times all caused by a corrupted stack due to c++ symbol conflicts between libraries.

[2021-06-07 10:00] trivialfis commented on #6397
@pseudotensor Could you please rerun this with the workaround found in https://github.com/dmlc/xgboost/issues/7019 ?

[2021-06-07 16:48] pseudotensor commented on #6397
It doesn't specifically hang with heterogeneous.  But other failures occur in general, will post separately

[2021-06-07 16:48] #6397 closed

[2021-06-07 18:53] trivialfis commented on #6847
Closing as it's similar to https://github.com/dmlc/xgboost/issues/6759 .

[2021-06-07 18:53] #6847 closed

[2021-06-07 18:56] trivialfis commented on #6663
I think even if we implement it we might use cupy as a bridge.  We don't want to have too many dependencies for a machine learning library, especially considering the difficulty of maintaining the CI.

[2021-06-07 18:56] #6663 closed

[2021-06-07 18:57] trivialfis commented on #6580
I agree.

[2021-06-07 19:00] trivialfis commented on #6474
AUC supports multi-class classification.  For AUCPR, there's a check:

[code]

So I think we can close this one now.

[2021-06-07 19:00] #6474 closed

[2021-06-07 19:03] hcho3 commented on #6580
Currently only Option 1 is supported. Are we not going to support Option 2?

[2021-06-07 19:10] trivialfis commented on #6580
I don't think it's profitable.  To treat missing values as 0, we have 2 paths to go:

1. Fill in those 0s in DMatrix construction and we get a dense DMatrix.  This doesn't save much memory so users might just put in a dense matrix instead.
2. We change all the internal algorithms that interact with `DMatrix` and let them restore those 0s on the run.  I don't see that happening in foreseeable futur

[2021-06-07 19:11] #6580 closed

[2021-06-07 19:11] trivialfis commented on #6428
This is fixed in 1.4

[2021-06-07 19:11] #6428 closed

[2021-06-07 19:11] hcho3 commented on #6580
Got it. Closing as "won't fix"

[2021-06-08 11:17] #7025 closed

[2021-06-08 13:07] bridgream commented on #7022
It would be ideal if we can read from and cache into multiple files. The goal is to enable external memory for large datasets that cannot fit into physical memory.

For the reading part, I notice there are prototypes of iterators in dmlc-core. Yet their docstrings claim they are in-memory based. I also cannot find any references to them in xgboost (perhaps they are used in other dmlc projects). It

[2021-06-08 14:11] trivialfis commented on #7022
Right now it's used in Python, also an internal branch of jvm.

[2021-06-08 19:38] trivialfis opened #7030 "[CI] Unpin dask version."
Latest dask is released.

[2021-06-08 22:59] pseudotensor opened #7032 "hangs with dask (when using CLI worker and scheduler on single node or multinode)"
@trivialfis , I've been retesting everything while always choosing `NCCL_DEBUG=WARN NCCL_P2P_DISABLE=1 NCCL_SOCKET_IFNAME="enp5s0"` on one system (multinode or not) and on other system (if trying multinode) `NCCL_DEBUG=WARN NCCL_P2P_DISABLE=1 NCCL_SOCKET_IFNAME="enp4s0"`.

In summary, every possible mode hangs without any errors.

Modes:
1) single node (still using dask worker and scheduler launch

[2021-06-09 04:27] pseudotensor commented on #7032
Similar hang with only gbtree single node, never resolves.  No errors/warnings.

![image](https://user-images.githubusercontent.com/2249614/121293344-53222000-c8a0-11eb-9df4-2c1aaff1bc8d.png)

[2021-06-09 06:51] #6989 closed

[2021-06-09 07:24] trivialfis commented on #7032
From your screenshots, XGBoost isn't running?

[2021-06-09 07:37] pseudotensor commented on #7032
Not sure what you mean.  But the client is inside xgboost for sure, as faulthandler shows.  I presume there is some hang when xgboost is pushing the data around, before the training, if that's what you mean.

[2021-06-09 07:49] trivialfis commented on #7032
I mean, from the pictures, dark is still running from pandas

[2021-06-09 07:51] trivialfis commented on #7032
Dask has lazy evaluation, sometimes issues appear in XGBoost only because XGBoost is forcing those pending computation to materialize.

[2021-06-09 08:33] pseudotensor commented on #7032
Not sure what you mean, it is hung, why it looks incomplete

[2021-06-09 08:40] trivialfis commented on #7032
It means, XGBoost hasn't entered the stage yet : https://xgboost.readthedocs.io/en/latest/tutorials/dask.html#why-is-the-initialization-of-daskdmatrix-so-slow-and-throws-weird-errors

During training, it looks like this.  Notice the `dispatched_...` created by XGBoost, also all other tasks are complete.
![Screenshot from 2021-06-09 16-37-00](https://user-images.githubusercontent.com/16746409/12132

[2021-06-09 12:39] kmate commented on #4793
Hi! I'm curious, now that Spark 3 has been released, is there any chance that anyone is going to make progress on it? Thanks!

[2021-06-09 17:23] pseudotensor commented on #7032
I'm not saying it is a specific place in xgboost, just that it is part of xgboost overall.

BTW, there is no such hang after 12 hours of testing the LocalCUDACluster case.  So the problem only happens with distributed case, regardless of node count (i.e. even 1 node hangs).

[2021-06-09 18:14] trivialfis commented on #7032
Hmm .. I'm not following .. the dashboard stops at `dd.from_pandas`, which's still miles away from reaching XGBoost.  If it's only reproducible with XGBoost but not `persist` + `distributed.wait` then perhaps I can help you create an issue on dask provided you have something I can run.  Otherwise, I'm not sure how do I help in this case.

[2021-06-09 18:14] jose-moralez commented on #7032
Could it be that you're sending your data through the network? i.e. `X = pd.DataFrame(np.random.rand(1_000_000, 20)); dX = dd.from_pandas(X).persist()` will send the dataframe through the network, which depending on the size could take a while.

[2021-06-09 18:18] pseudotensor commented on #7032
To be clear, rapids 0.14 had no such hangs.  And no, it's not busy, just hung.  It just sits there for several hours.  Data is small and often works, but eventually hangs.

As I mentioned, I'll try to provide repro, but was hoping for help debugging since no errors or warnings.

[2021-06-09 18:24] trivialfis commented on #7032
Please keep us posted.  I haven't seen this before so I don't have any specific suggestion at the moment.  For debugging, maybe you can look at the worker logs in the dashboard and see what's happening in there.

[2021-06-09 20:38] hcho3 commented on #7024
Just tried building XGBoost with Visual Studio 2019 + CUDA 11.3, and the build fails with cryptic error
[code]

System information:
* Windows Server 2019
* Visual Studio 2019 version 16.10.1
* CUDA 11.3

It would be best if we find the combination of compiler versions that are known to work on the Windows platform, as CUDA can be finicky about the version of the host compiler.

[2021-06-09 20:39] hcho3 commented on #7024
Known to work: Visual Studio 2017 + CUDA 10.1

[2021-06-09 22:41] pseudotensor commented on #7032
![image](https://user-images.githubusercontent.com/2249614/121438528-ffafe080-c938-11eb-9db4-f7053b122ced.png)

So this case is the single node with 2 GPUs but using CLI for dask worker and scheduler.

As I mentioned, if I check where the client is, it is in xgboost:

[code]

There is nothing for me to do at this point.  In this case, the hang is during the predict call.

[2021-06-09 22:49] pseudotensor commented on #7032
What worker info looks like:

![image](https://user-images.githubusercontent.com/2249614/121439114-228ec480-c93a-11eb-8c6b-38b322238d4b.png)

What that pending guys looks like:

![image](https://user-images.githubusercontent.com/2249614/121439142-30dce080-c93a-11eb-84ca-9ad91d817b63.png)

Other worker:

![image](https://user-images.githubusercontent.com/2249614/121439178-43571a00-c93a-11eb-9bf7-83

[2021-06-09 22:52] pseudotensor commented on #7032
Not sure it helps, but here is gdb backtrace of the worker that is waiting:
[code]

What is the worker waiting for?

[2021-06-09 22:55] pseudotensor commented on #7032
And to repeat, this particular predict, hanging for 1 hour so far, is no more special than the prior 13 fit-predicts that ran fine.  We repeat the same exact code for all of them, just slightly different data and model hyper parameters.

[2021-06-09 23:22] pseudotensor commented on #7032
I can generate a similar hang with a smaller subcode:

![image](https://user-images.githubusercontent.com/2249614/121441533-db570280-c93e-11eb-984a-cf40bf7d1742.png)

[2021-06-09 23:49] pseudotensor commented on #7032
@trivialfis To be clear on when/where the hang is, for the exact same data and model that hung last on me, the from_pandas up to xgboost predict is only 4, because there are only 4 partitions:

![image](https://user-images.githubusercontent.com/2249614/121443420-51109d80-c942-11eb-8d23-0993286d599d.png)

If in pycharm I then go over the xgboost predict_proba, that is when there are more than 4 fro

[2021-06-09 23:52] pseudotensor commented on #7032
This is basic attempt at repro code, but not reproducing yet, but gives sense of what is failing and what is run:

[code]

Running with:
[code]

[2021-06-10 00:01] pseudotensor commented on #7032
But since there are normally no errors/warnings in production use, I would really appreciate some understanding how to debug or get insight into what is going on when things hang.    I know it is inside xgboost and its use of the data, and dask debugging web pages do not help (they just say look at logs and dashboard, none of which shows any issues except says "processing" for some task and never

[2021-06-10 04:34] naveenkb commented on #6893
Hi @wbo4958 - I too wanted to use this feature in spark. Just wanted to know if you were able to work on it ? If not I can give it a try.

[2021-06-10 05:25] trivialfis commented on #7032
Can you attach gdb into the worker process, and look at all threads? `(gdb) thread apply all bt`  See if there's anything suspicious?

[2021-06-10 21:06] pseudotensor commented on #7032
[code]

[2021-06-10 21:07] pseudotensor commented on #7032
[code]

[2021-06-10 21:32] pseudotensor commented on #7032
@trivialfis not really helping.  Still hangs in exact same way within xgboost:

![image](https://user-images.githubusercontent.com/2249614/121599749-5e885f00-c9f8-11eb-9f3a-083422c60d0c.png)

![image](https://user-images.githubusercontent.com/2249614/121599792-6e07a800-c9f8-11eb-8e2e-13a251b31d52.png)

And this is unrelated run -- just some other fit-predict sequence and hangs here.

[code]

alway

[2021-06-10 22:15] pseudotensor commented on #7032
Any reason why nightly wheels stopped being made 04/20?

https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/list.html

Or am I in wrong place?  I was going to try latest from dmlc to ensure nothing odd about our own build.

[2021-06-10 23:08] pseudotensor commented on #7032
FYI I tried latest xgboost nightly and get same behavior.

https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.5.0.dev0%2B816b789bf06864b37d3b2eacd4ce5d75fa3865cf-py3-none-manylinux2010_x86_64.whl

![image](https://user-images.githubusercontent.com/2249614/121608062-0e17fe00-ca06-11eb-9d84-a47fed85248b.png)

[2021-06-11 02:46] wbo4958 commented on #6893
Sry, @naveenkb, I am busy with other things recently, pls help to add it . Thx very much

[2021-06-11 02:49] trivialfis commented on #7032
I think it's unlikely a xgboost issue, maybe you need to isolate the problems and open an issue on dask.

[2021-06-11 03:06] pseudotensor commented on #7032
Well it only happens once inside xgboost predict.

[2021-06-11 03:29] trivialfis commented on #7032
Because XGBoost predict is using the data and calling synchronization.

I'm not saying there's no issue.  But the truth is, I don't know what's wrong and I haven't seen it before, but judging from the screenshots I believe it's unlikely an issue within XGBoost.  So the best way to solve it is to open an issue on dask and ask the experts in there.

[2021-06-11 05:02] trivialfis opened #7034 "Flaky dask test `test_boost_from_prediction`"
https://travis-ci.org/github/dmlc/xgboost/jobs/774230442

[2021-06-11 06:20] naveenkb commented on #6893
XGBoostClassificationModel object has a method called getVersion(). Not much info in the documentation. Based on the experimentation I did, booster.getVersion() / 2 always returns the latest iteration even with early stopping. So  ( (booster.getVersion() / 2) - earlyStoppingRound ) gives the bestIteration. Can anyone confirm this or if there are any cases when this won't work ?

@trivialfis or @wb

[2021-06-11 07:29] pseudotensor commented on #7032
I can try updating to latest dask.  I saw some issues you posted regarding pinning dask to avoid may version.  Is that still an issue?

[2021-06-11 13:16] tdoublep opened #7037 "Predict failures on Big Endian system"
I'm running XGBoost on Linux on IBM Z (s390x architecture, a big endian system) and something pretty major seems to have changed between version 1.3.3 and 1.4.0. In particular, the following very simple test case seems to fail:

[code]
With `xgboost==1.3.3`, everything works:
[code]
With `xgboost==1.4.0`:
[code]
With latest commit on master (`2567404ab601149c52b66c3a02d85e9571a84447`), I see a dif

[2021-06-11 13:42] trivialfis commented on #7037
I will try to add it back.  We dropped support for some of of datasets due to using array interface.

[2021-06-11 13:46] tdoublep commented on #7037
If I can help in any way (e.g. by trying stuff out on s390x system) please let me know.

[2021-06-11 16:38] candalfigomoro commented on #6893
@naveenkb
Suppose that you set max iterations=100, num_early_stopping_rounds=10 and the best iteration is iteration 95. If you take the number of iterations - num_early_stopping_rounds you get iteration 90 instead of iteration 95. So it doesn't work when num_early_stopping_rounds > max iterations - best iteration. The clean solution would be to expose bestScore and bestIteration.

[2021-06-12 09:28] trivialfis commented on #7037
Just restored travis test on s390x https://github.com/dmlc/xgboost/pull/7038 .  Basic tests are passing.

[2021-06-14 15:31] fractor opened #7039 "Segmentation fault on MacOS with libomp 12.0.0"
The following code results in a Python segmentation fault when executed with Python 3.x on MacOS with libomp 12.0.0. Downgrading to a previous version of libomp solves it.

[code]

[2021-06-14 17:47] andy-brainome commented on #7039
Just to be clear - when everything was paired down to these 40 some lines of code, the seg fault 11 was replaced with the dumping of source code to the screen. i.e. "warnings.warn(".  This line of code has shifted up or down a couple of times.
[code]
We believe that this code leakage is what is producing the seg fault on our much more complex program located at
`pip install brainome`

[2021-06-14 18:45] andy-brainome commented on #7039
The last work around we figured out was importing xgboost immediately on start clears out the macos seg fault 11 issue.  Our program had it imported only as necessary very late in the execution cycle.

[2021-06-14 19:21] trivialfis commented on #7039
We noticed it on github action test.  Seems to be a bug in libomp: https://bugs.llvm.org/show_bug.cgi?id=50579
* Related:
- https://github.com/dmlc/xgboost/pull/6895
- https://github.com/microsoft/LightGBM/issues/4229

[2021-06-14 19:52] andy-brainome commented on #7039
TY hopefully this will document the workarounds for the next folks to fall into this trap

[2021-06-16 08:23] tdoublep commented on #7037
Confirming that this issue is fixed by #7038

[2021-06-16 13:25] trivialfis commented on #7037
Excellent!  @hcho3 Could you please take a look at the PR?

[2021-06-16 20:18] pseudotensor commented on #7032
Unable to try new dask, rapids 0.19.x tied to 2021.4.0.

[2021-06-16 21:20] z7ye opened #7044 "deadlock/hanging when fitting XGBClassifier using multiprocessing after running lgb.train or xgb.train"
Running into deadline when fitting XGBClassifier in a multiprocess after running `lgb.train(params={}, train_set=lgb_ds)` or ` xgb.train(params={}, dtrain=xgb_ds)` first.

Scenario 1: running `lgb.train(params={}, train_set=lgb_ds)` first, then fit XGBClassifier in a multiprocess

[code]

Scenario 2: running `xgb.train(params={}, dtrain=xgb_ds)` first, then fit `XGBClassifier` in a multiprocess

[

[2021-06-17 04:15] trivialfis commented on #7044
OpenMP doesn't play well with Python processing: https://github.com/dmlc/xgboost/issues/6898

[2021-06-17 09:51] naveenkb commented on #6893
I have added bestIteration using `SetAttr` function. Regarding model slicing, I wanted to confirm that it is not implemented in Java yet right ? Please let me know if I am missing something

[2021-06-17 12:58] candalfigomoro commented on #6893
There's a `treeLimit` parameter (see https://xgboost.readthedocs.io/en/latest/jvm/scaladocs/xgboost4j-spark/ml/dmlc/xgboost4j/scala/spark/XGBoostClassificationModel.html#setTreeLimit(value:Int):XGBoostClassificationModel.this.type), but I've never tried it.

[2021-06-17 14:46] erensahin commented on #6552
I had faced a similar issue as I migrate from 0.90 to 1.x when I use a validation set through eval_set parameter of fit method in sklearn API. The training did not end at all and all CPUs were %100 used.

So, I figured out that default value of n_jobs parameter was 1 in 0.90 and None in 1.x. Setting n_jobs=1 back solved my problem.

Hope this helps.

[2021-06-17 17:25] trivialfis commented on #6893
We are in the process of replacing that parameter with more robust `iteratiom_range`.  Python and R have already made the transition, and JVM is the next.

[2021-06-17 19:50] pseudotensor commented on #7032
Tried rapids 21.06 with dask 2021.5.0.  Still exact same problem.

[2021-06-17 22:39] pseudotensor commented on #7032
The one thing that seems to make it work is if I avoid using dask_cudf.  That is, I send a persisted dask frame to xgboost and let it convert to GPU.  Using dask_cudf on the dask persisted frame and sending that dask_cudf frame to xgboost leads to the hang when using distributed dask from CLI (i.e. client, not localcudacluster that doesn't hang).

So this seems likely a bug in rapids and dask_cudf

[2021-06-18 01:21] pseudotensor commented on #7032
Well, actually it just lasts alot longer (about 10x fit/predicts) with dask (non dask_cudf) frames, but still hangs eventually.

[2021-06-18 02:27] #7030 closed

[2021-06-18 06:23] pseudotensor opened #7045 "AttributeError: 'list' object has no attribute 'inplace_predict'"
On master of xgboost but only after updating to rapids 21.06 and dask 2021.5 I get this now.  Known problem?  I can find repro, but I'm spending more time with multinode problem (which rapids 21.06 dask 2021.5 update didn't solve).  This error doesn't happen with same xgboost but rapids 19.2 dask 2021.4.

[code]

[2021-06-18 06:55] #7037 closed

[2021-06-18 07:04] trivialfis commented on #7045
Not known.  A reproducible example is appreciated.  Initial guess is this one: https://github.com/dask/dask/issues/7681

[2021-06-18 07:12] trivialfis commented on #7045
The referenced issue is fixed in dask 2021.6.1 .  So maybe you can do a quick update and see if it works.

[2021-06-18 08:03] pseudotensor opened #7046 "dask with CLI on CPU only uses 1 thread despite n_jobs setting"
[code]

[code]

[creditcard.csv](https://github.com/dmlc/xgboost/files/6675462/creditcard.csv)

I see in code that dask.py has worker.nthreads for dmatrix creation with no choice to control, which seems bad.  But relevant here is dispatched_train seems to allow override of worker.nthreads (which is good because a global fixed thread count would be poor in general).

Same thing happens with sklearn

[2021-06-18 08:40] pseudotensor commented on #7045
There is no distributed 2021.6.1 in conda-forge, only 2021.6.0.

[2021-06-18 08:42] trivialfis commented on #7045
My bad, 2021.6.0 then.

[2021-06-18 08:46] #6298 closed

[2021-06-18 09:08] pseudotensor commented on #7046
Work-around is to pass both n_jobs and nthread to constructor for sklearn API.

[2021-06-18 09:23] pseudotensor commented on #7045
I tried that and hit other problems with rapids 21.06:

[code]

I don't think can mix things up, the rapids version and dask/distributed version are too synced.

[2021-06-18 10:01] pseudotensor commented on #7045
![image](https://user-images.githubusercontent.com/2249614/122544193-6a1feb00-cfe1-11eb-87ff-78ded440aef2.png)

FYI, the thing inside booster is totally nuts/wrong.

[2021-06-18 11:37] ArsalShakil commented on #6552
I was previously using 0.81 and now using 1.4.2. Even though the dataset/parameters are exactly same and all cores are used 100%, 0.81 version took an hour for training while 1.4.2 version is taking 12+ hours... I've checked everything, not sure what's causing this.

[2021-06-18 11:59] trivialfis commented on #6552
Could you please share your parameters?

[2021-06-18 12:03] ArsalShakil commented on #6552
{'eta': 0.2, 'n_estimators': 1000, 'lambda': 0.57, 'max_depth': 8, 'min_child_weight': 3, 'gamma': 2.69, 'subsample': 0.8, 'colsample_bytree': 0.8, 'silent': 1, 'eval_metric': 'auc','objective': 'binary:logistic', 'tree_method': 'hist', 'grow_policy': 'lossguide',
'n_jobs': 60,'random_state': 0}

Btw, I'm training on CPU.

[2021-06-18 12:12] trivialfis commented on #6552
@ShvetsKS Could you please take a look at the perf difference.

Also @ArsalShakil could you please share the shape and sparsity of your data set?  Or you using scikit learn grid search?

[2021-06-18 12:32] ArsalShakil commented on #6552
The dataset is about 16mil x 87 and sparsity is 0.23. I'm using simple xgb.train(params, dmatrix, num_rounds) without any evalset.

[2021-06-18 12:41] trivialfis commented on #6552
Thank you for the details!   So evaluation metic AUC is not a factor here, what remains are DMatrix, hist and objective.  @ShvetsKS do you have any insight?

[2021-06-18 16:04] ShvetsKS commented on #6552
It's interesting. I didn't noticed any degradations between 0.81 and 1.4.0 on similar dimensions.

@trivialfis seems DMatrix create is not the reason of perf degradations as DMatrix is already created before  `xgb.train(params, dmatrix, num_rounds)` (not sklearn api is used).

@ArsalShakil  It would be great to have some full reproducer, otherwise can I use just `sklearn.datasets.make_classificati

[2021-06-18 17:01] ArsalShakil commented on #6552
@ShvetsKS Yeah `sklearn.datasets.make_classification` should work just fine for reproducibility. I'll prep a full reproducer and share it.

[2021-06-18 18:53] pseudotensor commented on #7045
Trying, but it seems not trivial to reproduce.  Maybe it is a race, not sure.  Seems possible given what I described.

When I try to pickle up the "y" object just before failure, which would be most direct way of dealing with this, I get `Can't pickle local object '_inplace_predict_async.<locals>.mapped_predict'`.

That is, it seems xgboost does not return a dask dataframe for y that one would .co

[2021-06-18 19:05] pseudotensor commented on #7045
There is problem even before the `model.predict_proba`.  If I try to take the valid_X dask frame and .compute() on it, I get: `Exception: TypeError('copy() takes no keyword arguments')`

If I use latest master: https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.5.0.dev0%2B29f8fd6fee96b5b28bc1ccd6fdfc5d472b949f0b-py3-none-manylinux2010_x86_64.whl

I still hit a problem, but it is a

[2021-06-18 19:13] pseudotensor commented on #7045
These problems come when slicing the dask frame like `valid_X = valid_X[names_to_use]`.  As soon as it is sliced, the .compute() fails in various ways.

[2021-06-18 19:19] trivialfis commented on #7045
Seems you have found a reliable way to reproduce it?

[2021-06-18 19:20] pseudotensor commented on #7045
I have reliable way to reproduce, but not in MRE.  I think it might be that things are done multiple times etc.  not sure.

[2021-06-18 19:49] trivialfis commented on #7045
Do you know where is this `________SAMPLE_WEIGHT_________` coming from?  I grep all the related libraries' source code and didn't get anything.

[2021-06-18 20:10] pseudotensor commented on #7045
That and the __TARGET__ thing are just feature names.

[2021-06-18 20:17] pseudotensor commented on #7045
Seems as long as I don't slice the frame going into predict, all works fine when using latest xgboost version.

But that slice causes problems when doing .compute() on it or when passing into xgboost predict_proba.  So I doubt it is directly xgboost's fault.

xgboost just gives much more wild error, but original error is the
[code]
when doing .compute().

[2021-06-18 20:32] pseudotensor commented on #7045
The reason why it has that error about `TypeError('copy() takes no keyword arguments')` is because the dataframe is a list.

![image](https://user-images.githubusercontent.com/2249614/122613404-a4b57200-d039-11eb-87c7-ba1c653cc976.png)

The drop operation is totally messed up.

[2021-06-18 20:36] trivialfis commented on #7045
Shouldn't it be:

[code]
?

[2021-06-18 20:38] pseudotensor commented on #7045
I don't think this is xgboost's fault, unless re-use of the frame is causing problems.

https://github.com/dask/dask/issues/7819

[2021-06-18 21:26] pseudotensor commented on #7045
ya for sure dask problem

[2021-06-18 21:26] #7045 closed

[2021-06-19 08:04] trivialfis commented on #7034
Closing.  Happens on osx once for some reason.

[2021-06-19 08:04] #7034 closed

[2021-06-19 08:07] trivialfis commented on #6691
Closing as stalled.  Feel free to reopen if there's a reproducible example.

[2021-06-19 08:07] #6691 closed

[2021-06-20 10:51] trivialfis commented on #6816
Closing since the bottleneck is hypothesis tests.  Thanks for the PR @jmoralez

[2021-06-20 10:51] #6816 closed

[2021-06-21 03:25] #6975 closed

[2021-06-21 05:00] ArsalShakil commented on #6552
@ShvetsKS @trivialfis Thanks a lot guys! The issue is resolved, it was an issue at training pipeline's end. I however had tested with the following code too:

[code]
0.81 version's output:
[code]
1.4.0 version's output:
[code]

[2021-06-23 05:46] tsuga opened #7052 "Early stopping with MAPE wrongly chooses the worst iteration as `best_iteration`"
On Xgboost python library (version 1.4.2), early-stopping with MAPE should choose an iteration with the minimum MAPE value, however it actually chooses an iteration with the maximum MAPE value.

### Code to reproduce:
[code]

### Output:

[code]

### Expected behaviour:
The best iteration should be 12, and the best score should be 0.108408

[2021-06-23 05:50] tsuga commented on #7052
FYI, MAE works as expected

[code]

[code]

[2021-06-23 10:40] trivialfis commented on #7052
Thanks for reporting, I will look into it later today.  At the moment, could you try passing a customized `EarlyStopping` callback and specify its `maximize parameter?

[2021-06-23 18:34] trivialfis opened #7055 "Replace trivial split with infinity."

[2021-06-23 18:34] #7055 closed

[2021-06-24 06:38] COLLEENCAI opened #7056 "Error while loading model:basic_string::resize"
filemodel = 'xgboostModel.trail04.save'

Saved the model using the following
with open(filemodel, 'wb') as f:
            pickle.dump(model, f)

I am able to run the following lines to make prediciton
with open(filemodel, 'rb') as f:
    xgb_srm = pickle.load(f)
pred= xgb_srm.predict(dtrain)

However, when I do and receive XGBoostError: basic_string::resize
param = {'colsample_bylevel': 0.5, ...}

[2021-06-24 06:39] hcho3 commented on #7056
You cannot load a pickle file with `load_model`. Please use `save_model` first to obtain a file that can be later loaded with `load_model`.

[2021-06-24 08:46] #7056 closed

[2021-06-24 11:15] RonaldGalea opened #7057 "XGBClassifier random_state not working"
Hello,
I'm having an issue getting reproducible results when optimizing an XGBClassifier. I'm using BayesSearchCV to optimize some hyperparameters, defined in a search grid. When running locally, everything works as expected and I get the same results each time I run. However, running on a (local) dask cluster gives different results each time, please see the code snippet below.

**Code to reprodu

[2021-06-24 11:37] hcho3 commented on #7057
Have you tried removing all sampling hyperparameters from the search grid?

[2021-06-24 12:13] trivialfis commented on #7057
This is likely the same issue with global rng.  I have a WIP branch removing it, will prioritize it.

[2021-06-24 12:30] RonaldGalea commented on #7057
@hcho3
Removing any of the 5 hyperparameters from the grid makes it work correctly. It is somehow these exact 5 that cause the issue.

[2021-06-24 15:22] manojthampy opened #7058 "Problem in downloading XGBoost in Windows"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2021-06-24 15:24] manojthampy commented on #7058
Hi,

Facing problem in downloading xgboot  and mu OS is windows 10 : showing below error msg  appear in jyuter

[2021-06-24 15:26] manojthampy commented on #7058
Hi,

Facing problem in downloading xgboot and mu OS is windows 10 : showing below error msg appear in jyuter note book

Collecting xgboost
  Using cached xgboost-1.4.2.tar.gz (716 kB)
Requirement already satisfied: numpy in c:\users\13213\anaconda3\lib\site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in c:\users\13213\anaconda3\lib\site-packages (from xgboost) (1.5.2)
Bui

[2021-06-24 16:16] manojthampy opened #7059 "Hi, Facing problem in downloading xgboot and my OS is windows 10 : showing below error msg appear in jyuter note book Collecting xgboost Using cached xgboost-1.4.2.tar.gz (716 kB) Requirement already satisfied: numpy in c:\users\13213\anaconda3\lib\site-packages (from xgboost) (1.19.2) Requirement already satisfied: scipy in c:\users\13213\anaconda3\lib\site-packages (from xgboost) (1.5.2) Building wheels for collected packages: xgboost Building wheel for xgboost (setup.py): started Building wheel for xgboost (setup.py): finished with status 'error' Running setup.py clean for xgboost Failed to build xgboost Installing collected packages: xgboost Running setup.py install for xgboost: started Running setup.py install for xgboost: finished with status 'error'"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2021-06-24 16:17] #7059 closed

[2021-06-24 16:18] hcho3 commented on #7059
Duplicate of #7058

[2021-06-24 16:21] hcho3 commented on #7058
Can you run
[code]
and paste the output?

[2021-06-25 06:41] trivialfis opened #7062 "[CI] Update Travis CI domain."
Currently, Travis CI is down so we are no longer testing for big-endian.  We need to switch to the new Travis domain for restoring the tests.

cc @hcho3

[2021-06-25 19:02] #7052 closed

[2021-06-26 11:26] tsuga commented on #7052
Thank you!

[2021-06-29 17:16] bridgream opened #7068 "Segfault with hist method, subsample and large datasets"
I get segmentation fault when training on fairly large datasets using hist method and subsample parameter. The version used is v1.4.2. The minimal code to reproduce this problem:

[code]

The large csv is about 110 GB with 2400 features and 13 million observations. The platform I use has 768 GB RAM and 64 CPU cores. For smaller sized computers, a relatively small dataset could reproduce this as we

[2021-06-29 18:37] ShvetsKS commented on #7068
@bridgream in v1.4.2. https://github.com/dmlc/xgboost/releases/tag/v1.4.2 `RandomReplace::MakeIf` was not introduced yet.
did you build the library from master branch?

Is it possible to reproduce this issue with `sklearn.datasets.make_classification(n_samples=6151646, n_features=2400)` for example (almost equal to 110Gb)?

[2021-06-29 19:55] bridgream commented on #7068
@ShvetsKS Thanks for your comment! I built the library from release_1.4.0 branch (not direct pip install). Also, I ran the training program using in-memory version (first load data using Pandas, then create DMatrix from the dataframe) and it was good. It could be an external memory issue. Could this issue be possibly related #4037

[2021-06-29 22:33] albert-ying opened #7069 "[R] RAM usage builds up during training in for loop"
Hi, I was manually tuning the xgboost model using for loop, with 5-fold cv and 30 different parameter combinations. However, even though I didn't explicitly save the model (only log is saved), I observed that the RAM usage is steadily increased during the looping. It starts from 3 GB at the first loop to ~100 GB at the end... and crashed.

To me, it seems like something is stored in RAM without cl

[2021-06-30 06:26] trivialfis commented on #7069
Maybe calling GC?

[2021-06-30 14:50] bridgream commented on #7068
I also ran an equivalent program in C++ and got segfault without stack trace. The program did not fail at the very beginning of training, but rather in the middle (or perhaps towards the end? ) of the first boost round.

[2021-06-30 20:13] albert-ying commented on #7069
Thank you @trivialfis! Explicitly calling the `gc()` by the end of each loop **seems** to resolve it. It is still running, and I will just close this for now.

[2021-06-30 20:13] #7069 closed

[2021-07-02 02:23] #7062 closed

[2021-07-02 02:25] hcho3 commented on #7062
Migration to travis-ci.com has been completed.

[2021-07-02 12:54] JoshuaC3 opened #7073 "A better method to enforce monotonic constraints in regression and classification trees"
Here is a paper called: **A better method to enforce monotonic constraints in regression and classification trees**

https://arxiv.org/abs/2011.00986

It seems to suggest that standard monotonic constraints to tree based models constrain the model too tightly and harshly impact predictive accuracy. They propose two new methods to improve on the current methods. Here is how much better it can perfo

[2021-07-02 14:22] trivialfis commented on #7073
Thanks for raising the issue with such details!  Let me do some reading.

[2021-07-02 18:13] rikturr commented on #7006
Is there a reason that xgboost does not scatter the model object for the user? I just [opened a PR to do so in dask-ml's](https://github.com/dask/dask-ml/pull/843) ParallelPostFit class and was looking around here to see if it made sense to do something similar with xgboost.dask.

Dask is also very inefficient if you don't pre-scatter, as it will send one copy of the model object for each partitio

[2021-07-02 18:18] rikturr commented on #7032
I think this is related to https://github.com/dask/dask-ml/issues/842

can you see if scattering `model` and using map_partitions fixes the issue?

[code]

[2021-07-02 20:13] rikturr commented on #7032
Actually, better way is to use delayed.

[code]

 Dask is supposed to to this automatically but is incorrectly calculating the size of some objects. Hopefully this issue gets addressed in a dask release soon https://github.com/dask/dask/issues/7860

[2021-07-03 06:07] trivialfis commented on #7006
Xgboost does scatter the model.  You can pre scatter it so consecutive calls can use one scattered model

[2021-07-05 14:54] joshidp opened #7080 "XGBRanker fit vs predict wrt groups/queryIds behavior"
Hi,

Thanks for your great work.

I am trying to understand the XGBRanker implementation.  I have following queries, please help me in understanding these concepts better.

Query1: During training fit call , XGBRanker asks for the 'groups' parameter, does this mean the scoring is independent for each group?

Query2: During the predict call,  XGBRanker  doesn't ask for the 'groups' parameter, only

[2021-07-05 19:27] trivialfis commented on #7080
XGBoost implements lambda mart, which is a pairwise learning to rank algorithm, so it needs to construct pairs between samples within the same query group to calculate evaluation metrics like ndcg.  Similarly during the calculation of objective (which is derived from those metrics) requires groups to construct pairs.  But for prediction, we don't need the group information as we are only walking t

[2021-07-06 00:32] joshidp commented on #7080
Thanks for the explanation

[2021-07-06 00:32] #7080 closed

[2021-07-06 14:18] trivialfis opened #7083 "Base margin support for multi-class classifier"
A tracking issue for the feature.

[2021-07-06 17:41] hcho3 opened #7085 "Create a demo for loading pre-trained model in C"
The current C demo trains a new model from scratch. It would be useful to show an example where the model is trained elsewhere and then loaded into a C program.

Related: https://discuss.xgboost.ai/t/xgboost-c-prediction-example/2358

[2021-07-08 02:04] MichaelYin1994 opened #7090 "BUG REPORT: The custom eval metric get untransformed model input score."
On XGBoost python library (version 1.4.2, also in 1.4.0), custom eval metric get an untransformed model score, instead of the validation prediction probability.

### Code to reproduce:
[code]

### Output:
[code]

### Expected behaviour:
You can see negative score in each iteration. The expected output should range between 0 and 1.

### Bug analysis:
See line 1643 in [core.py](https://github.com/dm

[2021-07-08 02:06] hcho3 commented on #7090
This is actually an expected behavior. Quoted from the release note for 1.2.0:

Previously, the custom evaluation metric received a transformed prediction result when used with a classifier. Now the custom metric will receive a raw (untransformed) prediction and will need to transform the prediction itself. See [demo/guide-python/custom_softmax.py](https://github.com/dmlc/xgboost/blob/master/demo/