[2020-03-18 20:24] trivialfis commented on #5430
For using histogram algorithm, communication are composed of gradient histogram, and possibly the training model in XGBoost. (excluding whatever communication in distributed frameworks).

It's not too much concern around the histogram as addition in irreversible operations.  What you may want to care about is whether the model is encrypted.

I believe the mc2 project encrypts everything flow throu

[2020-03-18 20:30] trivialfis commented on #5429
Are you compiling XGBoost yourself without specifying `USE_CUDA` CMake flags, then call training with `gpu_hist` or setting `gpu_id` to positive value?

[2020-03-18 21:01] mayer79 commented on #5423
With slightly other data structure (but similar tree settings; same link above but new commit), again garbage (training is over very quickly).

[code]

Hmm.

[2020-03-18 21:17] RAMitchell commented on #5430
Let's keep this open for discussion.

[2020-03-18 21:41] RAMitchell commented on #5430
I feel like much of the existing work focuses on exact style tree splits where we have mostly moved on to histogram style algorithms in state-of-the-art gradient boosting. This means the data is already split between nodes and not communicated. For this reason it feels like a lot of the work being done on this topic is redundant (happy to be wrong here) and driven by academic fashion.

Does this m

[2020-03-18 21:46] RAMitchell commented on #5423
In random forest mode we can only perform one Newton step to minimise the objective function. In the case of squared error a single step is sufficient. This might be the source of bias. I have thought about how to fix this, maybe by refreshing the trees in subsequent boosting steps.

[2020-03-19 02:29] lilihongjava commented on #5429
I use Pre-built binary wheel for Python。I started it in a container docker ， add parameter  --gpus 0  solve the problem。Docker version 19.03.1

[2020-03-19 02:29] #5429 closed

[2020-03-19 05:30] cheetah90 commented on #1715
Thanks! It works for me as of today! Can anyone explain why this works?

[2020-03-19 06:48] mayer79 commented on #5423
This might be indeed the reason why performance is not too good. But I guess lightGBM's rf mode would suffer the same issue. However, its performance is not negative in all cases I have tested. I will try to test more delta_step values to see if it is just a poor parametrization by myself.

[2020-03-19 12:35] shivam13juna commented on #5102
OH MY GODDD, finally what hcho3 said helped me out. They re-encode. We gotta have this in xgboost, although I had this problem with lightgbm. Apparently all encoded columns are expected to be zero indexed, trainy - 1 sorted me out.

[2020-03-20 09:26] yangqingqinghealsci opened #5433 "XGBRegressor predict value is not eqaul with model.get_booster().predict value"
import xgboost as xgb
from xgboost.sklearn import XGBRegressor
import xgboost
import pandas as pd
import numpy as np
from sklearn import datasets
from xgboost import DMatrix
boston_data = datasets.load_boston()
df = pd.DataFrame(boston_data.data,columns=boston_data.feature_names)
df['target'] = pd.Series(boston_data.target)

Y = df["target"]
X = df.drop('target', axis=1)

#### Code using Sklearn W

[2020-03-20 09:27] yangqingqinghealsci commented on #5433
![image](https://user-images.githubusercontent.com/29110899/77151020-14078380-6ad0-11ea-949a-00464335c967.png)

[2020-03-20 09:55] trivialfis commented on #5433
Set the `missing` value for `DMatrix` to `0.0` please.

[2020-03-20 11:14] #5433 closed

[2020-03-20 13:40] #4648 closed

[2020-03-22 01:12] StrikerRUS opened #5436 "XGBRegressor with gblinear booster produces different models with fixed random_state"
Hey guys!

Here are a repro for the issue in the title.

[code]

[code]

Actually, `feature_selector="shuffle"` is not needed to reproduce the issue, but let it be here as it was in the original code which allowed to spot the error.

[2020-03-22 01:15] StrikerRUS commented on #5436
Found the cause:

        shotgun: Parallel coordinate descent algorithm based on shotgun algorithm. Uses ‘hogwild’ parallelism and therefore produces a nondeterministic solution on each run.

[2020-03-22 01:15] #5436 closed

[2020-03-22 05:45] hcho3 commented on #5345
@hetong007 I made the necessary change (https://github.com/dmlc/xgboost/commit/3550b16a34055bc8ec33bf0b7006448e8c1a4eca). Can you try again?

[2020-03-23 07:54] hetong007 commented on #5345
@hcho3 thanks for the fix! If nothing serious goes wrong, it is on the way to CRAN.

[2020-03-23 13:58] hetong007 commented on #5345
@hcho3 So it fails on Soalris, from Prof. Ripley:

[code]

[2020-03-23 21:38] hcho3 commented on #5345
@hetong007 Nice. Please tell Prof. Ripley thanks for taking time to debug the problem. I will go ahead and guard that line to only run in proper Linux environment only, since we only have proper testing facility to test non-standard C++ facilities.

[2020-03-24 00:16] hetong007 commented on #5345
@hcho3 sounds good to me. The deadline from Prof. Ripley for a new submission to CRAN is 2020-04-06. If you are interested in detailed installation log, please visit https://cran.r-project.org/web/checks/check_results_xgboost.html

[2020-03-24 05:23] cockroachzl commented on #5354
I got the same error in Ubuntu 18.04 and Python 3.6.10. Tried xgboost 1.0.0, 1.0.1, and 1.0.2, all got the same error. However downgrading xgboost version to 0.90 works without issues. Any solution?

[2020-03-24 05:37] hcho3 commented on #5354
It looks like there's more than one installation of XGBoost and you are picking up an old copy of `libxgboost.so`. Try searching for `libxgboost.so` in your system.

[2020-03-24 10:15] blenzus commented on #5354
The problem was that i had 2 versions of xgboost installed. pip freeze your current env and check the version you're currently using.

[2020-03-25 00:12] hcho3 commented on #5345
@hetong007 The commit https://github.com/dmlc/xgboost/commit/d83db4844bae5969609e58cd6bb201e7831cfaa3 should address the problem. I finally managed to get the latest R working with my Solaris VM and run CRAN checks for XGBoost.

[2020-03-25 01:01] hetong007 commented on #5345
@hcho3 Brilliant! Can I take it as you have made it pass the check on Solaris?

[2020-03-25 01:02] hcho3 commented on #5345
Yes, we should submit it now.

[2020-03-25 03:00] sunhs commented on #5345
Hi, I'm faced with similar issues with Python. I saved the model via xgboost 1.0.1, and loaded it via xgboost 0.9, and the predictions are empty lists. Since our production environment is using xgboost 0.9, I'm wondering if there's any way I can load a saved-via-xgboost-1.0 model into xgboost 0.9?

[2020-03-25 03:42] hetong007 commented on #5345
@hcho3 Is there a way to share your snapshot? It is valuable for our further submission as well.

[2020-03-25 23:34] kamil-kaczmarek opened #5440 "Contribute neptune callback"
Hi,

I would like to contribute callback that will log `evals_result` (maybe along with other artifacts important for the user) to [Neptune](https://github.com/neptune-ai/neptune-client).

Thanks to this, XGBoost user will be able to start tracking their experiments (i.e. HPO runs), for further analysis and comparison with minimal effort.

Please let me know what do you think? I'm happy to discuss

[2020-03-26 00:01] hcho3 commented on #5440
XGBoost already has a built-in callback facility. See example https://github.com/dmlc/xgboost/blob/master/demo/aft_survival/aft_survival_viz_demo.py. The env argument has several attributes, the full list available at https://github.com/dmlc/xgboost/blob/cfae247231e4977a78b255810565369c934fe1b5/python-package/xgboost/training.py#L93.

[2020-03-26 00:05] hcho3 commented on #5440
Also, is neptune similar to optuna?

[2020-03-26 09:13] msarafzadeh commented on #5401
No, adding allow_nan tag to the XGBoost classifier does not help.

[2020-03-26 12:05] kamil-kaczmarek commented on #5440
Hi @hcho3,

Thanks for the fast reply.

**Callback**
Yes, I would like to use exactly the attributes that you pointed to. In principle Neptune users can develop such callback in their sources, however, my idea is to facilitate this by making PR with specific callback (in the [callback.py](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/callback.py) file) that can be imported dir

[2020-03-26 14:30] SmirnovEgorRu opened #5442 "Contribute oneAPI support in XGBoost"
Hi everyone,

oneAPI is a program currently developed by Intel to have one programming model for many types of HW like CPU, GPU, FGPA and other accelerators. The base of the platform is DPC++ language. At the moment it's on Beta stage.
More details are available by links:
- https://software.intel.com/en-us/oneapi
- [oneAPI Product Brief](https://software.intel.com/en-us/download/oneapi-product-bri

[2020-03-26 14:59] hcho3 commented on #5440
@kamil-kaczmarek My suggestion is to include the proposed callback in the Neptune codebase. Here are other two projects that implement their own custom callback to interact with XGBoost:
* Optuna implements `optuna.integration.XGBoostPruningCallback`: https://github.com/optuna/optuna/blob/master/optuna/integration/xgboost.py
* SageMaker Debugger implements `smdebug.xgboost.Hook`: https://github.co

[2020-03-26 15:12] hcho3 commented on #5442
@SmirnovEgorRu Does it support OpenCL? It would benefit many XGBoost users if they could use OpenCL and leverage Intel and AMD graphics.

[2020-03-26 15:18] SmirnovEgorRu commented on #5442
@hcho3, DPC++ is based on OpenCL, but with more high-level C++ interfaces. So, the answer is yes.

[2020-03-26 15:39] kamil-kaczmarek commented on #5440
Thanks @hcho3 I'll do it in the way you suggest.

Is there a place in XGBoost docs or examples that show such external integrations?

Thanks,
Kamil

[2020-03-26 15:48] hcho3 commented on #5440
@kamil-kaczmarek Not yet. Admittedly, callback feature hasn't been quite well documented. For now, you should look at the two examples I posted earlier, as well as [aft_survival_viz_demo.py](https://github.com/dmlc/xgboost/blob/master/demo/aft_survival/aft_survival_viz_demo.py).

[2020-03-26 17:04] napetrov commented on #5442
@hcho3, @SmirnovEgorRu   I would slightly extend this answer.
yes, DPC++ is based on sycl and can handle OpenCL, but long-term plan is that primary focus in is DPC++ kernels and not OpenCL.

As for different hardware support - this will really depend on runtime availability for any particular hardware platform. Plan is to get all required specification open so new platforms can be enabled.

And ov

[2020-03-26 17:17] hcho3 commented on #5442
@napetrov @SmirnovEgorRu I should clarify my question: Can DPC++ kernels be compiled into OpenCL?

But eventually DPC++ kernels will have to be lowered into something like OpenCL?

[2020-03-26 21:57] ldesreumaux opened #5443 "Side effect using xgboost.train with callbacks and subsampling enabled"
While running benchmarks using the callback that allows to update the learning rate at each iteration, I noticed a side effect that seems to occur only when row subsampling is enabled.

See the script below to reproduce the issue. In this script, two models are trained using `xgboost.train`: one that does not have callbacks, and one that has a callback that does a "fake learning rate update", whic

[2020-03-27 04:00] hcho3 commented on #5442
@trivialfis @dmlc/xgboost-committer I have scant knowledge about SYCL. If one of you have any context here, feel free to chime in.

I am inclined to support this effort, as long as it has potential to benefit many users. (That's why I asked about OpenCL and Intel/AMD graphics.) We could use plugin mechanism to enable one API prototype as an experimental basis.

[2020-03-27 04:20] RAMitchell commented on #5442
+1 use the plug-in mechanism to develop a prototype and we will see how it goes.

[2020-03-27 04:24] terrytangyuan commented on #5442
+1 as long as we mark this as experimental and make sure users have no/minimal impact from this

[2020-03-27 04:38] RAMitchell opened #5444 "Consistency of min_child_weight parameter"
The `min_child_weight` parameter (default value 1.0) has different effects based on scaling of objective functions. I noticed this when developing a new objective function that had a small Hessian and the tree was not able to grow with default parameters. Objectives like squared error and logistic loss will be regularised very differently as a consequence. For example using logistic loss where the

[2020-03-27 09:37] yan-rui opened #5446 "'malloc(): memory corruption' xgboost4j predictor"
Hi, Im using xgboost4j to build a http service project with spring boot. It get an error like below.
Here is my env:
`java version "1.8.0_65"

'org.springframework.boot' version '2.2.2.RELEASE'

'io.spring.dependency-management' version '1.0.8.RELEASE'

xbgoost4j 0.82
`
I have 2 model to load in memory

Here is the error:
*** Error in 'java': malloc(): memory corruption: 0x00007fb91dc09200 ***
===

[2020-03-27 09:38] yan-rui commented on #5446
Any ideas to solve it ?

[2020-03-27 09:57] trivialfis commented on #5446
What's your current version of XGBoost?  Also do you have a reproducible example?

[2020-03-27 10:00] kamil-kaczmarek commented on #5440
Thanks @hcho3,

I think that I know how to implement it :slightly_smiling_face:

I asked more about a potential place where I can show my use case. I found [awesome-xgboost](https://github.com/dmlc/xgboost/tree/master/demo#awesome-xgboost), where I can add one sentence about my integration. What do you think?

[2020-03-27 10:19] hcho3 commented on #5440
Yes, the demo directory is where you can put your example.

[2020-03-27 10:51] kamil-kaczmarek commented on #5440
Thanks @hcho3, I'll do it.

[2020-03-27 12:57] Zethson opened #5447 "Conda package not compiled with GPU support"
Dear developers,

My conda environment.yml contains:
[code]
However, when running a trivial example:
[code]

I get:
[code]
which basically says that XGBoost was not compiled with GPU support.
I absolutely NEED XGBoost with GPU support as a Conda package and therefore would like to ask for a pointer to such a conda package or you to update the Conda packages with GPU support.

Thanks!

[2020-03-27 15:52] raviprasad1210 opened #5448 "xgb.cv's auc score is not matching with cross_val_score when `colsample_bytree` is other than 1"
I am working on highly imbalanced dataset. During hyperparameter tuning, I found that if colssample_bytree is set to value other than 1, then cross_val_score from sklearn package is not matching with the auc score obtained from xgb.cv.

xgb.cv code:
[code]
This results in test-auc-mean of 0.91706

cross_val_score code:

[code]
This results in test-auc-mean of 0.8994

I don't understand this huge d

[2020-03-27 16:58] hcho3 commented on #5447
@Zethson Currently, the XGBoost package from ` conda-forge ` channel doesn't support GPU. There is an on-going discussion about this: https://github.com/conda-forge/xgboost-feedstock/issues/26. For now, you should obtain XGBoost from `nvidia` channel instead:
[code]
I just tested this command using g4 instance on Amazon EC2.

ps.

I'd be curious to hear reasons why the pip package does not meet yo

[2020-03-27 17:00] Zethson commented on #5447
Thank you

For reproducibility reasons & dependency conflicts.
Conda allows me to be far more controlled with dependencies and conflicts can be resolved far more easily, since Conda keeps tracks of possible conflicts.

[2020-03-27 17:13] hcho3 commented on #5447
Thanks for the reply. I agree that Conda has better dependency management. I’m closing this issue for now. You should follow the issue on xgboost-feedstock if you’d like to know when conda-forge would have XGBoost with GPU support.

[2020-03-27 17:13] #5447 closed

[2020-03-28 06:02] shazhongcheng opened #5449 "ValueError: y contains previously unseen labels"
The error information is so strange!

[code]

the error information:
[code]

[2020-03-28 20:37] RAMitchell commented on #5447
Conda xgboost packages with gpu support are available here for now: https://anaconda.org/rapidsai/rapids-xgboost

[2020-03-29 16:11] msoos opened #5450 "C interface does not allow for rapid prediction due to suspected O(n^2) `ClearExpiredEntries`"
I am using the python module to create a model that I then load in C++ to make predictions. This actually works, except that the prediction is excruciatingly slow, because of what I think is a cleanup function in C++ that is called after every `XGBoosterPredict` and seems to be O(n^2). Let me elaborate.

I call

[code]

Where `dmat` contains a *single row*, about 10-20 thousand times, very rapidly

[2020-03-29 16:34] msoos commented on #5450
Some more info, if needed. I have 22 features and I train the model on about 800 data pieces in python. The training is pretty simple:

[code]

[2020-03-29 17:58] trivialfis commented on #5450
@RAMitchell

[2020-03-29 18:04] trivialfis commented on #5450
For serving tree inference there are tree inference libraries from rapidsai and treelite, also onnx.  If you want to use XGBoost for this purpose, feel free to take a look into https://github.com/dmlc/xgboost/pulls. @RAMitchell and I haven't decided whether should be merge it due to additional maintenance burden.

[2020-03-29 18:49] msoos commented on #5450
Thanks! That PR Looks good actually, I'd vote for it to be merged :) Also, my setup shows a significantly larger performance hit, approx 100x, not the 1.4x/5.x that is seen there. So there seem to be cases when what's there as a slowdown is not realistic.

As for why I want to use xgboost. Basically, I need to have many different predictors. I'd rather not have 3 different libraries doing the pred

[2020-03-29 19:28] trivialfis commented on #5450
Yes.  You can hack it, it's only for memory usage concern.  Another way is to use std map instead of hash.  Maybe it's only latency here as if your DMatrix is expired right after prediction, the map will remain at most 1 entry.

[2020-03-29 20:05] msoos commented on #5450
Oh, okay, thanks a lot! I will then hack it and just delete the `dmat` right after :) Thanks again! I am now closing, as this fixes it for me :)

Mate

[2020-03-29 20:05] #5450 closed

[2020-03-29 20:06] harshit-2115 opened #5451 "xgboost.dask.DaskXGBClassifier not working with >1 dask distributed worker in case of large datasets"
Hi XGBoost devs,
I am running the this code on an EC2 machine with 32 threads and 128 GB ram. The size of csv being loaded in 800MB.
[code]
It works if the model is trained using a subset of the features with worker=1.

Some cases where it fails :
1. Same subset of features and with workers > 1, It keeps on running in the notebook with no result. In terminal,
```WARNING: /home/conda/feedstock_root

[2020-03-29 20:19] trivialfis commented on #5451
Hi thanks for rasing an issue.  Here are some questions:

- How sparse is your dataset?
- Also where's the gridsearch coming from? Skl or dask ml.
- Did you encode your label to be discrete values?
- Lastly are you pulling Xgboost from master branch?  If so which commit it's?

[2020-03-29 20:20] hcho3 commented on #5448
Which version of XGBoost are you using?

[2020-03-29 20:57] harshit-2115 commented on #5451
Thanks for the prompt reply.

- shape of dataset is 850k x 244. sparsity(0s) = 65%.
- I am using skl gridsearch.
- yeah, the label only contains two classes 0 and 1
- xgboost version '1.0.2'

[2020-03-29 21:35] harshit-2115 commented on #5451
[code]

I am trying the same on a sample dataset. It runs with worker=1 but with workers > 1, it is still giving the same 'Label set is empty' warning.

[2020-03-30 03:48] yan-rui commented on #5446
Solved. I had a wrong Centos System.

[2020-03-30 03:48] #5446 closed

[2020-03-30 07:17] dacson opened #5452 "memory leak on multi thread by python"
use "predict" fucntion in multi thread by python interface for long time, you will see the memory increase slowly,

- reproduec environment
  -  OS
NAME="Ubuntu"
VERSION="16.04.4 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.4 LTS"
VERSION_ID="16.04"
  - python
Python 3.7.4 (default, Dec 17 2019, 16:30:25)
[GCC 5.4.0 20160609] on linux
  - xgboost version
 1.0.2
 - full re

[2020-03-30 07:36] #5339 closed

[2020-03-30 07:36] trivialfis commented on #5339
Merged https://github.com/dmlc/xgboost/pull/5389

[2020-03-30 08:38] trivialfis commented on #5452
Ran the script with address sanitizer, all memory leaks point to Python instead of XGBoost so my guess is there's something involved in threading.  Running valgrind massif, might take some time.

[2020-03-30 10:52] trivialfis commented on #5452
After a simple glance, I think you just have to force Python to do garbage collection:

[code]

From profiling, most of the memory are not from XGBoost but from Python:
![Screenshot from 2020-03-30 18-51-35](https://user-images.githubusercontent.com/16746409/77904708-96a1f700-72b7-11ea-9ede-ce7644023a16.png)

[2020-03-30 11:17] trivialfis commented on #5449
The label goes through label encoder from scikit learn.  You can try encoding the label yourself and provide `num_class` for XGBoost, see if the bug disappears.

[2020-03-30 12:41] shazhongcheng commented on #5449
I try encoding the label and provide `num_class`:
[code]

[code]

It seems doesn`t work.  It is so strange, I know if i don`t use early_stopping, it will run fluently.

[2020-03-30 12:50] Maradonna90 opened #5454 "Segfault in XGBoosterPredict"
I get a segfault when using a vanilla XGBRegressor on my dataset. I ran a tutorial example from https://machinelearningmastery.com/develop-first-xgboost-model-python-scikit-learn/
The code is in section 6 and the dataset is linked in the intro.

I used gdb to get a trace and it leads to XGBoosterPredict():
0x00007fffb56c4d9d in XGBoosterPredict () from /usr/xgboost/libxgboost.so

Python 3.8.2
Name

[2020-03-30 13:29] trivialfis commented on #5454
Em .. I can't reproduce.

[2020-03-30 13:30] trivialfis commented on #5454
How did you install XGBoost?  If you are using the makefiles like that tutorial, could you try `pip install xgboost` instead?

[2020-03-30 13:50] Maradonna90 commented on #5454
I installed it with pip in the first place.
It actually works for me with 1.1.0 Snapshot. I will reinstall 1.0.2 to verify.

[2020-03-30 13:53] trivialfis commented on #5454
Just a note here, the auc will be a little lower than the one in tutorial as we changed the default parameter.  Changing `max_depth` to 3 and `learning_rate` to 0.1 should reproduce the same auc.

[2020-03-30 13:55] Maradonna90 commented on #5454
Reinstalled pip version and getting segfaults again.

[2020-03-30 14:01] trivialfis commented on #5454
@Maradonna90 Could you go into your `python3.8/site-packages/` and see how many xgboost are there?  We had a breaking API for `predict` in C.  Right now the only reason I can think of is your python code is calling a old shared library.

[2020-03-30 14:19] kylejn27 commented on #5339
@trivialfis thanks! I'm seeing this issue fixed on our end from your PR

[2020-03-30 14:29] Maradonna90 commented on #5454
well there seems to be something funny going on at my end, because I tested it with a docker container and its working there.

[2020-03-30 14:44] #5454 closed

[2020-03-30 14:47] trivialfis commented on #5454
@Maradonna90  If you figured out what's happening please share, this will help others who encountered similar problem.  Issues are indexed by google.

[2020-03-30 15:05] trivialfis commented on #5451
- You may want to pull in the latest XGBoost, as we fixed a prediction bug recently.
- I don't think the memory consumption comes from XGBoost, rather it's somewhere in your pipeline.  I checked XGBoost's own memory consumption by loading some datasets directly and it works fine.   XGBoost just force the lazy computation to materialize.  Sometimes others believes it's XGBoost's error.  Also someti

[2020-03-30 15:07] trivialfis commented on #5339
Happy to help here. :-)

[2020-03-30 15:50] Maradonna90 commented on #5454
I can't really get a hold of it. I think it comes down to my messy global `python3.8/site-packages` so i just made a `venv` as you should actually do.

[2020-03-30 17:56] raviprasad1210 commented on #5448
I tried in two systems. Observed the same.
Here are two versions I tried - 0.90, 1.0.2

[2020-03-30 18:09] harshit-2115 commented on #5451
How to balance the data between workers ? I get the same warning on the sample dataset too. Can you please debug the sample dataset script and post the changes required to balance the data between workers ?

[2020-03-30 21:46] aws-patlin opened #5456 "DMatrix from Numpy/Pandas vs CSV file produces different prediction"
I have found that for a model trained on data with negative values, predicting on a DMatrix created from data containing NaNs loaded first into a numpy array or pandas dataframe produces a different prediction compared to creating a DMatrix directly from the CSV file. I've observed this behavior in the Python API for both XGBoost 0.90 and 1.0.0 (haven't tested older versions). Here is a minimal sc

[2020-03-30 21:58] mrm8488 commented on #5333
What about something like this to start from basics examples?
https://colab.research.google.com/drive/1wNcIBklvOTBvsUXcUU_z4sDQFEf6w9u9

[2020-03-30 23:34] aqi-mph opened #5457 "error compiling 1.0.0.2 on centos 7"
Failing when trying to install the 1.0.0.2 R package from source under centos 7, not sure what other info might be needed but here is the snippet where it fails:

amalgamation/../src/learner.cc: In member function ‘virtual void xgboost::LearnerImpl::SaveModel(xgboost::Json*) const’:
amalgamation/../src/learner.cc:378:24: error: invalid initialization of non-const reference of type ‘xgboost::Json&’

[2020-03-30 23:44] hcho3 commented on #5457
XGBoost requires GCC 5 or newer. GCC 5 is available via devtoolset-4.

[2020-03-30 23:44] #5457 closed

[2020-03-31 13:07] Zethson opened #5458 "Unable to reproduce model on GPU using 'gpu_hist', but works with 'hist'"
Dear everyone,

I have read all discussions on https://github.com/dmlc/xgboost/issues/5023 and the related issues, but do not seem to find a solution that works.
My problem is that my merror differs between runs, but only when running 'gpu_hist' for the tree method.

Code (including dataset):
[code]

I have set the numpy seed, the python random seed, the train test split seed and the XGBoost seed.

[2020-03-31 13:10] trivialfis commented on #5458
Right now you need master branch for reproducible GPU hist.

[2020-03-31 13:11] Zethson commented on #5458
So I need to wait for the next release or install the current master branch manually?

[2020-03-31 13:12] trivialfis commented on #5458
Yes.  See: https://github.com/dmlc/xgboost/issues/5337

[2020-03-31 13:13] Zethson commented on #5458
All right. Thank you for your swift help.

[2020-03-31 13:13] #5458 closed

[2020-03-31 17:07] ldesreumaux opened #5461 "Huge increase in learning time introduced in version 0.81"
I recently updated my version of xgboost from 0.80 to 1.0.2 and I noticed a huge increase in learning time.

I investigated the problem and found that this increase is caused by the `Span` class introduced in 2c50278 and first released in version 0.81. Compared to the structure that was used before, this class does some checks (`SPAN_CHECK` instructions in `span.h`). If you remove these checks, yo

[2020-03-31 17:22] SmirnovEgorRu commented on #5461
@ldesreumaux, thank you for reporting the issue.
Could you, please, provide more details (e.g. parameters and dimensions) to reproduce the issue on my side?

[2020-03-31 17:32] ldesreumaux commented on #5461
Here is a python script to reproduce the issue. With this script, there is a x2 improvement on my laptop when I remove the checks in version 1.0.2.

[code]

[2020-03-31 18:34] sandys commented on #5451
hi guys - we have the same issue.
@trivialfis if you can post a recommended script, it will be great and we will follow the same.

[2020-03-31 19:19] SteveBronder opened #5462 "[cmake warning] Calling host function from device function in SymbolBits"
## Summary

When compiling from master I'm seeing the warning

[code]

This seems to come from [`compressed_iterator.h`](https://github.com/dmlc/xgboost/blob/master/src/common/compressed_iterator.h#L35)

[code]

You include cmath at the top so I think this can be

[code]

## Reproduce

[code]

I'm using gcc 8.3 though I'm guessing this is an everything thing

[2020-03-31 19:22] trivialfis commented on #5462
Fixed in https://github.com/dmlc/xgboost/pull/5453

[2020-03-31 19:24] trivialfis commented on #5461
A bit surprised your bottle neck is in objective.  Is the slow down still in 1.0.2?

[2020-03-31 19:25] trivialfis commented on #5461
Which compiler are you using?

[2020-03-31 19:29] trivialfis commented on #5451
Em ..  Sometimes its the chunk size, sometimes its other problems.  XGBoost does not move data, it accepts whatever dask provides for each worker.  Let me take a look.

[2020-03-31 19:51] ldesreumaux commented on #5461
I am using Visual Studio 2015 on my Windows laptop.

I also had the same difference between version 0.80 and 1.0.2 with xgboost installed via pip in a Linux environment.

[2020-03-31 20:03] trivialfis commented on #5461
Thanks for sharing the information.

[2020-03-31 20:05] trivialfis commented on #5451
In the sample script above posted by @harshit-2115 , reducing the chunk size should balance the data enough to prevent starved workers:

[code]

[2020-03-31 20:16] trivialfis commented on #5451
Some simple testing from above script: for using 1500 as chunk size, the data is distributed quite nicely:

[code]

[2020-03-31 21:49] BaoshengHeTR commented on #3789
By the way, what is the difference by using `gblinear` and logisticregression. I have the same result for the two methods.

[2020-04-01 09:33] #5456 closed

[2020-04-01 10:32] #5452 closed

[2020-04-01 10:33] trivialfis commented on #5452
Feel free to reopen if the issue can be confirmed to be XGBoost related.

[2020-04-01 12:26] harshit-2115 commented on #5451
Thank you for debugging the script @trivialfis

- I ran your script with both dask xgboost and xgboost. Dask xgboost is taking longer than xgboost to train, maybe because of the overheads due to the large number of chunks.
- skl gridsearch can parallelize xgboost fits on a multi-core machine, but in case of dask xgboost skl gridsearch gives error when n_jobs > 1.
- Also, increasing the chunk_size

[2020-04-01 13:49] samyip123 opened #5468 "Installation error"
when installing the package with pip3 install xgboost==1.0.2 on macos, the following error occured
`    ERROR: Command errored out with exit status 1:
     command: /Users/ivan/anaconda3/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/xb/ryd49p4s1j144n90lsvst0fr0000gn/T/pip-install-tfrzw69u/xgboost/setup.py'"'"'; __file__='"'"'/private/var/folders/xb/ryd49p

[2020-04-01 13:50] #5468 closed

[2020-04-01 13:57] trivialfis commented on #5451
Not surprising.  Even within XGBoost, simply syncing gradients between workers has its overhead.  On the dask end there are even more operations.  There's always a trade off.

skl functions are designed to work on local data.  In our case, it operates on `dask.Array/dask.DataFrame`, which "looks like" a local data thanks to Python's duck typing.  But you can imagine if you slice the data for each

[2020-04-01 15:32] napetrov commented on #5442
@hcho3 Will try to make short and more comprehensive answers:

Short version - aim of oneAPI is to work on multiple platforms so it can enable many users not just limiting Intel/AMD  gpus. So this matching your point that this is beneficial for wider community and not just Intel specific.

Long version-
DPC++ kernels can't be compiled to OpenCL. But OpenCL kernels can be used in DPC++ program with

[2020-04-01 17:28] sandys commented on #5451
@trivialfis that's a very interesting comment. in general do you use gridsearchcv ever ? or do you not use it at all ?
Do you always do your training on one machine with CPU or do you do distributed - like the way Sagemaker [recommends](https://aws.amazon.com/blogs/machine-learning/simplify-machine-learning-with-xgboost-and-amazon-sagemaker/) (even with xgboost)

how would you do cross-validation

[2020-04-01 18:12] trivialfis commented on #5451
@sandys Your questions are asking my personal opinion.  So the following answers are from personal perspective.

Both.  I'm a developer.

Depends.  Is your data 100 machines worthy?  For example, one normally don't put iris into a cluster.  As commented, it's a trade off.  See the performance section in https://medium.com/rapids-ai/a-new-official-dask-api-for-xgboost-e8b10f3d1eb7 .  You can see th

[2020-04-01 18:22] trivialfis commented on #5451
The questions here are really more about dask instead of XGBoost.  I would recommend:

https://docs.dask.org/en/latest/best-practices.html
https://docs.dask.org/en/latest/dataframe-best-practices.html

[2020-04-01 19:28] aws-patlin commented on #5456
Was this fix confirmed to resolve the provided example?

For my understanding, was the issue that zeros were being pushed into the DMatrix for validation/prediction when reading from file, and this was producing an inaccurate prediction? Do we have an understanding of why this only seems to be a problem when negative values are present in the training data?

[2020-04-01 19:33] hcho3 commented on #5456
@aws-patlin Yes, previously the CSV parser was pushing zero for all missing values. So `3,,,4` would be parsed into `[3, 0, 0, 4]`, not `[3, nan, nan, 4]` (here I use `nan` to represent missing value).

[2020-04-01 19:33] trivialfis commented on #5456
Sorry, seems being closed by github automatically.  We still need #5466 for the complete fix.  The issue is in dmlc CSV parser.  It adds a 0 when entry is missing:
[code]
 results in a row with value:
[code]

[2020-04-01 19:52] aws-patlin commented on #5456
Here is what I think is going on (please correct me if I'm wrong, since my understanding of XGBoost/decision trees is pretty rudimentary):

When negative values are not present in the training set, filling in zeros for NaNs may not produce any visible difference if zeros and NaNs always fall on the same side of the trees' splits. For example, if a split is f1 < 10, and both 0 and NaN count as True

[2020-04-01 20:11] hcho3 commented on #5442
@napetrov Got it. So we’ll need DPC++ runtime to run DPC++ programs on any given hardware, is that right?

Given that it would take time for DPC++ runtimes to develop on other hardwares, I propose that oneAPI support be available as a plugin. Plugin in XGBoost is a way to test experimental features before making them available to all users. For example, support for CUDA was made first available as

[2020-04-01 20:20] harshit-2115 commented on #5451
True, single xgboost fit takes no time. But if I am using gridsearchcv for hyperparameter tuning with 5 fold cv, total number of fits increases exponentially. That is why we use multi-core machines to distribute the fits.

[2020-04-01 20:33] harshit-2115 commented on #5451
I trained my dataset using dask xgboost, 2000 chunksize with a single gridsearch candidate and 5 Fold cv. It took 28 mins for the first fit to complete, but the rest 4 fits took just 1-2 mins. I didn't get this. What do you think ?

[2020-04-01 20:42] napetrov commented on #5442
Yes, although now OpenCL RT might work for non Intel hw.

Yes, plugins is good option to start with to showcase technology and receive feedback.

Will be happy to cover any other oneAPI questions.

[2020-04-01 22:00] maxmetzger commented on #4668
I am running into this same issue, when training many small gpu_hist models.

[2020-04-01 23:01] #5462 closed

[2020-04-01 23:07] trivialfis opened #5470 "Repeated Jenkins build."
I just killed a job on master 13b10a63700035d78c282188e9f4c49226109c02, which ran for 175 times.  @hcho3 Is there any way we can prevent this from happening again?

https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/master/175/pipeline/

[2020-04-01 23:12] hcho3 commented on #5470
?? I don’t see the job running “175 times.” The build ID is 175. Are you referring to the build ID? The build ID merely means that there have been 175 commits to the master since we re-built Jenkins from scratch. Notice that jobs associated to the master branch have different git commit IDs.

[2020-04-01 23:13] hcho3 commented on #5470
I looked at the build log and the job was waiting for provision of a EC2 worker. Why did you have to kill it?

[2020-04-01 23:14] trivialfis commented on #5470
Oh, my bad.  That's what it means.  I got scared.

[2020-04-01 23:14] #5470 closed

[2020-04-01 23:17] hcho3 commented on #5470
Got it. Multiple builds are undesirable only if they all refer to the same commit ID.

[2020-04-02 04:24] venkyyuvy opened #5471 "Not throwing error for wrong parameters"
[code]

[2020-04-02 09:21] trivialfis commented on #5451
XGBoost is multi-threaded even in single node configuration.

Could you take a look into the web interface and see what's dask doing?

![Screenshot from 2020-04-02 17-21-04](https://user-images.githubusercontent.com/16746409/78232132-64d29f80-7506-11ea-9085-38a05e7ccf38.png)

[2020-04-02 10:17] liuke1993 opened #5472 "[jvm-packages] java.lang.NoSuchMethodError: org.apache.spark.ml.param.shared.HasWeightCol.$init$(Lorg/apache/spark/ml/param/shared/HasWeightCol;)V"
Compile xgboost4j-spark_2.12-1.0.0.jar (release-1.0.0 version) from source on MacOSX
use spark 2.4.3 yarn, scala 2.11.8

code piece:
val xgbClassifier = new XGBoostClassifier()

I got the following exception:
Exception in thread "main" java.lang.NoSuchMethodError: org.apache.spark.ml.param.shared.HasWeightCol.$init$(Lorg/apache/spark/ml/param/shared/HasWeightCol;)V
    at ml.dmlc.xgboost4j.scala.s

[2020-04-02 10:26] raviprasad1210 commented on #5448
Any update on this. Thanks.

[2020-04-02 10:46] hcho3 commented on #4491
AFT is now part of XGBoost: #4763

[2020-04-02 13:18] pplonski opened #5474 "High memory consumption in python xgboost"
I'm working on [python AutoML package](https://github.com/mljar/mljar-supervised) and one of my users reported [very high memory usage while using xgboost](https://github.com/mljar/mljar-supervised/issues/13).

I've made an investigation to show memory consumption by xgboost. You can find the notebook [here](https://gist.github.com/pplonski/03377636c5b5028f32012e4f4f7f5f97). From the code, you can

[2020-04-02 13:31] trivialfis commented on #5474
@pplonski We are trying to eliminate the copy for histogram algorithm.  It'a working in progress.  For GPU is mostly done: https://github.com/dmlc/xgboost/pull/5420 https://github.com/dmlc/xgboost/pull/5465

CPU still have some more work to do.

[2020-04-02 13:33] trivialfis commented on #5471
Parameter validation is not yet enabled for scikit learn interface.  But should be available for native interface:

[code]
Should throw a warning.

[2020-04-02 14:25] Shafi2016 opened #5475 "Bootstrap Confidence Intervals for XGBoost regression (Python)"
I want to construct Bootstrap Confidence Intervals for XGBoost regression using python. I developed my case based on codes (https://machinelearningmastery.com/calculate-bootstrap-confidence-intervals-machine-learning-results-python/#comment-528118).
Question: I am getting a one bin histogram. I get the single value for the score when we do n_iterations for the bootstrap. This is the problem and it

[2020-04-02 14:51] SmirnovEgorRu commented on #5474
@pplonski, we implemented reducing memory consumption on CPU also in this PR https://github.com/dmlc/xgboost/pull/5334, but for 'hist' method only. It's included in master only for now, but I hope it will be a part of the future release.

memory, Kb | Airline | Higgs1m |
-- | -- | -- |
Master | 28311860 | 1907812 |
This PR: | 16218404 | 1155156 |
reduced: | 1.75 | 1.65 |

Agree with @trivialfis, t

[2020-04-02 19:56] jbrownlee commented on #5475
Try plotting the data to confirm there is a distribution. Perhaps there is not.

If there is, try changing the number of bins in the histogram plot.

[2020-04-02 20:03] Shafi2016 commented on #5475
Thanks a lot: Yes tried to change the number of bins but it did not work as:

sns.distplot(stats, hist=True, kde=False,  bins=int(30/2), color = 'blue',             hist_kws={'edgecolor':'black'})

I checked with XGBoost Classifier with the data (https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv). It works fine.

![image](https://user-images.githubuserconte

[2020-04-02 22:32] aws-patlin commented on #5456
If this was automatically closed before the complete fix has been released, can @hcho3 re-open it? Also, will this bug fix go into older releases like 0.90, or is it only going into the latest release?

[2020-04-02 23:32] hcho3 commented on #5456
We do not backport bug fixes to old releases in most circumstances.

[2020-04-03 00:40] chester-leung opened #5478 "DMatrix Concatenation"
Hi, is there currently support for DMatrix concatenation? I saw in https://github.com/dmlc/xgboost/issues/60 that there was discussion on adding support for this, but I couldn't find any documentation on it.

Thanks!

[2020-04-03 00:45] trivialfis commented on #5478
No, we do support training on batches via external memory though.

[2020-04-03 00:53] #5478 closed

[2020-04-03 01:04] chester-leung commented on #5478
Are there plans to do add support for this?

[2020-04-03 02:21] RAMitchell commented on #5478
My current view on this is that it would be easy for us to start building a data frame library from DMatrix, instead I want to push this functionality onto external libraries. You could save a preprocessed file to a csv or libsvm and read it into a DMatrix from disk.

[2020-04-03 02:23] #5471 closed

[2020-04-03 08:13] LionOrCatThatIsTheQuestion opened #5479 "Native Pseudo-Huber loss support"
Would it be possible to support Pseudo-Huber-loss (https://en.wikipedia.org/wiki/Huber_loss#Pseudo-Huber_loss_function) natively?

I implemented it as a custom losss function (I use the Python SKLearn API)
[code]
but the feature importance plots don't support custom loss functions (and it slows the learning process in comparison to 'reg:squarederror').

The basic problem is the need for a robust r

[2020-04-03 09:05] meakbiyik opened #5480 "Obscure error while using refresh updater"
Hi, I have a xgboost model that I need to slightly fine tune for new datasets that it encounters, so I want to use the refresh updater (in python, via XGBClassifier object). However, I encounter an error that I do not understand:

[code]

Here's the code:

[code]

There might be several layers that instigated the problem, but I cannot start unraveling them until I understand what that means to be

[2020-04-03 23:06] RAMitchell commented on #5480
Please provide a fully reproducible example using the latest xgboost version. Some things may have changed.

[2020-04-04 09:19] meakbiyik commented on #5480
@RAMitchell Sorry about it, I tried to reproduce the error with the same configuration (but a different dataset) on Windows but I failed. Therefore I imagine it's either a problem with the dataset, or the xgboost in the system. However, I am unable to use the latest xgboost version in z/OS because I do not manage the package, and it is a real hassle to compile xgboost for mainframe.

Can you expla

[2020-04-04 10:51] trivialfis commented on #5480
@meakbiyik The error said the weight is zero.  Could you plot the tree?  If you can upgrade XGBoost to 1.0.2, saving the model to JSON is also very helpful.  I can try to reproduce the similar model.

[2020-04-04 13:36] luisvivasg commented on #4700
I also get teh same error, but with 0.

heck failed: model_.trees.size() < model_.trees_to_update.size() (0 vs. 0)

I tried this after the first iteration but I get another error saying Get_booster is not a class of Boost.

 dump_list = walmart_model.get_booster().get_dump()
    num_trees = len(dump_list)

[2020-04-04 16:27] meakbiyik commented on #5480
@trivialfis  I plotted the tree with ordinal number 0 as below:

![tree](https://user-images.githubusercontent.com/23424198/78455852-d9d9dc80-76a0-11ea-8fb5-da151ec1f4c5.png)

And here is the json dump of the model (there was a dump_model() function in 0.82 so I used it):

[tree.zip](https://github.com/dmlc/xgboost/files/4431922/tree.zip)

I hope these may help you find out the issue.

[2020-04-04 18:49] Habitats commented on #4985
Any update on this?

Or any instructions available for how to build this for Scala 2.12?

[2020-04-04 18:52] hcho3 commented on #4985
The [pom.xml](https://github.com/dmlc/xgboost/blob/master/jvm-packages/pom.xml) already refers to Scala 2.12.

[2020-04-04 18:52] #4985 closed

[2020-04-05 11:10] SimonCalo opened #5488 "Multioutput regression with custom loss function (least squares)"
Hello everyone!

I am very new to ML and even more so to XGBoost, so please excuse me if I ignore some obvious piece of knowledge.

I am currently working on a problem where I am trying to predict multiple outputs. To do so, I am going to try to embed the XGBoost regression within the SciKit learn multioutput class. (I still haven't tried this because I wanted to first structure the procedure nice

[2020-04-05 12:07] ichdream opened #5489 "search for xgboost history version"
Hi,
  I am searching for xgboost's early version v0.5, where could I find it? I find the branches do not exist.
  Is there anyone could help me?
  Thanks for your kind appreciation.

[2020-04-05 13:02] ichdream commented on #5489
done

[2020-04-05 13:02] #5489 closed

[2020-04-05 13:03] ichdream commented on #5489
done

[2020-04-06 05:47] meakbiyik commented on #5480
I realized that I did something slightly illogical, sent you only the base model but not the failed output (basically the state of the model before outputting the error). Tree for that makes more sense:

![image](https://user-images.githubusercontent.com/23424198/78526527-91bed500-77da-11ea-886c-3060a45c0404.png)

and the json is here:

[tree_with_error.zip](https://github.com/dmlc/xgboost/files/4

[2020-04-06 07:10] harshit-2115 commented on #5451
So for the first fit, dask took extra time to read the csv into memory. For the subsequent fits, it just did the computation.

Yeah, so do we need dask XGBoost only when we have a cluster of machines ? We can just use the n_jobs param of XGBoost on a single machine to use all cores, right ?

[2020-04-06 09:14] harshit-2115 commented on #5451
What can we do about this ?

[2020-04-06 12:54] SimonCalo commented on #5488
As a follow-up, I have been trying to make it work, but there seems to be a major issue:
The SciKit learn wrapper class MultiOutputRegressor essentially fits one regressor at a time, as stated also in the class documentation: "This strategy consists of fitting one regressor per target".

Now, this means that in my custom loss function, I can only access one momentum direction at a time, instead of

[2020-04-06 21:26] getBolted commented on #5419
Also faced this issue in a docker container running on rpi3b with the following code in a python script:
[code]
Tried rebuilding container with another base image and another python version, and pre-learned model loading through pickle and xgboost internal `load_model(foo.model)`. Also checked if the model built in 32-bit python, or converting data to float32 will make any sense.

By the way, this

[2020-04-06 23:50] zhangzhang10 opened #5492 "Array out-of-bound access bug"
In file src/common/quantil.h, at line 210-211:

`CHECK(i != src.size - 1);`
`if (dx2 < src.data[i].RMinNext() + src.data[i + 1].RMaxPrev()) { ... ... }`

The CHECK logs an error message if `i == src.size - 1`, then execution continues to the next line where `src.data[i + 1]` is accessed. This appears to be an out-of-bound array access error. Using a large dataset, e.g. a 64GB mortgage dataset, in

[2020-04-07 00:57] RAMitchell commented on #5492
Would you like to submit a pr?

[2020-04-07 01:18] hcho3 commented on #5337
@tqchen I will look.

[2020-04-07 02:49] RAMitchell commented on #5337
@CodingCat can please you help us resolve the last JVM issue for the release?

[2020-04-07 08:44] caizd1994 commented on #5370
I have same problem as yours

[2020-04-07 08:50] dnzprmksz commented on #5357
I have the same problem. Using Scala Spark 2.4.2/2.4.3 with 0.90 version from maven repository. Cannot train any model.

[2020-04-07 11:12] caizd1994 commented on #5370
@CodingCat

[2020-04-07 11:46] caizd1994 commented on #5370
@hcho3

[2020-04-07 16:33] sa- opened #5494 "[jvm-package] xgboost >1 not published to maven, or anywhere else"
Hey team,

xgboost jars should be easily accessible for all, but they are not.

Maven central https://mvnrepository.com/artifact/ml.dmlc/xgboost4j only has up to version 0.90

The snapshot repo @ https://raw.githubusercontent.com/CodingCat/xgboost/maven-repo/  is broken as well

https://github.com/CodingCat/xgboost/tree/maven-repo/ml/dmlc/xgboost4j doesn't list 1.0 either

[2020-04-07 16:34] hcho3 commented on #5494
@CodingCat Can we get 1.0 to Maven?

[2020-04-07 18:17] programmylife opened #5495 "[FEA] DaskXGBClassifier Early Stopping"
We (myself and @kylejn27) would like to update our model training to run with DaskXGBClassifier, but it requires early stopping. We would like DaskXGBClassifier to match the spec of XGBClassifier to include early stopping:

DaskXGBClassifier
[code]

XGBClassifier
[code]

[2020-04-08 10:32] trivialfis commented on #5495
Yup.  Will work on this, I just need to redactor the call back a little bit.

[2020-04-08 11:08] tbstockton opened #5496 "Rpackage Version 1.0.0.2 crashes RStudio"
Running the R package Version 1.0.0.2 crashes RStudio. This occurs  at the xgb.DMatrix call in the xgbtrain example. As well as when using saved xgboost objects fit under v0.90.0.2 or fitting new models.

data(agaricus.train, package='xgboost')
data(agaricus.test, package='xgboost')
dtrain <- xgb.DMatrix(agaricus.train$data, label = agaricus.train$label)

R.version
platform       x86_64-apple-darw

[2020-04-08 12:47] caizd1994 commented on #5370
"num_workers" -> 4 改成 1 重启电脑好了，num_workers不能大于local[1]。
change from  "num_workers" -> 4 to 1
and restart  then it work
it seems that int local mode, num_workers must == 1

[2020-04-08 13:50] trivialfis commented on #5496
I can't reproduce on Linux.  @hcho3 Could you please help taking a look?

[2020-04-08 13:54] #5492 closed

[2020-04-08 14:01] tbstockton commented on #5496
Sure, glad to help.  v0.90.0.2 worked fine on the described MACOS system. v1.0.0.2 crashes on the xgb.train example when running xgb.DMatrix().  Also crashes when I load and predict using a v0.90.0.2 xgboost object build on the below Ubuntu.

It seems to run fine under RStudio server on:
NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.4 LTS"
V

[2020-04-08 14:31] trivialfis commented on #5496
@tbstockton What happens if you simply run it with `Rscript` without using studio?

[2020-04-08 14:59] trivialfis commented on #5496
I also tried on RStudio, didn't reproduce it.

[2020-04-09 00:20] trivialfis opened #5498 "[RFC] Remove `distcol` updater."
The updater is long broken: https://github.com/dmlc/xgboost/issues/1832 and all other tree methods are distributed.  So maintaining this updater might not be necessary.

If we want to restore its support,  first thing needed to to is implementing a method for tree updaters to access a buffered node position for running prediction, like what's in the old code (check out linked issue above).  Then w

[2020-04-09 04:06] liuke1993 opened #5499 "[jvm-packages] java.net.ConnectException: Connection refused"
use: xgboost4j-spark 0.90, spark 2.4.3, scala 2.11.12, java jdk1.8.0_121

code piece:
[code]
XGBoost Parameters:
20/04/09 11:59:17 [main] INFO XGBoostSpark: Running XGBoost 0.90 with parameters:
alpha -> 0.0
min_child_weight -> 1.0
sample_type -> uniform
base_score -> 0.5
colsample_bylevel -> 1.0
grow_policy -> depthwise
skip_drop -> 0.0
lambda_bias -> 0.0
silent -> 0
scale_pos_weight -> 1.0
seed

[2020-04-09 04:53] banmeidareu opened #5500 "RMSLE in documentation"
Hi,
In the documentation, it seems that RMSLE is defined without the summation around the square-log differences.

I believe it should include a summation around the square.
Examples below (in the part about rmsle):
https://github.com/dmlc/xgboost/blob/cd3a3f99da3869d00c82701f34eef026fc9b204a/doc/tutorials/custom_metric_obj.rst
https://github.com/dmlc/xgboost/blob/d0b86c75d9061b93ea6c19097cc690bea

[2020-04-09 05:13] hcho3 commented on #5500
The definition given in the tutorial is element-wise, i.e. it is defined in terms of one data point. The summation is introduced when we compute the loss over the training data points.

[2020-04-09 05:13] #5500 closed

[2020-04-09 05:29] hcho3 commented on #5488
@SimonCalo Unfortunately, it is currently not possible to perform regression with multiple outputs using XGBoost. We are currently working on a proof-of-concept implementation of multi-output regression: #5460. In the meanwhile, you should consider using deep learning frameworks such as PyTorch.

[2020-04-09 05:48] hcho3 commented on #5496
@tbstockton I just tried it on my Macbook Pro (2019, MacOS Catalina) and did not reproduce the issue.

I installed R and RStudio using Homebrew:
[code]

[2020-04-09 09:36] trivialfis commented on #5488
@hcho3  It's possible with 1 stack of trees per target (which is the case in this issue).  I haven't had the energy to go through what's in this issue.  Can we reopen it?

[2020-04-09 09:39] trivialfis commented on #5461
@ldesreumaux Could you give latest master branch a try?  See if it makes thing a little better?

[2020-04-09 10:02] trivialfis commented on #5337
Reverting the status for DMatrix refactoring.

[2020-04-09 10:48] mnky9800n opened #5502 "n_estimator is not being passed forward by XGBRegressor"
The following code:

[code]

Should be passing forward the number of boosting rounds either with `n_estimators`, `nrounds`, or `num_boost_round`. However it does not and instead uses the default number of rounds.

When dropping the sklearn API and just passing a dict of params

[code]

This also is not using it. Only by declaring it directly:

[code]

Does xgboost finally accept the number of boos

[2020-04-09 11:01] trivialfis commented on #5502
It's passed by the function `get_num_boosting_rounds`.

[2020-04-09 11:07] trivialfis commented on #5502
[code]

[2020-04-09 11:07] #5502 closed

[2020-04-09 12:48] d8veone opened #5503 "[Bug report] XGboost 1.0.2 gives 'weight' key error when using "SelectFromModel' of sklearn"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2020-04-09 13:21] trivialfis commented on #5503
Could you please provide a small example?

[2020-04-09 13:28] d8veone commented on #5503
Hi

I got the message as below:

KeyError                                  Traceback (most recent call last)
<ipython-input-54-05b04f3cdcc0> in <module>
      1 model = SelectFromModel(xgb_model,prefit=True)
----> 2 X_selected = model.transform(X)
      3 X_selected=pd.DataFrame(X_selected)
      4 print(X_selected.shape)

~/opt/miniconda3/lib/python3.7/site-packages/sklearn/feature_selection/_bas

[2020-04-09 13:33] hcho3 commented on #5488
@trivialfis I am re-opening this issue per your request.

The OP (@SimonCarlo) said that fitting one stack per target does not serve his needs.

Quote:

Now, this means that in my custom loss function, I can only access one momentum direction at a time, instead of accessing them all at once.

[2020-04-09 13:36] trivialfis commented on #5503
Let me take a look tomorrow.  Thanks for opening an issue. ;-)

[2020-04-09 13:39] trivialfis commented on #5285
@RAMitchell I found the new device sketching uses more memory than the old one even after b745b7ac.

So before the rewrite of device sketching running mortage 1 year with dask:

[code]

After:
[code]

[2020-04-09 14:19] ldesreumaux commented on #5461
@trivialfis Thanks for the fix. With the latest master branch, the training times are in the same order of magnitude as before version 0.81, and there does not seem to be a very significant difference when I completely remove the span checks.

[2020-04-09 14:19] #5461 closed

[2020-04-09 17:43] #5488 closed

[2020-04-09 20:13] RAMitchell commented on #5285
Its designed to use up to 80% memory with going OOM. Using more memory can be a good thing as it runs faster. Its only a problem if it goes OOM right?

[2020-04-09 23:03] nscozzaro commented on #5468
What worked for me on my Mac (after getting the error) was:
[code]

[2020-04-09 23:14] hcho3 commented on #5468
@samyip123 Please install CMake.

[2020-04-10 00:48] hcho3 commented on #5337
@trivialfis Is DMatrix refactor blocking 1.1.0 release?

[2020-04-10 00:50] trivialfis commented on #5337
@hcho3 I just want https://github.com/dmlc/xgboost/pull/5504 before 1.1, the PR fixes prediction on device dmatrix which is part of dmatrix refactoring.   Also, the weighted sketching is not yet implemented for device dmatrix, but this is not blocking.

[2020-04-10 00:54] trivialfis commented on #5337
Also please let me give a deeper look into https://github.com/dmlc/xgboost/issues/5285 .  Will continue profiling in coming days.

[2020-04-10 00:57] hcho3 commented on #5337
Got it. I am now reviewing #5123.

[2020-04-10 02:34] RAMitchell commented on #5498
+1

[2020-04-10 02:38] hcho3 commented on #5498
+1. I don't think it works at all.

[2020-04-10 04:15] #5351 closed

[2020-04-10 04:21] #5503 closed

[2020-04-10 04:52] #5498 closed

[2020-04-10 13:14] aviks opened #5510 "Build failure on musl (CMAKE)"
Build environment: `alpine` [docker container](https://hub.docker.com/_/alpine)
XGBoost Version: 1.0.2 and master (works on 0.82)

Build Script:
[code]

Result:
[code]

The actual error (`execinfo`) is a bit of red herring. Notice that the file being included is `/build_config_default.h`. That file should not be included here.

https://github.com/dmlc/dmlc-core/blob/981b1c32f91668e669ee376856f92f3

[2020-04-10 13:17] trivialfis commented on #5338
@hcho3 Let's pin it to 1.2.

[2020-04-10 13:40] trivialfis commented on #5510
Em, the macro in dmlc-core `DMLC_CORE_USE_CMAKE` is not defined.

[2020-04-10 19:44] GuidoBartoli commented on #5503
Hi, I also confirm this issue in my environment:
- python 3.6.9
- scikit-learn 0.22.2.post1
- xgboost 1.0.2

It is also reported and explained in detail [here](https://github.com/scikit-learn/scikit-learn/issues/7926) and [here](https://machinelearningmastery.com/feature-importance-and-feature-selection-with-xgboost-in-python/), do you think it could be resolved in the next xgboost release?

Many

[2020-04-10 19:56] hcho3 commented on #5503
@GuidoBartoli Can you try the latest nightly buil and see if the issue is fixed?
* Linux 64-bit: https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.1.0_SNAPSHOT%2B4a0c8ef23714754f2a73414cc13fd3ad05ce7fda-py2.py3-none-manylinux1_x86_64.whl
* Windows 64-bit: https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.1.0_SNAPSHOT%2B4a0c8ef23714754f2a73414cc13fd3ad05ce7fda-py

[2020-04-11 07:22] GuidoBartoli commented on #5503
Yep, that works fine, thanks! :)

[2020-04-11 07:25] hcho3 commented on #5503
@GuidoBartoli That's good to know. The fix will be part of the upcoming 1.1.0 release.

[2020-04-11 08:46] hcho3 commented on #5510
@aviks Try compiling code from https://github.com/dmlc/xgboost/pull/5514. I just tried it in latest Alpine container and it works.

[2020-04-11 08:59] hcho3 commented on #4899
#5513 removes Makefile completely, except for convenience tasks.

[2020-04-11 09:29] hcho3 commented on #5449
@shazhongcheng You should fix the last line of your program to
[code]

[2020-04-11 17:31] #5449 closed

[2020-04-12 06:48] #5510 closed

[2020-04-12 11:07] trivialfis opened #5516 "Weighted sketching for `DeviceQuantileDMatrix`."
An issue for tracking implementation for weighted sketching of our new DMatrix type.  Full roadmap is in https://github.com/dmlc/xgboost/issues/5143 .

[2020-04-12 14:57] aviks commented on #5510
Thanks, I've confirmed this works in my environment on master

(I've failed to backport it to 1.0.2, but that's OK. I'll wait for 1.1 to be released)

[2020-04-12 15:10] aviks opened #5518 "CMake build fails without OPENMP after setting USE_OPENMP=OFF"
The CMake option of `USE_OPENMP=OFF` is meant to allow compilation of xgboost without the OpenMP libraries. However this fails on master. It did work as expected on 1.0.2 and 0.82.0

Build Script:
[code]

On a Mac, using clang, without libgomp installed, we get a compiler error

[code]

On a linux machine with gcc9, we get a linker error

[code]

[2020-04-12 21:49] aviks opened #5519 "build fails on Mac/clang: Could NOT find OpenMP_C"
Based on #5146, I expected to be able to build XGBoost with clang and OpenMP enabled on the Mac. However, it doesn't seem to be working on my Mojave macbook pro.

[code]

CMake Log: [CMakeOutput.log](https://gist.github.com/aviks/60e049ed40b535aca8768fdb2a165678)

[2020-04-12 22:25] hcho3 commented on #5519
You should install libomp with `brew install libomp`

[2020-04-13 02:40] SongBiu opened #5520 "MAE different betweern jvm-package on spark and python package"
I had trained two xgboost models with spark and python package (both 0.80) which run using same train dataset and test dataset and I provide them the same params.
param = {
        'booster': 'gbtree',
        'objective': 'reg:linear',
        'eval_metric': 'mae',
        'eta': 0.020209749520997883,
        'num_round': 1200,
        'min_child_weight' : 4.016289581092819,
        'gamma' : 0.4

[2020-04-13 04:10] hcho3 commented on #5519
I use Macbook Pro (2019) for my work, and XGBoost is able to compile with OpenMP. All I had to do is to install libomp.

[2020-04-13 06:32] VigneshN1997 opened #5521 "Weighted quantile sketch algorithm"
Hi all,

I wanted to ask if the weighted quantile sketch algorithm implemented in xgboost can be used independently? Like is it possible just to include quantile.h file and create quantiles on given weighted dataset. I have this doubt because in xgboost, for creating quantiles, functions from updater_basemaker-inl.h is used for pushing values into the quantile for creating initial quantiles. Also

[2020-04-13 07:25] trivialfis commented on #5520
Could you please try lastest XGBoost and don't set the silent parameter?

[2020-04-13 07:42] SongBiu commented on #5520
Thanks for reply!

I have set tree_method 'approx' and updater 'grow_histmaker,prune' and get nearly same mae

[2020-04-13 10:11] aviks commented on #5519
Thanks, that works. Some documentation led me to believe that openmp was installed by default with clang, but clearly not in this case.

[2020-04-13 10:11] #5519 closed

[2020-04-13 17:47] trivialfis commented on #5520
@SongBiu The jvm package and Python package have slightly different ways of specifying parameters.  For example `num_round` is not a parameter in Python, nor is `missing`.

[2020-04-13 17:48] trivialfis commented on #5520
Using the latest XGBoost on Python will give you a warning when some parameters are not used provided you don't set the `silent` parameter.

[2020-04-13 20:39] Kodiologist opened #5524 "SHAP values are computed incorrectly with objective "survival:aft""
As in #5036, the property of SHAP that the sum of SHAP values plus the bias term should equal the model predictions does not hold under the new accelerated failure time (AFT) objective, even when all observations are uncensored. This probably means that the SHAP code needs to be changed to account for AFT.

[code]

On R 3.6.2 with xgboost 88b64c8162ccfdda611590df09e0c97b9e9a400c, this prints:

[co

[2020-04-13 20:47] Kodiologist opened #5525 ""label_upper_bound" and "label_lower_bound" can be set, but not gotten"
As of XGBoost 88b64c8162ccfdda611590df09e0c97b9e9a400c:

[code]

[2020-04-13 20:56] hcho3 commented on #5524
@Kodiologist I have no idea why this is happening. I need some time to read about SHAP. In the meanwhile, you can look at the full derivation of AFT loss function at https://www.overleaf.com/read/nwmzmzqktpjb. In particular, note that the tree ensemble produces outputs that mimic the log label `ln(Y)`.

[2020-04-13 20:57] hcho3 commented on #5525
Good catch! I will put out a fix soon. Thanks a lot for trying out this latest feature!

[2020-04-13 21:00] Kodiologist commented on #5524
Thanks for the hint. It looks like I get agreement if I log the predictions. Should I close this as user error?

[2020-04-13 21:02] Kodiologist commented on #5525
No problem. My group is excited to try AFT modeling with COVID-19 data—with luck, we'll have a paper out very soon.

[2020-04-13 21:04] hcho3 commented on #5524
@Kodiologist Ah that's interesting. This is because XGBoost applies `exp` to the output from the trees. So if the tree ensemble produces, say, -1.0, the `predict()` function will give `exp(-1.0)`. Do you think it would be better to have `predict()` function produce log predictions instead?

[2020-04-13 21:07] hcho3 commented on #5525
@Kodiologist Great, let me know if there's anything I can help.

[2020-04-13 21:08] Kodiologist commented on #5524
The default behavior, to give predictions on the same scale as the original DV, should probably stay as it is. You might want to add a `type` argument to `predict` a la R's `predict.glm` so users can ensure they get the variable as modeled when they want to.

[2020-04-13 21:12] hcho3 commented on #5524
Got it. I'll close this issue now. Let me go ahead and add a section under the AFT tutorial about using SHAP and interpreting output from `predict()`.

[2020-04-13 21:12] #5524 closed

[2020-04-13 23:53] huaxz1986 opened #5526 "Why version 0.9 on spark dos'nt support feature importance?"
When I change version 0.82 to version 0.9 on spark , I found that v0.9 dos'nt support getting feature importance like v0.82:

[code]

Is there some API to get feature importance?

[2020-04-14 04:01] SongBiu commented on #5520
I will try, Thanks!

[2020-04-14 04:22] SongBiu commented on #5520
[12:21:36] WARNING: /workspace/src/objective/regression_obj.cu:167: reg:linear is now deprecated in favor of reg:squarederror.
[12:21:36] WARNING: /workspace/src/gbm/gbtree.cc:72: DANGER AHEAD: You have manually specified `updater` parameter. The `tree_method` parameter will be ignored. Incorrect sequence of updaters will produce undefined behavior. For common uses, we recommend using`tree_method`

[2020-04-14 04:24] SongBiu commented on #5520
I would like to know what updater can use when I train model with python package and cli on yarn?

[2020-04-14 05:43] trivialfis commented on #5520
Updaters are the same across bindings.

[2020-04-14 05:45] trivialfis commented on #5520
Just that we recommend using `tree_method` instead of `updater`.  `tree_method` is a preconfigured sequence of `updater`s.

[2020-04-14 05:46] trivialfis commented on #5520
The `missing` is a `DMatrix` parameter.

[2020-04-14 06:15] SongBiu commented on #5520
Thanks!
Due to models produced by two bindings are different with updater 'grow_colmaker,prune', I'm wonder if there is other params which are default value different across bindings except updater
 and tree_method?

[2020-04-14 07:49] trivialfis commented on #5520
You can call `Booster.save_config` on Python to get a JSON doc of internal parameters.  I'm not sure about the Scala.

[2020-04-14 08:35] SongBiu commented on #5520
I train a model use
[code]
But the result that print when I use save_config is
[code]
Why params are different?

[2020-04-14 08:45] trivialfis commented on #5520
Could you provide a sample that I can run.  I just tried the 1.0.2 branch and it works correct:
[code]

Will train until train-mae hasn't improved in 10 rounds.
{"learner":{"generic_param":{"enable_experimental_json_serialization":"0","gpu_id":"-1","gpu_page_size":"0","n_gpus":"0","n_jobs":"4","nthread":"4","random_state":"20190129","seed":"20190129","seed_per_iteration":"0","validate_features":"0

[2020-04-14 08:46] SongBiu commented on #5520
My result is incorrect because I load model after training.

[2020-04-14 08:50] trivialfis commented on #5520
@SongBiu Those parameters are gone once the model is saved into disk.  See https://xgboost.readthedocs.io/en/latest/tutorials/saving_model.html for details about model persistence implementation.

[2020-04-14 08:51] SongBiu commented on #5520
Thanks, I will try dump config of scala binding.

[2020-04-14 09:17] SongBiu commented on #5520
Finally I want to know if it's OK that two models produced by python package and jvm package are different？

[2020-04-14 09:24] trivialfis commented on #5520
@SongBiu I believe the output should be the same when parameters are matched, and Python uses only the default parameters defined in C++.   But I don't have a lots of experience with jvm packages.  So pinging @CodingCat .

[2020-04-14 09:26] SongBiu commented on #5520
I produce a model with xgboost cli running on yarn, and get same output with jvm package, and both of them are different from python package.

[2020-04-14 09:27] trivialfis commented on #5520
Great!  CLI is something I can work on. Will look into this tomorrow or so.

[2020-04-14 09:32] hcho3 commented on #5338
1.2 sounds good.

[2020-04-14 09:44] trivialfis commented on #5526
What do you mean by doesn't support?  I see the function is still here:
https://github.com/dmlc/xgboost/blob/c90119eb67f09d3f722c428f08d1cde6359b635b/jvm-packages/xgboost4j/src/main/scala/ml/dmlc/xgboost4j/scala/Booster.scala#L254

[2020-04-14 09:56] SongBiu commented on #5520
Params which I use with CLI are
[code]
and python params are
[code]

[2020-04-14 10:06] trivialfis commented on #5521
No, but that would be neat.  For a simpler usage,  see the `CutsBuilder` class in `hist_util.h`.  GPU implementation is on `hist_util.cu`.  You are more than welcomed to refactor it and make it more broadly applicable. ;-)

[2020-04-14 10:06] #5521 closed

[2020-04-14 10:09] trivialfis commented on #5479
@LionOrCatThatIsTheQuestion Would you like to make a PR for this?  It should just be a simple class defined in `src/objective/regression_loss.h`.  I am happy to help. ;-)

[2020-04-14 10:28] jiangqi-1 opened #5527 "The model generated by running .conf cannot be uesed by the python package"
Hi all.
I have found that when using the model generated by running .conf file to make prediction in the python version,it will report an error.I used ubuntu 16.04.6.
xgboost.core.XGBoostError:xgboost/src/gbm/gbm.cc:27: Unknown gbm type

[2020-04-14 12:05] kamil-kaczmarek commented on #5440
Thanks for your help @hcho3, I made PR: #5528

[2020-04-14 13:01] sh1ng opened #5529 "Magic number `base_score=4.786924`"
[code]

[code]

Underlying error message that can't be decoded
[code]

Funny part is changing base_score's value solves the issue

[2020-04-14 13:04] trivialfis commented on #5529
....... That's a very good catch !!

[2020-04-14 13:06] trivialfis commented on #5337
Labelled https://github.com/dmlc/xgboost/issues/5529 as breaking.

[2020-04-14 15:31] ShvetsKS opened #5530 "Slowdown of DMatrix creation"
Unknown changes introduced performance degradation in DMatrix creation.

Data set| DMatrix create time(master), s | DMatrix create time (#5008), s | Slowdown
-- | -- | -- | --
airline-ohe | 15.12 | 10.6 | 1.43
higgs1m | 0.37 | 0.17 | 2.18
msrank30k | 5.23 | 2.48 | 2.11
mortgage1Q | 5.37 |  2.47 | 2.17

first two data sets are available in public bench-marks: https://github.com/dmlc/xgboost-bench/t

[2020-04-14 16:02] ldesreumaux opened #5531 "Removing trees from a model"
As a follow up to https://github.com/dmlc/xgboost/issues/2281, I think that it would be great if XGBoost supported the removal of trees from a model.

It would allow the implementation (with callbacks) of adaptive learning rate strategies that need to abandon some trees before adjusting the learning rate. More generally, it would allow to implement various "ensemble pruning" methods.

[2020-04-14 16:27] SongBiu commented on #5520
And do you know How can I decide the method that CLI fill missing value?

[2020-04-14 18:00] #5440 closed

[2020-04-14 18:01] hcho3 commented on #5440
I've merged #5528

[2020-04-14 19:12] trivialfis commented on #5530
Is DMatrix construction running multi-threaded?

[2020-04-14 23:32] hcho3 commented on #5494
@sa- We are creating our own Maven repository where you can find latest XGBoost4J JARs: #5533.

[2020-04-14 23:33] hcho3 commented on #4752
We are creating our own Maven repository where you can find latest XGBoost4J JARs: #5533.

[2020-04-15 00:06] hcho3 commented on #5494
XGBoost4J 1.0.0 is now available from our Release repository:
[code]

SNAPSHOTs are available from our Snapshot repository:
[code]

[2020-04-15 00:06] #5494 closed

[2020-04-15 02:33] #4752 closed

[2020-04-15 03:25] SongBiu commented on #5520
My datasets are libsvm fils with missing value.
Python loads files use
[code]
and CLI doesn't config missing fill.

[2020-04-15 08:00] LionOrCatThatIsTheQuestion commented on #5479
@trivialfis what evaluation metric should I use, rmlse okay?

Here is my code so far:

[code]

[2020-04-15 09:47] #5529 closed

[2020-04-15 10:15] #5207 closed

[2020-04-15 10:15] #5425 closed

[2020-04-15 10:25] trivialfis commented on #5531
It's doable with `process_type` as `update`, but it's quite hacky right now.

[2020-04-15 10:29] trivialfis commented on #4841
Thread safe prediction added.

[2020-04-15 10:29] #4841 closed

[2020-04-15 10:32] trivialfis commented on #5209
@hcho3 Any update?

[2020-04-15 10:33] hcho3 commented on #5209
I haven’t gotten around it yet. Let me take a look this week.

[2020-04-15 11:23] ShvetsKS commented on #5530
yes,
`OMP_NUM_THREADS=48 OMP_PLACES={0}:48:1 python xgboost_hist_method_bench.py --hw cpu --dataset airline-ohe`
But I don't see any perf gain between OMP_NUM_THREADS=48 and OMP_NUM_THREADS=1 for DMatrix construction.

Also I should notice that if I use xgboost package from pip (1.0.2.) I see the same results of  DMatrix construction as for master(second column in table:https://github.com/dmlc/xgb

[2020-04-15 11:26] sa- commented on #5494
Thank you very much!

[2020-04-15 12:04] trivialfis commented on #4246
A quick update on this, thread safe prediction/inplace-prediction are now supported.

[2020-04-15 12:48] SongBiu opened #5536 "Fix seed produced different model with CLI on yarn"
I test two model produced CLI on yarn with same params and seed, but the mae of them are different.
What cause it?

[2020-04-15 21:01] trivialfis commented on #4717
It seems this is fixed by scikit learn.  I went all the way back to XGBoost 0.82 still couldn't reproduce the issue.

[2020-04-15 21:02] trivialfis commented on #4717
Feel free to re-open if  I'm wrong.

[2020-04-15 21:02] #4717 closed

[2020-04-15 21:39] trivialfis commented on #5224
Would be great to have test case that shows ordering of columns doesn't effect final output.

[2020-04-15 21:59] trivialfis commented on #5288
The bug is in DMatrix slice.

[2020-04-15 22:00] trivialfis commented on #5288
@hcho3 Does it make sense to have `base_margin` for survival training?

[2020-04-15 22:06] hcho3 commented on #5288
@trivialfis Do you mean `survival:aft`? Yes, since the tree ensemble will predict log survival time.

[2020-04-15 22:10] trivialfis commented on #5288
@hcho3 Em ..  I believe the `cv` method for survival is also broken as the `slice` doesn't handle `upper_bound` nor `lower_bound`.

[2020-04-15 22:23] trivialfis opened #5541 "GPU input for `XGBClassifier`."
Currently the `XGBClassifier` employs `numpy.unique` and `sklearn.LabelEncoder` for determining number of classes and encoding target variables.  But the workflow breaks GPU inputs like `cupy` or `cudf`.

[2020-04-15 22:26] hcho3 commented on #5541
So anyone who wants to use GPU have to use the "traditional" learning API (`xgb.train()` etc)?

[2020-04-15 22:26] trivialfis commented on #5541
For classification, yup.

[2020-04-15 22:27] trivialfis commented on #5541
Use GPU data structure as input, like `cudf` is effected.  But training with XGBoost `GPU Hist` is not effected.

[2020-04-15 22:29] trivialfis commented on #5541
@hcho3  How does `cuml` handle these kind of things?  I'm thinking about adding `num_class` as a parameter for `XGBClassifier`, and possibly enforce this parameter to be set in the future.  The label encoder is not ideal anyway.

[2020-04-15 22:38] hcho3 commented on #5541
@trivialfis The random forest classifier uses `unique()` to determine the number of classes: https://github.com/rapidsai/cuml/blob/4b3d2be37c6ee18330bdf9091588248c5e8ac5d5/python/cuml/dask/ensemble/randomforestclassifier.py#L395. The assumption is that the labels are integers between 0 and `num_class - 1`.

[2020-04-15 22:49] trivialfis commented on #5541
@hcho3  Thanks for the input.

[2020-04-15 23:48] #5527 closed

[2020-04-15 23:50] #5424 closed

[2020-04-15 23:56] trivialfis commented on #5536
Are you using distributed XGBoost on both side?

[2020-04-16 03:40] SongBiu commented on #5536
Yes

[2020-04-16 03:42] SongBiu commented on #5520
I have read code of python bindings and found it would update learning_rate after each iteration.
But I don't find this method in CLI code, do you know if CLI update learning_rate(eta)?

[2020-04-16 03:48] trivialfis commented on #5520
@SongBiu I don't think Python binding does something like that unless you explicitly instruct it to do so via a call back function.  I just added a test to show CLI having same model output with Python: #5535 .  So I'm suspecting it's due to missing value handling.

When the data is loaded from a svm or csr file, DMatrix doesn't handle missing value as these two formats are sparse format leaving m

[2020-04-16 04:53] trivialfis opened #5545 "`group_ptr_` is currently disabled with DMatrix slice."
@RAMitchell

I see that there's a Python function `mkgroupfold` in `training.py` that uses group info.  The new adapter would throw an error if `group_ptr_` is presented during slicing.

[2020-04-16 05:21] SongBiu commented on #5520
@trivialfis The input files of both bindings are libsvm files with missing value.
Both Python package and CLI call DMatrix:Load to load file. Are they different?

[2020-04-16 05:24] SongBiu commented on #5520
@trivialfis
I use follow dataset and mae after 1200 epoch of training set is
python:0.394748
CLI:1.653196
https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/regression/cpusmall

[2020-04-16 05:29] leafjungle commented on #4628
I got the same problem:

org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:956)
ml.dmlc.xgboost4j.scala.spark.XGBoost$$anon$2.run(XGBoost.scala:295)

the spark application hang here for more than 24hours, even I just have 10 train data and set iteration as 2.  I am not sure what it is waiting for.

[2020-04-16 05:45] SongBiu commented on #5520
@trivialfis
When I train with cpusmall dataset, both bindings set updater=grow_histmaker,prune, them produce same model. But if I set updater=grow_colmaker,prune, the model produced by CLI is different from python produced.

So I am wonder if distributed CLI only support grow_histmake,prune?

[2020-04-16 07:31] Habitats opened #5547 "UnsatisfiedLinkError after building 1.0.2 for Windows 10 x64"
I've built xgboost 1.0.2 for Windows 10 x64 using `cmake version 3.17.1` and `Visual Studio 2019 Version 16.5.4` using the following commands
[code]
and added the `xgboost4j.dll` (cmake made a `xgboost.dll` which I renamed) to the `jar`, but when I run my program I get the following error
[code]

The Jar is built for Scala 2.11, and it runs without issues on Linux with the `libxgboost4j.so`:
[code

[2020-04-16 08:25] hcho3 commented on #5547
You should add `-DJVM_BINDINGS=ON` when invoking cmake. This will give you xgboost4j.dll.

[2020-04-16 08:46] Habitats commented on #5547
That did actually work! Did I miss this in the docs? 🤔 I tried to follow this one: https://xgboost.readthedocs.io/en/latest/

[2020-04-16 09:37] RAMitchell commented on #5545
Isnt that what the allow groups parameter in the c_api is for? Not sure I understand.

[2020-04-16 10:18] trivialfis commented on #5545
Em.  That's right. But right now group ptr is still broken when weight is presented.  As for ranking weight is defined per group.

[2020-04-16 10:20] trivialfis commented on #5545
Another thing that I'm curious is, is per-group weight supported by GPU sketching?

[2020-04-16 10:30] trivialfis commented on #5547
For JVM package, running mvn command should be the only way to build the whole package as it also configures cmake flags.

[2020-04-16 10:30] #5547 closed

[2020-04-16 10:31] trivialfis commented on #5545
Also, the newly added fields by aft objective are not handled by slice.

[2020-04-16 12:03] #5545 closed

[2020-04-16 12:04] trivialfis opened #5548 "GPU weighted sketching for ranking is broken."
The weight for ranking is defined per-group, which is currently not supported by GPU sketching.

[2020-04-16 12:06] trivialfis opened #5549 "DMatrix `slice` doesn't handle `label_upper_bound`."
The new `survival:aft` objective added `label_upper_bounds` and `label_lower_bounds` fields, which currently are not supported by the slice method of `DMatrix`, hence `cv` method from R and Python are broken for `survival:aft`.

[2020-04-16 12:08] trivialfis opened #5550 "Ranking weight is not handled by `mkgroupfold`."
The Python function `mkgroupfold` tries to handle group info for ranking task, the I couldn't find any logic related to handling per-group weights.  So I'm assuming it's broken.

[2020-04-16 12:47] Habitats commented on #5547
How could I go on about doing that @trivialfis ?

I need to build everything for Windows + Linux, and the way I'm doing it now is I'm building the jar+linux library in the provided Docker image, then manually building the Windows part, and injecting it into the linux-jar afterwards.

Is there a single command I could run to do all of this?

[2020-04-16 14:22] trivialfis commented on #5547
@Habitats I'm no expert on JAVA side.  Maybe @hcho3 can help, he published the maven packages recently. ;-)

[2020-04-16 18:32] hcho3 commented on #5547
@Habitats Your use case is not documented in https://xgboost.readthedocs.io/en/latest/. You should do what you did:
1. Run `mvn package` on Linux and obtain a JAR file
2. Run `cmake -DJVM_BINDINGS=ON` on Windows to get `xgboost4j.dll`.
3. Add `xgboost4j.dll` into the JAR file.

[2020-04-16 19:52] meakbiyik opened #5554 "Preservation of current undefined behavior of monotone constraints for multiclass"
This will be an interesting feature request, because I am not asking xgboost team to implement something but just be aware of the behavior of their code if they are not, and possibly document it.

When monotone constraints are used with multi:softmax objective and mlogloss, they perform in the way that forces the constrained feature -for example if the constraint is positive- to only be used to sp

[2020-04-16 19:55] sh1ng opened #5555 "xgboost.core.XGBoostError: [21:45:44] /root/repo/xgboost/src/gbm/gblinear.cc:119: Check failed: this->updater_:"
Can't provide end-to-end example.

[models.zip](https://github.com/dmlc/xgboost/files/4489454/models.zip)

[code]

Looks like incorrect internal state initialization

[code]

[2020-04-17 03:10] trivialfis commented on #5554
Yes.  It become quite glaring when implementing #5460 .

[2020-04-17 03:10] #5554 closed

[2020-04-17 05:20] trivialfis opened #5556 "[RFC] Deprecate the `Slice` method of `DMatrix`."
This is a proposal that we delegate data slicing to external libraries.

** Motivation

`DMatrix` is an internal data interface, used for all XGBoost algorithm.  The `DMatrix` object has a few different representation, based on which some more variants can be generated at runtime.  Currently we have 3 different base representation for `DMatrix`, namely a CSR like `SparsePage`, a Ellpack sparse mat

[2020-04-17 12:46] trivialfis commented on #5555
@sh1ng Out of curious, do you use glm from XGBoost?

[2020-04-17 12:49] sh1ng commented on #5555
Yes, we do.

[2020-04-17 22:40] RAMitchell commented on #5556
+1 delegating slicing to other libraries will make our lives much easier if it can be achieved with reasonable performance.

[2020-04-17 22:52] #5401 closed

[2020-04-17 22:52] #4913 closed

[2020-04-17 22:53] #5179 closed

[2020-04-17 23:07] hcho3 commented on #5556
How does Dask ML deal with grid search and cross validation?

[2020-04-17 23:13] hcho3 opened #5559 "[CI] Build xgboost4j.dll and libxgboost4j.dylib into snapshot JARs"
#5533 and #5539 created a Maven repository to host snapshots for XGBoost4J. The JAR files contain both bytecode for Java/Scala code as well as the native library `libxgboost4j.so`. The native library is compiled to run on 64-bit Linux. So you cannot deploy XGBoost4J-Spark to a server running Windows Server.

Proposal: Build `xgboost4j.dll` using Visual Studio and insert it into the JAR file. This

[2020-04-17 23:16] trivialfis commented on #5556
@hcho3 It's a problem that I want to resolve in next release, along with early stopping.  We need specialized implementation for dask grid searching, I'm hoping that we can implement something on dask-ml instead of XGBoost.

[2020-04-17 23:19] hcho3 commented on #5556
@trivialfis That's good to hear. We'll need a performant method for handling cross validation. For example, I hope that we would not duplicate elements when we create a 5-fold split of training data.

[2020-04-17 23:20] trivialfis commented on #5479
Does it make sense to use Pseudo-Huber loss as a metric?

[2020-04-18 10:00] #5525 closed

[2020-04-18 10:00] #5549 closed

[2020-04-18 10:00] #5288 closed

[2020-04-18 10:00] #5550 closed

[2020-04-19 22:19] trivialfis opened #5561 "GPU ranking objective is not deterministic."
`SortedLabelList::ComputeGradients` uses `dh::AtomicAddGpair`.

[2020-04-19 23:31] #5526 closed

[2020-04-19 23:39] trivialfis commented on #4491
@hcho3 Can we close this?

[2020-04-19 23:45] trivialfis commented on #4511
Could not reproduce in master branch.

[2020-04-19 23:45] #4511 closed

[2020-04-20 02:05] JiaRu2016 opened #5565 "Build R package from source error: no packages specified"
I want to build and install xgboost R package from source, following steps
in https://github.com/dmlc/xgboost/blob/master/doc/build.rst#r-package-installation

[code]

the last  step `make install` throws Error:

![Screen Shot 2020-04-20 at 10 00 35](https://user-images.githubusercontent.com/17561508/79707055-cc9e2e00-82ed-11ea-8355-524f7b1c1613.png)

I'v tried to build shared library seperately a

[2020-04-20 02:36] trivialfis commented on #5565
I can't reproduce ..

[2020-04-20 03:36] trivialfis commented on #5448
Toke a brief look, right now please use `hist` or `gpu_hist` tree methods.  I can reproduce the issue with `approx` and `exact`.

[2020-04-20 04:16] #5518 closed

[2020-04-20 04:17] #5536 closed

[2020-04-20 04:29] JiaRu2016 commented on #5565
I'v tried:

[code]

it seems installed succesfully. but I wonder Is it another "correct"  way to install R package?

[2020-04-20 05:35] harshit-2115 opened #5567 "Grid searching with dask interface."
Hey guys,
We want to run dask xgboost on a cluster of EC2 machines. I've 2 EC2 machines with 2 cores and 4GB ram each. I am trying to run this script on the cluster.
[code]

When I run ``` clf.fit() ```,  I get a lot of the following messages in the worker logs:
[code]
What am I missing here ?

[2020-04-20 06:23] hcho3 commented on #5337
@tqchen I cannot reproduce the issue in apache/incubator-tvm#4953.

[2020-04-20 07:41] harshit-2115 commented on #5451
@trivialfis

[2020-04-20 08:51] hcho3 commented on #5209
@trivialfis I ran the provided script and got `FALSE` for `identical(pred, pred.loaded)`. I tried creating a new DMatrix `dtrain_2` as you suggested and still got `FALSE` for the test.

Output from @DavorJ's script:
[code]

Output from modified script, with `dtrain_2 <- xgboost::xgb.DMatrix(data = data.matrix(X), label = Y)`:
[code]

So something else must be going on.

[2020-04-20 09:03] hcho3 commented on #5209
Max diff between `pred` and `pred.loaded` is 0.0008370876.

[2020-04-20 09:10] hcho3 commented on #5209
A smaller example that runs faster:

[code]

Output:
[code]

[2020-04-20 09:18] hcho3 commented on #5209
Just tried doing one extra round-trip, and now predictions do not change any more.

[code]

Result:
[code]

[2020-04-20 09:18] #5548 closed

[2020-04-20 09:25] #5555 closed

[2020-04-20 09:29] trivialfis commented on #5337
@tqchen Neither can I.

@hcho3 I'm happy to make the next release.

[2020-04-20 10:04] hcho3 commented on #5209
I re-ran the script with prediction caching disabled:
[code]

Disabling prediction caching results in very slow training.

Output:
[code]

So prediction cache is definitely **NOT** the cause of this bug.

[2020-04-20 10:17] hcho3 commented on #5209
Leaf predictions diverge too:

[code]

Output:
[code]

[2020-04-20 10:18] trivialfis commented on #5565
This is the CRAN way of installing R package, which means you will get a strictly built R package with minimal functionality.

[2020-04-20 10:20] hcho3 commented on #5565
"minimal functionality" is not quite the right word. It just means that you won't have access to `gpu_hist` and other features that involves the use of NVIDIA GPUs.

[2020-04-20 10:28] trivialfis commented on #5565
@hcho3 Nor cpu prefetching I assume?

[2020-04-20 10:34] hcho3 commented on #5565
@trivialfis Yes.

[2020-04-20 10:46] hcho3 commented on #5209
Mystery solved. I identified the true cause. **When the model is saved to disk, information about early stopping is discarded.** In the example, XGBoost runs 6381 boosting rounds and find the best model at 6378 rounds. The model object in memory contains 6381 trees, not 6378 trees, since no tree is removed. There is an extra field `best_iteration` that remembers which iteration was the best:
[code

[2020-04-20 10:49] hcho3 commented on #5337
#5209 is marked as blocking.

[2020-04-20 10:59] trivialfis commented on #5209
@hcho3 I think it's a similar issue in https://github.com/dmlc/xgboost/issues/4052 .

The `bset_iteration` should be saved into `Learner::attributes_`, which can be accessed through `xgboost::xgb.attr`.

[2020-04-20 11:03] DavorJ commented on #5209
@hcho3, nice find!

Note also the documentation of `xgboost:::predict.xgb.Booster()`:

![image](https://user-images.githubusercontent.com/4161918/79744559-d718f180-8306-11ea-99c1-be2a730d83c8.png)

If I understand correctly, the documentation is not entirely correct? Based on the documentation, I was expecting that predicting already used all trees. Unfortunately I had not verified this.

[2020-04-20 11:05] hcho3 commented on #5209
@DavorJ When early stopping is activated, `predict()` will use `best_iteration` field to obtain prediction.

[2020-04-20 11:14] hcho3 commented on #5209
@trivialfis Situation is worse on the Python side, as `xgb.predict()` will not use information from early stopping at all:
[code]

Output:
[code]

Users will have to remember to fetch `bst.best_iteration` and pass it as `ntree_limit` argument when calling `predict()`. This is error-prone and makes an unpleasant surprise.

We have two options for a fix:
1. Physically delete trees that are past `bes

[2020-04-20 11:33] trivialfis commented on #5209
@hcho3 I have a half baked idea about this, which is also related to our `process_type = update` option, and forest.

For a short recap of the issues we have with `update` is, if `num_boost_round` used with `update` is lesser than number of already existing trees, those trees that are not updated will be removed.

For a short introduction of issues with multi-target tree, is that `best_iteration`

[2020-04-20 11:35] trivialfis commented on #5209
But the idea is quite early so I didn't have the confident to share it, now we are on this issue, maybe I can get some inputs about this.

[2020-04-20 12:44] #4288 closed

[2020-04-20 15:08] LionOrCatThatIsTheQuestion commented on #5479
Guess Pseudo-Huber loss would be an option too (seems natrual to choose the same mectric as loss function?) or MAE.

The idea was to implemented Pseudo-Huber loss as a twice differentiable approximation of MAE, so on second thought MSE as metric kind of defies the original purpose.

[2020-04-20 15:11] LionOrCatThatIsTheQuestion commented on #5479
The advantage of MAE (and also MSE), is that they are better/natural interpretable. Pseudo-Huber loss does not have the same values as MAE in the case "abs(y_pred - y_true) > 1", it just has the same linear shape as opposed to quadratic.

[2020-04-20 18:07] Kodiologist opened #5568 "Parameter names aren't validated"
With the latest XGBoost (9c1103e06cf72de4f02a0f3ed9a8c5691e91e748) on R, no error or warning seems to be produced for unrecognized parameter names, despite #5157.

[code]

[2020-04-20 18:17] trivialfis commented on #5568
I'm enabling parameter validation case by case, only went through 2 Python interfaces (normal `train` and `scikit-learn`).  You can try to set `validate_parameters` to `TRUE` on R to see if it helps.

Will test through R package for validation as the next step, just being careful so that users won't silent XGBoost due to false alarms.

[2020-04-20 18:20] Kodiologist commented on #5568
`validate_parameters = TRUE` indeed prints `Parameters: { gama } might not be used`.

[2020-04-20 19:16] trivialfis commented on #5556
Not sure if it's useful https://www.r-bloggers.com/r-setup-a-grid-search-for-xgboost/ .

[2020-04-21 02:10] JohnZed commented on #5209
Given the 1.1 timeline, can we expand the documentation to clarify how users need to manually capture and use this best iteration in prediction?
And add it to known issues in the release notes?

[2020-04-21 02:54] JohnZed commented on #5561
For 1.1, can we just document this? Also in release notes for 1.1. Thanks!

[2020-04-21 03:07] trivialfis opened #5571 "Extensible call back function for DMatrix."
This is an issue for tracking initializing data on distributed environment.  On both Spark side and Dask side we need to concatenate partitions into a single block of data to initialize the DMatrix.  Even with the new `DeviceQuantileDMatrix` the peak memory usage is still twice the size of actual data.

One solution is to implement some sorts of call back functions for internal data adapter to pro

[2020-04-21 04:01] RAMitchell commented on #5209
@trivialfis sounds interesting, so long as we are not further complicating configuration issues by doing this.

Deleting the extra trees from the model as suggested by @hcho3 is appealing as we don't have to deal with any inconsistencies from having an actual model length and a theoretical model length at the same time.

[2020-04-21 16:02] Zethson opened #5575 "xgboost Dask - Partitions between X and labels are not consistent"
Hi,

wasn't sure whether to post this here or at a Dask Repo.
When running xgboost on a local cluster with the Boston dataset, everything runs 100% perfectly smoothly and fine.
However, when using the covertype dataset (which runs fine without the Dask cluster with the same code !), I run into

[code]

The minimal reproducible example:

[code]

[2020-04-21 16:13] Zethson opened #5576 "xgboost Dask - Partitions between X and labels are not consistent"
Hi,

wasn't sure whether to post this here or at a Dask Repo.
When running xgboost on a local cluster with the Boston dataset, everything runs 100% perfectly smoothly and fine.
However, when using the covertype dataset (which runs fine without the Dask cluster with the same code !), I run into

[code]

The minimal reproducible example:

[code]

[2020-04-21 18:06] #5209 closed

[2020-04-21 18:19] #5568 closed

[2020-04-21 18:40] hcho3 commented on #5576
Closing as duplicate of #5575

[2020-04-21 18:40] #5576 closed

[2020-04-21 18:48] trivialfis commented on #5337
@hcho3 All blocking bugs are closed.  Can we branch out?  What can I help with the release process?

[2020-04-21 18:55] hcho3 commented on #5337
@trivialfis If you can provide a summary of your contribution that would be great.

[2020-04-21 19:13] Zethson commented on #5576
Sorry, happened due to the Github servers being wonky

[2020-04-21 19:43] trivialfis commented on #5337
@hcho3 Here is a lists of PR that are related to me, I omitted some trivial changes.

# Python

- Rewritten setup.py for aligning with Python package convension. (#5271, #5280)
- [Breaking] Now the scikit-learn featured package is called
  `xgboost[scikit-learn]` instead of `xgboost[sklearn]` (#5310).
- Enable parameter validation for scikit-learn interface. (#5477)
- Fix booster checks in scikit-

[2020-04-21 20:21] thvasilo commented on #5451
If you _need_ distributed training, then you can use Dask or YARN/Spark which are much more mature.

Correct.

[2020-04-21 21:42] trivialfis commented on #5479
@LionOrCatThatIsTheQuestion We can set the default metric to be huber, as users can specify other metrics if they like.  To me using huber as the default metric seems appropriate here.  You can add a metric in `src/metric/elementise_metric.cu`.  Feel free to ping me if you have any issue around the code base.

[2020-04-21 22:08] hcho3 commented on #5337
I'll create new release branch after #5577.

[2020-04-21 22:53] hcho3 opened #5578 "[R] Revise some unit tests to be compatible with 32-bit CPU"
Some unit tests for the R packages do not pass on 32-bit CPUs. See #3723. The tests should be re-written so that they can be used for both 32-bit and 64-bit systems.

Note: CRAN requires that all R packages hosted there support 32-bit systems.

[2020-04-21 22:56] hcho3 opened #5579 "Remove the use of memset() in CPU 'hist' algorithm"
The use of `memset()` to initialize an array of structures is forbidden by CRAN. For now, we use `XGBOOST_STRICT_R_MODE` macro to selectively disable `memset()`:

https://github.com/dmlc/xgboost/blob/ea6b117a5737f5beb2533fc89b3f3fcd72ecc04e/src/common/hist_util.cc#L665-L671

We should simplify the code by using `std::fill()` for all use cases, not just when XGBoost is compiled to use with R.

TODO

[2020-04-21 22:59] hcho3 opened #5580 "[CI] Tests with external memory sometimes fail because of left-over temporary files"
https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-5577/1/pipeline#step-266-log-1952

"/workspace/src/data/./sparse_page_source.h:124: Cache file tmptmp_.row.page exists already; Is there another DMatrix with the same cache prefix? Otherwise please remove it manually."

Right now, I have to re-create workers from scratch to recover from this error.

[2020-04-21 23:55] tqchen commented on #5430
Thanks @piiswrong for bringing it up, I think it would be good to have such discussion. If we can have an RFC about it, would be happy to review and see if we can land the feature

[2020-04-22 06:52] harshit-2115 commented on #5451
Thank you for clarifying.
Can we add 'predict_proba' attribute to dask xgboost ? @trivialfis @thvasilo

[2020-04-22 06:56] harshit-2115 commented on #5567
This issue is fixed now. In case of EC2 machines, we need to open ports for communication and run dask workers on these ports so that they can communicate with the scheduler.

[2020-04-22 07:01] harshit-2115 commented on #5567
My current setup is:
EC2 Machine 1 (2 cores 4 GB RAM) : dask-scheduler and 1 dask-worker
EC2 Machine 2 (2 cores 4 GB RAM) : 1 dask-worker
I am manually setting up the cluster using terminal commands.

The script is running but only 2% of cpu is being used for both workers. Using the script posted above. Why the full cpu power of worker is not being used ?

[2020-04-22 09:23] trivialfis commented on #5451
Yes, will come back to this after 1.1 release.

[2020-04-22 09:25] trivialfis commented on #5567
Grid searching for dask is not yet supported.  We need a specialized implementation.

[2020-04-22 09:34] trivialfis commented on #5575
Please rechunk your `y`.  It's not distributed across workers, but `X` is.

[2020-04-22 09:34] #5575 closed

[2020-04-22 09:34] trivialfis commented on #5575
They need to have the same partitioning as XGBoost doesn't move data between workers.

[2020-04-22 09:39] harshit-2115 commented on #5567
It was working here https://github.com/dmlc/xgboost/issues/5451#issuecomment-606846448
Is it not working because we switched to a cluster of machines now ?

[2020-04-22 09:43] LionOrCatThatIsTheQuestion commented on #5479
@trivialfis Could you explain what the function GetFinal(...) does? I used MAE as reference:

`struct EvalRowPHE {
  char const *Name() const {
    return "phe";
  }
  XGBOOST_DEVICE bst_float EvalRow(bst_float label, bst_float pred) const {
    bst_float diff = label - pred;
    return std::sqrt(1 + diff * diff) - 1;
  }
  static bst_float GetFinal(bst_float esum, bst_float wsum) {
    return wsu

[2020-04-22 09:48] trivialfis commented on #5567
No, it's not working correctly.  We need a specialized implementation that can split data locally on each worker.   I will seek to implement it on dask ml once 1.1 is sorted out.  If you are interested in doing so, feel free to let me know I will explain more details. :-)

[2020-04-22 09:50] harshit-2115 commented on #5567
@trivialfis Trying without gridsearch. Still not working.
[code]

Commands to set up the cluster:
On Machine 1
[code]

On Machine 2
[code]

[2020-04-22 09:52] trivialfis commented on #5567
What's the error message?

[2020-04-22 10:00] harshit-2115 commented on #5567
The error is that only one worker is being used and that too with just 2% CPU usage.

![Screenshot from 2020-04-22 15-23-54](https://user-images.githubusercontent.com/30733746/79968370-9e674c80-84ad-11ea-8272-6b40cd763416.png)

On 1st worker's terminal ( worker which is on the same machine as scheduler)
[code]
Remote worker's terminal shows connection timed out after 5-10 minutes and restarts.

[2020-04-22 10:04] trivialfis commented on #5567
Could you check what dask is doing on the web interface?  Also we have some bug fixes for dask on master branch.

[2020-04-22 10:21] harshit-2115 commented on #5567
![Screenshot from 2020-04-22 15-49-01](https://user-images.githubusercontent.com/30733746/79970683-ecca1a80-84b0-11ea-8571-c035dfba4ef0.png)

This looks fine to me. I just don't understand why it is using just 2% of CPU ?

[2020-04-22 11:57] huaxz1986 opened #5582 "Xgboost4j.java.Booster.evalSet throw java.lang.NumberFormatException when set count:poisson objective"
When set `objective = reg:linear` , traning is ok. However, when set `objective = count:poisson`, training throw error in spark 0.81:

[code]

[2020-04-22 13:31] huaxz1986 commented on #4849
@firestarman I meet the same problem as you, have you resolve it?

[2020-04-22 17:36] ayushdg opened #5583 "[FEA][Python] Multi-GPU training with `DeviceQuantileDMatrix`"
A helpful feature would be if the newly added  `DeviceQuantileDMatrix` could be extended to Multi-GPU/Multi-node training via dask backend.

[2020-04-22 17:56] trivialfis commented on #5583
It's on the roadmap, but #5516 and #5571 need to be resolved first.

[2020-04-22 23:15] srossgupta commented on #5331
`brew install cmake` worked for me on MacOS

[2020-04-23 08:18] zahs123 opened #5584 "AttributeError: 'XGBClassifier' object has no attribute 'n_jobs'"
i think this has been posted before, but the version i am using is xgboost==0.81

[2020-04-23 08:26] hcho3 commented on #5584
Is it possible to upgrade to the latest version? 0.81 was released back in November 2018. Since then, many bugs were fixed and new features added.

[2020-04-23 15:11] #5584 closed

[2020-04-23 17:37] hcho3 opened #5586 "Create a binary wheel for Mac OSX"
Request to submit XGBoost 1.0.0 to Homebrew (https://github.com/Homebrew/homebrew-core/pull/50467) is still ongoing. In the meanwhile, we should create a Homebrew tap so that Mac users can install XGBoost easily.

Example:
[code]

cc @ankane

[2020-04-23 20:59] glep opened #5587 "[R] Problem with monotone_constraints and process_type = "update""
Hi,
It seems that there is a problem with monotone constraints and xgb updater.

If I train a model on a data set and then update the model with the same data, I should obtain the same prediction.
This is the case without monotonic constraints :

[code]

But if I use the ```monotone_constraints``` parameter, I get a small difference between the predictions.

[code]

Am I doing something wrong? Or

[2020-04-23 21:04] hcho3 commented on #5587
I don't think `monotone_constraints` is supported when you use `refresh` updater.

[2020-04-23 21:04] #5587 closed

[2020-04-23 21:08] glep commented on #5587
OK, thanks for your quick answer!

[2020-04-23 21:40] ankane commented on #5586
Hey @hcho3, my suggestion would be to try and use the official Homebrew tap again before starting your own, since formula are precompiled, which makes installation much faster. I'd recommend breaking it into two steps:

1. Add support for OpenMP
2. Add support for the Python library. It looks like there is demand for the Python library to be included as part of Homebrew (https://github.com/dmlc/xg

[2020-04-23 22:01] hcho3 commented on #5586
We can build pre-built bottles in a tap.

I proposed making a tap as an interim measure. Yes, we should submit a pull request again to homebrew-core, but it may take a while to get the pull request approved.

[2020-04-23 22:03] aws-patlin opened #5588 "[Doc Question] `distcol` removed from `updater` in latest"
From the [latest documentation](https://xgboost.readthedocs.io/en/latest/parameter.html#parameters-for-tree-booster), it looks like `distcol` is no longer a supported value for `updater`, whereas this is still available in the [release_1.0.0 documentation](https://xgboost.readthedocs.io/en/release_1.0.0/parameter.html#parameters-for-tree-booster). Is this correct? If so, will there be other backwa

[2020-04-23 22:06] hcho3 commented on #5588
We clearly mark all breaking changes as part of the release note. As for `distcol`, it has never been tested as part of CI and to my knowledge did not work. See #1832 and #5498.

[2020-04-23 22:06] #5588 closed

[2020-04-23 22:09] aws-patlin commented on #5588
Gotcha, thanks for the answer!

[2020-04-23 22:12] ankane commented on #5586
Sounds good. I just submitted a PR for the first one.

[2020-04-23 22:15] hcho3 commented on #5586
@ankane Interesting, so XGBoost recipe has been already upgraded to 1.0.2? I thought the recipe was still stuck to 0.9. In that case, users already have access to 1.0.2, albeit without OpenMP and without Python wrapper.

[2020-04-23 22:34] ankane commented on #5586
Yeah, was updated a few days ago in a different PR.

[2020-04-23 22:35] hcho3 commented on #5586
Got it. Let's see if we can get OpenMP and Python wrapper in this time. Thanks for the pull request!

[2020-04-23 23:28] ankane commented on #5586
I just tested NumPy on Homebrew. Homebrew has updated many packages (like NumPy) to Python 3.8, but the default Python (`brew install python`) is still 3.7, so users need to change their path to use Python 3.8. I have a feeling many users will confused by this.

Essentially, `brew install xgboost` won't be enough to make things "just work" with Python in the current state.

I personally think incl

[2020-04-23 23:31] hcho3 commented on #5586
So something like what LightGBM is doing? The LightGBM wheel includes a shared lib for OSX. That might be a better way to go. Since Homebrew requires macOS High Sierra nowadays, we can build a shared lib using macOS High Sierra and include it in the wheel.

[2020-04-24 00:04] ankane commented on #5586
Yeah, LightGBM takes that approach, but still requires `brew install libomp`. I just download PyTorch to see how it works, and it looks like they include a copy of `libiomp5.dylib` in the [Mac wheels](https://pypi.org/project/torch/1.5.0/#files) in the `.dylibs` directory, so that may be a possibility (would be good to confirm licensing).

cc @StrikerRUS

[2020-04-24 00:54] ankane commented on #5586
fwiw, we should be able to use GitHub Actions or similar to build the shared libraries without Homebrew. GitHub Actions uses the latest macOS, but setting `MACOSX_DEPLOYMENT_TARGET` should allow it work on previous versions.

Example: https://github.com/ankane/ml-builds/blob/master/.github/workflows/xgboost-mac.yml

[2020-04-24 11:18] klen1n opened #5591 "Print pairwise loss during training"
In `rank:pairwise` mode the pairwise loss is minimized but there's no way to monitor its decrease during training. It would be very neat if pairwise loss is added to the eval set.

[2020-04-24 13:24] rgbinventions opened #5592 "Check failed: gpu_predictor_"
Hey guys!
I've built xgboost with GPU support. Everything was ok. But when i'm training the classifier model i got several gpu_predictor warnings and then fatal error. Here is the full error list:
[code]

[2020-04-24 13:47] StrikerRUS commented on #5586
@ankane Thanks a lot for the ping!

I personally against of including any copy of `libomp.dylib` into wheels. I think that making `libomp` as a dependency and allowing users to install it in their favorite way is more appropriate way and brings less maintenance burden for us. One of the main reason is that there shouldn't be more than one copy of it in user's environment. Refer to https://github.c

[2020-04-24 14:01] trivialfis commented on #5592
Could you please provide a reproducible script.

[2020-04-24 16:22] rgbinventions commented on #5592
It happens even with your example:

import xgboost as xgb
import numpy as np
from sklearn.datasets import fetch_covtype
from sklearn.model_selection import train_test_split
import time

# Fetch dataset using sklearn
cov = fetch_covtype()
X = cov.data
y = cov.target

# Create 0.75/0.25 train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, train_size=0.75,

[2020-04-24 20:33] hcho3 commented on #5337
All blockers have been addressed. I will start a new release branch.

[2020-04-24 20:48] hcho3 opened #5593 "[RFC] XGBoost 1.1.0 Release Candidate"
Roadmap: #5337

We are about to release version 1.1.0 of XGBoost. In the next two weeks, we invite everyone to try out the release candidate (RC).

Feedback period: until the end of ~May 8, 2020~ **May 15, 2020** (extended because we made RC2). No new feature will be added to the release; only critical bug fixes will be added.

@dmlc/xgboost-committer

**Now available**

* **Python package**. RC2

[2020-04-24 20:58] trivialfis commented on #5592
Ah,  I can reproduce it when running on a CPU only environment.

[2020-04-24 21:00] hcho3 commented on #5592
@rgbinventions Does your machine have a working GPU?

[2020-04-24 21:37] rgbinventions commented on #5592
Sorry, what exactly i should provide?

Yes, and i've built xgboost correctly following instructions without problems.

[2020-04-24 21:52] trivialfis commented on #5592
I suspect there's something wrong with you cuda installation.

[2020-04-24 22:00] trivialfis commented on #5593
That's only true for Python.

[2020-04-24 22:00] rgbinventions commented on #5592
ok, will try to re-install it. Currently CUDA Toolkit 10.2 btw

[2020-04-24 22:01] hcho3 commented on #5593
@trivialfis Thanks. I've added (Python package) prefix.

[2020-04-24 22:05] trivialfis commented on #5592
@rgbinventions Could you run this script if you are using Linux?

[code]

[2020-04-24 22:07] trivialfis commented on #5592
If it prints more than 0 devices, then your installation is successful.

[2020-04-25 00:02] rgbinventions commented on #5592
Sorry, the problem was with CUDA install as you said. And GPU compute capability 3.0. Can close this issue.

[2020-04-25 00:03] #5592 closed

[2020-04-25 01:55] glycerine opened #5595 "variable 'aft_loss_distribution_scale' must have explicitly specified data sharing attributes"
re https://github.com/dmlc/xgboost/issues/5593 v1.1.0rc1, when trying to build from source on OSX 10.13.16 High Sierra, I get compilation failure:

[code]

[code]
using libomp-10.0.0.high_sierra.bottle.tar.gz from homebrew

[2020-04-25 02:17] glycerine commented on #5595
I have no idea if this changes correctness or not (please advise), but I get a clean build when I remove the 'const' attribute from 6 variables across src/metric/survival_metric.cc and src/objective/aft_obj.cc

[code]

[2020-04-25 03:23] hcho3 commented on #5595
@glycerine Thanks for letting us know. The code compiles fine on my Macbook Pro (2019, Catalina), I'll look into why it is not working on High Sierra.

FYI, we currently test XGBoost using MacOS Mojave:
https://github.com/dmlc/xgboost/blob/ef26bc45bf8509966f2578542eb66e4f1dbb263b/.travis.yml#L9

[2020-04-25 03:43] hcho3 commented on #5586
@ankane @StrikerRUS Travis CI supports High Sierra. I'm currently testing XGBoost inside High Sierra environment: https://travis-ci.org/github/hcho3/xgboost/builds/679300818

[2020-04-25 03:55] hcho3 commented on #5595
@glycerine I reproduced the error by running tests inside High Sierra environment: https://travis-ci.org/github/hcho3/xgboost/jobs/679300820#L1262

[2020-04-25 04:12] hcho3 commented on #5595
Related: https://github.com/darktable-org/darktable/issues/2189, https://github.com/darktable-org/darktable/issues/3977, https://redmine.darktable.org/issues/12568#note-13

[2020-04-25 04:12] ankane commented on #5586
@StrikerRUS Thanks for the info and links!

Agree including OpenMP adds more complexity for maintainers, so may not be worth it. PyTorch might have a way to avoid the `already initialized` error, as I was able to train a simple neural net in PyTorch and XGBoost model (with OpenMP) in the same script (but there are a few reports of it). Here's a note about the specific error fwiw: https://github.co

[2020-04-25 04:31] ankane commented on #5586
Also, the OpenMP PR for Homebrew has been merged 🎉

[2020-04-25 05:09] trivialfis commented on #5595
@hcho3 Your patch failed clang++-10 compilation on Linux:

[code]

I would just  remove the scope constraints.

[2020-04-25 05:19] hcho3 commented on #5595
@trivialfis It looks like `default(none)` directive has unclear semantics when it comes to handling const variables. I'll remove `default(none)` everywhere.

[2020-04-25 07:38] hcho3 commented on #5595
@glycerine Fix available at #5597.

[2020-04-25 07:41] hcho3 commented on #5586
#5597 will push binary wheels targeted for Mac High Sierra, Mojave, and Catalina.

[2020-04-25 08:00] hcho3 opened #5598 "[CI] Failed R check should produce error status"
Right now, when R check fails, CI simply prints the content of the error and report success. Example: https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/master/242/pipeline/234/#step-260-log-383

Failed R check should produce an error code.

[2020-04-25 08:21] #5598 closed

[2020-04-25 08:22] hcho3 commented on #5598
Closing for now, since some WARNINGs and NOTEs are not grounds for rejection. Currently, we have no way to detect WARNINGs and NOTES that would cause CRAN to reject our submission.

Test errors that cause ERRORs are already detected.

[2020-04-25 08:32] hcho3 opened #5599 "[CI] Test R vignettes"
One R vignette is failing because it didn't get updated with the codebase.
[code]

[2020-04-25 08:37] hcho3 commented on #5599
These lines should be removed:
https://github.com/dmlc/xgboost/blob/e726dd990281d9b0b1f8403fc837a6e76a0baecc/tests/ci_build/build_test_rpkg.sh#L20-L21

[2020-04-25 17:16] glycerine opened #5601 "v1.1.0rc1 breaking API change: when should `training` be true in XGBoosterPredict(handle, dmat, option_mask, ntree_limit, training, ...)"
I'm trying to update downstream libraries for v1.1.0rc1. There was a breaking change in the c_api.h to have an additional `training bool` parameter in this code change:

https://github.com/hcho3/xgboost/commit/f100b8d87871adaa693ea84548d69a598672d6f9
[code]

I'm looking at the patch but cannot tell when training should be true or false in the XGBoosterPredict() call. Could somebody offer some guid

[2020-04-25 17:42] hcho3 commented on #5601
@glycerine The `training` argument is only relevant if you are using DART. Setting `training=true` will cause the prediction function to perform dropout, evaluating only a subset of the trees in the ensemble. Setting it to false will evaluate all trees.

[2020-04-25 17:53] #5586 closed

[2020-04-25 17:53] #5595 closed

[2020-04-25 18:20] glycerine commented on #5601
got it. Thanks @hcho3

[2020-04-25 18:42] glycerine commented on #5601
I suspect many maintainers of downstreams will have this question. It could be pre-empted by adding the above explanation to the documentation for the function.

I'll re-open this to be referenced if that is done. If that's not appropriate, feel free to close.

[2020-04-25 19:05] hcho3 commented on #5601
@glycerine How common is it for downstream packages to directly access C API functions like `XGBoosterPredict()`?

[2020-04-25 19:10] glycerine commented on #5601
@hcho3 I would guess it is the most common API point. Python uses it, R uses it, Go uses it; I suspect any C libraries and anything using SWIG uses it since they can rarely use C++ due to lack of standard name mangling.

[2020-04-25 19:26] hcho3 commented on #5586
You can try it out by running
python -m pip install https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.1.0_SNAPSHOT%2Bf68155de6c0f50773d435604eed8669797cdc420-py3-none-macosx_10_13_x86_64.macosx_10_14_x86_64.macosx_10_15_x86_64.whl

[2020-04-25 21:18] glycerine opened #5605 "v1.1.0rc1 on windows: cmake generators for Visual Studio missing?"
under v1.1.0rc1 latest, the cmake generators for Visual Studio don't appear to be available.
[code]
reference: https://xgboost.readthedocs.io/en/latest/build.html#compile-xgboost-with-microsoft-visual-studio

[2020-04-25 21:40] ankane commented on #5586
Hey @hcho3, just tried it and works great! I think it'd be helpful to give instructions for `brew install libomp` when it's not installed (I imagine you can check if the error message contains `libomp.dylib`). Here's the current one:

[code]

[2020-04-25 22:22] hcho3 commented on #5605
@glycerine It looks like CMake on your machine cannot find instance of Visual Studio. We cannot produce this problem on our end: https://xgboost-ci.net/blue/organizations/jenkins/xgboost-win64/detail/release_1.1.0/2/pipeline/37#step-43-log-5

[2020-04-25 23:48] #5601 closed

[2020-04-26 00:22] trivialfis commented on #5605
Sorry but I don't think that's a XGBoost issue.  Closing but feel free to re-open if there's anything we can do about it.

[2020-04-26 00:22] #5605 closed

[2020-04-26 15:27] cgoo4 opened #5607 "r abort (xgboost 1.0.0.2 with parsnip)"
I get this r abort using `xgboost` with `parsnip` https://github.com/tidymodels/parsnip/issues/288.  Reverting to `xgboost` version 0.90.0.1 enables the code to run successfully.

[2020-04-26 19:14] glycerine opened #5608 "v1.1.0rc1: install windows R package with GPU gives error invalid package from R and MSB3073 from Visual Studio"
I realize this may or may not be an xgboost issue. Still, I would appreciate your advice on what may be the problem.

setup:

Windows 10 Home
R-4.0.0 installed.
Rtools 4.0 installed.
Nvidia GPU CUDA toolkit 10.2 installed.
GeForce 2060 Super hardware installed.

error:

I'm getting an error MSB3073 from Visual Studio: The command "setlocal C:\Users\me\go\src\github.com\dmlc\xgboost\build.r.gpu2\in

[2020-04-26 19:26] hcho3 commented on #5608
Does installation work if you disable GPU?

[2020-04-26 20:03] glycerine commented on #5608
Arg. Nope. I get the same invalid R package and MSB3072 errors without gpu. Guess the GPU part was a red herring.

[code]

[2020-04-26 21:01] hcho3 commented on #5608
Does `install.packages(‘xgboost’)` work for you?

[2020-04-26 22:20] glycerine commented on #5608
yes, I can install a precompiled binary from CRAN just fine, rather than from source. But I'd like to build from source for GPU support.

[2020-04-26 23:50] cyzhao2013 opened #5609 "After the newer version open source XGBoost migrated to MLlib, Error will happen when num of class > 100."
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2020-04-27 00:24] #5609 closed

[2020-04-27 00:24] hcho3 commented on #5609
Closing because of empty content.

[2020-04-27 05:38] hcho3 commented on #5608
[code]
It looks like you are using CMake from Cygwin. This is not good because Cygwin CMake is attempting to use bash commands that don't work in Windows Command Prompt (cmd).

Can you try installing CMake from https://cmake.org/download/? Be sure to choose "Windows win64-x64 Installer".

[2020-04-27 07:39] ShvetsKS commented on #5530
commits which affected performance of `DMatrix` creation were found:

Data set| DMatrix create time (https://github.com/dmlc/xgboost/pull/5044), s | DMatrix create time(https://github.com/dmlc/xgboost/pull/5050, it's previous to #5044 ), s  |  Slowdown
-- | -- | -- | --
mortgage1Q | 3.72 | 2.5 | 1.49

Data set| DMatrix create time (https://github.com/dmlc/xgboost/pull/5092), s | DMatrix create tim

[2020-04-27 09:19] ShvetsKS opened #5611 "No possibility to read 'old' XGBoost binary files after #4763"
In PR #4763 the number of fields was extended(change line: https://github.com/dmlc/xgboost/pull/4763/files#diff-95d8126e28130173959c24f455e01a05R42)

It leads to a problem when user is reading saved XGBoost binary file by version of library before #4763 PR.
`CHECK_EQ(field_cnt, kNumField) << "Wrong number of fields";`

Is it expected behavior?  Should we introduce possibility to read 'old' XGBoost

[2020-04-27 10:49] trivialfis commented on #5530
Thanking for finding the root cause.  Do you think it's possible to regain the performance without providing specialized interface for each type of input?

[2020-04-27 10:50] glycerine commented on #5608
Appearances would be deceiving in this case. Cygwin's cmake is too old, since xgboost requires cmake >= 3.16. So I had symlinked in the windows MSI 64-bit installed cmake 3.17, which gave much better results (didn't immediately crash).

[2020-04-27 10:51] trivialfis commented on #5611
It's was decided 1.0 should make this change for future extensibility, and we don't want to maintain any redundant code.  So it's a breaking change.

[2020-04-27 10:51] #5611 closed

[2020-04-27 10:54] ShvetsKS commented on #5611
@trivialfis Thanks for fast response!

[2020-04-27 10:54] trivialfis commented on #5608
Actually I don't like the CMake hack very much, do you have any suggestion that we can make R CMD INSTALL play well with CMake?

[2020-04-27 11:35] glycerine commented on #5608
@trivialfis can you point to the cmake hack you are referring to? I've done some R package work so I might be able to help if I could understand how xgboost is approaching it now.

[2020-04-27 21:00] trivialfis commented on #5608
@glycerine Thanks for the offer!  Currently XGBoost uses `cmake` to invoke `R CMD INSTALL` during installation for non-cran build.  During which, cmake has to move the source code,  create a fake installation target, then tell R to make the archive and install.  The process can be seen in `xgboost/cmake/Utils.cmake::setup_rpackage_install_target` function.  I wouldn't be surprised if something goe

[2020-04-27 21:05] hcho3 commented on #5608
Currently, `R CMD INSTALL` command invokes autotools (`./configure`) to compile XGBoost. We could have the configure script to test if CMake is available, and if so, use CMake. We'll still need to figure out how to pass `-DUSE_CUDA=ON`  flag to CMake.

[2020-04-27 21:07] hcho3 commented on #5608
@glycerine For now, you should look at https://stackoverflow.com/questions/31457306/visual-studio-msb3073-error-exited-with-code-1. The issue may be that you lack write access to the R package directory.

[2020-04-27 22:11] RAMitchell commented on #5530
Yep, would be good if we can optimise current implementation as it is general and supports missing values, where the previous implementation did not.

[2020-04-27 23:12] glycerine commented on #5608
Thanks @hcho3 for the suggestion. I had already made the R directory writable, and also setup ~/.rpkg to be the local per-user package directory. So I don't think that is it.

I can build xgboost from source with gpu support when not trying to build the R package.

Ah, very good to know. It's usually not difficult to add compile flags to configure. So I'll try that.

[2020-04-27 23:21] hcho3 commented on #5608
@glycerine GPU code requires the use of a different compiler (`nvcc`). I don't think autotools will pick up the compiler correctly.

Can you build the shared lib without installing it? Run:
[code]

[2020-04-27 23:22] glycerine commented on #5608
I think this is the key issue, it appears to be coming from R; R doesn't like the package.

I tried just building the R package from source, without GPU, and got the exact same error. Small progress.

[2020-04-27 23:22] glycerine commented on #5608
I will try that

[2020-04-27 23:29] glycerine commented on #5608
visual studio does not like `-target all`

[code]

[2020-04-27 23:31] glycerine commented on #5608
[code]

here are the available .vcxproj

[2020-04-27 23:34] hcho3 commented on #5608
How about
[code]

[2020-04-27 23:42] glycerine commented on #5608
the all_build finished without error. (I turned off GPU request for now, just trying to get basic R install from source). What next?

$  cmake .. -DLIBR_EXECUTABLE="C:\Program Files\R\R-4.0.0\bin\x64\R.exe" -DR_LIB=ON &> log.cmake
$  cmake --build . --target all_build --config Release &> log.build.only

[code]

[code]

[2020-04-27 23:48] glycerine commented on #5608
hmm. R package does not appear ready. I think what would make sense is to try and build the R package with the binary xgboost.dll already included. Using the Rtools msys2 mingw64 compiler is unlikely to work, since it would need to know about nvcc; at least I'm just guessing.
[code]

[2020-04-28 00:01] hcho3 commented on #5608
Did you run `R CMD INSTALL` inside the `R-package/` directory?

I'm going to try it on my end as well.

[2020-04-28 00:04] hcho3 commented on #5608
Currently, our testing system tests the R package on Windows (CPU only): https://ci.appveyor.com/project/tqchen/xgboost/builds/32487051/job/io1gut8b9aecl85p

[2020-04-28 00:17] glycerine commented on #5608
well, R CMD check fails (see above, no DESCRIPTION file), so surely R CMD INSTALL has no chance... is there a target just to build xgboost.dll (with the R hooks) and xgboost.lib (with the R hooks)? With those two, I think I could get an R package assembled.

[code]

[2020-04-28 00:33] hcho3 commented on #5608
Description file is in xgboost/R-package directory (not the one under build/).

[2020-04-28 00:38] glycerine commented on #5608
Only problem, I only got .lib files out; no .dll.

[code]

[code]

[2020-04-28 00:45] glycerine commented on #5608
ah. I wasn't using `-DR_LIB=ON`. I'll try adding that.

[2020-04-28 00:48] hcho3 commented on #5608
I looked at the log from our testing server and it is using R 4.0.0. The command used is
[code]

Not sure what's going on in your machine. I am now setting up a brand new Windows machine.

[2020-04-28 00:51] glycerine commented on #5608
Ah. okay. And the xgboost.lib file is really big. Maybe visual studio started packing it all into the .lib (link library) instead of generating a separate .dll and .lib.

[2020-04-28 01:09] glycerine commented on #5608
I see alot of build errors with `cmake — build . — target install — config Release`. I'm going to try with Visual Studio 2017 rather than 2019, per this blog.  He claims the order of installing the tools is critical to the success of the process. https://medium.com/@karthikdulam/installing-xgboost-gpu-for-r-on-windows-10-7927a65c0ca8

[2020-04-28 02:06] hcho3 commented on #5608
@glycerine I'm trying it out myself. I'm running into this error:
[code]
The RTools 4.0.0 does not have gendef.exe. Presumably Rtools 3.x did have gendef.exe. So maybe your machine is picking up gendef.exe from Cygwin or MinGW, not from Rtools, and causing interference?

I'm now trying Rtools 3.x, with R 3.x.

[2020-04-28 02:22] hcho3 commented on #5608
@glycerine Okay, I got it to work, by using R 3.6.3 with Rtools35.

Here are the steps:

1. Install Visual Studio 2019 Community.
2. Install CMake (https://cmake.org/) and Git (https://git-scm.com/).
3. Install R 3.6.3 (64bit) and Rtools35.
4. Add C:\Rtools\bin and C:\Rtools\mingw_64\bin to the system PATH environment variable.
5. Run `git clone --recursive https://github.com/dmlc/xgboost`. Create

[2020-04-28 02:37] glycerine commented on #5608
possibly. I have both gendef and dlltool in my path from the mingw-w64 compiler.

[2020-04-28 02:39] glycerine commented on #5608
@hcho3 did you get the R package with GPU from source build to work too?

[2020-04-28 06:50] chandrureddy opened #5614 "compilation of xgboost failed with an error"
compilation of xgboost failed with the following error
[code]

[2020-04-28 06:51] chandrureddy commented on #5614
`pip3 install xgboost `also failed with similar error

[2020-04-28 07:07] hcho3 commented on #5608
@glycerine Yes, with `cmake .. -G"Visual Studio 16 2019" -A x64 -DR_LIB=ON -DR_VERSION=3.6.3 -DUSE_CUDA=ON`.

One twist: `cmake --build . --target install --config Release` on my machine only installs XGBoost in `build/dummy_inst/`, not the actual place where packages gets installed. To make it work, I ran
[code]
which gives terminal output
[code]

[2020-04-28 07:22] hcho3 commented on #5608
TODO. Revise CMake build to work with R 4.0.0. Write a new doc for building R package on Windows.

[2020-04-28 07:28] hcho3 commented on #5614
Which OS are you using? The log suggests that it is a big-endian CPU architecture.

[2020-04-28 08:17] ShvetsKS commented on #5530
I think it's possible and absolutely worth trying. At least we could try to improve` SparsePage::Push` as it's not clear for me now why we don't see any gain from changing `OMP_NUM_THREADS`.

[2020-04-28 09:52] hcho3 commented on #5614
@chandrureddy Can you try #5617?

[2020-04-28 16:44] Kiona0405 opened #5618 "LambdaRank relavance value type"
In demo/rank/rank_sklearn.py file, I added the following code.
Then model training becomes wrong.

[code]

Followings are result of execution.
[code]

It seems y value requires integer type(discrete).
But original Lambdarank paper doesn't require discreteness.
Is it as expected? If so, please write it at readme.

[2020-04-28 17:25] hcho3 commented on #5618
Which paper are you referring to? In section 2 of [this paper](https://www.microsoft.com/en-us/research/wp-content/uploads/2016/02/lambdarank.pdf), the labels are either binary (0, 1) or multi-level integers (0, 1, 2, ...). In particular, both MAP and NDCG metrics assume discrete integer labels.

[2020-04-28 17:25] #5618 closed

[2020-04-28 17:44] programmylife opened #5619 "[FEA] Implement predict_proba in DaskXGBClassifier"
Currently, the DaskXGBClassifier only implements predict(), but we would like to also have access to predict_proba() when using DaskXGBClassifier to match the non-Dask version.

[2020-04-28 18:03] hcho3 opened #5620 "[CI] Consider replacing Jenkins EC2 plugin"
Jenkins was down last night, as it could not launch any EC2 workers. Some CI jobs timed out after 4 hours of waiting for workers.

Currently, Jenkins CI is using the [Amazon EC2 plugin](https://plugins.jenkins.io/ec2/) to provision build workers. Five days ago, a new version of the plugin is released. When it was installed on to our Jenkins server, it led to this error message:

com.amazonaws.serv

[2020-04-29 00:35] glycerine commented on #5608
Interesting. I cannot reproduce the installation from dmlc/xgboost/build.r363/R-package. R still doesn't like the package there. I used VS 2017, but doubt that makes a difference.

[code]

[2020-04-29 08:32] GuoYL36 opened #5621 "Why are the results different between custom cross-entropy loss function and official cross-entropy loss function like objective:binary-logistic？"
Hi，I want to use custom objective function，and I use the cross-entropy loss function according to https://github.com/dmlc/xgboost/blob/master/demo/guide-python/custom_objective.py. Then，I use the official cross-entropy loss function, like **objective:binary-logistic** for comparsion. And I find the results are differents, Here is the test example:
[code]

When I rewrite the function as
[code]
I fi

[2020-04-29 08:59] trivialfis commented on #5620
I find digging into the haystack of AWS's document very daunting ...  So if there's another project dedicated to maintain the plugin I would like to avoid reinventing the wheel.

[2020-04-29 09:01] hcho3 commented on #5620
I don't like re-inventing the wheel either. The issue is that the latest version of the Amazon EC2 plugin is broken.

[2020-04-29 09:07] hcho3 commented on #5620
I posted a question to their Gitter chat: https://gitter.im/ec2-plugin/Lobby?at=5ea943c9adb0ec5c2bd2b621.

[2020-04-29 09:31] hcho3 commented on #5620
Tracking issue for the EC2 plugin: https://issues.jenkins-ci.org/browse/JENKINS-62090

[2020-04-29 13:00] dhruvrnaik commented on #5474
Hi, I have recently faced a similar high memory problem with xgboost. I am using 'gpu_hist' for training.

I notice large system memory spikes when `train()` method is executed, which leads to my jupyter kernel crashing.
1. Is it correct to say that Xgboost is making a copy of my data in system RAM (even when I'm using 'gpu_hist')?
2. I was under the assumption that xgboost loads the entire traini

[2020-04-29 18:39] MajorCarrot commented on #5567
I am facing a similar issue. I am trying to add dask support for a project
[code]
The function I am using ^

[code]
Messages in the output (with the master branch)

Have I done something wrong? (I am posting this here because I have the same error log and under-utilization of CPU (around 40%) like the OP)

[2020-04-29 19:59] harshit-2115 commented on #5619
Check this
https://github.com/dmlc/xgboost/issues/5451#issuecomment-617587125

[2020-04-30 01:48] glycerine opened #5622 "v1.1.0rc1: on osx high sierra R package incompete / does not install"
On OSX 10.13.16 (High Sierra), in response to (leaving off any gpu stuff for now, just basic OSX install from source for latest, since CRAN only has v1.0. My R is v3.6.1):

[code]

I get failure to install the R package. A complete package inside the build dir is not created.

And this does not change if I try `cmake --build . --target install  --config Release`

See the final error in the log, wh

[2020-04-30 02:10] glycerine commented on #5622
I copied over the build-for-r/R-package/src/xgboost.so (not sure if this is required to succeed or not), and then moved into the non-build directory ~/dmlc/xgboost/R-package.  I appear to have been able to install the R package successfully from there.

As a workaround, great--anyone else with this problem should be aware. But as for only writing into the build directory, it is not so great. Subop

[2020-04-30 03:58] glycerine commented on #5608
One bug isolated: Embedded somewhere in the dmlc/xgboost/R-package is the assumption that Rtools is installed in C:\Rtools ... however, mine was installed in C:\Rtools35.

[code]

when I hack past that by making a copy of C:\Rtools35 into C:\Rtools, I get farther. However, still bulid failures, mostly symbol not defined. I'm not sure how this is supposed to work with mixing the visual studio compi

[2020-04-30 04:56] #5614 closed

[2020-04-30 11:51] harshit-2115 commented on #5567
We need to start distributed training as soon as possible. How can I contribute ?
@trivialfis

[2020-04-30 20:52] glycerine commented on #5608
@hcho3 you mentioned above that you had the R package building with GPU support under R-3.x.x with Rtools3.x ... two questions. Do you grasp how the rtools mingw64 compiler is getting nvcc called?  Or is it just linking with the previously compiled binary with gpu support xgboost.dll? (ideally). If so, how did you get the R-package not to try and rebuild completely from the amalgamation?  Perhaps

[2020-04-30 21:00] hcho3 commented on #5608
Ideally R should pick up previously compiled binary and not re-build from amalgamation. The R build needs a serious overhaul. I'm looking for other R projects and see they use CMake to build R package.

[2020-05-01 11:49] oren0e commented on #3754
Hi,
Is there any progress or ETA regarding this feature addition?

[2020-05-01 15:55] kylejn27 opened #5626 "Dask XGBoost with Dask Dataframes "empty DMatrix" and "regression_obj.cu:58: Label set is empty""
I'm running into strange warnings while using `xgboost.dask.DaskXGBClassifier`. When using dask dataframes as inputs to the `.fit()` method I'm getting the following output:
[code]

Here's example code that gets this to reproduce for me.

[code]

Here's some useful environment information:
[code]

It very well could be that I'm using XGBoost incorrectly. Though I question why I'm getting warnings

[2020-05-02 00:27] WeichenXu123 opened #5627 "Release a xgboost version build with scala 2.12"
We should release a xgboost version build with scala 2.12. Spark 3.0 now is default use scala 2.12.

[2020-05-02 00:28] CodingCat commented on #5627
https://mvnrepository.com/artifact/ml.dmlc/xgboost-jvm_2.12/1.0.0

[2020-05-02 00:28] #5627 closed

[2020-05-02 14:55] cgoo4 commented on #5607
After updating to R4, the code runs successfully with `xgboost` 1.0.0.2.

[2020-05-04 01:52] trivialfis commented on #5626
The warning means there's at least one worker was starving without any input data, which means the dataset is not balanced.  As XGBoost doesn't move data, so it raises a warning.

[2020-05-04 13:14] kylejn27 commented on #5626
I see, when I set `client = Client(LocalCluster(n_workers=2))` where 2 is the number of partitions on my dataframe, the warnings go away. This makes sense.

Thanks!

[2020-05-04 13:14] #5626 closed

[2020-05-04 14:05] Zethson opened #5628 "Model reproducible without set seeds though subsampling, colsample_bytree and by level are < 1"
Dear developers,

I am currently just for the sake of evaluation training a useless model on the Boston dataset.
Here, I noticed that even if I do not set the XGBoost random seed, the model is somehow reproducible.

XGBoost 1.0.2

25 epochs

Code:

[code]

[2020-05-04 14:06] Zethson commented on #5628
Note: If I do set the seeds and change them, the model is affected.
Is there a default seed set or how does this happen?

[2020-05-04 16:10] trivialfis commented on #5628
Yes, there s a default seed.

[2020-05-04 16:10] #5628 closed

[2020-05-04 21:01] hcho3 commented on #5593
RC2 is released.

[2020-05-05 11:49] Zethson opened #5632 "XGBoost 1.1.0 SNAPSHOT gpu_hist still numerically unstable"
Dear everyone,

according to https://github.com/dmlc/xgboost/issues/5023 a model using gpu_hist should be reproducible using 1.1.0

The version that I was using for these experiments is:
`https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.1.0_SNAPSHOT%2B86beb68ce8ffa73a90def6a9862f0e8a917b58c3-py2.py3-none-manylinux1_x86_64.whl`

The code that I am using is:
[code]

When training

[2020-05-05 12:21] chandrureddy commented on #5614
Sure @hcho3 let me try and get back to you.

[2020-05-06 02:27] StrikerRUS opened #5634 "Predictions from XGBClassifier with gblinear booster doesn't match manual calculations"
Hi there!

I'm trying to reproduce prediction results from simple dumped JSON model, but my calculations doesn't match results produced by estimator. I'll be very grateful if anyone point me to the problem in my script.

[code]

If I decrease precision in checks, then the snippet runs without errors.

[code]

I tried to compile the latest `master` with changes in `gblinear_model.h` similar to ones

[2020-05-06 03:25] techdozor commented on #4623
Very similar issue and somehow once I hop over 5m rows, it just dies...

I am on ubuntu

`Fitting 10 folds for each of 1 candidates, totalling 10 fits
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[CV] max_depth=3, learning_rate=0.5, n_estimators=50 .................
terminate called after throwing an instance of 'dmlc::Error'
  what():  [23:14:02] /workspace/src

[2020-05-06 03:37] trivialfis commented on #4623
Could you please post some sample data for reproducing?  I can't guess what's happening

[2020-05-06 03:54] techdozor commented on #4623
-[ RECORD 1 ]-+-------------------------------------
time          | 2020-04-19 03:30:00
key           | 905-DSE-09-OKDJB122
numer    | 156
done      | f
key_converted | 23498345981739795743954395873498543985

[2020-05-06 03:55] techdozor commented on #4623
so if you take over 5m records like this it dies.

[2020-05-06 03:57] techdozor commented on #4623
code sample
`seed = 1337
np.random.seed(seed)
cv = StratifiedKFold(n_splits=10, shuffle=True, random_state=seed)
cv.get_n_splits(predictArray_train)

max_depth = [3]
learning_rate = [0.5]
n_estimators = [50]

params_grid = {
        'max_depth': max_depth,
            'n_estimators': n_estimators,
                'learning_rate': learning_rate
}

params_fixed = {'nthread':10,
                'obje

[2020-05-06 04:55] chandrureddy commented on #5614
@hcho3 Really appreciate quick response. I was able to build xgboost library with the commit `
Fix build on big endian CPUs
#5617 `

`[root@tureens1 build]# make -j$(nproc)
Scanning dependencies of target dmlc
[  2%] Building CXX object dmlc-core/CMakeFiles/dmlc.dir/src/data.cc.o
[  2%] Building CXX object dmlc-core/CMakeFiles/dmlc.dir/src/config.cc.o
[  3%] Building CXX object dmlc-core/CMakeFile

[2020-05-06 08:21] pplonski opened #5637 "Error when seed exceeds 32-bit integer max"
I'm using Xgboost in my [AutoML package](https://github.com/mljar/mljar-supervised). I'm currently adding my package to [automlbenchmark](https://github.com/openml/automlbenchmark) When running the benchmark test I got very strange error about seed value. The error is below. The minimal code example to reproduce the error is below. When I'm using smaller `seed` values every thing works as expected

[2020-05-06 08:35] hcho3 commented on #5637
Seed should fit into signed 32-bit integer value, which can be at most 2147483647.

[2020-05-06 08:45] hcho3 commented on #5637
@pplonski Do you have a use case that specifically calls for a seed value exceeding 2147483647?

[2020-05-06 08:48] pplonski commented on #5637
In the [automlbenchmark](https://github.com/openml/automlbenchmark) there are seed values larger than 2147483647.

[2020-05-06 08:55] hcho3 commented on #5637
@pplonski Can you elaborate more on the benefit of 64-bit seeds?

[2020-05-06 09:01] pplonski commented on #5637
If the package is accepting `int` as a `seed` then there can be situations that will throw such error. I think for consistency reason it will be nice to fix it or at least add to the docs that seed should be 32-bits.

The automlbenchmark package is using 64-bit seed. The Auto-WEKA is one of the packages that it is testing.

[2020-05-06 09:02] hcho3 commented on #5637
For now I'll add a check on the Python side so that error message will be clearer.

[2020-05-06 09:22] trivialfis commented on #5637
Seed is not saved.

[2020-05-06 09:26] hcho3 commented on #5637
@trivialfis Oops,  my bad. I forgot that generic parameter is not part of the legacy binary format. We could potentially upgrade to 64-bit seed then?

[2020-05-06 09:31] hcho3 commented on #5637
@pplonski https://github.com/dmlc/xgboost/pull/5638 adds the error message.

[2020-05-06 09:44] trivialfis commented on #5637
@hcho3

I think so. ;-)

[2020-05-06 12:51] trivialfis commented on #5632
I use a slightly modified script with syntax error fix and loading data without sklearn (avoid downloading the data again), obtained reproducible result:

[code]

Hash values from training for 2 rounds with single precision:
[code]

Training for 2 rounds with double precision:
[code]

[2020-05-06 12:52] trivialfis commented on #5632
Could you try using the rc build: https://github.com/dmlc/xgboost/issues/5593 ?

[2020-05-06 12:53] Zethson commented on #5632
@trivialfis Yes, I will try and update you.

[2020-05-06 13:01] trivialfis commented on #5632
@Zethson No problem.  Let us know the result. ;-)

[2020-05-06 15:06] trivialfis commented on #4623
[code]

I don't understand what's this?

[2020-05-06 15:10] techdozor commented on #4623
This is a representative of a record. There are millions of those records and this is record #1 with the following columns:
time, key, number, done (true/false), key_converted.
My code sample above shows what I have done, but basically the goal of classification is to predict "done" (true/false) based on the data features of key_converted and a number.
I would not attempt to understand the logic b

[2020-05-06 17:07] Zethson commented on #5632
Ain't working for me!
I am even running everything inside a Docker container.

[code]

[2020-05-06 17:12] Zethson commented on #5632
Corresponding repository:

https://github.com/Zethson/nextflow_machine_learning

Python script is under /bin.

Running on a Nvidia 1050M

[2020-05-06 18:14] mengdong opened #5639 "dask async operation with XGBoost failed (with Rapids on GPU)"
Hi Folks,

Trying to launch Dask cluster with python async APIs and do XGBoost training, 2 issues observed: 1, seems like xgb.dask.DaskDMatrix cannot be awaited, how should I use it in async mode ([dask_xgboost](https://github.com/dask/dask-xgboost) doesn't have this issue as it is not depended on xgb.dask.DaskDMatrix) ? 2, calling client.shutdown after a XGBoost training will incur error, without

[2020-05-06 18:32] trivialfis commented on #5639
Haven't tested it yet.  But from a quick glance, for the first log, I'm not sure why do you need to await `DaskDMatrix`, it should be used as a parameter of `train` function (replacing `X`, `y`), and awaiting `train` should be sufficient?

For the second log, it's a bug in XGBoost's internal profiling code where verbosity is not available for `DMatrix`.  A simple workaround right now is don't set

[2020-05-06 18:43] trivialfis commented on #5632
@Zethson Are you using dask?

[2020-05-06 18:43] Zethson commented on #5632
No

[2020-05-06 18:44] Zethson commented on #5632
The same issue appears on my system with a teslak80

[2020-05-06 18:46] trivialfis commented on #5632
Let me try on different cards tomorrow.

[2020-05-06 18:59] Zethson commented on #5632
If this doesn't help, then you maybe need to try out Docker with the nvidia container toolkit (and maybe even nextflow).

[2020-05-06 19:01] trivialfis commented on #5632
@Zethson Can you confirm the result on CPU is reproducible?

[2020-05-06 19:01] Zethson commented on #5632
I can.

[2020-05-06 19:04] mengdong commented on #5639
Thanks! First, for the first issue, if I don't await `DaskDmatrix`, here is the error
[code]

[2020-05-06 19:06] mengdong commented on #5639
on second issue, I tried your workaround and change verbosity to 2, this time the scheduler looks fine but there is an error on client side
[code]

[2020-05-06 19:07] jakirkham commented on #5639
Jumping in here briefly (hope that is ok), I think what Dong is looking for is an option to have `Future`s returned [here]( https://github.com/dmlc/xgboost/blob/8b04736b8199509707c523094d257712a6f33d5d/python-package/xgboost/dask.py#L460-L461 ) instead of syncing on them. Maybe this can be controlled by a flag to `train`?

[2020-05-06 19:08] trivialfis commented on #5632
Will try other cards.  Tested with 1080 and 1080 TI, couldn't reproduce.

[2020-05-06 19:27] trivialfis commented on #5639
Suggestions are welcomed.  :-)
________________________________
From: jakirkham <notifications@github.com>
Sent: Thursday, May 7, 2020 3:07:24 AM
To: dmlc/xgboost <xgboost@noreply.github.com>
Cc: Jiaming Yuan <jm.yuan@outlook.com>; Assign <assign@noreply.github.com>
Subject: Re: [dmlc/xgboost] dask async operation with XGBoost failed (with Rapids on GPU) (#5639)

Jumping in here briefly (hope that

[2020-05-06 20:58] Sandy4321 opened #5640 "is it still problem or fixed : If you care about predicting the right probability In such a case, you cannot re-balance the datset"
in practice data always imbalansed , so in most case xgboost can not be used
it needs more explanation why  - "If you care about predicting the right probability In such a case, you cannot re-balance the dataset"
Then we would be able to find solution. then can you share clear code example how bad predicting the right probability for "Balance the positive and negative weights via scale_pos_weight"

[2020-05-06 21:16] lrjball opened #5641 "check_estimator fails for XGBClassifier"
The following checks fail for me using xgboost==1.0.2:

[code]

This means that XGBClassifier doesn't fully comply with the sklearn estimator API, so some functionality in sklearn (like gridsearches) may not work properly or give unexpected results. See [here](https://scikit-learn.org/stable/developers/develop.html#rolling-your-own-estimator) for more info from the sklearn docs.

Is this something

[2020-05-06 22:09] RAMitchell commented on #5632
Please double check your installed xgboost version with `print(xgb.__version__)`

[2020-05-06 22:48] hcho3 commented on #5641
It is actually not possible to pass `check_estimator()` check entirely, because XGBoost allows NaN as part of input whereas scikit-learn estimators do not. I tried complying with the check in https://github.com/dmlc/xgboost/pull/3674 but found it untenable, so I reverted it.

[2020-05-06 22:48] #5641 closed

[2020-05-06 23:02] hcho3 commented on #5640
The problem is not specific to XGBoost but other techniques as well, such as logistic regression.

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3946903/

In other words, you may underestimate the prediction probability for the training data points whose true label is the minority class.

You could address overfitting by performing stratified cross-validation: https://scikit-learn.org/stable/module

[2020-05-07 00:25] StrikerRUS commented on #5641
@hcho3 It's actually possible but with some tricks (pass all but one-two checks from all that come from `check_estimator()`). Refer to https://github.com/microsoft/LightGBM/blob/18c706dc840c72341a2a85e05dfb5fad6366902a/tests/python_package_test/test_sklearn.py#L284-L305

Also, in recent versions of scikit-learn it is possible to use generators or parametrization for checks: https://github.com/micr

[2020-05-07 03:06] pangjac commented on #5472
The version matters. Based on your env settings(spark 2.4.3 yarn, scala 2.11.8), maybe you can try to compile [xgboost4j-spark_2.**11**_1.0.0.jar](https://mvnrepository.com/artifact/ml.dmlc/xgboost4j-spark_2.11/1.0.0), instead of using `...spark_2.12...`

[2020-05-07 06:00] #5640 closed

[2020-05-07 06:52] #5637 closed

[2020-05-07 08:25] Zethson commented on #5632
[code]

The Conda environment
https://github.com/Zethson/nextflow_machine_learning/blob/master/xgboost_environment.yml

[2020-05-07 10:49] trivialfis commented on #5479
@LionOrCatThatIsTheQuestion Is there any reason we should fix `\delta` to be 1 ?

[2020-05-07 10:51] trivialfis commented on #5479
For normal cases `GetFinal` is just a weighted mean.  1 special case is the gamma deviance, which is weighted deviance: https://rdrr.io/cran/MetricsWeighted/man/deviance_gamma.html

[2020-05-07 11:22] trivialfis commented on #5593
Added `merged after RC2` section.

[2020-05-07 12:06] Sandy4321 commented on #5640
great thanks for soon answer
At least can you share link to algorithm description how xgboost calculates probability of predictions
For example if xgboost calculates that this particular data sample is predicted to have label "YES" instead of label "NO"  with probability/confidence 0.75.
What is algorithm to calculate this 0.75 ??

[2020-05-07 16:59] trivialfis commented on #5632
Tried 3 other cards with 1 mobile card included (960m) today, still couldn't reproduce.  The XGBoost is built with cuda 9 so I also tried it, still no luck.

[2020-05-07 17:01] Zethson commented on #5632
@trivialfis Could you maybe try it with Docker and the nvidia container toolkit using my containers?

I can give you more detailed instructions if you require them.

I can reproduce it on 2 systems, both of which are running the models inside Docker via Nextflow...

[2020-05-07 17:01] Zethson commented on #5632
I will try to run it outside of Docker and see what happens on my system.

[2020-05-07 17:05] Zethson commented on #5632
Well, 25 epochs are even enough to show that I get different results between runs on my system.

[2020-05-07 17:07] Zethson commented on #5632
I could offer you that you give me your SSH key and I give you access to one of my machines.

[2020-05-07 17:35] trivialfis commented on #5632
@Zethson Thanks for the offer, might not be needed after all.

@hcho3 Can I have temporary direct access to your build environment in these few days?

[2020-05-07 21:54] ketronium opened #5645 "Loading XGB models from absolute paths fails inside docker containers"
I can successfully load a previously trained model inside a Nvidia docker container as:
[code]
but when I try and load from absolute path as
[code]
I get the following error:
[code]
I'm running `xgboost==1.0.2` and `scikit-learn==0.22.2.post1`.

Dockerfile in question:
[code]

[2020-05-08 01:35] Pein-hub opened #5646 "How to choose the local proposal or global proposal for 'tree_method=approx'"
In the xgboost paper,
![image](https://user-images.githubusercontent.com/43956043/81360676-06a16980-910f-11ea-8943-1a9065ea10e1.png)

but i dont know how to select the local or global when the tree_method is approx?
and what is the default proposal when the tree_method is approx?

in the xgboost web,
![image](https://user-images.githubusercontent.com/43956043/81360862-757ec280-910f-11ea-814f-37cfb

[2020-05-08 11:53] LionOrCatThatIsTheQuestion commented on #5479
\delta should be 1 by default, but adjustable would be better than fixed - the question is more if its possible and how to implement an additional parameter for a metric?

e.g. in sklearn interface, I would just use the keyword 'reg:pseudohubererror' to specify the metric

[2020-05-08 18:14] trivialfis commented on #5632
Noticed compiling on 9.0 there's a waning might be relevant:

[code]

Trying 9.2 again.

[2020-05-08 20:32] trivialfis commented on #5632
@hcho3 @RAMitchell Can we upgrade the default build to 9.2 ?  I think there's an issue during compilation.  Thus far I can only reproduce with 9.0 build.

[2020-05-08 22:04] RAMitchell commented on #5632
Seems reasonable. We could do 9.2 for this release and move to 10 after.

[2020-05-08 22:19] hcho3 commented on #5632
@trivialfis 9.2 seems reasonable.

[2020-05-09 08:20] trivialfis commented on #5632
@hcho3 Yes, tried 9.0 all the way to 10.2 .

[2020-05-09 08:21] hcho3 commented on #5632
@trivialfis So the bug disappeared when you upgraded CUDA version to 9.2? Okay, I will file a PR to upgrade CUDA to 9.2.

[2020-05-09 08:26] hcho3 commented on #5632
#5649

[2020-05-09 08:57] Zethson commented on #5632
I am using Cuda 10.2 by the way, not 9.2

[2020-05-09 09:00] hcho3 commented on #5632
@Zethson Our server was using CUDA 9.0 to build the binary wheel (that's what you get when you run `pip install xgboost`). If you compile XGBoost from the source, the issue will not occur.

[2020-05-09 10:01] Zethson commented on #5632
Ahh, I see. Cool! Looking forward to trying rc3 out :)

[2020-05-09 15:49] dandan0503 opened #5650 "read can not have position excceed buffer length"
hi，
    i train xgboost in python and read use spark ml.dmlc.xgboost4j.scala.XGBoost.loadModel(in: InputStream),but get "read can not have position excceed buffer length" error
    my xgboost is save by xgboost.save_model()
    my spark is 2.4 and xgboost4j-spark 0.90
thank you~

[2020-05-10 00:19] hcho3 commented on #5645
@ketronium I just tried your Docker image and could not reproduce the issue. I ran the following Python script inside the Docker image:
[code]

Can you double-check if the path you used was valid?

[2020-05-10 01:07] hcho3 commented on #5632
@Zethson Here is a new wheel built with CUDA 10.0: https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/PR-5649/xgboost-1.1.0rc2%2B65895f677a23de0de74ad8e5d0dbab6220bfbf10-py3-none-manylinux2010_x86_64.whl. See if it works for you.

[2020-05-10 01:28] hcho3 commented on #5632
I tried the repro script on a new EC2 instance (g4dn.12xlarge), which has NVIDIA T4 GPU. The new wheel runs deterministically, whereas the current RC2 does not.

Two runs the current RC2:
[code]

Two runs with the new wheel:
[code]

[2020-05-10 16:41] lorentzenchr commented on #5496
Hi there. I have the same problem. My configuration is similar to the above.

- R version 3.6.3
- RStudio Version 1.2.5042
- xgboost 1.0.0.2
- macOS Catalina 10.15.4

I'm pretty sure that I have enough ram for the dataset I use.

[2020-05-10 17:12] hcho3 commented on #5496
@lorentzenchr How did you install R? So far I was not able to reproduce the problem.

[2020-05-10 19:06] lorentzenchr commented on #5496
@hcho3 I installed R via R-3.6.3.pkg from https://cran.r-project.org/bin/macosx/
shasum R-3.6.3.pkg
2677aaf9da03e101f9e651c80dbec25461479f56
I don't know where this exact version went to.

[2020-05-10 19:24] techdozor commented on #4623
So, can xgboost support more then 3m records? I would hope so, where is the issue, any clues?

[2020-05-11 07:35] trivialfis commented on #5650
What's the Python XGBoost version?

[2020-05-11 09:22] Zethson commented on #5632
I can confirm your finding and it is now indeed reproducible!

Thank you very much for your very swift and competent help.

I will also conduct some experiments on reproducibility with Dask soon, so be prepared for more issues related to reproducibility :)

(Let's hope for the best!)

[2020-05-11 09:22] #5632 closed

[2020-05-11 09:34] trivialfis commented on #5632
Dask data partitioning is not reproducible on some cases.

[2020-05-11 09:35] Zethson commented on #5632
@trivialfis Do you by chance have any links where I could read up on that?

[2020-05-11 09:44] trivialfis commented on #5632
@Zethson No,  I made the PR for single node deterministic GPU.  Dask is the next step so it's baby steps.

[2020-05-11 13:00] tbstockton commented on #5496
I updated to R version 3.6.3 on macOS Catalina  10.15.1 and still get the crash on xgb.DMatrix

Tom

[2020-05-11 16:02] GuidoBartoli opened #5653 "KeyError: 'weight' with sklearn.feature_selection.SelectFromModel"
Hi,
I'm using scikit-learn [automatic feature selection](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectFromModel.html) together with a trained XGBoost model.
I set up a threshold to interrupt the feature reduction process when accuracy falls below it.
I think everything is fine in the loop, but when I use `SelectFromModel.transform()` I receive the following err

[2020-05-12 01:40] dandan0503 commented on #5650
Python XGBoost version is 1.0.2

[2020-05-12 08:05] sagittefrat opened #5654 "package ‘ xgboost’ is not available (for R version 4.0.0)"

[2020-05-12 08:21] trivialfis commented on #5653
Hi, could you please post a more complete script that I can run?

[2020-05-12 08:31] hcho3 commented on #5654
There is a space in the quotes?

[2020-05-12 08:31] #5654 closed

[2020-05-12 10:09] GuidoBartoli commented on #5653
Sure, I will post it here this afternoon, so you can take a look at it.

Thanks!

[2020-05-12 10:45] laudv opened #5655 "get_dump(dump_format="json") produces invalid JSON for binary splits"
XGBoost version 1.0.2 installed using pip

Here's a code snippet that reproduces the error:
[code]

output:
[code]

It's the closing brace here ` "no": 2 **}**`

Note that this problem only occurs for binary splits.

[2020-05-12 12:45] yimingxliu commented on #5650
I used :
modelTmp.saveModelAsHadoopFile(xgbModelPath)
xgbModel = XGBoost.loadModelFromHadoopFile(xgbModelPath)
in model training task, it can run successfully;

but in another model predict task, I used:
try{
    xgbModelObj = XGBoost.loadModelFromHadoopFile(xgbModelPath)
    println("xgbModelObj loaded successfully ! ")
}
the task cannot run and output :"AssertError:read can not have position exc

[2020-05-12 12:58] yimingxliu opened #5656 "AssertError:read can not have position excceed buffer length"
I used :
modelTmp.saveModelAsHadoopFile(xgbModelPath)
xgbModel = XGBoost.loadModelFromHadoopFile(xgbModelPath)
in model training task, it can run successfully;

but in another following model predict task, I used:
try{
xgbModelObj = XGBoost.loadModelFromHadoopFile(xgbModelPath)
println("xgbModelObj loaded successfully ! ")
}
the task cannot run and output :"AssertError:read can not have position e

[2020-05-12 13:30] lorenzwalthert opened #5657 "New objectives squaredlogerror and others not documented in R package"
Seems like in the internal R documentation, a few objectives are [not documented](https://github.com/dmlc/xgboost/blob/c355ab65edd596597a3eacdec7caa62ecaa25c23/R-package/R/xgb.train.R#L45), e.g. the `squaredlogerror` and others. I can make a PR to complete the documentation if you want.

Code seems to work with `squaredlogerror` :
[code]

<sup>Created on 2020-05-12 by the [reprex package](https://

[2020-05-12 14:30] safarorsolya commented on #5448
The xgboost 'aucpr' metrics is the same as sklearn's auc (both are the area under the precion-recall curve). However xgboost's auc metric is the area under the ROC curve, which is a slightly different graph.

[2020-05-12 20:20] podcastinator commented on #5430
Hi!

I’m part of the UC Berkeley projects @hcho3 mentioned above.
Just wanted to provide some details on these projects, in case it's helpful:

- **Federated XGBoost**: https://github.com/mc2-project/mc2/tree/master/federated-xgboost
Currently, this codebase is simply a wrapper around XGB's distributed histogram-based training algorithm for exactly the reasons @RAMitchell outlined above -- the his

[2020-05-13 07:18] GuidoBartoli commented on #5653
This is the `test.py` script:
[code]

This is the `requirements.txt` file (use the standard `pip install -r requirements.txt`):
[code]

These are the [dataset](https://github.com/dmlc/xgboost/files/4620381/dataset.h5.zip) and [model](https://github.com/dmlc/xgboost/files/4620387/model.mdl.zip) to be unzipped and put in the same folder as the script.

You can replicate the problem with `python test

[2020-05-13 08:29] yimingxliu commented on #5656
<img width="131" alt="hdfs xib model file" src="https://user-images.githubusercontent.com/32118588/81789611-d0ad1c80-9536-11ea-9134-d2e80e1bbd91.png">

[2020-05-13 08:30] trivialfis commented on #5657
Please open a PR.  I see that there are other not documented objectives.  See https://xgboost.readthedocs.io/en/latest/parameter.html#learning-task-parameters for a complete list of objectives available.

[2020-05-13 12:18] xulunfan opened #5661 "[JVM Packages] ERROR XGBoostTaskFailedListener: Training Task Failed during XGBoost Training"
My environment is spark 2.4.0 and xgboost4j-spark_2.11 1.0.0.  When I run a pipeline contains  vectorAssembler and ml.dmlc.xgboost4j.scala.spark.XGBoostClassifier to fit Dataset<Row> type data, I get a error like this:

Tracker started, with env={DMLC_NUM_SERVER=0, DMLC_TRACKER_URI=10.90.128.79, DMLC_TRACKER_PORT=9091, DMLC_NUM_WORKER=1}

20/05/12 12:06:02 ERROR XGBoostTaskFailedListener: Training

[2020-05-13 13:29] lorentzenchr commented on #5496
I can confirm that this is a regression. XGBoost version 0.90.0.2 works fine.

[2020-05-13 16:56] lorenzwalthert opened #5662 "Evaluation metric aucpr does not work for multiclass"
I think it would be awesome if that would be supported. If not, we should document that it's not working for multiclass. Here is how it fails currently.

[code]

<sup>Created on 2020-05-13 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-05-13 18:04] matheushent opened #5663 "Problem loading booster"
System: Ubuntu 18.04
xgboost version: 1.0.2

When training setting the following params everything got right:
[code]

I trained using xgb.train and then saved using save_model() function.

The problem appears when I try to load the model.

First I tried `clf = xgb.Booster(BOOSTER_PARAMS).load_model(path_to_model)` where `BOOSTER_PARAMS` is the dict above. I got the following error:

[code]

Hence,

[2020-05-13 19:07] trivialfis commented on #5663
Why do you need to set parameters and then load a model?  If you are planing the continue the previous training:

[code]

[2020-05-13 19:09] trivialfis commented on #5656
Are you loading a model generated by XGBoost 1.x with XGBoost <= 9.x ?

[2020-05-13 19:10] trivialfis commented on #5650
The binary model format is not forward compatible.  Which means you can load the old model in newer versions, but not the other way around.  Hopefully we can migrate to newer JSON format sooner. ;-)

[2020-05-13 19:10] #5650 closed

[2020-05-13 19:38] hcho3 commented on #5662
@lorenzwalthert Did you try `objective='multi:softmax'`?

[2020-05-14 01:03] matheushent commented on #5663
I tried it and the response was ```None```

[2020-05-14 02:11] VoVAllen commented on #5620
I met the same problem. Uncheck the associate public ip option works for me.

[2020-05-14 02:13] dandan0503 commented on #5650
Ok, I see. Thank you very much~~

[2020-05-14 06:45] yimingxliu commented on #5656
I did not change the version in the pom.xml of the scala project,
But I made a new .jar file recently, I guess maybe the lib file changed

[2020-05-14 07:59] #5656 closed

[2020-05-14 08:02] trivialfis commented on #5663
It should work.  If you are trying to do prediction, parameters that are effective are `nthread`, `predicator` and `gpu_id`.  Other parameters won't be useful.

[2020-05-14 08:02] #5663 closed

[2020-05-14 12:20] Iuiu1234 opened #5665 "KeyError: 'base_score' in XGBClassifier with xgboost >= 1.0.0"
I have the following error with xgboost >= 1.0.0, Which I haven't with xgboost == 0.90

Calling XGBClassifier()
System: windows

`Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "C:\MyProgramFiles\venv\project\lib\site-packages\sklearn\base.py", line 279, in __repr__
    repr_ = pp.pformat(self)
  File "C:\MyProgramFiles\Python\Python37\lib\pprint.py", line 144, in

[2020-05-14 17:11] MadsJensen commented on #5665
I had the same issue with scikit-learn version 0.23, not 0.22.

[2020-05-14 18:20] Iuiu1234 commented on #5665
I was having the issue cause with the new update if you use XGBClassifiers as super class,
the model parameters have to be specified in the __init__.

With the update in my subclass, now works.

[2020-05-14 18:20] #5665 closed

[2020-05-14 21:01] ShvetsKS opened #5666 "1.1.0RC2/RC1 Performance degradation"
Slowdown was discovered in case we compare training time obtained on release version - 1.1.0rc2(1.1.0rc1)https://pypi.org/project/xgboost/#history vs custom build on head (c42f533ae992f79728020939184a7a7002324e7c) of release branch(https://github.com/dmlc/xgboost/commits/release_1.1.0) we will see next results:

dataset | 1.1.0rc2(1.1.0rc1) | custom build on c42f533ae992f79728020939184a7a7002324e7

[2020-05-14 21:05] hcho3 commented on #5666
RC2 is actually at commit 8aaabce7c9540e242dc47dd0fe6490981f35d1cf of the same release branch. Two commits have been made on top of RC2. So it seems like these two commits actually improved the performance?

[2020-05-14 21:08] hcho3 commented on #5666
Another possibility is the build environment. The PyPI wheels are built using CentOS 6 + GCC 5.x. So your custom build may be using native platform-specific optimization that’s not available in the PyPI build.

[2020-05-14 21:16] SmirnovEgorRu commented on #5666
What I see - new PRs shouldn't impact in the performance.
Different env is the most possible root cause. Do we use a docker container to build PyPI build? If so - how to get this?

Thank you!

[2020-05-14 21:18] hcho3 commented on #5666
You can run the following command at the project root:
[code]

[2020-05-15 02:18] #5655 closed

[2020-05-15 02:54] trivialfis commented on #5666
I think there are techniques for detecting supported instructions on runtime depending on platforms.  On linux that would be simply parsing `/proc/cpuinfo`, and check against whether they are used during build.

[2020-05-15 04:54] nscozzaro opened #5668 "KeyError: 'base_score'"
I just upgraded to the new version of scikit-learn (0.23.0) on my Mac, and I just started getting this error:
[code]
I can confirm that the implicit print works fine when I revert to scikit-learn version 0.22.2.post1.

[2020-05-15 05:38] trivialfis commented on #5668
Em ... The `get_params` from scikit learn is dart magic.

[2020-05-15 06:38] SmirnovEgorRu commented on #5666
@trivialfis, probably, I missed you - do you mean that supported instructions sets depend on a platform where XGBoost was built?
If so - it means, that the build will be different depending on platform where it was build.
Also, in old ```Makefile``` we had usage of sse2 explicitly always. Is it not true now for CMake?

I suppose the issue is not solved yet. Probably, we have non-optimal env for XG

[2020-05-15 06:56] trivialfis commented on #5668
I believe it's fixed in upstream sklearn.  Checked with master branch of scikit learn.

[2020-05-15 06:56] #5668 closed

[2020-05-15 06:59] trivialfis commented on #5666
@SmirnovEgorRu The default binary distribution is not optimal and I don't think it can be.  As it uses older gcc (5.x), also non aggressive optimization level.  Also I'm not sure LTO is enabled in that case.  If you want optimal performance on default build, than we need to do PGO on test farm.

No.  I haven't use tensorflow for a while.  But I remember that if you download from pip, it gives a wa

[2020-05-15 07:00] hcho3 commented on #5666
We have limit on what kind of optimization we can do, since PyPI wheels have to support a wide range of machines.  For example, we cannot use AVX512 instructions.

However, I think the more probable cause is the library dependencies. Unfortunately, there's not much we can do about libraries, since PyPI requires that all Linux builds use CentOS 6. See https://www.python.org/dev/peps/pep-0571/

[2020-05-15 09:11] vijaypal89 opened #5669 "On Mac system xgboost, getting KeyError: 'base_score'"
In [5]: xgboost.__version__
Out[5]: '1.1.0-SNAPSHOT'

In [1]: from xgboost import XGBClassifier

In [2]: model = XGBClassifier()

In [3]: model
Out[3]: ---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
/usr/local/lib/python3.7/site-packages/IPython/core/formatters.py in __call__(self, obj, include

[2020-05-15 11:19] SmirnovEgorRu commented on #5666
@hcho3, @trivialfis, I agree that there are things what we can't do in public PIP releases.
But anyway it makes sense to investigate the problem. There are 2 scenarios:
- we will leave it as is, because changes will affect usability of the product
- fix it if there is no impact to the users in terms of usability

[2020-05-15 11:26] hcho3 commented on #5666
@SmirnovEgorRu Thanks. We'll keep this issue open for now.

[2020-05-15 11:26] ShvetsKS commented on #5666
I did experiments with gcc 5.5 instead of  7.5 version. Results are the same

dataset | custom build on 8aaabce gcc 5.5 | custom build on c42f533 gcc 7.5
-- | -- | --
higgs1m | 16.29s | 16.24s

and if I use docker for build `sudo tests/ci_build/ci_build.sh gpu_build docker -it --build-arg CUDA_VERSION=10.0 tests/ci_build/build_via_cmake.sh -DOPEN_MP:BOOL=ON -DHIDE_CXX_SYMBOLS=ON` I obtain the same

[2020-05-15 12:10] ShvetsKS commented on #5666
but if i use `-DUSE_CUDA=ON -DUSE_NCCL=ON` additionally I get the described regression.

If we summarize current problem we can see:
that build with -DUSE_CUDA=ON introduce ~25% degradation for CPU

dataset | custom build on  8aaabce -DUSE_CUDA=ON | custom build on  8aaabce -DUSE_CUDA=OFF
-- | -- | --
higgs1m | 21.33s | 16.24s
mortgage1Q | 22.0s | 17.67s

[2020-05-15 12:14] trivialfis commented on #5666
That's weird.  Let me try a bit more.

[2020-05-15 12:17] trivialfis commented on #5669
It's a scikit learn bug fixed in master branch of scikit learn

[2020-05-15 12:17] #5669 closed

[2020-05-15 12:22] hcho3 commented on #5666
Interesting. Could it be because of code bloat?

[2020-05-15 12:24] ShvetsKS commented on #5666
I hope that modification of `ci_build.sh` file doesn't affect it
[code]

I neede it to get `libxgboost.so` from docker run:
lines
[code]
were deleted

[2020-05-15 12:35] nscozzaro commented on #5668
Great, just curious which commit to sklearn master solves the issue?

On Fri, May 15, 2020, 2:56 AM Jiaming Yuan <notifications@github.com> wrote:

[2020-05-15 13:02] trivialfis commented on #5668
Not sure, I have only bisected to find which commit caused it.

[2020-05-15 13:44] JaakobKind opened #5670 "[R] bug in creation of stratified folds"
Dear xgboost developers,
this is a follow-up to my issue #4509. I have upgrade to xgboost 1.0.0.2 and have checked the behaviour of the creation of stratified folds.
The first problem I have reported in #4509 has been fixed with #4631. Thank you very much for this.
The second problem is still there. Please have a look at the following code:

library(xgboost)

# evaluation function that prints numb

[2020-05-15 17:38] LenzDu opened #5671 "Support restoring a pickled model from an older version"
Hi there, I understand it has been stated that we shouldn't expect to be able to load a pickled model built in older version. But as I looked into the codes in version 0.82 for example, xgboost actually transfers `Booster.handle` to a bytearray and pickle it.

It is already supported to load a model from bytearray in v1.0.2 (#5360), it should be possible to restore a pickled model too since it's a

[2020-05-15 22:29] keshavramaswamy commented on #5668
Looks like it has been discussed here: https://github.com/scikit-learn/scikit-learn/issues/17227

[2020-05-16 10:21] millfields99 opened #5672 "Issue with XGBoost install on mac catalina"
Hi,
I tried installing xgboost using the brew install xgboost on my macbook pro. I'm pretty new to this but I think I followed the steps in other people's install problems. When I tried importing xgboost I got the following error:
(BTW I did install the conda version 0.90 and it rank OK. I wanted the latest version so went the brew route )

Cannot find XGBoost Library in the candidate path, did yo

[2020-05-16 20:34] trivialfis commented on #5671
No.  We discussed the issues here :https://xgboost.readthedocs.io/en/latest/tutorials/saving_model.html  To summarize, there are 2 problems

1 The Python bytecode.  We can't promise loading the byecode back, as that means from now on we basically can not change any python code at all, this is particularly impossible for scikit learn interface.  Also your model will be tied to Python version as pic

[2020-05-16 20:34] #5671 closed

[2020-05-16 20:45] trivialfis commented on #5670
Is there any "defacto" functions for doing CV on R?

[2020-05-16 20:47] trivialfis commented on #5670
I'm asking because if there are, we can provide tight integration with them and don't have to maintain one ourselves.  I'm sure a defacto implementation can do a better job than Xgboost.

[2020-05-16 23:56] janvekarnaveed opened #5673 "[JVM Packages] Xgboost spark exception for missing value"
I want to train an xgboost model on my training data, where 0 are valid values and I want to treat missing values as -999. But this gives me an error. I went through the notes here https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#dealing-with-missing-values on Missing values with Spark’s VectorAssembler. I think option 1 is feasible. But how do I convert my vector assembl

[2020-05-17 08:33] hcho3 commented on #5672
@millfields99 We just released XGBoost 1.1.0 and now pre-built binary wheel for Mac OS is available. You can install XGBoost by running
[code]

[2020-05-17 08:33] #5672 closed

[2020-05-17 08:36] hcho3 commented on #5586
@ankane 1.1.0 is just released with the mac wheel: https://pypi.org/project/xgboost/1.1.0/#files

[2020-05-17 08:38] hcho3 commented on #5411
@hernandezurbina We just release XGBoost version 1.1.0, and starting from this release, we publish a Python wheel specifically built for Mac OS: https://pypi.org/project/xgboost/1.1.0/#files. You can install it by running
[code]

Note: you should first install libomp by running `brew install libomp`. We currently support Mac OS High Sierra, Mojave, and Catalina.

[2020-05-17 08:38] #5411 closed

[2020-05-17 08:40] hcho3 commented on #5496
It's quite difficult, since I cannot reproduce the issue on my end.

[2020-05-17 08:44] hcho3 commented on #5593
1.1.0 is now on PyPI. I'm still working on the release note and will put it up soon.

[2020-05-17 08:44] #5593 closed

[2020-05-17 08:44] hcho3 commented on #5337
1.1.0 is now released.

[2020-05-17 08:44] #5337 closed

[2020-05-17 08:45] #5607 closed

[2020-05-17 08:47] hcho3 commented on #5118
Closing this, since we've now refactored `setup.py` to install `libxgboost.so` under the Python installation path and not `/usr/local/lib/`.

[2020-05-17 08:47] #5118 closed

[2020-05-17 08:50] hcho3 commented on #5666
I released 1.1.0 today, as scheduled. If we happen to find a way to speed up PyPI releases without compromising usability, we could release a patch release (1.1.1).

[2020-05-17 08:52] #4429 closed

[2020-05-17 11:39] SmirnovEgorRu commented on #5666
@hcho3, got it, thank you!
@ShvetsKS, let's make that possible.

[2020-05-17 17:55] lorentzenchr commented on #5496
Here is a minimal code example, if it helps:
[code]
The R interpreter gives the following error mesages and quits:
[code]
The package xgboost was installed from CRAN and compiled with clang:
[code]
Full install log under details below.
I have also a real g++ compiler installed via homebrew.
[code]
As opposed to the g++ of clang (on macOS):
[code]

<details>

[code]
</details>

[2020-05-17 18:02] hcho3 commented on #5496
[code]
This error message is quite helpful. The error message is probably because we recently enabled OpenMP (multithreading library) for XGBoost R package: #5240. Let me look at it.

An easy fix is to turn off multithreading, but that would lower training performance out of the box.

[2020-05-17 18:08] lorentzenchr commented on #5496
AFAIK, OpenMP is not available on OSX by default. It is possible to install it, e.g. via homebrew which I have not (yet) done. Scikit-learn therefore throws a warning and the compiles without OpenMP (at the moment, on my computer).

[2020-05-17 18:10] hcho3 commented on #5496
@lorentzenchr OpenMP is made available via the `libomp` package on Homebrew. You must have installed a package that depended on libomp.

[2020-05-17 18:14] lorentzenchr commented on #5496
I regularly compile scikit-learn. `make in` gives
[code]

[2020-05-17 18:16] hcho3 commented on #5496
@lorentzenchr With libomp, the compiler flag is `-Xclang -fopenmp`, not `-fopenmp`. Take a look at the build log you uploaded, and you can find `-Xclang -fopenmp`.

[2020-05-17 21:19] lorentzenchr commented on #5496
@hcho3 Thanks for clarifying. Though, this is a bit above my skills.
I can confirm that I have indeed installed `libomp` via homebrew, contrary to what I've written before.

[2020-05-17 21:57] ankane commented on #5586
Was planning to make coffee while it installed, but it installed immediately. Please revert!

In all seriousness, works great on Mojave. Ruby version is also out and submitted a version bump to Homebrew for the CLI. https://github.com/Homebrew/homebrew-core/pull/54882

[2020-05-18 14:26] StrikerRUS commented on #5496
In LightGBM we've recently faced the same duplicate OpenMP installation issue with R downloaded from CRAN. Here is the workaround we use:
https://github.com/microsoft/LightGBM/blob/bf99a07221d95d51a125b5cfae64908ed8d2c1e6/.ci/test_r_package.sh#L43-L56

[2020-05-18 15:48] Zethson opened #5676 "sklearn train_test_split runs forever, but dask-ml train_test_split works - sent from Dask"
The Dask people sent me here and told me to post the problem here again.

For all details (issue, example etc), please read:

https://github.com/dask/dask-ml/issues/666

Summary:

Hi,

kinda puzzled.
I am running a local Dask instance with XGBoost on a machine with 2 GPUs.
It works flawlessly with the Boston dataset, but just gets stuck with the Covertype dataset, which is way bigger than the Bost

[2020-05-19 07:49] vaibhavbaheti commented on #5668
Hey...So my model trains even after this error? Is that correct training.
Also if somebody could tell me what's the exact fix as I went through all the links but couldn't find a solution?

[2020-05-19 09:04] trivialfis commented on #5668
It throws an error only if you print the model.  Other parts like training are not related.

The fix: Compile latest scikit learn, or use scikit learn 0.22, or wait for scikit learn 0.24.

[2020-05-19 16:44] lorenzwalthert opened #5681 "Metric aucpr calculated wrongly with unbalanced data?"
I use xgboost in a binary classification task with the metric `aucpr`. With balanced data, the xgboost metric is very similar to the one calculated by two other packages, but when the data is unbalanced, it's significantly different. Below, I wrote an R function that creates a test set and fits the models and estimates the area under the PR curve. Between the three runs demonstrated, all I varied

[2020-05-19 16:56] lorenzwalthert commented on #5657
Here's the PR: https://github.com/dmlc/xgboost/pull/5682

[2020-05-19 22:40] Ben-Epstein opened #5683 "sparkxgb import for PySpark"
I've been following the threads for PySpark support and see [here](https://github.com/dmlc/xgboost/pull/4656) that adding the jars as pyFiles does the trick.

Unfortunately I'm unable to import from sparkxgb after following those steps on 1.0.0
[code]

[code]
I'm running this on Jupyter, not sure if it matters or not.

Any suggestions?

Thanks!

[2020-05-19 23:01] hcho3 commented on #5683
There is a new thread for PySpark: #5658.

[2020-05-19 23:10] #5683 closed

[2020-05-20 04:14] hcho3 commented on #5645
Closing for now. Feel free to re-open if the problem persists.

[2020-05-20 04:14] #5645 closed

[2020-05-20 06:00] #5657 closed

[2020-05-20 06:05] trivialfis commented on #5676
Did you see any warning?

[2020-05-20 07:13] Zethson commented on #5676
No, nothing at all. It's just stuck.

[2020-05-20 08:18] lorenzwalthert commented on #5681
I think there are some problems in my example, will reopen if problem persists.

[2020-05-20 08:18] #5681 closed

[2020-05-20 10:08] ras44 opened #5685 "[R] compilation failed for package 'xgboost': invalid initialization of non-const reference of type"
Installing xgboost 1.0.0.1 in RStudio leads to:

[code]

On the other hand, the following succeeds:
[code]

[2020-05-20 12:55] Kotsakis opened #5686 "Details on eval metric aucpr implementation"
Hello,

Since i cannot get "native" metrics (such as auc and aucpr) together with custom, i would like to implement the aucpr one.

However i was not able to replicate it and sklearn's `metrics.auc(x=recall, y=precisionl)` (not giving me same resuluts in the agaricus set). I was wondering if you could point me to your implementation.

[2020-05-20 14:26] blinickg opened #5687 "normalize_estimator function trying to access non-existent attribute"
See thread here: dask/dask-ml#667

Proposing a change to subclass `AttributeError` to make it clear that you're accessing a non-existent attribute when calling the `normalize_estimator` function before training.

[2020-05-20 14:45] trivialfis commented on #5686
What do you mean by that?

[2020-05-20 14:47] trivialfis commented on #5687
Em.. is there any specification for that?

[2020-05-20 14:48] trivialfis commented on #5685
What compiler are you using?

[2020-05-20 14:57] blinickg commented on #5687
@trivialfis , is there enough specification at https://github.com/dask/dask-ml/issues/667  ?

[2020-05-20 15:23] trivialfis commented on #5687
Surely I can do that.  I'm just thinking about what's the easiest and future proof way to be fully compatible with scikit learn as situations like this comes up a lot.

[2020-05-20 16:01] Ben-Epstein opened #5688 "Error initializing XGBoostClassifier in spark"
Running Spark 2.4.0
XGBoost maven jars 1.0.0

**Code:**
[code]
I **did** add the jars `xgboost4j_2.12-1.0.0.jar` and `xgboost4j-spark_2.12-1.0.0.jar` to the Spark submit args, and it's importing fine so that worked.

**The error:**
[code]

I was following [this](https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#build-an-ml-application-with-xgboost4j-spark) tutorial.

What

[2020-05-20 17:24] whheath commented on #5685
I'm having the exact same error. Trying to upgrade from 0.71.2
R version 3.4.1 (2017-06-30)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: CentOS Linux 7 (Core)

gcc version 7.3.1 20180303 (Red Hat 7.3.1-5) (GCC)

[2020-05-20 18:29] blinickg commented on #5687
OK, let me know if I can provide further information.

[2020-05-20 19:43] whheath commented on #5685
Had this exact problem trying to upgrade from an earlier version on Centos 7. GCC was version 4.8.5. Fix was to install the devtoolkit with newer gcc here: https://www.softwarecollections.org/en/scls/rhscl/devtoolset-7/

[2020-05-20 20:13] ras44 commented on #5685
We're using CentOS 7 as well, so this is likely the issue.  Thanks for your input @AYellowDart 👍

[2020-05-20 20:19] hcho3 commented on #5685
Indeed XGBoost requires GCC 5+ to compile, because it follows C++11 standard.
https://github.com/dmlc/xgboost/blob/60511a3222cd164da93351c441b5018da7169b76/CMakeLists.txt#L16

[2020-05-20 20:19] #5685 closed

[2020-05-20 20:44] ras44 commented on #5685
Thanks, that's useful information.  It might be helpful if that warning message appears when the R installation fails.  Or possibly include the GCC 5 version requirement in `SystemRequirements:` in DESCRIPTION:

https://github.com/dmlc/xgboost/blob/60511a3222cd164da93351c441b5018da7169b76/R-package/DESCRIPTION#L67

[2020-05-20 21:10] hcho3 commented on #5685
The DESCRIPTION file states C++11 as requirement, and GCC 4.x doesn't really support C++11 fully.

[2020-05-20 23:58] sami2ahmed opened #5691 "run XGboost via a distributed cluster of GPU backed dask workers"
@trivialfis firstly, thanks for composing this article on medium on using GPUs/dask/CUDA (https://medium.com/rapids-ai/a-new-official-dask-api-for-xgboost-e8b10f3d1eb7)

In the article you say: "This snippet [below] can scale to run on virtually any machine or cluster."
[code]

It's unclear to me how I might edit the snippet so that I can leverage a _distributed_ cluster of GPU backed dask workers

[2020-05-21 02:42] zhouquan03 opened #5692 "Parameters: { evals_result } might not be used."
environment：
macOS 10.15.4

$ python -V
Python 3.7.7

$ pip freeze
...
xgboost==1.1.0
...

code:

    evals = ['auc', 'logloss']
    eval_set = [(train_x, train_y), (test_x, test_y)]

    model = XGBClassifier(
        learning_rate=0.1,
        n_estimators=30,
        max_depth=5,
        min_child_weight=1,
        gamma=0,
        subsample=0.8,
        colsample_bytree=0.8,
        objective=

[2020-05-21 04:21] jameslamb commented on #5608
@hcho3 I just came to tell you about this and found this issue. We have been dealing with it in LightGBM (https://github.com/microsoft/LightGBM/issues/3064).

It is possible to produce `R.def` from `R.dll` using `objdump.exe`, something that is in all version of `Rtools`, including 4.0.

That fix is likely the direction we'll go in `LightGBM` (see the PR: https://github.com/microsoft/LightGBM/pull

[2020-05-21 06:15] trivialfis commented on #5692
I believe this is a correct message.  Passing `evals` for `eval_metric` is sufficient.  There's no `evals_result` on scikit learn interface.

[2020-05-21 06:15] #5692 closed

[2020-05-21 06:26] trivialfis commented on #5691
Thanks for raising an issue.  The easiest way to get started is as follow, you can automate it using some tools like slurm, I will leave it to dask's document.

1. ssh to your cluster: run `dask-scheduler --scheduler-file=scheduler.json`, launching a scheduler.
2. ssh to your cluster: run `dask-cuda-worker --scheduler-file=scheduler.json`, launching a cuda worker (possibly with multiple GPUs).  Th

[2020-05-21 06:29] #5691 closed

[2020-05-21 06:34] hcho3 commented on #5608
@jameslamb Thanks a lot for the pointer! My hands are full this week, would you like to give a shot at a pull request?

[2020-05-21 08:04] ras44 commented on #5685
Thanks- it seems like `SystemRequirements` are not enforced or tested on installation, because when I install it the only error I get is the gcc compile error (not a dependency error).  Maybe that is an issue with R's package management?  What might help resolve this issue is some kind of output indicating that GCC5+ is required.

[2020-05-21 09:43] trivialfis commented on #5685
We don't require specific compiler, but require language version.  Checking whether the compiler is capable of compiling that language is the job of build tool.  For XGBoost normally it's CMake, but R package uses autotools.

Surely you can add checks in the autotools script for compiler capabilities like whether it can compile with regex etc.  But I don't think anyone here like using autotools.

[2020-05-21 09:56] ras44 commented on #5685
Got it- sounds like it's on autotools then.  Thanks for the additional info.

[2020-05-21 11:27] TomAugspurger commented on #5687
You might try running `sklearn.utils.estimator_checks.check_estimator` on the XGBoost estimators: https://scikit-learn.org/stable/modules/generated/sklearn.utils.estimator_checks.check_estimator.html

[2020-05-21 13:39] sneaxiy opened #5694 "Question about XGBoost distributed training of rabit"
I am not very familiar with XGBoost distributed training using rabit, and want to ask some questions.

In this ut, does the file `agaricus.txt.train` would be splitted into N pieces logically (where N is the number of workers), and each worker read only part of the file?

https://github.com/dmlc/xgboost/blob/646def51e02d4017ac85065a10ca763e8941d62a/tests/distributed/test_basic.py#L1-L29

What if I

[2020-05-21 14:37] jameslamb commented on #5608
@hcho3 sure, I can do that! Happy to help

[2020-05-21 18:37] amod99 opened #5695 "predictSingle Error"
I am getting below error when trying to predict for single example on binary classifier model.
java.lang.IllegalStateException: Can't invoke predictSingle() because this model outputs multiple values: 0
Below is code :

 Predictor predictor = new Predictor(
                        new java.io.FileInputStream("path-to-model-file"));

 // Create feature vector from sparse representation by map

[2020-05-21 19:57] sami2ahmed commented on #5691
@trivialfis actually it looks like what I want to do is not possible based on this issue/feedback from the Dask team https://github.com/dask/dask-gateway/issues/177

[2020-05-21 19:58] sami2ahmed commented on #5691
thanks for being so responsive

[2020-05-21 20:05] trivialfis commented on #5691
You don't need that library to run this example

[2020-05-21 20:09] trivialfis commented on #5687
Thanks!  Work on this is already on the way.  There are some tests in there we might not be able to pass without making a breaking change.  But I succeeded at passing most of the other tests.

[2020-05-22 14:42] marvinxu-free opened #5697 "java.io.IOException: Server returned HTTP response code: 500"
i got this error, my program can not finished , seems hanged at last n tasks, which n is eq to worker number.

[code]

![image](https://user-images.githubusercontent.com/33946057/82679377-7a01ba00-9c7d-11ea-9437-4b5748c76fbc.png)

[2020-05-22 16:18] marvinxu-free commented on #5013
i have met this problem too, driver log show error like this:
[code]
seems nothing to do with my program, and my spark version is 2.3.0, xgboost version is 0.82.

[my issue](https://github.com/dmlc/xgboost/issues/5697)

[2020-05-22 16:24] pancodia opened #5698 "Does Spark4j-Spark latest build support `reg:pseudohubererror` as objective?"
Does Spark4j-Spark latest build support `reg:pseudohubererror` as objective?

I am trying to use XGBoost4j-Spark to build a regression model with `pseudohubererror` as the objective.

**Environment:**

- AWS EMR release version 5.30.0
- I am using the jars downloaded from `s3://xgboost-maven-repo/release/ml/dmlc/xgboost4j_2.11/1.1.0/`
  + xgboost4j-spark_2.11-1.1.0.jar
  + xgboost4j_2.11-1.1.0.jar

[2020-05-22 16:28] hcho3 commented on #5698
No, the pseudo Huber loss was added after the 1.1.0 release. You should use the SNAPSHOT version instead.

[2020-05-22 16:28] #5698 closed

[2020-05-22 16:30] pancodia commented on #5698
Thanks for the lightening fast reply.
Is there a SNAPSHOT build for Scala 2.11 that I can download?

[2020-05-22 16:32] hcho3 commented on #5698
Yes, you can use either 2.11 and 2.12. Follow instructions in https://xgboost.readthedocs.io/en/latest/jvm/index.html#access-snapshot-version.

FYI, you should consider upgrading Scala to 2.12 in the near future, since XGBoost will be moving to Spark 3.x.

[2020-05-22 16:41] sh1ng opened #5699 "Check failed: base_score > 0.0f && base_score < 1.0f: base_score must be in (0,1) for logistic loss, got: -0 when copy underlying booster"
version 1.1

Looks similar to https://github.com/dmlc/xgboost/issues/5276

[code]

[2020-05-22 16:45] pancodia commented on #5698
Thanks

Thank you for the reminder. Since my current setup uses Spark 2.4.5 and Scala 2.11, so I have to use the build for 2.11. If my model works fine, we will probably use 2.12 build in production.

[2020-05-23 11:58] alokgogate commented on #4623
@techdozor, i was able to run XGboost with ~8M rows now after upgrading the version of XGB to 1.0.2

[2020-05-23 12:28] trivialfis commented on #4623
Will look into this later.  But for now if the issue occurs, please try hist or gpu hist tree method.

[2020-05-23 23:55] hcho3 commented on #5699
Is it possible to share your model and script?

[2020-05-24 01:03] hcho3 commented on #5496
@lorentzenchr Can you try installing this tarball?
[xgboost_1.0.0.1.tar.gz](https://github.com/dmlc/xgboost/files/4672768/xgboost_1.0.0.1.tar.gz) This might solve the issue with the duplicated `libomp.dylib`.

[2020-05-24 01:07] trivialfis commented on #5676
I recently noticed there might be a dead lock in distributed wait function, but it's quite difficult to reproduce.  Not sure if it's related here.

[2020-05-24 06:18] lorentzenchr commented on #5496
@hcho3 That works. Thanks a lot!

[2020-05-24 06:22] hcho3 commented on #5496
@lorentzenchr That's good news! Is multithreading working in your machine?

[2020-05-24 06:32] lorentzenchr commented on #5496
Yes, `nthread=4` works as expected.

[2020-05-24 06:32] hcho3 commented on #5496
@lorentzenchr Thanks to your help, I filed the fix https://github.com/dmlc/xgboost/pull/5701. Thanks a lot!

[2020-05-24 06:47] hcho3 commented on #4949
Now the latest XGBoost release (version 1.1.0) comes with a pre-built Python wheel for Mac OSX. Simply run
[code]
and it will install quickly. No need to worry about build failing, because we already did the build for you.

[2020-05-24 15:44] amod99 commented on #5695
Interestingly issue doesnt occur when model is built using version < 1 (release_0.90 )

[2020-05-24 21:36] hcho3 commented on #5695
I don’t see a function named predictSingle in XGBoost API.

[2020-05-25 05:54] amod99 commented on #5695
I am using this https://github.com/komiya-atsushi/xgboost-predictor-java library for generating online prediitions.

[2020-05-25 06:25] marvinxu-free commented on #5697
this is not an error, just every slow!

[2020-05-25 06:25] #5697 closed

[2020-05-25 06:43] hcho3 commented on #5496
Hi everyone:

We will be submitting 1.1.0 version to CRAN within a week or two. It has the fix for the crashing bug (#5701). For now, you can try it out by downloading [xgboost_1.1.0.1.tar.gz](https://github.com/dmlc/xgboost/files/4675575/xgboost_1.1.0.1.tar.gz) and running
[code]

[2020-05-25 07:00] hcho3 commented on #5695
It appears that the xgboost-predictor-java library doesn't support the latest XGBoost model format. We made a breaking change for the 1.0.0 version (https://github.com/dmlc/xgboost/pull/5281) that changed how the model is saved.

[2020-05-25 08:02] amod99 commented on #5695
thanks for the update ! , i have opened up issue with java library.

[2020-05-25 08:02] #5695 closed

[2020-05-25 08:43] Kotsakis commented on #5686
There are some metrics that are build in, such as logloss, auc, aucpr, error etc.

I wish to have for model evaluation my custom metrics and aucpr. However since i cannot have the built in aucpr (in [this](https://github.com/dmlc/xgboost/issues/1125)  for example he reimplements auc) i m trying to reimplement it using sklearn . Unfortunately my results differ a lot on the agaricus data set. So i w

[2020-05-25 08:54] trivialfis commented on #5695
Please consider using the JSON format.

[2020-05-25 08:59] AaronX121 opened #5703 "Python package cannot invoke all threads when "n_jobs=-1" on Linux"
Hi, I encountered one problem when running XGBoost on different platforms (Win10 and Ubuntu 18.04). Setting the argument `n_jobs` as `-1` for **XGBClassifier**, it turns out that XGBoost cannot successfully invoke all threads on Ubuntu (However, manually setting `n_jobs` to the maximum number of threads in CPU works fine). What makes it strange is that exactly the same codes (`n_jobs=-1`) running

[2020-05-25 09:20] hcho3 commented on #5703
Try setting `n_jobs` to 0 and see what happens. This line indicates the default value is 0, not -1:
https://github.com/dmlc/xgboost/blob/21ed1f0c6d90f8a734150130eda1b3426f00c308/include/xgboost/generic_parameters.h#L58-L59

[2020-05-25 09:33] trivialfis commented on #5703
I think this is inconsistent to DMatrix.

[2020-05-25 09:34] hcho3 commented on #5703
We should accept both 0 and -1 as meaning "all cores."

[2020-05-25 09:48] AaronX121 commented on #5703
* Windows: `-1` and `0` both work
* Ubuntu: only `0` works

Agree that it would be more amiable if `-1` is also recognized as using all threads, which is the custom of Joblib and Sklearn.

[2020-05-25 11:00] trivialfis commented on #5703
Actually currently we don't do anything if it's set to 0.  We just use whatever default value set by omp.  This way users can set the global parameter for all libraries they use.

[2020-05-25 17:18] yurivict opened #5704 "unable to find library -ldmlc"
Version 1.1.0 fails to build:

[code]

OS:FreeBSD 12.1

[2020-05-25 18:00] hcho3 commented on #5704
@yurivict XGBoost has explicit dependency on the `dmlc` target.  CMakeLists.txt should be patched so that it can locate [the dmlc-core package](https://svnweb.freebsd.org/ports/head/devel/dmlc-core/).