[2021-11-23 20:36] trivialfis opened #7478 "Integrate examples into documents."
https://github.com/dmlc/xgboost/pull/7468 added support for sphinx gallery and integrates `guide-python` into the documents.  We still have some other demos like dask, shap and survival etc.

- [ ] Integrate all examples.
- [ ] Revise cross-references to use rst ref.
- [ ] Update some outdated examples like the basic walk-through.
- [ ] Check links in Python doc string and replace them with rst re

[2021-11-23 20:36] renjiege commented on #7477
Thanks @trivialfis. I will give the latest version a shot.

[2021-11-23 20:37] trivialfis commented on #7448
Sorry for the late reply.  I will try to take a look later.

[2021-11-23 20:40] trivialfis commented on #7437
The weight is used in the objective.  It's might just be the linear model not converging well, I can't be sure at the moment.

[2021-11-23 21:41] dchristle commented on #7250
I'm running into a similar issue when using Spark on k8s with the `approx` method that does not seem to trigger when using the `hist` method. I'm using a SNAPSHOT `xgboost` compiled from the `master` branch within the last few days with a SNAPSHOT of `spark` (~3.3.x). Java 11.0.13 and Python 3.8 are used on all the hosts.

After I start the job, it takes only a few minutes to get to the `forEachPa

[2021-11-24 02:00] vertexcite opened #7480 "Docs: Use uppercase omega for overall model complexity cost, lowercase omega for per tree complexity cost"
Documentation suggestion:
For https://github.com/dmlc/xgboost/blob/master/doc/tutorials/model.rst, use lowercase omega for per tree complexity cost, and uppercase omega for overall model complexity cost.  Currently, uppercase omega used for both.

Similarly, https://raw.githubusercontent.com/dmlc/web-data/master/xgboost/model/step_fit.png should have :math:`\Omega(\theta)` (i.e. uppercase omega fo

[2021-11-24 02:03] hcho3 commented on #7480
Thanks for your suggestion. Would you be willing to submit a pull request?

[2021-11-24 04:03] wbo4958 commented on #7461
The cluster should meet the requirement that `The total number of alive cpu cores >= numWorkers * sc.conf.getInt("spark.task.cpus", 1)`

The total number of alive cpu cores can be simply equal to `(total executors * exector cores)` if there is no extra job running on your cluster

[2021-11-24 07:34] GinkoBalboa commented on #7476
Hi,

Here is my solution. Regarding the original page, the memory that the original_page_ points to is no longer accesible after iterating. In that manner, I think a copy of that pointer is not needed.

Thank you for the suggestion.

Best Regards

[2021-11-25 02:32] bgreenwell opened #7483 "R package: feature contributions appear to have wrong dimension when explaining a single instance"
The following occurs on the latest version from CRAN (v1.5.0.2):

[code]

Seems logical to expect that the output here retain the same dimension as the input to `newdata` (aside from the `BIAS` term), right?

[2021-11-25 05:00] kitty-eu-org opened #7484 "Socket Connect Error:Connection refused"
### error
`When I was using spark xgboost, an error occurred：
  retry connect to ip(retry time 1): [ip]
  retry connect to ip(retry time 1): [ip]
  retry connect to ip(retry time 1): [ip]
  retry connect to ip(retry time 1): [ip]
  retry connect to ip(retry time 1): [ip]
  retry connect to ip(retry time 1): [ip]
  retry connect to ip(retry time 1): [ip]
  retry connect to ip(retry time 1): [ip]

[2021-11-25 12:15] marboe123 commented on #7460
Do you mean that could run the code if I install an older version of xgboost?

I try to install xgboost version 13.0 from the downloaded tar.gz file using this command in R 4.1.0 :

`install.packages("C:/xgboost_v13/xgboost-1.3.0.tar.gz", repos = NULL, type="source")`

Although this gives these errors:

[code]
Do you know what can be the cause?

Thanks a lot!

[2021-11-25 20:25] claudio525 opened #7485 "Mistake in "Intro to Boosted Trees"?"
I believe there is a mistake in the objective functions for a tree at timestep t
![image](https://user-images.githubusercontent.com/45545396/143496267-ac4e005b-ddd2-441c-ab5c-621642ccb10d.png)
the regularization term in the top line in both cases is a sum over t. However since this is the objective function for the single tree at timestep t, this should just be the regularization term for that tre

[2021-11-26 04:45] gp1322719830 opened #7486 "The prediction speed of GPU is 10 times that of CPU"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2021-11-26 13:19] marboe123 commented on #7460
Thank you trivialfis. As a temporary solution I did indeed succeed to run the code  in xgboost 1.2.0.1.tar.gz from here:

https://cran.r-project.org/src/contrib/Archive/xgboost/

[2021-11-27 11:29] trivialfis commented on #7486
Please add more details.

[2021-11-27 11:29] #7486 closed

[2021-11-27 11:31] trivialfis commented on #7484
The tracker was down for some reason.  Please upgrade to latest xgboost and open a new issue if the problem persists, preferably with a reproducible example

[2021-11-27 11:33] trivialfis commented on #7477
Latest xgboost should have reasonable memory consumption with sparse datasets.  Feel free to reopen if the issue persists.

[2021-11-27 11:33] #7477 closed

[2021-11-27 11:49] hezhaozhao-git commented on #7484
The latest version of xgboost will still have the same problem. Because of tracker.py, it is very simple to reproduce it. You only need to turn on the tracker service, and then use the telnet ip port, and enter the request to reproduce it. This is not essentially It's a bug, but the prompt information is really not friendly. In addition, the task being trained relies on tracker communication. If s

[2021-11-27 11:51] hezhaozhao-git commented on #7484
@trivialfis hello,first trunk your reply， the latest version of xgboost will still have the same problem. Because of tracker.py, it is very simple to reproduce it. You only need to turn on the tracker service, and then use the telnet ip port, and enter the request to reproduce it. This is not essentially It's a bug, but the prompt information is really not friendly. In addition, the task being tra

[2021-11-27 19:59] trivialfis opened #7488 "Use double for GPU Hist root sum."
The floating-point error is significant in the tests created by https://github.com/dmlc/xgboost/pull/7481 .

- [ ] Change root sum.
- [ ] Merge truncation factor with root sum.

[2021-11-28 08:36] vidarsumo commented on #6654
Hi @trivialfis, I installed the latest gpu version (xgboost_r_gpu_win64_afb9dfd4210e8b8db8fe03380f83b404b1721443.tar.gz)  but I'm still getting the same error, i.e.
**Error: Problem occurred during prediction. Error in switch(object$params$objective, `binary:logitraw` = stats::binomial()$linkinv(res), : EXPR must be a length 1 vector**

I saw it's build with cuda 11.0 but I have cuda 10.2. Does th

[2021-11-28 13:09] trivialfis opened #7489 "R prediction function for 1 sample."
I rewrote the predict function in R, it seems the new version doesn't handle some edges cases like https://github.com/dmlc/xgboost/issues/6654#issuecomment-981013742

[2021-11-28 13:09] trivialfis commented on #6654
Sorry for the inconvenience.  I opened an issue https://github.com/dmlc/xgboost/issues/7489 , will get back to it.

[2021-11-29 00:44] makart19 opened #7490 "xgboost performance and lib’s size depends on path to src folder"
During xgboost evaluation I discovered that xgboost performance and lib’s size depends on path to src folder.
The performance difference can be up to 10% (depending on HW and dataset).

For example:

    xgboost built path: /tmp/test_of_xgboost/xgboost
    libxgboost.so size: 5486952
    year ds exec time: 118(sec)

    xgboost built path: /tmp/test_of_xgboost/xgboost_1.4.2_path_123456789
    libx

[2021-11-30 08:47] galbraun opened #7492 "python package eval AUC above 1.0"
When I train a model using the python package when I print the eval, after some rounds the roc-auc get above 1.0 :

[49]	validation_0-auc:0.99961	validation_1-auc:0.97529
[50]	validation_0-auc:0.99970	validation_1-auc:0.97569
[51]	validation_0-auc:0.99982	validation_1-auc:0.97636
[52]	validation_0-auc:0.99984	validation_1-auc:0.97646
[53]	validation_0-auc:0.99991	validation_1-auc:0.97675
[54]	vali

[2021-11-30 09:23] hcho3 commented on #7492
Is it possible to share your data and training script?

[2021-11-30 09:47] galbraun commented on #7492
I could reproduce the problem with this code:

from sklearn.datasets import make_classification
X,y = make_classification(n_samples=10000, n_features=1000)
X_val,y_val = make_classification(n_samples=10000, n_features=1000)
xgboost_params = {'eta': 0.3, 'gamma': 3.930975040805966e-06, 'max_depth': 10, 'min_child_weight': 1, 'subsample': 0.9, 'lambda': 0.018522161601581322, 'alpha': 0.5440050106523

[2021-12-01 07:25] radhikagupta6 opened #7493 "Hi I have a pickle file for xgb model developed on 0.90 version, however my current runtime has changed and it supports xgb version 1.1.1 only, so in order to make the pickles work I am resaving them with model_save() in the older version and then loading them with load_model() in the new version but my predictions from the original model vary from that of the model in the newer version. Can you suggest something ?"

[2021-12-02 10:05] hezhaozhao-git commented on #7484
@trivialfis I made some changes to the fock code, and added a friendly reminder that the tracker process has died and possible problem reminders. I hope you can consider my ideas, then I would be very grateful:
1. The [tacker.py](https://github.com/hezhaozhao-git/dmlc-core/blob/main/tracker/dmlc_tracker/tracker.py) modified by the [dmlc-core](https://github.com/hezhaozhao-git/dmlc-core) project fi

[2021-12-02 14:25] trivialfis commented on #7492
Thanks for opening the issue.  It's caused by the floating-point error.  The latest XGBoost uses double instead of float for evaluation metrics and the issue is fixed.

[2021-12-02 14:25] #7492 closed

[2021-12-02 14:25] trivialfis commented on #7492
[code]

[2021-12-02 14:31] trivialfis commented on #7484
Thanks for the detailed suggtestions.

@wbo4958 Could you please help take a look into this?

[2021-12-02 18:39] beckernick opened #7494 "DaskDeviceQuantileDMatrix hangs with empty partitions unlike DaskDMatrix with Dask-cuDF inputs"
DaskDMatrix appears to be robust to empty partitions, in that a DMatrix created from a Dask-cuDF Dataframe with an empty partition can still be used for training. From the following test, it looks like DaskDeviceQuantileDMatrix may not be robust to empty partitions. When I run the minimal reproducer below, my process appears to hang during the `train` call (and underlying `dispatched_train` Dask t

[2021-12-03 03:43] wbo4958 commented on #7484
@hezhaozhao-git Could you put up a PR for you fix?

[2021-12-03 04:10] hezhaozhao-git commented on #7484
@wbo4958 Thank you for your reply, I have created pr and look forward to merging.

[2021-12-03 04:11] hezhaozhao-git commented on #7484
@wbo4958 Thank you for your reply, I have created pr and look forward to merging.

[2021-12-03 05:15] KastanDay commented on #5869
Oh my goodness, I had the same error and took me an hour to find your results. So sad to see. WSL fails in mysterious ways like this way too often. I'm gonna have to dual boot linux, or maybe buy a mac. `Life is pain punctuated with only brief moments of glorious unconsciousness.`

[2021-12-03 05:21] KastanDay commented on #5869
Now I got the same error on a linux server with 4 GPUs, even though I'm only specifying `gpu_id=0`.

```xgboost.core.XGBoostError: [22:52:08] /opt/anaconda/conda-bld/xgboost-base_1601008358431/work/src/tree/updater_gpu_hist.cu:1407: Exception in gpu_hist: NCCL failure :unhandled cuda error /opt/anaconda/conda-bld/xgboost-base_1601008358431/work/src/tree/../common/device_helpers.cuh(896)```

[2021-12-03 20:49] trivialfis commented on #5869
Wow, what did Linux do to you ...

I don't have a Windows instance for testing, would be great if someone can debug the errors and see which cuda function is malfunctioning.

[2021-12-03 20:59] trivialfis commented on #7494
Thanks for opening the issue.  Will look into it next week.

[2021-12-04 02:55] Liumucan opened #7496 "How to use parameter seed to control the training of xgboost?"
I want to use the parameter _seed_ to control the randomness of xgboost. I thought I can use different seed to obtain different prediction results with xgboost with the same parameters and the same dataset (just like random_state in sklearn API), but it seems that adjusting the parameter _seed_ doesn't change the predictive results. So is there something wrong about the way I use the parameter _se

[2021-12-04 08:15] lantianguhong opened #7497 "Prediction time is different"
[addison output]$ ./load_module demo.bin
364:us
[addison output]$ ./load_module demo.bin
45806:us
[addison output]$ ./load_module demo.bin
43777:us
[addison output]$ ./load_module demo.bin
12382:us
[addison output]$ ./load_module demo.bin
517:us
[addison output]$ ./load_module demo.bin
45806:us
[addison output]$ ./load_module demo.bin
358:us

why is the prection time is different in the same modul

[2021-12-04 10:10] trivialfis commented on #7496
Seed is only useful if you enable sampling duru training.

[2021-12-04 10:10] #7496 closed

[2021-12-04 10:13] trivialfis commented on #7497
That's likely caused by the operation system, thread scheduling, dynamic module loading, memory allocation etc.  They are not necessarily the same.

[2021-12-04 10:13] #7497 closed

[2021-12-04 10:15] trivialfis commented on #7493
If the difference is small (absolute difference is smaller than about 1e-5) then it's expected.

[2021-12-04 15:11] newmanwang commented on #5474
I am not really sure whether Booter.save_model() would produce exactly the same model file If bst.copy() is ommited when Booster.train() return. Would it be safe that Bootsr.train() simply return bst directly without copy If nothing happen between Bootster.train() and Bootser.save_model()? @trivialfis

[2021-12-04 22:40] KastanDay commented on #5869
I love linux, it's Windows that is killing me (always WSL problems when u try to get fancy, especially related to GPUs.)

I would recommend against getting a Windows machine.

[2021-12-05 01:07] Liumucan commented on #7496
Thank you very much!

[2021-12-08 17:03] martintreurnicht opened #7501 "XGBoost4j missing dylib for apple sillicon m1"
CPU: `Apple M1 Max`
RAM: `64GB`

`java -version`:
[code]

LIBRARY: `ml.dmlc:xgboost4j_2.12:1.5.1`

Getting the following error when trying to run our model tests.

[code]
Seems like the root cause at the bottom of the stacktrace is a missing dylib:

[code]

Is there a known fix for this?

[2021-12-08 17:45] hcho3 commented on #7501
Currently XGBoost4J does not support Apple Silicon.

[2021-12-08 19:08] martintreurnicht commented on #7501
Got it, can you provide some kind of timeline here?

[2021-12-08 19:49] hcho3 commented on #7501
@martintreurnicht We don't know yet. None of us (XGBoost developers) own an M1 machine, and currently I am not aware of any CI service that lets you test Apple Silicon.

[2021-12-08 22:12] augustkx opened #7502 "Assigning iteration and ntree_limit to the model before training"
Hi,
How can I set the XGBClassifier to stop after a certain number of iteration? I mean according to the iteration number I have got from previous training(with early stop), through clf.best_iteration.

And also how can I use clf.best_ntree_limit for training a new model?

Thanks in advance!

[2021-12-09 06:30] trivialfis commented on #7502
`n_estimator` parameter sounds like the right option.

[2021-12-09 06:30] #7502 closed

[2021-12-09 10:21] augustkx commented on #7502
Thanks for the quick reply. But how about the iteration?

[2021-12-10 15:50] trivialfis commented on #7502
[code]

[2021-12-10 15:58] augustkx commented on #7502
Ah, I see. Then I should ask what does clf.best_ntree_limit correspond to?

[2021-12-10 17:11] kevalshah90 opened #7504 "Jupyter kernel dies / Segmentation fault : 11, when upgrading xgboost to > v0.90 on MacOS M1 Chip"
I am training a xgboost model locally. My data is not large, few 1000 rows and 100 columns. I have successfully trained model using xgboost v0.90 on python v3.9. I need to upgrade xgboost to v > 1.0 as the older ones are being deprecated. I run `%pip install xgboost==1.1.0` within jupyter notebook and cmd terminal as well. Upon upgrading, when I attempt to fit the model, my `jupyter kernel dies`.

[2021-12-10 20:21] Craigacp commented on #7501
You can compile xgboost4j from source on an M1 machine and it works. I did this last year when they came out on my personal M1 MBP, but without build resources to make the binaries it's hard to deploy.

[2021-12-11 00:43] therneau opened #7505 "Time dependent survival"
I would like to see time-dependent covariates added for survival data.   I have many clinical research studies that could use this.

The key idea that makes this possible is that for a Cox model, the first derivative can be written as the matrix product mX, where m is the vector of martingale residuals and X is the n x p matrix of predictors.   Here n= number of observations in the data set and p

[2021-12-11 00:53] hcho3 commented on #7505
XGBoost actually uses second-order derivative. See https://dl.acm.org/doi/10.1145/2939672.2939785 https://arxiv.org/abs/2006.04920 for details.

[2021-12-11 00:58] hcho3 commented on #7505
Thanks for starting this discussion.

I have a question for you: Why is XGBoost best fit for this application? If XGBoost implements time-dependent survival analysis, how will it be better than your survival package?

[2021-12-11 02:28] replacementAI opened #7506 "Saved XGBoost model returning different predictions"
my current code:
`model = XGBRegressor(seed=X, alpha=X, colsample_bylevel=X, colsample_bynode=X, colsample_bytree=X, eta=X, gamma=X, reg_lambda=X, max_depth=X, min_child_weight=X, subsample=X, n_estimators=X)
`
`model.fit(X, y)`
`model.save_model('savedModel12-7')`
how I am loading the model with new information:
`model = XGBRegressor(seed=X, alpha=X, colsample_bylevel=X, colsample_bynode=X, colsa

[2021-12-11 11:59] therneau commented on #7505
I want to use boosting for the same reasons as not using a linear model: large number of factors, non-linearity, missing values, etc.  The xgboost code has the attraction of being an active community.  The other gbm projects in R appear to be mortibund.

 I'm going to have to have a longer look at gradient boosting (it's been a while since I re-read that chapter in Hastie et al), and think about w

[2021-12-11 14:46] trivialfis commented on #7504
Could you please try latest xgboost?  I suspect that's a memory usage issue since the parameters are tested.

[2021-12-11 15:02] trivialfis commented on #6654
@vidarsumo Could you please provide a reproducible example?  I'm trying to look into this.

[2021-12-11 15:19] trivialfis commented on #7502
It corresponds to the number of trees instead of the number of iterations.  It's trickier to use since you need to take the number of classes and the size of forest into consideration and is deprecated.  One extra benefit of using iteration is that it aligns with model slicing:

[code]

[2021-12-11 17:46] vidarsumo commented on #6654
[code]
Results in this error:
**Error: Problem occurred during prediction. Error in switch(object$params$objective, `binary:logitraw` = stats::binomial()$linkinv(res), : EXPR must be a length 1 vector**

Session info

[code]

[2021-12-11 17:58] kevalshah90 commented on #7504
Latest I can go is 1.3-1 as 1.5 is not yet supported by AWS SageMaker. I have tried to upgrade to 1.3-1 and I run into the same issue, dead kernel. The XGBoost 0.90 version will be deprecated on December 31, 2021 by AWS SageMaker.

https://docs.aws.amazon.com/sagemaker/latest/dg/xgboost.html

[2021-12-11 21:08] martintreurnicht commented on #7501
@Craigacp Ok awesome, thanks! Yeah I got it to build and works great. I now just need to combine this dylib with the existing  jar. This will unblock us for now

[2021-12-11 21:14] martintreurnicht commented on #7501
@hcho3 I see you guys use github actions, you can probably use something like https://www.macstadium.com/mac-mini. Setup self-hosted with mac stadium should do the trick

[2021-12-11 21:16] hcho3 commented on #7501
Thanks for the pointer. We'll revisit once we have enough bandwidth and funding (since we'd have to pay MacStadium)

[2021-12-11 22:19] trivialfis commented on #6654
@jaredlander I think it's in `parsnip`, it has this dispatching logic:

[code]

But the `object$params$objective` is `NULL` since you did not specify the objective function to use.  Quick workaround is to specify it (modified from your code):

[code]

A better solution would be modify the parsnip project (`modeltime` also uses a very similar function) to make a more robust dispatching like using `

[2021-12-11 22:19] trivialfis commented on #7489
Resolved.  Not an issue.

[2021-12-11 22:19] #7489 closed

[2021-12-11 23:21] augustkx commented on #7502
I see. Thank you!

[2021-12-11 23:24] martintreurnicht commented on #7501
Ok fully understand, is there no way to cross compile this on x86_64 macOS? I don't know too much about this but i would imagine it must be possible, you can build `aarch64` compatible binaries in XCode on a x86_64 mac after all

[2021-12-12 00:58] Craigacp commented on #7501
I think cross-compiling the JNI binding will be tricky. You'll probably need to have an ARM64 JVM as well as an x86 one to ensure you have the right libraries to link against.

[2021-12-12 00:59] augustkx commented on #7502
Thank you. Good point. But  when I used the sliced for prediction, the output is not binary anymore. I am doing a binary classification task. So I need to turn the results to binary with the 0.5 threshold?

[2021-12-12 08:38] galbraun commented on #7492
@trivialfis in which version? I still get AUC above 1.0 :
![image](https://user-images.githubusercontent.com/9768714/145705880-6d84c43f-7e16-4b24-9e2f-29f04401a9db.png)

[2021-12-12 11:51] vidarsumo commented on #6654
@trivialfis, this works perfectly :)

[2021-12-12 13:37] trivialfis commented on #7492
It's on the master branch, hasn't been released yet.

[2021-12-12 14:25] trivialfis commented on #7502
The result from slicing is a `Booster` object, the predict function is actually `predict_proba`, the `XGBClassifier` wraps the `Booster` object and turns the prediction into binary [0, 1] in `predict` function.

[2021-12-12 16:27] kevalshah90 commented on #7504
@trivialfis Is there a stable version > 0.90 and <=1.3-1 that I can use? AWS SageMaker doesn't support the latest version, unfortunately.

[2021-12-12 16:54] hcho3 commented on #7506
It might be a bug. Would you be able to share the set of hyperparameters and data (if possible) so that we can try to troubleshoot it?

[2021-12-12 18:54] replacementAI commented on #7506
sure but one question, am I supposed to refit the saved model when I load it, and then run the new X thru the predictor? Or am I supposed to just not fit the model, load the saved model, and run the new X thru the predictor?

[2021-12-12 19:08] hcho3 commented on #7506
You won't need to re-fit when loading the saved model.

[2021-12-12 19:29] #7506 closed

[2021-12-12 19:29] replacementAI commented on #7506
Thanks, thats what was causing the difference in prediction outputs.

[2021-12-13 04:51] trivialfis commented on #7494
I tried to fix this from xgboost, but seems to be quite non-trivial.  I fixed the training, but for prediction, there are some other errors.  For instance, having cudf.DataFrame output obtained by copying cupy array while keeping the input index:
[code]
or simply copy empty cupy array:
[code]

I will submit a fix for xgboost, but I think a better solution might be having some logic in dask to hand

[2021-12-13 13:50] MJimitater commented on #4982
Is this a valdi callback option for XGBoost in R?

[2021-12-13 15:35] trivialfis commented on #4982
Unfortunately not supported for R at the moment.

[2021-12-13 23:22] trivialfis commented on #7504
I took another look, your data is small oom shouldn't happen.  Could you please share a reproducible script I can try?

[2021-12-13 23:51] kevalshah90 commented on #7504
Yeah, it's not a memory issue. Data is of very small size. It works fine with v0.90 and whenever I upgrade to v >1.0, I run into issues. Here's some reproducible code. I am using mock data here, so not sure if the issue with be reproducible or if it is with the contents of data.

[code]

[2021-12-14 00:59] trivialfis commented on #7504
I can't run your script:

[code]

[2021-12-14 01:21] kevalshah90 commented on #7504
Try this. This works for me.

[code]

[2021-12-14 05:58] trivialfis commented on #7504
Did you reproduce the crash with this script?

[2021-12-14 06:05] kevalshah90 commented on #7504
yes, I did. I upgraded to v1.1.0.

<img width="920" alt="Screen Shot" src="https://user-images.githubusercontent.com/4792353/145942311-56e971cd-79e2-44df-abb7-eef4ffef0336.png">

[2021-12-14 06:09] trivialfis commented on #7504
That's weird.  I just ran 1.1:

[code]

[2021-12-14 06:12] kevalshah90 commented on #7504
Yeah, strange. I haven't been able to fit on > v0.90

[2021-12-14 06:13] trivialfis commented on #7504
@hcho3 Is there any issue for macOS in old versions on top of your mind?

[2021-12-14 06:14] kevalshah90 commented on #7504
I am on MacOS Monterey v 12.0.1, Apple M1 2020 Chip

[2021-12-14 06:18] trivialfis commented on #7504
Ah, I think xgboost doesn't work on m1. https://github.com/dmlc/xgboost/issues/7501

[2021-12-14 06:33] kevalshah90 commented on #7504
v0.90 works though.

[2021-12-14 06:36] kevalshah90 commented on #7504
Any insight into what the issue is with version > 0.90? I guess what changed between the versions that makes it crash.

[2021-12-14 15:09] trivialfis commented on #7504
I'm not sure.  None of the maintainer has access to m1

[2021-12-15 04:38] trivialfis commented on #7490
Thanks for opening the issue.  That's interesting to know. ;-)

lib size is expected considering the debug symbols in the final object.  Perf on the other hand is strange, maybe register usage?  Anyway, you can try to run `strip libxgboost.so` to remove the debug symbols.  Other than that, I don't think there is much that can be done by the devs here ...

[2021-12-15 04:38] #7490 closed

[2021-12-16 20:05] trivialfis commented on #7494
Reopening as failed test on master: https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/master/1116/pipeline .

[2021-12-17 08:33] lh-user opened #7517 "akka.actor.ActorSystem"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2021-12-17 08:39] #7517 closed

[2021-12-17 08:40] hcho3 commented on #7517
Closing due to lack of content.

[2021-12-17 17:20] Stannislav opened #7518 "Segmentation Fault with PyTorch"
`xgboost` leads to a segmentation fault when `torch` is imported **before** `xgboost`. Tested on py37/macOS

# To reproduce
Prepare the environment
[code]
Versions:
[code]

Minimal script:
[code]
run
[code]

# Note
If `torch` is imported after `xgboost` then the segfault goes away. (Try swappign the imports in the script above.)

# System
* macOS Big Sur - Version `11.6.2`
* python `3.7.10`
* `sci

[2021-12-17 17:22] trivialfis commented on #7518
Is it related to https://github.com/dmlc/xgboost/issues/7039 ?

[2021-12-18 01:32] trivialfis commented on #2087
The initial support is merged in https://github.com/dmlc/xgboost/pull/7514 .  The feature is still quite primitive at the moment and is considered to be experimental.  Thank you to everyone who participated in the thread.

[2021-12-18 01:34] trivialfis commented on #7494
Fixed as part of https://github.com/dmlc/xgboost/pull/7514 .

[2021-12-18 01:34] #7494 closed

[2021-12-18 01:46] Craigacp commented on #7504
At a guess I'd say that 0.9 was compiled without x86 SIMD instructions (which aren't supported in Rosetta), and newer versions have been. So you're probably pulling in the x86 version, running that through Rosetta and then it crashes when it hits an unsupported SIMD instruction (either AVX, AVX2 or AVX-512). You may be able to recompile one of the other versions without SIMD instructions producing

[2021-12-18 02:11] trivialfis commented on #7504
Thank you for pointing that out.  To install the Python package from source one can simply run
[code]
Under the Python package directory.  Hopefully we will see support from github action and build the wheel from there.

[2021-12-19 18:28] kevalshah90 commented on #7504
@Craigacp @trivialfis Thanks.

I tried the following:

    brew install gcc
    brew install cmake

    git clone --recursive https://github.com/dmlc/xgboost
    cd xgboost/
    make -j4
    cd python-package
    python3 setup.py install

from the discussion here: https://discuss.xgboost.ai/t/xgboost-on-apple-m1/2004/9

It didn't work for me.

[2021-12-19 18:54] Craigacp commented on #7504
Did it fail during compilation, or at runtime? What kind of error did you get?

Are you running a native ARM version of Homebrew, or the x86 version via Rosetta?

[2021-12-20 00:06] kevalshah90 commented on #7504
It fails when I run the `.fit` method. I don't get an except, Jupyter Kernel dies in a second, everytime I attempt to run the statement. Here's a link to the screenshot:

https://github.com/dmlc/xgboost/issues/7504#issuecomment-993188654

I tried to search for Homebrew in mac system report, however, I am not seeing it in the list under `Software > Applications`.
Not sure if this help, but when I r

[2021-12-20 01:47] Craigacp commented on #7504
Assuming you installed it to the default locations then on ARM it's in `/opt/homebrew` and in x86 it's in `/usr/local/` - https://docs.brew.sh/Installation.

To get a more helpful error message try running the fit command from a regular python interpreter rather than a notebook. Though the notebook server process might have more information in its log.

[2021-12-20 04:20] kevalshah90 commented on #7504
It's in /usr/local/Homebrew, so x86 i suppose.

I ran it in a `.py`, and here's what I get:

[code]

[2021-12-20 09:19] Stannislav commented on #7518
Good point. I just downgraded to `libomp==11.1.0` as per #7039 and the error went away.

I guess `torch` does something with `libomp` as well? Not sure why the error goes away if `torch` is imported after `xgboost`.

[2021-12-20 19:02] therneau commented on #7505
A footnote:   I am consumed in the next couple weeks with two grants that need to get out the door.   One of them will use GBM heavily, which is making me dig in (again) to the nitty gritty details.    It turns out that the second derivative with repect to  the current prediction-for-subject-i will be a straightforward addition to my first derviative code.   It is the second derivative wrt the bet

[2021-12-20 23:56] trivialfis commented on #7518
I don't know, would be curious to take a look into libomp if the issue is on Linux ..

Closing as it's duplicated to https://github.com/dmlc/xgboost/issues/7039

[2021-12-20 23:56] #7518 closed

[2021-12-21 02:22] wbo4958 opened #7525 "Reduce the time cost for CI"
Take https://github.com/dmlc/xgboost/runs/4589165334?check_suite_focus=true as an example,

CI will build the xgboost library twice for Test XGBoost4j and Test XGBoost4j-Spark.

[2021-12-21 03:42] RunxingZhong opened #7527 "How to reduce Memory usage on GPU version xgboost?"
Hi,

I have a machine with 512G Memory and 320G GPU Memory. (320G = 8 * 40G)

when running on GPU version xgboost setting as
[code]

I test it on a random data, for example:
[code]
Monitoring the Memory and GPU Memory usage as follow:
[code]

As we can see, Memory usage is about 4 times of GPU Memory usage.

While my machine only got 512G Memory and 320G GPU Memory.
When I running on a larger data

[2021-12-21 03:54] trivialfis commented on #7527
Internally XGBoost stores the data in CSR, so a double of memory usage.  A sort is required for quantization, so a copy of the CSR (no inplace parallel sort algorithm available). ~4 times ...

If your data is loaded as GPU-based data structure like cupy, then you can use `DeviceQuantileDMatrix`, which bypasses CSR construction.  Since you are using distributed training on Python, I assume you will

[2021-12-21 04:23] trivialfis commented on #7525
Would be great if you can manage the cut the cost of Jenkins cost, GPU tests are quite expensive.

[2021-12-21 06:11] #7483 closed

[2021-12-22 00:41] #7488 closed

[2021-12-22 03:42] Craigacp commented on #7504
I have successfully compiled and installed XGBoost on an M1 in Python, using a M1 native version of homebrew & python 3.9 installed from that homebrew. It compiled with no trouble, though I did compile the native library first (by doing `mkdir build; cd build; cmake ..; make -j4` in the root of the XGBoost repo) before doing `python setup.py install` from the `python_package` directory. I did need

[2021-12-22 06:09] kevalshah90 commented on #7504
Thanks. @Craigacp

I replicated the steps, but it still didn't work for me. Maybe, I am missing something. Here's what I did exactly -

Installed the Apple M1 native `homebrew` version.

[code]

Install python 3.9 using brew

[code]

[code]

In xgboost directory,

[code]

Now, in my notebook:

[code]

Kernel dead.

[2021-12-22 15:24] Craigacp commented on #7504
If you pip install xgboost then it will pull in the public one which doesn't have the right binary. This suggests that you aren't running jupyter from the ARM64 native python virtual environment that you installed the native ARM64 xgboost into. Try using that venv to run jupyter.

Unfortunately the Python ML ecosystem is only starting to catch up to the idea that there are different CPU architectu

[2021-12-23 00:16] kevalshah90 commented on #7504
Thanks, that makes sense. I created a virtual environment and launched jupyter from there. Now, when I run my the notebook, it the `import xgboost as xgb` works fine. However running:

`model = xgb.XGBRegressor(objective = 'reg:squarederror')`

throws an error.

----> 2 model = xgb.XGBRegressor(objective = 'reg:squarederror')

AttributeError: module 'xgboost' has no attribute 'XGBRegressor'

[2021-12-23 01:51] Craigacp commented on #7504
`XGBRegressor` and `XGBClassifier` are the scikit-learn interfaces, which require scikit-learn to be installed in the environment. You can use the `train` interface and supply a DMatrix & parameters without scikit-learn.

[2021-12-23 02:02] kevalshah90 commented on #7504
got it. I am using a bunch of other interfaces from `scikit-learn`, so would be worthwhile to install it.

Do I install `scikit-learn` using `brew` in my `venv` ?

[2021-12-23 02:13] kevalshah90 commented on #7504
Looks like `scikit-learn` is already install in my virtual environment `venv`.

[code]

[2021-12-23 02:15] Craigacp commented on #7504
I don't have any experience with using conda, and it looks like scikit-learn still has some difficulties installing on M1 https://github.com/scikit-learn/scikit-learn/issues/19137.

[2021-12-23 03:08] vertexcite commented on #7480
@hcho3 Apologies for missing your reply until now.  I've created a pull request for the .rst doc.  Do you know how the image https://raw.githubusercontent.com/dmlc/web-data/master/xgboost/model/step_fit.png  was produced?

[2021-12-23 10:02] yannclaes opened #7534 "Training gets stuck and dumping model crashes"
Hello,

I am trying to train an XGBoostRegressor (using the sklearn wrappers) for a given problem, with a custom objective function. Training starts correctly as the log starts displaying information about the tree growing procedure. However, it gets stuck after a certain time (a certain number of rounds) and I am not able to figure out why.

To be clear here is an example of the log:

and it gets

[2021-12-23 17:02] candalfigomoro opened #7535 "[XGBoost4J-Spark] Random Forest mode"
Is it possible to use the Random Forest mode (https://xgboost.readthedocs.io/en/stable/tutorials/rf.html) in XGBoost4J-Spark?

[2021-12-24 00:18] trivialfis commented on #7534
Could you please share a reproducible example that I can run?

[2021-12-24 03:15] #7476 closed

[2021-12-24 13:52] yannclaes commented on #7534
I'm working on it! I've tried a very simple example with random tensors and only 10 estimators, which worked very well. I thus decided to move back to my working problem, and try with only 10 estimators, which also worked fine.

Then, I decided that it was time I moved back to the initial configuration (2 XGBRegressors with 100 estimators each), thinking that it would go fine. The first model fini

[2021-12-25 02:31] trivialfis commented on #7534
I tried to print the time in `norm_objective` using `time.time()`:

[code]

Could you please check your torch autograd script?  It seems the majority of the time is being spent in there.

[2021-12-25 04:49] trivialfis commented on #7534
Other than the efficiency of the obj function, one cannot pickle a local function:
[code]

[2021-12-26 17:10] yannclaes commented on #7534
Not sure what you mean about checking my torch autograd script? I'm just calling ```torch.autograd.grad()```, which you can find [here](https://pytorch.org/docs/stable/_modules/torch/autograd.html#grad). I understand it might be an efficiency problem (maybe there's a cleaner way to proceed for hessian computation), but I don't see why it would eventually get stuck there.

Thanks for the pickle tip

[2021-12-27 01:09] trivialfis commented on #7534
I don't know where did it get stuck, as you see I can proceed the training until the pickle error.  So I suspect that it's the custom objective running for too long so it looks like being stuck.  Would you great if you can verify that by timing it.

Use callable class, or simply save the state by yourself.  For the former, you can look up the `__call__` special method.  For the latter, you can use

[2021-12-27 08:36] yannclaes commented on #7534
Thanks a lot! I'll work on those and come back to you with the (hopefully) final answer.

[2021-12-28 09:03] trivialfis commented on #6015
Closing due to stalled.  Besides, I think we will try to reduce the number of dependencies in our tests.

[2021-12-28 09:03] #6015 closed

[2021-12-28 09:05] trivialfis commented on #7527
Closing. Right now the quantile dmatrix is the best way to reduce memory.

[2021-12-28 09:05] #7527 closed

[2021-12-29 15:06] trivialfis commented on #7480
Closed by https://github.com/dmlc/xgboost/pull/7532

[2021-12-29 15:06] #7480 closed

[2022-01-02 23:31] lukas-hager opened #7540 "`xgb.importance` fails"
I've been using `xgb.importance` for a model, but after some feature tweaking, the function failed. The model file is enclosed -- I believe that this code snippet should reproduce the error:

[code]

This code gives me the following error:

[code]
With the following traceback
[code]
Any guidance you can provide would be extremely helpful! Apologies if this is obvious user error.
[season_xgb_no_adv

[2022-01-03 01:18] alokehp commented on #5851
I just ran across a similar problem with my work. Has there been a way to integrate xgboost DaskDeviceQuantileDMatrix with external memory version? Any comment will be really appreciated.

[2022-01-05 02:44] trivialfis commented on #7540
Hi, which xgboost version are you using?

[2022-01-05 02:47] lukas-hager commented on #7540
Hello! I'm using 1.3.2.1

[2022-01-06 12:32] idiomer opened #7542 "Different train result between xgboost>=1.4.0 and xgboost<=1.3.3"
I had a py-script to train a xgboost model. When I run the script (without earlystop) with different xgboost version(0.90 and 1.5.1), the AUC results show obvious difference(+0.3% val_AUC).

Therefore, I tested the script on lots of xgboost version, including 0.90, 1.0.0, 1.2.0, 1.3.1, 1.3.2, 1.3.3, 1.4.0, 1.5.1.  It show that xgboost>=1.4.0 return exactly same results  and xgboost<=1.3.3 return a

[2022-01-06 12:50] trivialfis commented on #7542
We have these changes from time to time, mostly caused by floating-point differences.

[2022-01-06 13:08] idiomer commented on #7542
All the inputs and params are same. Before 1.4.0, the results are **exactly** the same. It doesn't seems like caused by floating-point differences.   So does xgboost>=1.4.0

[2022-01-06 14:08] trivialfis commented on #7542
We have rewritten the AUC from scratch in 1.4.0 https://github.com/dmlc/xgboost/pull/6747, which causes some differences.  The math is the same for binary classification, but the implementation differs from the old one.

[2022-01-06 14:11] trivialfis commented on #7542
There's also a small difference in the latest master branch where we changed the floating point in evaluation metrics from 32bit to 64bit.

[2022-01-07 02:20] Azureblade3808 opened #7543 "`max_depth=0` doesn't work since 1.5.0"
According to doc, `max_depth=0` means no limit on depth when `grow_policy` is `lossguide` and `tree_method` is `hist`.

See this sample code:
[code]

The trained model is expected to have one single tree, 4 leaves with depth of 2. The final assertion passes with 1.3.1 and 1.4.2, but fails with 1.5.0 and 1.5.1. When it fails, the single tree in the model has depth of 1.

[2022-01-07 02:22] rudra0713 opened #7544 "Submitting multiple dask.xgboost calls causes fewer worker utilization"
I have created a random classification dataset with 100,000 rows and 30 columns and I am training the distributed xgboost on this dataset. My system has 8 workers, therefore I created 8 partitions of my dataset. While running dask.xgboost only once on this dataset, each of the 8 workers get one part of the DaskDmatrix (total it has 8 parts). But when I submit multiple dask.xgboost calls, then the

[2022-01-07 03:01] idiomer commented on #7542
I had conformed that `We have rewritten the AUC from scratch in 1.4.0 #6747`.  The different models predicted exactly the same scores, and the AUC of xgboost<=1.3.3  are same with sklearn.

thanks for your help !

[2022-01-07 03:42] #7542 closed

[2022-01-07 03:50] trivialfis commented on #7544
Can you try to let dask decide the partitioning?  Dask usually has a more fine-grained partitioning scheme and can saturate all the workers.

[2022-01-07 07:32] rudra0713 commented on #7544
I tried with the default auto chunks of dask array. Runtime varied from 117 sec to 235 sec to  more than 5 minutes. From the dashboard, I have sometimes seen only 2 workers actually handling the dispatch_train call and in those cases, overall CPU utilization was very low.

Is there a way to make sure that dask uniformly partitions my data to each worker?

[2022-01-07 09:21] trivialfis commented on #7544
There are some ongoing efforts on `client.rebalance` like https://github.com/dask/distributed/issues/4906 and some other techniques like repartition that you have already been using.  Feel free to participate in the discussion in dask/distributed.

I will close this issue now since it's about dask data management instead of XGBoost.

[2022-01-07 09:21] #7544 closed

[2022-01-07 12:19] chan4899 commented on #5479
Any plans on making Delta adjustable? Turns out PseudoHuberLoss is very effective against outliers and I would like to tune delta further to get better results.

[2022-01-08 12:53] mitbal commented on #5869
I experienced this same error with my setup

python version 3.9.1
xgboost version 1.5.1
scikit-learn version 1.0.2
CUDA version 11.5
Nvidia Driver version 469.49

It is too bad because WSL2 can run pytorch using GPU. I would love to use both to develop model. Is there anything that I can do to help to debug this bug?

[2022-01-09 15:05] mariaangelesjs opened #7546 "Error when using client for DaskXGBClassifier"
Hi,
I've ran into a problem when I was trying to use XGBClassifier for dask within a Docker image:
Using:
[code]

[2022-01-09 16:22] trivialfis commented on #7546
Hi, could you please open an issue in https://github.com/dask/distributed and provide a reproducible example?  The error seems to be coming from dask.

[2022-01-09 20:05] trivialfis opened #7547 "[Roadmap] Phasing out the support for old binary format."
XGBoost has a custom binary model format that has been used since day 1.  Later in 1.0, we
introduced the JSON format as an alternative, which has a schema and has better
extensibility.  The JSON format has been used as a default format for memory snapshot
serialization (pickle, rds, etc) and has extra features including categorical data support,
extra data feature names, and features types.  Howe

[2022-01-09 20:05] trivialfis commented on #7547
@hcho3

[2022-01-09 20:10] hcho3 commented on #7547
the default_left is changed from boolean to integer.

How necessary is this? Was the default_left changed to improve performance?

[2022-01-09 20:43] trivialfis commented on #7547
Yes.  Most of the improvement comes from the typed array where we can omit the construction of `Json` struct.  But there's no typed array for boolean.

Actually, there is, but it's useless.  The representation of boolean is `T` and `F` characters, they are both type and value at the same time.  So if we were to have a typed boolean array, the whole array would be either true or false.

We can cont

[2022-01-10 07:30] trivialfis commented on #7535
Took a quick look, the `num_parallel_tree` parameter needs to be supported for the spark package.

[2022-01-10 08:30] hcho3 commented on #7543
Thanks for reporting the bug. #7551 should fix it.

[2022-01-10 09:16] Berenliu opened #7552 "Custom loss function and regularization"
If I define a custom objective by myself, do the regularization parameters like lambda or alpha still work?

[2022-01-10 09:53] #7552 closed

[2022-01-10 11:57] trivialfis commented on #7436
@krfricke Can we close this issue?

[2022-01-10 11:59] trivialfis commented on #5474
Copy is exact, no change happens during the copy.

[2022-01-10 13:15] #7244 closed

[2022-01-10 17:37] #7543 closed

[2022-01-10 17:51] trivialfis commented on #7540
I have reproduced it in 1.3 but I think it's fixed in 1.5.  Feel free to reopen if the problem persists on 1.5 for you.  Thanks for opening the issue.

[2022-01-10 17:51] #7540 closed

[2022-01-10 17:53] trivialfis commented on #7546
Thanks for opening an issue on distributed.  Will close this one now.

BTW, I think it's best if you can have a reproducible example that others can run on their own machines.  ;-)

[2022-01-10 17:53] #7546 closed

[2022-01-10 17:54] #7493 closed

[2022-01-10 17:55] trivialfis commented on #7437
Please try to remove the regularization term and try again.  Also in general tree models might be easier to tune.

[2022-01-10 17:55] #7437 closed

[2022-01-11 02:07] Litchilitchy opened #7555 "Did not find document about passsing label to matrix of XGBoost JVM Package"
I found the JVM package quick start example of creating data matrix at [official doc](https://xgboost.readthedocs.io/en/stable/jvm/java_intro.html)
[code]
However, the doc says the JVM package DMatrix usage is the same with Python package, in Python, there is a label parameter
[code]
But I could not find any in JVM package, how to set the label?

[2022-01-11 06:49] trivialfis commented on #7555
For java, it's more common to use setter/getter, see https://xgboost.readthedocs.io/en/stable/jvm/javadocs/index.html .

[2022-01-11 06:51] trivialfis commented on #7555
Also, there are some examples here: https://github.com/dmlc/xgboost/tree/master/jvm-packages/xgboost4j-example , which might help.  Feel free to open PRs for more documents and examples. ;-)

[2022-01-11 06:51] #7555 closed

[2022-01-11 21:24] krfricke commented on #7436
Yes, sorry for the delay!

[2022-01-11 21:24] #7436 closed

[2022-01-12 08:09] newmanwang commented on #5474
Thanks for the reply, really appreciate it. Looking forward for the upcoming release!

[2022-01-12 20:58] mshergad commented on #5841
I am getting this error when I try to make predictions using version 1.5.1 when the original model was created on 0.9. I have followed the steps to use save_model such that I can load the binary format in a newer version. Is there something I am missing?

XGBoostError: [12:48:23] /Users/runner/work/xgboost/xgboost/src/learner.cc:1257: Check failed: learner_model_param_.num_feature >= p_fmat->Info(

[2022-01-13 04:24] trivialfis commented on #5841
@mshergad Your data must have all the features that the model has.  The original issue here is having more features in data than the model, which was clarified and tested after this issue.  But having fewer features in data than the model is invalid.

[2022-01-13 04:25] trivialfis commented on #5841
Ideally one should match the datasets for test and train in the ETL process.

[2022-01-13 04:44] mshergad commented on #5841
Thank you so much for the quick reply. My data has a total of 122 columns where 120 are features that the model is trained on and additionally two columns that have the target and the target_probability.

When I pass the entire dataset it throws this error that I showed. If I understand correctly learner_model_param_.num_feature is 120 and p_fmat->Info().num_col_  is 122. The dataframe has 122 col

[2022-01-13 04:45] mshergad commented on #5841
![Screen Shot 2022-01-12 at 8 45 24 PM](https://user-images.githubusercontent.com/93558515/149267389-69f7b261-d3fe-495f-8b16-8f77cef07862.png)
Here's the error when the drop the two columns it is not trained on.

[2022-01-13 04:49] trivialfis commented on #5841
@mshergad Could you please share your code and data (maybe synthesized) so that I can take a closer look?

[2022-01-13 04:53] mshergad commented on #5841
Sounds good. I will have to seek permissions. I will synthesize and share this soon. Thanks again!

[2022-01-13 11:09] trivialfis opened #7557 "1.5.2 Patch Release."
This will be a bug fix release after 1.5.1. Please comment if you think there are commits that should be backported.
@dmlc/xgboost-committer

- [x] https://github.com/dmlc/xgboost/pull/7524
- [x] https://github.com/dmlc/xgboost/pull/7538
- [x] https://github.com/dmlc/xgboost/pull/7541
- [x] https://github.com/dmlc/xgboost/pull/7508
- [x] https://github.com/dmlc/xgboost/pull/7554
- [x] https://gith

[2022-01-13 13:53] #7460 closed

[2022-01-13 14:07] trivialfis commented on #5018
Sorry for the delay.

Note to myself: Need to store the feature names into booster after UBJSON is merged.  This line sets the feature names for booster: https://github.com/dmlc/xgboost/blob/e94b76631035cd8b3a5cdd0c883225f069e74686/R-package/R/xgb.train.R#L380

[2022-01-13 15:10] marboe123 commented on #7460
Thank you trivialfis.

I currently use xgboost with GPU support (r_gpu_win64) from this link:

https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/list.html

Will this fix also be included in the next r_gpu_win64?

[2022-01-13 15:34] trivialfis commented on #7460
Yes, I'm preparing a patch release.

[2022-01-14 06:38] trivialfis commented on #7103
Hi @cookielee77 any update?

[2022-01-14 06:39] trivialfis commented on #7295
Feel free to open a new issue if you have a reproducible example.

[2022-01-14 06:39] #7295 closed

[2022-01-14 12:03] giorizzi commented on #2087
I am trying to use a custom objective with the multiple output regressor.
Could you comment about the input and output shapes the custom objective?
The following seems to work in `demo/guide-python/multioutput_regression.py`:
[code]
therefore, `y_true.shape=(200,)` , `y_pred.shape=(100, 2)` and `grad.flatten().shape=(200,)`
Is that correct?

[2022-01-14 14:41] trivialfis commented on #2087
Let me add the parameter in pseudo huber instead.

[2022-01-14 18:05] cookielee77 commented on #7103
Hi, sorry for the delay on this. We are upgrading the whole python environment. Once we did this, I will test this right away, hopefully get back to you in two weeks.

Thanks again!

[2022-01-15 18:07] #7314 closed

[2022-01-16 10:59] trivialfis commented on #6631
Closing as PySpark is not supported at the moment.

[2022-01-16 10:59] #6631 closed

[2022-01-16 11:06] trivialfis commented on #5851
`DaskDeviceQuantileDMatrix` is sort of like external memory in a way that it iterates over all partitions in a worker, which avoids a concatenation and a CSR matrix.  It saves memory but there's an upper bound.  Full implementation of external memory for GPU is unlikely since copying data from external memory to host memory to device memory is just too expensive (at least 100x more than actual com

[2022-01-16 11:06] #5851 closed

[2022-01-16 11:10] trivialfis commented on #7504
Thank you for the discussion.  I will close this one as it duplicates https://github.com/dmlc/xgboost/issues/6408 .  Maybe we can build the wheel using https://aws.amazon.com/about-aws/whats-new/2021/12/amazon-ec2-m1-mac-instances-macos/ @hcho3  Let's move the conversation to #6408 . ;-)

[2022-01-16 11:10] #7504 closed

[2022-01-16 11:11] trivialfis commented on #7501
Closing as duplicated to https://github.com/dmlc/xgboost/issues/6408

[2022-01-16 11:11] #7501 closed

[2022-01-16 11:12] trivialfis commented on #6408
Maybe we can try https://aws.amazon.com/about-aws/whats-new/2021/12/amazon-ec2-m1-mac-instances-macos/ ?

XGBoost built from source can work on m1 I believe, at least it's passing tests on cran and rhub.

[2022-01-16 11:14] trivialfis commented on #7351
Ran into this recently for https://github.com/dmlc/xgboost/pull/7571 .  I worked around it in the tests, but we should properly support it in the load function as suggested by @DavorJ .  Will work on it, but might bring a breaking change due to different return types.

[2022-01-16 11:15] trivialfis commented on #7250
I can't reproduce the issue, it would be great if someone can test the nightly build.  Feel free to ping me if you need any help. ;-)

[2022-01-16 11:29] trivialfis commented on #7557
# Rhub

[code]

[2022-01-16 18:15] hcho3 commented on #6408
@trivialfis AWS requires minimum 24 hour allocation for Mac instances. So each time we launch this machine, we'd be charged for 24hour period. I'm afraid we can't afford this with our current budget.

[2022-01-17 16:30] trivialfis commented on #7557
I have uploaded the Python packages.

Friendly ping. ;-)
@hetong007 Could you please help with the R package?  I ran cran tests on rhub.  But win builder hasn't responded to me yet for some reason.

@hcho3 Could you please help with maven packages?

[2022-01-18 16:46] #6744 closed

[2022-01-18 17:36] trivialfis commented on #6503
Status update:

Here are the few big items remaining for feature completeness:
- GPU evaluation function rewrite to have better performance.
- Add partition-based cat split for the rewritten evaluation function.
- Extract the partitioner from hist and implement categorical data support in it.
- Add categorical feature specific regularization parameters.

[2022-01-19 03:33] wbo4958 opened #7578 "[FEA] Make XGBoost4j-Spark to support PySpark"
For now, Both XGBoost4j-Spark and XGBoost4j-Spark-GPU don't support XGBoost run on PySpark env, which may cause users hard to use XGBoost4j since they may know nothing about scala language.

There were two PRs about how to make XGBoost support PySpark. https://github.com/dmlc/xgboost/pull/4656, and https://github.com/dmlc/xgboost/pull/5658/.  I personally prefer the #4656 which composes the XGBoos

[2022-01-19 05:15] trivialfis commented on #7557
Thank you!

[2022-01-19 14:00] Liam0205 opened #7580 "Question on the second-order gradient of hinge-loss."
https://github.com/dmlc/xgboost/blob/5b1161bb64424ee4fc240255dbdaf547bb05975e/src/objective/hinge.cu#L61

seems to be 0 for `h`, considering that `l = max(0, 1 - y\cdot\hat y)`.

[2022-01-20 03:24] zychen423 commented on #7039
@trivialfis

Maintainers of libomp have notice this [issue](https://github.com/llvm/llvm-project/issues/49923#issuecomment-1016762222), but they cannot reproduce the crash with my provided information. I am thinking that maybe you can take a look at this thread and provide more useful information (than mine😢)

Thank you

[2022-01-20 04:58] trivialfis commented on #7039
My apologies, I don't have a mac device and cannot provide any further information.  If anyone is watching this thread please help with the libomp maintainers.

[2022-01-20 06:14] hcho3 commented on #7557
@trivialfis Done.

[2022-01-20 08:28] jiho opened #7583 "Number of threads used by predict.xgb.Booster (in R) cannot be specified and depends on previous runs"
In my environment (reduced to the `xgboost` relevant packages):

[code]

I see no way of setting `nthread` for `predict()`. I was seeing weird changes in timing of prediction and investigated with the following minimal example:

[code]

Then run each section below in a **new R session** to make sure the run is not influenced by past state. This is important.

## Train a single model

### Train sin

[2022-01-20 08:55] trivialfis commented on #7583
Hi, thanks for opening an issue with such details, we really appreciate issues like this. ;-)

Could you please try:
[code]
and run the prediction again? Also, when persisting a model, please use:
[code]
This function saves the model only while all the other parameters are discarded. Besides, the format is stable. See https://xgboost.readthedocs.io/en/stable/tutorials/saving_model.html for details

[2022-01-20 10:16] gcaria opened #7584 "`xgboost.(dask.)XGBRegressor` and `dask_ml.model_selection.HyperbandSearchCV`: AttributeError: '(Dask)XGBRegressor' object has no attribute 'partial_fit'"
This might be a known issue (see https://github.com/dask/dask-ml/issues/667),
I am happy to contribute with a MRE if this is not the case.

When trying to combine the two classes in the title, I get the following trace:
(likewise for `DaskXGBRegressor`)

[code]

[2022-01-20 10:24] trivialfis commented on #7584
XGBoost doesn't support partital_fit, is it required for hyperband?  I did a quick search and read the introduction of the paper:
[code]
It seems partial_fit is not necessary?

[2022-01-20 10:41] gcaria commented on #7584
That is a good question (citation seems incomplete by the way), but I guess the `dask_ml` folks only can answer to this question.

In general I am having a lot of troubles trying to run any hyperparameters search using xgboost(.dask) and a dask cluster, although from the issue I've linked (dask/dask-ml#667) it seems there are a lot of compatibilities issues.

[2022-01-20 17:54] outdoteth opened #7586 "MAPE metric gives NaN when estimating zero loss residuals on a value of zero"
I am getting this error:

```WARNING:root:NaN or Inf found in input tensor.```

along with no output on tensorboard for MAPE:

![screenshot_964](https://user-images.githubusercontent.com/37438950/150393970-89ceb8d2-2bc8-4578-9dd4-c61a5e00f781.png)

I suspect the issue is on this line: https://github.com/dmlc/xgboost/blob/master/src/metric/elementwise_metric.cu#L183

Because in this scenario:

[cod

[2022-01-20 18:29] trivialfis commented on #7586
Thanks for raising the issue.  It's not clear to me why do you need to check the residual?  We can avoid 0 division by checking only the label right?

Would you like to open a PR?

[2022-01-20 18:49] outdoteth commented on #7586
Hm, I think I'm wrong in even using MAPE when the value can be zero:

https://stackoverflow.com/questions/41571215/forecasr-accuracy-mape-and-zero-values

e.g. if the residual is 3 and the label is 0 then 3 / 0 == Infinity

Maybe it doesn't make sense to fix this

[2022-01-20 19:03] andy-brainome commented on #7039
I have a really simple test harness that reproduces the segmentation fault at
https://github.com/brainome/xgboost-macos-libomp-seg-fault/blob/main/main.py

[2022-01-21 06:57] trivialfis commented on #7586
Yeah, returning 0 doesn't make sense.  But sometimes we add a small constant to let it approach infinite instead of having 0 division.

[2022-01-21 10:08] jiho commented on #7583
Glad to help.

### Setting `nthread` through `xgb.parameters()` -> works

Setting `nthread` in the parameters works as expected
[code]
gives
[code]
but
[code]
So `nthread` is not changed there. I am looking in the wrong place?

### Serialising with `xgb.save()` -> resets parameters ... but

[code]
gives
[code]
which is the timing on all cores, and
[code]
but that is the timing on 5 cores, for both

[2022-01-21 10:19] SymbolAnkit opened #7587 "Weight parameter not used while using xgboost aft"
![MicrosoftTeams-image](https://user-images.githubusercontent.com/35793585/150510237-e1f6b39e-e557-4743-804b-f886e8965b2a.png)
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed t

[2022-01-21 11:28] trivialfis commented on #7583
Great!

No.  Personally I haven't used this attribute before.  The parameters are stored inside c++ code so I think the R list is out of sync after setting the parameters.  If you are familiar with designing R libraries feel free to suggest an alternative solution.  Right now for R package I usually use `xgb.config(booster)` to inspect the parameters, which is querying the c++ library so it's alwa

[2022-01-21 11:29] trivialfis commented on #7587
Hi, there's no "weight" parameter.  If you are referring to sample weights or feature weights,  please use the `DMatrix` or `fit` method depending on which interface you are using.

[2022-01-21 12:29] SymbolAnkit commented on #7587
Hi,
we have used IPCW estimator by giving extra weight to subjects which are not censored (this is per subject). we want to use this weight in the gradient and hessian as does by the xgboost, how ever when we are passing the same as matrix throgh xgboost aft we are getting the above warning message.
Kindly suggest, how we can incorporate

[2022-01-21 12:54] trivialfis commented on #7587
Could you please share your code?

[2022-01-21 12:57] trivialfis commented on #7587
That's usually done by:
[code]

The error message indicates that, the downstream library is doing some like:
[code]

[2022-01-22 00:35] jjwang01 commented on #6496
Hi, I was wondering if I could work on this as a first issue. Thanks!

[2022-01-22 08:22] trivialfis commented on #6496
@jjwang01 Please do. ;-)  ping me if you need any help

[2022-01-22 13:05] hetong007 commented on #7557
Thanks for managing this @trivialfis  !

The 'invalid URLs' issue can be fixed directly by using the new move-to address. The error in vignette build should be fine for the official CRAN check environment.

Since the maintainer has been changed, you could go ahead and directly submit it at https://cran.r-project.org/submit.html :D

[2022-01-22 13:42] trivialfis commented on #7557
@hetong007 The maintainer is only changed for testing, I did not include that into the repository here.

I'm happy to start maintaining the R package, however, R is not my day-to-day language, would be great to have you oversee the release process.

[2022-01-22 13:45] trivialfis commented on #6697
Closed by https://github.com/dmlc/xgboost/pull/7545 .

[2022-01-22 13:45] #6697 closed

[2022-01-22 13:46] trivialfis commented on #7158
Closed by https://github.com/dmlc/xgboost/pull/7545 .

[2022-01-22 13:46] #7158 closed

[2022-01-22 13:46] trivialfis commented on #4060
Close by https://github.com/dmlc/xgboost/pull/7545 . One can now directly export the model in UBJ by calling `save_raw`.

[2022-01-22 13:46] #4060 closed

[2022-01-23 05:24] jjwang01 commented on #6496
Is it alright if I split this into multiple PRs?

[2022-01-23 08:32] trivialfis commented on #6496
@jjwang01 As many as you need.  In fact, it's a good idea to have multiple PRs so we can communicate better around details.

[2022-01-23 11:51] trivialfis opened #7593 "pandas.Int64Index is deprecated"
[code]
[code]

[code]

[2022-01-24 03:30] trivialfis opened #7594 "dart tree weight is not considered in global feature score."

[2022-01-24 07:56] shizuchanw opened #7596 "import error (compatibility with the M1 chip?)"
I have import errors for `XGBoost`, and I checked this issue with `runipy`. The result looks like this:
<img width="585" alt="Screen Shot 2022-01-23 at 11 44 28 PM" src="https://user-images.githubusercontent.com/50822201/150743092-7d973627-7359-4410-b5d5-66be870d1f25.png">

However, I have `libomp` installed on my laptop. I reinstalled it and checked again, and there was still this import error.

[2022-01-24 08:00] shizuchanw commented on #7596
@JiaxiangBU

[2022-01-24 14:04] rsvnsharma opened #7597 "Grid Search while running XGBoost AFT in R"
While performing Grid Search for XGBoost-AFT model in R, getting the below error.
![image](https://user-images.githubusercontent.com/98156340/150796985-dc816b83-21b0-4db6-acc0-c3285eca3b8d.png)

The code used is as follows
[code]

[2022-01-24 16:17] demongolem-biz opened #7598 "fit fails without any sort of reason when training XGBRegressor"
Pretty simple usage as follows.  Execution fails during fit with out completing.

`
    c = 0.1
    clf = xgb.XGBRegressor(alpha=c, enable_categorical=False, verbosity=3)
    clf.fit(X_train, y_train)
`

Even with verbosity of 3, all I get is

[11:11:23] INFO: /localdisk/tools/tc/agent2/work/30ccf72606c6a49e/base/conda-bld/xgboost_1623788730212/work/plugin/updater_oneapi/predictor_oneapi.cc:32: de

[2022-01-24 17:03] trivialfis commented on #7598
@ShvetsKS Are you familiar with this build?

[2022-01-24 17:42] demongolem-biz commented on #7598
Well anyhow I did pip upgrade to 1.5.2 and I get what appears to be correct behavior.  I thought I had a more recent version of xgboost, but for whatever version I did have installed, not so good.

[2022-01-24 18:51] freddyaboulton commented on #7593
Thank you @trivialfis . Saw this on my CI pipeline tests as well.

[2022-01-24 19:00] ltken123 opened #7599 "ERROR XGBoostSpark: the job was aborted due to java.lang.ClassCastException: ml.dmlc.xgboost4j.scala.Booster cannot be cast to ml.dmlc.xgboost4j.scala.Booster"
Hi,

Trying to run XGBoost from Spark on Kubernetes but stuck with similar error as https://github.com/dmlc/xgboost/issues/5186 and https://github.com/dmlc/xgboost/issues/4218

spark.version = 3.1.2
spylon-kernel = 0.4.1
scala = 2.12.10
xgboost4j-spark = 1.5.2

`val xgbClassificationModel = xgbClassifier.fit(xgbInput)`
Output
`Tracker started, with env={DMLC_NUM_SERVER=0, DMLC_TRACKER_URI=10.220.2

[2022-01-24 19:05] trivialfis commented on #7599
@wbo4958 Could you please take a look when you are available?

[2022-01-24 19:06] trivialfis commented on #7598
Got it, thanks for sharing.

[2022-01-24 19:06] #7598 closed

[2022-01-24 19:07] #7587 closed

[2022-01-24 19:15] ltken123 commented on #7599
Test code for reference (based on Iris example) https://xgboost.readthedocs.io/en/stable/jvm/xgboost4j_spark_tutorial.html

`
%%init_spark
launcher.conf.set("spark.executor.instances", "1")
launcher.conf.set("spark.executor.memory", "10g")
launcher.conf.set("spark.driver.memory", "8g")
launcher.conf.set("spark.executor.cores", "4")
launcher.packages = ["ml.dmlc:xgboost4j-spark_2.12:1.5.2"]

import

[2022-01-24 21:59] HL-Liu opened #7600 "Incremental learning error?"
I am using 'update' with 'refresh' updater. I got the following warning message:
WARNING: ..\src\gbm\gbtree.cc:82: DANGER AHEAD: You have manually specified `updater` parameter. The `tree_method` parameter will be ignored. Incorrect sequence of updaters will produce undefined behavior. For common uses, we recommend using `tree_method` parameter instead.
[23:04:12] WARNING: ..\src\learner.cc:576:
P

[2022-01-25 04:37] wbo4958 commented on #7599
@ltken123 Does it repro in standalone mode?

[2022-01-25 07:15] jjwang01 commented on #6496
@trivialfis Is there some sort of local build script that I can use to test locally rather than after submitting a commit to PR?

[2022-01-25 09:13] wbo4958 commented on #7599
@ltken123 I'm curious why there is `py4j` error log in the exception, XGBoost has not supported the pyspark yet. Could you also check the log from the executor side. Or can you find a way repro in the local or standalone env, since I don't have k8s env.

[2022-01-25 15:38] ltken123 commented on #7599
Thanks for follow-up @wbo4958, I'm using spylon kernel which acts as a wrapper/interpreter for Scala code in a Python environment and under the hood it's using pyspark, could explain the issue.

Will try manually in spark-shell on the cluster from a pod, and look into standalone mode potentially

[2022-01-25 19:59] ltken123 commented on #7599
@wbo4958 confirmed working in spark-shell directly in K8s, will close this. Thanks

[2022-01-25 19:59] #7599 closed

[2022-01-26 06:45] razdoburdin opened #7605 "Dramatic XGBoost accuracy degradation on Iris dataset."
Hi,
I have measured the XGBoost accuracy on the Iris dataset and have found dramatic degradation while switching from branch release_1.5.1 to master.

I have built xgboost from sources according to the instructions for Linux.
You can find a minimal code for reproducing the problem below:

[code]

If the branch "release_1.5.1" is in use, the xgboost accuracy is >0.96, but for the master branch accu

[2022-01-26 09:01] trivialfis commented on #7605
Thank you for raising the issue.  Looking into it.  Interesting that if the objective is automatically configured then it works fine.

[2022-01-26 09:06] hcho3 commented on #7605
Just reproduced on my end too. The behavior of `clf.predict()` is different when `objective` is switched from `multi:softmax` to `multi:softprob`.

[2022-01-26 09:15] hcho3 commented on #7596
See https://github.com/dmlc/xgboost/issues/6408. We currently do not support Apple Silicon.

[2022-01-26 09:20] trivialfis commented on #7596
Closing as duplicated to https://github.com/dmlc/xgboost/issues/6408

[2022-01-26 09:20] #7596 closed

[2022-01-26 10:20] #7593 closed

[2022-01-26 11:36] trivialfis commented on #7600
Hi, this is a 2 part warning message.

If you have specifed the `updater`, then `tree_method` should not be specified.

There's no `silent` parameter is latest xgboost.

[2022-01-26 11:36] #7600 closed

[2022-01-26 11:37] trivialfis commented on #7586
Closing as this the issue is inherited from the definition of the metric.  Thank you for sharing the details!

[2022-01-26 11:37] #7586 closed

[2022-01-27 06:25] trivialfis commented on #7557
I will try to submit the package tomorrow.

[2022-01-27 07:01] hetong007 commented on #7557
Sorry I'm busy with ICML deadline this week and was absent in this thread. It would be great that you could try to submit the package! On the other hand, I can also take care of it this weekend (after the deadline).

[2022-01-27 20:27] david-cortes opened #7610 "(R) Cannot predict on CSR data"
In the R interface, it is not possible to use the predict function on sparse CSR data like in the other interfaces, which greatly reduces the usability of sparse data support as then any single-row prediction for sparse data would become `O(ncols)` rather than `O(nnz)` or `O(nnz*log(nnz))`.

The R interface uses `Matrix` for sparse matrix classes - the package matrix has classes `dgRMatrix` for CS

[2022-01-28 06:58] trivialfis commented on #7610
Hi thank you for the issue.  Would you like to open a PR for the feature?

[2022-01-28 08:09] #7583 closed

[2022-01-28 08:31] hcho3 commented on #7596
@shizuchanw You may have a better luck with using Conda to install XGBoost on Apple Silion:
[code]
which will install XGBoost built with `osx-arm64` architecture.

[2022-01-28 08:33] hcho3 commented on #6408
@RoyalTS You can install XGBoost with Apple Silicon binary using Conda:
[code]
which will install XGBoost built with `osx-arm64` architecture. See https://github.com/conda-forge/xgboost-feedstock/pull/79

[2022-01-28 08:34] trivialfis commented on #6408
@hcho3 Can we document this?

[2022-01-28 08:35] trivialfis commented on #6408
Also, we have jvm packages.

[2022-01-28 11:49] flyzy2005 opened #7613 "How to pass weights to a custom objective function when using random forest with Scikit-Learn-Like API"
Hello, I am trying to develop a custom objective function as below.

![image](https://user-images.githubusercontent.com/16304483/151540447-bf7a8bcf-1115-4926-b9d5-50de1a32cb0b.png)

I am using **xgboost.XGBRFRegressor**, so I created an objective function based on MSE and passed it to the _objective_ parameter.
[code]

As I can only get the values of `y_true `and `y_pred `in the custom objective f

[2022-01-28 12:54] trivialfis commented on #7613
It's correct.

1. Use the native interface instead, which passes a `DMatrix` object.
2. Use closure/callable instead of global variable.
[code]

[2022-01-28 13:16] flyzy2005 commented on #7613
Many thanks for your suggestion! I tried callable and it worked properly.

May I ask what did you mean of 'use the native interface'?  Did you mean I can create an objective function containing a `DMatrix` object to the `objective` parameter of  `xgboost.XGBRFRegressor` like this [tutorial](https://xgboost.readthedocs.io/en/latest/tutorials/custom_metric_obj.html)?

But I read this [article](https

[2022-01-28 13:28] trivialfis commented on #7613
Unfortunately, the RF regressor doesn't support custom objective.  Right now only gradient boosted ensemble supports it, `xgb.XGBRegressor` and `xgb.XGBClassifier`.

I saw that you have pasted a link to the "latest" doc instead of "stable".  The latest XGBoost has some improvements over the custom objective and evaluation function but hasn't been released yet.  The native interface is https://xgbo

[2022-01-28 13:33] flyzy2005 commented on #7613
Thanks a lot!

[2022-01-28 13:33] #7613 closed

[2022-01-28 14:02] Coesyn opened #7614 "M1 Pro only using 6 cores"
Using XGBoost on M1 is great and it uses all 8 cores, 4e cores and 4p cores. When I move over to the M1 Pro it only uses 6 cores, 2e cores and 4p cores. Therefore training is slower on the M1 Pro. Tried changing the n_jobs and it still only works on 6 cores.

I am using the same code on each machine. I have even tried different python versions and XGBoost versions (both 1.5.0 and 1.5.1. Using nati

[2022-01-28 14:35] marcphilipp commented on #6408
@trivialfis Where are those JVM packages? I couldn't find a `libxgboost4j.dylib` in any of the Conda packages.

[2022-01-28 14:41] hcho3 commented on #6408
Conda is for the Python package only.

[2022-01-28 14:58] marcphilipp commented on #6408
In that case I think this issue should be reopened.

[2022-01-28 16:23] david-cortes commented on #7610
Ok, will probably work on it later this week.

[2022-01-28 19:06] trivialfis commented on #7610
Thank you!  Looking forward to it.

[2022-01-28 19:34] ruthlee commented on #6352
Was wondering if you found a workaround for this? I'm working with the xgboost ranker now with floating point relevances and I'm pretty frustrated that I can't use nDCG in the loss.

[2022-01-28 19:35] ruthlee commented on #6352
Also @trivialfis any idea when the PR will be merged?

[2022-01-28 21:39] david-cortes opened #7616 "R interface could use inplace prediction"
The Python interface where possible uses `inplace_predict`, which is fater than creating a `DMatrix` object for making predictions. The R interface OTOH always uses `DMatrix`, which requires 2 redundant copies of the data. It should be possible to use functions such as `XGBoosterPredictFromDense` in the R interface too, avoiding an extra data copy, and wrapping them should be even simpler since R

[2022-01-29 16:54] #7610 closed

[2022-01-29 17:30] trivialfis commented on #7616
Do you think we should add a parameter for the predict function to use inplace prediction optionally?  The prediction using `DMatrix` can be cached as we can use its memory address as the cache key so it's not always slower than inplace prediction.

[2022-01-29 18:37] david-cortes commented on #7616
Bu whether it's cached or not, it first needs to produce a data copy when it casts the `double` R array to a `float` vector, and then when it copies that `float` vector to the DMatrix that's being created.

[2022-01-29 18:59] hcho3 commented on #7614
None of the XGBoost developers has an M1 machine.

Can you build and run the following C++ program on your M1 pro and see if it uses all 8 cores?

[code]

[2022-01-29 23:25] hcho3 commented on #7039
Hello everyone, I tested libomp 13.0.0 today and I was able to run the example script without any segfault.

I'll close this issue once I test libomp 13.0.0 in CI.

Ps. Some findings:
* The segfault happens for libomp 12.0.0 from Homebrew, but not for libomp 12.0.0 from Conda.
* libomp 12.0.0 from Conda applies a patch (https://reviews.llvm.org/D105308), whereas libomp 12.0.0 from Homebrew applies

[2022-01-29 23:38] hcho3 commented on #6767
Fixes in #6926

[2022-01-29 23:38] #6767 closed

[2022-01-29 23:39] #7017 closed

[2022-01-29 23:54] #7605 closed

[2022-01-30 01:22] hcho3 commented on #7039
Update: I ran into another segfault, this time using libomp 13.0.0. #7618 is hanging too.

It appears that two different versions of libomp are being loaded in, one from Conda (`llvm-openmp`), and another one from Homebrew.

Stack trace:
[code]

[2022-01-30 09:45] StatMixedML opened #7619 "Issues running multi-output regression model"
### Problem
Thanks for making the multi-output regression a feature in xgboost! When I try to run [the multi-output regression example](https://github.com/dmlc/xgboost/blob/master/demo/guide-python/multioutput_regression.py) as specified in your demo section, I get an error.

@trivialfis Any ideas why it is not working?

### Code
[code]

### Error
[code]

### Version
[code]

[2022-01-30 10:47] trivialfis commented on #7619
Hi, the feature is still on master branch and will be part of 1.6.0.  1.5.2 is a patch release for bug fixes.

[2022-01-30 10:47] trivialfis commented on #7619
You can try nightly build.

[2022-01-30 11:41] hcho3 commented on #7039
I'm inclined to adopt the fix from https://github.com/scikit-learn/scikit-learn/pull/22109. The idea is to bundle 11.1.0 version of libomp into the Python wheel. This solution is known to work in the presence of other packages (https://github.com/scikit-learn/scikit-learn/pull/21227#issuecomment-933001394), and it's battle-tested.

In the long term, we need a robust method to keep only one copy of

[2022-01-30 11:59] kmate opened #7620 "Support stage level resource configuration and scheduling for Spark + GPU"
Since Spark 3.1.1, it supports "SPIP: Support Stage level resource configuration and scheduling" ([SPARK-27495](https://issues.apache.org/jira/browse/SPARK-27495)). That feature makes it possible to run hybrid jobs having both ML and ETL-like stages with optimal resource usage on the executors, even when the nodes have a lot more CPUs than GPUs.

In practice it is very easy to add support for this

[2022-01-31 07:50] rsvnsharma commented on #7597
Hi, we are able to solve it...the approach was as follows...for Survival AFT...the way xgb.train accepts arguments is xgb.train(params,data,...) so we modified the way we pass the Grid Parameters to the model...the modified code is as under....hope it helps
################################
searchGridSubCol <- expand.grid(
  max_depth =c(6,7,8,9),
  learning_rate = c(0.001,0.01,0.05,0.1,0.3,0.5,1),

[2022-01-31 07:50] #7597 closed

[2022-01-31 09:36] candalfigomoro commented on #7578
What about including it within the xgboost python package? Obviously it should gracefully fail when the xgboost4j-spark JAR is unavailable.

From the PR code:

`## EXCLUDED: trackerConf=None,`

Could you add a way to set the Scala tracker instead of the Python one?

In Java/Scala I set:

`xgbClassifier.set("trackerConf", new TrackerConf(0, "scala"));`

[2022-01-31 10:04] trivialfis commented on #7578
My personal preference is we can get a design doc first.  I spent the last 2 days learning about spark and was able to build a Python interface using the new arrow serialization format in pyspark (`df.mapInPandas`) along with support for normal rdd (much slower).  So there are 2 possible paths forward, we can build it on top of existing jvm package, or we can start with the Python package.  I help

[2022-01-31 10:19] candalfigomoro commented on #7578
While you can train python xgboost on a single node and perform a parellel inference with .mapInPandas (in pyspark >= 3.0) or a @pandas_udf (in pyspark >= 2.3), the problem is that the training step is not distributed.

[2022-01-31 10:27] trivialfis commented on #7578
Thank you for the reply, could you please be more specific why it can't be distributed?

[2022-01-31 10:50] candalfigomoro commented on #7578
.mapInPandas (or @pandas_udf) applies a function to a batch/group of Spark DataFrame rows. This can be easily used to parallelize inference of python xgboost. I don't have a deep understanding of xgboost inner working, but if you want to distribute training you have to design a distributed training stategy. This is what xgboost4j-spark apparently does (using Spark). I'm not saying you can't do tha

[2022-01-31 13:02] hadifar opened #7622 "scale_pos_weight not working for ranking objectives?"
I wonder to know, is it possible to use `scale_pos_weight` for ranking objectives such as: `rank:ndcg` or `rank:pairwise`?

[code]

[2022-01-31 22:15] trivialfis commented on #7622
Hi, LTR doesn't have this parameter.

[2022-01-31 22:15] #7622 closed

[2022-01-31 22:17] trivialfis commented on #7619
I checked the latest and the output is correct.  Closing now.  Feel free to open new issues if there's any further questions.

[2022-01-31 22:17] #7619 closed

[2022-01-31 22:21] trivialfis commented on #7616
Would you like to work on the interface?  :-). The R package can use a lot of help.

[2022-01-31 22:31] trivialfis commented on #7578
Indeed.  I don't want to reinvent the wheel either.  On the other hand I have concerns over the complexity and the lack of flexibility of building on top of JVM package.  Thinking about building and distributing the package, debugging any issue, model compatibility between languages and lastly the difficulty of adding new features.

As for the internal working of xgboost, I think the spark package

[2022-02-01 07:50] thesuperzapper commented on #7578
@trivialfis @wbo4958 Hey everyone, I do find it funny that people are still using my code from PR https://github.com/dmlc/xgboost/pull/4656 after all these years!

The tracking issue from 2018 (https://github.com/dmlc/xgboost/issues/3370), still has the remaining steps to finalize PySpark support:
1. __Develop PySpark wrapper code__
   - PR https://github.com/dmlc/xgboost/pull/4656 pretty much has

[2022-02-01 07:55] thesuperzapper commented on #3370
@trivialfis @wbo4958 I have updated the TODO's based on my comment in https://github.com/dmlc/xgboost/issues/7578#issuecomment-1026560339

[2022-02-01 08:04] thesuperzapper commented on #7578
@trivialfis funnily enough the whole of core `pyspark.ml` is just a wrapper around the Java Spark API using Py4J.
So if anything, a wrapper is the expected way to build an ML library for PySpark.

For reference, here are some of the `pyspark.ml` packages:
- https://github.com/apache/spark/blob/master/python/pyspark/ml/classification.py
- https://github.com/apache/spark/blob/master/python/pyspark/m

[2022-02-01 15:07] candalfigomoro commented on #7578
The main advantage of starting from python xgboost instead of the JVM package is that the JVM version is always lagging behind the python version in terms of features.

[2022-02-01 15:54] david-cortes commented on #7616
I'll pass on this specific feature.

[2022-02-01 18:00] Coesyn commented on #7614
Apologies for the delay. When looking at the CPU history, there is a spike on all CPU cores.

[2022-02-02 05:28] jjwang01 commented on #6496
Hi, just wanted to follow up on this comment.

[2022-02-02 08:11] trivialfis commented on #6496
Hi, sorry for missing the message.

1. Install mypy in your python envorinment.
2. `cd python-package` in xgboost source directory.
3. Run `mypy .`

[2022-02-02 09:11] Coesyn commented on #7614
Done some more testing, and it seems that the algorithm speeds up when going from `nthread` 1 to 4, then it slows down again when increasing from 5 upwards. When using -1 for default it also goes really slow. Is this a limitation of the algorithm, or should `nthread` be used optimised for the specific code running?

[2022-02-02 09:32] hcho3 commented on #7614
I am not familiar with M1 Pro, so can't say much. On Intel chips, you tend to get a linear speed-up until `nthread` reached the number of physical cores.

[2022-02-02 09:32] trivialfis commented on #7614
That depends on a few things.

- Are you using xgboost inside a hyper-parameter tunning framework?  If so is that framework running in parallel for multiple models?  That might create thread contention.

- The hardware.  But the efficiency of parallelism is highly dependent on the hardware, including memory bandwidth and the CPU itself.  For some benchmarks on x86 (Intel CPU from GCP), XGBoost can

[2022-02-02 09:40] thesuperzapper commented on #7578
@candalfigomoro implementing a Spark package in Java/Scala is MUCH easier than Python, and since we can get Python effectively for free with Py4J (and wrapping the Java API), going through all that effort would be for nothing.

[2022-02-02 09:53] Coesyn commented on #7614
Thanks for the reply. I have just tried on a ryzen processor and experiencing similar performance. It must be down to the way in which I am implementing the code.

I'm new to python and so will look at what I can do to improve things. Thanks for the help I am happy to close this off as it doesn't seem mac specific.

[2022-02-02 09:53] #7614 closed

[2022-02-02 16:24] hadifar opened #7625 "Calculate recall (eval_metric) for xgboost"
It would be nice to have `recall@k` as an evaluation metric. Currently,  we can only use `ndcg`,  `map` and `auc` for evaluating learning2rank problems.

[2022-02-03 01:35] #7039 closed

[2022-02-03 08:21] Fpooyan opened #7627 "Uncertainty estimation for Classification task"
Hi there,
Thanks for providing such a great repo!
@trivialfis
I am using XGBoost for a binary classification task, and I need an approach to calculate uncertainty estimations.
I saw an issue about uncertainty estimation for regression, and I was wondering if there would be any idea for calculating that for a classification task as well.

Any help is highly appreciated!

[2022-02-03 19:15] deadsoul44 opened #7630 "eval_qid's length does not equal `eval_set`'s length"
There can be something wrong with qid validation

[code]

Probably, it is comparing len(qid) to len(eval_set).

[2022-02-03 23:21] trivialfis commented on #7630
According to the document

            A list in which ``eval_qid[i]`` is the array containing query ID of ``i``-th pair in **eval_set**.

One should pass a list of ndarrays instead of passing a single array.

[2022-02-03 23:21] #7630 closed

[2022-02-04 01:14] hcho3 commented on #6408
Hello everyone, we plan to publish a PyPI package that's compatible with Apple Silicon (M1). If you have an Apple Silicon device, can you help us out by trying it out today?

Install the nightly by running

pip install https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/master/xgboost-1.6.0.dev0%2B34a238ca98d98b090c441d494ae7338276742b64-py3-none-macosx_12_0_arm64.whl

[2022-02-04 10:25] candalfigomoro commented on #7578
@thesuperzapper
Sure, but what would be the effort to implement in the JVM package all the features that it lacks compared to python xgboost?

[2022-02-04 10:58] thesuperzapper commented on #7578
@candalfigomoro that question seems disconnected. Running the `Python XGBoost` library in a Spark worker is not the same as running __distributed__ XGBoost across a Spark cluster (which is what the `XGBoost4J-Spark` library does).

[2022-02-04 11:53] zahs123 opened #7631 "Unable to reproduce results from training with xgboost"
Hi,

I have the following steps below to train an xgboost classifier.
[code]

Each time i run the above, i get a different set of bestparams after grid search and slightly different accuracies, and predictions..... How is this happening when i use random_state for each of below:

1. split the data
2. in my cross validation function
3. in my xgbclassifier model
for SelectKBest i also use 'all' feat

[2022-02-04 15:03] trivialfis commented on #7631
Are you sure that it's xgboost not being deterministic?  From the snippet you have used a mix of libraries.

Could you please provide a reproducible example that we can run?

XGBoost has the `seed` parameter that's used across many interfaces including Python, R, Java and Scala.  The sklearn interface accepts **kwargs, which is passed down to xgboost.

[2022-02-04 15:38] trivialfis commented on #7578
Thank you for the discussion!  To me, at this early stage, I think a better question to ask is what users want from a PySpark XGBoost integration.  For example, why do you want to use PySpark instead of the Scala version?  And how can the PySpark-XGBoost interface be part of the workflow you fell in love with.  How to implement the interface is a different question.  Hence I argue that a design do

[2022-02-04 16:44] zahs123 commented on #7631
What is the seed used for though ? I have set both seed and random_state but am wondering what difference is

[2022-02-04 16:55] trivialfis commented on #7631
`random_state` can be either a `int` or a `np.random.RandomState` https://github.com/dmlc/xgboost/blob/34a238ca98d98b090c441d494ae7338276742b64/python-package/xgboost/sklearn.py#L610

`seed` must be a `int`.  Inside XGBoost (c++ libxgboost.so) they are exactly the same.

[2022-02-04 16:57] trivialfis commented on #7631
Since you are not using any sampling, it's not relevant to the non-deterministic issue here.

[2022-02-04 18:51] trivialfis commented on #7631
Would be great if you can try our nighly build: https://xgboost.readthedocs.io/en/stable/install.html#id1 we avoided some non-deterministic behaviour in evaluation caused by floating-point summation: https://github.com/dmlc/xgboost/pull/7303

[2022-02-05 01:14] Craigacp commented on #6408
I could train a simple model on some randomly generated data, using Python 3.9.9 on macOS 12.2 running on a 13" M1 MBP.

[2022-02-05 06:14] hcho3 commented on #6408
@Craigacp Thanks for trying it out!

[2022-02-05 08:10] musram commented on #4849
I am facing the same above issue for objective "count:poisson" but works fine for the objective function.  I am using data bricks environment, importing xgboost as import ml.dmlc.xgboost4j.scala.spark.{XGBoostRegressor}.

can anybody help?

java.lang.NumberFormatException: For input string: "inf"
	at sun.misc.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:2043)
	at sun.misc.FloatingDeci

[2022-02-05 08:15] musram opened #7632 "When objective is objective "count:poisson", getting error "java.lang.NumberFormatException: For input string: "inf""
I am facing the issue for objective "count:poisson" but works fine for the objective function. I am using data bricks environment, importing xgboost as import ml.dmlc.xgboost4j.scala.spark.{XGBoostRegressor}.  This issue looks the same as https://github.com/dmlc/xgboost/issues/4849

My environment is databricks with scala 2.12 and spark 3.2.1

can anybody help?

java.lang.NumberFormatException: Fo

[2022-02-05 23:07] hcho3 commented on #6408
Update: I ran the full suite of Python tests on a Macbook Pro (16 inch, 2021) and all passed. We should be able to upload osx_arm64 wheel on Pip.

[2022-02-05 23:17] wbo4958 commented on #7578
sorry for the late response. I just was on vacation.

@trivialfis, I didn't test PySpark on XGBoost-Python package, and I guess it can work well for the CPU pipeline. But for the GPU pipeline, it may not fully leverage the parallelity of Spark to accelerate the whole pipeline.

eg, I'd like to train the XGBoost model using PySpark on XGBoost-python on the Spark cluster (48 CPU cores, 4 GPU, 4 Work

[2022-02-06 08:43] trivialfis commented on #7578
@wbo4958 Hey, I'm not against using the JVM package, please see https://github.com/dmlc/xgboost/issues/7578#issuecomment-1030101872 .

[2022-02-07 08:47] zahs123 commented on #7631
Hi thanks for this - i realised the problem isn't with xgboost but how my data is being read randomly
will close this

[2022-02-07 08:47] #7631 closed

[2022-02-07 22:19] HL-Liu opened #7635 "Bug? Incremental training: new model contains both updated trees and trees of input model"
Using trees_to_dataframe(), I saw the new model contains 20 trees while the input model "xgb_Model_laststage" contains 10 trees. The updated trees are numbered from 10 to 20 and the trees from 0-10 are exactly the same as those of "xgb_Model_laststage".

My code is below:
  xgb_Params_final = xgb_Params.copy()
  xgb_Params_final['process_type'] = 'update'
  xgb_Params_final['updater'] = 'refresh'

[2022-02-08 01:37] wbo4958 commented on #7578
Hi @trivialfis,

As you mentioned in https://github.com/dmlc/xgboost/issues/7578#issuecomment-1025564575, you have successfully tried to run the XGBoost Python package in PySpark env. It looks good for now that we don't need to do anything to support XGBoost-Python package in PySpark, that's cool, right?

So, here again, the FEA request, we can think it is the extension of XGBoost-JVM, because it

[2022-02-08 19:28] PayamDiba opened #7637 "Error when using EarlyStopping callback during CV"
When I use early stopping callback in xgboost.cv (python) I get error, here is a snapshot of my script:

self.early_stopper_ = xgb.callback.EarlyStopping(rounds = 50, min_delta = 1e-2)
result = xgb.cv(
                params = params,
                dtrain = data_train,
                num_boost_round = self.max_round_,
                seed = seed,
                nfold = 3,
                metri

[2022-02-08 21:58] trivialfis commented on #7637
Could you please share your xgboost version?

[2022-02-08 22:04] trivialfis commented on #7635
The `refresh` updater must refresh all the trees, which is a limitation for now.

[2022-02-08 22:23] PayamDiba commented on #7637
I am using version 1.5.0

[2022-02-08 22:51] #7485 closed

[2022-02-08 22:52] hcho3 commented on #7485
No, the objective function covers all the trees. In the second line, we still have the regularization terms for all t trees; they are just hidden inside the "constant."

[2022-02-08 23:33] trivialfis commented on #7637
Could you please share a reproducible example?  I can't reproduce it.

[2022-02-09 00:16] cookielee77 commented on #7103
I just tested with 1.4.2 version, the previous issue doesn't exist. Thanks for the help!

[2022-02-09 00:16] #7103 closed

[2022-02-09 00:40] ayushdg opened #7639 "xgboost.dask.predict fails in the presence of empty partitions"
When using `xgb.dask.predict` on a dataset which as a few empty partitions fails with an error.

[code]

[2022-02-09 00:44] trivialfis commented on #7639
Hi, I can workaround it, but that seems to be another library having issue with empty input. ;-)

[2022-02-09 01:38] PayamDiba commented on #7637
I think I found the problem, I am calling xgboost.cv in a "for loop", it turns out that I have to re-define EarlyStopping callback at the beginning of each loop:

for param in all_params:
     early_stopper = xgb.callback.EarlyStopping(rounds = 50, min_delta = 1e-2) ## should be defined in each loop
     result = xgb.cv(
                        params = param,
                        dtrain = data

[2022-02-09 02:02] trivialfis commented on #7637
Good catch!  The callbacks are not copied in cv.

[2022-02-09 02:02] trivialfis commented on #7637
[code]

[2022-02-09 20:50] PayamDiba commented on #7637
I think deep copy is needed, i.e. copy.deepcopy(list(callbacks)), or I might be wrong?!

[2022-02-09 21:53] trivialfis commented on #7637
I'm not sure if we should run deepcopy, if your callback has states then changes to states will be lost after training.  For instance, I use callbacks to add extra logging or save a copy of the booster

[2022-02-09 22:09] PayamDiba commented on #7637
For some reason, shallow copy does not work for me when I am trying to use early stopping callback, but deep copy works:
[code]

[2022-02-09 23:40] oleksiyskononenko opened #7642 "Performance of converting datatable frames to DMatrix"
Dear developers, I'm now looking into a performance issue when converting datatable frames to XGBoost DMatrix. Here is a simple python script that I wrote to benchmark datatable->XGBoost vs numpy- XGBoost performance:

[code]

I can see that conversion of one-column numpy array takes somewhat less time than the conversion of a one-column datatable frame
[code]

when I keep the number of elements t

[2022-02-10 00:59] BenWilson2 opened #7643 "XGBoost4j-spark multiclass with objective "multi:softmax" returns incorrect prediction column value"
Testing the following script within Apache Spark with the XGBoost4j-spark version 1.5.1 generates an incorrect mapping on the prediction column to the dominant class member value from the rawPrediction generated column on a transform:

[code]

The output example for this is below:
![Screen Shot 2022-02-09 at 7 35 52 PM](https://user-images.githubusercontent.com/39283302/153316280-2222cb5d-eb32-467

[2022-02-10 12:04] trivialfis commented on #7642
I think it's a column-major data structure while DMatrix is row major.  We can speed up the conversion but memory usage would increase significantly.  While for numpy ndarray, since it's dense and can be arbitrarily indexed so we can handle both c layout can f layout efficiently.

[2022-02-10 20:12] trivialfis commented on #7642
I think np -> DMatrix is running in parallel, the effect might not be obvious since there's not much of work.  While for dt it's running single-threaded.  We used to do the transform in parallel, but the memory overhead is significant for large datasets and removed it. See https://github.com/dmlc/xgboost/issues/6552 I did some searching back then but couldn't find a satisfying solution: https://gi

[2022-02-10 20:46] oleksiyskononenko commented on #7642
Instead of fully disabling `nthread` for dt, can it be kept as an option defaulting to `1`?  Then, when the memory overhead is not an issue, one could profit from parallelization and have some reasonable conversion times in the case of large data.

[2022-02-11 23:17] oleksiyskononenko commented on #7642
Thanks, @trivialfis. What I still don't understand is why f-layout numpy arrays are handled faster than datatable, if they are both column-major. For instance, when instead of `XGB = xgb.DMatrix(DT)` I do

[code]

performance is improved by about factor of two.

[2022-02-11 23:18] musram commented on #7632
@trivialfis  could you pls give some hint to fix this issue?

[2022-02-12 07:10] joefavergel commented on #5727
Slightly modification of @hcho3 's script according to new callback style. Useful if you need call other new style callbacks.

[code]

<img width="1440" alt="Screen Shot 2022-02-12 at 2 04 48 AM" src="https://user-images.githubusercontent.com/36819755/153701128-60cd9e79-2313-483a-97a9-8c2288748f79.png">

[2022-02-12 10:28] lakeshkhatri commented on #7444
if you have python 3.7 version so you should install xgboost == 0.18. I have solved that problem through this method.

[2022-02-12 13:01] trivialfis commented on #7632
Let me take a closer look.

[2022-02-12 18:18] trivialfis opened #7651 "Avoid `std::terminate` in R package."
Found use of `std::terminate`: span, hist evaluator.

[2022-02-13 20:47] hcho3 commented on #6408
@Roh-codeur No, XGBoost does not use the GPU on Apple machines.

[2022-02-14 02:23] ICDI0906 commented on #7363
Thanks for your reply~But when I use the function predictLeaf, I found the size of the index array is different from n_estimator, Specifically, for binary classification, the size of the index array is equal to 2 * n_estimator, for multi-class classification, it is equal to classNum * n_estimator + 2,  do you know why? looking forward to your reply!

[2022-02-14 05:23] trivialfis commented on #7363
The strict shape of predict leaf output is actually 4 dim, but java/scala don't have a canonical n-dim array implementation like numpy on Python, as a result xgboost4j returns concatenated dimensions.

[2022-02-14 09:41] daschnerm opened #7653 "Cgroups awareness for XGBoost when using n_jobs=-1"
The performance of XGBoost can be significantly affected when running with default parameters in a container whose CPU is limited using cgroups.

Projects such as https://mybinder.org/ and other container-based projects, use cgroups to limit resource usage. This leads to a large performance impact, when default parameters (n_jobs=-1) are used: XGBoost reads the host CPU count using OpenMP, which l

[2022-02-14 11:35] #7639 closed

[2022-02-14 15:16] HL-Liu commented on #7635
Thanks for answering. I know this limitation. But the new model contains 2 times of trees (refreshed and original) and I guess, in prediction, they will be all used, as there is no parameter to tell from which tree to start (also not in line with the concept of "boosting"). This is for sure wrong but not only a limitation, right?

[2022-02-15 04:38] Jing25 opened #7656 "Why is XGBoost 'auc' score different from sklearn 'roc-auc-score'?"
Hi there,

I found that the xgboost 'auc' score is a different from the sklearn 'roc_auc_score'. Is this difference expected? Did I do something wrong or is there a bug? My XGBoost version is '1.4.2', sklearn version is '1.0.2'

<img width="705" alt="image" src="https://user-images.githubusercontent.com/27107288/153993322-d2a9c2ed-b32b-45ba-a529-4f16119e86d6.png">

Thank you!

[2022-02-15 06:10] trivialfis commented on #7656
Most of the time caused by floating-point errors.

[2022-02-15 06:42] trivialfis commented on #7044
Closing as this is a known issue in libgomp with fork.  Considering using spawn instead.

[2022-02-15 06:42] #7044 closed

[2022-02-15 06:48] trivialfis commented on #4877
Closing as this is a known issue with CUDA and the unix fork.  Considering using spawn or https://github.com/joblib/loky instead. in

[2022-02-15 06:48] #4877 closed

[2022-02-15 06:52] hetong007 opened #7657 "Using/Adding `feature_weights` in R"
I received a feature request via email from Prof. Tibshirani:

[code]

My questions are:
- If the R package indeed has this feature, how would one use it?
- If it doesn't have it yet, could we have it in R?

Thanks!

[2022-02-15 06:55] trivialfis commented on #7657
It's just a meta info like labels and weights.

[2022-02-15 07:10] tibshirani commented on #7657
That would be great!

[2022-02-15 07:12] tibshirani commented on #7657
I would just like to pass a vector of non-negative weights, of length the number of columns in the feature matrix.

[2022-02-15 07:20] deadsoul44 opened #7658 "Value type is not supported for data iterator:<class 'numpy.ndarray'>"
[code]

[code]

Dataframe is fed to DeviceQuantileDMatrix but I get this error. Any idea how to solve this? Is this a bug or an error from my side?

[2022-02-15 07:27] trivialfis commented on #7658
`DeviceQuantileDMatrix` is only used for GPU based data structures like `cudf.DataFrame` or `cupy.ndarray`.

[2022-02-15 07:27] #7658 closed

[2022-02-15 13:50] tibshirani commented on #7657
I have a new research project for which the feature_weights in xgboost are essential. Thank you for adding this to your
prioritize list. Is this something that is likely to happen relatiively soon? o/w is it simple enough that I  could ask a grad student who knows python (not me) to create a local version with feature_weights?

[2022-02-15 14:39] hetong007 commented on #7657
I think it is relatively easy to enable it by someone familiar with R. Basically one can add the below condition branch in this function: https://github.com/dmlc/xgboost/blob/master/R-package/R/xgb.DMatrix.R#L255

[code]

@trivialfis Please correct me if this is not true.

[2022-02-15 14:54] trivialfis commented on #7657
Looks right, I will work on it tonight.

[2022-02-15 14:55] tibshirani commented on #7657
Wonderful!  Thanks so much

rob

[2022-02-15 18:45] Jing25 commented on #7656
Got it. Thank you for your reply! I will close this then.

[2022-02-15 18:45] #7656 closed

[2022-02-15 18:51] oleksiyskononenko commented on #7642
@trivialfis I see, could you please point me to the code that does the transpose of data? I wonder why it needs significant amount memory in addition to the transposed matrix. It looks that the code that sets number of threads to one: https://github.com/dmlc/xgboost/pull/6774/files is not there anymore.

[2022-02-15 21:05] trivialfis commented on #7643
softmax is a bit problematic in general as it removes the probability by reducing it to the output label.  We can add a check to remove the probability column if softmax is used.

[2022-02-15 21:09] BenWilson2 commented on #7643
The main issue is that the softmax implementation seems to be capturing the wrong prediction label (in the case above it assigns all predictions as label==0 when the rawPrediction values in the screenshot show that class label "1" should have been in the prediction column.

[2022-02-15 21:12] trivialfis commented on #7643
Thank you for raising the issue.  @wbo4958 Could you please help take a look when you are available?

[2022-02-16 02:59] wbo4958 commented on #7643
Will check this issue.

[2022-02-16 04:21] FelixDuong opened #7663 "Xgboost4j-Spark 1.5.2 & 1.6 SNAPSHOT have not yet fixed json error in Spark 3.2.0"
I have tested with stable version 1.5.2 and SNAPSHOT 1.6 and found that json compatible error in SPARK 3.2.0 when training with Pipeline Model in Spark

`
XGB_Model_0: org.apache.spark.ml.PipelineModel = pipeline_1040eb7c9f37
java.lang.NoSuchMethodError: 'org.json4s.JsonDSL$JsonAssoc org.json4s.JsonDSL$.pair2Assoc(scala.Tuple2, scala.Function1)'
  at ml.dmlc.xgboost4j.scala.spark.params.DefaultXGB

[2022-02-16 10:54] trivialfis commented on #7642
@oleksiyskononenko

This is the starting point of a matrix being pushed into `DMatrix` https://github.com/dmlc/xgboost/blob/0149f81a5a0f599dc1dd339efe9d1fe04fcd5993/src/data/data.cc#L1068

This is the structure used to allocate working memory (and run out of memory): https://github.com/dmlc/xgboost/blob/0149f81a5a0f599dc1dd339efe9d1fe04fcd5993/src/data/data.cc#L1078  It's defined in here: https://

[2022-02-16 14:20] #7657 closed

[2022-02-16 17:16] trivialfis commented on #7653
Thank you for raising the issue, would you like to review https://github.com/dmlc/xgboost/pull/7654 ?

[2022-02-16 17:27] #7651 closed

[2022-02-17 17:26] Kodiologist opened #7669 "`xgb.plot.tree` stops with "Non-tree model detected""
Consider this R script:

[code]

The result is:

[code]

But if you set `nrounds` to `2`, it seems to work without complaint.

Possibly related: #2876, [a Stack Overflow question](https://stackoverflow.com/questions/42670033/r-getting-non-tree-model-detected-this-function-can-only-be-used-with-tree-mo).

[2022-02-17 18:19] zachwill commented on #6408
Thanks so much!

[2022-02-17 18:52] phunterlau commented on #6408
@zachwill nice work. Tested OK with a simple Iris dataset pipeline my macbook air M1 chip
<img width="924" alt="Screen Shot 2022-02-17 at 10 50 53 AM" src="https://user-images.githubusercontent.com/1690881/154550634-b3e07975-07a5-407e-9d64-0bc18ffaf1c0.png">

[2022-02-17 19:24] trivialfis commented on #7669
Thank you for raising the issue.  The parsing code for the tree dump doesn't work with a tree that has only the root node.  Will try to fix it.

[2022-02-17 19:47] Jwenyi opened #7671 "Error in modeling cox regression"
Hi,
I repeatedly received the following error during the training of XGBoost (`objective: survival:cox, eval_metric: cox-nloglik`). I am using xgboost 1.5.2 with python 3.8 at Win10, and I've noticed that others have encountered such issue #6885. This issue seems to be unresolved till now? I am new to using XGBoost, so I have absolutely no idea how to solve this problem. I would be highly grateful

[2022-02-18 00:44] oleksiyskononenko commented on #7642
Thanks @trivialfis

The paper seems to deal with transposition of sparse data, while datatable frames are not sparse. How is it applicable in this case?

[2022-02-18 03:09] trivialfis commented on #7642
The sparse page is a CSR matrix used internally as an uniform data structure for all xgboost components.  So the target of the transpose is sparse.  The input is also often sparse so we focus on the sparse transformation.

[2022-02-18 03:24] oleksiyskononenko commented on #7642
I see, so is it the reason you need `O(nthread*batch_size)` memory when going parallel? Because for a dense matrix I would imagine transposition would just require memory allocation and parallel writes to that memory from threads that all share the same source matrix. It should not need `O(nthread*batch_size)` of additional memory.

[2022-02-18 09:30] sofiavlachou28 commented on #7444
@lakeshkhatri Could not find a version that satisfies the requirement xgboost==0.18 (from versions: [)](https://pypi.org/project/xgboost/1.5.0/#history)

There isn't 0.18 version.

which other solves the error?

Thank you!

[2022-02-18 09:41] lakeshkhatri commented on #7444
You should try to install xgboost ==0.80

On Fri, Feb 18, 2022, 2:30 PM Sofia Vlachou ***@***.***>
wrote:

[2022-02-18 10:06] sofiavlachou28 commented on #7444
I have also changed my data and now I have 6 columns

["label","id","comments","likes","artist frequency","artwork frequency"]

nothing changed in the error !

[2022-02-18 19:57] Kodiologist opened #7674 "Poor out-of-sample accuracy with `reg:absoluteerror`"
(Original title: "Poor fit with absolute-error-like objective functions")

I've looked more into the problem I described in [this discussion post](https://discuss.xgboost.ai/t/catastrophically-bad-performance-with-absolute-error-like-objective-functions/2670), and I think there are two underlying problems, one easy to solve or work around, and one not so easy.

The easy part is that `min_child_wei

[2022-02-18 20:00] trivialfis commented on #7642
Yes.

[2022-02-18 20:13] trivialfis commented on #7674
Hi, thank you for posting an interesting question.  I can't start investigating at the moment and will come back to your examples.

I think it's proved as an optimal value for the greedy splits.

[2022-02-18 20:17] trivialfis commented on #7578
That's mostly caused by me not being familiar with the JVM ecosystem.  Feel free to contribute. ;-)

[2022-02-18 20:26] trivialfis commented on #7578
Quick update: after long arguments with @wbo4958 , we came to somewhere in the middle and might follow https://nlp.johnsnowlabs.com/docs/en/install#python as an example for package distribution.  In essence, the Python package and JVM package will be separately managed so Python users still have their toolchains working while Spark will manage the JVM dependencies.  As a feature request from me, w

[2022-02-19 11:10] Sophal24 commented on #1715
On Mac M1, **conda install nomkl** works.
But if it doesn't work for the first time, you should uninstall and install that command again.

[2022-02-19 11:45] wbo4958 opened #7677 "[QST][Quantile Dmatrix building] is it possible to build DMatrix based on Array data in GPU"
For now, XGBoost4j-spark-gpu passes the separate features columns' cuda array interface to JNI to construct quantile DMatrix. It requires doing the transformation at the RDD level instead of Dataset level, which will result in the later operations (like udf) running on CPU instead of GPU.

So my question is if we can add a new function to build the quantile DMatrix based on Array column which cont

[2022-02-19 12:59] obiii opened #7678 "Hi,"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2022-02-19 13:05] obiii opened #7679 "XGBClassifer, when de-serialized, gives 'XGBModel' object has no attribute 'enable_categorical'"
Hi,

I have a serialized XGBClassifier object, trained and generated using xgboost=1.5.2.

[code]

I load the model using:

`clf_model = joblib.load(model_path)`

I want to use the object to predict on some data I am using Azure environment which also has xgboost=1.5.2. but it gives error:

[code]

We have same version in pipelines that produce/serialize the model and in the pipeline that deserial

[2022-02-19 13:13] trivialfis commented on #7679
Can you reproduce it locally?

[2022-02-19 13:13] #7678 closed

[2022-02-19 13:23] trivialfis commented on #7679
Looking at this:

[code]
I think your model is not trained with 1.5.2 since it doesn't have `enable_categorical` parameter in it.  You can still export the  model via `clf.save_model("model.json")` and use it on 1.5.2 with `clf.load_model("model.json")`.

[2022-02-19 17:42] lohitslohit opened #7681 "Adam optimizer in XGBoost"
Is it possible to use Adam optimizer in XGBoost classification?

[2022-02-19 18:01] trivialfis commented on #7681
I don't think so.

[2022-02-19 18:01] #7681 closed

[2022-02-19 18:06] lohitslohit commented on #7681
Why it is not possible Bro.

[2022-02-19 19:35] trivialfis commented on #7681
xgboost uses second-order gradient for optimization (Newton).  Please consult the reference paper for details.

[2022-02-19 20:39] trivialfis commented on #5599
I think we have checks now. (`--as-cran`)

[2022-02-19 20:39] #5599 closed

[2022-02-20 03:19] lohitslohit commented on #7681
okay Thank you bro.

[2022-02-20 19:00] trivialfis commented on #7534
Hi, any update?

[2022-02-20 19:13] #7653 closed

[2022-02-20 21:46] #7367 closed

[2022-02-21 01:38] trivialfis commented on #7557
@hetong007 I have submitted the package and need confirmation from you due to the changed maintainer.  Could you please check your inbox when you are available?  Thank you!

[2022-02-21 02:15] surbhiagrawal22 opened #7683 "Error while installing xgboost using pip"
copying xgboost/LICENSE -> build/temp.macosx-10.9-x86_64-3.8/xgboost
      INFO:XGBoost build_ext:Building from source. /private/var/folders/zw/1nmts8sn0mjbf1xm_9_4t5mh0000gp/T/pip-install-32yzg6se/lib/libxgboost.dylib
      INFO:XGBoost build_ext:Run CMake command: ['cmake', 'xgboost', '-GUnix Makefiles', '-DUSE_OPENMP=1', '-DUSE_CUDA=0', '-DUSE_NCCL=0', '-DBUILD_WITH_SHARED_NCCL=0', '-DHIDE_CXX_

[2022-02-21 02:18] trivialfis commented on #7683
Hmm? Why is the source package being pulled ... @hcho3 Do you have any insight?

[2022-02-21 02:18] hetong007 commented on #7557
I have just replied. Good luck with the submission!

[2022-02-21 02:23] surbhiagrawal22 commented on #7683
`pip install xgboost
Collecting xgboost
  Using cached xgboost-1.5.2.tar.gz (730 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in ./.local/lib/python3.8/site-packages (from xgboost) (1.22.2)
Requirement already satisfied: scipy in ./opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.5.2)
Building wheels for collected packages: xgboost
  Building wheel f

[2022-02-21 03:14] hcho3 commented on #7683
@surbhiagrawal22 @trivialfis We do not provide support for MacOS 10.9. MacOS version 10.13 or later is supported. If you want to install XGBoost (with your own risk), install CMake and a C++ compiler.

[2022-02-21 03:14] #7683 closed

[2022-02-21 03:20] trivialfis commented on #7584
Unfortunately, XGBoost doesn't support incremental training, which is a limitation of the algorithm.  Similar to https://github.com/dask/dask-ml/issues/838 , XGBoost has `base_margin`, which might be used for implementing a `partial_fit`, but that needs some research for understanding the implication.

[2022-02-21 03:20] #7584 closed

[2022-02-21 03:21] surbhiagrawal22 commented on #7683
My Mac is Macos Mojave  version 10.14.6

[2022-02-21 03:23] trivialfis commented on #7679
Feel free to reopen if that's not the case.

[2022-02-21 03:23] #7679 closed

[2022-02-21 03:25] trivialfis commented on #7276
Closing as stalled.

[2022-02-21 03:25] #7276 closed

[2022-02-21 03:32] hcho3 commented on #7683
Apologies, the latest XGBoost actually requires MacOS 10.15. Sorry for causing confusion

[2022-02-21 04:10] trivialfis commented on #7677
Summarizing offline conversation:

Yes, it's possible.  But it's best to do it in spark instead of in XGBoost since XGBoost is not really designed for preprocessing features.

[2022-02-21 04:10] #7677 closed

[2022-02-21 05:14] trivialfis commented on #7637
I will document the behavior that states in callbacks are not preserved during training.

[2022-02-21 06:00] wbo4958 commented on #7663
I just tried it locally and it worked with below code

[code]

Could you double check if Spark is using the xgboost 1.5.2 or 1.6 SNAPSHOT, since the issue has been fixed by https://github.com/dmlc/xgboost/pull/7376 and it was merged from xgboost 1.5.1

[2022-02-21 07:07] wbo4958 commented on #7643
Yeah, Just reproduced locally, same issue. We need to fix this.

[2022-02-21 09:39] daschnerm commented on #7653
@trivialfis Sorry, I was a bit too late. Many thanks for the fast fix!!

[2022-02-21 21:36] PanZiwei opened #7688 "Issues on multiclass classification classifier with xgboost"
Hi,
I am interested in developing a multi-class classifier with XGboost but I am still a newborn. I would really appreciate it if you can help with the following issues.

1. It seems that when the class number is greater than 2, it will modify the obj parameter to multi:softmax. But since the code is under  @_deprecate_positional_args, is that mean that the multi-class classifier is no longer avai

[2022-02-21 21:46] trivialfis commented on #7688
https://github.com/dmlc/xgboost/blob/master/demo/guide-python/sklearn_examples.py

That means the users need to specify the python arguments as keyword arguments: `fit(X=x, y=y, weight=weight)` instead of `fit(X, y, weight)`.

Apologies for the ambiguity.  What I was trying to say is, XGBoost won't support multi-target-multi-class classification.  That's when the data contains multiple output targ

[2022-02-21 21:55] PanZiwei commented on #7688
Thank you so much for the quick response and clarification!
One more thing, for multiclass on XGBoost, it is a One-vs-Rest or One-vs-One?

[2022-02-21 22:53] trivialfis commented on #7688
1-vs rest

Correct.  The feature is pretty basic at the moment.  You can achieve the same result using sklearn meta estimators.

[2022-02-21 22:53] #7688 closed

[2022-02-21 22:59] NikitaRubocki commented on #7593
Would love some help, per the PR it seems like this issue has been resolved, but I am running Python 3.8, pandas 1.4.0, and XGBoost 1.5.2 and receiving this error still:

python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.

[2022-02-22 00:21] trivialfis commented on #7256
I tried the latest XGBoost with tree model, `get_support` works and `feature_importances_` is accessed by sklearn internally.

[2022-02-22 00:21] #7256 closed

[2022-02-22 00:25] trivialfis commented on #7643
Maybe related: https://github.com/dmlc/xgboost/issues/3506 .

[2022-02-22 00:58] #6433 closed

[2022-02-22 02:02] trivialfis commented on #7593
We haven't made the release yet.  You can install nightly if needed.

[2022-02-22 02:49] trivialfis opened #7690 "Reduce CPU memory usage for `hist` and `approx`."
The approx tree method is rewritten in 1.6 based on the existing `hist` tree method.  Although in general, the performance is better, for non-zero gradient it might consume more memory than before (rmse is fine, the new version uses less memory).  I have identified a few bottlenecks:

- The transposed `SparsePage` costs a copy of data.  This was present in the old version too due to sketching.
- T

[2022-02-22 03:45] #7637 closed

[2022-02-22 03:47] trivialfis commented on #7557
Closing this now, will continue to monitor https://cran.r-project.org/web/checks/check_results_xgboost.html .

@hetong007 Thank you for the support!

[2022-02-22 03:47] #7557 closed

[2022-02-22 05:05] trivialfis commented on #7674
I tried a small random dataset, the pseudo-Huber produces really small hessian:
[code]

This limits the step size for optimization.  Implementing the slope for pseudo-Huber can improve the convergence quite significantly.

[2022-02-22 05:17] trivialfis commented on #7674
One way to handle these types of objective is to revise the tree leaf values after each iteration, which I plan to work on after this release.

[2022-02-22 13:56] Kodiologist commented on #7674
By this way, this kind of investigation may be easier with the somewhat simpler log-cosh objective function, with gradient `tanh(x)` and Hessian `1/cosh(x)^2`.

[2022-02-22 14:29] serkannpolatt commented on #7593
### ###

bendede bu hata veriyor daha bugün karşılaştım

[2022-02-22 16:58] trivialfis commented on #7674
No, I meant the delta term I pseudo Huber, which is currently set to 1.

[2022-02-22 17:18] Kodiologist commented on #7674
Oh, I see. Yeah, I was thinking that the δ value should be documented in the description of `reg:pseudohubererror`, and perhaps customizable.

[2022-02-22 20:24] trivialfis opened #7693 "[RFC] Exposing objectives and metrics as part of the API."
This is for discussion about whether should we expose our internal objective functions to high-level API.  From a Python user's perspective, the functionality would look like what's in sklearn except that it will be a class instead of a function:

[code]

when the parameter is not needed (`delta=10.0` in above), one can continue to use the old string representation.

# Motivation
As we are having

[2022-02-23 01:14] PanZiwei commented on #7688
Hi @trivialfis
Sorry to bother you again. I am trying to find the best xgboost classifier to deal with an imbalanced dataset with multiple classes with hyperparameter tuning and would really appreciate it if you can help.
1. Any suggestions to handle the process?
2. Can I use `scale_pos_weight` for multiple classes? I checked the https://xgboost.readthedocs.io/en/latest/tutorials/param_tuning.html

[2022-02-23 01:37] hcho3 commented on #7688
@PanZiwei No, you cannot use `scale_pos_weight` for multiple classes. Please add `sample_weight` argument when calling `fit()`. The `sample_weight` should consist of weights given to all data points. The weights can be adjusted according to what class the data points belong to.

[2022-02-23 01:50] PanZiwei commented on #7688
How about  `parameter max_delta_step` suggested in [handle imbalanced dataset](https://xgboost.readthedocs.io/en/latest/tutorials/param_tuning.html#handle-imbalanced-dataset)?

So the imbalanced dataset can be only learned in the `fit` process instead of the randomized search step?

[2022-02-23 03:28] GoulartNogueira commented on #5447
I was struggling to run XGBoost on AWS sagemaker GPU.

I tried forcing `pip install xgboost` but it didn't solve.

But `conda install py-xgboost-gpu` worked as as charm for me! Thank you, @bonyii

[2022-02-23 03:33] GoulartNogueira commented on #6353
I was struggling to run XGBoost on AWS sagemaker GPU.

But conda install py-xgboost-gpu worked as as charm for me!

_Thanks to @bonyii, on [this issue here](https://github.com/dmlc/xgboost/issues/5447#issuecomment-904477049)._

[2022-02-23 06:56] trivialfis commented on #7674
Yeah, I have a working branch for the customizable pseudo-huber, but need some refactoring in https://github.com/dmlc/xgboost/pull/7640 first.

For the more general case where objectives produce small hessian, I think we will try to resolve it in the next release, which is also necessary for objectives like MAE and quantile regression.

[2022-02-23 08:32] FelixDuong commented on #7663
I have tested recently and have the same error with json saving model
`

scala> val XGB_Model_0 = xbooster.fit(df)
2022-02-23 15:24:38 WARN  XGBoostSpark:185 - train_test_ratio is deprecated since XGBoost 0.82, we recommend to explicitly pass a training and multiple evaluation datasets by passing 'eval_sets' and 'eval_set_names'
Tracker started, with env={DMLC_NUM_SERVER=0, DMLC_TRACKER_URI=192.16

[2022-02-23 11:00] vipinmenon1989 commented on #5536
Hi, is it possible to set seed in XGBoost CLI (I am new to it, and help file doesn't have much information)

[2022-02-23 17:09] #7643 closed

[2022-02-23 17:10] #3506 closed

[2022-02-23 18:10] deadsoul44 opened #7696 "fit with data iterator"
Hello,

I tried to train a model with a data generator like in the following example:

https://github.com/dmlc/xgboost/blob/6762c45494f5eabdf3c40912cf5c005ced6d332f/demo/guide-python/quantile_data_iterator.py

But, it failed while building `DeviceQuantileDMatrix` from iterator due to OOM.

I know that model training with a data generator is not easy due to binning. I wonder if there can be a worka

[2022-02-23 20:09] Scheel opened #7697 "NVIDIA RAPIDS XGBoost 1.5.2 with GPU error in AcceleratingXGBoostonGPUClusterswithDask.py"
I'd greatly appreciate help with
**Problem**: getting undefined symbol XGProxyDMatrixSetDataCudaArrayInterface
AttributeError
/opt/conda/envs/rapids/lib/libxgboost.so: undefined symbol: XGProxyDMatrixSetDataCudaArrayInterface

**Running xgboost 1.5.2** from docker container rapidsai/rapidsai with

cudf version 0.19.2
dask version 2021.04.0
dask_curd version 0.19.2
numpy version 1.20.2
pendas versi

[2022-02-23 21:22] trivialfis commented on #7697
Thank you for opening the issue, I will reply in https://github.com/rapidsai/dask-cuda/issues/864 instead.

[2022-02-23 21:22] #7697 closed

[2022-02-23 21:33] trivialfis commented on #7696
I'm not entirely sure what you are trying to suggest but I don't think it's possible to generate bins on the fly without significant performance loss and an overhaul of the library.  We are still trying to optimize memory usage by other means, stay tuned. ;-)

[2022-02-23 21:33] #7696 closed

[2022-02-24 01:11] wbo4958 commented on #7663
Could you double-check if you have ever put the xgboost jars into the ${SPARK_HOME}/jars before?

[2022-02-24 01:13] wbo4958 commented on #7663
@FelixDuong could you search the driver log with keywords "XGBoostSpark: Running XGBoost " and to check which version were you using.

[2022-02-24 01:54] FelixDuong commented on #7663
Oh ..I put 2 files jars 1.6 SNAPSHOT in SPARK_HOME/jars.
 It's weird .. when opening the logs

`2022-02-23 15:42:20 INFO  BlockManagerInfo:57 - Added broadcast_5_piece0 in memory on 172.17.0.1:35531 (size: 33.2 KiB, free: 2.8 GiB)
2022-02-23 15:42:20 INFO  SparkContext:57 - Created broadcast 5 from rdd at DataUtils.scala:122
2022-02-23 15:42:20 INFO  FileSourceScanExec:57 - Planning scan with bin

[2022-02-24 02:04] FelixDuong commented on #7663
I re-run pipeline model with Xgboost4j-Spark 1.5.2 and the same errors:
``
xbooster: ml.dmlc.xgboost4j.scala.spark.XGBoostRegressor = xgbr_fd1aecb58785
res18: ml.dmlc.xgboost4j.scala.spark.XGBoostRegressor = xgbr_fd1aecb58785
res19: ml.dmlc.xgboost4j.scala.spark.XGBoostRegressor = xgbr_fd1aecb58785
res20: ml.dmlc.xgboost4j.scala.spark.XGBoostRegressor = xgbr_fd1aecb58785
import org.apache.spark.ml

[2022-02-24 02:06] #7351 closed

[2022-02-24 02:38] wbo4958 commented on #7663
@FelixDuong yeah, seems spark found the old 1.4.2 xgboost jars. Please remove the 1.4.2 xgboost jars and re-try

[2022-02-24 03:02] FelixDuong commented on #7663
^^ .. It works , all fine... Thanks

[code]

[2022-02-24 03:05] trivialfis commented on #7663
Thank you @wbo4958 !

[2022-02-24 03:05] #7663 closed

[2022-02-24 06:27] deadsoul44 opened #7699 "iterative_device_dmatrix.h:60: Not implemented."
I am using DeviceQuantileDMatrix built with dataframe. What can be wrong here?

[code]

[2022-02-24 06:48] deadsoul44 commented on #7699
It was probably due to a missing parameter.

[2022-02-24 06:48] #7699 closed

[2022-02-24 06:50] trivialfis commented on #7699
I was caused by training/inference on CPU

[2022-02-24 06:58] FelixDuong opened #7700 "[jvm-packages] - Tracker started, with env={} in Docker For Windows , Ubuntu Container - with Spark 3.2.1"
I met this error when running in Docker Ubuntu 20.04 with Spark 3.2.1... After reviewing some solutions to fix it via "xgboost-tracker.properties" and add "host-ip=172.17.0.2" , but it does not work... Anyone have  idea to solve it ..

[code]

[2022-02-24 06:58] deadsoul44 commented on #7696
I think no memory optimization can be as effective as batch training.

[2022-02-24 07:17] trivialfis commented on #7696
Batch training implies either the out of core training where the algorithm loops over batches for every tree node, or a stochastic algorithm.  For the former xgboost supports in lastest branch with approx but it's really slow due to IO.  For the latter, GBT is not a stochastic algorithm, you might want to consider neural network instead.

[2022-02-24 07:36] deadsoul44 commented on #7696
tf.data.DataSet has a nice feature of prefetching batches during training.

[2022-02-24 14:31] Kodiologist commented on #7693
That makes sense to me. Objectives can require a fair amount of customization.

[2022-02-24 16:17] hcho3 commented on #7693
It looks like a natural way to configure parameters for metrics.

[2022-02-24 19:47] #4372 closed

[2022-02-24 23:15] #7366 closed

[2022-02-25 00:04] trivialfis commented on #7696
Yeah, xgboost's external memory implementation also has support for prefetching, it's just the IO is much more intense than deep learning, as mentioned previously GBT is not a stochastic algorithm and can not use small batches.  My SSD can keep the file reading at about 500MB/s throughout the training, but it's still quite slow compared to in-core training.

[2022-02-25 00:37] trivialfis commented on #7266
I don't think we still support 0.90.  Feel free to reopen if this is reproducible using latest xgboost.

[2022-02-25 00:37] #7266 closed

[2022-02-25 00:42] trivialfis commented on #7250
Closing since the approx is rewritten based on the hist tree method.  Now they share a lot of common code structures.

[2022-02-25 00:42] #7250 closed

[2022-02-25 00:53] trivialfis commented on #4093
Closing in favor of https://github.com/dmlc/xgboost/issues/7354 .

[2022-02-25 00:53] #4093 closed

[2022-02-25 00:57] #6308 closed

[2022-02-25 00:58] trivialfis commented on #6308
The error message shows that you are loading a model.

[2022-02-25 01:02] trivialfis commented on #5578
I don't think we will ever be doing that.

[2022-02-25 01:02] #5578 closed

[2022-02-25 01:04] #7249 closed

[2022-02-25 04:20] trivialfis commented on #7580
I think it's more or less a workaround.  XGBoost can't use 0 hessian objectives so 1 is a safe step size.

[2022-02-25 04:20] #7580 closed

[2022-02-25 07:18] deadsoul44 commented on #7696
We can always choose a very large batch size.
The benefits can justify the penalties at least in some cases.
For example, using lossguide without depth limit or very large max_depth can achieve the same accuracy with less time.
Another use case is the problems where many engineered features are required to be added. For example, in time series problems, we can add lagged features more than once. T

[2022-02-25 08:13] trivialfis commented on #7696
@deadsoul44 It's not related to batch size, and lossguide is not recommended for external memory.  Consider the following, if you have 10GB data in binary form, for each tree node, using lossguide, we will loop through the entire dataset.  With a hard drive that can read at 500MB/s, then each tree node will take about 80 seconds as we need to loop through the dataset about 3-4 times depending on t

[2022-02-26 08:09] StatMixedML commented on #7619
@trivialfis Is it also possible to use custom objective and metric functions for your multivariate implementation?

[2022-02-27 08:21] xelax opened #7706 "running xgboost on apple silicon (aarm64) fails due to lack of native library"
running xgboost on spark (package ml.dmlc:xgboost4j_2.12:1.5.1:jar) on a Mac with Apple silicon fails with:

Caused by: java.lang.RuntimeException: java.io.FileNotFoundException: File /lib/macos/aarch64/libxgboost4j.dylib was not found inside JAR.
	at ml.dmlc.xgboost4j.java.XGBoostJNI.<clinit>(XGBoostJNI.java:37)
	... 23 more
Caused by: java.io.FileNotFoundException: File /lib/macos/aarch64/libxgb

[2022-02-28 05:10] trivialfis commented on #7706
Closing as duplicated to https://github.com/dmlc/xgboost/issues/6408 .

[2022-02-28 05:10] #7706 closed

[2022-02-28 05:12] xelax commented on #7706
but this is about the maven artifacts, I think https://github.com/dmlc/xgboost/issues/6408 is about the python packages?

[2022-02-28 05:22] trivialfis commented on #7706
It's not package-specific, we don't have the machine to build binary packages for apple silicon, nor does GitHub Action provide such instance.   @hcho3 found a way to build it for the Python package using cross-platform compilation.  But for JVM packages we haven't found a way yet.

You can compile XGBoost from the source.

[2022-02-28 05:24] xelax commented on #7706
ok. Would it help if build it on my computer and upload the libraries somewhere? If the instruction are not too complex I can try

[2022-02-28 05:26] trivialfis commented on #7706
Thank you for the offer.  But if we were to support it I think we need to find an automated solution instead of pinging you everytime we want to build it. ;-)

Right now all the builds are running on the CI, either on Github action or on Jenkins.

[2022-02-28 05:27] xelax commented on #7706
make sense. Hopefully arm64 instances will become more common soon.

[2022-02-28 23:18] lichengphysics opened #7710 "The comma is missed in the interaction constraint."
The comma between interaction groups is missed.

https://github.com/dmlc/xgboost/blob/1d468e20a4fff83f3149e99371b67e6b31f64152/python-package/xgboost/core.py#L1396 should read as `+ "],"` and
https://github.com/dmlc/xgboost/blob/1d468e20a4fff83f3149e99371b67e6b31f64152/python-package/xgboost/core.py#L1398
Should read as `return s[:-1] + "]" `

[2022-03-01 05:05] pradghos opened #7712 "Feature shape mismatch error in xgboost 1.5.0 for linux-s390x"
We have observed `Feature shape mismatch` error in `xgboost 1.5.0` for linux-s390x and it can be easily reproducible with below test case -

**Failure log**:
[code]

There are other test case failure also for the same issue in `xgboost 1.5` ; However above test cases worked fine with `xgboost 1.3.3` in linux-s390x.

[2022-03-01 05:14] faying commented on #6408
Is there any plan to support Apple Silicon with Metal Acceleration?

[2022-03-01 21:47] mwintner-fn commented on #7627
Have a look here: https://towardsdatascience.com/regression-prediction-intervals-with-xgboost-428e0a018b

[2022-03-02 05:21] #7710 closed

[2022-03-02 08:20] hcho3 commented on #6408
No, we do not plan to support Apple GPU.

[2022-03-02 08:45] jiapei100 opened #7713 "How to specify CUDA ARCH while building xgboost?"
It looks by default, to **cmake** **xgboost**, it would build for **ALL cuda architectures**.
Where and how to specify a particular **cuda architecture** just for my native computer, say **sm_75** **ONLY**?

Cheers

[2022-03-02 17:45] deadsoul44 opened #7714 "piecewise linear gradient boosting tree"
This can be very helpful.

LGBM: https://lightgbm.readthedocs.io/en/latest/Parameters.html#linear_tree
Paper: https://arxiv.org/pdf/1802.05640.pdf

[2022-03-03 06:37] pradghos commented on #7712
`features.value` is getting truncated to 0 in `num_features()` is getting truncated in python layer.

[code]

After the fix -

[code]

[2022-03-03 13:36] trivialfis commented on #7712
Closed by https://github.com/dmlc/xgboost/pull/7715 .

[2022-03-03 13:36] #7712 closed

[2022-03-03 17:00] deadsoul44 opened #7716 "boost from prediction for multiclass classification"
Hi, I am experimenting with the following demo.
https://github.com/dmlc/xgboost/blob/master/demo/guide-python/boost_from_prediction.py

I have a multiclass classification data. I get the following error when trying to set base margin.

[code]

How to set base margin in this case?

[2022-03-03 17:19] xelax commented on #7706
Support of M1 mac might come soon for github actions:
https://github.com/actions/runner/blob/main/docs/start/envosx.md

[2022-03-05 00:22] victor-luu191 opened #7717 "Build xgboost 0.90 fails with errors in included c++ header files; using gcc8 as instructed in installation doc"
I need to build xgboost 0.90 from source code. I followed the [instruction](https://xgboost.readthedocs.io/en/release_0.90/build.html#building-on-osx) in the doc but failed to build.

Make fails at the step "building CXX object" with error messages as below
![Screen Shot 2022-03-04 at 11 25 42 AM](https://user-images.githubusercontent.com/5740261/156858669-28aef05c-4500-413b-9492-f5b4332b5c35.png)

[2022-03-05 00:50] victor-luu191 commented on #7717
I have just resolved this by using a newer version of gcc, gcc-13. So the build [instruction](https://xgboost.readthedocs.io/en/release_0.90/build.html#building-on-osx) for xgboost 0.90 is outdated. Hope somebody can update it.

[2022-03-06 01:19] hcho3 commented on #7717
I'm afraid we don't support 0.90 any more. It was released almost 2 years ago. Is there a particular reason to use 0.90 specifically, rather than use the latest version (1.5.0) ?

[2022-03-06 07:19] yilinwu123 opened #7718 "Is feature selection step necessary before XGBoost?"
Dear Developer:

I am interested in using 'xgboost' package to do classification on high dimensional gene expression data. May I ask whether it is helpful to do additional feature seleciton steps before using xgboost since xgboost algorithm can also select important features?

I tried a feature selection method called MRMR (Maximum Relevance — Minimum Redundancy) to remove noisy and redundant feat

[2022-03-07 04:00] riaris opened #7719 "How can I plot_tree with gain&cover?"
hello, Ex.me
when I use plot_tree I can get the graph ,tree with node, leaf and the splitting condition. however, when I use get_dump(dump_format = 'text', with_stats = True), I can get the nodes' cover&gain, After I check the source, I see  dump_format='dot', with_stats = False, but, even when I change with_stats = True, Nothing change, it still have not gain&cover in the return string.

[2022-03-07 05:10] victor-luu191 commented on #7717
Hi, it is a dependency issue as my project requires specifically 0.90 to be compatible with other packages we need.

[2022-03-07 08:41] jiapei100 opened #7720 "AttributeError: module 'cupy' has no attribute 'ndarray'"
I'm testing XGBoost with the following code (data loaded already):

[code]

The second line of code `model.fit(X_train, y_train)` reports the following **ERROR** messages:

[code]

It looks to have some relationship with **XGBoost**, as well as **copy**'s function **_is_cupy_array**. Any suggestions please?

[2022-03-09 03:53] trevorwilf opened #7721 "not providing reproducible predictions after saving in bin format"
I am not sure if this is an issue or not.  It may be expected bahavior.  I posted a question here about it:
[https://stackoverflow.com/questions/71401330/xgboost-not-providing-reproducible-predictions-after-saving-in-bin-format](url)

essentially, when I use xgb.save using custom parameters the model fails
R version: 4.1.2
XGBoost version 1.5.2.1

The methodology is as follows (logistic-regression

[2022-03-09 22:50] kransom14 commented on #7448
Just curious if anyone has had time to check into this by chance? I am still interested in using the Gamma or Tweedie objective functions in my research. Thank you

[2022-03-10 03:02] Craigacp commented on #7718
The mRMR algorithm can't find features which have positive interactions (i.e. ones which provide more information jointly than they do separately). XGBoost as it is based on decision trees can exploit this kind of feature interaction, and so using mRMR first may remove features XGBoost finds useful. There are other information theoretic feature selection algorithms which don't have this issue, but

[2022-03-10 07:26] yilinwu123 commented on #7718
Dear Adam:

Thanks a lot for your reply. Your suggestions are very helpful.

So for high dimensional data with small sample size (e.g. 200 samples with 3000 features), is it okay to skip feature selection steps and do classification directly? I tried to focus on tuning the regularisation and tree depth parameters, it actually performed better than adding feature selection step, although there seem

[2022-03-11 01:30] Craigacp commented on #7718
I think with many more features than examples most things will overfit a bit as there are too many ways of making spurious correlations. Properly regularised models will help, as can feature selection, but I wouldn't recommend mRMR if you want to use tree ensembles to make the final prediction.

Yes, information theoretic feature selection algorithms use entropies or mutual informations to measure

[2022-03-11 18:55] ikriv opened #7725 "Implement IPv6 support for distributed XGBoost"
Currently distributed XGBoost does not support IPv6, this is explicitly asserted in rabit/include/rabit/internal/socket.h
Our internal network is IPv6 only, which means we can't run XGBoost out of the box.

IPv6 is 20+ years old, and IPv4 is being phased out more and more as the time progresses. I think it is very important to enable IPv6 in XGBoost for more successful adoption.

[2022-03-12 02:16] yilinwu123 commented on #7718
Dear Adam:

It is very helpful. I will read this paper. Thank you so much for your suggestions. I really appreciate it!

[2022-03-12 13:25] trivialfis commented on #7720
Hi, could you please share the version of XGBoost and cupy?

[2022-03-12 13:26] trivialfis commented on #7716
To have proper support you need to use nightly build.  If you are running 1.5.2, as a workaround, you can flatten the matrix.

[2022-03-12 13:26] #7716 closed

[2022-03-12 13:29] trivialfis commented on #7717
I can't be entirely sure whether your gcc is correctly configured since the error seems to be internal to gcc.  But since you have already found a workaround I will close this issue now.  Hopefully it can help others who encountered the same issue.

[2022-03-12 13:29] #7717 closed

[2022-03-12 13:33] trivialfis commented on #7713
Please see this CMake option: https://github.com/dmlc/xgboost/blob/04fc575c0eef61eac71de11f0d4c610e4458ebdc/CMakeLists.txt#L54

It was added before CUDA language support was added in CMake.  In the long term I think we will migrate to modern CMake builtin option.

[2022-03-12 13:33] #7713 closed

[2022-03-14 06:28] trivialfis commented on #6503
Closing, initial support is completed.  We will continue to add optimization and new features in the future.

[2022-03-14 06:28] #6503 closed

[2022-03-14 06:33] trivialfis commented on #7718
Thank you for the interesting discussion!  I really enjoy the paper. ;-)

[2022-03-14 06:33] #7718 closed

[2022-03-14 06:39] trivialfis opened #7726 "[Roadmap] 1.6.0 Roadmap"
@dmlc/xgboost-committer Please add your items here by editing this post. Let's ensure that

* Each item has to be associated with a ticket
* Major design/refactoring are associated with a RFC before committing the code
* Blocking issue must be marked as blocking
* Breaking change must be marked as breaking

For other contributors who have no permission to edit the post, please comment here about w

[2022-03-14 10:53] trivialfis opened #7728 "Single precision GPU hist is flaky with cali dataset."
The issue is likely caused by floating-point error along with the global rng used by sampling.  Will investigate once we can remove the global rng.

https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-7512/53/pipeline

[code]

[2022-03-14 13:42] #5479 closed

[2022-03-14 13:52] trivialfis commented on #7721
Hi, could you please provide a reproducible example that I can run?

[2022-03-14 15:47] JovanVeljanoski opened #7729 "[Bug]: Training with sparse data on a GPU results in bad model performance"
Hi,

I believe I've stumbled on a bug when training an `xgboost.XGBClassifier` model on a GPU using sparse data.
If I train a model on a CPU, i get a certain score (precision, f1 etc..). Using the same hyperparameters (mostly defaults), training a model on the GPU i get substantially worse performance (worse f1, worse precision etc..).

I tracked it to be somehow related to passing `scipy.sparse._

[2022-03-14 18:39] trivialfis commented on #7729
Thank you for raising the issue. As a quick workaround, please call `X.sort_indices()` before passing it to XGBoost.

[2022-03-16 09:38] avilog opened #7733 "colsample by feature interaction constraints"
Is it possible to sample a *group* of features for each new tree?
It can be defined by feature interaction constraints.
It is more efficient when we already have feature interaction constraints. Additionally, it enables us to create cycle boosting with interactions.

[2022-03-16 10:01] #7729 closed

[2022-03-16 10:01] #5301 closed

[2022-03-16 10:09] JovanVeljanoski commented on #7729
Thank you!

[2022-03-16 12:47] #7594 closed

[2022-03-16 17:08] #7669 closed

[2022-03-16 17:17] mhv777 opened #7734 "Slow/Unconsistent inplace prediction latencies using Xgboost Python Package"
Xgboost: 1.5.2
Numpy: 1.21.5

Hello, I ran into a surprising issue when benchmarking prediction performance using the inplace_predict method.
When iterating and calling the inlace_predict method over and over, latencies spanned from a 3-4 milliseconds to more than 90ms. (This happened for the same input on all predictions)

I have a saved model in json format, and my data consists of really sparse

[2022-03-16 17:48] trivialfis commented on #7734
I can't be entirely sure, for a single sample prediction, the time is likely to be dominated by memory and thread allocation, which means the time is being spent in the language runtime or the OS kernel.  We will have to run time profiling to debug this.

[2022-03-16 17:50] trivialfis commented on #7725
Hi @ikriv , thank you for raising the issue.  Would you like to work on this?

[2022-03-16 20:10] trivialfis commented on #7734
I'm not familiar with the internal of jupyter.

[2022-03-16 20:10] #7734 closed

[2022-03-17 18:31] mhv777 commented on #7734
Just in case anyone stumbles upon this, the issue was that the ``inplace_predict`` method was using all available threads by default. In my local Mac this worked fine but when running inside an EC2 instance my guess is thread allocation (or something of the sort) took too much time compared to the actual prediction.

This was solved by setting ``bst.set_param({'nthread': 1})``

[2022-03-17 21:48] trivialfis commented on #7725
I will take a deeper look into this.

[2022-03-18 07:49] lcx517 commented on #7700
I met the same problem as "Tracker started, with env={}", and hung on the same code line.
I ran with Spark 3.1.1, and dependencies as below:
        <dependency>
            <groupId>ml.dmlc</groupId>
            <artifactId>xgboost4j_2.12</artifactId>
            <version>1.5.2</version>
        </dependency>
        <dependency>
            <groupId>ml.dmlc</groupId>
            <artifactId>xgbo

[2022-03-18 08:18] trivialfis commented on #7700
We recently added a user option in dask for others to specify the host IP and port.  I'm not entirely sure how to replicate that in spark package.

[2022-03-19 09:05] trivialfis opened #7738 "mdspan incorrect `is_contiguous` for CUDA with strided layout"
https://github.com/rapidsai/mdspan/blob/5752ba5b42a8660a573555dab025bcd64ead912e/include/experimental/__p0009_bits/layout_stride.hpp#L301

[2022-03-19 09:09] #7738 closed

[2022-03-19 09:09] trivialfis commented on #7738
Wrong place.

[2022-03-21 02:43] FelixDuong commented on #7700
Thanks trivialfis, I am looking forward to trying in new next version . !!!

[2022-03-21 03:06] lcx517 commented on #7700
Thank you. I can see env values (such as DMLC_TRACKER_URI, DMLC_TRACKER_PORT...etc) correctly when I ran locally. However, when I submit to spark cluster, the env is empty. It will be set automatically in spark 2.x, and I'm not sure it's a good idea to specify the dynamic cluster IP or port manually...

[2022-03-21 09:35] trivialfis commented on #7700
For the Python dask module, it's the last resort.  Normally XGBoost can obtain the IP and port automatically. However, sometimes the host might be incorrectly configured in clusters, or sometimes there are network configurations that we don't understand, or sometimes it's simply caused by docker restricting available ports.  In these cases, letting the users to specify the IP and port might be the

[2022-03-21 09:36] trivialfis commented on #7700
Thank you, meanwhile, if you have suggestions on how to port that to spark package in a natural way please share.

[2022-03-21 16:13] #7354 closed

[2022-03-21 16:21] jeswcollins opened #7740 "Non zero cache_id error"
In one environment, I can load an xgboost model from json fine and predict with it.

When moving this model to another environment, and predicting, I get an error that appears in the current version to be the following line, due to a >0 cache_id:

https://github.com/dmlc/xgboost/blob/cd558231123113d1fd7a99ff0a6cc4ef1c528c33/src/c_api/c_api.cc?msclkid=ffc5a076a93011ecae1011be44fe7735#L829

Why is c

[2022-03-21 16:49] trivialfis commented on #7740
Could you please share how to reproduce it?

[2022-03-21 16:52] edgBR opened #7741 "Bug: XGBoost sometimes does not use GPU when using gpu_hist."
Dear colleagues,

I have implemented a two part model for handling zero inflated continuous data. One part of my training pipeline trains an XGBoost Classifier in order to classify which of our customers are going to make an action or not (binary classification). Then a second model is trained with all of the data of customers which make an to predict the value of the action (regression). We have

[2022-03-21 16:55] trivialfis commented on #7740
Using the Python interface, this is where the `cache_id` being set: https://github.com/dmlc/xgboost/blob/4d81c741e91c7660648f02d77b61ede33cef8c8d/python-package/xgboost/core.py#L2038

If you are using the C interface directly, then I need to look at your code.  Also, could you please share your environment?

[2022-03-21 17:20] jeswcollins commented on #7740
I'm using python, not the C interface directly.

I've observed the error on 1.5.0 and 1.5.2.

I will try to see if I can find a way to reproduce the error that I can share and more info on the environment.

Unless cache_id was set differently in prior versions, I don't see how it could be >0 in this model.

[2022-03-21 18:19] trivialfis commented on #7740
Thank you.

No.  It's a placeholder and has been set to 0 since it was introduced.

[2022-03-21 18:22] trivialfis commented on #7741
Hi, could you please share your training script that we can run and some statistic of your dataset, like the shape and sparsity?

I'm not entirely sure why are you sharing the NCCL logs?  Are you using distributed training?

[2022-03-21 18:26] trivialfis commented on #7725
I will try to implement it after 1.6.

Note to myself:
- [ ] Check NCCL support.
- [ ] Change socket wrapper to support IPV6.
- [ ] Implement it in Python tracker.
- [ ] Possible change in Scala tracker.

[2022-03-21 20:24] ikriv commented on #7725
Thank you so much, @trivialfis! I think Python tracker is already good (at least it does not complain loudly), it's the socket wrapper that insists on IPv4

[2022-03-22 02:20] FelixDuong commented on #7700
Indeep, I have tested xgboost4j-spark in some environments and realized couple ideas:
- With xgboost4j-spark 1.5.2 and run in real Ubuntu (not virtually) and run in VMware (Windows hosts) , it works well!!! Smoothly!!
- With xgboost4j-spark 1.5.2 and run in docker for Windows or for Mac , it encounters error env={}, maybe it can not capture ip's docker container. In new docker versions, there is n

[2022-03-22 09:47] lcx517 opened #7743 "predicting with old model(trained in spark 2.3.1, xgboost4j 0.82) in spark 3.1.1 + xgboost4j 1.5.2 error"
Hi,
Because of the community support factor, we had to upgrade our spark from 2.x to 3.x.  Currently we meet a problem that there are many models trained in spark 2.3.1 + xgboost4j 0.8.2. When I predict with this model in spark 3.1.1 + xgboost4j 1.5.2, I got errors as below which I don't understand.

Please help to solve it... Thank you~

[code]

[2022-03-22 09:59] trivialfis commented on #7743
Hmm, the batched returned from JVM is null but there's no exception?

Could you reproduce the issue with a freshly trained model?

[2022-03-22 10:08] lcx517 commented on #7743
There's only "exception" but I don't think it's useful...
[code]

[2022-03-22 10:08] lcx517 commented on #7743
I'm afread not... I try to train model in spark 3.1.1, but I got error in [this issue](https://github.com/dmlc/xgboost/issues/7700)

[2022-03-22 10:14] lcx517 commented on #7743
You mentioned the error from JVM.  Is it possible that the failure is caused by java version? (java sdk 1.8 + scala 2.12)

[2022-03-22 12:12] edgBR commented on #7741
Hi @trivialfis

The NCCL logs are shown automatically when I train my model. The instance Im using has 1 NVIDIA Volta V100 so I am not sure why they appear.

Regarding the statistics.

[code]

Data and scripts can not be shared but I will try to get some syntetic dataset and a small version of the full code. Will that work?

BR
E

[2022-03-22 12:45] dudu23339 opened #7744 "Building xgboost R package from source fails"
Hello, I encountered some trouble when installing xgboost. I hope I can take some time to get help. Thank you~
So far I've done:
[code]
But when I try to run `make -j$(nproc)` I get the following:
[code]
May I ask what the problem is?

[2022-03-22 13:29] trivialfis commented on #7741
That would be helpful as we have to run the script before making any guess.

That's odd.  Someone set the `NCCL_DEBUG` environment variable.  You might want to verify other variables like `CUDA_LAUNCH_BLOCKING` are not being set for debugging.

[2022-03-22 13:30] trivialfis commented on #7741
That would be helpful as we have to run the script before making any guess.

That's odd.  Someone set the `NCCL_DEBUG` environment variable.  You might want to verify other variables like `CUDA_LAUNCH_BLOCKING` are not being set for debugging.

[2022-03-22 14:57] edgBR commented on #7741
Hi @trivialfis,

Locking to the base image:

https://github.com/Azure/AzureML-Containers/blob/master/base/gpu/openmpi4.1.0-cuda11.1-cudnn8-ubuntu20.04/Dockerfile

Seems that you nailed with the NCCL_DEBUG, but no CUDA_LAUNCH_BLOCKING is mentioned.

One detail that I omitted is that I am using scikit learn intelex. Instead of the default functions of scikit. Should I assume that this could be a pot

[2022-03-22 15:34] bridgream commented on #7068
I haven't seen this issue since v1.5.0 using the new iterator-based interface training. This information is possibly outdated now.

[2022-03-22 18:33] trivialfis commented on #7744
Could you please try: https://github.com/dmlc/xgboost/pull/7745

[2022-03-22 18:34] trivialfis commented on #7741
I don't know.  Will take a deeper look once there's a reproducible example.

[2022-03-22 23:50] hcho3 commented on #7674
FYI, XGBoost now lets you indicate the slope for the pseudo-Huber loss: #7727

[2022-03-23 03:22] wbo4958 commented on #7726
I'd like to add this PR https://github.com/dmlc/xgboost/pull/7709 in 1.6.0 release.

[2022-03-23 10:06] FelixDuong commented on #7743
I have found:
[code]
You're running Spark 3.1.1 , so best JAVA version 11 +  ( I am using JAVA 11 ). Just my ideas !!

[2022-03-24 09:26] lcx517 commented on #7743
Thank you for the information !

I have rebuilt project in Java 12 + scala 2.12.15 and run again:
1. train model in mac locally: success.
2. train model in clusters: same error as [this issue](https://github.com/dmlc/xgboost/issues/7700)
3. predict model trained freshly in local enviroment: success.
4. predict model trained in spark 2.3.1: failed with trackback as before

I tried to find some key

[2022-03-24 13:19] trivialfis opened #7748 "Flaky iterator test."
[code]

https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-7687/4/pipeline

[2022-03-25 03:11] SHIJIE0313 opened #7750 "expected f126 in input data"
使用python（3.6），最新版本的xgboost，运行demo时，出现如下错误，提示代码如下：

Traceback (most recent call last):
  File "G:/tensorflow_demo/xgboost-master/demo/guide-python/basic_walkthrough.py", line 80, in <module>
    bst = xgb.train(param, dtrain, num_round, watchlist)
  File "E:\Users\lenovo\anaconda3\envs\tensorflow\lib\site-packages\xgboost\training.py", line 235, in train
    early_stopping_rounds=early_stopping_rou

[2022-03-25 09:04] trivialfis commented on #7750
I can't reproduce the error. Besides, we test that demo on our CI.  Did you modify the data somehow?

[2022-03-25 09:06] trivialfis commented on #7744
Merged the PR, feel free to reopen if the issue persists.  Also, it would be great if you can share your environment details including the compiler version.

[2022-03-25 09:06] #7744 closed

[2022-03-25 11:44] trivialfis commented on #6943
The default port number is changed to 0.  Feel free to reopen if the issue persists.

[2022-03-25 11:44] #6943 closed

[2022-03-25 11:46] trivialfis commented on #7534
Closing as stalled.

[2022-03-25 11:46] #7534 closed

[2022-03-25 11:47] trivialfis commented on #7635
Closing as stalled.

[2022-03-25 11:47] #7635 closed

[2022-03-25 17:25] hmchen-github opened #7754 "Objective.CoxRegressionGPair test failed because the label sorting is not stable"
We built the xgboost with our toolchain (clang) and I found [Objective.CoxRegressionGPair test](https://github.com/dmlc/xgboost/blob/master/tests/cpp/objective/test_regression_obj.cc#L365) sometimes failed as follows:

[code]

I found the issue is due to the [LabelAbsSort](https://github.com/dmlc/xgboost/blob/master/src/objective/regression_obj.cu#L396). It uses [XGBOOST_PARALLEL_SORT](https://git

[2022-03-25 22:09] #7720 closed

[2022-03-25 22:50] PhillipMaire commented on #7696
@trivialfis are there speed tests using your SSD you mention 500MB/s but I have no way of understanding how this compares to in core training. I understand that this will depend on many factors like you mentioned above but can you give some idea? are we looking at 2X 10X 100X the time? does grow linearly with increased data size?

a high quality 1TB SSD is soooo much cheaper than building a PC wit

[2022-03-26 07:32] apatange-source commented on #7057
Is this issue closed or is it still WIP?

[2022-03-26 09:58] #7754 closed

[2022-03-26 21:08] cmarquardt opened #7757 "R package does not install when the OpenMP library is in a non-standard place"
Hello,

I'm trying to install XGBoost from the current CRAN package version (1.5.2.1) on MacOS Catalina 10.15.7 with a Hombrew-installed libomp.

The installation fails in my case because my Homebrew installation - and thus libomp - is in a non-standard place (`/opt/brew` rather than `/usr/local`). The reason for the failure is that the `configure.ac` of the R package does not make use  of existin

[2022-03-27 02:16] hcho3 commented on #7757
Yes, feel free to submit a pull request.

[2022-03-28 11:14] #7757 closed

[2022-03-28 13:20] #7748 closed

[2022-03-28 18:32] #7721 closed

[2022-03-29 11:39] marcrocasalonso opened #7761 "Pyinstaller and xgboost"
Dear coders,

I am trying to launch pyinstaller for my app but it appear the commun error with xgboost and pyinstaller. I am using xgboost version 1.5.2.
The error is :
   import xgboost as xgb
  File "<frozen importlib._bootstrap>", line 971, in _find_and_load
  File "<frozen importlib._bootstrap>", line 955, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 665, in _load_un

[2022-03-29 14:29] lfdmn opened #7762 "Build issue: fatal error: cub/cub.cuh: No such file or directory"
Hi,

Does cub need to be built prior to xgboost?

I'm following the build [from source instructions](https://xgboost.readthedocs.io/en/latest/build.html)
[code]
Thanks,
-Damien

[2022-03-29 14:37] trivialfis commented on #7762
Hi, which CUDA version are you using?

[2022-03-29 17:27] hcho3 commented on #7761
I don't think XGBoost has been tested with Pyinstaller. If anyone else can jump in and propose a fix, that would be great.

[2022-03-29 20:22] trivialfis commented on #7762
Please consider using the latest CUDA.  cub is not integrated into CUDA 10.x.

[2022-03-29 20:22] #7762 closed

[2022-03-30 00:51] #6851 closed

[2022-03-30 11:45] rrpelgrim commented on #7454
I'm encountering the same issue as @jrbourbeau with the following package versions:
xgboost: 1.5.1
dask: 2022.02.0
distributed: 2022.02.0

The example code snippet above returns the same error: "AttributeError: divisions not found"

[2022-03-30 14:13] nilslacroix opened #7765 "Error: XGBoost version not compiled with GPU support"
When I use XGBOOST with Scikit on Windows10 the algorithm runs at first but gives me this error message
at the last iteration of HalvingGridSearchCV. I use a jupyter notebook.

I know about the thread from 2020 - however the proposed solutions did not solve the issue.

I installed the xgboost package from conda-forge first, then I installed it from pip in my enviroment.
Cudatoolkit is installed as

[2022-03-30 16:07] trivialfis commented on #7765
Hi, could you please  try:

1. clean up your environment or just create a new conda env that doesn't have xgboost in it.
2. Install xgboost **either** through conda (community effort) or pip (uploaded by maintainer), but not both.  Please see https://xgboost.readthedocs.io/en/latest/install.html#python

[2022-03-30 16:18] nilslacroix commented on #7765
1. i already cleaned it up
2. those solutions do not work. the conda edition does only support cpu. the pip install xgboost just yiels the xgboost dll in site packages

[2022-03-30 16:27] trivialfis commented on #7765
great!

that's pip, for Windows users I think it's the only solution for now if you want pre-built binary with CUDA enabled.

[2022-03-30 17:05] nilslacroix commented on #7765
I made a new enviroment and ran the gpu benchmark which just worked fine. After trying the benchmark with
`benchmark_tree.py --tree_method=gpu_hist` in my old enviroment it also worked fine. So I tried to use XGBOOST
in scikit but i got the same error as before. The problem seems to be with scikit and XGBOOST, here is the error:

[code]

[2022-03-30 17:19] trivialfis commented on #7765
That's likely caused by an environment that has mixed binary (`libxgboost.dll`) installed by conda and pip. Please make sure only the one in pip package is loaded (`site-packages/xgboost/lib/libxgboost.dll`) by finding and removing the one in `miniconda3/envs/...`

[2022-03-30 17:50] trivialfis opened #7766 "1.6.0 Release Candidate"
We are about to release version 1.6.0 of XGBoost. In the next week, we invite everyone to try out the release candidate (RC).

Roadmap: https://github.com/dmlc/xgboost/issues/7726
Release note: https://github.com/dmlc/xgboost/pull/7746

Feedback period: until the end of April 08, 2022. No new feature will be added to the release; only critical bug fixes will be backported.

@dmlc/xgboost-committer

[2022-03-30 20:49] trivialfis commented on #7743
Feel free to close the issue.

[2022-03-30 21:41] nilslacroix commented on #7765
This really solved the problems, thanks a lot - however I am still getting a strange error.

 **ValueError: DataFrame.dtypes for data must be int, float, bool or category.  When categorical type is supplied, DMatrix parameter `enable_categorical` must be set to `True`. Invalid columns:Postcode, PropertyType**

Seems quite obvious. but I actually use encoders in my pipeline to encode all of the cat

[2022-03-30 23:05] #7765 closed

[2022-03-30 23:05] trivialfis commented on #7765
You are welcome.

[2022-03-30 23:24] hamsummit commented on #6596
Hi is there any update to this issue or its timeline? Seems like Spark 3.2 is now supporting Scala 2.13 at least.

Personally this is the only dependency blocking my project from upgrading to 2.13, so would appreciate an update on if it's still not planned for a while.

[2022-03-30 23:43] trivialfis commented on #6596
@wbo4958 Could you please take a look when you are available?

[2022-03-31 01:10] trivialfis commented on #7766
Python packages are uploaded.

[2022-03-31 01:39] trivialfis commented on #5785
On a single node, using dask is slower than using the local interface due to the overhead of TCP socket.

[2022-03-31 01:39] #5785 closed

[2022-03-31 01:44] #7743 closed

[2022-03-31 02:34] wbo4958 commented on #6596
This is no a high-priority issue, let's keep it here and will check it when I got time.

[2022-03-31 08:22] jinmfeng001 opened #7776 "For rank:pairewise objective, it needs partition the dataset on the group by user, and set numWorkers to be same as the partitions"
We are training a pairwisde model with rank:pairewise objective. We found that we have to pre partition our dataframe on group column when we setting the numWorkers > 1, otherwise the model performance will degrade. And we also found that we have to set the numWorkers to be same as the pre partition number, otherwise the model performance will degrade too.

[2022-03-31 21:49] rongou opened #7778 "Federated Learning RFC"
Here is a design proposal for initial support of Federated Learning. Please take a look and share you feedback. Thanks!

Partially addresses #5430.
@piiswrong @hcho3 @trivialfis @RAMitchell @tqchen @podcastinator

## Motivation
In many machine learning use cases, data owners (hospitals, banks, etc.) cannot share their private data with each other or with third parties, due to privacy regulations s

[2022-03-31 23:19] trivialfis commented on #5210
See https://github.com/dmlc/xgboost/pull/5761#issuecomment-1085223057 .

[2022-03-31 23:19] #5210 closed

[2022-03-31 23:28] trivialfis commented on #2087
Related https://github.com/dmlc/xgboost/issues/4840

[2022-04-01 01:42] hcho3 commented on #7778
I like the idea of abstracting the AllReduce primitive to support multiple AllReduce backends, including NVFlare. One possible source of complication is the data sketching step, where workers exchange details of the data matrix, including the number of features. @trivialfis is knowledgeable about this step.

[2022-04-02 00:08] wbo4958 commented on #7766
Please hold on, I would like to add some doc and samples for the GPU supporting in JVM package these days. @trivialfis

[2022-04-02 00:10] trivialfis commented on #7766
sure.

[2022-04-02 02:31] JSalter2013 commented on #7761
I managed to get something similar working by doing;

**pip install pipwin**
**pipwin install xgboost**

and then something like;

**pyinstaller your.py -F --onefile --add-data "c:\repos\workspaces\.env\lib\site-packages\xgboost\xgboost.dll;xgboost" --add-data "c:\repos\workspaces\.env\Lib\site-packages\xgboost\VERSION;xgboost"**

[2022-04-02 20:40] phisanti opened #7780 "Problem predicting in CPU using a model trained in GPU"
I am having some problems using the predict function of the xgboost package. It seems to originate from the fact that the machine was trained in a GPU but the prediction take place in a CPU only machine. I have also posted the issue [here](https://github.com/mlr-org/mlr3/issues/794) because I am not sure this issue arises from xgboost or mlr3. I have also seen that the issue has appeared in the py

[2022-04-02 20:52] trivialfis commented on #7780
Hi, here's my guess on what happened:

- The training parameter `updater` is used instead of `tree_method`.  Please choose the latter instead.
- The model is not persisted using `xgb.save`, please consider using this function for model serialization.

[2022-04-04 00:41] rongou commented on #7778
@hcho3 yeah with this initial version there would probably be some leakage in the quantile sketching step. Need to beef up security and privacy with further efforts.

[2022-04-04 06:24] marcrocasalonso commented on #7761
Dear JSalter2013,
I think that your solution could work for windows but not for Linux. Do you know any solution for linux ubuntu?

Thanks in advance,

[2022-04-04 10:40] iuiu34 opened #7782 "(scikit-learn api) (feature request) XGBRegressor with early stopping, dynamic eval_set"
XGBRegressor has the parameter eval_set, where you pass an evaluation set that regressor uses to perform early stopping.
Since this eval_set is fixed, when you do cross validation with n folds. In the n folds, eval_set is the same.

Would be cool to have the option that eval_set is dynamic at `fit` time, being a split from that particular fold. Find an example below.
IF you like the idea, happy to

[2022-04-04 21:48] hcho3 opened #7783 "Significant drop in model accuracy with hist method"
https://discuss.xgboost.ai/t/xgboost-xgboost-hist-and-lightgbm-benchmark-xgboost-hist-performance-drop/2719

[2022-04-05 01:12] wbo4958 commented on #7766
@trivialfis, I hope 1.6.0 release can include https://github.com/dmlc/xgboost/pull/7784 PR for the API issue.

[2022-04-05 01:30] trivialfis commented on #7783
The benchmark is using 1.5.2, will try to reproduce it later.

[2022-04-05 07:00] trivialfis commented on #7783
@hcho3 You fixed it in https://github.com/dmlc/xgboost/pull/7551 .

[2022-04-05 07:00] #7783 closed

[2022-04-05 19:08] iuiu34 opened #7785 "regressionchain does not accept nans, when base_estimator does"
XGBRegressors accepts nan values. Which is defined in the tag `force_all_finite='allow-nan`
But if define
[code]
Then raises the error
[code]

 In file "C:\\lib\site-packages\sklearn\multioutput.py", line 556, in _BaseChain.fit, doing something like
[code]
would solve the problem

[2022-04-06 06:14] gligorijevic opened #7786 "Significant precision lost with getModelDump() is affecting the model's performance when exported"
Dear all,

My team has a need to export XGBoost trained model into a c++ code for integration. We were able to export the model using the trees split information in the getModelDump() output, however, the output of the getModelDump() only provides *9 decimals precision* as per an [older pull request](https://github.com/dmlc/xgboost/pull/3298/commits/c3928b3a17b3ccaf9b9125398a2d78cef837091f#), whil

[2022-04-06 10:55] hcho3 commented on #7786
Also keep in mind that XGBoost uses 32-bit floats to store thresholds.

[2022-04-06 14:29] ChrisB831 opened #7787 "Distributed learning issue on Databricks cluster"
Hi All,

Apologies if this is the wrong place to flag this issue, please remove if so. I am having trouble distributing XGboost training on a Databricks cluster.

I have attached the Databricks notebook (exported as html) that details the problem but essentially….
[XGBoost distribution issue vGithub.zip](https://github.com/dmlc/xgboost/files/8427738/XGBoost.distribution.issue.vGithub.zip)
[XGBoost

[2022-04-07 05:51] gligorijevic commented on #7786
@trivialfis Thanks a lot for the reply! I have looked into the .json output of saveModel() function but there are a few limitations that are preventing me from using it:
- The split criteria has 1 decimal point less than getModelDump() which would further increase issues in reproduceability
- I couldn't find which key refers to features
- I couldn't find which key refers to leaf predictions, or ev

[2022-04-07 05:52] hcho3 commented on #7786
Yes, XGBoost consistently uses 32-bit float internally.

[2022-04-07 06:41] trivialfis commented on #7786
It's not about how many digits, but can we restore the binary representation of float from decimal representation written in string.  XGBoost adopts the ryu algorithm for serializing floating point, for details please see https://github.com/ulfjack/ryu Baseline is, you can restore the floating-point without any loss.

Also, `UBJSON` is a binary representation of JSON, which you can use without any

[2022-04-07 16:05] efh0888 opened #7790 "SHAP values not summing up to predictions when using predict(..., predcontrib = TRUE) in R package"
I've built 2 different xgboost classification models on (more or less) the same population of interest using the caret package. For one, the SHAP values produced match the predictions exactly, whereas for the other (with higher AUC) they do not match.

First model where SHAP values match the predictions (once converting to log-odds scale):

[code]
![image](https://user-images.githubusercontent.com

[2022-04-07 18:59] kransom14 commented on #7790
What are the differences in the training parameters between your two models? I've had problems with the shap values not adding up to the predictions when using alternative [loss functions ](https://github.com/dmlc/xgboost/issues/7448), or when including [weights](https://github.com/slundberg/shap/issues/2395) on my observations. Unfortunately, I haven't been able to resolve either of these cases a

[2022-04-07 19:21] hcho3 commented on #7790
Yes, currently, the SHAP values are computed in terms of marginal units. So the correct reference is `predict(..., outputmargin = TRUE)`.

[2022-04-07 19:44] efh0888 commented on #7790
@kransom14 I'm using the standard loss function and no weights. Oddly enough it appears to be an issue with caret. I realized that one difference was the original model was built on a full tuning grid of parameters whereas the second model I built just using the optimal parameters from a prior run (to save on computing time while in development). Sure enough, when I re-build the second model even

[2022-04-07 19:44] #7790 closed

[2022-04-07 20:02] efh0888 commented on #7790
@hcho3 so that would provide the SHAP values on the probability scale rather than the logistic scale?

[2022-04-07 20:44] gligorijevic commented on #7786
@trivialfis and @hcho3 thanks a lot for confirming that Scala XGBoost implementation uses 32-bit floats internally.

However, unfortunately I must follow up with a few more questions:
1. The prediction output of Scala XGBoost has **18 decimals of precision** which means it has 64-bit representation. How would it be possible to obtain 64-bit number by summing n 32-bit numbers and passing them throu

[2022-04-08 00:57] trivialfis commented on #7786
Hi, the dump model is only used for human inspection, please use save model for precise model persistent.  The latter can be loaded back to XGBoost while the former cannot.

Yes.

[2022-04-08 05:55] wbo4958 commented on #7787
AFAIK, the Databricks xgboost pyspark solution is based on XGBoost python packages. Maybe @trivialfis can help on that.

BTW, at the same time, could you set the num_round = 100 to see?

[2022-04-08 06:26] trivialfis commented on #7787
That package is not open sourced and I'm not sure how to reproduce the error on my local machine.

[2022-04-08 07:31] ChrisB831 commented on #7787
wbo4958
Just tried the runs with num_rounds set to 100 and still get the same issues unfortunately!

[2022-04-08 08:06] wbo4958 commented on #7787
@ChrisB831, please file an issue for databricks

[2022-04-08 08:23] ChrisB831 commented on #7787
wbo4958. I have done.
The response I get is "I got feedback from Engineering that this has nothing to do with distributing XGBoost and has to do with encoding on customer's data set. This needs to be addressed by ML-SME who can go over the theory and usage of this package."

Which seems a bit strange considering that all I am doing is encoding two nominal fields into one-hot encodings, pretty stan

[2022-04-08 23:16] gligorijevic commented on #7786
Hi there so I have looked models outputted into .json file, but given that precision is further cut even to getModelDump() I am not sure that it can reproduce output of XGBoost library.

XGBoost library definitely produces 64-bit output which is making a significant impact on performance on learned ensemble; coming back to my original question. I agree that the `tree_model` ([code](https://github.

[2022-04-08 23:33] trivialfis commented on #7786
One can get back the exact floating point from JSON model, which is mathematically proven by ryu and test proven by enumerating ALL 32-bit floating point numbers (the test is currently in XGB's c++ test suit).  For details about the prove, I recommend reading their paper.

Use XGBoost.  There's no other way for bit by bit replication, especially in parallel computing environment.  This is caused b

[2022-04-09 02:25] trivialfis commented on #7766
The final release will be delayed to April 13 with additional testing for JVM packages.

[2022-04-10 21:19] dss99911 opened #7794 "[jvm-packages] - sample code error with 'SparkContext has been shutdown' on AWS EMR"
I ran the [example code](https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/spark/SparkTraining.scala) on spark 3.1.2, xgboost4j-spark 1.5.2 on Mac local mode.
and it worked fine

but errored on AWS EMR 6.5.0, spark 3.1.2, xgboost4j-spark 1.5.2 with the error below
the error looks similar with https://github.com/dmlc/xgboost/is

[2022-04-11 07:37] #7785 closed

[2022-04-11 07:39] iuiu34 commented on #7785
unable to reproduce error. Following code works, and my code works too now. Maybe a version error.
[code]

[2022-04-11 09:58] xiaoxiao-Xu opened #7795 "[MSVC][permissive-] xgboost failed to build with error C3779 under /permissive- on MSVC"
Hi all,
The MSVC team recently added xgboost  as part of RWC testing. But we found error C3779 when building xgboost with '/permissive-'. Could you please take a quick look at the issue? Thanks in advance.

**Repro steps:**
1. git clone https://github.com/dmlc/xgboost.git F:\gitP\dmlc\xgboost
2. cd F:\gitP\dmlc\xgboost & mkdir build_amd64
3. set _CL_= /permissive-
4. cd F:\gitP\dmlc\xgboost\build_

[2022-04-11 14:45] rohitpatra opened #7796 "How to incorporate additional information into a custom objective in xgboost?"
Hi All,

I am new to XgBoost and I am trying to create a custom objective, where the loss function depends on information other than the prediction and label. The only way to modify the hessian and the gradient for the XgBoost seems to be via get_weight().
For example as suggested [here](https://github.com/dmlc/xgboost/issues/3187#issuecomment-388026837)

def obj_rmse(preds, dtrain):
x = preds - d

[2022-04-11 15:10] s0810110 opened #7797 "cannot import name 'lazy_isinstance' from 'xgboost.compat'"
This issue has been found when importing xgboost in jupyter lab. I have tried using Xgboost versions 1.5.1 and 1.5.2 and the same error occurs. I have also tried deleting and re-installing Xgboost. Changing to version 1.0.1 did not resolve the issue.

![image](https://user-images.githubusercontent.com/10169207/162769616-9e064883-2a81-4f11-986e-46e8b32552a8.png)

Solving this issue would benefit th

[2022-04-12 03:54] trivialfis commented on #7797
How did you install XGBoost?

[2022-04-12 03:58] trivialfis commented on #7796
Consider the following examples:
[code]

[code]

[2022-04-12 03:58] #7796 closed

[2022-04-12 04:00] trivialfis commented on #7795
I don't currently have a windows machine at hand, would you like to submit a fix?

[2022-04-12 04:01] trivialfis commented on #7794
Could you please specify the Python version on your driver node?  XGBoost requires Python >= 3.7 .

[2022-04-12 05:47] xiaoxiao-Xu commented on #7795
@trivialfis No. We recently failed to build xgboost with '/permissive-'. So, I reported a new issue here.

[2022-04-12 11:06] s0810110 commented on #7797
@trivialfis. I had used pip install Xgboost==1.5.2 within jupyter lab

[2022-04-12 13:21] prashanthin opened #7799 "How to get regression coefficients from XGB regression model?"
Hi team,

I am curious to know how/whether we can get regression coefficients values and intercept from XGB regressor model? Or how to interpret relative effect in regression model variables to target like coefficients in linear regression?

Thanks,
Prashant

[2022-04-12 15:57] hcho3 commented on #7795
@xiaoxiao-Xu Other C++ compilers, such as GCC, is able to compile XGBoost successfully. So we will not prioritize this issue for a while. Thanks for your understanding.

[2022-04-13 01:46] tkone2018 commented on #7427
我也遇到这个错了，请问你解决了吗 ? @liuyonglang

[2022-04-13 01:53] tkone2018 commented on #7276
@conglt98 hello,did you solve it ? XGBoostModel training failed

[2022-04-13 01:56] tkone2018 commented on #6135
@zepen did you solve it ?

[2022-04-13 01:57] tkone2018 commented on #6135
@zepen 请问你解决了吗

[2022-04-13 01:58] tkone2018 commented on #5357
@withing1113 did you solve it?

[2022-04-13 02:12] wbo4958 commented on #7276
@tkone2018 could you file a new issue and provide the driver/executor log?

[2022-04-13 02:38] dss99911 commented on #7794
the python version is 3.7.9

[2022-04-13 03:46] wbo4958 opened #7802 "[jvm-packages] bridge the gaps between jvm package and native xgboost"
JVM-packages is far behind the native XGBoost. I would like to file this issue to track some missing features or bugs that should be fixed in the incoming 2.0.0 release. Please feel free to add some.

## New Features
- [ ] Jvm packages Parameters.
   - [ ] Unify the parameters,
   - [ ] Extract the common setXXX APIs into the parent class instead of re-defining them in XGBoostClassifier and XGBoos

[2022-04-13 06:37] trivialfis commented on #7794
@dss99911 I think a double-check might help:

[code]

That's an error about the use of `f-string` in Python, which is available after Python 3.6.

[2022-04-13 06:40] trivialfis commented on #7797
I can't reproduce this.  Please start a fresh Python environment and try again.  I suspect there are some errors in the installation.

[2022-04-13 09:05] xiaoxiao-Xu commented on #7795
Ok. Thanks for your first look.
If the issue was fixed, please let me know.

[2022-04-13 09:33] ICDI0906 opened #7804 "split value problem"
I trained a  xgboost model, which has a feature with a range [0-1]. When I visualize the model, I found the split value is greater than 1, why occurred the Phenomenon?
xgboost version==0.82

[2022-04-13 12:25] s0810110 commented on #7797
when I remove manually references to lazy, the package worked. Is there any negative effects from doing this? How do you means starting a fresh environment in practical terms, do you mean restart the jupyter session?

[2022-04-13 13:35] trivialfis commented on #7796
Yes. The whole data, no sampling occurs in the objective.

As above.

You are welcome.

[2022-04-13 13:39] trivialfis commented on #7797
Yes. Any section of code that uses this function will stop working.

Apologies for the ambiguity. I meant recreating the Python environment like virtualenv or conda env, so that we can reinstall the packages without conflicts.

[2022-04-13 13:42] trivialfis commented on #7799
If you are using gblinear with Python, feel free to look into `XGBRegressor.intercept_` and `coef_` properties. Also `gblinear` supports feature importance.  Hope that helps.

[2022-04-13 13:42] #7799 closed

[2022-04-13 13:43] trivialfis commented on #7804
Please upgrade to the latest XGBoost, if the issue persists please provide a reproducible example.  I can't guess the answer without concrete code.

[2022-04-13 13:43] #7804 closed

[2022-04-13 21:00] dss99911 commented on #7794
@trivialfis I double-checked and found the below. please review

driver node shell
[code]

spark-shell
[code]

pyspark also uses Python 3.7.9

I think the AWS EMR contains python2 and python3 both. but the python command is aliased to python3. so, pyspark is running on python3
but, on scala, python is not aliased. so, it uses python2.

I'm not sure what is the best approach.
but, [spark environmen

[2022-04-13 22:49] patmira opened #7805 "Different prediction results between Java and Python xgboost libraries"
I am trying to use xgboost4j library to predict same results as that of Python library.
Java library: `xgboost4j`
Python library: `XGBoost: 1.5.2`

I have an xgboost model (json file), following are the ways I am trying to use xgboost library to predict the results:

Python:
[code]
Outcome: `[1.6198376, 2.4502726, 1.6700827]`

Java
[code]
Outcome: `[0.35003328, 2.3232524, 0.8820881]`

Can someone

[2022-04-13 23:30] hcho3 commented on #7805
Please specify the `missing` argument when constructing the DMatrix, as follows:
[code]
See the [documentation](https://xgboost.readthedocs.io/en/latest/jvm/javadocs/ml/dmlc/xgboost4j/java/DMatrix.html#DMatrix-float:A-int-int-float-).

[2022-04-13 23:30] #7805 closed

[2022-04-14 00:27] dss99911 commented on #7794
when I create EMR cluster by this tutorial(https://nvidia.github.io/spark-rapids/docs/get-started/getting-started-aws-emr.html)
it's working fine.
I think something related to jar(I used fatjar previously) or some configuration.
as it's solved by this way. I'll close the issue.
thanks for the support

[2022-04-14 00:27] #7794 closed

[2022-04-14 04:16] patmira commented on #7805
Thanks, that worked.

[2022-04-14 16:17] NikithaVenkat commented on #5102
raise ValueError(label_encoding_check_error)
ValueError: The label must consist of integer labels of form 0, 1, 2, ..., [num_class - 1].

My target variables contain 0 and 1. I am using an ensemble model, so my other target variable contains nulls as well along with 0 and 1. Is that causing the problem?

I have already used use_label_encoder=False, Could you kindly let me know if you know any othe

[2022-04-14 16:43] trivialfis commented on #5102
@NikithaVenkat Could you please open a new issue with a reproducible example we can run?

[2022-04-14 16:53] NikithaVenkat opened #7809 "ValueError: The label must consist of integer labels of form 0, 1, 2, ..., [num_class - 1]."
raise ValueError(label_encoding_check_error)
ValueError: The label must consist of integer labels of form 0, 1, 2, ..., [num_class - 1].

My target variables contain 0 and 1. I am using an ensemble model, so my other target variable contains nulls as well along with 0 and 1. Is that causing the problem?

I have already used use_label_encoder=False, Could you kindly let me know if you know any othe

[2022-04-14 17:03] NikithaVenkat commented on #5102
https://github.com/dmlc/xgboost/issues/7809
Done Thanks

[2022-04-15 08:28] #7700 closed

[2022-04-15 18:08] trivialfis commented on #7809
Might be.  sklearn still validates the input values.  Also, XGBoost doesn't support sparse labels so even if you can get around the sklearn error, there will be a XGBoost error afterward.

[2022-04-15 20:50] flippercy opened #7814 "Could we make monotone_constraints applicable to gblinear?"
Hi @hcho3 , @terrytangyuan:

Is it possible to make monotone_constraint applicable to gblinear so the direction of every variable in the final linear model can be controlled? It is a common requirement from regulators.

Thank you!

[2022-04-15 21:03] hcho3 commented on #7814
Marking this as a feature request. Enabling monotone constraints for gblinear will involve significant amount of engineering effort.

[2022-04-15 21:26] flippercy commented on #7814
Thank you @hcho3. We observed that in high dimension space, the model returned by gblinear sometimes performed better than glmnet. Not sure of the reasons for it.

In highly regulated industries, people still prefer linear models with coefficients under complete control. So I will be very grateful if this feature can be added in the future.

[2022-04-16 03:28] wbo4958 commented on #7700
@FelixDuong I just had a PR to fix this issue by specifying the rabit tracker host IP
[code]

The PR will be shipped in 1.6.0 release.

[2022-04-16 03:29] wbo4958 commented on #7794
@dss99911

 I just had a PR to fix this issue by specifying the rabit tracker host IP

[code]

The PR will be shipped in 1.6.0 release.

[2022-04-16 03:34] wbo4958 commented on #7632
@musram, Could you have the minium script and data to repro it?

[2022-04-16 03:38] wbo4958 commented on #7352
@arunbhat

I just had a PR to fix this issue by specifying the rabit tracker host IP
[code]

The PR will be shipped in 1.6.0 release.

[2022-04-16 04:23] #7726 closed

[2022-04-16 04:28] trivialfis commented on #7814
The feature request is duplicated to https://github.com/dmlc/xgboost/issues/6545 . Let's focus the discussion in one issue.

[2022-04-16 04:28] #7814 closed

[2022-04-16 04:30] trivialfis commented on #7787
I don't think we can resolve this issue without having access to the code. @wbo4958 is working on the pyspark interface, will close related issues until the support is in place.

[2022-04-16 04:30] #7787 closed

[2022-04-16 04:45] trivialfis commented on #7032
Closing due to stalled.  Feel free to reopen if the issue persists with the latest dask/xgboost.  Also, one can avoid hang caused by restarted worker by setting the `distributed.scheduler.allowed-failures` dask configuration. See https://distributed.dask.org/en/stable/killed.html for details.

[2022-04-16 04:45] #7032 closed

[2022-04-16 04:46] trivialfis commented on #7140
Closing due to stalled.  Feel free to reopen if the issue persists with the latest packages.

[2022-04-16 04:46] #7140 closed

[2022-04-16 04:47] trivialfis commented on #7750
Closing due to lack of response.

[2022-04-16 04:47] #7750 closed

[2022-04-16 04:49] trivialfis commented on #7797
Closing as I don't think this is a bug in XGBoost.  If importing somehow breaks there's a deeper issue in the Python environment.

[2022-04-16 04:49] #7797 closed

[2022-04-16 04:49] trivialfis commented on #7786
Closing as this can be resolved by using either JSON or UBJ.

[2022-04-16 04:49] #7786 closed

[2022-04-16 04:52] gligorijevic commented on #7786
Thank you for your replies @trivialfis, they helped us understand the problems much better!

We made an effort to analyze deeper the source code and see if we would be able to replicate scores of XGBoost library, though as you suggested it does seem to be a very challenging task.

Having said that, the precision within 32 bit precision is showing >99.5% overlap with extracted GBM model, though com

[2022-04-16 04:52] trivialfis commented on #7138
Closing as we won't focus too much on the exact tree method in terms of computation performance.

[2022-04-16 04:52] #7138 closed

[2022-04-16 04:56] trivialfis commented on #7352
Aside from the fix by @wbo4958 , the tracker also uses port 0 to obtain available ports from the system.  The issue should be fixed now.  Feel free to reopen if it persists.

[2022-04-16 04:56] #7352 closed

[2022-04-16 04:58] trivialfis commented on #4440
Closing due to stalled.  If the issue persists in the latest XGBoost please open a new issue with a reproducible example that we can help debug.

[2022-04-16 04:58] #4440 closed

[2022-04-16 05:03] trivialfis commented on #5071
Closing in favor of https://github.com/dmlc/xgboost/issues/4765 .

[2022-04-16 05:03] #5071 closed

[2022-04-16 05:03] trivialfis commented on #7809
Feel free to reopen if there's a more specific feature request.

[2022-04-16 05:03] #7809 closed

[2022-04-16 05:06] trivialfis commented on #6993
Small variance in the result is expected due to different hardware instructions and floating point errors.

[2022-04-16 05:06] #6993 closed

[2022-04-16 05:09] trivialfis commented on #6022
The difference mostly comes from sketching

[2022-04-16 05:09] #6022 closed

[2022-04-16 08:11] trivialfis commented on #7766
@hcho3 I have uploaded the Python packages and will submit the CRAN package later today, could you please help submit the jvm packages?

[2022-04-16 20:00] hcho3 commented on #7766
@trivialfis Yes, I'll submit the JVM packages.

[2022-04-17 11:29] trivialfis commented on #7766
@hcho3 Thank you!

In the meanwhile, CRAN checks are pending: https://cran.r-project.org/web/checks/check_results_xgboost.html .

[2022-04-18 23:41] arunbhat commented on #7352
Thanks! Is the PR this [one](https://github.com/dmlc/xgboost/pull/7808/files)? Are changes needed in allreduce_base.cc too? And how exactly is the hostIp set (not sure which configuration file and where to set it). We would need to automate the setting of the host-ip in our clusters (where the workers run inside containers).

[2022-04-19 03:39] Ruihaoh commented on #6885
Hi everyone, I found a easy way to fix this bug. This is due to reason that nloglik goes to infinity or nan then it can't be converted into float.

in the xgboost\callback.py file

change line:  "cvmap[(metric_idx, k)].append(float(v))"

to:                "            try:
                                     cvmap[(metric_idx, k)].append(float(v))
                                 except:

[2022-04-19 08:05] iuiu34 opened #7817 "support numpy categorical in xgboost sklearn (`categorical_features` param)"
**Context**
xgboost==1.6.0 has released support for categorical data [link](https://xgboost.readthedocs.io/en/latest/tutorials/categorical.html)
Right now, using scikit-learn interface, the idea is to ingest a `pandas/cudf Dataframe` with categorical columns as `category`
[code]
Problem with that is that a lot of functions in sklearn output or expect an input of `numpy array` type.
For example, pr

[2022-04-19 08:18] trivialfis commented on #7817
Thank you for the detailed solutions. Exposing `feature_types` to sklearn interface is the next logical step, I will work on it in this release.

[2022-04-19 09:01] gcaria opened #7818 "Unusual state of dask workers and tasks when using `DaskXGBRegressor.predict`"
[code]

Running this MRE I see in the dask dashboard that the single `Booster` task is still present, and that the workers' memory is still occupied after the cell has finished the computation (that is, I can run other cells in the notebook I'm using).
It is hard to see the workers memory consumption for such a small dataframe, but this is clearer using a much larger one.

Something else that I fi

[2022-04-19 14:36] hcho3 commented on #7766
JVM packages are now up.

[2022-04-19 17:18] trivialfis commented on #7766
Excellent!

[2022-04-19 17:18] #7766 closed

[2022-04-19 17:22] trivialfis commented on #7818
Could you please share the version of xgboost/dask you are using?  Also, could you please try the latest xgboost (1.6)?

[2022-04-19 17:25] trivialfis opened #7819 "Expose model shape to Python interface."
https://github.com/ray-project/xgboost_ray/pull/212#discussion_r853154092

[2022-04-20 01:12] alebcay opened #7820 "ICE encountered when compiling xgboost 1.6.0 with GCC 5.4.0"
Hello 👋 in the process of packaging XGBoost 1.6.0 for [Homebrew](https://brew.sh), we encountered the following compiler error when compiling on Linux (environment has GCC 5.4.0):

[code]

From my limited understanding, this ICE seems to be caused by a bug in GCC that has been fixed in more recent versions: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=80543

GCC 5.4.0 is pretty old, so I would und

[2022-04-20 11:27] trivialfis commented on #7820
Thank you for sharing the information.  If homebrew can use newer gcc then I think we don't have to work around it.

[2022-04-20 15:21] linnabrown opened #7824 "The installation error of xgboost in r-4.0.1"
Selection: 78
trying URL 'https://mirrors.nics.utk.edu/cran/src/contrib/xgboost_1.6.0.1.tar.gz'
Content type 'application/x-gzip' length 1062074 bytes (1.0 MB)
==================================================
downloaded 1.0 MB

* installing *source* package ‘xgboost’ ...
** package ‘xgboost’ successfully unpacked and MD5 sums checked
** using staged installation
checking for gcc... gcc
checking

[2022-04-20 15:58] trivialfis commented on #7824
that's interesting, the linux checks on cran all passed: https://cran.r-project.org/web/checks/check_results_xgboost.html

Could you please share your compiler version?

[2022-04-20 16:04] hihaluemen opened #7825 "How to col-sampling with weight？"
Now I have a requirement to weight the features of the input data. But i don't know how to col-sampling with weight？
For example, I have a input data like this
X_data = array([[0.18367105, 0.16241563, 0.20352988, 0.90231236],
                        [0.06338786, 0.50989827, 0.06611807, 0.39955355],
                        [0.15928815, 0.14450292, 0.9441908 , 0.34934211]]);

and a feature weight,
w

[2022-04-20 18:56] hcho3 commented on #7825
Take a look at https://github.com/dmlc/xgboost/blob/master/demo/guide-python/feature_weights.py. You should pass `feature_weights` when building the DMatrix.

[2022-04-20 18:56] #7825 closed

[2022-04-20 19:29] alebcay commented on #7820
Yes, not a blocking issue for Homebrew (we're building it with newer GCC now). Just wanted to mention it here in case it was worth fixing in general (or as documentation for anyone else stuck with older compilers).

[2022-04-20 23:17] jiho commented on #7583
I can confirm that, in 1.6.0.1 in R, setting `nthread` on `xgb.Train` has the expected result in `predict`(i.e. the behaviour that depends on the previous execution disappears).

Changing this through `xgb.parameters()` before prediction works as expected.

Setting it through `model$params$nthread` still does nothing.

[2022-04-21 00:01] hcho3 commented on #7583
`model$params` is meant to be read-only. Parameters should be set using `xgb.parameters <-`.

[2022-04-21 01:36] zhnnix commented on #7761
@marcrocasalonso
There are the same error for me. It bothered me for two days.

There is a solution for it.
https://github.com/pyinstaller/pyinstaller/pull/4077/commits/a11e82681b697b36b2690ffa8365acd130b8885d

But that commit do not re-target to the https://github.com/pyinstaller/pyinstaller-hooks-contrib repo.

Temporary,
add that hook-xgboost.py into PYTHONHOME/lib/site-package/_pyinstaller_hoo

[2022-04-21 05:15] trivialfis commented on #7824
Could you please find a newer system? 4.8 is ancient

[2022-04-21 05:21] trivialfis commented on #7782
Thank you for the offer, I understand that sklearn is doing es this way.  But we have to consider other information than weight, also GPU data structure and distributed training.  It might not be a flexible design that we embed data partition into our code.

[2022-04-21 06:07] trivialfis commented on #7782
Having said that, I would welcome any discussion around the feature and design.

[2022-04-21 07:30] iuiu34 commented on #7782
assuming we're talking about `XGBRegressor` (`XGBClassifer` is equivalent)

I see 3 options

**Option 1 - new class**
Define new class `XGBRegressorWithEarlyStop` as above.
This will add the feature, without altering native class.
But then you have 2 very similar classes, more documentation to maintain, etc.

**Option 2 - implicit params**
We don't add any new param to `XGBRegressor`.
But now if w

[2022-04-21 07:42] trivialfis commented on #7782
Option 2 seems to be reasonable:
[code]
I think we would like to keep the `eval_set` in `fit`, as it's a data-dependent parameter and should be specified under the `fit` method according to the sklearn estimator guideline.

The next issue is parameters other than `sample_weight`, we also have `base_margin` for all estimators. Also, we have learning-to-rank and survival training is coming to the sk