[2019-09-19 16:53] trivialfis commented on #4875
We can add more checks for it like whether it's a list containing tuple, but might be too rigid.  Or something like iterable... Do you have any suggestions?

[2019-09-19 17:49] hcho3 commented on #4753
@chenqin It's epic :)

[2019-09-19 17:56] cibic89 commented on #4875
The easiest option is to return the native or near native error. Pretty content personally with the python API error descriptions returned.
________________________________
From: Jiaming Yuan <notifications@github.com>
Sent: Thursday, September 19, 2019 5:54:40 PM
To: dmlc/xgboost <xgboost@noreply.github.com>
Cc: George J <gjnet@live.com>; Author <author@noreply.github.com>
Subject: Re: [dmlc/xgbo

[2019-09-19 21:27] chenqin commented on #4861
https://github.com/dmlc/xgboost/pull/4876

[2019-09-20 03:42] mayhuifu commented on #1715
use the os.environ['KMP_DUPLICATE_LIB_OK']='True' works but was not recommended. use Conda install nomkl looks running endless, has to kill it. use conda update -n base Conda works and it updated the lib

[2019-09-20 09:01] trivialfis commented on #4875
@cibic89 Thanks.  See if we can polish the interface more.

[2019-09-20 11:50] gisandnes opened #4877 "Xgboost modeling inside multiprocessing.Process fails on second run, on GPU-server"
This issue has also been published on https://stackoverflow.com/questions/58027673/pickled-xgboost-model-from-multiprocessing-process-fails-on-second-pickle-load

I have problems with combining xgboost, multiprocessing and pickle on a GPU-server. It works on my Mac.

I am running xgboost 0.90 in a Python 3.7.4 Conda environment on a Linux server (Quadro M5000 GPU card, and "Red Hat Enterprise Linu

[2019-09-20 13:17] trivialfis commented on #4877
Thanks for the issue.  Will try to fix it.

[2019-09-20 19:27] sonalipatil opened #4878 "Loading model from disk uses cpu_predictor instead of gpu_predictor"
I noticed similar discussion on using XGBoost with R on https://discuss.xgboost.ai . However, with python I am still facing the issue. At the time of training GPU was utilized and at the time of prediction XGBoost is using CPU. Note that I used incremental training. I have tried both scikit-learn wrappers and calling XGBoost api directly.

My dataset size is very large so I am using np.memmap to l

[2019-09-21 09:36] trivialfis commented on #4877
@gisandnes The tricky thing here is reloading the closure in different environments.  Normally if you are only saving the trees (strictly the model) then everything is fine, but with environments like gpu id things got out of control.  See https://github.com/dmlc/xgboost/issues/4855 for more details.  I intend to fix these things once for all in that issue.  Might take some time to materialize it.

[2019-09-21 19:22] sonalipatil commented on #4878
Just an update, when I loaded the pickled model for every batch iteration with 'verbosity':3 flag then it started printing out the debug messages that it's running on GPU. I am just bit confused why "watch" command on "nvidia-smi" doesn't show any GPU usage. Is the requirement of loading the model at every iteration intentional ?  Somehow the model gets reset when loaded only once and called at ev

[2019-09-21 19:25] vengodelsur commented on #4840
Related papers:
SAMME (multiclass AdaBoost) https://web.stanford.edu/~hastie/Papers/samme.pdf
Tensorflow Boosted trees implementation https://arxiv.org/abs/1710.11547

[2019-09-22 06:02] appleyuchi opened #4881 "XGboost don't support some GPU well."
With the **same code and same datasets** in:
https://www.kaggle.com/xhlulu/ieee-fraud-xgboost-with-gpu-fit-in-40s

Kaggle Notebook with  Tesla P100-PCIE-16GB,complete training in less than **40s**

Colab   Notebook with NVIDIA Corporation GK210GL [Tesla K80] (rev a1):
complete training in **15 minutes.**

What I want to say is:
**Does some GPU support xgboost NOT very well?**

[2019-09-22 11:51] trivialfis commented on #4881
@appleyuchi That requires serious benchmarking across different GPUs and with different shapes of dataset.  It might be K80 doesn't have enough shared memory for building histogram, I'm not sure.

[2019-09-22 13:36] billbargens commented on #4774
what does the iteration mean here?

[2019-09-22 14:56] melonki opened #4882 "Building for R with GPU support fails in the last step in Win10"
Dear Contributors and Members,
I tried to build xgboost for R with GPU support following the official documentation [https://xgboost.readthedocs.io/en/latest/build.html#installing-r-package-with-gpu-support](url) and stack overflow [.](https://stackoverflow.com/questions/52307360/r-xgboost-how-to-compile-xgboost-with-gpu-support-on-windows-10)
My setup: Windows Server 2016 Datacenter，GPU: TITAN V.

[2019-09-22 18:45] trivialfis commented on #4882
Em ... That's my mistake.

How difficult it's to make `std::isnan` working: https://github.com/dmlc/xgboost/pull/4850#issuecomment-531092775

[2019-09-22 22:40] chenqin commented on #4774
@billbargens
one iteration = building one tree here.

[2019-09-23 01:55] appleyuchi commented on #4881
@trivialfis
Thanks for your replies.
I have used the **same datasets and same code.**
I think it's rigorous and strict comparision.

And NO I/O effect,because all datasets are temporarily stored in memory.
.

[2019-09-23 02:37] hcho3 commented on #4881
@appleyuchi From [this page](https://en.wikipedia.org/wiki/CUDA), you can look up the compute capability of NVIDIA GPUs.

* Tesla K80: **3.7** (Kepler)
* Tesla P100: **6.0** (Pascal)

While XGBoost supports older generation cards, it is likely that you'll see performance improvement when using later generations.

[2019-09-23 04:31] melonki commented on #4882
So what should I do to fix it?

[2019-09-23 05:00] trivialfis commented on #4882
@melonki I'm trying to see what macros are needed to get `isnan` working in #4883 .  If you want a quick fix, revert 4850

[2019-09-23 05:45] appleyuchi commented on #4881
@hcho3
Thanks for your replies.
I have no knowlege on cudn.
Could you tell me which series will supoort XGBoost Well and which will NOT?
Thanks~!

[2019-09-23 11:18] trivialfis commented on #4878
Labelled as blocking.  I have to get these model io right before 1.0

[2019-09-23 16:40] rongou commented on #4881
We haven't really done benchmarks across different generations of GPUs. You can look at this page (https://en.wikipedia.org/wiki/Nvidia_Tesla) to compare the specs between K80 and P100. Based on clock speed and memory bus width/bandwidth etc., you can see the P100 is a much more capable GPU than the K80, so perhaps the numbers you got are not that surprising.

Based on personal experience, gpu mem

[2019-09-23 16:48] thvasilo opened #4886 "Was support for HDFS dropped?"
About a year ago when I was last doing distributed XGBoost experiments I was able to build from source with the `USE_HDFS=ON` option so that I could run distributed training from the cli.

I can't find that option in CMake any more and trying to run XGBoost applications causes errors like

[code]

Is there some process I'm missing to build with HDFS support? Is using Spark the only way to run dist

[2019-09-23 17:13] trivialfis commented on #4886
The option is in `dmlc-core` instead of XGBoost,  but since `dmlc-core` is submodule so it should be effective.  I'm not sure about the error. @CodingCat Is there additional things we need to do in XGBoost for supporting HDFS in XGBoost?

[2019-09-23 17:43] trivialfis commented on #4886
I just verified the `USE_HDFS` parameter is effective in compilation.

[2019-09-23 17:45] CodingCat commented on #4886
as far as I know, no,

[2019-09-23 17:54] trivialfis opened #4887 "Propergate CMake parameters from `dmlc-core` and `rabit`."
Other than the possible bug, #4886 did alert me that we need to support whatever CMake parameters that are defined in `dmlc-core` and `rabit`.  I plan to copy some of them into XGBoost CMakeLists.txt for better documentation purpose. This is a reminder for future PR.

[2019-09-23 19:44] randerzander commented on #4813
I edited my comment above. It actually looks like Colab is x86_64 as well.

Any suggestions on other information to get?

[2019-09-23 20:34] hcho3 commented on #4881
@rongou So is it fair to say that P100/V100 are more powerful than K80 or other Kepler cards?

[2019-09-23 22:03] hcho3 commented on #4813
@randerzander Can you also print out the version of PIP package?

[2019-09-23 22:06] hcho3 commented on #4813
@randerzander The wheel URL is wrong. Try
[code]

[2019-09-23 22:44] hcho3 commented on #4869
@trivialfis All exceptions must not be allowed to escape OpenMP regions. Any uncaught exception inside OpenMP loops will cause the whole program to crash. See https://software.intel.com/en-us/blogs/2009/11/05/openmp-and-exceptions.

DMLC-Core offers a wrapper called `dmlc::OMPException` ((link)[https://github.com/dmlc/dmlc-core/blob/d06aceb92be200c9649258da726be6bb8e4d6556/include/dmlc/common.h#L5

[2019-09-23 23:20] rongou commented on #4881
@hcho3 yeah in general each new generation should perform better than the last, so V100 > P100 >> K80. The T4 is sort of an exception since it's a low cost card targeted at "inference".

BTW the G4 instance is available now, we probably should switch to that for GPU tests: https://aws.amazon.com/blogs/aws/now-available-ec2-instances-g4-with-nvidia-t4-tensor-core-gpus/

[2019-09-24 00:40] hcho3 commented on #4881
@rongou That's good news! It's cheaper than P2/P3 and also uses new microarchitecture.

@appleyuchi For now, it would be safe to assume that newer NVIDIA cards would outperform older ones.

[2019-09-24 01:34] #4882 closed

[2019-09-24 02:21] trivialfis commented on #4869
@hcho3 Thanks for the pointer.  Let me see how can I put it into our `Transfrom` function.

[2019-09-24 03:51] borisclemencon opened #4888 "eval_sets not taken into account for"
### Goal

Train a cross validation XGBoostClassifierModel with Spark ML API to leverage Spark parallelism and nice hyper-parameter tuning API while stopping early if eval set metric is not improving after n iterations.

### Issue
Early stopping and eval_sets capabilities do not work when using a ```CrossValidator```, whereas it works fine when fitting a simple ```XGBoostClassifier```.

### Config:

[2019-09-24 10:57] #4820 closed

[2019-09-24 12:31] trivialfis commented on #4886
Let me take a closer look tomorrow.

[2019-09-24 13:25] thvasilo commented on #4886
Possible root cause: https://github.com/dmlc/dmlc-core/pull/262#issuecomment-513555466

Marked as an [issue](https://github.com/dmlc/dmlc-core/issues/552) by @hcho3 back in August.

[2019-09-24 14:42] thvasilo opened #4890 "[jvm-package] YARN training throws errors"
I tried compiling XGBoost with S3 support and submitting a job, following the [old guide from 0.72](https://xgboost.readthedocs.io/en/release_0.72/tutorials/aws_yarn.html#).

Tested with 0.72, the job completes as expected. But under  master I'm getting this error:

[code]

Has anyone encountered something similar?  Any idea which change since 0.72 would cause something like this? My guess might b

[2019-09-24 15:24] appleyuchi commented on #4881
@hcho3
Thank you~!
Got it~!

[2019-09-24 16:32] loretoparisi commented on #3439
+1 for Multiple output regression

[2019-09-24 16:34] loretoparisi commented on #2087
In the meanwhile there is any alternative, like any ensemble of single output models?

[2019-09-25 03:39] jimmywan commented on #2087
https://scikit-learn.org/stable/modules/generated/sklearn.multioutput.MultiOutputRegressor.html

[2019-09-25 05:30] #4814 closed

[2019-09-25 05:55] trivialfis commented on #4855
Working on it.  Might take some time due to the massive changes.

[2019-09-25 13:31] pallabkarmakar opened #4892 "Is dmlc-core and rabit required to Include while compiling for demo/c-api build"
Hi,

Do we really need to include /dmlc-core/include and /rabit/include to build demo/c-api.

I have included /include directory though and able to compile and run the executable.

I am using xgboost for plane C++ linux project.

During Xgboost cmake rabit and dmlc-core build was disabled as i only need for linux system.

Could you please help me if those include really required or not?

[2019-09-25 13:44] codingforfun opened #4893 "Refactor to eliminate relative include paths into source dir"
There are a lot of places in the code where the following pattern of including paths outside the current dirs directory tree is used.
https://github.com/dmlc/xgboost/blob/82ee2317e80f93465685529e1ab9acff52b683c7/include/xgboost/data.h#L22-L24
https://github.com/dmlc/xgboost/blob/82ee2317e80f93465685529e1ab9acff52b683c7/include/xgboost/gbm.h#L24
I think this is very bad practice and I don’t underst

[2019-09-25 14:36] trivialfis commented on #4893
Yep.  It needs cleaning.

[2019-09-25 16:15] hcho3 opened #4894 "[RFC] Expose C++ headers as part of the CMake target"
For more context, see discussion at https://discuss.xgboost.ai/t/is-there-a-c-api-document-and-usage-examples/592/10.

@codingforfun suggested that the C++ headers in XGBoost should be exposed to 3rd-party applications via the CMake target `xgboost`. I initially objected because future refactoring would change C++ interfaces, but @codingforfun replied that API stability is not as important in his

[2019-09-25 16:17] hcho3 commented on #4893
+1

[2019-09-25 16:35] trivialfis commented on #4894
Thanks for bringing this up.  I have the thought to build a clean c++ interface with feature parity with Python.  If someone wants to give it a go I'm happy to help.

[2019-09-25 16:35] hcho3 commented on #4892
No, your application does not need to include these headers. XGBoost codebase will include them internally for necessary functionalities.

[2019-09-25 16:37] hcho3 commented on #4894
@trivialfis This proposal is different from building a Python-like interface in C++. It is a simple change in CMakeLists.txt to include C++ headers in the CMake target `xgboost`. Let me create a separate thread about Python-like interface in C++.

[2019-09-25 16:41] hcho3 opened #4895 "[Feature request] Python-like interface for modern C++"
#4894 proposes to expose C++ headers to 3rd-party applications. As an extension, we should also consider building a Python-like frontend in modern C++. I'm thinking something like https://pytorch.org/cppdocs/frontend.html#end-to-end-example, where PyTorch offers a complete modern C++ API that's at feature parity with the Python package.

In particular, features like early stopping should be availa

[2019-09-25 16:43] trivialfis commented on #4894
Cool. Still agreed.  Actually I can submit a PR for that since I wrote most of the CMake  scripts...  As long as we don't promise any compatibility for it.

[2019-09-25 16:44] hcho3 commented on #4894
@trivialfis Thanks. That would be great. Let's address this RFC first, and then we can later tackle #4895.

[2019-09-25 16:47] codingforfun commented on #4894
I think to make this really usable it’s necessary to first/also fix #4893.
I did patch CMakeLists.txt of XGB in my build process to include the C++ interface, but since of #4893 it requires ugly hacks because otherwise the installed include from `${PREFIX}/include/` aren’t usable.

[2019-09-25 16:55] trivialfis commented on #4894
@codingforfun Don't worry about that.  Will work on it tomorrow.

[2019-09-25 17:04] trivialfis commented on #4895
Yeah, I love the interface from pytorch.  Too bad the torch script is based on Python.

[2019-09-25 17:34] erotavlas opened #4896 "IndexError: tuple index out of range"
I keep getting this error and I don't know how to solve it, as far as I know my data is in the correct format, single columns for both x and y

[code]

Code to reproduce this is as follows (run on Windows 10 x64 machine, XGBoost installed to Anaconda env)

[code]

[2019-09-25 23:45] viirya commented on #4786
Hmm, is it a good thing for data diversity on learning? Does not it make some bias on data distribution?

[2019-09-25 23:55] CodingCat commented on #4786
it will not,

(1) the input to the partition is not based on a single feature, but all features, so suppose we have [0, 0, 1] in the first row, [0, 0, 2] in the second row, in most of cases they will be in different partition

(2) there is a step in xgb to get global data sketch, so say you have [0,0,1] in worker 1, [1,1,1] in worker 2, the distribution of each feature will eventually get synced

[2019-09-26 00:06] hcho3 commented on #4787
@avinashbarnwal Are you familiar with the topic being discussed here? Are decision trees commonly used in causal inference?

[2019-09-26 00:11] hcho3 commented on #4871
@jackyhawk It is actually an expected behavior. The split value of 2 was chosen so that the split threshold would be larger than all values present in the training dataset. This way, the only data points that would go to the right child node are ones with missing values.

[2019-09-26 00:11] #4871 closed

[2019-09-26 01:04] hcho3 commented on #4813
I will submit a PR this weekend to upload all wheel artifacts to an S3 bucket, so that users can easily locate the wheels by the commit IDs. The expectation is that users can choose an exact commit from GitHub and install the corresponding XGBoost wheel with simple `pip3 install` command.

[2019-09-26 01:15] avinashbarnwal commented on #4787
@hcho3, i have heard about it. I have seen one R package vignette explaining it more clearly. I think we can see the performance difference between random forest and xgboost. I am not sure about how we can have internal splits based on that. Generally, researchers also Bayesian trees for internal splits.

Link - https://cran.r-project.org/web/packages/aVirtualTwins/vignettes/full-example.html

[2019-09-26 02:58] trivialfis commented on #4896
Seems feature name is not prepared for 1d data.  Will fix it.

[2019-09-26 07:13] pallabkarmakar commented on #4892
@hcho3
Thanks for your reply.

Yes i agree with you. dmlc-core and rabit is no longer needed to use xgboost.so in linux based C++ project.
Only following INCLUDE_DIR is sufficient in makefile. However we need to use LIB_DIR and -lxgboost.

INCLUDE_DIR=-I$(XGBOOST_ROOT)/include

Correct me if my understanding is wrong.

[2019-09-26 07:29] hcho3 commented on #4892
You are right. However, we recommend that you use CMake if possible.

[2019-09-26 07:29] #4892 closed

[2019-09-26 09:23] appleyuchi opened #4898 "'thrust::system::system_error' what(): parallel_for failed: out of memory Aborted"
I feed  datasets(1.09 million cases contained)  to xgboost with GPU support,
and get the error：
'thrust::system::system_error' what(): parallel_for failed: out of memory Aborted

Which means that the GPU-Memory is OUT of use.

So is there any method to feed data to xgboost piece after piece?

[2019-09-26 09:24] hcho3 commented on #4898
@sriramch and @rongou are working on external memory support with GPUs.

[2019-09-26 12:38] trivialfis commented on #4878
For a quick fix, you can set the gpu predictor manually.

[2019-09-26 13:40] trivialfis commented on #4895
It doesn't necessarily like Python though, we can improve upon it if needed.

[2019-09-26 13:48] sriramch commented on #4898
@appleyuchi - please enable external memory option and try. [here](https://github.com/dmlc/xgboost/blob/master/doc/tutorials/external_memory.rst) is a start.

how many features does your dataset have? how big is your training file? how many gpus, it size and how much system ram do you have?

[2019-09-26 14:22] codingforfun opened #4899 "Remove Makefile based build system"
Is there a valid reason to keep the Makefiles? They seam to be historic and nowadays everythings is build using CMake. Correct me if I missed something.

[2019-09-26 14:22] codingforfun commented on #4680
I add  #4899 as a cleanup step.

[2019-09-26 14:28] trivialfis commented on #4899
R package for cran...

[2019-09-26 14:38] trivialfis commented on #4899
@codingforfun Feel free to reopen if you have experience on getting CMake to pass cran build.

[2019-09-26 14:38] #4899 closed

[2019-09-26 14:46] hcho3 commented on #4899
@trivialfis @codingforfun The issue is that R packaging system is stuck using Makefile as build system. We can try to call CMake from the Makefile; however, not every target required by the CRAN policy (see the list [here](https://cran.r-project.org/web/checks/check_results_xgboost.html)) appears to have CMake installed.

[2019-09-26 15:10] codingforfun commented on #4899
Ok. I understand. I missed that. Sorry for the noice.

[2019-09-26 22:20] trams commented on #4675
Given dmlc submodule has been updated to point to a version which included
https://github.com/dmlc/dmlc-core/commit/26575157860f86c8abd854fa2f1b10cb9934cc49
I resumed the work on using bundled with dmlc googletest consistently though all the code

Here is my pull request https://github.com/dmlc/xgboost/pull/4900

[2019-09-27 00:04] trams commented on #4793
In case you miss, @CodingCat, @hcho3
I want your opinion about using Spark Barrier execution mode. If there are some interest and no opposition I will allocate some time on this and I will submit a pull request

What do you think?

[2019-09-27 00:06] hcho3 commented on #4793
I'll defer to @CodingCat and @chenqin

[2019-09-27 02:04] VibhuJawa opened #4901 "[BUG] `DMatrix` loosing feature names when created with `cudf`."
#### `DMatrix` looses feature names when created with `cudf`

We seem to loose feature names when creating dmatrix from a cudf dataframe.

This can lead to silent as the order of columns might change.

#### Example:

[code]

##### Cudf output:

[code]
[code]

##### Pandas Output
[code]

[code]

#### Additional Context:

We can probably modify the `pandas` class that extracts the feature names to w

[2019-09-27 02:10] trivialfis commented on #4901
Thanks, will look into it.

[2019-09-27 07:10] chenqin commented on #4793
My impression Barrier Execution Mode is still in early stage, the way it were implemented were "hold and count" strategy. Can we get more clarify what happens if user turn on dynamic allocation along side with barrier execution mode?  We had seen issue with spark listener function not as expected which made us cautious of unproven features.

If not urgent, we might get this implemented in Spark 3

[2019-09-27 09:56] mayanxin commented on #4246
I had the same problem when I tried to run it on a machine that have GPUs
![image](https://user-images.githubusercontent.com/44693966/65760754-2cfe3000-e150-11e9-8313-f4841d9921fc.png)

[2019-09-27 11:57] bakaburg1 commented on #4787
Yes, the context is similar. The problem is that the whole literature on the matter is based on a dichotomic treatment variable, while I need to extend it to continous ones. One method I thought of is to transform the variable in a categorical one using meaningful split points.

[2019-09-27 16:51] trams commented on #4895
Looks good! I am all for moving common code from python|java|R to C++

[2019-09-28 02:13] appleyuchi commented on #4898
@sriramch
In Kaggl IEEE-CIS-Fraud-Detection.
1.09millon datasets totally.
When Use Semi-Supervision Training.
AND....
The GPU is on Nvidia-V100 -16G

[2019-09-28 02:14] appleyuchi commented on #4898
what's the meaning of gpus？

[2019-09-28 02:14] appleyuchi commented on #4898
The link you provided seems hard,I can not follow it.

[2019-09-28 18:28] ankane commented on #4477
fwiw, I updated the formula so it no longer depends on GCC but lacks support for OpenMP. We can update it once support for `libomp` is released.

[2019-09-29 10:32] shashi-netra opened #4904 "softmax vs softprob in xgboost"
The xgboost documentation describes softmax and softprob thus:

I am confused about the difference since when I run the `predict_proba` method with multiple rows (ndata say),I do get a` ndata * nclass` matrix output as well. From what I know, softmax calculates probability distribution over a vector of values. So not sure what `softprob` is doing differently.

Can someone clarify the difference? I

[2019-09-29 11:46] trivialfis commented on #4619
Just to update the error message
[code]

[2019-09-29 19:07] #4901 closed

[2019-09-30 09:00] zhangjinrui2718 commented on #3900
hi i am trying to parse the XGBoostModel generated by `XGBoost.trainWithDataFrame`
hot could i get the information like :
`55:[f279<inf] yes=83,no=84,missing=84,gain=6.56160975,cover=16.25`

3q very much

[2019-09-30 09:09] zhangjinrui2718 opened #4905 "[JVM-package] how could get the tree information from the model"
now i want to parse the model generated by `XGBoost.trainWithDataFrame`
how could i get the information about the tree or the leaf in the model

thanks

[2019-09-30 09:19] zhangjinrui2718 commented on #4905
haaaa

i got the tree information like
[code]
by `xgbModel.booster.getModelDump`

[code]

the format of featureMap is not cleared

[2019-09-30 12:30] #4839 closed

[2019-09-30 12:55] VigneshN1997 opened #4906 "XGBoost histogram counting to construct a tree (processing column in batches vs in one go)"
https://github.com/dmlc/xgboost/blob/d30e63a0a519d6b5ee2d30902eb8f64a1c68fcf8/src/tree/updater_histmaker.cc#L418

Hi everyone. I am working on the xgboost algorithm and I noticed in **updater_histmaker** that while proposing split points in **ResetPosAndPropose**, the **UpdateSketchCol** function was called on a row batch of a column (i.e. data is divided into batches and one particular column of

[2019-09-30 15:09] sriramch commented on #4898
@appleyuchi what part of the document do you find it hard to follow? it should be possible to handle the dataset of that size, given the gpu you have. how much of system ram do you have? if you need to enable training with external memory, then you simply append the '#' symbol to the training file and provide the cache file location. the dataset of this size shouldn't require external memory enabl

[2019-10-01 16:09] wyd1582 opened #4909 "`num_boost_round ` and `early_stopping_rounds` in xgboost.train() API"
Hi,

I am confused if we use early stopping with number of boost round larger than 1, are we still getting multiple boosted random forest and each rf has `n_estimators` trees?

Thanks

[2019-10-01 18:40] trivialfis commented on #4909
For `xgboost.train`,  I don't think there's an `n_estimators` parameter.  Use `num_parallel_tree` for boosting forest.

[2019-10-01 18:40] trivialfis commented on #4909
Each boosting rounds adds a random forest with `num_parallel_tree` trees.  Hope that helps.

[2019-10-01 18:43] trivialfis commented on #4906
I haven't really look into histmaker and more familiar with `hist` and `gpu_hist`.

The term `batch` is only meaningful in external memory training (out of core).  If your data fits into memory, the batch is the whole dataset.

[2019-10-01 18:46] trivialfis commented on #4905
For text dump, the format is used in scikit-learn.  There's also json dump and graphviz dump.

[2019-10-01 18:46] #4905 closed

[2019-10-01 18:48] trivialfis commented on #4904
`softprob` is outputting the probability for each class, `softmax` gives the most probable class id.

[2019-10-01 18:48] #4904 closed

[2019-10-01 18:51] wyd1582 commented on #4909
cool, however if i use sklearn xgboost API, when i call XGBClassifier.fit(), i dont get to pass 'num_boost_round' anyways which meaning i am only trianing boosting trees within 'n_estimators'? depend on my 'early_stopping_round' set up? thanks in advance

[2019-10-01 18:51] trivialfis commented on #4898
It could happen in extremely wide dataset.

More than 1 GPUs I think.

Which part you found difficult?  I can help improving the doc.

[2019-10-01 18:58] trivialfis commented on #4909
`n_estimators` is an scikit-learn version of `num_boost_round` I think.

[2019-10-01 19:00] wyd1582 commented on #4909
oh , so assume i pass `n_estimators` 100, i train on 50 iterations with `early_stopping_round` then how many random forests and how many trees i end up get ? thanks

[2019-10-01 19:07] trivialfis commented on #4909
100 `n_estimators` means 100 iterations, resulting in 100 stacked trees.  If you want to do random forest, with native API that would be:
[code]

The above line will result in 100 stacked random forests with 50 trees each.  The sklearn API is mostly a wrapper around above native API.

[2019-10-01 19:09] wyd1582 commented on #4909
i see so with sklearn, you can only do boost trees instead of RFs. Thanks for confirm,rly helpful thanks

[2019-10-01 19:09] trivialfis commented on #4909
For non-boosted random forest (only 1 random forest), you can use `XGBRFRegressor` and `XGBRFClassifier`.

[2019-10-01 19:10] trivialfis commented on #4909
You can do boosting RF in sklearn.  Just provide `num_parallel_tree` as part of the `kwargs`.  Or use `set_param` class method.

[2019-10-01 19:22] wyd1582 commented on #4909
sorry could you be more specify how do i train rf booster with `XGBClassifier`  in sklearn xgboost API? `n_estimators` and `num_parallel_tree` both larger than `?

[2019-10-01 19:37] trivialfis commented on #4909
[code]

Be careful that due to multi-class training uses one tree for each class.  So when you set `num_parallel_tree` to 8 and with 4 classes, you get 32 new trees for each iteration, with 100 iterations you will have total 3200 trees in final booster ...

@hcho3 Correct me if I'm wrong.  Also we need to revisit the sklearn wrapper for updating parameters when time allows, so I'm keeping this iss

[2019-10-01 19:42] wyd1582 commented on #4909
good, will follow this practice and interested to see the result then, rly helpful!

[2019-10-01 19:44] hcho3 commented on #4909
@trivialfis I think your explanation is reasonable.

[2019-10-01 20:05] wyd1582 commented on #4909
so if i pass `n_estimator` (`num_parallel_tree`) to larger than 1 and also `num_boost_round` larger to one, what will happen, what will `n_estimator` convert to and am i also training boosted rfs?

[2019-10-01 20:07] hcho3 commented on #4909
@wyd1582 You should not pass `num_boost_round` since you are using the scikit-learn interface.

[2019-10-01 20:08] wyd1582 commented on #4909
i mean when i was using xgboost.train() the learning API not the `XGBClassifier`- sorry to ask back and force cause these parameters are pretty confusing for me now

[2019-10-01 20:09] Skeftical opened #4910 "XGBoost Custom Objective function uknown"
I am using XGBoost 0.9 in Python 3.7  and trying to implement a custom objective function calling `xgboost.train.` I have defined my function However I am getting the following error message `xgboost.core.XGBoostError: [19:31:46] /workspace/src/objective/objective.cc:23: Unknown objective function <function custom_loss at 0x7f2ca3028200>`

The signature of my objective function is the same as defi

[2019-10-01 20:10] hcho3 commented on #4909
@wyd1582 You should pick which interface to use.
* If using `xgboost.train()` : use `num_boost_round`
* If using `XGBClassifier`: use `n_estimator`

[2019-10-01 20:14] wyd1582 commented on #4909
sorry but i actually trained an object with this set up : now i am confused what i trained:

XGB_KWARGS= dict(num_boost_round = 50)
PARAM = dict(silent=1, n_estimators = 100, max_depth= 7, gamma =0.01,
               min_child_weight=1, max_delta_step=1, subsample=1, colsample_bytree=1,
               colsample_bylevel=1,  scale_pos_weight=1,
               base_score=0.05, seed=0, missing=None, r

[2019-10-01 20:16] hcho3 commented on #4909
`n_estimators` should not be there, because you are using `xgb.train()`. So `n_estimators` has no effect.

[2019-10-01 20:21] wyd1582 commented on #4909
cool if it is confirmed then i do understand the relation with those parameters now, so with this set up i am training boosted trees no **Random Forests**
thanks 👍

[2019-10-01 20:25] wyd1582 commented on #4909
and to confirm, my `num_parallel_tree` by defualt is 1 , and if i don't pass that set up , i will also only boost one tree each iteration

[2019-10-01 20:27] merleyc commented on #4786
Hi @CodingCat ,
In XGBoost using Spark, after the change made here 1 which (if I understood correctly) enables the deterministic data partitioning if checkpoint is enabled, should the model be deterministic after running several times with the same input?
I’m using the same input data, coalescing the data in my python script ( df = df.coalesce(…) ), setting sparkConfig as spark.task.cpus’,‘1’ , fi

[2019-10-01 20:39] hcho3 commented on #4909
Yes

[2019-10-01 20:43] wyd1582 commented on #4909
this really solved a lot confusions thanks

[2019-10-01 21:58] VibhuJawa opened #4911 "[BUG] Dmatrix creation fails with `null` in columns"
Dmatrix creation fails if we have `null` in columns but goes away if we fill those `nulls` with `np.nan`.

#### Minimal Example:

[code]

Error Trace:
[code]

[2019-10-02 06:23] VigneshN1997 commented on #4906
So if we compare the results from earlier (quantiles created in batches of size 2^15) and now (complete data fitting in memory), will the current implementation give me better results? If yes, why will it give the better results?  I am asking this because I wanted to understand the motivation behind the change in code.

[2019-10-02 06:28] hcho3 commented on #4230
https://discuss.xgboost.ai/t/how-to-tell-xgboost-model-that-2-features-are-related-and-should-not-be-interpreted-stand-alone/1172?u=hcho3

[2019-10-02 07:08] trivialfis commented on #4911
Closing with https://github.com/rapidsai/cudf/issues/2915 .

[2019-10-02 07:08] #4911 closed

[2019-10-02 07:11] trivialfis commented on #4910
First `rmsle` is not in 0.9 release.  It's still sitting on master branch.  Can you run this demo on master banch: https://github.com/dmlc/xgboost/blob/master/demo/guide-python/custom_rmsle.py ?

[2019-10-02 08:46] Skeftical commented on #4910
I have installed xgboost using pip. Are you asking me to build it from the source ? I have tried running this example with my current installation and I am getting the following error:

[code]

[2019-10-02 12:05] thvasilo commented on #4906
Hello @VigneshN1997 I've been looking into updater_histmaker recently, but mostly on the .75 branch. Could you point to change that happened? I think I understand what you're talking about with data being fed per batch, but not sure when and why that changed.

[2019-10-03 01:35] melonki opened #4912 "How to prescribe a limit to response value according to its physical meaning?"
Dear Contributors and Members,
I am trying to apply XGBoost to the assessment of environmental risk, where each variables should be within the zone of reasonableness. For example. the concentration of a certain pollutant should not be less than 0. However, in my model, I got a prediction with few negative values. Is there any way to prescribe a limit to response value when training a model? Or the

[2019-10-03 03:34] hcho3 commented on #4912
See https://discuss.xgboost.ai/t/how-to-prescribe-a-limit-to-response-value-according-to-its-physical-meaning/1174

[2019-10-03 03:34] #4912 closed

[2019-10-03 03:35] hcho3 commented on #4910
@Skeftical You can install the nightly build by running
[code]

[2019-10-03 04:37] VigneshN1997 commented on #4906
The change was done in this commit: https://github.com/dmlc/xgboost/commit/70d208d68c3a32aaa4fcd6aa456f286a4da5912f#diff-cde48cc62edcbcd1eeeef1805d1f3f51

In this commit check out the learner.cc and updater_histmaker.cc files. In updater_histmaker.cc , quantiles are being formed on SortedColumnBatches (all rows present in a column), while earlier it was formed on row batches (each row batch had th

[2019-10-03 09:23] Skeftical commented on #4910
I am not sure why this issue is closed I am still getting the same error even after I have installed the nightly build.

[2019-10-03 10:23] trivialfis commented on #4910
The native RMSLE is not in release version yet.  You have to compile XGBoost from latest commit to use it.

[2019-10-03 10:54] Skeftical commented on #4910
Yes, this not the error I am encountering. I am not trying to use RMSLE specifically. I am trying to define my own custom objective function. However when I do that XGBoost throws an error saying that this is an unknown function.

Take a look at my code :
[code]
I am defining a custom objective. Here, **custom_loss** is a defined Python function. However XGBoost cannot properly locate it maybe. An

[2019-10-03 12:40] melonki commented on #4912
Got it. Thank you.

[2019-10-03 13:02] thvasilo commented on #4906
I only took a brief look so I'm not sure I follow, I'll ping @RAMitchell who's the original author of this change.

Both before and after this PR, we iterate over columns fist (lines 426 and 711 in the linked PR) when accumulating statistics. This is done to accumulate histogram statistics,  in `CreateHist` (I'm focusing on `GlobalProposalHistMaker` since that's the one I'm familiar with).

Then t

[2019-10-03 16:08] rongou commented on #4906
I'm fairly confident my changes are pure refactorings, shouldn't have any behavior differences.

@VigneshN1997 is there a way for you to write a (failing) test to demonstrate the undesired behavior?

[2019-10-03 17:45] mmccarty opened #4913 "sklearn fit silently drops or errors when length of eval_set and sample_weights do not match"
[XGBModel.fit](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/sklearn.py#L376) packages the `evals` into a list of `DMatrix` objects by iterating over a range generated by the length of the given `eval_set`.  However, when the user provides `eval_set=[(x1, y2), (x2, y2)], sample_weight_eval_set=[weight1]` the `evals` list will have silently dropped the second set.  When the use

[2019-10-03 19:36] CodingCat commented on #4853
looking

[2019-10-04 02:46] appleyuchi commented on #4898
Sorry for late reply.@sriamch @trivialfis
I mean:
https://github.com/dmlc/xgboost/blob/master/doc/tutorials/external_memory.rst
this linke provided by @sriramch

Why so much strange words in this link?
Why `libsvm` is mentioned in this link ?
What's the meaning of "filename#cacheprefix"?
I just use .csv file ,what's the relationship with my dataset(.csv file) and "filename#cacheprefix"

I could no

[2019-10-04 05:44] VigneshN1997 commented on #4906
@thvasilo , yes, before #3395 we would take a batch of rows, and iterate over them sorted by the values of particular column. Now we take all the rows instead, but column values are still sorted.

@rongou this is the test which shows the updesirable behaviour:

Created a dataset (34000 records) with only one numerical column and one label column .

[code]

Compared the tags v0.72 and v0.90:

In Pu

[2019-10-04 12:56] thvasilo commented on #4906
I have not tested this myself but this indeed looks like it shouldn't be happening. The question is which behavior is correct.

I think that as long as all the rows can fit into memory, it's better now to create the split point according to the statistics from all data points.

[2019-10-04 16:13] rongou commented on #4906
Just looking at the results, seems like 0.90 is more correct since the cuts are evenly divided, no?

[2019-10-04 16:24] thvasilo commented on #4906
Correct that should be the expected behavior. @hcho3 can verify this.

[2019-10-04 16:36] hcho3 commented on #4679
Re-opening this, since #4716 fixed correctness but did not address performance. @thvasilo points out that syncing for every nodes leads to significant slow-down due to extra communication.

[2019-10-04 16:46] VigneshN1997 commented on #4906
@rongou This behaviour could be because this is the first boosting round and all records have the same hessian value (0.25) and the data is also uniform (each feature 0-33999 in steps of 1). So yes, the cuts should be evenly divided. But can something be proved theoretically or improvement in performance metric that could justify the design choice (of processing complete data in memory)?

[2019-10-04 17:15] rongou commented on #4906
@RAMitchell would have to chime in for the rationale behind this change. To me this seems ok, the results are more accurate, probably more efficient too since we are dealing with one column at a time.

[2019-10-05 06:17] hcho3 commented on #4680
@dmlc/xgboost-committer Since we have quite a few tasks left for 1.0, maybe we should release an interim release 0.91?

[2019-10-05 14:11] trivialfis commented on #4898
@appleyuchi

`libsvm` means the dataset stored in `libsvm` file format (the file format used by libsvm).

[2019-10-05 14:16] trivialfis commented on #4898
For the cache prefix, for example, if you have a dataset stored in file `dataset.txt` with libsvm format.  You can use
[code]
XGBoost will load `dataset.txt` in, preprocess it, then write to a new file named `dtrain.cache` as an on disk cache for storing preprocessed data in binary form.

[2019-10-05 14:22] trivialfis commented on #4898
The strings and weird symbols are specified by uri format https://en.wikipedia.org/wiki/Uniform_Resource_Identifier .  It appears on top of every browsers when you browse the internet.  Will submit a PR for more detail later.

[2019-10-05 15:21] thesuperzapper commented on #4680
Or perhaps 0.10.0

[2019-10-05 16:32] trivialfis commented on #4680
@thesuperzapper That will confuse version system.  I don't mind a 0.91 release, but still I want to see proper procedures for regression tests.

[2019-10-05 17:08] thesuperzapper commented on #4680
@trivialfis If master has API changes, shouldn't we bump a major version, which I guess would look like 0.100.0

[2019-10-05 17:18] hcho3 commented on #4680
@thesuperzapper The 1.0.0 version is the first version we would adopt semantic versioning scheme, so no, semantic versioning won't apply to the interim release.

[2019-10-05 17:52] CodingCat commented on #4680
If we want a 0.91, we should review all changes and ensure that 0.91 is an
incremental update based on 0.90, and as such, we don’t hurt our roadmap of
1.0.0 by shifting several features to 0.9x or any other version

My suggestion would be release 1.0.0.preview.1, some other project also
does this before a major release

On Sat, Oct 5, 2019 at 10:19 AM Philip Hyunsu Cho <notifications@github.com>
w

[2019-10-05 18:11] hcho3 commented on #4680
@CodingCat 1.0.0.preview.1 is an interesting suggestion. Does Maven accept this version?

[2019-10-05 19:27] CodingCat commented on #4680
yes, you can have non-numeric letters in version number

On Sat, Oct 5, 2019 at 11:11 AM Philip Hyunsu Cho <notifications@github.com>
wrote:

[2019-10-05 21:35] RAMitchell commented on #4680
An interim release is a good idea, there are a lot of improvements since 0.9.

[2019-10-06 02:42] hcho3 commented on #4680
Got it, I will do some plumbing in the CI system in the next few days, and then prepare 1.0.0.preview.1 release.

[2019-10-06 08:19] appleyuchi commented on #4898
Got it,Much Thanks @trivialfis

[2019-10-07 03:53] #4893 closed

[2019-10-07 03:53] #4894 closed

[2019-10-07 14:40] thvasilo opened #4915 "Unnecessary memory allocations for `hist` method?"
The hist method makes heavy use of a [HistCollection](https://github.com/dmlc/xgboost/blob/f0064c07ab70f1c770bb0e9eb64fe85afb3a3d73/src/common/hist_util.h#L440) container that is supposed to maintain for each node (leaf) id a collection of histograms.

The backing data structure is [a vector of vectors of `GradStatHist`](https://github.com/dmlc/xgboost/blob/f0064c07ab70f1c770bb0e9eb64fe85afb3a3d73

[2019-10-07 15:11] thvasilo commented on #4915
I noticed this as part of looking into #4679. While the second per-node sync seems straightforward to fix (see [this WIP](https://github.com/thvasilo/xgboost/commit/8196a16e5732b579addb5e5b7ac3339bd0545758#diff-10aac201acca00858b390ff0d679434fR655)) getting rid of the first loop could entail changes to how we build and use `hist_` which would requires a lot of effort to untangle.

[2019-10-07 15:13] thvasilo commented on #4679
Copying from the other issue:  While the second per-node sync seems straightforward to fix (see [this WIP](https://github.com/thvasilo/xgboost/commit/8196a16e5732b579addb5e5b7ac3339bd0545758#diff-10aac201acca00858b390ff0d679434fR655)) getting rid of the [first loop](https://github.com/dmlc/xgboost/blob/f0064c07ab70f1c770bb0e9eb64fe85afb3a3d73/src/tree/updater_quantile_hist.cc#L616) could entail ch

[2019-10-07 16:10] trivialfis commented on #4915
I haven't look into your references in detail yet.  I believe the reason of nodes not being continuous is the use of `pruner`.  On GPU side, we don't use pruner, instead we just don't apply the split when it's gain is not sufficient.  See  #4874.  But will look into your investigation later, thanks for the detailed explanation.

[2019-10-07 19:04] ankane commented on #4477
The formula was accepted by Homebrew, so Mac users can now do:

[code]

[2019-10-07 22:41] hcho3 opened #4916 "[CI] Potpourri of tasks for the CI server (xgboost-ci.net)"
- [x] Install security updates to Jenkins and other software packages
- [x] For GPU test agents, use [G4 instance type](https://aws.amazon.com/ec2/instance-types/g4/) instead of current [P2 instance type](https://aws.amazon.com/ec2/instance-types/p2/). Compared to P2, G4 is more cost efficient and uses newer microarchitecture (Turing).
- [x] With the above, we can now add tests for cuDF. (#4792)
-

[2019-10-08 00:08] VibhuJawa opened #4917 "[QST] What is the expected memory overhead of creating dmatrix using cudf.DataFrame"
#### [QST] What is the expected memory overhead of creating dmatrix using cudf.DataFrame

**Q1.**
In my experiments i am seeing a 1.7x-2x memory overhead of `DMatrix` creation i.e `DMatrix` is approximately using double the memory as a `cudf.DataFrame`. Is this expected behavior ?

**Q2.**
If this is indeed expected behavior and the `dmatrix` objects indeed to require 1.7-2x the total memory,  Is

[2019-10-08 05:00] trivialfis commented on #4917
Yes.  XGBoost copies the data into a CSR format.

A non-hacky way, maybe in the future when we can specialize DMatrix for histogram based algorithm.

@wbo4958 Here beat you to it. ;-)  But right now I don't think we can merge this into XGBoost.

[2019-10-08 09:05] hcho3 commented on #4679
@thvasilo Note that this issue is not present in release 0.90. I believe #4529 introduced it. A proper fix would need to first analyze #4529 in detail and selectively revert the parts that cause per-node sync. In 0.90, `hist` performs per-level sync (unless `grow_policy` is specifically set to `lossguide`).

[2019-10-08 10:30] thvasilo commented on #4915
Thanks @trivialfis . It's probably the case that something useful is done to every element in the 2D vector, because yesterday I tried to only populate the new node id and not all ids up to the new (<= id) and that led to crashes.

Weirdly enough the single machine code crashed, but I think I was able to run the training distributed.

I'd say the reason for the excessive memory use of `hist` is _p

[2019-10-08 12:49] honzasterba opened #4919 "gblinear non-determinism"
The last calls of the code below produce very different results for each call. This is not reproducible when using gbtree booster.

[code]

[2019-10-08 12:51] honzasterba commented on #4919
[data.zip](https://github.com/dmlc/xgboost/files/3702431/data.zip)

[2019-10-08 13:20] wbo4958 commented on #4917
Hi VibhuJawa,

**For Q1**
Yeah, the issue is expected. That's because DMatrix will hold index and fvalue, So basically double CUDF size if the data is dense.

**For Q2**
Yes, the same idea as we did, pls refer https://github.com/rapidsai/xgboost/tree/rapids-spark.
But we did this in scala layer, you know, feeding chunk size to CUDF reading, and then concatenated
to DMatrix.

I strongly recommend s

[2019-10-08 16:22] trivialfis commented on #4919
Could you try providing a seed parameter?

[2019-10-08 16:23] trivialfis commented on #4917
@who4958 I think there are other options we can try.

[2019-10-08 16:28] trivialfis commented on #4910
Please see the example code here https://github.com/dmlc/xgboost/blob/master/demo/guide-python/custom_rmsle.py
Notice which parameter is used to hold your function.

[2019-10-08 16:28] #4910 closed

[2019-10-08 16:32] trivialfis commented on #4692
It's a known issue related to sketching algorithm, will keep track on it as we go.  Closing.

[2019-10-08 16:32] #4692 closed

[2019-10-08 18:41] hcho3 commented on #4680
@CodingCat How about 0.100 or 0.95? "Preview" sounds like the 1.0.0 release is just around the corner, but we have quite a few major features (PySpark) on the line.

[2019-10-08 19:23] honzasterba commented on #4919
setting seed still ends up vastly different results for each run (i am updating the sample code)

[2019-10-08 21:17] RAMitchell commented on #4919
gblinear uses the shotgun algorithm by default which is strongly nondeterministic. Try setting "updater":"coord_descent".

[2019-10-09 01:22] VibhuJawa commented on #4917
Thanks alot @wbo4958  and @trivialfis  for the responses.

Helps me build a slightly better understanding about how `xgboost` is working under the hood with `cudf` frames.

[2019-10-09 01:25] #4917 closed

[2019-10-09 03:21] zhangjinrui2718 opened #4920 "[JVM-package] How could i use additional column just for object function calculation not for train"
for example:
there is a column named `pay_amount`
it does not exist in feature column array but i want to use it in custom object function to calculate the precision or recall for the `pay_amount`

[2019-10-09 06:23] hcho3 opened #4921 "[CI] Jenkin CI server (xgboost-ci.net) down for emergency maintenance"
All Jenkins jobs are now failing due to broken SSL connections, so [`git clone` is failing](https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-4918/6/pipeline) and also [S3 upload is failing](https://xgboost-ci.net/blue/organizations/jenkins/xgboost-win64/detail/PR-4918/3/pipeline/73). I suspect this has to do with outdated software packages for the worker images we are using.

At

[2019-10-09 06:27] hcho3 commented on #4921
**"Wouldn't Docker solve the issue of outdate packages"?** At the Checkout stage, the CI worker uses the system Git to checkout the XGBoost repository. The Docker image is not available yet, since the `Dockerfile` is itself part of the repository. Hence, over time, we are still affected by outdated system packages.

[2019-10-09 07:46] hsuanmeng opened #4922 "Xgboost install error with GPU in R"
When I use
mkdir build
cd build
cmake .. -DUSE_CUDA=ON -DR_LIB=ON
make install -j

and I got this error

R-package/CMakeFiles/xgboost-r.dir/flags.make:11: *** missing separator. Stop.
make[1]: *** [CMakeFiles/Makefile2:269: R-package/CMakeFiles/xgboost-r.dir/all] Error 2
make[1]: *** Waiting for unfinished jobs....

What should I do ?

[2019-10-09 07:51] hcho3 commented on #4922
Which OS is this?

[2019-10-09 07:57] hsuanmeng commented on #4922
CentOS with version 7.14

[2019-10-09 08:14] hcho3 commented on #4922
@hsuanmeng I cannot reproduce the issue. I just tried the same command inside a [Docker container with CentOS 6](https://github.com/dmlc/xgboost/blob/master/tests/ci_build/Dockerfile.gpu_build#L2), and XGBoost compiles successfully. The issue seems specific to your machine.

[2019-10-09 08:26] hcho3 commented on #4922
Is using Ubuntu an option? Alternatively, a Docker container?

[2019-10-09 08:34] GuidoBartoli commented on #4843
I made some other tests and I can confirm that this issue is still present even when Exact Greedy algorithm is used instead of Fast Histograms.

[2019-10-09 08:44] hsuanmeng commented on #4922
@hcho3
The environment was built by another partner, so it seem cant not change to Ubuntu. :(
Or do you think is cuda version make it error? my version is 10.0.0

[2019-10-09 08:47] hcho3 commented on #4922
@hsuanmeng I've seen 10.0 cause issues before. Try 9.2 or 10.1.

[2019-10-09 09:07] hsuanmeng commented on #4922
@hcho3 but I can install python on it with cuda 10.0. hmm very odd.....

[2019-10-09 10:28] s-ravichandran opened #4923 "Monotonicity Implementation changed - creating non-monotonic models"
https://github.com/dmlc/xgboost/blob/095de3bf5f9febba9908637197873630021c733a/src/tree/updater_colmaker.cc#L113

The constraints set for monotonicity on each node seem to be set in a different way than in release 0.72 and this is causing non-monotonic models to be built in my case. Upon closer look, it appears that the order in which the constraints on nodes are set has changed. In release 0.72, t

[2019-10-09 11:26] trivialfis commented on #4922
Any update?

[2019-10-09 11:28] trivialfis commented on #4921
Thanks for looking into this.

[2019-10-09 11:35] trivialfis commented on #4923
Could you provide a reproducible script?

[2019-10-09 11:37] trivialfis commented on #4843
Sorry for the long wait.  I'm refactoring the IO logic right now.  Will start squashing bugs once it's sorted out.

[2019-10-09 11:39] trivialfis commented on #4920
I don't think that's possible.  How does a tree predict unknown feature?

[2019-10-09 13:16] honzasterba commented on #4919
thanks that makes it deterministic, in case you consider gblinear with seed set indeterminism not a bug we cal close this issue

[2019-10-09 13:18] trivialfis commented on #4919
Closing.  I forgot that the shotgun is a thread sanitizer killer.

[2019-10-09 13:40] michalkurka commented on #4919
@trivialfis imho this should not be closed without at least some fix - people expect the model will be reproducible if they set a seed - an improvement of documentation and perhaps a warning when gblinear is run with user defined seed seem appropriate in this case

[2019-10-09 15:49] zerobeanny opened #4925 "pip install fails when install 0.90, gcc-7, macOS 10.15"
++ pwd
+ oldpath=/Users/zerobeanny/Downloads/xgboost-0.90
+ cd ./xgboost/
+ echo darwin19
+ grep -q darwin
+ LIB_XGBOOST=libxgboost.dylib
+ which g++-5
+ which g++-7
/usr/local/bin/g++-7
+ export CC=gcc-7
+ CC=gcc-7
+ export CXX=g++-7
+ CXX=g++-7
+ make clean
Makefile:31: MAKE [/Library/Developer/CommandLineTools/usr/bin/make] - checked OK
rm -f -rf build build_plugin lib bin *~ */*~ */*/*~ */*/*/

[2019-10-09 15:56] zerobeanny commented on #4925
**and i have tried
CFLAGS="-I$(xcrun --show-sdk-path)/usr/include" pip install xgboost
it just gave me the same error mesg.just like  $(xcrun --show-sdk-path) didn't work
any ideas?**
ps in macos 10.15,there is no  /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg

[2019-10-09 18:08] trivialfis commented on #4919
@michalkurka Good point.

[2019-10-09 20:58] RAMitchell commented on #4919
This is documented under xgboost parameters. @michalkurka where would you expect to see this?

[code]

[2019-10-09 21:07] douglasren commented on #4680
Does it support weight xgboost ?

[2019-10-09 21:27] jkbradley opened #4926 "Apache Spark 3.0 compatibility"
This is meant to be a discussion around preparing xgboost for the upcoming Apache Spark 3.0 release.

I participate in the Apache Spark project and would like to make it easier for xgboost to adapt to Spark's upcoming major release.  For reference, the current Spark dev list discussions indicate these rough dates:
* Fall 2019: Spark 3.0 Preview release
* Early 2020: Spark 3.0 release
* See http://

[2019-10-09 21:27] jkbradley commented on #4926
CC @CodingCat  :)

[2019-10-09 21:30] CodingCat commented on #4680
I am not worrying about the impression of 1.0.0 to users

Spark 3.0 preview is releasing in this month, but formal release is next
April (around spark summit) maybe

On Tue, Oct 8, 2019 at 11:41 AM Philip Hyunsu Cho <notifications@github.com>
wrote:

[2019-10-09 21:32] michalkurka commented on #4919
@RAMitchell This is something I would ideally want to see in the python documentation, eg. here: https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBClassifier

I would certainly not expect the default is non-deterministic, IMHO a warning on this page would make sense.

[2019-10-09 22:42] hcho3 commented on #4921
Update: `git clone` is now working correctly.

https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-4924/2/pipeline/12

[2019-10-09 22:49] hcho3 commented on #4921
Note to myself: List of software packages to set up Linux workers.
* System-wide update (`apt-get upgrade`)
* Python 3.x
* `awscli` Python package
* Git
* Docker CE
* OpenJDK 8
* CUDA (for GPU only)
* NVIDIA docker (for GPU only)

[2019-10-09 23:01] hcho3 commented on #4921
Update: S3 transfer is now working too.

https://xgboost-ci.net/blue/organizations/jenkins/xgboost-win64/detail/PR-4924/1/pipeline/71/

[2019-10-09 23:10] hcho3 commented on #4921
It looks like the server is back to normal. However, I will keep a close eye on it today and tomorrow to see everything is all right.

Note. As a bonus, the Linux GPU workers are now using shiny new Turing GPUs ([G4 instances](https://aws.amazon.com/ec2/instance-types/g4/))

[2019-10-09 23:10] #4921 closed

[2019-10-09 23:14] hcho3 commented on #4916
As part of #4921, I upgraded GPU test agents to use G4 instance types. I only did it for the agents running Linux; I'll come back and update Windows agents later.

[2019-10-09 23:26] #4675 closed

[2019-10-09 23:26] hcho3 commented on #4675
Fixed in #4900

[2019-10-10 03:52] zhangjinrui2718 commented on #4920
for example :
there is a table witch schema is
x1:double
x2:double
x3:double
c1:double
y:int
predict:int

we use `x1 x2 x3` as feature columns and `y` as label column (binary classfication)
after training , we get `predict` column witch is the output of the xgboost-tree

finally we need evaluate the tree by calculating some indicators like:
sum(case when y = 1 and predict = 1 then `c1` else 0 end)

[2019-10-11 05:05] thesuperzapper commented on #4680
@CodingCat at least from the point of view of xgboost4j-spark, that 1.0.0 preview won't be useful for most people, as almost no one is running Spark on 2.12. Additionally, you can't easily get a compiled binary as https://spark.apache.org/downloads.html dosen't distribute compiled versions of Spark for 2.12 with the Hadoop binaries included.

[2019-10-11 05:07] CodingCat commented on #4680
Then we should release nothing?

On Thu, Oct 10, 2019 at 10:05 PM Mathew Wicks <notifications@github.com>
wrote:

[2019-10-11 05:09] hcho3 commented on #4680
@CodingCat @thesuperzapper I thought #4574 would allow for compiling XGBoost with both Scala 2.11 and 2.12?

[2019-10-11 11:54] pallabkarmakar opened #4931 "Need all required object files paths for Xgboost C++"
Hi,

I need to create a static library for my project. I am using libxgboost.so file. Using that xgboost dynamic library I am able to create shared object but now I want create static lib using xgboost.
 To create static library for my project I need all depended xgboost object files instead libxgboost.so. I have list of object files which are showing during xgboost make. I have included all of th

[2019-10-11 12:05] trivialfis commented on #4680
Removed:

- [ ]  Release Gpu memory after training #4668

I don't think we can get to there right now.

[2019-10-11 12:17] Skeftical commented on #4910
Okay I got it now. Beware that when passing a custom function the parameter is `obj` instead of `objective`, which is really strange. Also, when passing a custom `feval` make sure that your label does not have spaces. For instance in the example @trivialfis gave the last line of the custom function is :
`return 'PyRMSLE', float(np.sqrt(np.sum(elements) / len(y)))`

If the label was 'Py RMSLE' XGBo

[2019-10-11 12:26] trivialfis commented on #4931
Right now we don't have static library option in CMake.  Contributions are welcomed.

[2019-10-11 12:26] trivialfis commented on #4931
Closing as duplicated with https://github.com/dmlc/xgboost/issues/4483 .

[2019-10-11 14:36] pikaliov opened #4932 "incrimental GPU-training"
Version of XGBoost: 0.90
I have a task to train classification system, features from dataset it's extracted embeddings from NN (final size of dataset is 100 Gb... so system run out of memory in GPU training).
[code]
I tried the above code and after first step of training (first 128 batches) process stucked.
Can be done incremental GPU-training with XGBoost and how? (i can't use distributed trainin

[2019-10-11 15:29] connect2robiul opened #4933 "xgboost install failed"
Mac  OS Catalina .

[code]

[2019-10-11 15:56] trivialfis commented on #4932
Let me take a look at weekend.

[2019-10-11 16:00] trivialfis commented on #4933
Could you try building it from source with CMake and run setuptools for installation?  Currently I don't have access to osx.

[2019-10-11 16:13] connect2robiul commented on #4933
Right now I just update Mac OS from Sierra. On  Sierra it worked perfectly.

[2019-10-11 16:32] connect2robiul commented on #4933
After installing CMake and run setuptools

[code]

[2019-10-11 16:45] trivialfis commented on #4933
@connect2robiul Searching the internet, I found this: https://stackoverflow.com/questions/47247099/mac-os-high-sierra-os-upgrade-fails-make-in-c

[2019-10-11 17:08] connect2robiul commented on #4933
nothing change

[2019-10-11 17:18] trivialfis commented on #4933
That's most likely some mismatched libraries after the upgrade since the error doesn't come from XGBoost, instead it's coming from libc ...  You might better post your question on stack overflow with the specific error :
[code]
And tag osx.

[2019-10-11 17:45] jkbradley commented on #4680
@thesuperzapper It will be come easier to develop against the Apache Spark master (3.0) branch and Scala 2.12 after Spark releases a 3.0 preview (targeted pretty soon this fall).  I'd expect a much bigger shift to Scala 2.12 in the Spark community after the final 3.0 release (targeted early 2020), but you're right that there isn't a ton of 2.12 usage now.  I created https://github.com/dmlc/xgboost

[2019-10-11 18:02] CodingCat commented on #4926
Hi, @jkbradley

One of the expectation from 1.0.0 release of XGB is that we should coordinate with Spark 3.0 if possible. specifically, we are looking forward to GPU scheduling, per stage spark.task.cpus, etc.

for the 1.0.0.preview of XGBoost, Scala 2.12 has been the way to go, so I don't worry about it.  But I would think more about whether to support 3.0 preview or stay with 2.4 (or both)

PySp

[2019-10-11 18:27] trams commented on #4680
#4574 does not allow to cross compile.
What it allows is for someone to check out the code, manually override scala version and recompile

So someone may compile a jar with 2.11 and upload to Maven
I had a pull request with migration to SBT which would allow to cross compile
I also know the trick how to support a cross compilation in Maven (we used it in our company). I can share if you are intere

[2019-10-12 06:50] #4909 closed

[2019-10-12 06:50] #4875 closed

[2019-10-12 06:50] #4896 closed

[2019-10-12 06:50] #4919 closed

[2019-10-12 06:51] trivialfis commented on #4922
ping @hsuanmeng

[2019-10-12 09:39] derrickj12 opened #4934 "xgboost C api doesn't produce same results as Python"
I have a very simple dataset (30 rows, 32 columns).

I wrote a Python program to load the data and train an XGBoost model, then save the model to disk.

I also compiled a C++ program that uses libxgboost (C api) and loads the model for inference.

When using the SAME saved model, Python and C++ give different results for the same input (a single row of all zeros).

xgboost is 0.90 and I have attac

[2019-10-12 11:43] connect2robiul commented on #4933
Could you please suggest someone help me find this bug?  "https://stackoverflow.com/questions/58347946/xgboost-install-failed-in-python-on-mac-at-zsh-terminal"

[2019-10-13 04:04] #4792 closed

[2019-10-13 11:51] trivialfis commented on #4934
@derrickj12 You set the missing value to `0.0`:
[code]
Default should be `NaN`.

[2019-10-13 11:51] #4934 closed

[2019-10-13 11:55] trivialfis commented on #4913
@mmccarty Ah I see.  Will fix it.  Thanks for the issue. ;-)

[2019-10-13 11:56] trivialfis commented on #4913
Just by the way, we adopted that dask interface into xgboost itself lately.

[2019-10-14 08:03] hsuanmeng commented on #4922
@trivialfis I will try to update cuda 10.1 this week, hope I have a good news.

[2019-10-14 08:53] trivialfis commented on #4922
Just in case, I recently tested this with master branch code on 9.2 and 10.1 with both gcc 7 and 8.  Let me know if you bump into any issue, I will try to reproduce it from my end.

[2019-10-14 12:24] mmccarty commented on #4913
@trivialfis Thank you!  Looking forward to trying out native dask.

[2019-10-14 13:05] chorfung opened #4944 "XGB-spark with SHAP value"
Is there any plan to add SHAP value to the xgboost-spark?

thx

[2019-10-14 13:21] okke-formsma opened #4946 "Windows 32-bit package unavailable on PyPI and PyPI description outdated"
Hi,

First of all, thanks for XGBoost, it's amazing software.

We were elated when installing xgboost from pypi was working under Windows. This made our development experience much easier. Unfortunately the windows builds have been discontinued according to the pypi page: https://pypi.org/project/xgboost/

I can't find a ticket related to this issue on this issue tracker, so I'm uncertain if this

[2019-10-14 13:27] trivialfis commented on #4913
Yup.  Still some pending PRs for bug squashing since it's relatively new. But stay tuned.

[2019-10-14 15:04] trivialfis commented on #4946
@hcho3 How do I update the project description on PyPI.

[2019-10-14 15:05] trivialfis commented on #4944
From me, no.  Not sure about others.  PRs are welcomed. ;-)

[2019-10-14 16:23] rongou commented on #4237
This is a "feature" to avoid generating the cache files over and over as they are pretty expensive to write out for large datasets. It's this line here: https://github.com/dmlc/xgboost/blob/095de3bf5f9febba9908637197873630021c733a/src/data/data.cc#L265

We can get rid of that line, but I'm not sure if existing users might expect that caching behavior. A few possible solutions:
1. Don't cache the r

[2019-10-14 16:41] okke-formsma commented on #4946
Just to clarify, this is not just a documentation issue on PyPI; I'm unable to install the windows package for xgboost==0.90

[2019-10-14 16:49] trivialfis commented on #4946
Oh ... @RAMitchell Could you please help taking a look into this?

[2019-10-14 20:21] thvasilo commented on #4237
Is option 1 to delete the cache files at the end of training?

Is it possible to create cache files that are named after the input
dataset, ideally under the same directory?

--
Sent from a mobile device. May contain autocorrect errors.

On Mon, Oct 14, 2019, 18:24 Rong Ou <notifications@github.com> wrote:

[2019-10-14 21:27] RAMitchell commented on #4237
I came across this too some time ago. What kind of performance penalty will be talking about to regenerate the cache files vs. not?

I think current behaviour to keep the files is quite unusual. I would expect most apps that I use to clean up temporary files and not leave a bunch of potentially large files around.

Deleting them seems the way to go.

[2019-10-14 21:46] rongou commented on #4237
If we simply delete that line I mentioned, the files will be left on disk after training, but next time you train again they'll be regenerated.

With the current behavior, you can create different cache files by specifying a different path, e.g.
* `dataset1.libsvm#cache1`
* `dataset2.libsvm#cache2`
* ...

@sriramch might have some numbers on how long it takes to write out a large dataset.

[2019-10-15 00:10] hcho3 commented on #4946
@trivialfis I am currently the maintainer of the XGBoost package on pypi.org. Let me update the description.

@okke-formsma The documentation is outdated. Now users of 64-bit Windows are able to run `pip install xgboost`. Unfortunately, we do not plan to support Python 2.6 or 32-bit Windows.

[2019-10-15 00:10] #4946 closed

[2019-10-15 00:16] hcho3 commented on #4946
@trivialfis It looks like the [description](https://github.com/dmlc/xgboost/blob/master/python-package/README.rst) was updated after 0.90 release. The next release should have the updated description.

[2019-10-15 02:12] sriramch commented on #4237
in part, it depends on where the cache files are being written to. if it is being written to tmpfs, it is faster compared to writing them to a spinning disk. that said, from what i could dig from my old notes, it was ~ 27s (to generate the cache files) for the higgs dataset (near dense), while it was ~20s to generate the cache file for the mortgage set (which is quite sparse) for ~ 140m rows.

[2019-10-15 17:16] bearcub opened #4949 "Trouble installing xgboost on OSX 10.14"
Hi there,

I feel like I've tried everything under the sun to install xgboost on my mac (mohave), but I'm still running into dead ends.

Some things I've tried:
https://github.com/dmlc/xgboost/issues/4477
When I run the step

`$ cmake ..`

I get this error:

`-- The CXX compiler identification is GNU 5.5.0
-- The C compiler identification is GNU 5.5.0
-- Checking whether CXX compiler has -isysroot

[2019-10-15 17:29] trivialfis commented on #4949
I'm not an OSX user. @hcho3 could you help taking a look when you are back?

Community help is very much wanted.  We currently run osx test on Travis but it doesn't seem the tests can cover all cases.

[2019-10-15 17:30] hcho3 commented on #4949
Try `brew install xgboost`. The disadvantage is that multithreading will not be supported.

[2019-10-15 17:41] hcho3 commented on #4949
@bearcub Also, make sure that you installed the Command Line Tools (CLT) for Xcode.

[2019-10-15 17:45] bearcub commented on #4949
@hcho3 thanks for hiding the rabble rouser.  Last thing I need is to be told me question is dumb.

`brew install xgboost` has no errors.  It just looks like it downloaded it, though?

`(base) WE37632:~ camp426$ brew install xgboost
==> Downloading https://homebrew.bintray.com/bottles/xgboost-0.90.mojave.bottle.ta
==> Downloading from https://akamai.bintray.com/28/280fe55391f3b02fd7424afbcda34bb
##

[2019-10-15 18:00] hcho3 commented on #4949
@bearcub It looks like `brew install xgboost` only installs `libxgboost.dylib`. The Python library will need to be installed separately:
[code]
After these commands, you should be able to run `import xgboost`.

[2019-10-15 18:02] bearcub commented on #4949
derp. it werks now.

Thank you @hcho3 !!!!!

[2019-10-15 18:04] hcho3 commented on #4949
@bearcub No problem. Note that your XGBoost installation will only use a single CPU core (no multithreading) because issues described in #4477. If you need to use multiple CPU cores (for faster training), consider using [Conda](https://anaconda.org/conda-forge/xgboost).

[2019-10-15 18:04] #4949 closed

[2019-10-15 18:11] hcho3 commented on #4933
@connect2robiul Take a look at #4949 for an easy way to install XGBoost on Mac.

[2019-10-15 18:11] #4933 closed

[2019-10-15 18:16] hcho3 commented on #4925
Take a look at https://github.com/dmlc/xgboost/issues/4949#issuecomment-542321729

[2019-10-15 18:17] #4925 closed

[2019-10-15 18:17] #4881 closed

[2019-10-15 18:19] hcho3 commented on #4845
Take a look at https://github.com/dmlc/xgboost/issues/4949#issuecomment-542321729 to install XGBoost using Homebrew.

[2019-10-15 18:19] #4845 closed

[2019-10-15 18:45] ogru opened #4950 "How to provide instance weights in the CLI version?"
Hello everyone,

In the CLI version, how do we provide instance weights?

For example, if the training data is in DMatrix format (Saved as binary), can you do something like:
```xgboost Config.txt weights=myweights.txt```, or should you modify the DMatrix via python?

If there is a better way, please advise.

Many thanks

[2019-10-16 02:05] trams commented on #4944
I am interested in this too but I lack resources to implement it

[2019-10-16 02:09] trams commented on #4831
I like this very much! I would like to try it and to test it if possible

[2019-10-16 02:17] trams opened #4952 "[RFC] 1Tb benchmark"
Hello nice people,

I would like to discuss with you building a big distributed benchmark so we can assess GPU/CPU performance. During 2019 Q4 I will have few days to pursue this topic and I would like to hear your opinion.

Is it useful? Will you run it from time to time?

Here is a gist of my idea.
I want to build a reproducible benchmark which uses Criteo 1Tb machine learning dataset
(more abou

[2019-10-16 03:26] trivialfis commented on #4952
@rongou

[2019-10-16 03:28] trivialfis commented on #4952
@wbo4958

[2019-10-16 11:27] pikaliov commented on #4932
@trivialfis did u find out any solutio?

[2019-10-16 13:02] trivialfis commented on #4932
@pikaliov I tried with master branch.  There are a few issues maybe related to your use case:

* Memory limit.  Python is not releasing the object even if your model is replaced by newer one.  The memory cleaning process is hard to control even if you call `gc` module.  So all used GPU memory is still active, which can be verified by nvidia-sim.
* I'm not sure why you create iteration.  In XGBoost

[2019-10-16 13:10] trivialfis commented on #4932
Also #4357 is an on going effort to bring external memory support for XGBoost, which iterates dataset internally and have a sound theory background.  I'm not sure your stochastic training is indeed robust.

[2019-10-16 13:46] guyko81 opened #4955 "Learning rate decay"
I have been thinking about robust model building on Important Outliers - outliers that matters so we don't want the model to add predictions closer to the average value. That led me the idea that implementing a learning rate decay would add the model more flexibility as in the beginning it could catch the trivial rules (a trivial case decision tree in the beginning) due to high learning rate and l

[2019-10-16 14:59] trivialfis commented on #4955
We have a callback for setting learning rate although I haven't really use it myself.  Would it help even simplifying things further?

[2019-10-16 15:53] guyko81 commented on #4955
My mistake, I was not aware of this callback.
However a rename might be useful, maybe learning_rate_schedule, rather than reset_learning_rate?

And an example code would be nice too.
Should the following work? (I can't try right now, no XGBoost on work computer)

[code]

and with the new naming (I think it's more obvious):
`xgclassifier = xgb.train(params, xgb_dtrain, num_rounds,  callbacks = [xgb

[2019-10-16 17:09] trivialfis commented on #4680
@hcho3 Is it possible to use CPack https://gitlab.kitware.com/cmake/community/wikis/doc/cpack/PackageGenerators#bundle-osx-only for easing the installation for OSX?  Please ignore this comment if it's not possible.

[2019-10-16 21:16] pikaliov commented on #4932
@trivialfis Thanks for your answer. I used above code but process still stacked. I changed size of batch to batch_size=512 and completed training procedure.
I know about memory limit, but its strange... process stacked and wo CUDA runout of memory.

[2019-10-16 21:16] #4932 closed

[2019-10-17 04:17] trivialfis opened #4956 "Improve binary serialization for DMatrix::MetaInfo."
As discussion from @hcho3 and @RAMitchell in #4763, with new objective functions requiring more fields in metainfo, we need to store the binary object in a maintainable way.  Currently we write only the data to this binary file, while in the future we can add a header table for each field, with corresponding offsets.  This way we can lookup the header while reading the binary, and hence easier to

[2019-10-17 04:50] hcho3 commented on #4956
I like the idea, given that JSON serialization of DMatrix would be
infeasible due to storage. Do you have an estimate of the amount of effort
your proposal will take?

On Thu, Oct 17, 2019 at 11:18 AM Jiaming Yuan <notifications@github.com>
wrote:

[2019-10-17 05:06] trivialfis commented on #4956
For a working PR, A week or two if things go terribly wrong?  But right now I need to sort out a regression bug we have found.

[2019-10-17 14:01] trivialfis commented on #4950
@ogru Sorry for late reply, see https://xgboost.readthedocs.io/en/latest/tutorials/input_format.html#instance-weights .

[2019-10-17 18:22] trivialfis opened #4957 "Working with dask ML."
Recently we added dask support in XGBoost, but the support hasn't reach its full potential yet.   I would very much like to see if we can make our interface working seamlessly with dask-ml.  There's a very nice community around dask and many experienced users and developers. I hope this issue can draw some attentions from anyone who's interested adding more integration between the two libraries.

[2019-10-17 20:20] hcho3 opened #4958 "[CI] Toward CI infrastructure as code"
#4401 and #4463 brought major improvement to continuous integration (*), by adding a whole new suite of platforms and targets (especially NVIDIA GPUs). Now we have automated nightly builds for Windows and Linux platforms, and all capable of running GPU algorithms (`gpu_hist`) out of box. This was made possible because we self-host a CI software known as [Jenkins](https://jenkins.io/), which allows

[2019-10-17 22:24] haha150 commented on #4922
i got similar issue with installing xgboost with gpu with cuda version 9.1 and 10.1

[code]

how can i fix it?

running ubuntu 18.04
gcc 6 with cuda 9.1
cmake 3.15

[2019-10-18 03:11] trivialfis commented on #4922
Maybe try cuda 9.2 or 10.1?

[2019-10-18 03:21] #4950 closed

[2019-10-18 03:46] #4887 closed

[2019-10-18 10:06] liukanglucky opened #4962 "[jvm-packages] multi-classification result error"
I use Xgboost-0.82 to solve an multi-classification problem.
But in predict process the result is confusing.
Why the "probailities" not a prob? And the "prediction" is also incorrect ...
Hope to be answered soon ~~~

Result:
[code]

My code:
[code]

[2019-10-18 10:25] zhangjinrui2718 opened #4963 "could i define my own split function for tree growth"
now i want some custom logic to inform sub nodes
is there any interface?

[2019-10-18 10:41] trivialfis commented on #4963
You need to modify C++ code for that.  For CPU algorithm, split evaluator can be a starting point.  For GPU algorithm, look at constraints.cuh

[2019-10-18 13:25] haha150 commented on #4922
I did try with 10.1 and 9.1 as mentioned in my comment...

On Fri, 18 Oct 2019, 05:12 Jiaming Yuan, <notifications@github.com> wrote:

[2019-10-18 16:54] #4963 closed

[2019-10-18 16:55] trivialfis commented on #4963
You are welcomed to help designing an interface.

[2019-10-19 16:04] sihao007 opened #4967 "ml.dmlc.xgboost4j.scala.spark XGBoostRegressor has groupCol api ,but XGBoostClassifier does not ,why? i need"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-10-19 17:57] chenqin commented on #4831
Thanks! please review and provide some feedback https://github.com/dmlc/xgboost/pull/4966

[2019-10-19 19:24] trivialfis commented on #4955
@guyko81 Thanks for the suggestion.  I agree with your naming scheme, will keep this open so we can have better documentation for callbacks.

[2019-10-20 00:27] ek-boston opened #4968 "Need multi:softprob to predict more integer values than the training label contains"
Hi,
I am running into some trouble with XGBoost. Is multi:softprob the only objective that gives multinominal/multiclassification probabilities? My training label has 91 unique integer values with a min value of -14 and a max of 97. I am hoping to get a solution in the form of probabilities for all integers from -99 to 99. I know multi:softprob requires test labels to be in sequential order starti

[2019-10-20 00:54] hcho3 commented on #4968
I’m not sure it ever makes sense to make predictions about classes you’ve never seen before. Can a classifier predict the probability of the dog class when it’s only seen cats and rats?

[2019-10-20 01:07] ek-boston commented on #4968
Thank you for the response. These are discrete numerical values that I am predicting, so maybe there is a different XGBoost objective that would work better. My assignment is to predict a cumulative probability distribution for all possible values of yardage gained or lost on a play in American football. Anything close to -99 yards gained is extremely rare, so the training data does not include ma

[2019-10-20 12:07] hcho3 commented on #4968
I was about to suggest regression, since 93 and 93.05 are of similar
quality. However, you’d still have problem with out of range values:
prediction may produce a value outside (-99, 99) range. For now, you could
just clip the value.

On Sun, Oct 20, 2019 at 9:07 AM ek-boston <notifications@github.com> wrote:

[2019-10-20 14:48] ek-boston commented on #4968
The league rounds every yards gained value to the closer integer, so it is all discrete values. There is no 93.05 either the testing or training data, only 93. The specifications of the project are that I need my predictions in the form of a cumulative probability distribution.

[2019-10-20 21:39] leedrake5 opened #4969 "GCC 8 or 7 with Mac?"
On the [installation instructions](https://xgboost.readthedocs.io/en/latest/build.html), conflicting accounts are given for multithreading on Mac with R:

The page recommends installing gcc8 via brew, but then proceeds to use gcc7 in the installation instructions. I've tried both, and each throws an error at 90% that says:

update - been working on this for a couple hours, and 0 progress. Not conv

[2019-10-20 22:00] hcho3 commented on #4968
Since you say that 98 or 99 are highly unlikely, you should apply
regularization by assigning a small default probability to these values. So
train classifier with existing data, and at prediction time assign a small
value to the extreme classes. This is regularization because you have
reasons to believe that training data do not tell the whole truth.

On Sun, Oct 20, 2019 at 7:49 AM ek-boston <no

[2019-10-21 02:07] trivialfis commented on #4969
Technically any version above GCC 5 is fine.  But osx seems more complicated ...  @hcho3 Can we add R test on Travis?

[2019-10-21 04:36] hcho3 commented on #4969
@leedrake5 Can you post the full error log? We are currently looking into ways to enable multithreading when Apple Clang is chosen as the compiler:

@trivialfis Yes, we should definitely add R tests for OSX.

[2019-10-21 07:22] leedrake5 commented on #4969
I made some terrible mistake, and couldn't get back to my 90% completion (stalled out around 50%). But I did find a way to get Open MP working with MacOS 10.15 Catalina in R.

For anyone googling this, neither [this](https://www.btskinner.io/code/install-r-with-openblas-and-openmp-on-macos-mojave/) nor [this](https://luispuerto.net/blog/2018/01/12/install-r-100-homebrew-edition-with-openblas-openm

[2019-10-21 08:20] hcho3 commented on #4956
@trivialfis Since you have a lot on your plate, can I try to tackle it this week?

[2019-10-21 08:34] trivialfis commented on #4956
@hcho3 Sure, feel free to let me know if there's anything I can help.

[2019-10-21 10:02] skale1990 opened #4970 "[jvm-packages] xgboost code should not kill sparkcontext without knowing the reason"
Hi,

we are using this library to train the xgboost model. but whenever any exception comes, below mentioned code kills the shared spark context without any reason-
`rivate[spark] class TaskFailedListener extends SparkListener {

  private[this] val logger = LogFactory.getLog("XGBoostTaskFailedListener")

  override def onTaskEnd(taskEnd: SparkListenerTaskEnd): Unit = {
    taskEnd.reason match {

[2019-10-21 23:40] #4969 closed

[2019-10-21 23:43] hcho3 commented on #4969
@leedrake5 Glad to hear that you sorted out the issue. I'm closing this issue, as I suspect the issue is mainly with installing R on Catalina.

[2019-10-22 03:13] weidong8405 opened #4972 "size_leaf_vector enforced to 0"
I want to store multi value in tree's leaf and i noticed that xgboost have size_leaf_vector, but the code is currently not support, have many check that size_leaf_vector must be 0
my question is that what the plan about size_leaf_vector in xgboost?
the next question is that if i want to fork a branch to modify by myself, want to deal with multi class objective use leaf vector, any details about si

[2019-10-22 03:37] trivialfis commented on #4972
@weidong8405 I'm thinking about this on my spare time (when available).  But you are welcomed to work on it.  A few things though:
- firstly there is a misunderstanding that if we use one tree per class then there is no correlation between classes.  That's not entirely correct since we use softmax to normalize output probability across all classes.
- The change is big.  Once you have leaf vector,

[2019-10-22 03:42] trivialfis commented on #4972
@weidong8405 Also if you are indeed working on it.  Please let me know your progress.  You can find my personal email address on github profile.

[2019-10-22 03:49] weidong8405 commented on #4972
@trivialfis  thank you for reply so rapidly, currently i am working on multi classification, i understand your first answer,but use binary classification to deal with have the drawback is that it will use more trees(num_trees * num_class), that means more overhead when use the tree model in inference time.
the other one is that  i find that binary classification's performance is not as well as ope

[2019-10-22 03:59] trivialfis commented on #4972
@weidong8405 You can remove that parameter if you like.  It's never used in actual code anyway.

[2019-10-22 04:04] weidong8405 commented on #4972
@trivialfis  i want to use the parameter indeed, so in conclusion you think it will have many changes if want to use leaf vector?

[2019-10-22 04:33] trivialfis commented on #4972
Yup.  But certainly doable.  :-)

[2019-10-22 04:36] trivialfis commented on #4972
Reopening as we can use more inputs.

[2019-10-22 04:50] weidong8405 commented on #4972
in fact i am not so care about the training speed, inference speed and online performance is more important to me, so if i do not care about cache or vector computation, the works can be much less?

[2019-10-22 05:50] trivialfis commented on #4972
Definitely lesser.

________________________________
From: weidonghuang <notifications@github.com>
Sent: Tuesday, October 22, 2019 12:50:42 PM
To: dmlc/xgboost <xgboost@noreply.github.com>
Cc: Jiaming Yuan <jm.yuan@outlook.com>; State change <state_change@noreply.github.com>
Subject: Re: [dmlc/xgboost] size_leaf_vector enforced to 0 (#4972)

in fact i am not so care about the training speed, infer

[2019-10-22 06:16] RAMitchell commented on #4972
Its probably going to need major changes to support this parameter. You could do a proof of concept pr and see how hard it is.

[2019-10-22 07:34] trivialfis commented on #4972
Closing in prefer to this one: https://github.com/dmlc/xgboost/issues/4840

[2019-10-22 07:34] #4972 closed

[2019-10-22 07:34] trivialfis commented on #4840
https://github.com/dmlc/xgboost/issues/4972

[2019-10-22 09:11] douglasren commented on #4680
Does it support Multi objective learning?

[2019-10-22 09:29] trivialfis commented on #4680
@douglasren Sadly no.  Could you start a new issue so we can discuss it?  The term "multi objective" can vary in contexts, like one objective function for multiple outputs or multiple objectives with multiple outputs?

[2019-10-22 17:16] ek-boston commented on #4968
Thank you for the suggestion! Could you help me figure out how I would go about doing that? I am still running into the issue that I need to scale the training label so that the integers are in sequential order starting at zero. So even if I set the num_class to 199, the min value from the data (-14 yards) still represents -99 yards and the max (99 yards) represents -8, as there are 91 unique inte

[2019-10-22 17:29] hcho3 commented on #4968
@ek-boston You should map your training labels to integers 0, 1, 2, ..., 90, since you have 91 unique classes in your training data. This is a 1-to-1 mapping of form
[code]

At prediction time, you can use this mapping to obtain predictions for non-extreme classes. Tip: Use `output_margin` option to obtain raw scores for the non-extreme classes. These values are relative strength assigned to each

[2019-10-22 18:34] ek-boston commented on #4968
The labels are transformed and I am able to get the probabilities for all 91 non-extreme classes. Could you explain how I can make the non-extreme predictions with output_margin? This is where I have been running into trouble. I truly appreciate you taking the time to help me with this.
[code]

[2019-10-22 18:56] hcho3 commented on #4968
Set `outputmargin=TRUE` when calling `predict()`.

[2019-10-22 19:19] ek-boston commented on #4968
Thank you! While I am now able to make the number of predictions increase from 91 to 92, I still seem to be missing a step for how to get it to 199. I have tried to following codes, which both run without error, but only leave me with 92 prediction classes.

For this one I set the prediction margin to 108, which is the number of new classes I am hoping to add.
[code]
And for this one I tried addin

[2019-10-22 19:29] hcho3 commented on #4968
`pred_margin` is not a valid training parameter. Please remove it from `xgb.train()`. I think you should get 91 probability values `gaps_pred_test`, can you check?

[2019-10-22 19:33] hcho3 commented on #4968
Once you get 91 margin values, you append a 108-element vector to `gaps_pred_test` and then apply softmax. So you'd compute `softmax(c(gaps_pred_test, extreme_ass_preds))`, where `extreme_ass_preds` is a 108-element vector consisting of small margin values.

[2019-10-22 20:02] ek-boston commented on #4968
Yes, I get 91 margin values with the original code. Now I am trying the SoftMax function and the result I am getting is a 534812 element vector. Am I missing a step? I assume SoftMax and not softmax is the function you meant based on some quick research.
[code]

[2019-10-22 20:07] hcho3 commented on #4968
No, you should get 91+108=199 values after applying the softmax function. Define softmax as in https://gist.github.com/aufrank/83572

[2019-10-22 22:25] leedrake5 commented on #4969
Just an addendum, this process worked on both an iMac Pro with a Xeon processor & a MacBook Pro with a regular i9. I think this install solution will be the most generalizable to Macs in the future. I could never get the official one on the install page to work with either gcc7 or gcc8.

I suspect cmake requires some special configuration to work - regular old make seems to handle things better.

[2019-10-23 05:01] bnicholl commented on #4477
I used `brew install xgboost` but I still cant import XGBoost. There's no __init__.py file or anything inside the actual newly installed XGBoost directory, so I cant use any of the XGBoost functions. Is there another step after using brew to install XGBoost?

[2019-10-23 05:02] hcho3 commented on #4477
@bnicholl See https://github.com/dmlc/xgboost/issues/4949#issuecomment-542333666 for a temporary solution.

[2019-10-23 06:46] trivialfis commented on #4843
@GuidoBartoli How many classes do you have?

[2019-10-23 06:48] trivialfis commented on #4843
I ran the following and did not observe the leak on master branch f24be2efb479872da2613b40fbf04a77f961d250:

[code]

[2019-10-23 06:49] hcho3 commented on #4952
I'm in the process of enabling finer grained financial control over the CI server. This is also necessary to enable regression tests, to ensure consistency of training performance between releases.

[2019-10-23 07:51] GuidoBartoli commented on #4843
I tried with binary classification, you can take a look at code and dataset in the provided toy example.

[2019-10-23 07:51] GuidoBartoli commented on #4843
Ok, I'll try this snippet on my machine and I'll let you know my findings, thanks!

[2019-10-23 08:04] trivialfis commented on #4952
@hcho3 We are currently trying to scale GPU algorithm with spark to tackle this dataset.  I don't think it's possible to run it on Jenkins.  Maybe we (nvidia) can run it on a regular basis.

[2019-10-23 08:13] hcho3 commented on #4952
@trivialfis It would be awesome if NVIDIA can host this benchmark.

[2019-10-23 08:18] trivialfis commented on #4952
@hcho3 Not really. That's not my decision to make.  But I can run it when needed.

[2019-10-23 08:21] hcho3 commented on #4952
Well, if you are running it using NVIDIA's resources, then from my perspective NVIDIA is "hosting" the benchmark. That's what I intended.

[2019-10-23 08:30] trivialfis commented on #4952
Yup.  Definitely.  :-)

[2019-10-23 10:04] soumalya-hue opened #4977 "[jvm-packages] what(): [06:24:26] /xgboost/src/tree/updater_histmaker.cc:307: fv=inf, hist.last=inf, while trying to run xgboost in scala spark"
1. The error I am facing is as follows:
####################################################################
scala> val xgBoostModelWithDF = XGBoost.trainWithDataFrame(trainingData, paramMap,round = numRound, nWorkers = numWorkers, useExternalMemory = true)
Tracker started, with env={DMLC_NUM_SERVER=0, DMLC_TRACKER_URI=172.16.1.241, DMLC_TRACKER_PORT=9092, DMLC_NUM_WORKER=1}
[Stage 11:>

[2019-10-23 11:42] DenceChen opened #4978 "v100 GPU vs CPU different accuracy，the same dataset and parameter"
I am training the same dataset on GPU and CPU with xgboost, but got different accuracy on  eval data.
The same data with the same parameters using the xgboost GPU version and the CPU version training model are not the same, the test set is the same.

**gpu:**
model = xgb.XGBRegressor(n_estimators=800,
                         objective = 'reg:linear',
                         booster='gbtree',

[2019-10-23 13:34] trivialfis commented on #4978
On CPU, use `tree_method = hist`, on GPU, use `tree_method = gpu_hist`.  These two are same algorithms.  There's still minor discrepancy due to floating point error.

[2019-10-23 13:39] trivialfis commented on #4978
And don't set the updater.  There is a warning I think.

[2019-10-24 03:14] DenceChen commented on #4978
@trivialfis thanks for your reply, I tried your suggestion but the effect is still not working.

[2019-10-24 03:16] DenceChen commented on #4978
@trivialfis the CPU result better than GPU

[2019-10-24 03:32] trivialfis commented on #4978
Another thing is, the gamma parameter is only supported on gpu in a recent commit as a pre-pruning step.  It's used for preventing over fitting.  We are trying to make a new release, it might take sometime as this one is quite big, so you may want to build it from source for that parameter.

[2019-10-24 04:16] #4813 closed

[2019-10-24 05:55] hcho3 commented on #4813
Nightly builds now available from https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds.

[2019-10-24 11:08] soumalya-hue commented on #4977
Please could you help me with this issue as soon as possible,
Our production model deployment is stopped due to this is issue!!!
The issue does not come when we set numRound =1 but as soon as we change to numRound =2,we get this issue

[2019-10-24 11:17] hcho3 commented on #4977
Did you try using latest version (0.90)?

[2019-10-24 11:22] hcho3 commented on #4967
Ranking is a kind of regression, since the model attempts to produce a score for each document. See https://discuss.xgboost.ai/t/evaluating-xgboost-ranking/959/2?u=hcho3

[2019-10-24 11:22] #4967 closed

[2019-10-24 11:28] hcho3 commented on #4915
@thvasilo The generation of quantized matrix (`gmat`) is another source of inefficiency. Basically we use quantile points to convert matrix elements in the input matrix into bin indices. To save memory, we'll need to perform conversion in out-of-memory fashion:

1. Load data
2. Generate quantile sketches
3. Now load data again, this time performing quantization on the fly.

[2019-10-24 11:53] EugeneDeng opened #4981 "[jvm-packages] AssertError:Allreduce: boundary error"
I still have the problem of "AssertError:Allreduce: boundary error" with the lastest version 0.90 when i train xgboost model on spark.

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/data/data10/yarn/nm/filecache/286223/spark_libs.zip/slf4j-log4j12-1.7.16.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/opt/cloudera/parcels/CD

[2019-10-24 12:36] trivialfis commented on #4981
Could you provide a reproducible example?  I can't debug it without one.

[2019-10-24 12:55] GuidoBartoli commented on #4843
Hi trivialfis,
I used the following code adapted from your snippet (I installed only numpy, scikit and xgboost).
I tried various combinations of dataset size, jobs, histograms, but in every case the memory keeps growing. However, at regular intervals there is an usage drop, but not to the starting amount, you can see it in the attached screenshot. At the moment on my machine I cannot recompile the

[2019-10-24 12:58] hcho3 commented on #4843
@GuidoBartoli

You can install the nightly build by running
pip3 install https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.0.0_SNAPSHOT+96cd7ec2bbdec1addf81b1ca2adb13c9155e32f3-py2.py3-none-manylinux1_x86_64.whl

[2019-10-24 13:04] kryptonite0 opened #4982 "Customizable early stopping tolerance"
I have a situation where the default numerical tolerance (0.001) for early stopping is too large. My target has a gamma distribution and the XGB Regressor reaches convergence too early, when the numerous low target values are well approximated by the model, but the few large values are still underestimated. When I deactivate early stopping, I can see the loss metric still improving at the 4th or m

[2019-10-24 13:09] hcho3 commented on #4982
Can you adjust `early_stopping_rounds`? Early stopping will only kick in when the loss metric fails to improve over the last `early_stopping_rounds` iterations.

[2019-10-24 13:20] GuidoBartoli commented on #4843
Ok, thanks, I installed the 1.0.0_SNAPSHOT version in my virtual environment using pip.
I run the previous snippet on that version, but unfortunately I see a similar behavior.
I took another screenshot of the memory usage after 33 variations.
![XGB3](https://user-images.githubusercontent.com/16103676/67489332-afa3dd80-f671-11e9-8166-e92bc5f77310.jpg)

[2019-10-24 13:48] kryptonite0 commented on #4982
early_stopping_rounds has no effect on the numerical tolerance, or am I wrong?

[2019-10-24 13:50] soumalya-hue commented on #4977
Nope,can you tell me is it compatible with 2.3.2.3.1.0.0-78 and which jars should I use , if I am manually downloading the jars for xgboost?

[2019-10-24 13:54] trivialfis commented on #4843
Will take a look again.  Thanks for the follow up.
________________________________
From: Guido Bartoli <notifications@github.com>
Sent: Thursday, October 24, 2019 9:20:46 PM
To: dmlc/xgboost <xgboost@noreply.github.com>
Cc: Jiaming Yuan <jm.yuan@outlook.com>; Comment <comment@noreply.github.com>
Subject: Re: [dmlc/xgboost] Memory leak in subsequent model fitting? (#4843)

Ok, thanks, I installed

[2019-10-24 14:00] hcho3 commented on #4982
No, I'm asking whether your aim is better met with `early_stopping_rounds`. Not sure if changing numerical tolerance is necessary.

[2019-10-24 14:02] hcho3 commented on #4977
Actually, 0.90 requires Spark 2.4. You should use 0.82 instead.

[2019-10-24 14:15] trivialfis commented on #4843
@GuidoBartoli And looked.  Switching to my laptop helps.  The magic is here:  notice the `gc`, it forces Python to collect memory.

[code]

[2019-10-24 14:43] GuidoBartoli commented on #4843
Awesome, that was it! :trophy:
And there is more: with forced garbage collection, "del variation" is not needed anymore, since a new instance is assigned to the same variable and Python recycles the memory occupied by the previous one (as expected in my first comment in this issue).

Many thanks! :+1:

[2019-10-24 14:43] #4843 closed

[2019-10-24 15:14] soumalya-hue commented on #4977
Can you provide me a guiding link to install 0.82 xgboost , so that I can run a similar code  in Spark 2.3.2.3.1.0.0-78?

[2019-10-24 18:34] trams commented on #4786
@merleyc here is my feedback. I am no expert here so I may be wrong (please correct me if I am wrong)
1. I think `.coalease` is not deterministic.
2. Do you use `hist` or `approx`?

[2019-10-24 18:46] trams commented on #4831
Thank you, @chenqin for your work on this. I am very excited that you started publishing your changes. I am looking forward to new pull requests!

[2019-10-24 18:48] trams commented on #4952
@trivialfis feel free to contact me (us? Criteo?) if you need any help on preprocessing this dataset. I am preparing some notebooks now

[2019-10-24 20:47] RAMitchell commented on #4915
I would like to tackle memory usage issues for GPU and CPU hist algorithms with a common strategy. I think this will go hand in hand with further re-factoring of DMatrix.

[2019-10-24 20:52] hcho3 commented on #4915
@RAMitchell Good to know. Anything I can do on my end to make the job easier?

[2019-10-24 21:20] Garfield2013 opened #4983 "java.lang.UnsatisfiedLinkError"
1. I manged to build the "xgboost.dll" on my power full Windows 10 Desktop.
2. I imported the dll into H2O-3 flow
3. When I run "AutoML" with everything else than XGBOOST disabled - It runs only for 5 secs and then generates 14 models (Is that normal)!? The models according to the confusion matrix only makes 7 error out of 834 samples (my training set is 7500 samples)... **This is better/more prec

[2019-10-24 21:30] RAMitchell commented on #4915
I probably can't work on this for a while. I would start by removing extra layers inside the DMatrix pipeline, it is extremely difficult to reason about and work with. I think the DataSource classes are basically redundant and their functionality should live inside the respective DMatrix classes. I would also like to see a lot of the code constructing a DMatrix live inside actual constructors inst

[2019-10-24 22:04] hcho3 commented on #4915
@RAMitchell That sounds awesome. Yes, DMatrix class can be improved a lot.

[2019-10-25 07:19] kryptonite0 commented on #4982
Sorry, I don't understand how you are suggesting to use an adjustment of early stopping rounds to achieve a smaller numerical tolerance on convergence. Can you make an example?

[2019-10-25 07:33] hcho3 commented on #4982
@kryptonite0 Actually, let us ask this question first: can you point me where the numerical tolerance is defined? I don't see it in the code:
https://github.com/dmlc/xgboost/blob/96cd7ec2bbdec1addf81b1ca2adb13c9155e32f3/python-package/xgboost/callback.py#L231-L249

[2019-10-25 07:34] hcho3 commented on #4982
@kryptonite0 Potential cause: https://github.com/dmlc/xgboost/issues/4665#issuecomment-532932603

[2019-10-25 08:11] #4619 closed

[2019-10-25 08:22] hcho3 commented on #4982
@kryptonite0

Can you post a reproducible example?

[2019-10-25 09:44] WeichenXu123 opened #4985 "Release a version for scala-2.12"
We need a release version for scala-2.12. So that mleap could also upgrade xgboost dependency and use scala-2.12
https://github.com/combust/mleap/pull/575

Thanks!

[2019-10-25 09:48] thvasilo opened #4986 "Revisiting default parameter settings?"
Hello all,

I cam upon a [recent JMLR paper](http://jmlr.org/papers/volume20/18-444/18-444.pdf) that examined the "tunability" of the hyperparameters of multiple algorithms, including XGBoost.

Their methodology, as far as I understand it, is to take the default parameters of the package, find the (near) optimal parameters for each dataset in their evaluation and determine how valuable it is to tu

[2019-10-25 10:56] trivialfis commented on #4986
@thvasilo Seems to be a good read at weekend. ;-)

[2019-10-25 11:45] thvasilo commented on #4986
I'll ping the main author @PhilippPro in case he wants to chime in on recommended defaults.

[2019-10-25 13:44] sh1ng opened #4987 "DASK AssertionError: data in tcp://127.0.0.1:46353 was moved."
2GPU

Test case

https://github.com/h2oai/h2o4gpu/blob/e7ba6a43034781633630f2acbc2e9c7e75d2bbf7/tests/python/open_data/gbm/test_xgboost.py#L77-L140

Log
[code]

[2019-10-25 13:58] sh1ng opened #4988 "How are you going to support compatibility with dask-cuda?"
At this moment `dask-cuda` team is not going to support pip package, only conda(https://github.com/rapidsai/dask-cuda/issues/166).
Dask and distributed version >= 2 is not compatible with `dask-cuda==0.6.0`(https://github.com/rapidsai/dask-cuda/issues/161). It looks compatible with `dask==1.2.2` `distributed==1.28.1`.

[2019-10-25 14:09] kylejn27 opened #4989 "Impossible to reproduce model results"
Initially an issue on dask-xgboost with setting the `seed` parameter and getting non-deterministic results: https://github.com/dask/dask-xgboost/issues/37

I'm thinking this is a problem with xgboost 0.90 that was fixed in the latest master branch here:
https://github.com/dmlc/xgboost/commit/7e72a12871eaa0ebc46e863dabe8657e3f0557ad#diff-fd53d68e0037d3512896122d1248d969L1128

I built dmlc/xgboost f

[2019-10-25 14:54] hcho3 commented on #4989
@kylejn27 In #4680, we are discussing about making an interim release. In the meanwhile, you can install the latest master by running

pip3 install https:/``/s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.0.0_SNAPSHOT%2B6ec7e300bd704e0c4ed84b005dfc82d844787ba4-py2.py3-none-manylinux1_x86_64.whl

[2019-10-25 14:54] hcho3 commented on #4989
Closing this, since you said that the problem was resolved in the latest master.

[2019-10-25 14:54] #4989 closed

[2019-10-25 15:07] kylejn27 commented on #4989
thanks!

[2019-10-25 16:10] trivialfis commented on #4987
Thanks.  Will try to reproduce it tomorrow.

[2019-10-25 16:44] jkbradley commented on #4926
Sorry for the slow response!  We've been a bit underwater ourselves.  But I talked with Xiangrui, and he recommended we ask @WeichenXu123 to help out with reviewing the PySpark integration.  I've messaged Weichen offline about that, and we can follow up once we know when that can be prioritized.

That's great about Scala 2.12.  For Spark 3.0 coordination, let me (or the dev list) know if you have

[2019-10-26 08:49] trivialfis commented on #4987
When the evaluation matrix is too small, some workers don't get a partition.

[2019-10-26 09:51] trivialfis commented on #4987
One quick workaround for this is:
[code]
On real dataset this usually don't happen as one normally load the whole dataset in one file by dask and split it up into multiple train/tests.  The distribution is not changed during the split.

In the long term, we should split up the `train` method into more easily compose-able methods.

[2019-10-27 02:02] StrikerRUS commented on #4477
@hcho3

With the incoming CMake 3.16 release (in RC phase now) it should be even easier: there will be no need in passing extra args for >=Mojave users. Refer to https://gitlab.kitware.com/cmake/cmake/merge_requests/3916.

[2019-10-27 12:32] mangdian opened #4991 "XGBoost model gives wrong prediction when some totally irrelevant code is added."
Environment:
Ubuntu 16.04
C++
g++ compile C++11

Code:
`int main()
{

    BoosterHandle h_booster;
    const DMatrixHandle *g_trainHandle = nullptr;
    int g_trainHandleLength = 0;
    int res = XGBoosterCreate(g_trainHandle, g_trainHandleLength, &h_booster);
    res = XGBoosterLoadModel(h_booster, "xgboost_norm_100.model");

    ifstream labellist("label.txt");
    vector<float> label;
    strin

[2019-10-27 14:07] trivialfis commented on #4991
I will try this after Monday.  Thanks for opening an issue.

[2019-10-27 14:08] #4978 closed

[2019-10-27 14:09] #4977 closed

[2019-10-27 14:14] mangdian commented on #4991
@trivialfis thanks a lot. Now I am pretty sure that the file IO operation caused the problem. But I have no idea why.

[2019-10-27 14:56] mangdian commented on #4991
@trivialfis the code and data can be downloaded from [https://github.com/mangdian/xgboost_classification_test.git](url)

[2019-10-27 15:00] trivialfis commented on #4991
Awesome.

[2019-10-28 02:12] linlin994395 commented on #4888
@borisclemencon you can use trainTestRatio when create XGBoostClassifier, and then in gridsearch, it will print the test metics
`    val xgbClassifier = new XGBoostClassifier(paramMap)
      .setFeaturesCol("features_vector")
      .setLabelCol("label")
      .setPredictionCol("prediction")
      .setEvalSets(wctchVals)
      .setTrainTestRatio(0.7)`

`    for (test <- bestModel.summary.validation

[2019-10-28 03:37] mangdian commented on #4991
@trivialfis any idea?

[2019-10-28 08:28] kryptonite0 commented on #4982
A reproducible example is a bit tricky here, as I cannot share the data I am using and I would need to find a dummy dataset with the same behavior. Maybe you can have a look at the output log of the regressor? Here I'm using {'objective' : 'reg:squarederror', 'n_estimators' : 10000, 'early_stopping_rounds' : 200} and a fixed random seed. The algo finds the best iteration at 6096 with validation_1-

[2019-10-28 10:01] trivialfis commented on #4991
No.  It requires me to build opencv 4.  Also where is label.txt? ;-)

[2019-10-28 10:06] mangdian commented on #4991
@trivialfis  sorry for that, the label.txt is uploaded to the repository. Any version of opencv would be OK.

[2019-10-28 10:10] PhilippPro commented on #4986
Hey @thvasilo ! I think the defaults in xgboost are not chosen to have the best performance. The user also has to specify `nrounds` by himself. Probably the defaults are chosen to provide a basic version of gradient boosting. Maybe it would be nice if some good defaults would be at least described in the help section. It is a bit nasty if you want to use a package and have to search the internet t

[2019-10-28 13:40] EugeneDeng commented on #4981
@trivialfis Do you mean i send the training data to you?

[2019-10-28 14:05] aviolov commented on #4668
My hack is to do this
[code]
and it has solved my GPU mem-leak

[2019-10-28 20:04] theodorevadpey opened #4992 "[JVM-Package] XGBoost training fails mysteriously"
Thank you in advance...

My models were working a week ago, but I made some alterations to the data, and now distributed training isn't working at all.

I have checked the data many times, but it doesn't seem like the problem is in the data-- there are no missing values... Added maybe 5 features. I've increased the RAM to ridiculous extents to see if it's a resource problem, but I get the same err

[2019-10-28 20:22] theodorevadpey commented on #4992
This is the whole log (really long, sorry)

[log4j-active (32).txt](https://github.com/dmlc/xgboost/files/3780506/log4j-active.32.txt)

[2019-10-28 20:28] theodorevadpey commented on #4992
This is most of the log (sorry very long)
[log4j-active.32.txt](https://github.com/dmlc/xgboost/files/3780534/log4j-active.32.txt)
](url)

[2019-10-28 20:35] theodorevadpey commented on #4992
I'm starting to think the root cause is:
`
19/10/28 16:59:38 ERROR TaskSchedulerImpl: Lost executor 0 on 172.29.176.35: Remote RPC client disassociated. Likely due to containers exceeding thresholds, or network issues. Check driver logs for WARN messages
`

Which seems like a resource problem right?

I'm using:
`
19/10/28 16:23:54 INFO SparkConfUtils$: new spark config: spark.sql.broadcastTimeout

[2019-10-29 06:45] Jie-Yuan opened #4993 "I want pred_leaf!"
I want pred_leaf!

[2019-10-29 06:59] Jie-Yuan opened #4994 "The latest version does not support xgbModel.transformLeaf"
The latest version does not support xgbModel.transformLeaf

[2019-10-29 07:18] hcho3 commented on #4869
Can we close this now?

[2019-10-29 09:22] EugeneDeng commented on #4981
@trivialfis would you please tell me what's the main cause of "boundary error"?  Maybe i can check if something is wrong with my training data.

[2019-10-29 09:55] trivialfis commented on #4981
@CodingCat @chenqin is the error coming from rabit?

[2019-10-29 10:24] trivialfis commented on #4993
There's  a `pred_leaf` parameter in Python `Booster.predict`.

[2019-10-29 10:24] #4993 closed

[2019-10-29 10:24] trivialfis commented on #4994
Could you be more specific?

[2019-10-29 15:28] EugeneDeng commented on #4981
@trivialfis  I think the error do come from rabit. See my logs from the terminal

2019-10-28 14:38:55 INFO  YarnClientSchedulerBackend:54 - Stopped
2019-10-28 14:38:55 INFO  MapOutputTrackerMasterEndpoint:54 - MapOutputTrackerMasterEndpoint stopped!
2019-10-28 14:38:55 INFO  MemoryStore:54 - MemoryStore cleared
2019-10-28 14:38:55 INFO  BlockManager:54 - BlockManager stopped
2019-10-28 14:38:55 IN

[2019-10-29 18:31] CodingCat commented on #4970
no, we cannot change this behavior

[2019-10-29 18:31] #4970 closed

[2019-10-29 18:33] CodingCat commented on #4962
https://github.com/dmlc/xgboost/issues/3506

[2019-10-29 18:33] #4962 closed

[2019-10-30 00:01] borisclemencon commented on #4888
Hello Linlin,

thanks for your answer. Your solution allows me to retrieve my validation error and actually enforce early stopping while training a PipelineModel, which was the goal of this issue. To go a bit further, it would be nice still to:

- be able to specify a particular validation test that is not sampled from the training set, like it is possible when training a XGBoostClassifier alone.

[2019-10-30 00:05] nigimitama opened #4995 "Predicted values are different between hist and gpu_hist when using large dataset"
When using a certain type of data, the prediction results may differ between tree_method = 'hist' and 'gpu_hist'.

For example, when random numbers are generated while changing the number of columns and rows with the following code, the difference increases when around 10,000 rows.

(The environment I tried is Google Colab: xgb ver.0.90, CUDA 10.1, Tesla K80.)

[code]

![image](https://user-images

[2019-10-30 00:32] RAMitchell commented on #4995
It would be helpful to know the direction of the difference e.g. are the results better for hist or gpu_hist?

[2019-10-30 06:54] sano176 commented on #4177
i  met this problem too,  i could't find  the  reason to explain it, "objective = rank:pairwise" better than "objective = rank:ndcg"

[2019-10-30 10:01] pallabkarmakar opened #4997 "Memory Leak issue with Xgboost c_api"
Hi Team,

I am getting huge memory leak while using xgboost c_api like ( **XGDMatrixCreateFromMat, XGBoosterPredict, XGBoosterLoadModel**). I have used valgrind to detect the leak. Following is the summary.

Xgboost Version: 0.90

valgrind Log:
==========
==179722== LEAK SUMMARY:
==179722==    definitely lost: 1,872 bytes in 78 blocks
==179722==    indirectly lost: 12,652,023 bytes in 4,474 blocks

[2019-10-30 12:14] trivialfis commented on #4997
Could you provide a reproducible example?  We run sanitizer at test so I would like to confirm the error is in XGBoost.

[2019-10-30 12:48] pallabkarmakar commented on #4997
I have run valgrind for demo/c-api from xgboost compiled directory and below is the log.

Note: I have changed "cc=g++ -std=c++11" at Makefile and make use "auto" instead of "hist" at line 37 (c-api-demo.c)

Valgrind log:
=============
-rwx------ 1 r622244 rqd_ml_appdev 11437 Oct 30 08:41 c-api-demo
-rw------- 1 r622244 rqd_ml_appdev  3073 Oct 30 08:41 c-api-demo.c
-rw------- 1 r622244 rqd_ml_appd

[2019-10-30 14:45] trivialfis commented on #4997
Just ran sanitizer  with c-api-demo.c, didn't find any leak.  Will try valgrind later, I have very limited network access at the moment.

[2019-10-30 16:01] palVJ opened #4998 "Only analyze features included in model (predcontrib,predinteraction)"
This concerns Tree shap via XGBoost in my case using R. Think this is relevant besides R though.

Short:
In R: Matrix/array returned from predict() with predcontrib=TRUE or predinteractions=TRUE is very sparse due to variables not included in model are included in matrix/array. Give user opportunity to only return variables included in model?
In addition, considering returning objects which take l

[2019-10-30 17:30] trivialfis commented on #4922
@haha150 I usually just do:
[code]
and everything works.  I use this with multiple versions of Fedora and Ubuntu for over a year by now ...  I can't really help with compiler internal error.  Try posting an issue on nv's form: https://devtalk.nvidia.com/

[2019-10-30 17:30] #4922 closed

[2019-10-31 11:09] pallabkarmakar commented on #4997
Using XGBoosterFree and XGDMatrixFree the memory leak reduced. hence closing the ticket.

[2019-10-31 11:09] #4997 closed

[2019-10-31 11:10] #4995 closed

[2019-10-31 15:30] bakaburg1 opened #5000 "[R] For early stopping, watchlist must have at least one element"
Hello, I'm getting the error in the issue title and I cannot find a way to solve it. I already used xgboost in the past and didn't have this problem.

[code]

[2019-11-01 04:02] zwqjoy opened #5002 "Does External Memory will save Memory Used ?"
I train xgb with data [train]  the Memory Used is  17G
I train xgb with data [train#dtrain.cache]  the Memory Used is  17G。

I test in:
1. tree_method is hist ,and version is 0.81

2. tree_method is hist ,and version is 0.82

 The cache  will not save the Memory Used?

And I use the  train#dtrain.cache  with  tree_method is hist ,and version is 0.90 (failed)  when start train, will   failed with e

[2019-11-01 04:08] zwqjoy commented on #4357
I use XGBoost 0.81 with cpu,  The external memory that allows for training on datasets that don’t fit in main (a.k.a. host) memory.   But I train  ,the  memory is same  17G,  use the external memory or not.

[2019-11-01 04:08] trivialfis commented on #5002
What's the used tree method?  And xgboost version?

[2019-11-01 04:08] gomlfx commented on #5002
Is it possible to use xgb like LGBMRegressor() ?

I'm trying to write it as the default format XGBRegressor() is that
possible or it can't write that way?

On Thu, Oct 31, 2019 at 9:03 PM 小墨鱼 <notifications@github.com> wrote:

--
Mike Smith
Data Scientist
Python Developer
South Bay, CA, USA

[2019-11-01 04:11] zwqjoy commented on #5002
tree_method is hist ,and version is 0.81

[2019-11-01 04:12] gomlfx commented on #5002
I run from the newest scikit import.

On Thu, Oct 31, 2019 at 9:09 PM Jiaming Yuan <notifications@github.com>
wrote:

--
Mike Smith
Data Scientist
Python Developer
South Bay, CA, USA

[2019-11-01 07:17] trivialfis commented on #5002
I don't think the scikit-learn interface supports external memory as you can't pass a DMatrix into scikit learn interface (I have never tried to do so).

@zwqjoy There are some fixes for external memory during last few months.  Right now external memory support are mostly surrounded to `approx` method, hist support is still working in progress.

[2019-11-01 15:15] sh1ng opened #5003 "gpu_predictor.cu:302: Check failed: device >= 0 (-1 vs. 0) when not gpu_id is specified"
Comment out the line to reproduce
https://github.com/h2oai/h2o4gpu/blob/cd0a9ec1f51a5c7945299e3a864397cb9d06bc82/tests/python/open_data/gbm/test_gpu_prediction_pickledmodel.py#L143

[code]

[2019-11-01 20:25] Fedorov-Artem commented on #4860
Same problem for me. I use pycharm and Windows as OS. Get the 0xC0000409 error very soon after fit starts.
Tried xgboost ver 0.82 and 0.81 - and got the same problem. Xgboost ver. 0.80 works fine (the calculation hasn't finished jet, but it didn't crush at the very beginning of the calculation).

[2019-11-01 21:28] ek-boston commented on #4968
Thanks to your help I was able to create a CDF for all 199 possible values. Do you know how I would be able to create a function for future prediction in this format? For future data, I will not know if there are exactly 91 classes, as it may be a few more or a few less. Most of the yards values that come up are centered around 3, so it will be important that the scaled versions of those values li

[2019-11-01 21:33] hcho3 commented on #4968
Do you plan to train new models with future data? In that case, you can repeat the whole process to create a new CDF for each new model you train. In particular, for each model you train, you should retain the mapping between the yard number and the XGBoost label index. The mapping will be unique to each model, since as you said, there may not be exactly 91 unique classes in the new data.

[2019-11-01 21:45] ek-boston commented on #4968
Yes. Ideally, I will be able to create a function that can uniquely map each model without knowing the exact range of classes within the data. The goal is for it be able to be applied to future datasets without having to make any manual changes based on the number of unique classes.

 I greatly appreciate your steady responses to this.

[2019-11-01 21:50] hcho3 commented on #4968
A realistic step would be to create a script to automatically compute the number of unique number of classes present in a given set of data points. Then the script can compute the mapping accordingly.

[2019-11-02 02:01] connect2robiul commented on #4949
This solution is not always working. In my case, I just download user argument of Xcode. I think this was happening because a new version of Xcode was downloaded and the new agreement was not accepted. Right now it's working properly.

[2019-11-02 07:19] trivialfis commented on #5002
Just to answer the question: Yes it does save memory usage as it loads data batch by batch.

[2019-11-02 07:19] #5002 closed

[2019-11-03 09:16] trivialfis commented on #4923
Looking.

[2019-11-04 04:53] nalzok opened #5006 "[Feature proposal] Reuse negative ntreelimit argument"
I'm mostly concerned with the R package, but this proposal should apply to other language bindings as well.

Currently, `predict.xgb.Booster` calculates the sum of predictions from the first `ntreelimit` trees, with an exception being `ntreelimit = NULL` where all trees are used. At this point, it doesn't make sense to have a negative `ntreelimit` argument.

I offer to address #2175 by returning t

[2019-11-04 05:16] zwqjoy opened #5007 "Use External Memory Feature , Cache not save the Memory Used"
The [ train and test ] files  total (2.8G)
xgboost version is   latest version :  1.0.0-snapshot

The the training is running, I run 4 experiments.

tree_method:    approx  cacheA   10.44g  |  no cache 9.83g
tree_method:    hist        cacheA   15.03g  |  no cache 13.02g

So what should I do to use the External Memory to save the system memory used.

[2019-11-04 05:34] trivialfis commented on #5007
Weird.  Will investigate further.

[2019-11-04 07:02] trivialfis commented on #5006
@nalzok I read the `staged_predict` method.  We can explicitly support this method without reusing the `ntreelimit`.  I'm happy to add more features to our interface as this seems to be a gain.

[2019-11-04 07:24] nalzok commented on #5006
@trivialfis That would be very nice! I agree that extending the API interface would be the best solution. However, development takes time, and this feature request presumably doesn't have high priority, so it might take months or even years before the change finally rolls out. I would be happy to open a pull request if you want a temporary workaround.

[2019-11-04 12:46] Mantj opened #5009 "How I can get eval value for each iteration"
Hi~I using xgboost4j-spark version0.82 in spark scala.
I use setCustomEval and fit my **classification model** successfully, and I can see the eval value for each iteration in console.
But I want to save the Eval Value for each iteration into file, hwo can I do?

[2019-11-04 13:47] nigimitama commented on #4995
I would like to tell you some information.

Firstly, the model learned with CPU did not perform better than the model learned with GPU, or vice versa.

Secondly, even when learning with CPU, if the order of the rows of the train data is changed, the prediction for test data may not match the prediction for test data of the model using the normal train data. (However, this was only when `tree_metho

[2019-11-04 14:47] cowden commented on #3826
@hcho3 @Denisevi4
Hi,

I came across this same behavior as well, and I was able to track down the cause to a large concentration of data at a single floating point number (or at least the distribution is below the precision of floats).  The exact greedy method can't resolve the split between observed values, so it gets rounded, and in this situation the "<" logic in scoring a tree differs from the

[2019-11-05 07:57] nalzok commented on #5006
The research project I'm working on calls for prediction from individual trees, so I just took the R package on CRAN and made the modification myself, and here is [the commit](https://github.com/nalzok/xgboost-R/commit/8ae1a7477317134fbdafcb1f9429ecc96872afc6) that implemented everything. As you can see, there are only a few lines of change to review. (I don't have a GPU at hand, so I didn't touch

[2019-11-05 08:51] LangziXing commented on #1715
Thank you very much! It works for me!

[2019-11-05 11:20] trivialfis opened #5011 "GPU memory monitor fails to log allocation."
When setting `verbosity` to 3 the memory logger should log all allocation and deallocation on GPU.  But I encountered the deallocatation error when input is cudf, saying that the pointer in SpasePage::data is never allocated, which is obviously not true.

This is a reminder for myself.  Also @RAMitchell might have some inputs here.

[code]

[2019-11-05 11:22] trivialfis commented on #5003
Have a local branch for fixing this.  Let me get #4990 done first.

[2019-11-05 11:29] trivialfis opened #5012 "Flexible rabit function call."
In https://github.com/dmlc/xgboost/pull/4990#issuecomment-549637875 ,  I felt that this is a serious issue as running something more than once is expected.

@chenqin feel free to reach out if you need any help. ;-)

@CodingCat @hcho3

[2019-11-05 11:43] laura779 opened #5013 "[jvm-packages] xgboost4j-spark 0.82 stuck at foreachPartition at XGBoost.scala:397"
I met this issue many times. it sometimes almost hang for more than 1 hour.
 There are about 58061308 samples , and each sample has 60 feature columns.

spark conf：SPARK 2.2.1
master = yarn-cluster
driver-memory = 8G
executor-memory = 12G
executor-cores = 1
num-executors = 1000
spark.yarn.executor.memoryOverhead = 2048

and params of xgboostRegression are set as below:

 val xgbParam = Map(

[2019-11-05 16:02] trivialfis commented on #5006
Thanks.  Will look into it tomorrow.  Has been a long day.

[2019-11-06 00:58] RAMitchell commented on #5006
@nalzok I had a research project that also manipulated individual trees. The way we solved it (in python) was to create a separate booster object for each tree then chain the trees together using the dmatrix.set_base_margin() method to start each booster from the predictions of the previous boosters.

Not exactly a high performance solution, but we had complete control over each boosting iteration

[2019-11-06 05:37] chenqin commented on #5013
Hi @laura779 can you help paste driver log. It's possible one of worker dead and cause entire job stuck. Can you try latest master and set "rabit_timeout" to 30 in your case.

![image](https://user-images.githubusercontent.com/1184534/68271038-467a7d80-0014-11ea-8143-d1bd111d13ee.png)

[2019-11-06 05:47] chenqin commented on #5012
This topic were covered in previous PR. In nutshell, it's hard to reason which allreduce results failed worker suppose to recovery from without some kind of signature.

- In one side, raibt implemenation from tianqi etc rely on sequence number per iteration help with failure recovery
- In other side, because bootstrap time recovered worker we often don't have same sequence as first time start work

[2019-11-06 06:58] trivialfis commented on #3826
Closing.  See #5010 .

[2019-11-06 06:58] #3826 closed

[2019-11-06 07:01] trivialfis commented on #5012
@chenqin I will revisit the previous discussion.  Thanks for the clarification.

[2019-11-06 07:09] CodingCat commented on #5012
if single point recover is immature, can we disable it instead of blocking everything?

[2019-11-06 07:13] trivialfis commented on #5012
@CodingCat If the PR is reverted I will unblock this issue. I will leave it for @chenqin to decide whether it's infeasible to guarantee all calls to rabit won't trigger this error.

[2019-11-06 07:15] CodingCat commented on #5012
I think this is related my previous comments on https://github.com/dmlc/rabit/pull/98#discussion_r316969897 ?

[2019-11-06 07:16] trivialfis commented on #5012
Or at least there should be a canonical way to use it "correctly" and the behaviour being testable.

[2019-11-06 07:19] trivialfis commented on #5012
@CodingCat Yup.

[2019-11-06 08:13] #4987 closed

[2019-11-06 08:34] trivialfis commented on #5011
Found the cause ... verbosity is not effective during DMatrix construction.

[2019-11-06 13:35] laura779 commented on #5013
thank you @chenqin , but my spark version is 2.2.0 and  for some reason I can't update. The latest master require higher version of spark.
driver log is too long to paste, and i look the syslog, something like below:
<img width="1220" alt="2" src="https://user-images.githubusercontent.com/24602230/68302543-3a0e2780-00dd-11ea-8365-cd3f0ccb1707.png">
<img width="1486" alt="1" src="https://user-image

[2019-11-06 15:53] chenqin commented on #5012
First of all, new code path need to opt in so there is no blocking whatsoever. The reason why you have seen test failure because new pr introduced duplicated allreduce call why is not support by either old code path nor new code path. The difference was I introduced a Jenkins tests which we disabled to unblock new pr get in.

Moving forward, I plan to put better debugging message to rabit user so

[2019-11-06 16:02] trivialfis commented on #5012
@chenqin Could you help me understand why it's a duplicated call, and how do I re-enable that test?

[2019-11-06 16:23] nalzok opened #5017 "Gini Importance / MDI"
How can I get the Gini Importance, a.k.a. MDI, from a booster model?

According to the [document](https://xgboost.readthedocs.io/en/latest/tutorials/model.html#learn-the-tree-structure), it appears that the gain of a leaf is simply MDI plus gamma, so I'm tempted to use `xgb.importance(model = bst)$Gain + bst$params$gamma`. However, that could be inaccurate since `xgb.importance` calculates the rel

[2019-11-06 16:31] chenqin commented on #5012
explain duplication:

void foo(){
   rabit::allreduce(.....)
}

rabit::init()
//duplicated as we use caller name and file line#
foo()
foo()
rabit::loadcheckpoint()
for(loop){
//not duplicated as we use seq number
foo()
foo()
rabit::checkpoint()
}
rabit::shutdown()

how to enable:

void foo(string unique= ""){
   rabit::allreduce(...., unique)
}

rabit::init()
//no more collision
foo("1")
foo("2")

[2019-11-06 17:17] trivialfis commented on #5012
Okay.  Thanks!  Will create a PR trying to workaround it.

[2019-11-06 18:24] nettoyoussef opened #5018 "xgb.cv doesn't return features names"
Hi all,

Long fan of your efforts with the Xgboost algorithm/implementation. It is super fast and memory-friendly.

I found a problem when trying to see feature importance when using the `xgb.cv` function, namely that it doesn't return the features names when using the callback `cb.cv.predict(save_models = TRUE)`.

I found this trying to plot the model importance using  `xgb.plot.importance`.
Does

[2019-11-06 18:34] chenqin commented on #5012
Hold on this for a min, I am considering reduce this kind of burden. Let me try on rabit side first

[2019-11-06 18:48] guiguilegui opened #5019 "Inconsistent evaluation metric for tweedie"
Hello everyone,

Using the tweedie distribution doesn't give consistent evaluation metric results (nloglikelihood), even when a seed is used.

Example when used on R 3.6.1 with xgboost_0.90.0.2:
[code]

[2019-11-06 18:58] nettoyoussef commented on #5018
We have a workaround for  the problem passing the names of the features, as exposed [here](https://discuss.xgboost.ai/t/display-original-encoding-when-writing-to-csv-or-running-model/687/4):

[code]

But I still find that it would be advisable to correct the original problem.

[2019-11-06 22:45] hcho3 opened #5020 "Latest XGBoost incompatible with Python 3.4"
Reported in https://discuss.xgboost.ai/t/xgboost-invalid-syntax-async-def-map-local-data/1238

https://github.com/dmlc/xgboost/blob/7663de956c37eb4dd528132214e68ba2851d9696/python-package/xgboost/dask.py#L169

`async def` is introduced in Python 3.5, so it is not compatible with Python 3.4.

We have two choices:
1) Require Python 3.5 and higher; or
2) Remove the use of `async def`.

@trivialfis Wh

[2019-11-06 22:47] hcho3 commented on #5020
I cast my vote to 1), since Python 3.4 has reached the end of life.

[2019-11-07 00:37] chenqin commented on #5013
can we have log from executor 408 pasted here as well? (got killed by driver host: zw02-data-hdp-dn0622.gh.sankuai.com)

[2019-11-07 06:28] laura779 commented on #5013
syslog of executor 408:

19/11/05 23:03:48 INFO main CoarseGrainedExecutorBackend: resourceId: None
19/11/05 23:03:48 INFO main CoarseGrainedExecutorBackend: Started daemon with process name: 33419@zw02-data-hdp-dn0622.gh.sankuai.com
19/11/05 23:03:48 INFO main SignalUtils: Registered signal handler for TERM
19/11/05 23:03:48 INFO main SignalUtils: Registered signal handler for HUP
19/11/05 23:03:

[2019-11-07 06:30] trivialfis commented on #5020
@hcho3  Sorry for the late reply.  Totally on board with 1).

[2019-11-07 08:17] RAMitchell commented on #5020
I feel like there will be corporate systems stuck on old versions and 3.4 is not that old.

I prefer supporting it given this might be a case of changing 1 or 2 lines.
https://stackoverflow.com/questions/30191556/coroutine-in-python-between-3-4-and-3-5-how-can-i-keep-backwords-compatibility

[2019-11-07 13:43] JackGuoFranklin commented on #1715
import os

os.environ['KMP_DUPLICATE_LIB_OK']='True'

it  works for me,thank you .

[2019-11-07 14:19] ramkrish0403 opened #5022 "out of order predictions from unpickled xgboost model"
Hi,

The unpickled xgboost model is giving unstable results during testing. xgboost version is 0.90.

I am saving the trained xgboost model using python pickle module.
`pickle.dump(xgb_trained_model, open('xgb_v1.pickle.dat', 'wb'))`

While testing, the trained model is loaded using python pickle.
[code]
`temp['score'] = xgb.predict(xgboost.DMatrix(temp), ntree_limit=xgb.best_ntree_limit, validate

[2019-11-07 14:41] #5022 closed

[2019-11-07 14:41] ramkrish0403 commented on #5022
My bad, the data is sent to model out of order.

[2019-11-07 18:01] trivialfis opened #5023 "Model reproduciblility with histogram tree method."
A link to the original issue: https://github.com/dask/dask-xgboost/issues/37

TODOS:
- [x] CPU/GPU deterministic scattered add for building histogram.
- [x] Verify allreduce is deterministic.
- [x] Verify cub BlockSum is deterministic.
- [ ] Distributed environment.

Related:
https://github.com/dmlc/xgboost/issues/4204
https://github.com/dmlc/xgboost/issues/3921
https://github.com/dmlc/xgboost/iss

[2019-11-07 18:08] trivialfis commented on #5023
It would be nice to test for hist and gpu_hist too, as these two are most used in production env.

[2019-11-07 19:29] chenqin commented on #5013
humm, this may not be the root cause of failure->stuck. Can you upload full log zip to and share a link for us to look into?

[2019-11-09 06:39] trivialfis commented on #5020
I can try supporting it ..

[2019-11-09 10:01] stevemanion opened #5025 "[jvm-packages] xgboost4j-spark built against Scala 2.12 hangs during training on Windows 10"
This is an issue with regards xgboost4j-spark hanging when training a model on Windows, when built from source against Scala 2.12.4.

**Environment**
* XGBoost4j and XGBoost4j-spark 0.90
* Windows 10, 64 bit, Home
* Python 3.6.3
* Scala 2.12.4
* Java 8
* CMake 3.15.4
* Windows 8.1 SDK (via Visual Studio Community Edition 2015)

**Steps to reproduce**

First I built the jars, following the instruct

[2019-11-09 17:45] magehex opened #5026 "[BUG] Running xgboost (gpu) in a for-loop leads to error"
**I want to run a solver in a for-loop and got following error:**

[code]

**Steps/Code to reproduce bug**

[code]

**Environment details (please complete the following information):**

- Environment location: [Desktop PC]
- Linux Distro/Architecture: [ubuntu 18.04 amd64]
- GPU Model/Driver: [Quadro P600 and driver 418.87.01]
- CUDA: [10.1]

[2019-11-10 06:10] nalzok commented on #5006
@RAMitchell Hi Mitchell, thanks for the advice. Actually, we are now switching to use the Python package due to some operational reasons. I'm not very familiar with the Python API, though, so it would be great if you can share an example.

[2019-11-11 16:43] JerryX2014 opened #5027 "Monotone constraints error"
Hello,

I am running xgboost v0.82 on a linux box by using R 3.5.1.

My data has more than 2000 attributes, and I would like to set monotone constraints. Then it popped up the following error message.

![image](https://user-images.githubusercontent.com/10041052/68604298-29acd280-0478-11ea-99c7-27c69d0ce597.png)

However, if I just included the first 1200 attributes with the corresponding 1200 mono

[2019-11-11 16:48] nalzok opened #5028 "Differentiating between base_score and base_margin"
What's the difference between the `base_score` parameter of `xgboost.train` and the `base_margin` attribute of a `xgboost.DMatrix`? The documentation isn't super clear on this topic.

From my understanding, both specify the initial value of the prediction, and the former overrides the latter when both are set, but I suppose there are more differences.

[2019-11-11 17:05] magehex opened #5029 "[BUG] Using cros_val_score and xgboost gpu together leads to error"
I want to use cross_val_score from sklearn-package and xgboost with gpu support.

[code]

Then the following error appears

[code]

[2019-11-11 18:36] david-cortes opened #5030 "Cannot use random state passed by IterativeImputer"
If I try to use `XGBRegressor` in [SciKit Learn's Iterative Imputer](https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html), it will fail due to the random state that is passed from the imputer - example:
[code]
[code]

Would be nice if xgboost's scikit-learn API classes could accept this type of random state like sklearn's own classifiers/regressors.

Full example

[2019-11-11 21:36] RAMitchell commented on #5028
I believe one initialises the score globally for all instances, the other allows setting it individually for each training instance. In the second case this would be useful for continuing training from the output of some other kind of model.

[2019-11-12 00:58] trivialfis commented on #5029
This one is a little bit tricky, see: https://github.com/dmlc/xgboost/issues/4843

[2019-11-12 00:59] trivialfis commented on #5030
@david-cortes Would you like to open a PR as you already familiar with it?

[2019-11-12 01:18] trivialfis commented on #5026
See https://github.com/dmlc/xgboost/issues/5029

[2019-11-12 01:18] #5026 closed

[2019-11-12 06:37] trivialfis commented on #5012
@chenqin Any update?  I'm thinking about bringing back your original `is_boostrap` option.  Also I don't think there's any need for recovery during construction of DMatrix as it happens before generating model (training).  Do you think there might an easy way to disable recovery at such cases?

[2019-11-12 06:46] chenqin commented on #5012
I have been overwhelmed with other things, ETA end of week. bring back is_bootstrap will not fix issue because root cause is DMatrix was constructed in a way that requires all workers talk with each other twice or multiple times. Think of a worker dead and retry, how can it figure out which results it suppose to feedback to user land if there are more than one calls with same signature.

Recovery

[2019-11-12 07:17] david-cortes commented on #5030
I’m not really familiar with how it works, but have been checking it in a bit more detail.

I’ve now realized that the class RandomState is from numpy ([link](https://github.com/numpy/numpy/blob/9ee262b5bf89e8c866a507e4d62b78532361adc2/numpy/random/mtrand.pyx)), and as of v1.17, it is a container for a random state in a Mersenne-Twister number generator, which is supposed to be used by the classif

[2019-11-12 09:13] trivialfis commented on #5012
@chenqin Thanks for the good work.  I'm not urging anything, just trying to know your progress.  Please let me know if I can be of help.  If you feel I'm nitpicking too much due to lack of knowledge, you can reach me offline.

[2019-11-12 10:56] trivialfis commented on #5030
@david-cortes It seems you have a lot more insight than me. ;-)

Glancing through sklearn's document, is it a fair guess that the random state is changed per iteration?  We can do that for XGBoost too, this way I believe the effect is the same.  Haven't look into their code yet but sklearn has to do similar thing to actually use `RandomState` right?

[2019-11-12 16:02] david-cortes commented on #5030
Took a look at SciKit-Learn's IterativeImputer code and it seems the random state is modified at each iteration if some random number is generated inside the regressor/classifier, as it simply sets the attribute `random_state` of the object to its own (which does not perform a deep copy AFAIK and from some quick testing), and once this object generates a random number, the state will change.

Made

[2019-11-12 17:35] #4679 closed

[2019-11-12 17:54] trivialfis commented on #5027
Could you share your used tree method?

[2019-11-12 18:39] JerryX2014 commented on #5027
I used the default tree method.

I found the issue: my monotone constraints had NAs. After I replaced them with zeros, it worked as expected.

Thanks,

[2019-11-12 18:39] #5027 closed

[2019-11-12 19:44] chenqin opened #5033 "[failure recovery] multiple bootstrap allreduces with same signature"
In recent, we support xgboost native trainer recovery (not yet for spark side). Rabit (xgboost all-reduce sync) assumes all-reduce calls before load-checkpoint owns unique signature.
In https://github.com/dmlc/xgboost/pull/4990, we found this assumption is not always uphold where user would like to embeded bootstrap allreduce calls where causing signature collision.

In order to support those boot

[2019-11-13 21:37] Kodiologist opened #5036 "SHAP values seem to be computed incorrectly under DART"
A property of SHAP is that the sum of SHAP values for a case, plus SHAP's computed bias for the model, should equal the prediction for that case. This doesn't seem to obtain under dropout with the DART booster. Here's an example script. If dropout is enabled by setting to `one_drop` to `TRUE`, the SHAP sums will no longer be correct and "Oh no" will be printed. I'm using xgboost 0.90.0.2 and R 3.6

[2019-11-13 21:55] RAMitchell commented on #4986
This paper is very interesting thanks @PhilippPro. There are a few issues with directly adopting the default parameters from Table 3. The paper refers to classification datasets only. How confident are we that these parameters are effective for regression/ranking? This actually brings up a very interesting question: are our regularisation parameters invariant to learning objective? For example `mi

[2019-11-13 23:20] hcho3 commented on #5036
@Kodiologist Try setting `ntreelimit` to the number of boosting rounds. Otherwise, you'd perform dropout (i.e. a random subset of trees will be selected), which is almost certainly not what you want when performing a prediction.

[2019-11-13 23:24] Kodiologist commented on #5036
Setting `ntreelimit = 3` in the above code changes the predictions without changing the SHAPs, and the new predictions still aren't equal to the SHAP sums.

[2019-11-13 23:25] nahidalam commented on #3789
Is this issue fixed yet? Looks like setting `ntree_limit = 0` during the prediction will fix it? But is there a way to do it in Sagemaker batch-transform job?

[2019-11-13 23:27] hcho3 commented on #5036
The new prediction values were probably the correct ones, given the documented behavior of dropout at prediction time. We need to ensure whether SHAP also honors `ntreelimit` argument.

[2019-11-14 04:12] run2 opened #5037 "Xgboost predicts different values for same row in a sparse matrix, when predicting on different chunks of matrix"
I am using a xgboost MultiClass model trained on Sparse Matrix (csr). When I use the model to predict on a sparse matrix - I get different prediction values for the same rows if I predict on the whole matrix (in one shot) or - on a subset of rows.

So like if I do
[code]
and then if I do
[code]
Then the rows between n and m have very different prediction values between predictions1 and predictions

[2019-11-15 01:56] mohita-ajmera opened #5039 "Attribute Error: 'NoneType' object has no attribute 'split'."
![image](https://user-images.githubusercontent.com/14015331/68910764-f076aa00-0778-11ea-8d10-1f9e884b326b.png)

[2019-11-15 01:57] hcho3 commented on #5039
Can you post your script here? It looks like your XGBoost installation is somehow corrupted? Also what is your Python version?

[2019-11-15 02:07] mohita-ajmera commented on #5039
I tried it in both python 3.6 and 3.7 and got the same error.
I am using a docker to build this flask application where the installation is done using pip install xgboost while building the image.

Getting error in import itself -
import api.ml_models.prep_data_reactivation as prep
import pickle
import psutil
import xgboost ----> error point

Please suggest.

[2019-11-15 02:12] hcho3 commented on #5039
It looks like the docstring is being stripped away. See https://stackoverflow.com/questions/34939539/python-doc-returning-none. Can you unset `PYTHONOPTIMIZE` environment variable?

[2019-11-15 03:36] mohita-ajmera commented on #5039
It worked after changing this Python Environment variable PYTHONOPTIMIZE.
Thanks a lot for your suggestion.

[2019-11-15 03:36] #5039 closed

[2019-11-15 03:39] hcho3 commented on #5039
No problem. Thanks for using XGBoost.

[2019-11-15 04:24] ZichaoHuang commented on #4933
@connect2robiul I encounter the same problem when building xgboost from source on macOS 10.15.1, have you solved it yet?

[2019-11-15 07:58] timruning opened #5040 "[jvm-pacakges] why spark xgb must repartitionForTraining dataset to nWorkers partitions?"
when I train my spark xgb model, I usually  meet the memory overflow  problem.
I find it is because we must repartition the dataset into nWorkers partitions.
So here is my question:
why xgb must repartitionForTraining ?
How can i solve this problem?
can I set nWorkers to a very big number?
Please help me.

this is the code:
![image](https://user-images.githubusercontent.com/13085553/68926469-900b5

[2019-11-15 08:46] PhilippPro commented on #4986
Hi @RAMitchell ! I am interested. I agree with you, that the nrounds parameter is too high. I think it would be better to optimize nrounds in a restricted hyperparameter space, e.g. set the maximum nrounds to 300.

And yes, regression (can you do ranking in xgboost currently?) is another problem that should be considered. There is also the option to use other defaults for classification and regres

[2019-11-15 11:44] connect2robiul commented on #4933
Update/install most recent Xcode it will be solved   @Tencent

[2019-11-15 16:02] owenljn commented on #4246
Any update on this? I have the same issue here

[2019-11-15 19:48] trivialfis commented on #4246
Thanks for reminding.  Let's see if I can get to this at the weekend.

[2019-11-15 21:55] owenljn commented on #4246
I implemented a workaround using **ZMQ Load Balancer**.

So I cut out the code where XGBoost models are initialized and loaded in my master script, and put the code into an independent python script and implemented a worker routine that uses ZMQ load balancing techniques to serve the XGBoost models in the backend.

Due to system memory limit, I only initiated 4 workers, so 4 independent XGBoost mo

[2019-11-15 22:48] kuanghan opened #5041 "[jvm-packages] Training crashes with a very wide feature matrix input read from libsvm"
Hi,

First of all, I'd like to thank you all for developing such a useful package. I am running into memory issues while training a regression model using `xgboost4j-spark` on Databricks. The summary is that I read the features and responses from a file in the LIBSVM format, and training crashes because it's using too much memory on my cluster. I contacted Databricks support but they couldn't figu

[2019-11-16 00:08] palVJ opened #5042 "Possibility to include bagging_fraction when subsampling?"
There exists evidence that for classification problems with imbalanced datasets, subsampling of individuals where the number of samples in each class is the same, improves prediction:
[https://www.sciencedirect.com/science/article/pii/S0167947316301803#s000115](url)
In LightGBM this is possible to do via pos_bagging_fraction/neg_bagging_fraction.
Is there a possibility to somewhere in the future i

[2019-11-16 10:23] quartermaine opened #5043 "Error when using gpu"
OS : Ubuntu 18.04
CPU : Intel i7-8core
GPU : NVIDIA GTX1060
RAM : 16 GB

I have installed the xboost with gpu support in my virtual environment using the following command : conda install -c anaconda py-xgboost-gpu -n tensorflow

when I try to fit a model I get the following error:

[code]

[2019-11-16 13:54] trivialfis commented on #5043
@quartermaine It seems cuda returned 0 device.  Could you check:
[code]
See how many visible devices are available?

[2019-11-16 14:28] quartermaine commented on #5043
Hi,
This is the output of nvidia-smi

<pre>+-----------------------------------------------------------------------------+
| NVIDIA-SMI 430.50       Driver Version: 430.50       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|

[2019-11-16 14:36] trivialfis commented on #5043
@rongou @RAMitchell Do you have any idea for why?  I believe the version is at 0.90 or earlier where we check whether whether `n_gpus` is equal to 1 when not compiled with nccl.  I encountered this before, mostly related to failed cuda initialization, but can't be sure.

[2019-11-16 14:45] trivialfis commented on #5043
@quartermaine Could you try our nightly build also:
https://xgboost.readthedocs.io/en/latest/build.html  See the third item on the `note` section.

[2019-11-16 14:54] quartermaine commented on #5043
@trivialfis yes I will try.

[2019-11-17 21:47] KeyWgh commented on #4933
Same problem, installing Xcode 11.12.1 doesn't solve it. What should I do?

[2019-11-18 03:17] RAMitchell commented on #4354
See #5044 for a proof of concept on re-factoring DMatrix construction from external data.

[2019-11-18 09:30] zhangshd opened #5047 "Parameter min_split_loss should be greater equal to 0"
**xgboost 0.90**

Traceback (most recent call last):
  File "/home/zhangshd/product_env/repos/XGB_train_ql.py", line 424, in <module>
    gpgo.run(max_iter=25,init_evals=2)
  File "/home/zhangshd/anaconda3/envs/tf36/lib/python3.6/site-packages/pyGPGO/GPGO.py", line 192, in run
    self.updateGP()
  File "/home/zhangshd/anaconda3/envs/tf36/lib/python3.6/site-packages/pyGPGO/GPGO.py", line 149, in u

[2019-11-18 15:12] Kodiologist commented on #5036
From what I've seen so far, it looks like SHAP computation does indeed use all trees, but it doesn't consider how the trees are affected by the normalization step of DART (`Dart::weight_drop_` in `gbtree.cc`). I say this because if you compare SHAP sums to dumped trees, the SHAP sums agree with the sum of leaves whereas the model predictions don't, because the model predictions use `weight_drop_`

[2019-11-18 16:54] Kodiologist commented on #5036
Maybe something like this would work:

[code]

One would have to give `GBTree` a method that provided weights of 1 for non-DART trees, of course. But even were that change made, there's no clear way to access the relevant `GBTree` instance from this point in the code because the function parameter `model` is a `GBTreeModel`, and `GBTreeModel` instances are member variables of `GBTree`, so it's cle

[2019-11-18 18:15] mmccarty commented on #5023
Thank you @trivialfis Very interested to find out what's going on here.

[2019-11-18 20:45] Kodiologist opened #5051 "DART tree weights aren't visible in R"
In particular, they don't appear in the output of `xgb.dump`.

[2019-11-18 21:47] owenljn commented on #4246
Hi I implemented a demo which shows how ZMQ load balancer can help with this issue:
[Link to the demo](https://github.com/owenljn/XGBoost-Load-Balancer-for-Multiprocessing)

[2019-11-19 02:55] #5020 closed

[2019-11-19 02:56] #5030 closed

[2019-11-19 03:07] RAMitchell commented on #3980
I want to revisit some of this discussion around using external dependencies as our JSON engine. After some discussion with @trivialfis and looking at #5046, it seems clear to me that a simple, partial json implementation is possible in dmlc-core or xgboost but not feature complete or with good performance. We are looking at thousands of lines of code for a custom implementation with good enough p

[2019-11-19 03:11] ZichaoHuang commented on #4933
@connect2robiul Installing the most recent Xcode (Version 11.2.1 (11B500)) doesn't help, I can neither install xgboost via `pip install xgboost` nor build it from source. Any other suggestions?

[2019-11-19 03:35] trivialfis commented on #3980
@hcho3 @CodingCat @chenqin

[2019-11-19 05:40] chenqin commented on #3980
I incline we use customized json writer/reader as long as well tested, introducing dependency out of our control could be liability with many unused features. Having Json could help move to simplify rabit recovery protocol. failed worker can recover from flexible sized key/value JSON payload from adjacent host.

[2019-11-19 07:55] wangweitong opened #5052 "I encountered some problems when training data with gpu"
system ubantu 16.04
gpu  Tesla K80 10G
Train the data with gpu and set the parameter params['gpu_id'] = 0
Params['tree_method'] = 'gpu_hist' But gpu shows that no threads use gpu and training is very slow
Somebody can tell me why?

[2019-11-19 20:03] ssoftcheck opened #5054 "[JVM-Package] Spark/scala survival:cox IllegalArgumentException"
When I try to create a XGBoostRegressor with cox objective I get this error, is surviva:cox not supported in the spark version?

val booster = new XGBoostRegressor(Map("objective" -> "survival:cox"))

Name: java.lang.IllegalArgumentException
Message: xgbr_04b4815c0b8f parameter objective given invalid value survival:cox.
StackTrace:   at org.apache.spark.ml.param.Param.validate(params.scala:77)

[2019-11-19 20:23] KOLANICH commented on #3980
nlohmann/JSON is not especially performant.

[2019-11-20 01:22] MakeWater commented on #1715
Thanks Bro！ It worked for me!

[2019-11-20 01:25] MakeWater commented on #1715
I just test tensorflow object_detection API  and run the object_detection_tutorial.ipynb file

[2019-11-20 15:38] akhildp opened #5055 "Model format for exporting xgboost models to disk"
https://github.com/dmlc/xgboost/blob/a4f5c862760029c24a5ba29b2a2ef4787058856c/python-package/xgboost/sklearn.py#L263

This warning here for `save_model` recommends using joblib for python and using the `save_model` only for a non-python binding of xgboost. If my use case was only restricted to using my model within different python environments only, is there any reason why joblib is recommended o

[2019-11-21 04:42] joegaotao opened #5056 "add extremely randomized tree as base learner?"
The variety of mdels plays an important role in model ensemble. I tried some parameters such as "colsample_bytree, colsample_bynode" to make model more stable and different, but trees still grow by some criterion, resulting in the similar models. However, I tried the combination "extratree+lgb", and randomized tree could be used as the certain feature embeding tool  that improves model variety. So

[2019-11-21 13:41] trivialfis commented on #3980
@KOLANICH Indeed, nice interface but neither memory usage nor computation is efficient.

[2019-11-21 19:46] trivialfis commented on #5055
The feature names and types is saved in Python due to possible utf 8 string.  I think it's legacy and can be easily resolved by saving it in cpp, as I couldn't think of a reason why do we care about encodings.  We don't search nor query the encoding dependent string length.  @hcho3

[2019-11-22 15:35] #4724 closed

[2019-11-23 00:31] djarpin opened #5060 "`monotone_constraints` ignored when `tree_method='approx'`"
In XGBoost v0.90, there appears to be a bug where `monotone_constraints` is ignored when `tree_method` is set to "approx".  No warning or errors are thrown and I couldn't find any indication in the documentation that this is intended.  This is particularly difficult to track down because functioning monotonic constraints are not inherently obvious (in most cases) without doing partial dependence p

[2019-11-23 00:53] hcho3 commented on #5060
Choice of tree_method is documented here:
https://xgboost.readthedocs.io/en/latest/tutorials/monotonic.html. I do agree that there should be a warning whenever a training hyperparameter is inapplicable or ignored. See https://github.com/dmlc/xgboost/issues/4211

For now, try setting ‘tree_method’ to ‘hist’.

[2019-11-23 08:00] hcho3 opened #5061 "[CI] Jenkins is down"
The Jenkins master node (xgboost-ci.net) has been down (*) for a few days, according to @trivialfis. **Impact: Substantial amount of test suite is rendered unavailable.** I'm re-building the master from scratch. Sorry for inconvenience caused. @dmlc/xgboost-committer

PS. This seems to be a good opportunity to document all steps it takes to set up the Jenkins master node from scratch. See hcho3/xg

[2019-11-23 09:38] trivialfis commented on #5061
Travis seems also down as there is a permission error.  Will try to resolve it later.

[2019-11-24 14:30] trivialfis opened #5063 "External memory deosn't work without OpenMP."
GTest `SparsePage.PushCSCAfterTranspose` returns invalid number of batches when XGBoost is not compiled with OpenMP.

Platform: Ubuntu 19.04 X86_64
GCC: 8.3

[2019-11-24 16:46] #5060 closed

[2019-11-24 16:47] #5028 closed

[2019-11-24 19:32] trivialfis commented on #5061
Travis is fixed in #5062

[2019-11-24 19:36] hcho3 commented on #5061
@trivialfis Thanks for fixing Travis! I'll get Jenkins back up very soon.

[2019-11-25 06:12] #5033 closed

[2019-11-25 09:08] trivialfis commented on #5052
@wangweitong Could you please provide the version of XGBoost?  And activity of  command `nvidia-smi`.

[2019-11-25 09:09] trivialfis commented on #5047
@zhangshd Could you please provide the used parameters?

[2019-11-25 09:10] #4968 closed

[2019-11-25 09:19] zhangshd commented on #5047
[code]

[2019-11-25 09:22] trivialfis commented on #5037
@run2 Could you please provide a more complete script that I can run?

[2019-11-25 09:35] zhangshd commented on #5047
@trivialfis
Hi trivialfis,
I used the code below to search best params. The error above may occur when I add `gamma` to the GPGO search space. And it worked well when I remove `gamma` from the search dictionary.
[code]

[2019-11-25 09:47] zhangshd commented on #5047
I think a `gamma` greater than 0 may result in a negative `min_split_loss`. Can this bug be fixed well if I still want to add `gamma` to the params searching space?

[2019-11-25 12:15] PhilippPro commented on #4986
@RAMitchell
I could rerun the results with a restricted nrounds. To what value should I restrict it? Or what would be your idea?

[2019-11-25 14:10] quartermaine commented on #5043
@trivialfis I think I have to check my cuda drivers .
I will close the issue.Thank you for the support.

[2019-11-25 16:22] #4898 closed

[2019-11-25 21:48] RAMitchell commented on #4986
I think 100-500 is more reasonable - the goal would be for the user's application not to hang unreasonably when they first try the library. We have several places in language bindings where default parameters arise, we could start with Python APIs (or whatever your preference is) and worry about the rest later.

Another way of approaching this would be for us to provide some kind of dictionary of

[2019-11-26 17:30] hcho3 commented on #5061
Update: Linux pipeline is now back up. I still need to work on the Windows pipeline.

[2019-11-27 00:24] hcho3 commented on #4958
Update: one of the contributors to MXNet CI, @larroy, strongly advised against the use of Terraform. It's better to use [cloudtools/troposphere](https://github.com/cloudtools/troposphere)

[2019-11-27 03:06] kaimo455 opened #5067 "`folds` maybe be generator instead of list of tuple, if generator, the first loop will empty folds, which makes out_idset empty in second for loop."
https://github.com/dmlc/xgboost/blob/9f52e834dca67fe19e6d5933f8bbcf21fd7e2c7f/python-package/xgboost/training.py#L313

Use one for statement to loop folds instead of two for loops.
[code]

[2019-11-27 03:55] 271983592 opened #5068 "how to make xgboost4j-spark use DenseVector to build model on version 0.90"
First, thanks for your great job.
I have one question which need your help.
Our dataset has a lot of 0.0 as meaning value, so we do not want set 0.0 as missing value. What I can do is to make  xgboost4j-spark use DenseVector. But I do not know how to do this.
Can anybody help? Some examples  would be appriciated.
Thank you.

[2019-11-27 03:56] CodingCat commented on #5068
For now, you have to transform 0.0s to another value

On Tue, Nov 26, 2019 at 7:55 PM 271983592 <notifications@github.com> wrote:

[2019-11-27 05:20] 271983592 commented on #5068
Thanks for your replay.
Now I choose version 0.82 and set missing -> Float.NaN.
When using setHandleInvalid = “skip”, errors as below come up.
### **Exception in thread "main" org.apache.spark.SparkException: ML algorithm was given empty dataset.**

And when using setHandleInvalid = “keep”, errors are as below:
### terminate called after throwing an instance of 'dmlc::Error'
###   what():  [13:05:

[2019-11-27 08:16] wangweitong commented on #5052
I have successfully resolved the dependencies between the driver and the cuda version. I uninstalled all the dependencies and drivers and installed the cuda10 and 10 drivers.

[2019-11-27 08:16] #5052 closed

[2019-11-27 08:22] wangweitong opened #5069 "about gpu training speed"
I use a 10G  k80 gpu to train my data but it‘s performing is not well, and it just use a little storage of gpu,I don't know how to use full of storage,somebody knows that?

[2019-11-27 08:30] trivialfis commented on #5069
Could you provide your XGBoost version and training parameters?  Also shape and maybe sparsity of your data.

[2019-11-27 09:48] 271983592 opened #5070 "How to disable VectorAssembler in xgboost4j-spark of 0.90v"
Hi, all.
If using setHandleInvalid = "skip"，VectorAssembler  would be disabled in xgboost4j-spark of 0.90v, and xgboost4j-spark would use DenseVector? And I wonder how xgboost4j-spark works when using setHandleInvalid = “skip”.

[2019-11-27 10:48] rnair56 opened #5071 "Train in python and predict in spark"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-11-27 11:36] rnair56 commented on #5071
I have a trained Xgb model in python and want to use that for scoring in Spark. I was able to get the Scores in Spark using the threads in the community

Using bridge class for XGboost Spark version >0.8
[(https://github.com/dmlc/xgboost/issues/3689)]

How to train in Python and predict in Spark
[https://discuss.xgboost.ai/t/load-python-trained-model-file-into-xgboost4j-spark/80]

The issue now is

[2019-11-27 12:20] trivialfis commented on #5071
@hcho3 How difficult would it be to add tests for cross binding model IO in Jenkins? It's a bit worrying that the Scala package being very a thick layer on top of cxx core.  I haven't look into this issue yet, but I will try to get new model IO up fast as possible.

[2019-11-27 17:56] #5043 closed

[2019-11-27 17:56] quartermaine commented on #5043
Closing issue

[2019-11-28 04:17] John-Brown opened #5073 "Issue with DaskXGBClassifier + Dask '1.0.0-SNAPSHOT'"
This is compiled on a ubuntu machine with CUDA 10 and 8x Tesla GPU's

[code]

[code]

Gives the following error

[code]

If I pass `dy_train.values`

I get

[code]

[2019-11-28 05:48] trivialfis commented on #5073
Great!  Early bug catch.  Will look into it today.

[2019-11-28 07:19] wangweitong commented on #5069
The data is not sparse, there are only 20 features, but there are many outliers. The xgboost version is 1.0.0

[2019-11-28 08:19] trivialfis commented on #5069
You can set verbosity to 3 (debugging).  At the end of training XGBoost will print some profiling results.  Could you share the result with us?

[2019-11-28 08:44] trivialfis commented on #5073
@John-Brown How did you install dask-cuda?  I'm asking because the one in pip is quite out of date, see: https://github.com/rapidsai/dask-cuda/issues/130

Also, you don't need to set objective for classifier.  In Python this is automatically set.

[2019-11-28 09:27] yage99 commented on #4933
There is a bug in apple head files, and is fixed by brew-core team in gcc@9 ([issue](https://github.com/Homebrew/homebrew-core/issues/44579)).
Please try to use gcc@9 to compile XGBoost.
[code]
This will work.

[2019-11-28 11:39] trivialfis commented on #5061
Okay.  I messed up a little.

[2019-11-28 14:56] laura779 opened #5075 "[jvm-packages] same sample get different predict result when data repartitoned. model is trained from xgboost 0.80, and loaded with xgboost4j-spark"
I use xgboost 0.80 to train a model. The training set and testing set are in files of libsvm format and are distributed.
Configuration of training proocess:
XGBoost on Yarn
![image](https://user-images.githubusercontent.com/24602230/69815417-3af42e00-1231-11ea-97fb-c7163f541873.png)
After the model is trained well, I use xgboost4j-spark to load :
![image](https://user-images.githubusercontent.com/

[2019-11-28 15:29] oke-aditya opened #5076 "Error with the labels"
- Hello XGBoost team.

I am trying to do as follows.
My environment is the Google Colab enivronment with default XGBoost in it.

[code]

The following error message is appearing.

XGBoostError: [15:25:10] /workspace/src/objective/regression_obj.cu:65: Check failed: preds.Size() == info.labels_.Size() (5 vs. 4) : labels are not correctly providedpreds.size=5, label.size=4
Stack trace:

Am I doing s

[2019-11-28 15:30] oke-aditya commented on #5076
- My data
![image](https://user-images.githubusercontent.com/47158509/69818080-075dd780-1222-11ea-8e9a-786500e88b40.png)

- My labels
![image](https://user-images.githubusercontent.com/47158509/69818093-104ea900-1222-11ea-998b-f2de51f9be6b.png)

[2019-11-28 16:15] John-Brown commented on #5073
@trivialfis

I built via the directions at:
https://xgboost.readthedocs.io/en/latest/build.html#building-with-gpu-support

[2019-11-28 16:16] John-Brown commented on #5073
I installed via cloning the repo and pip install .

[2019-11-28 17:07] trivialfis commented on #5076
@oke-aditya Could you provide the version of XGBoost?  I just tried this on master branch and 0.9, everything seems fine:
One difference in the code is, I set `data` explicitly, while in your example `data` is not defined.

[code]

[2019-11-28 17:35] oke-aditya commented on #5076
Oh! what a small Mistake. Apologies from my side. Should have checked it before. My code is working fine. It was because of data = df. which I missed.

- I was using XGBoost 0.9.0. It worked fine. Absolutely no issues with XGBoost API.

- I was learning it, so had a confusion 👍  Thank you for your time.

[2019-11-28 17:35] #5076 closed

[2019-11-28 17:36] oke-aditya commented on #5076
- Just closing this issue. Thank you for that. Sorry if I wasted your time. :octocat:

[2019-11-28 21:48] hcho3 commented on #5061
@trivialfis I updated https://github.com/hcho3/xgboost-devops/issues/6 to include some details about the Windows pipeline. I'm also closing this issue, as Jenkins is now fully back up.

[2019-11-28 23:01] #4916 closed

[2019-11-29 00:10] hcho3 commented on #5061
Sorry, looks like I called it too early. Windows pipeline is still broken.

[2019-11-29 07:27] yyyxy opened #5079 "What algorithm does the "rank:pairwise" used?"
I have checked official documents, which are defined as follows:
rank:pairwise: Use LambdaMART to perform pairwise ranking where the pairwise loss is minimized
rank:ndcg: Use LambdaMART to perform list-wise ranking where Normalized Discounted Cumulative Gain (NDCG) is maximized
rank:map: Use LambdaMART to perform list-wise ranking where Mean Average Precision (MAP) is maximized

Maybe I misunderst

[2019-11-29 07:59] hcho3 commented on #5079
LambdaMART operates on a list (query group), and the way the training loss is reduced is by sampling many pairs: https://github.com/dmlc/xgboost/blob/b9dbfe0931dace71ad3e9486dfce6340027b6f63/src/objective/rank_obj.cu#L844-L866

The description of `rank:ndcg` and `rank:map` are quite misleading, since they do almost same thing as `rank:pairwise` and only difference is the loss definition, where the

[2019-11-29 08:25] s-ravichandran commented on #4923
Apologies for the delay in responding. This was due to a gap in understanding in the AddSplit method implementation.

[2019-11-29 08:25] #4923 closed

[2019-11-29 08:37] trivialfis commented on #5079
I think the design is faithful to original algorithm description as that's the strength of lanmdamart, you can put in other metrics as well.

[2019-11-29 08:37] #5079 closed

[2019-11-29 09:36] EricSpeidel commented on #4680
I would like to cast my vote towards an interim release as well.

[2019-11-29 09:52] ZichaoHuang commented on #4933
@yage99 I can successfully build xgboost from source (v0.90) with gcc@9 and install it, but it falils on the import statement.
![image](https://user-images.githubusercontent.com/11463395/69860272-d5577e80-12d0-11ea-83ce-44257b806e5b.png)

[2019-11-29 10:37] trivialfis commented on #4933
I'm not familiar with OSX.  But GCC 4.2 seems really old.

________________________________
From: Zichao Huang <notifications@github.com>
Sent: Friday, November 29, 2019, 5:52 PM
To: dmlc/xgboost
Cc: Jiaming Yuan; Comment
Subject: Re: [dmlc/xgboost] xgboost install failed (#4933)

@yage99<https://github.com/yage99> I can successfully build xgboost from source (v0.90) with gcc@9 and install it, but

[2019-11-29 10:44] yage99 commented on #4933
@ZichaoHuang I think this means there is something wrong with your xgboost library. I have fixed the python install script and created a pull request. You may try to do a clean install. And as @trivialfis said, python with gcc4 may not compatible with libraries compiled with gcc9, you can try to upgrade python first.

[2019-12-02 03:53] #5073 closed

[2019-12-02 10:09] #5061 closed

[2019-12-02 10:10] hcho3 commented on #5061
Fixed in #5078

[2019-12-02 13:14] trivialfis commented on #4639
@hcho3 I made the differences clear between model IO and memory based serialization in https://github.com/dmlc/xgboost/pull/4732  and with a RFC here: #4855 .  Feel free to reopen as I'm currently tracking down all related issues can be resolved by JSON PR.

[2019-12-02 17:02] akhildp commented on #5055
Other than that are there any other caveats of reading in a pickle file vs xgboost binary from a model performance/accuracy standpoint? Fort python, is there a reason for recommending to go with Joblib instead of xgboost binary? In other words does the format we choose impact the predictions at all? Sorry if this is a dumb question but I couldn't find anything in the documentation that states one

[2019-12-02 17:59] trivialfis commented on #5055
@akhildp Would you like to take a look at the `saving_model.rst` in https://github.com/dmlc/xgboost/pull/4732 ?  Before that PR, there's no different other than `feature_names` and `feature_types`.  But after that PR there will be.

[2019-12-02 21:35] hcho3 commented on #4639
@trivialfis Does your RFC address the Python objects used specifically for scikit-learn binding? We may want to port these objects into the C++ core if we want to aim cross-language compatibility.

[2019-12-03 00:50] trivialfis commented on #4639
@hcho3 We can add extra code in scikit learn interface for restoring these objects.

[2019-12-03 00:54] hcho3 commented on #4639
@trivialfis What I mean is that semantics of the extra Python objects are lost when the model is serialized and then deserialized into, say, XGBoost4J-Spark.

[2019-12-03 00:57] trivialfis commented on #4639
@hcho3 Let me try a fix.

[2019-12-03 01:16] trivialfis commented on #5055
Also this one https://github.com/dmlc/xgboost/issues/4639

[2019-12-03 02:04] trivialfis commented on #4639
@hcho3 After we have JSON IO, we can append extra fields into the model like `scikit-learn-model`.  This won't effect internal model IO as core C++ doesn't look beyond what's needed.  Just to note that Python JSON implementation has a fast parser but a slow generator.

[2019-12-03 02:45] trivialfis commented on #4758
@kaixinbuyu Do you still have a reproducible script?

[2019-12-03 03:21] #4758 closed

[2019-12-03 03:26] #5007 closed

[2019-12-03 10:46] VigneshN1997 commented on #4906
@rongou , @RAMitchell , @thvasilo any update on the rationale behind this change?

[2019-12-03 11:55] #5036 closed

[2019-12-03 19:14] #4994 closed

[2019-12-03 19:17] trivialfis commented on #5006
To summarize, this is about staging the prediction.  We can implement it with existing prediction cache functionality, one hurdle is multi-class training where prediction cache is not available.

[2019-12-03 19:19] trivialfis commented on #4853
Use `binary:logistic` for 2 classes.

[2019-12-03 19:19] #4853 closed

[2019-12-03 19:28] trivialfis commented on #4120
GPU Hist is well prepared for empty dataset now.

[2019-12-03 19:29] trivialfis commented on #4083
Closing as empty dataset handling is done for GPU Hist.

[2019-12-03 19:29] #4083 closed

[2019-12-03 21:40] jianjinlayer6ai opened #5085 "How 0 and null are handled in XGBooost?"
Hi All,
If I write 0 explicitly in libsvm file, whether DMatrix and XGB can distinguish 0 and null?

In detail, if a feature is float array [10, 0, null, 20], I can write my libsvm as 0:10 1:0 3:20. In this case, 0 and null can be distinguished in libsvm file. After that, DMatrix is created using libsvm file and XGB is trained on DMatrix. May I ask whether DMatrix and XGB can still distinguish 0 a

[2019-12-03 22:04] hcho3 commented on #5085
Internally, XGBoost uses [CSR representation](https://en.wikipedia.org/wiki/Sparse_matrix#Compressed_sparse_row_(CSR,_CRS_or_Yale_format)) to hold the data matrix. So 0 and missing values will be distinguished.

[2019-12-03 22:55] jianjinlayer6ai commented on #5085
Hi hcho3, thank you so much for your reply, which is very helpful.
Could you kindly show me where I can find the implementation in the code?
My second question is if 0 and missing value can be distinguished in DMatrix, whether they can still be distinguished in XGB training?

[2019-12-03 23:03] RAMitchell commented on #4237
Did we come up with a consensus here? I would like to delete cache files at the end of each run and remove the `CacheExist` line.

[2019-12-03 23:07] hcho3 commented on #5085
Here is the place where CSR representation is stored:
https://github.com/dmlc/xgboost/blob/e3c34c79be05f7833f8fb0228f28745d224d61bc/include/xgboost/data.h#L183-L188

And, yes, XGBoost has a mechanism to handle missing values; in fact, missing value is handled as part of the algorithm. For full description of the algorithm, see my master's thesis at https://drive.google.com/file/d/0B0c0MbnP6Nn-eUNR

[2019-12-03 23:07] #5085 closed

[2019-12-03 23:54] rongou commented on #4237
Sounds good to me.

[2019-12-04 15:37] kylejn27 opened #5090 "[Feature Request] Add score_tree_interval during early stopping"
## Request:

Add a `score_tree_interval` option so that when you're building with really large data, the model doesn't eval on each tree.

Similar to this:
http://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-science/algo-params/score_tree_interval.html

## Purpose:

With large data, scoring every iteration on the validation set is extremely costly. Currently with `early_stopping_rounds` the behavio

[2019-12-04 16:21] akhildp commented on #5055
Thanks for pointing this. These are really exciting changes. Is there an ETA for when these PRs may be merged and when 1.0.0 will be out?

[2019-12-04 17:31] trivialfis commented on #5055
My plan is to solve it first and then start bug squashing.  That PR fixes lots of issues especially for dask interface.  But it's also huge so I'm splitting it into smaller parts other can review.  You are more than welcomed to help the process.  There are already a few PRs I made with changes extracted from JSON PR.  Reviews are needed.

[2019-12-04 18:19] trivialfis commented on #5090
Em.  I wanted to implement stage_predict for XGBoost.

[2019-12-05 03:12] #4837 closed

[2019-12-05 03:50] #4314 closed

[2019-12-05 13:58] #4133 closed

[2019-12-06 09:18] DoanHuuJacques opened #5095 "Threshold effect due to multiple cut point strategies in histogram mode"
Hi,

looking at AddCutPoint() method, I noticed a heuristic with size threshold (16) which determines the strategy to define cut point values.
Is there a particular reason (except to avoid division operations and to be a bit faster) to not always consider the mid-point strategy even for large cardinality?

Indeed, when I encode my categorical features based on the category frequency, if the cardin

[2019-12-06 09:25] trivialfis commented on #5095
@hcho3

[2019-12-06 10:03] hcho3 commented on #5095
The cut point is part of a quantile sketch, so it represents an estimate of quantile value. The midpoint strategy introduces bias by shifting the estimate upward. The shifting is done for categorical or binary features because often a quantile estimate coincides with another integer feature value, so shifting is necessary to discriminate between two adjacent discrete feature values.

The number 16

[2019-12-06 10:42] DoanHuuJacques commented on #5095
@hcho3
Hi Philip
thanks for the quick clarification.
As XGBoost copes only with numerical values requiring upfront encoding into numbers, discrete and continuous are indistinguishable.
I understand now why 2 cut point strategies are available depending on the discrete nature of the feature.
It would be great to explicit such metadata (categorical vs continuous) per feature in a future release, in

[2019-12-06 11:01] trivialfis commented on #5095
Yes.  Please open an issue for that, as collecting insights helps later implementation.

[2019-12-06 11:37] DoanHuuJacques commented on #5095
@trivialfis
I will do thanks

[2019-12-06 11:37] #5095 closed

[2019-12-06 11:45] DoanHuuJacques opened #5096 "[Improvement] Support of discrete vs continuous metadata + AddCutPoint() adaptation"
Hi,

as per discussed in the close issue thread (https://github.com/dmlc/xgboost/issues/5095), give the possibility to provide per feature whether it's a continuous or discrete.

Indeed, XGBoost learning strategy can be adapted accordingly.
The typical benefit (mentioned in the above issue entry about AddCutPoint() method) is to apply the proper cut point strategy for either discrete or continuous

[2019-12-07 08:04] trivialfis commented on #5003
Closed by https://github.com/dmlc/xgboost/pull/5072 .  @sh1ng Please note that I added an option `auto` for predictor, with a brief document.  The rational behind this is, some expects XGBoost to use gpu predictor after loading a pickle for prediction, while others insist on using auto configuration as they want to continue the previous training.

[2019-12-07 08:04] #5003 closed

[2019-12-08 09:07] alexbaron10 opened #5099 "[Documentation problem] XGBoostClassifier doesn't specify if monotone_constraints are usable"
https://xgboost.readthedocs.io/en/latest/python/python_api.html#module-xgboost.sklearn

Doesn't specify if monotone constraints are usable (it seems like they are but i'm not entirely sure since it doesn't explicitly specify.

Thanks in advance

EDIT: neither does it appear here:

https://github.com/dmlc/xgboost/blob/master/doc/parameter.rst

[2019-12-08 18:06] mglowacki100 opened #5100 "Extending XGBClassifier with **kwargs gives error about missing parameters"
Hi,
I've tried to extend XGBClassifier with code as below.
Basically, it adds handling feature names when data is pandas dataframe and fix issues with child class signature. There is a problem with `__init__`, mix-ins are not important.
Analogous code for e.g. LogisticRegression from scikit works fine.
[code]
Error message:
[code]
I've looked into source of `sklearn.py` and commenting-out two line

[2019-12-08 20:37] trivialfis commented on #5100
@mglowacki100 sklearn uses `inspect.signature` to find all parameters of `__init__` function,   in your case it's empty (well there is a **kwargs but it doesn't count).

[2019-12-08 20:46] trivialfis commented on #5099
Em.  Let me check all parameters for SKL interface.  It should work as they are all passed into `xgb.train` as part of `**kwargs`.  I wish we can generate these parameters based on c++ code.

[2019-12-08 21:04] mglowacki100 commented on #5100
@trivialfis I'm not sure if I stated my issue clearly enough. Yes, in general this construction with `**kwargs` remove signature, but with
[code]
I can get it back:
[code]

The only problem is with two lines in `get_params` from original XGBClassifier. Removing:
[code]
fix it.

Full code:
[code]

[2019-12-08 23:34] connect2robiul opened #5102 "ValueError: y contains previously unseen labels: [12.0]"
Code

[code]

Error

[code]

[2019-12-09 06:35] linlin994395 opened #5103 "[jvm-packages]how to convert LeafPredictionCol (array type) to one hot encode"
i have trained a xgbclassifier model, and get leaf indices of every tree in the format of array type, then i just want to convert leaf indices of every tree from array type to one hot encode, and after that ,i can feed the crossed feature into other models such as LR FM

`
val paramMap = List(
      "objective" -> "binary:logistic",
      "eval_metric" -> "auc",
      "max_depth" -> 7,
      "min_

[2019-12-09 09:00] trivialfis commented on #5100
Okay, the `get_params` in XGBoost doesn't have this workaround and it assumes there's always a valid dictionary from SKL.  Let me revise that.

[2019-12-09 12:12] alexbaron10 commented on #5099
Thanks for the effort. I've been trying to use them with DART but i can't see if they are working or not either (documentation doesn't specify if they apply when using DART), that's another problem. Maybe a checkable way could be added in the future that tells if monotone_constrains are being used?

[2019-12-09 12:15] XytHu commented on #4933
I found on my Mac (MacOS Catalina), the XGBoost shared lib **libxgboost.dylib** built by gcc@9 conficts with `ft2font` in `matplotlib`, which is imported by `pandas`, and `pandas` is imported by `xgboost` if they've been installed in you environment. Load the **libxgboost.dylib** before importing `pandas` in `xgboost` can sovle the problem, and it works for me.

You can edit the **core.py** in `xg

[2019-12-09 13:32] SmirnovEgorRu opened #5104 "CPU optimizations - 'hist' method"
Moved discussion from [PR #5008](https://github.com/dmlc/xgboost/pull/5008) to the issue. After the PR - performance drop on CPU is observed. I prepared a plan how to establish optimizations from [PR #4529](https://github.com/dmlc/xgboost/pull/4529) in master branch again.

I tried to split large changes to separate PRs:

|№|Description|Status|
|--|--|--|
|1| Extend Performance Timer to track over

[2019-12-09 14:14] trivialfis commented on #5104
I would love to see the performance optimization back and sorry for the oversight.  Feel free to ping me if you need any help.

[2019-12-09 15:08] trivialfis commented on #5102
What's the value of `num_class = len(y_train.unique())`?

[2019-12-09 17:01] connect2robiul commented on #5102
17 (its int number )

[2019-12-09 17:41] hcho3 commented on #5104
For now, a script that we can run is okay, so that performance results can be re-produced. I plan to design and build an automatic system for performance benchmarking.

[2019-12-10 04:02] trivialfis commented on #3986
@hcho3 Actually I deprecated a lots of things in #5101, but there is no user visible effect, as all deprecated parameters are duplicated in some way.  I just can't remove them as binary IO is still the default IO method.

[2019-12-10 10:48] datainvestor opened #5109 "[dask] XGBoost label size and pred size does not match"
After trying to train xgboost model:

[code]

I get the following error:

`XGBoostError: [11:41:24] /workspace/src/objective/multiclass_obj.cu:60: Check failed: preds.Size() == (static_cast<size_t>(param_.num_class) * info.labels_.Size()): SoftmaxMultiClassObj: label size and pred size does not match
`
Not sure what is wrong, I'm using dask for this dataset as its quite big- around 1.1 million obs

[2019-12-10 11:47] trivialfis commented on #5109
@datainvestor What's the exact commit of your XGBoost, as the dask interface is quite new.  Also from your code example, you are not using dask interface.

[2019-12-10 11:51] trivialfis commented on #5051
@Kodiologist Is there any preferred schema for embedding this information into the text/json/dot dump format?

[2019-12-10 12:33] datainvestor commented on #5109
I updated the code to show the usage of dask.
XGBoost I'm using is coming from dask_ml.xgboost 0.1 package

[2019-12-10 14:49] kylejn27 commented on #5090
happy to take a stab at it, though due to certain restrictions I can't PR into this repository for a while but I can collaborate here in the meantime

[2019-12-10 15:17] Kodiologist commented on #5051
Not really. I don't look at my trees most of the time. I just noticed this absence while I was debugging #5036.

[2019-12-11 02:36] trivialfis commented on #5090
Sorry for the late reply.  I will take a look into this option today.

[2019-12-11 15:06] kylejn27 commented on #5090
no problem, not super high priority for me. Mostly interested in getting familiar with the internals of this library and I think attempting to implement this kind of thing would teach me a lot

[2019-12-11 17:06] nateagr commented on #4753
Hi there! Any update on this epic ? Thanks.

[2019-12-11 17:36] trivialfis commented on #5090
Give it a go, and feel free to reach me if you need any help.  One personal advice, be careful of the prediction cache, it bites.

[2019-12-11 17:47] kylejn27 commented on #5090
great, thanks!

[2019-12-11 19:43] umangs94 commented on #4933
That didn't work for me but this did: https://github.com/dmlc/xgboost/issues/4949#issuecomment-542333666

[2019-12-12 07:19] prasadseemakurthi opened #5113 "Issues installing Xgboost on Mac - CatalinaOS"
Commands used
1. brew install libomp
2. pip3 install xgboost

command: /Users/prasad.seemakurthi/xgboost/bin/python3 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/r1/cys3qrkn49s1jlghjldg3tk40000gq/T/pip-install-_0gsveuo/xgboost/setup.py'"'"'; __file__='"'"'/private/var/folders/r1/cys3qrkn49s1jlghjldg3tk40000gq/T/pip-install-_0gsveuo/xgboost/setup.py'"'"';f=getattr(t

[2019-12-12 07:22] hcho3 commented on #5113
Try installing gcc 9 with `brew install gcc@9`

[2019-12-12 07:33] trivialfis commented on #5113
While fixing the Travis test, I think most of the problems are matching GCC with xcode.  GCC 9 is currently used in Travis and is the default formula in brew if one runs update.

[2019-12-12 18:53] mglowacki100 commented on #5100
I've looked at `sklearn.py` and made changes that seems to work on my local machine, but I don't know if it is consistent with library approach and correct for all cases:
https://gist.github.com/mglowacki100/d24ac8c853be4e1d359cfdf71b2fc526
A few remarks:
- less repetition in `__init__` but `get_params` works
- in original default for `n_jobs` in `XGBRanker` is -1 (accidental inconsistency?)
- `XG

[2019-12-13 08:04] nanffiy commented on #4552
I meet same error。
it works good! if I dont set num_class param.
Thanks

[2019-12-13 08:06] nanffiy commented on #4552
@thesuperzapper

[2019-12-13 08:13] nanffiy commented on #5109
@datainvestor

[2019-12-13 17:05] prasadseemakurthi commented on #5113
@hcho3  Have tried that but still failing.

[2019-12-13 17:29] hcho3 commented on #5113
Try `CC=gcc-9 CXX=g++-9 pip install xgboost`

[2019-12-13 20:04] beojan opened #5116 "predict_proba doesn't work with gblinear"
`predict_proba` fails when the booster is `gblinear` and early stopping is used because `best_ntree_limit` is set, even though `ntree_limit` makes no sense in this case.

[2019-12-14 03:20] chenqin commented on #4753
Yes, it's going (holiday session slow), still miss the final piece of patch XGBoost-spark after we can get current open pr landed.

[2019-12-14 20:34] yurivict opened #5117 "error: no matching conversion for functional-style cast from 'std::__1::chrono::duration<long long, std::__1::ratio<1, 1000000> >::rep' (aka 'long long') to 'xgboost::Integer' (aka 'xgboost::JsonInteger')"
[code]

clang-8 on FreeBSD

[2019-12-14 21:52] yurivict opened #5118 "python-package installs xgboost/libxgboost.so again when it is already installed"
The ```xgboost``` package installed ```lib/libxgboost.so```.

[2019-12-14 22:12] hcho3 commented on #5118
Please provide additional details: how did you install xgboost?

[2019-12-14 22:13] yurivict commented on #5118
I installed xgboost using cmake/gmake.

[2019-12-14 22:38] hcho3 commented on #5118
This is expected behavior, so that Python interpreter may locate `libxgboost.so` when you run `import xgboost` inside a Python session.

[2019-12-14 22:43] hcho3 commented on #5102
Is it possible to transform your output label so that the classes are represented as 0, 1, 2, ..., `num_class-1`?

[2019-12-14 22:46] hcho3 commented on #5117
Thanks for your report. We generally aim to make XGBoost POSIX-compliant, but currently our testing infrastructure uses Linux exclusively.

[2019-12-15 03:25] yurivict commented on #5118
It installs the copy of its dependency into /usr/local again which pollutes the system with duplicates.

[2019-12-15 03:42] hcho3 commented on #5118
That is odd. I have not seen that behavior before. For the three OSes we officially support (Linux, Mac, Windows), the library file gets installed under Python `site-packages`.

[2019-12-15 03:50] hcho3 commented on #5118
For the record: Duplication happens when XGBoost is compiled from the source and installed with `make install`. Since most users download pre-built binaries from PyPI, this problem did not surface before.

[2019-12-15 10:17] connect2robiul commented on #5102
There are already numbers.

[2019-12-15 14:01] hcho3 commented on #5102
Can you check if there is a gap? The error message says 12 is missing.

[2019-12-15 17:18] Kodiologist opened #5121 "RNG seeding interface is inconsistent between Python and R"
It appears that in R, XGBoost's `seed` parameter is ignored and R's built-in seed (set via `set.seed`) has an effect, whereas in Python, the `seed` parameter has an effect (and is set by default), but the seed and random states of both `random`'s and NumPy's RNGs are ignored. Maybe there's a good reason for this inconsistency, but it doesn't seem to be documented. Neither interface's behavior seem

[2019-12-15 19:28] Kodiologist opened #5124 "Unknown parameters are silently ignored"
Thus, for example, if the user misspells a parameter name, they may never notice their mistake.

[2019-12-15 19:35] trivialfis commented on #5124
I'm working on this with a lots of PRs already been merged.  Should have some loose validation in recent future that can catch typos.  But precise one still need some more work.

[2019-12-15 19:37] trivialfis commented on #5121
Em.  Like many other functions, R requires specialized implementation of seed.  Will look into it later.  Currently out for travel.

[2019-12-15 19:39] Kodiologist commented on #5124
Cool. Yeah, I think that just checking that the name is a real parameter name will go a long way, and should be much easier to implement than checking whether the parameter values make sense.

[2019-12-15 20:32] yurivict commented on #5118
FYI: Python finds the dependency .so library fine in it original location under /usr/local/lib, there's no need to copy it at all.

[2019-12-15 21:08] hcho3 commented on #5118
@yurivict Good point. However, it’s only applicable when the user compiles from the source and runs `make install`. If the user installs stable version with `pip install xgboost` (and he is using Linux), then there would be no `/usr/local/lib/libxgboost.so`.

Let me think about this more.

[2019-12-15 22:33] RAMitchell commented on #5124
@trivialfis has literally been working on this for over a year :) We hope to resolve it soon.

[2019-12-16 08:29] #4755 closed

[2019-12-16 08:30] trivialfis commented on #5124
Closed as a duplication of https://github.com/dmlc/xgboost/issues/4211 .

[2019-12-16 08:30] #5124 closed

[2019-12-16 08:39] trivialfis commented on #5117
@yurivict Would you like to open a PR as you have better testing environment for BSD?  A simple static_cast should get it working.

[2019-12-16 12:23] trivialfis commented on #5100
@mglowacki100 Could you please open a PR?  We have full set of tests there, also we can see the diff more clearly.  One minor thing, is "GetParamsFixIn" actually "GetParamsMixIn"? https://gist.github.com/mglowacki100/d24ac8c853be4e1d359cfdf71b2fc526#file-sklearn-py-L54

[2019-12-16 14:31] trivialfis commented on #5006
@RAMitchell Currently the DMatrix cache is created as part of booster's constructor.  I want to enable adding cache on the fly.  It will removes the tight connection between DMatrix and booster, also have this feature request for free. (Unless I'm again missing something).

[2019-12-16 14:57] trivialfis commented on #5047
@zhangshd gamma is a alias of `min_split_loss`.  It's used for pre/post pruning.  See our parameter document.

[2019-12-16 14:57] #5047 closed

[2019-12-16 16:44] srams2018 opened #5127 "Unable to build xgboost 0.90 with GCC5.1.0"
Hi Everyone,
getting below dmlc error while building xgboost 0.90 with GCC 5.1 and cmake version 3.16 .
Need your help on this.

[code]

[2019-12-16 20:46] ronmexico2718 opened #5128 "Monotone Constraints not applied at a large number of training samples"
# Issue

When training on a very large number of training samples, monotone constraints are no longer being applied. It seems like this may be around 2^22 training samples. (~4.19 Million).

At our firm we use some wrapper functions for training and predicting xgboost models on R Dataframes. These wrapper functions are listed at the top of the code below. It does not appear that these are the sour

[2019-12-17 04:33] trivialfis commented on #5121
@Kodiologist @pommedeterresautee @hcho3  Actually I'm not familiar with R's ecosystem.  Is there any reason why C extension has to use those R specialized functions?  Is that a policy on CRAN?

[2019-12-17 05:13] hcho3 commented on #5121
@trivialfis Yes, all R packages should respect the seed set in a R session,

[2019-12-17 05:19] trivialfis commented on #5127
@srams2018 I tested it with 5.5.0 and it works fine.  I'm not sure how to workaround this compiler error.

[2019-12-17 05:19] #5127 closed

[2019-12-17 05:22] trivialfis commented on #5109
@datainvestor Can you provide an example dataset we can reproduce?

[2019-12-17 05:23] #5055 closed

[2019-12-17 05:27] trivialfis commented on #5056
@joegaotao I'm not sure how to do that.

Note to myself: http://www.montefiore.ulg.ac.be/~ernst/uploads/news/id63/extremely-randomized-trees.pdf

[2019-12-17 05:31] trivialfis commented on #4983
This doesn't seem to be dmlc version of XGBoost.

[2019-12-17 05:31] #4983 closed

[2019-12-17 05:35] #3351 closed

[2019-12-17 05:36] #4144 closed

[2019-12-17 05:40] trivialfis commented on #3913
Fixed as we now have an unified way of passing gpu_id, also tests for handling empty dataset.

[2019-12-17 05:40] #3913 closed

[2019-12-17 05:42] trivialfis commented on #4072
I believe the endianness issue is resolved in dmlc-core.

[2019-12-17 05:43] trivialfis commented on #4190
Maybe add an extra parameter in `fit`?

[2019-12-17 05:44] trivialfis commented on #3900
What tree method is used to train this model?

[2019-12-17 06:08] DoanHuuJacques commented on #4072
@trivialfis
would you mind elaborating a bit on how the endianness has been resolved in dmlc-core? Do you have a pull request related to this fix
Thanks

[2019-12-17 06:11] hcho3 commented on #4072
@trivialfis Can you point me to a relevant pull request?

@DoanHuuJacques @trivialfis submitted a series of pull requests recently to implement JSON serialization. I believe this will solve the problem with endianness.

[2019-12-17 06:14] DoanHuuJacques commented on #4072
thanks @hcho3 for the information
I'm aware that @trivialfis  is working on JSON serialization and it seems that this feature is still under development (not yet merged)

[2019-12-17 06:29] trivialfis commented on #4072
@hcho3 https://github.com/dmlc/dmlc-core/pull/406 https://github.com/dmlc/xgboost/issues/3916#issuecomment-443111346

[2019-12-17 06:30] trivialfis commented on #4072
The JSON format is still experimental until floating point printing/parsing with rigorous roundtip tests  in #5046 is merged.

[2019-12-17 06:32] hcho3 commented on #4072
@trivialfis dmlc/dmlc-core#406 only fixes serialization of standard STL containers. It does not fix https://github.com/dmlc/xgboost/blob/2fdb34ed2ea5fbe4d690332d4658cc34260c0edc/src/learner.cc#L504

[2019-12-17 06:33] trivialfis commented on #4072
@hcho3 Yup.  Updated the above comment.  Sorry for the noise here.

[2019-12-17 06:34] hcho3 commented on #4072
@trivialfis I will review JSON pull requests so that we can finally make serialization endian-independent.

[2019-12-17 06:40] trivialfis commented on #4072
@hcho3 Thanks for providing so many help here.  We can finally have a working pipeline.

[2019-12-17 11:15] #5121 closed

[2019-12-17 18:21] mglowacki100 commented on #5100
@trivialfis I've changed to `GetParamsMixIn`. `FixIn` is just my name when `MixIn` fix something.

[2019-12-18 00:45] #4855 closed

[2019-12-18 04:56] trivialfis commented on #4878
Closing.  See new document for predictor and IO.

[2019-12-18 04:56] #4878 closed

[2019-12-18 10:58] gaborcsardi opened #5131 "[R] Compilation failure on Alpine Linux"
This is

[code]

FWIW cmake is installed, and `libexecinfo-dev` is also installed.

[code]

[2019-12-18 15:50] benmarchi commented on #5128
This seems to be expected behavior for XGBoost. From the [documentation](https://xgboost.readthedocs.io/en/latest/tutorials/monotonic.html):

Changing your supplied parameters to the following eliminates the undesired behavior:

[code]
![plot](https://user-images.githubusercontent.com/54409562/71101121-ca7b6580-217b-11ea-8979-41cc9a1fffd0.png)

[2019-12-18 17:02] h17 opened #5132 "any way to see which features were selected for each tree, level, split?"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won