[2019-12-18 18:17] allenphilip93 opened #5133 "Difference is value between xgb.train and xgb.XGBRegressor in Python for certain cases"
I noticed that there are two possible implementations of XGBoost in Python as discussed [here](https://stackoverflow.com/questions/47152610/what-is-the-difference-between-xgb-train-and-xgb-xgbregressor-or-xgb-xgbclassif) and [here](https://stackoverflow.com/questions/46943674/how-to-get-predictions-with-xgboost-and-xgboost-using-scikit-learn-wrapper-to-ma)

When I tried running the same dataset th

[2019-12-18 18:46] hcho3 commented on #5131
Try
[code]

This will use CMake to compile and install the R package.

[2019-12-18 21:26] hcho3 commented on #5128
Adding to @benmarchi's reply: Setting `tree_method` to `hist` will also work as well.

[2019-12-18 21:29] hcho3 commented on #5132
@h17 Try using [`dump_model()` function](https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.Booster.dump_model).

Example:
[code]

[2019-12-18 21:29] #5132 closed

[2019-12-19 00:44] groodt opened #5135 "Wheel contains extra files"
I've noticed that the contents of the xgboost 0.90 wheel contains a bunch of extra files.

[code]

Am I correct in thinking that the following top-level folders and files can be excluded?
* `build-python.sh`
* `dmlc-core`
* `include`
* `make`
* `rabit`
* `src`

I believe these are all remnants of the original src that don't need to be inside the wheel. Would you accept a patch where I tidy up the

[2019-12-19 01:22] hcho3 commented on #5135
@groodt These files are necessary if the user is installing the source distribution (`xgboost-0.90.tar.gz`). Yes, it would be nice if we can exclude them for binary wheels.

[2019-12-19 05:36] #5128 closed

[2019-12-19 05:38] trivialfis commented on #5131
See document for building R package.

[2019-12-19 09:01] gaborcsardi commented on #5131
@trivialfis Hi, I don't want to build the R package from the git tree or something similar, I want to install it from CRAN. Which should work in general, and I am sure it does on most platforms, otherwise the package would not be on CRAN. But it  does fail on Alpine.

[2019-12-19 09:04] Seanspt opened #5136 "Xgboost and scipy sparse matrix not compatible"
While xgboost apis accept scipy sparse matrix,
they are not compatible for scipy always treats `zero` as missing value, while xgboost may take `NaN` as missing value.

If you get a sample like `[NaN, 0.0, 1.0]`. To construct a sparse matrix from that sample, `NaN` is treated as a normal float and `0.0` as missing value for scipy.

Then you may get different result for `xgb_model.predict_proba(spar

[2019-12-19 09:13] hcho3 commented on #5131
@gaborcsardi It looks like Alpine is not one of the platforms tested by CRAN: https://cran.r-project.org/web/checks/check_results_xgboost.html

[2019-12-19 09:34] hcho3 commented on #5136
@Seanspt I do not think the problem has to do with XGBoost. As you pointed out, SciPy always treats 0.0 as missing value.

In this case, the way to handle missing value correctly is to replace all NaN's with 0.0 prior to converting to SciPy sparse matrix. Then, when you construct `xgboost.DMatrix` object, make sure to pass `missing=0` argument, so that XGBoost will treat 0.0 as missing. The idea i

[2019-12-19 09:38] hcho3 commented on #5131
Root cause: This block of code should be revised to handle MUSL runtime.

https://github.com/dmlc/dmlc-core/blob/a31561f61e6f204af8308a74e001fe9f5edcf28a/include/dmlc/endian.h#L17-L20

[2019-12-19 09:39] gaborcsardi commented on #5131
@hcho3 Thanks for looking after this!

[2019-12-19 10:03] trivialfis commented on #4556
Closing as duplicated to multioutput regression feature request.  It's under the radar now.

[2019-12-19 10:03] #4556 closed

[2019-12-19 10:07] Seanspt commented on #5136
Thanks for the quick reply.

Agree with that no problem with xgboost.  It's more related to  the limitation of scipy matrix to represent missing values.

In some cases, `zeros` are meaningful, like income or profit, while `nones` means that we don't know the actual value.

Things may go wrong for users not digging into the details. So just point that out and leave a record here.

Close the issue t

[2019-12-19 10:07] #5136 closed

[2019-12-19 10:19] hcho3 commented on #5136
Yeah, in cases where 0 is a meaningful value, SciPy will give you trouble.

[2019-12-19 11:23] trivialfis commented on #4354
@RAMitchell Do you have a roadmap or check lists for this?

[2019-12-19 11:45] trivialfis commented on #4700
@Mary-Kul Could you provide a reproducible script?  I can't reproduce it on my end with 1M rows of data.

[2019-12-19 15:33] h17 commented on #5132
Hello Philip,

This is not what I was asking: I used dump_model but one crucial piece of
information that is missing is which features were chosen via colsample_by*

On Wed, Dec 18, 2019, 4:29 PM Philip Hyunsu Cho <notifications@github.com>
wrote:

[2019-12-19 17:06] trivialfis commented on #5132
@h17 You can't do that.  It's really internal to XGBoost.  You can see `ColumnSampler` in `src/common/random.h`.  It's used all tree method except `approx`.

[2019-12-19 17:07] hcho3 commented on #5132
@trivialfis We could potentially add an Observer to ColumnSampler?

[2019-12-19 18:24] trivialfis commented on #5132
@hcho3 It will take some efforts to extend the observer for enabling customization via user parameters.  I incline to keep it internal, curious users can look into the code for internal data.

[2019-12-19 18:29] hcho3 commented on #5132
@trivialfis For now, it should be sufficient to dump everything and let the (expert) user filter the dumped output. Let me put together something this weekend.

[2019-12-20 01:52] h17 commented on #5132
That would be ideal to have everything, might also help zooming in on other phenomena later. For what I was looking right now I just need to sum gain for each feature over all instances where it participated after ColumnSampler selection, lets call this gain_opportunity. Then you use this to divide total_gain obtaining another feature importance, i.e. competitiveness=total_gain/gain_opportunity wh

[2019-12-20 14:09] trivialfis commented on #4700
I ran the gist on master branch and it works fine. Should be fixed with new model IO routines.

[2019-12-20 14:10] trivialfis commented on #5102
Please provide a reproducible script.  I haven't seen this before.

[2019-12-20 15:54] connect2robiul commented on #5102
I did not provide the dataset.  sorry.

[2019-12-20 17:49] trivialfis commented on #5133
@allenphilip93 You forgot to set the `missing` in sklearn interface.

[2019-12-20 17:49] #5133 closed

[2019-12-20 18:33] JohnZed opened #5140 "Slowdown observed on 16-GPU DGX-2"
Running the RAPIDS mortgage benchmark with 48 parts on a DGX-2 with 16 GPUs, we see a recent slowdown.

* New = Commit 4ec13613e99aee5332fd9b3a8de74e87973edc9f (https://github.com/rapidsai/xgboost/commits/rapids-0.11-release) - Dec 7
* Old = Commit 7e72a12871eaa0ebc46e863dabe8657e3f0557ad (https://github.com/rapidsai/xgboost/commits/rapids-0.10-release) - Oct 15

New time:  165.6s
Old time: 147.4s

[2019-12-20 20:01] ronmexico2718 commented on #5128
Thank you. That fixed the issue.

[2019-12-20 20:20] hcho3 opened #5142 "[RFC] Benchmark scripts to detect performance regression"
One of the pain points I've observed in developing XGBoost is judging performance implication of a given code change. I believe that we should have a set of scripts that developers can easily run in order to obtain performance measurements. This will help us avoid introducing performance regressions (*). For now, developers will be asked to manually run the scripts, but I hope to obtain funding to

[2019-12-20 20:23] hcho3 commented on #5142
cc @SmirnovEgorRu

[2019-12-20 20:30] terrytangyuan commented on #5142
I agree that it should be hosted separately since the dependencies might be really heavy as the test suite expands in the future and it requires a bit of setup to work with distributed environments. Although we could probably maintain a minimal set of benchmark script in this repo if they are small enough that can be executed for each new commit so we can catch potential issues earlier during code

[2019-12-20 20:31] hcho3 commented on #5142
@terrytangyuan I like your suggestion of having a small benchmark to run for every commit.

[2019-12-20 23:56] RAMitchell commented on #5142
I vote separate repository.

[2019-12-21 01:20] RAMitchell opened #5143 "[Roadmap] DMatrix refactoring"
This issue is a roadmap and checklist for ongoing work re-factoring DMatrix (see RFC #4354).

The first steps are to use a common interface to external data, unifying the way DMatrix objects are constructed and simplifying the process of adding new external data sources.

- [x] Create adapter interface to external data, implement constructors for SimpleDMatrix (#5044)
- [x] Extend data adapters to

[2019-12-21 02:58] trivialfis commented on #5142
@terrytangyuan 's comment makes sense to me.  Let's host it here then.

[2019-12-21 03:30] #4869 closed

[2019-12-21 04:42] dattatreyam commented on #5143
Hi, I am trying to generate a DaskDMatrix object from large dataframes and it is super slow. Is it expected to be slow ? If so, can you please help me understand why this is the case.

dtrain = DaskDMatrix(client, large_dask_dataframe_x, large_dask_dataframe_y)

my large_dask_dataframe has few million examples ...

[2019-12-21 04:47] trivialfis commented on #5143
@dattatreyam Dask's computation is lazy, and `DaskDMatrix`'s constructor forces all lazy computation to materialize.  That means all your previous operations on dask's data structure like dataframe or array are carried out in the constructor of `DaskDMatrix`.

[2019-12-21 10:15] jimmy-walker opened #5145 "[jvm-packages] XGBoostError: Check failed: jenv->ExceptionOccurred when using input features of sparse vector instead of dense vector"
Environment:
CentOS release 6.9 (Final)
java 1.8.0_172
spark cluster: 2.4.3
scala:2.11.12
xgboost4j-spark:0.90

Hello. I have run the rank job with parameter "rank:pairwise" and dataset "mq2008".
When I process the features as dense vector format, It will succeed.
But when I process the features as sparse vector format, It will succeed with training and failed in predict of "prediction.show".
It p

[2019-12-22 16:30] trivialfis opened #5147 "Update Learning to Rank doc."
The demo is out of date as it states pairwise is only supported metric.  Also it would be nice to have some tutorials with worked examples for new comer.

[2019-12-22 16:33] trivialfis opened #5148 "Verify and document the need for model calibration."
I'm not sure if XGBoost s model is well calibrated under different model variance.  It would be nice to have a doc with various experiments including random forest, dart etc.

[2019-12-23 02:57] ThyrixYang opened #5149 "Why is xgboost great?"
Hi,

I want to show xgboost is strictly better than deep learning model such as MLP or CNN in some scenes. Could someone give some advice on dataset selection? The dataset would be better to be widely used in research papers.

Thank you.

[2019-12-23 03:05] trivialfis commented on #5149
There's no free lunch...

[2019-12-23 03:06] ThyrixYang commented on #5149
That means there must be some datasets that xgboost does better than deep model, I just want them.

[2019-12-23 07:41] hcho3 commented on #4477
@adithyabsk @Craigacp #5146 should now let you use OpenMP without installing Homebrew GCC. Now XGBoost will only depend on the `libomp` Homebrew package.

@ankane Consequently, we should be able to submit the next release of XGBoost (1.0) with OpenMP enabled.

[2019-12-23 07:42] hcho3 commented on #4680
#5146 fixes #4477.

[2019-12-23 08:49] WDYIE opened #5150 "Because we are doing multiple iterations of parameter updating in this loop, updating the gradient value is needed"
Because we are doing multiple iterations of parameter updating in this loop, updating the gradient value is needed

_Originally posted by @tqchen in https://github.com/dmlc/xgboost/issues/433#issuecomment-128412401_

Thanks! I could understand we should update the gradient ! but why use this (p.GetHess() * c.fvalue * dw)  to update it ?

[2019-12-23 09:01] WDYIE commented on #5150
original question:
why update grad value in DoBoost function (gblinear-inl.hpp) #433
83       #pragma omp parallel for schedule(static)
 84       for (bst_omp_uint i = 0; i < nfeat; ++i) {
 85         const bst_uint fid = batch.col_index[i];
 86         ColBatch::Inst col = batch[i];
 87         for (int gid = 0; gid < ngroup; ++gid) {
 88           double sum_grad = 0.0, sum_hess = 0.0;
 89

[2019-12-23 09:08] WDYIE commented on #5150
original question:
why update grad value in DoBoost function (gblinear-inl.hpp) #433

83 #pragma omp parallel for schedule(static)
84 for (bst_omp_uint i = 0; i < nfeat; ++i) {
85 const bst_uint fid = batch.col_index[i];
86 ColBatch::Inst col = batch[i];
87 for (int gid = 0; gid < ngroup; ++gid) {
88 double sum_grad = 0.0, sum_hess = 0.0;
89 for (bst_uint j = 0; j < col.length; ++j) {
90 const flo

[2019-12-23 09:13] WDYIE commented on #5116
ntree_limit limit the number of trees used in prediction, when it equals 0, this means we do not limit number of trees, this parameter is only valid for gbtree, but not for gblinear

[2019-12-23 09:42] hcho3 commented on #5149
There are some domains where deep learning (neural networks) excels: computer visual, natural language processing, and reinforcement learning. These domains involves unstructured or semi-structured data (pixels, sequences, state spaces).

On the other hand, XGBoost is a good choice if you have **tabular** data, i.e. each feature has a well-defined meaning. Some reasons why you may want to choose X

[2019-12-23 09:46] trivialfis commented on #5149
Actually tree models also excel at image segmentation and similar tasks, it's just currently XGBoost not being optimized for wide dataset.

[2019-12-23 10:01] trivialfis commented on #5149
See https://www.microsoft.com/en-us/research/publication/decision-forests-a-unified-framework-for-classification-regression-density-estimation-manifold-learning-and-semi-supervised-learning/ for some applications of tree models on image tasks.

[2019-12-23 10:08] #5149 closed

[2019-12-23 10:27] trivialfis commented on #4680
Removed:

- [ ] PySpark API support (https://github.com/dmlc/xgboost/issues/3370) (https://github.com/dmlc/xgboost/pull/4656) .

[2019-12-23 13:41] trivialfis opened #5152 "[RFC] Refactor Python interface."
# Scikit-Learn

Previously I use `xgboost.train` exclusively so many issues in Scikit-Learn interface are ignored.  With more and more users enjoying the convenience of SKL's ecosystem, it maybe better for us to put more focus on it.  Here are a few items in mind for future development:

- [x] Use callback to implement cross validation and early stopping, instead of accepting batches of parameters

[2019-12-23 15:48] trivialfis commented on #5000
@bakaburg1 You have a typo: `watchlist` vs `whatchlist`.

[2019-12-23 15:48] #5000 closed

[2019-12-24 01:30] RAMitchell commented on #5152
Recommend avoiding extra state in the python layer if possible. DMatrix cache is a pain, I would want to see a strong use case for this before implementing.

[2019-12-24 01:41] trivialfis commented on #5152
@RAMitchell Sorry for the ambiguity here.  The cache is just used for avoiding reconstructing `DMatrix` in Python layer, not storing any internal state, so there is nothing needs to be synced.

[2019-12-24 01:43] #4190 closed

[2019-12-24 03:30] trivialfis commented on #4369
Looking into it.

[2019-12-24 03:35] trivialfis commented on #3980
Closing as now experimental support with Schema is mainlined.  Further improvement will come as separated PRs.

[2019-12-24 03:35] #3980 closed

[2019-12-24 03:38] #5069 closed

[2019-12-24 03:42] #4612 closed

[2019-12-24 03:55] trivialfis commented on #4246
Right now another workaround is don't initialize XGBoost before forking (Like loading pickle only after fork).  Maybe we can utilize some low level driver API to maintain the cuda context ourselves, but simply using a distributed framework like dask seems much simpler.

[2019-12-24 03:56] trivialfis commented on #4694
Keep this tracked in #4177

[2019-12-24 03:56] #4694 closed

[2019-12-24 05:39] #5147 closed

[2019-12-24 05:47] trivialfis commented on #4211
@RAMitchell @hcho3 Now most of the duplicated parameters are removed, we have 2 (or more?) ways to implement this:

- Use JSON `save_config`.  This will extract all parameters as a dictionary, we can compare its keys to user provided parameters.  One drawback is the keys are not limited to parameters, but also strings like `learner`, `gradient_booster` and `learner_train_param` etc.
- Use `Configu

[2019-12-24 05:57] RAMitchell commented on #4211
Option one seems appealing in that we dont have to do anything special in internal code. Is there any way to identify if something is a parameter name in the json output? Even if there is a small chance of false positive validation it still seems ok.

[2019-12-24 06:21] trivialfis commented on #4211
@RAMitchell Based on naming heuristic, anything that ends with `_param` is a `dmlc:: Parameter` struct.

[2019-12-24 06:25] #4709 closed

[2019-12-25 10:34] zjiash opened #5158 "[jvm-package] xgboost4j native method create many threads but not closed"
We have a java service using xgboost model to predict. The xgboost model is trained by algorithm engineers with Python and then we use xgboost4j 0.72 to load model and predict online.
After the service starts for a while, we found too many threads (3000+) in system by `ps -eLf` while`jstack pid` shows just 300+ threads.
We suspected and found that the JNI call (C++ code) to predict created `nthrea

[2019-12-25 11:25] trivialfis commented on #5158
In Python one can call `set_param` from booster object to configure the `nthread` parameter.  Not sure about JVM side.  It maybe worth mentioning that `nthread` is used for OpenMP.

[2019-12-25 11:42] zjiash commented on #5158
Thanks for your reply.
We set by `model.setParam("nthread", 4)` even at each call but it does not work.

[2019-12-26 03:51] #4120 closed

[2019-12-26 04:01] trivialfis commented on #4211
Both of them are provided.  :-)

[2019-12-26 04:01] #4211 closed

[2019-12-26 04:49] trypythy commented on #1715
i'm on a 2010 MBP, running the python(3.7) file on anaconda; so I guess it was something to do with my 'old' system - i have no clue on what territories i'm treading here - tried uninstalling xgboost, realised it's not installed, tried installing it, it just got stuck;  tried conda install nomkl, and then my python script itself wouldn't run (`illegal instruction: 4`); uninstalled nomkl; finally w

[2019-12-26 05:26] trivialfis commented on #4735
I think for spark side, we will wait for Spark 3.0.  On dask side, `dask_cuda` is the solution.

[2019-12-26 05:26] #4735 closed

[2019-12-26 08:24] gand78 commented on #4860
Same problem using Anaconda. Solve it uninstalling XBoost (pip uninstall xgboost) and install it using: "conda install -c anaconda py-xgboost" on anaconda prompt (same version 0.90).

[2019-12-26 08:53] #4477 closed

[2019-12-26 08:55] trivialfis commented on #4913
See https://github.com/dmlc/xgboost/issues/5152 I want to remove the validation data set parameter and replace it with call back functions.

[2019-12-26 09:02] trivialfis commented on #4369
Fixed.  Sorry for the long wait.

[2019-12-26 09:02] #4369 closed

[2019-12-26 11:50] trivialfis commented on #5099
Depends on https://github.com/dmlc/xgboost/pull/5130 .

[2019-12-27 03:19] jimmy-walker commented on #5145
I found the problem via the spark-shell in local model.
The error message shows that "ERROR DataBatch: java.lang.RuntimeException: you can only specify missing value as 0.0 (the currently set value NaN) when you have SparseVector or Empty vector as your feature format".
It seems that with yarm mode will output less error info.
Hope it will benefit the people who come cross such problems.

[2019-12-27 03:19] #5145 closed

[2019-12-27 08:51] #4618 closed

[2019-12-27 09:16] trivialfis commented on #5113
@hcho3 Can this be closed?

[2019-12-27 09:47] trivialfis opened #5162 "Fix running CUDA compiled XGBoost on CPU only machine"
Recently I found XGBoost compiled with latest CUDA broken on CPU only machine.  Specifically the gradient vector tries to initialize CUDA context and throws an error during destruction due to `thrust::device_vector` trying to call device function to destroy elements.

[2019-12-27 09:50] trivialfis opened #5163 "Refactor `SpasePage::operator[]`."
Right now this function calls `rabit::IsDistributed` and `HostVector`, which adds additional overhead and also creates possible race condition.  We need to remove call to `rabit::IsDistributed` and move call to `HostVector` outside of this function.

[2019-12-27 11:06] trivialfis opened #5164 "Removing num_roots breaks tree lite."
Echoing from @sperlingxx , tree lite checks num_roots parameter internally, we should keep maintenance for this parameter in recent future.

[2019-12-27 14:53] hcho3 commented on #5164
@trivialfis Treelite only checks if the number of roots is 1. It can be removed.

[2019-12-27 14:57] hcho3 commented on #5113
Fixed by https://github.com/dmlc/xgboost/pull/5146. Try running

[code]

[2019-12-27 14:57] #5113 closed

[2019-12-27 16:56] trivialfis commented on #5164
@hcho3  It wasn't too difficult to keep it, we can leave it there and deprecate it along with binary IO when JSON is production ready.  This way we can show a proper warning.

[2019-12-28 14:00] LIUJIENANliujienan opened #5168 "How to use XGBoost to realize the prediction problem of multiple regression? For example, the input is two-dimensional and the output is three-dimensional. The examples I have seen are all unary regression problems."
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-12-28 14:37] trivialfis commented on #5168
On Python, you can use scikit-learn's multi output regressor for convenience.  It builds one model for each output.  For single model multi-target, it's still under development.

[2019-12-28 14:37] #5168 closed

[2019-12-29 06:32] LIUJIENANliujienan commented on #5168
Thank you so much，I did it by “from sklearn.multioutput import MultiOutputRegressor” and obtained what I need.

[2019-12-29 16:28] klayhb commented on #5131
We're trying to minimize our docker image (by switching to alpine) which relies on xgboost - can anyone tell me what should we do in the meantime (until this is fixed to support MUSL) to move over XGBOOST from an image in which it is built from source to the next image (in a multi-step docker setup)?

I couldn't really make it work despite trying to move over all the files i thought were being cre

[2019-12-29 18:18] #5164 closed

[2019-12-29 21:32] hcho3 commented on #5131
@klayhb Your problem seems unrelated to this issue. It should suffice to install libgomp package.

[2019-12-30 09:48] klayhb commented on #5131
@hcho3  i think it's actually related to the issue (as i too had to resort to the git + cmake + make solution you described above, when "pip install" was not working for me), but in any case i ended up resolving my issue by :

1. moving the libxgboost.so file to the right location (/usr/local/xgboost/libxgboost.so for some reason?)
2. then, instead of passing over the xgboost EGG file that's creat

[2019-12-30 10:05] hcho3 commented on #5131
@klayhb Your issue is related but not the same. Your issue has to do with the Python package whereas this issue has to do with the R package. As for the pip, the pre-built wheel you get via pip install is only compatible with Linux distribution with GLIBC runtime, so for Alpine you had to compile XGBoost from the source.

[2019-12-30 10:56] JackerGao opened #5172 "xgboost handle the missing value?"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-12-30 10:57] #5172 closed

[2019-12-31 01:11] hcho3 commented on #5142
Closing now. The benchmark script will be maintained in https://github.com/dmlc/xgboost-bench/

[2019-12-31 01:11] #5142 closed

[2019-12-31 06:05] #3579 closed

[2019-12-31 08:58] trivialfis opened #5174 "[RFC] Memory uage test."
Currently most of our tests are related to correctness, and some large size benchmarks for performance scattered around developers.  But recently I fixed a memory copy bug in https://github.com/dmlc/xgboost/pull/5160 , and a memory leaking bug in #5153 .  It becomes obvious that we need some regular memory consumption tests.

One way to do this is using Python's `psutil` module for monitoring virt

[2019-12-31 18:46] kretes opened #5175 "Error on creating DMatrix from sparse matrix with indices in int64"
When creating a dmatrix from csr matrix that has more than int32 elements (and therefore uses int64 index) - error is thrown.

you can find the script to reproduce this issue in https://gist.github.com/kretes/c3e96567975a727e6e6971f440a8b0e3

the output in xgboost 0.90 I get is:

[code]

[2019-12-31 23:09] hcho3 opened #5176 "[CI] End-of-year CI budget report: cost exceeded projection"
@dmlc/xgboost-committer

In March 2019, AWS graciously granted us 12k USD worth of AWS credits to maintain our CI server (https://xgboost-ci.net). In addition, sponsors including NVIDIA are committed to monthly donation through [Open Source Collective](https://opencollective.com/xgboost). Since then, we revamped our CI (#4234) and added test coverage for more platforms and targets (CUDA, multi-GPU

[2020-01-01 00:17] CodingCat commented on #5176
there is a jenkins-github plugin which auto-test can only be triggered when a committer commented with "ok to test", https://wiki.jenkins.io/display/JENKINS/GitHub+pull+request+builder+plugin,

[2020-01-01 00:24] hcho3 commented on #5176
@CodingCat Nice! Thanks for the link. Let me take a look at it. This should let us save some CI runs caused by WIP commits.

[2020-01-01 00:25] hcho3 commented on #5176
One idea is to add a script to throttle provision of EC2 workers to meet the monthly budget limit. If the limit is breached, no new EC2 worker would be launched.

[2020-01-01 00:28] CodingCat commented on #5176
I agree, even for us internally, we are not provisioning workers for CI in an unlimited manner, instead we tends to queue up the test (to prevent those pre-mature commits taking too many resources)

[2020-01-01 00:35] hcho3 commented on #5176
hcho3/xgboost-devops#2

[2020-01-01 10:50] MrPhilosopher opened #5177 "PySpark XGBoost End to End Script"
Hi Everyone.

I'm looking towards a complete end to end script to deploy XGBoost over my PySpark environment.

script I'm using atm is referenced here by @thesuperzapper : https://github.com/dmlc/xgboost/pull/4656

i'm using xgboost 0.9
and spark 2.4.4
jupyter-notebook.
already added Classpath Entries of both jar files (downloaded from https://mvnrepository.com/artifact/ml.dmlc/xgboost4j/0.90 & ht

[2020-01-02 05:30] trivialfis commented on #5175
From the error it seems `indices` field being problematic, which is column indices instead of row pointer.  In the example there's only 1001 columns, I'm not sure why does it require a int64 array to store it.

[2020-01-02 08:47] chuanlihao commented on #5177
Hi @MrPhilosopher,

I could run a sample application successfully. I am also using Spark 2.4.4 and these standard libraries. To make it simple, jupyter-notebook is not involved.

I submitted my application to a standalone Spark cluster with one master and one worker node: `spark-submit --jars xgboost4j-0.90.jar,xgboost4j-spark-0.90.jar --py-files pyspark-xgboost_0.90_261ab52e07bec461c711d209b70428

[2020-01-02 09:21] MrPhilosopher commented on #5177
Hi @chuanlihao
Thanks for the detailed answer, as I'm a beginner so I need some more elaboration from you in successfully running this script.

Can you please answer the following.

1. Where you want me to add **`"missing": 0.0`** ?
2. Can you please tell me the procedure of submitting .py file on spark-shell?

Thanks.

[2020-01-02 09:27] chuanlihao commented on #5177
Just found the "/PATH/TO/SPARK_HOME/data/mllib/sample_binary_classification_data.txt" file.

I don't have a Jupyter notebook environment currently, but I could run your application successfully with both "spark-submit --jars xgboost4j-0.90.jar,xgboost4j-spark-0.90.jar --py-files pyspark-xgboost_0.90_261ab52e07bec461c711d209b70428ab481db470.zip sample.py" and "python sample.py"

To run it with "spa

[2020-01-02 09:36] chuanlihao commented on #5177
Just to answer your questions:
1. The  **`"missing": 0.0`** should be added to **paramMap = { "eta": 0.1, "maxDepth": 2, ... }**. I just ran your program with sample_binary_classification_data.txt, it seems that there is  no need to add the parameter for this dataset.
2. **spark-submit** is a command to submit applications to Spark clusters. It's located at "$SPARK_HOME/bin/spark-submit". You need

[2020-01-02 10:18] MrPhilosopher commented on #5177
@chuanlihao Thanks for the quick responses.

So I used the code edited by you and it still it throws me the same error, please see the complete console logs below, in case if you can find the issue.

LOGS BELOW
---------------------------------------------------------------------------------------------------------

(base) C:\Users\hafiz.qaiser50\Desktop>python xgBoostPySpark_new.py
20/01/02 15:15

[2020-01-02 10:18] kretes commented on #5175
I believe the fact that int64 is used comes due to the number of values in the data, not columns.
I deliberately set

[code]
so that I get slightly more values than int32.

nevermind the reason for an int64 array for indices - it still should be supported, right?

[2020-01-02 10:28] MrPhilosopher commented on #5177
ohh I'm using windows is that's why it's saying **ERROR NativeLibLoader: failed to load xgboost4j library from jar**
I've downloaded the jar from maven

[2020-01-02 15:21] palVJ opened #5179 "interaction_constraints with more than 10^5 parameters fail."
Using xgb.train with more than 10^5 parameters and using the parameter interaction_constraints, I get the following error:

Error in xgb.iter.update(bst$handle, dtrain, iteration - 1, obj) :
  [09:54:20] ./dmlc-core/include/dmlc/././json.h:788: Check failed: ch == ',' (101 vs. ,) : Error at Line 0, around ^`+05,100001,100002,100003,100004,100005,100006,100007,100008,100`, JSON array expect ']' or

[2020-01-02 15:28] trivialfis commented on #5179
Em.. there's scientific notation in the indices string.  Should be able to fix it.

[2020-01-02 16:01] palVJ commented on #5179
Using R and input parameter interaction_constraints does not contain
numbers with scientific notation. Seems there is something to do with the
source code, but I may be wrong.

tor. 2. jan. 2020, 16:28 skrev Jiaming Yuan <notifications@github.com>:

[2020-01-02 20:13] kylejn27 commented on #5090
@trivialfis Just getting some time to start looking at this today. I think there was a misunderstanding on what I'd be implementing. I was intending on only scoring certain iterations of the model during model fit to improve model fit performance (speed not accuracy). staged_predict is on the prediction side.

I don't know of any parameter following the scikit learn implementation that enables thi

[2020-01-02 22:10] RAMitchell commented on #5175
Two options here:

- Create a new API function that accepts CSR with 64-bit column indices, create a new adapter class

- Create a 32 bit copy of the column indices on the python side, perhaps with a warning.

@kretes if you submit a PR for option 2, I would be happy with that.

[2020-01-03 02:17] chuanlihao commented on #5177
This is the error:
20/01/02 17:14:13 ERROR NativeLibLoader: failed to load xgboost4j library from jar
20/01/02 17:14:13 ERROR DMatrix: Failed to load native library
java.io.FileNotFoundException: File /lib/xgboost4j.dll was not found inside JAR.

It seems the xgboost4j-0.90.jar downloaded from maven only supports Linux & MacOS. Here is the discussion https://github.com/dmlc/xgboost/issues/1807 and

[2020-01-03 05:04] MrPhilosopher commented on #5177
So after replacing my xgboost4j-0.90 with xgboost4j-0.90-criteo-20190702_2.11-win64.jar I got another error, can you please look into it

ERROR BELOW
-----------------------------

20/01/03 10:00:13 WARN XGBoostSpark: train_test_ratio is deprecated since XGBoost 0.82, we recommend to explicitly pass a training and multiple evaluation datasets by passing 'eval_sets' and 'eval_set_names'
[Stage 5:>

[2020-01-03 09:28] kretes commented on #5175
actually the easy-to-introduce workaround for me currently is to use
`DMatrix(csr.todense())`

[2020-01-04 06:09] timgates42 opened #5181 "Fix simple typo: utilty -> utility"
There is a small typo in doc/sphinx_util.py.
Should read `utility` rather than `utilty`.

[2020-01-04 07:28] #5181 closed

[2020-01-04 14:17] b-stats opened #5183 "Inaccuracy with XGBoost scoring using RData model object and replicating with JSON output"
I am seeing something interesting with regards to replicating the scoring process of an XGBoost GBM. I have used R’s XGBoost functionality to train and score a model and am trying to use the JSON dump of the model object to score the model outside of the XGBoost environment.

I wrote Python code to replicate the scoring process using the outputted JSON file and was able to achieve 100% match betwe

[2020-01-04 23:38] RAMitchell commented on #5183
Did you add the base_score parameter when predicting?

[2020-01-05 11:47] fordicus opened #5184 "Windows "No CUDA toolset found""
**What I am doing**

**Trouble**

I encounter **Performing Test XGBOOST_BUILTIN_PREFETCH_PRESENT - Failed**,
and **No CUDA toolset found**

**Environment**
- Windows 10 x64
- NVCC (NVIDIA CUDA Compiler) release 10.2, V10.2.89
- MSVC (Microsoft Visual C++) 19.24.28314.0 from Visual Studio 16 2019

**cmake command**

**cmd.exe prints**

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 N

[2020-01-05 12:27] trivialfis commented on #5184
@RAMitchell

[2020-01-06 03:07] hcho3 commented on #5176
@CodingCat I installed the GitHub Pull Request Builder plugin. I will watch the repository closely in the next few days and see if the plugin is working.

[2020-01-06 08:09] Riario14 opened #5185 "XGBoostError when run custom_rmsle.py"
macOS Catalina, xgboost 0.90.

when run demo custom_rmsle.py

[2020-01-06 08:13] hcho3 commented on #5185
To run the custom_rmsle, you will need to compile XGBoost from the latest source, as 0.90 release is not compatible with it.

[2020-01-06 08:13] #5185 closed

[2020-01-06 08:35] trivialfis commented on #5185
@hcho3 Can we set the link of doc to latest release instead of master?  Or a more obvious label that shows one is reading doc in master branch?

[2020-01-06 08:39] hcho3 commented on #5185
<img width="362" alt="Screen Shot 2020-01-06 at 12 37 29 AM" src="https://user-images.githubusercontent.com/2532981/71806098-c759f380-301c-11ea-83c9-7504874968cb.png">

There is the version selector at the bottom right corner of the doc page. I do think that the version can be made clearer. See example at https://cmake.org/cmake/help/v3.12/command/target_link_libraries.html

[2020-01-06 15:34] b-stats commented on #5183
@RAMitchell yes, I have done it with and without the base_score set (which I am setting to the default value of .5 explicitly)

[2020-01-06 20:09] JohnZed commented on #5143
@RAMitchell - the steps look good to me, but I see you allude to implementing DMatrix slice functionality. Is this like selecting a subset of rows? Or columns? Sounds promising but I'd be curious to hear more what you have in mind for it.

[2020-01-06 21:18] RAMitchell commented on #5143
@JohnZed its functionality that already exists but needs to be ported to new code before all of the old code can be removed. It is a small job in this case.

[2020-01-07 03:23] #5162 closed

[2020-01-07 22:31] brookwc opened #5186 "[jvm-packages] Spylon-kernel java.lang.ClassCastException: ml.dmlc.xgboost4j.scala.Booster cannot be cast to ml.dmlc.xgboost4j.scala.Booster"
I was using spylon to run a local jupyter scala notebook (following the iris example).

attempt 1)
spark.version = 2.4.4
spylon-kernel = 0.4.1
scala = 2.11.8
xgboost4j-spark = 0.90

Then I hit the following error soon after training starts.

2020-01-07 14:21:16 WARN  XGBoostSpark:272 - train_test_ratio is deprecated since XGBoost 0.82, we recommend to explicitly pass a training and multiple evalua

[2020-01-07 22:52] dattatreyam commented on #5143
Thanks!

[2020-01-08 00:35] TylerADavis commented on #4680
An interim release would be great as the macOS installation is still a pain right now

[2020-01-08 23:39] hcho3 commented on #5152
See https://discuss.xgboost.ai/t/ram-memory-keeps-increasing-with-iterative-training-of-xgb-models/1331/3 for an example of performance discrepancy between `xgboost.train()` and `XGBClassifier.fit()`.

[2020-01-09 02:56] yydai opened #5190 "How to do pointwise in Ranking problem"
My training parameters like this:

`params_pointwise = {
    "objective": "multi:softmax",
    "eval_metric": "ndcg@10",
    'booster': 'gbtree',
    'eta': 0.27,
    'gamma': 1,
    'min_child_weight': 6,
    'max_depth': 8,
    'subsample': 0.8,
    'num_class': 3
}`

But xgboost  throws the error like:
`b'[10:45:55] /workspace/src/metric/rank_metric.cc:159: Check failed: preds.size() == info.la

[2020-01-09 15:13] jfrery opened #5192 "incremental learning with xgb_model - wrong predictions"
Hello,

I am experimenting with the parameter xgb_model in oder to update my model with new data in an incremental fashion.

[code]

Then I use this model to train a new one over new data.

[code]

I can see that the training of reg1 is starting with the same performance on the test as the performance of reg0 on the test at the end of the learning process which is great.

Once the training is over

[2020-01-09 18:29] mohaseeb opened #5193 "XGBClassifier: Bad predictions after training, saving and loading a model"
Below is how I trained an XGBClassifier and saved it:
[code]

This is how I loaded the model and made predictions:
[code]

The model predictions are OK if the model was loaded from within the same python process where the training was performed, but the predictions are not OK (random) if the model was loaded from a different python process than the one used for training.

Note, I've the same probl

[2020-01-09 18:35] tqchen commented on #5176
I would also recommend us looking at alternatives. For example, github action and azure pipelines are both good options to get CPU CI and we can add trigger to trigger GPU CIs

[2020-01-10 08:17] trivialfis commented on #5193
I don't see the issue with latest master.  Should be fixed during refactoring of IO procedures.  Could you try installing nightly: https://xgboost.readthedocs.io/en/latest/build.html ?

[2020-01-10 08:20] trivialfis commented on #5192
@jfrery Could you please provide a self-contained script I can run?  Maybe start with small random data generated by numpy:
[code]

[2020-01-10 08:25] trivialfis commented on #5190
I think the metric is not prepared for using with multi-class objective.  Output prediction for multi-class is a vector of shape: `num_classes * num_rows`.  In short, I don't think point-wise is supported right now unless you roll out a customized metric.

[2020-01-10 08:38] EugeneDeng commented on #4981
This problem is still to be solved. What can cause "Allreduce: boundary error"?

[2020-01-10 11:34] polnaranjo opened #5195 "XGBRanker for Spark API"
Hi,

I've been using XGBRanker with scikit-learn API and would like to use it with Spark as well. Is this in the roadmap or will occur any time soon? Thanks.

[2020-01-10 13:46] paantya commented on #4709
it is not this error (https://github.com/dmlc/xgboost/pull/5155)

[2020-01-10 14:35] trivialfis commented on #4709
@paantya I think your issue is fixed in #5155

[2020-01-10 14:43] trivialfis commented on #5195
@wbo4958

[2020-01-10 14:45] trivialfis commented on #4709
There's nightly build you can try, see the note section of installation doc.

[2020-01-12 10:47] ityer82 opened #5196 "Is there a bug in the hessian of hinge loss for binary classification(binary:hinge)\?"
Hi,
If the hessian loss (per example i) is : wi* max(0,1-y(i)*pred(i)),
should it be that the gradient (=g)/hessian(=h) are as follows:
if 1-y(i)*pred(i)>0
g  = -w(i)*y(i)
h = 0
else
g = 0
h = 0

but in the code, h still get w(i) in the former, and std::numeric_limits<bst_float>::min() in the later,
why?
Indeed, I'm trying to learn a binary task. with 'binary:logistic' everything works great. When

[2020-01-13 13:33] xybramble opened #5200 "Why there's no gpu_approx?"
Currently exact and hist are supported for GPU acceleration. I wonder why there's no approx gpu implementation? It is because of approx algorithm or it's related to kind of GPU features?

[2020-01-13 13:51] trivialfis commented on #5200
@xybramble Actually we removed `gpu_exact` in latest master branch (and hence next release).  As our experiments show that `hist` method is more efficient in every way.

[2020-01-13 17:56] jfrery commented on #5192
@trivialfis Sorry for the delay.

The problem is simpler than I though. I didn't mention, but I used _early_stopping_rounds_ parameter in the fit function of the second model. The problem is that when training the second model, the iteration starts at 0 without taking into account the previous model that we passed in the _xgb_model_ parameter. When calling the predict method, the model simply stop

[2020-01-14 01:23] xybramble commented on #5200
Actually I wonder if it is possible to implement gpu_approx theoretically? We think of approx because we want to improve the accuracy which did not meet expectations when using gpu_hist.

[2020-01-14 01:50] trivialfis commented on #5200
@xybramble Theoretically yes, it's possible.  But I would like to know what your dataset looks like that trips over the hist algorithm.

[2020-01-14 01:56] RAMitchell commented on #5200
I believe the approx algorithm re-computes quantiles dynamically where the 'hist' algorithms compute quantiles upfront and then use them for the rest of the training. I would guess that gpu_hist could be adapted to work well for you depending on the reason why training accuracy is not so great.

For example you can set the number of bins for quantisation to a larger number if the granularity of th

[2020-01-14 07:04] xybramble commented on #5200
@trivialfis My datasets are files of strings. @trivialfis @RAMitchell Thanks a lot.
Current results of mine show accuracy of approx is higher than hist when setting same rounds and other parameters at CPU version. So maybe it can be expected that approx at GPU version can also get a higher accuracy than hist? Or parameters in cpu hist can be adjusted for a better performance at this condition? Act

[2020-01-14 15:10] Kodiologist opened #5203 "#5115 has changed predictions"
I would have thought that under #5115, DART predictions would be the same as they had been before when `ntreelimit` was set to a nonzero number. However, it appears that DART now produces new predictions, which are unaffected by whether `ntreelimit` is set in `predict`, as desired, but are different from pre-#5115 predictions, both with `ntreelimit` and without. Is this a regression, or are the ne

[2020-01-14 16:24] trivialfis commented on #5203
Yup. Before the prediction relies on `ntree_limit` to distinguish whether should we perform dropout, now it's dependent on the parameter `training`.  Hence `predict(ntree_limit=0)` should has exact same result with `predict(ntree_limit=boosted_rounds)`.

[2020-01-14 16:32] Kodiologist commented on #5203
I don't seem to obtain this. On master, adding `training = T` to the `predict` call in the above code still gives me the new prediction vector, which is different from both of the prediction vectors on 7b65698.

[2020-01-14 16:37] trivialfis commented on #5203
@Kodiologist That might be a R issue, let me take a look.  I ran the following code to verify my comment above, could you please take a look and see if I'm misunderstanding some of your questions?

[code]

[2020-01-14 16:49] trivialfis commented on #5203
Good to know that I can do this:

[code]

Thanks!  That's gonna help a lot.

[2020-01-14 16:57] trivialfis commented on #5203
@Kodiologist Okay, I found the cause.  My mistake.   Will fix it.

[2020-01-14 17:03] Kodiologist commented on #5203
Fantastic, thank you.

[2020-01-14 19:17] trivialfis commented on #5200
Optimization for memory consumption is a priority now, at least for GPU.

[2020-01-14 23:10] adam-ah opened #5205 "When is 1.0 being released finally? FutureWarning: Series.base is deprecated and will be removed in a future version"
This bug has been fixed https://github.com/dmlc/xgboost/issues/4300 over half a year ago on master, but [the last release was almost a year ago](https://pypi.org/project/xgboost/#history).

There have been hundreds of commits on this repo since then; could we please get a release to get all these changes from the past half a year?

[2020-01-14 23:23] hcho3 commented on #5205
There are a few pull requests marked as "Blocking." We are working hard to get 1.0 out. For now, you should look into using the nightly builds. See instructions at https://xgboost.readthedocs.io/en/latest/build.html.

[2020-01-15 03:31] #5205 closed

[2020-01-15 04:53] JohnZed opened #5207 "Feature request: allow predict to output on GPU device memory"
For users whose whole pipeline is in GPU memory, having predict return results on GPU device memory would be optimal. This particularly comes up in the case of hyperparameter sweeps, where a GPU-based scoring function is available (and fast), but we have to bring predictions to host memory.

Perhaps something like `booster.predict(test_dmatrix, device="gpu0")` would work as an API, with a default

[2020-01-15 20:15] DavorJ opened #5209 "[R] Best iteration index from early stopping is discarded when model is saved to disk"
These values are predicted after `xgboost::xgb.train`:
`247367.2 258693.3 149572.2 201675.8 250493.9 292349.2 414828.0 296503.2 260851.9 190413.3`

These values are predicted after `xgboost::xgb.save` and `xgboost::xgb.load` of the previous model:
`247508.8 258658.2 149252.1 201692.6 250458.1 292313.4 414787.2 296462.5 260879.0 190430.1`

They are close, but not the same. The differences between t

[2020-01-16 04:11] #5203 closed

[2020-01-16 04:14] trivialfis commented on #5209
There shouldn't be any rounding error for both binary or json. Are you using dart?

[2020-01-16 04:34] trivialfis commented on #5195
I thought Scala supports Ranking?

[2020-01-16 04:38] CodingCat commented on #5195
spark binding already supports it, just pass those obj functions as usual

On Wed, Jan 15, 2020 at 8:34 PM Jiaming Yuan <notifications@github.com>
wrote:

[2020-01-16 04:39] trivialfis commented on #5183
Will look into it, right now the JSON is still experimental.  Numeric IO procedures needs some more commits to both speed and accuracy.  The rounding guarantee from std is quite weak.

[2020-01-16 04:41] trivialfis commented on #5195
Great!

[2020-01-16 04:41] #5195 closed

[2020-01-16 07:54] DavorJ commented on #5209
No, I am not:

[code]

[2020-01-16 08:09] dubeyrahul commented on #5013
Hi @laura779, how did you represent the training data for distributed learning to rank (pairwise) for xgboost?
I am trying to understand how to specify groupID for pairwise learning to rank problem. Any help would be appreciated!

[2020-01-16 08:09] hcho3 commented on #5209
Can you provide us with dummy data where this phenomenon occurs?

[2020-01-16 08:13] dubeyrahul commented on #4680
Can we get documented support for learning to rank (pairwise) with XGBoost4J-Spark? Currently, there is no concrete solution to how to specify training data. There's some confusion around partitioning by groupID and training data needing to follow same partition strategy, but it's quite vague.
An example or clear documentation would be really helpful!

[2020-01-16 09:32] machineCYC opened #5210 "python plot_importance without feature name when using np.array for training data"
Below code, when trax is dataframe, xgb.plot_importance will show feature name, but trax is np.array it will show f1, f2, f3...

It is not convenience, could add a parameter in xgb.plot_importance call column_names(maybe other names) for transforming the  "f1, f2, f3..." to the real column name

The xgb.plot_importance is in https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/plotti

[2020-01-16 13:33] DavorJ commented on #5209
Here you go (Quick & Dirty):

[code]

On my machine, `identical(pred, pred.loaded)` is FALSE (i.e. should be TRUE). Here is the output of the last commands:

[code]

You see that the predictions sometimes differ slightly. Can you rerun the example code on your machine and see whether it has the same problem?

[2020-01-16 15:25] b-stats commented on #5183
Thanks for the update @trivialfis ! That is good to know. Please let me know if there is any additional information that I can provide.

[2020-01-16 20:10] trivialfis commented on #5209
Thanks for the script.  Just an update, I ran it with both saving to json and binary file with:
[code]

The hash value `(via sha256sum ./booster.json`) of `booster.json` and `booster-1.json` is exactly the same, so my guess is somewhere there's discrepancy caused by floating point arithmetic.

[2020-01-16 20:15] trivialfis commented on #5192
Okay, I need to spend some time on that.

[2020-01-17 08:08] Crissman opened #5213 "Approve XGBoost logo use"
Thank you for adding the Optuna integrated badge to the README.md page.

We would like to use the XGBoost logo on our [optuna.org](https://optuna.org) web page to make it easier for XGBoost users to find the example for using Optuna with XGBoost.

<img width="1118" alt="Screen Shot 2020-01-17 at 17 04 04" src="https://user-images.githubusercontent.com/4338467/72594859-d78e9e80-394b-11ea-84fe-7ec30

[2020-01-17 08:45] trivialfis commented on #5213
@tqchen

[2020-01-17 17:20] tqchen commented on #5213
LGTM to me, leaving for others to object

[2020-01-20 06:59] sharonwoo commented on #1715
Thanks for this; ```conda update --all``` was what worked for me. Running Mac OS Mojave with Python 3.7 Anaconda (not the new install... dates from last year).

[2020-01-20 07:22] trivialfis commented on #1715
Reopening, if someone has any insight to the issue, please share.

[2020-01-20 07:26] trivialfis commented on #5179
The parameters are passed as string into XGBoost, a quick workaround right now is to disable R's scientific representation used by paste.  Will further investigate a proper solution.

[2020-01-20 07:26] trivialfis commented on #5192
Will implement the getter of boosted round in xgboost core later.

[2020-01-20 09:45] a-whitej commented on #4826
Same issue met. any update on how to fix?

[2020-01-20 10:02] a-whitej commented on #4826
failure on GridSearch and error message:

2020-01-16 03:15:55,167  [ dispatcher-event-loop-2:47767420 ] - [ ERROR ]  Lost executor 43 on ip-****.cn-northwest-1.compute.internal: Container marked as failed: container_1577262625342_113301_01_000064 on host: ip-10-84-31-201.cn-northwest-1.compute.internal. Exit status: -100. Diagnostics: Container released on a *lost* node
2020-01-16 03:15:55,167  [

[2020-01-22 03:44] #4861 closed

[2020-01-22 09:33] itzikjan opened #5221 "Python wheel does not work with Pip 20.x"
We are installing xboost with python 2 and python 3.6  (on EMR)
Since today morning the installation step failed in all our EMRs (trying using python 2 and python 3).
1.	sudo /usr/local/bin/pip install xgboost==0.90
ERROR: Could not find a version that satisfies the requirement xgboost==0.90 (from versions: 0.4a12, 0.4a13, 0.4a14, 0.4a15, 0.4a18, 0.4a19, 0.4a20, 0.4a21, 0.4a22, 0.4a23, 0.4a24, 0.4

[2020-01-22 12:54] trivialfis commented on #5221
@hcho3 Could you please help taking a look?

[2020-01-22 13:23] StrikerRUS commented on #5221
@itzikjan Please take a look at https://github.com/microsoft/LightGBM/issues/2702#issuecomment-576961045. I guess it is the same problem.

[2020-01-22 15:22] cmottet commented on #2087
I am going to also weigh and say that having such feature would be extremely handy. The MultiOutputRegressor mentioned above is a nice wrapper to build multiple models at once and it does work well for predicting target variables that are independent from one another. However, if the target variables are highly correlated, then you really want to build one model that predicts a vector.

[2020-01-22 17:07] itzikjan commented on #5221
On 21/01/2020 pip was updated from 19.3.1 to 20.X.
The installation of xgboost fails with pip version 20.X.
Using pip 19.3.1 instead of 20.X, no problem installing xgboost

[2020-01-22 19:58] hcho3 commented on #5221
I wonder why pip 20.X is causing a problem. We should investigate.

[2020-01-22 20:03] hcho3 commented on #5221
@dmlc/xgboost-committer We may want to release 1.0 soon, as pip 20.x is breaking many existing Python wheels.

Examples:
* LightGBM: https://github.com/microsoft/LightGBM/issues/2702#issuecomment-576961045
* MXNet: https://lists.apache.org/thread.html/r5e82ed14ee44bb959df47af77d32b66da632716109657801c20d7ded%40%3Cdev.mxnet.apache.org%3E

[2020-01-22 20:32] kumarprabhu1988 commented on #4774
FYI, it was a matter of finding the right `spark.memory.fraction` and `spark.memory.storageFraction` configurations and once I did, training works smoothly. This issue can be closed.

[2020-01-22 20:40] hcho3 commented on #5221
Related:
* https://github.com/microsoft/LightGBM/issues/2707
* pypa/pip#7636
* pypa/pip#7626

[2020-01-22 21:32] contactlp opened #5223 "cant build v0.9 release and get error when I use current master branch (1d0ca497)"
Hello there,
As I want to make small changes in C++ code.

I have tried with current **master branch commit** (1d0ca497), it compiles, but when I call it from python it complain that `sklearn needs to be installed in order to use this module`

when I try with v0.90, code is not able to compile.

environment :
[code]
Septs:
[code]
[code]

[2020-01-22 21:51] hcho3 commented on #5223
After the command `git checkout tags/v0.90`, you should run `git submodule update --init --recursive`.

[2020-01-22 23:06] adam-ah opened #5224 "Order of columns and model accuracy (AUC, F1) on XGBRegressor"
**Context**
I have a very large number of input variables (100s), but only a handful (~50) matters.
I use XGBRegressor to build classification models (xgboost 0.90)
The model's accuracy is quite good (AUC 0.875, F1 0.846)

**Problem**

1. Rebuilding the model using only the important features gives a lower accuracy (AUC 0.872, F1 0.750) than the original model (getting the list of 39 features usin

[2020-01-23 05:20] trivialfis commented on #5223
If you are using scikit learn interface please install scikit learn first.  Otherwise you can use normal `train` method.

[2020-01-23 05:20] #5223 closed

[2020-01-23 05:23] trivialfis commented on #5221
Yup.  There are 2 blocking PRs, first is the scikit learn wrapper waiting for review another is io for metainfo.  I'm not sure how is rabit doing.

[2020-01-23 09:47] hcho3 opened #5226 "Unit test failing due to floating-point fluctuation"
This unit test is currently failing:

https://github.com/dmlc/xgboost/blob/aa9a68010b3bc6ae5d6ee5b60db7cbb3ef5530f0/tests/python-gpu/test_from_columnar.py#L98-L107

See https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-5187/8/pipeline/#step-332-log-1167

Fix: use `np.testing.assert_array_almost_equal(decimal=5)` instead of `assert np.array_equal(*)`.

[2020-01-23 09:57] trivialfis commented on #5226
@RAMitchell is looking into it I believe.  The errq is not deterministic.  I'm currently don't have access to working devices.   Relax the test is necessary.

[2020-01-23 12:29] #5100 closed

[2020-01-23 12:29] trivialfis commented on #5100
PR is merged.

[2020-01-23 19:33] #4956 closed

[2020-01-23 22:26] rsandler00 commented on #4860
Same as everyone else. Used v0.90 and had the `Process finished with exit code -1073740791 (0xC0000409)` error. Switched to v0.80 and was ok.

Interestingly, I use v0.90 in another virtualenv and it is fine. In this project I am also somewhat using TensorFlow (mainly TF datasets). Could the issue be that TF is taking up GPU space and XGBoost can't play nicely with that?

[2020-01-23 23:28] StrikerRUS commented on #5221
Inspiring a hope post from pip maintainer:

Expect a bugfix release for this tomorrow, assuming I recover from my current headache by then. :)
https://github.com/pypa/pip/issues/7626#issuecomment-577860648

[2020-01-24 01:22] lucagiovagnoli commented on #4680
I'd like to cast my vote to an interim release as well. We're looking forward to the next version mostly for the missing value fix by @cpfarrell (see https://github.com/dmlc/xgboost/pull/4805).

Is there a time estimate related to the next release (major or interim)?

PS:  @thesuperzapper  we're using 2.11 and 2.12 and an interim release would be extremely helpful for us

[2020-01-24 03:39] trivialfis commented on #4860
Could you provide a reproducible script that we can run and see the error?

[2020-01-24 04:45] trivialfis commented on #5221
That's great news, thanks!

[2020-01-24 15:54] paantya opened #5230 "[python3] WARNING: src/learner.cc:296: Parameters: { base_score } are not used"
I have warning:
`WARNING: src/learner.cc:296: Parameters: { base_score } are not used.`

what am I doing wrong?

simple code:
[code]

`xgb.__version__`
'1.0.0-SNAPSHOT'

[2020-01-24 16:37] trivialfis commented on #5230
Please update to latest commit.

[2020-01-24 16:39] trivialfis commented on #5230
It's a false alarm.  You can use daily build snapshot if compiling is difficult to you.

[2020-01-24 17:47] #5230 closed

[2020-01-24 18:02] smith-kyle opened #5231 "Can't install in python:3.7-slim container"
Trying to install in the official Python 3.7 docker container throws an error
[code]

[2020-01-24 18:21] smith-kyle commented on #5231
Oh I see. It's because this image has pip 20 installed so it's the same issue as https://github.com/dmlc/xgboost/issues/5221.

I'll close this out.

[2020-01-24 18:21] #5231 closed

[2020-01-24 21:01] trivialfis commented on #5213
@Crissman Go ahead .  :-)

[2020-01-24 21:01] #5213 closed

[2020-01-25 03:12] #5099 closed

[2020-01-26 12:32] hcho3 commented on #5131
@gaborcsardi https://github.com/dmlc/xgboost/pull/5232 should fix CRAN build on Alpine.

[2020-01-26 13:06] gaborcsardi commented on #5131
@hcho3 Thanks!

[2020-01-26 13:06] #5131 closed

[2020-01-26 19:38] Sandy4321 commented on #4952
if somebody tried to run locally ?
like
https://github.com/rambler-digital-solutions/criteo-1tb-benchmark

[2020-01-26 20:01] Sandy4321 commented on #4952
do you know code example to run fully locally , without spark?
kind of online learning?

[2020-01-26 22:57] trams commented on #4952
@Sandy4321 , what do you mean by "running locally"?
Bear in mind that the size of the dataset is 1Tb and unless the training set fits in memory the performance will be terrible.
If you want to attempt to train on one machine (I assumed that this is what is meant by "run fully locally") you need either to sample data (1-5% to fit on machine with 16-32Gb of memory) or acquire a big fat machine with

[2020-01-26 23:59] Sandy4321 commented on #4952
I mean online row by row processing
Also this data
https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/binary.html#criteo_tb
Is relatively small only 370gb zipped file
Also seems to be xgboost has online mode
When data is processed by chunks?

[2020-01-27 03:00] godasunil commented on #5117
@trivialfis : Where do you recommend the static cast? I'm also able to reproduce the issue for rhel-6

[2020-01-27 03:16] yurivict commented on #5117
I just patches the port:
[code]

I wouldn't have time for this any time soon.

[2020-01-27 06:20] trams commented on #4952
@Sandy4321 the point of this ticket is to create a reliable distributed benchmark for xgboost GPU backend

I would not call 370Gb file a small file if you want to process it on one machine.
With a typical speed of consecutive read for a spinning drive being 50-100 Mb per second.
It would take ~1-2 hours to just read this file. If you want to build a model with 100 trees and you have not enough RAM

[2020-01-27 10:26] hcho3 commented on #5117
@yurivict dmlc/rabit#133 and #5233 should fix the build on FreeBSD.

[2020-01-27 10:40] BertrandNOEL opened #5234 "Model trained with tree_method='gpu_hist' fails on Windows without GPU xgboost>0.80"
I train a model on a server with a GPU using the following code
[code]
I send this model to a Windows machine, without GPU, and use the following code
[code]
I get the following results
[code]
On Linux, I get the expected result (!=0.5)

I do not have access to a Windows machine with a GPU to test if it would change the output

Info on machines:
  * The Linux server where I train the model
[code]

[2020-01-27 12:46] trivialfis commented on #5234
Could you try latest master branch?

[2020-01-27 13:55] BertrandNOEL commented on #5234
Installed at commit `0c7455276da88319b94567137e155a0b9f4eed77`
[code]

Retrained a new model on the Linux server with 1.0, because loading a 0.90 xgboost pickle failed

On the Windows.
Got a new warning message
[code]

Previous code to call prediction does not work any more
[code]

I used
[code]

Looks like it is fixed! Perfect, thanks!

[2020-01-27 13:55] #5234 closed

[2020-01-27 14:23] Sandy4321 commented on #4952
But somehow RTB streaming data is processed
In real time?
When only way to process by chunks

[2020-01-27 14:40] trivialfis commented on #5234
The warning message doesn't matter if you don't want to continue the previous training.  See the tutorial about saving model on master branch.

[2020-01-27 14:56] sh1ng opened #5235 "Model compatibility with version 0.9 seems broken"
Loading an old model is not possible anymore
[code]
https://github.com/h2oai/h2o4gpu/blob/master/tests/python/open_data/gbm/model_saved.pkl

it's get loaded with
[code]

Is it intentional? What's recommended way to migrate to a new version?

[2020-01-27 15:00] BertrandNOEL commented on #5234
Thanks. Tutorial for reference:
https://github.com/dmlc/xgboost/blob/master/doc/tutorials/saving_model.rst

[2020-01-27 17:08] trivialfis commented on #5235
Yes, it's intentional.  I wrote a tutorial explaining the difference between pickle and `bst.save_model`: https://xgboost.readthedocs.io/en/latest/tutorials/saving_model.html  It applies to binary (what you are using currently) pickle too.

The key idea is, `bst.save_model` is stable across different versions, but not pickle, as the later captures all internal parameters.  If your previous model i

[2020-01-27 18:42] kumarprabhu1988 commented on #5145
@jimmy-walker I didn't follow your explanation. I am facing the same issue. Can you explain how you resolved it in more detail please?

[2020-01-27 21:22] trivialfis commented on #5090
Oops, sorry for missing the ping.  Will look into it.  Might be slow in response this week.

[2020-01-27 22:52] contactlp opened #5239 "Passing new argument from python to C++ and making changes in C++ code"
I am new with xgboost. I have been somewhat successful editing xgboost c++ code, but the new argument is hard coded in C++.  I want to pass argument from python to C++. How can I do that ?

I am pretty good with python, so I dont need help there. I am ok in C++, but I dont get how python is passing stuff to C++. I would appreciate if someone help me with that.

FYI, I have added argument to [ColSa

[2020-01-27 23:08] RAMitchell commented on #5239
Looks like you are trying to pass in a vector. Is this a hyperparameter?

See the way interaction constraints and monotone constraints are passed in to see how to add vector hyperparameters.

[2020-01-27 23:09] RAMitchell commented on #5226
I expect this was fixed in #5229, let's reopen if it happens again.

[2020-01-27 23:09] #5226 closed

[2020-01-28 06:19] #5117 closed

[2020-01-28 06:58] trams commented on #4952
I am sorry. I do not know what do you mean by "RTB streaming data"

[2020-01-28 07:05] hcho3 commented on #5221
The issue is now fixed in latest pip (20.0.2).

Example:
[code]

[2020-01-28 07:05] #5221 closed

[2020-01-28 10:00] Shameendra opened #5242 "OS Error : [WinError -529697949] Windows Error 0xe06d7363 running XGBClassifier with large dataset, CPU Mode"
Getting this error while trying to run XGBClassifier and GridsearchCV for hyperparameter optimization. I have seen this issue being opened but closed and marked resolved but no solution provided. has anyone actually found a soultion to this error?

My dataset :

    X = np array with 350000 rows and 1715 columns (after one hot encoding)
    y = 350000 rows and 1 column (target)

Code:

    X = tra

[2020-01-28 11:21] trivialfis commented on #5242
Not entirely sure but might be an out of memory.   Could you please help verifying that.  Grid searching with Python is sometimes problematic as Python's garbage collection is lazy, so the constructed DMatrix object is not cleared after each iteration.

[2020-01-28 14:37] Shameendra commented on #5242
@trivialfis Thanks for the reply. When i Reduce the number of features(columns), then  Grid searching with Python works wiothout errors. So it could indeed be possible that it is an out of memory error(But how do i Confirm that?) Maybe using a GPU helps? I will try to run it using a GPU and update as soon as i get the time to run my code

[2020-01-28 14:39] trivialfis commented on #5242
One workaround is to force garbage collection by using Python `gc` module at each search iteration.

[2020-01-28 14:46] Sandy4321 commented on #4952
It is when data coming to algorithm by portions
In real live today you do not have data for tomorrow
Also today data from yesterday is not relevant
So you can train model only by using data form relatively small time window
From this prospective building model on whole 1 TB data is mistake and pseudo science

[2020-01-28 15:02] Shameendra commented on #5242
Thanks for the tip i will try it and let you know

[2020-01-28 15:29] contactlp commented on #5239
@RAMitchell , yes it is hyperparameter for now as a first expriment.

I was thinking to pass in python like this.

[code]
to
[code]
Thanks

[2020-01-28 15:32] kylejn27 commented on #5090
No problem at all! Take your time

[2020-01-28 17:15] sh1ng commented on #5235
Current api recommends to use pickle . [**If you are using only the Python interface, we recommend pickling the model object for best results.** ](https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBRegressor.load_model)

As it was recommended I expect it's much more popular than `save_model`. It would be nice to have migration instead of playing with multiple version.

[2020-01-28 17:21] trivialfis commented on #5235
Em ... That's really painful.  I suppose we can put more effort in keeping the pickle stable

[2020-01-28 17:27] trivialfis commented on #5235
Let me try to introduce a migration.

[2020-01-28 18:40] trivialfis commented on #5235
I'm not sure if it's possible as there are changes in Python API too, which relates to pickled byte code.   Scikit-Learn also throws me a warning:

Will try to diff the binary input tomorrow.  If the changes is not fixable in C++, then I am afraid there's nothing we can do.

[2020-01-29 00:43] hrbzkm98 opened #5243 "Feature Request: Ordinal Classification [Wish List]"
Similar to #693 (closed). In the original discussion, participants did not seem to understand the difference between "learning-to-rank" and "ordinal classification". "learning-to-rank" produce relative ordering between items, and the output predictions are not class labels, while "ordinal classification" does produce class labels. Here is a blog post to introduce the reader to [loss functions for

[2020-01-29 01:15] hcho3 commented on #5243
@hrbzkm98 How does your approach compare to [Cumulative Logit Model](https://online.stat.psu.edu/stat504/node/176/) ?

[2020-01-29 02:05] hrbzkm98 commented on #5243
been studied in the statistics literature [McCullagh, 1980;
Fu and Simpson, 2002]. However, the models suggested are
much more complex, and even just evaluating the likelihood
of a predictor is not straight-forward.
From Page 2 Rennie, Jason D. M. and Srebro, Nathan . [Loss functions for preference levels: Regression with discrete ordered labels](https://ttic.uchicago.edu/~nati/Publications/Rennie

[2020-01-29 02:20] hcho3 commented on #5243
Interesting. It would be certainly nice to have ordinal classification in XGBoost. We can imagine a situation where the label represents a Likert scale.

At this moment, my hands are currently full right now (preparing 1.0 release). I will come back to this later.

[2020-01-29 02:23] hrbzkm98 commented on #5243
Thank you so much for your attention. I plan to write my thesis on this; hopefully can implement my own minimal working version by May.

[2020-01-29 02:30] hcho3 commented on #5243
Aside: there is an on-going work to implement a censored regression (survival analysis) in XGBoost: #4763.

[2020-01-29 03:23] hrbzkm98 commented on #5243
@hcho3 Are you still interested in mentoring for Google Summer of Code? If yes I would be pretty interested in working on this under your guidance.

[2020-01-29 04:45] hcho3 commented on #5243
@hrbzkm98 The XGBoost project doesn't have its own GSoC organization. Last summer, I was helping out with [RStat](https://github.com/rstats-gsoc/gsoc2019).

[2020-01-29 14:18] Shameendra commented on #5242
Hi @trivialfis I can confirm that it is indeed an out of memory error. when i reduce the number of samples and features, grid search works without errors. I have found some examples of implementing garbage collector with XGBoost and i hope that can solve the issue. Thanks again for the reply.

[2020-01-29 14:18] #5242 closed

[2020-01-29 21:32] hcho3 commented on #4834
Yes, AUC takes data weights into account.

[2020-01-29 21:32] #4834 closed

[2020-01-30 08:32] #5193 closed

[2020-01-30 08:34] trivialfis commented on #4680
@hcho3 Can we make create a release branch and have a week or so for testing?

[2020-01-30 08:43] yurivict opened #5246 "Fails to build on the i386 architecture: non-constant-expression cannot be narrowed from type 'xgboost::bst_ulong'"
[code]

See the log: http://beefy17.nyi.freebsd.org/data/head-i386-default/p524616_s357279/logs/xgboost-0.90.291.log (IPv6 URL)

[2020-01-30 08:51] trivialfis commented on #5246
Seems to be the problem of c++ `std::size_t`.

[2020-01-30 14:47] hcho3 commented on #4680
Yes!

[2020-01-30 14:51] terrytangyuan commented on #4680
@hcho3 In addition to a branch, we can also make an official release candidate on GitHub Releases so that the community can have more confidence to test it as well.

[2020-01-30 20:16] lucagiovagnoli commented on #4680
This sounds awesome! Really looking forward to the next release. Let me know if we can help. We're definitely going to test it out at Yelp.

[2020-01-30 21:52] hcho3 commented on #5246
I managed to reproduce the build failure using a VirtualBox image running 32-bit FreeBSD.

[2020-01-30 22:20] hcho3 commented on #5246
#5250 should fix the problem.

[2020-01-31 05:32] #5246 closed

[2020-01-31 07:15] hcho3 commented on #4680
I will cut a new branch `release_1.0.0` after https://github.com/dmlc/xgboost/pull/5248 is merged. Thanks everyone for your patience.

[2020-01-31 07:17] hcho3 opened #5252 "[CI] Perform model compatibility as part of CI"
Related: https://github.com/dmlc/xgboost/pull/5248

We want the CI system to verify whether the latest source build of XGBoost can read models generated by the last stable release of XGBoost. I will come back to this after the 1.0.0 release.

[2020-01-31 08:20] hcho3 opened #5253 "[RFC] XGBoost 1.0.0 Release Candidate"
The last release (0.90) came out on May 20, 2019, and after 8 months of effort, we proudly announce the 1.0.0 release. In the next two weeks, the community is invited to try out the release candidate (RC).

Feedback period: until the end of ~February 14, 2020~ **February 17, 2020**. No new feature will be added to the 1.0.0 release; only critical bug fixes will be added.

@dmlc/xgboost-committer

[2020-01-31 09:51] daviddiazvico opened #5254 "Improving compatibility with Scikit-learn"
According to the [Scikit-learn development guide](https://scikit-learn.org/stable/developers/develop.html#parameters-and-init), the `__init__` method should not do any parameter validation or set any "trailing _" parameter.

In order to have an estimator compatible with the automated hyper-parameter search objects (GridSearchCV, RandomizedSearchCV, skopt.BayesSearchCV, etc.), that should be handle

[2020-01-31 11:23] hcho3 commented on #5253
@RAMitchell @trivialfis For some reason, the Linux binary wheel is now 208 MB, exceeding the 200 MB size limit. Let us find ways to reduce it. The last stable release was only 142.8 MB.

[2020-01-31 11:45] hcho3 commented on #4680
Release candidate is now available for Python: https://github.com/dmlc/xgboost/issues/5253

[2020-01-31 12:12] trivialfis commented on #5253
We can remove the duplication.  I consider it as a bug

[2020-01-31 13:37] jimmy-walker commented on #5145
@kumarprabhu1988 My problems is related to the inpurt format of feature, cause SparseVector only support missing value with 0.0.
I suggested you to run the command in local mode, it will output more info to tell you what's wrong in your code.

[2020-01-31 18:48] hcho3 commented on #5253
@trivialfis Should I try to fix CI so that `libxgboost.so` is not duplicated? Manually removing it seems to work fine.

[2020-01-31 20:23] trivialfis commented on #5253
For this release we might have to make do with manually removing it.  But I will refactor the setup script so it can be more friendly.

[2020-01-31 20:52] hcho3 commented on #5253
The R package is producing a warning about the use of `std::cout` in the codebase:
[code]
CRAN may not accept XGBoost if this warning persists.

There are three places where `std::cout` is used:
* `src/common/timer.cc`: it should be sufficient to replace `std::cout` with `LOG(CONSOLE)`.
* `src/common/observer.h`: since the Observer is a debugging feature, I suggest we disable it for the R package.

[2020-01-31 21:06] trivialfis commented on #5253
Agreed!  Just replace/disable it.

[2020-01-31 22:22] hcho3 commented on #5253
@trams @CodingCat It's my first time to create JAR artifacts for XGBoost4J. I used CentOS 6 Docker image to compile the native lib. I'd love to get your feedback and learn the best practices for making releases in Java world.

[2020-02-01 01:13] ankane commented on #5253
This is great! Happy to report it works well with:

- Homebrew - with OpenMP support :tada: - https://github.com/ankane/homebrew-core/commit/1f39811c129a2a36d391368d5791fdff257b5f94
- the Ruby library - after adding an extra parameter to `XGBoosterPredict` - https://github.com/ankane/xgboost/commit/d475f3fa21d44926ec0ca0a33259b9b9a90aca42

(both commits in branches)

[2020-02-01 01:25] hcho3 commented on #5253
@ankane That's good to know. Thanks! One tidbit: XGBoost now requires CMake 3.16+ for Mac target, so we no longer require the extra CMake flags. So we should be able to remove the following lines:
[code]
https://github.com/ankane/homebrew-core/blob/1f39811c129a2a36d391368d5791fdff257b5f94/Formula/xgboost.rb#L22-L26

That is, `cmake ..` will just work, as long as CMake 3.16+ is installed.

[2020-02-01 01:31] ankane commented on #5253
It worked without the flags outside of Homebrew (https://github.com/ankane/ml-builds/compare/xgboost-1-0), but needed them inside the Homebrew environment for some reason. I believe Homebrew modifies some of the build flags in their compiler shim.

[2020-02-01 01:32] hcho3 commented on #5253
@ankane Ah I see. Glad to hear that we finally have OpenMP-enabled XGBoost in Homebrew!

[2020-02-01 03:09] Tesla9999 opened #5259 "read csv files from s3 and set the train data label column index failed"
I am trying to read csv files on s3, need to set the train data label column index, for example run '../xgboot mushroom.aws.conf', in the xgb conf file:
data='s3://bucket/file_name.csv?format=csv&label_column=0'
The '&label_column=0' is giving me trouble, '?format=csv' is working fine and '?format=csv&label_column=0' works for local file.
the error message is:

terminate called after throwing an i

[2020-02-01 07:24] trivialfis commented on #5253
@hcho3 Out of curious

Does `py2` in the file name imply we support Python2?

[2020-02-01 07:30] hcho3 commented on #5253
@trivialfis No, it does not, since we have this line
https://github.com/dmlc/xgboost/blob/fe8d72b50b132af6e24dfa6eb2e08d18430247e8/python-package/setup.py#L66

However, let me rename the wheel to use `py3` exclusively.

[2020-02-01 07:55] trams commented on #5253
@akimboyko, do you guys want to take a look on this RC?

[2020-02-01 08:03] trams commented on #5253
@hcho3 You did right!
Building JARs is like building wheels. It is not java part which is problematic but rather native libxgboost.so library. What you generally want from this library is to depend on the oldest possible version of LIBC. The idea is that libc is backward compatible on a binary level. So everything which compiled with libc version X will work for any version Y as long as Y >= X

Wh

[2020-02-01 08:55] hcho3 commented on #5253
Adding a limitation about needing a nonzero `reg_lambda` parameter. cc @trivialfis

[2020-02-01 09:25] trivialfis commented on #5253
@hcho3 I don't think that's a very serious problem, as least not among machine learning libraries.  Just state that if NAN is encountered try adjusting lambda.

[2020-02-01 09:25] hcho3 commented on #5253
"Known limitations" will be part of the Release Note.

[2020-02-01 09:26] trivialfis commented on #5253
Got it .  Thanks!

[2020-02-01 09:26] hcho3 commented on #5253
@trams That's good to hear. In the future, I may want to spend more time on the distributed portion of XGBoost.

[2020-02-01 13:29] 2w0lil commented on #5148
not 2 shabby

[2020-02-01 14:10] olivierroncalez opened #5262 "Ranking Evaluation not working"
I've created a validation set from sampling within grouped query IDs in order to form an 80/20 split.

[code]

The lengths for the 3 evaluation  sets are:

[code]

However, when I try to fit the model the following error occurs.

[code]

It seems that suddenly `len(eval_set)` is no longer recognized? How do I fix this?

[2020-02-01 18:50] Arie-whitehack opened #5264 "Mrx@r1"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2020-02-01 22:04] #5264 closed

[2020-02-01 22:19] #5262 closed

[2020-02-01 23:28] allaela1 commented on #5259
close #kistek/boss-demo#3

[2020-02-01 23:29] allaela1 commented on #5262
close #kistek/boss-demo#3

[2020-02-02 01:12] szkocot opened #5266 "Documentation about running multiple jobs per GPU"
When running the hyperparameter tuning cross-validation pipeline, we were able to finish multiple boosting model training processes on a single GPU. GPU memory and core usage have increased and for smaller models, it seems to scale pretty well. I haven't found anything about it. Is there a chance to make it "official" by documenting this feature?

[2020-02-02 04:58] trivialfis commented on #5266
I'm not sure why is it a feature.  Independent processes don't interfere each others.  The limitation is we can't run multiple cooperating processes using distributed training on same GPU.

[2020-02-02 04:58] #5266 closed

[2020-02-02 05:09] trivialfis commented on #5239
It's passed by Python Booster::set_param.  I'm sure you can track down the rest.

[2020-02-02 05:11] trivialfis commented on #5239
These parameters are passed as string, and in C++ we define a subclass to `XGBoostParameter`, which can restore a vector from string.

[2020-02-02 05:11] #5239 closed

[2020-02-02 10:26] bavithiran90 opened #5267 "Xgboost"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2020-02-02 10:27] bavithiran90 opened #5268 "Xgboost"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2020-02-02 10:28] #5267 closed

[2020-02-02 10:28] #5268 closed

[2020-02-02 10:29] eepatt opened #5269 "Lost my email and someone is messing around in my phone"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2020-02-02 10:29] #5269 closed

[2020-02-02 10:31] bavithiran90 commented on #5148
Check out the label

[2020-02-02 10:31] hcho3 commented on #5268
Please do not post an issue with empty content.

[2020-02-02 10:31] hcho3 commented on #5269
Please do not post an issue with empty content.

[2020-02-02 10:32] hcho3 commented on #5148
I deleted two spam comments.

[2020-02-02 10:35] bavithiran90 commented on #5148
I'm not a spam..

[2020-02-02 10:35] hcho3 commented on #5264
Please do not post a issue with empty content.

[2020-02-02 10:36] hcho3 commented on #5148
@bavithiran90 "Check out the label" has nothing to with the discussion at hand.

[2020-02-02 10:48] trivialfis commented on #5253
@hcho3 Can add Python 3.8 support by adding this?

[2020-02-02 10:53] trivialfis commented on #5118
I recently looked into our `setup.py`.  It's seems quite messy to refactor it.  To make things nice for everyone, here are the things we need to understand:

- python setup.py bdist
- python setup.py bdist_wheel
- python setup.py sdist
- python setup.py install
- python setup.py build_ext
- Installation with libxgboost.so in system path instead of python site-package

....

I would really apprecia

[2020-02-02 19:50] eepatt commented on #5269
![Screenshot_20200202-142527_Hacked](https://user-images.githubusercontent.com/60456124/73614242-4f56fd00-45cb-11ea-8fa4-3b4b1bfe769c.jpg)

[2020-02-02 19:51] eepatt commented on #5269
Found it..thanks

[2020-02-03 02:35] harupy opened #5273 "Link to the supplementary material doesn't work"
[The XGBoost paper](https://www.kdd.org/kdd2016/papers/files/rfp0697-chenAemb.pdf) says a detailed description of the weighted quantile sketch is given in the link below. I tried to open it, but got Not-Found Error.

http://homes.cs.washington.edu/˜tqchen/pdf/xgboost-supp.pdf

[2020-02-03 04:03] Arie-whitehack commented on #5264
I am sorry

[2020-02-03 05:31] trivialfis commented on #5254
PR is merged.  Thanks!  The guide will help a lot in the future.

[2020-02-03 05:31] #5254 closed

[2020-02-03 15:16] Shameendra opened #5275 "get feature names from a trained model, python"
Hi i have a pre trained XGBoost CLassifier. I want to find out the name of features/the name of Dataframe columns with which it was trained to i can prepare a table with those features for my use. Can anyone tell me how this can be done. And would be nice if i could get the datatype that the feature expects(eg. int, float or str)

    from xgboost import XGBClassifier
    clf =  XGBClassifier(lear

[2020-02-03 15:19] trivialfis commented on #5275
Could you describe the issue in more details?  There s a feature name property in booster.

[2020-02-03 15:19] Shameendra commented on #5275
Hi i have a pre trained XGBoost CLassifier. I want to find out the name of features/the name of Dataframe columns with which it was trained to i can prepare a table with those features for my use. Can anyone tell me how this can be done. And would be nice if i could get the datatype that the feature expwects(eg. int, float or str)

    from xgboost import XGBClassifier
    clf =  XGBClassifier(lea

[2020-02-03 15:21] Shameendra commented on #5275
@trivialfis I have updated my question. Sorry i forgot to add details the first time

[2020-02-03 15:22] trivialfis commented on #5273
There is a reference section in the readme.  Use that link.

[2020-02-03 15:22] #5273 closed

[2020-02-03 15:25] trivialfis commented on #5275
No problem.  Call `get_booster()` from `clf`.  Then you have access to the `Booster` object, which contains the `feature_names`.

[2020-02-03 15:29] Shameendra commented on #5275
@trivialfis It works. Thanks. But it seems that instead of the original names, they have been converted to 'f0','f1','f2' etc. Any way to resture them to their original names?

[2020-02-03 15:38] trivialfis commented on #5275
Could you provide a self contained script?  With pandas and cuDF, XGBoost should collect the feature names from training matrix.  Also what's your XGBoost version?

[2020-02-03 15:47] Shameendra commented on #5275
Unfortunately i cannot provide the script scince my company does not allow data shring online . but i can tell you my procedure.

 `
df = pd.read_csv('mycsv.csv', encoding='ISO-8859-1', sep=',')  #read csv
X = df5.drop(['Z'], axis=1)  #create training variables
y = df5['Z'] #create target variables

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20 #Test Train split

X_train

[2020-02-03 16:14] trivialfis commented on #5275
Could you try the latest release?  There's nightly build available, see https://xgboost.readthedocs.io/en/latest/build.html  I can't reproduce your error with lastest release.  Also take a look into https://github.com/dmlc/xgboost/issues/5253

[code]

[code]

[2020-02-03 16:15] trivialfis commented on #5275
Or pls make sure your input data frame does have valid `columns` property.

[2020-02-03 16:18] Shameendra commented on #5275
oke thanks for the suggestions. i will give it a try

[2020-02-03 18:55] #5275 closed

[2020-02-03 19:57] sh1ng opened #5276 "Check failed: base_score > 0.0f && base_score < 1.0f: base_score must be in (0,1) for logistic loss, got: -0"
When load_model saved from 0.9 in version 1.0 returns
[code]

[temp_.zip](https://github.com/dmlc/xgboost/files/4149940/temp_.zip)

[2020-02-03 20:07] sh1ng commented on #5276
If I do
[code]

It works correct.

But if saving is performed in xgboost-0.9 and then loaded in xgboost 1.0 the error occurs.
Original pkled model can be found at https://github.com/h2oai/h2o4gpu/blob/master/tests/python/open_data/gbm/model_saved.pkl

[2020-02-04 15:46] neeleshkshukla opened #5278 "[jvm-packages] Empty feature score map after successful training."
We are using 0.82 version of XGboost4j and XGBoost4j-Spark. We did training with ml.dmlc.xgboost4j.scala.spark.XGBoostRegressor and it got successful. XGBoostRegressionModel is very well predicting on test data. But model.nativeBooster.getFeatureScore() returns empty map. Though It worked well most of the time in the past.

I dig deeper into the code, https://github.com/dmlc/xgboost/blob/master/jv

[2020-02-04 20:52] hcho3 opened #5282 "Simplify installation doc"
The current installation doc (https://xgboost.readthedocs.io/en/latest/build.html) has accumulated lots of sections over time. It's time to simplify it. I want to make it look simple and easy to use.

Good examples:
* RAPIDS: https://rapids.ai/start.html
![Screen Shot 2020-02-04 at 12 50 57 PM](https://user-images.githubusercontent.com/2532981/73785876-0a5ad400-474d-11ea-911d-899e1b838b26.png)

*

[2020-02-05 07:09] eepatt opened #5284 "![Screenshot_20200202-142527_Hacked](https://user-images.githubusercontent.com/60456124/73614242-4f56fd00-45cb-11ea-8fa4-3b4b1bfe769c.jpg)"
![Screenshot_20200202-142527_Hacked](https://user-images.githubusercontent.com/60456124/73614242-4f56fd00-45cb-11ea-8fa4-3b4b1bfe769c.jpg)

_Originally posted by @eepatt in https://github.com/dmlc/xgboost/issues/5269#issuecomment-581170228_

[2020-02-05 07:25] #5284 closed

[2020-02-05 11:26] trivialfis opened #5285 "Possible GPU memory usage increase."
It seems #5093 has some impact on GPU memory usage.  After the commit I encountered an OOM error on mortgage with 4 Tesla V100 16GB.  @rongou

My benchmark script: https://github.com/trivialfis/dxgb_bench .

[2020-02-05 13:05] trivialfis commented on #5152
Links:
https://scikit-learn.org/stable/developers/develop.html#rolling-your-own-estimator
https://scikit-learn.org/stable/modules/generated/sklearn.utils.estimator_checks.check_estimator.html

[2020-02-05 13:34] trivialfis commented on #5285
I will investigate it further later.  Haven't confirmed yet.

[2020-02-05 14:18] Jie-Yuan opened #5286 "[XGBClassifier and xgb.Booster] => to and from each other"
[XGBClassifier and xgb.Booster] => to and from each other

[2020-02-05 14:42] neeleshkshukla commented on #5278
We figured out the issue. All the target values were the same. i.e. No feature contributes.

[2020-02-05 17:31] rongou commented on #5285
Keep me posted. Are you using sampling anywhere?

[2020-02-05 17:36] trivialfis commented on #5285
Nope.  Just normal benchmarking.

[2020-02-05 17:46] rongou commented on #5285
I went through the PR again, I don't see any place allocating more GPU memory. In fact, we should use slightly less memory since the gradient pairs are no longer duplicated. Strange...

[2020-02-05 18:21] trivialfis commented on #5285
Don't worry.  I will look into it later.  Will keep you posted.

[2020-02-05 18:26] trivialfis commented on #5286
XGBClassifier defines a label encoder from scikit learn to enable both predict and predict_prob .  The encoder doesn't exit on native booster and rely on user to do the feature engineering.

Look into the fit method and I think it should be easy for you to make the conversion, as you have the data to define this encoder.

[2020-02-05 18:26] #5286 closed

[2020-02-05 18:57] trivialfis commented on #5184
Probably a due to the fact that we use native CMake cuda language support while you are using the older CUDA CMake module.  I don't think it's XGBoost related, please consider opening an issue on CMake gitlab.  Thanks.

[2020-02-05 18:57] #5184 closed

[2020-02-05 18:59] trivialfis commented on #4357
Document should be the last item now

[2020-02-05 19:06] trivialfis commented on #5135
Fixed in master branch.  The setup script is rewritten.  Thanks for opening an issue!

[2020-02-05 19:06] #5135 closed

[2020-02-05 19:13] trivialfis commented on #5102
We should define a num class and allow skipping XGBoost s label encoder.

[2020-02-05 19:17] trivialfis commented on #4988
It's on pip now.  :-)

[2020-02-05 19:17] #4988 closed

[2020-02-05 19:23] trivialfis commented on #4639
Attributes in booster are still lost, but has nothing to do with skl now.  Closing.

[2020-02-05 19:23] #4639 closed

[2020-02-05 19:25] #4768 closed

[2020-02-05 19:26] trivialfis commented on #4768
Stalled

[2020-02-05 19:33] DavorJ commented on #5209
Why close the issue without knowing the cause?

[2020-02-05 19:39] trivialfis commented on #4204
Closing in favour of https://github.com/dmlc/xgboost/issues/5023

[2020-02-05 19:39] #4204 closed

[2020-02-05 19:39] trivialfis commented on #3921
Closing in favour of https://github.com/dmlc/xgboost/issues/5023

[2020-02-05 19:39] #3921 closed

[2020-02-05 19:40] trivialfis commented on #3707
Closing in favour of https://github.com/dmlc/xgboost/issues/5023

[2020-02-05 19:40] #3707 closed

[2020-02-05 19:45] hcho3 commented on #5209
@trivialfis Did you get True for `identical(pred, pred.loaded)`? The OP is asking why the predictions don’t match, even though two models have same binary signature.

[2020-02-05 19:46] hcho3 commented on #5209
I’ll try to reproduce it myself.

[2020-02-05 20:01] trivialfis commented on #5209
Oh, sorry.  The cause I found is the prediction cache.  After loading the model, predictions come from true prediction, instead of cached value:

I should make it clear.

[2020-02-05 20:02] hcho3 commented on #5209
So prediction cache interacts with floating-point arithmetic in a destructive way?

[2020-02-05 20:26] trivialfis commented on #5209
@hcho3 It's a problem I found during implementing the new pickling method.  I believe it plays a major role in here.  So first reduce the number of trees down to 1000 (which is still pretty huge and should be enough for demo).

Re-construct the DMatrix before prediction to get the cache out of way:

[code]
It will pass the `identical` test.  Otherwise it fails.

Getting in more trees the identical

[2020-02-05 20:39] trivialfis commented on #5209
As the floating point summation is not associative,  we can make it as a to do plan to have strong guarantee for order of prediction, if that's desired.

[2020-02-05 20:53] trivialfis commented on #5209
Actually making strong guarantee for order won't work (will help a lot but still there will be discrepancy).  A floating point in CPU FPU register can have higher precision then stored back to memory.  (Hardware implementation can use higher precision for intermedia values,  https://en.wikipedia.org/wiki/Extended_precision).  My point is when the result for 1000 trees are exactly reproducible with

[2020-02-05 21:16] hcho3 commented on #5209
I agree that floating-point summation is not associative. I will run the script myself and see if the difference is small enough to attribute to the floating-point arithmetic.

[2020-02-05 21:18] trivialfis commented on #5209
Yup.  Apologies for closing without detailed notes.

[2020-02-05 22:29] groodt commented on #5135
@trivialfis Amazing! Thank you!

[2020-02-05 22:39] kvaDrug opened #5287 "Different predictions for the same data and different DMatrix format (sparse vs np.ndarray)"
## Bug description
It's a DMatrix bug. Given that the data is the same. The 2 models: one trained on a matrix created from scipy.sparse, and the other is trained on a matrix created from numpy.ndarray. The predictions on the same dataset will be different.

## Script
In this script the train data is created with `scipy.sparse.random()` in form of a csr matrix. Other matrix formats aren't tested. T

[2020-02-05 22:40] kvaDrug commented on #5037
Please, check this similar issue: https://github.com/dmlc/xgboost/issues/5287

[2020-02-05 22:48] brebbles opened #5288 "[R] base_margin not working in a Multiclass Cross-validation"
Firstly, I see this topic has been previously raised/closed here [#2006](https://github.com/dmlc/xgboost/issues/2006), but I am still having the issue when running a multiclass classifier.  For reference I am using xgBoost version 1.0.0.1 via R:

I cannot get the base_margin passed through during cross-validation for a multiclass model.  I can get it working on xgb.train using the exact same code

[2020-02-06 10:00] trivialfis commented on #5287
@kvaDrug The problem is missing value.  After converting to dense matrix, the missing value becomes `0`.  While XGBoost interprets 0 as valid values.  Try:

[code]

[2020-02-06 10:03] trivialfis commented on #5287
Here is a slightly modified version of your script, with the second training removed and an `assert` appended at the end:

[code]

[2020-02-06 13:06] yupbank opened #5289 "the leaf info for multi-class model during dump booster is wrong"
[code]
 outputs this
[code]
here the leaf section doesn't mean anything towards prediction.
i did try `booster.tree_to_dataframe()` which gives similar makes no sense results

[2020-02-06 13:56] trivialfis commented on #5289
It's the weight of leaf.  The final prediction is `softmax(sum of weights)` .

[2020-02-06 14:05] yupbank commented on #5289
I'm not exactly sure what weight it is. since the prediction would be a 3d vector. and the leaf only outputs 1 scalar.

here it is a 3 class classification

[2020-02-06 14:10] trivialfis commented on #5289
XGBoost employs 1 stack of trees for 1 class.  So for 3 classes there will be 3 stacks of trees.  Each tree leaf contains a scalar output called weight.  Please refer to the tutorial in our documents for an explanation of tree models.

[2020-02-06 14:52] yupbank commented on #5289
interesting.. so it's different from the sklearn.tree.DecisionTreeClassifier. Thanks for the clarification.

[2020-02-06 15:02] yupbank commented on #5289
a follow-up question, how does the stack behave when there is more than 1 estimator?
`[estimator_1_class_1, estimator_1_class_2, estimator_1_class_3, estimator_2_class_1, estimator_2_class_2, estimator_2_class_3]`
or

`[estimator_1_class_1, estimator_2_class_1, estimator_1_class_2, estimator_2_class_2, estimator_1_class_3, estimator_2_class_3]`

[2020-02-06 16:16] yuebanfengqing opened #5290 "[R-package] cutomized loss function for survival data"
I am trying to used xgboost package on the right-censored time-to-event data. It seems like there is no built-in loss function for survival data in R xgboost package. I tried to write mu own customized objective function, which is negative log partial likelihood. Since it has censoring indicator in it (besides, I have a treatment indicator), is it possible to pass those information into the custom

[2020-02-06 16:27] yuebanfengqing commented on #5290
If not, is there any ways to modify the code of xgb.DMatrix so that it can take more parameters?

[2020-02-06 16:43] trivialfis commented on #5290
@hcho3

[2020-02-06 18:03] kucbd opened #5291 "[Python] "Unknown tree updater grow_gpu_hist" when loading a GPU trained model on a non-GPU machine"
We train with GPU on our Linux machine (`tree_method='gpu_hist'`) and pickle dump the model to a json file (xgboost version 1.0.0rc1). Loading the generated model file on a non-GPU machine (MacOS) causes following error:
`xgboost.core.XGBoostError: [17:35:27] /tmp/pip-install-fjnd8mac/xgboost/xgboost/src/tree/tree_updater.cc:20: Unknown tree updater grow_gpu_hist`

When training with CPU only then

[2020-02-06 19:29] kvaDrug commented on #5287
@trivialfis, thank you for the fast and detailed answer. I see... You solved the problem. I though 0s are interpreted as missing values by default. Ahh!

[2020-02-06 19:29] #5287 closed

[2020-02-06 23:43] CarcajadaArtificial commented on #1715
LMAO

[2020-02-07 07:53] yupbank commented on #5289
[code]

---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
<ipython-input-36-002dbd19397c> in <module>()
      5 y = np.vstack([y,y]).T
      6 model = xgb.XGBRegressor(n_estimators=1, max_depth=1).fit(x, y)
----> 7 assert model.predict(x).shape == y.shape, "prediction should have same shape as fit

[2020-02-08 09:52] #5278 closed

[2020-02-08 10:07] trivialfis commented on #5291
@kucbd Right now my suggestion is wait for 1.0 release.  It fixes all kind of configuration/model loading quirks.  https://github.com/dmlc/xgboost/issues/5253

[2020-02-08 10:11] trivialfis commented on #5289
@yupbank The trees are handled internally in XGBoost.  You don't have to do anything special for it.

[2020-02-08 10:17] Huaichao2018 opened #5293 "don't have "Split" "RealCover" "RealCover" col"
https://xgboost.readthedocs.io/en/latest/R-package/discoverYourData.html
importanceRaw <- xgb.importance(feature_names = sparse_matrix@Dimnames[[2]], model = bst, data = sparse_matrix, label = output_vector)

# Cleaning for better display
importanceClean <- importanceRaw[,`:=`(Cover=NULL, Frequency=NULL)]

head(importanceClean)
##             Feature        Split       Gain RealCover RealCover %
#

[2020-02-08 13:40] Huaichao2018 opened #5294 "in"higgs-train.R" what's mean of this code "xgmat <- xgb.DMatrix(data, missing = -999.0)""
in"higgs-train.R" what's mean of this code "xgmat <- xgb.DMatrix(data, missing = -999.0)"

[2020-02-08 14:17] Huaichao2018 opened #5295 "how to download kaggle-higgs data in your demo"

[2020-02-08 14:55] emmanueltsukerman opened #5296 "Monotonic Constraints - Only Partially Working"
Full code can be found [here ](https://github.com/emmanueltsukerman/Monotonic-XGBoost-Demo/blob/master/Monotonic%20XGBoost.ipynb).

Basically, I have two features, x_1 and x_2. I constrain x_2 to be monotonic. I take an example
(a, b) that is classified as "c".  Then I create another example, (a', b). If monotonicity works, then example (a',b) should be classified as "c" as well. But that's not ne

[2020-02-08 19:12] trivialfis commented on #5295
Go to kaggle and find the corresponding context. ;-)

[2020-02-08 19:13] #5295 closed

[2020-02-08 19:14] trivialfis commented on #5294
define a variable called `xgmat` storing processed data, with `-999.0` interpreted as invalid value during processing.

[2020-02-08 19:14] #5294 closed

[2020-02-10 00:58] hjh1011 opened #5297 "Can't refresh twice or more once pruning happens in the first refresh"
The tasks that lead me to this issue is something like this: say I have three data sets D1, D2, D3. I train my first model xgb_1 with D1, refresh the leaves with D2 and then incrementally grow trees with D2 so that I get a model xgb_2. When I tried to refresh xgb_2 with D3, it outputs error. I did some digging and suspect it has something to do with node prune during refresh.

To better illustrate

[2020-02-10 04:01] XTmingyue opened #5298 "【Python】Floating-point precision of the split node"
I have encountered an unusual situation:

A model shows the split point for a particular node as follows:

`4:[f21<166.666702] yes=9,no=10,missing=9`

If I feed in an observation where f21 = 166.6667 the python model incorrectly sends this to the yes node. I've limited the number of floating-point numbers in Python to four decimal places.

[2020-02-10 09:58] hrbzkm98 opened #5299 "Need more clarification/derivation on the “2”in 2*pi*(1-pi) Hessian of MultiClass:Softmax"
Here is a list of issues raised in the past: #638, #1825, #2024, #2485
Here is a paper on where the 2 comes from: http://homes.cs.washington.edu/~tqchen/data/pdf/GBCRF-AISTATS15.pdf

However the paper is on CRF, and after reading am still confused why the Hessian is 2 * pi(1-pi).
My understanding is that, as long as we have a “majorizing” hessian, we are guaranteed to converge when optimizing quad

[2020-02-10 14:13] bninopaul opened #5300 "xgboost when installed has 2 native library paths (duplicated installation paths for xgboost)"
I have an ubuntu os and when I installed `xgboost==0.9` using pip in a virtual environment, I found 2 similar installation paths, is this a bug or an intended configuration?
In my `py3env` environment, I got these 2 paths of xgboost, which one is the right path that `xgboost` is using?
1. `py3env/xgboost/libxgboost.so`
2. `py3env/lib/python3.6/site-packages/xgboost/lib/libxgboost.so`

[2020-02-10 17:49] trivialfis commented on #5300
Fixed in master branch.  Feel free to reopen the issue if needed.

[2020-02-10 17:49] #5300 closed

[2020-02-10 17:57] trivialfis commented on #5299
I asked a similar question before and have been wanting to write a small doc about it.  Let me see if I can do it on spare time this week.

[2020-02-10 18:06] hrbzkm98 commented on #5299
Thank you so much, @trivialfis, please kindly let me know when you have something ready. I am eager to know the answer.

[2020-02-10 21:26] RAMitchell opened #5301 "Libsvm with unordered features breaks gpu_hist"
A libsvm file with a row such as below creates undefined behaviour
`0 1:3400 0:170`
The gpu_hist algorithm assumes that rows of data are ordered by feature. It uses binary search over sparse rows to find specific matrix elements, and the binary search fails due to incorrect ordering. There may be other cases of this assumption inside xgboost that I am not aware of.

The bug is very subtle and mani

[2020-02-11 13:42] sabgit commented on #5300
@trivialfis When can we expect to have the next release from the master branch to the Pypi registry? Thanks

[2020-02-11 14:20] trivialfis commented on #5300
1.0 should be really close now.  But this fix is not included, estimated time is 2 months after 1.0.

[2020-02-12 11:33] trivialfis commented on #5299
@hrbzkm98 There is a strong relationship between logistic model and conditional random field.  Quoting from #1815 , softmax is a special case of CRF with no edge potential, you can remove all edge potential in all equations in the CRF paper you referenced.  It will lead to the hessian defined in XGBoost.

[2020-02-12 21:17] honzasterba opened #5304 "Logloss increasing with num_rounds in distributed + tree_method=exact"
We have observed a behaviour that when tree_method set to exact, distributed mode, training with same parameters only increasing the number of tree

then logloss metric is worsening (rising) with more trees built.

[code]

gives output

[code]

[2020-02-12 21:31] RAMitchell commented on #5304
I don't think exact is meant to be used as a distributed algorithm. Do you get the expected result for 'tree_method': "hist"?

Perhaps we can log a fatal error in this case.

[2020-02-13 04:16] cuauty commented on #5304
@RAMitchell   Do you mean "exact" doesn't work for multiple worker?

[2020-02-13 05:37] trivialfis commented on #5304
That's correct.  In master branch and 1.0rc there should be a fatal error.

[2020-02-13 05:37] #5304 closed

[2020-02-13 05:37] #5299 closed

[2020-02-13 18:25] thvasilo commented on #5301
I think I may have seen this issue in one of the CPU algorithms (most probably approx) when I was creating libsvm files by hand to test out stuff.

The libsvm format assumes that features are order as well or is that only in XGBoost?

[2020-02-13 21:34] RAMitchell commented on #5301
The libsvm format checker does seem to indicate that features should be ordered, see at the end of this readme: https://github.com/cjlin1/libsvm/tree/master/tools

I think we can do the validation directly in dmlc parser.

[2020-02-14 01:08] hcho3 commented on #5253
It looks like all blockers are resolved. I will push out 1.0 release by end of this week.

[2020-02-14 01:40] RAMitchell commented on #5096
As of #5251, I think this is resolved such that categorical feature values >16 do not get lost. We can reopen this discussion if there are any further issues with quantile cut points and categorical features.

[2020-02-14 01:40] #5096 closed

[2020-02-14 03:32] Seanspt opened #5307 "python model thread safety when used in pyspark"
We are using python to build models. In order to get the predictions of  billions of sample, we are using the pickle dumped model with pyspark.
We are aware that xgboost model is not thread safe. So in spark， we load the model each time for each partition as the following code
[code]
When we set the executor cores num to 4, there is 1 out of 10k chance that the prediction result would be different

[2020-02-14 05:07] trivialfis commented on #5298
How do you limit floating point precision in Python?

[2020-02-14 05:36] Bue-von-hon commented on #1715
it works for me thx

[2020-02-14 10:10] trivialfis commented on #5291
Both release and master branch have the fix.  Closing.

[2020-02-14 10:10] #5291 closed

[2020-02-14 11:35] hcho3 commented on #5253
RC2 is now available.

[2020-02-14 13:50] lutzvdb opened #5308 "Enable weighted sampling of features"
In our random forest models (using the R package "ranger") we frequently use weighted sampling of features (argument "split.select.weights", compare official documentation [here](https://cran.r-project.org/web/packages/ranger/ranger.pdf) ). I would like to apply the same logic to xgboost trees, as in my usecase I frequently know which variables play a more important role for a certain forecast per

[2020-02-14 15:19] victornoel opened #5309 "XGBoost setup.py refers to sklearn instead of scikit-learn"
According to the pypi page of sklearn, one should use the name `scikit-learn` to depend on it.

See https://pypi.org/project/sklearn/

[2020-02-14 19:00] trivialfis commented on #5309
Just out of curious, how do I test installing extra packages locally?

[2020-02-14 19:09] victornoel commented on #5309
@trivialfis I think you can do something like `pip install /path/to/xgboost/python-package[sklearn]`

[2020-02-14 19:09] victornoel commented on #5309
@trivialfis or maybe you need to be inside the directory and do `pip install .[sklearn]`, I'm not sure

[2020-02-14 19:30] shreyashankar commented on #5054
I also have this issue: `SparkStatementException: java.lang.IllegalArgumentException: xgbr_3bdc3f1bb5cf parameter objective given invalid value survival:cox`

[2020-02-14 21:30] trivialfis commented on #5276
Should be fixed.  Feel free to reopen if there are other related issues.  Sorry for the inconvenience.

[2020-02-14 21:30] #5276 closed

[2020-02-14 21:30] #5200 closed

[2020-02-14 21:33] #5235 closed

[2020-02-14 21:47] trivialfis commented on #4482
Done.

[2020-02-14 21:47] #4482 closed

[2020-02-14 21:52] #4072 closed

[2020-02-14 21:52] trivialfis commented on #4072
JSON is merged as experimental feature.

[2020-02-14 21:58] #5252 closed

[2020-02-14 23:12] #5309 closed

[2020-02-15 01:45] hcho3 commented on #5042
XGBoost already offers option `scale_pos_weight` which lets you assign higher weight to the minority class. The loss function takes account of data weights. What are benefits of sampling with different fraction as supposed to assigning different data weights?

[2020-02-15 01:48] hcho3 commented on #5308
Related: https://github.com/dmlc/xgboost/issues/3754, https://github.com/dmlc/xgboost/issues/4230

[2020-02-15 21:16] ssoftcheck commented on #5054
Hey I think this may be the solution,
Try editing LearningTaskParams.scala
And add "survival:cox" to supportedObjective and "cox-nloglik" to supportedEvalMetrics

Then rebuild the jar

[2020-02-16 10:45] liufuyang commented on #3351
Is this Rust API still maintained? Also there is no official document on https://xgboost.readthedocs.io/ to show how to use it in Rust.

[2020-02-16 13:44] sh1ng opened #5313 "Saving pkl model changes default encoding"
xgboost 1.0.0rc2

[code]

[code]

I'm not quite sure, but could it be related to dmlc-core and changing locale?

[2020-02-16 20:33] 1ps0 commented on #1715
For me, this combination worked:
[code]
The primary conflict came from the `brew` `libiomp` but then later conflicts with the `conda` `base` env and my `python 3.7` env over `openmp` sent me in circles until i sorted out the dependency chain/fallback. The channel source distinction made a huge difference.

[2020-02-17 03:31] #5313 closed

[2020-02-17 10:01] sh1ng commented on #5313
Thanks

[2020-02-17 10:03] sh1ng commented on #5313
@trivialfis are you also going to merge it into `release_1` branch?

[2020-02-17 11:51] akdnfbf opened #5317 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 12:10] #5317 closed

[2020-02-17 12:11] trivialfis commented on #5313
It's merged there.

[2020-02-17 12:30] j4m3sb0nd007 commented on #1715
It works for me too

[2020-02-17 13:56] akdnfbf opened #5318 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 19:30] heken375 opened #5320 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-18 02:37] hcho3 commented on #5253
As promised, I will now commence my work on 1.0.0 release. Mainly, I will need to review 311 commits that have been made since 0.90 and summarize what they are about.

[2020-02-18 18:18] kavvkon opened #5323 "Patsy dmatrices compatibility"
Generating a dataframe with features generated by dmatrices may include unallowed characters that result to ValueError.

MRE modified from [patsy documentation](https://patsy.readthedocs.io/en/latest/quickstart.html)

[code]
This results to :
[code]
What is the real reason that these characters are not allowed ? It is not the case with the rest of scikit-learn compat packages

[2020-02-18 18:39] trivialfis commented on #5323
I guess it's because the current implementation parses a Scikit Learn compatible model dump to plot the importance or export the model as a dataframe, and that format uses these characters.  We can change it to JSON to remove the limitation.

[2020-02-18 22:11] RAMitchell commented on #4986
@PhilippPro any update on this? Here is what I propose: rerun with 500 rounds and a couple of regression datasets. Confirm run-time is acceptable. Set these as the default parameters, create a documentation page on parameter tuning with a few notes on methodology, how you arrived at these and linking to your paper.

[2020-02-19 02:58] hcho3 commented on #5253
@trivialfis @RAMitchell It would help me tremendously if you can write one or a few paragraphs about some "highlights" of your work. For example: cleaning up configuration and serialization. Dask integration. I want to make sure that I am not leaving out anything substantial :)

[2020-02-19 14:33] PhilippPro commented on #4986
I have not forgotten it, but I currently do not have a lot of time. I can only rerun it on the existing datasets, as I have the data for this, but this is not a problem. Your proposition is good, I will follow it, thanks.

[2020-02-19 17:35] JohnZed commented on #5253
a couple of highlights:

* New, native Dask interface for multi-GPU and multi-node scaling
* ~20% improved multi-GPU training performance with dask (see: https://github.com/dmlc/xgboost/pull/4951)

* First-class xgboost support for cuDF DataFrames and cuPy arrays
* Serialize models to JSON
* Complete model serialisation via pickle
* Interaction constraints with GPU training (https://xgboost.readth

[2020-02-19 19:09] hcho3 commented on #5253
@JohnZed Wow, thanks so much!

[2020-02-19 19:55] trivialfis commented on #5253
Updated.

[2020-02-19 20:01] trivialfis commented on #5307
The prediction function is not thread safe right now,  closing as duplicated with #4841 .

[2020-02-19 20:01] #5307 closed

[2020-02-19 20:03] #5289 closed

[2020-02-20 05:30] hcho3 commented on #3946
Can this be closed, now that #5082 is merged?

[2020-02-20 05:51] hcho3 commented on #5253
1.0.0 release is now out. I'm about to finish up the full release note for 1.0.0, but for now I am uploading Python wheels first.

[2020-02-20 05:51] #5253 closed

[2020-02-20 05:52] hcho3 commented on #4680
1.0.0 is now out:
[code]

[2020-02-20 05:52] #4680 closed

[2020-02-20 06:02] trivialfis commented on #5253
Great!  Let me know I can look into the release note.  Quiet a bit of change this time

[2020-02-20 06:46] ankane commented on #5253
Ruby gem is out and Homebrew PR submitted https://github.com/Homebrew/homebrew-core/pull/50467

[2020-02-20 12:01] nyanp opened #5328 "Failed to import xgboost in Python3.5"
From xgboost 1.0.0, importing xgboost in Python 3.5 causes an error because of f-strings that is not supported in 3.5.

[code]

- xgboost version: 1.0.0 installed from pip
- environment: ubuntu-latest in GitHub CI ([link to my CI result](https://github.com/nyanp/nyaggle/runs/457601501))

Is Python3.5 no longer supported from 1.0.0?

[2020-02-20 12:09] hcho3 commented on #5328
F-string should not have been in there. We will patch it.

[2020-02-20 13:05] hcho3 commented on #5328
#5330 should fix the issue.

[2020-02-20 13:07] nyanp commented on #5328
Thanks for your quick response :)

[2020-02-20 14:48] fabiorangel opened #5331 "setup.py problem at version 1.0"
[code]

[2020-02-20 15:08] trivialfis commented on #5331
@fabiorangel You need CMake to build XGBoost.

[2020-02-20 20:49] Denisevi4 commented on #5298
It's a problem of model dump. It needs to print those values in the scientific format and with higher precision.

Same thing applies not only to the feature values, but also to the leaf weights.

[2020-02-20 20:54] Denisevi4 commented on #5298
166.6667 < 166.666702

Should be a yes node. Or am I missing something?

[2020-02-21 01:59] fabiorangel commented on #5331
Sorry the lack of information, but something changed from past version to this one. This error is from a command:

`pip install -r requirements.txt`

As the file did not provide the xgboost version, it started to deploy at version 1.0, which is getting this error. Before today's update, my deploy is getting this error and I needed to provide version 0.9 in the requirements.txt.

Thank you for your

[2020-02-21 03:35] mrm8488 opened #5333 "Create an interactive Colab Notebook"
I would like to contribute to this project making some Colab Notebooks showing the algorithm in action. I have seen you have a ```demo``` folder with some examples but some of them look like old ones. Any recommendation in that folder or another that could be a good starting point to bring XGBOOT to people with an example?
Thanks

[2020-02-21 04:44] trivialfis commented on #5333
Please use the demo and provide a link in doc/tutorial.  If you think some demos are out dated feel free to replace/remove them in a seperated PR.  :-)

[2020-02-21 04:54] trivialfis commented on #5331
I don't think anything has changed in that regard.  Just the binary wheel is not available yet?

[2020-02-21 06:08] hcho3 commented on #5331
It looks like the OP is using another OS. Currently we provide binary wheels for Linux and Windows only.

[2020-02-21 07:11] trivialfis commented on #5298
Floating point printing is a very tricky thing, it has round off:
[code]

[2020-02-21 08:14] #5331 closed

[2020-02-21 13:41] trivialfis commented on #5029
The DMatrix object can now be freed up without first deleting the booster, this should be mitigated.  Closing.

[2020-02-21 13:41] #5029 closed

[2020-02-21 13:43] trivialfis commented on #4843
For anyone who encounter this issue, it's mitigated and expected to be part of 1.1.

[2020-02-21 17:17] hcho3 commented on #5328
I just released 1.0.1, which is identical to 1.0.0 except that 1.0.1 actually supports Python 3.5.

[2020-02-21 17:17] #5328 closed

[2020-02-21 18:09] trivialfis commented on #5328
Score one for semantic versioning.

[2020-02-21 18:16] rongou commented on #4093
@CodingCat Is this still an issue? As part of my work on gpu external memory support, I tested `hist` on the Higgs dataset and got identical AUC metrics. The external memory version is actually slightly faster.

|Mode|Time(seconds)|AUC|
|---|---:|---:|
|`hist`|1309.64|0.8393|
|`hist` external memory|1228.53|0.8393|

[2020-02-21 18:20] CodingCat commented on #4093
I didn’t test it for a while...last time what I saw is the metrics stays
the same since the first few iteration

Maybe it has been fixed in some changes regarding dmatrix, etc.

On Fri, Feb 21, 2020 at 10:16 AM Rong Ou <notifications@github.com> wrote:

[2020-02-21 18:36] hcho3 opened #5337 "[Roadmap] 1.1.0 Roadmap"
@dmlc/xgboost-committer please add your items here by editing this post. Let's ensure that

* Each item has to be associated with a ticket
* Major design/refactoring are associated with a RFC before committing the code
* Blocking issue must be marked as blocking
* Breaking change must be marked as breaking

For other contributors who have no permission to edit the post, please comment here about w

[2020-02-21 18:55] hcho3 commented on #5337
Proposal: this time, let us not wait too long until the next release.

[2020-02-21 19:03] hcho3 opened #5338 "When to drop Python 3.5"
Python 3.5 is reaching its end-of-life on September this year. I'd like to start a discussion to decide when we should stop supporting Python 3.5.

Personally, I would really love to use f-strings to format strings, and f-string is only available in Python 3.6+.

[2020-02-21 19:06] hcho3 commented on #5337
@JohnZed @datametrician

[2020-02-21 19:12] kylejn27 opened #5339 "[Discussion] XGBoost Predict is not threadsafe"
I would like to start a formal discussion on potential fixes for the thread safety issue of the xgboost predict method. It is noted in a few places that the predict method is not thread safe [ [in this issue](https://github.com/dmlc/xgboost/issues/3371) and [in the Python API](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/core.py#L1349-L1366) and [in the C++ API](https://githu

[2020-02-21 19:14] kylejn27 commented on #5339
Just as a heads up, I'll be unresponsive for about a week but the others that I mentioned will be able to respond. I figured I'd kick off this discussion now though.

[2020-02-21 19:16] trivialfis commented on #5339
Personally I prefer changing the code in C++ to make it thread safe.  To provide some information about the subject, the problem is in our prediction cache.  If we can the this cache thread local then rest should be easy.

[2020-02-21 19:36] jborchma opened #5340 "Possible bug when supplying a list to eval_metric"
Hey XGBoost team,

I upgraded recently to the latest version 1.0.1 and stumbled upon a possible bug with a piece of code that was running fine with version 0.9. It seems that when one supplies a list of evaluation metrics to `eval_metrics`, the `fit`-method fails.

A minimal example would be

[code]

The error trace reads:

[code]

Also, just to confirm, this works perfectly fine:

[code]

Is this

[2020-02-21 20:05] trivialfis commented on #5340
Oh no ... It's a bug in training.

[2020-02-21 20:06] hcho3 commented on #5340
This is an interesting bug that only surfaces when `eval_metric` is a list. See #5341 for the fix.

[2020-02-21 20:11] jborchma commented on #5340
Wow, fast turnaround! Thanks for looking into this!

[2020-02-21 20:23] trivialfis commented on #5339
For discussion purpose, would you like to share some context about usage of thread safe prediction?

For example if you are using a thread management framework to handle incoming prediction queries, then there's no need for using a cache as once the prediction is done, the data is no longer useful for XGBoost.

But if you are doing incremental prediction, like first predict the first 4 trees then

[2020-02-21 20:23] hcho3 opened #5342 "[Roadmap] 1.0.2 patch release"
1.0.0 was a big release marking a milestone in the history of the XGBoost project. It is expected that some users will face issues as they upgrade from 0.90 to 1.0.0. After a week or so, I'd like to create a patch release that fixes a few urgent bugs.

Criteria for inclusion:
* The patch should fix an issue that was newly introduced in 1.0.0. Outstanding bugs that were present in 0.90 will not qua

[2020-02-21 21:00] hcho3 opened #5343 "Improve code coverage computation"
Code coverage is the metric that shows how much of the code base is covered by unit and integration tests. Current code coverage setup only covers CPU code and only triggers intermittently.

[2020-02-22 00:14] RAMitchell commented on #5339
We will absolutely support contributions to fix this problem. Let us know what you propose in c++ layer and we can help work out a solution.

[2020-02-22 00:21] markusmaresch opened #5344 "xgboost 1.0.1 cpu-parallel execution: run ok, but DEBUG FAILS (PyCharm, LiClipse)"

[2020-02-22 00:27] markusmaresch commented on #5344
Not sure if this is a bug, expected, or being worked on.
Debug does NOT work with parallel execution, while simply running DOES. Could be a PyCharm or PyDev issue. The 7-liner below demonstrates it. Run: fine; Debug: not
I can live with workarounds
Thanks !!

xgboost: 1.0.1
PyCharm: Community 2019.3.3
LiClipse: <older version>
macOS: 10.15.3
RUN: works fine
DEBUG: errors (PyCharm)
       File "/Us

[2020-02-22 03:20] leedrake5 opened #5345 "Model produced in 1.0.0 cannot be loaded into 0.90"
Following the instructions here: https://xgboost.readthedocs.io/en/latest/R-package/xgboostPresentation.html

[code]

It also fails on R 3.6.2 with the same error.

Note: I would much prefer to use the CRAN version. But models I train on linux and Mac and save using the saveRDS function don't predict on another system (windows), they just produce numeric(0). If anyone has any guidelines on how to

[2020-02-22 03:28] hcho3 commented on #5345
Did you try install.packages(‘xgboost’) ?

[2020-02-22 03:58] leedrake5 commented on #5345
That works just fine, but then all predictions from saved models (using saveRDS) produce numeric(0). It seems that models trained using openMP don't work on computers without that framework. My hope was that compiling from source would resolve this.

[2020-02-22 05:21] hcho3 commented on #5345
This is how you compile XGBoost from the source:

[code]

Can you share the model file so that we can try to find why you are getting a 0 for prediction?

[2020-02-22 05:46] leedrake5 commented on #5345
Thanks - do you want the R object or would you prefer it converted via xgb.save.raw?

[2020-02-22 06:02] hcho3 commented on #5345
Both

[2020-02-22 06:20] leedrake5 commented on #5345
Thank you for your help and support (and with making such an extraordinary learning program).

Attached is a zipped .rdata file. On 3 systems (Mac, MacBook, Ubuntu), I can run the following code:

[code]
And get the following output:

[code]

On system 4 (windows base R with xgboost installed from CRAN) I get very different outcomes:

[code]

I suspect this may need a new issue opened, but I appre

[2020-02-22 06:54] trivialfis commented on #5344
It's not expected.  Honestly I have never encountered bad file descriptor in Python.

[2020-02-22 07:15] trivialfis commented on #5345
Probably due to our dmlc guard over omp exception?

[2020-02-22 07:33] trivialfis commented on #5339
@RAMitchell Actually I spent 10 minutes or so hacked together a thread safe CPU prediction.  GPU Prediction should not to any more difficult.

[2020-02-22 07:44] trivialfis commented on #4357
External memory support for GPU and gradient based sampling is available!  Thanks to @rongou

[2020-02-22 07:44] #4357 closed

[2020-02-22 08:19] hcho3 commented on #5345
@leedrake5 Does your machine not support OpenMP?

[2020-02-22 08:47] trivialfis commented on #5345
@hcho3 Did you find the cause?  I just compile XGBoost without OpenMP (with some patches to CMakeLists), external memory tests are failing as expected, also hist parallel group test is failing (which I fixed in local branch).  But so far I can get perfect prediction values.

[2020-02-22 09:08] trivialfis commented on #5344
I don't have access to PyCharm.  If anyone here does please help taking a look.  This seems weird as XGBoost doesn't use any Python file descriptor in above example.

[2020-02-22 11:02] #5340 closed

[2020-02-22 13:48] markusmaresch commented on #5344
I am adding the full trace of the PyCharm session. Suspecting it is something with backend LokyBackend !!
[xgb_101_debug_issue.txt](https://github.com/dmlc/xgboost/files/4239416/xgb_101_debug_issue.txt)

[2020-02-22 13:49] markusmaresch commented on #5344
Pure pdb is also fine: python -m pdb xgb_101_debug_issue.py  ... works as in RUN

[2020-02-22 14:08] markusmaresch commented on #5344
Suggesting to close. Really is this problem: https://youtrack.jetbrains.com/issue/PY-36882

[2020-02-22 14:16] trivialfis commented on #5344
Great! You found the issue!

[2020-02-22 14:16] #5344 closed

[2020-02-22 15:17] sandys opened #5347 "Migrating from dask-ml to xgboost.dask"
hi guys,
we are planning to migrate from dask-ml's xgboost interface to xgboost.dask.

We **extensively** use Scikit pipelines and Gridsearchcv. dask-ml's internal datastructures dont support this and throw an error.
a trivial example that gives an error in dask-ml is

[code]

we are unable to get this to run in xgboost.dask . Could someone help out on the right example here ?
I'm particularly tal

[2020-02-22 15:31] trivialfis commented on #5347
Yup.  Working with dask ml is one of the priority for XGBoost s dask interface.  Thanks for rasing the issue here.  I will look into it.

[2020-02-22 15:42] sandys commented on #5143
@JohnZed does it make sense for your issue filed on dask-ml to be incorporated here as well ? considering the new xgboost.dask interface.

https://github.com/dask/dask-ml/issues/605

[2020-02-22 16:17] trivialfis commented on #5347
Some notes for the future:

- It seems dask ml doesn't support dask dataframe or at least treat it specially: https://github.com/dask/dask-ml/blob/4c52e2d23575470c383cb208f650eb59913283fa/dask_ml/model_selection/utils.py#L87
- When using `da.from_array`, the data passed to XGBoost is a numpy array instead of a dask array.

[2020-02-22 16:44] sandys commented on #5347
I have a currently open bug tracking this issue

https://github.com/dask/dask-ml/issues/521

On Sat, 22 Feb, 2020, 21:47 Jiaming Yuan, <notifications@github.com> wrote:

[2020-02-22 16:58] leedrake5 commented on #5345
@hcho3 My machine supports openmp. But we are deploying these models on an industrial scale, and lots of the computers at specific sites don't have openmp. We just discovered this after 6 months of prep and one week till implementation, so we are scrambling to figure out why the models work on some computers and not others.

[2020-02-22 20:09] trivialfis commented on #5345
@leedrake5 It's a bug.  I tried to reproduce it on Ubuntu with openmp disabled but so far no luck.

[2020-02-22 20:14] leedrake5 commented on #5345
@trivialfs If it helps, I and most my colleagues experiencing the bug on windows. Though a colleague of mine was able to reproduce it on ubuntu without openmp.

[2020-02-22 20:26] trivialfis commented on #5345
@leedrake5 If there's a way to reproduce it on Linux distributions it would be of great help!

I disabled all options including google test, omp ...  But still have the correct result loading your models.  The installation of R is the default distribution from `apt`, I don't think it has anything to do with XGBoost prediction.

[2020-02-22 20:45] trivialfis commented on #5345
It might not be caused by OpenMP.  As even the prediction goes really wrong there's still global bias, not 0.

The only reason I can think of is XGBoost is not actually being installed.

I tried both CMake build and autotools build.  This is my compilation flags reported by `install.packages(...)`:
[code]

[2020-02-22 21:13] leedrake5 commented on #5345
@trivialfis Even more curious, as XGBoost installs successfully from CRAN, and library(xgboost) works without any problem.

[2020-02-23 04:35] gorkemozkaya opened #5349 "Eval displays 'nan' with 'reg:gamma' objective and 'gblinear' booster"
I noticed the tree evals keep displaying 'nan's with  'reg:gamma' objective and 'gblinear' booster. The default eval metric for "reg:gamma" objective is "gamma-nloglik". Below is the notebook that can reproduce the issue:
https://github.com/gorkemozkaya/ds_debugging/blob/master/xgboost_gamma_regression.ipynb

[2020-02-23 05:00] sandys commented on #5347
@trivialfis could you clarify how do you see the long term evolution here - does xgboost.dask become the official interface or dask-ml ? we would prefer to follow the official xgboost stand here.

[2020-02-23 05:18] sandys commented on #4626
@hcho3 I would like to resurface this issue now - since 1.0 has been released.

xgboost has chosen to provide support to a readable format in JSON. This is a great thing, however it has chosen to go with a **proprietary JSON format** instead of something like ONNX.
https://xgboost.readthedocs.io/en/latest/tutorials/saving_model.html?highlight=json

I would like to highlight that ONNX has both Micr

[2020-02-23 05:40] sandys commented on #5339
i have an alternate suggestion - have you used the high performance onnxruntime ?
it is threadsafe by design on both CPU and GPU - https://github.com/microsoft/onnxruntime/issues/114

you can convert an xgboost model to ONNX  format officially here - https://github.com/onnx/onnxmltools/blob/master/tests/xgboost/test_xgboost_converters.py

[2020-02-23 06:22] trivialfis commented on #4626
I am aware of this onnx convertor, it's based on model dump which is a JSON format.   The JSON format is still a very good IR for transforming to other languages.

[2020-02-23 06:26] trivialfis commented on #4626
We chose JSON because it's easy to parse, hence easy to be reused.  The performance issue you mentioned exists also in onnx.  It's about fast round-trip floating point parsing and printing.  Having said that we definitely like more tools available.  So contribution are welcomed. :-)

[2020-02-23 06:31] trivialfis commented on #5339
Sure.  Onnx is a great format.  PRs are welcomed. :-)

[2020-02-23 06:46] trivialfis commented on #5347
The XGBoost interface will take over.  We will try to be compatible with other dask ml functionalities as much as possible, just like being compatible with scikit learn.

[2020-02-23 06:51] trivialfis commented on #5345
Is it possible that he/she can kindly share how to reproduce?

[2020-02-23 06:52] sandys commented on #5347
Acknowledged and thanks for this.

We will then move to the Dask interface.

Is the Xgboost.dask interface already compatible with scikit ? We have not
been able to make it work with gridsearchcv in a distributed way.

On Sun, 23 Feb, 2020, 12:16 Jiaming Yuan, <notifications@github.com> wrote:

[2020-02-23 06:56] trivialfis commented on #5347
Sorry for the ambiguity, when I said scikit learn I meant single node training.  For distributed interface we will target dask-ml.

[2020-02-23 07:01] sandys commented on #5347
Hi
Bit confused here - I'm specifically asking in context of Dask
interoperability.

Whether I am running Dask on one machine vs hundred shouldn't make a
difference right ?

We would like to use the same code for single machine (for e.g. my laptop
which has a single Dask node) and production (which has hundred Dask nodes)

It will be unproductive/error prone to use different libraries for
differen

[2020-02-23 07:42] trivialfis commented on #5347
Yup.  The dask interface should be compatible with dask ml.

[2020-02-23 07:48] sandys commented on #5347
Apologise for asking again - will the Xgboost.dask interface support both
single machine Dask and distributed Dask training usecases ?

Because dask-ml does that (minus a few bugs).

The goal is to either use xgboost.dask or dask-ml.
It will not be viable to use both.

On Sun, 23 Feb, 2020, 13:12 Jiaming Yuan, <notifications@github.com> wrote:

[2020-02-23 08:03] sandys commented on #4626
Thanks for replying.

Sorry for asking - will you guys be switching to ONNX to be a superior long
term investment instead of pickle for example  ?

You will be able to leverage a far larger ecosystem with a lot of resources
and tooling.

Pickle is production ready, but has compatibility issues with versions,etc.
JSON will take time to mature. ONNX will allow deployment either locally or
on cloud s

[2020-02-23 08:09] hcho3 commented on #4626
We are already deprecating the use of pickle in favor of JSON serialization. We developed an in-house JSON format because we wanted to be able to **save a “complete snapshot” of XGBoost objects**. ONNX only saves the trees so is not a substitute for this use case.

[2020-02-23 08:12] arrayslayer commented on #5210
Hi,
Maybe you could just do-
Xgb.fit(pd.DataFrame(trax,columns=colum _names),tray)

I think the level of convenience would be similar since you do have to provide the list of column names anyway.

[2020-02-23 08:14] hcho3 commented on #4626
See https://github.com/dmlc/xgboost/issues/4855 to understand the distinction between model and snapshot. Snapshot captures all details of internal objects, including training hyperparameters.

[2020-02-23 08:30] trivialfis commented on #5347
@sandys

There are two different components in `dask-ml`.  First is the `Scikit-Learn` basic functionality and its interface, like grid search.  And then the second part is library specific wrappers like wrapper for XGBoost.

The XGBoost dask interface is taking over from the original XGBoost wrapper in `dask-ml` (the second component).

Yes.  As long as a feature is supported by dask-ml, we strid

[2020-02-23 08:32] trivialfis commented on #5347
Hope that helps.

[2020-02-23 08:51] trivialfis commented on #4626
The question is whether should we have native support for onnx I think.  Here is my two cents.  If we were to support onnx, it should be based on existing JSON serialization.  So there's no “switch” , only adding a new “backend layer”.

[2020-02-23 08:54] trivialfis commented on #4626
If you don't mind writing C++, you can directly use to in memory JSON object to export the model to onnx without parsing/generating again.

[2020-02-23 09:03] sandys commented on #5347
Understood. So if we want to use the gridsearchcv and scikit functionality,
we have to use via dask-ml.

Has the new interface already been patched into dask-ml ?

On Sun, 23 Feb, 2020, 14:02 Jiaming Yuan, <notifications@github.com> wrote:

[2020-02-23 13:23] bethunebtj commented on #4552
Meet the same problem. Either change to multi class ,or remove num_classes can work around. Agree with @RAMitchell ,the document should mention about this.

[2020-02-23 17:34] trivialfis opened #5351 "Issues in predicting on ellpack."
We implemented predicting on ellpack for reducing memory usage.  But after some more testing, I found the implementation is not thoroughly considered.  Here are a few more cases we need to put more thoughts on:

- What if the user change tree method but use the same DMatrix?
- What if the user train for another round but at the second round they put the training DMatrix as a validation DMatrix?

@

[2020-02-23 17:57] leedrake5 commented on #5345
Not sure they know enough about how linux systems work - but if you know of any diagnostics they can provide let me know.

For my part, I am trying to create a virtual box ubuntu installation that can replicate the problem - if successful I will send a download link for that.

[2020-02-23 18:09] trivialfis commented on #5351
The proper solution should be waiting for the new DMatrix interface, so that we only use ellpack prediction when there's no `SparsePage`.

[2020-02-23 20:03] leedrake5 commented on #5345
I've successfully reproduced the issue on linux - see attached screenshot.

I am uploading the virtual box to dropbox. But in case you'd prefer to install from scratch, instructions to replicate are as follows:

1. Download and install virtualbox
2. Download a build of ubuntu bionic beaver (I used ubuntu-18.04.3-desktop-amd64).
3. Configure for R 3.6.2 by the following:

[code]
4. install packages

[2020-02-24 00:32] leedrake5 commented on #5345
Link to 7z compressed virtual instance is here: https://www.dropbox.com/s/ld06zz798m0segf/UbuntuDebug.7z?dl=0

[2020-02-24 05:20] trivialfis commented on #5345
Let me get virtual box first.  I usually use KVM.

[2020-02-24 09:48] trivialfis commented on #5339
Will wait until DMatrix refactoring is done.  I had an experimental implementation for in-place prediction, which is thread safe.

[2020-02-24 11:10] GuidoBartoli opened #5353 "[v1.0.0] TypeError: list indices must be integers or slices, not str"
Hi,
We are using **XGBoost 0.9** with a custom script that load datasets from HDF5 and train or test an XGBClassifier with the ability to tune parameters and evaluate results. We are using it in production and we did not have any issue until now.
When we upgraded to **v1.0.0**, the same script gives this error when `fit()` function is called:

[code]

It seems that the error is raised by XGBoost w

[2020-02-24 12:11] trivialfis commented on #5353
Yes.  It's fixed in 1.0.2 pending as a patch release: https://github.com/dmlc/xgboost/issues/5342

[2020-02-24 12:11] #5353 closed

[2020-02-24 13:54] mmccarty commented on #5339
@trivialfis Thank you for the quick replies. We would be happy to contribute to a solution once a clear path forward is determined. Here is a minimum example to reproduce the problem that will hopefully provide context.

[code]

[2020-02-24 15:03] blenzus opened #5354 "function 'XGBoosterSaveJsonConfig' not found"
Upgraded XGBoost from latest version to 1.0.0 and then 1.0.1.
Config : Win10 + Anaconda

Running the below command produces the error :
`xgb.fit(X,y)` :

[2020-02-24 15:36] simonefrancia opened #5355 "Trying to convert a sklearn.multioutput.MultiOutputRegressor for xgboost 1.0.0"
Hi,
we saw that xgboost was updated at 1.0.0.
We have developed one model from version 0.9.0 that we would like to convert in order to be compatible with 1.0.0. We tried to use this script
https://github.com/dmlc/xgboost/blob/master/doc/python/convert_090to100.py
but it doesn't work , because our train was done with `sklearn.multioutput.MultiOutputRegressor` that wraps the original `xgboost.XGBReg

[2020-02-24 16:34] slarge1 opened #5356 "Can no longer load a model from a memory buffer."
I have just upgraded my xgboost package from 0.90 to 1.0.1. I noticed I can no longer load a model from a memory buffer despite the Booster.load_model() parameters suggesting I can. Please can this be looked into?

[2020-02-25 00:32] #5297 closed

[2020-02-25 02:12] songzhiyong opened #5357 "ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed at ml.dmlc.xgboost4j.scala.spark.XGBoost$.ml$dmlc$xgboost4j$scala$spark$XGBoost$$postTrackerReturnProcessing(XGBoost.scala:582)"
It works if I select from hive table, but when i save the data in another script with
`
df.write.format('parquet').save('xxx/test.parquet', mode='overwrite')
`
and then
`
df = spark.read.parquet("xxx/test.parquet")
`
it failed.
xgboost4j-spark-0.90.jar
xgboost4j-0.90.jar

[code]

[2020-02-25 10:47] #5354 closed

[2020-02-25 14:17] manikanthr5 opened #5359 "Retraining xgboost model with different loss function"
## Context:
Let us define 2 loss functions (taken from [this page](https://github.com/dmlc/xgboost/blob/master/demo/guide-python/custom_rmsle.py)):

XGBoost Version: 0.90
Python Version: 3.5.2
Number of epochs: 50

### Loss Function 1

[code]

### Loss Function 2
[code]

**Note**: Let's assume dtrain and dtest are defined.

## Problem:
The procedure I would like to follow to train a XGBoost model

[2020-02-25 15:44] trivialfis commented on #5355
@simonefrancia Did you save it in pickle?

[2020-02-25 15:51] trivialfis commented on #5359
Technically yes.  But the objective defines the gradient (and global bias sometimes), so when you change the objective you are training on a different scale (or even different space) of gradient.

[2020-02-25 15:54] #5359 closed

[2020-02-25 17:07] simonefrancia commented on #5355
Yes @trivialfis , the file is pickle but I used joblib.

```joblib.dump(multioutputregressor, MODEL_PATH) ```

[2020-02-25 17:07] simonefrancia commented on #5355
Yes @trivialfis , the file is pickle but I used joblib.

```joblib.dump(multioutputregressor, MODEL_PATH) ```

[2020-02-25 17:22] brydag opened #5362 "ValueError: underlying buffer has been detached"
Hello
I have the issue as below:

xgboost\compat.py", line 101, in <module>
    if sys.__stdin__ is not None and sys.__stdin__.closed:
ValueError: underlying buffer has been detached

Python version 3.7.4
Anaconda3
xgboot 1.0.1

[2020-02-25 17:22] brydag opened #5363 "ValueError: underlying buffer has been detached"
Hello

Please help as soon as possible. I have the issue as below:

xgboost\compat.py", line 101, in <module>
    if sys.__stdin__ is not None and sys.__stdin__.closed:
ValueError: underlying buffer has been detached

Python version 3.7.4
Anaconda3 conda 4.8.2
xgboot 1.0.1
Windows Server2012R2

Packages are in conda virtual environment

[2020-02-25 17:36] trivialfis commented on #5355
I'm not sure how to restore that wrapper.  It's part of sciki learn not XGBoost. I think even for scikit learn loading a pickle from different version is not supported?  https://scikit-learn.org/stable/modules/model_persistence.html

[2020-02-25 17:40] trivialfis commented on #5355
That conversation script only handles model defined in XGBoost, external wrappers are quite out of our scope.  My suggestion is save each XGBoost model in native model file by calling `save_model`.  We recommended using pickle for a while then we realized there's no way we can restore the Python bytecode.

[2020-02-25 17:55] #5362 closed

[2020-02-25 19:19] PhilippPro commented on #4986
@RAMitchell I got some results now which are not really stunning. ;)

I created a blog post, where I describe the results:
[New xgboost defaults](http://philipppro.github.io/xgboost_defaults/)

Currently I am repeating the 5-fold CV to get more stable results and will update the results in the blog post tomorrow. Future work (as described in the blog post) will be a bit more interesting.

[2020-02-25 20:32] RAMitchell commented on #5359
If you are trying to chain training from different models a good way is to train the first as a separate model, then output predictions as margin, create a new DMatrix on the same data initialising with the margin vector and then train a second model with this DMatrix as input.

[2020-02-25 20:48] RAMitchell commented on #4986
Awesome work thanks! I think there is moderate evidence for changing the default parameters settings. Shall we re-evaluate once you have results from CatBoost/LightGBM?

Note that we are mostly focusing new development on "tree_method":"hist" and"tree_method":"gpu_hist" which exposes the "grow_policy":"lossguide"/"depthwise" parameter. One of these growth policies might be definitively better on y

[2020-02-25 21:34] brydag commented on #5363
Your fix its work perfectly. Thank you very much.

[2020-02-26 03:30] #5356 closed

[2020-02-26 04:02] #4237 closed

[2020-02-26 06:23] #5363 closed

[2020-02-26 07:07] haenphe opened #5367 "training error bigger than testing (validation) error"
I'm building a XGBRegressor() model to do time series forecasting with 96 rows of data. But after i tuned my model with grid search, i rarely have the testing error exceed the training error. The evaluation metric i use is RMSE. Can anyone tell me what i did wrong with my model and what should i do?

This is my code
[code]

[2020-02-26 07:23] manikanthr5 commented on #5359
Ok

How should I do this? Is there any article or issue related to this. Thank you.

[2020-02-26 07:57] PhilippPro commented on #4986
Yes, that's fine. The results I got today (with 10 times repeated 5-fold CV) were slightly better for my defaults (75% better in case of Spearman's Rho), I updated the post.

I will be happy to evaluate your new parameters once they are readily implemented in the package.

I think Catboost will be better in the default mode, but I will see the results soon.

[2020-02-26 19:29] thvasilo commented on #4986
@RAMitchell how do you feel about the switch to a `max_depth` of 11 which the blog post suggests? Wouldn't that risk very large memory consumption? Would overfitting be an issue or is that taken care of early stopping/loss guide?

[2020-02-27 05:30] jyk4100 opened #5370 "[jvm-packages] rabit tracker error "Socket Poll Error:WSAError-code=10022""
Hi ,

I am trying to use xgboost4j-spark on local machine before testing on cluster. I keep getting into issues

**settings**
- spark-shell (spark-2.4.5-bin-hadoop2.6)
- xgboost4j-0.90-criteo-20190702_2.11-win64.jar
- xgboost4j-spark-0.90-criteo-20190702_2.11.jar
- akka-actor_2.11-2.3.11.jar
- config-1.2.1.jar

**example (iris data)**
[code]
**error message**
INFO] [02/27/2020 00:15:49.458] [Rabit

[2020-02-27 06:19] hcho3 commented on #5345
Looking at this now.

[2020-02-27 07:19] hcho3 commented on #5345
@leedrake5 I managed to reproduce the issue on the virtual machine you provided. It appears that there is an issue with `saveRDS` and `xgb.save.raw`. Did you try using `xgb.save` and `xgb.load` instead?

[2020-02-27 08:30] trivialfis commented on #5367
Probably nothing is wrong.

[2020-02-27 08:34] trivialfis commented on #5345
The save raw should not be a problem.  The problem might be in how R serialize the R code.  We added a new optional parameter to predict, which might affect loading these kinds of serialization.  I tried looking into it but seems really quirky, just like the problem with Python pickle.

[2020-02-27 10:44] PhilippPro commented on #4986
I looked at the graph again and thought a bit about the results. In the section with low R-squared the default of xgboost performs much worse. These are datasets that are hard to fit and few things can be learned. The higher eta (eta=0.1) leads to too much overfitting compared to my defaults (eta=0.05). If you would set nrounds lower than 500 the effect would be smaller. You could leave eta=0.1 bu

[2020-02-27 16:57] ingo-m opened #5372 "[DOC] Tutorial: wrong order of arguments in custom objective function?"
In the tutorial on [Custom Objective and Evaluation Metric](https://xgboost.readthedocs.io/en/latest/tutorials/custom_metric_obj.html#customized-objective-function), the following custom objective function is provided as an example:

[code]

However, in the [documentation](https://xgboost.readthedocs.io/en/latest/python/python_api.html#module-xgboost.sklearn), it reads:

This makes me think that i

[2020-02-27 17:45] leedrake5 commented on #5345
@trivialfis any ideas on options in the predict function that could potentially circumvent this? My thought is that it has something to do with CPU instructions, possibly deeper in R than can be addressed by the package.

@hcho3 I will try adding xgb.save.raw to the current data pipe and see if that helps. Though in the example I sent, I did try this by using xgb.save.raw on the computer where pre

[2020-02-27 18:02] hcho3 commented on #5345
No, I meant `xgb.save`, not `xgb.save.raw`.

[2020-02-27 18:03] hcho3 commented on #5345
@trivialfis Note that the XGBoost package is still 0.90 on CRAN.

[2020-02-27 20:13] gromovadarya90 opened #5373 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-28 00:11] tsizzle opened #5374 "Not able to properly install/compile XGBoost for R with GPU support on RHEL"
Having great difficulty trying to install XGBoost for R with GPU support on RHEL 7.6.  I'm able run cmake

`# cmake .. -DUSE_CUDA=ON -DR_LIB=ON -DCUDA_TOOLKIT_ROOT_DIR=/usr/local/cuda-10.1 -DCMAKE_C_COMPILER=cuda-gcc -DCMAKE_CXX_COMPILER=cuda-g++`
[code]
[code]

[code]

I'm unable to run `make install` as the Makefile that was created doesn't contain a "install:" target

[code]

But maybe this isn

[2020-02-28 00:21] hcho3 commented on #5374
Where did you obtain the source? I suggest that you use git to checkout the source.

git clone --recursive https://github.com/dmlc/xgboost

[2020-02-28 02:04] tsizzle commented on #5374
I got the tarball file from CRAN:  [https://cran.r-project.org/src/contrib/xgboost_0.90.0.2.tar.gz](https://cran.r-project.org/src/contrib/xgboost_0.90.0.2.tar.gz)  Is that ok to use?

[2020-02-28 02:37] hcho3 commented on #5374
No, please use git if you’d like to enable GPU.

[2020-02-28 04:17] manikanthr5 opened #5375 "Error while defining Custom Loss and Metric"
ENV Specifications:

Python Version: 3.5.2
XGBoost Version: 0.9

---

I am trying to follow [this example](https://github.com/dmlc/xgboost/blob/master/demo/guide-python/custom_rmsle.py#L104) on creating a custom loss function.

[code]

But this throws `TypeError: only size-1 arrays can be converted to Python scalars` error while calling xgb.train function. Both dtrain.get_weight() and dtrain.get_l

[2020-02-28 06:23] trivialfis commented on #5375
Could you please provide a self contained script?

[2020-02-28 06:24] #5355 closed

[2020-02-28 06:47] manikanthr5 commented on #5375
Sorry, I couldn't create a gist file. So just adding the code here.

[code]

[2020-02-28 09:13] manikanthr5 commented on #5375
Resolved. The problem is that I'm sending the error for each example. But the wlogloss function should return sum(error).

[2020-02-28 09:13] #5375 closed

[2020-02-28 10:24] trivialfis commented on #5372
@ingo-m  Thanks, but both the doc and example are correct.  The demo is written with native interface while the doc you quote is using Scikit-Learn wrapper.  Yeah consistency ... I know ...  Marked as a to-do item in https://github.com/dmlc/xgboost/issues/5152 .

[2020-02-28 10:24] #5372 closed

[2020-02-28 10:26] trivialfis commented on #5367
Closing,  feel free to re-open if there's something more concrete we can work with.  If you are suspicious about the model, you can dump it out with `Booster.get_dump`.

[2020-02-28 10:26] #5367 closed

[2020-02-28 12:44] ingo-m commented on #5372
Ok, sorry for the false alarm & thanks for clarifying @trivialfis .

[2020-02-28 16:45] #5374 closed

[2020-02-28 16:56] tsizzle commented on #5374
The environment I'm working is closed and does not have network access to GitHub.  I can only install via downloading the tarball file and/or install from source. I'm somewhat new to this.  Could I download the latest xgboost-master.zip and install from the /R-package folder?

[2020-02-28 17:10] trivialfis commented on #5374
No, you can't.  The zip file provided by github doesn't include submodules.  I'm confused, if you don't have network access how do you download tar ball?

[2020-02-28 17:18] tsizzle commented on #5374
The RHEL target machine is completely closed off (internal network only).  I have to download the file onto a usb flash drive and manually copy it over.  Yes, it feels like the 1990s.  So are you saying the 0.90.02 tar ball file from CRAN is not usable at all for installing and compiling xgboost to work with GPU?

[2020-02-28 17:23] trivialfis commented on #5063
Somehow the number of pages is tied to number of threads: https://github.com/dmlc/dmlc-core/blob/552f7de748fbff34f2708b03f930a47ded45d78e/src/data/text_parser.h#L122

[2020-02-28 17:25] hcho3 commented on #5374
You can use git to obtain the source code and create a tarball.

tar cvjf xgboost.tar.bz2 xgboost/

[2020-02-28 17:29] trivialfis commented on #5374
I suggest cloning the 1.0.0 release.  There's a bug in GPU #5351 on master branch, but not in 1.0 release branch.

[2020-02-28 17:29] hcho3 commented on #5374
That’s correct. The source tarball uploaded to CRAN only contains CPU code. The reason is that CRAN requires support for multiple platforms, many of which does not support CUDA.

[2020-02-28 17:31] stephenpardy opened #5376 "Cannot incrementally train after pruning"
This bug is related to #5297. The fix in #5335 allows you to prune a model multiple times (thanks for that fix!), but you encounter the same bug when trying to add incremental trees. The setup is familiar from the old issue:
[code]

The error is:
[code]

Environment: Mac osx 10.15.3, installing XGBoost from source (commit 9a5efffebe9e527ca4dc27c281b06c221596f860).

[2020-02-28 17:49] tsizzle commented on #5374
Ok, thanks, I'll give it a try with the 1.0.0 release.  Once the tarball is created and copied to the RHEL target machine, I can run R and `install.packages([R-package src], repo=NULL, type="source")`?  Might you know where I can copy the proper **CMakeLists.txt** file for running `cmake .. -DUSE_CUDA=ON -DR_LIB=ON ` ?  Apologies in advance for being new to this.

[2020-02-28 18:07] hcho3 commented on #5374
CMakeLists.txt is located at the root of XGBoost git repo. Run
[code]

Do not use `install.packages`

[2020-02-28 21:22] tsizzle commented on #5374
I'm running into this error during cmake:
[code]

Is it trying to look for my LIB_CORE_LIBRARY path?  What path should that be?

[2020-02-28 22:00] tsizzle commented on #5374
Finally got cmake to run after tweaking the R-package/CMakeList.txt with `set(LIBR_CORE_LIBRARY /usr/R.3.6.2/lib64)`  had a bunch of warnings.  However `make install` failed.

[code]

Then when I run `make install `:

[code]

[2020-02-28 22:38] hcho3 commented on #5374
Did you check out XGBoost repo and then later switch to release_1.0.0 branch? It looks like you have a wrong version of Rabit module. Try running `git submodule update - -init - -recursive`

[2020-02-29 02:15] zl365 opened #5379 "subsampling for gblinear booster"
In the documentation, subsample is a parameter appears in the list of parameters for tree boosters only. Please also include subsampling for gblinear booster as well. Subsampling of training instances can be very useful for linear boosters, especially there are a large number of predictors.  It probably only need a small modification after the gradients are calculated.

I have tried to set the sub

[2020-02-29 09:58] trivialfis commented on #5342
@hcho3 I think we are good to go now?

[2020-02-29 20:22] SmirnovEgorRu commented on #5104
All PRs are merged, final results:

Dataset | higgs1m | Letters | Airline-ohe | MNIST | MSRank-30K | Mortgage
-- | -- | -- | -- | -- | -- | --
Before commit https://github.com/dmlc/xgboost/pull/5008, sec | 15.5 | 10.3 | 55.3 | 69.5 | 99.1 | 18.3
After commit https://github.com/dmlc/xgboost/pull/5008, sec | 123.5 | 144.6 | 133.2 | Inf | 332.2 | 53.4
Current Master, sec | 14.7 | 10.1 | 59.4 | 80.5 |

[2020-02-29 20:22] #5104 closed

[2020-03-02 03:29] hcho3 commented on #5342
Yes, I believe we can release a new patch release.

[2020-03-02 09:53] trivialfis commented on #5379
Subsampling is currently not supported by linear booster.

[2020-03-02 11:43] palVJ commented on #5042
These are my thoughts: As in any case with an imbalanced dataset, it is a problem to find the real differences between any classes if any of the classes are not sufficiently representative no matter what we set scale_pos_weight equal to. For a given tree in XGBoost, we must make sure that the minority classes are as representative as possible. However setting subsample = 1, thereby including all d

[2020-03-02 12:13] wanglyCs opened #5381 "Alpine runtime error with java8 library version 0.90"
Hi, I 'm trying to use dmlc xgboost version 0.90(load model from xgboost spark 0.90) and do some prediction work in alpine docker (v3.8), when I remove the model predict part, it works well. But when I added the xgboost model part, the program crashes with error
"Inconsistency detected by ld.so: dl-lookup.c: 111: check_match: Assertion `version-&gt;filename == NULL || ! _dl_name_match_p (version-&

[2020-03-02 15:37] TomAugspurger commented on #5347
In a quick test, I noticed that the `xgboost.XGBoostClassifer` doesn't yet work with dask arrays.

[code]

That's because `np.unique(dask.array.Array)` returns a Dask array with unknown (NaN) length, so `len` raises.

Typically, scikit-learn APIs accept classes as a keyword argument to `fit`, but the version in xgboost doesn't.

[code]

[2020-03-02 17:31] #5318 closed

[2020-03-02 17:32] paantya commented on #4668
wouldn't it be easier to implement the function as in pytorch?
Like:
`torch.cuda.empty_cache()`

[2020-03-02 17:38] paantya opened #5382 "GPU memory-leak"
wouldn't it be easier to implement the function as in pytorch?
Like:
torch.cuda.empty_cache()

https://github.com/dmlc/xgboost/issues/4668

[2020-03-02 20:01] trivialfis commented on #5347
Use `xgboost.dask` instead.

[2020-03-02 21:32] dkharazi opened #5383 "Fix simple typo: information.c -> information."
There is a small typo in python-package/xgboost/sklearn.py.
Should read `information.` rather than `information.c`.

[2020-03-02 22:08] samyip123 opened #5385 "problems with sklearn.py"
I have been using version 1.0, with sklearn 0.22.2, may i ask if the two versions are compatiable

  File "<ipython-input-30-ae85c7df0125>", line 2, in <module>
    XGBC.fit(X, y)

  File "<ipython-input-26-85a041408c2c>", line 63, in fit
    self.feature_importance = self.fitted_model.coef_

  File "/Users/.../anaconda3/lib/python3.7/site-packages/xgboost/sklearn.py", line 716, in coef_
    coef

[2020-03-02 23:21] hcho3 commented on #5385
A tree model wouldn’t have coefficients.

[2020-03-03 00:50] #5383 closed

[2020-03-03 00:50] #5385 closed

[2020-03-03 00:51] trivialfis commented on #4668
It wouldn't be easier, but that's an option.

[2020-03-03 00:52] trivialfis commented on #5382
Will keep the discussion in linked PR.

[2020-03-03 00:52] #5382 closed

[2020-03-03 08:01] dpryan79 opened #5386 "Allow python/R bindings to use an external libxgboost"
Would it be possible to change the R/python bindings so they can use precompiled xgboost libraries? In conda, as an example, we distribute the standard libraries separate from the python and R bindings, since users rarely need all of them. An example patch for the python bindings can be found here, though it should be modified to make it more generic: https://github.com/conda-forge/xgboost-feedsto

[2020-03-03 23:05] leedrake5 commented on #5345
I tried xgb.save, loaded it in R via xgb.load(), and same thing, numeric(0). See attached from xgb.save

[xgbModelSaved.xgb.zip](https://github.com/dmlc/xgboost/files/4284054/xgbModelSaved.xgb.zip)

[2020-03-04 00:53] leedrake5 commented on #5345
Also- tested the same method using the data in modelList earlier in this thread on the same computer that generated the model - it worked there.

No matter how you slice it, xgb.save, xgb.save.raw, saveRDS, etc., there is something about the computer environment the model was created on that precludes its use elsewhere.

[2020-03-04 00:55] hcho3 commented on #5345
I am able to reproduce the issue using the model file you provided. However, I have no idea as to how the model file was generated. Can you provide more context, e.g.
* OS
* XGBoost version
* Command to save the model

[2020-03-04 01:01] leedrake5 commented on #5345
OS X (Catalina). XGBoost build from source, 1.0 (openMP supported on the system). Model originally saved using saveRDS. I will try rerunning it and saving via different ways and report back.

[2020-03-04 01:27] hcho3 commented on #5342
1.0.2 is now available.

[2020-03-04 01:27] #5342 closed

[2020-03-04 01:28] hcho3 commented on #5340
@jborchma The issue is fixed in 1.0.2 release.

[2020-03-04 01:28] hcho3 commented on #5356
@slarge1 The issue is fixed in 1.0.2 release.

[2020-03-04 01:31] hcho3 commented on #5353
@GuidoBartoli We just release 1.0.2.

[2020-03-04 01:54] jborchma commented on #5340
Thanks so much for the help! Looking forward to using 1.0.2!

[2020-03-04 01:57] leedrake5 commented on #5345
I regenerated a model from scratch, saved it using xgb.save (e.g. no use of saveRDS or readRDS except for prediction data) and loaded using xgb.load. Same results - prediction works on the computer system used to generate the model (OS X, XGB 1.0) and fails on another system (Windows 7, XGB 0.9). Attaching it and the modelList to this message. If there is anything else I can do to help diagnose th

[2020-03-04 02:55] hcho3 commented on #5345
@leedrake5 Is it possible to use XGBoost 1.0 on Windows?

@trivialfis This might be a problem with backward compatibility of model files.

[2020-03-04 03:01] leedrake5 commented on #5345
It's definitely versioning. I just dropped by 1.0 version of XGBoost, installed 0.9 from CRAN, and the method outlined above worked.

I tried to install 0.90 from source using the [latest release](https://github.com/dmlc/xgboost/releases/tag/v0.90), but the dmlc-core folder is empty, so Cmake throws the necessary error. Would very much like to keep openMP functionality however this goes.

[2020-03-04 03:30] hcho3 commented on #5345
I see. Did you try to install 1.0.0 version on Windows?

[2020-03-04 03:49] leedrake5 commented on #5345
That was the initial reason for this thread, oddly enough. Will try, but there will be a delay as the project can't wait any longer. If this is a problem, I suspect that installing 1.0 from source on the ubuntu virtual image I sent would address the same thing.

[2020-03-04 04:08] hcho3 commented on #5345
Yes, you should match the version of  XGBoost. Either use 0.90 everywhere or 1.0.0 everywhere.

@trivialfis I do recall that we made a breaking change in the binary model format. Is that right?

[2020-03-04 04:20] trivialfis commented on #5345
No, we are backward compatible, 1.0 should definitely load model from 0.9

[2020-03-04 04:21] hcho3 commented on #5345
@trivialfis Thanks for clarification. In that case, let’s treat this ticket as a bug. I will look at it this week.

[2020-03-04 04:35] leedrake5 commented on #5345
I think the proposed title change has it backwards - model produced in 1.0 can't be used to predict in 0.90. I don't know what degree of compatibility is intended between versions, but at minimum an informative error should help.

[2020-03-04 04:37] hcho3 commented on #5345
Oops, my bad.

@trivialfis I believe what @leedrake5 is asking is forward compatibility, i.e. loading model from 1.0.0 into 0.90.

[2020-03-04 04:41] hcho3 commented on #5345
@leedrake5 I tried installing 1.0.0 in the Ubuntu virtual machine, and now the RDS file loads fine and I get a vector of real numbers. So most likely it is the version issue.

[2020-03-04 04:45] leedrake5 commented on #5345
I agree. Very glad to set convergence on what the problem is.

Unfortunately, from a production standpoint, I've got to make models deployable in the mass version (ergo, CRAN installation). But, I know how to make XGBoost work from here on out, which is the absolute critical point.

I am still having troubles installing 0.9 from source downloaded from releases or the tree, but I think I found the

[2020-03-04 04:48] hcho3 commented on #5345
Yes, we use git submodules, so the build instruction asks you to use `git clone --recursive`. Are you in a situation where CRAN installation is inadequate?

[2020-03-04 04:50] leedrake5 commented on #5345
Yes - CRAN doesn't allow for openMP, which for model generation is a huge boon. So will spend some time figuring out how to compile xgboost 0.90 from source to get that working again. I appreciate all of your help on diagnosing this issue.

[2020-03-04 04:54] hcho3 commented on #5345
@leedrake5

Got it. For now, here is the command you can use to get the full source code, including the git submodules:
[code]
This should populate rabit, cub, dmlc-core directories.

Aside:

This is actually fixed in 1.0.0. I will try to get 1.0.0 version on CRAN soon.

[2020-03-04 04:58] leedrake5 commented on #5345
Thank you, much appreciated on all counts!

[2020-03-04 06:43] GuidoBartoli commented on #5353
That’s really a good news, I’ll update and try again, thanks!

[2020-03-04 06:58] hcho3 commented on #5345
@hetong007 Can we submit 1.0.0 to CRAN?

[2020-03-04 07:11] hetong007 commented on #5345
@hcho3 Sounds good, given that we have a valid endian detection. I'll make a submission in a week.

[2020-03-04 07:14] trivialfis commented on #5023
Single node GPU hist for regression and classification is now deterministic.

[2020-03-04 07:16] trivialfis commented on #5386
It would be very useful for distribution purpose.  I rewrote the Python setup.py script recently, would you like to take a look and see how can we find the library dynamically?

[2020-03-04 17:38] Iqrar99 commented on #5338
Agree, using f-string is a good decision. I would like to work on this.

[2020-03-05 10:36] nyoka-pmml opened #5390 "Cannot read the value of an attribute"

[2020-03-05 10:40] #5390 closed

[2020-03-05 15:46] kylejn27 commented on #5339
While #5389 is in progress, ONNX is something that we're interested in. Is there any reason to _not_ use it or anything that we should look out for, problems with it, etc?

[2020-03-05 15:59] paantya commented on #4668
@trivialfis Do you (or someone else) plan to fix this problem at all?
in Dask and Spark it is not like this?

[2020-03-06 02:43] sandys commented on #5347
Hi Tom
I'm referring to your work on https://github.com/dask/dask-ml/pull/612 as
well. This is very important to us.

Will it work with Xgboost 1.0 ? I'm referring to the comment you just made.
Not sure if there's something else that needs to happen

On Fri, 6 Mar, 2020, 05:47 Tom Augspurger, <notifications@github.com> wrote:

[2020-03-06 03:56] trivialfis commented on #5339
No.  It's definitely an interesting option.  I tested the regression model myself but that's all I know right now.  Maybe in long term we can have a native exporter for it so we can have more testings done.  But feel free to evaluate both options.

[2020-03-06 04:00] sandys commented on #5339
The ONNX project itself is willing to add/modify to support the full
Xgboost usecase

https://github.com/onnx/onnx/issues/2621

On Fri, 6 Mar, 2020, 09:27 Jiaming Yuan, <notifications@github.com> wrote:

[2020-03-06 04:01] JohnZed commented on #5338
Release 1.1 could be a good time to drop it?  Complete EOL of 3.5 is September this year, so certainly no lead to go that long...

[2020-03-06 04:09] trivialfis commented on #5339
Yup.  That's great news.  I need the inplace prediction to help accelerating grid searching in dask ml(and any other similar libraries).  Let me know if there's anything I can help with the onnx model converter.

[2020-03-06 04:09] Mantj opened #5391 "java heap space error when running XGBoostClassifier"
Hello,
  I'm trying to run an XGBoostClassifier on a csv files, about 1.9GB. I set the spark conf like:

And the numWorker I set to XGBoostClassifier is 4. But error occured when runing `rdd at DataUtils.scala:92`:

This error is  similar to issue #3914 , but I'm using scala version, and I had set "use_external_memory" as true, can anyone help?

[2020-03-06 05:26] trivialfis opened #5392 "Official support for onnx format."
There's an exporter for XGBoost in https://github.com/onnx/onnxmltools .  As far as I'm aware of there's no integration tests on XGBoost's side nor any formal document in XGBoost for this ONNX exporter.  Last time I look into it was for fixing an issue in 1.0.0 release candidate which had compatibility issue with onnx.  But the converter should already be in good shape for most of the use cases.

[2020-03-06 05:34] sandys commented on #5392
Thank you for this !

On Fri, 6 Mar, 2020, 10:56 Jiaming Yuan, <notifications@github.com> wrote:

[2020-03-06 05:44] trivialfis commented on #4626
Thanks for the work on this, let's focus on future plans on https://github.com/dmlc/xgboost/issues/5392 .

[2020-03-06 05:44] #4626 closed

[2020-03-06 05:48] sandys commented on #5392
My personal opinion is to not link this with onnxtools exporter. The amount
of effort to do that (along with testcases,etc) is the same as creating a
"save_onnx/read_onnx" hook that will internally create a json and then
transform that to ONNX.

Also in reference to https://github.com/dmlc/xgboost/issues/5339 , the goal
should be to have a Xgboost ONNX model deployable on onnx ecosystem
(whether A

[2020-03-06 05:52] trivialfis commented on #5392
Yup.  That's a good plan.

[2020-03-06 12:37] TomAugspurger commented on #5347
I'm not sure either, but it seems like it should be OK. Can you test and
see?

On Thu, Mar 5, 2020 at 8:43 PM Sandeep Srinivasa <notifications@github.com>
wrote:

[2020-03-06 16:13] jborchma opened #5394 "Dask DMatrix does not infer feature names from Dask dataframes"
So I am very excited about the dask integration with XGBoost and have started playing around with it. However, I have noticed that when using a dask dataframe (with the sklearn API, if that matters) does not pass through the column names from the dataframe. For pandas dataframes it seems to be done in [this](https://github.com/dmlc/xgboost/blob/8d06878bf9b778db68ae98f68d99a3557c7ea885/python-packa

[2020-03-06 20:06] trivialfis commented on #5394
Contributions are definitely welcomed!

[2020-03-08 23:45] jxucoder commented on #5296
why should example (a',b) be classified as "c"?

[2020-03-09 13:42] bjuthjliu opened #5400 "spark xgboost train failed when num_executor=30 with cross validation but when num_executor=20 it succeed"
**hi my code below**
[code]
and the config is:
[code]
_**then it will fail at foreachPartition at XGBoost.scala:397**
**BBBBBBUT if I set NUM_EXECUTOR=20 then it will be ok!**_

the log on executor is :
[code]

[2020-03-09 15:16] sandys commented on #5347
@TomAugspurger this throws error

`
import xgboost
import dask_ml.datasets
import dask.dataframe as dd
import dask.array as da
import numpy as np
from dask_ml.model_selection import GridSearchCV
from dask.distributed import Clientclient = Client()
X, y = dask_ml.datasets.make_classification(n_features=100, n_samples=100_000, chunks=10_000)
parameters = {'eta': [0.1, 0.2], 'max_depth': [6, 7]}
xgb

[2020-03-09 15:18] TomAugspurger commented on #5347
Thanks. Can you debug what's going on?

On Mon, Mar 9, 2020 at 10:16 AM Sandeep Srinivasa <notifications@github.com>
wrote:

[2020-03-09 15:38] sandys commented on #5347
The gridsearchcv in Dask-ml expects a different kind of input.

This works with sklearn gridsearchcv. But I'm not sure if it distributes.

On Mon, 9 Mar, 2020, 20:49 Tom Augspurger, <notifications@github.com> wrote:

[2020-03-09 17:16] benjaminvdb opened #5401 "NaN values and Scikit-Learn RFECV"
I couldn't find the issue associated with [this XGBoost forum topic](https://discuss.xgboost.ai/t/nan-values-and-scikit-learn-rfecv/1432), so I assume none was created. I can confirm this problem persists with the latest nightly of xgboost (`a38e7bd19c461e0bed7bd96ec72d56132157d4af`) and scikit-learn (`018c6dc57d21c89c7d1278c686c7d5d62f32ee48`).

I agree with Mike Creeth's statement in the previou

[2020-03-10 02:08] avinashbarnwal commented on #5337
Please Add Survival analysis objective: Accelerated Failure Time https://github.com/dmlc/xgboost/issues/5337

[2020-03-10 04:37] datametrician commented on #5337
LGTM especially #5023. Thanks @hcho3!

[2020-03-10 05:54] hcho3 commented on #5337
@avinashbarnwal See the first item in the list.

[2020-03-10 07:04] chloe-wang opened #5402 "what's the meaning of the average score in rank:pairwise objective?"
I observed that the average value of the predicted scores is around 0.5. Because rank:pairwise only considers the relavant value between two samples in loss function, how can we get the average value of the predicted scores?

[2020-03-10 09:55] jesusluvzme21 opened #5403 "Issue while trying to implement XGBoost C API in C++"
I am trying to implement a sample code to I found on Stackoverflow which implements XGBOOST C API in C++ (Using XGBOOST in c++). Here is the code I use:

[code]

But I get the Following error message when running the code above.
[code]

What am I doing wrong and what changes should I make to make it run? Thanks in advance.

[2020-03-10 10:23] trivialfis commented on #4483
Closed via https://github.com/dmlc/xgboost/pull/5397 .

[2020-03-10 10:23] #4483 closed

[2020-03-10 10:27] trivialfis commented on #5403
We added a `training` parameter in 1.0.  See the `c_api.h` for extensive documents.

[2020-03-10 10:27] #5403 closed

[2020-03-10 10:28] trivialfis commented on #5401
Em ... so there's a tag ...  That's new to me.

[2020-03-10 10:30] trivialfis commented on #5400
Which version of XGBoost are you using?

[2020-03-10 10:30] jesusluvzme21 commented on #5403
I do not understand your comment could you be more specific please so that I know what I have to do my end? thanks in advance.

[2020-03-10 10:32] trivialfis commented on #5386
There are specializations in R package to make it comply to CRAN policy, for examples `stdout/stderr` is forbidden, some math functions are replaced.  Particularly CMake is no usable.

[2020-03-10 10:34] benjaminvdb commented on #5401
Yes. Tags can be added by implementing a` _more_tags` method. For an example within scikit-learn, see [here](https://github.com/scikit-learn/scikit-learn/blob/535ef5516bce75c6a51127da95dcb577af1fe35e/sklearn/feature_selection/_variance_threshold.py#L102).

I'm not sure whether adding the tag would automatically fix the compatibility issue with `sklearn.feature_selection.RFECV`. Let me know if I ca

[2020-03-10 13:10] jborchma commented on #5394
I was still owing a minimal example, but here is goes:

[code]

[2020-03-10 14:19] bjuthjliu commented on #5400
the log is based on 0.82 . And we also tried on 0.90

[2020-03-10 15:30] jborchma commented on #5394
So, looking further into this and playing around with the code in `dask.py`, I realized I wasn't actually using the dask framework but just the normal pandas/numpy one. Interestingly enough, this ran without any logger output indicating that I wasn't using the right framework.

[2020-03-10 17:03] hcho3 commented on #5403
Your use of `XGBoosterPredict` needs to be revised.

[2020-03-11 08:45] sandys commented on #5347
[code]

This kinda works.
It fails if I change XGBClassifier to DaskXGBClassifier.

[code]

It keeps failing and retrying.

[2020-03-11 12:39] trivialfis commented on #5347
There are some conflicts here.  Dask ml is designed to scale up single node libraries like scikit learn, but XGBoost dask itself is a distributed library.

[2020-03-11 12:43] sandys commented on #5347
Thanks for replying.

What we are looking for is Xgboost in distributed mode (Dask) being able to
work with scikit libraries like gridsearchcv (which should themselves be
distributed)

If we use  DaskXGBClassifier , then how do I get it work with gridsearchcv
in distributed mode ?

A bit confused on how to get the entire flow to be distributed.

Thanks .

On Wed, 11 Mar, 2020, 18:09 Jiaming Yuan,

[2020-03-11 14:19] jborchma commented on #5394
I think I will close this issue for now since this issue was not really what I though it was.

[2020-03-11 14:19] #5394 closed

[2020-03-11 14:25] jborchma commented on #5347
So I have also run into an issue when using `DaskXGBoostClassifier`. Here is a minimal example based on the dask example in the repo:

[code]

It generates a pretty long error trace:

[code]

[2020-03-11 15:50] trivialfis commented on #5347
Let me take a look.

[2020-03-11 17:33] trivialfis commented on #5347
@jborchma  Please remove `client` as the parameter.

[2020-03-11 17:35] trivialfis commented on #5347
@sandys  Sorry for the confusion here.  It's something I need to address.  I have been syncing up with the dask ml recently.  Will keep you posted here.

[2020-03-11 17:40] trivialfis commented on #4957
Closing.  Keep the discussion in  #5347

[2020-03-11 17:40] #4957 closed

[2020-03-11 17:46] sandys commented on #5347
@trivialfis thank you! i will be standing by to run any tests, etc that you need.  Being able to run a whole distributed scikit pipeline is of high degree of importance to us.

[2020-03-11 18:09] shenkev opened #5405 "Hist 10x slower than Exact"
XGBoost version: 0.90
System: linux
CPU Cores: 40
Language: Python

I’m training with nthreads=40 on a dataset of size 12M and 48 features. “Exact” mode boosts trees at a rate of 1 tree per 12 seconds. With the same hyperparameters, “hist” mode (I’ve only changed “tree_method”) boosts trees at a rate of 1 per 2 minutes (10x slower). I am loading train and val data from libsvm files.

Furthermore,

[2020-03-11 18:13] jborchma commented on #5347
Oh wow, thanks for the quick fix. My error!

[2020-03-11 18:22] trivialfis commented on #5376
This is a model IO issue (unfortunately).  The model returned by pruner has `process_type=update`.   A quick workaround is setting:
[code]
Before the last training.

[2020-03-11 18:28] hcho3 commented on #5405
@shenkev Can you try 1.0.0? We made lots of performance improvement in ‘hist’.

[2020-03-11 18:40] trivialfis commented on #5376
I think the way to mitigate this issue is providing better error message that shows what updater can not be used for updating existing trees, so users understand they are using wrong type of `process_type`.  @hcho3 @RAMitchell   WDYT?

[2020-03-11 18:48] hcho3 commented on #5376
I like the idea

[2020-03-11 18:49] trivialfis commented on #5405
ping @SmirnovEgorRu here.

[2020-03-11 19:07] shenkev commented on #5405
Thanks for getting back to this, yes let me try the newest version.

[2020-03-11 19:38] SmirnovEgorRu commented on #5405
@shenkev, thank you for reporting the issue.
How did you obtain 20-100% CPU usage? If you used "top" tool, for example, it means that your cpu utilized only 1 core from 40 available (it should be 4000% in ideal case).
If it's not a private information - could you, please, send the full list of parameters what you used for training? I can try to reproduce the numbers.

[2020-03-11 20:35] stephenpardy commented on #5376
Thank you for the reply @trivialfis. Setting the parameters as suggested does fix the issue in the example above. There seems to be some inconsistencies when you save and load the json dump versus when you train directly from the binary model.

This is fine:
[code]

But this will throw an error:
[code]

With the error:
[code]

[2020-03-12 08:11] hcho3 commented on #5345
@hetong007 Any updates? Let me know if you need any help.

[2020-03-12 08:22] hetong007 commented on #5345
@hcho3 oh yes. I'd like to ask if we have the environment for solaris testing? There's an unresolved error on solaris from 0.9: https://www.r-project.org/nosvn/R.check/r-patched-solaris-x86/xgboost-00check.html I'd like to have it checked before the submission.

[2020-03-12 17:15] behrenhoff opened #5409 "trees_to_dataframe causing index out of bounds exception"
I noticed that `trees_to_dataframe` retuns an exception (index out of bounds) if I train boolean variables.

The problem shows in `core.py`, between lines 1807 -- 1830 (in xgb 1.0.2). The way trees_to_dataframe works is first by dumping the trees into a string and then parsing that string using regexes! (urgh!)

Now, considering non-leaf nodes, the string looks like
`
[myFeature1<3.1415926] yes=1,

[2020-03-12 18:11] hcho3 commented on #5409
I think we should eliminate string parsing entirely. It would be better to use JSON representation of the tree and then manipulate the resulting JSON object.

[2020-03-12 18:29] shenkev commented on #5405
Sorry for the slow reply, I've tried the new stable release 1.0.0. Hist is no longer 10x slower than exact. However, it's still a bit slower.

Given my dataset size, I'm boosting 1 tree per 13 seconds in "exact" and 1 tree per 17 seconds in "hist".

The parameters I'm using for both algorithms are:

{
'eta': 0.01
'colsample_bytree: 0.7,
max_depth: 10,
objective: binary:logistic
}

Is "hist" expect

[2020-03-12 18:30] shenkev commented on #5405
@SmirnovEgorRu I'm using the Gnome system monitor app that let's me see the CPU usage for each CPU. By oscillating between 20% and 100% I mean each CPU oscillates in that range.

[2020-03-13 05:09] trivialfis commented on #5405
@shenkev How many boosted round did you run?

[2020-03-13 07:00] hcho3 commented on #5345
@hetong007 I just downloaded Solaris VM image from Oracle that can run with VirtualBox. Let me try to reproduce the issue.

[2020-03-13 09:01] canli12138 opened #5410 "Can I use xgboost4j-spark 0.9 version on spark 2.3.2"
i use xgboost4j-spark 0.9 version on spark 2.3.2,but there so many strange problem, so can I use xgboost4j-spark 0.9 version on spark 2.3.2?

[2020-03-13 09:06] SmirnovEgorRu commented on #5405
@shenkev, I tested XGBoost 1.0.2 on your dimensions + your parameters:
Performance depending on tree method:
- not set (selected to 'approx'): 136.856 sec
- 'exact': 141.309 sec
- 'hist': 23.859 sec

My reproducer:
[code]
HW: Xeon 5120 @ 2.20GHz, 14 cores/socket, 2 sockets, HT: on

Do you see similar numbers on your HW for the bench?

P.S. current master contains even stronger optimizations of 'hi

[2020-03-13 10:50] SmirnovEgorRu commented on #5405
@shenkev,

For example for 100 iteration on the same dataset and parameters with hist method I see:
XGB 1.0 - 116.053 sec
XGB master - 92.691 sec

[2020-03-13 14:34] hernandezurbina opened #5411 "No module found error after XGBoost installation via Homebrew"
Hi, I installed xgboost via Homebrew with the intention to use it inside a Python virtualenv. The installation went smoothly, but when doing "import xgboost" in Python (inside or outside a virtualenv) I receive a "No module named xgboost" error. Did I miss anything during installation? Thanks!

[2020-03-13 14:36] hernandezurbina commented on #5411
Hi, I installed xgboost via Homebrew with the intention to use it inside a Python virtualenv. The installation went smoothly, but when doing "import xgboost" in Python (inside or outside a virtualenv) I receive a "No module named xgboost" error. Did I miss anything during installation? Thanks!

[2020-03-13 15:33] shenkev commented on #5405
@SmirnovEgorRu Thanks for reproducing this. I'll try again with the new 1.0.2 version. Maybe the problem is with our particular dataset or environment.

@trivialfis I only ran 20 rounds to time the algorithm but our full model requires hundreds of rounds.

[2020-03-13 17:12] kevinkvothe commented on #4700
It is not fixed for me, I keep having the same error even though the tree sizes are exactly the same (42), as you can see in the log:

[code]

[2020-03-13 18:01] jborchma opened #5412 "DaskXGBClassifier's and DaskXGBRegressor's fit-method doesn't pass the verbose parameter through"
I just noticed that the two fit methods for the dask sklearn wrappers don't pass through the `verbose` parameter like the non-dask sklearn wrappers do. This seems like an easy fix and I'll submit a PR for this shortly, if that's ok.

[2020-03-13 18:42] shenkev commented on #5405
I tried training in a different environment and the performance of hist was much better, it's now ~1.7 faster than exact.

My original environment was in a docker image using python. My other environment was using xgboost4j not inside a docker image.

In both environments, "exact" runs at about the same speed. "Hist" is slower only in the docker + python environment.

Any thoughts? Please close th

[2020-03-13 19:30] trivialfis commented on #5411
@hcho3  Could you please help verifying?

[2020-03-13 19:34] trivialfis commented on #4700
Let me take another look.

[2020-03-13 19:34] hcho3 commented on #5411
Current Homebrew package only installs the CLI application and not the Python binding. There's an ongoing discussion to include the Python binding as well: https://github.com/Homebrew/homebrew-core/pull/50467.

For now, you can follow steps in https://github.com/dmlc/xgboost/issues/4949#issuecomment-542333666 to install the Python package.

[2020-03-13 20:18] SmirnovEgorRu commented on #5405
@shenkev, just for my understanding - do you use spark APIs?
I'm interesting, because I haven't checked perf of this. It looks like perf of 'hist' in case of single-node python API is much better than spark APIs. If so - it's the good reason to invest in optimizations of java.

[2020-03-13 20:35] hcho3 commented on #5345
@hetong007 I am having lots of trouble setting up the R environment in Solaris. In particular, I cannot install R packages like `igraph` because utilities like `awk` behave differently on Solaris.

[2020-03-13 22:20] trivialfis commented on #5405
If the data is extremely sparse, distributed algorithm can be much slower.  I optimized quantile building for sparse data, but it doesn't work on distributed environment.

[2020-03-13 22:25] shenkev commented on #5405
No, we don't use Spark nor parallel computing (i'm 95% sure).

[2020-03-13 22:45] trivialfis commented on #5412
Thanks for the PR!

[2020-03-13 22:45] #5412 closed

[2020-03-13 23:16] trivialfis commented on #4700
@kevinkvothe If you are running the latest XGBoost release without `silent`, there should be a warning saying parameter `update` is not used.  The correct parameter name should be `updater`.  To modify that notebook to run it correctly, first you need to train a model with `default` `process_type`, so that you can have some trees to update.  Then use `pruner` or `refresh` for updating existing tre

[2020-03-14 01:24] #5376 closed

[2020-03-14 01:24] trivialfis commented on #5376
Thanks for opening the issue.

[2020-03-14 03:01] hetong007 commented on #5345
@hcho3 Would you please be clearer? I imaging one could install packages in R console with `install.packages('testthat')`, given that `testthat` has passed solaris check on CRAN.

[2020-03-14 03:04] hcho3 commented on #5345
@hetong007 The package `igraph` uses `awk` in configure step, and Solaris's `awk` is not feature compatible with GNU awk.

[2020-03-14 03:08] hetong007 commented on #5345
@hcho3 OK this sounds awful. I have no knowledge in how to proceed either. I just took a look at `igraph`'s result page on CRAN: https://cran.r-project.org/web/checks/check_results_igraph.html. Feels that we are not going to be worse. I'll make a submission regardless.

[2020-03-14 03:10] hcho3 commented on #5345
@hetong007 Thanks. I'll try to get back to Solaris testing at some point.

[2020-03-14 11:02] kevinkvothe commented on #4700
I'm going to share a notebook I made to test this error. It should be completely reproducible.

Btw, same error appears if I use `prune` as the `updater` parameter together with `update` as `process_type`.

[test.zip](https://github.com/dmlc/xgboost/files/4332594/test.zip)

[2020-03-14 23:16] #5067 closed

[2020-03-14 23:21] hcho3 commented on #5345
@hetong007 Ah yes, make sure to use the branch `release_1.0.0` when submitting the code.

[2020-03-15 07:02] shomedas opened #5419 "xgboost example fails on raspberry pi3"
I have installed xgboost successfully(I am able to import xgboost) on raspberry pi3 modelB(with raspbian buster which is 32bit OS) using the commands

git clone --recursive https://github.com/dmlc/xgboost
cd xboost
make -j4
cd python-package; sudo python3 setup.py install

However when I run the code from [xgboost-tutorial](https://machinelearningmastery.com/develop-first-xgboost-model-python-scik

[2020-03-15 08:46] #4700 closed

[2020-03-15 08:58] hetong007 commented on #5345
@hcho3 The pre-check warns:

[code]

and the `00install.out` file is here (available in ~72 hours): https://win-builder.r-project.org/v6XJQBjzgMaW/00install.out

Would it be possible to have a quick fix?

[2020-03-15 09:16] hcho3 commented on #5345
@hetong007 Is this a blocker? Memset was used to speed up zeroing out histogram (array of structure). If this is blocking CRAN, I will put a macro guard so that the R package will use ordinary constructor instead.

[2020-03-15 09:26] hetong007 commented on #5345
@hcho3 Yes It is a blocker. The pre-check is automated and the submission should pass without warning. The macro sounds good enough, thanks!

[2020-03-15 22:18] trivialfis commented on #5345
@hcho3  Could you please try using `std::fill` first?  Even the compiler cannot optimize it into `memset`, I don't think it's critical enough to have any visible performance impact.

[2020-03-16 02:40] RAMitchell commented on #4986
I'm not too worried about memory consumption from tree depth. As mentioned by @PhilippPro over fitting is also offset by lower learning rates and sampling.

@PhilippPro the "grow_policy":"lossguide"/"depthwise" parameters already exists for both "tree_method":"hist" and"tree_method":"gpu_hist". We may even make "tree_method":"hist" the default learning mode at some point.

[2020-03-16 07:43] kevinkvothe commented on #4700
So if I understand correctly, setting a fixed `num_boost_round` equal to the number of trees trained in the first model (the one we update over it) should solve the issue?

[2020-03-16 08:12] trivialfis commented on #4700
Yup.  The gist is don't update non-existing tree.

[2020-03-16 16:13] Kodiologist opened #5422 "EmptyEngine:: Allreduce is not supported,use Allreduce_ instead"
With the R package from the latest stable release (1.0.2) installed from source, the function `xgboost` crashes immediately. I'm running R 3.6.1 on Lubuntu 19.10.

[code]

[2020-03-17 08:56] trivialfis commented on #5347
@sandy You can use scikit-learn gridsearch with xgboost-dask now.

[2020-03-17 09:00] sandys commented on #5347
Hi
Thanks!
Are you referring to dask-ml gridsearchcv ?

Any chance of a sample code, because not very clear on the structure.

On Tue, 17 Mar, 2020, 14:27 Jiaming Yuan, <notifications@github.com> wrote:

[2020-03-17 10:07] mayer79 opened #5423 "Poisson Loss in Random Forest Mode"
With MSE loss, the random forest mode seems to work well. However, when switching to "count:poisson" (and also "reg:gamma") loss, the model is completely off. The distribution of the predictions is heavily biased.

[code]

[2020-03-17 11:59] trivialfis commented on #5347
@sandys No I'm referring to scikit-learn.  dask-ml is used to scale up single node algorithms (AFAIK), XGBoost itself can distribute data among workers and do the synchronization.  Eventually I want to have both models of distributed pipeline working in one interface, but so far we have 2 of them.

For using `scikit-learn`(single-node) grid searching with `xgboost.dask`(distributed):

[code]

Anot

[2020-03-17 12:21] sandys commented on #5347
Thanks for the reply.

I had one doubt. In your "For using scikit-learn(single-node) grid
searching with xgboost.dask(distributed) " code example...will the
gridsearchcv be distributed on the Dask nodes ?
Or will it run in a single node only.

On Tue, 17 Mar, 2020, 17:29 Jiaming Yuan, <notifications@github.com> wrote:

[2020-03-17 12:26] trivialfis commented on #5347
Yes.  The data is distributed across workers and XGBoost syncs the gradient between workers during training.

[2020-03-17 12:32] trivialfis commented on #5422
@hcho3

[2020-03-17 16:49] mjkohl32 opened #5424 "Dictionary key referenced before assignment during early stop"
When running xgboost.cv with early stopping rounds, after a few iterations the code breaks from a KeyError on the line below. There's some situation where state['bst_msg'] is not yet assigned, perhaps because it isn't set in init.

KeyError: 'best_msg'

https://github.com/dmlc/xgboost/blob/8ca06ab329b29f3fc3a92174bcc35ff9896d3a5c/python-package/xgboost/callback.py#L246

I was running my code with

[2020-03-17 18:08] rnyak opened #5425 "[FEA] get `dask_cudf.Series` from xgb.dask.predict()"
**Is your feature request related to a problem? Please describe.**

I would like to obtain prediction result from  `prediction = xgb.dask.predict(client, output, dtrain)` as `dask_cudf.Series` instead of `dask.array.core.Array`.  I'd like to keep prediction results on GPU, as I do prediction on large number of records.

I am using, rapids 0.13 nightly in a conda env, and Dask 2.12.0.  Here is  a m

[2020-03-18 07:48] lilihongjava opened #5429 "gpu error /workspace/src/gbm/gbtree.h:308: Check failed: gpu_predictor_"
Check failed: gpu_predictor_，What is the cause of this problem？

Traceback (most recent call last):
  File "/app/py/xgboost_multiclass_classification/main.py", line 25, in <module>
    main()
  File "/app/py/xgboost_multiclass_classification/main.py", line 12, in main
    run_training(args)
  File "/app/py/xgboost_multiclass_classification/action/training.py", line 25, in run_training
    max_dept

[2020-03-18 08:24] piiswrong opened #5430 "Federated Learning with GBDT"
Hi XGBoost devs,

As you all know XGBoost is widely used in the Fintech community. To comply with stricter regulations, federated learning has become popular in Fintech and other fields recently.

I have been working on federated learning and recently came into some applications that need GBDTs. Thus I need to implement a federated version of GBDT. I have been debating whether to base it on GBDT o

[2020-03-18 11:02] hcho3 commented on #5430
@piiswrong I recently came across research work from UC Berkeley that implemented federated learning with XGBoost:
* https://github.com/mc2-project/mc2/tree/master/federated-xgboost
* https://github.com/mc2-project/mc2-xgboost

[2020-03-18 11:53] trivialfis commented on #5429
Hi, could you please provide a reproducible script?  Also what's the version of XGBoost?

[2020-03-18 12:14] trivialfis commented on #5422
@Kodiologist How did you install XGBoost?

[2020-03-18 12:18] trivialfis commented on #5423
Maybe the `max_delta_step` has something to do with the convergence.  I'm not sure if it's like the proof  for `softmax` function.

[2020-03-18 12:19] trivialfis commented on #5402
@chloe-wang Could you please be more specific.  From the context I'm not sure what you are trying to ask.  Maybe an example will help?

[2020-03-18 12:20] trivialfis commented on #5391
What's your version of XGBoost?  Also what tree method are you using?

[2020-03-18 12:21] trivialfis commented on #5333
@mrm8488 Any update?  Not rushing anything, just curious to know.

[2020-03-18 12:22] trivialfis commented on #5298
Also 1.0.2 is now out.  Feel free to try to experimental JSON format.

[2020-03-18 12:22] #5298 closed

[2020-03-18 12:31] trivialfis commented on #5037
Feel free to reopen when there's a reproducible sample.

[2020-03-18 12:31] #5037 closed

[2020-03-18 12:34] #4822 closed

[2020-03-18 12:37] mrm8488 commented on #5333
Sorry, I have been busy. I will start this weekend.

[2020-03-18 12:55] mayer79 commented on #5423
In another example with different data and parameters, the result is not too different from LightGBM's rf mode, but ironically worse than using ranger with MSE loss. Poisson deviance should be low, r_squared is the proportion of deviance explained (should be high). These values are calculated on an independent validation data set.

#                    pred_xgb      pred_lgb pred_ranger
# deviance

[2020-03-18 12:58] piiswrong commented on #5430
This  seems to be based on specialized hardware and not directly applicable to my use case. But it's good reference. I'll look into it. Thanks a lot.

[2020-03-18 13:28] Kodiologist commented on #5422
Bizarrely, I was seeing this on three separate machines, and now I can't reproduce it on any of them. My best guess is that it had something to do with build artifacts left over from installing previous versions of XGBoost, or forgetting to `git submodule update`. Sorry for the noise.

[2020-03-18 13:28] #5422 closed

[2020-03-18 14:21] trivialfis commented on #5422
No problem.  Good to know that it works fine.

[2020-03-18 14:42] chloe-wang commented on #5402
@trivialfis thanks for the reply. From the perspective of lambdarank algo, the absolute scores of samples seem not important, since we only care about the relavant scores between two samples (if I'm understanding it correctly). So I'm wondering how can we get the absolute score when we are doing the prediction. Below is the distribution of the prediction scores for your reference.

![image](https: