[2019-04-24 18:15] hcho3 commented on #4399
@anayyar82 It looks like your Java project is using a version of json4s that clashes with the json4s version used in Apache Spark. See json4s#212. Can you run `mvn dependency:tree -Dverbose` to see which versions of json4s is being used?

[2019-04-24 18:17] CodingCat commented on #4399
And ensure that you’re using 2.4.1 to submit your xgboost application

[2019-04-24 18:22] anayyar82 commented on #4399
Sure trying it.

[2019-04-24 18:23] hcho3 commented on #4389
@srowen @CodingCat @alexeygrigorev Let's also discuss the possibility of supporting Scala 2.12 / 2.13. Right now, XGBoost4J is compiled for Scala 2.11:
https://github.com/dmlc/xgboost/blob/2c61f02add72cce8f6dc1ba87e016e3c5f0b7ea6/jvm-packages/pom.xml#L38-L39

A user [reported](https://discuss.xgboost.ai/t/jvm-packages-compile-scala-2-12-jar/816) that XGBoost4J JARs compiled for Scala 2.11 is not b

[2019-04-24 18:26] anayyar82 commented on #4399
With latest version xgboost, with spark 2.4.1 now it's failing with below exception while calling `fit` method.  It was working before and I did the test too.

ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed
	at ml.dmlc.xgboost4j.scala.spark.XGBoost$.ml$dmlc$xgboost4j$scala$spark$XGBoost$$postTrackerReturnProcessing(XGBoost.scala:573)
	at ml.dmlc.xgboost4j.scala.spark.XGBoost$$an

[2019-04-24 18:30] hcho3 commented on #4399
What changed?

[2019-04-24 18:36] srowen commented on #4389
Yeah, 2.11 / 2.12 are still binary-incompatible, and Spark has two distributions. Both are supported in 2.4.x though 2.12 is the default from here on in 2.4.x. 3.0 will drop Scala 2.11 support.

It may just be a matter of compiling two versions rather than much or any code change. If you run into any funny errors in 2.12 let me know because I stared at lots of these issues when updating Spark.

2.

[2019-04-24 18:59] alexeygrigorev commented on #4389
@hcho3 I assume you wanted to tag @alexvorobiev?

[2019-04-24 18:59] anayyar82 commented on #4399
Not sure, I just reran all and it's working but somehow in spark 2.4.1 while loading back it's giving same error.

val reloadedModel = XGBoostClassifier.load(xgbClassificationModelPath)

java.lang.NoSuchMethodError: org.json4s.jackson.JsonMethods$.parse(Lorg/json4s/JsonInput;Z)Lorg/json4s/JsonAST$JValue;
	at ml.dmlc.xgboost4j.scala.spark.params.CustomObjParam.jsonDecode(CustomParams.scala:82)
	at

[2019-04-24 19:00] anayyar82 commented on #4399
Can we update the pom file or build file to use old JSON

[2019-04-24 19:02] hcho3 commented on #4389
@alexeygrigorev Oops, sorry about that.

[2019-04-24 19:04] hcho3 commented on #4399
@anayyar82 Did you run `mvn dependency:tree -Dverbose`?

[2019-04-24 20:34] anayyar82 commented on #4399
Yes, here is the output

[INFO] --- maven-dependency-plugin:2.8:tree (default-cli) @ xgboost4j ---
[INFO] ml.dmlc:xgboost4j:jar:0.83-SNAPSHOT
[INFO] +- junit:junit:jar:4.11:test
[INFO] |  \- org.hamcrest:hamcrest-core:jar:1.3:test
[INFO] +- com.typesafe.akka:akka-actor_2.11:jar:2.3.11:compile
[INFO] |  +- (org.scala-lang:scala-library:jar:2.11.5:compile - omitted for conflict with 2.11.12)
[INFO]

[2019-04-24 20:54] anayyar82 commented on #4399
@hcho3 I am pretty sure we have an issue with `xgboost4j-spark-0.83-SNAPSHOT.jar`

As I do see below issue many times it's throwing randomly. Nothing changed and rebuilt twice.

`val xgbClassificationModel = xgbClassifier.fit(xgbInput)`

ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed
	at ml.dmlc.xgboost4j.scala.spark.XGBoost$.ml$dmlc$xgboost4j$scala$spark$XGBoost$$postTrackerRet

[2019-04-24 20:54] anayyar82 commented on #4399
the same code is working in 0.82 but not working with the latest build.

[2019-04-24 22:36] hcho3 commented on #4399
@anayyar82 Can you try this JAR? [xgboost4j-spark-0.83-SNAPSHOT.jar.zip](https://github.com/dmlc/xgboost/files/3114418/xgboost4j-spark-0.83-SNAPSHOT.jar.zip)
I built it as part of my work in #4380.

[2019-04-24 22:41] anayyar82 commented on #4399
Of Course

[2019-04-24 22:43] hcho3 commented on #4399
Just in case, I'm uploading all JARs files I built: [jars.zip](https://github.com/dmlc/xgboost/files/3114432/jars.zip)

[2019-04-24 22:47] anayyar82 commented on #4399
@hcho3 it failed with same error..

Tracker started, with env={DMLC_NUM_SERVER=0, DMLC_TRACKER_URI=10.205.254.245, DMLC_TRACKER_PORT=9091, DMLC_NUM_WORKER=1}
ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed
	at ml.dmlc.xgboost4j.scala.spark.XGBoost$.ml$dmlc$xgboost4j$scala$spark$XGBoost$$postTrackerReturnProcessing(XGBoost.scala:573)
	at ml.dmlc.xgboost4j.scala.spark.XGBoost$$anon

[2019-04-24 22:48] hcho3 commented on #4399
@CodingCat Have you seen this error before? I have no idea.

[2019-04-24 23:19] chenqin commented on #4360
https://github.com/dmlc/rabit/pull/91

[2019-04-25 00:10] CodingCat commented on #4399
cannot reproduce ...and please try to get rid of databricks wrapper and use spark-submit to test,

[2019-04-25 03:52] zzheng93 commented on #4199
Hi,
I tried with CPU. Still gives a wrong result.

[2019-04-25 14:20] rnarukulla2 commented on #4276
I have the same error while I am loading the xgboost model which is built using CLI interface. Can some one body help

[2019-04-25 15:44] CodingCat commented on #4389
the only issue is that we need to introduce a breaking change to the artifact name of xgboost in maven, xgboost4j-spark => xgboost4j-spark_2.11/xgboost4j-spark_2.12, like spark https://mvnrepository.com/artifact/org.apache.spark/spark-core and we need to double check if we have any transient dependency on 2.11 (I think no)

Hi, @srowen `though 2.12 is the default from here on in 2.4.x`, I checked

[2019-04-25 15:58] srowen commented on #4389
You could choose to only support 2.12 in 0.9x, and then you don't have to suffix the artifact name. If you support both, yeah, you'd really want to change the artifact name unfortunately and have _2.11 and _2.12 versions.

Yes the default Spark 2.4.x build will be for 2.11; `-Pscala-2.12` gets the 2.12 build.

[2019-04-25 16:08] med96 opened #4402 "Gradient and Hessian of RMSLE"
I'm trying to implement the RMSLE custom function to train XGBoost, but I'm getting a constant training and validation error.

Here is my function:

    def RMSLE(ypred, dtrain):
    y = dtrain.get_label()
    return np.sqrt(np.mean((np.log1p(ypred) - np.log1p(y)) ** 2))

    #### Returns GRADIENT, HESSIAN of the RMSLE function

    def RMSLEobj(ypred, dtrain):
        y = dtrain.get_label()

[2019-04-25 16:22] CodingCat commented on #4389
thanks, I'd stay conservative in supporting 2.12 at least for the coming version

as far as I know, most of Spark users are still using 2.11 since they are used to following previous versions of Spark

I may not have bandwidth to go through every test I have for introducing 2.12 support

I would choose to support 2.12 + 2.11 or 2.12 in 1.0 release...

[2019-04-25 18:35] CodingCat commented on #4389
@hcho3 FYI, I just removed the dense matrix support from the roadmap given the limited bandwidth

[2019-04-26 04:25] trivialfis commented on #4389
@hcho3 Could you take a look at https://github.com/dmlc/dmlc-core/pull/514 when time allows?  It might be worth merging before the next release hit.

[2019-04-26 04:32] hcho3 commented on #4389
@trivialfis Will look at it

[2019-04-26 07:29] trivialfis commented on #4360
Closed by https://github.com/dmlc/rabit/pull/91 .

[2019-04-26 07:29] #4360 closed

[2019-04-26 10:16] panranyang opened #4405 "Problem that gamma cannot live with gpu_exact"
Here's some information of my computer.
CUDA version: 8.0.44
Driver version:390.87
GPU:  GTX 1080  * 2

my code is like:

params={'tree method': 'gpu_exact', 'objective': 'reg:linear', 'max_depth': 6, 'eta': 0.1, 'lambda‘: 2}
xgboost.train(params, train_data, train_rounds)

It can works fine but when gamma in params( params['gamma'] = 5, I get

Kernel error:
In: /workspace/include/xgboost/./../../

[2019-04-26 16:03] trivialfis commented on #4405
@RAMitchell This is awkward,  everything I try to reproduce this bug my machine freeze ...

[2019-04-26 16:51] CodingCat commented on #3946
@bourbaki sorry for the late reply, really busy in these days, my suggestion would be

1. since the checkpoint is a functionality built in xgboost4j-spark layer, we can just pursue a solution in this level,

2. the point is to get cache initialized with a booster from checkpoint, I would suggest we

2.1 save the prediction results with Spark

2.2 expose an API to directly call [Init Function in Pr

[2019-04-26 18:09] #4307 closed

[2019-04-26 18:09] #4387 closed

[2019-04-26 20:14] hcho3 opened #4406 "[jvm-packages] SparkMLlibPipeline example in xgboost4j-example causes error "rabit::Init is already called in this thread""
I ran spark-submit on two Spark examples in xgboost4j-example as follows:
[code]

The first spark-submit ran successfully, but the second spark-submit crashes with error
[code]

See the full log at https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-4401/15/pipeline/204#step-249-log-1296.

[2019-04-26 20:23] CodingCat commented on #4406
we have a bug in calling rabit.init() in spark,

I believe even you only run the second test, SparkMLlibPipeline, it also failed

[2019-04-26 20:37] hcho3 commented on #4406
@CodingCat Was this bug around for a while?

[2019-04-26 20:38] CodingCat commented on #4406
@hcho3 I think so, I am verifying that, because we usually will not evaluate the dataframe containing predictions for twice so it is not triggered......

[2019-04-26 21:56] CodingCat commented on #4406
this bug was introduced in https://github.com/dmlc/xgboost/commit/2d875ec0197d5a83e7d585daf472b8201aa97c51

[2019-04-26 22:10] CodingCat commented on #4406
working on a fix

[2019-04-26 22:26] hcho3 commented on #4406
@CodingCat Thanks!

[2019-04-26 22:39] CodingCat commented on #4406
Rabit part fix: https://github.com/dmlc/rabit/pull/92

[2019-04-27 04:02] #4406 closed

[2019-04-27 04:13] CodingCat opened #4409 "[BLOCKING][jvm-packages] upgrade and test with spark 2.4.3"
well....some issues happened in the recent release of Spark, essentially

2.4.1 has a serious bug

2.4.2 has some issue in scala support (we may not be affected, tho)

2.4.3 is coming

so let's wait for more days to upgrade to 2.4.3 and ensure everything is OK

[2019-04-27 04:46] hcho3 commented on #4409
Any link?

[2019-04-27 04:49] CodingCat commented on #4409
http://apache-spark-developers-list.1001551.n3.nabble.com/Spark-2-4-2-td27040.html#a27048

[2019-04-27 08:15] hcho3 commented on #4409
@CodingCat For now, I can add a test with Spark 2.4.2

[2019-04-27 09:17] hcz28 opened #4410 "Error in python custom objective demo?"
In the custom objective demo,
https://github.com/dmlc/xgboost/blob/77c03538b0db2e3608ef07ddcf9b48325584dbee/demo/guide-python/custom_objective.py#L21
it seems that the parameter pred means the untransformed margin value. However, when the custom objective func is called at
https://github.com/dmlc/xgboost/blob/77c03538b0db2e3608ef07ddcf9b48325584dbee/python-package/xgboost/core.py#L1112
the pred is

[2019-04-27 09:32] hcho3 commented on #4410
No, that line gives untransformed margin.

[2019-04-27 09:32] #4410 closed

[2019-04-27 11:48] bourbaki commented on #3946
It sounds good. But there's one thing that bothers me with the current design of `xgboost4k-spark`.
At every checkpoint we collect booster data from executors to a driver to save it. But then to start the next iteration instead of reusing the current state of executors we copy a booster from the driver to each executor. These copies are redundant in the case when there are no failures in the train

[2019-04-27 20:11] CodingCat commented on #4409
@hcho3 , yeah, I think we can just test with 2.4.2 (drop the original 2.4.1 test)

[2019-04-27 20:39] CodingCat commented on #3946
yes, in that way we need some way to pass the message from driver to executor saying "please move on"...leading us to more complexities from the message system for training...

if we want to pursue that approach, we need to extend rabit layer to allow tracker and worker to communicate more than "start/stop/I died/please reborn", etc.

[2019-04-27 20:41] CodingCat commented on #3946
but still we need to save the prediction results to allow the training recover from a checkpoint..which does not reduce the complexity I talked about earlier

[2019-04-27 20:58] clayms opened #4413 "[jvm-packages] XGBoostModel training failed"
3 node cluster
CDH 5.15
Spark 2.2.0
XGBoost 0.72 (xgboost4j-spark-0.8-SNAPSHOT-jar-with-dependencies.jar)
Python 2.7.12

Exact same code trains successfully on smaller dataframe.

Code excerpts:
Spark Session:
[code]
XGBoost parameters
[code]

Error:
[code]

Error from failed worker node:
[code]

[2019-04-27 21:26] hcho3 commented on #4394
@danielSoler93 Any updates?

[2019-04-27 21:27] hcho3 commented on #4390
@CodingCat No, each tree occupies multiple lines

[2019-04-27 22:07] CodingCat commented on #4413
how you involve an Py4JJavaError?????

we don't support pyspark anyway

[2019-04-28 01:49] clayms commented on #4413
With the sparkxgb wrappers written by @thesuperzapper  here https://github.com/dmlc/xgboost/issues/1698#issuecomment-402338734

[2019-04-28 01:59] hcho3 commented on #4389
@CodingCat I think we should push back the release date, as Spark 2.4.1 and 2.4.2 have issues. What do you think?

[2019-04-28 02:05] tmalbonph opened #4415 "XGBoost fails to build because of missing -pthread and -fopenmp cmake directives"
1. -pthread is not included into CMAKE_CXX_FLAGS
2. -fopenmp is not included into CMAKE_CXX_FLAGS

To fix the error; had to modify CMakeLists.txt to include the following

set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -pthread")

if (USE_OPENMP)
  set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -fopenmp")
endif (USE_OPENMP)

[2019-04-28 02:34] CodingCat commented on #4389
I think it’s fine to have some slight delay

[2019-04-28 02:46] hcho3 commented on #4389
Okay, let’s wait until Spark 2.4.3 is out

[2019-04-28 03:38] hcho3 commented on #4415
Can you post the error message you saw?

[2019-04-28 05:14] hcho3 commented on #4415
@tmalbonph We have an automated testing system that compiles every version of XGBoost. The latest log shows both [`-fopenmp` flag](https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/master/174/pipeline/104#step-129-log-565) and [`-lpthread` flag](https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/master/174/pipeline/104#step-129-log-748).

[2019-04-28 12:46] clayms commented on #4413
Got it working in pyspark.
Simply removed the following config statement from my SparkSession.
[code]

The Scala code works if the SparkSession is started with the following set in 'spark-default.conf' file.
[code]

Why does a pyspark SparkSession not able to run XGBoost if `spark.executor.cores` is set?

[2019-04-28 12:47] #4413 closed

[2019-04-28 21:58] #4332 closed

[2019-04-29 01:09] tmalbonph commented on #4415
### https://github.com/dmlc/xgboost/issues/4415

### Check out xgboost commit 77c03538b0db2e3608ef07ddcf9b48325584dbee

[code]

### Update the submodule
[code]

### Build the xgboost

[code]

### Compile it

[code]

### Copy of "xgboost-error-1.log" attach to this post
[xgboost-error-1.log](https://github.com/dmlc/xgboost/files/3125736/xgboost-error-1.log)

[2019-04-29 08:32] danielSoler93 commented on #4394
Sorry, I've been extremely busy with a couple of other things let me give it a try today and I'll get back to you. Thanks for the help

[2019-04-29 10:06] danielSoler93 commented on #4394
@hcho3 I've solved the issue by changing the order of the imports as stated in the reference you sent me.  Thanks to give me a hand

[2019-04-29 11:15] sajagekar opened #4416 "[jvm-packages] XgBoost loading error on windows using Java & Maven"
Hi,
I am trying to use XgBoost along with Java Maven project, it works when I directly call main class,but it throws below error when I create jar using maven build and execute it through command line or using Intellij.

Exception in thread "main" java.lang.IllegalStateException: Unable to load XGBooster
	at hex.genmodel.algos.xgboost.XGBoostNativeMojoModel.makeBooster(XGBoostNativeMojoModel.java:

[2019-04-29 15:44] anayyar82 commented on #4399
Thanks @hcho3 , it's working fine now.

I can save and load it with Spark 2.4 without any issue.

The new issue is when I want to do reload and use the transform method, it says

val reloadedModel = XGBoostClassifier.load(xgbClassificationModelPath)
reloadedModel.transform(xgbInput.select("features"))

**error: value transform is not a member of ml.dmlc.xgboost4j.scala.spark.XGBoostClassifier**

A

[2019-04-29 16:44] #4394 closed

[2019-04-29 16:46] hcho3 commented on #4416
Can you look at the content of the JAR file and see if it contains DLL?

[2019-04-29 17:22] hcho3 commented on #4415
It appears that XGBoost doesn't compile with CMake older than version 3.12. Let me take a look.

[2019-04-29 17:28] tmalbonph commented on #4415
@hcho3
It compile, the error is during the linking process; missing library for pthread and fopenmp

[2019-04-29 17:45] sajagekar commented on #4416
Yes, it does contain dll inside lib folder.

On Mon 29 Apr, 2019, 10:17 PM Philip Hyunsu Cho, <notifications@github.com>
wrote:

[2019-04-29 18:00] tovbinm commented on #4389
Would there be the last 0.83 release for Spark 2.3.x?

[2019-04-29 18:20] hcho3 commented on #4389
@CodingCat What if we make two parallel releases 0.83 and 0.90, where 0.83 includes all commits just before #4377? The 0.83 version would be only released as JVM packages, and Python and R packages would get 0.90

[2019-04-29 18:26] hcho3 commented on #4416
Where did you get XGBoost4J JAR with the DLL? Did you build it yourself?

[2019-04-29 18:27] hcho3 commented on #4250
@chenqin Is this task complete?

[2019-04-29 21:24] chenqin commented on #4250
I think we can say hardening part is complete, improving is still undergoing.

[2019-04-29 21:29] CodingCat commented on #4389
@hcho3 I am a bit concerned on the inconsistency of different versions in the availability of pkgs.

I can imagine questions like `hey, I find 0.83 in maven so I upgrade our Spark pkg, but I cannot use 0.83 in notebook when attempting to explore my new model setup with a small amount of data with python pkg?`

we either have a full maintenance release on 0.8x branch or nothing

[2019-04-29 21:39] hcho3 commented on #4389
@CodingCat Got it. What's your take on 0.83 release then? Should we do it?

[2019-04-29 21:48] hcho3 commented on #4389
@CodingCat Actually, this will create work for other maintainers, we'll need to ask them first

[2019-04-29 21:57] CodingCat commented on #4389
short answer from a personal view is yes, but it might be more than cutting right before a commit (as you said, it will create work for others as well)

here is my 2 cents about how we should think about maintenance release like 0.8x

1. the reason to have a maintenance release is to bring in critical bug fixes, like https://github.com/dmlc/xgboost/commit/2d875ec0197d5a83e7d585daf472b8201aa97c51 a

[2019-04-29 22:27] RAMitchell commented on #4389
If I understand correctly, 0.9 will not support older versions of spark, hence the proposal to support a 0.83 version as well as 0.9 to continue support for older spark versions while including bug fixes?

Generally I am against anything that uses developer time. Aren't we busy enough already? I do see some value in having a stable version however.

[2019-04-29 23:10] hcho3 commented on #4389
@CodingCat Is there any way to incorporate bug fixes (2d875ec and 995698b) without upgrading to Spark 2.4.x? If making maintenance releases is more than just cutting branches (e.g. need to cherry-pick), I would rather not make such commitment.

[2019-04-29 23:17] tmalbonph commented on #4415
@hcho3

The fix is very simple.
I just inserted the following CMake directives

[code]

starting at line number 9 on [CMakeLists.txt](https://github.com/dmlc/xgboost/blob/77c03538b0db2e3608ef07ddcf9b48325584dbee/CMakeLists.txt)

[code]

[2019-04-29 23:20] tmalbonph commented on #4415
Here is the new log file [xgboost-error-2.log](https://github.com/dmlc/xgboost/files/3129473/xgboost-error-2.log)

[2019-04-29 23:31] hcho3 commented on #4415
@tmalbonph It's not that simple, since `-fopenmp` flag doesn't work on Windows. The real problem is that older versions of CMake doesn't automatically insert correct flags for OpenMP when OpenMP is used.

[2019-04-29 23:35] tmalbonph commented on #4415
@hcho3
If user does not want `OpenMP` support, the fix will still work because it has `if (USE_OPENMP)`

[2019-04-29 23:36] hcho3 commented on #4415
@tmalbonph No, since Windows uses a different flag for OpenMP (`/openmp`).

[2019-04-29 23:41] hcho3 commented on #4415
Working on a fix that works across platforms

[2019-04-29 23:41] sararob opened #4418 "Update gaming example in documentation"
The gaming example used to introduce decision trees on [this page](https://github.com/dmlc/xgboost/blob/master/doc/tutorials/model.rst) claims men are 20x more likely to like computer games than women. I know it's just an example, but it's subtly sexist and incorrect. According to [this report](http://www.theesa.com/wp-content/uploads/2018/05/EF2018_FINAL.pdf), 45% of gamers in the US are women. I

[2019-04-29 23:41] tmalbonph commented on #4415
@hcho3
On OS that support pthread, they will encounter the pthread_create error.
see line 784 on the provided xgboost-error-1.log
[code]

[2019-04-29 23:55] hcho3 commented on #4418
@sararob Thanks for the new diagrams. Can you file a pull request at https://github.com/dmlc/web-data? The images that should be replaced are:
* xgboost/model/cart.png
* xgboost/model/twocart.png

[2019-04-29 23:56] sararob commented on #4418
Thanks for the fast response! Should I also replace the last 2 images on that page since they use the same example?

[2019-04-29 23:58] tmalbonph commented on #4415
@hcho3
For your reference: I did forgot to mention I am using the following:

[code]

[2019-04-30 00:01] hcho3 commented on #4418
Yes

[2019-04-30 01:07] tqchen commented on #4418
Thanks @sararob for bringing this up. This was completely my mistake and I do hope to fix this ASAP. I did a parallel fix without checking this issue. But we would be more than happy to incorporate your example and perhaps rename the title to be less factual, e.g. about a hypothetical computer game X.

[2019-04-30 01:54] hcho3 commented on #4415
@tmalbonph The fix is available at #4419. Thanks for the report.

[2019-04-30 02:05] tmalbonph commented on #4415
@hcho3
Thank you for fixing this issue

[2019-04-30 02:05] #4415 closed

[2019-04-30 03:09] sajagekar commented on #4416
No, i found it on github somewhere,Long back ago. Recently we converted
project to maven and tried to build and execute . It does build but while
running jar it is giving error.

On Mon 29 Apr, 2019, 11:56 PM Philip Hyunsu Cho, <notifications@github.com>
wrote:

[2019-04-30 03:10] hcho3 commented on #4416
@sajagekar Try using JARs from https://github.com/criteo-forks/xgboost-jars?

[2019-04-30 04:24] sajagekar commented on #4416
@hcho3 Do you mean , I should directly add
<dependency>
    <groupId>ml.dmlc</groupId>
    <artifactId>xgboost4j</artifactId>
    <version>latest_version_num</version>
</dependency>
This dependancy and try?

[2019-04-30 04:26] hcho3 commented on #4416
@sajagekar Get JARs from https://github.com/criteo-forks/xgboost-jars/releases

[2019-04-30 05:28] sajagekar commented on #4416
Hi,
I have downloaded jar from above link and integrated as maven dependency as below. but it is not getting added to jar file, and getting same error.

[code]

[2019-04-30 05:30] hcho3 commented on #4416
Hmm, maybe you should try to build XGBoost4J yourself. Sorry I have no idea what's happening

[2019-04-30 05:39] sajagekar commented on #4416
Now looks problem with maven plugins, Thanks for pointing jar resources

[2019-04-30 08:45] JaakobKind opened #4421 "custom evaluation function is not used if name is lexicographically smaller than default"
Dear xgboost developers,
I have found the following issue.
When I try to use a custom evaluation function, it is only working when I either use parameter disable_default_eval_metric or choose a name for my evaluation metric that is lexicographically larger than the name of the default metric.
If you know these workarounds, they are acceptable, but it took me some time to find out how to overcome t

[2019-04-30 09:04] david-liu opened #4422 "[jvm-packages] false should be the default value of maximize_evaluation_metrics"
https://github.com/dmlc/xgboost/blob/253fdd8a42d5ec6b819788199584d27bf9ea6253/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoost.scala#L161

I use spark `XGBoostRegressor` to train model and set the NumEarlyStoppingRounds and the metric is ` rmse`, but my job throw exception:
[code]
which means the `XGBoostRegressor`  did not set the default value for `maximize_evalu

[2019-04-30 11:06] JaakobKind commented on #4421
Additional info: I use xgboost 0.82.
I checked whether I get the same issue in R and was not able to reproduce it there. Hence, it seems only to occur in the python version.

[2019-04-30 13:58] sararob commented on #4418
@tqchen thanks for putting in a fix so quickly. I really like your new example of "likes computer game X" since a specific game could appeal more to certain age groups. I'm happy to provide input / contribute to new examples in the future. Thanks again! Feel free to close.

[2019-04-30 14:45] ianlokh opened #4423 "Unable to run XGBoost in R - Invalid Parameter format for nthread expect int but value='4'"
Hi,

I keep encountering the following error after building XGBoost for R

Error in xgb.iter.update(bst$handle, dtrain, iteration - 1, obj) :
  Invalid Parameter format for nthread expect int but value='4'

Here is my code:
[code]

I have tried re-compiling the source but I am still getting the same error. I do not encounter this error when I install the package from CRAN

[2019-04-30 14:46] ianlokh opened #4424 "XGBoost R - Invalid Parameter format for nthread expect int but value='4'"
Hi,

I keep encountering the following error after building XGBoost for R

Error in xgb.iter.update(bst$handle, dtrain, iteration - 1, obj) :
  Invalid Parameter format for nthread expect int but value='4'

Here is my code:
[code]

I have tried re-compiling the source but I am still getting the same error. I do not encounter this error when I install the package from CRAN but I can only run a sing

[2019-04-30 14:47] #4424 closed

[2019-04-30 15:54] #4416 closed

[2019-04-30 16:18] CodingCat commented on #4389
@hcho3 unfortunately no, due to the breaking changes in the library depended by Spark, we can only compile and run xgboost with the consistent version

[2019-04-30 16:21] CodingCat commented on #4389
if in future, we are interested in maintenance release, the workflow (after releasing 0.9)

1. backport necessary fix to 0.9-branch

2.  release 0.9x for every, say, 2 months, or triggered by an important bug fix

3. major features and all fixes backported to 0.9x should be available in master

4. when release 1.0, cut a branch from master......

but again, once we have a big refactor in master an

[2019-04-30 16:34] hcho3 commented on #4399
@anayyar82 Did you follow instructions at https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#model-and-pipeline-persistence ?

[2019-04-30 17:32] hcho3 commented on #4389
@CodingCat Given the current side of dev community, let's punt on maintenance releases.

@tovbinm Sorry, I don't think we'll be able to do 0.83 release, due to lack of bandwidth. Is upgrading to Spark 2.4.3 feasible to you?

[2019-04-30 17:44] hcho3 commented on #4423
@ianlokh I cannot reproduce the problem. Can you post details about your system (OS, locale, C compiler version etc)?

[2019-04-30 17:45] #4418 closed

[2019-04-30 17:47] hcho3 commented on #4378
Double check if you are using correct Scala version (2.11). Also, print out the dependency tree (run `mvn dependency:tree -Dverbose -Dincludes=commons-collections`) and see if there's any conflicting package versions

[2019-04-30 17:48] #4366 closed

[2019-04-30 17:50] hcho3 commented on #4287
Closing for now. Once CUDA 10.2 is out, we can try running XGBoost again and see if the issue persists.

[2019-04-30 17:57] hcho3 commented on #4422
@david-liu This behavior is documented in https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#early-stopping. I do agree that automatically setting `maximize_evaluation_metrics` would be a nice feature to have. Feel free to submit a pull request.

[2019-04-30 18:12] #4135 closed

[2019-04-30 18:21] hcho3 commented on #4363
Any updates?

[2019-04-30 19:20] trivialfis commented on #4402
@med96 Can you specify XGBoost version and complete parameters set you used?  I tried to use default parameter on my local branch and didn't see any error.

[2019-05-01 00:37] tovbinm commented on #4389
That’s unfortunate. No, not in the short term. We are still on 2.3.x.

What’s the commit that upgraded Spark from 2.3 to 2.4? Perhaps we can cut there (if it’s above 0.82 of course).

[2019-05-01 00:44] hcho3 commented on #4389
@tovbinm You can build XGBoost with commit 711397d6452d596d7acbb68f1052ffebdee3e3af to use Spark 2.3.x.

[2019-05-01 01:54] tovbinm commented on #4389
Great. So why not make a public release from that commit?

[2019-05-01 01:58] hcho3 commented on #4389
As @CodingCat said, maintenance releases are not simply a matter of cutting before a commit. Also, making public releases are implicit promises of support. I do not think maintainers are up for maintaining two new releases at this point in time.

[2019-05-01 03:40] ianlokh commented on #4423
Hi Philip, thanks for the reply and followup! Previously I was on R 3.5.2 (OSX) and I upgraded to R 3.6.0 and recompiled XGBoost for R and somehow I did not get the error anymore. I suspect it could be some conflicts with other packages that I installed in 3.5.2.

This is because after installing 3.6.0 in OSX I had a clean library and the first package I tried to install was XGBoost and was able t

[2019-05-01 03:40] #4423 closed

[2019-05-01 03:59] #4217 closed

[2019-05-01 14:15] hlbkin commented on #4389
External memory with GPU predictor - this would mean code would not crash with what(): std::bad_alloc: out of memory anymore? (i.e. temporarily swap into RAM?)

related issue I guess https://github.com/dmlc/xgboost/issues/4184

[2019-05-01 17:32] hcho3 commented on #4389
@hlbkin You'll need to explicitly enable external memory, according to https://xgboost.readthedocs.io/en/latest/tutorials/external_memory.html

[2019-05-01 18:51] hcho3 commented on #4276
Related: https://discuss.xgboost.ai/t/scala-spark-xgboost-v0-81-shap-problem/817/3

[2019-05-01 23:06] hcho3 commented on #4075
@kgoyal40 @pford221 In pull request #4341, XGBoost now uses feature interaction constraints to preemptively narrow the search space for split candidates.

[2019-05-02 01:35] pford221 commented on #4075
Awesome work @sperlingxx and @hcho3! Thanks so much.

[2019-05-02 01:37] hcho3 commented on #4075
@pford221 No problem. Why don't you try it out and see if you get any performance improvement.

[2019-05-02 02:35] humzaiqbal opened #4429 "Python vs Java accuracy"
### Environment
[code]

### Training Parameters (Python)
Training parameters: max_depth: 8
num_boosting_iterations: 100

Hello, I trained an xgb boost model in python but I notice different results when I use the model on a feature vector in python vs java.

### Python Code
[code]

`This prints 0.674`

### Java code
[code]

And when I run this I get 0.6527.

Does anyone know why I may be experienc

[2019-05-02 02:36] humzaiqbal commented on #4429
[trained_data.model.zip](https://github.com/dmlc/xgboost/files/3136558/trained_data.model.zip)
Attached is a zip version of the model I trained

[2019-05-02 08:50] hcho3 opened #4431 "AUCPR metric fails for learning-to-rank"
Consider the following toy data for learning-to-rank:
[code]

This example fails because of the following error in the AUCPR metric function:
[code]

[2019-05-02 08:52] hcho3 commented on #4431
@kretes Have you experienced a problem with AUCPR?

[2019-05-02 09:21] kretes commented on #4431
Never used that, however when I add it I receive an error, but a different one:

[code]

[2019-05-02 09:28] kretes commented on #4356
@trivialfis should I summarize that in a ticket in the dmlc-core ?

[2019-05-02 10:35] trivialfis commented on #4356
Thanks.  No need, it's just I'm quite busy currently.   Will look into this.

[2019-05-02 11:45] kgoyal40 commented on #4075
Thanks !!

[2019-05-02 15:02] ras44 commented on #4097
In case anyone is interested, I was able to calculate the same values with the JSON output by using the following code.  Note the use of the float library to convert both input data and tree values to floats:

[code]

[2019-05-02 15:18] ras44 commented on #3960
For anyone interested, this will correctly reproduce the binary model's predictions for the above example by parsing the JSON output:
[code]

[2019-05-02 16:04] ras44 commented on #4060
@slundberg I ran into a similar issue and I believe the solution is to convert the thresholds to floats after parsing the JSON.

The decimal representation shown in the JSON is guaranteed to reproduce the float value, but it must be converted to a float before doing any further calculations.  In this case, the conversion to float would yield 85 (this is what the xgboost binary uses internally with

[2019-05-02 16:22] uzhao opened #4434 "No probability return with multi:softprob"
I tested below code and expect a matrix return with m.predict(x), however it output same result like softmax. Do I need a one-hot encoding input for y here?

m = xgboost.XGBClassifier(objective='multi:softprob', tree_method='gpu_exact')
m.fit(x, y)
Out[2]:
XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,

[2019-05-02 17:26] ras44 commented on #3980
One issue that might arise with JSON serialization is the treatment of serialized float values.  Presumably xgboost will be aware that all decimal values in the JSON should be cast as floats; however I believe most typical JSON parsers will treat the values as doubles, leading to discrepancies for downstream users who don't implement a post-parsing step to cast doubles to floats in the resulting o

[2019-05-02 18:17] hcho3 commented on #3980
@ras44 The JSON schema clearly says that all floating-point values are 32-bit: https://xgboost-json-schema.readthedocs.io/en/latest/#notations

[2019-05-02 20:05] yangzhou95 commented on #1715
# OMP: Error #15: Initializing libiomp5.dylib, but found libiomp5.dylib already initialized.

## OMP: Hint: This means that multiple copies of the OpenMP runtime have been linked into the program. That is dangerous, since it can degrade performance or cause incorrect results. The best thing to do is to ensure that only a single OpenMP runtime is linked into the process, e.g. by avoiding static lin

[2019-05-02 23:56] hcho3 commented on #4431
@kretes Thanks. The AUCPR metric seems to be quite buggy. I hope I can find time to teach myself the theory and fix it.

[2019-05-03 01:08] hcho3 commented on #4434
Try using `m.predict_proba()` instead.

[2019-05-03 01:08] #4434 closed

[2019-05-03 01:30] uzhao commented on #4434
I know predict_proba, but shouldn't softprob return probability?

[2019-05-03 01:33] hcho3 commented on #4434
@uzhao XGBClassifier follows the convention of scikit-learn, where `predict()` always returns label predictions and `predict_proba()` always returns probability predictions

[2019-05-03 02:32] CAM-Gerlach commented on #4379
Given the major status of this project and the major importance of this project to the scientific Python community, you should consider adding your name and logo to [Python3Statement.org](https://python3statement.org/) of projects planning to drop support for Python 2 on or before Jan 1 2020, to maximize public visibility of your support timeline in a central location, and help send the message th

[2019-05-03 02:50] hcho3 commented on #4379
@CAM-Gerlach Yes, we'd love to put our logo there. Can you go ahead and create a PR on our behalf? I'll sign it off.

[2019-05-03 03:12] CAM-Gerlach commented on #4379
@hcho3 Sure; I'll go ahead and tag you there. Thanks!

[2019-05-03 03:25] CAM-Gerlach commented on #4389
I assume its not possible to switch otherwise without a major version bump (i.e. 1.0), but when you do, could you consider supporting conformant [PEP 440](https://www.python.org/dev/peps/pep-0440/) version numbers (i.e. x.y.z), and preferably semantic versioning? The standard interpretation of 0.90 (rather than 0.9.0) would be that it is the 90th minor release of the major version 0.x (i.e. pre-st

[2019-05-03 03:26] CodingCat commented on #4389
+1

[2019-05-03 03:28] hcho3 commented on #4389
@CAM-Gerlach We'll consider it when we release 1.0. On the other hand, we don't want to rush to 1.0. We want 1.0 to be a milestone of some sort, in terms of features, stability, and performance.

[2019-05-03 03:48] hcho3 commented on #4431
@kretes I'd like to try to reproduce the error you posted. Do you have any sample data I can try?

[2019-05-03 03:54] CAM-Gerlach commented on #4379
@hcho3 Particularly since it is ending Python 2 support before 2020, it would be really nice to have the project in the timeline. What date should I put for the beginning of Python 3 support (or has it always supported Python 3 since the first release in 2014)? I couldn't find any info on this in the obvious places (Trove classifiers, .travis.yml/appveyor.yml, release notes, readme, etc).

Also, i

[2019-05-03 04:03] hcho3 commented on #4379
@CAM-Gerlach XGBoost has been tested with Python 3.x for a long while. At PyPI, we have been distributing "universal" wheels of XGBoost that are both Python 2 and 3 compatible. See https://pypi.org/project/xgboost/#files.

Only change with 0.90 release is that we will no longer make guarantee about supporting Python 2. We hope to make 0.90 by middle of May, assuming we can address the items in the

[2019-05-03 04:15] hcho3 commented on #4431
#4436 will fix this.

[2019-05-03 04:16] CAM-Gerlach commented on #4389
Thanks for the explanation, @hcho3 .

You probably want to make sure you set the [``python_requires``](https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires) argument to ``'>=3.5'`` in ``setup()`` to ensure users with Python 2 don't get upgraded to an incompatible version accidentally.

[2019-05-03 04:23] CAM-Gerlach commented on #4379
Okay, so about what rough timeframe should I put down for that, then?

[2019-05-03 04:59] hcho3 commented on #4379
At least since Nov 2015, based on this commit: https://github.com/dmlc/xgboost/commit/25c4fbd0cb5cbb8ad06533f5a6d147559d424563. This commit adds a compatibility layer to support Python 2 and 3.

[2019-05-03 15:01] kgoyal40 commented on #4075
Hey, I want to raise another issue. I've been running some experiment on XGBoost which uses feature interaction constraints. I use a dataset which has 9 features and a binary target. with feature interaction constraint of [[0, 5, 8], [3, 1, 6], [7, 4, 2]], I do a cross validation using following parameters

max_depth = [4,6,8], n_estimators = np.arange(10, 120, 5), eta = 0.1, verbosity = 1, eval_m

[2019-05-03 15:03] hcho3 commented on #4075
Most likely, the 3 features were used multiple times to fit depth-8 trees.

[2019-05-03 17:34] #4431 closed

[2019-05-04 00:13] ras44 commented on #3980
@hcho3 Thanks for your note.  My main point is that the if the JSON dump is to be used by anything other than xgboost (which will presumably need to implement a custom JSON parser that encodes/decodes floats according the schema), the user will have to consider multiple aspects in order produce the same results as xgboost.  It appears this is already happening in issues such as #3960, #4060, #4097

[2019-05-04 08:05] hlbkin commented on #4389
@hcho3 External memory is not available with GPU algorithms

[2019-05-04 08:24] hcho3 commented on #4389
@hlbkin You are right. External memory will be available only for GPU predictor, not training.

@rongou @sriramch Am I correct that GPU training isn't available with external memory?

[2019-05-05 11:34] chengaofeng1 opened #4440 "[jvm-packages] XGBoostModel training failed"
I am able to run binary classification with xgboost4j-spark on small amount of data. Keeping everything the same, as I increase the data and columns, I get XGBoostModel training failed error. I'm looking for some help in figure out if i'm missing something or how can I debug this issue.

2019-05-05 19:30:10,778 WARN  storage.BlockManagerMasterEndpoint: No more replicas available for rdd_3709_0 !
2

[2019-05-05 16:37] charmby opened #4441 "[jvm-packages] xgboost training has been stuck.No information output"
hi,I training a model with xgboost.
After loading the sample，my training job  is stuck. like this
![image](https://user-images.githubusercontent.com/6927947/57197127-f0aa1780-6f95-11e9-97c8-fd30db4d4136.png)
![image](https://user-images.githubusercontent.com/6927947/57197131-fef83380-6f95-11e9-9385-88363b6b4b86.png)
![image](https://user-images.githubusercontent.com/6927947/57197183-a83f2980-6f96-

[2019-05-05 20:48] ben519 opened #4442 ""ld: framework not found R" error given during multithread installation on osx"
I recently upgraded R to 3.6.0 on Mac OS X and now I cannot install xgboost multithreaded version. Here are my installation steps.

# 1. Upgrade cmake and gcc
[code]
# 2. Clone the repo
[code]

# 3. Create build directory
[code]

# 4. cmake
[code]

# 5. make -j4 (error occurs here)
[code]

[Others have run into this as well](https://discuss.xgboost.ai/t/multithread-r-installation-fails-macos-mojav

[2019-05-05 20:51] #4442 closed

[2019-05-05 20:51] hcho3 commented on #4442
I left my answer at https://discuss.xgboost.ai/t/multithread-r-installation-fails-macos-mojave-10-14-2/558/4

[2019-05-06 03:43] chengaofeng1 commented on #4440
I have checked the spark ui and found the code that caused the error,

![11_36_46__05_06_2019](https://user-images.githubusercontent.com/38199448/57205851-08b08400-6ff4-11e9-969d-2a957278b567.jpg)
![11_05_20__05_06_2019](https://user-images.githubusercontent.com/38199448/57205866-28e04300-6ff4-11e9-857c-c5a0c962a0b3.jpg)

but I still don't know how to  solve it, who can help me?

[2019-05-06 12:06] #4398 closed

[2019-05-06 14:15] michal-demecki-profil-software opened #4443 "Early Stop in Python (IndexError: list index out of range)"
https://github.com/dmlc/xgboost/blob/5de7e12704b38d81a46471e02a791d4c586a7286/python-package/xgboost/callback.py#L225

While using `TimeSeriesSplit` as cv for `GridSearchCV`,  `early_stop.callback` function may receive empty `evaluation_result_list`.
When it occur error is raised (`IndexError: list index out of range`)

[2019-05-06 14:55] sriramch commented on #4389
@hcho3 yes you are correct. we are working on it. the changes are [here](https://gist.github.com/sriramch/7d2494f6b2cc37ae57da6f0aa20da7cf) if you are interested. i'll have to sync this change with master and write some tests.

[2019-05-06 16:17] CodingCat commented on #4441
what's `runParams` in your code and how many cores you allocate to your spark application?

[2019-05-06 16:18] CodingCat commented on #4440
can you upload the logs from the failed executors?

[2019-05-06 16:42] trivialfis commented on #4443
@michal-demecki-profil-software Thanks for the issue.  Could you make a reproducible example?

[2019-05-06 17:21] hcho3 commented on #4389
@sriramch Awesome! Should we aim to include external memory training in the 0.90 release, or should we come back to it after 0.90?

[2019-05-06 18:10] CodingCat commented on #4389
just my two cents, let's reserve a bit on compacting many new features in 0.x (in a rush manner) and consider what is to be put in 1.0 as a milestone version

[2019-05-06 18:31] hcho3 commented on #4399
Closing for now

[2019-05-06 18:31] #4399 closed

[2019-05-06 18:50] hcho3 commented on #4389
@CodingCat I agree. FYI, I deleted distributed customized objective from 0.90 roadmap, since there was substantial disagreement in #4280. We'll consider it again after 0.90.

@sriramch Let's consider external memory training after 0.90 release. Thanks a lot for your hard work.

[2019-05-07 12:31] shishaochen opened #4444 "[jvm-packages] Why not support positional metrics like ndcg@5?"
Currently, allowed eval metrics are listed at [LearningTaskParams.scala](https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/LearningTaskParams.scala#L114).
[code]
Here comes the problem, metric names like "ndcg@5" is illegal when set in Spark APIs.
Why not support positional metrics in XGBoost Spark? Thanks a lot!

[2019-05-07 13:44] jakirkham opened #4445 "Allowing dynamic linking of NCCL"
Appears that [NCCL's static library is used](  https://github.com/dmlc/xgboost/blob/ade3f302373cf630f5115aca26cb40ea9cac78ac/cmake/modules/FindNccl.cmake#L36 ) when building xgboost. Am curious if it would be reasonable to allow users to dynamically link instead or as an alternative to static linking.

[2019-05-07 13:58] hcho3 commented on #4445
@jakirkham Static linking is used here so that multi-GPU training works "out of the box". Many users will install XGBoost by running `pip install xgboost`, without necessarily installing NCCL first. Is there a scenario where dynamic linking would be necessary?

[2019-05-07 17:20] trivialfis commented on #4445
@hcho3  Actually I would like to do that.  We stay with static by default, but add an option for dynamic linking.  To me, the reason is the same with dmlc-core, see  #4360 .

[2019-05-07 18:24] hcho3 commented on #4445
@trivialfis I see that dynamic linking of NCCL may be desirable when XGBoost is used as a dependency to another application (via CMake exported target). Especially when that application itself is using NCCL.

[2019-05-07 18:32] trivialfis commented on #4356
@hcho3 dmlc core defines its own `strtof` for performance, but doesn't support `nan` or `inf`.  I will see if it's possible to add the support or just generate a warning.

[2019-05-07 18:41] hcho3 commented on #4356
@trivialfis The latest dmlc-core actually has support for `nan` and `inf`: https://github.com/dmlc/dmlc-core/commit/8afbca699d9d9b720024e32d47a49f29b59c4c9e

[2019-05-07 18:47] trivialfis commented on #4356
Awesome, then I will try it tomorrow see if it can close this.

[2019-05-07 18:48] CodingCat commented on #4356
...every time for such a title to jump out from my inbox, I need to take a second look....

[2019-05-07 18:50] trivialfis commented on #4445
Code bloat is fine, it's nothing close to DL library.  The problem is it leads to undefined behaviour when we have functions with same signature but different implementation.

[2019-05-07 18:51] hcho3 commented on #4445
@trivialfis Meaning two versions of NCCL co-existing?

[2019-05-07 18:53] trivialfis commented on #4445
@hcho3 See https://github.com/trivialfis/xgbissues/tree/master/%234360

[2019-05-07 18:55] hcho3 commented on #4445
@trivialfis I don't think that link is exactly applicable to the case of NCCL, since we are not including the NCCL source code. We are importing the static library pre-compiled by NVIDIA.

[2019-05-07 18:58] trivialfis commented on #4445
The example above imports statically compiled version of `lib.h` in middle user, `lib.h` can be nccl,  `middleuser.cc` can be XGBoost.  And `finaluser.cc` can be users of XGBoost.

[2019-05-07 18:59] hcho3 commented on #4445
Got it. So to prevent undefined behavior, we want to de-duplicate dependencies, including dmlc-core and NCCL.

[2019-05-07 19:02] trivialfis commented on #4445
@hcho3

[2019-05-07 19:04] trivialfis commented on #4445
Yes.  That would be my reason.

[2019-05-07 19:16] jakirkham commented on #4445
Another use case for shared libraries is in package management. Namely we are able to create smaller packages and better track relationships between them by building shared libraries and creating explicit dependencies between upstream and downstream packages that need these shared libraries.

[2019-05-07 21:18] RAMitchell commented on #4389
This might be a good time to release the cuda 9.0 binaries instead of 8.0. I think 9.0 will now be sufficiently supported by users driver version. Additionally the 9.0 binaries will not need to be JIT compiled for the newer Volta architectures.

[2019-05-08 22:59] sjang92 commented on #4363
Hi, sorry about the late response.

Yeah, we allow the input LibSVM files to contain multiple non-binary integer labels, and during training time each non-negative label is remapped to pos label with their weights mapped separately.

Let me see how I can package our patches and send them upstream

[2019-05-09 15:03] Liuhaoge opened #4449 "Can monotonic constrains be used in multi Classification problem?"
In the latest version, monotonic constrains can be used in binary classification problem in distributed environment. But can it be used in multi Classification problem?

[2019-05-09 15:19] #4445 closed

[2019-05-09 16:19] jakirkham opened #4450 "Dynamic linking to CUDA runtime libraries"
It appears that the CUDA runtime libraries from cudatoolkit are getting statically linked. IIUC this is something that CMake itself is doing.

Previously one could use [`CUDA_USE_STATIC_CUDA_RUNTIME`]( https://cmake.org/cmake/help/v3.3/module/FindCUDA.html ) to configure whether static linkage is used or not. However that variable no longer seems to have an effect when switching to CUDA as a langu

[2019-05-09 17:02] trivialfis commented on #4450
@jakirkham Thanks for bringing this up.  I think I'm gonna leave it to CMake's default.

The static runtime is useful here.  Default pip package is compiled with CUDA support, but it also runs on platforms that don't have GPU support.  Static library acts as a stub for these platforms.  It's an 800K binary so it should be fine for packaging.

[2019-05-09 18:13] trivialfis commented on #3980
@hcho3 I will go ahead and create an initial draft implementation based on schema.

[2019-05-09 18:16] trivialfis commented on #3980
I will try to use dmlc::JSON, but add abstractions whenever needed.

[2019-05-09 18:18] hcho3 commented on #3980
Thanks for the update. Sorry I haven't had a chance to tackle the implementation yet. Let me know if you need any help or feedback.

[2019-05-09 19:49] #4422 closed

[2019-05-09 20:29] walid0925 opened #4451 "n_jobs ineffective in `predict()`"
When `.predict()` is called after loading a model from a `.pkl` file in a new session, all available threads are used at inference time, despite using `model.set_params(n_jobs=1)` (or `model.set_params(nthread=1)`). In my case, I had trained and saved a `XGBRegressor(n_jobs=1)` object.

A similar problem was referenced some time ago e.g. in https://github.com/dmlc/xgboost/issues/1345 but I think t

[2019-05-09 21:59] jakirkham commented on #4450
Thanks for the follow-up.

Yeah, that seems reasonable. It's also probably better to look into getting this option back into CMake.

Feel free to close this issue.

[2019-05-09 22:00] #4450 closed

[2019-05-09 22:02] jakirkham opened #4452 "Using an external CUB library"
It would be interesting to build xgboost with an external CUB library. This would be valuable in cases where other libraries also make use of CUB.

[2019-05-09 22:46] RAMitchell commented on #4452
This is not possible as cub is a template header library. The functions are compiled using extensive template specialisation for specific data types and purposes, these functions are not callable as a library.

[2019-05-10 04:37] #4409 closed

[2019-05-10 04:37] CodingCat commented on #4389
@hcho3 are we ready to go?

[2019-05-10 09:03] yz-nju opened #4456 "Recipe for target 'data.o' failed"
I failed to compile xgboost in 64-bit windows with both git-bash and mingw32-make. I followed the steps in https://xgboost.readthedocs.io/en/latest/build.html#building-on-windows, but always fail when compile dmlc-core/src/data.cc

<details>
<summary>click to see details</summary>
<pre><code>
g++ -c -O3 -Wall -Wno-unknown-pragmas -Iinclude -std=c++0x -fPIC -DDMLC_USE_HDFS=0 -DDMLC_USE_S3=0 -DDMLC_

[2019-05-10 09:45] yz-nju commented on #4456
I find that the problem appears since commit ee773cd (Add OMPException class and use it for text\_parser (#445)) of submodule dmlc. When I rollback to commits 958c22b of dmlc, I can successfully compile both dmlc and xgboost.

[2019-05-10 19:10] hcho3 commented on #4456
Looks like your compiler doesn't fully support C++11?

[2019-05-10 19:10] #4452 closed

[2019-05-10 20:43] hcho3 commented on #4389
Almost. I think #4438 should be merged.

[2019-05-10 21:45] hcho3 commented on #4389
All good now. I will go ahead and start working on the next release. ETA: May 16, 2019

[2019-05-11 17:29] hcho3 commented on #4389
@RAMitchell Should we use CUDA 9.0 or 9.2 for wheel releases?

[2019-05-11 22:05] RAMitchell commented on #4389
Lets use 9.2 as that is already set up on CI. The danger is that we require Nvidia drivers that are too new. For reference here is the table showing the correspondence between cuda version and drivers: https://docs.nvidia.com/deploy/cuda-compatibility/index.html#binary-compatibility__table-toolkit-driver

As far as I know this should not impact CPU algorithms in anyway. If users begin to report is

[2019-05-11 22:23] hcho3 commented on #4389
Hmm in that case I can try down-grading one of CI worker to CUDA 9.0. Since we are using Docker containers extensively, it should not be too difficult.

[2019-05-11 22:48] AMNeves opened #4460 "Not printing even with verbosity>0 and predict crashes silently"
Environment info:
Operating system : Windows 10
Python Version : 3.7  (Anaconda)
Xgb verson : 0.82

Hey, im facing a strange issue. I can train the model and predict the testing set fine with the code below:

[code]

I can get the output of style: `Kappa: 0.5943037988043391`
After this I load more data with about 18 million points to make a full prediction:

`
X, y, shape = data.load_prediction(DS

[2019-05-11 23:03] hcho3 commented on #4449
No. Currently, monotonic constraints are not applicable to multi-class classification problem.

[2019-05-11 23:10] hcho3 commented on #4460
Please set `eval_metric` when calling `fit()`, to display training information.

As for the silent crashing of `predict()`, I suspect you may be running out of memory. To avoid out-of-memory error, you can use set `predictor='cpu_predictor'` to predict with 18 million data points:
[code]

[2019-05-11 23:22] AMNeves commented on #4460
I see! i may change it to batch predict, anyway shouldnt the method throw an OOM exception or an error?

[2019-05-11 23:27] hcho3 commented on #4460
Unfortunately, OOM errors are difficult, because OS may kill the process before an exception can be thrown.

[2019-05-11 23:50] AMNeves commented on #4460
I checked memory usage with a cpu predictor, 8.076 mb, my GPU has 8GB total and about 6 free at time of the run.
It could also be using the integrated GPU wihch appears as GPU 0. Either way, issue fixed I thought it was a bug or a missing feature.

Also, sugestion, could try to calculate potential memory use from the dataset only before running and issue a warning. By using known heuristics from p

[2019-05-11 23:50] #4460 closed

[2019-05-12 04:56] #4449 closed

[2019-05-12 06:07] fcbruce commented on #4429
https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.DMatrix
The default missing value is `np.nan` in python api.

You can set the missing value by this code in Java:
`float missing = Float.NaN;`

[2019-05-12 08:06] hcho3 opened #4462 "[BLOCKING] Latest XGBoost with CUDA fails to compile on Windows"
* OS: Windows Server 2012 R2
* Compiler: Visual Studio 2017 (15.0.0+26228.76)
* CUDA: 9.0
* CMake version: 3.12.0

I checked out the latest code from the master branch and tried to build and got this error:

13>common.cu.obj : error LNK2038: mismatch detected for 'RuntimeLibrary': value 'MD_DynamicRelease' doesn't match value 'MT_StaticRelease' in cli_main.obj [C:\Users\Administrator\Desktop\xgboo

[2019-05-12 08:09] hcho3 commented on #4462
This time, I'm really hoping to set up CI for Windows for good.

Good news is that I finally managed to get SSH connection working with Windows EC2 workers. (Public key auth was quite tricky to get right.) Once this issue is fixed, I will submit a PR to add Windows GPU tests.

[2019-05-12 13:36] hzitoun commented on #1715
Does fix the problem. Thanks

[2019-05-12 23:38] hcho3 commented on #4462
Indeed, `hist_util.cu` is getting wrong compilation flag (`/MD` instead of `/MT`):

 "C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\bin\nvcc.exe" -gencode=arch=compute_35,code=\"sm_35,compute_35\" -gencode=arch=compute_50,code=\"sm_50,compute_50\" -gencode=arch=compute_52,code=\"sm_52,compute_52\" -gencode=arch=compute_60,code=\"sm_60,compute_60\" -gencode=arch=compute_61,code=\"sm_61,co

[2019-05-13 00:18] hcho3 commented on #4462
Update: The build is fixed if I manually replace
[code]
with
[code]
in all of the generated *.vcxproj files.

[2019-05-13 06:02] trivialfis commented on #4462
The cuda source code is split into host and device source during compilation.  So there are 3 different sources, c++ from cc file, c++ from cu files for host, and c++ from cu file for device.  My guess is the second one went wrong because its flags are controlled by CMake CUDA language instead of CXX language.

[2019-05-13 06:04] trivialfis commented on #4462
We just need to copy the  configuration for CMake CXX to CUDA lang.

[2019-05-13 06:22] hcho3 commented on #4462
Interesting.

@trivialfis Do you have a suggestion? So far I came up with #4463 and I'm wondering if you have a more elegant fix.

[2019-05-13 06:33] mayer79 opened #4464 "[Question] Why is `reg_alpha` called "l1 regularization"?"
According to the original XGBoost paper, `reg_alpha` penalizes the number of leaves and thus seems independent of the node values w.
Why is it called "l1 regularization"?

For `reg_lambda`, the term "l2 regularization" makes sense as it penalizes w^2, so one would think that "l1 regularization" would penalize |w|.

[2019-05-13 06:48] mayer79 opened #4465 "[Question] reg_lambda and regression"
The parameter `reg_lambda` pulls leaf values towards 0. What is the intention of doing so for regression targets with mean far away from zero? It seems to introduce mean biased predictions that would be corrected by subsequent boosting rounds, eventually leading to slower convergence.

Would it make sense to mean center the target first in order to get rid of this effect resp. could this be a moti

[2019-05-13 11:52] #4456 closed

[2019-05-13 12:30] charmby commented on #4441
Thank you very much for your reply.this is my runParams.
[code]
and spark conf
[code]

[2019-05-13 16:11] BrunoBarre opened #4466 "Feature importance metrics compared to sklearn"
Hello and thanks for the implementation :+1:

In Sklearn, for example with DecisionTreeClassifier, we have the feature_importances_, which returns the (normalized) Gini Importance. For the criterion we can choose between the Gini Impurity and the Information Gain.

In the XGBClassifier, the parameter importance_type can be set to "gain" and "total_gain", among others.

I would like to, kind of, be

[2019-05-13 22:49] rydevera3 opened #4467 "Results between multi:softprob and custom softmax do not match"
I am trying to create a custom softmax objective for multiclass classification in xgboost. To start I thought I would start with the basic softmax case. I use `multi:softprob` and a custom function. Here is a reproducible example:

[code]

I tried to follow the example given here - https://gist.github.com/ytsaig/a596feec53d2a024ac69f5ae5a83d8f7 but I am unsuccessful. Has anyone been able to get su

[2019-05-14 04:45] #4462 closed

[2019-05-14 12:47] kyoungrok0517 commented on #4361
Any update on this issue??

[2019-05-14 19:07] neha-tomar opened #4470 "Saving XGBoost model is failing with NoSuchMethodError"
I am using XGBoost4J latest release version 0.82 with Spark 2.4. I see below exception while saving the model.

`java.lang.NoSuchMethodError: org.json4s.jackson.JsonMethods$.parse(Lorg/json4s/JsonInput;Z)Lorg/json4s/JsonAST$JValue

	at ml.dmlc.xgboost4j.scala.spark.params.DefaultXGBoostParamsWriter$$anonfun$1$$anonfun$3.apply(DefaultXGBoostParamsWriter.scala:73)
	at ml.dmlc.xgboost4j.scala.spark.p

[2019-05-14 19:12] CodingCat commented on #4470
0.82 doesn’t support 2.4

On Tue, May 14, 2019 at 12:07 PM neha-tomar <notifications@github.com>
wrote:

[2019-05-14 19:12] hcho3 commented on #4470
0.82 doesn't support Spark 2.4. Can you wait a little until 0.90 comes out?

[2019-05-14 19:40] neha-tomar commented on #4470
Thanks for replying. What are the timelines for 0.90?

[2019-05-14 19:53] hcho3 commented on #4470
@neha-tomar It's coming out by end of this week

[2019-05-14 20:02] neha-tomar commented on #4470
In that case, I can wait for 0.90. I am using Spark 2.4 and need a version that works with that. At present, XGBoost4J documentation says "XGBoost4J-Spark requires Apache Spark 2.4+" and latest release is 0.82. It seems to be incorrect. Could you please provide more clarification in documentation regarding version compatibility. Also, I believe 0.90 would work with Spark 2.4 and above versions. Pl

[2019-05-14 20:05] hcho3 commented on #4470
@neha-tomar You are looking at the documentation for the latest master branch. https://xgboost.readthedocs.io/en/release_0.82/ is the documentation for 0.82 version.
And yes, 0.90 will work with Spark 2.4.3.

[2019-05-14 20:21] hcho3 commented on #4389
I'm going to prepare 0.90 release now. My goal is to have the release note complete by end of this week.

[2019-05-14 20:46] hcho3 commented on #4361
@kyoungrok0517 I just tried loading the pickle you uploaded on p2.xlarge machine (single GPU), and I did not get the same error.

[2019-05-14 20:58] hcho3 commented on #4464
In
https://github.com/dmlc/xgboost/blob/17df5fd296aaff18123c53a777f24111b3dd7336/src/tree/split_evaluator.cc#L137-L139

we have a penalty term that penalizes |w|, and it uses `reg_alpha`.

[2019-05-14 20:58] #4464 closed

[2019-05-14 21:12] hcho3 commented on #4465
The motivation for pushing leaf values toward 0 is to prevent over-confident predictions. I agree that in regression setting, we may want to start boosting from the average to speed up convergence. There is a discussion about boosting from average: #4321

[2019-05-14 21:12] #4465 closed

[2019-05-14 21:17] hcho3 commented on #4466
XGBoost has no feature importance measure that's equivalent to scikit-learn's. The reason is that scikit-learn uses Gini Impurity and Information Gain to choose optimal splits, whereas XGBoost uses gradient statistics.

[2019-05-14 21:17] #4466 closed

[2019-05-14 21:31] hcho3 commented on #4369
@jtromans

Have you checked if you have sufficient memory on the GPU?

[2019-05-14 22:32] CodingCat commented on #3946
@bourbaki are you working on this?

[2019-05-14 23:00] hcho3 opened #4471 "C++ tests for external memory are silently crashing on Windows"
Three tests related to external memory results in a silent crash:
* `gpu_predictor.ExternalMemoryTest`
* `SparsePageDMatrix.RowAccess`
* `cpu_predictor.ExternalMemoryTest`

Example of crash:
[code]

Somehow the act of writing `big.libsvm.cache` seems to cause the crash.

[2019-05-15 00:48] mayer79 commented on #4464
Oh, this is very good to know. Thus, the number of leaves - as described in the original paper - is not implemented?

[2019-05-15 00:50] hcho3 commented on #4464
You should use `max_leaves` and `max_depth`

[2019-05-15 00:53] hcho3 commented on #4471
@RAMitchell @trivialfis dmlc/dmlc-core#532 should fix this.

[2019-05-15 01:09] mayer79 commented on #4464
Right but these are constraints, not penalties. I was referring to formula (2) in the paper that defines the penalty term as lambda times sum of w^2 plus alpha times the number of leaves |T| (cannot add screenshot).

[2019-05-15 01:12] hcho3 commented on #4464
Yes, in practice we put a hard constraint on the depth and number of leaves.

[2019-05-15 01:31] #4471 closed

[2019-05-15 07:31] skale1990 opened #4472 "[spark-2.4.0, xgboost-0.82] Running xgboost training in threads crashes the executors"
I'm trying to evaluate xgboost training by spawning some threads in threadpool.

a. When i execute training with single thread, things work well.
b. When I execute training with 5 threads with same data as of #a then also it works well.
c. When i increase the threads to 9, xgboost model creation crash the executor with below trace -

`java classes where applicable
[12:51:18] Tree method is automat

[2019-05-15 11:12] agiulietti commented on #4399
Hi, it is not clear for me how the issue was resolved. I've got the same problem when trying to save the xgboost4j model using Scala 2.11 and Spark 2.4.0:

**java.lang.NoSuchMethodError: org.json4s.jackson.JsonMethods$.parse(Lorg/json4s/JsonInput;Z)Lorg/json4s/JsonAST$JValue**

When trying to use either the 0.83 or 0.82 JAR snapshots provided (thanks) I get an error when trying to create the class

[2019-05-15 11:15] #4470 closed

[2019-05-16 02:03] CodingCat commented on #4399
For all class not found error, check if you messed up scala 2.11/2.12

For all jackson related thing, 2.4 spark is not supported in any way

[2019-05-16 15:46] ZhenyiLin commented on #4378
I met an exactly same issue, I guess it is because I'm using SPARK2-2.3.0.cloudera2, while Upstream XGBoost is not guaranteed to work with third-party distributions of Spark, such as Cloudera Spark.

[2019-05-16 15:53] phillyfan1138 commented on #4378
Interesting!  I'm on cloudera as well.  The fact that its complaining about an old version of jackson makes me think that the problem is fixable.  I just haven't found the solution yet.

[2019-05-16 15:58] CodingCat commented on #4378
No official support on anything other than apache spark, no official support on pyspark (coming in 1.0 release)

Why there is jackson issue? Jackson itself brings some breaking changes, leading to spark doesn’t have cross-version binary compatibility, then when we compile xgboost with spark, it also suffers from that...cloudera is very likely to mask the change of jackson cross their own spark ver

[2019-05-16 21:30] CodingCat commented on #4472
try set tree_method to `hist`, (but don't set use_external_memory to true)

[2019-05-16 21:31] ecampana commented on #3370
@CodingCat has the above issue mentioned about information gain been resolved in version 1.0 that you mentioned in the other thread? Thank you in advance.

[2019-05-16 21:46] CodingCat commented on #4472
wait, what do you mean by `spawning some threads in threadpool.`?

[2019-05-17 14:43] adithyabsk opened #4477 "Better XGBoost installation on Mac OSX?"
#### Issue
Currently on MacOS the process to install the python package is as follows.

[code]
#### Question
What I would like to learn from a more experienced contributor is whether there are any plans to simplify this install process? The above is not tenable for an automated install system for any package that depends on xgboost. What would be required to make xgboost compatible with Apple's cl

[2019-05-17 15:26] hcho3 commented on #4477
Apple’s clang doesn’t support OpenMP out of the box, so hence Homebrew GCC is needed. So, no, XGBoost will not be compatible with Apple’s clang.

I think we can simplify the process by distributing binary wheels for Mac OSX. The binary wheels will contain pre-built libxgboost.dylib so that the user won’t need to have any compiler.

However, I’m afraid that the maintainers currently are not familia

[2019-05-17 15:32] skale1990 commented on #4472
@CodingCat We are creating the threadpool having n (configurable parameter) threads on the driver. In each thread, we basically do following steps-
a. Connect to external Database and fetch the historical data
b. Do data preprocessing and engineering
c. train the xgboost model (xgboost-spark4j)
d. evaluate the model

Please let me know if you need any other information

[2019-05-17 15:36] adithyabsk commented on #4477
@hcho3 thanks for your quick response! Conda certainly is an option but it would be much simpler to use pip. I'll look into what binary packaging on macos would look like. I am also not familiar with binary packaging, so anyone else's input who has experience in that area would be much appreciated.

[2019-05-17 15:59] CodingCat commented on #4472
why you need to create threadpool instead of just spawning n Spark tasks?

[2019-05-18 06:17] trivialfis commented on #4402
@med96 Any update?  Could you provide a reproducible script without using pickle?

Don't close this for now.

[2019-05-18 06:18] trivialfis commented on #4443
@michal-demecki-profil-software Any update?

[2019-05-18 08:01] trivialfis commented on #4354
Hi @hcho3 Could you post some references for feature grouping when time allows?  Like:

- Reference for grouping algorithm.
- What's the bottle neck in #2326 (time, space or both?)
- Where does the bottle neck come from, `column_matrix` implementation, the algorithm itself or somewhere else?
- Any other related issues, like difficulties you encountered before.

- Are you working on it? ;-)

[2019-05-18 18:44] trivialfis commented on #4467
@rydevera3 Since the training error is increasing, I would say your implementation is incorrect.  I think you forgot to compute `softmax(preds)` to transform preds first.

[2019-05-19 15:10] charmby commented on #4441
Who met this problem？Could you give me some advice？

[2019-05-19 15:17] CodingCat commented on #4441
double check your code, why you set num_workers as 100 but got 200 tasks in foreachPartitiom stage?

[2019-05-19 18:58] jppereyra commented on #4287
I was getting the same error with 418, so tried downgrading to CUDA 10.0 and nvidia-driver 410.104 but still getting the exact same error:

[code]
Here's the output of nvidia-smi for reference:
[code]

[2019-05-19 19:07] trivialfis commented on #4287
@jppereyra Could you please provide a reproducible script without using pickle?

[2019-05-20 00:45] chenqin commented on #4200
@shuyanmei is the issue still relevant, if so can you try latest python tracker (via python3)

[2019-05-20 01:49] CodingCat commented on #3946
ping @bourbaki

[2019-05-20 04:00] douglasren commented on #4369
When I put the data dimension is rose from 500 to 800 +, I met the same problem. This is a problem that can emersion

[2019-05-20 04:17] readilychen opened #4479 "binary:logistic most predict result very close to 0"
1.with our recently built models, predict result are very close to 0, such as below:
5.88484E-06
3.42964E-06
3.42176E-06
9.57E-07
8.68E-07
3.90E-07
1.89E-07
9.22E-08
7.62E-08

2. previous model we could get normal results(mainly between 0.1 and 1), such as:
0.999991565
0.999515528
0.998715854
9.80E-01
9.78E-01
9.75E-01
9.57E-01
9.36E-01
9.04E-01
9.03E-01
8.18E-01
8.15E-01
7.71E-01
7.58E-01
7.05E-0

[2019-05-20 04:42] trivialfis commented on #4479
@readilychen
- Could you run the same dataset with two different versions?
- If above result is abnormal, could you provide us the git commit hashes (or release version) of two different versions?  Also with a reproducible script so that we can look into it?

[2019-05-20 04:44] trivialfis commented on #4467
@rydevera3 Closing for now.  Please verify your implementation of `softmax` objective.  Feel free to reopen if the result is still different after adding correct softmax transformation.

[2019-05-20 04:44] #4467 closed

[2019-05-20 04:47] trivialfis commented on #4421
@JaakobKind Sorry for late reply,  will look into this.

[2019-05-20 04:59] skale1990 commented on #4472
There are certain business decisions that has to be taken post executing all these threads. Apart from these there is a constraint on number of connection to the external database while fetching these data. We thought choosing this approach will help us to control the number of connection as well as to take certain business decisions collectively for all the threads.

[2019-05-20 05:04] CodingCat commented on #4472
I don't think we have tested such use cases and if Rabit's design is naturally supporting such usage pattern

I would suspect there are some race condition introduced by your multi-threading strategy

I didn't see this problem when spawning Spark tasks

[2019-05-20 06:01] skale1990 commented on #4472
@CodingCat I think, this particular exception is quite normal in the xgboost arena. I went through few bugs that were raised having same stack trace - https://github.com/dmlc/xgboost/pull/1334

I'm unsure, why this race condition happening with 9 threads but not with 5 threads.

[2019-05-20 06:04] CodingCat commented on #4472
again, XGBoost currently does not have tested with parallel model training in the same Spark application, regardless it is quite normal or not

race condition happens with more threads is very commonly seen, as the natural of race condition is an unexpected execution order of threads. with More threads, there are more chances to have an unexpected order

[2019-05-20 06:23] trivialfis commented on #4421
@hcho3 Can I borrow some help here?  What's the convention for early stopping when multiple evaluation metrics are used?  Monitor one of them or all of them?

[2019-05-20 08:49] jtromans commented on #4369
@hcho3 thanks for coming back on this.

Of course I have checked the memory.

As per the original post, I have using a number of 2080Ti GPUs for this. Based on nvidia-smi, the GPU RAM utilisation is low, usually well below 50%. It makes sense if you look at the training data, since it is not very large.

Are we able to make any further progress on this?

[2019-05-20 09:23] bourbaki commented on #3946
Sorry for the late reply. I have been busy for the last couple of weeks. I started to work on it. I am planning to spend some time on this week.

[2019-05-20 16:17] fpleoni commented on #4287
@jppereyra thanks for posting this,
@trivialfis thanks for jumping in so quickly, here's the script and data we're using.

### Script

Please note that this script uses sklearn.utils.parallel_backend, and the exact same results can be reproduced using SequentialBackend with 1 process.

[code]

### Input files

https://github.com/fpleoni/fashion_mnist/blob/master/fashion-mnist_train.csv

### Output

[2019-05-20 17:11] trivialfis commented on #4287
This with #4405 both freeze my machine after failure.  Will try it on my laptop later see what happens.

[2019-05-20 17:14] srowen opened #4480 "Error in error message from `_maybe_pandas_data` : `TypeError: sequence item 0: expected str instance, int found`"
This is just a minor bug, I believe, in how `_maybe_pandas_data` tries to report an error. The error message itself generates an error.

My code ended up passing a DataFrame with bad type to xgboost, which triggers the error at https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/core.py#L239 This is all fine and expected.

However the `.join` in that line causes a different error to

[2019-05-20 17:21] #4472 closed

[2019-05-20 17:22] trivialfis commented on #4480
@srowen Thanks for the issue.  Please go ahead and open a PR.

[2019-05-20 18:09] vladpetric opened #4482 "Ability to drop references to underlying DMatrix objects while keeping the booster object alive"
Our DMatrix objects consume a lot of memory. Because the booster class keeps a reference to the DMatrix objects used for training and validation (evals), they never get released (destructed) while the booster object is alive.

We confirmed this by running our test setup under gdb. We observed that C++ shared_ptr references to DMatrix objects grow, but because we keep the Python booster objects aro

[2019-05-20 18:21] trivialfis commented on #4482
@RAMitchell related to #4354 .  WDYT?

[2019-05-20 18:32] vladpetric commented on #4482
It certainly seems related to #4354 , though I should say that this is more about how DMatrixes are used and reference-counted, rather than how they are implemented.

[2019-05-20 18:39] trivialfis commented on #4482
@vladpetric You are right and I agree with your proposal, booster and DMatrix should be decoupled.  But that requires a thorough inspection of current code base, so putting it into the DMatrix refactor plan seems appropriate.

[2019-05-20 18:47] vladpetric commented on #4482
Thanks!

[2019-05-20 19:05] ZhenyiLin commented on #4378
Tested 0.82 version in local mode Apache Spark 2.3.3, not see Jackson readTree issue anymore.

[2019-05-20 20:12] thekvs opened #4483 "Static libxgboost.a library target for CMake build on Linux"
XGBoost compiled with running `make` from the source root produces shared **and** static libraries (i.e. `./lib/libxgboost.a` and `./lib/libxgboost.so`), while if we use `cmake` + `make` build procedure we only have shared version of libxgboost. Sometimes it is very convenient to have statically built library.

[2019-05-20 21:07] RAMitchell commented on #4483
PRs are welcome.

[2019-05-20 21:28] hcho3 commented on #4389
Closed by #4475

[2019-05-20 21:28] #4389 closed

[2019-05-21 02:00] readilychen commented on #4479
I trained a new model(compressed in attch c_20190425000520.zip) using the previous dataset, but the results  still very closed to 0.

test features could be as bellow(more date attched in file "features.txt"):
     2.1806559509808634E-7,1603076700,0:4233.0,1:103.0,8:44.0,9:1916.0,10:5.0,11:1.0,17:1.0,25:1.0,31:1.0,33:0.57725316,34:0.99894726,35:0.08380299,36:0.093063265,38:0.9155823,39:0.15018855,

[2019-05-21 02:17] Denisevi4 commented on #4479
whats eta value here?

[2019-05-21 02:24] readilychen commented on #4479
eta = 0.8

[2019-05-21 04:07] readilychen commented on #4479
I traced our online predict process, then find out that 2 features lossed online, which leading this problem.

[2019-05-21 04:07] #4479 closed

[2019-05-21 08:19] #4480 closed

[2019-05-21 08:53] charmby commented on #4441
num_workers =100，but spark config args --num-executors 200

[2019-05-21 12:48] PyDataBlog commented on #4173
@hcho3 unfortunately, the same issue pops up when I try to use sklearn's GridSearchCV

[code]

`XGBoostError: b'[14:33:06] ..\\xgboost\\src\\objective\\./regression_loss.h:62: Check failed: base_score > 0.0f && base_score < 1.0f base_score must be in (0,1) for logistic loss'`

[2019-05-21 12:52] hcho3 commented on #4173
Are you using the latest version?

[2019-05-21 12:54] PyDataBlog commented on #4173
yep, 0.82

[2019-05-21 13:00] hcho3 commented on #4173
Can you post a toy data so that I can reproduce the problem you're experiencing?

[2019-05-21 13:01] PyDataBlog commented on #4173
I just updated to 0.90. I will rerun the code and post a toy data here if the same issue persists

[2019-05-21 13:10] PyDataBlog commented on #4173
@hcho3 still persists. I will push a toy data

`XGBoostError: [15:05:08] c:\jenkins\workspace\xgboost-win64_release_0.90\src\objective\./regression_loss.h:62: Check failed: base_score > 0.0f && base_score < 1.0f: base_score must be in (0,1) for logistic loss`

[2019-05-21 13:30] hcho3 commented on #4173
@PyDataBlog Are you using English locale?

[2019-05-21 13:33] PyDataBlog commented on #4173
yes but I do have a Danish locale installed but I don't use that locale. English is by default.

[2019-05-21 15:25] benjamincitrin opened #4484 "[JVM-Packages] xgboost4j-spark test failing on execution"
Failure on xgboost-spark test during 'mvn install'.  I am able to successfully run 'spark-shell' and 'pyspark' from a cmd window.  The ultimate error during the install is:

`java.io.FileNotFoundException: http://R90RX77X.cpu.com:4040/api/v1/applications/local-1558451714684/executors
        at sun.net.www.protocol.http.HttpURLConnection.getInputStream0(HttpURLConnection.java:1890)
        at sun.

[2019-05-21 16:47] CodingCat commented on #4484
check lines like `Tracker started, with env={}`

it indicates a network conf problem in you local leading to that tracker cannot bind to the local ip addr

[2019-05-21 16:50] CodingCat commented on #4441
8 days ago, you told that `--num-executors 100`, now you say `--num-executors 200`?

and num of executors will not change the number of tasks,

based on what you said 8 days ago, your xgb app needs 200 workers to train but your app only has 100 cores....this is the reason your app stuck

[2019-05-21 16:50] #4441 closed

[2019-05-21 16:50] #4484 closed

[2019-05-21 16:51] CodingCat commented on #4444
a PR is welcome

[2019-05-22 00:55] hcho3 commented on #4421
@trivialfis The convention is to always use the first metric for early stopping

[2019-05-22 02:03] ivinogra commented on #4482
I can confirm that this hack will allow deleting a DMatrix (from python):
[code]
It is also necessary to `del more_params['evals']` if this parameter was used, and accordingly for other parameters. While DMatrix code is being refactored, is it reasonable to note in the comments to the code that releasing a DMatrix may require deleting any boosters that have trained on it?

[2019-05-22 05:30] trivialfis commented on #4482
@ivinogra I'm not sure yet.

[2019-05-22 14:34] anayyar82 opened #4485 "objective given invalid value reg:linear using spark 2.4"
When giving with

  "booster" -> "gbtree",
      "objective" -> "reg:linear",

with latest build using spark 2.4

xgbr_f65bb991230b parameter objective given invalid value reg:linear.

[2019-05-22 22:05] MarvinT opened #4489 "pip3 install xgboost doesn't install libgomp.so in 0.90 on travis"
TravisCI has updated my repo to xgboost 0.90 (from 0.82) and I'm getting an error
[code]

Hopefully current solution: (still waiting for travis build to complete)
[code]

I'm not sure if the pip installed binaries are supposed to include all the libraries or why this changed from 0.82 to .90, but I just wanted to raise the issue and let people know.

[2019-05-22 22:16] trivialfis commented on #4489
@MarvinT Should work,  I just did:

and dkpg returned:

[2019-05-23 00:44] hcho3 commented on #4354
@trivialfis Feature grouping is a heuristic to cut down the number of feature columns in a sparse, high-dimensional dataset. It reduces memory cost and improves performance on multi-core CPUs (by improving work balance among worker threads). Addressing your questions:

* Reference for grouping algorithm: See [the LightGBM paper](https://papers.nips.cc/paper/6907-lightgbm-a-highly-efficient-gradien

[2019-05-23 01:35] yangjx12 commented on #4300
A simple way, ignore the warning.

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)dd

[2019-05-23 09:05] trivialfis commented on #4354
Absolutely.  Thanks for the information.

[2019-05-23 09:06] trivialfis commented on #4489
@MarvinT Any update on this?  How's it doing?

[2019-05-23 13:34] H4dr1en commented on #4300
Ignoring warnings should never be a solution

[2019-05-23 15:23] MarvinT commented on #4489
Sorry, this is the new error I'm getting:
[code]
Here's a travis build if you want to see the configuration:
https://travis-ci.com/MarvinT/morphs/jobs/202333691

[2019-05-23 16:18] trivialfis commented on #4489
@MarvinT I don't have Ubuntu 14, but it might be the used gcc version mismatched.  We now build XGBoost with GCC 5.3.1, previously GCC 4.8.

[2019-05-23 16:22] trivialfis commented on #4485
@anayyar82 f65bb991230b is not a git hash.  Could you please provide a complete error trace with XGBoost release tag or git commit hash?

[2019-05-23 16:26] CodingCat commented on #4485
reg:linear is renamed to reg:squarederror read https://xgboost.readthedocs.io/en/latest/parameter.html#learning-task-parameters

[2019-05-23 16:38] trivialfis commented on #4485
@CodingCat I committed the renaming,  it should emit a warning instead of an error.

[2019-05-23 16:39] trivialfis commented on #4485
@CodingCat See https://github.com/dmlc/xgboost/blob/5a567ec24979ddd3bd033f336ff15585e736701e/src/objective/regression_obj.cu#L178

[2019-05-23 16:51] CodingCat commented on #4485
well, because of this change, it throws error in spark layer, https://github.com/dmlc/xgboost/commit/29a1356669cb3c3ca2a6b22bced5047912072804#diff-4a340c5f54c4e6a6241957fae8581075L102

it's not that bad to me

[2019-05-23 16:56] hcho3 commented on #4489
@trivialfis I wonder if it’s possible to bundle older libgomp when building with GCC 5.3.1

[2019-05-23 16:58] MarvinT commented on #4489
Yeah, sorry I don't have much time to follow this for you atm, I think I'm just going to downgrade to 0.82. I was just letting you guys know that this is an issue on the default ```pip install xgboost``` on travis

[2019-05-23 17:01] trivialfis commented on #4485
@CodingCat Oops, I will add it back later, the plan was to keep it for a while.  But this does alert me that lots of logic got duplicated in language binding layers.  I was to add more objectives and metrics, is it possible that we lower these things all into C++?  I can code some java but not scala ...

[2019-05-23 17:02] hcho3 commented on #4489
@trivialfis I didn’t expect this issue when we upgraded GCC version in #4306

[2019-05-23 17:48] hcho3 commented on #4489
@MarvinT Ubuntu 14.04 has reached its end of life last month. You should consider changing the Travis CI setting to use later version of Ubuntu.

[2019-05-23 17:48] #4489 closed

[2019-05-23 19:29] jier commented on #4443
I have one reproducable error
`xgb_params = {"objective": "rank:pairwise", "eta": 0.0001, "max_depth": 7, "seed": 0, "verbosity": 0,\
                    "eval_metric": "ndcg@5", "nthread": -1, "subsample":0.5, "colsample_bytree":0.5,
                    "min_child_weight":1,"reg_lambda":1, "reg_alpha":0,"max_delta_step":0.5,"scale_pos_weight":0.3,
                    "colsample_bylevel":0.5, "n_j

[2019-05-23 19:30] hcho3 commented on #4443
@jier Can you post the dataset `X_TRAIN`?

[2019-05-23 19:36] jier commented on #4443
train = pd.read_csv("../training_set_VU_DM.csv", nrows=10000)
X_TEST = pd.read_csv("../test_set_VU_DM.csv")
Both dataset contains at least million rows, pd stands for pandas. So my purpose was just to investigate if the xgboost could train on this small train-set and fit on the huge test-set. Both dataset are modified from the original Kaggle competition: Expedia Hotel Ranking problem.

[2019-05-23 20:17] avinashbarnwal opened #4491 "[RFC] Loss Functions - Survival Model and Binomial Loss with count upper bound"
**Motivation**

XGBoost supports a different kind of loss functions ranging from least square to cox-proportional hazard model. We have rich support for linear regression, classification, count and survival loss models. But, adding more important survival and classification loss functions would improve the features and flexibility of the package.

**Goals**

- Support survival model - Accelerated

[2019-05-23 20:25] #4242 closed

[2019-05-23 20:27] hcho3 commented on #4242
Closing this in favor of #4491

[2019-05-23 20:28] hcho3 commented on #4491
For those unfamiliar with survival analysis: [this survey paper](http://dmkd.cs.vt.edu/papers/CSUR17.pdf) provides an excellent overview of survival analysis.

[2019-05-23 21:04] FelixNeutatz opened #4492 "Error for prediction on large sparse matrix"
Dear all,

I just encountered the following exception while predicting on a very large sparse matrix:
[code]

[code]

Is this a known issue?

For now, I solve the issue by using the .todense() method on the matrix.

Best regards,
Felix

[2019-05-23 21:26] tdhock commented on #4491
you wrote that AFT model requires "extra sigma for normal distribution as a parameter to be estimated and beta for logistic distribution" but it would be better if you use the standard parameterization, which has sigma for both distributions, and allows easy extension to other distributions as well. this is described in section 6.9 of the survival package manual http://members.cbio.mines-paristech

[2019-05-23 21:29] tdhock commented on #4491
also see https://github.com/avinashbarnwal/xgboost/issues/1 which is a summary of calls with @avinashbarnwal our GSOC'19 student

[2019-05-23 21:41] avinashbarnwal commented on #4491
I will change it to standard parameterization-sigma for both distributions. I was referring to your document https://github.com/tdhock/aft-poster/blob/master/HOCKING-AFT.pdf for log-logistic where you have mentioned beta as the parameter.

[2019-05-23 22:02] #4485 closed

[2019-05-24 00:30] victorz-ca opened #4493 "xgb.plot.tree throws an error"
Using xgbbost 0.82.1 updated from CRAN.
Following example in [https://xgboost.readthedocs.io/en/latest/R-package/xgboostPresentation.html](url), and I get the following error.

Error in xgb.plot.tree(bstSparse) :
  model: Has to be an object of class xgb.Booster

For reference, the object bstSparse does have class xgb.Boost:

$names
[1] "handle"         "raw"            "niter"          "evaluatio

[2019-05-24 02:55] trivialfis commented on #4489
@MarvinT Travis is moving to Ubuntu 16:

https://blog.travis-ci.com/2019-04-15-xenial-default-build-environment

[2019-05-24 03:06] trivialfis commented on #4492
@FelixNeutatz Never seen it before.  It seems the error is coming from Python itself.  The dmatrix handling error is a side effect of previous error and is fixed in 0.90.(but no more Python 2 support in 0.90)

[2019-05-24 06:06] pseudotensor opened #4494 "GPU model pickled state does not work on non-GPU system"
[code]

This used to work with xgboost, but does not anymore.  Normally I would be able to load a pickled model, and then before running predict I would be able to change the predictor and model parameters to use no gpus.  But the check is already during pickle loading.

@hcho3

[2019-05-24 06:19] pseudotensor commented on #4494
when wanting to use a GPU model on a GPU-less system, I was normally load the pickle state and then do:
[code]
but this is impossible if loading pickled state itself pre-checks everything and fails already.

[2019-05-24 06:32] hcho3 commented on #4494
@trivialfis I think it’s related to #4454. Let me review it

[2019-05-24 07:54] MarvinT commented on #4489
hmm, I'm surprised the default for me was still 14.04. I guess its a very slow rollout...

[2019-05-24 10:14] trivialfis commented on #4494
@hcho3  It should help.  But this is not a tested behaviour.  Do you think it's possible to test these mixed environments model serialization on Jenkins?

[2019-05-24 10:38] thekvs opened #4495 "Visual Studio Community 2019 build error with `cmake --build .`"
Is this version supported? I am trying to follow steps described [here](https://xgboost.readthedocs.io/en/latest/build.html#building-on-windows) but with the latest Visual Studio Community 2019 compilation fails:

[code]

[2019-05-24 11:31] skale1990 opened #4496 "[xgboost4j-spark=0.90] xgboost training failing due to kyro serializer buffer overflow"
XGboost training failed due to kyroserializer buffer overflow

the value for kyroserializer buffer max is-
`sqlContext.setConf("spark.kryoserializer.buffer.max", "2048m");`
This is the max allowable value for the property
It seems the buffer is acquired while converting dataframe row to Labelpoint
DataUtils.scala:92

`at ml.dmlc.xgboost4j.scala.spark.DataUtils$$anonfun$convertDataFrameToXGBLabeled

[2019-05-24 11:34] skale1990 commented on #4496
The same error with both tree method- auto and hist

[2019-05-24 12:05] JaakobKind commented on #4421
What is the meaning of "first" here? I hope that it is not lexicographic order of the metric name.

[2019-05-24 13:25] CodingCat commented on #4496
what’s the spark version?

And does it work with java serializer?

[2019-05-24 13:56] hcho3 commented on #4495
Can you open the sln file and run Build Solution ?

[2019-05-24 14:06] skale1990 commented on #4496
Spark 2.4.0, I haven't tried with java serialiser. yes, with 0.82, the test was working well. Please note that the data that are we taking for training is huge

[2019-05-24 14:42] thekvs commented on #4495
Yes, that seems to work. Building from command line isn't supported?

[2019-05-24 14:51] CodingCat commented on #4496
We didn’t change anything regarding serialization in xgboost

I would suggest test with java serializer and narrow down the problem

[2019-05-24 15:11] thekvs commented on #4495
Btw, I was to build xgboost from command line with: `MSBuild.exe xgboost.sln`. [This](http://cmake.3232098.n2.nabble.com/Different-behavior-between-building-using-quot-cmake-build-quot-and-building-in-Visual-Studio-td7598940.html) discussion seems to be relevant to the question.

[2019-05-24 15:23] skale1990 commented on #4496
We used this because it is supposed to be faster and memory efficient seriaziation framework for spark - https://spark.apache.org/docs/latest/tuning.html#data-serialization.

Also,
If there is no change, why the same test was working well for version 0.82  and not in 0.90

[2019-05-24 16:17] CodingCat commented on #4496
I said “test with java serializer” as a suggestion to narrow down the problem, i am not forcing you to use it in production...feel free to not take it

There are many many changes in spark side from 2.3-2.4, I am trying to narrow down the issue

[2019-05-24 16:55] Ewande opened #4497 "Feature importances for DART booster not available via sklearn interface"
This bug was fixed in `Booster.get_score` (see #4073) but it's still present in `sklearn.py` https://github.com/dmlc/xgboost/blob/0ce300e73ad9c586e41762d07f7acdcfa03f323d/python-package/xgboost/sklearn.py#L539
vs
https://github.com/dmlc/xgboost/blob/0ce300e73ad9c586e41762d07f7acdcfa03f323d/python-package/xgboost/core.py#L1503
It would make sense to remove that condition from `sklearn.py`, since an

[2019-05-24 16:57] hcho3 commented on #4495
I think you can also run
[code]

[2019-05-24 16:57] #4495 closed

[2019-05-24 17:02] #4378 closed

[2019-05-24 17:02] hcho3 commented on #4392
Any updates?

[2019-05-24 17:05] hcho3 commented on #4173
Any updates?

[2019-05-24 17:07] PyDataBlog commented on #4173
@hcho3 it still didn't work. It's the old bug resurfacing again.

[2019-05-24 17:30] hcho3 commented on #4173
Can you post your data and script?

[2019-05-24 18:43] dlhvelasco commented on #4392
Right, sorry for the delay. The issue seems to have fixed itself after I remade the two conda envs.
Must have been an issue on my end. Thanks again.

Closing this issue.

[2019-05-24 18:43] #4392 closed

[2019-05-24 18:54] FelixNeutatz commented on #4492
Thank you @trivialfis for the quick answer :)

[2019-05-24 18:54] #4492 closed

[2019-05-24 19:19] pseudotensor commented on #4494
There are at least 2 ways to do that:

1) have first part of a test make a pickled object.  Then run a second test in a subprocess for isolation.  Set:
[code]
then go into yet another subprocess and run the test.  For xgboost this requires no imports at top level or else xgboost segfaults due to references in original import.

2) Run test (as part of test suite) that produces an artifact of a pick

[2019-05-24 19:36] pseudotensor commented on #4494
Any chance for a quick fix?  Turns out this is critical for us.  I'm happy to apply some quick fix to my own branch. Thanks for help!

[2019-05-24 20:01] hcho3 commented on #4494
@pseudotensor In that case, can you try out the code in #4454? See if this fixes your problem.

[2019-05-24 20:03] pseudotensor commented on #4494
yes, checking now.  Thanks.

[2019-05-24 20:49] trivialfis commented on #4494
@pseudotensor

Thanks.  Will try to add a test later.

[2019-05-24 21:01] hcho3 opened #4498 "Consider migrating tests from AppVeyor/Travis CI to Azure Pipelines"
Consider migrating all tests from AppVeyor/Travis CI to [Azure Pipelines](https://azure.microsoft.com/en-us/services/devops/pipelines/).

Why migrate tests?
* OSX tests on Travis CI are quite slow and have proven flaky from time to time (e.g. #4487,  #4448).
* AppVeyor allows only a single job to run at a time; Azure Pipelines allows for 10 parallel jobs
* Azure Pipelines can run both Windows and

[2019-05-24 21:45] Neel28 commented on #4440
Facing the same issue. Cannot find any failed executors from Spark UI. Any suggestion? Thanks!

[2019-05-25 20:58] johntiger1 commented on #3712
Still not working for me (for auc-pr)

[2019-05-26 03:50] hcho3 commented on #4494
@pseudotensor Any updates?

[2019-05-26 13:19] trivialfis opened #4503 "Improve sparse dataset memory usage for hist tree method."
@hcho3  @RAMitchell

As part of refactoring DMatrix,  I'm trying to profile memory usage issue across XGBoost.  One glaring issue in hist method is that it uses feature index to build the histogram cut matrix.  For dense dataset this is optimal, but for sparse dataset this results in very huge waste of memory.  One particular reproducible dataset would be [URL](http://archive.ics.uci.edu/ml/datase

[2019-05-26 13:23] trivialfis commented on #4503
And I need to see if it's possible to do feature grouping before building histogram cut.

[2019-05-26 13:27] CodingCat commented on #4503
When I was working on distributed hist, I f found hist were still built for all features even with col sampling. I thought this is the bottleneck and work on it

At that time, I added something like a featureIdToHistIndex (but I didn’t merge it since I found the real bottleneck is rabit)...is the similar approach enough here?

[2019-05-26 13:39] trivialfis commented on #4503
@CodingCat This is still at quantiles cut building stage.  I'm not sure about hist updater yet.  Your approach is my initial idea.  But maybe there are many other problems that I don't know.  So I figured I should ask for some suggestions here first.

[2019-05-26 21:40] RAMitchell commented on #4503
Yes we should definitely look into cut building scalability with number of features. URL is a great test case. I would like to apply what we learn to the GPU algorithms as well.

Regarding training, I believe LightGBM has the concept of a sparse histogram. Another approach that I have seen is to switch to exact style split search when the number of training examples low (e.g. less than the number

[2019-05-27 01:36] fuhaoda opened #4504 "SetLeaf Condition in updater_colmaker.cc"
Based on the equation (7) in  [paper](https://arxiv.org/pdf/1603.02754.pdf)
Should the SetLeaf condition be e.best.loss_chg > params_.reg_lambda ?
[code]

[2019-05-27 02:10] trivialfis commented on #4494
@hcho3 No, I still get the error.  Will try to fix it.

[2019-05-27 04:07] trivialfis opened #4505 "Cygwin CMake build issue"
Originally discussed in #4499.

Quoting from @yellowdolphin :

Concerning the built and cygwin support, the code is now somewhat inconsistent: I looked into the fopen64 issue and found that dmlc-core already considers cygwin and quite a list of other OSs where fopen64 is not present. But in rabit (rabit/include/rabit/internal/utils.h), only for FreeBSD and apple fopen64 is replaced by fopen (if gl

[2019-05-27 04:36] trivialfis commented on #4494
@pseudotensor @hcho3 Added a test https://github.com/dmlc/xgboost/pull/4454/files#diff-50fcb70048e47cfc99375bad25bf0d4e

[2019-05-27 06:17] raskr opened #4506 "[jvm-packages] Suspicious "split_condition" values on sparse features"
env:
- xgboost4j-spark 0.8.1

I have trained a `XGBoostRegressor` with `.setMissing(Float.NaN)`.  In the case of the input is `spark.ml.linag.SparseVector`, the dumped tree structure was as follows:
[code]
Here, feature names starting with `ic` are multi-hot encoded sparse dimensions taking (0|1). However, those "split_conditions" values look like suspicious values **(2.00000095), which leads to c

[2019-05-27 06:32] hcho3 commented on #4506
Yes, the behavior is expected, since the split is distinguishing between missing values and non-missing values

[2019-05-27 06:32] #4506 closed

[2019-05-27 06:39] hcho3 commented on #4504
That’s not necessary, because we only update `e.best.loss_chg` when the loss change exceeds `min_child_weight`

[2019-05-27 06:39] #4504 closed

[2019-05-27 06:43] hcho3 commented on #4493
Please spell out the parameter: `xgb.plot.tree(model = bst)`

[2019-05-27 06:43] #4493 closed

[2019-05-27 08:51] dengCunbin commented on #4440
Facing the same issue.Who can help me?

[2019-05-27 08:52] dengCunbin commented on #4440
Have you solved it?

[2019-05-27 09:51] raskr commented on #4506
I understood that, in this setting, XGB distinguishes the value is NaN or not correctly.
But when I set `.setMissing(0)` with SparseVector, I have also seen the same result (`"split_condition": 2.00000095`). Is this a expected behavior?

[2019-05-27 11:32] thvasilo commented on #4503
I think this is quite related to the problem we tried to solve with @hcho3 in our [recent paper on block-distributed GBTs](https://arxiv.org/abs/1904.10522).

Using a sparse histogram representation gave us orders of magnitude improvements in histogram size. We could/should try to find a way for an efficient sparse histogram representation that does works with Rabbit's limitation of knowing the ob

[2019-05-27 12:53] trivialfis commented on #4503
@thvasilo Interesting.  Will read the paper later.  If there's available experimental source code then maybe I can help. :)

[2019-05-27 13:01] CodingCat commented on #4506
(1) yes, it’s expected, when you have sparse vector, you already implicitly assume 0 is the missing value, setMissing doesn’t change anything

(2) no, you cannot, if you use dense vector to represent something, that means you are treating 0 as meaningful value. You are essentially asking how to get the same model with totally different training set...so the answer is you cannot

[2019-05-27 13:19] thvasilo commented on #4503
@trivialfis We implemented these algorithms from scratch but leaning heavily on the xgboost codebase. @hcho3 looked into open-sourcing this (work was done at Amazon) but there are some licensing issues there that are holding us back.

I think the important idea to consider is how can we get rid of all the redundant zeros that are currently being communicated in the gradient histograms.

Briefly: X

[2019-05-27 13:31] trivialfis commented on #4503
@thvasilo Thanks for the explanation.  Will review the paper once #4488 is resolved.  This will greatly improve current histogram method.

[2019-05-27 17:02] fuhaoda commented on #4504
but in such case, the impact of the tuning parameter will be different, right?params_.reg_lambda only have small impact in the current implementation compared it should be in the method paper.

[2019-05-27 18:28] hcho3 commented on #4504
`params_.reg_lambda` is used in the split evaluator class to compute the loss change:
https://github.com/dmlc/xgboost/blob/17df5fd296aaff18123c53a777f24111b3dd7336/src/tree/split_evaluator.cc#L135-L158

[2019-05-28 06:49] pseudotensor commented on #4494
Great thanks!  I had trouble merging this PR into my own branch for testing, a few "can't apply" issues, not sure why since everything seems synced properly.  Will try again to test on Tuesday.

[2019-05-28 09:00] JaakobKind opened #4509 "[R] bugs in creation of stratified folds"
Dear xgboost developers,
I have found two issues in the R version of xgb.cv when I try to use stratified folds:
1. If I pass a DMatrix, attribute label that is passed to generate.cv.folds iS NULL and hence function xgb.createFolds is not called. Hence, the folds that are created are not stratified.

2. As a workaround, I redundantly pass the labels in attribute label of function xgb,cv. Then funct

[2019-05-28 11:31] skale1990 commented on #4496
I think, Since people has already started adopting the kryoserializer, it is better to add few testcases using kryoserializer also. What's say?

[2019-05-28 14:21] CodingCat commented on #4496
we have a test https://github.com/dmlc/xgboost/blob/14a8b964767257ab5e408f99c47b5f0efe398e53/jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostConfigureSuite.scala#L39 already

again, the thing I was trying to figure out is why kryo doesn't work with your dataset

since nothing was changed regarding serializer in XGBoost and spark 2.4 has updated kryo as a transient

[2019-05-28 14:21] #4496 closed

[2019-05-29 01:32] arnocandel opened #4511 "gpu_hist memory usage grows rapidly when max_depth or num_round is increased from trivial values"
Example from https://xgboost.readthedocs.io/en/latest/get_started.html is slightly modified to have `max_depth = 3` and `num_round = 10`:

[code]

Uses over 2GB of GPU memory on 2080Ti:

[code]

Uses ~ 230MB when set to `max_depth=2` and `num_round=2` as in the example.

[2019-05-29 01:37] arnocandel commented on #4511
Using this version: https://github.com/dmlc/xgboost/commit/a448a8320cdaf4f1ecf73cfdbd6478eb4a37bc44

[2019-05-29 01:39] RAMitchell commented on #4511
Thanks @arnocandel I have plans to profile and address memory usage soon.

[2019-05-29 03:06] pseudotensor opened #4512 "@pseudotensor Can we have a repro script?"
@pseudotensor Can we have a repro script?

_Originally posted by @hcho3 in https://github.com/dmlc/xgboost/pull/4454#issuecomment-496735533_

for what?  That message above is just from the CI testing.

[2019-05-29 03:07] #4512 closed

[2019-05-29 03:56] trivialfis commented on #4494
closed by #4454 .

[2019-05-29 03:56] #4494 closed

[2019-05-29 03:56] trivialfis commented on #4361
closed by #4454 .

[2019-05-29 03:56] #4361 closed

[2019-05-29 08:17] JaakobKind commented on #4509
Additional information:
1. I am using version 0.82.1 of xgboost
2. There is one word missing in the above issue description. The last sentence should read "The reason seems to be this line "y <- label[rnd_idx]" in function generate.cv.folds, which permutes the labels in a way that is not known to function xgb.cv."
3. The attached file cvbug.txt contains R code that can be used to reproduce the err

[2019-05-29 17:30] petergtam commented on #3370
@thesuperzapper Are you still working on the wrapper?

[2019-05-29 19:05] pseudotensor opened #4513 "h2o4gpu test failures"
on master after GPU dup merge,  I get from h2ogpu testing these failures that don't allow me to merge to master:

`tests/python/open_data/gbm/test_gpu_prediction_pickledmodel.py`

[code]

and from ` def test_xgboost_covtype()` in h2o4gpu:

[code]

Any ideas @trivialfis  ?  I'll try merge with latest dmlc master in case the few fixes I've seen are related.

[2019-05-29 19:55] sh1ng commented on #4513
Reproducible test that's falling
https://github.com/h2oai/h2o4gpu/blob/master/tests/python/open_data/gbm/test_gpu_prediction_pickledmodel.py#L189-L222

[code]

[2019-05-29 20:04] sh1ng commented on #4513
If `n_gpus` is specified(no matter n or -1) it works. Looks like a bug in model restoration.

[2019-05-29 23:34] gatapia opened #4514 "Windows GPU Build Issues"
Current windows GPU build failing with the following error:
[code]

This is the build command:
`"C:\Program Files (x86)\MSBuild\14.0\Bin\amd64\msbuild.exe" /t:Clean,Rebuild /p:Configuration=Release xgboost.sln`

[2019-05-29 23:36] hcho3 commented on #4514
What version of Visual Studio are you using? I suggest that you use Visual Studio 2015 or newer.

[2019-05-29 23:41] gatapia commented on #4514
I am using MSBuild v14. Which is part of VS 2015.

[2019-05-29 23:46] hcho3 commented on #4514
We have an automated testing system that ensures that XGBoost can be compiled with Visual Studio: https://xgboost-ci.net/blue/organizations/jenkins/xgboost-win64/detail/master/19/pipeline/37/

Can you post the CMake command you used to generate `xgboost.sln`?

[2019-05-30 00:39] gatapia commented on #4514
This is the CMAKE command
`C:\dev\tools\cmake-3.14.4-win64-x64\bin\cmake.exe .. -G"Visual Studio 14 2015 Win64" -DUSE_CUDA=ON"`

[2019-05-30 00:39] gatapia commented on #4514
Also are you publishing your windows binaries, if you are then I dont need to maintain mine.

[2019-05-30 01:02] kyoungrok0517 opened #4515 "GPU memory bad_alloc: can't I avoid this without downsizing the data?"
I'm quite new to this xgboost library, and sometimes get confused in the way it deals with data. Recently I'm dealing with bigger data using the same GPU, and confronting `bad_alloc` error. Can't I partially load the data and reload while training instead of loading the full data at once? Now I realize there is no option like `batch_size`...

[2019-05-30 01:32] binkod2000 commented on #1715
I ran into this problem on a fresh install of anaconda on an a brand new Mac book pro in Anaconda trying to use tensor-flow and keras. I used. 'conda update --all' and it fixed the problem.

[2019-05-30 01:51] trivialfis commented on #4513
Let me try see if I can reproduce.

[2019-05-30 02:29] hcho3 commented on #4515
XGBoost differs from deep learning frameworks in that you are not able to use mini-batches in training.

However, There is an on-going work to enable external memory with GPU training, so stay tuned.

[2019-05-30 07:05] #4513 closed

[2019-05-30 07:07] trivialfis commented on #4513
Oops, automatically closed this one.  @pseudotensor Reopen if the failure persists,  the parameter configuration is in bad shape.

[2019-05-30 07:22] pseudotensor commented on #4513
Thanks!  Any idea about distribution error?  We saw that (and it was fixed) long ago by you guys.

[2019-05-30 07:25] pseudotensor commented on #3794
How does this work-around apply to us using the sklearn interface?

I mention because h2o4gpu testing hasn't failed with xgboost errors in a while, but after recent updates we get the distribution is empty issue for 1 test.

[2019-05-30 07:28] Leonhoohoo opened #4517 "Multiclass classification load model problem"
I trained six-class model and predict my training data .
Then, I save the model.
But there has some problem when I load the model and predict the training data.
The result is wrong.

I test the two-class model is okay.
But  multiclass has some problem when I save the model then predict.

[code]
Please, help me.
Thanks

[2019-05-30 10:54] sh1ng opened #4518 "Check failed: distribution_.IsEmpty() when reuse DMatrix"
Related to #4513
Reproducible example: https://github.com/h2oai/h2o4gpu/blob/master/tests/python/open_data/gbm/test_xgboost.py

[code]

If `n_gpus` is specified it works.
Also recreation of
[code]
before the second training step fixes the issue.
Is it some kind of bug related to internal `DMatrix`'s state or `DMatrix` is not supposed to be reusable?
@trivialfis

[2019-05-30 16:15] hcho3 commented on #4514
Yes: https://pypi.org/project/xgboost/#files

[2019-05-30 16:29] trivialfis commented on #4518
Sorry that I won't be here until next week.

[2019-05-30 21:35] gatapia commented on #4514
In that case I'll close this

[2019-05-30 21:35] #4514 closed

[2019-05-30 21:38] hcho3 commented on #4514
@gatapia I now realize you were maintaining Windows binaries for XGBoost since year September 2016. I'd like to thank you for your effort

[2019-05-30 21:41] gatapia commented on #4514
No worries, awesome product, least I could do.

[2019-05-30 21:43] hcho3 commented on #4514
@gatapia FYI, we also distribute nightly builds (as part of continuous integration) in xgboost-ci.net, e.g. https://xgboost-ci.net/blue/organizations/jenkins/xgboost-win64/detail/master/21/artifacts

[2019-05-31 06:36] neeleshkshukla opened #4520 "[jvm-packages] XGBoostRegressionModel's native booster returns more number of feature weights than actual features provided."
I am using xgboost4j-spark 0.82. While retrieving feature importance, I found more weights that actual features.

val xgbRegressor = new XGBoostRegressor(xgbParam)
        .setNumRound(100)
        .setFeaturesCol("features")
        .setLabelCol(y)

def getFeatureImportance(trainedModel: XGBoostRegressionModel): collection.mutable.Map[String, Double] ={
trainedModel.nativeBooster.getFeatureScore(

[2019-05-31 08:05] kyoungrok0517 commented on #4276
So the devs are not interested in this problem?

[2019-05-31 08:15] hcho3 commented on #4276
@kyoungrok0517 Sorry I didn't have a chance to look at this. We have a backlog of issues currently, and are trying to address them when we are able to. A little patience would be appreciated.

[2019-05-31 08:22] #4515 closed

[2019-05-31 08:38] hcho3 commented on #4276
@kyoungrok0517  And I apologize for not giving you any update for more 2 months. I will look at this issue over this weekend.

[2019-05-31 09:13] hcho3 commented on #4276
@kyoungrok0517 Quick update: One thing I notice is that your script enables `pred_contribs=True`, `approx_contribs=True`, `pred_interactions=True`. Only one of them should have been enabled, but somehow XGBoost does not produce error for this. I will see if the problem stays when using `pred_interactions=True` exclusively.

[2019-05-31 09:42] kyoungrok0517 commented on #4276
Yes please try pred_interactions=True. I’ having a problem with that
setting.

2019년 5월 31일 (금) 오후 6:14, Philip Hyunsu Cho <notifications@github.com>님이 작성:

[2019-05-31 10:25] hcho3 commented on #4276
@kyoungrok0517 Interesting, so I changed your script from
[code]
to
[code]
and I don't get `ngroup = 0` error any more. In about 20 minutes on C5.9xlarge machine, the modified script completes running.

I filed #4522 to fix the issue. Specifically, you will get  an error when both `pred_contribs` and `pred_interactions` are set.

[2019-05-31 11:35] sh1ng opened #4523 "xgboost hangs on ncclAllReduce"
Reproducible on ppc, haven't see in on x86_64
More details https://github.com/h2oai/h2o4gpu/issues/773
nccl: v2.4.2-1 installed from sources

Looks similar to https://github.com/dmlc/xgboost/issues/4107

[2019-05-31 11:47] kyoungrok0517 commented on #4276
I see. Thanks for the response!

2019년 5월 31일 (금) 오후 7:26, Philip Hyunsu Cho <notifications@github.com>님이 작성:

[2019-05-31 11:48] #4276 closed

[2019-05-31 13:56] rachelsunrh commented on #4225
hi, I meet the same problem, can you tell me how to solve it ? I have checked my data, the labels are 0 and 1
Lost task 0.0 in stage 6.0 (TID 6, 9.10.135.90, executor 1): ml.dmlc.xgboost4j.java.XGBoostError: [21:47:23] /data/angel/wenbinwei/xgboost-tdw/src/objective/regression_obj.cu:66: Check failed: preds.Size() == info.labels_.Size() (13026 vs. 6513) : labels are not correctly providedpreds.siz

[2019-05-31 14:25] rachelsunrh opened #4524 "[jvm-packages] xgboost-0.81, Check failed: preds.Size() == info.labels_.Size()"
hi, when I train a xgboost model(0.81) use objective=binary:logistic, I meet the problem, can you tell me how to solve it ? I have checked my data, the labels are 0 and 1

Lost task 0.0 in stage 6.0 (TID 6, 9.10.135.90, executor 1): ml.dmlc.xgboost4j.java.XGBoostError: [21:47:23] /data/angel/wenbinwei/xgboost-tdw/src/objective/regression_obj.cu:66: Check failed: preds.Size() == info.labels_.Size()

[2019-05-31 14:27] hcho3 commented on #4497
See #4525

[2019-05-31 19:28] hcho3 commented on #4515
@kyoungrok0517 FYI, #4526 should let you train on GPUs with data bigger than GPU memory.

[2019-05-31 22:11] #4497 closed

[2019-05-31 22:53] #4240 closed

[2019-05-31 22:53] hcho3 commented on #4240
Will keep track of progress on static library in #4483

[2019-05-31 22:58] hcho3 commented on #4199
@zzheng93 I think #4454 may have address this issue. Can you try with latest code?

[2019-06-02 08:26] Brajen259 commented on #4394
@hcho3 I am getting a similar error while importing xgboost. I am using dmlc xgboost on hadoop. How to reduce the number of python files ?

[2019-06-02 22:29] hcho3 opened #4530 "[jvm-packages] `missing` parameter not propagated from XGBoostClassifier to XGBoostClassificationModel"
From https://discuss.xgboost.ai/t/jvm-packages-v0-90-sparse-vector-prediction-issue-on-missing-values/903:

[2019-06-03 04:07] hcho3 commented on #4530
@CodingCat Is there a way to set missing value for prediction (`transform()`)?

[2019-06-03 04:11] CodingCat commented on #4530
replied in the discussion forum

[2019-06-03 04:12] #4530 closed

[2019-06-03 05:39] raskr commented on #4506
If so, I think `split_condition` should be 0, not 2.00000095.
Later I tried features whose whole values are 0/1, then **all** the split point were `"split_condition": 2.00000095` (i.e., the tree is a single straight path actually). In this case I do not understand the reason why SparseVector exists.

[2019-06-03 05:44] CodingCat commented on #4506
SparseVector exits because you have enough number of 0 in a row to make vector assembler believe it is saving memory space to represent it with sparse vector

[2019-06-03 06:09] raskr commented on #4506
I'm sorry, I overlooked `missing` branch. Therefore, if the value is missing, go to designated branch. Otherwise  go to "yes" branch because the 0/1 values are always under 2.00000095...

[2019-06-03 21:45] RAMitchell opened #4531 "[RFC] Remove support for single process multi-GPU"
This issue proposes removing support for single process multi-GPU in xgboost. What this means is that we would no longer support the 'n_gpus' parameter and the ability to train with multiple GPUs without some distributed framework.

We would focus on multi-GPU support through distributed frameworks such as Dask (see #4473) and Spark, where the framework would be expected to assign a worker process

[2019-06-03 22:39] TimZaman commented on #4531
Yes! This is one of reasons why in DL land horovod got so popular. The single process story of TensorFlow was too complicated, and didn't scale to multinode either. Nowadays most multi gpu code I see works with horovod and torch.distributed. Both are in the multiprocess+single-gpu-per-process paradigm. This also naturally scales to multiple nodes without any code editting and provides the user (an

[2019-06-03 23:30] trivialfis commented on #4531
I like the idea of decoupling data distribution from algorithm.  But I insist that this is better done in c++ instead of high level libraries like dask, there are R and Julia packages that don't attract much attentions as others.  I want least maintenance burden added to language bindings.  Those thick bindings are much harder to maintain than current slightly bloated internal code.

[2019-06-03 23:31] trivialfis commented on #4531
@TimZaman I thought the way TF distributing subgraph is quite elegant.  Seems I'm a little behind on this. :)

[2019-06-04 03:59] datametrician commented on #4531
Agree with @TimZaman. RAPIDS/cuML is also following a one process per GPU (OPG) paradigm and we feel it's much simpler to develop and maintain (no hard evidence but just from our initial development compared to single process multi-GPU).

[2019-06-04 20:52] pseudotensor commented on #4531
Pros:
1) xgboost simpler for developers
2) xgboost multi-GPU performs poorly.  Would need significant attention to make it beneficial.

Cons:
1) Unable to easily run a single model on multiple GPUs.  Required to use dask or other 3rd party libraries, so xgboost by itself becomes strongly dependent on 3rd party libraries for this functionality that it already had.

2) No longer able to train single

[2019-06-04 23:50] RAMitchell commented on #4531
@trivialfis I don't see how to do this. Consider that HostDeviceVector is everywhere through our API, the purpose of this RFC would be to remove the complexity of multi-GPU data partitioning from data structures like this.

I look at this as a question of scope. What functionality are we as the developers with limited resources prepared to provide. It's very tempting to try to do everything but I

[2019-06-05 00:29] trivialfis commented on #4531
@RAMitchell One problem at a time.

- So there's need to reduce memory usage, for both dense and sparse.
- Also multiple GPUs will have different memory footprint.
- Then we need to think of a solution for robust, scalable data distribution.

Let's devide and conquer. :)

[2019-06-05 06:51] qingyuanxingsi opened #4533 "Fetch parameters in custom objective defined in param map"
If I want to use certain parameters defined in param map in my customized objective function,how to do it?

The [example code](https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/CustomObjective.scala) do not have any parameters.

[2019-06-05 09:21] sh1ng commented on #4531
I'd start with Design Doc and POC showing how to parallalize the algorithm without introducing too much overhead. Correct me if I'm wrong, but finding best splits requires (2^LEVEL)*N_FEATURES comparisons if a tree's node doesn't get partitioned on a few devices and (2^LEVEL)*N_FEATURES*N_BINS if it does. Those operation will require cross-process communication that may introduce some overhead.

A

[2019-06-05 16:53] sh1ng commented on #4523
Also happens on x86_64 and nccl 2.4.7
@trivialfis any ideas?

[2019-06-05 16:59] #4518 closed

[2019-06-05 20:00] trivialfis commented on #4523
Will look into this.

[2019-06-05 21:26] RAMitchell commented on #4531
Communication throughput via NCCL is the same across processes as it is for the threaded version. Running the algorithm in parallel is essentially a question of starting a rabit tracker and connecting workers to it. We can certainly document this more to enable others to potentially incorporate this into their distributed framework. I think some kind of blog post explaining the distributed archite

[2019-06-06 09:38] qingyuanxingsi opened #4535 "XGBoostClassifier Confusing Result"
When using XGBoostClassifier in spark version **0.82**, I got following output:
![image](https://user-images.githubusercontent.com/1770516/59023020-7238e200-8881-11e9-866c-aa222ce8ba40.png)
It is really confusing to me that the probability column is not the sigmoid of rawPrediction, but as in the [official documentation](https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#ba

[2019-06-06 13:55] nedStackAdapt opened #4536 "[jvm-packages] Outdated parameter validation check for xgboost4j-spark?"
Is the parameter check for

 if ((paramName == "booster" && paramValue != "gbtree") ||
        (paramName == "updater" && paramValue != "grow_histmaker,prune" &&
          paramValue != "hist")) {
        throw new IllegalArgumentException(s"you specified $paramName as $paramValue," +
          s" XGBoost-Spark only supports gbtree as booster type" +
          " and grow_histmaker,prune or hist as

[2019-06-06 17:06] trivialfis commented on #4517
@Leonhoohoo Could you provide the XGBoost version or commit hash?

[2019-06-06 20:09] trivialfis commented on #4523
@sh1ng @pseudotensor I factored out:

https://github.com/h2oai/h2o4gpu/blob/master/tests/python/open_data/gbm/test_xgboost.py

and

https://github.com/h2oai/h2o4gpu/blob/master/tests/python/open_data/gbm/test_gpu_prediction_pickledmodel.py

Compiled nccl v2.4.7-1 on Ubuntu 18.10 x86_64.  Ran above tests 5 times each with `n_gpus` set to 2, and haven't see seen any issue so far.

[2019-06-06 21:24] RAMitchell commented on #4523
One cause of this can be an unexpected number of threads in the team for omp. For example if there are two GPUs but only one thread available the thread will call nccl and then wait for the other GPU to sync, but there is no other thread concurrently running. You could do some diagnostics using omp functions to see how many threads are active.

[2019-06-07 10:54] PyDataBlog commented on #4173
@hcho3
[features.zip](https://github.com/dmlc/xgboost/files/3265581/features.zip)
[binary_target.zip](https://github.com/dmlc/xgboost/files/3265582/binary_target.zip)

Here are the compressed numpy arrays for the features and target. Joblib for the arrays should be loaded after unzipping the content

[code]
I get this error:
[code]

[2019-06-07 11:02] sh1ng commented on #4523
@trivialfis I've seen it on x86_64(centos docker container) only once, but it's easily reproducible on ppc

@RAMitchell thanks for the hint

[2019-06-07 12:15] Leonhoohoo commented on #4517
@trivialfis My XGBoost version is 0.90

[2019-06-07 21:33] trivialfis opened #4542 "[RFC] Optimize configurations in Learner."
Currently the configuration steps in Learner is bloated in both size and complexity.  I think we have all come to agreement that it needs better organization.  Other than simplifying future maintenance, there are other benefits on this:

- Parameter validation, the configuration happens in both initialization and during each update so copies of parameters are stored in various places, including bo

[2019-06-07 21:35] trivialfis commented on #4542
One funny thing, I tried to move tree updater configuration into GBM, the `Learner.SLOW_CheckMultiBatch` test gave me a dead lock in `col_maker`.

[2019-06-07 23:15] CodingCat commented on #3946
@bourbaki are you still working on this? if you are too busy, I can take over it

[2019-06-08 03:47] trivialfis commented on #4321
After reading the source code from scikit-learn and lgb (who adopted this method from scikit-learn I think), so the general scheme is to construct trees solely by first order gradient, then set leaves value based on objective specific "average" discarding previous training result, for MAE this is 0.5 quantile.

Now I remember why we @RAMitchell didn't implement this, primarily because we don't kno

[2019-06-09 21:19] bourbaki commented on #3946
@CodingCat Sorry, I am too busy right now. You can take over it.

[2019-06-10 08:42] #4535 closed

[2019-06-10 08:44] qingyuanxingsi commented on #4533
Anyone reply??I posted it [here](https://discuss.xgboost.ai/t/fetch-parameters-in-custom-objective-defined-in-param-map/909) but got no reply!

[2019-06-10 09:30] sh1ng commented on #4523
Bu default sklear wrapper uses 1 thread https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/sklearn.py#L244
and the parameter sets global openmp settings

v0.9
https://github.com/dmlc/xgboost/blob/v0.90/src/common/device_helpers.cuh#L1047
will definitely hang

It's fixed in master
https://github.com/dmlc/xgboost/blob/master/src/common/device_helpers.cuh#L1175

[2019-06-10 13:15] #4533 closed

[2019-06-10 13:15] hcho3 commented on #4533
I left my reply.

[2019-06-10 13:17] hcho3 commented on #4509
Thanks for the report. We appreciate the reproducible example. We will look at this issue at some point, on a best effort basis.

[2019-06-10 19:07] trivialfis commented on #4523
@sh1ng Thanks!  Let me add a check.

[2019-06-10 19:35] sh1ng commented on #4523
If it's confirmed, are you going to release a patch for v0.9?

[2019-06-10 19:41] trivialfis commented on #4523
@sh1ng I can backport a patch for you to apply it.  But currently @hcho3 is unavailable so I don't think we can make a new release.

[2019-06-10 21:48] #4402 closed

[2019-06-10 21:54] CodingCat commented on #4524
can you post your training param?

[2019-06-10 21:55] CodingCat commented on #4520
can you check the maximum size in your input dataframe feature column (in sparsevector)

[2019-06-10 23:50] trivialfis opened #4546 "Add tests for demo."
It's been a while we haven't look into various demos, to keep them running I think it's best to make them part of Jenkins' tests.  For example  #4473 broke `xgboost/demo/guide-python/sklearn_parallel.py` by checking `sys.__stdin__.closed` while `sys.__stdin__` itself is `None`, resulting in:

[code]

@hcho3

[2019-06-11 16:02] phillyfan1138 opened #4548 "[JVM-Package] Consider updating kryo to 2.22 in xgboost4j"
When I use xboost4j in Spark 2.3.0 or 2.3.3, I get the following warning message:

Warning: Local jar /root/.ivy2/jars/com.esotericsoftware.reflectasm_reflectasm-1.07.jar does not exist, skipping.

When connecting over Livy, this warning becomes and error and I can't continue.  I believe that this issue is due to Kryo 2.21 and is fixed in Kryo 2.22.

[2019-06-11 17:18] jniemin opened #4549 "XGBModel.predict() documentation conflicting with implementation"
Using version 0.90 and documentation states that `XGBModel.predict()` data parameter is `DMatrix

[code]

But when checking actual code first line of `predict()` take data passes to it and converts it to `DMatrix`

[code]

[2019-06-11 18:28] Vivekreddyd opened #4550 "Early stopping returns minimum value if the eval_metric is AUCPR"
Hello Team,

I’m performing xgboost with eval_metric as ‘aucpr’ and early_stopping_rounds = 20.

When performing early stopping the model returns only the minimum value and early stopping stops if the value does not decrease in 20 iterations, but the case should be opposite. Can you please check the issue.

Thanks,
Vivek.

[2019-06-11 18:31] arnocandel commented on #4531
I’m ok with this path - robustness wins over features.

[2019-06-11 21:08] chenqin commented on #4250
**Improvement**

I have been working on enable native rabit checkpoint in YARN/SPARK deployment.
here is test I run to instrument failure and test recovery

https://github.com/chenqin/xgboost/blob/master/tests/cli/runsingle.sh
https://github.com/chenqin/xgboost/blob/master/tests/cli/runtests.sh

so far I identified two issues with current rabit based recovery in xgb.
1) saved checkpoints missed so

[2019-06-11 22:29] RAMitchell commented on #4531
I think we have collected enough feedback without significant objections from customers. I will file a PR enabling deprecation warnings and updating documentation. We will aim to start removing code around September.

[2019-06-12 01:07] Yuan-Chang-UT opened #4551 "Xgboost load_model, save_model specifications"
Hi,

I'm trying to translate another format of gradient boosting trees to xgboost models. The only way to make an xgboost model without training one seems to be load_model from the proprietary format file you can get from save_model. Are there any specs on the file save_model exports so that I can translate my other model into a file that can be loaded via load_model?

Thank you.

[2019-06-12 01:18] hcho3 commented on #4551
There is no formal spec, however you can inspect the serialization logic in https://github.com/dmlc/treelite/blob/master/src/frontend/xgboost.cc.

In the long term, we would like to adopt JSON as serialization format.

[2019-06-12 05:41] thesuperzapper opened #4552 "objective=binary:logistic with num_class=2 throws error"
On the latest master (XGBoost-0.9 SNAPSHOT), I get a error when using `objective=binary:logistic` with `num_class=2`. In this case I am using the Spark API, but I think it might be caused by something independent of the xgboost4j.

The error dose not occur if no `num_class` is specified.

**Example:**
[code]

**Executor stack trace:**
[code]

[2019-06-12 06:39] lcl1990 commented on #4552
I also have this problem

[2019-06-12 07:13] trivialfis commented on #4542
During many previous fixes and refactoring PRs including #4553,  I came to realize that how should we proceed on parameter validations.  There are two fundamental problems in current XGBoost internal parameters handling:

- The semantic of `Configure` and `Init` is not clear, and they depend on each others.  In many places one has to allocate memory for components (Init) to do further configuratio

[2019-06-12 09:56] RAMitchell commented on #4542
Clearing up config/init methods is a solid plan. These methods are [often considered](https://softwareengineering.stackexchange.com/questions/334970/are-init-methods-a-code-smell) a 'code smell' and mean that we can't be sure if an object is safe to use or what state it might be in.

[2019-06-12 10:00] RAMitchell commented on #4542
Another thing that may help improve clarity is parameter structs being immutable. It's very hard to tell what's going on if they read state in from external parameter dicts then change the value. Some examples: num_class, updater.

[2019-06-12 13:36] trivialfis commented on #4542
@RAMitchell

I totally agree.  But let me get configuration right first.  Fixing its bugs is exhausting and wasting time.

[2019-06-12 15:40] trivialfis commented on #4531
@RAMitchell Is this line a bug?

https://github.com/dmlc/xgboost/blob/ea4441775405b97d99ebc6b997b726b64564723b/src/learner.cc#L615

[2019-06-12 16:40] Yuan-Chang-UT commented on #4551
I see the logic in there for loading models, do you know where the logic is for saving models? As my goal is to given a model of another format, save it as a xgboost model. @hcho3

Thanks so much for your help

[2019-06-12 20:26] RAMitchell commented on #4531
I've never seen this error message and we even have distributed gpu tests now, so it must not be reaching this code block.

[2019-06-12 21:08] Yuan-Chang-UT commented on #4551
@hcho3 https://github.com/dmlc/xgboost/blob/ea4441775405b97d99ebc6b997b726b64564723b/src/learner.cc#L389

is that it?

[2019-06-12 22:21] trivialfis commented on #4551
@Yuan-Chang-UT Yes.

[2019-06-12 22:57] FredYao opened #4555 "Error while saving Spark Pipeline (XGBoostClassifier as last stage)"
XGBoostSpark: 0.82
Spark: 2.3.0

I created a Spark ML Pipeline including several standard feature engineering steps and a XGBoostClassifier.

XGBoostClassifier parameters:
`val xgbParam = Map("eta" -> 0.1f,
			"max_depth" -> 5,
			"objective" -> "binary:logistic",
			"num_round" -> 100,
			"nthread" -> 2
		)`
Pipeline definition:
`val pipe = new Pipeline().setStages(Array(stringIndexer, oneHotEnco

[2019-06-12 23:13] trivialfis commented on #4551
@Yuan-Chang-UT Feel free to open new issues  for further questions.

[2019-06-12 23:13] #4551 closed

[2019-06-12 23:28] trivialfis commented on #3390
GPU Hist is quite different now.  Feel free to open a new issue if this error still persists.

[2019-06-12 23:28] #3390 closed

[2019-06-13 00:04] trivialfis commented on #4250
@chenqin Thanks.  Honestly I don't quite understand what's happening ...  So I will stay out of this.

[2019-06-13 07:38] preet1881 commented on #1715
i have the same error how did you solve it , and conda insatll nomkl is not working either
its giving the error
UnavailableInvalidChannel: The channel is not accessible or is invalid.
  channel name: torch
  channel url: https://conda.anaconda.org/torch
  error code: 404

You will need to adjust your conda configuration to proceed.
Use `conda config --show channels` to view your configuration's cu

[2019-06-13 10:01] wstian commented on #4250
follow your github repo @chenqin ,   dmlc/rabit#63  is solved. but there is another issue when one worker stopped and restart. I add some logging, the error occured when ``gmat_.Init()``

[code]

[2019-06-13 12:29] KOLANICH opened #4556 "Implementation of loss function depending on more than single output column"
When doing multi-output regression loss often depends on another output column. So we need to get that column be excluded from features, but be available when computing loss.

For a single fitting it is not always a big problem - one just use the etalon from an initial array rather than from args of a function. But for crossvalidation it is not an option because XGBoost python lib splits and permu

[2019-06-13 13:20] Craigacp commented on #4477
I've had some difficulty with this issue as the dylib produced by the standard compilation process has a hard dependency on the homebrew gcc's libraries. If anyone has a way of flipping that dependency around (or making it generic) that would be great, but I don't think macOS ships with libgomp (which provides the OpenMP support) so we might need to package that as well, which makes life difficult

[2019-06-13 16:38] CodingCat commented on #4555
read https://stackoverflow.com/questions/7173352/java-io-invalidclassexception

it's very likely you messed up your jar files somehow, please clean everything you have built and redo from the scratch

[2019-06-13 16:38] #4555 closed

[2019-06-13 16:43] CodingCat commented on #4548
is there any references to this error?

[2019-06-13 16:43] moabaom opened #4557 "Segmentation fault Error when i compile the src with GPU support"
Environment  :
Ubuntu 18.4 , CUDA 10.0, cmake 3.15.0-rc1

~/xgboost/build$ make -j 4

Scanning dependencies of target dmlc
Scanning dependencies of target rabit
Scanning dependencies of target objxgboost
[  1%] Building CXX object CMakeFiles/rabit.dir/rabit/src/allreduce_base.cc.o
[  2%] Building CXX object CMakeFiles/rabit.dir/rabit/src/allreduce_robust.cc.o
[  4%] Building CXX object dmlc-core/C

[2019-06-13 18:15] phillyfan1138 commented on #4548
The error is

ERROR spark.SparkContext: Error initializing SparkContext.
java.io.FileNotFoundException: File file:[myhome]/.ivy2/jars/com.esotericsoftware.reflectasm_reflectasm-1.07.jar does not exist

[2019-06-13 20:14] chenqin commented on #4250
can you share tests case you were running?

[2019-06-13 20:50] CodingCat opened #4559 "incremental compilation is failing"
when I modify some code in the sub module and recompile with `mvn package`

it always show me something like

[code]

it always works before

[2019-06-13 20:53] CodingCat commented on #4559
nvm....I know what happened

[2019-06-13 20:53] #4559 closed

[2019-06-13 21:17] CodingCat commented on #4498
+10000 on getting rid of AppVeyor

[2019-06-13 21:24] trivialfis commented on #4557
You should report the bug to CUDA, not XGBoost.

[2019-06-13 21:24] #4557 closed

[2019-06-13 21:27] trivialfis commented on #4556
Could you give the specific name or link to paper of that algorithm?

[2019-06-13 21:39] RAMitchell commented on #4557
Cuda 10.0 had some bugs, try upgrading to 10.1 and see if that fixes your problem.

[2019-06-13 22:14] KOLANICH commented on #4556
What algorithm do you mean? It is not from a paper, I just trying to make a multioutput regression by fitting a separate model for each output column (α, β). But L is such, so ∂L/∂β and ∂^2L/∂β^2 depend on α strongly, so these terms cannot be just removed.

[2019-06-13 22:27] CodingCat commented on #4548
I mean why it is related to 2.21 v.s. 2.22?

[2019-06-13 22:50] phillyfan1138 commented on #4548
Great question!  I had thought I had read that this issue was fixed in 2.22 but I can't find where I read it now.

Have you had this warning show in testing?  I'd be happy to run a test against several versions of kryo to see if it helps.

[2019-06-14 03:08] renqipan opened #4561 "ValueError: Unable to parse node: 0:"
Plot tree encounter errors. How to fix the problems.
![image](https://user-images.githubusercontent.com/50622344/59480774-8342ae00-8e94-11e9-86f5-568acf46406c.png)
![image](https://user-images.githubusercontent.com/50622344/59480791-96557e00-8e94-11e9-9993-708adc17989f.png)

[2019-06-14 03:11] trivialfis commented on #4561
Maybe try to remove space in feature names.  If it doesn't work please share a reproducible dataset.

[2019-06-14 03:30] renqipan commented on #4561
the dataset is too big, and it cann't be upload here.  Can I send you the original dataset by email?  I do need your help. thank you

[2019-06-14 03:35] trivialfis commented on #4561
@renqipan Can you isolate some failing samples first?  If not I will look into it after sorting out some floating PRs.

[2019-06-14 04:34] renqipan commented on #4561
sorry. I can not solve the problem

[2019-06-14 07:07] wstian commented on #4250
my test as follow:

*  run a tracker, using https://github.com/chenqin/dmlc-core/blob/master/tracker/dmlc_tracker/tracker.py, as ``python tracker.py --num-workers 2``

*  start 2 workers,  using https://github.com/dmlc/xgboost/blob/master/tests/distributed/test_basic.py

after training started for a few round, one worker killed. then restart the worker.

the conf:

[code]

the above error was ``tr

[2019-06-14 07:17] renqipan commented on #4561
Dear Jiaming Yuan,

   I have proposed an issue on xgboost in github, and you have gaven reply. the website is:

    https://github.com/dmlc/xgboost/issues/4561

I think you must be an expert in xgboost. Can you give me a favour? Can you tell me how to plot the decision tree diagram . the dataset is available in the attachment. Thank you for your kindness.

Best wishes,

Yours sincerely,

Renqi Pa

[2019-06-14 08:21] GeekHF opened #4562 "[jvm-packages] Performance differ XGBoost4j prediction in windows and linux?"
I am using XGBoost4j to get predtions. But I found the performances in windows and Linux are so different. And it is quite confusing.
My codes are:
[code]

I used the same code to evaluate time of the predictions.
In windows, the output is like
3339
2518
1456
2531
4241
1873
2738
1591
1464

while in Linux, the output is like
31257
43467
33659
26732
32744
30719
28504
28195
39985

which are almost 10

[2019-06-14 12:10] panranyang opened #4564 "no printing when using gpu_hist"
I tried to change the value of silent and verbosity, but still there's nothing to print when tree_method is gpu_hist. I'm sure printing works fine when I used hist.

My CUDA version : 9.2.148
gpu version :396.37
gpu: gtx1080

[2019-06-14 12:34] trivialfis commented on #4564
What output are you expecting?

[2019-06-14 12:53] phillyfan1138 commented on #4548
I was able to get around the error by adding kryo 2.22 to my spark-defaults.conf:

[code]

So it does seem like kryo 2.22 would fix the issue.

[2019-06-14 13:00] phillyfan1138 commented on #4548
And I just confirmed in a docker image using apache spark:

./spark-shell --packages=ml.combust.mleap:mleap-spark-extension_2.11:0.13.0,ml.combust.mleap:mleap-xgboost-spark_2.11:0.13.0,ml.dmlc:xgboost4j-spark:0.82,com.esotericsoftware.kryo:kryo:2.22

Does not give me the warning.

[2019-06-14 16:09] Padu0827 opened #4565 "XGBClassifier always stopping after 99 rounds"
### Issue
While training a model using XGBClassifier with early stopping in Python, the model always stops after 99 training iterations unless early stopping is set to something less than that. I'd like to  train this model for many more iterations than just 99, but no matter what I set early_stopping_rounds to it stops after 99.

### Source
downloaded through Anaconda

### Code
[code]

[2019-06-14 19:49] chenqin commented on #4250
Thanks for sharing @wstian , will take a look!

[2019-06-14 23:35] cyzhangchenya opened #4567 "[jvm-package] looser throw specifier for ‘virtual xgboost::data::SimpleDMatrix::~SimpleDMatrix() noexcept (false)’"
XGBoost base version: 0.72
Git cherry-pick: https://github.com/dmlc/xgboost/pull/3697/commits/d95c2b2591eaa773df44bb9ecf03561e45bdc53b
Dev environment: Red Hat Enterprise Linux Workstation 7.3

Cloned `dmlc-core` and `rabbit` to the `xgboost` repository.
Run `./build.sh`.

Exception trace:
In file included from src/data/data.cc:10:0:
src/data/./simple_dmatrix.h:20:7: error: looser throw specifier

[2019-06-15 01:50] panranyang commented on #4564
Like
tree pruning end, 1roots, xx extra nodes, xx pruned nodes, max_depth=x

[2019-06-15 02:01] trivialfis commented on #4564
@panranyang They have different implementation, see

https://github.com/dmlc/xgboost/blob/master/src/tree/updater_gpu_hist.cu

for GPU Hist.

[2019-06-15 02:01] #4564 closed

[2019-06-15 02:39] CodingCat commented on #4567
Run mvn package -DskipTests?

On Fri, Jun 14, 2019 at 4:35 PM Chenya Zhang <notifications@github.com>
wrote:

[2019-06-15 04:10] cyzhangchenya commented on #4567
fyi. Root directory: `ls`
amalgamation  CITATION         cub        include                 jvm-packages  nccl            rabit      tests
appveyor.yml  cmake            demo       ISSUE_TEMPLATE.md       LICENSE       NEWS.md         README.md
build         CMakeLists.txt   dmlc-core  Jenkinsfile             make          plugin          R-package
build.sh      CONTRIBUTORS.md  doc        Jenkins

[2019-06-15 04:12] cyzhangchenya commented on #4567
Sorry, I just saw @trivialfis's commit. Will try now.

[2019-06-15 04:36] cyzhangchenya commented on #4567
Hi @CodingCat @trivialfis:

Our base version is `release_0.72`.

After adding the latest commit change:
[code]

The issue still persists:
In file included from src/data/data.cc:10:0:
src/data/./simple_dmatrix.h:20:7: error: looser throw specifier for ‘virtual xgboost::data::SimpleDMatrix::~SimpleDMatrix() noexcept (false)’
 class SimpleDMatrix : public DMatrix {
       ^
In file included from src/

[2019-06-15 04:53] trivialfis commented on #4567
What compiler are you using?

[2019-06-15 04:53] CodingCat commented on #4567
Please try the latest version, in theory, we do not support ancient versions like 0.72 anymore

[2019-06-15 05:09] cyzhangchenya commented on #4567
@trivialfis
gcc version 4.8.5 20150623 (Red Hat 4.8.5-28) (GCC)

@CodingCat
Sorry for asking about the ancient version! We are supporting xgboost at LinkedIn and we are quite lagging behind from the latest one. The current support version is 0.72 at the company and we have teams who are in urgent need to use https://github.com/dmlc/xgboost/commit/d95c2b2591eaa773df44bb9ecf03561e45bdc53b.

Our plan

[2019-06-15 05:35] trivialfis commented on #4567
@cyzhangchenya I think that's a compiler bug in old gcc that fails to deduce exception specification.  If it's urgent can you try working around it by writing the destructor for both `DMatrix` and `SimpleDMatrix` yourself with `= default` removed?  I don't want to add the workaround to master branch since auto deduction is the recommanded way in c++11.

[2019-06-15 14:47] cyzhangchenya commented on #4567
@trivialfis Some follow-up questions:
- Do you also see this on a clean build of v0.72 and could you share your compiler version, and the exception specification (if any)? We are trying to understand what might be the root cause of this exception.
- Do you have any recommendation or anything we need to pay attention to when writing the destructors for both `DMatrix` and `SimpleMatrix`? We haven't

[2019-06-15 14:50] CodingCat commented on #4567
Try dev/build-docker.sh in jvm folder (you can also check docket image
there)

It is used for release, I didn’t see this problem in my side

On Sat, Jun 15, 2019 at 7:47 AM Chenya Zhang <notifications@github.com>
wrote:

[2019-06-15 15:48] cyzhangchenya commented on #4567
@CodingCat
###Experiment 1
[code]
[code]
[code]
[code]
I cannot run `./build.sh` from `xgboost-upstream` to have `libxgboost.a` and `libxgboost.so` be created under `lib` and `xgboost` be created under `xgboost-upstream` as described above.

###Experiement 2
Following the installation guide https://xgboost.readthedocs.io/en/latest/build.html:
[code]
Do we have a requirement on GCC version being 5.

[2019-06-15 15:50] trivialfis commented on #4567
@cyzhangchenya No, I have never seen this before.  Currently XGBoost is tested with 5.3 .  I think 0.72 was tested with 4.8, so I don't know why it fails on your side.  Based on the error message you provided, you can try replacing both default destructors with:

`virtual ~DMatrix() noexcept (true) {}` and `virtual ~SimpleDMatrix() noexcept (true) {}`.

[2019-06-15 16:29] cyzhangchenya commented on #4567
Adding `virtual ~SimpleDMatrix() noexcept (true) {}` to `/src/data/simple_dmatrix.h`, together with https://github.com/dmlc/xgboost/pull/4568/commits/f1f73deeca856c162aaa2ff0036f7bdc6b368a22, I am able to run `./build.sh` from root to have `libxgboost.a` and `libxgboost.so` be created under `lib` and `xgboost` is also created.

Navigating to `jvm-packages`, I can run `./create_jni.py` successfully

[2019-06-15 17:13] pford221 commented on #4556
How do you do multi-output regression with gradient-boosted decision trees?

[2019-06-16 03:30] CodingCat commented on #4567
@cyzhangchenya so regarding upgrade, recommend to jump 0.9 directly, we have a bug in 0.82 which messed up prediction dataframe in some cases,

[2019-06-16 03:30] #4567 closed

[2019-06-16 13:14] KOLANICH commented on #4556
Currently I don't because of some problems (lot of nans even if none of the data or loss first and second partial derivatives contain any nans). Since XGBoost has no multioutput regression, the natural thing to try is to try predicting each column with a separate model trained using a custom loss function `L(α, β, α', β')` (primed vars are from dataset, non-primed are predicted by XGBoost), replac

[2019-06-16 13:14] KOLANICH commented on #4556
Currently I don't because of some problems (lot of nans even if none of the data or loss first and second partial derivatives contain any nans). Since XGBoost has no multioutput regression, the natural thing to try is to try predicting each column with a separate model trained using a custom loss function `L(α, β, α', β')` (primed vars are from dataset, non-primed are predicted by XGBoost), replac

[2019-06-16 20:32] pford221 commented on #4556
Sorry, but you're going to have explain what the parameters $\alpha$ and $\beta$ mean? Are those hyper parameters, leaf weights??

[2019-06-16 20:50] rrichmond opened #4570 "Issue compiling R package"
I'm trying to compile the xgboost R package, but am getting the following error. The shared library compiles fine. Thanks!

[code]

[2019-06-16 20:59] KOLANICH commented on #4556
No. They are parameters of Weibull distribution. The loss function is [Kullback-Leibler divergence between 2 Weibull distributions](https://arxiv.org/pdf/1310.3713.pdf) (one should be predicted by a model) with some regularization terms meant to prevent the arguments from going negative.

[2019-06-17 01:55] trivialfis commented on #4570
Can you get GCC 5.3 or later?

[2019-06-17 01:59] T0T4R4 commented on #4300
A simple way is for the contributors of this package to keep up with Pandas updates....

[2019-06-17 13:11] rrichmond commented on #4570
Thanks for the response. I was able to get it to compile with gcc. It seems that it doesn't play well with the intel compiler.

[2019-06-17 13:11] #4570 closed

[2019-06-17 13:27] panranyang opened #4573 "Multi-GPU not faster than only one GPU"
I tired benchmark_tree.py and my own dataset,  n_gpu=1 worked even better than  n_gpu=2.
I'm sure that tow gpus working together when n_gpu=2  by nvidia-smi.
I'm just wondering if it worked normally or I got something wrong.

My CUDA version : 9.2.148
xgboost version: 0.82
python: 2.7.10
GPU version :396.37
GPU: gtx1080 * 2

[2019-06-17 13:42] trivialfis commented on #4573
@panranyang It's possible, see comment in https://xgboost.readthedocs.io/en/latest/gpu/index.html#single-node-multi-gpu

[2019-06-17 13:42] #4573 closed

[2019-06-17 15:42] xavierburtschell commented on #3543
@hcho3 I just tried xgboost version 0.82.1, problem solved! threads used at 100%, no noticeable difference in comuptation time between version 0.71.1 and 0.82.1.
thanks!
Just out of curiosity, any idea how version 0.82.1 solved it?

[2019-06-17 18:40] CodingCat commented on #4548
sure, welcome to file a PR for this

[2019-06-18 00:17] phillyfan1138 commented on #4548
Opened a PR.

[2019-06-18 04:00] hcho3 commented on #4565
How does the AUC metric change over time? Maybe early stopping is working as intended?

[2019-06-18 06:46] Daniel8hen commented on #4520
Hi @CodingCat , sorry to get in-between you guys, but wanted to ask something specific (and if you want me - I'll open another PR for it).
Today, per https://github.com/dmlc/xgboost/blob/90f683b25be28150487dead9a695b20dc464d0b4/jvm-packages/xgboost4j/src/main/scala/ml/dmlc/xgboost4j/scala/Booster.scala#L271
the relevant options for getFeature score are: gain, cover, total gain, total cover.

Can y

[2019-06-18 08:23] dtss316 opened #4576 "Same param settings, differ in the length of eval_set, get different training result"
Sample1:
input_param = {'booster': 'dart', 'colsample_bylevel': 0.4, 'colsample_bytree': 0.3, 'gamma': 0.9000000000000001, 'learning_rate': 0.1, 'max_delta_step': 2, 'max_depth': 2, 'min_child_weight': 2, 'n_estimators': 480, 'reg_alpha': 10, 'reg_lambda': 1, 'scale_pos_weight': 0.9, 'subsample': 0.6000000000000001}
model = xgbboost.sklearn.XGBClassifier(n_jobs=5, verbosity=0, **input_param)
model

[2019-06-18 09:23] trivialfis commented on #4552
I don't see this on Python side.

[2019-06-18 16:26] #4548 closed

[2019-06-18 16:36] hcho3 commented on #4498
I played with Azure Pipelines a bit, and so far it's been pleasure to work with.
* Builds start almost instantaneously and run fast.
* In a single YAML file, I can use Linux, Mac OSX, and Windows agents.
* Jobs can run in parallel, but some jobs can be made dependent on other jobs.

See example: [azure-pipelines.yml](https://github.com/dmlc/treelite/blob/600afd55d1fa9bb94fc88fd3a3043cb2d5b20651/az

[2019-06-18 17:45] trams commented on #4562
I see your concern. I am a bit surprised that your benchmark performs so poorly on linux (I expected it the other way around).

Would you be able to publish your full benchmark somewhere so we could try to reproduce it?

Another question. You used xgboost4j-0.82-criteo-20190412_2.11-win64.jar to run your windows inference but did you use
xgboost4j-0.82-criteo-20190412_2.11-linux.jar  or the offici

[2019-06-18 23:06] RAMitchell commented on #4552
This is a tricky one, I don't think num_class should generally be set for binary classification. The reason is that the internal implementation for binary classification is specialised compared to the multiclass implementation. After setting the num_class parameter the internal implementation thinks you want to output predictions for each of your class labels, which is redundant in the binary case

[2019-06-19 03:33] trivialfis commented on #4552
@RAMitchell Num class is quite difficult to handle, it ties to num_output_group, also objective.  Do you think it's a good idea to remove all these auto configuration then just emit an error to tell users to set correct parameters?
 This way all these "heuristics" can be  removed.

[2019-06-19 03:54] RAMitchell commented on #4531
The documentation has been updated and deprecation warnings will now be issued. I will leave this issue open until we start removing this feature in case of any further feedback.

[2019-06-19 05:57] hcho3 commented on #4576
Early stopping may be broken. Try disabling early stopping and see if the results are consistent. If so, we will need to fix early stopping. Can you post your script and data so that we can try to fix it?

[2019-06-19 06:21] GeekHF commented on #4562
Hi @trams ,

That is also surprised me, and I am trying to work this out for more than one week.

I upload a pre-trained model and the java file I used to make the predictions.
[https://github.com/GeekHF/xgboost_demo](url)

The output for windows and Linux are in duration_windows.txt and the duration_linux.txt.

Could you try to reproduce those on your end?

I tried to used different versions of j

[2019-06-19 09:34] cmcai0104 opened #4581 "how to set eval_set and eval_group when fitting the XGBRanker model?"
I'm not understand the state of eval_group in fit function that

When I set eval_set to be list of (X, y) pair, eval_group to be the list of length of each group, return Error: the length of eval_set must be match with the length of eval_group.

But when I set eval_set to be list of (X, y)pair where X and y is one group of X and y, it also does not work.

[2019-06-19 09:48] trivialfis commented on #4498
Can't wait.

[2019-06-19 12:39] renqipan opened #4582 "TypeError: can not initialize DMatrix from DMatrix"
xg_class= xgb.XGBClassifier(objective ='reg:logistic', colsample_bytree = 0.3, learning_rate = 0.1, max_depth = 8, alpha = 10, n_estimators = 10)
weight_train=weight_train*10**4
weight_test=weight_test*10**4
import numpy as np
weight_train=np.asarray(weight_train)
weight_test=np.asarray(weight_test)
dtest = xgb.DMatrix(data=X_test,weight=weight_test)
xg_class.fit(X_train, y_train,sample_weight=wei

[2019-06-19 12:42] renqipan opened #4583 "AttributeError: 'Booster' object has no attribute 'predict_proba'"
import numpy as np
weight_train=np.asarray(weight_train)
weight_test=np.asarray(weight_test)
y_test=np.asarray(y_test)
y_train=np.asarray(y_train)
data_dmatrix = xgb.DMatrix(data=X_train,label=y_train,weight=weight_train)
params = {"objective":"reg:logistic",'colsample_bytree': 0.3,'learning_rate': 0.1,
                'max_depth': 8, 'alpha': 10,"eval_metric":"error"}
cv_results = xgb.cv(dtrain=d

[2019-06-19 14:59] trivialfis commented on #4561
@renqipan Thanks for the dataset.  Will look into this.

[2019-06-19 16:38] chenqin commented on #4250
the downside of third approach is we need to get this side car agent runs in same phase, which can be a bit tricky to get it right.

[2019-06-19 19:05] trivialfis commented on #4169
@laceyg Closing as now interaction constraint supports `gpu_hist`, and `gpu_exact` is deprecated.

[2019-06-19 19:05] #4169 closed

[2019-06-19 20:48] hcho3 commented on #3083
Recent discussion: #4482

[2019-06-19 21:00] sh1ng commented on #4523
I've fixed it in our fork.

[2019-06-19 21:00] #4523 closed

[2019-06-20 02:47] alexvorobiev opened #4585 "R package has version 0.82.0.1 on release_0.90 branch"
Should the version number be updated in DESCRIPTION?
https://github.com/dmlc/xgboost/blob/release_0.90/R-package/DESCRIPTION#L4

[2019-06-20 04:23] #4162 closed

[2019-06-20 08:08] narayananunny opened #4586 "Make GBTree reusable"
Currently the implementation of GBTree in the gbtree.cc without being exposed through an include file. This makes inheriting and extending GBTree very difficult. The only other option is to modify gbtree.cc in place which is not very neat when trying to use xgboost as a library. Could gbtree.cc be restructured so that its interface is exposed through a header file.

[2019-06-20 21:22] hcho3 commented on #4585
Oops, I forgot to update it, sorry about that. Let me fit it now.

[2019-06-20 21:25] #4585 closed

[2019-06-20 21:28] hcho3 commented on #4583
`predict_proba()` method only exists for the scikit-learn interface (`XGBClassifier` / `XGBRegressor`). Please use `xg_reg.predict()` instead.

[2019-06-20 21:28] #4583 closed

[2019-06-20 21:43] hcho3 commented on #4582
For `XGBClassifier.predict()`, you should pass the NumPy array directly:
[code]

The docstring incorrectly stated that DMatrix should be passed; #4592 fixes it.

[2019-06-21 03:11] trivialfis commented on #4586
We don't have a c++ interface yet.  If you want to add your code, please try making it part of XGBoost or a plugins.

[2019-06-21 03:11] #4586 closed

[2019-06-21 04:44] #4582 closed

[2019-06-21 04:45] trivialfis commented on #4549
Fixed in  #4592.

[2019-06-21 04:45] #4549 closed

[2019-06-21 09:34] xiaozhongtian opened #4595 "Basic tree algos distributed"
Hello,
I have seen the tutorial that with the parameters in sci-kit learn like API

- `n_estimators` = `num_parallel_tree`

- `learning_rate` =`1 `

- `colsample_bynode` and `subsample` = `0.8 `

- `booster`  = `'gbtree'`
can construct the `RandomForest` in sci-kit learn but in distributed version.

And can I do the same thing with the different combination of the parameters  to construct the
`Dec

[2019-06-21 13:43] trivialfis commented on #4595
You can use single tree with one boosting round to train a decision tree.  AdaBoost is not supported.  For the last one, check out tutorial for random forest in doc.

[2019-06-21 13:57] xiaozhongtian commented on #4595
Thanks for your responds.
Is the `num_iterations`  the parameter corresponding to the boosting round?
I can set it `n_estimators = 1` and  `num_iterations=1` to construct the DecisionTree?

[2019-06-22 12:57] thekvs opened #4597 "Different predictions between C++ and Python/R"
I have different predictions when the same pretrained model is run from C++ and from Python/R code.

Initially model is trained in Python and then saved to a file in the XGBoost binary format. Later I load that model into C++/Python/R code and use for a new data.

[Here](https://github.com/thekvs/xgboost-example) I've prepared example repository which contains code, binary model and example datase

[2019-06-22 16:11] thekvs commented on #4597
Found bug on my side.
For history: https://github.com/thekvs/xgboost-example/commit/49158ccc01f3377e674f7f930b8ee8fffba53ab1

[2019-06-22 16:11] #4597 closed

[2019-06-22 20:25] fcoppey opened #4599 "TPOT using XGBoost WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror."
Hello,

I get this warning when using XGBoost in TPOT Pipeline, any idea why? TPOT developers say they do not set reg:linear.

[2019-06-23 03:53] trivialfis commented on #4599
Fixed in master branch.

[2019-06-23 05:35] #4599 closed

[2019-06-23 05:45] trivialfis opened #4600 "New way of specifying device."
Following our deprecation of `n_gpus` parameter, we may need a new way to specify device XGBoost will run on.  There are a few scenarios we need to consider:

- When training, the device is automatically selected based on `tree_method`.  Do we still want to support running predictor and metrics on CPU while updater running on GPU?
- During prediction, how do we specify what device to run on like C

[2019-06-24 09:53] trivialfis commented on #4561
I'm lowering down the dot file construction into c++, which might take some time.

[2019-06-24 12:45] Craigacp commented on #4562
The Linux CPU is a Broadwell architecture chip with a max turbo speed of 3.4GHz, and the Windows CPU is a Kaby Lake chip with a max clock speed of 4.2GHz. The kaby lake architecture is faster, and I'm unclear as to how many threads your demo is using (as it's a parameter of the model). If it's single threaded then I'm not really surprised it's slower on Linux (though I am surprised it's that much

[2019-06-24 13:19] nedStackAdapt opened #4601 "[jvm-packages] Add option to treat 0's as 0's in sparse vectors instead of missing values?"
Many tree packages don't have a missing value branch on their tree nodes (e.g. Spark).  It is often useful to translate from XGBoost results to a different tree package.

Currently, XGBoost treats zeros in sparse vectors as missing values.  Is it possible to add an option to treat 0's as 0's instead of as missing values for sparse vectors?  That way data specified as sparse vectors will have no mi

[2019-06-24 23:07] RAMitchell commented on #4600
These are all good questions, for which I have no answers right now :)

We can introduce a `device` parameter indicating the preferred device to run any given function on. Do you have any other suggestions?

[2019-06-25 01:47] GeekHF commented on #4562
Hi @Craigacp ,

Thanks for your reply.

The opening and closing file is just to write down the time which the prediction line use in each loop. So I think the output might just reflect the time difference between Windows and the CentOS.

CPU speed might be one reason, but it's much much slower than expectation even if we consider the CPU difference.

I use four threads both in the Windows and Cent

[2019-06-25 05:53] trivialfis commented on #4600
Personally I really like the tensorflow's device context, but I'm not sure about how the other languages would implement something like that.  E.g.
[code]
Maybe `booster.set_device('/gpu:0')`, I'm not sure yet, hence the issue.

[2019-06-25 07:37] chenxuanhanhao opened #4603 "xgb.train(): Segmentation fault, core dumped"
Program received signal SIGSEGV, Segmentation fault.
0x00002aaaaaab6b26 in elf_machine_rela (reloc=0x2aaafe5ea298, reloc=0x2aaafe5ea298, skip_ifunc=0,
    reloc_addr_arg=0x2aaafe62ff08, version=0x30, sym=0x2aaafe5e9620, map=0x555556ccb830)
    at ../sysdeps/x86_64/dl-machine.h:279
279	      struct link_map *sym_map = RESOLVE_MAP (&sym, version, r_type);

[2019-06-25 10:21] trivialfis commented on #4603
@chenxuanhanhao Could you provide a reproducible script?  And also OS, compiler, XGBoost version/commit.

I don't understand why would training failed during system dynamic linking.

[2019-06-25 11:43] Craigacp commented on #4562
The time isn't counted, but file opening and closing will mess about with the kernel state and other things you probably don't want in the benchmarking loop, polluting the caches and predictors. I doubt it's a major effect but it's not good benchmarking practice.

I'll try to replicate it.

[2019-06-25 18:19] trivialfis commented on #4287
Closing as we decided to deprecate `gpu_exact` and encourage the use of `gpu_hist`, which is more efficient.

[2019-06-25 18:19] #4287 closed

[2019-06-25 18:19] trivialfis commented on #4405
Closing as we decided to deprecate gpu_exact and encourage the use of gpu_hist, which is more efficient.

[2019-06-25 18:19] #4405 closed

[2019-06-25 18:20] trams commented on #4250
Thank you, @chenqin for all the work. We are experimenting with XGBoost on a large scale and I am very interested in working on making xgboost-spark training reliable.

I read this thread and I am a bit confused. As far as I understand xgboost-spark is not reliable. At least it has TaskFailedListener which kills the job if one of tasks fail. On another hand you have a test showing that distributed

[2019-06-25 18:24] trivialfis commented on #4199
I believe it's fixed in #4516.  Feel free to reopen if the problem persists.

[2019-06-25 18:24] #4199 closed

[2019-06-25 18:34] trivialfis commented on #4044
Closing as we are migrating to dask for distributed training.

[2019-06-25 18:34] #4044 closed

[2019-06-25 18:58] chenqin commented on #4250
@trams xgb-spark is reliable and able to do checkpoint restore, we daily runs large number of jobs with hundreds of containers and thousands of cores deployment. This doc is tracking works around rabit (worker synchronization layer). As we speak right now, XGBSpark works fine with remote checkpoint and restart / resume job.

The goal of improvement is to allow distributed xgb tolerate a few failur

[2019-06-25 19:04] thvasilo commented on #4595
` num_iterations` determines the boosting rounds yes. This means that if you set that to one, your model will train a single tree.

[2019-06-25 19:22] CodingCat commented on #4250
@trams fail-all-and-make-a-checkpoint on any error is a very typical strategy for machine learning systems.

The very original reason to fail everything on any error in spark layer is that the rabit fault tolerance is a bit off here and there leading to the stuck training process. Fixing those "offs" is the topic in this thread. In future, we should provide two types of fault tolerance strategy, a

[2019-06-25 19:29] #4524 closed

[2019-06-26 02:29] trams commented on #3946
Hello @CodingCat. We allocated significant time to fix checkpointing performance issue in XGBoost4J-Spark (it is a blocker for us) in July-August. So I am wandering what is a current status of your work and whether you prepare any pull requests now or I could take this over.

Thank you

[2019-06-26 02:30] CodingCat commented on #3946
I am currently working on it

[2019-06-26 02:30] trams commented on #4250
I am glad to hear about your plans on making distributed xgboost more reliable. And thank you for a quick response

As for checkpointing it works but https://github.com/dmlc/xgboost/issues/3946 prevents us to use to full extend

[2019-06-26 06:33] trivialfis commented on #4300
Suggestions are welcomed. :-)

[2019-06-26 07:20] #4228 closed

[2019-06-26 07:20] #4561 closed

[2019-06-26 11:17] zhangxiubo opened #4605 "[jvm-package] Prediction contributions dropped for empty columns when training matrix is sparse"
## Environment:
- XGBoost4J version: 0.82
- Spark Version: 2.3.3
- OpenJDK Version: 1.8.0_212
- OS: Ubuntu 18.04 LTS

## Steps to reproduce:
- Train a XGBoost model using a sparse input matrix (e.g. those constructed by `VectorAssembler`) with the XGBoost4J-Spark API;
- The sparse input matrix should contains some columns that are entirely empty, sometimes as a result of OneHotEncoderEstimator;
-

[2019-06-26 11:22] peeyushpashine123 opened #4606 "How to load model saved in text format to XGboost booster?"
I am reconstructing model from pmml by creating a text dump. Now I need to use this text dump to be loaded in the model and as I understand booster can load only binary dump. what is the workaround? I have seen the issue [3291](https://github.com/dmlc/xgboost/issues/3291).

[2019-06-26 13:22] trivialfis commented on #4606
No workaround yet.  The dumped model is for presentation purposes.

[2019-06-26 15:49] zhangxiubo commented on #4605
I believe this behaviour is closely related to #4601.

[2019-06-26 16:13] CodingCat commented on #4601
I think you are talking about XGBoost-Spark

are you saying that you do not like Spark's VectorAssembler's behavior that treat 0 as the only accepted missing value option, and you want XGBoost to revert that behavior by translating SparseVector to DenseVector?

[2019-06-26 16:15] CodingCat commented on #4605
I think it is a bit different with #4601,

when you have an empty column essentially all values in that column is treated as missing, I remember XGBoost algorithm has some problem to deal with such situation....@trivialfis do you have any thoughts here?

[2019-06-26 16:29] trivialfis commented on #4605
I'm not sure, need to see this in action ...

[2019-06-26 16:34] nedStackAdapt commented on #4601
You are right that I'm mostly referring to XGBoost-Spark, but I don't think I'm saying that... let me be more specific with an example.

We create an input vector that has a lot of dummy-coded features, so just 0/1 values but many coordinates of them.  Spark stores this as a Sparse Vector, to save memory, which is good because there are many coordinates of 0/1 values.  When putting this vector int

[2019-06-26 16:42] CodingCat commented on #4601
that's the same thing, you don't want 0 to be taken as missing values, then you need to save it in somewhere to feed to XGBoost <= translating sparse to dense

1. As I said , spark's vector assembler only takes 0 as missing value, when it comes to XGBoost training phase, all those 0s have been removed from input

2. XGBoost by default treats NaN as the missing value, but because of 1, it will trea

[2019-06-26 16:57] nedStackAdapt commented on #4601
I understand a bit more... let me say it another way then...

The XGBoost option I'd be asking for is to treat the missing values as 0's in XGBoost without actually increasing the memory storage.

[2019-06-26 17:03] CodingCat commented on #4601
I don't think we can do that, essentially it comes XGBoost treats a missing value as non-missing , then it confuses the all logic in handling missing values in XGBoost, more specifically

when we create a DMatrix, we treat 0 as missing value, later after we feed DMatrix to XGBoost, we have to leak this concrete value taken as missing to core training algorithm, which is expected to take those valu

[2019-06-26 17:27] nedStackAdapt commented on #4601
I don't understand the XGBoost code base very well, but is it possible to do something like change the dereference operator of BatchIterator to insert the 0's for missing values right before use by the algorithm?

Something perhaps here in data.h line 316?

  const SparsePage& operator*() const {
    CHECK(impl_ != nullptr);
    return *(*impl_);
  }

Just a thought...

[2019-06-26 17:30] CodingCat commented on #4601
how you ` insert the 0's for missing values ` `without actually increasing the memory storage.`?

[2019-06-26 17:34] nedStackAdapt commented on #4601
It would increase it just for the one row that is currently getting processed, as opposed to for the whole dataset, if that makes sense?

So, as the algorithm is iterating over the rows gathering statistics, only the current row getting processed would have the increased memory usage?

[2019-06-26 17:45] trivialfis commented on #4601
Let's not do that.

Tree algorithm doesn't necessarily process data row by row, actually I believe the whole dataset is loaded into updaters unless external memory is used.

So if I understand correctly, the 0s are removed in spark, but you want them somehow restored in XGBoost?

[2019-06-26 17:49] nedStackAdapt commented on #4601
Yeah, so they don't get treated as missing values but as 0's.  But to do that without blowing up memory usage...

Ok, I need to read more to understand how the tree updaters work.

[2019-06-26 18:13] trivialfis commented on #4601
I don't think we can implement that.  There's no way to distinguish actual missing values from zeros.

[2019-06-26 18:17] #4601 closed

[2019-06-26 18:17] #4606 closed

[2019-06-26 18:19] #4595 closed

[2019-06-26 18:26] humzaiqbal opened #4607 "sklearn vs xgboost inconsistency in prediction probabilities"
### System setup
OS: Mac OS X 10.13.6
xgboost version: 0.82
scikit-learn version: 0.20.2
numpy version: 1.16.1

### Problem
When I try to train a model using some sample data I notice that while both models are able to learn the data, the xgboost model is not able to do so as confidently judging from the prediction probabilities.

### Code
[code]
### Results
When I run the above code I get the fol

[2019-06-26 18:27] humzaiqbal commented on #4607
[features_labels.zip](https://github.com/dmlc/xgboost/files/3331458/features_labels.zip)
The `features.npy` and `labels.npy` files are attached in the zip file

[2019-06-26 18:38] hcho3 commented on #4601
@nedStackAdapt The first-class support for sparse data with missing values is one of strengths of XGBoost. Other tree packages (e.g. scikit-learn) will force you to impute missing values first before training, whereas XGBoost can handle missing values natively.

So there will always be some difference between XGBoost models and models created by other packages.

[2019-06-26 18:42] hcho3 commented on #4607
@humzaiqbal GradientBoostingClassifier and XGBoost are different algorithms, so there is no good reason to expect them to behave identically. In particular,
* Scikit-learn uses first-order gradient, whereas XGBoost uses second-order.
* Scikit-learn uses Gini or Information Gain as split criteria, whereas XGBoost uses the loss reduction as split criteria.

[2019-06-26 18:50] hcho3 commented on #4607
@humzaiqbal You can see the algorithmic details of XGBoost in my master's thesis: https://drive.google.com/file/d/0B0c0MbnP6Nn-eUNRRkVOOGpkbFk/view?usp=sharing

[2019-06-26 18:52] #4607 closed

[2019-06-26 18:56] trivialfis commented on #4607
@hcho3 @humzaiqbal Actually I ran some experiments out of curiosity.  I just generated some random normal data, when the data has only 12 rows, the difference is similar to above listed result.  But if you try to increase the number of rows to 120, the difference will become much smaller.

[2019-06-26 19:09] nedStackAdapt commented on #4601
@hcho3 I understand and value the missing value handling in XGBoost, its top notch.  The only issue in this case is that the values are not actually missing -- they are just 0's.  The 0's don't get stored in the sparse vector only to save memory, not because they are missing values.

But I understand if it is too hard to disambiguate these things in the XGBoost code.  Thanks for thinking about it.

[2019-06-26 19:29] trivialfis commented on #4601
@nedStackAdapt I don't know how spark works, but I think implementing a sparse vector is quite simple.

To me your issue is in sparse vector doesn't support compressing values other than zeros, not in machine learning libraries...  So maybe a better solution would be improving the vector class.

[2019-06-26 19:32] nedStackAdapt commented on #4601
@trivialfis Ok, then I wasn't communicating clearly.  There are no missing values in my dataset.  It is just big with lots of 0 values, so it is stored as a sparse vector to save memory.

But the 0 values get treated as missing values in XGBoost... That's the issue.

[2019-06-26 19:33] trivialfis commented on #4601
I will try to see if it's possible for XGBoost to eliminate copying data under some conditions.

[2019-06-26 19:45] trivialfis commented on #4601
@nedStackAdapt Got it.  Thanks for the clarification.  Let us think about solutions other than restoring 0 for categorical data.  It's quite difficult for XGBoost to do that right now.

[2019-06-26 23:39] rothn commented on #4228
Reproducible example: feature "foo_bar == 2"

[2019-06-26 23:40] rothn opened #4611 "Issue 4228 Reopened"
Same issue as described in:
https://github.com/dmlc/xgboost/issues/4228

Reproducible example:
feature name: "foo_bar == 2"

[2019-06-26 23:41] tgravescs opened #4612 "GPU Assignment for XGBoost Spark on YARN and Standalone mode"
Currently if you are running XGBoost using GPUs on Spark 2.x on YARN 2.x or in spark standalone mode, there is no support for GPU assignment or isolation.  Your only option is to run on a single GPU node or to set CUDA_VISIBLE_DEVICES before launching. This is very difficult to do especially running multi-tenant cluster.  We are adding GPU scheduling to Spark 3.x but that currently isn't available

[2019-06-26 23:42] tgravescs commented on #4612
Note I have a version of the above working, it is likely dependent upon https://github.com/dmlc/xgboost/pull/3997.  We will plan on contributing that back.

[2019-06-26 23:44] hcho3 commented on #4611
@rothn #4228 was fixed in the latest master. You can compile and run by
[code]

[2019-06-26 23:56] rothn commented on #4611
Sorry, just realized that although the commit is dated in March, the merge only happened 17 hours ago.

[2019-06-26 23:56] #4611 closed

[2019-06-27 01:10] Craigacp commented on #4562
Running on Windows 10 x64 1809 (on a 2012 rMBP) I get an average of around 400 microseconds, with a few small modifications to the file I get an average of 165 microseconds (which is moving the file open and print out into a separate loop). Running on Ubuntu 18.04 via the WSL on the same machine (which is not a good test case for Linux) I get an average of around 380 microseconds, and with the mod

[2019-06-27 02:22] Craigacp commented on #4562
Ran on macOS and got some odd malloc errors which I'll try to look into later, but when it ran it was running somewhere between the Windows and WSL scores.

[2019-06-27 05:17] peeyushpashine123 commented on #4606
@trivialfis Is there any way to internally convert the parameters/attributes directly to binary format? lets say I have all the information that I am saving in text format, instead of that I want to save directly to binary format.

[2019-06-27 10:25] zhangxiubo commented on #4605
Judging from model dumps, it seems the model wasn't aware of the empty columns/features at all when making predictions. Reading the native code for making the predictions (those in `cpu_predictor.cc`), it seems the number of columns in the output matrix containing the prediction contributions was derived from the model's `num_feature` parameter (`size_t ncolumns = model.param.num_feature + 1;`, [l

[2019-06-27 10:40] zhangxiubo commented on #4601
My understanding is that when training with sparse input matrix and a special "missing" value is specified (say Float.NaN), XGBoost will first go through the non-zero entries of the sparse matrix and remove any entries that takes that value from the sparse data structure; afterwards, any "empty" entries in the training matrix will be consider as missing values.

I'd image if there is only a couple

[2019-06-27 20:23] trivialfis commented on #2326
@hcho3 I'm working on this, hopefully can get a solution soon.

[2019-06-27 21:16] #4234 closed

[2019-06-27 22:20] hcho3 opened #4616 "XGBoost crashes in Windows 10 due to incompatible DLL dependencies"
In https://discuss.xgboost.ai/t/xgboost-crash-on-windows-10/984?u=hcho3, a user reports that the official Python distribution of XGBoost crashes on Windows 10 Pro. Currently, we only test XGBoost against Windows Server editions.

@trivialfis @RAMitchell @rongou @sriramch Have you ever run into issues when installing XGBoost on Windows using `pip install xgboost`?

~TODO: Add Windows 10 Pro to Jenk

[2019-06-27 22:29] RAMitchell commented on #4616
Haven't encountered this myself but haven't been doing a lot of work on Windows lately.

[2019-06-28 03:40] pseudotensor opened #4618 "Check failed: n_gpus <= n_available_devices (1 vs. -4) Starting from gpu id: 6, there are only -4 available devices, while n_gpus is set to: 1"
[code]

Similar context as before @trivialfis .  Was 8 k80s 32 vCPU and 488 gigs of ram from ec2 and then that pickle file was run on system with 2 GPUs.

@sh1ng

[2019-06-28 04:14] pseudotensor commented on #4618
From the code, I see:

https://github.com/dmlc/xgboost/blob/master/src/common/common.cc

[2019-06-28 04:48] pseudotensor commented on #4618
So basically during unpickling, gpu_id is still checked.

I tried a case with 4->1 GPUs and didn't hit same problem always, depends upon gpu_id used.

For the same package, going from GPU->CPU *did* work.  That is:
[code]
shows no error.  This is what I think @trivialfis solved before.  Just need gpu_id to not fail upon pickle load  either if number of GPUs visible changes.  Need to give user time

[2019-06-28 04:50] pseudotensor commented on #4618
xgboost used to be smart and wrap the gpu_id by the number of visible devices.  I know @RAMitchell said that was taken out, but this is a reason to put back in such basic smarts.  Shouldn't make xgboost super dumb.

[2019-06-28 14:58] trivialfis commented on #4618
@pseudotensor Thanks for the issue. I will trying looking into the unpickling.

It's removed only because I don't know how to make it work.  The multi gpu only started working after removing it in #3851 and a few months worth of debugging efforts ...  Before that any change of `gpu_id` can cause a series of troubles.

[2019-06-28 18:15] trivialfis opened #4619 "External memory race condition."
Hi, @RAMitchell @hcho3 @CodingCat

I encountered an error on master branch a30176907f5628020f8238464c2f58907ee724d1 by running Python test:
[code]

The error is not deterministic, sometimes it's a segfault, while other times it's some failing checks,  I attached a few of them at the end.  Also note that if I limit XGBoost to single thread all tests run smoothly.  So I believe that it's a race erro

[2019-06-28 18:49] trivialfis commented on #4619
I traced the commit back to 3f7e5d9c478e0cb94651e04a00a05fb9e2135c18 , the error is still here so it's not a recent regression.

[2019-06-28 19:39] trivialfis commented on #4619
I have [another branch](https://github.com/trivialfis/xgboost/tree/sparse-hist) that didn't touch sparse page, somehow got an file open error in unittest:

[code]

[2019-06-28 21:35] hcho3 commented on #4619
@trivialfis What kind of machine are you using to run tests? Is it a desktop or a cloud instance?

Here's what I think you should do:
1. Log all calls to C API functions of XGBoost that correspond to a single Python test.
2. Now write a C program that re-creates the exact sequence of the C API function calls. This is to remove Python so that it doesn't interfere with Thread Sanitizer.
3. Compile t

[2019-06-29 00:58] trivialfis commented on #4619
@hcho3 Just a desktop with Ubuntu 19.04.  Let me figure something out tomorrow.

[2019-06-29 07:29] chenqin commented on #4250
@wstian can you try my latest master and see if it can pass your previous tests? I can see it pass https://github.com/chenqin/xgboost/blob/master/tests/cli/runhist.sh

[2019-06-29 20:07] adithyabsk commented on #4477
@Craigacp @hcho3 Is this something we could consider until a cmakelists workaround is found. https://github.com/netket/netket/issues/225#issuecomment-502714445. This also seemed promising but I wasn't able to get it to work: https://stackoverflow.com/questions/46414660/macos-cmake-and-openmp

[2019-06-30 05:34] alokgogate opened #4623 "terminate called after throwing an instance of 'dmlc::Error'"
Operating system: Centos 7
xgboost version: 0.90
xgboost installed from pypip repository: `pip install xgboost`
I get the error for the following code after trying to fit a xgboost classifier on a very large dataset (~100 million rows):

code:
[code]
error:

[2019-06-30 15:42] trivialfis commented on #4623
@alokgogate Could you please post some sample data so that I can reproduce?

[2019-06-30 16:52] alokgogate commented on #4623
@trivialfis unfortunately I wont be able to post sample data as the data is confidential. However I did manage to run it successfully on a small subset (~5 million rows) of the large dataset.

[2019-07-01 17:22] popovprodigyai commented on #4246
Is there any update on this. It seems that this is complete stoper from using xgb on Production...?

[2019-07-02 05:31] sandys opened #4626 "ONNX export is now available in onnxmltools"
hi guys,
xgboost export is now available (and exposed) in Onnxmltools repo - https://github.com/onnx/onnxmltools/pull/318

I am aware that xgboost has a RFC for a new export format, however given that onnx is supporting xgboost - will the xgboost project considering adopting ONNX as *one* of the officially supported export formats ?

[2019-07-02 06:43] trivialfis commented on #4618
I'm preparing for a relocation, things might be slow.

[2019-07-02 07:36] wagnew3 opened #4627 "Plugin example not working for python"
The plugin example (https://github.com/dmlc/xgboost/tree/master/plugin/example) does not work. When I compile from source as a python package after following instructions for the plugin example I get the error "xgboost.core.XGBoostError: b'[03:34:57] /home/willie/xgboost/src/objective/objective.cc:23: Unknown objective function mylogistic\n\n".

[2019-07-02 07:56] mirekphd commented on #3921
It's not related to CUDA version. We reproduced your problem of XGBoost predictions instability between program runs (despite having fixed seeds and getting unchanged predictions in the CPU) in yet another, even older CUDA version - 9.0.176.

The positive connection of the bug occurence to data size seems to be there, but we haven't tested it thoroughly.

[2019-07-02 10:08] thesuperzapper opened #4628 "[jvm-packages] spark hangs when training is run in quick succession"
I am getting an infinite hang when I run the following code a few times in quick succession:
[code]

**Steps to reproduce:**
1. open spark-shell with xgboost jars
2. Run the above code
3. quickly rerun the last line until a hang happens

**Other information:**
When the hang happens I only get the tracker message, and nothing after that, I have to kill the spark job. (If I wait between runs, they a

[2019-07-02 10:54] PyDataBlog commented on #4173
@hcho3 any progress over this issue?

[2019-07-02 12:32] CodingCat commented on #4628
Currently, parallel training for multiple models is not supported

[2019-07-02 21:13] thesuperzapper commented on #4628
@CodingCat

In this case, I am letting each training finish, so it's only one model.

However, you're almost certainly right about the cause. That is, I think there is some "cool down" after training each model, in which you can't train another without hanging.

[2019-07-02 22:53] chenqin commented on #4250
rabit one off recovery cache
https://github.com/dmlc/rabit/pull/98

[2019-07-02 23:46] goerlitz opened #4630 "xgb.cv with early stopping returns wrong best iteration when multiple metrics are used"
I've been using xgb.cv with early stopping to determine the best number of training rounds. The [documentation for early-stopping](https://xgboost.readthedocs.io/en/latest/python/python_intro.html#early-stopping) only mentions `xgb.train` and `param['eval_metric']` and says that

I assumed that the same would be true for `xgb.cv` and the parameter `metrics`. However, when using multiple metrics it

[2019-07-03 00:55] hcho3 commented on #4616
Update: I did not manage to reproduce the issue. Here are the steps I took:

1. Make a fresh installation of Windows 10 Education Edition inside VirtualBox.
2. Install Miniconda.
3. Activate the conda environment and install NumPy and SciPy:
[code]
4. Install XGBoost.
[code]
5. Run the following script:
[code]

The script managed to run without crashing.

[2019-07-03 01:34] hcho3 commented on #4173
@PyDataBlog Sorry for the delay, I recently had a 2-week vacation and somehow this issue got slipped through.

I just made a clean installation of Windows 10 inside the VirtualBox (+ Miniconda) and then ran your example script. Unfortunately, I was not able to reproduce the error. Let me try again with a different system locale.

[2019-07-03 03:36] hcho3 commented on #4173
I tried the script again after changing the system locale to Danish, and still I do not see the error.

[2019-07-03 03:43] hcho3 commented on #4173
@PyDataBlog So actually I did get the error. The fix seems to be changing the line
[code]
to
[code]

[2019-07-03 03:43] #4173 closed

[2019-07-03 03:56] hcho3 commented on #4581
Take a look at the demo [here](https://github.com/dmlc/xgboost/blob/986fee60229c77920e93ae3b374c2e674faee78d/demo/rank/rank_sklearn.py). In particular, pay attention to the lines
https://github.com/dmlc/xgboost/blob/986fee60229c77920e93ae3b374c2e674faee78d/demo/rank/rank_sklearn.py#L33-L34

[2019-07-03 03:56] #4581 closed

[2019-07-03 04:01] hcho3 commented on #4550
@Vivekreddyd Which version of XGBoost are you using? The issue you are mentioning has been fixed starting with version 0.82, and AUCPR will be maximized in early stopping.

[2019-07-03 04:01] #4550 closed

[2019-07-03 04:03] hcho3 commented on #4627
@wagnew3 Were you using CMake when compiling XGBoost? The instruction in the plugin example seems to be assuming the use of plain Makefile.

[2019-07-03 04:11] hcho3 commented on #4536
@nedStackAdapt Personally, I'm not sure how much confidence we should put into `grow_local_histmaker`, since it's seldom used and thus tested.

[2019-07-03 04:12] hcho3 commented on #4576
@dtss316 Any updates?

[2019-07-03 04:12] #4565 closed

[2019-07-03 04:12] hcho3 commented on #4509
Looking at this now

[2019-07-03 04:51] PyDataBlog commented on #4173
@hcho3 thanks for the fix. Glad to have you back.

[2019-07-03 05:09] hcho3 commented on #4509
I will file a small pull request to fix this.

Indeed, XGBoost shuffles the order of data points prior to constructing stratified folds, so you get different results compared to just calling `xgb.createFolds()` directly. However, I don't agree with this sentence

since XGBoost is still building stratified folds (after shuffling the data order).

[2019-07-03 05:16] hcho3 commented on #4509
See #4631

[2019-07-03 05:44] hcho3 commented on #4517
There are extra attributes inside `XGBClassifier` that are being lost. Can you pickle `XGBClassifier` instead?

[code]

[2019-07-03 06:07] #4517 closed

[2019-07-03 06:07] hcho3 commented on #4517
We added a warning that `save_model()` may produce undesirable effects: #4632

[2019-07-03 07:28] hcho3 commented on #4616
Closing for now.

[2019-07-03 07:28] #4616 closed

[2019-07-03 08:18] hcho3 commented on #4626
Sure, we can add a link to your repository in [this page](https://github.com/dmlc/xgboost/tree/master/demo). Thanks for writing the convertor.

Side note: #3980 defines a new **serialization** format, i.e. round-trip (save and then load) will preserve all data internal to XGBoost models. So it is different from export formats, where round-trip ability is not a concern.

[2019-07-03 08:32] #4509 closed

[2019-07-03 08:36] hcho3 commented on #4556
@KOLANICH As part of #4491, I'm looking to add two extra attributes `label_lower_bound` and `label_upper_bound`, to express left- and interval-censored data. So adding another attribute for the extra output column may be a solution for your use case.

[2019-07-03 08:42] #3261 closed

[2019-07-03 08:43] hcho3 commented on #3261
Feel free to post a new issue if a similar issue arises again.

[2019-07-03 08:49] hcho3 commented on #3543
@xavierburtschell We have an on-going effort to let XGBoost utilize multi-core CPUs better. See #3957, #4310, #4529.

[2019-07-03 08:49] #3543 closed

[2019-07-03 08:52] hcho3 commented on #3124
@tarstars @bourbaki Fixed by #3766

[2019-07-03 08:52] #3124 closed

[2019-07-03 08:58] hcho3 commented on #4477
@adithyabsk @Craigacp OpenMP is very much critical for the performance of XGBoost, since we want to use all available cores of multi-core CPUs commonly available on users' systems.

IMHO, pip is not designed for handling such external dependencies as libomp. On the other hand, conda is able to handle non-Python dependencies just as easily. See this post: https://jakevdp.github.io/blog/2016/08/25/c

[2019-07-03 09:05] hcho3 commented on #4477
How [Microsoft/LightGBM](https://github.com/microsoft/LightGBM/tree/master/python-package#install-from-pypi-using-pip) solves the problem: they ask users to run `brew install libomp`. I'm not sure if this is any easier than installing GCC or Conda.

[2019-07-03 09:07] hcho3 commented on #4239
@trivialfis Can we close this?

[2019-07-03 09:16] hcho3 commented on #3955
Closing for now.

One thing I noticed was that XGBoost4J-Spark tests were susceptible to failure on machines with more than 4 available cores, as by default XGBoost will launch as many worker processes as available cores. That's why the Jenkins CI worker gets access to only 4 cores when running XGBoost4J-Spark tests.
https://github.com/dmlc/xgboost/blob/4e9fad74eb4df6a04758a6b919826388c00530f3/Jen

[2019-07-03 09:16] #3955 closed

[2019-07-03 11:15] trivialfis commented on #4239
It's still here.

[2019-07-03 16:12] adithyabsk commented on #4477
@hcho3 the brew install libomp solution might be better as that can be provided in pre-install setup scripts whereas, currently, one has to separate out xgboost in CI pipelines to specify the appropriate gcc and g++ versions. Definitely, agree with you as far as conda goes and that might end up being the only solution but I just wanted to explore the other options to see if anything else was possi

[2019-07-03 18:35] rongou commented on #3955
@hcho3 if that's the case, can't we just limit the number of cores to use when running spark tests? I'll send a PR.

@CodingCat

[2019-07-03 20:58] hcho3 commented on #4477
@adithyabsk I just tried using `brew install libomp` and now I'm able to compile XGBoost with the default compiler, Apple Clang:
[code]

What's more, the resulting binary `libxgboost.dylib` depends only on `/usr/local/opt/libomp/lib/libomp.dylib` and OSX system libs. So I suppose `brew install libomp` is the least painful way to install XGBoost on Mac OSX without Conda.

Distributing pre-compiled

[2019-07-03 20:59] hcho3 commented on #4477
@hetong007 Related note: `brew install libomp` should also enable multi-threading for CRAN XGBoost on Mac OSX

[2019-07-03 21:04] hetong007 commented on #4477
@hcho3 I think so. XGBoost R package calls the same backend API thus should behave the same.

[2019-07-03 22:04] rongou commented on #4357
Adding a task list here to keep track of the progress:

- [x] Get gpu predictor to accept batches (still keeping the full prediction output in gpu memory)
- [x] Get the gpu tree updater to accept batches (still keeping the full compressed features in gpu memory)
- [ ] Add a preprocessing step to do quantile generation
- [ ] Save/Load compressed features
- [ ] Save/Load quantiles in the model to al

[2019-07-03 23:00] goerlitz opened #4637 "Result of XGBClassifier.fit() and xgb.train() with binary objective should be the same for default parameters - but they are not"
XGBoost is deterministic if the parameters *subsample* and *colsample_by_** are set to their default value of 1 and it can be easily verified by training a model multiple times with the same default parameters on the same data.

Consequently, my expectation is that also `xgb.train()` and `XGBClassifier.fit()` will yield the same results (as `XGBClassifier` is just a wrapper around `xgb.train()`).

[2019-07-04 01:31] hcho3 commented on #4637
@goerlitz You should explicitly set `max_depth` and `learning_rate` explicitly in order to get consistent results:
[code]

Output:
[code]

The reason is that the default values for `max_depth` and `learning_rate` are different between `xgb.train()` and `XGBClassifier.fit()`.

 | `xgb.train()` | `XGBClassifier.fit()`
------------ | ------------- | -------------
`max_depth` | 6 | 3
`learning_rate` |

[2019-07-04 01:31] #4637 closed

[2019-07-04 05:11] trivialfis commented on #4357
@rongou Sounds awesome.  Could you add some details around the preprocess step?  I have been looking in sketch recently.

[2019-07-04 05:51] #4247 closed

[2019-07-04 06:19] hcho3 commented on #4421
@JaakobKind It turns out that there was a bug that caused the metrics to be ordered in lexicographical order. #4638 recovers the originally intended semantics, where the **last validation set** and **last evaluation metric** are used for early stopping. (Here "last" means the exact order the user specifies the list of validation sets and metrics.)

[2019-07-04 06:27] hcho3 commented on #4630
@goerlitz It turns out that there was a bug that caused the metrics to be re-ordered. #4638 fixes the bug, by preserving the original ordering of validation sets and evaluation metrics.

Also, #4638 clarifies the API doc to describe how early stopping works when multiple validation sets and metrics are given: Always, the last validation set and the last metric will be used.
Preview: https://hcho3-

[2019-07-04 06:34] hcho3 commented on #4421
@JaakobKind And if a customized metric function is added, it will always be added after built-in metrics, so early stopping will always use the customized metric.

[2019-07-04 06:37] hcho3 opened #4639 "Deprecate XGBRegressor.save_model() / XGBClassifier.save_model()"
Many methods of `XGBClassifier` relies on the existence of certain fields, such as `self.objective`, `self.missing`, and `self.n_classes_` (these fields exist to ensure interoperability with scikit-learn) and these fields are **not** preserved by the call to `XGBClassifier.save_model()`, as the binary serialization format is not aware of these fields. See #4517, where `XGBClassifier.save_model()`

[2019-07-04 06:41] hcho3 commented on #4576
See #4638, which addresses a bug in early stopping. I'm going to close this for now.

[2019-07-04 06:41] #4576 closed

[2019-07-04 06:56] hcho3 commented on #3914
We made some progress on memory usage. Try the latest version. Feel free to re-post if you still have issue with memory consumption.

[2019-07-04 08:15] neeleshkshukla commented on #4520
Okay, let me explore the sparse vector.

[2019-07-04 16:57] goerlitz commented on #4637
@hcho3 Thanks for the clarification. Although I studied the documentation intensively it was not clear to me how `xgb.train()` and `XGBClassifier.fit()` differ - probably because the default values are described in two different places (as I found out now).

BTW, Is there any way to figure out which parameters are set in the booster that is returned by `xgb.train()`?

[2019-07-04 16:57] adithyabsk commented on #4477
@hcho3 That's an awesome development! Already moving in the right directions as I can attest that in a lot of R&D labs installing xgboost is a pain point for those not intimately familiar with its internal requirements.

Following up on this note:

Maybe we could look more into this particular issue to see if there are any workarounds to get the libomp.dylib into the binary wheel.

[2019-07-04 17:14] trivialfis commented on #4639
I would like to first understand the difference between languages.  I think I might have a chance to join the development of JVM package in near future, so can we hold this off a bit and give me a chance to understand what's the best way to save the model?

[2019-07-04 17:19] adithyabsk commented on #4477
@hcho3 could also be because of the extension itself? Should we be using .so on macOS as well. This issue thread and stackoverflow post seem to indicate so.
https://stackoverflow.com/questions/2488016/how-to-make-python-load-dylib-on-osx
https://github.com/MoDeNa-EUProject/MoDeNa/issues/1

[2019-07-04 20:27] #4443 closed

[2019-07-04 21:41] thesuperzapper opened #4641 "[jvm-packages] support for older versions of spark"
I believe we can continue to support older versions of Spark in xgboost4j, as most of the things we "require" from versions later than spark 2.2 can easily be ported into this codebase or replaced with other things.

The worst offender is the usage of `org.apache.spark.ml.param.shared` which is effectively dropping support for Spark 2.2 because of a few lines of code defining some parameters and g