[2016-11-16 11:24] xydrolase commented on #1711
I guess there's not much we can do here other than stating in the documentation, that `MLUtils.loadLibSVMFile` uses one-based-index, and `DMatrix(dataPath:String)` uses zero-based-index.

Unless we copy and modify the implementation from MLUtils, and provide `XGBoost.loadLibSVMFile` with an argument `zeroBasedIndex = True`. I basically did this in our internal project to support loading LZO-compre

[2016-11-16 15:04] CodingCat commented on #1711
@xydrolase Thanks for finding it out

it seems that the standard LIBSVM format is 1-based, https://github.com/cjlin1/libsvm/blob/master/README#L64

so, let's just add warning in the comments (or more aggresively, deprecate) DMatrix(dataPath: String)....

[2016-11-17 02:48] gatapia commented on #1751
This is now fixed (has been for a few days)

[2016-11-17 02:48] #1751 closed

[2016-11-17 03:47] qingpingswiftsword opened #1782 "[jvm-packages] XGBOOST4j JAR PACKAGE in LOCAL MAC OS , PUBLISH IN A LINUX MACHINE"
Is anyone know something about the problem of jar package in local mac os, then run in a linux machine? I encountered some problems with it.
Caused by: java.lang.UnsatisfiedLinkError: ml.dmlc.xgboost4j.java.XGBoostJNI.XGBoosterCreate([J[J)I
       at ml.dmlc.xgboost4j.java.XGBoostJNI.XGBoosterCreate(Native Method)
       at ml.dmlc.xgboost4j.java.Booster.init(Booster.java:419)
       at ml.dmlc.xg

[2016-11-17 03:50] CodingCat commented on #1782
in general, you cannot build in mac and run in linux, because XGBoost4J will adjust suffix of the native lib file based on your OS

you can adjust the build script to workaround it

[2016-11-17 03:51] CodingCat commented on #1782
https://github.com/dmlc/xgboost/blob/master/jvm-packages/create_jni.sh#L13

set it to 'so'

[2016-11-17 06:10] qingpingswiftsword commented on #1782
Thanks a lot!

[2016-11-17 18:30] jontonsoup commented on #412
@tyokota did you figure this out? Thanks!

[2016-11-18 04:18] yinshurman opened #1786 "import xgboost OSError:version `GOMP_4.0' not found"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
compiled successfully,
anaconda envirnment ,
and  use "conda list"  can show "xgboost " .

but when import xgboost show the error: OSError: /home/yin/anaconda3/bin/../lib/libgomp.so.1: version `GOMP_4.0' not foun

[2016-11-18 04:38] cycloidistic opened #1787 "Unknown uint field name"
## Environment info
Operating System: Windows 10 Pro (64 bit)
Compiler: g++ version 4.8.3
Package used: python
`xgboost` version used: 0.60
Python version and distribution: Python 3.5.2, Anaconda 4.2.0 (64-bit)
Command to install `xgboost`: python setup.py install

## Steps to reproduce
When I run this script:
[code]
I get the following error message:
[code]

## What have you tried?

I've looked a

[2016-11-18 07:20] qingpingswiftsword commented on #1782
I changed the suffix into .so  however, still failed.

[2016-11-18 08:54] CodingCat commented on #1782
Are you sure the native lib was successfully compiled? Or say can you see a .so file in the jar?

[2016-11-18 09:42] qingpingswiftsword commented on #1782
Have you ever succeed?
Tests in error:
 BoosterImplTest.saveLoadModelWithPath:119 » UnsatisfiedLink ml.dmlc.xgboost4j....
 BoosterImplTest.saveLoadModelWithStream:137 » UnsatisfiedLink ml.dmlc.xgboost4...
 BoosterImplTest.testBoosterBasic:103 » UnsatisfiedLink ml.dmlc.xgboost4j.java....
 BoosterImplTest.testCV:162 » UnsatisfiedLink ml.dmlc.xgboost4j.java.XGBoostJNI...
 DMatrixTest.testCreateFromCS

[2016-11-18 09:44] CodingCat commented on #1782
Yes

[2016-11-18 09:46] qingpingswiftsword commented on #1782
But how to understand the error here?

[2016-11-18 09:51] CodingCat commented on #1782
As i asked, can you see a so file in jar?

[2016-11-18 10:00] qingpingswiftsword commented on #1782
we fail to Building xgboost4j 0.7 ,no jar package at all.

[2016-11-18 10:11] CodingCat commented on #1782
Ok, check the log before the test , there was sth wrong when compiling native lib,

[2016-11-18 15:10] ahmedahmedov commented on #1151
I am also having the same issue. Not only that, but also, it is impossible to see the content of an xgb.DMatrix - that is, it is impossible to print it. This is obviously not very handy if you want to analyze the input data. Basically, once you contstruct an xgb.DMatrix from either a dense or a sparse matrix, you lose all the metadata associated with it - no colnames, no printable data. It certain

[2016-11-18 19:41] aialenti opened #1790 "[Errno 2] No such file or directory when running distributed Hadoop on YARN"
Hi everybody,

I am esperiencing some problem with the tutorial about xgboost distributed mode on YARN.

I followed the instructions but there is some problem that I was not able to solve.

I am running 2 EC2 instances with Hadoop 2.6.0 (which seems properly configured).

When I run the demo with the following command:

    cd xgboost/demo/distributed-training
    # Use dmlc-submit to submit the j

[2016-11-18 22:02] ungil commented on #1787
The only uint field valid is "root_index".

[2016-11-19 23:32] ungil commented on #1711
In case it helps, I think #1249 may also be related to this issue.

[2016-11-20 22:55] jukiewiczm commented on #1772
I've also checked that the code above works in R on Linux, with the following sessionInfo():
` R version 3.3.2 (2016-10-31)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 14.04.4 LTS

locale:
 [1] LC_CTYPE=pl_PL.UTF-8       LC_NUMERIC=C               LC_TIME=pl_PL.UTF-8
 [4] LC_COLLATE=pl_PL.UTF-8     LC_MONETARY=pl_PL.UTF-8    LC_MESSAGES=pl_PL.UTF-8
 [7] LC_PAPER=pl_PL.UTF-8

[2016-11-20 23:40] cycloidistic commented on #1787
@ungil Ok. Thank you for pointing that out. Although I then tried the following:

[code]

And I get the following error:

[code]

Is this expected behaviour? Also, where could I have looked to realise that "root_index" is the only valid field? So far as I can tell the [Python API Reference](http://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.DMatrix.get_uint_info) doesn't  menti

[2016-11-21 02:21] ben519 commented on #332
@tqchen Can you give a but more detail on what gblinear is actually doing?  Reference to an article/formula would be great.

In particular, I'd like to be able to work out the predictions for 1 round of training (`nrounds=1`). Here's a sample dataset:

[code]

After I train a linear regression model and an xgboost model with parameters {`booster="gblinear"`, `objective="reg:linear"`, `eta=1`, `sub

[2016-11-21 03:43] jdxyw opened #1793 "Does it support multithreading?"
Hello,

I want to use the xgboost for online prediction. Does it support multithreading and thead-safe? Because I meet some strange segment fault, however it works well when the qps=1.

Best Regards,

[2016-11-21 04:55] AbdealiJK commented on #410
@tqchen I would like more clarification on this.
When running on a dataset with `in memory + col distributed` I got some results which were the same as the `in memory + single machine` results.
But when doing the `external memory + col distributed` version, I get different results.

You mentioned that the algorithm is different in https://github.com/dmlc/xgboost/issues/344#issuecomment-109362329,

[2016-11-21 04:57] AbdealiJK commented on #410
For : `in memory + single machine` and `external memory + single machine` I get the same results though ...

PS: I am using the v0.60 code base.

[2016-11-21 05:37] AbdealiJK commented on #1446
I didn't quite get why clang-omp or gcc is needed in Mac.
The log says that the single threaded version has been built, but it still can't find the library.

It says:
[code]
but finally gives:
[code]

So, as I see it the issue is something else. It should be installing xgboost with the single threaded version.

I can install xgboost from git without gcc nor clang-omp++ ... using just the `bash bui

[2016-11-21 05:56] AbdealiJK commented on #1154
Yup, it seems like the python API is using a different locale and the C API is using a different locale. Which is confusing your numbering system.

[2016-11-21 06:02] AbdealiJK commented on #1790
Same question as http://stackoverflow.com/questions/40684808/problems-running-distributed-xgboost-with-yarn ?

I replied there, and it's probably a more suitable question for Stack Overflow. So, let's continue discussion there.

[2016-11-21 06:03] AbdealiJK commented on #1786
How are you rebuilding xgboost ?
Did you do a `make clean_all` and followed by `make -j` ?

[2016-11-21 06:04] #1216 closed

[2016-11-21 06:04] #1742 closed

[2016-11-21 06:07] AbdealiJK commented on #1766
Seems like this is a windows and system specific issue:

http://stackoverflow.com/questions/7767573/git-8728-fork-child-1-died-waiting-for-longjmp-before-initial#8476532

There seems to be an issue with the msys/mingw from git. Apparently replacing the `msys-1.0.dll` fixes it ... http://web.archive.org/web/20130523160129/http://code.google.com/p/msysgit/issues/detail?id=122

Possibly updating the

[2016-11-21 06:09] AbdealiJK commented on #1754
Seems like that's true.

https://github.com/dmlc/xgboost/blob/b94fcab4dc90cfd6c0a80ac6dc3ea0ad154543a6/src/gbm/gbtree.cc#L129 shows the cached data structure.

[2016-11-21 06:11] AbdealiJK commented on #1736
@gatapia You mentioned this has been fixed ? https://github.com/dmlc/xgboost/issues/1751#issuecomment-261139894

[2016-11-21 06:27] yinshurman commented on #1786
hello,thanks for your cares,the problem has been resolved.the key point is that i installed anaconda and the libgomp.so.1 and libstdc++.so.6 file in anaconda seems out of time,lacking  GOMP_4.0 and some other files,but in Ubuntu 16.04 the  corresponding files is new enough ,the solution is to make some link files to  update the corresponding  files in anaconda

[2016-11-21 06:46] AbdealiJK commented on #1786
Ah, awesome. Do close the issue so that it doesn't come up as unresolved

On 21-Nov-2016 11:57 am, "yinshurman" <notifications@github.com> wrote:

[2016-11-21 06:58] #1786 closed

[2016-11-21 07:36] uptownfunk opened #1795 "Compare predicted value with a variable other than "label" in custom evaluation function"
I am using feval in xgb.cv to calculate the value of a custom evaluation metric. The model outputs a predicted value which I can access through the "preds" argument of my custom eval. function. I can also access the original labels upon which the model is trained using getinfo(dtrain, "label"). However, if I have another column in my dataset that my model is not currently being trained on, which I

[2016-11-21 07:43] uptownfunk opened #1796 "Create folds in xgb.cv putting groups of records in the same fold"
The xgb.cv function creates folds of the data upon which it does k-fold CV.

We are working with signal data and we are trying to validate our models. The signal data files come in hour long chunks which we then analyze minute-by-minute, such that our final record which gets fed into xgboost has 1 minute / row. We have around 1000 hours of data. However, when we create our folds for validation, we

[2016-11-21 08:09] khotilov commented on #1151
Again: to have colnames in xgb.DMatrix, please update to the latest version from github.

The intent of `xgb.DMatrix` was to pass the data to xgboost, not to analyze it. Thus, there was no interface created for a user to get data out of a DMatrix. There is an issue #874 about discussing how to possibly memory-map a data.frame into a DMatrix, which would be a more transparent way, but there was not

[2016-11-21 08:28] khotilov commented on #1796
You can pass your pre-created folds indices through the `folds` parameter.

[2016-11-21 08:31] khotilov commented on #1772
The version 0.4-4 in cran is very outdated.

[2016-11-21 15:15] #1782 closed

[2016-11-21 15:17] CodingCat commented on #1711
I just found that we have identified this issue long before....while it phases out from my brain

https://github.com/dmlc/xgboost/pull/1326/files#diff-8f2ca3e1ad4875482e27430226a6160bR19

[2016-11-21 15:17] #1711 closed

[2016-11-21 18:12] jukiewiczm commented on #1772
Indeed, the xgboost version was the problem. Taking this into account I believe the issue can be now closed.

I have additional question, though. Is there any CRAN-like reliable source of newer, already-compiled versions of xgboost? I'm asking because I will most likely be unable to compile it on my corporate laptop.

[2016-11-21 18:21] uptownfunk commented on #1080
Has this been handled yet? We would need to be able to specify multiple outputs like "auc", "error". We would also need to choose which one to use for random stopping.

[2016-11-21 18:52] uptownfunk commented on #1796
Perfect, this is what I needed, thanks!

[2016-11-21 18:52] #1796 closed

[2016-11-22 04:30] fromradio opened #1798 "[jvm-packages] Wrong result of xgboost4j-spark on a local machine"
I am trying to write a test program of xgboost4j-spark on a local machine. At first it is very easy to implement. But as I want to see what the tree likes, I implement the java-version of dump model (like Python) and print the tree. I get a tree like below on agaricus dataset

![_g3q0u 51 daa mbhu g](https://cloud.githubusercontent.com/assets/6701845/20510523/dce96918-b0ab-11e6-91c4-d2756bbb4949.p

[2016-11-22 07:21] nikunjgit opened #1799 "[jvm-packages] Support for online prediction using a feature vector"
Are there any plans to support making a prediction using a feature vector ?

For example, in ml.dmlc.xgboost4j.scala.spark.XGBoostClassificationModel  :
override protected def predict(features: MLVector): Double = {
    throw new Exception("XGBoost does not support online prediction ")
  }

If not, then could you please suggest a workaround ?

[2016-11-22 07:32] #1798 closed

[2016-11-22 07:45] albertnanda opened #1800 "Custom Objective and Evaluation Function Not working in XGBoost"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: Windows 10 64-bit

Compiler: Mingw64

Package used (python/R/jvm/C++): Python

`xgboost` version used: 0.6

If installing from source, please provide

1. The commit hash (`git rev-parse HEAD`)
2

[2016-11-22 08:51] #1772 closed

[2016-11-22 08:56] phunterlau commented on #1446
@AbdealiJK if there is no `gcc` or `clang-omp`, the script would call the default `clang` from `Xcode` which only supports single thread and loses the advantage of `XGBoost` parallelization.

[2016-11-22 10:26] nareshshah139 opened #1801 "Multi-Tree plot python"
It seems that there is a very neat multi-tree plot option in the R package for XGBoost. I would like to work on a python package version for the same. Would really appreciate any help with testing and/or implementation :)

Also would that be a useful contribution?

[2016-11-22 13:36] AbdealiJK commented on #1446
@phunterlau while I completely agree with that, I don't see why the installation failure happens. I don't understand why the error would be:

__builtin__.XGBoostLibraryNotFound: Cannot find XGBoost Libarary in the candicate path, did you install compilers and run build.sh in root path?

[2016-11-22 15:09] CodingCat commented on #1799
No, this limitation comes from the native implementation of XGBoost

There is no feasible workaround, unless you can endure the slow performance

[2016-11-22 16:20] terrytangyuan commented on #1801
Sure, welcome your contributions.

[2016-11-22 17:51] nikunjgit commented on #1799
Is this because a new Rabit task has to be started for each prediction ? If we bypass that and directly call something like mentioned below, where do you think the slow performance comes from ?

def predict(Iterator<LabeledPoint> testSamples): Array[Array[Float]] {
        val dMatrix = new DMatrix(new JDMatrix(testSamples, null))
        _booster.predict(dMatrix)
}

Also, please let me know if th

[2016-11-22 17:53] CodingCat commented on #1799
it's nothing to do with Rabit, just you need to build a DMatrix for *EACH* feature vector

the code you show above is prediction for *MULTIPLE* feature vectors

[2016-11-22 17:53] CodingCat commented on #1799
There is no feasible workaround, unless you can endure the slow performance

[2016-11-22 18:00] nikunjgit commented on #1799
Thanks for your quick response. In my case, the testSamples would just have size of one. Just so that we are on the same page, are you saying building DMatrix for each prediction is slow ? I'm trying to understand where this slowness is coming from so that I can estimate how slow its going to get. For my use case, 0.5ms per prediction should be reasonable.

[2016-11-22 18:04] CodingCat commented on #1799
if you have 10000 test samples and you can build *a single* DMatrix for prediction

if you have only one test sample, you have to build a DMatrix in any case, then that's fine

if your test samples come one by one, you have to build a DMatrix for each of them, and in total, you have to build 10000 DMatrix which is costly...

[2016-11-22 18:30] hoesler opened #1802 "[jvm-packages] JVM package should use explicit versions for pom dependencies"
I successfully installed the XGBoost JVM package to my local maven repo and tried to use the libs in spark by starting spark-shell with `spark-shell --packages ml.dmlc:xgboost4j-spark:0.7`. This gave me the following error:
[code]

Package resolution fails because Spark is unable to substitute `${scala.version}`. Replacing the variable with the explicit version number solves the problem.

I filed

[2016-11-22 19:43] alexeygrigorev commented on #1132
It seems that the instructions for building it on Windows are no longer valid: the latest Git for Windows doesn't have `mingw32-make.exe` on PATH. I checked `/mingw64/bin` as suggested by @Far0n, but no luck:

[code]

[2016-11-22 23:06] vinaybenny opened #1803 "Using Mean Effect Sizes metric as customized evaluation metric"
I am trying to use xgboost as the predictive model for a propensity matching problem, which uses the Mean Effect Size of the covariates as the evaluation metric for the model.

I'm trying to write a customised evaluation metric function in R that calculates the mean effect sizes of the covariates of the model, so that once I do a cross validation and hyperparameter search using xgb.cv function, I

[2016-11-23 00:27] damienrj opened #1804 "Can you pass sample weights to eval_sets?"
Hello I am using XGBoost 6.0 for python, and XGBClassifier to train some models. I have sample weights for my model and pass it into fit, and the eval_set.  I don't get an error when I include the weight in `eval_set` but it isn't mentioned in the [documentation](http://xgboost.readthedocs.io/en/latest/python/python_api.html) so I am not sure it is being used.

[code]

Also, is there any data form

[2016-11-23 08:42] tanwanirahul opened #1805 "[XGBoost-Spark] error running binary classification on income classification dataset - labels are not correctly provided"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: Ubuntu

Compiler: 4.8.4

Package used (python/R/jvm/C++):

`xgboost` version used:

If installing from source, please provide

1. The commit hash (`git rev-parse HEAD`) -- 7ff742ebf7ec70c747f9ae

[2016-11-23 09:11] nazirmubbashir commented on #1238
passing a dataframe solved the issue for me

[2016-11-23 09:12] nazirmubbashir commented on #1441
passing a dataframe solved the issue for me

[2016-11-23 11:18] tanwanirahul commented on #1805
@CodingCat Please let me know if you would need more details.

[2016-11-23 12:38] AbdealiJK commented on #1804
In XGBModel your weights are definitely not being used as the 3rd item is never being used - [sklearn.py#L226](https://github.com/dmlc/xgboost/blob/6082184cd1ee831c2ac5e30394cd78b1714cd8c9/python-package/xgboost/sklearn.py#L226)

In XGBClassifier also the weights are not being used, but there is a TODO which questions whether to use sample_weight for eval_sets also - [sklearn.py#L421](https://gith

[2016-11-23 14:17] CodingCat commented on #1805
luckily, I once used this dataset to test XGBoost....https://github.com/CodingCat/xgboost_test/tree/master/src/main/scala/me/codingcat/income

I cannot reproduce it with the code there,

[2016-11-23 15:52] CodingCat commented on #1802
a further answer there says, `There's nothing wrong with vars, but, the artifact release process resolves them, for exactly reasons like this.`

I didn't see why scala.version cannot be resolved

[2016-11-23 16:17] hoesler commented on #1802
So what am I doing wrong here? I thought a simple `mvn install` should be sufficient for `spark-shell --packages ml.dmlc:xgboost4j-spark:0.7` to resolve them.

[2016-11-23 18:58] damienrj commented on #1804
Thanks, yeah that is pretty definitive answer. I suppose I just won't be able to use early stopping.  I am currently stepping through a completed model usingc`model.predict_proba(data, ntree_limit=a)` which is pretty slow, do you know if there is a faster way to measure the performance per tree given that the eval_set error won't reflect the weighted data?

[2016-11-23 18:59] AbdealiJK commented on #1446
@phunterlau I was checking the pypi package to understand the problem and found that the way of calling make without openmp was invalid (and it always used -fopenmp). And that the default gcc/g++ was never an option.

Modifying it with these diffs worked for me:
[code]

[2016-11-23 19:05] AbdealiJK opened #1806 "Sklearn API: Add option to extend a model"
In many cases it is useful to be able to build a model up to X number of trees and then do some analysis to understand the model and then again build a few more trees on top of it and again do some analysis.
It would be useful to be able to do this in xgboost especially in the distributed scenario where things are already slow because of the size of the data.

So, xgboost could have a `extend` con

[2016-11-23 19:18] nikunjgit commented on #1799
Yes, I agree online prediction will be slower if we had a big batch of test samples we need prediction on. However, that's not what we are trying to optimize for. For online prediction, we are looking for a way to get prediction on individual requests within some low latency (~0.5ms). We are not going to have millions of requests which need to be evaluated.

That's why I am trying to understand if

[2016-11-23 19:20] AbdealiJK commented on #1804
Hm, nothing that I can think of.
I just created https://github.com/dmlc/xgboost/issues/1806 as I think an "extend" feature would be useful for a scenario like that (or other scenarios, as I described in the issue)

[2016-11-23 19:23] CodingCat commented on #1799
that code shall work no Rabit task is necessary

[2016-11-23 19:23] alexeygrigorev commented on #935
Is there an issue for publishing xgboost to maven central? A quick search didn't find anything. I have some ideas and would like to share them - and eventually maybe help with publishing it.

[2016-11-23 19:25] CodingCat commented on #935
the only issue is to include native libs for various platforms in the jar and make the program locate them accurately....I haven't get a chance to look at the solutions

[2016-11-23 19:27] alexeygrigorev commented on #935
@CodingCat yes I understand it. I have some ideas how to do it - e.g. it should be possible to follow the same approach as MTJ (https://github.com/fommil/matrix-toolkits-java). Should I create an issue where we can discuss it?

[2016-11-23 19:28] CodingCat commented on #935
sure, an issue or PR is welcome

[2016-11-23 19:37] alexeygrigorev opened #1807 "[jvm-packages] Publishing xgboost4j and others to Maven Central"
Many users would like to see xgboost4j published to maven central (see #935)

I think we can follow the approach similar to MTJ (https://github.com/fommil/matrix-toolkits-java), which depends on netlib binaries - and this is, probably, what @javelinjs suggested in his comment about mxnet

In essence, the idea is to have separate JAR files for each platform and publish them all to Maven Central. Th

[2016-11-23 19:48] CodingCat commented on #1807
for platform, since XGBoost does not work for 32bit systems

we only need to care 64 linux/win/osx

[2016-11-23 19:50] rfcv opened #1808 "When will xgboost 0.60 be available for R on Windows?"
Still not supported, and unable to build. I read that it is because of xtd:::thread not being supported in Windows. Would love to be able to use new DART booster.

Operating System: Windows 7
Package used: R
`xgboost` version used: 0.60

[2016-11-23 19:51] CodingCat commented on #1807
my personally preferred way to publish to maven is contain everything in a single jar

http://central.maven.org/maven2/org/xerial/snappy/snappy-java/1.1.2.6/

you can download snappy-java-1.1.2.6.jar and look at the structure of their native libs

[2016-11-23 20:10] victor-moreno opened #1809 "predict.xgb.Booster in R ignores colnames of newdata"
In R,  predict.xgb.Booster ignores colnames in newdata to match the features used in the model.
This issue can lead to serious errors if ignored.
The user must ensure the newdata has exactly the same columns as in the train dataset.

#### Steps to reproduce

[code]

#### ## Environment info
Operating System: OSX
Compiler: gcc-6
Package used:  R 3.3.2
`xgboost` version used: 0.6-0

R `sessionInfo()

[2016-11-23 20:59] alexeygrigorev commented on #1807
I'll have a look, thanks. What I don't get is how the build process is organized in this case: it may mean that they have some internal repository with binaries, then they pull them from there during the building process, and only after that publish the jar.

Having several jars may be an advantage because there will be no need for that: we can use the maven central as such repository.

But I'll n

[2016-11-24 00:29] dfernandez22 commented on #1238
how can I revert to version 0.4?

[2016-11-24 02:01] dmcgarry commented on #1238
pip install --upgrade xgboost==0.4a30

[2016-11-24 03:03] AbdealiJK commented on #1806
I just realized that this is already possible by simply giving a `model_in` in the Training stage. In such cases, XGBoost already loads the model and builds on top of the model.
Awesome!
Closing this.

[2016-11-24 03:09] AbdealiJK commented on #1804
Sorry for the noise. The extend feature already exists in XGboost. No idea on how to make it faster.
A simple way (possibly faster) could be just to copy a row multiple times to make the weight always 1. i.e. If weight is 10, just copy that row 10 times in the testing dataset ?

[2016-11-24 03:53] damienrj commented on #1804
No worries, I appreciate the info.  It looks like the extend version exists if I don't use the sklearn wrapper which might be one way to go. Just requires more work to fit into the pipeline. That is a good idea of how to get around the issue with the weights, unfortunately my data is already quite large.  Even without early stopping and the slow stepping through trees, it is still much faster that

[2016-11-24 03:57] damienrj commented on #1806
This feature doesn't appear to exist for XGBClassifier and it would definitely be helpful for cases where you have a large amount of legacy code built around SKlearn.

[2016-11-24 10:49] fromradio opened #1810 "[jvm-package] Discussion on xgboost-spark"
As we know, spark has driver and executor. In Hadoop, the 'driver' is always the local machine. Thus we usually do not worry about the compiling environment. But spark driver sometimes is out of control. And xgboost4j highly depends on the cpp library libxgboost.so, so we have to make sure that running machines supports cpp11. This is kind of simple for executor since we have only to use `addFile`

[2016-11-24 15:58] alexeygrigorev commented on #1807
I am trying the multiple-modules approach - it seems more natural to me and, unlike the one-module-has-them-all approach, I have ideas how to implement it.

The way I think it could work is the following. Suppose there are 3 persons A, with a linux machine, B, with windows, and C with a mac.

When the next version is ready to be released to maven, A takes the current version of xgboost4j (e.g. 0.7

[2016-11-24 19:33] tqchen commented on #1810
The fact is driver logic do not relies on libxgboost.so. So the question could instead be is it possible for xgboost4j simply not load libxgboost.so in the driver logic.

@CodingCat

[2016-11-24 19:38] xydrolase commented on #1810
xgboost4j-spark depends on libxgboost4j.so, which is compiled when you call `mvn compile`.

I don't think providing `libstdc++.so` solves the whole problem. You also need GLIBC.

With regard to driver and executor, you can run xgboost4j-spark in YARN cluster mode, under which the driver will be run inside the cluster as well.

[2016-11-24 19:38] CodingCat commented on #1810
It's hard to do so,  because driver and executor end code are in the same program....

[2016-11-24 19:40] xydrolase commented on #1810
And I don't think it will be worth it to reimplement XGBoost in Java/Scala, as you will basically end up with two versions that are hard to maintain to keep in sync down the road.

[2016-11-24 19:40] CodingCat commented on #1810
as @xydrolase said running in cluster mode ( YARN or standalone) is a solution

[2016-11-24 19:45] xydrolase commented on #1799
You don't necessarily have to use XGBoost for online prediction. Based on your description, you need to productionize the trained model for low-latency model, and there are multiple ways of doing it without using XGBoost.

After all, the trained model is a gradient boost tree. You can convert the model to PMML, or convert it to a tree ensemble predictor in sklearn, or generate customized Java/Scal

[2016-11-24 20:03] xydrolase commented on #1799
If your data has no missing values, then each tree split is simply a if-else branch.
You can dump the tree model, and then write a code generator that spout Scala/Java code implementing a gigantic decision tree with branches.

In our case, a tree model with 500 trees, ~80 features and `max_depth=8`, online prediction in Java code takes about ~50 micro seconds.

[2016-11-25 02:33] fromradio commented on #1810
Hi guys, I solve this problem via using `System.load` method to add the .so file (only libstdc++ needed). Packaging the libstdc++ would not work, libxgboost4j.so cannot find it. The Spark environment is set by another department in my company. I think I am using YARN cluster mode. But the driver still works a little different from executor. The user directory of executor is java.library.path but d

[2016-11-25 02:40] xydrolase commented on #1810
Interesting. In my case one of our clusters has old GLIBC as well. Maybe I can give your method a shot to see whether it can resolve such issue on that specific cluster.

What do you mean by sample weight?

[2016-11-25 02:47] fromradio commented on #1810
Just like the xgboost4j's `setWeight` method, sometimes the weight of samples are not the same. Some samples are more important, vice versa. And the spark version does not support the method yet.

[2016-11-25 02:55] xydrolase commented on #1810
Good to know. Never used that though. So will you make the weights a separate DataFrame/RDD?
But I guess you will have to make sure that the weights have the same number of partitions, right?

I'm curious in general, if you have two RDDs of equal number of rows, how can you guarantee the order/index of the two, if you simply want to stack the columns of the two.

[2016-11-25 03:08] fromradio commented on #1810
I will use weights as an additional column I think. I do not know how to guarantee the index of two RDDs.

Here I still have a little problem about xgboost4j-spark. I re-write the training part to force training on only one executor, the result is greet. But when I use the partition method the Spark Context is shut down before the training succeeds?

Here is the error:

[code]

I am using xgboost-

[2016-11-25 03:13] xydrolase commented on #1810
Can you attach the log from within the executor also?

[2016-11-25 03:26] fromradio commented on #1810
Something like below:

[code]

[2016-11-25 03:46] xydrolase commented on #1810
How many executors did you use in your training task? This is just the log for one of them, right?

[2016-11-25 04:11] fromradio commented on #1810
There are 4 in total and nWorkers parameter in train method is set 2.

[2016-11-25 04:17] xydrolase commented on #1810
So why not use 4 `nWorkers` then, if you have 4 executors?

[2016-11-25 04:24] fromradio commented on #1810
4 is used and the result is still the same.

[2016-11-25 04:26] xydrolase commented on #1810
Have you noticed other errors at executor level other than `Driver 10.153.81.37:56698 disassociated! Shutting down.`?

Did you use the same dataset for your training on one executor, and distributed training?
What exactly did you modify in your experiments?

[2016-11-25 04:30] fromradio commented on #1810
No, it seems that this is the only error on executor. The dataset is the same, just `agaricus` dataset. The only difference as I know is that I skip the repartition step in training and delete Rabbit in one executor training step.

Now, I want to test whether the Rabbit makes the procedure down.

[2016-11-25 04:36] fromradio commented on #1810
TrainingOnSingleNode:

[code]

buildSingleBooster

[code]

[2016-11-25 04:54] xydrolase commented on #1810
Just to clarify, you use the unmodified code when you run training with 2/4 executors, correct?

[2016-11-25 04:59] terrytangyuan opened #1812 "Submit new R package to CRAN"
@hetong007 @tqchen @pommedeterresautee @khotilov

I received some requests recently. Could anyone submit the latest version to CRAN (major changes are the callbacks I believe)?

[2016-11-25 05:07] fromradio commented on #1810
Yes, I used the unmodified code to run training with 2/4 executors and 4/4 executors and both failed with same error. I am trying to print more infos now.

[2016-11-25 05:11] terrytangyuan commented on #1812
Sorry I missed that issue. Thanks @hetong007.

[2016-11-25 05:39] ashish1302 commented on #820
@knguyen0105  Good worked for me....thanks man....:)

[2016-11-25 05:44] ashish1302 commented on #820
@knguyen0105  giving error
 "/home/ashish/anaconda2/bin/../lib/libgomp.so.1: version `GOMP_4.0' not found (required by /home/ashish/anaconda2/lib/python2.7/site-packages/xgboost/./lib/libxgboost.so)"

[2016-11-25 05:44] ashish1302 commented on #820
can somebody help?

[2016-11-25 06:39] fromradio commented on #1810
I tracked Rabit and just get two logs:

[code]

[2016-11-25 08:44] fromradio commented on #1810
Error found. Caused by the wrong version of Python.

![n_ dd t yd8knwy2j0o5a](https://cloud.githubusercontent.com/assets/6701845/20619237/5fa3f5e2-b32e-11e6-9466-b28a19dbb7c5.png)

[2016-11-25 17:44] tqchen commented on #1812
We will need a VM to get solaris checks pass,  @thirdwing  can you help on that?

[2016-11-26 05:05] AbdealiJK opened #1815 "Create function GetOneGradient() in ObjFunction"
I'm trying to make a plugin which reads some data record by record and calculates the gradient for each record. Due to other reasons, doing it on a batch is not easy, because it needs to be done at every tree level and so on.

In such cases, I realized that the ObjFunction's GetGradient() is insufficient, because an objective function may need a batch of items to create the gradients (For example

[2016-11-26 09:40] TVMKISHORE commented on #91
Thank you all for the knowledge

[2016-11-26 12:12] harryprince opened #1816 "trying to convert xgb.ggplot.deepness to plotly::ggplotly() failed"
R version 3.3.1 (2016-06-21)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: OS X 10.11.5 (El Capitan)

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1] stats     graphics  grDevices utils     datasets
[6] methods   base

other attached packages:
[1] xgboost_0.6-0    Matrix_1.2-7.1   dplyr_0.5.0.9000
[4] purrr_0.2.2      readr_1.0.0

[2016-11-26 17:59] anamariamocanu opened #1817 "OSError: [WinError -529697949] Windows Error 0xe06d7363"
Hi,

I am running a one vs rest classifier on a quite large (10M) train dataset with xgboost and I am getting the following error:

  File "C:\Users\amoca_000\Anaconda3\lib\site-packages\xgboost-0.6-py3.4.egg\xgboost\sklearn.py", line 439, in fit
    missing=self.missing)

  File "C:\Users\amoca_000\Anaconda3\lib\site-packages\xgboost-0.6-py3.4.egg\xgboost\core.py", line 268, in __init__
    self.

[2016-11-26 20:35] BaljeetSinghCheema commented on #1786
@yinshurman would you  mind posting the solution steps!
thanx in advance

[2016-11-27 01:01] yinshurman commented on #1786
step 1 : use the following commands to check whether the libgomp.so.1 filie in anconda contains the required version GOMP_4.0 (replace the path by your own in all the steps) :
                   string  /home/yin/anaconda3/bin/../lib/libgomp.so.1 |grep GOMP
           ( if there is not  GOMP_4.0 version ,go to step 2, else  leave a comment  )
step 2: to check  libgomp.so.1 in your OS:

[2016-11-27 01:06] yinshurman commented on #1700
here is my case and solution,it seems the method can work here too[https://github.com/dmlc/xgboost/issues/1786](url)

[2016-11-27 04:58] BaljeetSinghCheema commented on #1786
Thank you so much @yinshurman

[2016-11-27 05:00] phunterlau commented on #1446
@AbdealiJK Thanks. `PyPI` 's makefile was quick-n-dirty way and it didn't consider all scenarios . Would you like to send a PR for updating this?

[2016-11-27 05:04] AbdealiJK commented on #1446
Would love to, but I'm not sure what to modify - because the github build.sh and Makefile uses the correct versions.

The pypi package seems to have a different structure and different files than github (maybe they just need to be updated?)

[2016-11-27 05:05] phunterlau commented on #1446
@AbdealiJK oh, now I remember it: `PyPI` version was a little bit outdated, it was created before the Makefile fix. Let me update it. Thanks.

[2016-11-27 08:21] CaoQi92 opened #1818 "problems with custom objective function for mean absolute percentage error(MAPE)"
Hi,everyone.
I have some problems when implement custom objective functions for mean absolute percentage error(MAPE) .

the evaluation metric is defined as follow:

`
def evalmape(preds,dtrain):

    labels = dtrain.get_label()

    error = sum(abs(preds-labels)*1.0/(labels))*1.0/len(labels)

    return 'error',error`

the objective function is:
`
def mapeobj(preds,dtrain):

    labels = dtrain.ge

[2016-11-27 13:12] hminle commented on #757
Hi, @davidgasquez, could you please explain what is 158 means in the above code snippet?
`importances = np.zeros(158)`
Thank you a lot

[2016-11-27 14:24] ad-owens commented on #1238
All types of sparse matrices didn't work for me (I'm working with tf-idf data).  I had to revert to previous version. Thanks for the tip!

[2016-11-27 16:51] xydrolase commented on #1810
Good that you've figured it out. I ran into Python version issues before on one of our clusters.
I submitted a pull request #1612 to get rid of the Python dependency, but since XGBoost has now migrated to Spark 2.0 and Scala 2.11, it may not directly apply without modifications.

[2016-11-27 16:52] damiencarol commented on #1700
@yinshurman it is a common version mismatch for GLIBC library. We had the same error.
We fixed that by compiling with the same version as our production envirronement.

[2016-11-27 17:02] CodingCat commented on #1810
so, it seems that this one can be closed?

[2016-11-28 07:10] marugari commented on #1818
The scores on leaves are calculated by dividing `sum_hess`.
https://github.com/dmlc/xgboost/blob/master/src/tree/param.h#L242
In this objective, scores and `grad` tends to be very large.(It may be negative)

1. Greater `lambda`
2. Lesser `learning_rate`

Both prevent that the scores are too far.
But I don't think these are effective.

[2016-11-28 07:21] marugari commented on #1818
3. Set `max_delta_step` > 0

[2016-11-28 08:03] davidgasquez commented on #757
Hey there @hminle! The line `importances = np.zeros(158)` is creating a vector of size 158 filled with `0`. You can get more information in [Numpy docs](https://docs.scipy.org/doc/numpy/reference/generated/numpy.zeros.html).

The number _158_ is just an example of the number of features for the example specific model. This array will later contain the relative importance of each feature. To get th

[2016-11-28 14:20] ahmedahmedov commented on #1084
To make things worse, if you save yourself the trouble and simply install by typing:
**install.packages("xgboost")**, it will actually install an older version.

[2016-11-28 14:44] thirdwing commented on #1084
I am sorry I don't where you find the instructions.

But step 4 is to install the pre-built pkg host on github.

[2016-11-28 14:44] thirdwing commented on #1812
I will try to find some time.

[2016-11-28 14:45] thirdwing commented on #1808
The latest Rtools should have the support for std::thread.

Please have some patience.

[2016-11-28 15:38] suvendurinku commented on #1033
I had the similar issue . That is resolved once I install " gcc" on  spark cluster  i.e.  both on spark master and worker node.
apt-get install -y gcc
OR
yumt install -y gcc
based on your linux  flavor.

[2016-11-28 18:02] #1800 closed

[2016-11-28 23:42] JohnStott opened #1819 "Travis failing for pull requests"
Failing with this error message:

The command "tests/travis/run_test.sh" exited with 255.

[2016-11-29 03:30] rfcv commented on #1808
Thanks for the update @thirdwing

[2016-11-29 03:30] #1808 closed

[2016-11-29 04:24] zachmayer opened #1820 "Can't use custom objective with XGBoost v 0.60"
I'm trying to use a custom objective function with a fresh install of XGBoost 0.6, but I keep getting the following error:

`XGBoostError: unknown evaluation metric type: <function evalerror at 0x7fcf83127d70>`

Any suggestions?  Can anyone else get a custom objective to work with a fresh install from 4092e4b9c7c8650ba66d6a61c90fc06132d8a511 ?

For bugs or installation issues, please provide the f

[2016-11-29 04:51] tqchen commented on #1820
@hetong007 can you verify this?

[2016-11-29 04:52] tqchen commented on #1820
@terrytangyuan can you take a look?

[2016-11-29 04:54] terrytangyuan commented on #1820
Will do when I get a chance. Thanks for reporting @zachmayer

[2016-11-29 04:58] terrytangyuan commented on #1820
@zachmayer it would be better if you can provide a reproducible example. I am not by my computer now but perhaps you can try run some code in tests, e.g. https://github.com/dmlc/xgboost/blob/master/tests/python/test_eval_metrics.py

[2016-11-29 05:53] AbdealiJK commented on #1819
This error is too generic, there must be many more meaningful errors on top of it.
The error message you've mentioned just says "The tests failed" which doesn't help...

Either a link to the failed travis or a complete error message would help debug it.

[2016-11-29 06:56] AbdealiJK opened #1821 "Inconsistent use of bst_float/float"
There is a lot of confusion in the code between use of bst_float/float/double.

The [split value is saved as a float](https://github.com/dmlc/xgboost/blob/da2556f58a122efcf7034d955e21040843a3b8a1/src/tree/param.h#L411), although the [feature values are saved as bst_float in data.h](https://github.com/dmlc/xgboost/blob/master/include/xgboost/data.h#L108).
[Weights and base margins are again saved a

[2016-11-29 07:42] dingjunnan opened #1822 "How to get predicting probabilities when customizing objective function for multi classification?"
How to get predicting probabilities for each class when customizing objective function for multi classification? the code below just gives us prediction
`def logregobj(preds, dtrain):`
     `labels = dtrain.get_label()`
     `preds = 1.0 / (1.0 + np.exp(-preds))`
     `grad = preds - labels`
     `hess = preds * (1.0-preds)`
     `return grad, hess`

[2016-11-29 08:09] JohnStott commented on #1819
Fair enough comment.  I was just testing the waters to see if this was a known issue.  Seems to be affecting all pull requests so thought a head project programmer may already know about this.  I'll investigate in a little while to find exact error...

[2016-11-29 09:00] JohnStott commented on #1819
Okay it seems to be failing here:

test_with_pandas.py
This is the error I get (I've highlighted where the error appears to stem from):
[code]

[2016-11-29 09:09] JohnStott commented on #1819
Seems this python code is failing:

[code]

dm.feature_types is actually returning ['int', 'float', 'float', 'float'] which is incorrect.  Please can anyone (AbdealiJK) try this on a fresh version of xgboost?  See if you get same error?

[2016-11-29 09:31] JohnStott commented on #1819
It appears from first glance that this is a purely python issue: this function attempts to get feature types in the python DMatrix constructor:

https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/core.py#L168

I'll investigate further...

[2016-11-29 09:48] JohnStott commented on #1819
Okay think I have found the problem, I have simplified here what is happening to this code:
[code]

[code]

Perhaps somebody can comment on whether this assertion check needs removing or what we should do?

[2016-11-29 09:52] fc1plusx commented on #1276
Hi, sorry to post on this closed issue (seems the most appropriate one). Still I'm not 100% sure about how to set numWorkers in the distributed scenario. Let's say I have a cluster with 3 machines, each with 4 cores. Should I use numWorkers = 12, numWorkers = 3, or numWorkers = 4? Thanks!

[2016-11-29 10:13] JohnStott commented on #1819
I am using pandas version 17 and found this pandas change:

http://pandas.pydata.org/pandas-docs/version/0.19.1/whatsnew.html#get-dummies-now-returns-integer-dtypes

Maybe travis needs to be using latest pandas version if not already?  I'll install version 19 and see if this corrects problem?

[2016-11-29 10:18] JohnStott commented on #1819
Assertion works fine with 0.19.1 so I think that is the solution.  Travis needs to be using latest version of pandas!

[2016-11-29 10:53] carpenn commented on #1554
I can confirm that this issue is now resolved, having  compiled the latest code da2556f58a122efcf7034d955e21040843a3b8a1 and built the R package.

Many thanks to all contributors.

[2016-11-29 10:53] #1554 closed

[2016-11-29 14:43] CodingCat commented on #1276
if you're sure about that you can run 12 tasks in parallel, you can set to 12,

[2016-11-29 16:20] khotilov commented on #1818
@bloom77 : please see #1428 and #603

[2016-11-29 16:53] tqchen commented on #1821
This is intentional to use double for sum statistics while use float for the statistics of single node

[2016-11-29 16:54] tqchen commented on #1821
To be specific, the aggregation is precision sensitive, while the single float value could be represented by float with no problem

[2016-11-29 16:56] khotilov commented on #1809
xgboost relies only on the order of columns and it holds a user responsible to ensure the consistency. The R interface follows the same principle without any restrictions or warnings.

With that said, it should be possible on R's side to implement at least some warnings (not error) when column names are available and are inconsistent. But we would need to think about how to implement disabling suc

[2016-11-29 17:23] khotilov commented on #1809
A related issue for the python interface: #1605

[2016-11-29 17:31] khotilov commented on #1238
All of you who are still having issues: does the code that you are using include the fixes in #1606 ?

[2016-11-29 18:22] fc1plusx commented on #1276
Many thanks for the quick reply! Unfortunately, I fear I'm not understanding your answer completely. I'm sure I've 4 cores per machine, and 3 machines in the cluster. Is there anything else I should worry about?

[2016-11-29 19:15] AbdealiJK commented on #372
It would also be nice to add C++ tests which directly test the C++ functions with unittests.
What's your opinion on that ?

[2016-11-29 19:53] AbdealiJK commented on #1821
@tqchen I agree with the point made by you and by @khotilov at https://github.com/dmlc/xgboost/pull/1824#issuecomment-263613484

But there are still instances where float has been used where bst_float should have been used. (Although they are the same, if I want to change bst_float to double for my specific case, there are many issues.

[2016-11-29 19:56] AbdealiJK commented on #1821
Edited the description of the issue. Now it is only about float vs bst_float.

[2016-11-29 21:08] tqchen opened #1825 "Clarification on What is needed in Customized Objective Function"
I always hopped that I could write a tutorial on how exactly customized objective functions works. But did not get time to do it. This issue is a brief summary of what do we need exactly in customized objective function. Hopefully in time, we could, or some volunteers would refine based on this and we can bring it into xgboost's document like the introduction to boosted trees

## Old Story: Second

[2016-11-29 21:09] tqchen commented on #1818
I opened an issue explaining the case https://github.com/dmlc/xgboost/issues/1825

[2016-11-29 21:09] tqchen commented on #1428
see https://github.com/dmlc/xgboost/issues/1825

[2016-11-29 21:12] tqchen commented on #1825
Again, it would be nice to illustrate this with plots, and curves like the explanations for EM algorithm, and refine the explanation. If you are interested in helping out. Please follow up this issue and post your refinements(and figures) in here.

[2016-11-29 21:34] thirdwing commented on #1808
Hi, @rfcv

I just uploaded a Windows version to https://github.com/dmlc/drat/blob/gh-pages/bin/windows/contrib/3.3/xgboost_0.6-0.zip

Can you try the following?

[code]

[2016-11-29 21:35] thirdwing commented on #1812
I just try a 32-bit Solaris VM. However, I can't install all the dependencies on that.

[2016-11-29 21:37] hetong007 commented on #1812
@thirdwing  Do you have a list of those dependencies?

[2016-11-29 21:56] thirdwing commented on #1812
`NMF` can't be install one x86 VM. See https://cran.r-project.org/web/checks/check_results_NMF.html

We don't depend on this directly. This is a dependecy for DiagrameR

[2016-11-30 02:51] thirdwing commented on #1812
BTW, I can install `xgboost` on x86 Solaris.

[2016-11-30 03:13] tqchen commented on #1812
@thirdwing can you confirm the R check as-cran pass?

[2016-11-30 03:31] thirdwing commented on #1812
I can just install it. It seems impossible to do the check on x86 Solaris machine.

[2016-11-30 03:50] CodingCat commented on #1276
no

[2016-11-30 06:01] xydrolase commented on #1276
It would also work if you set `nthread` in XGBoost to 4, and configure `spark.task.cpus` in Spark to 4. Then, use `numWorkers = 3`, while launching 3 executors.

The level of parallelism is identical on paper, but in practice might be faster due to less Rabit synchronization etc.

[2016-11-30 07:09] khotilov commented on #1812
The igraph depends on NMF , the DiagrammeR depends on igraph; and we call some functions from both DiagrammeR and igraph in some non-essential plotting methods. There are a few unit tests which call those  - is that why the check for solaris doesn't work? Could it make sense to disable those particular tests just for the CRAN release?

[2016-11-30 11:01] ivihrov commented on #1238
Yes, I've installed the last version of xgboost and I still having this issue.

[2016-11-30 11:08] fc1plusx opened #1827 "[xgboost4j-spark] Error CHECK(batch.index != nullptr) at simple_csr_source.cc:44"
Using xgboost4j-spark I had the above error when testing (_transform_ method). I could speculate that this was related to the data containing an empty partition and/or too many small partitions, since apparently it was solved by repartitioning it. Nevertheless, I was unfortunately unable to replicate the issue in a minimal example with local toy datasets. Maybe this could also be related to #940.

[2016-11-30 15:04] thirdwing commented on #1812
@khotilov Failure on x86 Solaris is somewhat acceptable by CRAN, since NMF hasn't been removed. I will try to get access to a real Solaris machine.

[2016-11-30 21:28] patr1ckm commented on #486
Here's a relevant snippet from Friedman 2001 on computing a fast partial dependence plot from trees with single variable splits. Let 'z' be the matrix of predictors that we want to plot, and '-z' be the others.

And [here](https://github.com/gbm-developers/gbm/blob/af0660b96fc44191b904555a60102176cb2a9eca/src/gbmentry.cpp) (`gbm_plot`) is the source code in `gbm`. It's very fast.

[2016-12-01 03:52] CodingCat commented on #1827
can you provide more information about the test you run? how many partitions? how to reproduce it?

[2016-12-01 03:53] #1810 closed

[2016-12-01 03:53] #1805 closed

[2016-12-01 03:54] #1799 closed

[2016-12-01 05:40] AbdealiJK opened #1828 "C++ unittest cases"
I can see python and distributed test cases in the tests/ folder.
I wanted to know whether creating C++ unittests is something that you guys would like in the repo ?

I think it would be useful, to have both C++ and python tests as the C++ tests can test the internal working better rather than just the things exposed by the c_api.

It would be nice to have (wishlist? with the call-for-contributors

[2016-12-01 07:06] tqchen commented on #1828
I am all for it if you are interested in contributing

[2016-12-01 08:54] JohnStott commented on #1828
If you both have a look at my pull request: https://github.com/dmlc/xgboost/pull/1710

You will see I have added basic c++ unit test functionality.  Unfortunately, the test had to be embedded inside the xgboost dll as most required tests within c++ wouldn't be possible as the required data is likely unavailable via the external interface. See my comments under that pull request you will see my tho

[2016-12-01 17:39] fc1plusx commented on #1276
Thanks a lot! I tried your suggestion and indeed training seems slightly faster. I'm wondering if this is related only to less synchronisation code or also on the different number of partitions (I observed that data is repartitioned according to `numWorkers` before training starts).

[2016-12-01 17:51] xydrolase commented on #1276
It depends on how much data you used for your training set. By using 3 workers, yes you will have less partitions, so each partition ends up with more training samples. But you have have 4 cores for crunching the data in each partition. If there are many samples, XGBoost will switch to quantile sketching to speed up the computation.

If you dataset is not gigantic, the speed-up you've noticed is m

[2016-12-01 18:27] tqchen commented on #1828
We could adopt gtest, as in other dmlc frameworks. e.g. https://github.com/dmlc/nnvm/tree/master/tests/cpp

[2016-12-01 18:35] AbdealiJK commented on #1828
I agree with the gtest approach.
In fact I have this Work In Progress commit which I guess would be a good first step to it https://github.com/AbdealiJK/xgboost/commit/6bdaefa1a21fb5e417a8d0d48e60ac01f99d8ded

[2016-12-01 18:43] fc1plusx commented on #1827
Sure! The original data is about 30-40 MB, with some empty partitions. After loading and some pre-processing it results into 150K elements divided into 288 partitions. When running `transform` directly, the program fails with the above error (see also the stack trace below). If I repartition to 287, or even to 288 (so just a shuffle of the data), it works nicely.

As I said in the first comment, u

[2016-12-01 18:51] JohnStott commented on #1828
I didn't even realise this was possible!  If I could use this for my validation code, this would be far superior :+1:

[2016-12-01 19:02] damienrj commented on #1804
It appears the the predict function is much faster if you don't use the xgbclassifier wrapper.  My guess is that the data gets converted each time for the prediction which is making it take longer.

[2016-12-01 21:41] l3link commented on #1238
This still exists and is easily reproducible.  If you use a large enough data set this is less likely to occur, but if you are wrapping this in a grid search object, it occurs almost certainly within a c.v. split where the features available in the train/c.v. test sets differ.

Honestly, I don't really understand why DMatrix ignores the shape hint that is provided by scipy sparse matrices.  It sho

[2016-12-01 23:56] gabrielspmoreira commented on #1238
I am using the Xgboost Python native API (0.6) and I've got the same error when loading a DMatrix from a LIBSVM [sparse] format file, if any of the rows contains has the last column defined. My workaround was to define a dummy column in the first row :(

[code]

[2016-12-02 05:20] CodingCat commented on #1827
I think it is a potential bug

in the current code base, there have been some if clauses to prevent processing empty partitions...so we shall not call native layer code with a empty partition

if possible, would you check what is the value of batch.label  (it is an array), https://github.com/dmlc/xgboost/blob/master/src/data/simple_csr_source.cc#L38 ?

[2016-12-02 08:39] syw2014 commented on #1051
I have the same errors, has it solved now?

[2016-12-02 08:41] AbdealiJK opened #1832 "Bring back distributed column training"
It would be nice to have a method to train a model in distributed mode.
Currently, the only way to distribute the model training is by using colmaker, which loads the memory in all the nodes and does the split computation in a distributed manner.

It would be nice to have the distributed colmaker to also load up only chunks of the data (columnar chunks). This was users can have a distributed model

[2016-12-02 14:58] fc1plusx commented on #1827
Before the failure, batch.label contains only zeros. Does this help in identifying the issue?

[2016-12-02 15:05] fc1plusx commented on #1827
Don't know if this helps but could be worth to mention: the last message in the log (after Spark retries the execute the task, and re-fails) is "rabit::Init is already called in this thread". This does not appear every time, but most of them.

[2016-12-02 15:08] fc1plusx commented on #1276
Many thanks for the explanation and the helpful suggestions!

[2016-12-02 15:23] CodingCat commented on #1827
It's more than one zeros? Just like a partition of data?

[2016-12-02 15:29] fc1plusx commented on #1827
The size (batch.size) is more than one (don't remember the exact value, is it important?) and all the values in batch.label are 0.

[2016-12-02 16:21] ben519 opened #1835 "OSX installation trouble on 10.12.1"
I'm trying to install xgboost with multi-threading for R. I had this working on OSX 10.11 but I recently upgraded to 10.12.1 and now I'm running into some trouble. Note that I'm following the instructions in [building-on-osx](https://xgboost.readthedocs.io/en/latest/build.html#building-on-osx).

First I ran `brew install homebrew/versions/gcc6`

[code]

No errors, but note the *Caveat*.  Now if I

[2016-12-02 16:38] chvlyl commented on #1835
I recently tried to install XGBoost on my macbook and also ran into some problem. For your problem, my understanding is that gcc and clang are two different compliers.

In my case, I installed clang by
brew install clang-omp

Hope this helps.

[2016-12-02 16:49] ben519 commented on #1835
I think I got it, although I'm not sure how.  One last thing though - after I `build` the package, how do I install it?  I'm looking for a ".tar.gz" file for which I can do `install.packages(path_to_file, repos = NULL, type="source")`.  Is this incorrect?  Or, where is the .tar file for me to install?

[2016-12-02 17:05] ben519 commented on #1835
Running into yet another problem :(

[code]
output
[code]

I'll probably give up for now - the time I'll spend on this might not be worth the time saved by using multi-threading.  Would love to revisit and get it working.  Any help would be **greatly** appreciated!

[2016-12-02 19:00] tqchen commented on #1832
Yes! this is an already supported feature, though not used for a while, so I am not sure if it still works, the synchronization is done with bitmap.

We deleted the example at some point https://github.com/dmlc/xgboost/tree/df7c7930d09b707c93c21c3ebadae2e13769d808/multi-node/col-split

relevant code here
https://github.com/dmlc/xgboost/blob/master/src/tree/updater_colmaker.cc#L781

would be nice t

[2016-12-03 00:17] AbdealiJK commented on #1832
Woah, thanks a lot!

I was afraid I'd have to implement major chunks of it.
I'll look into it after the CPP tests

On 03-Dec-2016 12:30 am, "Tianqi Chen" <notifications@github.com> wrote:

[2016-12-03 00:29] ben519 commented on #1835
I worked through the installation process again.  Still unsuccessful, but I documented my steps very clearly in [this StackOverflow question](http://stackoverflow.com/questions/40942893/how-to-install-xgboost-on-osx-with-multi-threading).  Hoping this will help someone easily spot my error.

[2016-12-03 00:39] ben519 commented on #1835
[Solved it!](http://stackoverflow.com/a/40943005/2146894)

[2016-12-03 00:39] #1835 closed

[2016-12-03 00:54] nikunjgit commented on #1760
Closing it since my issue got resolved as noted above

[2016-12-03 00:54] #1760 closed

[2016-12-03 01:53] xgdgsc commented on #1446
Would you consider uploading official prebuild wheel packages to pypi? It would make windows and mac users installation easier. Now windows users can get unofficial builds at http://www.lfd.uci.edu/~gohlke/pythonlibs/#xgboost

[2016-12-03 04:33] kevin1515 commented on #486
when i tried the below:
pd = generatePartialPredictionData(fit, task, imp$Feature[1])
plotPartialPrediction(pd)

I got the error:
Error: could not find function "generatePartialPredictionData"

Could anyone help me? Thanks.

BTW, i was able to install {lmr} and run belows:
lrn = makeLearner("classif.xgboost", predict.type = "prob", nrounds = 100)
task = makeClassifTask(data = dataTrain, target="Lo

[2016-12-03 04:36] CodingCat commented on #1827
ok, I will check it

[2016-12-03 14:29] rfcv commented on #1808
@thirdwing I was able to download and use xgboost 0.60 using the code you provided. I did a grid search to run through the dart booster parameters, and it seems to be working as intended.

[2016-12-03 14:31] thirdwing commented on #1808
That's great.

On Dec 3, 2016 9:29 AM, "rfcv" <notifications@github.com> wrote:

[2016-12-03 17:39] AbdealiJK commented on #1832
So the requirements for this task are:
 - Verify it still works, if not ... fix it
 - Write a demo application that uses this
 - Write CPP unittests for the functionality

[2016-12-03 19:06] AbdealiJK commented on #1821
Closing as this was fixed in https://github.com/dmlc/xgboost/commit/6f16f0ef5829965ba420ef6937617600d286820a

[2016-12-03 19:06] #1821 closed

[2016-12-03 19:11] AbdealiJK commented on #1734
Based on comments in https://github.com/dmlc/xgboost/issues/1821 this seems to be known and expected behaviour which is done to gain speed. In scenarios where this is causing an issue the bst_float can simply be set to `double` now that https://github.com/dmlc/xgboost/issues/1821 has been resolved.

[2016-12-03 19:11] #1734 closed

[2016-12-03 19:15] AbdealiJK commented on #1819
On my local pandas 0.19 it works fine.

Also, I do have travis PRs which don't fail on the pandas tests - https://github.com/dmlc/xgboost/pull/1829

Are you sure you have rebased on master ? Maybe the fix has been merged in master already but not in your PR ?

[2016-12-03 20:36] JohnStott commented on #1819
AbdealiJK - please re-read my posts in particular:

[2016-12-03 20:42] JohnStott commented on #1819
So in summary, just to clarify if not clear, when tested locally using Pandas 0.17 it failed, when I updated to 0.19.1 it worked fine.  So the assumption is that Travis is not using latest pandas version (it may now, nobody has mentioned whether this has been updated?)  Or maybe we can somehow find what version Travis is using?  Regardless, with your unit testing, I will cancel my pull requests an

[2016-12-03 20:44] JohnStott commented on #1819
just to re-emphasise - someone else's pull request is failing with same error:

https://travis-ci.org/dmlc/xgboost/jobs/180733537

[2016-12-04 01:19] AbdealiJK commented on #1819
@JohnStott I did read all your posts, and suggested a way to test whether it was fixed - i.e. just to update your PR by rebasing it on master ...

Regarding the travis log you mentioned in https://github.com/dmlc/xgboost/issues/1819#issuecomment-264664346:
Here is the Travis pandas version is 0.191 - [check L626](https://travis-ci.org/dmlc/xgboost/jobs/180733537#L626)
Note that the link youAlso, i

[2016-12-04 01:24] AbdealiJK commented on #1819
Just realized that you recently pushed commits on your PR at https://github.com/dmlc/xgboost/pull/1710 which is probably why the travis error is not the same anymore.

Cool, nice to see it worked :+1:
I think this issue can be closed ?

[2016-12-04 07:51] JohnStott commented on #1819
I will rebase again... see if it is now fixed...be back in half an hour...

[2016-12-04 08:11] JohnStott commented on #1819
Hmmm, seems to have failed again...  Thank you for your help so far...
It is unfortunate that the 'The command "tests/travis/run_test.sh" exited with 255.' error doesn't contain any more detail...  Please have a look at my latest merge attempt link:
https://travis-ci.org/dmlc/xgboost/jobs/181080162L777
it doesn't mention the pandas package at all (unlike the link you posted)?

Maybe this is failin

[2016-12-04 08:19] AbdealiJK commented on #1819
@JohnStott In the link you've given ([link](https://travis-ci.org/dmlc/xgboost/jobs/181080162L777)), the error can be seen at:
[code]
flake8 says it was expecting 2 lines instead of 1 in the file mentioned there in accordance with PEP guidelines for python

Also, the reason pandas is not there in this travis is because it is the `TASK=python_lightweight_task` which is supposed to run without panda

[2016-12-04 09:11] JohnStott commented on #1819
Thanks AbdealiJK.  It seems this was a number of issues, Travis was originally giving me this error:

python-package/xgboost/rabit.py:135:1: E305 expected 2 blank lines after class or function definition, found 1
python-package/xgboost/rabit.py:208:1: E305 expected 2 blank lines after class or function definition, found 1
as per (https://travis-ci.org/dmlc/xgboost/jobs/176671938)

but this was not

[2016-12-04 09:11] #1819 closed

[2016-12-04 14:12] benwu232 opened #1838 "training model is not stable"
Hi guys,

I'm using sklean wrapper. After training, I save the model buy pickle. Next time, I load the pickle and use the model to predict. I found the training model is not stable. Each time after loading a model by pickle, I  run same test with same data but get different results. Sometimes the differences of the results are not ignorable. However, after loading the model (it is in memory), when

[2016-12-04 14:30] wenghb opened #1839 "[mac] ld: symbol(s) not found for architecture x86_64"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

ld: symbol(s) not found for architecture x86_64
collect2: error: ld returned 1 exit status
collect2: error: ld returned 1 exit status
make: *** [xgboost] Error 1
make: *** Waiting for unfinished jobs....
make: *** [lib/libxgboost.so

[2016-12-04 19:10] CodingCat commented on #1807
They have pre-built native libraries https://github.com/xerial/snappy-java/tree/7650aa29fb52c3ba467e9c906cf22a3dab536861/src/main/resources/org/xerial/snappy/native

and

load them with https://github.com/xerial/snappy-java/blob/7650aa29fb52c3ba467e9c906cf22a3dab536861/src/main/java/org/xerial/snappy/SnappyLoader.java

there will be only one library in central maven

[2016-12-04 20:24] alexeygrigorev commented on #1807
OK so it means they store the binaries in git? I am not sure it's a good idea.

Anyways, my experiments with multi-module build seem to have worked: I managed to deploy the binaries and the jars to sonatype's snapshot nexus. Here it is: https://oss.sonatype.org/content/repositories/snapshots/ml/dmlc/xgboost/

I only have linux and windows machines, so I tried only these two.

Right now using the s

[2016-12-04 20:45] CodingCat commented on #1807
It does not say that we need to store binaries in git..The reason they have prebuilt native libraries saved there is that they plan to support many pkatforms including  those with hard-to-use toolchains....

Our goal is only to support 64-bits linux/mac/win. We only need to do what we are doing: compile native libs-> copy to resource dir ->build jar

I still didn't see why uploading many jars to c

[2016-12-04 20:54] alexeygrigorev commented on #1807
It may not be necessary but I don't know how to organize the build process without it.

As I wrote earlier, in my opinion the limitation of one-jar-rules-them-all approach is that we first need to build the code for each target platform, store the binaries somewhere, and then during the publication to maven pull the binaries from there and include in the final jar. I don't know how to do it.

When

[2016-12-04 22:22] CodingCat commented on #1807
Why storing binaries somewhere? how about put all native libraries in local disk (resource directory), include them in the jar when building and finally publish jar to maven?

[2016-12-05 09:40] TheodoreGalanos commented on #150
Hi could you maybe let us know what the problem was?

I'm facing the same issue and, it would be nice to know.

Kind regards,
Theodore.

[2016-12-05 10:15] zweicoder commented on #1818
@tqchen Is it possible to give an example of how that would work for the MAPE metric? Are we supposed to find the function that approximates the upper bound of MAPE?

I'm trying to use the Mean Squared Percentage Error to give it a derivative:

[code]

and then I run it with

[code]

but same as @bloom77 the predictions are stuck at 0.5, probably because the hessian is too small (assuming I did th

[2016-12-05 10:24] tqchen commented on #1818
yes, use an upper bound. In most cases, for example, set second order gradient to be bigger than zero could do, you can try to plot the curve and see how well the function approximates the upper bound

[2016-12-05 10:43] kerwinjorbina opened #1841 "java.io.FileNotFoundException: File /lib/xgboost4j.dll was not found inside JAR."
I am trying for the first time to run a simple code using xgboost in Windows.

I have the error where the xgboost4j.dll file is not found inside the JAR. I was able to install the package of xgboost. Is there something I missed?

I have this as the code.

`import ml.dmlc.xgboost4j.java.DMatrix;
import ml.dmlc.xgboost4j.java.XGBoostError;

public class Main {

    public static void main(String[] a

[2016-12-05 11:01] alexeygrigorev commented on #1807
Ok, so how would you do this? Somebody builds binaries for windows and then sends them over email to the person with linux?

[2016-12-05 11:07] alexeygrigorev commented on #1841
How did you build the jar? Did you run `make jvm`?

[2016-12-05 11:11] kerwinjorbina commented on #1841
I used mvn package and mvn install

[2016-12-05 11:18] alexeygrigorev commented on #1841
You should also do `make jvm` before that.

[2016-12-05 12:45] CodingCat commented on #1807
It's another question i do not understand...

Why we have to involve more than one persons for cross building? It's hard to imagine a program release process requires two persons....

In rocksdb, they use vagrant to cross build ubuntu and mac...xgboost does mot have those system calls or something else, these two platforms can share the same native lib file  in most of cases..

For windows, i am n

[2016-12-05 12:49] fc1plusx commented on #1544
+1: would be useful!

[2016-12-05 13:01] CodingCat commented on #1807
The next question to discuss is... can we skip windows when releasing to maven? The main reason is that we do not have enough(zero?) test on xgboost4j under windows...

[2016-12-05 13:01] alexeygrigorev commented on #1807
Well we probably don't need to involve more than one user, but I'm not an expert in vargant either, sorry.

But what I suggest does require three users:

- user with linux builds xgb and runs `mvn deploy`
- users with windows and mac build xgb and run `mvn --projects xgboost4j-native-windows deploy` and  `mvn --projects xgboost4j-native-osx deploy` respectively.

This is for publishing the snapsho

[2016-12-05 13:05] CodingCat commented on #1807
I will talk with mxnet guys to understand if there is any other reason for them to have many jars in mvn central

[2016-12-05 14:00] tonyrajan commented on #640
Regardless of the nround, is it possible to continue training from a previously saved xgboost model in R?
In the command line Parameters, there are Parameters, Task & Model_in which could facilitate the same. How do we implement the training continuation in R using these parameters?
Thanks,
Tony

[2016-12-05 14:47] dimagor commented on #1777
I ran into the same issue with the github version.
My current solution is to explicitly call ```xgboost::predict()```

[2016-12-05 15:06] larry77 commented on #1777
OK, but can you be a bit more explicit and maybe provide an example using also mlr? Right not, predict is called by mlr under the hood in my original example.

[2016-12-05 15:38] gilad19 opened #1842 "Treatment of 0 values as missing in xgboost predict (R)"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System:
Linux

Compiler:

Package used (python/R/jvm/C++):
XGBoost

`xgboost` version used:
0.4-4

If installing from source, please provide

1. The commit hash (`git rev-parse HEAD`)
2. Logs will be he

[2016-12-05 15:57] tonyrajan opened #1843 "Continue training from an existing model in R"
Is there a way to continue training on a saved xgboost model in **R**? Can the model be updated so that the patterns of the new data is incorporated into the existing model?
The python implementation provides command line parameter "model_in" for giving an existing model as input. Does a similar implementation exist in R as well?

[2016-12-06 04:15] khotilov commented on #1842
The xgboost code that you are using is quite old. And when you set a specific `missing=` value for training data, the same setting should be used for testing data as well.

In the new code, things should be fairly consistent:
- `missing = NA` by default
- sparse elements in sparse data are also treated as "missing" by the gbtree booster (thus, don't mix sparse and dense data in training and testin

[2016-12-06 04:19] khotilov commented on #1843
The answer is yes to all. Check the `xgb_model` parameter. Also, the recent addition in #1670 allows somewhat different way to update a model to new data (by updating existing trees).

[2016-12-06 05:14] khotilov commented on #1777
See https://github.com/mlr-org/mlr/issues/935#issuecomment-264530385, https://github.com/mlr-org/mlr/issues/1264#issuecomment-265062656

[2016-12-06 05:29] khotilov commented on #1238
If it is so easy to reproduce, does anyone care to provide a reproducible example? Preferably, without the sklearn layer (to isolate a possible cause).

@gabrielspmoreira : I see your point about loading from a LIBSVM file that has completely sparse last few columns... That DMatrix construction method would benefit from having a `num_col` hint as well.

[2016-12-06 08:10] benwu232 commented on #1838
Clarification:
1. Each time I load the same model and run it with same test data, I get different result.
2. With loaded model, each time I run it with same test data, I get same result.
It seems some hidden thing is done during loading a model, which makes same model cause different results. I'm using pickle so far.

[2016-12-06 10:13] gilad19 commented on #1842
Thanks.

I downloaded the most updated xgboost code I found (0.6-0?) and indeed notice that there the default for missing is NA (and not NULL as in the CRAN version). However, I still see the same behavior, 0 is treated as missing value when the tree is doing the split.

I also tried to define implicitly "missing = NA" for training/testing/prediction with the old and new code and got the same resu

[2016-12-06 14:07] giuseppec commented on #486
The function `generatePartialPredictionData` has been renamed to `generatePartialDependenceData`, just check the NEWS file from the mlr package.

[2016-12-06 18:42] adendek opened #1844 "Model deployment in C++"
Let's assume I created and trained some DNN model  (via python api) and then I want to deploy it into some standalone c++ project.
How can I do it? Can you give me any advices?

[2016-12-07 02:34] NamLQ opened #1845 "Error when use callback cb.reset.parameters in xgb.cv"
I am using xgboost_0.6-0. There is an error when I use cb.reset.parameters in xgb.cv:
`Error in `*tmp*`$handle : object of type 'externalptr' is not subsettable`

## Environment info
Operating System: ubuntu 64bits 16.10 / 16.04

## The R `sessionInfo()`

## Steps to reproduce

[code]

[2016-12-07 07:07] khotilov commented on #1845
Since you are passing a watchlist to `xgb.cv` (which has no `watchlist=` parameter) as an unnamed parameter, it internally becomes `label=watchlist`. While it's not right to do so, it still should be harmless in this case, and it also points to a bug in `cb.reset.parameters`. I'll submit a fix tomorrow. Thanks for reporting!

[2016-12-07 07:22] khotilov commented on #1842
It would be helpful if you could illustrate your observations with an example.

Note that for some kinds of data, e.g., data similar to binary hot-encoding in dense format, all missing branch directions might coincide with the directions of zeros - it just might be that such missing directions were actually learned.

[2016-12-07 12:48] l3link commented on #1238
[code]

Anytime a new DMatrix is created on a subsample of rows/columns there is a possibility that this happens (the number of columns gets reduced even though we explicitly told DMatrix how many columns there are).  This happens often for smaller data sets or very very sparse columns because it is more likely a subset will be all zeroes.

[2016-12-07 13:33] hashamMunir commented on #824
even upgrade is unable to import LabelEncoder. I am having the same issue. please any suggestion

[2016-12-07 17:02] khotilov commented on #1238
@l3link : your code seems to be outdated. Here's what I get:
[code]

[2016-12-07 20:17] Str1ker17 opened #1846 "libpath['find_lib_path']() returns absolute path for libxgboost.dll on Windows; setup install fails"
## Environment info
Operating System: Windows 7

Compiler: MSVC++ 12 (Visual Studio 2013)

Package used (python/R/jvm/C++): Python 3.4.4

`xgboost` version used: 0.6

If installing from source, please provide

1. The commit hash (`git rev-parse HEAD`): e7fbc8591fa7277ee4c474b7371c48c11b34cbde
2. Logs:
[code]

If you are using python package, please provide

1. The python version and distribution -

[2016-12-08 04:46] RAMitchell opened #1847 "Build system discussion"
I originally created a cmake build script to work on my GPU plugin for xgboost. Cmake is the only way to create a build system for CUDA that works for Linux and Windows as mingw is not supported. This seems to have been picked up by a fair few Windows users also as it allows compiling xgboost through visual studio.

The cmake build can be used with Python and CLI version so far. I would also like

[2016-12-08 08:53] l3link commented on #1238
Huh,

`In [64]: xgboost.__version__
Out[64]: '0.6'`

[2016-12-08 09:19] fromradio opened #1849 "[jvm-package] discussion on evaluation of xgboost4j-spark"
Hi, all. Recently I am reading the source code of xgboost4j-spark. I found that the output of predict methods is kind of un-usable.

[code]

The output is a RDD of a matrix that each row represents the prediction result (I print the result it seems to be just one Float). OK, you now just get the each partitions' prediction result and you do not know the corresponding relation with the origin data.

[2016-12-08 10:14] rmeehan opened #1851 "Degraded performance after porting multi-thread build to new MacBook Pro"
## Environment info
Operating System: MacOS Sierra, 2.9 GHz Intel Core i5
Compiler: gcc...info as follows (having used "brew install gcc --without-multilib)":
gcc --version
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 8.0.0 (clang-800.0.42.1)
Target: x86_64-apple-darwin16.1.0
Thread model: posix

Package used (py

[2016-12-08 12:23] rmeehan commented on #1851
More info - it's related to the multi-threading:
- With nthread=4, I get about 3-4 rows logged as follows:
`[12:17:52] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 52 extra nodes, 0 pruned nodes, max_depth=6`
- But weirdly with nthread=1, I get about 10 rows logged per second. ie. it's 2.5x faster with only 25% of the cores in use

[2016-12-08 14:10] Ayutthaya commented on #1851
I am not sure if it is related but I've also noticed a degradation in performances since recent commits added coverage tests and accidentally left TEST_COVER variable in make/config.mk set to 1.
Setting this value to 0 solved the issue for me.

[2016-12-08 15:51] syllogismos commented on #235
@jaysonpryde instead of np.flatten() flatten it using `reshape(-1,1)`

so `pred = pred.reshape(-1, 1)`

I found this issue when I also faced the same issue, I added more details in this stackoverflow answer http://stackoverflow.com/questions/41042599/how-to-boost-on-an-existing-xgboost-model-from-its-last-iteration-without-starti/41043439#41043439

[2016-12-08 16:20] JoshuaC3 commented on #1188
Will prediction=TRUE with xgb.cv() be a python option as well at some point?

I have this working to print out the prediction through a callback but cannot get it to return it as a variable. How do I go about saving it as a variable?

[2016-12-08 17:16] phunterlau commented on #1446
@xgdgsc precompiled package is good. Is the Windows precompiled package made by you or someone that you know? can you add the recipe to the official guideline so other people can start using it? I have seen much pain on this issue list when installing windows version.  As to precompiled PyPI build for Mac/Linux, we have to separate them since PyPI doesn't tell difference between platforms. Definit

[2016-12-08 17:18] phunterlau commented on #824
@hashamMunir can you verify if you can `import sklearn` on your python?

[2016-12-08 17:28] AbdealiJK commented on #1851
Ouch. really sorry about that. I have set WITH_TEST to 0 in https://github.com/dmlc/xgboost/pull/1853 That indeed disables optimization while compiling and would make things slower. Not sure how thread parallelization would be affected by it though. (I would assume it wouldnt become worse with more threads!)

[2016-12-08 18:00] TristanTuscadero opened #1854 ""Dynamic" softmax objective?"
Currently, for multi-class classification, XGBoost supports a "fixed" label set, where separate trees are extracted per label. To handle "dynamic" label sets, one must do binary classification or a ranking classification. However it is often better to do softmax classification over a label set.

For example, consider a task where I give you a natural language text.

Passage: "Sally gave the ball t

[2016-12-09 01:40] CodingCat commented on #1849
are you sure you have label in test data?

[2016-12-09 02:48] CodingCat commented on #1849
for input case, use zip method in RDD to produce the expected format...

reference:  http://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.mllib.classification.LogisticRegressionModel

[2016-12-09 03:15] xgdgsc commented on #1446
That package is not made by me or anyone I know, but that page is famous among windows python users. I would suggest uploading precompiled packages to pypi just like what I do [here](https://pypi.python.org/pypi/somoclu/1.7.2). Pip would automatically select the right wheel package when user install. This way we just add the warning of installing the VC redistribution packages if loading the prebu

[2016-12-09 03:31] fromradio commented on #1849
I see. I parse the predict method in spark's `GeneralizedLinearModel` below

[code]

So it seems that we just need to unfold the Array[Array[Float]] to Iterator and the corresponding is kept?

[2016-12-09 03:55] terrytangyuan commented on #1820
Hi Zach, any updates yet? I cannot reproduce it. Could you post an example?

[2016-12-09 04:54] CodingCat commented on #1849
XGBoost does not support predict for a single instance efficiently...so predict(v: Vector) does not make sense

[2016-12-09 07:15] fromradio commented on #1849
I see. So how about implement a method with flatten RDD like spark does. For instance:

[code]

Now we can use zip to combine input and output

[2016-12-09 09:44] nasergh opened #1857 "how xgboost calculate the mlogloss without probability !"
Hi when we use Xgboost for multiclass problem with objective="multi:softmax" and eval metric=mlogloss
but how xgboost calculate mlogloss without probability ?
 because there is no probability in softmax output and all formula i have seen use probability for calculating logloss
 **i want to calculate mlogloss for test data but i can't find the formula in R**
https://www.kaggle.com/wiki/MultiClassLo

[2016-12-09 10:20] geoHeil opened #1858 "[jvm-package] new dependencies"
The latest changes in the jvm-package result in a new dependency which is required.

[code]

[2016-12-09 10:29] geoHeil commented on #1858
Strangely this problem went away after recompiling. Now the library is loaded even without further manually specifying this dependency.

[2016-12-09 12:12] fc1plusx opened #1859 "[xgboost4j-spark] Incremental training"
In this SO thread, http://stackoverflow.com/questions/38079853/how-can-i-implement-incremental-training-for-xgboost, I could find some info about incremental training using the python interface but I was not able to find any info about such feature in the Spark version. Is it available? Will it be in the future? Many thanks!

[2016-12-09 13:08] rmeehan commented on #1851
Yep - that's improved the performance back to where it should be! Also the multi-threading performance is better than single-threaded/core as you'd expect. Thanks.

[2016-12-09 13:08] #1851 closed

[2016-12-09 13:41] rainfalj opened #1860 "[jvm-packages] when I use mvn package meet the error:"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System:windows

Compiler:mvn package  jvm java7
Package used (python/R/jvm/C++):

`xgboost` version used: 0.7

If installing from source, please provide

1. The commit hash (`git rev-parse HEAD`)
2. Log

[2016-12-09 14:15] xydrolase commented on #1859
Internally there is `update` function in `ml.dmlc.xgboost4j.scala.Booster`, which allows you to perform update iteration by iteration, but there's currently no wrapper for incremental updates in xgboost4j-spark.

Are you envisioning a Spark-streaming application? If you're concerned about memory, you can try with `useExternalMemory = true` when you train with Spark's XGBoost.

[2016-12-09 14:18] xydrolase commented on #1844
Gradient boost trees are basically decision trees, which can be converted into many if-else statements.

Once you train your model, you can dump the tree model, and convert it into customized C++ code with if-else statements checking the feature and split values. And finally, return the leaf value when you reaches the leaf.

[2016-12-09 14:50] fc1plusx commented on #1859
No, a standard Spark application. But it would be better for my experimentation to train the classifier incrementally with the new data that I get from time to time. Any plan for this feature in the future? Thanks!

[2016-12-09 14:50] CodingCat commented on #1849
That's on todo list but no chance to do it

You can deprecate the current one and write a new one

[2016-12-09 14:59] xydrolase commented on #1859
From a technical point of view, it is certainly doable with perhaps a similar interface to the Python one. But could you elaborate a bit more on the use case?

So you have, say, 50 million samples today, and you train a model with 50 trees.
A week later, you have another 50 million samples, and you want to update the model for another 50 iterations?

[2016-12-09 15:11] drag0 commented on #1844
@adendek - just create script that parses trees dump and generates one giant function with if-else statements. That's what I did and it works.

[2016-12-09 15:13] xydrolase commented on #1849
@fromradio  You will need to implement the GBT logic completely in Java/Scala without calling any JNI functions.
It certainly is doable, but typically you only need prediction for single vectors in production environment, in which case you don't necessarily need to ship a fat jar with all components of XGBoost.

[2016-12-09 15:14] fc1plusx commented on #1859
Exactly. To elaborate more: I would like to update the previous model with the new data that I get. I think it is interesting to see how the model performs when trained incrementally _vs_ re-trained with the full updated dataset (i.e. train with data1 & update with data2 _vs_ train with data1 & train again with data1+data2). Also, from a computational point of view, incremental training should be

[2016-12-09 15:28] xydrolase commented on #1859
As I mentioned earlier, internally every iteration is trained by the `update()` function. So, training an entire model can be decomposed into multiple `update()` stages. Thus, you can certainly break down the training into multiple sessions.

If you train your model with `subsample` < 1.0, then, each tree is trained with slightly different data, so I don't see how incremental changes would be that

[2016-12-09 15:45] fc1plusx commented on #1859
Thanks a lot for your feedback!

I was aware of the feature distribution problem, and I don't think it is something that you can easily solve without allowing for complete model reorganisation. Nevertheless, this is shared by many incremental models and I believe is an issue somehow you need to learn to live with.

I would be really interested in seeing a (perhaps preliminary) incremental training

[2016-12-09 16:01] geoHeil commented on #1858
Unfortunately, I need to reopen this issue:` ${scala.binary.version}` is not resolved properly in the published jar. This breaks the loading of transitive dependencies like AKKA.

[2016-12-09 18:02] ck37 commented on #1812
+1 to CRAN release, would be very helpful since the current version is from July 12.

[2016-12-09 18:57] AbdealiJK commented on #1832
The DistColMaker part makes sense to me. But after making the first tree, the predictions need to be updated so that the gradients/hessians are calculated using the leaf weights from the first tree.

Here, https://github.com/dmlc/xgboost/blob/f512f08437bfa47621556f51e7e5789133825469/src/learner/learner-inl.hpp#L176 shows that the PredictRaw() and DoBoost() are being called one after the other. Hen

[2016-12-09 20:27] tqchen commented on #1832
The new leaf value is done by GetLeafPosition function.

https://github.com/dmlc/xgboost/blob/6dabdd33e330bb0cda5b91c75516ff73d53ca316/src/gbm/gbtree.cc#L342

I removed this piece of code during last refactor, but this logic can be added by when necessary. Specifically, GetLeafPosition gives the position of each instances of training matrix(which is obtained through the distributed sync procedure)

[2016-12-10 02:45] wenghb commented on #1839
anyone can help me ?

[2016-12-10 16:18] CodingCat commented on #1860
are you imposing some customized style checker? I cannot reproduce it

[2016-12-10 16:28] CodingCat commented on #1859
instead of providing the interface shown in stackoverflow, https://github.com/dmlc/xgboost/pull/1670 shows a better solution?

[2016-12-10 16:29] CodingCat opened #1861 "[jvm-packages] provide interface for latest model update functionality"
https://github.com/dmlc/xgboost/pull/1670

[2016-12-10 20:30] CodingCat commented on #1858
I didn't get that why scala.binary.version is resolved for Spark packages but not Akka ones?

[2016-12-10 21:03] geoHeil commented on #1858
The thing is. Me neither.
But the problem no longer occurs with the proposed fix.

I could observe these things:
  - this issue occurs when `"ml.dmlc" % "xgboost4j-spark" % xgboost,` is included in `build.sbt`
 - the `com.typesafe.akka#akka-actor_${scala.binary.version};2.3.11` cannot be resolved
 - strangely a depdendency requests / changes the scala version to 2.12 (even though I fixed it at 2.1

[2016-12-10 21:05] CodingCat commented on #1858
would you identify which one requests 2.12???? (surprise me....)

and

you're using sbt?

[2016-12-10 23:44] geoHeil commented on #1858
Indeed. I am using sbt. On monday I will be able to tell you which depdendency exactly caused the problem.

https://github.com/dmlc/xgboost/tree/master/jvm-packages/xgboost4j-example which is a maven project works just fine and does not show these problems for the latest version.

[2016-12-11 03:10] xgdgsc opened #1862 "feature importance plot label overlap"
## Environment info
Operating System:

Windows 10 x64

Compiler:

Package used (python/R/jvm/C++):

python

`xgboost` version used:

0.6

If you are using python package, please provide

1. The python version and distribution

python 3.5.2 in anaconda 64bit

2. The command to install `xgboost` if you are not installing from source

wheel package from http://www.lfd.uci.edu/~gohlke/pythonlibs/#xgbo

[2016-12-11 05:29] AbdealiJK commented on #1862
Get the fscores manually and use a complete feature filled plotting library to plot it better ... this is a very basic visualization meant for quickly seeing the results..

Reference: https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/plotting.py#L14

[2016-12-11 11:39] phantrunghoaiminh commented on #1043
@shawnwanderson: I tried many ways, all of them didn't work. But your method works perfectly. Thanks!

[2016-12-11 16:55] anuragupadhyaya commented on #1316
It worked in one go... cheers and thanks alot :)

[2016-12-11 20:11] adendek commented on #1844
@drag0 Can you share the script with me?
PS. Did you checked the time performance of your solution? In my project the timing is a crucial issue.

[2016-12-11 21:05] drag0 commented on #1844
@adendek - I'll check my computer for that script tomorrow. As far as I remember it was really fast, it turned whole booster to one python function, it was a messy script because it was made in like 15 minutes. I'll ping you tomorrow here.

[2016-12-12 02:11] AbdealiJK commented on #1832
@tqchen I seem to need your help in debugging this again (sorry).
So, I'm using the 0.6 code base for testing this feature.
 - The feature to read files with %d was removed so I had to add that
 - It is able to compute the first tree correctly in the distributed mode using the distcol updater (so the DistColmaker class works)
 - Now, I'm stuck in the second tree building.

Here, the second split f

[2016-12-12 06:23] tqchen commented on #1832
The split condition is not changed. Did you try it on the simple mushroom example? I have not encountered this before. One thing you can do is to look at history of the dist-col example folder, do a bit of binary search on history revisions to check if we can get a version that is working, since there used to be one such version

[2016-12-12 11:06] drag0 commented on #1238
Can someone please answer this question? I reverted back to 0.4 version and now it seems to work but I'm afraid if it's working properly because I'm still using really sparse matrices.

[2016-12-12 11:13] earthwu commented on #311
meet the same problem, the model and the predictor can not be separated, when use on online, multi threads , need load the model multi time, this is cost memory, will this be solved in the future?

[2016-12-12 11:35] wenxiang16 opened #1863 "Getting different evaluation output of two same sample set in the same training procedure"
Hi
My `xgboost` version is c93c9b7.I have some questions in using xgboost.
There are  400 features in a training sample.First，I want to train the model with 300 fearture.Then I want to continue train the model with all feartures. But I can not understand the eva results for they are different. I deem that the eval results should be same .
Thank you.
[code]
### this is the result：

[0]     train-nd

[2016-12-12 11:44] vatsan commented on #1818
@zweicoder
why not consider using the "autograd" package in-place of computing your own gradient & hessian?

def mspe(y, y_pred):
     from autograd import grad
     from autograd import hessian
     mape = lambda y, y_pred: autograd.numpy.sum(autograd.numpy.abs(y_pred - y)*1.0/(y))*1.0/len(y)
     grad = grad(mape)
     hessian = hessian(mape)
     return grad, hess

[2016-12-12 13:50] shashisingh opened #1864 "xgboost CRAN version vs dev version AUC scores are very different"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: CentOS 6.8

Compiler: gcc version 4.8.2 20140120 (Red Hat 4.8.2-15) (GCC)

Package used (python/R/jvm/C++): R

`xgboost` version used: CRAN version (0.4-4) and dev version latest from github

If

[2016-12-13 01:22] NKI01 opened #1866 "Confusion Matrix for Validation of output from xgb.train()"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System:

Compiler:

Package used (python/R/jvm/C++):

`xgboost` version used:

If installing from source, please provide

1. The commit hash (`git rev-parse HEAD`)
2. Logs will be helpful (If logs are l

[2016-12-13 07:25] Liam0205 commented on #1863
Could you show an example of `file1`, `file2` and `file3`, so that one could recur what you've met? This is what an [MWE](https://en.wikipedia.org/wiki/Minimal_Working_Example) requires.

[2016-12-13 08:45] fromradio commented on #1861
is this a call for contribution?

[2016-12-13 09:47] fromradio commented on #1849
@xydrolase I actually is trying to build a project containing various cluster-based machine learning algorithms and I found the api of xgboost4j-spark is not consistent with spark. Currently I have not much time re-write the GBT logic in scala and I will try when I'm free.

[2016-12-13 09:49] fromradio commented on #1849
@CodingCat I have finished this on xgboost-0.6, I will pull a request on 0.7 after I finish~

[2016-12-13 09:52] geoHeil commented on #1849
@fromradio I found this java library https://github.com/komiya-atsushi/xgboost-predictor-java maybe this is interesting to you.

[2016-12-13 10:17] fromradio commented on #1849
@geoHeil Thanks a lot. It seems to be what I want! I will make a test on prediction speed with xgboost4j-spark I modified.

[2016-12-13 10:19] geoHeil commented on #1849
Cool. I would be interested to know about your results.
Ruimin Wang <notifications@github.com> schrieb am Di. 13. Dez. 2016 um
11:18:

[2016-12-13 11:31] fromradio commented on #1849
@geoHeil I have tested on a dataset (containing 200,000 data) on spark. The xgboost4j-spark cost 1775736 milliseconds containing implicit data transformations. xgboost-predictor-java cost 4620104 milliseconds containing data transformations and 2907550 milliseconds without transformations. I think xgboost4j's prediction on a batch is faster and I will keep using xgboost4j.

[2016-12-13 11:34] geoHeil commented on #1849
Thanks. Did you test predicting a single record as well?
Ruimin Wang <notifications@github.com> schrieb am Di. 13. Dez. 2016 um
12:32:

[2016-12-13 11:38] fromradio commented on #1849
@geoHeil Not yet. xgboost4j does not offer such an api. As discussed before, this is because there is no fast solution yet. I think batch predict can handle most situations.

[2016-12-13 11:58] HolgerPeters opened #1867 "Building xgboost wheel distributables with pip wheel"
I use `pip wheel` to generate binary distributables of python packages like https://pypi.python.org/pypi/xgboost. `pip wheel packagename` usually works very reliably with python packages. And it did so for `xgboost==0.4a30`, but I cannot upgrade to `0.6a2`, because with this version, `pip wheel` is defunct.

## Environment info
Operating System:

Debian 7
[code]

Compiler: gcc (Debian 4.7.2-5) 4.7

[2016-12-13 13:36] zweicoder commented on #1818
@vatsan autograd is very slowly in computation when dealing with moderately sized data. In my case it is unusable (taking hessian of 5000 elements would already take a few minutes)

[2016-12-13 14:06] vatsan commented on #1818
@zweicoder
True, i observed it while running it on my own task. It was very slow & XGBoost crashed eventually.

[2016-12-13 14:26] CodingCat commented on #1861
Feel free to controbute on it

[2016-12-13 17:07] tonydifranco commented on #1080
I would also like to see this added

[2016-12-13 19:14] nikunjgit opened #1868 "Debugging SIGSEGV with xgboost4j-spark"
I am able to run binary classification with xgboost4j-spark on small amount of data. Keeping everything the same, as I increase the data, I get SIGSEGV. I'm looking for some help in figure out if i'm missing something or how can I debug this issue.

## Environment info
Operating System: Ubuntu 12.04.5 LTS

Compiler:
gcc version 4.6.3 (Ubuntu/Linaro 4.6.3-1ubuntu5)

Package used (python/R/jvm/C++):

[2016-12-13 19:16] xydrolase commented on #1868
Did you try to increase executor memory? Can you provide the YARN log file?

[2016-12-13 19:20] xydrolase commented on #1868
And is this a typo in your code?

[code]

[2016-12-13 19:27] nikunjgit commented on #1868
The size of our yarn containers is fixed. Each executor gets 6g memory which we can't really change. I tried increasing the number of executors to 100 but saw the same issue. I am able to run the same dataset in MLLib just fine.

Regarding the typo, that's not in our code. We had a bunch of variables there and I just put values from them in this issue. You can ignore that.

Let me check if I can p

[2016-12-13 19:55] xydrolase commented on #1868
6g seems to be more than enough for 600k samples unless you have too many columns. But it's hard to say what the problem really is without the complete log.

Also, how did you compile XGBoost? Did you compile it on a different machine, and then run it on the cluster?

[2016-12-13 21:08] nikunjgit commented on #1868
Actually, I just noticed    "spark.memory.offHeap.enabled" was set to false. I'm setting it to true and trying again. I compiled XGBoost on one machine and using the same compiled jar on the whole cluster. Is there a better way ?

[2016-12-13 21:13] xydrolase commented on #1868
I was just making sure that the two system have compatible GLIBC and libstdc++.
If the builder has the same Ubuntu 12.04 system, then it is unlikely that the compilation is the cause.

[2016-12-13 21:19] nikunjgit commented on #1868
Yeah all the machines have the same environment.

[2016-12-14 03:35] terrytangyuan commented on #1812
Any updates on this? Have you sorted out the issue with raw test mismatch?

[2016-12-14 03:44] CodingCat commented on #1860
any update on this?

[2016-12-14 04:56] hetong007 commented on #1812
As mentioned by @yixuan in https://github.com/dmlc/xgboost/pull/1826#issuecomment-264056624, this error can be observed when R compiles with `-O1` or `-O2`, and vanishes when using `-O0`.

I am considering about commenting out the related tests when submitting to CRAN.

[2016-12-14 04:58] terrytangyuan commented on #1812
Yeah I think we can submit it for now by commenting those out.

On Tue, Dec 13, 2016 at 10:56 PM Tong He <notifications@github.com> wrote:

[2016-12-14 04:59] hetong007 commented on #1812
I will do that in this weekend.

[2016-12-14 05:28] AbdealiJK commented on #1832
Hmm, So when trying in on my own dataset (which has float columns) I can see that the whole second tree is the same. In the case of the agaricus example, I can see that only the gain of the root node in the second tree is same (Probably because the split condition anyway does not matter as it's an indicator variable)

If I run agaricus for depth 4, 2 trees without distribution:
[code]

If I run ag

[2016-12-14 11:39] macwilam commented on #1847
This falls into the thread title but bot exactly your question. I hope it is ok to mention it here.

What about gcc6 vs gcc5 build problems. Currently xgboost builds with gcc6 as a default. However for this plugin we get an error:
/opt/cuda/include/host_config.h:119:2: error: #error -- unsupported GNU version! gcc versions later than 5 are not supported!

Even after I export CC and CXX for gcc5 I

[2016-12-14 11:43] AbdealiJK commented on #1832
Figured it out.
The `snode` needs to be cleared in [updater_colmaker.cc#L175](https://github.com/dmlc/xgboost/blob/master/src/tree/updater_colmaker.cc#L175)
The `stemp` is cleared correctly, but `snode` is not being cleared. Because of which the `snode[nid].best.Update()` was comparing with last tree's split condition.

[2016-12-14 12:26] Laurae2 commented on #1864
Make sure you are using the same value for missing values. CRAN and dev versions are different on this specific part (CRAN=0, dev=NA), and it causes headaches to users. This should be the reason you see such high difference.

In addition, if you use multithreading on gblinear, results are not reproducible (you must use nthread = 1).

[2016-12-14 12:35] adendek commented on #1844
@drag0 what is the status of this script?

[2016-12-14 12:45] ahmedahmedov commented on #474
It is an awesome feature, but no one has mentioned how to actually input the interaction features into xgboost.

[2016-12-14 12:53] drag0 commented on #1844
I'm going to send it to your email in couple of mins. Sorry, I forgot.

[2016-12-14 13:04] benwu232 commented on #1838
Here is an example of my model by pickle. Each time I load it, the result is different.

For example:
a = pickle.load(open('mymodel', 'rb'))
b = pickle.load(open('mymodel', 'rb'))
print(a == b)

I got result False.

Is there anything wrong with pickle? Can we privide a saving method for sklearn wrapper?

Here is the link of the sample model:
https://pan.baidu.com/s/1nvrZ0Wp

Many thanks!

[2016-12-14 18:59] tqchen commented on #1832
Thanks, do you mind to get a PR on this?

[2016-12-14 19:03] jq opened #1869 "src/tree/updater_histmaker.cc:301: Check failed: (istart) != (hist.size)"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System:
ubuntu
Compiler:
gcc
Package used (python/R/jvm/C++):
jvm
`xgboost` version used:
If installing from source, please provide

1. The commit hash (`git rev-parse HEAD`)
7ff742ebf7ec70c747f9aec0046

[2016-12-14 19:32] AbdealiJK commented on #1832
Will do in a bit. need to clean up lots of stuff - Thanks for all the help debugging :)

[2016-12-14 20:41] RAMitchell commented on #1847
Hi, try using cub 1.6.4 (latest). I need to push an update to the build
documentation.

On 15/12/2016 12:39 am, "macwilam" <notifications@github.com> wrote:

This falls into the thread title but bot exactly your question. I hope it
is ok to mention it here.

What about gcc6 vs gcc5 build problems. Currently xgboost builds with gcc6
as a default. However for this plugin we get an error:
/opt/cuda/i

[2016-12-14 21:01] Craigacp commented on #1807
I successfully made a jar with a Windows dll, a Mac OSX macports dylib and a Linux so, and store that in our artifactory which works pretty well. Apart from when someone who uses brew tries to use the macports dylib and it gives an odd library not found error.

[2016-12-15 01:46] ben519 opened #1871 "Unexpected results when using rounds = 0"
Trying my best to take apart and understand xgboost so it's intuitive to me.  Today I noticed I get unexpected results when I run xgboost with `nrounds=0`.

Code
[code]

It looks like `nrounds=0` and `nrounds=1` return the same results.

Specs:
xgboost_0.6-0
Mac OSX 10.12.1

[2016-12-15 03:27] #1860 closed

[2016-12-15 03:27] #1859 closed

[2016-12-15 03:28] #1849 closed

[2016-12-15 06:31] zweicoder commented on #364
Is there any programmatic way to parse the trees? It looks like we can only parse the string of the trees right now

[2016-12-15 06:51] zweicoder opened #1873 "Interpreting contribution of each feature on the prediction"
Is there a way to efficiently compute how each feature contributed to the final prediction? This is very useful for our business case where we have to explain what features caused the changes in the final prediction.

I'm using the Python API and the only way I can think of right now is parsing the strings from `get_dump()` somehow

[2016-12-15 09:07] vatsan commented on #144
@tqchen
For a user supplied objective, should we manually blend the weights with the gradients & hessian? Sorry i am not able to verify this myself as the link you pointed to doesn't work anymore: (https://github.com/tqchen/xgboost/blob/master/src/learner/objective-inl.hpp#L149).

[2016-12-15 14:54] drag0 commented on #1746
I also have the same question. Only thing that I noticed is that if you have 20 classes and set number of estimators to 100, then you'll have 20*100=2000 trees printed in your model. Now my guess was that first 100 estimators classify first class vs others. Next 100 estimators classify second class vs others etc.

Can't confirm but maybe it could be something like this?

[2016-12-15 18:16] sosata commented on #1746
That's a very good observation, which I hadn't noticed before. It's true, the number of trees in the model is *n_estimator* x *n_class*. However, to figure out the order of the trees, I used the following toy example:
[code]
which basically creates a training dataset where [1,0,0] is mapped to 'a', [0,1,0] is mapped to 'c', and [0,0,1] is mapped to 'b'. I intentionally switched the order of 'b' an

[2016-12-15 18:59] alistairewj commented on #1873
Yep see here for the Python function which returns feature importance: https://github.com/dmlc/xgboost/blob/d943720883f0e70ce1fbce809e373908b47bd506/python-package/xgboost/core.py#L1089-L1094

[2016-12-15 19:00] geoHeil commented on #1858
I could track down the problem:

Expected all dependencies to require Scala version: 2.11.8
[WARNING]  com.typesafe.akka:akka-actor_2.11:2.3.11 requires scala version: 2.11.5
[WARNING] Multiple versions of scala libraries detected!

[2016-12-15 19:31] vaibhavkhanduja opened #1877 "How to interpret predict api in Spark 4j?"
The api for XGBoost 4j Spark has predict api returning RDD[Array[Array[Float]]. How can I read values of (sample, class)? As per the documentation of similar java api's here: http://xgboost.readthedocs.io/en/latest/jvm/java_intro.html# the predict returns (nsamples, npredicts)

I coded

val predResultFromSeq = model.predict(predicVector, true) predResultFromSeq.collect().foreach { a => { a.foreach

[2016-12-15 22:45] xmbipb commented on #1051
Also have the same errors. Win 10 64 Bit.
Why is not it possible to provide a JAR somewhere?

[2016-12-15 22:46] xmbipb commented on #1860
Also have the same errors. Win 10 64 Bit.
Why is not it possible to provide a JAR somewhere?

[2016-12-16 03:24] xgdgsc commented on #1532
I' m wondering if it is out of date. Cannot find 0.4-4 even in  https://github.com/dmlc/xgboost/commits/master/R-package/DESCRIPTION .

[2016-12-16 05:09] nareshshah139 opened #1878 "Differing auc scores between xgboost and sklearn auc metric. What could be the reason?"
I'm working on some private datasets and having difficulties in figuring out how to best debug this:

The auc when I run xgboost seems to show that it is 0.9+

The auc when I use sklearn.metrics.auc seem to show auc to be 0.76.

Given that the dataset I am working on is private and cannot be shared, how do I make this reproducible? And how do I debug this?

[2016-12-16 05:27] nareshshah139 commented on #1878
Some code and debug attempts:

from xgboost import XGBClassifier
from imblearn.over_sampling import SMOTE

new_list = X_train.columns

sm = SMOTE(kind='borderline1')
X_resampled2,y_resampled2 = sm.fit_sample(X_train,y_train)

X_resampled2 = pd.DataFrame(X_resampled2)
X_resampled2.columns = new_list

learning_rate = 0.1
n_estimators = 800
max_depth = 12
subsample = 0.9
colsample_bytree = 0.85
min_c

[2016-12-16 09:52] benwu232 commented on #1838
Finally I found the problem, which is nothing to do with xgboost or pickle. There is something else which causes some randomization in each running and makes the result different.

Thanks for help! Sorry for bothering!

[2016-12-16 09:52] #1838 closed

[2016-12-16 16:56] gypsysunny opened #1879 "java.lang.UnsatisfiedLinkError: /tmp/libxgboost4j7685087432198312716.so: libgomp.so.1: cannot open shared object file: No such file or directory"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: centos 6.5

Compiler: gcc-4.8.5

Package used (python/R/jvm/C++): jvm

`xgboost` version used: 0.7

 Exception in thread "main" java.lang.UnsatisfiedLinkError: /tmp/libxgboost4j76850874321983127

[2016-12-16 19:23] thirdwing commented on #1812
xgboost failed on solaris: https://www.r-project.org/nosvn/R.check/r-patched-solaris-x86/xgboost-00install.html

This is because the openmp support on CRAN machine.

Two solution: (1) disabled openmp; (2) add a separate autoconf script.

[2016-12-16 19:26] hetong007 commented on #1812
The first solution would make the package much weaker on CRAN, thus not really benefits the CRAN users.
@thirdwing can you help with the second solution?

[2016-12-16 19:52] thirdwing commented on #1812
see my repo https://github.com/thirdwing/xgboost/commit/e1af62c9d199cd8bb191d61c79350dd922b58efb

It should work on Solaris and Linux. Not sure about Windows.

[2016-12-16 20:45] tqchen commented on #1812
i think it is fine to disable OpenMP on solaris because solaris is not used widely anyway. It is interesting that C++11 compiler in solaris is g++ instead of Solaris studio. We do need to make sure the checks pass in other OS

[2016-12-16 20:50] thirdwing commented on #1812
If you have `CXX_STD = CXX11`, the solaris will also use `g++`.

Actually I think it will be more complicated to disable openmp on only one OS.

[2016-12-16 20:54] tqchen commented on #1812
What I intended to say is that this is the problem of current CRAN's solaris build system. see also my comment in https://github.com/dmlc/xgboost/pull/1880  By default, it should be the build system's job to switch off openmp by not passing anything in SHLIB_OPENMP_CFLAGS .

This happens in OSX automatically. Solaris have openmp support with solaris studio, but need to be able to disable it when c

[2016-12-16 21:46] yixuan commented on #1812
The problem is due to the wrong flag to enable OpenMP. For Solaris Studio the flag for OpenMP is `-xopenmp`, but for GCC it is `-fopenmp`. From the CRAN check log it can be seen that `-xopenmp` was passed to GCC.

[2016-12-16 22:05] thirdwing commented on #1812
That is why we need a configure script

On Dec 16, 2016 4:46 PM, "Yixuan Qiu" <notifications@github.com> wrote:

[2016-12-16 22:20] yixuan commented on #1812
Yep, and here is what I found: #1881 .

[2016-12-17 10:34] #1879 closed

[2016-12-17 12:10] chorfung opened #1883 "[xgboost4j-spark SIGSEGV]run xgboost on spark makes core dump"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: spark community 2.0.1 on gcc 4.8.5

Compiler: spark4j-spark compile with gcc 4.8.5

Package used (python/R/jvm/C++):jvm

`xgboost` version used: master

If installing from source, please provide

[2016-12-17 12:45] df865017 commented on #1049
Mac 安装 xgboost

1、升级brew

由于把Mac升级到10.12后，brew没有更新，我在更新brew的时候发现几个坑，现分析一下。不要直接使用 brew update 更新brew，会报错。使用 brew upgrade 进行软件更新，在更新其他软件的同时会主动更新brew。

2、安装最新版本的gcc (gcc-6)

brew install gcc --without-multilib

注意：如果部升级 brew 就不能安装 gcc。

3、从Git上下载源码

Git clone --recursive https://github.com/dmlc/xgboost

下载后 cd xgboost; cp make/minimum.mk ./config.mk; make -j4 编译xgboost。到目前为止，只是编译了xgboost而已。(多尝试几次，可能下

[2016-12-17 16:38] treper commented on #1061
This fix doesn't work for me either.I start spark-shell like this:
spark-shell --master local[4] --jars "spark-csv_2.10-1.5.0.jar,commons-csv-1.4.jar,xgboost4j-spark-0.5-jar-with-dependencies.jar"  --conf "spark.serializer=org.apache.spark.serializer.KryoSerializer" --conf "spark.kryo.classesToRegister=ml.dmlc.xgboost4j.scala.Booster"

[2016-12-18 10:53] MachineTeacher opened #1884 "Problem installing xgboost on python 3.5"
Hi

I'm trying to install xgboost-0.6a2 on my python 3.5 (over Anaconda), which runs on win 8.1 64 bit. The installation method is the traditional PIP, which is directed to the PyPI repository.
Here is the error message i'm getting:

I guess a preliminary process is required, but i'm not sure what it is...
Please help : )

[2016-12-18 12:08] ekerazha commented on #95
@tqchen LightGBM recently got support for Categorical Features. For columns with many categorical values (thousands), where one-hot-encoding is hard, I got massive improvements. xgboost, without categorical features support, is not even a possibility.

[2016-12-18 16:32] nikunjgit commented on #1868
Still trying to debug the issue.

Do you have a recommended list of Spark config values ? Our yarn container allows 8g. I am currently setting the following properties:

    .set("spark.driver.maxResultSize", "2g")
      .set("spark.locality.wait", "1")
      .set("spark.shuffle.io.preferDirectBufs", "false")
      .set("spark.scheduler.minRegisteredResourcesRatio", "1.0")
      .set("spark.task.m

[2016-12-18 17:02] xydrolase commented on #1868
Would you mind to divulge, how many columns are there in the dataset? Just trying to get a sense how large your datasets are.

[2016-12-18 18:56] hetong007 commented on #1812
Currently xgboost 0.6-2 is on. The version number "2" is the need for the post-submission bug fixing.

However after the fixes from @yixuan and @thirdwing , installation on Solaris is still broken: https://cran.r-project.org/web/checks/check_results_xgboost.html.

Another issue is that DiagrammeR 0.9 will be on CRAN. It is also left to be tested to see if this update breaks xgboost.

[2016-12-18 20:16] tqchen commented on #1812
@thirdwing Can you grab a VM to look into this?

The Sparc compilation error is due to lack of support of thread local in Sparc, which can be solved by optionally disable thread local macro here https://github.com/dmlc/xgboost/blob/master/src/common/thread_local.h#L22 to check solaris and simply define MX_TREAD_LOCAL to be empty

[2016-12-18 20:17] tqchen commented on #1812
The segfault of x86 solaris is more mysterious, and we might need a reproducible example to see what exactly happened.

[2016-12-18 22:02] thirdwing commented on #1812
I only have the x86 VM. I will have a try if possible.

[2016-12-18 22:45] gatapia opened #1885 "Enable GPU support using sklearn API"
To enable GPU support you need to set a property on the params object.  However, the sklearn API cannot access the Booster before calling fit.  Perhaps a property on XGBClassifier/Regressor for GPU support would be the way to go?  Or perhaps an additional parameter to the fit method?

[2016-12-18 22:47] thirdwing commented on #1812
@tqchen I can't reproduce the error on the X86 solaris VM.

[2016-12-19 05:37] thirdwing commented on #1812
From the CRAN checking log, the error on X86 Solaris is from https://github.com/dmlc/xgboost/blob/master/R-package/src/xgboost_R.cc#L88

It involves the usage of openmp, so maybe we can try to disable openmp on solaris.

[2016-12-19 08:20] tqchen commented on #1812
Let us do that

[2016-12-19 08:20] tqchen commented on #1812
Let us also fix the thread local issue by patching the fix i mentioned

[2016-12-19 11:42] hurui1983 opened #1887 "Question on training xgboost by considering both ranking and classification"
Hi,

I have above question that if for a given data set, i want to optimize the pairwise ranking loss + pointwise classification loss, is there a way to do this? My understanding is that in order for Xgboost to train a pairwise ranking model, we need to have group info to group the train instances. so what i want is to minimize the sum loss of pairwise loss and point wise in the group and sum aver

[2016-12-19 14:49] partmor commented on #1163
I encountered the exception: access violation reading 0x0000000100000008 when using the .fit() method of the XGB classifier.

None of the solutions here, or elsewhere helped me.

Finally the **only thing that worked** for me was running my scripts (or executing jupyter notebook) on **Windows command line (cmd) rather than git-bash**.

Hope this helps you

[2016-12-19 16:25] xadupre commented on #1793
Hi,

I made some changes in my repo to allow that scenario (https://github.com/xadupre/xgboost). XGBoost can be called from multiple threads for predictions. I modified the API. The user makes two calls to the API, one to retrieve the size of two buffers he heeds to allocate, the other one to run the predictions. In multithreading, the users has to allocate two buffers per thread.

Xavier

[2016-12-19 20:52] JoshuaC3 commented on #1514
Hopefully it is appropriate to ask this here: will this now work if we update using the usual `git clone --recursive https://github.com/dmlc/xgboost`?

[2016-12-19 21:01] nikunjgit commented on #1868
This dataset has about 130 columns.

[2016-12-19 21:05] xydrolase commented on #1868
Have you noticed any OutOfMemory exception thrown by the individual executors?

[2016-12-19 21:14] nikunjgit commented on #1868
Haven't seen out of memory on any executor. Usually some glibc error. Here is an example:

*** glibc detected *** /usr/lib/jvm/java-8-openjdk-amd64/bin/java: free(): corrupted unsorted chunks: 0x00007f8a1e8018c0 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x7da26)[0x7f8a23f0ea26]
/yarn09/yarn/nm/usercache/server/appcache/application_1481242484002_1047836/container_e494_148124

[2016-12-19 21:21] xydrolase commented on #1868
[code]

It appears to be Rabit-related issues.
Would you mind sharing your parameters for training your model? Particularly, I'm wondering what `tracker_conf` parameter you're using.

Is

[code]

your current setting? If that's the case, can you try to change `scala` to `python` and see if the issue persists?

[2016-12-19 21:41] xydrolase commented on #1868
So what changed from 300k samples to 600k samples? Did you use the same number of executors/workers?

Did you notice any Rabit worker connection issues? Did the Rabit tracker report that all workers have started? When did the program crash? Did you see any training information (iteration, training error) before the program crashes? Or did the program crash before that?

Did the program crash after

[2016-12-19 21:42] XianXing commented on #1868
@convexquad Hey Alex, when you first introduced XGBoost with Spark to LNKD, do you recall whether we had a similar segfault issue when running XGBoost with couple millions of rows of data?

I don't recall we had similar issue, because we could run XGBoost on Spark with hundreds of rows of data and a couple thousands of columns of features. But I guess this might also because you encountered simila

[2016-12-19 22:11] nikunjgit commented on #1868
@xydrolase yes all workers are always started. I never see any (iteration, training error) when it crashes. Therefore, it cannot even do one iteration. I used the same number of executors since I wanted to push the performance.
I didn't notice any connection issues. Moreover, I can repro it every time on my data so I don't think its a transient error. When the crash happens, the scala tracker rais

[2016-12-19 22:32] xydrolase commented on #1868
Since the tracker crashed at
[code]

It appears that the rank(s) of the connected workers are invalid, and thus the dependency between Rabit workers cannot be resolved. I am not sure if this was due to earlier failures of Rabit workers, or a bug of the tracker implementation. But since you've mentioned that you've seen exactly the same error with the Python tracker, I think it is unlikely a tracke

[2016-12-19 22:54] tqchen commented on #1514
yes, the new feature is merged before the tutorial get merged

[2016-12-19 22:54] #1514 closed

[2016-12-20 00:54] nikunjgit commented on #1868
Okay so here are some more patterns I see:

1. Within 4 seconds of all workers starting, one workers crashes (first worker starts 1 min 7 seconds before that). The failed worker had started 50 seconds ago. This means that memory increase during processing is not the bottleneck here. Something happens right around when workers start.

[INFO] [12/18/2016 17:01:17.101] [RabitTracker-akka.actor.defaul

[2016-12-20 00:59] convexquad commented on #1868
BTW @XianXing the Scala implementation of the Rabit Tracker is brand new. It might still have some issues. I am using an older commit hash of XGBoost that is still using the Python Tracker.

[2016-12-20 01:03] nikunjgit commented on #1868
Let me quickly switch to python tracker and try this again.

[2016-12-20 04:31] gypsysunny opened #1888 "why is xgboost-crossvalidation unable to help select best model?"
Please see the example in xgboost/jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/CrossValidation.scala. I am not able to see any real cv funactionality and the returned value of crossValidation is just the changing process of error ratio. why cann't it return a best model or stuff like that?

thanks!

[2016-12-20 06:39] deepakkm007 commented on #1091
I got this following error when i tried running this below code:
`test_preds = clf.predict(xgtest, ntree_limit=clf.best_iteration)`
![untitled](https://cloud.githubusercontent.com/assets/21213093/21340505/09dd7862-c6ad-11e6-880a-07248386479a.png)
What is the cause for this error?

[2016-12-20 07:15] joetigger opened #1889 "XGBoosterLoadModel() causes subsequent UpdateOneIter() to hang"
I am using xgboost (#da2556f58a122efcf7034d955e21040843a3b8a) on 64-bit centOS7. It compiles and installs fine, but I can't get the CLI to work properly. Here's the snippet of my code:

[code]
Basically I'm trying to use diminishing learning rate as I add more trees, but the code always hang after I adjust eta 1-3 times. I also tried XGBoosterGetModelRaw() and XGBoosterLoadModelFromBuffer() and it

[2016-12-20 09:23] geoHeil opened #1890 "xgboost-sklearn custom scoring cutoff"
Similar to xgboost4j I want to use a custom scoring cutoff in xgboost's sklearn wrapper https://github.com/dmlc/xgboost/issues/1763

So far I did not find this functionality. Is this missing?

[2016-12-20 09:27] tqchen commented on #1812
@thirdwing can you followup on this? I also noticed there is an error in windows, reporting conflicting defintition of fopen, do you know what happened there?

[2016-12-20 09:50] henryhjyin commented on #261
I encounter the same problem on my mac,  which is "ld: symbol(s) not found for architecture x86_64'. And the command "make -stdlib=libstdc++" worked

[2016-12-20 11:51] thirdwing commented on #1812
I am working on my own fork. The on Solaris doesn't support if ,which makes things much harder.

[2016-12-20 15:14] geoHeil commented on #1858
@CodingCat I finally found the source of the problem: sbt is not properly interpreting the properties defined in a non-default location (you are using the per maven profile section for that).

I tried to get some awareness at sbt but so far no one has responded.

[2016-12-20 15:56] nikunjgit commented on #1868
I switched back to the python tracker. I ran it on same data which succeeded on the scala tracker. Yarn killed my container since it used up all the allocated memory. Then I bumped up the executor overhead:

      .set("spark.executor.memory", "5g")
      .set("spark.yarn.executor.memoryOverhead", "3g")

Once I did that, I was successfully able to train on the data which I could train with the sca

[2016-12-20 16:09] xydrolase commented on #1868
I would suspect that the issue is still memory-related. Can you fiddle with different executor memory and overhead settings and see which combination works the best?

[2016-12-20 16:16] xydrolase commented on #1868
The tracker died because the container running Rabit worker crashed. YARN spawned a new container for you, which tried to connect to the tracker again. Since the tracker didn't anticipate the new connection, it could not resolve the rank dependency and failed the assertion test.

You can cache the data for the training stage. All data for the preprocessing stages can be unpersisted as you may not

[2016-12-20 17:44] nikunjgit commented on #1868
Makes sense thank you. I tripled the number of executors (75) now. However, I still get the same issue :( Doing some more tweaking for the executor overhead.

[2016-12-20 19:27] nikunjgit commented on #1868
Just for comparison I ran the same fitting job on MLLib. It was able to run with 15 executors. There must be something going on apart from memory issue since tripling the executor count should have resolved that.
Here are some more stats about the data which might help:
Training rows: 6M
Testing rows: 3M
Number of features: 40
 Max cardinality of feature: 1423
Approx Size of categories map (bytes)

[2016-12-20 19:29] xydrolase commented on #1868
Some dumb questions, you did change `nWorkers` accordingly with different executor number settings, right?

[2016-12-20 19:30] nikunjgit commented on #1868
yes! I do see 75 workers started

[2016-12-20 19:33] xydrolase commented on #1868
Then the data should have been repartitioned correctly. You mentioned about cardinality of feature. Do you have categorical features? How are these features included in the feature matrix? One-Hot-Encoding?

[2016-12-20 19:39] nikunjgit commented on #1868
We use StringIndexer: https://spark.apache.org/docs/2.0.2/ml-features.html#stringindexer

[2016-12-20 19:42] xydrolase commented on #1868
But I guess the number of columns in the feature matrix does not change after applying the StringIndexer, correct? Or do you later convert the indices to binary 0-1 features?

[2016-12-20 20:36] nikunjgit commented on #1869
I saw the same thing on large data. Reducing the data size works for me too! https://github.com/dmlc/xgboost/issues/1868

[2016-12-20 20:37] nikunjgit commented on #1868
Thats' correct. The number of columns will remain pretty much the same. We don't do one-hot encoding for any tree based algorithm.

[2016-12-20 22:32] DeepVoltaire opened #1892 "dump_model and get_score output wrong values"
There seems to be an issue with the model dumping. I trained a model with 50 trees and the dump showed 1209 trees. Many of those showed weird behaviour, e.g. they are just stumps or have very high or very low gain values. This in turn messes with the get_score function and outputs wrong values.

I tried reinstalling xgboost to the most recent version, but the bug remains.

[2016-12-21 07:46] tks0123456789 opened #1893 "Building with GPU plugin could make CPU mode slower"
I built XGBoost with GPU plugin and ran [benchmarks](https://github.com/RAMitchell/boosting_tree_benchmarks/tree/master/xgboost) which I think were used to generate [CPU/GPU benchmarks](https://github.com/dmlc/xgboost/blob/master/plugin/updater_gpu/README.md#benchmarks).
I used the same parameter values except nthread=8.

I got similar result.
Dataset, i7-4790K, GTX1070, Speedup
Yahoo LTR, 3824, 6

[2016-12-21 12:48] taoyizhi68 opened #1894 "Will customized evaluation function decrease the training speed?"
I'm using a customized evaluation function to train a xgboost model, it works but the cpu usage is pretty low, like 20%. When using built-in eval function, cpu usage is 100% and it's fast. Will customized evaluation function decrease the training speed?

[2016-12-21 13:21] lopuhin commented on #1643
@Wall-ee I think this issue is fixed in master, in the meantime you can use this code: https://github.com/dmlc/xgboost/blob/dd477ac903eb6f658d6fb2984763c3f8a4516389/python-package/xgboost/sklearn.py#L332

And this issue can probably be closed.

[2016-12-21 14:57] vuchetichbalint commented on #1091
@alexeygrigorev: This occures at me too for the latest version (0.6a2) as well.

@deepakkm007 However there is a workaround what works for me: use pandas dataframe instead of scipy csr matrices.

[2016-12-22 02:54] AlexYoung757 opened #1896 "kaggle-higgs"
when i run below code ，there is something wrong
xgmat <- xgb.DMatrix(data, label = label, weight = weight, missing = -999.0)

the error is：
amalgamation/../dmlc-core/src/io/local_filesys.cc:66 LocalFileSystem.GetPathInfo 100001 Error:No such file or directory

this is the demo file higgs-pred

[2016-12-22 09:55] vatsan opened #1897 "XGBClassifier.predict_proba() does not return probabilities even w/ binary:logistic"
While using XGBClassifier with early stopping, if we specify a value for best_ntree_limit in predict_proba() that's less than n_estimators, the predicted probabilities are not scaled (we get values < 0 and also > 1). When best_ntree_limit is the same as n_estimators, the values are alright.

Please note that I am indeed using "binary:logistic" as the objective function (which should give probabili

[2016-12-22 13:17] gkoundry opened #1898 "xgb.cv does not use base_margin"
When xgb.cv splits the training data into train/test parts, the parts have the default base_margin and not the one set on the full data set with set_base_margin().

[2016-12-22 16:25] geoHeil opened #1900 "[jvm-package] xgboost4j spark pipeline persistence"
xgboost4j does not support sparks pipeline persistence
` java.lang.UnsupportedOperationException: Pipeline write will fail on this Pipeline because it contains a stage which does not implement Writable. Non-Writable stage: XGBoostClassificationModel
`
Is there any way to access the raw model (file)? / Is persistence supported in xgboost4j elsewhere?

[2016-12-22 16:35] xydrolase commented on #1900
You can always call `saveModelAsHadoopFile` on a `XGBoostModel` object to persist it.
And later load the dump file using `ml.dmlc.xgboost.scala.spark.loadModelFromHadoopfile`.

[2016-12-22 16:40] geoHeil commented on #1900
Is there a spark integration with pipeline persistence was not added yet? If not I might find some time to make a PR

[2016-12-22 16:41] xydrolase commented on #1900
Probably it's better to ask @CodingCat if it's on the roadmap or not.

[2016-12-22 17:50] CodingCat commented on #1900
...GitHub email notification just sucks

feel free to contribute it

[2016-12-22 20:38] esb797 commented on #1847
Initially, I built xgboost using MinGW, but to have GPU updater, I did it via CMake with Visual Studio. With this built, I found that the speed drops so much (3-4 times slower than the previous built with MinGW; also, CPU and GPU gave similar slow speed). So, I built using CMake with MinGW. However, GPU updater is not available when called from Python, meaning it's not built properly. I'm on Windo

[2016-12-22 21:27] RAMitchell commented on #1847
Please confirm you built the project in release mode and not in debug mode through visual studio.

Cuda code cannot be built with mingw, only visual studio when using Windows.

[2016-12-22 23:05] tompellegrini opened #1902 "Wrong __init__.py File in Windows 10"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: Windows 10

Compiler: Unsure

Package used (python/R/jvm/C++): Python 3.4.5 on Anaconda3

`xgboost` version used: 0.6

I installed xgboost in a Windows 10 machine and a Windows 7 machine. For bo

[2016-12-23 04:16] osofr opened #1903 "Prediction for logistic regression is broken in R package"
The following code breaks both CRAN and drat repo installs of the R package on OS X.

[code]

The error produced when calling `predict`:

  [20:12:15] amalgamation/../src/gbm/gblinear.cc:179: Check failed: (ntree_limit) == (0) GBLinear::Predict ntrees is only valid for gbtree predictor

Full output with session info:

R version 3.3.1 (2016-06-21) -- "Bug in Your Hair"
Copyright (C) 2016 The R Foun

[2016-12-23 09:20] tks0123456789 commented on #1893
It have been fixed by https://github.com/dmlc/xgboost/pull/1904. I confirmed that.
Thanks.

[2016-12-23 09:20] #1893 closed

[2016-12-23 09:22] RAMitchell commented on #1893
You are correct. The cause was incorrect compiler options for the linux build.

The benchmarks have been updated.

[2016-12-23 12:47] geoHeil commented on #1900
@CodingCat I started to prepare something here https://github.com/geoHeil/xgboost/blob/sparkPipelinePersistence/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostModel.scala But am facing a problem
`implicit sc: SparkContext`

cannot be resolved in the load / write context. Could you pass me a hint where to get hold of the sparkContext in `XGBoostModel`

[2016-12-23 17:45] jokari69 commented on #244
Created an external memory workflow by using the libsvm format with cache which works great for normal training. However when using CV I don't get the expected caching behavior. Looking at the code this might be because of the slice call in the mknfold method which creates new DMatrices from the original (cached) DMatrix.
Is this hypothesis correct and if so are there any plans on making the CV me

[2016-12-23 18:20] JoshuaC3 opened #1905 "Unknown Updater grow_gpu"
@RAMitchell I am currently getting the following,

```XGBoostError: b'[17:52:27] src/tree/tree_updater.cc:18: Unknown tree updater grow_gpu'```

To get to this stage I did the following:
1) Downloaded cub-1.6.4 and unzip into '/home/josh'
2) Then in terminal the following,
[code]
Also tried instead of `make`, `cd ..; make -j4`

3) for the python package
[code]

## Environment info
Operating System

[2016-12-23 18:21] JoshuaC3 commented on #1905
@RAMitchell

[2016-12-23 18:28] JoshuaC3 commented on #1905
[cmake_logs.txt](https://github.com/dmlc/xgboost/files/671271/cmake_logs.txt)
[make_j4_logs.txt](https://github.com/dmlc/xgboost/files/671273/make_j4_logs.txt)
[make_logs.txt](https://github.com/dmlc/xgboost/files/671274/make_logs.txt)
[python_logs.txt](https://github.com/dmlc/xgboost/files/671276/python_logs.txt)

[2016-12-23 19:20] xydrolase commented on #1900
`MLWriter` extends the trait `BaseReadWrite`, which provides an internal SparkContext object.
You can check out the implementation of `PipelineWriter` to see how it uses SparkContext.

[2016-12-23 19:53] xysmas commented on #1905
I have the exact same error:

`XGBoostError: b'[14:50:42] src/tree/tree_updater.cc:18: Unknown tree updater grow_gpu'
`

I installed cub 1.6.4, have cmake 3.7, and am on python 3.5.2 (anaconda).

commit: 1957e6fb4dd823f94251e7378abef03cba05f545

the build commands were:
[code]

[2016-12-23 21:41] geoHeil commented on #1900
https://github.com/dmlc/xgboost/pull/1906

[2016-12-24 14:04] shahlaebrahimi opened #1907 "Error with "reg:tweedie""
Hello.
I installed XGBoost based on the instructions provided [here] for Anaconda 3.4 (Python 3.5) on Windows 10(https://www.ibm.com/developerworks/community/blogs/jfp/entry/Installing_XGBoost_For_Anaconda_on_Windows?lang=en). It seems that xgboost 0.6 is already installed but if I use "reg:tweedie", this error is reported:

`xgboost.core.XGBoostError: b'[23:08:27] src/objective/objective.cc:21: U

[2016-12-24 15:03] #1845 closed

[2016-12-26 01:46] RAMitchell commented on #1905
According to the logs the shared library seems to have been built correctly.

Can you test if the CLI version works with the parameter? This will show if it is a python installation problem or something else.

[2016-12-26 10:03] #1701 closed

[2016-12-26 10:12] benwu232 commented on #1806
I modified the sklearn.py to add this option and save/load model functions same as the classical ones. See if it help :)

[https://github.com/benwu232/xgboost/blob/master/python-package/xgboost/sklearn.py](url)

[2016-12-26 10:30] benwu232 opened #1909 "Enhancing sklean API: XGBClassifier"
Hi guys,

I did some modification in sklearn.py to unify the functions of sklearn apis and the classical functions.

Here is the code
[https://github.com/benwu232/xgboost/blob/master/python-package/xgboost/sklearn.py](url)

Modifications:

1. Add parameters xgb_model and callbacks to XGBClassifier.fit so that it has similar options of the train function, which supports custom callbacks and trainin

[2016-12-27 01:14] tgb417 commented on #677
I'm having a very similar problem trying to get python xgboots working.

However, I'm seeing this issue in Dec 2016, on Mac OS 10.11.6

I have an error ending in
OSError: dlopen(/Users/brown/anaconda/lib/python2.7/site-packages/xgboost/./lib/libxgboost.so, 6): Library not loaded: /usr/local/opt/gcc/lib/gcc/5/libgomp.1.dylib
  Referenced from: /Users/brown/anaconda/lib/python2.7/site-packages/xgboo

[2016-12-27 08:51] anddelu commented on #1846
I have also met this errror in centos 6.5 64. I search solutions and decide to edit the python-package/setup.py.
Just set 38th "include_package_data=False" then I execute "python setup.py install" succussfully. Finally "import xgboost as xgb" is correct.

[2016-12-27 21:01] phunterlau commented on #1846
@anddelu `include_package_data=False` is a must since it uses `MANIFEST.in` for package maintenance and this only affects the installation, not the path. I think your last step of rebuilding xgboost is the right solution where `include_package_data=False` should remain as it is.

[2016-12-28 03:49] nikunjgit commented on #1868
I think I have figured out the issue. It has to do with the data itself. I have removed all categorical features and the training works fine now (on numeric features only).

I'm checking what's the problem with the categorical feature handling. I see that XGBoost treats missing features as Float.NaN. However, do you know if that works in practice ? Currently, with my numeric features i'm ensuring

[2016-12-28 04:23] #1902 closed

[2016-12-28 15:13] xysmas commented on #1905
[code]

@RAMitchell
Same issue. XGB works great without it after a fresh install, including with the gpu compilation options.

[2016-12-28 15:22] xysmas commented on #1905
@RAMitchell I tested it with a virtual python2 install (exactly the same steps and xgb version as my above comment) and it works:

[code]

[2016-12-28 15:54] yyaodong opened #1910 "Details about the Tweedie regression? How is the log-likelihood calculated?"
Hi,

Could you please provide more details in terms of how the likelihood function is calculated in XGB for tweedie regression, as it is intractable. Does it use the quasi-likelihood approximation?

Many thanks,

[2016-12-28 16:10] xysmas commented on #1905
And now, after a bit of messing around, it compiles and works on my anaconda python3, though the process is a bit weird.

[code]

[code]

I accidentally did this:

[code]

And then went ahead with the rest of it anyway:

[code]

Running the command line test:
[code]

[2016-12-28 16:51] alexeybezruk commented on #1063
I have a ploblem with a command  make -j4-.  This is the same ploblem, like a derek1032.
When i input make-j4-, it writes: command not found. Help me, please. I can't install xgboost due to this ploblem.

[2016-12-28 17:00] logisticDigressionSplitter opened #1911 "[jvm-packages] xgboost-spark: model builds from spark java but throws exception"
## Environment info
MacOS 15.6.0
xgboost: xgboost4j-spark-0.7-jar-with-dependencies.jar
JVM: 1.8
Spark: 2.0.1 / spark-core_2.11

## Code to invoke
[code]
## Data
(2.0,(64000,[10684,41331,55946],[9.008534631779964,9.008534631779964,9.008534631779964]))
(4.0,(64000,[5589,13390,46801],[1.0003529699251523,1.0003529699251523,1.0003529699251523]))

**Total Rows: 109256**

**Here is an output during runt

[2016-12-28 19:21] hetong007 commented on #1812
@thirdwing just opened a new PR (pending) for solaris: https://github.com/dmlc/xgboost/pull/1912 .

For the error on old release windows, the [error message](https://www.r-project.org/nosvn/R.check/r-oldrel-windows-ix86+x86_64/xgboost-00install.html) is
[code]

I found several related previous issues:
- https://github.com/dmlc/xgboost/issues/1174#issuecomment-225014458
- https://github.com/dmlc/xg

[2016-12-29 00:39] hisashi-tanaka opened #1913 "Failed to compile xgboost in windows 10(64bit)"
Operating System:
Compiler:mingw32-make.exe
Package used:Python 3.5.1  Anaconda 2.4.1
`xgboost` version used:The newest in Git, but put 'git checkout 9a48a40'
 The command to install `xgboost` if you are not installing from source
git clone --recursive https://github.com/dmlc/xgboost
cd xgboost
git checkout 9a48a40
git submodule init
git submodule update
Then,
1.Install MinGW-W64
2.Set the path on

[2016-12-29 00:45] CodingCat commented on #1911
there is something wrong in your worker, please post the log in executors

[2016-12-29 05:18] logisticDigressionSplitter commented on #1911
I ended up figuring it out. I had to switch to scala tracker and it worked.
This
[code]
does the trick. Thank you for your follow up.

[2016-12-29 05:18] #1911 closed

[2016-12-29 06:28] tks0123456789 opened #1915 "subsample doesn't work in grow_gpu"
@RAMitchell
I tried setting subsample=0.1, and got out of memory error.

XGBoost: 7948d1c7998eeb205f13740c5a1bb3f381c37b6a (latest)
[code]

It worked in older version(one commit before b49b33918300f892f207630234f76c83e9d07036).
XGBoost: cee4aafb93982a21e4fde10d202b3da1910934bf (10 days ago)
[code]

xgb.conf
[code]
## Environment info
CPU	i7-4790K
MEM	32G
GPU	GTX 1070
Ubuntu	14.04.5LTS
VGA driver	3

[2016-12-29 06:38] RAMitchell commented on #1915
This previous version incorrectly implemented the subsample parameter.

The entire dmatrix must be loaded regardless of the subsample parameter in this (correct) version. This is the intended behaviour.

If you run out of memory you need to use a smaller input matrix. See the GPU acceleration demo for an example of selecting a subset of a very large file.

[2016-12-29 06:44] tks0123456789 commented on #1915
Thanks.

[2016-12-29 06:44] #1915 closed

[2016-12-29 08:06] byronliwei commented on #1844
can you send this scipt to me? thank you. my email is byronliwei@gmain.com

[2016-12-29 08:08] nikunjgit opened #1916 "[[xgboost4j-spark] Exception while converting booster to XGBoost model"
Hello,
I sometimes see that even though training is successful and Rabit returns with status code 0, the following code causes the spark job to fail:

In xgboost/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoost.scala:
      convertBoosterToXGBoostModel(distributedBoosters.first(), isClassificationTask)

Here, for some reason distributedBoosters.first() is causing t

[2016-12-29 08:21] nikunjgit commented on #1916
Also note that the training did happen successfully and I saw all the iteration logs with the error reducing gradually.

[2016-12-29 12:28] geoHeil opened #1917 "[jvm_package] how to set num_workers in estimator API"
How can I set `num_workers`
`val model = XGBoost.train(trainRDD, paramMap, numRound, nWorkers = 5, useExternalMemory = true)`
when using `XGBoostEstimator`, xgboosts integration in sparks pipelines.

[2016-12-29 14:39] TristanJUDD commented on #1514
Hello,

I'm not sure that you succesfully implemented global montonicity, from what i've seen in your code, it corresponds more to a local monotonicity.

Here is a simple example breaking monotonicity :

`df <- data.frame(y = c(2,rep(6,100),1,rep(11,100)),
                 x1= c(rep(1,101),rep(2,101)),x2 = c(1,rep(2,100),1,rep(2,100)))

library(xgboost)
set.seed(0)
XGB <- xgboost(data=data.matrix(

[2016-12-29 22:45] xydrolase commented on #1868
I once ran XGBoost on data with missing values (NaN), the model can handle missing values, by treating missing values as a third split in construing the trees.

I never used categorical features as floating numbers with XGBoost though, but I don't think using categorical features as float would cause problems per se.

[2016-12-30 00:50] CodingCat commented on #1917
set `nworkers` in paramMap

[2016-12-30 00:52] CodingCat commented on #1917
what do you mean by `num_workers`

[2016-12-30 00:52] CodingCat commented on #1917
https://github.com/dmlc/xgboost/blob/master/doc/parameter.md nthread?

[2016-12-30 00:58] CodingCat commented on #1916
so you may want to confirm two things

1. whether all partitions contain data (I think the current code base handles empty partition, if you found this is the reason, it might be a bug)

2. upgrade your gcc to 4.8 and try

[2016-12-30 03:40] nikunjgit commented on #1916
This was a data locality issue. Got fixed by setting spark.locality.wait. Basically, if first() is run on an executor which doesn't have the data local to it, then it will trigger a re-evaluation which will cause the problem

[2016-12-30 05:20] JackStat opened #1918 "Single tree visualization in R package"
The diagrams in R are great but if you have more that 3 or 4 trees it becomes hard to read.  We need to add a function that generates single trees.

[2016-12-30 05:57] CodingCat commented on #1916
this is interesting, so, you're on YARN-cluster mode and first() is run on a node which never run a Spark task?

This seems to be a to-be-resolved issue

[2016-12-30 07:29] wangg12 opened #1919 "How to access the number of nodes of each tree of the trained ensemble model?"
I looked into the codes, but didn't find this attribute. Can this be achieved or not?

[2016-12-30 11:06] geoHeil commented on #1917
https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/spark/SparkWithDataFrame.scala
line 28 the number of rabit nodes. At least in the readme examples it is
used explicitly
Nan Zhu <notifications@github.com> schrieb am Fr. 30. Dez. 2016 um 01:52:

[2016-12-30 15:24] thirdwing commented on #1812
@hetong007 I suggest adding `Depends: R (>= 3.3.0)`, so we do not need to worry about old windows release.

[2016-12-30 15:32] terrytangyuan commented on #1812
There have been some updates and typo fixes to docs. Could you also
regenerate the docs before resubmitting the package?

On Fri, Dec 30, 2016 at 11:24 PM Qiang Kou (KK) <notifications@github.com>
wrote:

[2016-12-30 23:48] hetong007 commented on #1812
There are some plot-related errors on R 3.3.2 when checked by win-builder: https://win-builder.r-project.org/Oc7UhRHG4Y2w/00check.log (link will expire after roughly 72 hours).

However the check on R-devel is fine: https://win-builder.r-project.org/qG0ASTr2Yd45/00check.log

The errors, e.g. `Error: 'graph_from_data_frame' is not an exported object from 'namespace:igraph'`, are not reproducible on

[2016-12-31 01:08] thirdwing commented on #1812
Please also update this https://github.com/dmlc/xgboost/blob/master/R-package/vignettes/xgboost.Rnw#L24

[2016-12-31 01:10] thirdwing commented on #1812
You should use something like `xgboost.version <- packageDescription("xgboost")$Version`

[2016-12-31 07:00] lazydroid opened #1921 "-msse2 prevents the compilation on ARM and other (non-x86) architectures"
Operating System: Raspbian on Raspberry PI
Package used (python/R/jvm/C++): Python
`xgboost` version used: latest from pip repository

## Steps to reproduce

1. sudo pip install xgboost
2. **unrecognized command line option ‘-msse2’**

## What have you tried?

1. remove '-msse2' from all Makefiles
2. recompile
3. enjoy!

[2016-12-31 16:25] philipus commented on #1913
have the same problem

[2017-01-01 02:10] thirdwing commented on #1812
We are getting closer. Now errors only come from Old Windows release and Sparc Solaris: https://cran.r-project.org/web/checks/check_results_xgboost.html

My opinions are as follow:

(1) We don't need to care much about old Windows release;

(2) Sparc Solaris failed in https://github.com/dmlc/xgboost/blob/master/R-package/tests/testthat/test_helpers.R#L86

The simplest solution is to disable this t

[2017-01-01 05:43] CodingCat commented on #1917
the number of rabit nodes equals to the number of tasks/partitions of training data, so `nWorkers = args(1)` does the job

[2017-01-01 05:57] shenweichen commented on #1913
i have the same problem,too

[2017-01-01 14:06] geoHeil commented on #1917
So I do not need to configure this property as it should work automatically?

What about node discovery? Do I need to set this somewhere or are these set
up automatically based on spark workers nodes?
Nan Zhu <notifications@github.com> schrieb am So. 1. Jan. 2017 um 06:45:

[2017-01-01 15:29] xydrolase commented on #1917
Set `nworkers` in paramMap, and the XGBoostEstimator will pick it up.

[2017-01-01 15:33] xydrolase commented on #1917
If you do not set it, it will by default be set to 1.

For some automatic configuration, you can perhaps read the Spark configuration `spark.executor.instances`, and set `nworkers` equal to this number.

[2017-01-01 23:47] philipus commented on #1913
thanks!!!

[2017-01-02 01:57] hisashi-tanaka commented on #1913
Thanks for help and a bit progress, but unfortunately failed as follows:
(omitted)
a - build/tree/updater_prune.o
Makefile:128: recipe for target 'xgboost' failed
mingw32-make: *** [xgboost] Error 1
mingw32-make: *** Waiting for unfinished jobs....
g++: error: rabit/lib/librabit.a: No such file or directory
Makefile:120: recipe for target 'lib/libxgboost.dll' failed
mingw32-make: *** [lib/libxgboo

[2017-01-02 03:53] CodingCat commented on #1917
@geoHeil , you do not need to do that, the magic is in https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoost.scala#L175. And it is not anything related to worker/executor nodes, it is only related to the expected number of partitions of your training data

`worker` as the name of configuration entry is kind of confusing, but i

[2017-01-02 05:55] kaonashi-tyc commented on #1091
can confirm having the same problem with csr_matrix

[2017-01-02 07:18] khotilov commented on #1091
I guess your version 0.6a2 refers to the package available from pypi https://pypi.python.org/pypi/xgboost/  which is dated Aug 9th. The fix was submitted on Sep 23rd #1606. Please check out the latest code from github. Version numbers or pypi packages sometimes are not updated for long time.

[2017-01-02 07:23] khotilov commented on #1238
@l3link nothing bizarre about it: version numbers (or pypi packages) are sometimes not updated for long time. E.g., the https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/VERSION file as of today was last changed on Jul 29th, and the last pypi package https://pypi.python.org/pypi/xgboost/ is dated Aug 9th. While the fix was submitted on Sep 23rd #1606. Please check out the latest c

[2017-01-02 07:37] khotilov commented on #1913
With the commit 9a48a40, you are checking out a version of code dated Jun 5th. The fix for std::abs in newer gcc versions was submitted on Jun 29th #1308. If you really *have* to use the old code from Jun 5th, just add the modification from #1308 by hand.

[2017-01-02 07:47] khotilov commented on #1918
I agree. Could you please add your opinion on the proposal in #1774

[2017-01-02 08:14] kaonashi-tyc commented on #1091
@khotilov thanks for reaching out. Can confirm now, after I did a clean install from the latest github repo, the problem now solved.

[2017-01-02 11:04] geoHeil opened #1924 "[jvm-package] xgboost4j-spark no connection to rabit"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: osx 10.12.2

`xgboost` version used: current master branch, xgboost4j

[code]
## Steps to reproduce

1. execute `mvn install` the problem is this happens only sometimes. (works fine on ubuntu)

[2017-01-02 13:39] joebling commented on #1903
I just meet the same problem:

library(xgboost)
dtrain <- xgb.DMatrix(data=as.matrix(train[-1]), label = train$label)
dtest <- xgb.DMatrix(data=as.matrix(test[-1]), label = test$label)

param <- list(objective = "binary:logistic",
              booster = "gblinear",
              nthread = 6,
              alpha = 0.0001,
              lambda = 1,
              eval_metric='auc'
              )

w

[2017-01-02 13:50] hisashi-tanaka commented on #1913
Thanks!!!! Xgboost is installed.

[2017-01-02 14:25] geoHeil commented on #1917
Thanks for this clarification.

[2017-01-02 14:25] #1917 closed

[2017-01-02 16:17] xydrolase commented on #1924
How many network interfaces do you have on the machine?
Were you using the Python or Scala Rabit tracker?

[2017-01-02 16:45] geoHeil commented on #1924
I was using the default implementation. This is still the pyton variant isn't it? How can I configure whether python or scala implementation is chosen?

It is just a normal macbook pro. So there are 2 real interfaces for WiFi and Ethernet and Thunderbolt ports as well as some virtual interfaces from docker, virtual box and parallels.

[code]

[2017-01-02 16:54] geoHeil commented on #1924
In fact, I could track down the problem and am pretty sure that when connected to a VPN the main error reported above is caused.

[2017-01-02 17:11] xydrolase commented on #1917
@CodingCat Sure, there is no direct connection between executor number and nworkers, and I reckon that.

I normally set up the distributed training by allocating multiple cores to an executor, and avoid having multiple tasks under the same executor, so that an executor can use all the cores of a specific node in the cluster, and runs only one task. The idea is to reduce the number of partitions, s

[2017-01-02 17:17] shenweichen commented on #1913
Thanks,check out to the latest version,it solves the problem.

[2017-01-02 17:27] xydrolase commented on #1924
You can change the tracker configuration by using parameter `trackerConf` in the parameter map.

See https://github.com/dmlc/xgboost/blob/e7fbc8591fa7277ee4c474b7371c48c11b34cbde/jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostGeneralSuite.scala#L112 for example.

[2017-01-02 18:07] osofr commented on #1903
I think I understand the source of the problem a bit better now. This temporary hack fixes the problem, but it doesn't address the main issue. Just set the offending object parameter to null (note that that the predictions will be based on ALL iterations now, which will typically be larger than the best iteration):

[code]

It seems that it would be considered non-standard (or even wrong by some)

[2017-01-02 20:13] geoHeil commented on #1924
Thanks. Can confirm that it is the VPN.
Strange, that "local" connections are affected as well.

[2017-01-02 20:13] #1924 closed

[2017-01-02 21:17] geoHeil opened #1925 "[jvm-package] scala rabit tracker underflow"
scala rabit tracker is crashing with an underflow

## Environment info
Operating System: osx 10.12.2

Compiler: gcc6

Package used (python/R/jvm/C++): jvm-package

`xgboost` version used: current master branch

If installing from source, please provide

1. The commit hash (`git rev-parse HEAD`)
2. Logs will be helpful (If logs are large, please upload as attachment).

[code]

The good thing is the

[2017-01-03 05:15] dingzj commented on #1567
See this complain with gcc6 https://github.com/dmlc/xgboost/issues/1839

[2017-01-03 05:16] dingzj commented on #1839
had same problem on El Captian, with newest gcc (6.3)

[2017-01-03 09:00] spedygiorgio opened #1926 "News in the R package"
Thank for your great package. A petty thing, it could be nice to have a NEWS/Changelog file in the R package....

[2017-01-03 15:02] mydpy opened #1927 "[jvm-package] Add WatchList to xgboost4j-spark trainWithDataFrame / trainWithRDD"
For distributed training it would be useful to calculate a group of items to be evaluated during training to watch performance on the validation set. This is offered as a watch in single-node training.

Limitations of metrics collection in Spark are severe. However, presently I will need to modify the XGBoost source code in order to add my own accumulators. It would be helpful to have a structure

[2017-01-03 15:20] geoHeil commented on #1925
Here is a working example documenting the problem https://gist.github.com/geoHeil/5e355bc7666294574ae9432dd912806f @xydrolase  hope this helps to track down the problem

[2017-01-03 21:57] ostrokach commented on #1846
I was running into the same error on Linux running Anaconda Python 3.5.
I think I fixed it by making the following modifications to setup.py:
[code]

[2017-01-04 06:01] Travis-Xiao opened #1928 "A questionnaire about visual diagnosis of boosting models"
To understand and diagnose a boosting model usually takes lots of efforts. We wish to incorporate visual analytic techniques into diagnosis of boosting models. Here is a questionnaire about boosting. It will be of great help to us if you could answer some of the questions. [questionnaire](http://www.sojump.com/jq/11692829.aspx)

[2017-01-04 06:53] khotilov commented on #1903
Thanks for reporting. The #1929 PR should help.

A typical approach is to use 3-way splitting into train/validation/test (or nested CV), where the validation set is used for hyperparameters tuning. Early stopping helps to tune `nrounds`. The early stopping in xgb.cv *within training data* could be used for that purpose as well.

[2017-01-04 15:34] ihadanny opened #1930 "weights for non-leaf nodes"
Is it possible to compute weights for non-leaf nodes as well?
This will enable interpreting results according to their decision paths: http://blog.datadive.net/interpreting-random-forests/

[2017-01-04 16:25] esb797 commented on #1847
I did built the project in release mode. I got errors and then it worked. The version of Visual Studio is Enterprise.

[2017-01-04 16:36] enissay14 commented on #1844
@drag0 I can use that script too! Thanks ( yassine dot landa at gmail dot com)

[2017-01-04 19:50] MaxBenChrist opened #1932 "Installation fails due to relative path"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: Ubuntu 16.04

After compiling, setup.py fails during installation of package

[code]

[2017-01-04 22:50] esb797 commented on #1847
Is there a way to control memory allocation? Regardless of machines I use (GeForce or Tesla), it always allocates 8 MB:
"Allocated 8/total MB on GeForce (or Tesla) GPU."

[2017-01-04 23:50] kapild commented on #901
@tqchen can you comment if `rank:ndcg` or `rank:map` works for Python?

[2017-01-05 03:05] kapild commented on #935
also, we don't have cross validation support(neither in java nor in python) for ranking related tasks("objective:rank:pairwise") . can we add that to the `road-map`.

[2017-01-05 03:15] zhouzhen1 commented on #1267
I was building the R package on Windows 7. Latest xgboost package from CRAN didn't build.

@Far0n 's solution worked for me.

[2017-01-05 03:29] zhouzhen1 opened #1933 "Reason to require R >= 3.3.0 ?"
I have to use R 3.2 in my workplace. But latest xgboost R package 0.6-3 requires R >= 3.3.0

I see 0.6-2 was requiring >= 2.15.1, and there was a commit https://github.com/dmlc/xgboost/pull/1920/commits/d05744cd5a513dfb6922c7f23e7a0f75d2bc81bd mentioning bumping to R 3.1.0.

I wonder if there's any reason to require 3.3.0. If not can we get it down to 3.1.0 or 3.2.0? Thanks.

[2017-01-05 04:03] thirdwing opened #1934 "[R] CRAN checking error due to the update in DiagrammeR"
https://cran.r-project.org/web/checks/check_results_xgboost.html

There is some change in `DiagrammeR`. `xgboost` can't pass CRAN check. Actually this also breaks `mxnet`.

@hetong007

[2017-01-05 04:05] thirdwing commented on #1933
The requirement `R >= 3.3.0` is basically to use the new Rtools with GCC 4.9.

The package can't compile using the old Rtools: https://www.r-project.org/nosvn/R.check/r-oldrel-windows-ix86+x86_64/xgboost-00check.html

[2017-01-05 05:34] zhouzhen1 commented on #1933
I just replied in #1267 that some change in dmlc-core\include\dmlc\base.h https://github.com/dmlc/xgboost/issues/1267#issuecomment-231975899 helped to solve the building issue with R 3.2. Can we get that change into dmlc?

[2017-01-05 05:40] thirdwing commented on #1933
I don't have strong opinions on this. However, we used to have some problems in `fopen64`. Different tool chains might have different definition. See https://github.com/dmlc/dmlc-core/pull/124 and https://github.com/dmlc/dmlc-core/pull/143/ as reference.

Ideally we should test different tool chains.

[2017-01-05 06:48] khotilov commented on #1934
I can take care of that tomorrow evening. I had to do similar adjustments in some of my personal code due to the changes in DiagrammeR.

[2017-01-05 06:51] hetong007 commented on #1934
I have just made a PR for the fix.

[2017-01-05 07:02] khotilov commented on #1934
I see. That should be good enough for it to run, but the trees probably look horrible with just those changes. I can add some touchups tomorrow, or if you want to you might look into global attributes and attribute themes.

[2017-01-05 08:32] nyseion commented on #436
A fork with GPU support was recently released: https://github.com/dmlc/xgboost/blob/master/plugin/updater_gpu/README.md

[2017-01-05 09:59] cnglen opened #1936 "Python core.eval_set() bugs?"
## Maybe this is a bug for python API
In python API:
 **core.eval_set()**: calls _LIB.**XGBoosterEvalOneIter**[c_api.cc], which calls **EvalOneIter**() [learner.cc]

 **EvalOneIter()** will create a default metric:

[code]

The default metric  may have conflicts with  customized **feval** in xgb.cv():

For example, if I set feval for r score,

[code]

Which causes:
     Multiple eval metrics have

[2017-01-05 11:10] endymecy opened #1937 "XGBoostClassificationModel meta consistent"
XGBoostClassificationModel and XGBoostRegressionModel should overwrite transformSchema method. Because sometimes the meta is not consistent. For example, after call transformImpl method, the meta may include "rawPredictionCol" column and after call transformSchema method , the meta didn't include it.

[2017-01-05 15:29] #1194 closed

[2017-01-05 23:28] hetong007 commented on #1934
Since the plot style is changed and needs to be fixed in a future submission, I reopened this issue to track the progress.

[2017-01-06 01:04] kn3in opened #1938 "Different predictions between versions 0.4 and .6"
First of all thank you for the awesome package!!!

A multi-class classification model trained in R package version 0.4;
predictions using the model differ between versions 0.4 and 0.6
*only* if one of the features equals to zero (0.0) and the feature is zero
for at least one class.

Install version 0.4-4
[code]

Example is a modification of a test in the R package
[code]

In new session install ve

[2017-01-06 03:50] tqchen commented on #1938
There is a specification change that changes the missing value spec to NA in 0.47 https://github.com/dmlc/xgboost/blob/master/NEWS.md#v047-20160114

The different behavior was due to this, to recover old behavior, manually set missing=0 during DMatrix construction

[2017-01-06 04:01] jhli973 commented on #1316
make lib/librabit_empty.a -j4
bash: make: command not found

[2017-01-06 04:08] #1402 closed

[2017-01-06 13:38] diver-in-sky commented on #1932
I've hacked `setup.py` by adding two lines (to change lib path from absolute to relative) and after that xgboost was successfully installed.

[code]

[2017-01-06 18:53] #1938 closed

[2017-01-06 21:16] #1903 closed

[2017-01-06 21:25] abdullahektor opened #1941 "xgboost4j-spark: MLlib CrossValidator issues"
Environment: Amazon emr-5.2.1 (with Spark 2.0.2)
Package: jvm, xgboost4j-spark
`xgboost` version used:0.7
The commit hash (`git rev-parse HEAD`): d7406e07f3eec09654b17f7f08c1aa8623d96497

## Steps to reproduce
I tried to replicate the basic logistic regression classification example from
https://spark.apache.org/docs/2.0.2/ml-classification-regression.html#logistic-regression
using XGBoostEstimato

[2017-01-07 00:02] #1267 closed

[2017-01-07 00:02] tqchen commented on #1933
If possible, I think it might be helpful to keep backward compatibility on g++4.6.

Just to make sure we don't break things. @thirdwing can you look into this?

[2017-01-07 00:35] CodingCat commented on #1941
I didn't see any error here, the different parameters can generate the same predictions especially when you taking the fact that you have only 12 instances in training set

[2017-01-07 03:48] thirdwing commented on #1933
This can be done if I have time. But it seems better to pass all CRAN check first.

[2017-01-07 07:59] penolove opened #1942 "Can I output the xgboost R dmatrix to file and then load it by xgboost4j ?"
## Environment info
Operating System:

Compiler: Centos

Package used (python/R/jvm/C++):

`xgboost` version used:
java : ml.dmlc.xgboost4j.0.7
R : > packageVersion("xgboost") : ‘0.4.0’

If you are using R package, please provide

R version 3.1.3 (2015-03-09)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

locale:
[1] LC_COLLATE=Chinese (Traditio

[2017-01-07 08:53] penolove commented on #1942
Hi , R install with xgboost using the same compile version  as java solve this problem!!

[2017-01-07 08:53] #1942 closed

[2017-01-07 11:49] abdullahektor commented on #1941
Hi! Thanks for the swift response @CodingCat

I am fairly certain this is an error, probably because I've seen the same result on my actual data set with a couple of 100 million rows, but I understand that you are not convinced from the example provided above so let me provide another example to convince you:

[code]
Still same 0.5 AUC:
[code]
And all predictions equal to 0:
[code]
[code]
However

[2017-01-08 09:25] nkeywal commented on #1932
Same problem here (on Ubuntu 14.04, Python 3.4), the fix mentioned above worked.

[2017-01-08 12:15] guohaoqiang opened #1943 ""various undefined errors""
redhat

Compiler:
gcc4.8.4

my commit hash (`87e897f428c069904fd7183b69ed75fce67e1b6c`)

When compiled xgboost via "make", I got various "undefined ......",like:

build/data/data.o: In function `xgboost::data::SparsePage::Format::Create(std::string const&)':
data.cc:(.text+0xd8e): undefined reference to `std::__throw_bad_function_call()'
build/data/sparse_page_dmatrix.o: In function `xgboost::data

[2017-01-08 13:33] zhpmatrix opened #1944 "wrong path of data in mushroom.conf"
sorry to say that:

the values as following are wrong for all of them are in data directory.

data = "agaricus.txt.train"
eval[test] = "agaricus.txt.test"
test:data = "agaricus.txt.test"

maybe the README.md is also need to be changed.

[2017-01-09 00:24] kn3in commented on #1938
Thank you!
Yay, you are right missing = 0 fixes it.
I've came across this while using caret wrapper with a model trained with xgboost v0.4-4, not sure if the current CRAN version got it but just in case here is the commit which switches to using NA as missing values
https://github.com/topepo/caret/commit/c060b14076ee7db5b70e05ca32edaeb96d74e7c8
K.

[2017-01-09 04:21] CodingCat commented on #1941
I will look at this

[2017-01-09 07:24] Marswang92 opened #1945 "While installing on OSX Sierra via gcc-6, keep having "FATAL:/opt/local/bin/../libexec/as/x86_64/as: I don't understand 'm' flag!" error"
## Environment info
Operating System:
macOS 10.12.2 (16C68)

Compiler:
gcc-6

## Steps to reproduce

I've installed gcc-6 and modified config.mk as required into
[code]
But keep having this error:
[code]

## What have you tried?

1. Reinstall `XCode`
2. Reinstall `gcc`
3. Run `make clean_all && make -4j`

But still went wrong. Any idea?

[2017-01-09 11:46] Anogio opened #1946 "Xgboos import on Anaconda - libstdc error"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: Fedora 25

Package used (python/R/jvm/C++): Python

`xgboost` version used: 0.6a2 (according to pip)

If you are using python package, please provide
The python version and distribution: Python

[2017-01-09 12:45] abdullahektor commented on #1941
@CodingCat I spent some time looking into this. It looks to me that the issue is overloading `.fit` with a parameter grid:
[code]
[code]
[code]

[2017-01-09 16:27] philipus opened #1948 "Exception in thread "main" java.lang.NoClassDefFoundError: ml/dmlc/xgboost4j/scala/spark/XGBoost"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: win 7

Compiler: gcc / java / mingw

Package used (python/R/jvm/C++): jvm

`xgboost` version used: 0.5

If installing from source, please provide

1. The commit hash (`git rev-parse HEAD`)
2. Lo

[2017-01-09 17:20] hcho3 opened #1950 "[New Feature] Fast Histogram Optimized Grower, 8x to 10x Speedup"
This issue is to document a series of recent improvements in the tree grower. Related: #1673.

## Faster training via feature binning
Histogram aggregation is a major computational bottleneck in tree growing. We introduce a new tree growing method `hist` where only a subset of possible split values are considered. As in [FastBDT](https://github.com/thomaskeck/FastBDT) and [LightGBM](https://github

[2017-01-09 17:48] wxchan commented on #1950
Do you have time to also do a performance test on LightGBM as well to compare with new feature?

[2017-01-09 17:50] hcho3 commented on #1950
@wxchan I will get to it soon

[2017-01-09 17:54] wxchan commented on #1950
@hcho3 ok, thx, look forward to it.

[2017-01-09 18:18] tqchen commented on #1604
supported in https://github.com/dmlc/xgboost/issues/1950

[2017-01-09 18:18] #1604 closed

[2017-01-09 18:19] tqchen commented on #1673
https://github.com/dmlc/xgboost/issues/1950

[2017-01-09 18:19] #1673 closed

[2017-01-09 18:30] tqchen commented on #1950
@hetong007 @slundberg @terrytangyuan @CodingCat @khotilov @phunterlau  we could use more, test-cases examples and tutorial on language bindings.

[2017-01-09 18:46] tonydifranco commented on #1910
same method as in [this paper](https://arxiv.org/pdf/1508.06378.pdf)

[2017-01-09 18:51] hetong007 commented on #1950
This is exciting! However I will be traveling in January, thus may not start working on this until Feb. It would be great if you guys @khotilov and @terrytangyuan have time recently.

[2017-01-09 20:43] xydrolase commented on #1925
Will look into this. Thanks.

[2017-01-09 20:53] RAMitchell commented on #1950
Very nice work. I was planning a multi gpu algorithm using these methods. This PR makes it a lot easier to implement. @hcho3 @tqchen did you want to colloborate on a new gpu algorithm?

Do the benchmarks above refer to the time for a single boosting iteration?

[2017-01-10 01:13] baharq commented on #1663
@webary, I have the same issue, did you find a solution? Thank you.

[2017-01-10 01:31] CodingCat commented on #1950
Awesome ! Will start working on it in the weekend

[2017-01-10 02:53] andyxjiang opened #1951 "Failed to make rabit on win 7"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: win 7 professional

Compiler:

Package used (python/R/jvm/C++):

`xgboost` version used: v0.6 (2016.07.29)

If installing from source, please provide

1. The commit hash (`git rev-parse HEAD`)：8

[2017-01-10 03:38] thirdwing commented on #1951
Please try to use a bash shell. We haven't test power shell for installation.

[2017-01-10 03:47] carlylou commented on #588
Hi, I follow the instructions from http://xgboost.readthedocs.io/en/latest/build.html# installed xgboost well.

But when I import xgboost, I get this error :

OSError: dlopen(/usr/local/lib/python2.7/site-packages/xgboost-0.6-py2.7.egg/xgboost/libxgboost.so, 6): Symbol not found: _clock_getres
  Referenced from: /usr/local/opt/gcc/lib/gcc/6/libgomp.1.dylib
  Expected in: /usr/lib/libSystem.B.dylib

[2017-01-10 03:47] thirdwing commented on #1663
Can you provide more details about the compiler? Which version of mingw? It will be great if you can provide the exact download link.

[2017-01-10 03:58] webary commented on #1663
@baharq I modify the source code to change the condition and hardly solved it. I guess it is a compatibility bug, and I had downloaded a old version of xgboost source, then rebuild it successfully.

I don't advise you to solve it like me, hoping the group fix the bug early, of cource, if you want to use xgboost quickly, you can download the old version by [this link](https://pan.baidu.com/s/1cEHZD

[2017-01-10 04:02] webary commented on #1663
@thirdwing It goes a long time, I have tried many methods to fix it, but make no effect, including changing the version of gcc, so I cann't remember the version of this case. Maybe you can ask him @baharq .

[2017-01-10 04:06] thirdwing commented on #1663
The `getaddrinfo` is quite common when compiling socket code on Windows. The main reason is Windows has `winsock.h` and `winsock2.h`.

I want to know the version of MinGW just because I want to reproduce this error.

[2017-01-10 04:10] webary commented on #1663
@thirdwing it maybe this: c++ (x86_64-posix-seh-rev0, Built by MinGW-W64 project) 6.2.0

[2017-01-10 05:01] andyxjiang commented on #1951
I have tried on cygwin and it failed again. Could you guys give me some advice to deal with this problem?
The log is as follow:
andyxjiang@andyxjiang-PC2 /cygdrive/c/Users/andyxjiang/Documents/GitHub/xgboost/  rabit
$ make
g++ -c -O3 -msse2 -Wall -Wextra -Wno-unused-parameter -Wno-unknown-pragmas -std=  c++0x -fPIC -o allreduce_base.o src/allreduce_base.cc
src/allreduce_base.cc:1:0: 警告：-fPIC 在目标机上

[2017-01-10 06:11] terrytangyuan commented on #1950
Very cool, @hcho3! I won't be able to get to it soon but will post here when I start the work.

[2017-01-10 06:49] CodingCat commented on #1941
my first impression is that the copy() implementation may have some bug, but I will investigate it further in the following days

[2017-01-10 06:55] caikehe opened #1952 "Xgboost-jvm stucked due to memory issue?"
I am using latest version of xgboost-jvm package to do linear regression (tree model). The original dataset only has 500MB, and I allocated 150GB memory for the spark cluster. It stucked in the booster training step, is there any idea to help me out? Thanks in advance.

**The detailed informations are as:**
the stucked lines:
[code]

the spark command line parameters are:
[code]

[2017-01-10 07:15] diver-in-sky commented on #1932
@MaxBenChrist @nkeywal could you please update master and check if your problem has been fixed?

[2017-01-10 09:17] AkashDevgun commented on #1786
@yinshurman ....can you please tell me step by step i am not find out the solution for the following error:

import xgboost
SError: /home/akash/anaconda2/bin/../lib/libgomp.so.1: version `GOMP_4.0' not found (required by /home/akash/anaconda2/lib/python2.7/site-packages/xgboost/./lib/libxgboost.so

[2017-01-10 10:42] dynamics77 opened #1953 "passing monotone constraints to xgbclassifier?"
Is it possible to pass monotone_constraints params to sklearn API of xgboost (i.e., XGBClassifier)? I would to use xgboost with LIME (https://github.com/marcotcr/lime/blob/master/doc/notebooks/Tutorial%20-%20continuous%20and%20categorical%20features.ipynb) that apparently does not accept DMatrix objects but works well with sklearn interface.

[2017-01-10 11:17] BartLJ opened #1954 "colsample_bytree and colsample_bylevel select first columns only since 0.6"
I'm running xgboost 0.6-4 on MacOS.
If using colsample_bytree < 1 or colsample_bylevel < 1, the columns are not randomly picked, but only the first columns are selected.
It seems that the std:shuffle method in updater_colmaker.cc does not work correctly.
This works in xgboost 0.4-4 and fails to work from 0.6-0 onwards.

## Environment info
Operating System: macOS Sierra (10.12.2)

Compiler: Apple

[2017-01-10 15:37] thirdwing commented on #1951
As we have said in the document

The cygwin environment hasn't be test and support.

[2017-01-10 16:11] xydrolase commented on #1952
Would you mind posting the log of your job that got stuck during training? It could be a connection issue from your executors to the driver node.

[2017-01-10 16:14] thirdwing commented on #1933
@tqchen @hetong007 We can support old Rtools by removing these three lines https://github.com/dmlc/dmlc-core/blob/master/include/dmlc/base.h#L138-L140

But we need to test some more distribution of MinGW.

[2017-01-10 17:48] baharq commented on #1663
@thirdwing I installed mingw-w64 from https://mingw-w64.org/doku.php/download/win-builds
I had downloaded mingw-w32 before and I ran into another error related to pthreads and missing openmp library. I found some people suggesting to download mingw-w64, so I tried that.

[2017-01-10 20:30] tqchen commented on #1933
we do need to define fopen64 because it is used in later code, but maybe not with prefix std

[2017-01-10 20:37] thirdwing commented on #1933
I know what you mean.

My suggestion is that (1) we provide a recommended version of MinGW-w64 (for example, TDM distribution from http://tdm-gcc.tdragon.net/) and add it into our documents (https://github.com/dmlc/xgboost/blob/master/doc/build.md#building-on-windows); (2) besides this MinGW-w64, we also support the Rtools with GCC4.6.3 and GCC4.9.2.

[2017-01-10 20:59] tqchen commented on #1933
Sounds good, I think Rtools compatibility is more important, and the other windows builds will be recommended to direct to CMake based builds

[2017-01-10 21:09] xydrolase commented on #1927
Since the model up to each iteration is synchronized to each distributed worker, so it is possible to compute metric on an evaluation set, so long as it is small enough so that it won't take too long to evaluate.

I'm actually also interested in this, and I'll look into it and see if I can make a PR for this feature.

[2017-01-10 21:09] thirdwing commented on #1933
I think it is good enough if we guarrante xgboost can compile using two Rtools and one MinGW. I will let you know after testing.

[2017-01-10 23:17] brando90 commented on #820
what is `PYTHON_PATH` suppose to return?

[2017-01-11 00:02] gdupret opened #1955 "save the model under caret"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: Ubuntu 16.10

Compiler: gcc

Package used (python/R/jvm/C++): R

R version 3.3.2 (2016-10-31) -- "Sincere Pumpkin Patch"
Copyright (C) 2016 The R Foundation for Statistical Computing
Platform: x

[2017-01-11 00:20] thirdwing commented on #1955
Can you provide a small runnable script for this?

[2017-01-11 00:23] gdupret commented on #1955
I will work that out

best,

ged

On 01/10/2017 04:20 PM, Qiang Kou (KK) wrote:

[2017-01-11 01:09] gdupret commented on #1955
Here is the script.

Best,

ged

On 01/10/2017 04:20 PM, Qiang Kou (KK) wrote:

[2017-01-11 01:40] thirdwing commented on #1955
Hi, if you reply this email with attachment. I am afraid I can't see it.

Best,

On 01/10/2017 08:09 PM, Georges Dupret wrote:

[2017-01-11 02:26] Liam0205 commented on #1950
Brilliant explain! Thanks @hcho3 !

[2017-01-11 05:06] xydrolase commented on #1925
Thanks for providing the example for reproducing the error.
I've been trying to replicate the bug but so far I didn't run into any issues.

Did you consistently run into the same buffer issue? I can kind of guess where and why it threw that Exception, because the parser for worker command is not exhaustive and may fail in some conditions.

I'll use your stacktrace to see if I can pinpoint the issu

[2017-01-11 05:38] xydrolase commented on #1925
This would happen if the worker sends a "print" command message in multiple packets. The "print" command is special as it contains a string, which is the message to print of course.

The validator for commands only verifies the common part, but ignores the optional message. And because the validation is generic to all commands, it does not include any additional logic to the "print" command. I'll

[2017-01-11 09:01] #1943 closed

[2017-01-11 09:26] hellocaffeine opened #1956 "[jvm-packages] low CPU usage when running xgboost on spark"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System:

Compiler:

Package used (python/R/jvm/C++):

`xgboost` version used:

If installing from source, please provide

1. The commit hash (`git rev-parse HEAD`)
2. Logs will be helpful (If logs are l

[2017-01-11 10:54] kani05 commented on #1043
Solved for me too ! Thanks

[2017-01-11 13:00] BartLJ commented on #1954
when manually compiling and installing xgboost from the latest sources with openmp-enabled gcc (`brew install gcc --without-multilib` as described in http://xgboost.readthedocs.io/en/latest/build.html#building-on-osx), above parameters work correctly.
It seems the problem is related to how the package has been built on CRAN.

[2017-01-11 13:32] CodingCat commented on #1956
empty description

[2017-01-11 13:32] #1956 closed

[2017-01-11 14:33] jeisinge commented on #1436
FYI, on Spark 2.1.0, you can get the number of cores via:
[code]

Is that what numWorkers should be set to --- or, just the number of executors?

[2017-01-11 16:22] gdupret commented on #1955
yes, I added a R script and two some small data files to reproduce the problem. https://dl.dropboxusercontent.com/u/7001766/crash_save.tgz

Best

[2017-01-11 18:19] khotilov commented on #1955
@gdupret  It's not specific to caret. If you save any xgboost model as an R object and then load it back, it would have neither an actual internal xgboost model in memory (only its saved raw binary dump) nor a valid handle/pointer to it. The `xgb.save` is currently not handling this use case properly.

As a temporary workaround, you can do
[code]

[2017-01-11 18:22] jokari69 opened #1957 "Incorrect handling of min_child_weight = 0 in updater_colmaker.cc"
I spotted a significant difference in cv error in the first booster when setting min_child_weight =0 vs min_child_weight = 0.0001 as can be seen in the table below. My dataset contains around 2 million rows and max_depth = 3 and we can see that even without min_child_weight restrictions we have at least 50000 samples in each leave (as booster is same for min_child_weight = 0.0001 and = 50000)

min

[2017-01-11 18:32] baharq commented on #1663
All, I followed the instructions on the page below and I could finally install xgboost.
https://www.ibm.com/developerworks/community/blogs/jfp/entry/Installing_XGBoost_For_Anaconda_on_Windows?lang=en

[2017-01-11 18:47] MaxBenChrist commented on #1932
It has been fixed. Everything is working fine now. Thank you very much :)

[2017-01-11 18:47] #1932 closed

[2017-01-11 19:11] gdupret commented on #1955
indeed! Your workaround is what I needed. Thank you Vadim!

[2017-01-11 19:11] #1955 closed

[2017-01-11 19:11] hcho3 commented on #1950
@wxchan We've added performance numbers for LightGBM. Parallel performance for our new updater is not so good, so we are working to improve that.

[2017-01-11 19:22] wxchan commented on #1950
@hcho3 how many iterations did you run? You can see a LightGBM log from [here](https://github.com/guolinke/boosting_tree_benchmarks/blob/master/lightgbm/lightgbm_higgs_speed.log). It becomes faster when iteration becomes bigger(200s for 200 iterations, 310s for 500).

[2017-01-11 19:27] hcho3 commented on #1950
@wxchan Good point. The data in the table represents first dozen iterations or so. Let us post a graph of cumulative runtime vs (# iterations).

[2017-01-11 20:10] khotilov commented on #1951
I don't think the full rabit was ever supported on windows.

To build a dummy rabit library:
[code]

[2017-01-11 20:15] khotilov commented on #1663
Related to #1663. You did not show what you did, but somehow you were attempting to build the full rabit library.

[2017-01-11 21:22] rteja1113 commented on #1043
@shawnwanderson , works like magic !, Thank You

[2017-01-12 02:23] yuntai commented on #1945
I had the same problem and I tried with 'g++-mp-5' and it worked. It seems to be related to an unknown option passed to 'as'. Anybody knows how to examine command line option passed to assembler, so I could compare the options.

[2017-01-12 08:28] #1878 closed

[2017-01-12 09:39] franciszmy opened #1958 "booster handle is invalid"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: linux cent os 6+

Compiler:

Package used (python/R/jvm/C++): R

`xgboost` version used:

If installing from source, please provide

1. The commit hash (`git rev-parse HEAD`)
2. Logs will be hel

[2017-01-12 10:55] alexeygrigorev commented on #109
I wonder if there are any updates on the issue - has the support for numpy datatypes been added?

I'm trying to convert a large numpy array into a DMatrix and python dies with out of memory. Writing it into an svmlight light and reading it with DMatrix is an option, but it takes ages.

[2017-01-12 20:13] khotilov commented on #1958
It is normal that a model saved as R object would have invalid handle after reading it back. R has a primitive mechanism to add hooks that may initialize unserialized objects, but it would be rather awkward for users to deal with that stuff (e.g., see the `refhook` parameter in `?readRDS`). Thus, we restore the handle only during the operations which require it. That should also have no effect on

[2017-01-13 02:51] franciszmy commented on #1958
I've found that this problem is caused by different xgboost version. I train the model with R 3.2 and xgboost 4.x . I can correctly use my model in 4.x version xgboost, but if I use R 3.3 and library a 6.x version xgboost in the environment, this model will be invalid and it will cause the problem I've mentioned.

[2017-01-13 04:07] ritviksahajpal opened #1960 "No feature_importances_ for XGBRegressor()"
XGBoost seems to be lacking feature_importances_ for XGBRegressor() while it does have that for XGBClassifier(). Is it possible to add it for the regression problems as well?

[2017-01-13 12:32] franciszmy commented on #1958
I tried to attach my model and test dataset into a zip file,but it doesn't work. How can I get the model to you.

[2017-01-13 13:45] #1812 closed

[2017-01-13 17:27] tqchen commented on #1950
a reminder, the PR #1940 is now merged

[2017-01-13 17:55] johnny5550822 opened #1961 "In scikit-learn wrapper, to caclulate AUC, should I use predict_proba?"
I want to use xgboost through scikit-learn wrapper. Let say I fit a model and I want to calculate the AUC. Should I use .predict_proba? (since there is no .decision_function). As far as I know, for small dataset, .predict_proba is not proper for SVM because random prob. will be generated and therefore I need to use .decision_fucntion for SVM. What about scikit-learn?

e.g., of using the xgboost wi

[2017-01-13 20:55] johnny5550822 commented on #91
@geoHeil What do you mean by "the vector I receive from xklearn.predict_proba does not look like probabilities." Are they larger than 1 or ...? Can you post some of the outputs here?

[2017-01-13 21:09] glennq commented on #1827
@CodingCat Wondering what's the current state of this bug? I'm had the exact same error when trying to predict for one example

[2017-01-13 21:38] geoHeil commented on #91
@johnny5550822 unfortunately, I can't provide numbers. It just looks like http://datascience.stackexchange.com/questions/14527/xgboost-predict-probabilities?noredirect=1#comment18277_14527 there are only 2 values for the predictions. And that is weird. I would have expected to see several (different ) values

[2017-01-13 22:49] johnny5550822 commented on #91
@geoHeil I see, because I did not get that graph, my value is pretty make sense.

[2017-01-14 19:30] shahlaebrahimi commented on #1034
I had the same problem so I used  `hp.choice('max_depth', np.arange(1, 14, dtype=int)) `. It solves the issue just in some iterations so again that error is reported.
 I would greatly appreciate if you could let me know how to deal with it?
 regards,

[2017-01-15 06:28] hcho3 commented on #1950
@wxchan We've added performance results over 300 iterations.

[2017-01-15 17:37] peay commented on #1960
Is it stil the case on `master`? dd477ac seems to fix that.

[2017-01-16 13:16] paulbir opened #1965 "Unbalanced multiclass data"
I have 3 classes with this distribution:

Class 0: 0.1169
Class 1: 0.7668
Class 2: 0.1163

I know that there is a parameter called "scale_pos_wieght". But how is it handled for multiclass case? And how can I properly set it?

Thanks.

[2017-01-17 00:08] CodingCat opened #1967 "[jvm-packages] Performance Evaluation of XGBoost-Spark"
According to the user feedbacks, it's better for us to provide a document specifying at least the following cost:

- cost of copy data from RDD/JVM XGBoost

- Usage of out of heap memory

[2017-01-17 03:15] mahnunchik commented on #1878
Hi @nareshshah139
I've faced with the same behaviour. Whats happen?

[2017-01-17 04:13] mahnunchik opened #1968 "Different AUC (binary:logistic)"
I've faced with the different AUC calculated by xgboost and sklearn.

[code]

Output is:

[code]

So auc ~ 0.72 but my_auc ~ 0.52

Whats happen?

## Environment info
Operating System: macOS 10.12.2 (16C67)
Package used (python/R/jvm/C++): python

`xgboost` version used: 0.6

If installing from source, please provide
1. The commit hash (`git rev-parse HEAD`) 49ff7c1649eef4cec97c1569f1d8720f0050d72b

[2017-01-17 05:10] jeremiedb opened #1969 "Base_margin bug with gblinear"
An error is returned when attempting to use base_margin with gblinear booster, while gbtree is working properly.

[code]
This was run from the the master as of 2017-01-16. (R package version 0.6-4)

Code to reproduce from basic example:

[code]

In the above, continuing training with gbtree works fine, but using gblinear returns the error about the margin and prediction size mismatch.

[2017-01-17 13:52] 5kyn37 opened #1970 "How I can tune hyperparametrs if my data doesn't fit into the RAM?"
Hello.

I use python interface for xgboost (latest version).
I want to do something like this:
[code]
Train and test encoded in libsvm format. Separately the file doesn't fit into the RAM.

Can I use cache file (like http://xgboost.readthedocs.io/en/latest/how_to/external_memory.html) from python interface?

Thanks.

[2017-01-17 14:01] 5kyn37 commented on #1970
I apologize for my carelessness.
[code]
solved the problem.

[2017-01-17 14:01] #1970 closed

[2017-01-17 18:06] AbdealiJK opened #1971 "Redundancy of Learner class"
I was going through parts of the code and found that the structure being used is Learner -> LearnerImpl and the Learner class has a variable gbm_ which is used for majority if not all functionality.

It seems all in all that Learner is a redundant class and it would be easier to directly reference GradientBooster and create GradientBooster directly. Possibly a refactoring could easily move the fun

[2017-01-17 19:04] khotilov commented on #1950
I ran a quick speed comparison of the old colmaker updater to the new fast_histmaker one using one of my datasets. It was dense data with some missingness, about 100K x 1000 in size, with rare and noisy signal. I ran 1000 simple decision stubs with 0.5 subsampling on a 16-core server. In addition to the speedup in elapsed times factor, the table also shows ratios of user times relative to the sing

[2017-01-17 19:12] khotilov commented on #1969
I've hit this one some time ago: to fix, if I remember correctly, I've just commented out that check... and then I've completely forgotten about it.

[2017-01-17 19:15] khotilov commented on #1968
For AUC, prediction values are not supposed to be thresholded.

[2017-01-17 19:18] khotilov commented on #1965
In multiclass case, scale_pos_wieght would be handled one-vs-all, which is not good. You can assign different class weights to your data rows in DMatrix instead.

[2017-01-17 19:20] khotilov commented on #1958
You've mentioned that you had used an older version for the initial model. See if #1938 would help.

[2017-01-17 20:33] hcho3 commented on #1950
@khotilov Thanks a lot for the detailed report. We are currently working hard to improve parallel implementation. Stay tuned for more updates.

[2017-01-17 21:17] abdelkarim336 opened #1972 "Error installing xgboost for python"
Hey, I'm having an error when trying to use the "make -j4". I've tired the following instructions:
--------------
$ cd dmlc-core
$ make -j4
$ cd ../rabit
$ make lib/librabit_empty.a -j4
$ cd ..
$ cp make/mingw64.mk config.mk
$ make -j4
----------------------
 but still doesn't work.

Here's the error log:

g++: error: libgomp.spec: No such file or directory
Makefile:136: recipe for target 'lib/lib

[2017-01-17 22:36] thirdwing commented on #1972
I suggest you check the openmp support by your compiler.

[2017-01-18 00:24] #1968 closed

[2017-01-18 09:52] zhangyong14 commented on #1093
I got this error too, it was because there were some blanks in the beginning of the feature

[2017-01-18 14:20] hxy0135 opened #1973 "xgb.plot.multi.trees and xgb.plot.tree do not produce tree structure on my computer"
Hi,
I followed the post at https://www.r-bloggers.com/introduction-to-xgboost-r-package/
I can not print the tree structure of the model on my computer like they are shown on the blog since I downloaded the newest version.

## Environment ## info
**Operating System**: Windows server 2008 R2 Enterprise

**`xgboost` version used**: 0.6-4

**The R sessionInfo():**
R version 3.3.2 (2016-10-31)
Platfor

[2017-01-18 18:21] philipus opened #1975 "src/data/data.cc:246: External memory is not enabled in mingw"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

## Environment info
Operating System: windows

Compiler: visual c++ and oracle java

Package used (python/R/jvm/C++): jvm

`xgboost` version used: 0.7

I am wondering why the program is complaining about mingw when I compiled xgboos