[2018-11-23 09:33] hcho3 commented on #3916
@KOLANICH To be this is a feature, not a bug. Right now, the parser will happily read whatever the binary stream will provide. We do have some sanity checks (num_node should not be negative etc) but there are many holes. With the new proposal

But we want to be able to add new fields in the future without breaking backward compatibility. I am choosing JSON (or its binary encoding), because I don't

[2018-11-23 09:39] #3903 closed

[2018-11-23 09:48] trivialfis commented on #3916
@hcho3 Nice and thanks, if you were to carry out the implementation, I will try to see if it's possible to merge some parts of #3930 into the whole restructuring, it's already a working parser/dumper with a full blown key-value structure.  Please keep me posted. :)

@KOLANICH It all comes down to less fuss in the future.  Personally I want to spend more time on algorithms instead of these structur

[2018-11-23 09:49] KOLANICH commented on #3916
But the set of errors would be much wider. Now the errors you have to process are range checking, but with a generic-purpose format you will have to check for types, names (assumming that the format is designed the way to put burden of range checking on serialization lib), that types match names and their order (for a binary format this comes for free, you just parse what you expect).

For me rang

[2018-11-23 09:51] eblancost commented on #3649
I can compile it in my machine but not in a Docker container. I'm using Ubuntu 18.04 (64 bits) on an Intel i7. When using docker this is my Dockerfile:
`FROM python:3.6.3-alpine3.6

RUN apk add --update --no-cache \
    --virtual=.build-dependencies \
    git && \
    mkdir /src && \
    cd /src && \
    git clone --recursive https://github.com/dmlc/xgboost && \
    sed -i '/#define DMLC_LOG_STACK

[2018-11-23 09:53] trivialfis commented on #3916
That's the good thing of having a algorithmic structure, please see #3930 , all the checks are seamlessly built into the structure.  Anything wrong will be caught.  For example, if you have the wrong type, you won't be able to convert it into actual value since the type information is encoded into the structure by RTTI implementation.

[2018-11-23 09:56] hcho3 commented on #3916
Not really. Each class will look for a list of names (raise error if a name is not found), and then check if the found items are right types. And the order of fields doesn't matter, as JSON is un-ordered.

[2018-11-23 09:58] hcho3 commented on #3649
@eblancost Yeah the use of backtrace needs to be disabled in CMake when MUSL is used. Let me submit a pull request soon.

[2018-11-23 10:03] KOLANICH commented on #3916
It's true, if we parse the format entirely first, and then use it as a key-value storage, but it has some overhead related to search. There is another approach, when parsing is done on the fly and our function is called on each record, then the arguments would likely be processed in the order they are enumerated in the file. The argument about ordering has been accepted.

[2018-11-23 10:04] marrrcin opened #3935 "[jvm-packages] XGBoost on Spark crashes with SIGSEV"
**This issue was mentioned here https://discuss.xgboost.ai/t/xgboost-on-spark-crashes-with-sigsev/475 and is suspected to be a bug.**

I use Scala in Azure Databricks with the following setup:

 - 5x worker node (`28.0 GB Memory, 8 Cores, 1.5 DBU`)
 - 1x driver (`14.0 GB Memory, 4 Cores, 0.75 DBU`)
 - runtime: `5.0 ML Beta (includes Apache Spark 2.4.0, Scala 2.11)`

I have a Spark Dataframe with 7

[2018-11-23 10:14] trivialfis commented on #3916
@KOLANICH

Most implementation of `std::map` is red black tree, searching is performed in `O(logn)`.  In XGBoost each nested level should contain less than 10 entries, with this known bounded `n <= 10`, it's actually `O(1)`.  The overhead is a non-issue.

That will be a whole rewrite of XGBoost.  Dealing with large data blob, the better approach is to utilize `B-Tree` like data format, for example

[2018-11-23 10:18] hcho3 commented on #3916
@trivialfis And we can use `std::unordered_map` for greater efficiency: http://supercomputingblog.com/windows/ordered-map-vs-unordered-map-a-performance-study/

[2018-11-23 10:36] mateuszkaleta commented on #3933
No worries, I'll handle it somehow - you guys are doing a great job here anyway :).

[2018-11-23 10:52] trivialfis commented on #3916
@hcho3 Great.  I can try to drop the `Json::Dump`, `Json::Load` and `Json::Null` tomorrow.  See if it fits.

[2018-11-23 11:11] hcho3 commented on #3892
@selectasterisk You are using `scale_pos_weight`, which needs to be applied to the custom objective function too:
[code]

Also, since `'objective` is set to `binary:logistic`, the `preds` value is already transformed probability, so we should comment out the line `preds = 1.0 / (1.0 + np.exp(-preds))`. With the two changes, the custom objective produces the same result as `binary:logistic`.

[2018-11-23 11:12] #3892 closed

[2018-11-23 11:16] #3925 closed

[2018-11-23 11:39] imranahmed96 commented on #3712
@hcho3 Thank-you for the lightning-fast reply! Perfect, that sounds great! :smile:

[2018-11-23 11:49] hcho3 commented on #3649
@eblancost The pull request dmlc/dmlc-core#487 should fix compilation for systems using MUSL. Thanks for your report.

[2018-11-23 12:07] hcho3 commented on #3911
@scottfleming You can look at the C++ definition of gradient computation: https://github.com/dmlc/xgboost/blob/dc2bfbfde144ada58c6992f0315e27064a5f8ea6/src/objective/regression_loss.h#L55

[2018-11-23 12:07] #3911 closed

[2018-11-23 12:13] hcho3 commented on #3894
#3894 should fix the issue.

[2018-11-23 14:06] CodingCat commented on #3935
Don’t use Spark 2.4 with XGB, it should not be able to run.....if you can run, that means databricks has customized xgb then I have no way to debug it

[2018-11-23 14:08] CodingCat commented on #3929
I would suggest first deprecating and then replacing

[2018-11-23 15:40] CodingCat commented on #3935
Please trybto reproduce the problem in a clean environment with spark 2.3

[2018-11-23 15:40] CodingCat commented on #3935
With xgboost 0.81

[2018-11-23 17:46] #3898 closed

[2018-11-23 20:15] #3894 closed

[2018-11-24 05:09] #3931 closed

[2018-11-24 06:16] pseudotensor commented on #3913
I would like to provide an MRE, but it doesn't happen in a deterministic way apparently.  Also odd is when it happens it seems to cause it to happen alot, even though all our xgboost calls are in a subprocess.

I'll keep looking to isolate it at least to give MRE.

[2018-11-24 08:18] CodingCat commented on #3927
fixed by https://github.com/dmlc/xgboost/pull/3928

[2018-11-24 08:18] #3927 closed

[2018-11-24 18:15] #3926 closed

[2018-11-25 03:25] david-waterworth opened #3939 "Incorrect default scorer for objective='reg:linear'"
The code below fails with an unsupported type 'continuous' exception implying that GridSearchCV is using a classification scorer to try and score each fit. Setting 'GridSearchCV(...,scoring='neg_mean_squared_error')' solves the issue.

from the documentation of GridSearchCV, the default for scoring states 'If None, the estimator’s default scorer (if available) is used.', so this implies that the d

[2018-11-25 16:04] csuagui commented on #1715
Thanks too, it works for me too.

[2018-11-25 22:35] thvasilo commented on #3939
Hello @david-waterworth, shouldn't you be using XGBRegressor if your are performing regression?

[2018-11-25 22:37] thvasilo commented on #3929
Cool, @hcho3 could you add this to the roadmap so we don't lose track? We can discuss the timing of deprecation/replacement in terms of releases.

[2018-11-26 06:07] veronicaCode opened #3940 "Loading data type of DMatrix"
Will xgb.DMatrix support input python list in the future?

[2018-11-26 07:32] trivialfis commented on #3940
@veronicaCode
Internally `xgboost.DMatrix` converts list into `scipy.sparse.csr_matrix`.  So one can say that it's supported.
But List by itself doesn't have properties like `shape`, so it's not clear whether one is passing data with 1 feature of `len(data)` rows, or 1 row with `len(data)` features, which might lead to buggy code.  Do you think it's a better practice to specify it at the user's en

[2018-11-26 14:16] marrrcin commented on #3935
I've installed XGBoost from Spark Package (this method: https://docs.azuredatabricks.net/spark/latest/mllib/third-party-libraries.html#install-xgboost-spark-package) and only the following configuration worked for me:
XGBoost 0.8 with Spark 2.3.1
Other configurations:
* XGB 0.8.1 on Spark 2.3.1
* XGB 0.8.1 on Spark 2.3.0
* XGB 0.8 on Spark 2.3.0
Resulted in `error: object spark is not a member of

[2018-11-27 05:02] fizwit opened #3941 "PyPi metadata requires_dist issue"
pytables is in pypi metadata: requieres_dist but it is an incorrect package name.  Maybe it should be pytable.

[2018-11-27 10:14] lyxthe opened #3942 "Is the xgboost documentation wrong ? (early stopping rounds and best and last iteration)"
The xgboost documentation says that in the scikit-learn api wrapping xgboost, when early_stopping_round = x, the model will train until it didn't improve for x consecutive rounds then it "returns the model from the last iteration (not the best one)"

but when I test the predict of my model without precising ntree_limit parameter, it seems that it is in fact the best iteration that is used not the

[2018-11-27 12:38] githubhnw commented on #3894
Hello,

Issue still persists!

[2018-11-27 12:40] hcho3 commented on #3894
@githubhnw Please use the latest master.

[2018-11-27 13:11] githubhnw commented on #3894
@hcho3 Sorry, I'm using conda_python3 kernel, python 3.6 and latest git clone for xgboost and this error persists. What were you refering at when you commented "Did you generate the pickle file in a previous version?"? Thanks

[2018-11-27 13:12] hcho3 commented on #3894
Can you post the error message?

[2018-11-27 13:52] githubhnw commented on #3894
Yes. So, I'm downloading a model artifact of XgBoost Sagemaker with extension 'tar.gz' from S3 storage in Jupyter local and use the code below to open local file and unpack it :

import tarfile
import joblib
import xgboost as xgb

# Unpack model file

tar = tarfile.open("model.tar.gz", "r:gz")
for member in tar.getmembers():
     f = tar.extractfile(member)
     if f is not None:
         content

[2018-11-27 23:50] AlamiSimo commented on #1715
@gpetty  You sir are a true hero. Thank you!

[2018-11-28 02:01] hcho3 commented on #3894
@githubhnw Submitted #3944 to add the missing change.

[2018-11-28 04:50] hcho3 commented on #3921
@trivialfis I wonder if it has to do with the fact that XGBoost-R uses its own random generator. See #3781.

[2018-11-28 07:36] EDODz commented on #1715
@gpetty It works! THANKSSS :))

[2018-11-28 09:08] trivialfis commented on #3941
@fizwit Hi, can you show me a pointer to it?  I grep the whole repository and search https://pypi.org/project/xgboost/ without seeing a mention of it.  I'm not familiar with pip uploading process.
@hcho3 Is there anything related to pypi but not included in this repo?

[2018-11-28 15:01] alois-bissuel opened #3946 "[xgboost4j-spark] Checkpointing performance issue"
I just noticed a weird performance issue when using checkpoints in the Spark wrapper for XGBoost.
Before the first checkpoint, the learning time is constant per tree, but after the first checkpoint, the time needed to learn a new tree is much higher, and it grows with the number of trees.

Here is the parameter map used by XGBoost:
`Map(alpha -> 0.0, min_child_weight -> 1.0, sample_type -> uniform

[2018-11-28 19:30] pseudotensor commented on #3913
[distempty.zip](https://github.com/dmlc/xgboost/files/2626315/distempty.zip)

This issue never occurred until the recent xgboost updates in last few months.

[2018-11-28 19:40] pseudotensor commented on #3913
[distempty2.zip](https://github.com/dmlc/xgboost/files/2626345/distempty2.zip)

[2018-11-28 20:00] hcho3 commented on #3913
@pseudotensor We have multiGPU tests set up in Jenkins CI

[2018-11-28 20:19] EWouters opened #3947 "thrust::system::system_error on system with compute capability 3.0"
Hi,

I'm trying to run this code:
[code]

This produces an error:
[code]
because my system has a GPU with compute capability 3.0.

Is there a way to run the model on the CPU?

[2018-11-28 22:35] trivialfis commented on #3947
@EWouters
In short: Compile from master branch, set parameter `n_gpus` to 0.

Document for building can be found here:
https://xgboost.readthedocs.io/en/latest/build.html

Longer story:
By default XGBoost from pip is built with CUDA and will try to use GPU if it found one, but we later added option for running on 0 gpu (hence cpu) in #3878.  So you need to compile from master branch, then pass `'n

[2018-11-28 22:52] trivialfis commented on #3913
Similar changes are also applied to script contained in distempty.zip

[2018-11-28 23:05] pseudotensor commented on #3913
As I mentioned above, it works for n_gpus=1 or 2 but failed for 3 or 4.  Those arguments are not important.

[2018-11-28 23:34] hcho3 commented on #3913
@pseudotensor We are currently using P2.8xlarge instance (8 GPUs) for multi-GPU testing. See https://github.com/dmlc/xgboost/blob/master/tests/ci_build/test_mgpu.sh for the list of commands. As far as I know all of the 8 GPUs are used.

[2018-11-28 23:51] pseudotensor commented on #3913
Ok great.  Then should be able to reproduce the above with the available system.

[2018-11-28 23:54] hcho3 commented on #3913
@pseudotensor I'll try to reproduce it on my end using P2.8xlarge. If so, we'll need to add more tests. Multi-GPU testing is in its infancy, so it needs more coverage.

[2018-11-28 23:56] hcho3 commented on #3913
@trivialfis Do you have access to a machine with 4+ GPUs?

[2018-11-29 00:53] trivialfis commented on #3913
@hcho3 No.  If there's not too much traffic on Jenkins I will open a small PR for testing in a few days.

[2018-11-29 01:38] #3908 closed

[2018-11-29 01:46] bastia1989 opened #3949 "The loss function choice in parameter objective"
In short, does `binary:logistic` and `reg:logistic` use different loss function, i.e., objective function? I think for binary classification, that the loss function should be the sum of cross entropy across all samples, right? The same question for `multi:softmax` and `multi:softprob`. Do they only differ in the output (one outputs classes and the other gives probability)?

Meanwhile, see the [ans

[2018-11-29 01:49] FredYao opened #3950 "XGBoost-Spark got stuck with msg "tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, ...""
I was training a XGBoost model on a large dataset in Spark environment:
Parameters:
`
val xgbParam = Map("eta" -> 0.1f,
			"max_depth" -> 6,
			"objective" -> "binary:logistic",
			"num_round" -> 100,
			"colsample_bylevel" -> 0.7f,
			"tracker_conf" -> TrackerConf(0L, "scala"),
			"num_workers" -> 100,
			"nthread" -> 2)
`
Spark environment:
1000 nodes, each node has 8 cores and 8G total memory.

[2018-11-29 02:45] RayTsui opened #3951 "<jvm-xgboost> Tracker started, with env={}; ERROR RabitTracker: Uncaught exception thrown by worker: java.lang.InterruptedException; Caused by: ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed"
I made xgboost-spark pipeline and came across the following error:
====================**All log info**====================
Tracker started, with env={}
Tracker started, with env={}
Tracker started, with env={}
Tracker started, with env={}
[18:35:20] /Users/nanzhu/code/xgboost/src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 80 extra nodes, 0 pruned nodes, max_depth=6
[18:35:20] /Users/nan

[2018-11-29 02:47] CodingCat commented on #3950
number of rows, number of features?

[2018-11-29 06:51] david-waterworth commented on #3939
Thanks, yes I was using the wrong class!

Sent from my iPhone

[2018-11-29 07:16] KeruiZhu commented on #3949
I think the author means that reg:logistic use rmse.

[2018-11-29 07:56] #3939 closed

[2018-11-29 15:08] bastia1989 commented on #3949
Does that mean the cost or loss functions for `binary:logistic` and `reg:logistic` are different? If so, what's the point using `rmse` in logistic regression?

[2018-11-29 19:56] FredYao commented on #3950
The data set contains 1.9M records, each record has 6k features.
Originally, it has 30 features. After one-hot-encoding on some categorical features, it resulted in 6k columns. The XGBoost binary classifier accepts the 1.9M x 6K dataframe as its training set.

[2018-11-29 19:58] CodingCat commented on #3950
1.9M, 6K features, each iteration takes around 20 seconds to finish...I didn't see any abnormal thing here

[2018-11-29 21:02] pseudotensor opened #3953 "[BLOCKING] no CUDA-capable device is detected"
Regression as far as being able to use GPU compiled code on CPU system @RAMitchell   .  Is this fixed in your very latest commit about logging?

[nocuda.zip](https://github.com/dmlc/xgboost/files/2630853/nocuda.zip)

[code]

Even though tree_method='hist', still a complaint:

[code]

Still however it seems to continue running, despite what appears to be a fatal error.

[2018-11-29 21:07] EWouters commented on #3947
Thank you for your reply. I've tried this but I get a different error:

[code]
[code]
I've attached the .egg file that I compiled here: [xgboost-0.81-py3.6.zip](https://github.com/dmlc/xgboost/files/2630855/xgboost-0.81-py3.6.zip)

I used the steps from the [docs](https://xgboost.readthedocs.io/en/latest/build.html) to compile xgboost:

[code]

[2018-11-29 21:10] pseudotensor commented on #3953
FYI, this is sufficient:

[code]

[2018-11-29 22:35] gyz0807 opened #3954 "[jvm-packages] XGBoost was killed for no reason being displayed"
I'm running XGBoost on an AWS EC2 instance with 8 cores and 32g memory. My dataset is around 30g distributed into 60 .csv files. I wrote my codes in Scala and used distributed XGBoost with Spark to do the training. I've set setUseExternalMemory to True. My Spark settings are as below:
[code]
I've tried to increase driver memory and number of cores, but they still result in the same error.

My XGBo

[2018-11-30 01:54] hcho3 commented on #3953
Which commit ID did you use?

[2018-11-30 02:00] tqchen commented on #3916
Given that we already have a binary format. I think it is fine to just go ahead and support a json version. The two version are likely going to be sufficient

[2018-11-30 02:02] tqchen commented on #3916
For storing trees, my recommendation would be not storing them as nested data structure, instead store them as adjacency list just like the nnvm graph format. It should not hard to convert back and forth

[2018-11-30 02:03] hcho3 commented on #3916
@tqchen A prototype is available at #3930.

I'd like to hear your reasoning about using adjacency list instead of nested dictionaries.

[2018-11-30 02:31] trivialfis commented on #3947
@EWouters Thanks for taking your time to investigate.  Could you try the latest master branch?  The second error you encountered is addressed in #3878 and merged in daf77ca7b70b3d85666d3376c22bca33b8139f07 .

[2018-11-30 02:35] joegaotao commented on #3921
@hcho3 @trivialfis Yes, parameter `seed` is invalid in XGBoost-R and I have to use `set.seed()` globally before each run

[2018-11-30 03:00] trivialfis commented on #3916
@tqchen Can you elaborate a little bit on using graph instead of tree?

[2018-11-30 04:56] tqchen commented on #3916
The main reason for using adj-list instead of nesting tree is the ease for parsing and edit, because as the tree went deeper(say 20 depth), it is really visually see through the tree and do editing on them. Many of the visualization libraries also depend on the adj-list structure.

The general idea of adj list is that we mark nodes as ids, and record child id of each node. So we will have things l

[2018-11-30 05:05] tqchen commented on #3916
As you may have noticed the current in-memory data structure itself is already adj-list structure(with its cleft, cright field as integer), so it is actually easier to adopt this structure in json as well

[2018-11-30 06:36] tqchen commented on #3916
since the binary format is already compact, json format is mainly aimed at readability, so maybe we do not have to this specialization. Notably, having a clear field allows parsing from another language easy and readable(e.g. js). If we want to have a compact blob with json, just zip it or use binary format.

[2018-11-30 06:57] trivialfis commented on #3916
@tqchen In current prototype, the nodes from decision trees are stored in array, which means it's flat.

The main reason for introducing JSON format is make saving parameters easier.  The current binary form disallow changes in storing parameters.  And accroding to @hcho3 , endien is also an issue in binary format.

[2018-11-30 07:02] tqchen commented on #3916
The endian issue should be solved already if we store vector of floats, see https://github.com/dmlc/dmlc-core/pull/406

I totally support using json format, though I guess we might not need third party json libaries, dmlc/json.h might work just fine. See https://github.com/dmlc/tvm/blob/master/src/lang/reflection.cc#L398

[2018-11-30 07:11] KOLANICH commented on #3916
IMHO is compatibility: JSON libraries are present for almost every lang, so we get an almost free (in terms of programmer's effort) parser and serializer, but Kaitai is currently limited to some of the most popular languages and doesn't support serialization currently at all.

[2018-11-30 07:37] christabella commented on #1715
Strangely `conda install nomkl` didn't work for me (don't have `libiomp clang-omp` installed on Brew either), only
[code]
could work

[2018-11-30 07:46] hcho3 commented on #3916
@KOLANICH The named keys are essential to allow for future addition of parameters. For me, this is the by and large the most important motivation for using JSON for saving models. Compatness can be achieved by using binary encoding of JSON (to be added later).

@tqchen I'll look into using DMLC JSON parser.

[2018-11-30 16:10] rongou opened #3955 "[jvm-packages] running spark tests crashes the jvm"
I’m trying to build the jvm packages, but getting a jvm core dump while running tests.

Ubuntu 18.04
cmake: 3.13.1
maven: 3.5.2
jdk: 1.8.0_191
gcc/g++: 7.3.0

These are the steps I took:

[code]
Here is the log output.
[log.txt](https://github.com/dmlc/xgboost/files/2634065/log.txt)

[2018-11-30 16:19] rongou commented on #3955
BTW this only happens on my desktop with an i7-5820K (6 cores, 12 HT), but not on my laptop with an i7-7600U (2 cores, 4 HT). Wondering if it's some kind of threading issue.

[2018-11-30 17:11] #3950 closed

[2018-11-30 17:12] CodingCat commented on #3954
I don't think it's because XGBoost-*.....OOM Killer in the Operating system did the job

[2018-11-30 17:14] CodingCat commented on #3955
yeah  it's a known issue in some machines....you can compile with mvn package -DskipTests

[2018-11-30 17:14] tqchen commented on #3916
Minimum dependency is indeed important and I want to emphasize it. Because nothing is free and we need to make sure the project can be easily ported into various platforms. Most of json libraries assume schema-less model, which adds overhead. In our case, we do have a schema in the model, in which case dmlc's json parser is sufficient to do the job

[2018-11-30 17:15] tqchen commented on #3916
Given that format is something that will affect the usage quite a lot, maybe let us open an RFC on the json format proposal? We need to properly document it anyway @trivialfis @hcho3 thanks for taking lead in this

[2018-11-30 17:16] CodingCat commented on #3951
your local network configuration went off in some way

add resources/xgboost-tracker.properties file to your project with the following contents:

host-ip=0.0.0.0

[2018-11-30 17:17] #3935 closed

[2018-11-30 18:07] rongou commented on #3955
I see. Where do you think the problem is? In rabit?

[2018-11-30 18:38] RayTsui commented on #3951
Hi @CodingCat, I am so appreciated for your response. Actually, I was taking the following steps to make it runnable
1)
change
val xgbParam = Map(
  "tracker_conf"->TrackerConf(60 * 60 * 1000, "scala"),
  "num_workers"->4)
val xgbRegressor = new XGBoostRegressor()
  .setFeaturesCol("features")
  .setLabelCol("label")
to
val xgbParam = Map(
  "tracker_conf"->TrackerConf(60 * 60 * 1000, "scala"),

[2018-11-30 18:38] #3951 closed

[2018-11-30 18:40] gyz0807 commented on #3954
@CodingCat Thanks for pointing this out. I just tried to partition the data into 200 parts by doing this:

[code]

I re-run the codes and got a different error:
[code]

Is this still the OS OOM Killer issue?

[2018-11-30 19:07] hcho3 commented on #3954
Consider disabling memory overbooking: https://serverfault.com/a/142003.

[2018-11-30 20:10] SumNeuron commented on #1715
[code]

[2018-11-30 21:00] pseudotensor commented on #3953
c5f92df4754b91c6c5871621d3ecd5f3a704df45

[2018-11-30 21:00] pseudotensor commented on #3953
I'm going to try the latest with some logging fixes: a9d684db185b1e5ee5a0dd64b646b58da28e6b05

[2018-11-30 21:01] pseudotensor commented on #3953
Yes, seems to be fixed with @RAMitchell 's changes, at least when I run same thing as above.  Will close for now.

[2018-11-30 22:35] gyz0807 commented on #3954
@hcho3 It cannot finish writing the cache files if I disable the memory overcommitting. The error codes are as attached.

[code]

[2018-12-01 03:07] hcho3 commented on #3916
Sure, I’ll draft a RFC in next few days. I think I have a good idea about how to achieve the desired goals without introducing 3rd party dependency.

I will close this issue once the RFC is up.

[2018-12-03 08:59] wangzhilong opened #3958 "[xgboost4j-spark] version 0.8+, different with old version"
In latest version 0.82, can't find some function, like `XGBoost`、`XGBoostModel`, etc.

Replace, it's  `XGBoostClassifier`、`XGBoostClassifierModel`、`XGBoostRegressor`、`XGBoostRegressorModel`。

I feel more convenient with old Interface.

[2018-12-03 09:36] lyxthe commented on #3942
To be more precise, the documentation is quite inconsistent in the scikit-learn api section since the fit paragraph tells that when early stopping rounds occures, the last iteration is returned not the best one, but when call the predict and with ntree_limit specified, then ntree_limit is equals to best_ntree_limit.

Thus, when reading the fit part, one could think that it is needed to specify wha

[2018-12-03 10:03] xuchaoqun opened #3959 "Xgboost-spark unstable"
we use version 0.80, ‘XGBoostClassifier’ to train, ‘auc’ to evaluate, but if set ‘numWorkers’ > 1, the auc result is unstable(test several times with same params, the ‘auc’ result may be different, and not awalys different). if set ‘numWorkers’ = 1 and same params, the ‘auc’ result always same. I don't know why.

[2018-12-03 10:10] CodingCat commented on #3959
Read XGBoost KDD paper, it’s because of the approximate algorithm in distributed setting

[2018-12-03 10:10] #3959 closed

[2018-12-03 10:11] CodingCat commented on #3958
You can still use 0.72...

[2018-12-03 10:11] #3958 closed

[2018-12-03 14:48] kangkang59812 commented on #1715
thanks a lot, even though i dont know what is nomkl. It confused me a few days when i run a CNN-RNN model using tensorflow.When i used os.environ['KMP_DUPLICATE_LIB_OK']='True' , it worked, but the program run so slow.You got the right ans.

[2018-12-03 20:33] fizwit commented on #3941
I create automated software to update Python package versions and expect to find Python packages in PyPi. PyTables is a valid Python package name, but it is not in PyPi.  It must be downloaded from github. closing

[2018-12-03 20:33] #3941 closed

[2018-12-03 21:30] clinchergt opened #3960 "Large integers as split conditions not represented well in dumps"
If your split conditions are gonna be large integers, there is a big possibility they won't be represented correctly in a dump file. Curiously though, if you actually save the model in binary format it will get represented properly and will predict correctly. JSON and Text dumps are the problem.

## Minimal example

[code]

As you can see, the splits are all wrong in the json file. If you parse th

[2018-12-03 22:18] pseudotensor opened #3961 "linear test doesn't really use GPU"
https://github.com/dmlc/xgboost/blob/master/tests/python-gpu/test_gpu_linear.py#L19

This sets the updater to coord_descent, and I notice when doing tests on bigger data that the GPU has memory allocated but usage is very low during the test.  However, if I set updater to gpu_coord_descent, then the GPU memory is allocated *and* the usage is at least 30% or so for the otherwise identical run.

@RA

[2018-12-03 22:24] kevinykuo opened #3962 "xgboost4j-spark inconsistency in maxBin/maxBins param name"
Should the param name here really be `maxBins`?

https://github.com/dmlc/xgboost/blob/b53a5a262c74987d85c54fd3d41bc6d28e5e1d60/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/BoosterParams.scala#L158-L159

[2018-12-03 22:54] hcho3 commented on #3960
All split thresholds are stored as single-precision floats internally. So the issue is not confined to the dump function.

[2018-12-03 22:57] hetong007 opened #3963 "CRAN check warnings and notes for 0.71.2"
Check results for all platforms can be viewed at: https://cran.r-project.org/web/checks/check_results_xgboost.html

The warning happens on both Fedora and Debian with gcc with the following information:

The note exists on both Fedora and Debian with the following information:

Link to section 1.2.1.1 of 'Writing R Extensions': https://cran.r-project.org/doc/manuals/r-release/R-exts.html#OpenMP-su

[2018-12-03 23:07] RayTsui opened #3964 "[jvm-package]Execute xgboost pipeline, after setting "tracker_conf"->TrackerConf(60 * 60 * 1000, "scala"), the training process fails because of java.net.ConnectException: Connection refused (Connection refused)"
Following up with #3951, after executing pipeline, because I set
val xgbParam = Map(
      "tracker_conf"->TrackerConf(60 * 60 * 1000, "scala"),
      "num_workers"->4)
after waiting 1 hour, the training process fails with the following
[INFO] [12/03/2018 11:22:32.769] [RabitTracker-akka.actor.default-dispatcher-12] [akka://RabitTracker/user/Handler] Received shutdown signal from 1
[INFO] [12/03/2

[2018-12-04 01:56] clinchergt commented on #3960
That's interesting. How come I can save the model, load it, and have it evaluate the conditions properly? What else is going on here?

[2018-12-04 02:03] hcho3 commented on #3960
@clinchergt Beats me. We'll have to do some debugging here.

[2018-12-04 04:50] xuchaoqun commented on #3959
Thanks, but how can we set params to get a stable 'auc' result when use distribute train?

[2018-12-04 15:02] thvasilo commented on #3949
As far as I can tell from the [code](https://github.com/dmlc/xgboost/blob/84ab74f3a56739829b03161fb9c249f3a760a518/src/objective/regression_loss.h#L73) they are exactly the same.

I assume the purpose is to have them as a convenient way to report RMSE in the evaluation stage of the learning, but this should not affect the actual learning.

In other words,  I think the end model from running these

[2018-12-04 15:45] bastia1989 commented on #3949
Sounds quite reasonable. I need to try if forcing xgb.XGBClassifier to use `reg:logistic` and 'logloss' togeter will cause any difference.

[2018-12-04 16:59] clinchergt commented on #3960
@tqchen Any idea what's going on here?

[2018-12-04 23:00] RayTsui commented on #3964
Solution: when building spark pipeline, especially when you construct the pipeline with crossvalidation and GridSearchParam, you can not set the setParallism(4) for cv, for example, in #3951,
val cv = new CrossValidator()
  .setEstimator(pipeline)
  .setEvaluator(new RegressionEvaluator)
  .setEstimatorParamMaps(paramGrid)
  .setNumFolds(10)
  .setParallelism(4)

which should delete   .setParallel

[2018-12-04 23:00] #3964 closed

[2018-12-05 03:45] xuchaoqun opened #3966 "Parameter 'updater' inconsistent"
In doc https://xgboost.readthedocs.io/en/release_0.80/parameter.html, param 'updater'would be adjusted to grow_histmaker,prune, but in code,  updater only can be set as grow_colmaker,prune. why?
![image](https://user-images.githubusercontent.com/11348272/49488649-7ceace00-f882-11e8-8fb9-3e100af5a8fa.png)
![image](https://user-images.githubusercontent.com/11348272/49488701-b91e2e80-f882-11e8-9ec3-c

[2018-12-05 14:55] wguanicedew opened #3968 "updated filename from libdmlccore.a to libdmlc.a"
when trying to compile xgboost 8.1 with cmake. I got this error below.
In xgboost 8.1, it seems libdmlc.a is created, instead of libdmlccore.a in the old versions. But the install script is not changed, it's still using the old libdmlccore.a.

[ 95%] Built target objxgboost
Scanning dependencies of target runxgboost
[ 96%] Building CXX object CMakeFiles/runxgboost.dir/src/cli_main.cc.o
[ 98%] Link

[2018-12-05 16:54] hcho3 commented on #3968
Which "install script" are you using? The official documentation recommends using CMake directly:
[code]

[2018-12-05 16:58] cancermqiao opened #3969 "How to use monotone constraints in ml.dmlc.xgboost4j.scala.spark.XGBoost?"
Hi, all,
I have tried to pass it as a member of paramMap,like this:
[code]
But it doesn't work. My package version is 0.72.
HELP,PLEASE!

[2018-12-05 18:12] hcho3 commented on #3969
@CodingCat Does XGBoost4J-Spark support monotonic constraints?

[2018-12-05 18:13] CodingCat commented on #3969
no...`To use monotonic constraints, be sure to set the tree_method parameter to one of exact, hist, and gpu_hist.`....

[2018-12-05 18:13] #3969 closed

[2018-12-05 18:14] hcho3 commented on #3966
@xuchaoqun This was fixed in version 0.81: https://github.com/dmlc/xgboost/blob/release_0.81/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/GeneralParams.scala#L227

[2018-12-05 18:14] #3966 closed

[2018-12-05 18:15] hcho3 commented on #3969
@CodingCat Got it. For now, I will add a sentence saying that XGBoost4J-Spark doesn't support monotonic constraints.

[2018-12-05 22:34] chenqin commented on #3946
IMO, there were unnecessary reshuffle after each checkpoint. Is there any info around memory utilization?

[2018-12-06 00:34] hcho3 commented on #3963
@hetong007 The dmlc-core warnings should have been fixed by dmlc/dmlc-core#412.

[2018-12-06 01:32] CodingCat commented on #3946
@cq not true, extra shuffle happens for every 100 iterations in this case..

[2018-12-06 03:00] RAMitchell opened #3972 "Decision tree class refactor"
I propose a refactor of the regression tree class with the following objectives in mind:

- Reduce code complexity. This class is very complicated and difficult to understand/use for new contributors.
- Increase safety. It is very easy to get a segfault with the current class. With good encapsulation and object-oriented programming I believe misuse can be entirely prevented.
- Use this class on th

[2018-12-06 08:08] hcho3 commented on #3972
@trivialfis RFC will be up in a day. Sorry for the delay. I have been arranging a move to California lately.

[2018-12-06 10:52] alois-bissuel commented on #3946
@chenqin and @CodingCat , do you need any other "benchmark" ?

[2018-12-06 11:14] trivialfis commented on #3961
@pseudotensor You are right, will make a fix.

[2018-12-06 11:16] trivialfis commented on #3960
@hcho3 Is it possible the new JSON RFC take `dump_model` into consideration?

[2018-12-06 15:07] akina2016 opened #3973 "multi-classifications bug: Use loadModelFromHadoopFile to load the model to predict the same test set, the results are completely different"
Version information 0.72, model training, and load model prediction all use xgboost4j-spark, load model using loadModelFromHadoopFile
But all predictions F1 are 0, which is completely different from the test set when training the model（don't use loadModel, use train model direct prediction F1 is 0.99）, the mode obj is multi:softprob.  How to solve it?

[2018-12-06 15:53] akina2016 commented on #3973
There are bugs in 0.72 multi-classifications. All predictions of multi: soft Max are zero. When switching to multi: soft prob, they are normal and have normal predictions. But when multi: soft prob load model (xgboost4j-spark is used for training and model loading), all predictions are zero (same test set test). I don't know if it's a multi: software prob bug, or if there's a similar problem?

[2018-12-06 15:56] akina2016 commented on #3973
@tqchen , Please take a look at the above questions. Thank you

[2018-12-06 17:17] trivialfis commented on #3841
Simply copying the whole data would results in higher peak memory usage.  Copying data in `c_api.cc` by reading array stride will require python's header to build XGBoost ...

[2018-12-07 00:08] Bjvanminnen commented on #1715
My issues were completely unrelated to xgboost, but I got here via google so that I'd share for the sake of others.

I am using keras and matplotlib installed via conda. Setting `KMP_DUPLICATE_LIB_OK` just changed my experience from a warning to an exception/crash.  Install `nomkl` didn't change anything for me. Eventually I downgraded my version of matplotlib and that fixed things for me
`conda i

[2018-12-07 04:29] tbs17 opened #3977 "Suggestion on adding performance"
Hi there,

Thanks for sharing the script. I'm also working on a 5-class classification. The performance i get is unlike the binary classification above 80%. it's more like 50-60%. How about yours? how do you judge the performance? what metrics do you use? Thank you!

[2018-12-07 04:51] hcho3 commented on #3977
Did you mean to post it somewhere else?

[2018-12-07 06:25] bastia1989 opened #3978 "xgboost using single GPU with error XGBoost must be compiled with NCCL to use more than one GPU"
System info:

Debian 4.9.130-2 (2018-10-27)

cuda compilation tools, release 10.0, V10.0.130

xgboost: 0.81

python: 3.5.3

The code example:

    gbm_param_grid = {'learning_rate': [.01, .05, .075, 0.1, 0.3, 0.5, 0.75, 1],
                      'n_estimators': np.arange(10, 160, 10),
                      'subsample': [0.5, 0.7, 0.9, 1],
                      'max_depth': [3, 4, 5, 6, 7, 8, 9, 10

[2018-12-07 06:51] trivialfis commented on #3978
Let me look into this.

[2018-12-07 09:15] seven-xu opened #3979 "if support input a data dir for training data and eval data"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2018-12-07 09:19] hcho3 commented on #3979
Yes, you can simply specify the full path of the directory containing multiple LIBSVM/CSV files.

[2018-12-07 09:19] #3979 closed

[2018-12-07 09:53] akina2016 commented on #3973
Looking at the following source code, we found that numclass of XGBoost Classification Model in version 0.72 is fixed value 2, i.e. two classifications. It is not read from the model. This problem has not been solved since 0.8+. This bug has been fixed and read directly from the model. That is to say, loading and forecasting of Multi-Classifications model before version 0.72 will be problematic. W

[2018-12-07 09:55] hcho3 commented on #3973
@akina2016 In general, we do not back-port bug-fixes to older versions. Can you use 0.8+ instead?

[2018-12-07 09:57] seven-xu commented on #3979
if you mean i should use the jvm-package version, i use the shell dmlc_yarn.py now, can you give me a demo? thanks

[2018-12-07 09:59] hcho3 commented on #3979
Wherever a file name is to be specified for data files, you can put in directories.

[2018-12-07 11:31] seven-xu commented on #3979
it works by use the directory directly， i got the error because of i use the /xxx/*， thank you for my help！

[2018-12-08 04:45] hcho3 opened #3980 "RFC: JSON as Next-Generation Model Serialization Format"
# RFC: JSON as Next-Generation Model Serialization Format

1. Motivation: Why a new serialization format?
2. Proposal: Use JSON serialization to ensure backward and forward compatibility
3. Semantic versioning
4. Other benefits of JSON
5. Implementation of the proposal with DMLC JSON parser
6. Addressing potential objections
7. Appendix A: Full 1.0 Schema
8. Appendix B: Representation of missing v

[2018-12-08 04:47] hcho3 commented on #3916
Closing this now. The RFC document is available at #3980.

[2018-12-08 04:47] #3916 closed

[2018-12-08 06:41] trivialfis commented on #3980
I have a few more problems need to address, mostly related to parameters.  Introducing JSON is kind of part of the plan.  It won't have any conflict with current proposal(nice job).  Will add proper comments as soon as possible. :)  And it's really nice to have a organized RFC, it's much better than my original attempt.

[2018-12-08 07:33] KOLANICH commented on #3980
... and [CBOR](https://tools.ietf.org/html/rfc7049)

[2018-12-08 14:43] tqchen commented on #3980
@hcho3 can you please elaborate a bit more on how do we store the tree structure and give a minimum example?

[2018-12-08 15:55] hcho3 commented on #3980
@tqchen I’ll put up the full schema soon, and as part of that will describe how tree structures will be stored.

[2018-12-09 10:12] trivialfis commented on #3980
# Other models

Linear models are also supported, actually much easier than tree models.  And I have passion of adding new interesting algorithms.

# Deprecating (changing) parameter

RFC addresses adding new parameters explicitly.  But in reality we might deprecate parameters in the future due to deprecated feature of algorithms, duplicated parameters for different components (`n_gpus` and `gpu_i

[2018-12-09 12:13] trivialfis commented on #3978
@bastia1989

It seems XGBoost couldn't find any GPU on your system, the 0 in `(0 vs. 1)` means there is 0 GPU found.  Could you try to verify your CUDA installation?

[2018-12-09 12:14] trivialfis commented on #3978
We have not yet test XGBoost against CUDA 10.0.  Will try to do that later.

[2018-12-09 13:13] trivialfis commented on #3799
I tried to use `nvprof` and encountered the error on `cudaFree` from `CubMemory`, but `nvprof` works fine when XGBoost is not compiled with NCCL.  So this might be a multi-gpu problem and I'm not sure whether this problem is in XGBoost.
Actually even `cuda-gdb` crashes when running on multi-gpu settings, so I won't spend too much time on this ...

[2018-12-09 15:33] trivialfis commented on #3913
@RAMitchell This is again caused by having less data than number of GPUs.  One way to solve it is by moving `devices_ = GPUSet::All(param_.gpu_id, param_.n_gpus);` of every objectives  from `Configure` into both `GetGradient` and `PredTransform`.  Another way is we start planing a global devices manager which can take **all** DMatrix including the ones from `training`, `eval_set` and `predict` int

[2018-12-09 15:39] bastia1989 commented on #3978
Thanks for the reply. Yes, I am using a gcloud instance created from the latest image so with the latest CUDA . The GPU device is K80.

[2018-12-10 02:52] anuragreddygv323 opened #3981 "Instance weights for learning to rank"
I am training a learning to rank model with label, group id, query id and features

my objective is to maximize rank:ndcg@10.

I want to give weights for each label while training in dataframe instead of Libsvvm format.

How can I give it ?

[2018-12-10 03:46] RAMitchell commented on #3913
@trivialfis You could do the first for a quick fix, the second for a long-term fix. I will leave it up to you.

[2018-12-10 06:58] hcho3 commented on #3980
@trivialfis I like the idea of complete snapshot, having performed a messy hack to preserve GPU predictor parameters (#3856). That said, we want to do it in a way that minimizes the boilerplate code. I will re-read your comment when I complete the draft for 1.0 schema. Mainly, I'm documenting what's currently being saved.

[2018-12-10 07:00] hcho3 commented on #3980
@trivialfis Also, I used to be afraid of saving more things into the model, because of future maintenance liability caused by binary serialization. I may be more comfortable now with saving everything, now that JSON serialization could forestall compatibility headaches.

[2018-12-10 07:43] KOLANICH commented on #3980
IMHO we should make XGBoost save itself its hyperparams and columns names keeping their order (with possibility to discard them and use integers (starting from 0) without model reloading). But I still insist on keeping data strictly schemed, no arbitrary stuff should be saved there, since it would cause bloat.

[2018-12-10 07:54] hcho3 commented on #3980
@KOLANICH I'm not so sure about that, since column names and types are external to the core C++ codebase. So far, we've had Python / R / Java wrappers to save these information.

[2018-12-10 08:30] trivialfis commented on #3980
@KOLANICH @hcho3

It's a viable suggestion that we manage all this in C++, this may lead to a cleaner data management.  But that's a topic for another day since we have to first implement this management code then implement IO.  Adding this feature later won't bring too many hassles since we will have a very good backward compatibility as explained by @hcho3 .  A new issue might be desired after t

[2018-12-10 10:33] hcho3 commented on #3980
@trivialfis @tqchen I've uploaded the full schema as a PDF attachment.

[2018-12-10 10:37] hcho3 commented on #3980
I may want to put up the schema doc in a GitHub repo, so that we can update the LaTeX source upon every schema update and have it automatically compiled into PDF.

[2018-12-10 10:44] hcho3 commented on #3980
@trivialfis The PDF doc didn’t address your suggestion. Can you take it look and see how the complete snapshot idea can be implemented?

[2018-12-10 11:59] trivialfis commented on #3980
@hcho3 If you put the doc in a GitHub repo I can make PRs.  Then you can comment on my changes. :)

[2018-12-10 17:32] tqchen commented on #3980
Let us just use markdown for documenting schema, it should be in docs eventually

[2018-12-10 20:00] KOLANICH commented on #3980
I really meant arbitrary stuff there. For example weather on Venus or full multi-GiB dataset. If we allowed devs to do such things effortlessly, they would do it and  this would result in heavily bloated model files.

Why not to use JSONSchema? It is a machine-readable spec, it can be automatically validated, and it can be rendered into documentation, including a nice interactive one.

[2018-12-10 21:09] KOLANICH commented on #3980
Yes, we cannot. But we can discourage users to store their arbitrary data by avoiding providing API for adding and editing them. So if he wants to do it, he has to parse the resulting blob and add them manually and serialize back, so it may be easier for him to store them in a separate file.

[2018-12-11 00:49] clinchergt commented on #3960
Any news regarding this? As of now, this makes dumps pretty unreliable.

[2018-12-11 04:03] trivialfis commented on #3960
@clinchergt There's an ongoing discussion on using JSON to represent XGBosst's state, will get to this once finished.  I want to remove to old separated model dumping.

[2018-12-11 05:15] khotilov commented on #3960
@clinchergt You are hitting the limits of single precision floats here (see the example below). Feature values and splits are stored as floats, so while int 20180130 gets converted to float 20180130, int 20180131 is converted to float 20180132, and the comparison would still (luckily) work for these specific numbers when comparing floats to floats.

Shifting from 20XX into the two-digit XX year ra

[2018-12-11 07:48] purviprajapati196 opened #3985 "Regarding XGBoost for Multi-Label Classification Problem"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2018-12-11 07:49] purviprajapati196 commented on #3985
Could we apply XGBoost on Multi-Label Classification Problem?

[2018-12-11 07:59] hcho3 commented on #3985
@purviprajapati196 Can you look at #3860 ? I'm going to close this for now.

[2018-12-11 07:59] #3985 closed

[2018-12-11 08:14] purviprajapati196 commented on #3860
kindly inform me is it applicable to multi-label domain or not.

[2018-12-11 08:24] #3940 closed

[2018-12-11 08:59] trivialfis opened #3986 "Tracking deprected features."
|  Feature                                                 | PR(or time)|                                                             | Removed |
|----------------------------------------------------------|------------|-------------------------------------------------------------|----|
| GPU Objectives.                                          | #3643      | Now all objectives having GPU port will

[2018-12-11 09:03] trivialfis commented on #3986
Inspried by @thvasilo in #3929.(Thanks)  Lets keep track of deprecated features here.  Great chance that I missed something, anyone who notice please help adding it back. :)  @hcho3  Please help filling the `??` if it's still possible (please don't spend too much time on it, it's deprecated), otherwise I will summit a PR to remove everything that loss track.

[2018-12-11 10:13] hcho3 commented on #3980
@tqchen I've typeset the schema in RST: https://xgboost-json-schema.readthedocs.io/en/latest/

@trivialfis You can submit a pull request at https://github.com/hcho3/xgboost-json-schema

[2018-12-12 03:48] zongyaozhang opened #3991 "A fatal error for count:poisson"
I am using ml.dmlc.xgboost4j-spark.0.72 for my spark codes in windows intellij environment.
Now, when I use count:poisson objective with the following parameters, I encounter a fatal error when prediction.
Parameters: rmse:evalMetric, tracker:scala, round:1, booster type: gbtree, eta:0.3, gamma:0, max depth:6, subsample:1, others keep default.
The behaviors is that success in build model(fit), but

[2018-12-12 09:31] hcho3 commented on #3980
Update: See hcho3/xgboost-json-schema#3 for a discussion on serializing a more complete snapshot of XGBoost.

[2018-12-12 10:53] PaoloCordella opened #3992 "Constraints in the features contribution calculation?"
Hi,

Is there a way to enforce constraints in the features contribution calculation resulting from predcontrib = TRUE in predict function? (for example to enforce some features to have positive contributions)

Please note I’m already using monotonicity constraints in the xgboost training.

Thanks

[2018-12-12 17:15] collinscangarella opened #3993 "Spark XGBoostClassificationModel transform doesn't work with Structured Streaming"
**Environment Info**
jvm+spark, version 0.8.1

**Steps to Reproduce**

1. Train a XGBoostClassificationModel and then pass a streaming DataFrame to model.transform().
2. This error occurs:

[code]

I'm aware of [this issue](https://github.com/dmlc/xgboost/issues/3382) - which has a slightly different stack track and is for the XGBoostModel instead of the XGBoostClassificationModel. The problem is

[2018-12-12 23:06] vss888 commented on #3045
Trying to call `bst.__del__()`, I get an exception:

I run my models with `{'predictor':'cpu_predictor'}` (including, due to issue [3756](https://github.com/dmlc/xgboost/issues/3756)), and so would like to free GPU memory as soon as training is finished. This way I would be able to test more hyper-parameter sets in parallel.

[2018-12-13 02:17] hcho3 commented on #3992
I don’t think it is supported

[2018-12-13 03:15] trivialfis commented on #3980
Let me try to keep the threads together.  Copied from https://github.com/hcho3/xgboost-json-schema/issues/3 .

Before I start working on it, please consider deprecating the current way of how we save the model.  From the specified schema, JSON file is a `utf-8` version of current binary format.  Can we open up the possibility of introducing a schema that match the complete XGBoost itself rather th

[2018-12-13 03:17] trivialfis commented on #3980
@hcho3 @KOLANICH @tqchen @thvasilo @RAMitchell Can you take a look if time allows?

[2018-12-13 14:41] clinchergt commented on #3960
@khotilov Yes, that is exactly the problem. I've stated as much in the OP. However, what confuses me, is that xgboost itself does evaluate it properly, but when dumping the values, since it uses floats, this issue happens.

Is xgboost internally using `int` for integer thresholds?

[2018-12-13 17:05] rongou opened #3996 "[jvm-packages] Upgrade spark to 2.4.0?"
Some of the features in Spark 2.4 might be useful for xgboost4j-spark (e.g. barrier mode). Can we upgrade the dependency to 2.4.0? I tried it with https://github.com/dmlc/xgboost/pull/3990 and everything seems to work, not sure if anything else is needed.

[2018-12-13 18:03] collinscangarella commented on #3993
I read a bit more about 3382 and realized that it is the same issue as this. I assumed that the PR referenced in the issue fixed the underlying problem - but after digging through the PR I realized that it only provides a workaround. As it doesn't document the workaround I wanted to include it here in a comment before closing this issue.

XGBoost4J-Spark doesn't support structured streaming. Any c

[2018-12-13 18:03] #3993 closed

[2018-12-14 02:03] KOLANICH opened #3998 "Use crossvalidation for early stopping"
In `cv`: split validation part in 2 parts, use 1 part for validation and another for early stopping for each fold, then switch. Collect the data in process. Return the median count of trees learning has stopped and compute the error as usual.
In `train`: split training datasets in n folds, then train using each fold for early stopping, compute median of count of trees the learning has stopped acro

[2018-12-14 07:01] khotilov commented on #3960
Since internally it uses float features and thresholds, it sees everything at single precision during training and during evaluation. When you would convert data to float first, and then apply the parsed model to it, you would get correct predictions.

If an R example would help more than C++, here's one:
[code]

[2018-12-14 08:30] hcho3 commented on #3942
Fixed in #3967.

[2018-12-14 08:30] #3942 closed

[2018-12-14 08:33] hcho3 commented on #3986
Let's discuss whether `num_roots` should be kept or not. I think it is not documented and experimental and should be deprecated. Already, I decided not to support it when I first wrote `hist` updater.

[2018-12-14 08:34] #3977 closed

[2018-12-14 08:34] hcho3 commented on #3977
Closing for now

[2018-12-14 11:18] trivialfis commented on #3986
@hcho3 I tried to find out what it does.  It turns out `num_roots` is not documented.  Is there any reference for it?

[2018-12-14 13:08] tbs17 commented on #3977
Sorry for late responding! You can either post it in the same script or
start a new script. It would be great if you can also post about how to
turn parameters to get good performance. Thank you!

On Thu, Dec 6, 2018, 11:52 PM Philip Hyunsu Cho <notifications@github.com
wrote:

[2018-12-14 14:20] trivialfis commented on #3977
@tbs17 Hi, this thread is from XGBoost.  Are you sure you are replying in the correct thread?

[2018-12-14 14:43] trivialfis commented on #3968
@wguanicedew Any updates?

[2018-12-14 16:31] wguanicedew commented on #3968
Hi,
I found the issue is on our code. I made it work.
Thanks. I will close this one.

[2018-12-14 16:31] #3968 closed

[2018-12-14 21:44] ShivamMukherjee opened #4000 "[jvm-packages] NoClassDefError for javax/tools/ToolProvider"
**System**
Windows 10.0.17134
`xgboost.dll` successfully compiled with MSVC Compiler.

**Log**
[code]

**Reproduce with**
[code]

The default maybe_generator in `create_jni.py` (line 83 for me) has been changed to the required version, `-G"Visual Studio 15 2017 Win64"` before proceeding with the maven install command. Successful completion before "Building Java Wrapper" has been omitted.

[2018-12-14 21:53] tqchen commented on #3986
I think it is fine dropping them, but let us also keep the backward compatibility in mind. It might be useful to first introduce json exchange format, and then allow upgrade via json

[2018-12-14 23:40] hcho3 commented on #3986
Just found out that ``TreeParam.max_depth`` is never set and never used:
https://github.com/dmlc/xgboost/blob/3d81c48d3fa9a2a2ceb0d7388d3ac1436af7d8ee/include/xgboost/tree_model.h#L34

This field is different from the ``TrainParam.max_depth``, which is given at
https://github.com/dmlc/xgboost/blob/42bf90eb8fbcda2fac494c43bc326c7ca1d254d0/src/tree/param.h#L29

Every occurrence of ``max_depth`` refe

[2018-12-15 07:31] trivialfis commented on #3986
@hcho3 I'm only tracking the features that's **already decided** to be deprecated here,  so that we can have a time frame for removing those code, as you can see some of them are really old and still lingering.

Let's move whether some other features needed to be deprecated into new issues. :)

[2018-12-15 07:35] trivialfis commented on #3978
@bastia1989 I'm afraid that you might have to wait for a while before I can get to this or you can try if CUDA 9.2 is possible.  I'm currently trying to tackle a mutli-gpu bug #3984 .  Until I get that done I don't want to upgrade to install CUDA 10 since making CUDA work for me is always been a tricky task.

[2018-12-15 20:57] hcho3 commented on #3986
@trivialfis

Got it. I'll file a new issue to deprecate `TreeParam.max_depth`.

Turns out `XGDMatrixCreateFromCSC` is indeed deprecated, in favor of `XGDMatrixCreateFromCSCEx`.

[2018-12-17 07:00] jake221 opened #4003 "xgboost 0.47 g"
![xgboost0 47 fi4 2](https://user-images.githubusercontent.com/18079288/50071365-7f4b1180-020c-11e9-9f2c-952c88c7b78d.PNG)

[2018-12-17 07:04] jake221 commented on #4003
Hi,
I was trying to import xgboost plugin into our products of our company. Considering the restrict of the glibc version of our environment, we import a very old version of xgboot 0.47. However, it still failed because the glibc of our environment is too low (gcc 2.11.3, suse linux). And I want to ask what is the minimal glibc version for xgboost 0.47. GLIBC 2.15 as described in the logs?

[2018-12-17 09:04] hcho3 commented on #4003
0.47 version is very old, so you won't be able to get a good answer here. Consider statically linking a libc library. I heard good things about [musl](https://www.musl-libc.org/)

[2018-12-17 09:05] #4003 closed

[2018-12-17 09:09] hcho3 commented on #3981
You can specify a weight column using `setWeightCol ()`: https://github.com/dmlc/xgboost/blob/1c08b3b2eaf356a448c156271c394692dc698065/jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostRegressorSuite.scala#L118

[2018-12-17 09:09] #3981 closed

[2018-12-17 09:10] hcho3 commented on #3992
Current implementation of monotonicity constraints only ensures that the target variable is monotonic. No guarantee exists for feature contributions.

[2018-12-17 09:10] #3992 closed

[2018-12-17 16:42] FredYao opened #4004 "Is there a way to train multiple xgboost models in parallel?"
Use case: a large dataset contains hundreds of users' data. Each user has millions of records showing their daily activities. For each user, I need to train a XGBoost to predict how this particular will behave on an incoming request.
So I have done the following operations:
`
...
val userIdList = rawData.select("userId").distinct
userIdList.foreach(
    userId => {
          val userData = rawData

[2018-12-17 16:43] KOLANICH opened #4005 "Strange behavior of cox:nlog-lik"
When testing XGBoost-powered `lifelines` I saw a strange effect: better  (in the sense of the loss used) hyperparams give worse Harrell concordance.
https://gist.github.com/KOLANICH/99726a2d653168ea77aec9a9b368965f#file-xgboostsurvivalregressionstrangeness-ipynb

the first hyperparams were found with 30 iterations of an optimizer (UniOpt with MSMRM backend), the second ones are found with 10000 it

[2018-12-17 18:18] CodingCat commented on #4003
@jake221 you need at least 2.12 (which has been a very old version) . if you can get glibc 2.12, you can use the latest version (0.81)

@hcho3 good headshot!

[2018-12-17 18:54] slundberg commented on #4005
You would hope that the best cox loss also gave a very good C-index, but they are different metrics so I would not be surprised to see some differences. If there was a large loss improvement and/or a large C-index reduction then I would be concerned, but small differences likely just reflect the difference between a rank based ordering score and a cox partial likelihood.

[2018-12-17 21:07] KOLANICH commented on #4005
Is 8% large enough?

[2018-12-17 21:11] slundberg commented on #4005
hard to say, that does seem non-trivial. If I were debugging it I would start by comparing to the results from the original gbm R package and see if it does something similar.

[2018-12-18 19:40] #4005 closed

[2018-12-18 21:49] Craigacp commented on #4000
What JVM are you using to compile it? It's at least Java 9, but is it 9, 10 or 11?

[2018-12-18 22:19] #3998 closed

[2018-12-18 22:37] KOLANICH opened #4006 "Document num_parallel_tree"

[2018-12-18 22:53] KOLANICH opened #4007 "Document load_rabit_checkpoint, save_rabit_checkpoint better"
* [ ] add some words about what exactly it does and about use cases.
   <details>
   <summary>For example I wonder if it is suitable for crossvalidation:</summary>I may want to fit hyperparams for each tree separately and sequentially: fit hyperparams for the first tree, fit the first tree, freeze it, find hyperparams for the second tree above it, fit the second tree, freeze 2 first trees and star

[2018-12-19 03:44] ShivamMukherjee commented on #4000
Ah, I completely forgot... should've used a template. ('._.)
It's JDK 11.0.1.

[2018-12-19 08:20] trivialfis commented on #4006
I have never tried boosting forests.  Thanks for bringing it up.  Will look into this in the future.

[2018-12-19 09:44] lyhue1991 opened #4009 "slice method of xgboost.DMatrix will change feature_names."
I find when use the slice method of xgb.DMatrix , the output DMatrix will change feature_names.
This behaviour is very strange. I think it should be fixed.

[code]
the results is like this:

[2018-12-19 09:59] priyakhokher opened #4010 "Xgboost : softmax and softprob probability scores"
First of, clearing that in Spark-ML package, after transforming a test data with 2 classes [say 0 and 1], the probability column produces 2 columns, [in the following fashion: https://github.com/apache/spark/blob/fbc269252a1c99e04bd08906ad8404c031e9a097/mllib/src/main/scala/org/apache/spark/ml/feature/StringIndexer.scala#L59-L76].

So my data has more number of 1-classes than 0-s and the probabili

[2018-12-19 12:15] hcho3 commented on #4009
Which version of XGBoost are you using?

[2018-12-19 12:59] lyhue1991 commented on #4009
@hcho3

0.80

[2018-12-19 13:52] Craigacp commented on #4000
Adding
[code]
To the bottom of the scala-maven-plugin config fixed it for me on Linux. I don't have easy access to a configured Windows box to check it on that platform, but I suspect this will be sufficient.

[2018-12-19 14:01] hcho3 commented on #4009
The bug has been already fixed. You should upgrade to version 0.81.

[2018-12-19 14:01] #4009 closed

[2018-12-19 14:02] hcho3 commented on #3689
@abhinavm24 The code was only valid for version 0.72

[2018-12-19 14:11] abhinavm24 commented on #3689
Sorry, I intended to say how you created the bridge class to import the local model and score it in spark.

[2018-12-19 14:24] abhinavm24 commented on #3689
Sorry, @hcho3. I intended to say, how you created the bridge class to import the local model and score it in spark.

[2018-12-20 06:58] ShivamMukherjee commented on #4000
Apparently previously I had added this detail well nested under `maven-site-plugin`, having mistaken its `<reportPlugins>` version of `scala-maven-plugin`.

Seems like the build has started. I'll close this for now.

[2018-12-20 07:02] ShivamMukherjee commented on #4000
Haha, doesn't seem to be leaving me (without of course using one of the pre-built JARs) 😛

[code]

[2018-12-20 07:41] yayawcx opened #4012 "OSError: xgboost/libxgboost.so: ELF file OS ABI invalid"
Error message:

/home/work/.jumbo/lib/python2.7/site-packages/sklearn/externals/joblib/_multiprocessing_helpers.py:28: UserWarning: This platform lacks a functioning sem_open implementation, therefore, the required synchronization primitives needed will not function, see issue 3770..  joblib will operate in serial mode
  warnings.warn('%s.  joblib will operate in serial mode' % (e,))
Traceback (mo

[2018-12-20 08:01] trivialfis commented on #4012
@yayawcx  Can you please provide the following information:
- OS Platform, including CPU architecture(x86-64 or i686), name of distribution, libc version. (Is it in docker environment? )
- XGBoost version.
- How did you install XGBoost? (pip, conda, compiling from source or something else).

[2018-12-20 11:45] haolujun opened #4014 "Is xgboost C++ api thread-safety?"
I will use c++ api in my project,I only use xgboost  load model from file on my disk and predict(predict request from other servers). When I read the xgboost code, I found a some comment said that "not thread-safety", is really like this ?

[2018-12-20 11:51] trivialfis commented on #4014
No, XGBoost is not thread safe,  and I'm afraid that's not something can be achieved in recent future.

[2018-12-20 13:42] Craigacp commented on #4000
Bump the jacoco-maven-plugin version to 0.8.2. That has support for Java 11 class files.

Then you get an error out of scalatest which I think requires bumping everything in the stack up beyond Java 9, and I'm not sure how to do that (see https://github.com/plasma-umass/doppio/issues/497). I tried to bump the class file version to Java 9, but that caused a different error in ScalaTest (because it

[2018-12-20 14:09] ShivamMukherjee commented on #4000
... But I did skip the tests 😱

[2018-12-21 01:36] sshrdp opened #4016 "Infrequent feature causes a crash during distributed training"
Using XGBoost4J-Spark bindings, I'm trying to train a model with one-hot encoded categorical features.
I think if one of the workers don't get any example with a particular feature it will cause a crash.
This is the error log:
Last 4096 bytes of stderr :
terminate called after throwing an instance of 'dmlc::Error'
  what():  [23:09:55] /xgboost/include/xgboost/../../src/common/span.h:402: Check fa

[2018-12-21 03:06] #4014 closed

[2018-12-22 21:41] esvhd commented on #1715
For people googling this error, the best solution that I found is listed [here](https://blog.csdn.net/Jimmyzqb/article/details/83017650).

The site lists two method. I prefer method 1, which is to go into your `anaconda3/lib` directory and remove the old `libiomp5.dylib` file. Nice and simple.

[2018-12-23 13:56] joegaotao opened #4017 "Tree is not input scale invariant for simple X transformation?"
Theoretically, tree is invariant for X simple transformation, such as "a * X - b". However, I do some simple tests, and I surprisingly found different version xgboost has different odd behavior, simple transformation will lead to different results. Here is the R code:

xgboost 0.71.2, change `X` to `X - 8`
[code]
R sessionInfo()

[code]

xgboost from master compilation, 0.81.0.1, change `X - 8` to

[2018-12-24 03:55] trivialfis commented on #3921
Reopening.  We will look into this eventually.

[2018-12-24 16:34] vss888 opened #4018 "GPU memory is not released after training with {'predictor':'cpu_predictor'}"
It seems reasonable to claim that there is no justifiable reason not to **release GPU memory after training if xgboost is used with `predictor='cpu_predictor'`** (please, correct me if I am wrong), and so I was wondering if you could, please, put it on the list of features to be implemented.

It would make the process of hyper-parameter optimization much more efficient since the bottle neck (at le

[2018-12-24 17:53] trivialfis commented on #4018
@vss888 This requires us to design and implement a global GPU memory management system inside XGBoost, which is never a trivial thing to do, especially when memory can be distributed across multiple GPUs.  Alternatively we add a `ReleaseMemory` method to every components inside XGBoost, which is definitely not preferred with such amount of boilerplate code.

The methods used in deep learning frame

[2018-12-24 18:04] trivialfis commented on #4018
I tried to see how bad the situation is in master branch,  with a dataset of shape (200000, 3000), taking up 2GB GPU memory during training, but with only 159 MB left after deleting trained model (in Python `del model`).  Are you sure that your bottle net lies in memory usage?

[2018-12-24 18:33] vss888 commented on #4018
@trivialfis Plus, I can not delete a model until all the predictions are finished, and so the GPU memory would remain allocated.

One possible solution would be to create a `def release_gpu_memory(self, model)` in python, which would simply create a new model with `predictor='cpu_predictor'` and then somehow enforce deletion of the old model.

[2018-12-25 00:30] KOLANICH opened #4019 "xgboost generates incorrect models depending on amount of data nd free memory"
The situation:
Let we have a large `pandas.DataFrame`, and we have already tuned hyperparams. We `sample` that DataFrame and train and save the model. Beginning from some amount of lines the resulting models start returning `nan`s.

[2018-12-25 11:08] junmeiW opened #4021 "How to do survival analysis(including calculate the survival rate) using R-xgboost？"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2018-12-25 12:30] trivialfis commented on #4006
That was fun. :)

[2018-12-25 14:01] #4006 closed

[2018-12-25 14:01] trivialfis commented on #4006
Address in  #4022.

[2018-12-26 08:12] joegaotao opened #4023 "booster = 'dart' doesn't utilize GPU to speed up?"
I did some simple test in R with lasted master compilation, and I found when I set `booster='dart'` although GPU device was initialized, `Volatile GPU-Util` showed that GPU didn't run. `booster='gbtree'` run successfully.

R code
[code]

R info

[code]

[2018-12-26 08:54] trivialfis commented on #4023
Will prepare a fix soon, thanks.

[2018-12-26 20:08] FredYao opened #4025 "RabitTracker reported 'assertion failed'"
When I was training a XGBoostClassifier, I got the following errors reported by RabitTracker. Does anyone have idea about the errors? Thanks!

XGBoost version: 0.81
Spark version: 2.3.0

XGBoost param:
[code]

[ERROR] [12/26/2018 11:57:24.494] [RabitTracker-akka.actor.default-dispatcher-3] [akka://RabitTracker/user] assertion failed
java.lang.AssertionError: assertion failed
	at scala.Predef$.asse

[2018-12-27 00:09] FredYao opened #4026 "XGBoost training failed "postTrackerReturnProcessing(XGBoost.scala:364)""
Training a XGBoost classifier using Spark on a 20G dataset with 20 columns. But I failed to run successfully. Did anybody have idea about the errors? Thanks!

XGBoost version: 0.81
Spark version: 2.3.0
XGBoost param:
[code]
The application was submitted to a cluster:

` ./bin/spark-submit --master yarn --deploy-mode client --queue spark --num-executors 1000 --executor-cores 1 --executor-memory 4g

[2018-12-27 00:12] CodingCat commented on #3962
no, we need to respect xgboost native layer (https://xgboost.readthedocs.io/en/latest/parameter.html) to make a correct conversion between underscore-style and camel case

[2018-12-27 00:12] #3962 closed

[2018-12-27 16:49] #3973 closed

[2018-12-27 17:01] trivialfis commented on #3991
@zongyaozhang Have you tried the latest version?   If the failure, could you please describe your dataset like shape, sparsity?

Hopefully the error didn't come from distributed code.

[2018-12-27 17:05] trivialfis commented on #4017
I will try to reproduce it in Python when time allows.

[2018-12-27 17:08] trivialfis commented on #4004
I don't know anything about scala, may I assume the `foreach` is the entry point of spawning threads?

XGBoost is not thread safe, on Python I would try multi-processes instead.

[2018-12-27 17:15] trivialfis commented on #3978
@bastia1989 Compiled from source with CUDA-10 and passed the tests.  I guess there's something funny in CUDA's ABI.  Until we have CUDA-10 on test farm I think compiling from source is required.

[2018-12-27 17:15] #3978 closed

[2018-12-27 17:21] trivialfis commented on #4019
@KOLANICH I don't really understand the procedure you described.  Can you show me a code snippet?

[2018-12-27 20:42] KOLANICH commented on #4019
No, I have not modularized it into a snippet yet. And I'm sure that it is useless: the issue depends on amount of free RAM. Less free RAM - less the amount of rows resulting into a correct model. The lib and app doesn't crash, but the models trained are degenerate: trees in them are stumps returning `nan`.

[2018-12-28 02:20] pseudotensor commented on #3953
Actually this still occurs for gblinear, e.g. when model is:
[code]

And one runs python with CUDA_VISIBLE_DEVICES= python, then get this message for every gblinear iteration.

[2018-12-28 04:02] joegaotao commented on #4017
I test in python 3.5.2 with xgboost 0.81
[code]

[2018-12-28 08:45] trivialfis commented on #4017
@joegaotao Thanks!  Will look into this at weekend. :)

[2018-12-28 09:33] trivialfis commented on #4017
@joegaotao You need to scale the prediction dataset.

[2018-12-28 09:35] trivialfis commented on #4017
@joegaotao
Here:
```pred2 = bst2.predict(dtest)```
`dtest` needs to be scaled accordingly.

[2018-12-29 03:01] trivialfis commented on #3953
@pseudotensor I can't reproduce the error.  Reading the back trace seems weird to me, since such an exception should be caught in:
https://github.com/dmlc/xgboost/blob/15fe2f1e7cb1db4236429879faed59a4bac308b1/src/common/common.cu#L14
and return empty device set.

[2018-12-29 04:00] chenqin commented on #4025
Hi @FredYao,

Can you post value of

- spark.task.cpus
- spark.executor.cpus
- spark.executor.instances

AFAIK, the assertion might assume there are enough number of spark tasks can run in parallel should be >= numWorkers.
Meanwhile, I noticed you use scala tracker which has been out of maintenance for a while. Can you give a try to python tracker and see if problem still reproducible?

cc @Coding

[2018-12-29 06:22] haolujun opened #4030 "How to close OPENMP"
HI :
   I want to close open_mp when compile C++ code,  and  run "make config=make/minimum.mk", compile failed, the information as follow:

[code]

[2018-12-29 07:16] trivialfis commented on #4030
@haolujun If `close` means `disable`

@hcho3  I'm afraid openmp is a hard dependency now.  So far I haven't seen any checks against using `OpenMP`.

[2018-12-29 07:45] haolujun commented on #4030
Got it！ Thanks！

[2018-12-29 08:03] trivialfis opened #4031 "Remove makefile from documentation."
Currently the makefile are only preserved for CRAN build (correct me if I'm wrong).  So as long as the build is not CRAN related, we can omit those makefiles, and possibly the `build.sh` on top level source tree.  Can me at least drop those instructions from documentation?

[2018-12-29 08:18] trivialfis commented on #4019
@KOLANICH I'm not convinced that this is related to free ram.  There's no RAM checking operations in XGBoost so everything is handled by your OS's kernel and libc, and on modern OS this is not visible to user application, not even using SWAP area.

My speculation is on your particular dataset, which might be causing overflow.

[2018-12-29 09:11] trivialfis opened #4032 "Move linter to Jenkins."
Currently the linter is a good hack, but not reliable due to the fact that clang-tidy doesn't deal well with CUDA source code.  On Travis our linter script renames all cu files into cc files and perform clang-tidy checks, which leads to incorrect results, see the end of:

https://travis-ci.org/dmlc/xgboost/jobs/473251478

Now we have CUDA runtime on Jenkins thanks to @hcho3 , where we can use clan

[2018-12-29 09:46] KOLANICH commented on #4019
I mean if it can be somewhere allocattor throws, but the exception is caught.

Is not excluded.

[2018-12-29 10:07] trivialfis commented on #4032
Regenerated with both host and device checking:
[log-tidy.txt](https://github.com/dmlc/xgboost/files/2716251/log-tidy.txt)

[2018-12-29 10:14] trivialfis commented on #4019
Highly unlikely.  We don't catch `bad_alloc`.  There are two places that catch `std::exception` but both of them throw `dmlc::Error` immediately.  Grepping the source code should reveal it.

[2018-12-29 11:12] trivialfis commented on #4032
Requirement:
 - clang-tidy >= 7
 - A **huge** refactor of current code base.
 - Extra script on CMake to obtain the compile database.

@RAMitchell @hcho3 Do you think it's worthy?

[2018-12-29 12:15] RAMitchell commented on #4032
You dont have to refactor the lint errors all in one go. What if you set up the system on jenkins but allow it to pass even with errors, spend a couple of weeks fixing lint issues, then make it mandatory.

I think this is very much worth doing.

[2018-12-29 19:10] leong1016 commented on #1715
Please be really careful if you want to try method 1. Everything crashed after I deleted the file and I have to reinstall openmp. Same problem reported in the original csdn link (in Chinese).

[2018-12-30 00:46] Cuica20 commented on #1715
Thanks!!
For me on MAC:
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

[2018-12-30 15:02] #4030 closed

[2018-12-31 07:28] #4032 closed, assigned to nobody

[2019-01-02 03:40] trivialfis commented on #4017
@joegaotao Beats me.  I tested with multiple configurations including different number of rows and different transformations.  The situation in multiplication is much better than addition.  And the problem in GPU side seems even worse.

My guess is the funny floating point issue.  But will look more closely, debugging a issue only occurs with more than 100000 lines of data is quite messy...

[2019-01-02 04:52] xueyuan1990 opened #4035 "ml.dmlc.xgboost4j.scala.spark.XGBoostModel and ml.dmlc.xgboost4j.java.Booster get different result"
I train model with ml.dmlc.xgboost4j.scala.spark.XGBoost.train

` val xgboostModel = XGBoost.train(trainData, paramMap, properties.getProperty("numRound").toInt, nWorkers, useExternalMemory = true)`

and save with code below:

[code]
But when I predict data,I get different result like:

[code]

Thank you for your help!

[2019-01-02 06:50] joegaotao commented on #4017
@trivialfis  I also wondered it's the floating issue for boosting iteration, because smaller max_depth and nrounds, it's hard to reproduce the difference. But  I feel it's weird that `X` location shift or scale change has effect on the tree split even in `tree_method=exact`

[2019-01-02 07:41] khotilov commented on #4017
While theoretically there must be the invariance, the scaling is not precise because of the finite float precision. As for the shifts, keep in mind that the number of unique possible float numbers within a unit interval decreases significantly when shifting away from [0,1). E.g., few float numbers survive the following roundtrip example:
[code]
With a sizeable datasample and such deep trees with h

[2019-01-02 07:55] silverstone1903 opened #4036 "Stratified KFold CV for Regression"
Hi,

I want to create a Stratified KFold with a flag variable which values are 0 and 1. Then I want to use `xgb.cv` with this custom fold instance. If I create any KFold instance and use it as a fold in xgb.cv parameters it works without any problem but when I want to use Stratifed KFold I got `IndexError: list index out of range` error. When using KFold `folds = KFold()` is enough. For Stratified

[2019-01-02 08:34] xueyuan1990 commented on #4035
When make data by this way, I get the right score:
[code]

[2019-01-02 13:49] sam1902 commented on #1715
Had the same problem after switching from homebrew/virtualenv installed numpy/keras/matplotlib/tensorflow to miniconda installed. Solved by running `conda install nomkl` though I reckon keras (and numpy) wont run as fast as they could if they don't make use of Intel's Math Kernel Lib but at least my code still run so ¯\_(ツ)_/¯

[2019-01-02 16:10] kambstreat opened #4037 "[BLOCKING] Segmentation fault while using external memory version"
Hi...I am using the following code to run xgboost external memory version as the data I am using is huge.

**Python code for xgboost external training.**

[code]

**train_data.txt**

[code]

I ran the code with valgrind and I got the following error when I ran with 200k data instances but I did not get any error when I ran with 100k data instances. Please help me with the issue

[code]

[2019-01-02 16:16] FredYao commented on #4025
@chenqin ,

I used the following setting when submit my application:
--conf spark.task.cpus=1
--executor-cores 2
--num-executors 100
However, I did not explicitly set spark.executor.cpus.

I think the number of spark tasks are > numWorkers. The reason I used scala-tracker is because my cluster did not support python 2.7+.

[2019-01-02 16:18] FredYao commented on #4004
@trivialfis, thanks for you response.
Yes, foreach is the entry point.
Do you mean that the training process of xgboost is not thread safe?  I have heard that the prediction of xgboost is not thread-safe.

[2019-01-03 09:54] SpringHerald opened #4038 "[jvm-packages] xgboost4j-spark XGBoostClassifier cannot assign 0 to max_depth"
The xgboost spark API said "maximum depth of a tree, increase this value will make model more complex / likely to be overfitting. [default=6] range: [1, Int.MaxValue]".
But [xgboost4j-spark tutorial](https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#training) said "In XGBoost4J-Spark, we support not only the default set of parameters but also the camel-case variant of thes

[2019-01-03 11:01] myotheone opened #4039 "[python-package] does objective = 'rank:ndcg' works fine in XGBRanker?"
XGBRanker docstring says:
objective : string
            Specify the learning task and the corresponding learning objective.
            **Only "rank:pairwise" is supported currently.**
So does rank:ndcg works fine in XGBRanker?

[2019-01-03 11:09] myotheone commented on #4039
docstring need to be updated

[2019-01-03 12:41] trivialfis commented on #4037
@kambstreat Reproduced.  Will look into this.

[2019-01-03 13:33] trivialfis commented on #4004
@FredYao I think originally XGBoost is designed to train one `boosting model` with **all** available data, not one `boosting model` for each row of data.  So thread safety is quite an alien concept.  AFAIK, GPU side is definitely not thread safe, other parts are never tested for this.  Any one please correct me if I'm wrong.

Multiprocessing might be the simplest way to go. :)

[2019-01-03 13:41] trivialfis commented on #4017
@joegaotao I looked into gpu hist and gpu exact and I still think floating point is the culprit here.

[2019-01-03 15:41] trivialfis commented on #4037
@kambstreat Fixed in  #4040 .

[2019-01-03 15:47] trivialfis commented on #4037
@kambstreat Actually it would be best if you can verify it yourself.  Hopefully the error I fixed is the one you encountered.

[2019-01-03 18:34] trivialfis commented on #3991
@zongyaozhang Any update?

[2019-01-03 18:47] kambstreat commented on #4037
@trivialfis I did the following to get the latest code.

[code]

I am still getting the same error. Please let me know if I have to do any debugging to get more details regarding the error.

[2019-01-03 23:04] #3333 closed

[2019-01-04 03:05] hcho3 commented on #4031
@trivialfis We should recommend the use of CMake whenever possible. To my knowledge, everything can be done in CMake, except for installing XGBoost from CRAN (the R packaging system).

[2019-01-04 03:30] trivialfis commented on #4037
@kambstreat That's a bad news.  Looking at this, will keep you posted.

Thanks.  Will let you know. :)

[2019-01-04 03:49] #4017 closed

[2019-01-04 06:15] trivialfis commented on #4031
@hcho3 Great,  I have been trying to rewrite the CMake scripts.  Will make a PR for comments soon.  Combined with new linter, we can strip the makefile into absolute minimum.

[2019-01-04 07:17] Jie-Yuan opened #4041 "interaction_constraints no work for me"
params_constrained['interaction_constraints'] = '[[0, 2], [1, 3, 4], [5, 6]]'

[2019-01-04 07:44] DoanHuuJacques opened #4042 "out of range violation access with hist tree method"
When running in debug mode XGBoost on Windows with hist as tree method, an access violation has been detected at this location (column_matrix.h)
See the comment with access violation indication

`  inline Column<T> GetColumn(unsigned fid) const {
    const bool valid_type = std::is_same<T, uint32_t>::value
                          || std::is_same<T, uint16_t>::value
                          || s

[2019-01-04 07:54] DoanHuuJacques opened #4043 "Silent error when passing incorrect configuration parameter name"
When calling Learner::Configure() with a list of key-value pairs, no exception is thrown if one of the key is incorrect/unknown
For instance, configuring with {'three_method': 'hist'} doesn't raise any exception and it's just ignored.

I don't know if such silent behavior is expected in case of unknown parameter

[2019-01-04 08:46] trivialfis commented on #4043
@DoanHuuJacques It's expected.  I plan to add some validations in the future, but before being there we need to go through some refactors first.

[2019-01-04 08:49] DoanHuuJacques commented on #4043
@trivialfis,
Hi, do you mean that you would add some parameter name check in the future (after the refactoring you mentioned)? Is it correct?
thanks

Jacques

[2019-01-04 08:49] trivialfis commented on #4041
@Jie-Yuan Can you post a the complete parameters you used? Interaction constraint only applies to selected tree methods, namely `exact` and `hist`:
https://xgboost.readthedocs.io/en/latest/tutorials/feature_interaction_constraint.html

[2019-01-04 08:54] trivialfis commented on #4043
@DoanHuuJacques Yes.  Hopefully after #3980 and #3984 .

[2019-01-04 08:55] DoanHuuJacques commented on #4043
@trivialfis,
cool
Thanks
Jacques

[2019-01-04 14:01] #4043 closed

[2019-01-04 14:05] trivialfis opened #4044 "updater_gpu_hist.cu: invalid argument"
Opening this issue on behalf of @taibai233 from:
https://discuss.xgboost.ai/t/why-i-cant-use-all-my-gpus/560
All following content is copied from there:

# Original post
My server has 4 GPUS V100, but I can only run with 3 of them .

That’s my code .
[code]
When I set the ‘n_gpus’ =4 or -1 ,it get errors:
[code]
When I use 3 of my GPUs , it will work fine.

[2019-01-04 23:55] RAMitchell commented on #4042
I thought I fixed this. Is this the latest version from source?

[2019-01-05 06:43] CodingCat commented on #4016
can anyone of you provide a small dataset which can reproduce the issue

[2019-01-05 08:49] DoanHuuJacques commented on #4042
@RAMitchell
Hi
this header file has been refactored but the access violation is still there

    Column c(type_[fid], &index_[boundary_[fid].index_begin], index_base_[fid],
             &row_ind_[boundary_[fid].row_ind_begin],
             boundary_[fid].index_end - boundary_[fid].index_begin);
    return c;
  }

It's better to protect data access with below condition when row_ind_ is empty:
type_

[2019-01-05 09:04] CodingCat commented on #4016
https://github.com/dmlc/xgboost/pull/4045 should address this

[2019-01-05 16:15] DoanHuuJacques commented on #4042
@RAMitchell
I will do
Thanks

[2019-01-05 17:02] trivialfis commented on #4037
Seems the external memory version of `approx` is not well tested.  With different number of rows memory access error happens in different places ...  Let's see if we can do some rewrite before the next release ...

[2019-01-05 23:13] CodingCat commented on #4038
0 is not a valid value for the current growing policy adopted in spark case, though it would be valid if you use fast histogram in future https://github.com/dmlc/xgboost/pull/4011

@hcho3 any insights on why we said 0 means no limit in the doc? I think it's only for fast histogram?

[2019-01-05 23:15] CodingCat commented on #4038
in future, the usage discussion should be to https://discuss.xgboost.ai/

[2019-01-05 23:15] #4038 closed

[2019-01-05 23:15] CodingCat commented on #4000
I don't think we have gone so far to support anything beyond JDK8

[2019-01-05 23:15] #4000 closed

[2019-01-05 23:16] CodingCat commented on #3996
it looks like 2.4.1 would be available next month, let's resume this by upgrading to that version

[2019-01-05 23:16] #3996 closed

[2019-01-05 23:17] CodingCat commented on #4025
add [jvm-packages] in the title to help us identify the topic and in future the usage discussion should go to https://discuss.xgboost.ai/

[2019-01-05 23:30] CodingCat commented on #4026
you need to give more logs here

add [jvm-packages] in the title to help us identify the topic and also, usage discussion should go to https://discuss.xgboost.ai/

[2019-01-05 23:30] #4026 closed

[2019-01-05 23:31] #4025 closed

[2019-01-06 04:08] hcho3 commented on #4038
@CodingCat The doc says

[2019-01-06 04:33] CodingCat commented on #4038
isn't this incorrect? https://github.com/dmlc/xgboost/blob/master/src/tree/updater_histmaker.cc#L136

for approx, setting to zero will have an empty tree....

this no limit thing looks like only applied to loss-guide growing in fast histogram

[2019-01-06 04:35] CodingCat commented on #3954
yes, I think it's still caused by the OOM killer

[2019-01-06 04:44] hcho3 commented on #4038
Yes, it looks like the no-limit condition is only applicable to the fast histogram.

[2019-01-06 07:56] trivialfis commented on #2326
@hcho3 This issue is getting too old by now.  Can you summarize a little bit for what's happening?  From discussion, it seems there are different problem including long setup time, bloated memory usage of feature grouping, and some crashes ...

[2019-01-07 00:01] #4016 closed

[2019-01-07 03:26] CodingCat opened #4047 "colsample_bytree does not take full effect in fast-histo"
I am investigating performance issue in distributed fast histogram #4011 when we set colsample_bytree, I found that in fast histogram algorithm, we still initialize data with full set of columns even with the parameter set

check https://github.com/dmlc/xgboost/blob/master/src/common/hist_util.cc#L37-L58, we are iterate over batch's index that means everything

but in approx, we traverse over all

[2019-01-07 07:44] vectosaurus opened #4048 "Tracker issue with XGBoost in PySpark"
I am using XGBoost in PySpark using by placing these two jars [xgboost4j][1] and [xgboost4j-spark][2] in `$SPARK_HOME/jars` folder.

When I try to fit the `XGBoostClassifier` model I get an error with the following message

I looked for the tracker in trace and noticed that it is not binding to the localhost. This is the tracker info

    Tracker started, with env={}

I am using a Mac and so check

[2019-01-08 09:19] mingyang opened #4050 "[jvm-packages] Fix early stopping with xgboost4j-spark"
In the `python-package`(see [here](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/callback.py#L246)), training stops if the current iteration is `earlyStoppingSteps` away from the *best iteration*.

Current spark implementation ([here](https://github.com/dmlc/xgboost/blob/c055a3260988b63d61dbec088e8f8d6af2d34e9c/jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoos

[2019-01-08 12:04] thehellmaker opened #4051 "Creation of Large DMatrix is taking time. Any Optimizations?"
Hi All,
I creating a DMatrix of size (1, 50000). It is taking approximately about 18ms to do this. I have a strict requirement of keeping this to <3ms. I need to respond back in realtime from a http server and DMatrix creation itself is taking 18ms.

I have evaluated the following options
1. Instead of a numpy array use Scipy.sparse. But since the sparse matrix bloats it to a dense matrix it didn'

[2019-01-08 15:51] ecampana commented on #3370
I am using `xgboost4j-spark-0.80.jar` along with `xgboost4j-0.80.jar`, as well as the wrapper functions stored in `sparkxgb.zip` which is compatible with version 0.80 of xgboost. I am able to make predictions after fitting the data with a list of features and target value. I would like to now extract the information gain of each feature, but I have not managed to figure out a way to obtain these r

[2019-01-08 19:35] jms-dipadua commented on #1715
@sam1902 that worked for me too -- updating the os.environ variable did not. thanks!

[2019-01-09 05:47] FredYao commented on #4004
@trivialfis , thank you for your insights.
By 'multiprocessing', did you mean submitting multiple spark-applications using multi-threading? Or do the multiprocessing training inside one spark application?

[2019-01-09 08:46] trivialfis commented on #4051
I'm afraid there's not much you can do without modifying the source code.  But if you do want to optimize it I would be happy to help. :)

[2019-01-09 16:49] rongou commented on #4038
You can also use no-limit and `lossguide` with `gpu_hist`, which I'm trying to add support for. Would it be possible to relax the check to `>=0`?

[2019-01-09 18:13] trivialfis commented on #4012
@yayawcx More information is needed.  Closing for now and feel free to reopen.

[2019-01-09 18:13] #4012 closed

[2019-01-09 18:15] trivialfis commented on #4047
@CodingCat A little bit occupied these few weeks.  Can this wait?

[2019-01-09 19:53] CodingCat commented on #4047
@trivialfis I can go ahead to file a PR and we can discuss there?

[2019-01-10 00:19] trivialfis commented on #4047
Great!

[2019-01-10 04:14] thanish commented on #3921
I have been running into the same issue of non-reproducible result with python xgboost when I run the 'tree_method' : 'gpu_hist'. I have set the np.random.seed() just before I run the xgb.cv and passed the 'seed' in the parameter too in the xgb.cv. But can't get the same result while re-running the model with the same data and same parameters

[2019-01-10 05:34] trivialfis commented on #3921
@thanish Interesting, could you post related section of your script and describe the data shape and sparsity?

[2019-01-10 06:34] thehellmaker commented on #4051
Would love to take it up. But before that we evaluated XGBoost4J in a JVM rather than Python and that seems to be working in < 2ms. DMatrix creation isn't taking time. Is this just JVM being more efficient than python vm? or is there more to it?

[2019-01-10 07:03] trivialfis commented on #4051
Previously I did some testing.  Converting from other data type to numpy.float32 (used by XGBoost) takes up a huge portion of creation time.  Have you checked your input data type?

[2019-01-10 08:21] thanish commented on #3921
My data is of shape 1600000, 26

Below is my code
[code]

Output of the first run

[code]

output of the 2nd run without any changes

[code]

[2019-01-10 15:05] PhilipMay opened #4052 "[feature proposal] Load best model after early stopping"
Could you please implement a way to load the best model after ealy stopping? LightGBM is also doing this by default. See here: https://lightgbm.readthedocs.io/en/latest/Python-Intro.html#early-stopping

That would be a great improvement to my hyperparameter optimization workflow.

Thanks
Philip

[2019-01-10 19:02] abhinavm24 commented on #3689
Can someone please share the bridge class that can be used to load the R xgboost classification model to Spark?

@hcho3 @CodingCat

[2019-01-11 01:00] yanboliang commented on #4050
I think @mingyang has a good point here, the XGBoost ```python-package``` behavior is consistent with [scikit-learn] (https://scikit-learn.org/stable/auto_examples/ensemble/plot_gradient_boosting_early_stopping.html). Let me give a fix. Thanks.

[2019-01-11 07:18] PhilipMay commented on #3712
I think this is still a bug that should be fixed. The `maximize = True` thing is just a workaround.
But this is still a bug imo.

With auc early_stopping is working correctly (it tries to maximaize) I see no reason why this should
not be the case with aucpr.

[2019-01-11 08:12] zongyaozhang commented on #3991
I test in latest 0.81 with spark 2.3.0, count:poisson can successfully run in spark.

[2019-01-11 08:30] zongyaozhang opened #4054 "[jvm-packages] context is stopped in RabitTrackerHandler"
I use scala tracker and run with spark using xgboost 0.81 version. get the error XGBoost train failed. The error stack is like in section 1 below.  The log info is like in section 2 below.
I found the reason is ml.dmlc.xgboost4j.scala.rabit.handler.RabitTrackerHandler class.
![image](https://user-images.githubusercontent.com/15651680/51021945-e8306a00-15bd-11e9-8328-6c32d49bf85e.png)
When I commen

[2019-01-13 09:46] Laurae2 commented on #2326
@trivialfis This issue is about multiple problems found when using xgboost fast histogram initialization on large datasets with many (millions of) features.

The problems encountered summarized:

* fast histogram uses significantly more RAM than exact
* fast histogram training takes a very long time to start while exact starts immediately (histogram initialization is not expected to be in the rang

[2019-01-13 11:53] zzd1992 opened #4056 "[Blocking] python kernel failed when call Booster().predict"
Sometimes, the python kernel will be failed when I call Booster().predict method.
Here is an example:
[code]
Then
[code]
However, when I modify the following line
[code]
into
[code]
Then every thing is ok.
[code]
How to fix this problem?

[2019-01-13 12:10] trivialfis commented on #4052
Seems to be a nice feature.  Will look into this in the future.  @hcho3 WDYT?

[2019-01-13 12:10] trivialfis commented on #4056
@zzd1992 Let me look into this.

[2019-01-13 15:22] mariekevanbuchem opened #4057 "xgb.cv gives error, saying it 'found -2147483648 in label.'"
I'm not sure if this is an XGBoost issue or if I'm doing something wrong, but I keep getting an error from code that used to work. I'm trying to fit an xgboost model on a dataset with 8 columns and 11496 rows (see attached txt file for dataset).

[Help_on_file.txt](https://github.com/dmlc/xgboost/files/2753203/Help_on_file.txt)

I've created a test and training set, turned them into XGB matrices,

[2019-01-13 17:42] TVI-BIZ commented on #1715
have same issue on my Mac
Just run -  conda update -n base conda
it install and update needed dependences

[2019-01-13 18:51] khotilov commented on #4057
You have NA's in your label, and -2147483648 is reserved to represent integer NA in R. It might be worth adding a check for NA in labels while constructing a xgb.DMatrix in R.

[2019-01-14 04:19] trivialfis commented on #4056
@zzd1992 If you run the training process via `xgb.train`,  XGBoost wiol throw an error tells you that you need labels for training since XGBoost implements supervised learning.

Maybe a better error handling in c++ is needed.

[2019-01-14 05:03] trivialfis commented on #4051
@thehellmaker Any update?

[2019-01-14 07:34] zzd1992 commented on #4056
@trivialfis Thanks.
I solve it by modifying
[code]
to
[code]
However, conceptually, the `Boost().predict` method should not need labels.

[2019-01-14 08:11] mariekevanbuchem commented on #4057
Oh wow thank you, I guess somewhere on the way I removed that check... It works now, thanks for the help! :)

[2019-01-14 08:11] #4057 closed

[2019-01-14 09:37] zzd1992 commented on #4056
@trivialfis Thanks.
It works when I add labels to `Dmatrix` when I call the `predict` method.
However, the `predict` method should not be dependent on labels.

[2019-01-14 10:14] CoderLee2014 opened #4058 "[jvm-packages] xgboost4j-spark training failed when running at foreachPartition at XGBoost.scala:287"
I'm using spark 2.3.1 and xgboost4j-0.81.
The datasize is about 100G, more than 3000 columns in training dataframe.
Training params for spark:
driver-mem=8g,
executor-num=35,
executor-core=2,
executor-mem=26g,

for xgboostClassifier:
        "eta" -> 0.1f,
        "max_depth" -> 6,
        "objective" -> "binary:logistic",
        "num_round" -> 300,
        "num_workers" -> 30,
        "lambda" -

[2019-01-14 10:21] CoderLee2014 commented on #4058
![image](https://user-images.githubusercontent.com/10073176/51107172-fcc46a80-1828-11e9-9617-0ca3d0d1693d.png)
For failed stages exectuors stdout:
![image](https://user-images.githubusercontent.com/10073176/51107224-1e255680-1829-11e9-9501-d0fbbd98b212.png)

[2019-01-14 10:31] CoderLee2014 commented on #4058
Sometimes, it was stucked at foreachpartition at XGBoost.scala：287
Here is the log:
Tracker started, with env={DMLC_NUM_SERVER=0, DMLC_TRACKER_URI=10.19.70.3, DMLC_TRACKER_PORT=9091, DMLC_NUM_WORKER=30}

in stderr log:
[heartbeat-receiver-event-loop-thread] WARN org.apache.spark.scheduler.AsyncEventQueue - Dropped 208 events from shared since Mon Jan 14 18:15:24 CST 2019.
[heartbeat-receiver-event

[2019-01-14 10:42] trivialfis commented on #4056
@zzd1992 The label is only needed in training:
[code]
on prediction labels are not needed:
[code]

The error you encountered is due to the fact that with empty labels in `DMatrix`, no training can be performed hence no tree is built.  Later prediction needs at least one tree, which leads to an memory error.

[2019-01-14 15:25] zzd1992 commented on #4056
@trivialfis When I run `Booster().boost()`, one tree is built. So there already exists a tree when predicting.
Here is an example:
[code]
Then
[code]

[2019-01-15 17:30] JCSyng commented on #3586
@hcho3 Had some trouble building for multi-gpu with NCCL for a day or two, but this thread was very helpful so thank you. Realizing now I just needed to read the instructions on the installation page a bit more closer, but I ended up here because there was a little confusion about the appropriate flags and dynamic linking paths for NCCL install. I realize it's repeating information found elsewhere

[2019-01-15 22:10] Laurae2 commented on #3810
As commented in https://github.com/dmlc/xgboost/pull/3957#issuecomment-453815876, I tested the commits a2dc929 (pre CPU improvement) and 5f151c5 (post CPU improvement).

I tested using my Dual Xeon 6154 server (gcc compiler, not Intel), using Bosch for 500 iterations, eta 0.10, and depth 6, with 3 runs each for 1 to 72 threads. We notice a performance increase of about up to 50% (1/3 faster) for m

[2019-01-15 23:30] wangcj05 commented on #1715
Got the same issue on my mac, tried suggested method and it works
[code]

[2019-01-15 23:56] wagnew3 commented on #2905
Any updates on this? I'm getting the same error.

[2019-01-16 02:11] trivialfis commented on #2905
@wagnew3 could you provide a reproducible script ?

[2019-01-16 08:36] coder3344 commented on #3543
i get same problem in v0.81,  most of time the cpu useage stay at 99%~100%(1 cpu core), occasionally it can reach 400% or more ( i set 35 threads) but can be maintained for long time
when i roll back to v0.71, erverything works perfect

[2019-01-16 21:13] muscionig commented on #3747
Hi,
Related to this issue, I was trying to plot the importance of the features of a XGBClassifier instance using gblinear as objective.
The `plot_importance` function fails with the following error:

`ValueError: Feature importance is not defined for Booster type gblinear`

I am currently solving this issue with the following code:

[code]

I personally think that right now that there is a sort of

[2019-01-16 22:51] hcho3 commented on #3747
@muscionig It would be certainly reasonable to use coefficients for plotting feature importances. Can you submit a pull request to update the plotting function?

[2019-01-16 23:08] muscionig commented on #3747
I will do that.
The only thing I am wondering is related to plot the coefficients as they are, or the absolute values of the normalized coefficients as it is currently done in the plot_importance method.
I think that maybe the first method should be considered. From a linear booster, I would expect negative and positive coefficients.
Thank you

[2019-01-17 03:33] xiejun901 commented on #4058
Maybe some columns of  you feature vector  are all missing value after subsample, you can try to convert the feature to dense vector or find the columns with many missing value and remove it.

[2019-01-17 03:53] alibeyram opened #4059 "show_stdv=False does not work"
here is my code:
[code]
it stills prints `test-r2_score-std` and `train-r2_score-mean`

[2019-01-17 06:07] slundberg opened #4060 "Ran into an issue with numerical precision and thresholds"
For a (not-sharable) dataset I was working on XGBoost chose thresholds that were very close to machine epsilon from actual training set feature values (less than `np.finfo(np.float32).eps` away). This lead to the JSON dump of the model being wrong, since the conversion to base-10 destroyed the information needed to route down the correct path. This meant the only way to read a tree that would beha

[2019-01-17 08:42] hcho3 commented on #4060
Would adding more decimal digits in the dump help? But I do agree that the choice of thresholds is quite weird. It would be nice if we can reproduce the issue with a public dataset.

[2019-01-17 17:53] slundberg commented on #4060
It might, but since base 10 and 2 don't line up exactly it would be tricky to ensure it was always right. Finding an example where the JSON is wrong would take a bit more work, but below is a simple example that shows the kind of very tight thresholds XGBoost creates (note it depends on the latest benchmark branch of shap to read the values without using the JSON output):

[code]
output:
[code]

[2019-01-17 20:20] borisclemencon commented on #3689
It seems that training a xgb model in python or R, and loading it for inference in Spark is a frequent pattern. Is it possible to open the constructor like in 0.72 for future versions?

[2019-01-18 00:11] hcho3 commented on #4060
@slundberg FYI, you can find out the number of digits that's required to differentiate all floating-point representations: [`std::numeric_limits<float>::max_digits10`](https://en.cppreference.com/w/cpp/types/numeric_limits/max_digits10).

As for the weird choice of thresholds, I'll have to come back to it and dive deeper.

[2019-01-18 00:30] hcho3 commented on #4060
@slundberg Does SHAP explainer use the JSON dump or parse the binary model file directly?

[2019-01-18 00:44] slundberg commented on #4060
The main version is built into XGBoost, so we use that when possible. But some features, like explaining the loss of the model, relied on the JSON dump. But now v0.28 directly parses the binary to avoid the problems in this issue.

[2019-01-18 04:11] brebbles opened #4061 "Prediction output different when outputmargin is used"
I have run a tree-based model using `binary:logistic` running `V0.81.0.1` and am arriving at different slightly different probabilities depending on my prediction parameters.

I suspect this may be due to rounding somewhere in background and suspect it is probably a known issue, but my issue is that I arrive at slightly different numbers when I use `outputmargin = FALSE` compared to when I use `ou

[2019-01-18 05:01] Liuhaoge opened #4062 "Why XGBoost4J-Spark 0.8+ can't support discol"
In a distributed setting, the implicit updater sequence value can only be adjusted to grow_histmaker,prune.  But why can't adjust updater to discol, it has no problem theoretically.

[2019-01-18 05:04] hcho3 commented on #4061
XGBoost uses 32-bit floating point type, so only the first 8 decimal digits are accurate.

[2019-01-18 05:04] #4061 closed

[2019-01-18 05:08] hcho3 commented on #4062
Distcol updater has not been tested with Spark, so it is not enabled. Besides, it is suspected that distcol is broken (#1832). We’ll probably deprecate and remove this feature soon.

[2019-01-18 05:08] #4062 closed

[2019-01-18 05:09] Liuhaoge opened #4063 "Can we add monotonic constraint in updater_histmaker?"
In a distributed setting, the implicit updater sequence value would be adjusted to grow_histmaker,prune. So can we add monotonic constraint in grow_histmaker? Why there are no parameter about the monotonic constraint in grow_histmaker?

[2019-01-18 05:09] Liuhaoge opened #4064 "Can we add monotonic constraint in updater_histmaker?"
In a distributed setting, the implicit updater sequence value would be adjusted to grow_histmaker,prune. So can we add monotonic constraint in grow_histmaker? Why there are no parameter about the monotonic constraint in grow_histmaker?

[2019-01-18 05:10] hcho3 commented on #4064
Closed as duplicate of #4063

[2019-01-18 05:10] #4064 closed

[2019-01-18 05:13] hcho3 commented on #4063
#4011 will enable grow_quantile_histmaker for distributed learning and then you’ll be able to use monotonic constraints

[2019-01-18 05:13] hcho3 commented on #4041
Any updates?

[2019-01-18 05:15] hcho3 commented on #4010
“Softmax” gives you class outputs (0 or 1) whereas “Softprob” gives you probabilities.

[2019-01-18 05:53] #4063 closed

[2019-01-18 17:36] CodingCat commented on #3689
bridge class https://github.com/CodingCat/XGBoostExperiments/blob/master/xgboost_exp_0.80/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostClassificationModelBridge.scala

[2019-01-18 17:42] CodingCat commented on #4058
https://github.com/dmlc/xgboost/pull/4045 fixed the issue

[2019-01-18 17:42] #4058 closed

[2019-01-18 19:53] hcho3 opened #4065 "Feature importance should be supported for DART booster"
As reported in https://discuss.xgboost.ai/t/feature-importance-not-support-for-booster-type-dart/605, currently feature importance function rejects DART models. This should be rectified.

[2019-01-18 20:02] hcho3 commented on #4052
@trivialfis @PhilipMay Can you clarify what you mean? Currently, the scikit-learn interface automatically uses the best iteration when predicting:

https://github.com/dmlc/xgboost/blob/1fc37e47497239a7bc52e0e9949004c891fe36b6/python-package/xgboost/sklearn.py#L419-L421

[2019-01-18 20:39] PhilipMay commented on #4052
@hcho3 This is very interesting. So with the scikit-learn interface it should work the way I would like it to work (load or use best model). But what about the situation where you use the Booster class and do not use the scikit-learn interface? In the Booster class it just says:

See here: https://github.com/dmlc/xgboost/blob/1fc37e47497239a7bc52e0e9949004c891fe36b6/python-package/xgboost/core.py#

[2019-01-18 20:48] hcho3 commented on #4052
Yes, it appears that currently you need to use the scikit-learn interface to do what you want. (And use `pickle` to save `XGBClassifier` / `XGBRegressor` objects.) It would be nice to add `num_iteration` option to `save_model()` function so that you can truncate the model at the time of serializing.

[2019-01-18 21:09] RAMitchell commented on #4065
The best way to achieve this IMO is to merge the dart booster and gbtree booster. This will affect backwards compatibility.

[2019-01-18 21:18] PhilipMay commented on #4052
Yes - and it would be nice to bring scikit-learn interface and the Booster interface to a consistent state where they both bring the best results form early stopping by default.

[2019-01-18 21:52] hcho3 commented on #4052
The issue is that only the scikit-learn interface saves the best number of round; the Booster object does not save it. As I said, it would be cleaner to simply truncate the model at the time of serializing (`save_model()`) to achieve consistency.

[2019-01-19 00:47] hcho3 commented on #4065
@RAMitchell The issue is that I disabled feature importance for GBLinear (see #3747), but in the process I accidentally disabled it for DART as well. In particular, this snippet is wrong:

https://github.com/dmlc/xgboost/blob/1fc37e47497239a7bc52e0e9949004c891fe36b6/python-package/xgboost/core.py#L1452-L1454

For now, we could add the check `self.booster != 'dart'`.

[2019-01-19 02:47] pseudotensor commented on #2943
Ya, in limit of constant columns as one of the inputs, this is error.

[2019-01-19 11:10] zhaokaihuang commented on #3804
@dreamsuifeng @hcho3  Hi, could you help to share how to solve the problem? I'm already using xgboost4j-spark of version 0.8 and checking there is no NaN or inf in my data. I think I met the same error as following:
[06:28:02] /xgboost/src/tree/updater_histmaker.cc:305: hist[63]=inf
[06:28:02] /xgboost/src/tree/updater_histmaker.cc:305: hist[64]=inf
terminate called after throwing an instance of '

[2019-01-19 14:09] trivialfis commented on #4056
I never tried this before.  I don't think `Booster.boost` or `Booster.update` is meant to be called by users.  But still segmentation fault is not acceptable.

[2019-01-20 01:53] mfansler commented on #1715
It should be noted that this is **strongly discouraged by the OpenMP devs**.  From their error message:

[2019-01-20 02:44] zhujuan0528 opened #4067 "[jvm-package] How to use early-stop"
I can see there's a method with early-stop as a parameter
[code]
but whatever i set the earlystoppinground, the console print "early stopping after * ascending rounds"
It might because I didn't set metrics.
this is my parameters:
[code]
So how can I set the parameters to make the training early-stop?
My English is limited so forgive about my grammar

[2019-01-20 09:34] zhaokaihuang commented on #3804
Hi @CodingCat, do you have any ideas to this problem. Many thanks to your help.

[2019-01-20 09:58] pseudotensor commented on #3953
Ya, that's apparently the problem, the exception isn't caught.  It appears when loading a pickled model that was using GPU compiled xgboost but ran with CUDA_VISIBLE_DEVICES= or when running fit with the same env var.

I see the code you mention, but it clear isn't working.

[code]

If I run that with `CUDA_VISIBLE_DEVICES= python simple.py` on a GPU-compiled xgboost, I get the error in question.

[2019-01-20 10:07] pseudotensor commented on #3953
Entire output:
[code]

[2019-01-20 10:12] pseudotensor commented on #3953
user error on my part.

[2019-01-20 10:34] pseudotensor commented on #3953
[code]
This works, so you guys must be catching the wrong exception type.

[2019-01-20 13:38] trivialfis commented on #3953
And the behavior is also controlled by `DMLC_LOG_FATAL_THROW` and `DMLC_LOG_BEFORE_THROW`.   Above definitions are both set in `dmlc-core` and `rabit`.

[2019-01-20 14:30] suresh-chinta opened #4068 "How does xgb or lgb takes care of categorical values that are unseen in train, please help to understand or refer any link."
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-01-20 15:45] ledmaster opened #4069 "XGBoost has trouble modeling multiplication/division"
Hi

I am using Python 3.6 and XGBoost version 0.81. When I try a simple experiment, creating a matrix X of numbers between 1 and -1, and then Y = X1 * X2 or Y = X1 / X2, xgboost can't learn and predicts a constant number.

![multiplication_noise0](https://user-images.githubusercontent.com/9610024/51441494-7640da80-1cb9-11e9-9a51-a9638b27850a.jpg)

Now, if I add gaussian noise, it can model the fun

[2019-01-21 10:57] DoanHuuJacques opened #4072 "Model Serialization and Endianness"
I run XGBoost dans save the model on Big Endian platform (eg: SUSE/PPC64 Big Endian).
This native serialisation cannot be reloaded on Little Endian platforms (eg: Win64/Linux64 on Intel).
Indeed, when looking at how XGBoost saves the model via Learner::Save() method, the internal C structures are serialized as is with endianness awareness by using helper function from serializer.h
I expect to have

[2019-01-21 12:39] trivialfis commented on #4072
@DoanHuuJacques We expect solving it by #3980 .  But not much progress has been made so far.  See https://github.com/hcho3/xgboost-json-schema/pull/5

[2019-01-21 12:51] DoanHuuJacques commented on #4072
@trivialfis
JSON format is actually a better/substainable option than raw binary format. Would you confirm that the current serialisation is not endianness aware?
Thanks

[2019-01-21 13:21] trivialfis commented on #4069
@ledmaster I tried to generate the following dataset, is it the right one?
[code]

Following above script:
[code]

I got:

![figure_1](https://user-images.githubusercontent.com/16746409/51477127-6b25a180-1dc2-11e9-8f57-c6c496aa573b.png)

Seems pretty reasonable.  Did I generate the wrong dataset?

[2019-01-21 13:31] trivialfis commented on #4072
@DoanHuuJacques It's **not** endianness aware.  @hcho3 received similar report before I think. :)

[2019-01-21 16:05] Liuhaoge opened #4074 "How to modify the code in updater_histmaker to release monotonic constraint?"
I didn't see the parameter about monotonic constraint in newest XGBoost4J-Spark, but I need to add that function,  who can teach me how to modify the code in updater_histmaker, Thanks.

[2019-01-21 18:18] trivialfis commented on #4069
I lose.  Adding small normal noise (`np.random.randn()`) to `label` everything works, but without such noise xgboost just jump into some sort of local minimum.
[code]
I'm not sure if this is a bug.  XGBoost relies on greedy algorithm after all.  Would love to hear some other opinions. @RAMitchell

[2019-01-21 18:21] trivialfis commented on #4068
Nothing fancy.  Everything here is converted into numerical values.

[2019-01-21 19:06] suresh-chinta commented on #4068
Thank you, if I label encode categorical, then, if the numeric label value in test is greater and unseen during training, while predicting, how the predict function going to interpret it. If there was no rule identified during training for this numeric value being less than or greater than. Thank you

[2019-01-22 04:17] khotilov commented on #4069
I agree with @trivialfis - it's not a bug. But it's a nice example of data with "perfect symmetry" with unstable balance. With such perfect dataset, when the algorithm is looking for a split, say in variable X1, the sums of residuals at each x1 location of it WRT X2 are always zero, thus it cannot find any split and is only able to approximate the total average. Any random disturbance, e.g., some

[2019-01-22 06:03] trivialfis commented on #3980
@khotilov

Yes.  There are other things.  For example I want to release `Learner` class from doing all the configurations.  And the endianness issue #4072 .  Besides,  Json is supposed to make everything "easier".

[2019-01-22 06:16] trivialfis commented on #4068
I don't know how to explain ...  If you use the `tree model` then everything is based on plain old decision trees,  XGBoost just use gradient info to stack many of them together.

There's an introduction to decision tree, which might help a little:
https://xgboost.readthedocs.io/en/latest/tutorials/model.html

[2019-01-22 06:18] trivialfis commented on #4069
@khotilov That's a very interesting example.  I wouldn't come up with it myself.  Maybe we can document it in a tutorial?

[2019-01-22 06:32] trivialfis commented on #2326
@Laurae2 Thanks.

[2019-01-22 06:38] DoanHuuJacques commented on #4072
@trivialfis , @hcho3
Hi,
Is there an ETA for the JSON serialisation support?
Is backward compatibility of current binary format supported? typically, can a runtime 0.81 load a serialized model 0.72?
Thanks

[2019-01-22 06:48] trivialfis commented on #4072
Not yet.

Yes.  Binary format should linger around.

[2019-01-22 07:13] hcho3 commented on #4069
@ledmaster Thanks for the article: http://mariofilho.com/can-gradient-boosting-learn-simple-arithmetic/

[2019-01-22 08:03] #4065 closed

[2019-01-22 08:38] KOLANICH commented on #4019
OK.

[2019-01-22 08:58] hcho3 commented on #4065
@trivialfis Thanks!

[2019-01-22 11:50] ledmaster commented on #4069
Thanks @khotilov and @trivialfis for the answers and investigation.

As @hcho3 cited above, I wrote an article about GBMs and arithmetic operations, so this is why I ended up finding the issue. I added your answer there. Feel free to link to it.

[2019-01-22 13:07] kgoyal40 opened #4075 "Issues with the Feature Interaction Constraints"
I've been running some experiments with the feature interaction constraints and ran into something odd. If the 'interaction_constraints' parameter is passed as a blank list [ ], the performance of the model drops compared to a model without this parameter (keeping everything else the same). Why is the model changing based on a blank list?

Happy to provide more details.

Thanks

[2019-01-22 13:50] thvasilo commented on #3980
I don't know if some downstream projects could chime in here that consume the model, and any issues they might have with the binary models, or potential benefits from the JSON format. For example @hcho3's Treelite or SHAP by @slundberg .

[2019-01-22 16:32] trivialfis commented on #3980
@thvasilo I would love to hear about feedback.

@slundberg Yes.  I made a proposal in https://github.com/hcho3/xgboost-json-schema/pull/5 .  Should be able to represent the internal model as close as possible.

[2019-01-22 20:44] RAMitchell commented on #4069
Decision trees can only look at one feature at a time. In your example if I take any 1d feature range such as 0.25 < f0 < 0.5 and average all the samples in that slice I suspect you will always get exactly 0 due to the symmetry of your problem. So xgboost cant find anything when it looks from the perspective of a single feature.

[2019-01-23 05:23] CodingCat opened #4076 "[GPU] scalability with feature number and results reproducibility"
Hi, @RAMitchell and @trivialfis

I just came across the blog post by @Laurae2 (hope I didn't recognize wrongly)

https://medium.com/data-design/xgboost-gpu-performance-on-low-end-gpu-vs-high-end-cpu-a7bc5fcd425b

The blog post confirms that we have a super-fast gpu algorithm but also raises two issues

* GPU implementation is subject to crash with high dimensional feature vector

* there are some

[2019-01-23 05:37] trivialfis commented on #4076
@CodingCat
For the first one, my guess is on memory limitation.  And for the second one there is an open issue: #3921

That's a very detailed benchmark.   @Laurae2 Huge thanks.  I plan to address these problems one by one in the future.

[2019-01-23 05:40] hcho3 commented on #4076
How does the GPU updater obtain random numbers? Does it use the same mechanism as the CPU updater?

[2019-01-23 05:41] CodingCat commented on #4076
@trivialfis thanks for the response,

for the first one, I see @Laurae2 pointed out that adding more feature has 5-15% higher weights than adding samples to your dataset, it's also related to the parallelization mechanism in GPU implementation?

[2019-01-23 05:48] trivialfis commented on #4076
For feature sampling, it uses `ColumnSampler` from `/common/random.h`.  So should be the same.

GPU implementation doesn't use `CSR` format, instead `ELLPACK` is chosen.  So it's not surprising.

[2019-01-23 06:50] RAMitchell commented on #4076
@Laurae2 thanks for useful feedback!

Im summary here are the things we need to improve:

- Reproducibility
- Address crashes around using different numbers of threads/gpus
- More test coverage for above
- More user friendly about out of memory crashes

[2019-01-23 07:47] khotilov commented on #4075
An empty interaction_constraints list means "no features are allowed to interact with any other". That forces building univariate trees, which may lead to worse performance.

[2019-01-23 15:51] kgoyal40 commented on #4075
Hey Thanks for the comment. I have a follow up question:
Let say I have 6 features (1,2,3,4,5,6) and pass on the interaction parameter as [[1,2,3]], does it mean that 1,2,3 will only interact with each other and 4,5,6 are not allowed to interact with any other?

[2019-01-23 19:03] CodingCat opened #4077 "[proposed change] distinguish loss-guide and depth-guide in fast histogram"
when working on distributed fast histogram, I found that when the local computing is not the bottleneck,  faster histogram is even slower than approx

by profiling the program, I think the reason is on the histogram sync.

In fast histogram, we are growing a tree in a loop over every node:https://github.com/dmlc/xgboost/blob/master/src/tree/updater_quantile_hist.cc#L141-L190

In approx, we are act

[2019-01-24 06:20] RAMitchell commented on #4077
Do you have some numbers on what the performance difference might be? I generally have tried to avoid specialising our implementation for loss guided/depthwise for maintenance reasons. It could be justified if the performance difference is huge.

[2019-01-24 09:20] pseudotensor commented on #3953
I also want to point out some other odd thing.  Seemingly, even with my fix above, on some compiles the problem persists (centos build) while on others it has gone away (ubuntu).  I'm trying to isolate: https://github.com/h2oai/h2o4gpu/issues/712

[2019-01-24 18:34] woodrujm opened #4079 "XGBoost MultiClass classification taking too long"
I'm trying to implement XGBoost multiclass for ~750 classes. The model has been training for hours (overnight) while the SKLearn RandomForest Implementation takes minutes.

[2019-01-24 19:00] hcho3 commented on #4079
Gradient boosting has an inherent weakness in multi-class classification, when the number of class is high. The reason is that gradient boosting requires that you train `[number of iterations] * [number of classes]` trees, whereas random forest only requires `[number of iterations]` trees.

Try running the experiment with SKLearn gradient boosting and it would be slower than RandomForest.

[2019-01-24 23:36] hcho3 commented on #4077
@CodingCat

This also affects multi-core CPU performance as well, since the amount of parallelism is limited when only a few data points end up at a node. See discussion at hcho3/xgboost-fast-hist-perf-lab#15. Originally, when I designed the fast histogram algorithm, I intended a fully generic method for specifying the order of node expansion, but in practice, only two choices are available (lossg

[2019-01-24 23:39] hcho3 commented on #4077
Maybe a logical next step is to try re-writing the histogram construction code (snippet available at [hcho3/xgboost-fast-hist-perf-lab](https://github.com/hcho3/xgboost-fast-hist-perf-lab) so that histogram aggregation occurs level by level.

[2019-01-24 23:45] CodingCat commented on #4077
@hcho3 I think ideally we should have a a reconstruction of the whole algorithm to cover both cases and at the same time grow level by level

I am not sure if we have enough resources to finish and take the risk of buggy re-implementation in the next release,

I am going to have a short term solution to make them as two separate function (even one for distributed and one for local) to ensure that

[2019-01-25 01:38] FredYao opened #4080 "[jvm-packages] Train XGBoost in Spark, got errors, but failed to quit"
Datasize was really small (about several MBs).

Spark version: 2.3.0
yarn cluster
Num-executors: 4
Executor-cores 2
Executor-memory 4g
Executor-memory-overhead 2g

XGBoost param:
"eta" -> 0.1f,
"max_depth" -> 5,
"objective" -> "binary:logistic",
"num_round" -> 200,
"tracker_conf" -> TrackerConf(30000L, "scala"),
"num_workers" -> 3,
"nthread" -> 1

Scala code:

`
def train(...): PipelineModel = {

[2019-01-25 05:20] trivialfis commented on #3953
Yes.  The one from `rabit` got called.  It would be a quick fix to drop the wrapper.  But I got really worried that I don't know which header is actually being included during compilation.  @hcho3 Do you have some suggestions about how to mitigate the duplicated headers?

[2019-01-25 06:39] linetor opened #4081 "[jvm-packages] Train XGBoost in Spark, cpu usage is too low"
Spark version: 2.3.2
yarn cluster

data number : 2,591,753
feature : 100

XGBoost param:
"max_depth" -> 15,
"objective" -> "binary:logistic",
"num_round" -> 450,
"numClass" -> 60

I use EMR(Spark 2.3.2) and xgboost 0.8.1 in AWS. I wonder why cpu consumption is too low. Is it proper situation?

First, I used 8 instance by using r4.8xlarge. I thought it took too long time for training.
So I checked

[2019-01-25 09:04] hcho3 commented on #3953
@trivialfis Yeah having duplicate macros from two headers is a really tricky situation, especially when their behavior is different. We could rename all LOG macros in rabit into RABITLOG to avoid this issue.

[2019-01-25 09:58] thvasilo commented on #3986
There's an issue on the board about `num_feature` which I guess was used to subsample features? This is taken care of by `colsample*` now so I guess this parameter should be removed. @trivialfis should we open an issue to track this?

[2019-01-25 10:16] thvasilo opened #4082 "Document use of external memory Spark/JVM"
I was helping out a user [in the forum](https://discuss.xgboost.ai/t/jvm-packages-xgboost4j-external-memory-explain/594), and I found out about the [useExternalMemory](https://github.com/dmlc/xgboost/blob/4fac9874e0abcf864a9ca00f66ccb65bcdd86696/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostRegressor.scala#L268) parameter that, as far as I can understand, will ma

[2019-01-25 10:23] thvasilo commented on #4081
I see that r4.8xlarge has 32vCPUs. So if you only run 11 executors at one node I wouldn't expect large utilization. When you increase the number of CPU used in your second example it's expected that you get higher utilization.

Let me recommend again that for a problem of this size you should be using the local fast_hist version of the algorithm, using a cluster is overkill. I assume this is a pro

[2019-01-25 17:14] CodingCat commented on #4081
2,591,753 can be handled by 1 - 2 nodes...cpu utilization is limited because of the communication overhead among workers.....

[2019-01-26 01:06] hcho3 commented on #3980
@slundberg I wrote a small program to enumerate all 32-bit floating-point values. It turns out you can save every value without loss as a string:
[code]
The program finished in less than 10 seconds on my Macbook.

[2019-01-26 08:55] linetor commented on #4081
Thanks for all response.

@thvasilo What is the  local fast_hist version? I googled that word. But didn't show. Is it benchmark for xgboost?

@CodingCat Yes. It is too small data for current cluster. And this is my current situation.
Total data is about 150,000,000 and have 10 categories . And it's all text data.
Before xgboost training , I run LDA model for extracting feature(100 dimension) . And

[2019-01-26 09:43] Laurae2 commented on #3810
@hcho3 @SmirnovEgorRu I am seeing a small CPU performance regression on singlethreaded workloads on 100% dense data with the commit 5f151c5 which incurs a 10%-15% penalty overall when doing hyperparameter tuning on X cores x 1 xgboost thread.

Here is an example of 50M rows x 100 column random dense data (gcc 8), requires at least 256GB RAM to train it properly from Python / R, run 3 times (6 days

[2019-01-26 15:44] thvasilo commented on #4081
Fast hist is one of the tree growing methods available. For now it's only available for the non-distributed version, but it's being worked on for distributed mode.

Quoting the [docs](https://xgboost.readthedocs.io/en/latest/parameter.html#parameters-for-tree-booster):

[code]

[2019-01-26 15:51] CodingCat commented on #4081
@linetor cpu utilization is low because your cpu is hanging for i/o (xgboost is syncing stats of each workers),

when you have small chunks of data to process, cpu doesn't spend much time on calculating a tree, but there is still the overhead for establishing connections, waiting for parent and children to sync data (as the communication topology in xgboost is a binary tree). When you have more wo

[2019-01-26 15:52] CodingCat commented on #4081
@linetor you just use less workers if you don't have much data, we have many internal use cases that less workers significantly speedup the training

[2019-01-26 21:52] linetor commented on #4081
@thvasilo Thanks for your sharing. I will check it bu  the non-distributed version.

@CodingCat Ok, I understand why cpu utilization is low. I think I need to count data number and optimize spark process for more efficient utilization of cluster. Thanks for your detail explanation

I think I find what I want.

[2019-01-26 21:52] #4081 closed

[2019-01-27 00:12] RAMitchell commented on #4076
Not sure, if you have a reproducible example that would be greatly appreciated.

[2019-01-27 08:40] trivialfis commented on #4082
Hopefully I can find the time to fix external memory soon.  #4037

[2019-01-27 10:36] Laurae2 commented on #4076
@RAMitchell Seems not reproducible on newer commits of xgboost.

The following used to crash on a 4GB RAM GPU in the past, but not now anymore:

[code]

However, the following still hangs on 2 GPU when using nthread = 1:

[code]

[2019-01-27 10:41] pseudotensor opened #4083 "SIGFPE in GPU histogram method"
[code]

hash: 1fc37e47497239a7bc52e0e9949004c891fe36b6   GPU build.  I have been seeing these for past couple weeks.
[failxgb1.zip](https://github.com/dmlc/xgboost/files/2799954/failxgb1.zip)

[2019-01-27 10:42] pseudotensor commented on #4083
Running on 4 Titan-X pascal boards.

[2019-01-27 10:42] pseudotensor commented on #4083
@RAMitchell

[2019-01-27 11:00] pseudotensor opened #4084 "Check failed: n_gpus <= n_available_devices (3 vs. 2) Starting from gpu id: 2, there are only 2 available devices, while n_gpus is set to: 3\"
[code]
[code]

Hitting this quite a bit (just showing 2 cases above).

I have a 4 GPU system here, and for some reason, the detection of visible devices is unstable.  I hit this several times a day, but it's not reproducible.

This also happens on other systems with different board types (maxwell vs. pascal) and number of boards (2, 3, 4).

Is there anything that can be done?

@RAMitchell

[2019-01-27 20:46] trivialfis commented on #4084
I introduced the check in #3851.  Sorry for the ambiguity in error message.  `n_available_devices` means the number of available devices after `gpu_id`.  Say you have 4 GPUs and specified `gpu_id=2`, then only `4-2=2` GPUs are considered available.  Before introducing this check, XGBoost would use modulo to reset the id counting to 0, which violates `gpu_id` #3850 and causes trouble in distributin

[2019-01-27 21:08] trivialfis commented on #4083
Well I should add a check for `row_stride` being 0.  But for your information, all entries in your datafream are `NAN`, which results in an empty dataset.

[2019-01-27 23:36] pseudotensor commented on #4083
The target is nan too?  If feature is nan, can still predict average/mean model as best model, shouldn’t fail.

[2019-01-28 05:20] pseudotensor commented on #4084
Understood, just user error.  Thanks!

[2019-01-28 05:20] #4084 closed

[2019-01-28 05:40] CodingCat commented on #4077
so, I have a prototype (please ignore those obvious copy-paste code for now, I will revise them) at https://github.com/CodingCat/xgboost/pull/8 (the diff is over the original distributed fast histo implementation in https://github.com/dmlc/xgboost/pull/4011)

the changes in that PR brings another 1X speedup comparing to the original distributed fast histogram algorithm and 10 - 15% speedup compari

[2019-01-28 07:00] trivialfis commented on #4083
I have a PR #3984 that deals with empty input.  But I got stuck because I can't find a way to access those 4/8-GPU instance to sort out the bug in multigpu environment.

When all feature is `NAN`, the internal dataset represented as `CSR` or `ELLPACK` will be of zero size since `NAN` is considered missing value.

[2019-01-28 07:08] hcho3 commented on #4077
Awesome. So for now, we can wrap up the distributed fast hist and then come back to items (1) and (2).

[2019-01-28 07:34] pseudotensor commented on #4083
That is fine, I'm just saying one can still make a model, one shouldn't fail.

[2019-01-28 13:00] trivialfis commented on #4037
@hcho3 Hi do you have idea about what does `SparsePage::GetSortedColumnBatches` return?

[2019-01-28 13:05] #4010 closed

[2019-01-28 16:17] trivialfis commented on #3921
@RAMitchell I tried to print the values of inputs and output of `EvaluateSplitKernel` and use diff to compare those printed values,  seems at least some errors came from this kernel.  But I can't compare what's inside this kernel with this mass of data.

[2019-01-28 16:22] CodingCat commented on #4077
@hcho3 you can start reviewing the current fast distributed histogram PR,
as I want to separate performance improvement to another PR to avoid
packing too many things together

On Sun, Jan 27, 2019 at 11:08 PM Philip Hyunsu Cho <notifications@github.com>
wrote:

[2019-01-28 16:44] CodingCat commented on #4076
close it for now as the major purpose of filing the issue (to get awareness of the blog post and more insights to the issue mentioned there) has been achieved and there is undergoing work to fix the issues

[2019-01-28 16:44] #4076 closed

[2019-01-28 18:11] CodingCat commented on #3231
the feature is implemented in https://github.com/dmlc/xgboost/pull/3910

[2019-01-28 18:43] pseudotensor commented on #4083
Related: https://github.com/dmlc/xgboost/issues/2943  Fails instead of going back to base model like LightGBM does with its dummy trees mode.

[2019-01-28 18:44] pseudotensor commented on #4083
Related failure:
[code]

Also related to not going back to a simple model, shouldnt' fail.

[2019-01-28 18:51] pseudotensor opened #4085 "[BLOCKING] xgboost.core.XGBoostError: b'[10:49:41] /root/repo/xgboost/src/common/hist_util.cc:152: Check failed: cut.cut.size() > 0U (0 vs. 0)"
[failcut.zip](https://github.com/dmlc/xgboost/files/2804394/failcut.zip)

[code]

This problem has been in xgboost for a very long time.

Generally xgboost needs to at least go back to base average (for regression) or most frequent (for classification) case as a model.  LightGBM does this with its dummy trees.

[2019-01-28 18:52] pseudotensor commented on #4085
Can edit script, kwargs are not needed.

[2019-01-28 20:04] hcho3 commented on #4075
@kgoyal40 Yes, that is correct.

Let **S** the set of features used in all the ancestor nodes of the proposed split (plus itself). The proposed split is admitted whenever at least one set in the interaction constraint is a superset of **S**. Since `{4,5,6}` is not a subset of `{1,2,3}`, features 4, 5, 6 in your example won't be able to interact with each other. In addition, you cannot ever use fea

[2019-01-28 20:05] #4079 closed

[2019-01-28 20:07] hcho3 commented on #3980
@slundberg I wrote a small C program to show that 32-bit floating point values can be stored as text without loss:
[code]

It took 55 minutes to finish on a c5.2xlarge instance.

[2019-01-28 21:02] pseudotensor commented on #4085
Agreed.  Related to #4083 as well as linked above.

[2019-01-29 12:53] clinchergt commented on #4060
This issue seems related to [mine ](https://github.com/dmlc/xgboost/issues/3960)in that if you load the binary it works but if you parse the JSON dump you get the wrong thresholds. Hopefully the new implementation will store the values accurately.

[2019-01-29 14:41] kgoyal40 commented on #4075
Hey, Thanks for the reply. I have another query. What happens when you give two sets with one (or more) common feature(s)? My results show that the performance is worse compared to one feature set at a time.

[2019-01-29 15:51] hcho3 commented on #4075
See https://discuss.xgboost.ai/t/feature-interaction-constraint-overlap/506/2?u=hcho3

[2019-01-29 20:52] hcho3 commented on #3980
@slundberg I revised the snippet so that we don't have to convert `float` into `double` when serializing. This improves performance (by 27%: 55 min -> 43 min).

[code]

[2019-01-30 10:00] kgoyal40 commented on #4075
@hcho3 Thanks but that doesn't answer my question? I want to understand how common features are utilized in the algorithm.

[2019-01-30 10:06] hcho3 commented on #4075
@kgoyal40 The linked post discusses the scenario where two constraint sets share common features, e.g. ``[[0, 1, 2, 3], [1, 2, 3, 4]]``.

[2019-01-30 10:51] pseudotensor commented on #3261
[nanpreds.zip](https://github.com/dmlc/xgboost/files/2812185/nanpreds.zip)

A new clean case.  It's been about 9 months.  Any chance this can get fixed?  We see it all the time.

@RAMitchell @trivialfis

Thanks.

[2019-01-30 10:58] pseudotensor commented on #3261
For the above, nothing odd about the coefficients themselves.  Min is overall (among all classes) -0.163164 and max is 0.176556 .  This case is 100% reproducible on different types of GPU machines (not surprising as this uses CPUs).  But we've seen it happen on GPU cases too.

[2019-01-30 11:05] trivialfis commented on #3261
I'm not sure how to load the pickled data:

    data = pickle.load(open("data.pkl", "rb"))
_pickle.UnpicklingError: state is not a dictionary

[2019-01-30 11:05] pseudotensor commented on #3261
Hi, Sorry, I deleted, it wasn't good case.  I was passing nan data into glm.

[2019-01-30 16:37] maphany opened #4089 "cannot import name 'labelEncoder' from 'sklearn.preprocessing'"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-01-30 17:16] hcho3 commented on #4089
@maphany Please give us more details: what you tried, the script you were running etc. Without details, your issue may be closed early.

[2019-01-30 17:17] hcho3 commented on #4089
Also this may be of interest to you: scikit-learn/scikit-learn#1613

[2019-01-30 18:46] SmirnovEgorRu commented on #3810
@hcho3 @Laurae2 Generally Hyper-threading helps only in case of Core-bound algorithms, no memory-bound algorithm.
HT helps to load pipeline of CPU by more instructions for execution. If most of instructions wait for execution of previous instructions (latency bound) - HT can really helps, in some specific workloads I observed speedup up to 1.5x times.
However, if your application spends most of ti

[2019-01-30 18:54] hcho3 commented on #3810
@SmirnovEgorRu Thank you again for your effort. FYI, there was a recent discussion about increasing amount of parallelism by performing level-wise node expansion: #4077.

[2019-01-31 04:52] CodingCat opened #4093 "[Roadmap] external memory support for tree_method='hist'"
in the [doc](https://xgboost.readthedocs.io/en/latest/parameter.html) we mentioned that Distributed and external memory version only support tree_method=approx

but is it valid now? what's the problem with external memory + hist? I tested but didn't see any issue, did I miss anything?

[2019-01-31 04:52] CodingCat commented on #4093
@hcho3

[2019-01-31 05:16] CodingCat commented on #4093
hmmm....looks like the training converged too early....but didn't get the idea why it is related to external memory or the row.page has some problem....

[2019-01-31 05:41] trivialfis commented on #4093
There's open issue related to external memory #4037.  I'm still struggling to understand it...

[2019-01-31 05:47] CodingCat commented on #4093
@hcho3 , yes, our data size makes external memory a must-have......but I am a bit confused which part makes hist does not work with external memory....

@trivialfis what I observed is that when I setup external memory with hist tree_method, the metrics (train/test) doesn't change after 5 - 6 iterations, though the training still moves forward.....

[2019-01-31 05:56] #4051 closed

[2019-01-31 06:42] #4074 closed

[2019-01-31 15:02] GustavoGL opened #4094 "XGBRegressor Importance_type"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-01-31 15:14] GustavoGL commented on #4094
I am creating a model with XGBRegressor and I noticed that the attribute *importance_type*, which is set to "gain" by default always uses type "weight", no matter the specified value.
This attribute sets the feature importance type for the *feature_importances_* property.

To reproduce the issue, try creating two XGBRegressor models with the same parameters using different values for the *importan

[2019-01-31 15:44] maphany commented on #4089
Hi,
I am running python in Anaconda.

Here is my line of code: from sklearn.preprocessing import labelEncoder

I am trying to import Encoder to encode categorical variables. But I keep
getting this error:

from sklearn.preprocessing import labelEncoder
Traceback (most recent call last):

  File "<ipython-input-11-c8ba4564c5da>", line 1, in <module>
    from sklearn.preprocessing import labelEncode

[2019-01-31 16:30] #4089 closed, assigned to nobody

[2019-01-31 16:42] hcho3 commented on #4094
The fix was made in #3876, and it is not part of version 0.81. Can you compile from the source?

[code]

[2019-01-31 17:02] GustavoGL commented on #4094
Ok. Thanks!
I am closing the issue then.

[2019-01-31 17:02] #4094 closed

[2019-01-31 17:47] CodingCat commented on #4077
I cleaned up my prototype to remove the part of `do not create histograms for not-selected features; `,
I found histogram building cost is ignorable comparing to HIST and it makes code more complicated, the performance gaining didn't change too much

[2019-01-31 19:45] #4047 closed

[2019-01-31 19:45] CodingCat commented on #4047
check https://github.com/dmlc/xgboost/issues/4077

[2019-02-01 00:25] linkin8834 opened #4096 "Unable to use pairwise ranking with qid format"
Hi all,

I tried to train xgboost models locally using the pairwise loss function. I have a file that using the qid format as shown in https://xgboost.readthedocs.io/en/latest/tutorials/input_format.html#query-id-columns which is reproduced below:
[code]

Then, I use the following to train the model:
[code]
but I am getting the following error:
[code]

The pairwise.conf file is shown below:
[code]

[2019-02-01 00:38] hcho3 commented on #4096
@linkin8834 Most likely it is the version issue. Make sure that you are using XGBoost 0.80 or later.

[2019-02-01 00:44] hcho3 commented on #4037
@trivialfis It means that you want to get column batches where each column has its content sorted in ascending order. See https://github.com/dmlc/xgboost/blob/abf2f661bedb49245374c0c853231a5e91715b1c/tests/cpp/data/test_sparse_page_dmatrix.cc#L52-L82 for illustration.

[2019-02-01 00:55] hcho3 commented on #4096
@linkin8834 Can you run `make clean` and try again? If that fails, try doing a clean checkout (`git clone --recursive https://github.com/dmlc/xgboost -b v0.81`).

[2019-02-01 00:56] linkin8834 commented on #4096
@hcho3 Thanks for your suggestions. Yes `make clean` works for me. Let me try to do the pairwise ranking again. Thanks!

[2019-02-01 00:56] #4096 closed

[2019-02-01 01:04] hcho3 commented on #4067
@zhujuan0528 Which version of XGBoost are you using? Make sure you are using version 0.81, since there was a bug in early stopping in older versions (see #3808).

[2019-02-01 01:06] hcho3 commented on #4080
@FredYao Maybe the data was so small that one of the executors didn't get any work assigned?
@CodingCat Does distributed XGBoost handle edge cases where a worker doesn't get any work (because dataset is so small, and you have unbalanced trees where most of the data falls in one node)?

[2019-02-01 09:30] ras44 opened #4097 "Imported JSON xgb.dump yields incorrect predictions due to internal single precision floats"
Related to the discussion in: https://github.com/dmlc/xgboost/issues/3960
[code]

xgboost handles values as single precision floats internally, however when the model is exported as JSON, the values in the child leaf nodes lose precision.  This is exacerbated in binary logistic scores if attempting to import the JSON model and parse it for scoring.  Importing a binary-saved model does not have thi

[2019-02-01 09:44] hcho3 commented on #4097
See https://github.com/dmlc/xgboost/issues/3960#issuecomment-447234404. Can you convert your input data into 32-bit float first?

[2019-02-01 10:23] ras44 commented on #4097
Thanks for the reference.  In current applications, much of the data comes from a very large DB, so it would be very cumbersome to convert to 32-bit float.  I use xgb.dump to convert the model scoring process into SQL so that I can score [in-database](https://rviews.rstudio.com/2018/11/07/in-database-xgboost-predictions-with-r/) (instead of attempting to score in-memory).  So the features in the d

[2019-02-01 15:30] kretes opened #4098 "src/common/./quantile.h:396: Check failed: nbig < n quantile: too many large chunk when group weights used"
When training python-xgboost on CPU with pairwise objective and calling set_weights on DMatrix - for some dataset size it blows with following exception:

[code]

This happens for a dataset size of 16M observations, 44 features and 300K groups.
For 25% less observations - the training goes on.
For 25% more observation - the training fails with segfault without any stacktrace
When we are not passin

[2019-02-01 16:39] hcho3 commented on #4098
@kretes Can you post your dataset? If that's not possible, can you generate some dummy data and try to re-produce the error? We need a way to pin down the bug somehow.

[2019-02-01 16:56] hcho3 commented on #4097
There may not be an easy solution, since XGBoost converts training data into 32-bit floats internally at training time. So splits are chosen assuming that input data is 32-bit.

To accommodate your use case, we need to dump 32-bit floating-point `x` so that the following statement holds for every 64-bit floating point value y:
[code]
This may or may not be practicable.

[2019-02-01 17:12] ras44 commented on #4097
I agree.  I think the only reasonable solution is to converting any data to 32 bit. Thanks for sharing.

[2019-02-01 20:23] pseudotensor commented on #3953
This code also has same issue:
[code]

[2019-02-01 21:56] rahul-c1 commented on #4075
Thanks for explaining this. I am using the xgboost library in R (version 0.81.0.1 from CRAN) and trying to understand the functionality by reconciling the example provided under the demo files [https://github.com/dmlc/xgboost/blob/master/R-package/demo/interaction_constraints.R](interaction_constraints.R) to the description mentioned in [https://xgboost.readthedocs.io/en/latest/tutorials/feature_i

[2019-02-01 21:59] hcho3 commented on #4075
@rahul-c1

Can you be more specific? How did you tell that there are interactions?

[2019-02-01 22:12] rahul-c1 commented on #4075
yes, I am just running the example https://github.com/dmlc/xgboost/blob/master/R-package/demo/interaction_constraints.R as is without making any changes.
Constraints are provided in the script and a comment in the file highlights that without interaction constraints we get many more interaction terms but I don't see a difference in the number of interaction terms being returned by the function def

[2019-02-02 22:00] kretes commented on #4098
I cannot post dataset, but I managed to make a reproducible case.
It gives me a segmentation fault right on, without any stack trace nor message.
the code:
https://gist.github.com/kretes/464ed8704076cab6a022783e65d0cc56
the output:
[code]
core dump file is a few GB so I can upload that somewhere but only if needed to investigate the issue. I hope this code will make it reproducible.

[2019-02-03 09:03] #4056 closed

[2019-02-04 17:14] jmpanfil opened #4100 "R crashing from fatal error"
I am currently using version 0.71.2 in R 3.4.3. When trying to run the xgboost model, R experiences a fatal error and crashes. No error messages are output to the console. The last message before crashing is the usual message stating which method is being used. I cannot share my data but here are some details. The dataset is ~9.5 million rows by 1700 columns. The set is about 20% dense (non-zero),

[2019-02-04 18:32] AK-ayush opened #4101 "create DMatrix from `numba.cuda.cudadrv.devicearray.DeviceNDArray` results in AssertionError:"
I have prerocessed numba cuda arrays and want to use xgboost gpu without tranferring data back to cpu for creating the DMatrix and then transfer the data again to gpu for training...

Is there anyway by which we can create the DMatrix directly numba cuda arrays in gpu?
[code]

[2019-02-04 20:02] #4097 closed

[2019-02-05 00:00] hcho3 commented on #4100
@jmpanfil I think you are running out of memory. You should use sparse matrix for training. See my reply at https://discuss.xgboost.ai/t/alternatives-for-matrix-sparsematrix/635 for possible alternatives.

[2019-02-05 00:00] #4100 closed

[2019-02-05 09:14] hcho3 commented on #3868
@trivialfis Good news: Windows now have a first-class support for SSH server. See https://winscp.net/eng/docs/guide_windows_openssh_server. I just tried it and found it very easy to set up. With SSH, the Jenkins master can spawn Windows slave workers on demand.

[2019-02-05 09:37] trivialfis commented on #3868
@RAMitchell would be glad to hear about this. :)

[2019-02-05 19:49] yaozhang2016 opened #4103 "[jvm-packages] potential checkpoint issues"
To community users and developers,

I am using checkpoint during training for distributed scala spark version, however saw two potential issues:

1. I can see checkpointed models in specified LOCAL path, with names like 100.model, 200.model,…; however my checkpoint interval is 50, which looks like model name numbers always look like 2*x.model, where x=checkpointinterval

2. the re-start training w

[2019-02-06 00:04] CodingCat commented on #4103
1 is expected as version number is updated for [twice] (https://github.com/dmlc/xgboost/blob/ae3bb9c2d55f4d1e21df0ad0fcf936044aae783a/jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoost.java#L184-L212)

for 2, if your version cannot pickup HDFS path, are you sure your driver can access the local path? (e.g. if your application is run in yarn-cluster mode)

[2019-02-06 00:05] CodingCat commented on #4080
@hcho3, in that case the application will fail

@FredYao , can you try from master branch? https://github.com/dmlc/xgboost/pull/4046 should fix the issue

[2019-02-06 00:06] CodingCat commented on #4067
check https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#early-stopping

[2019-02-06 00:06] #4067 closed

[2019-02-06 00:06] #3954 closed

[2019-02-06 00:07] #3823 closed

[2019-02-06 00:07] #3786 closed

[2019-02-06 02:06] yaozhang2016 commented on #4103
@CodingCat
My spark app runs in default(client mode), I tried a hdfs location in setCheckpointPath, but an error of local file system came out. This why I used a local path and did see *.model files added in training, but when app was broken and re-start, app just ignored its previously saved *.model files and overwrote them in a brand new training.
However I can use sparkContext to set hdfs locat

[2019-02-06 03:53] CodingCat commented on #4103
why you have to use a local path? can you check if patch https://github.com/dmlc/xgboost/pull/3614/files is in your version?

[2019-02-06 06:46] borisclemencon opened #4104 "Lose parameters when writing xgboost model in R and loading in Spark bridge"
## Description

I trained a xgboost model with R (0.80.1) and I want to load it and infer in Spark 2.3 with xgboost4j-spark 0.80.6. When loading the file like this:

[code]

... all the parameters from my original model trained in R are reset to default:

[code]
Any idea?

## Config
- I am using xgboost 0.80.1 in R, and xgboost4j-spark 0.80.6
- Spark 2.3.1

[2019-02-06 07:34] borisclemencon commented on #3689
Thanks! However, when I train a model in R, and load it in Spark, the predictions does not correspond and the parameters are all reset to default in Spark. Any idea?
https://github.com/dmlc/xgboost/issues/4104

[2019-02-06 15:02] yaozhang2016 commented on #4103
@CodingCat,

   I just checked my jar's source code, I don't have your 3614 patch. Looks like the actual jvm-package is from commit b53a5a262c74987d85c54fd3d41bc6d28e5e1d60 at Aug 17, 2018. Is there newly pre-compiled version available?

Thanks
Yao

[2019-02-06 15:03] CodingCat commented on #4103
Check https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#refer-to-xgboost4j-spark-dependency

You are supposed to refer dependency from maven

[2019-02-06 15:29] trivialfis commented on #4101
Currently this is not possible.

[2019-02-06 15:29] trivialfis commented on #4101
@AK-ayush

[2019-02-06 16:20] yaozhang2016 commented on #4103
Thanks, maven central artifacts are blocked by company.

[2019-02-06 18:16] CodingCat commented on #4080
I have tested, #4046 resolved the issue

[2019-02-06 18:25] CodingCat commented on #4104
explanations are

1. those parameters from R are from XGBoost domain

2. the parameters returned by getEta/getAlpha, etc. is from Spark domain

3. you can save a Spark pipeline for XGBoost with parameters and load it back with the previously set values (since all you do is within Spark domain)

4. you cannot save a XGBoost model and load it back from Spark with the expectation to get parameters fr

[2019-02-06 18:25] #4104 closed

[2019-02-06 18:26] hcho3 commented on #4104
@borisclemencon This is limitation of current model serialization format: all training parameters are lost, and only the final tree outputs are preserved.

[2019-02-06 18:27] hcho3 commented on #4104
@CodingCat The JSON serialization proposal includes a way to preserve the state of every object (credit to @trivialfis). Would it help in this case?

[2019-02-06 18:49] FredYao opened #4106 "[jvm-packages] Exception while getting task result: java.io.InvalidClassException"
I was using "**0.82-SNAPSHOT**" version, due to #4080:
'''
resolvers += "GitHub Repo" at "https://raw.githubusercontent.com/CodingCat/xgboost/maven-repo/"
"ml.dmlc" % "xgboost4j" % "0.82-SNAPSHOT",
"ml.dmlc" % "xgboost4j-spark" % "0.82-SNAPSHOT",
'''
Spark version: 2.3.0, with Yarn
XGBoostClassifier param:
'''
val xgbParam = Map("eta" -> 0.1f,
			"max_depth" -> 5,
			"objective" -> "binary:logisti

[2019-02-06 20:24] sh1ng opened #4107 "xgboost for GPU hangs on AllReduce and CPU Barrier"
Could be nccl issue, but I'd like to get a confirmation.
https://github.com/NVIDIA/nccl/issues/176

[2019-02-06 21:57] CodingCat commented on #4080
https://github.com/dmlc/xgboost/pull/4108 is the correct one

[2019-02-06 22:43] CodingCat commented on #4080
it's your environment problem, somehow you messed up different version of jars in your class path

[2019-02-06 23:32] marcusjzw commented on #3894
Hi @dping1, did you ever get this working? I'm also using XGBoost on Sagemaker, trying to get out feature importances.

Sagemaker, afaik, is running XGBoost 0.72. I'm guessing we'll just have to wait until Amazon adopts a future release with this fix in it?

[2019-02-07 04:53] trivialfis commented on #4107
Yes.  I encountered this after rewriting the build script.  Tried to track down the related part of NCCL but those CPU barrier code is removed in latest brand.  Will summit a workaround soon.

[2019-02-07 06:51] trivialfis commented on #4098
From sanitizer:

READ of size 4 at 0x7f8474bbadd0 thread T57
    #0 0x7f8480c0b280 in xgboost::common::HistCutMatrix::Init(xgboost::DMatrix*, unsigned int) [clone ._omp_fn.0] /home/fis/Workspace/xgb/xgboost/src/common/hist_util.cc:60
    #1 0x7f848059b97d  (/usr/lib/x86_64-linux-gnu/libgomp.so.1+0x1697d)
    #2 0x7f84e59066da in start_thread (/lib/x86_64-linux-gnu/libpthread.so.0+0x76da)
    #3 0x

[2019-02-07 06:53] hcho3 opened #4109 "Write unit tests for tree training"
Currently, tests only verify that training accuracy is improving over time. We want to add unit tests to verify correctness of each component of training. The fast histogram updater (`updater_quantile_hist.cc`) is a good candidate, since the updater is neatly broken down into multiple methods.

[2019-02-07 08:56] venky177 opened #4111 "[jvm-package] Max Leaves == Max Depth ?"
Is this expected ?

https://github.com/dmlc/xgboost/blob/ae3bb9c2d55f4d1e21df0ad0fcf936044aae783a/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/BoosterParams.scala#L65

[2019-02-07 10:59] sh1ng commented on #4107
Could you point me to a commit that fixes it? We can update our fork.

[2019-02-07 12:46] trivialfis opened #4112 "Data parser is not thread safe."
This is actually a bug in `dmlc-core`, but it's critical and I found it when debugging XGBoost.

While looking into #4107 , after some slight modifications, I got a segfault from `gpu_predictor.MGPU_PicklingTest`.  Output from ASAN is attached at the end.  Some locks for the text parser may be required.  @hcho3

==9348==AddressSanitizer: while reporting a bug found another one. Ignoring.
==9348==A

[2019-02-07 14:41] trivialfis commented on #4098
@hcho3 Could you confirm that, when doing ranking with groups, the number of weights should be equal to number of groups instead of number of data rows?  I'm not familiar with ranking. :(

If so, I will summit a PR for this.

[2019-02-07 17:02] #4080 closed

[2019-02-07 21:13] hcho3 commented on #4112
@trivialfis That's quite concerning. Would you be able to post a small re-producible example? I am actually dealing with a memory bug in MXNet that may be related.

[2019-02-07 21:22] kretes commented on #4098
In the meantime I will post the reasons that made us believe xgboost weights in ranking scenario are implemented on the per-group base:

1. PR introducing weights in pairwise loss https://github.com/dmlc/xgboost/pull/3379 and especially those tests: https://github.com/dmlc/xgboost/pull/3379/files#diff-7d6b5fc7dafc6733e59c93138f4c1b7bR11 are designed in a per-group weights.
1. It works for a smalle

[2019-02-07 22:12] #4107 closed

[2019-02-07 22:41] trivialfis commented on #4112
@hcho3 I'm not sure it would be reproducible on your machine.  It's found in a quite surprising way.

Fetch my CMake branch:
https://github.com/trivialfis/xgboost/tree/cmake

Add `    auto thread = omp_get_thread_num();` to:

https://github.com/trivialfis/xgboost/blob/017c97b8ce62935429c797b085bf46c63b2be617/src/common/device_helpers.cuh#L939

after the check.  Run `gpu_predictor.MGPU_PicklingTest

[2019-02-07 22:50] trivialfis commented on #4112
And the cmake flags:
cmake ../xgboost -DUSE_CUDA=ON -DUSE_OPENMP=ON -DGOOGLE_TEST=ON -DGPU_COMPUTE_VER=61 -DUSE_NCCL=ON -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS="-fuse-ld=gold" -DCMAKE_C_FLAGS="-fuse-ld=gold" -DUSE_SANITIZER=ON -DENABLED_SANITIZERS="address"

[2019-02-08 05:08] CodingCat commented on #4103
you can try to compile by yourself then, just run mvn package -DskipTests

[2019-02-08 05:08] #4103 closed

[2019-02-08 05:09] CodingCat commented on #4093
I have started looking into why external memory version of hist is messed up with accuracy

[2019-02-08 06:13] hcho3 commented on #4093
@CodingCat Is this issue blocking?

[2019-02-08 06:53] CodingCat commented on #4093
no, it just means you need more memory to use distributed hist,

[2019-02-08 07:29] trivialfis commented on #4098
I'm not sure about the quantile error yet.  But the one with segfault is due to having less weights than data.

[2019-02-08 18:52] CodingCat commented on #4111
it's a typo, sorry.....

and @rongou has fixed that in the master branch

[2019-02-08 18:52] #4111 closed

[2019-02-08 19:07] trivialfis opened #4117 "[jvm-package] Incorrect number of weights and groups in ranking test."
While working on #4115, @hcho3 pointed out the test in scala ranking is incorrect: https://github.com/dmlc/xgboost/pull/4115#issuecomment-461905073

The number of groups should be equal to number of weights but my added check shows otherwise:
https://travis-ci.org/dmlc/xgboost/jobs/490661939#L1557

@CodingCat Could you make a separated PR so that I can rebase on?

[2019-02-08 19:08] CodingCat commented on #4117
ack doing it today

[2019-02-08 19:09] trivialfis commented on #4117
Thanks!

[2019-02-09 10:35] zyq11223 opened #4119 "How a trained model with xgboost4j-spark becomes a web service"
I've used xgboost4j-spark trained a xgboost model, and spark ml trained a LR model. But in product i have to pass the results which were predicted by the model to the web service.  Could you mind tell me how to deploy the trained xgboost model as a web service ? And extract the results from spark dataframe is very slow, so it can not solve the problem . Appreciate!

[2019-02-09 21:38] #4117 closed

[2019-02-09 22:25] trivialfis opened #4120 "Handling empty datasets."
Currently empty datasets are not well handled in XGBoost.  As far as I know there are three different situations where empty datasets might appear:

1. The input dataset (for training, prediction, evals ...) is empty due to all entries are `NAN`. #4083
2. There are more GPUs than data rows, so some GPUs don't have assigned data. #3984
3. After sampling.

As suggested by @pseudotensor , for the fir

[2019-02-09 23:36] hcho3 commented on #4120
@trivialfis I think the first case is related to #4085 and #2943. The cause is that the quantile sketcher fails to create a sketch for columns filled with `NAN` or identical constant values. Can I take a shot at it this week? If it doesn't go well, we'll have to put a band-aid and return after 0.82 release.

[2019-02-09 23:38] hcho3 commented on #4039
@myotheone @trivialfis Agreed that the docstring should be updated. I'll open a PR to fix it.

[2019-02-09 23:46] pseudotensor commented on #4120
There many other ways one should go back to a dummy model.  E.g., even if there is no valid eval set (e.g. all NaNs), one can still predict the "average" model.  It's not only about constant columns or many missings, etc.  LightGBM has done a good job lately about fixing all these types of issues.

[2019-02-09 23:57] hcho3 commented on #4120
@pseudotensor Are you aware of other failure modes other than shown in #4085, #2943, and #4083 ?

[2019-02-10 07:01] chenqin opened #4122 "support checkpoint path point to GCS"
Currently setting checkpoint path to gs:// will cause executor throw exception not knowing file system starts with gs://. The way to reproduce is to start a spark xgboost job in GCP via spark k8s operator
`
spec:
  jars:
    - local:///opt/spark/jars/gcs-connector-latest-hadoop2.jar
  hadoopConf:
    "xxx.checkpoint_path": "gs:///dir"
    ...
    "fs.gs.impl": "com.google.cloud.hadoop.fs.gcs.Googl

[2019-02-10 07:47] hcho3 commented on #4122
@chenqin The feature request for Google Cloud Storage has been around for a while: dmlc/dmlc-core#14. XGBoost delegates all file I/O to dmlc-core.

[2019-02-10 15:02] CodingCat commented on #4122
Can you post the stacktrace? If it is purey from jvm, it mostly because of misconfiguration in your hdfs

[2019-02-10 15:45] zyq11223 commented on #4119
@CodingCat

[2019-02-10 15:45] zyq11223 commented on #4119
@tqchen

[2019-02-10 20:22] #4039 closed

[2019-02-11 08:16] zyq11223 opened #4124 "xgboost4j-java cannot load xgboost model trained by xgboost4j-spark"
Are there any ways to solve the issue?
I trained a xgboost model with xgboost4j-spark. And I want load it with xgboost4j java api -XGBoost.loadModel().
Appreciate!

[2019-02-11 20:35] NaderNazemi commented on #4065
Has this been resolved ?
I am still getting an error.
Thank you

[2019-02-11 22:02] gatapia opened #4125 "windows x64 GPU build broken - 2019-02-12"
Current head throws the following error on build:
[code]

Full build log with errors attached, this has multiple builds, some of which succeed but just search for FAILED.
[nightly_build_log.txt](https://github.com/dmlc/xgboost/files/2853215/nightly_build_log.txt)

[2019-02-11 22:38] RAMitchell commented on #4125
Thanks, let me fix this today. Hopefully we get CI up shortly.

[2019-02-11 22:54] hcho3 commented on #4065
@NaderNazemi Yes, it is resolved. If you are experiencing an error, please file a new issue.

[2019-02-12 00:52] rongou opened #4127 "distributed `hist` tree method not working?"
I have a test that takes some rows from the mortgage dataset (https://rapidsai.github.io/demos/datasets/mortgage-data) and trains xgboost on spark. It uses the `auto/approx` tree method before and seems to work fine. I just built from master and tried the new `hist` method, but it seems to be giving me random predictions (AUC of 0.5). Has anyone tried the distributed `hist` method on a real datase

[2019-02-12 01:15] CodingCat commented on #4127
We have multiple test cases guarding accuracy and I also tested with internal datasets, didn’t see the issue,

But if you use external memory, that would mess up the accuracy

[2019-02-12 01:26] CodingCat commented on #4127
can you check your driver log, and see if training error goes to the correct direction?

[2019-02-12 01:50] CodingCat commented on #4127
validate again , didn't find the issue

[2019-02-12 02:00] rongou commented on #4127
Thanks for checking. Yeah it might very well be something silly on our end. Let me dig a bit deeper to see if I can find the root cause.

Just for my education, is `hist` pretty much a drop-in replacement for `approx`? Is there anything I'd need to change in order to make one work versus the other?

[2019-02-12 02:08] CodingCat commented on #4127
It should be as easy as that

If you set use_external_memory to true in approx, you’d change to false as
external memory in hist has some problem now

On Mon, Feb 11, 2019 at 6:00 PM Rong Ou <notifications@github.com> wrote:

[2019-02-12 06:25] selectasterisk opened #4129 "Monotonic constraint XGBClassifier & plot_tree interpretation"
I am trying to constraint all the features (continuous and categorical) to be monotonically increasing w.r.t the target variable. It is my understanding that this is possible in XGBoost.

Following the instructions on the tutorial page, I used the following in my model parameters.

`params_constrained['monotone_constraints'] = '('+''.join(['1,' for x in range(data_train.shape[1])])[:-1]+')'
`
Trai

[2019-02-12 07:35] hcho3 commented on #4075
@rahul-c1 I just tried running the `interaction_constraints.R` example with XGBoost (0.81.0.1) and could not reproduce the issue. Here are the outputs I got:

`bst_interactions`:
[code]

`bst2_interactions`:
[bst2.txt](https://github.com/dmlc/xgboost/files/2854605/bst2.txt)

[2019-02-12 07:35] #4075 closed

[2019-02-12 07:40] hcho3 commented on #4119
@zyq11223 Consider using [dmlc/treelite](https://github.com/dmlc/treelite). If you are looking for managed solutions, you can look into using [Amazon SageMaker](https://aws.amazon.com/sagemaker/). See [this example](https://github.com/awslabs/amazon-sagemaker-examples/blob/master/advanced_functionality/xgboost_bring_your_own_model/xgboost_bring_your_own_model.ipynb) for deploying pre-trained XGBoo

[2019-02-12 07:40] #4119 closed

[2019-02-12 07:40] hcho3 commented on #4119
Closing this for now. Feel free to post at https://discuss.xgboost.ai/

[2019-02-12 07:44] hcho3 commented on #4068
@suresh-chinta Currently XGBoost does not let you use categorical values that were unseen at training time. The reason is that categorical values have to be [one-hot encoded](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f), so you get K binary variables to represent K possible categorical values.

[2019-02-12 07:44] #4068 closed

[2019-02-12 07:48] hcho3 commented on #4106
@FredYao Are you trying to load models saved by previous version of XGBoost4J-Spark?

[2019-02-12 07:55] hcho3 commented on #4129
1. The split `f315 < -9.535674316e-07` will be false for all non-missing values. Note that you can get to "yes" branch if the feature 315 has a missing value. In effect, the split is distinguishing between missing and non-missing values. It is likely that 0 is encoded as missing value. This kind of split is pretty common for trees splitting on binary variables.
2. Monotonic constraints apply to in

[2019-02-12 07:57] hcho3 commented on #4124
See https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#interact-with-other-bindings-of-xgboost.

[2019-02-12 07:57] #4124 closed

[2019-02-12 09:22] selectasterisk commented on #4129
Ah interesting. I have some follow up questions:

1) Yes, I believe the missing values are encoded as zero if they did not appear (a bag of words if you will). I've read that adding an additional value during preprocessing for categorical variables indicating that they are missing will result in a model that is what we'd expect. per https://github.com/dmlc/xgboost/issues/3267 . In cases like these

[2019-02-12 09:36] hcho3 commented on #4129
The default direction is learned as well. And yes, the threshold is also learned.

I don't think I follow you here. The plotted tree in your example doesn't contain any split using `f249`, so you'd get the same value for all possible values of `f249` (with other variables being fixed).

See https://xgboost.readthedocs.io/en/latest/tutorials/monotonic.html. We can enforce whether the target should

[2019-02-12 10:10] hcho3 opened #4130 "[BLOCKING] Column batches in SparsePage are not merged properly"
I was playing around with external memory and found that `approx` algorithm fails for a 1666667x5 matrix (produced with `CreateBigTestData`).

Re-production: Add the following test to `tests/cpp/test_learner.cc`:
[code]
Then compile Google tests with Address sanitizer enabled:
[code]

Now running `./testxgboost --gtest_filter=Learner.CheckMultiBatch` will cause Heap Overflow exception.

**Diagnosi

[2019-02-12 10:28] kgoyal40 commented on #4075
I notice another issue. The fitting run time without feature interaction constraints is less than with feature interaction constraints, for most cases. This seems counter-intuitive as feature interaction constraints would result in less comparisons (and splits).  Am I missing something?

Thanks

[2019-02-12 10:33] hcho3 commented on #4075
@kgoyal40 Enforcing interaction constraints require extra bookkeeping, to ensure that splits don’t choose wrong features. Hence the extra run time.

[2019-02-12 10:44] akhilbatra898 opened #4131 "[jvm-packages] Feature Constraints param in XGBoost4J-Spark"
I am training xgboost model on the spark in distributed manner. I want to use `interaction_constraint` and `monotone_comnstraint`, but I am unable to find a way to do so.

I am aware that it is supported in in-memory python, but It will be helpful if it is supported in spark.

[2019-02-12 12:30] vbogach opened #4132 "colsample_bytree still locale dependant."
Despite #3230 was closed, this issue still remains if number delimiter is set to space (i.g. 123 456 789).

Way to represent:
1. Install Ubuntu 18.04 LTS.
2. Go to Settings -> Region & Language, set Formats to Russia (Российская Федерация).
3. Same as #3230.

[2019-02-12 12:32] #4132 closed

[2019-02-12 14:07] trivialfis commented on #4130
@hcho3 This might be related to #4037 .

[2019-02-12 18:23] selectasterisk commented on #4129
The confusion might of been caused by there being two plotted trees, so my apologies for that. I am referring to the first diagram, the node on the right on the second level. Depending on whether `f249` is present, it could either influence the output to be smaller or bigger, but not monotonically increasing, as an example. I suppose this is due to what the split learns, and not actually about the

[2019-02-12 18:33] hcho3 commented on #4129
In the right subtree, the internal node has the split `f249 < -9.53674316e-07`, which evaluates to false for all non-missing values. Since `f249` is a binary variable, the split actually does the right thing: value 0 (encoded as missing) goes to the left, and value 1 goes to the right. So the tree is monotonically increasing with respect to the binary variable `f249`.

More precisely, the choice o

[2019-02-12 18:35] hcho3 commented on #4131
@CodingCat Do we have distributed `hist` in 0.82-SNAPSHOT?

[2019-02-12 19:40] hcho3 commented on #4132
@vbogach I think you should always use the American notation (`.` as delimiter).

[2019-02-12 20:01] hcho3 opened #4133 "Deprecate `num_roots` parameter"
The parameter `num_roots` is not documented in the [parameter list](https://xgboost.readthedocs.io/en/latest/parameter.html). The parameter was probably added on an experimental basis, to enable multi-root decision trees. The fast quantile updater (`tree_method=hist`) does not support this parameter. I'd suggest that we deprecate this parameter and eventually remove it.

@trivialfis

[2019-02-12 23:04] CodingCat commented on #4131
Yes,

[2019-02-12 23:18] hcho3 commented on #4131
@akhilbatra898 You should try using 0.82-SNAPSHOT. The 0.82 release is currently in the work

[2019-02-12 23:23] rongou commented on #4127
Still trying to debug this, I don't see anything obviously wrong on my end. I hard coded `verbosity` to 3 in the c++ code, and seeing lots of these lines:
[code]
That doesn't seem quite right, does it?

[2019-02-12 23:31] RAMitchell commented on #4127
This indicates no tree is being grown - there is only a root with a single weight. Does this occur from the first tree or later in the boosting process?

[2019-02-12 23:34] trivialfis commented on #4133
Agree.

[2019-02-12 23:41] CodingCat commented on #4127
this actually reminds me something

@rongou can you print the value of gmat.cut.row_ptr before the following line?

https://github.com/dmlc/xgboost/blob/master/src/tree/updater_quantile_hist.cc#L632

[2019-02-12 23:51] rongou commented on #4127
Their values are always `0, 1`.

[2019-02-13 00:08] CodingCat commented on #4127
ok, would you please enumerate all values in row_ptr?

[2019-02-13 00:53] rongou commented on #4127
`gmat.cut.row_ptr=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 30, 155, 160, 208, 260, 263, 309, 426, 429, 570, 574, 627, 880, 913, 1040, 1125, 1131]`

[2019-02-13 01:48] jjtav commented on #4130
FWIW, the issue seems to be caused by a recent change. The 0.81 enounters segfaults on my data with 200K rows x 1000 sparse columns but 0.72 works with ~150MM rows x 3000 sparse columns.

[2019-02-13 06:57] CodingCat commented on #4127
looks like the way to get stats of a node in distributed hist is too approximate....

I will come up a similar approach with approx

[2019-02-13 07:21] akhilbatra898 commented on #4131
@hcho3

Is there any documentation how to use feature constraints in spark. As per my understanding one cannot pass them along with general params.

[2019-02-13 08:14] CodingCat commented on #4131
you can...check https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostGeneralSuite.scala#L126

[2019-02-13 11:35] kkonevets opened #4135 "DMatrix does not parse libsvm txt format when # comment is present"
For example, libsvm format is this one
https://sourceforge.net/p/lemur/wiki/RankLib%20File%20Format/

When # comment is present at the end of line DMatrix crashes on loading. Error is unreadable at all

[2019-02-13 12:25] debadridtt opened #4136 "WARN TaskSetManager: Lost Task xxx: java.lang.ArrayIndexOutOfBoundsException: 1"
I'm trying to do hyper-parameter tuning in scala, using GridCV. However I create my pipeline and everything, I fit my dataset to the pipeline, it fits properly.

Then I add some `paramGrid` and I go for cross-validation after 4 stages it gives me the error:

    scala> val cvModel = cv.fit(df)
    Tracker started, with env={DMLC_NUM_SERVER=0, DMLC_TRACKER_URI=10.xx.xx.xxx, DMLC_TRACKER_PORT=9091,

[2019-02-13 16:13] debadridtt commented on #4136
Well the trick that solved this problem, was using `multiclassclassification` evaluator instead of `Binaryclassificationevaluator`

[2019-02-13 16:13] #4136 closed

[2019-02-13 16:32] kgoyal40 opened #4137 "Custom Objective Function"
Hi,

I was wondering if there is a way to pass on additional parameters to the customized objective function. at each step, my model would depend on the tree structure above. At every split, I need to pass on features already selected in the tree as a parameter. Please let me know if something like this is possible.

Thanks

[2019-02-13 18:09] CodingCat commented on #4127
you can apply this patch https://github.com/CodingCat/xgboost/pull/10 to resolve the issue

I will file a PR to master branch once https://github.com/dmlc/xgboost/pull/4102 is merged

[2019-02-13 18:40] rongou commented on #4127
Patch worked, thanks!

[2019-02-13 19:57] hcho3 commented on #4133
Will submit a pull request soon

[2019-02-13 20:56] #4077 closed

[2019-02-13 21:52] eliyara commented on #3231
Hi @CodingCat,

I need to define a separate validation set for cross validation, using xgboost4j on spark. I tried the approach [here](https://github.com/CodingCat/xgboost/blob/c4fa8d369950282f8a2f6e8c6cbd725e403b0219/jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/spark/SparkTraining.scala). It does not look that it setting validation sets make any difference! Should

[2019-02-14 02:09] Denisevi4 commented on #4137
There is a forum for discussions https://discuss.xgboost.ai/

Also, would be helpful to know exactly what you're trying to do.

[2019-02-14 05:03] CodingCat commented on #4106
answered in https://github.com/dmlc/xgboost/issues/4080

[2019-02-14 05:03] #4106 closed

[2019-02-14 05:04] CodingCat commented on #3846
we don't support pyspark officially

[2019-02-14 05:04] #3846 closed

[2019-02-14 05:06] CodingCat commented on #3454
fixed in https://github.com/dmlc/xgboost/pull/4118

[2019-02-14 05:06] #3454 closed

[2019-02-14 09:18] DKorman opened #4141 "'dmlc::Error' when using xgboost with multiprocessing.pool"
Dear fellow data crunchers. I am having an issue with combining  multiprocessing.Pool with my own nested crossvalidation function.

In this crossvalidation function, I am using the inner CV for gridsearch in order to find best hyperparamaters, and the outer CV to evaluate the chosen hyperparameters. In the below code you can find a reproducible example which will work as is if you copy it. I am fa

[2019-02-14 13:02] kgoyal40 commented on #4137
Hi,

At every split, i am trying to add a regularization term which depends on the interaction between the previously selected features and the feature being considered currently.

Thanks

[2019-02-14 17:07] trivialfis commented on #3841
@hcho3 I will look into this.

[2019-02-14 22:58] FredYao opened #4143 "[jvm-package] XGBoost4j-Spark has random failures"
I tried to train a XGBoost model using Spark. The raw data size is small, 100MB. Here is my param:

`
val xgbParam = Map(
			"eta" -> 0.2f,
			"max_depth" -> 6,
			"objective" -> "binary:logistic",
			"num_round" -> 300,
			"subsample" -> 0.9f,
			"gamma" -> 0.25f,
			"colsample_bytree" -> 1.0f,
			"tracker_conf" -> TrackerConf(30000L, "scala"),
			"nthread" -> 2,
			"num_workers" -> 4,
			"verbos

[2019-02-14 23:24] CodingCat commented on #4143
please use python tracker, scala tracker is experimental and out of maintenance for a while

[2019-02-14 23:29] FredYao commented on #4143
@CodingCat , thanks, let me try to use Python tracker.

[2019-02-15 00:09] FredYao commented on #4143
@CodingCat , I know the default tracker requires Python 2.7+. The cluster I am using has several python versions (2.6, 2.7, etc) installed. But the default was set to 2.6. So that's why I explicitly defined the tracker to "scala". Is it possible to explicitly set the python version in XGBoost?

[2019-02-15 02:35] pseudotensor opened #4144 "Kernel error with gpu_hist"
Using: 4fac9874e0abcf864a9ca00f66ccb65bcdd86696

Lots of these:
[code]
Then:
[code]

system:

GCC 4.8.5 20150623 (Red Hat 4.8.5-28)
4.4.0-1066-aws
Tesla V100-SXM2..
9.0.176

Will try to create a reproducible case, but hopefully this helps.

[2019-02-15 10:09] ywchan2005 opened #4145 "Fail to do multithreading if tensorflow is imported before xgboost"
xgboost uses only a single cpu core (with nthread=-1 for DMatrix or n_jobs=-1 for XGBClassifier and XGBRegressor) when tensorflow is imported before xgboost. If import order is reversed, that is tensorflow is imported after xgboost, xgboost is able to use all cpu cores with the same setting.

problematic import order causing xgboost to use only one single cpu
[code]

import order making xgboost wo

[2019-02-15 10:22] hcho3 commented on #4145
Which operating system are you using? Are you seeing this issue on multiple OSes?

[2019-02-15 13:59] ArunkumarRamanan opened #4146 "XGB for ML & FE with Python, C++, Java on Hadoop, Spark, Flink, DataFlow and also on Kaggle through (GBDT, GBRT or GBM) Library"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-02-15 15:23] ywchan2005 commented on #4145
i'm used only continuumio/anaconda3 dockerfile (debian 9.5)

[2019-02-15 17:18] CodingCat commented on #4146
don't spam issue list, thanks!

[2019-02-15 17:18] #4146 closed

[2019-02-15 17:18] #4131 closed

[2019-02-15 17:20] CodingCat commented on #3186
cannot reproduce it in the latest version

[2019-02-15 17:20] #3186 closed

[2019-02-15 18:31] selectasterisk commented on #4129
I think this is clear to me now. Thanks!

[2019-02-15 18:31] #4129 closed

[2019-02-15 19:13] trivialfis commented on #3953
@hcho3 Should be addressed by https://github.com/dmlc/rabit/pull/78 .  Would you like to take a look?

[2019-02-15 19:16] hcho3 commented on #4145
@ywchan2005 Can you upload your dockerfile? I wonder if it's a OS specific issue.

[2019-02-15 20:42] trivialfis commented on #4098
Fixed the segfault.  Will look into quantile error.

[2019-02-15 22:41] CodingCat commented on #4098
@trivialfis  is quantile error blocking 0.82 release?

[2019-02-16 02:37] ywchan2005 commented on #4145
i've compared two dockers, one with continuumio/anaconda3 as base image and one with fedora as base image. it's confirmed that anaconda environment causes the problem, while xgboost works well in fedora environment.

two dockerfiles are attached for reference
[Dockerfile.anaconda.zip](https://github.com/dmlc/xgboost/files/2871524/Dockerfile.anaconda.zip)
[Dockerfile.fedora.zip](https://github.com/

[2019-02-16 05:09] trivialfis commented on #4098
@CodingCat No.  The mark is removed from title.

[2019-02-16 05:51] hcho3 commented on #4145
@ywchan2005 It turns out that we (XGBoost maintainers) do not maintain the conda distribution of XGBoost. The Pip package is the only official channel of distribution. So I'm not sure how we can help here.

[2019-02-16 11:34] trivialfis opened #4150 "Eliminate extra dataset copy in Python."
During construction of DMatrix, Python wrapper might duplicate the dataset because it's not contiguous or not of the right data type. But we can handle these situations inside c++ code to avoid constructing an extra copy of dataset.

My goal is not to share the underlying buffer with Python data structure, but to eliminate the extra copies constructed during conversion inside Python wrapper.

[2019-02-16 15:26] trivialfis commented on #3804
@zhaokaihuang Could you make a reproducible example?

[2019-02-16 20:50] trivialfis commented on #4144
I suspect this also relates to empty datasets on one or more GPUs.

[2019-02-16 22:32] hcho3 commented on #4085
Working on this now.

[2019-02-16 23:49] hcho3 opened #4154 "[RFC] Ending Python 2 support"
Given that [Python 2](https://www.python.org/dev/peps/pep-0373/#update) will reach its end of life at the end of this year, we should drop Python 2 support. That is, contributors would no longer be required to write Python code that's compatible with Python 2.7. Also, Python distributions of XGBoost on PyPI will be Python 3 exclusive.

A good time to make this change would be release 0.90.

[2019-02-17 00:02] hcho3 commented on #4154
@CodingCat Does the Python tracker in XGBoost4J-Spark require Python 2.x?

[2019-02-17 01:50] hcho3 commented on #4085
@pseudotensor I think I have a fix now. I'll be testing it against the corner cases you have uploaded so far.

[2019-02-17 02:19] georgeu2000 commented on #1715
`conda install nomkl` worked for me.

Can anyone explain what this does and why it fixes the problem?

[2019-02-17 02:38] hcho3 commented on #3953
@trivialfis I just merged dmlc/rabit#78

[2019-02-17 05:18] trivialfis commented on #4154
I want to bring this up long time ago.  :smile: https://pythonclock.org/

[2019-02-17 05:20] CodingCat commented on #4154
@hcho3 I thought it was only tested with python 2, but we can double check travis’s environment to confirm

[2019-02-17 05:40] trivialfis commented on #3953
Let me summit a PR upgrading rabit.

[2019-02-17 05:48] trivialfis commented on #3905
@CodingCat Removed blocking.

[2019-02-17 06:47] hcho3 commented on #4109
Addressed in #4155, by adding validation logic for intermediate steps of the fast histogram updater.

[2019-02-17 06:47] #4109 closed

[2019-02-17 21:27] jscriptcoder commented on #1715
@georgeu2000, I'm wondering about the same. It did also fix the problem for me. I'm using Numpy, Matplotlib, Keras and Tensorflow as backend. I don't seem to understand what that package does. Anyone could explain?

Thanks a lot.

[2019-02-17 21:36] trivialfis commented on #1715
I saw some benchmarks between openblas and mkl before, mkl is not superior.  Is there any reason for using mkl over openblas?  Explaining something without the source code at hand is not very motivating.

[2019-02-18 00:01] #2943 closed

[2019-02-18 00:01] #4085 closed

[2019-02-18 10:25] trivialfis commented on #4125
Addressed in #4139.

[2019-02-18 10:25] #4125 closed

[2019-02-18 14:17] #3953 closed

[2019-02-18 14:19] trivialfis commented on #4130
@hcho3 Hi, are you working on this?  If not I will try to look into it.

[2019-02-18 14:21] #3841 closed

[2019-02-18 19:44] hcho3 commented on #4130
@trivialfis I've got other task to take care of. I can look at it in a day or two.

[2019-02-18 21:45] #4127 closed

[2019-02-19 00:05] jpbowman01 opened #4160 "XGBoost 0.81.0.1 gpu_id > 0 fails although nvidia-smi finds 4 gpus"
I have just installed XGBoost 0.81.0.1 on a brand new DGX workstation running CUDA 10.  It runs out of R with tree_method="gpu_hist" successfully with no gpu_id specified or gpu_id = 0, but not with gpu_id = 1 (or greater) despite nvidia-smi finding all four GPU cards.

Reproducible example follows:

library(xgboost)
data(agaricus.train, package='xgboost')
data(agaricus.test, package='xgboost')

d

[2019-02-19 02:34] pseudotensor commented on #4083
@hcho3 Do you think this issue will be resolved by #4155 ?

[2019-02-19 05:16] trivialfis commented on #4083
No.  It's unrelated.

[2019-02-19 07:01] akhilbatra898 commented on #4131
Hi @CodingCat

I tried the examples from test case. Apparantly initialising Classifier like[ this](https://github.com/dmlc/xgboost/blob/1dac5e24108890c946c5a4673f0d1fa4d6125943/jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostGeneralSuite.scala#L122) ignores extra params like interaction constraints and monotone constraints and only use general params for training.

[2019-02-19 12:31] trivialfis commented on #4160
@jpbowman01 Currently we can't change the used gpu for dataset, see: https://github.com/dmlc/xgboost/issues/3794

[2019-02-19 15:27] CodingCat commented on #4131
which versiok are you using?

[2019-02-19 18:27] trivialfis opened #4162 "Enforce having more threads than GPUs."
Brought up in #4076 .  Having less threads than GPUs will lead to undefined behaviors.  Another example is a hang I encountered when working on #3974.  #4095 might be able to decouple the number of threads and number of GPUs.  But until then, I want to make a last minute fix that when user specified `nthread < n_gpus`, we either decrease `n_gpus` to `nthreads` or increase `nthreads` to `n_gpus`.

[2019-02-19 18:33] jpbowman01 commented on #4160
Reading through #3794 and testing confirms that this is the same issue, so I'll close this.

[2019-02-19 18:33] #4160 closed

[2019-02-19 18:39] mt-jones commented on #4162
In an effort to provide some additional insight:

Currently https://github.com/dmlc/xgboost/pull/4095 creates two modes of operation:
1. A NCCL communicator clique where a single process manages a collection of GPUs
2. A NCCL communicator clique where there is a single process (PID) for each GPU involved in the clique

(2) is triggered by `rabit::GetWorldSize()`. Meaning, if within a node you assi

[2019-02-19 18:45] trivialfis commented on #4162
@mt-jones Thanks for the insight.

Are you saying that, in non-distributed mode, when user specifies `nthread < n_gpus`, we fallback to a slightly more complicated setup that uses process instead of threads.  But on any other time we default to using threads?

[2019-02-19 19:04] mt-jones commented on #4162
I'm saying that I've removed the flag for `distributed`. Instead, using `rabit::GetWorldSize()` to make an inference on whether XGB is being executed in a distributed manner.

Effectively, a check is performed to see if `rabit::GetWorldSize() == 1`. If so, create a NCCL communicator clique with one process; else, create a NCCL communicator clique with multiple processes.

[2019-02-19 19:10] trivialfis commented on #4162
@mt-jones Ah I see.  Will look into the detail.  Thanks!

[2019-02-19 19:34] mt-jones commented on #4162
No problem! Let me know if you have questions. My original statement was simply that we could do the same thing based on OpenMP thread rank, but it may cause conflicts with how XGB is currently executed.

[2019-02-19 20:29] RAMitchell commented on #4162
@trivialfis thanks, yes a last minute fix would be great for 0.82. Another option is to fail with an error I will leave it up to you.

[2019-02-19 20:30] pseudotensor opened #4163 "[BLOCKING] /root/repo/xgboost/src/objective/regression_obj.cu:65: Check failed: preds.Size() == info.labels_.Size() (904 vs. 3616) labels are not correctly providedpreds.size=904, label.size=3616"
1dac5e24108890c946c5a4673f0d1fa4d6125943 on fresh build off dmlc

[failxgbregression.zip](https://github.com/dmlc/xgboost/files/2881889/failxgbregression.zip)

@hcho3 seems to be **major** regression after recent fixes.  Seems all regression problems have the issue.

[2019-02-19 20:30] pseudotensor commented on #4163
I get this on all or most (not sure) regression problems

[2019-02-19 20:43] hcho3 commented on #4163
Can you try running the same thing with 0ff84d950ed78df9941ccbaec3ac08e15159f81a ? #4147 might have introduced the bug.

[2019-02-19 20:45] trivialfis commented on #4163
@pseudotensor It might be my fault on #4147 .  But I ran your script fine:

[code]

[2019-02-19 20:57] trivialfis commented on #4163
@hcho3 If confirmed that PR is to blame, I will summit a PR to revert and reopen the closed bug since I can't reproduce.

[2019-02-19 21:01] pseudotensor commented on #4163
Ok, I will check latest hash.

[2019-02-19 21:07] hcho3 commented on #4163
@pseudotensor @trivialfis I actually reproduced the bug on my Linux machine with the latest master. On the other hand, with commit hash 0ff84d950ed78df9941ccbaec3ac08e15159f81a, the example runs fine.

[2019-02-19 21:08] hcho3 commented on #4163
Let's see if there is a quick fix for this

[2019-02-19 21:17] hcho3 commented on #4163
Okay, found the issue: somehow the variable `num` in
https://github.com/dmlc/xgboost/blob/c8c472f39aa08d5b8f180076a429f09317451cc7/src/data/data.cc#L140-L141
is not correct. The `num` should have been 904 in the given example but now is being set to 3616.

[2019-02-19 21:22] trivialfis commented on #4163
@hcho3 Thanks!  Seems my master branch is one commit behind.  Sorry about that.  Looking into this.

[2019-02-19 21:25] hcho3 commented on #4163
@trivialfis I actually have a one-liner fix. Trying to fix the test `test_np_view` now

[2019-02-19 21:40] trivialfis commented on #4163
@hcho3 Yap.  the `length` from Python called should be divided by `data.dtype.itemsize`:
https://github.com/dmlc/xgboost/blob/c8c472f39aa08d5b8f180076a429f09317451cc7/python-package/xgboost/core.py#L225

[2019-02-19 21:43] hcho3 commented on #4163
@trivialfis It turns out that `len(data.base)` may mean different things. Sometimes it shows the number of bytes, and sometimes it shows the number of elements. Rather than dealing with NumPy internals, I'd prefer to simply make copies.

[2019-02-19 21:53] trivialfis commented on #4163
@hcho3 Okay, I will revert it tomorrow.  Really need some sleep now. It's 6AM at my place...

[2019-02-19 21:53] hcho3 commented on #4163
@trivialfis I'll take care of it. Good night

[2019-02-19 22:00] hcho3 commented on #4163
@pseudotensor Fix is available at #4165. Thanks for reporting the bug.

[2019-02-19 22:09] #3961 closed

[2019-02-19 22:32] pseudotensor commented on #4163
Thanks!

[2019-02-20 03:38] thealaskalife opened #4166 "Multi-GPU/Multi-GPU-Node support for prediction"
Hi Guys,
We are trying to deploy XGBoost for prediction in real business scenario with GPU. However we found that only GPU0 can be used. We are wondering if there is a plan to support Multi-GPU and Multi-Node prediction?

[2019-02-20 04:10] RAMitchell commented on #4166
Can you provide a script of what you are trying to do and what you expect to happen?

[2019-02-20 06:45] akhilbatra898 commented on #4131
I have tried on both 0.82 and 0.81 snapshot

[2019-02-20 07:20] CodingCat commented on #4131
I validated by instrumenting in https://github.com/dmlc/xgboost/blob/master/src/tree/split_evaluator.cc#L240-L247

and https://github.com/dmlc/xgboost/blob/master/src/tree/split_evaluator.cc#L413-L421

I can see the specified constraints is well received in native layer

Can you compile the latest master branch and try?

[2019-02-20 17:58] mt-jones commented on #4162
@trivialfis See the code below. [NCCL requires (see below for quote)](https://docs.nvidia.com/deeplearning/sdk/nccl-developer-guide/docs/api/comms.html#c.ncclCommInitRank) that `ncclCommInitRank` be either
1. encapsulated by `ncclGroupStart` and `ncclGroupEnd` to unblock the internal synchronous call to initialize the rank
2. called by a distinct thread/process to avoid the block

One potential so

[2019-02-20 19:56] linkin8834 opened #4168 "Setting instance weights for ranking tasks"
Hi there,

I want to set up weights on two different levels for my *ranking* task:
* one is on the item-level (say, I want to set different weights to different items inside the *same* query group)
* The other is on the query level (say, I want to set different weight for different query groups)

I am going to use the binary version `xgboost` (not Python, Scala, etc.) for training and I am using `