[2022-09-09 09:00] Faaany commented on #8221
@wbo4958 I will try a public dataset, see whether I could reproduce it, and post my code here.

[2022-09-09 09:13] kropacf opened #8238 "Errors under valgrind when openmp is enabled"
xgboost: 1.6.1
model: 1.1.1
ubuntu 22.04

I found an error when I run predictions under valgrind. According to valgrind log the error is somewhere in openmp. So I tried to build xgboost without openMP (`-DUSE_OPENMP=0`) and error is gone. I know there are some known false positive errors when running openmp under valgrind (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=36298) but I want to be sure t

[2022-09-09 09:38] trivialfis commented on #8238
We run address sanitizer with leak sanitizer on CI. I think it's false positive from valgrind.

[2022-09-09 10:24] trivialfis commented on #8237
Thank you for raising the issue. Is it possible to not create the `Learner` as a global variable?

[2022-09-09 10:25] trivialfis commented on #8237
The `Learner` class uses thread local memory, which is freed by the language runtime before the `Learner` dtor is called. Hence the error you see, I will take a deeper look into it.

[2022-09-09 11:10] kropacf commented on #8237
In this small example it is possible to create new `Learner` for each test input. And it works as expected - no errors.
[code]

 But in our real-world application xgboost is only small part of it, so we want to save some time creating application only once for all fuzzer inputs. This fuzzer test is used in CI pipeline which has runtime limitation.
 According to documentation of [libfuzzer](https:/

[2022-09-09 11:24] wbo4958 commented on #8221
@Faaany thx

[2022-09-09 12:59] trivialfis commented on #8237
Do you have suggestions for XGBoost to do thread-safe prediction without using thread local memory? The TLS is used for allocating prediction buffers without requiring the caller to know the size of the prediction beforehand.

I looked into libfuzzer and couldn't find a tear down function for customization.

If loading a JSON file is too slow for you, maybe you can consider saving the model as a U

[2022-09-09 14:27] WeichenXu123 commented on #8221
@Faaany

I updated my PR https://github.com/dmlc/xgboost/pull/8231 to add debugging log.
Could you run your failure case on my latest PR and then copy the output log to me ?
The related logs which I added start with "debug-repartition" prefix.

[2022-09-09 17:57] gerashegalov commented on #8236
I demonstrated this issue with https://github.com/gerashegalov/spark-rapids-examples/blob/rero6404/examples/XGBoost-Examples/taxi/notebooks/scala/taxi-gpu.ipynb

I strongly suspect that this is a xgboost4j-specific issue related to https://github.com/dmlc/xgboost/blob/a68580e2a7d84d7206165ab1f3c911886d45dcba/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/PreXGBoost.scala

[2022-09-09 22:45] wbo4958 commented on #8236
@gerashegalov, The ServiceLoader way to load PreXGBoostProvider was introduced by 1.6.x and there are same issues  https://github.com/dmlc/xgboost/issues/4218, https://github.com/dmlc/xgboost/issues/5186, https://github.com/dmlc/xgboost/issues/7599 which happened in every old XGBoost, which means all of them don't have ServiceLoader way.

And if w/o running xgboost on notebook + spylon, there is n

[2022-09-10 09:35] WeichenXu123 commented on #8221
Emm, seemingly I can reproduce it, the root reason I am still investigating.

[code]

@trivialfis Does DMatrix allow empty partition input (for distributed training) ?

[2022-09-10 11:03] trivialfis commented on #8221
Yes, you can see tests around empty DMatrix in dash tests.  It takes some cares to be sure that everything is correctly synchronization like device ID and number of columns.

[2022-09-10 16:56] Faaany commented on #8221
@WeichenXu123 My machines are not reachable somehow over the weekend.. I will give you updates as soon as I could login to my machines

[2022-09-10 23:36] wbo4958 commented on #8221
Right,

[code]

It indeed generates the empty partitions after repartition, Just debugged it and found the RoundRobin seems to ensure to distribute the records evenly in the same partition, and not guarantee it between partitions. In your case,

There are 50 partitions, each partition will only compute 2 elements,  but when choosing the random position (to begin doing the round robin), it also sta

[2022-09-12 02:17] WeichenXu123 commented on #8221
@wbo4958 Appreciate if you can file PR in spark. :)

[2022-09-13 01:35] wbo4958 commented on #8221
Yeah, rand() can fix it in this case but Seems Rand is a Nondeterministic expression, which means each time, the training model may be different. I really don't like this since it's hard to debug when the issue happens, the Rand seems to introduce some extra XORShiftRandom calculation, I don't know if it will hurt the performance issue.

For these special cases, could we suggest users adjust their

[2022-09-13 01:48] wbo4958 commented on #8221
Hi @Faaany,

I re-read this issue,

Does that mean without setting validation_indicator_col in your case, the test can pass? And it will fail if you specified validation_indicator_col? If that so, the issue may be not related with "repartition"

[2022-09-13 02:04] wbo4958 commented on #8221
Hi @Faaany, It would be better if you can provide some faking data that will really help to debug this issue.

[2022-09-13 02:51] WeichenXu123 commented on #8221
@wbo4958

Not true, we can set seed to make it deterministic, see my PR https://github.com/dmlc/xgboost/pull/8231

No. It is still the same repartition issue. If set validation_indicator_col, then each spark dataframe partition we will filter by validation_indicator_col column value, and generate 2 Dmatrix (train and validation). It changes each DMatrix partition example counts.

[2022-09-13 03:11] wbo4958 commented on #8221
@WeichenXu123, That's Good. BTW, does it cause any data skew? It's better to add a parameter to control this.

[2022-09-13 03:29] WeichenXu123 commented on #8221
Random shuffle should not cause data skew.

Sounds good. Shall we make random shuffle by default ?

[2022-09-13 03:48] Faaany commented on #8221
@wbo4958 Yes, you are right. Setting `validation_indicator_col` for my dataset causes the error. And sure, since my machines are back now, I will provide a mini-example today so that you guys can better debug the issue.

[2022-09-13 06:34] kropacf commented on #8237
So I figured out that this error occurs when I wrap `Learner` in `std::unique_ptr` in a global scope.

Heap use after free error example
[code]

When I created `Learner` in main, no errors occured.
[code]

[2022-09-13 07:41] trivialfis commented on #8237
Yup, as long as the learner is not a global variable it should be fine. It's just how to make it compatible with the fuzzer.

[2022-09-13 08:02] wbo4958 commented on #8221
@Faaany, I can repro this issue locally and am debugging it.

[2022-09-13 08:35] Faaany commented on #8221
@wbo4958 awesome!! thanks!!

[2022-09-13 09:49] wbo4958 commented on #8221
After debugging, I found there may be 2 issues.

## issue 1

When specifying validation col,  there may be no training data or validation data. in that case, it will cause `need at least one array to stack` issue when stacking the array since we didn't check if the pd.DataFrame(pd.Series) has the values. This issue can be reproduced by the below code

[code]

## issue 2

The whole partition has no

[2022-09-13 15:30] WeichenXu123 commented on #8221
Thanks @wbo4958

I propose the following fix:

(1) Repartition on rand column (but we can fix rand seed)
(2) Allow DMatrix partition empty input
(3) When validation col specified, force repartitioning (because user might union train and validation dataset, without repartitioning then train/validation data is unbalanced in each spark dataframe partition

[2022-09-13 21:03] wbo4958 commented on #8221
@WeichenXu123, Good suggestion, My PR just fixed  2, can you add 3 in your PR?

[2022-09-14 00:28] WeichenXu123 commented on #8221
@wbo4958 My PR already does (3): https://github.com/dmlc/xgboost/pull/8231

[2022-09-14 01:59] wbo4958 commented on #8228
@Dipak-Kharat
can you provide your testing script and configuration?

[2022-09-14 09:54] #8161 closed

[2022-09-14 11:08] olbapjose commented on #8074
@wbo4958  Did you have time to check it? It is really impacting our team

[2022-09-14 19:22] #7890 closed

[2022-09-14 19:30] trivialfis commented on #7725
Hi, can anyone here help with providing guidance on testing IPv6 on a public cloud like AWS or GCP? I'm not an expert on network administrating and got lost in those cloud documents.

The draft PR is here: https://github.com/dmlc/xgboost/pull/8225 .

[2022-09-14 20:32] hcho3 commented on #4958
Completed in #8142

[2022-09-14 20:32] hcho3 commented on #5891
Completed in #8142. Now we require manual approval for running tests with pull requests

[2022-09-14 20:32] #5891 closed

[2022-09-14 22:25] wbo4958 commented on #8074
Sorry for the delay, I will check it today and give some feedback.

[2022-09-14 22:45] wbo4958 commented on #8074
@olbapjose I tried with

[code]
and it worked as expected.

[2022-09-14 22:45] wbo4958 commented on #8074
no issue happens locally

[2022-09-14 22:47] wbo4958 commented on #8074
@olbapjose Can you share the code loading the model by Pipeline?

[2022-09-14 23:17] trivialfis commented on #8227
Could you please share the log from the scheduler as well?

[2022-09-15 02:53] QuellaZhang commented on #7795
New errors detected under /permissive- and /std:c++latest.

`F:\gitP\dmlc\xgboost\tests\cpp\data\test_sparse_page_dmatrix.cc(93,75): error C2039: 'value': is not a member of 'std' [F:\gitP\dmlc\xgboost\build_amd64\testxgboost.vcxproj]`
`F:\gitP\dmlc\xgboost\tests\cpp\tree\test_regen.cc(69,30): error C3779: 'xgboost::anonymous-namespace'::RegenTest::Iter': a function that returns 'auto' cannot be u

[2022-09-15 17:11] yutengkai opened #8247 "cccccbenhhfijgvniiutfuctgbduetlfvightrejbrik"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2022-09-16 05:21] huangwb8 opened #8248 "Suppressing waring message 'WARNING: amalgamation/../src/learner.cc:438'"
Recently, I used `xgboost v1.6.0.1` in R. When I use a model trained to  in old xgboost version to predict, the log comes out:

[code]

This warning message could not be suppressed by setting `verbose=F` or `verbose=0`

[code]

After reading introduction in https://xgboost.readthedocs.io/en/latest/tutorials/saving_model.html, I still have no idea how to deal with the annoying log. Any suggestions?

[2022-09-16 05:25] huangwb8 commented on #8248
By the way, the code and the model works. It's just the problem about the annoying logs.

[2022-09-16 05:40] huangwb8 commented on #8248
I used codes like and it doen't work on suppressing the warning message:

[code]
Any suggestions?

[2022-09-16 07:10] kropacf commented on #8237
For completeness of this issue I will provide my working example.

[code]
According to [documentation](https://llvm.org/docs/LibFuzzer.html#using-libfuzzer-as-a-library), you have to add `-fsanitize=fuzzer-no-link` option and link it with no-main version of fuzzer.

In my case the build command is:
[code]
Tested in my provided docker container.

[2022-09-16 07:10] #8237 closed

[2022-09-17 14:29] aeftimia opened #8249 "Feature request: Send null features down both branches"
My understanding is that XGBoost currently handles null values as separate datatypes, and will split on whether the data is null or not before moving on to what the value is if not null. This is very reasonable if the existence of a null value has predictive power over the target variable or even if it is uncorrelated. But consider a demand forecasting problem in which a feature went missing aroun

[2022-09-18 17:45] trivialfis commented on #8249
XGBoost doesn't treat the null value as a separate type (although I'm not entirely sure what "separate datayptes" means). Whether the missing value should go to the left branch or the right branch of a split depends on which direction gives more gain. This is decided per-node.

[2022-09-18 17:47] trivialfis commented on #8248
This seems like an issue for detecting old model. Let me take a deeper look tomorrow.

[2022-09-18 17:53] aeftimia commented on #8249
Oh my understanding was xgboost has a separate split for whether the data is null (e.g. is of a separate "null type", and if not, proceed with dealing with it as a normal float). Based on your description, it sounds branches are determined without using null values, then null values are assigned to the branch that minimizes loss. I think this would still have the same pitfall in the scenario I des

[2022-09-19 21:52] trivialfis commented on #8249
It's interesting to think about how to modify the algorithm to combat overfitting. Thank you for the reference, I will look into the wiki deeper and see the relationship between the proposed modification and XGBoost tree split. At the same time, please feel free to look into XGBoost's implementation: https://github.com/dmlc/xgboost/blob/70df36c99cf7112319a02c25f7aac3f39a718f33/src/tree/hist/evalua

[2022-09-20 08:43] #8221 closed

[2022-09-20 15:29] aeftimia commented on #8249
Thanks for the link and I really appreciate you looking into the feature
request! The gist of the the modification would be associate null values
with both branches but weight each possibility with the proportion of
non-null instances that are sent down each branch. The intuition being that
conditioned on the previous branches, null values would have a probability
of being sent down either branch

[2022-09-20 20:55] trivialfis commented on #7725
I tested the code using GCP VM instances. Feel free to try it if you are interested in this.

[2022-09-21 03:16] nalzok opened #8251 "Misguided Implementation of Saabas' method in `Predict(approx_contribs=True)`"
Despite citing the original blog post [Interpreting random forests](https://blog.datadive.net/interpreting-random-forests/), the current implementation of Saabas' method in `RegTree::CalculateContributionsApprox` seems misguided.

https://github.com/dmlc/xgboost/blob/7d43e74e71c1a0f6526fda78d46395c883d14cb0/src/tree/tree_model.cc#L1214-L1218

In particular, the `mean_values` parameter is filled by

[2022-09-21 07:32] WeichenXu123 opened #8252 "Question about building with NCCL"
The doc say:

https://xgboost.readthedocs.io/en/stable/build.html

But I does not add `-DUSE_NCCL=ON` and build the package it can still run with multiple GPU cores (testing by xgboost spark).
Do I miss something ?

[2022-09-21 07:32] WeichenXu123 commented on #8252
CC @trivialfis Thank you!

[2022-09-21 07:40] trivialfis commented on #8252
@rongou Recently enabled GPU training without nccl federated training. But that might cause significant performance lost on GPU clusters.

[2022-09-21 07:41] WeichenXu123 commented on #8252
Understood.
Btw, for the official xgboost package release on pypi, does it build with NCCL ? @trivialfis

[2022-09-21 07:42] trivialfis commented on #8251
@RAMitchell

[2022-09-21 07:43] trivialfis commented on #8252
Yes. It's built with NCCL.

[2022-09-21 07:50] #8252 closed

[2022-09-21 11:38] rudyyin opened #8253 "How should I load"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2022-09-21 13:14] #8253 closed

[2022-09-21 13:15] trivialfis commented on #8238
Feel free to reopen if there's any sign of real memory leak.

[2022-09-21 13:15] #8238 closed

[2022-09-21 14:59] joycebrum opened #8255 "Enable OpenSSF Scorecard Github Action"
Hello, I'm working on behalf of Google and the [Open Source Security Foundation][ossf] to help essential open-source projects improve their supply-chain security. Given the relevance and impact that XGBoost has on countless projects, the OpenSSF has identified it as one of the 100 most critical open source projects.

Would you consider adopting an OpenSSF tool called [Scorecards][sc]? Scorecards r

[2022-09-21 21:05] trivialfis commented on #8255
@hcho3 Would you like to look into this when you are available?

[2022-09-21 23:02] hcho3 commented on #8255
@joycebrum Yes, thanks for working on this initiative. I will make sure to review your pull request.

[2022-09-22 00:30] nalzok commented on #8251
I would like to point out that `RegTree::CalculateContributions` has a similar problem

https://github.com/dmlc/xgboost/blob/7d43e74e71c1a0f6526fda78d46395c883d14cb0/src/tree/tree_model.cc#L1417-L1421

Here `node_value` is not the expected value of the tree's predictions. Consider a decision stump with a root and two leaves. Denote the set of samples in the left leaf with $L$, and those in the rig

[2022-09-22 08:33] RAMitchell commented on #8251
Will try to go through this in detail when I get time.

[2022-09-22 08:40] razdoburdin opened #8258 "Can't import xgboost in python 3.7"
Hi,

I faced with a bug in trying to import xgboost in python 3.7 on Ubuntu.

Here is a step by step building of xgboost from sources:
[code]

then in a python environment:
`import xgboost as xgb`

And here is the error message:
[code]
I found, that for commit
**7d43e74e71c1a0f6526fda78d46395c883d14cb0**
the bug doesn't take place, while for
**b791446623977516a47d4795b2860dd590242335**
it does

[2022-09-22 08:50] hcho3 commented on #8258
XGBoost now requires Python 3.8+:

[2022-09-22 10:16] RAMitchell commented on #8251
Focusing on the `RegTree::CalculateContributions` part for now.

Why does the lambda regularisation term appear in this formula? It's not involved in prediction at all.

When you write $\frac{|L|}{N} \frac{\sum_{X \in L}X}{|L|+\lambda}$ do you mean $\frac{|L|}{N} \frac{\sum_{X \in L}f(X)}{|L|+\lambda}$? $X_i$ is a vector.

[2022-09-22 10:36] nalzok commented on #8251
@RAMitchell

According to [this section](https://xgboost.readthedocs.io/en/stable/tutorials/model.html#the-structure-score), the weight/leaf value/prediction for the $j$-th node/leaf is $w^* = \frac{G_j}{H_j+\lambda}$, so lambda is definitely involved in prediction.

And yes, there was a typo I have fixed it now. Thanks for pointing that out!

[2022-09-22 11:05] RAMitchell commented on #8251
When you make the prediction $f(X_i)$ the lambda term is already baked into this return value. You don't have to include it.

[2022-09-22 14:16] deathwingssins opened #8261 "Issues about sample_weight"
I am using XGBoost to train a data set with sample weights. If I multiply sample weights by a constant (for example, multiply all sample weights by 10, 100, 1000 and so on), I get totally different results with exact same parameters and random_state, I think that while multiplying/dividing sample weights with a constant, results should not change. Is there any mistake? How can I get the same resul

[2022-09-22 14:59] grafail commented on #8155
Are there any estimates perhaps for #8084?

[2022-09-22 15:33] #8182 closed

[2022-09-22 15:54] trivialfis commented on #8261
The resulting model would be different. Scaling has different effects on different algorithms that use the weight, along with floating point error, the model is very likely to differ with different scales of weight. Please standardize the value.

[2022-09-22 15:54] #8261 closed

[2022-09-22 15:55] trivialfis commented on #8083
I need to apply the quantile dmatrix to spark as well.

[2022-09-22 15:56] #7972 closed

[2022-09-22 16:50] nalzok commented on #8251
Sorry, there is some bad notation. In the case of MSE loss, we have $f(X_i) = \frac{G_K}{H_K+\lambda} = \frac{\sum_{X_j \in K}Y_j}{|K|+\lambda}$, where $K$ is the leaf node within which $X_i$ falls. What I am trying to say is that we need to do Saabas/TreeSHAP with the prediction value, i.e. $f(X_i)$, not average response, i.e. $\frac{\sum_{X_j \in K}Y_j}{|K|}$. You are right that $\lambda$ should

[2022-09-22 19:12] nalzok commented on #8251
Oh, I can see your point now. It turns out that `mean_values[n]` calculates the expected prediction for the subtree with `n` as its root. I'll take the `RegTree::CalculateContributions` part back. In that case, we indeed need `mean_values[0]`, but that's the only value we ever look at: we don't need to access `mean_values[n]` for any node `n` other than the root.

That being said, what I said abou

[2022-09-23 05:47] nalzok commented on #8251
I have opened a PR to show what I mean. It's really just a minor change so please take a look.

I have also looked into the original PR which implemented the feature contribution. There was some disagreement about how `mean_values` should be calculated. Someone [suggested](https://github.com/dmlc/xgboost/pull/2003#issuecomment-281541288) that we should calculate the prediction value as if the node

[2022-09-23 07:50] nalzok opened #8265 "Quick questions about `CalcGain`"
Hi there, I have some quick questions about `CalcGain`.

https://github.com/dmlc/xgboost/blob/8d247f0d64bee392857b330b20bfe6086798eb7b/src/tree/param.h#L260-L282

1. Should it be renamed to `CalcLoss`? From my understanding, "gain" is the amount of decrease in loss thanks to a split, but we are only calculating the loss function here.
2. On line 270 we have `common::Sqr(ThresholdL1(sum_grad, p.reg

[2022-09-23 08:06] ArtificialZeng opened #8266 "xgboost windows build bug"
[code]

Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so tha

[2022-09-23 09:28] RAMitchell commented on #8251
I think I see what you mean. I agree that `base_weights` should be used to exactly implement Saabas' method according to the blog post. If our approximate contributions method exists as an approximation to our Shapley values implementation it makes more sense to me the way it is currently written.

As a side note, it just occurred to me that we could strongly improve the accuracy of the approximat

[2022-09-23 11:12] OtistarSun commented on #1715
it works, thank u

[2022-09-23 17:00] nalzok commented on #8251
OK, what about I adding a new option `use_saabas` to calculate the feature contributions using Saabas' method? We are not breaking anything that way. Basically, there are four combinations:

1. `Predict(..., pred_contribs=True, use_saabas=False, approx_contribs=False)` calculates SHAP with TreeSHAP;
2. `Predict(..., pred_contribs=True, use_saabas=False, approx_contribs=True)` approximates SHAP by

[2022-09-23 19:27] nalzok commented on #8251
Another thing I don't quite understand is this remark

https://github.com/dmlc/xgboost/blob/8d247f0d64bee392857b330b20bfe6086798eb7b/python-package/xgboost/core.py#L2007-L2010

Why is setting `approx_contribs=True` not recommended?

[2022-09-24 22:50] trivialfis commented on #8083
I agree. I kept the feature here mostly for experimental support.

[2022-09-24 22:50] trivialfis commented on #8083
But quantile DMatrix can still be used for reducing memory usage without sacrificing performance.

[2022-09-24 23:11] trivialfis commented on #8266
A quick search returns https://stackoverflow.com/questions/13218646/cmake-pthread-h-not-found-in-windows . Could you test if it helps?

[2022-09-25 20:02] #8255 closed

[2022-09-26 09:40] trivialfis opened #8273 "[CI] Upload release artifacts through GitHub action."

[2022-09-26 17:59] #8213 closed

[2022-09-27 00:32] salmanyusuf opened #8275 "gblinear to predict best feature values"
Hi, how do we derive the best feature variable values to get the highest target variable value using gblinear?

[2022-09-27 09:02] celestinoxp opened #8277 "competition released new version (cat#%#$% 1.1)"
Competition released new version
What will xgboost do? Stay looking or launch a new version to compete?

[2022-09-27 15:23] joranerogier opened #8278 "Random behaviour of XGBoost with small sample size (convergence with high training size)"
I tried discussing my problem on the [xgboost.ai](https://discuss.xgboost.ai/) site but I did not get any responses unfortunately. This is the reason why I have come to this platform for help.

I have used XGBoost for a predictive regression task with a large training set (initially ~1,500,000 samples, 50% subsampled during training). During model optimization I did not encounter any large random

[2022-09-27 15:28] #8277 closed

[2022-09-27 17:50] #8266 closed

[2022-09-28 01:50] ITHM commented on #8194
@wbo4958 @trivialfis Thanks to the big guys, the problem is solved, the problem is because the xgboost model I ran under the win single machine (the error that I put in the discussion area has not been solved so far), it has been successfully run on the Hadoop cluster

[2022-09-28 05:38] trivialfis opened #8282 "1.7.0 Release Roadmap"
Hi everyone, we are delighted to announce a new release 1.7.0 in the upcoming weeks. Previously we planned for a 2.0.0 as a milestone, but with the exciting addition of the PySpark interface, we decided to make a 1.7.0 instead to share some new features and bug fixes earlier.

Roadmap: https://github.com/dmlc/xgboost/projects/4

@dmlc/xgboost-committer Please add your items here by editing this po

[2022-09-28 05:39] trivialfis commented on #8282
cc @WeichenXu123

[2022-09-28 05:41] trivialfis commented on #8197
Please see https://github.com/dmlc/xgboost/issues/8282 .

[2022-09-28 05:41] #8197 closed

[2022-09-28 08:19] WeichenXu123 commented on #8282
From my side no new ticket to be added for 1.7.0 :)

[2022-09-28 09:24] wbo4958 commented on #8282
please add https://github.com/dmlc/xgboost/pull/8283 and https://github.com/dmlc/xgboost/pull/8271 into 1.7.0 Thx

[2022-09-28 18:04] trivialfis commented on #8278
Hi, by deterministic we usually mean running the same training procedure multiple times on the same data and same hardware, users can obtain the exact same models.

As for the accuracy drop for sampling, it might be expected when the sample size is small. Since you have GPU available, you can try gradient-based sampling to test the limit of sampling size.

If you think the behavior is abnormal, pl

[2022-09-29 18:16] adkinsty opened #8289 "objectives and metrics for multi-class multi-output (aka multi-label) xgboost classifier"
This [tutorial](https://xgboost.readthedocs.io/en/stable/tutorials/multioutput.html) states that XGBoost 1.6 has experimental support for multi-output classification. However, it also states that there is limited support from objectives and metrics. In the multi-class _single-output_ scenario, I use `multi:softprob` as the objective and `mlogloss` as a metric. Could I use the same objective and me

[2022-09-29 18:39] adkinsty commented on #8289
Thanks for your reply. But ah, that's too bad. Do you know of a viable workaround for this? For example, could I wrap the XGBoostClassifier in sklearn's OneVsRestClassifier(), like so:

[code]

Forgive me if this is outside of your scope of support.

[2022-09-29 20:49] yusiyohpolimi commented on #7941
There is a similar issue once again, and also using an estimator with sklearn RFE is MUCH slower than before with the latest updates. I was shocked due to the changes in the last 12 hours.

[2022-09-29 23:28] trivialfis commented on #7941
I'm confused, what's changed in the last 12 hours

[2022-09-29 23:32] trivialfis commented on #8289
Feel free to try it. :-). We haven't have any test with that meta estimator, you are more than welcomed to add one.

[2022-09-30 00:44] jinmfeng opened #8290 "[jvm-packages] XGBoost corrupted the jvm memroy"
We run 14 xgboost in spark in parallel, but it throw out below error. it looks like the heap memory is coruppted. Do you know what's the issue? when we run single training model, there's no such error.

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007f1b028dab21, pid=23988, tid=0x00007f1acf826700
#
# JRE version: OpenJDK Runtime Environment (Zul

[2022-09-30 09:10] nvliyuan opened #8292 "trainning failed with OOM error"
The training job failed with an OOM error while training with 8 years (2000-2008) input dataset from [Fannie Mae](https://capitalmarkets.fanniemae.com/credit-risk-transfer/single-family-credit-risk-transfer/fannie-mae-single-family-loan-performance-data) website.
Code: spark-rapids-example mortgage [demo](https://github.com/NVIDIA/spark-rapids-examples/tree/branch-22.10/examples/XGBoost-Examples/m

[2022-09-30 09:10] nvliyuan commented on #8292
@wbo4958 FYI

[2022-09-30 09:24] biaochen opened #8293 "compile xgboost4j with scala 2.11"
My env has spark 2.4.5 with scala 2.11, so I'd build xgboost4j.jar / xgboost4j-spark.jar with scala 2.11.
But under jvm-packages dir, the pom has dependency with scala 2.12.
Pls kindly tell how to achieve this. thx.

[2022-09-30 09:36] Francis-W opened #8294 "give rabit tracker a port number"
HI, All :
     when I use xgboost4j-spark on k8s and istio ,the training will hang for tracker waiting for worker .

I found the reason. xgboost use AKKA as protocol between tracker and worker. but if I run Tracker in pod with Istio proxy.  it will reject inbound communication from worker. so tracker will wait until time_out.

I found solution for AKKA with Istio below:
https://doc.akka.io/docs/ak

[2022-09-30 12:58] trivialfis commented on #8292
Unfortunately, it's expected.  It's very difficult for parallel algorithms to be performed inplace (like no efficient inplace parallel sort)

[2022-09-30 13:23] hcho3 opened #8295 "Cannot convert value of type NotImplementedType to cudf scalar"
[code]
https://buildkite.com/xgboost/xgboost-ci/builds/286#01838c91-b052-45e0-93ad-a7190edd9b06/305-19032

[code]
https://buildkite.com/xgboost/xgboost-ci-multi-gpu/builds/21#01838c4e-2a78-484e-98b8-d674f773c2a1

[2022-09-30 22:38] wbo4958 commented on #8293
The latest XGBoost doesn't support spark 2.x and scala 2.11.

[2022-09-30 22:42] wbo4958 commented on #8294
@Francis-W xgboost jvm defaults to use python tracker, so you set to scala tracker? Does your solution work? if yes, could you file a PR for it? Thx

[2022-09-30 22:44] wbo4958 commented on #8292
@nvliyuan could you double check if there are mixing low-memory GPU in the cluster?

[2022-10-01 00:58] #8293 closed

[2022-10-01 11:38] dlutleixin commented on #5673
it's does not working

[2022-10-01 18:54] janvekarnaveed commented on #5673
have you tried the following: ?

Missing values with Spark’s VectorAssembler

If given a Dataset with enough features having a value of 0 Spark’s
VectorAssembler transformer class will return a SparseVector where the
absent values are meant to indicate a value of 0. This conflicts with
XGBoost’s default to treat values absent from the SparseVector as missing.
The model would effectively be treatin

[2022-10-03 09:08] joranerogier commented on #8278
So if I understand correctly, you do not think the random behaviour for small samples sizes, for both the two types of CPUs and GPUs but varying per run, is unexpected behaviour?

For me, I would expect approximately the same results when using the same data, or at least not such large differences. Could it then be due to floating points errors?

[2022-10-03 18:40] trivialfis commented on #8278
Hi, could you please elaborate on the randomness? I'm a little bit confused about what you mean by "random". Are you expecting the CPU and GPU to generate the same result? Are you expecting XGBoost to generate the same result for all types of hardware?

[2022-10-03 22:06] beckernick opened #8299 "_is_cupy_array returning False for cupy arrays"
As noted in  https://github.com/rapidsai/cuml/issues/4903 , it appears that cupy arrays may not currently be passed the `_is_cupy_array` instance check, which can cause downstream errors.

[code]

Environment:
[code]
Full environment:
<details>
# packages in environment at /home/nicholasb/miniconda3/envs/rapids-22.10:
#
# Name                    Version                   Build  Channel
_libgcc_mut

[2022-10-03 22:16] trivialfis commented on #8299
Looking at the packages, there are 2 xgboost packages, one from dmlc and another from rapids. Is is possible to remove the rapids-xgboost for now?

[2022-10-03 23:23] beckernick commented on #8299
Yes. When I create an environment with `mamba create -n xgb-test -c conda-forge python=3.9 cudatoolkit=11.5 py-xgboost cupy`, things work correctly and I get the following:

[code]

The original environment is what comes by default in the current rapids nightly environment. If we need to tweak this, we can.

[2022-10-03 23:29] trivialfis commented on #8299
That's great news! I think the rapids-xgboost might be outdated (the recent cupy upgrade broke the `_is_cupy_array` function, which is fixed in the latest xgboost) and Python is confused when loading modules.

[2022-10-04 07:18] #8295 closed

[2022-10-04 11:00] dlutleixin commented on #5673
yes, i try it many times, but it does not work

[2022-10-04 11:42] hcho3 opened #8304 "[CI] Create separate step to build Docker containers"
Currently, Docker containers are built whenever the corresponding Dockerfiles are changed. The problem is that `docker build` is an expensive operation (time-wise), and it's unwise to run it on expensive EC2 worker machines such as `g4dn.12xlarge` (which costs whopping 3.912 USD per hour!)

We must ensure that `docker build` happens on a cheap worker machine, not on an expensive one.

* Create a s

[2022-10-04 11:54] hcho3 opened #8305 "[CI] Speed up docker build with faster disk I/O"
We should try using ephemeral instance-based storage. Some users of BuildKite have reported significant speedup of `docker build` when they used instance-based storage: https://github.com/buildkite/elastic-ci-stack-for-aws/pull/557#issuecomment-653955515

[2022-10-05 00:19] trivialfis commented on #8248
Hi, do you mind if you share your model (possibly in private)? I couldn't reproduce it by using models from 1.0.0.

[2022-10-05 00:55] huangwb8 commented on #8248
@trivialfis OK！

Here is the [Github repositry of my book](https://github.com/huangwb8/GSClassifier.principle), where I use xgboost as a method to solve classification problems.

I used some codes based on the `GSClassifier` package I developed.

[code]

Here is the actual output containing the warning message about xgboost version via RMarkdown of RStudio/Posit:

![image](https://user-images.gith

[2022-10-05 01:01] huangwb8 commented on #8248
The model training process is like:

[code]
Any suggestions?

[2022-10-05 02:13] trivialfis opened #8307 "Flaky test on Device Quantile DMatrix."
https://buildkite.com/xgboost/xgboost-ci/builds/330#0183a5d6-e959-4e3b-97ad-32da7bc9ae4a

[code]

[2022-10-05 04:00] DarioS opened #8308 "R Package Vignette Contradictions"
I am reading discoverYourData.html and hoping that it could be clarified by a future commit.

The code contradicts the list of instructions and "Create the output **`numeric`** vector". The result of the code is not numeric.

[code]

Moreover, the documentation of `xgboost` doesn't specify what valid data types of `label` are. `?xgboost` shows:

It should state whether it is permitted be `numeric`

[2022-10-05 21:32] leedrake5 commented on #7614
I know this is closed - but seeing the same thing on a Mac Studio with the M1 Ultra. XGBoost appears to use only the 4 efficiency cores, leaving the 16 performance cores untouched. This must relate to something unusual about Mac's ARM architecture and the current version of XGBoost. As noted by @Coesyn, it works fine on a regular M1 processor. It's the derivatives of that processor (achieved by fu

[2022-10-06 09:25] hcho3 opened #8311 "[CI] Automatically rotate worker machine images"
#8142 automated the process for building the image for worker machine. (*) We now have automated pipelines that builds machine images. However, the pipelines need to be invoked manually. I might forget to run them, and the worker images would become outdated. We must automate rotation of worker machine images.

**Background**
We currently build two custom machine images:
* `linux-amd64-gpu`: Amazo

[2022-10-06 14:41] jparsert opened #8315 "[Python] Using XGBoost leads to a deadlock."
At first, I thought that the problem is somewhere in my Python spaghetti code but it turns out that other ML libraries work perfectly fine and don't lead to a deadlock. If I comment out the XGBRegressor.fit() function and replace it by any sk learn regressor, this seems to work perfectly fine. I suspect that `fit()` does some internal work with subprocesses that introduce some deadlock.

[code]

I

[2022-10-06 14:52] hcho3 commented on #8315
See #6617. Try setting `start_method` of `multiprocessing` to `spawn`.

[2022-10-07 07:00] DarioS opened #8317 "R Package Prediction Function Doesn't Explain Numbers Type"
`?predict.xgb.Booster` doesn't show in Value section what the numbers mean if `objective = "survival:cox"`. In contrast, the survival package has a better explanation for its predict function `?predict.coxph`.

[2022-10-07 10:37] RAMitchell opened #8318 "[CI] Pyspark tests very time consuming"
We are currently making an effort to reduce CI time and expenditure. Pyspark tests are using a very large portion of test time.

Can the number of tests be reduced, can individual tests be combined or can tests be refactored to take less time?

I see that many tests are being run in spark local-cluster and then also in local mode. Is it necessary to run so many tests on both modes? Perhaps just a

[2022-10-07 15:58] leedrake5 opened #8320 "Incomplete CPU utilization with M1 Pro, M1 Max, and M1 Ultra architectures"
I've seen bits of this problem discussed elsewhere, [most notably here](https://github.com/dmlc/xgboost/issues/7614). The issue appears to be related to the ways Apple has changed it's CPU architecture, but it make the nthreads argument somewhat meaningless on these systems.

To illustrate, I'm using the XGBoost tutorial for reproducible code:

[code]

Note nthreads=-1 is used, this should use up

[2022-10-07 17:10] hcho3 commented on #8320
XGBoost uses the OpenMP runtime (`libomp`) to make use of CPU cores. Have you run into a similar issue with other ML libraries, such as scikit-learn?

[2022-10-07 17:13] hcho3 commented on #8320
Also, have you tried explicitly setting `nthread=20`? Do you get the same result as `nthread=-1`?

[2022-10-07 17:43] leedrake5 commented on #8320
Yes, exact same results. Same is true for virtually every integer I throw at nthread. It can make a floor, but the ceiling is set somewhere else.

Looking into reproducible versions now. Though I directed the query here because I was able to find [others who had no problem using OpenMP on these architectures](https://developer.apple.com/forums/thread/698990).

[2022-10-07 17:54] hcho3 commented on #8320
@leedrake5 Here is the logic for detecting the number of available cores:
https://github.com/dmlc/xgboost/blob/fffb1fca522da1524350b1a563580f2e4e115ef4/src/common/threading_utils.h#L242-L249

Can you run this C++ program and post the output?
[code]
(To build: `clang++ -o test test.cc -lomp -Xclang -fopenmp`, assuming you have `libomp` installed from Homebrew.)

[2022-10-07 18:08] leedrake5 commented on #8320
Just a note that XGBoost in python has the same behavior. Will try the C++ program. next.

[code]
<img width="819" alt="Screen Shot 2022-10-07 at 12 07 10 PM" src="https://user-images.githubusercontent.com/1229542/194622014-89975a97-a9e0-4909-ba29-a0b5a6fa7ff7.png">

[2022-10-07 18:45] leedrake5 commented on #8320
For whatever reason  this simply doesn't work, so I found an alternative openmp verifier [here](https://web.njit.edu/~shahriar/class_home/HPC/hello_omp.c) and ran with it.

[code]

And then ran it this way:

[code]

With the following output:

[code]

Nothing creative is on this Mac - OpenMP is installed with `brew install libomp`. So not sure where the problem may be. OpenMP clearly works, but pe

[2022-10-07 18:58] hcho3 commented on #8320
Unfortunately none of the XGBoost developers own M1 devices. Marking this as "help wanted".

[2022-10-07 21:59] hcho3 commented on #8320
@leedrake5 Can you modify the C program to print out the value of `omp_get_num_procs()` and `omp_get_max_threads()`?

[2022-10-07 22:09] leedrake5 commented on #8320
Yes. Modified this way:

[code]

WIth this output:

[code]

Beginning to wonder if the the "efficiency cores" are blocking performance cores somehow. There's clearly no issue with omp functions identifying the correct number of threads.

[2022-10-07 22:17] hcho3 commented on #8320
This could be it. I just found https://developer.apple.com/forums/thread/674456

[2022-10-07 23:00] DarioS opened #8322 "Feature Importance Aggregated to Feature"
Currently, one importance score is output for feature-factor level combinations because of one-hot encoding. Could there be an option to calculate one score per feature, to make it compatible with CRAN's randomForest `importannce()`?

[2022-10-08 01:16] wbo4958 commented on #8318
Ok, I will check that

[2022-10-08 01:35] trivialfis commented on #8320
rarely.  It's specified per-kernel.

[2022-10-08 01:37] hcho3 commented on #8320
Maybe distributed training with a local Dask cluster would produce a better scaling on M1s.

[2022-10-08 02:22] trivialfis commented on #8320
Not sure. There's communication cost (we support tcp sockets only at the moment). It's a new CPU arch, I expect that it will take time for system software like libomp to take time to mature.  This is an interesting issue, but it's beyond what an ml library should handle I think.

[2022-10-08 02:51] wbo4958 commented on #5673
@dlutleixin please try the latest xgboost to add allow_non_zero_for_missing_value this parameter

[2022-10-08 03:36] wbo4958 commented on #8299
May I ask what's the rapids-xgboost?

[2022-10-08 03:59] trivialfis commented on #8299
@wbo4958  This one https://github.com/rapidsai/xgboost . It's a fork of XGBoost managed by rapids for consistent releases.

[2022-10-08 04:44] wbo4958 commented on #8299
so, that is the source of xgboost when installing rapids from conda, like `conda create -n rapids-22.08 -c rapidsai -c nvidia -c conda-forge  \
    rapids=22.08 python=3.9 cudatoolkit=11.5`

[2022-10-08 07:01] Francis-W commented on #8294
well,I try python and scala tracker, both of them will hang with istio proxy inject = true.
I'm trying to fix scala tracker by given a port number ,if it works I will make  a PR

[2022-10-08 07:49] trivialfis commented on #8299
@beckernick May have some insights into the packaging. My xgboost is almost always built from source ...

[2022-10-08 09:16] nvliyuan commented on #8292
@wbo4958 yes, the job is training with mixed low-memory GPU, will remove the low-memory one and retest, close this issue

[2022-10-08 09:16] #8292 closed

[2022-10-08 11:18] dlutleixin commented on #5673
ok

[2022-10-09 05:22] hcho3 commented on #8299
@wbo4958 Yes, installing `rapids` from Conda will also install `rapids-xgboost` from the `rapidsai` channel.

[2022-10-09 06:15] hcho3 commented on #8320
@trivialfis What would be the effect if we changed the default mode of OpenMP loops to `dynamic`? Would the overhead of a work-stealing queue be too excessive?

[2022-10-09 08:13] trivialfis commented on #8320
We will have to benchmark it loop by loop.

[2022-10-09 08:26] trivialfis commented on #8248
Hi, I appreciate the detailed information, but could you please try to extract a simpler code snippet that I can copy and run? I tried to install your package `GSClassifier` and ran into version conflicts after debugging issues with other package installations:
[code]
It would be great if there's a simpler way that I can get started.

[2022-10-09 08:30] trivialfis commented on #8322
Not at the moment, unfortunately. We are working on categorical data (Python only right now) support so in the future one hot encoding in R will not be necessary.

[2022-10-09 09:00] DarioS commented on #8322
Awesome. I just chanced upon the [version 2.0 Roadmap task list](https://github.com/dmlc/xgboost/projects/2#card-81924609) and I see that true categorical support is on the way!

[2022-10-09 09:12] trivialfis commented on #8322
Closing in favor of https://github.com/dmlc/xgboost/issues/7899 .

[2022-10-09 09:12] #8322 closed

[2022-10-09 10:02] huangwb8 commented on #8248
@trivialfis Thanks for your attention!

First, you can download files `testData.rds` and `PAD.train_20220916.rds`  here: https://github.com/huangwb8/GSClassifier/tree/master/inst/extdata

Second, you can just use codes like:

[code]

Replace paths of the `readRDS` function with your local path of these files before runing the above codes.

I do hope it can help!

[2022-10-10 01:20] Francis-W commented on #8294
@wbo4958 I make a hack on xgboost.scala code given a fixed {portNumber} , and istio annotation `traffic.sidecar.istio.io/excludeInboundPorts: {portNumber}` . it is work.
I make a draft PR [add port in trackerConf for spark mode](
https://github.com/dmlc/xgboost/pull/8326 ).

[2022-10-10 05:19] trivialfis commented on #8315
Closing as duplicated to https://github.com/dmlc/xgboost/issues/6617 .

[2022-10-10 05:19] #8315 closed

[2022-10-10 05:21] trivialfis commented on #8228
Closing as stalled.

[2022-10-10 05:21] #8228 closed

[2022-10-10 05:22] trivialfis commented on #8194
Great news!

[2022-10-10 05:22] #8194 closed

[2022-10-10 05:22] #8186 closed

[2022-10-10 05:24] #7969 closed

[2022-10-10 05:27] trivialfis commented on #6890
@hcho3 Do you know the current status of building xgboost on latest macos?

[2022-10-10 05:33] hcho3 commented on #6890
It's been fixed now. https://github.com/Homebrew/homebrew-core/commit/d0a9a865eac6ae4fa90ae33b24657933a097c84a

[2022-10-10 05:33] #6890 closed

[2022-10-10 05:35] trivialfis commented on #7740
Closing as stalled.

[2022-10-10 05:35] #7740 closed

[2022-10-10 05:37] trivialfis commented on #7780
Closing as stalled. Feel free to reopen if there's any new info.

[2022-10-10 05:37] #7780 closed

[2022-10-10 05:37] trivialfis commented on #7741
Closing as stalled. Feel free to reopen if there's any new info.

[2022-10-10 05:37] #7741 closed

[2022-10-10 06:06] trivialfis commented on #5259
Please consider using more standard libraries for loading remote files. I think we will eventually deprecate the network data reading in XGBoost and recommend users use other data preprocessing tools like spark or dask.

[2022-10-10 06:06] #5259 closed

[2022-10-10 06:24] trivialfis commented on #8128
the eval_metric should be `logloss` for binary classifciation.

[2022-10-10 06:24] #8128 closed

[2022-10-10 08:12] #8307 closed

[2022-10-10 08:57] trivialfis commented on #8248
I'm not sure why https://github.com/dmlc/xgboost/issues/8248#issuecomment-1248940061 doesn't work on your environment.

I install xgboost from cran and ran this (your script with an extra for loop):
[code]

and here is the output, the warning is only generated during the call to `xgb.save` and the prediction is silent.
[code]

[2022-10-10 09:03] trivialfis commented on #8299
Closing this now since it's caused by the environment.

[2022-10-10 09:03] #8299 closed

[2022-10-10 09:06] huangwb8 commented on #8248
Yep, that's the problem!

The code above was just a simple example.

During real model training and subtype calling via `GSClassifier`, similar process would be done lots of time, which means lots of similar `Warning`, which are redundant and annoying.

Well, the model actually works. **I just want to hide warning messages during the usage of xgboost**, if possible. However,  neither `verbose=F` n

[2022-10-10 09:13] trivialfis commented on #8248
You mentioned that you tried to save and load the model using the latest xgboost https://github.com/dmlc/xgboost/issues/8248#issuecomment-1248940061 . Can you replace the old model with the new one?

[2022-10-10 09:17] huangwb8 commented on #8248
@trivialfis Thanks for your suggestions! I think it is the best solution. The models should updated to the latest version to avoid warning.

[2022-10-10 09:17] #8248 closed

[2022-10-10 09:17] trivialfis commented on #8248
you are welcome!

[2022-10-10 09:44] trivialfis commented on #7818
I can't reproduce that either. Considering the script is not guarded by `if __name__ == "__main__":` nor there's any call to construct a client object, can I assume it's a snippet from a jupyter notebook? If so then the task might be some stalled states in the notebook environment. Consider restarting the environment/workers.

Feel free to reopen if the issue persists.

[2022-10-10 09:44] #7818 closed

[2022-10-10 09:45] trivialfis commented on #8112
@WeichenXu123 Could you please share some insight on the rational behind:

[2022-10-10 09:47] #8202 closed

[2022-10-10 09:50] trivialfis commented on #8202
Please use keyword arguments for the `input_data`.

[2022-10-10 22:34] leedrake5 commented on #8320
Can confirm this is true - looks like Dropbox was somehow blocking almost half the cpu - quitting it enabled full utilization

...which led to the next problem, an error with OpenMP:

[code]

I will send the bug to them.

[2022-10-11 03:46] jameslamb opened #8329 "[R] CRAN warning: use of prototypes in init.c"
Looking at https://cran.r-project.org/web/checks/check_results_xgboost.html, I noticed two similar warnings in the check results for `{xgboost}` 1.6.0.1 tonight.

[code]

Flavors: [r-devel-linux-x86_64-debian-clang](https://www.r-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-clang/xgboost-00check.html), [r-devel-linux-x86_64-fedora-clang](https://www.r-project.org/nosvn/R.check/r-devel-lin

[2022-10-11 04:25] trivialfis commented on #8329
Thank you for sharing, will look into the warnings.

[2022-10-11 10:00] DarioS opened #8331 "sparse.model.matrix No Longer Recommended by R Core"
The R vignette recommends `sparse.model.matrix` but the documentation of that function recommends otherwise:

MatrixModels is developed by a couple of members of R Core, so it seems like a good idea to adapt it in xgboost's instructions.

[2022-10-12 12:38] #8083 closed

[2022-10-13 06:18] hcho3 opened #8334 "Bunch of CPU tests are timing out"
https://buildkite.com/organizations/xgboost/analytics/suites/xgboost-pytest-cpu/runs/4025651f-449b-4765-bf89-ba34f3f9af0c

[2022-10-13 07:35] trivialfis commented on #8334
@RAMitchell Requiring timeout on CI might not be reliable, this test took https://buildkite.com/organizations/xgboost/analytics/suites/xgboost-pytest-cpu/tests/152530677/executions/6641351944 almost 9 minutes while it finishes within 50 seconds on my local machine.

[2022-10-13 07:46] hcho3 commented on #8334
I wonder why the CI machine is slower. We don't run multiple test jobs on each worker. https://github.com/dmlc/xgboost/blob/29595102b997aee96223afb258e5c3c2158e7cf1/tests/buildkite/infrastructure/aws-stack-creator/metadata.py#L72

[2022-10-13 07:48] hcho3 commented on #8334
Let me try to reproduce the timeout on EC2.

[2022-10-13 08:02] Faaany commented on #8221
@wbo4958 @WeichenXu123
Hi guys, sorry for my late response to this thread. Recently, I tried the new code and it worked!

I just had one problem when I am trying to get the training loss by using this:

[code]

Then I got this error:
[code]

It seems that the `evals_result is already set within SparkXGBClassifier`, but then how can I retrieve the results? I couldn't find anything in the documentat

[2022-10-13 08:22] jinmfeng opened #8336 "XGBoost training stage will not retry after one training task failed"
We are training XGBoost model on spark, but our jobs frequently fails becuase of errors like node maintenance, resource preemption, disk usage issues.
We know that for normal spark jobs if a task failed it will retry and be assigned to other normal nodes. But for XGBoost it's running in Barrier execution mode and the training step is trigger by collect() function, which means the stage is a Result

[2022-10-13 08:57] RAMitchell commented on #8334
Maybe adding timeouts is a mistake. We might have too many false negatives. I can create a PR to remove them.

[2022-10-13 11:00] trivialfis opened #8337 "[pyspark] Convert tests to pytest style."
The tests derived from the python `unittest` module are not compatible with pytest. For instance, `pytest.mark` and pytest fixtures are not usable with existing pyspark tests. As a bouns, I think using pytest fixture instead of the setup function from unittest can accelerate the test performance by preventing repeated setups.

Aside from the test framework, we need to remove the use of hardcoded r

[2022-10-13 11:01] trivialfis commented on #8337
I will convert a couple of them in https://github.com/dmlc/xgboost/pull/8272 .

[2022-10-13 11:07] hcho3 commented on #8337
@trivialfis Can you please file a separate PR for the revised tests?

[2022-10-13 11:14] trivialfis commented on #8337
will split up the PR.

[2022-10-13 17:42] trivialfis opened #8341 "[pyspark] Document for the use of GPU dependencies."

[2022-10-14 13:00] StatMixedML commented on #2087
Based on the above discussion, I have extended the univariate [XGBoostLSS](https://github.com/StatMixedML/XGBoostLSS) to a multivariate one called [Multi-Target XGBoostLSS Regression](https://arxiv.org/abs/2210.06831) that models multiple targets and their dependencies in a probabilistic regression setting. Code follows soon. Let me know your comments.

[2022-10-15 04:25] trivialfis commented on #2087
Thank you for sharing! Would love to read the paper this weekend.

[2022-10-15 10:18] StatMixedML commented on #2087
@trivialfis Thanks for making the multi-output available in the fist place!

Would be interested in your feedback, especially on how to improve the runtime for high-dimensional responses. Problem is the know scaling issue of XGBoost for multi-class and multi-output responses, since for each target, a separate tree is grown.

[2022-10-16 06:54] trivialfis commented on #2087
Yes. I made it work with the exact and approx tree method (hist is very similar) in my prototype branches.  I will focus on approx and hist in the future. One problem with approx (and hist) is that the histogram we build needs to account for all targets. Consider a histogram with 256 bins and a 64x64 image as both input and output (encoder-decoder alike), it will have 64^4 * 256 bins. For a small

[2022-10-16 10:15] StatMixedML commented on #2087
It would be enormously beneficial for xgboost training if we can decrease the computational time it takes for high-dimensional classification / regression tasks, both univariate and multivariate. There were already some issues on this repo (https://github.com/dmlc/xgboost/issues/2926 or https://github.com/dmlc/xgboost/issues/4079), so there is a need for this. As an example for the probabilistic m

[2022-10-17 13:29] joycebrum opened #8349 "Create Security Police"
Hi, I would like to help you increasing the security best practices of the project following Scorecard's Checks.

The [Security Police Check](https://github.com/ossf/scorecard/blob/main/docs/checks.md#security-policy) check, although it is of medium priority, it is extremely easy to solve, being one of the quick wins checks.

This file is extremely important to give users information about what co

[2022-10-17 22:17] #8334 closed

[2022-10-18 02:17] jameslamb commented on #2087
👋 @trivialfis thanks for the `@`

Are you maybe thinking of `MT-GBM` (where `MT` is "multi-target")?

* issue: https://github.com/microsoft/LightGBM/issues/5047
* draft PR that its authors abandoned: https://github.com/microsoft/LightGBM/pull/5111
* paper: "MT-GBM: A Multi-Task Gradient Boosting Machine with Shared Decision Trees" (https://arxiv.org/abs/2201.06239)

According to the authors:

[2022-10-18 03:57] wbo4958 commented on #8221
Thx @Faaany , it's definitely a bug, I will fix it. thank you for reporting it.

[2022-10-18 04:22] wbo4958 opened #8352 "[pyspark] eval_result is not working"
@wbo4958 @WeichenXu123
Hi guys, sorry for my late response to this thread. I finally had the chance to try the new code and it works well!!

I just had one problem when I am trying to get the training loss by using this:

[code]

Then I got this error:
[code]

It seems that the `evals_result` is already set within SparkXGBClassifier, but then how can I retrieve the results? I couldn't find anythin

[2022-10-18 04:23] wbo4958 commented on #8352
I will fix it.

[2022-10-18 05:46] Faaany commented on #8221
Awesome! Thanks! @wbo4958

[2022-10-18 06:11] ycy3675001 opened #8353 "Is the float array the only support input for xgboost4j?"
Hello, there. I am trying to feed a mixed type of features, e.g., boolean, int, float, into DMatrix format in xgboost4j. But I found that unlike the python package, xgboost4j only supports the float array as the input for DMatrix.  Is there any way that I can use a mixed type of features in xgboost4j like in the python package?

[2022-10-18 06:32] trivialfis commented on #8353
The python package transforms the data into float internally, either with help from libraries like numpy or in xgboost c++ code. But in the end, XGBoost treats all data as floating point.

[2022-10-18 06:56] #8341 closed

[2022-10-18 07:23] trivialfis opened #8354 "[pyspark] Generate parameter document for estimators."

[2022-10-18 07:47] ycy3675001 commented on #8353
Yes, I got it. Thank you for your reply.

[2022-10-18 07:47] #8353 closed

[2022-10-18 09:22] wbo4958 commented on #8221
@Faaany, I had the PR up to throw the exception when detecting unsupported parameters.

But to be honest, the real evals_result feature has not been supported by xgboost pyspark. Considering the xgboost 1.7 release is coming, I won't intend to add it at this time, hope you understand it. But I will add the feature after 1.7 is released.

[2022-10-18 09:53] trivialfis commented on #8221
The `evals_result` is not a pyspark estimator parameter (not supposed to be). We haven't implemented the summary method for the spark estimator and will complete its support in the next release.

[2022-10-18 14:48] SuperBo opened #8357 "[BUG] Wrong prediction when changing column order of pandas DataFrame"
When we change the columns order of pandas.DataFrame, xgboost still uses inplace_prediction and don't do column swapping to transform into the original order. This leads to wrong prediction result. This can be reproduced with the following scripts.

[code]

One more problem is that when I use different columns name, Xgboost doesn't warn me like the old versions.

I am using XGBoost version 1.6.2

[2022-10-18 14:54] andysw90 opened #8358 "xgboost model metadata is not correctly saved with xgb.save"
When a model is saved to file, the model configuration is not correctly saved. The example below shows how a model with `max_depth = 2` does not retain that information on save and reload.

[code]

[2022-10-18 15:26] #8352 closed

[2022-10-18 16:02] trivialfis commented on #8358
Hi, this is by design, we don't want to save training hyper-parameters in the model. See https://xgboost.readthedocs.io/en/stable/tutorials/saving_model.html for details.

[2022-10-18 16:04] trivialfis commented on #8357
Thank you for raising the issue! Opened a PR to validate the features.

[2022-10-18 16:17] andysw90 commented on #8358
Noted, thank you. Dumping the config as json is useful. Would it be sensible to strip metadata fields from the info saved in the config of the model on file? At the moment is seems to just be populated with the default values, might make more sense for it to be NULL?

[2022-10-18 16:48] trivialfis commented on #8358
I agree. It's somehow a convention that library developers (me included, guilty as charged) like to tie the hyper-parameters of the training algorithm to the resulting booster. If I were to have another go at designing a new ml library, I might prefer a more functional style API and make a clear separation between the training algorithm and its resulting model.

For now, I don't think we can chang

[2022-10-19 00:15] #8349 closed

[2022-10-19 01:25] hcho3 opened #8361 "[CI] test_shap timed out with > 20s"
https://buildkite.com/organizations/xgboost/analytics/suites/xgboost-gpu-2/runs/9fa188f3-2af4-4f39-ac2b-908976e51c07

[2022-10-19 03:50] Faaany commented on #8221
@wbo4958 @trivialfis sure, the next release is good! thank you, guys!

[2022-10-19 04:22] trivialfis commented on #8282
Debugging Rhub build errors:
[code]

[2022-10-19 08:12] lhy2749 opened #8362 "How can I use GPU for train and CPU for predict?"
I want to use GPU-device for training the model, like `{"max_depth": 9, ..., "tree_method": "gpu_hist", "gpu_id": 0}`, and use `model.save_model("./xgboost.model")` to save the model. When predict the data, use `model = xgb.XGBClassifier() model.load_model("./xgboost.model")` to load the model, but i got different result between by using GPU and CPU. How i could get the same result?

[2022-10-19 08:30] hcho3 commented on #8362
The result should not be different. Can you post the script and model so that we can diagnose the bug?

[2022-10-19 10:18] Jogala opened #8363 "Can not find the supplement of the xgboost publication"
Hi,

I am reading "XGBoost: A Scalable Tree Boosting System", see [https://arxiv.org/abs/1603.02754](https://arxiv.org/abs/1603.02754).

The link to the supplement is dead:

https://homes.cs.washington.edu/~tqchen/pdf/xgboost-supp.pdf

I can also not find any link to the supplmenent in the "README" here on github.

Thanks in adavance.

[2022-10-19 15:05] #8357 closed

[2022-10-19 16:32] trivialfis commented on #8362
It won't be exactly the same due to floating point errors. But the difference should be small.

[2022-10-19 16:34] trivialfis commented on #8363
I think the APPENDIX should cover all the proofs.

[2022-10-19 16:34] #8363 closed

[2022-10-19 18:52] #8329 closed

[2022-10-19 20:04] trivialfis opened #8366 "1.7.0 Release Candidate"
We are about to release version 1.7.0 of XGBoost. In the next week, we invite everyone to try out the release candidate (RC).

Roadmap: https://github.com/dmlc/xgboost/issues/8282
Release note: https://github.com/dmlc/xgboost/pull/8374

Feedback period: until the end of October 30, 2022. No new feature will be added to the release; only critical bug fixes will be backported.

@dmlc/xgboost-committ

[2022-10-20 00:37] hcho3 opened #8368 "Test_coordinate test timed out with >10s"
https://buildkite.com/organizations/xgboost/analytics/suites/xgboost-pytest-cpu/runs/99f6db0b-7e85-491a-885e-5980e372914a

[2022-10-20 01:51] #8362 closed

[2022-10-20 09:38] trivialfis commented on #8366
All packages are uploaded.

[2022-10-20 09:38] #8282 closed

[2022-10-20 11:21] ACatAC opened #8376 "reduce float precision does not reduce training time"
I have a pandas dataframe that I use to create a DMatrix:

[code]

I thought that reducing the float precision in the dataframe would speed up the training time, but it did not.
Is this expected?

[2022-10-20 11:27] trivialfis commented on #5474
We have implemented `QuantileDMatrix` for `hist` tree method and set it as default for sklearn, along with which, inplace prediction is used for sklearn whenever feasible. Other than these, some additional memory reduction optimizations for hist are implemented. Lastly, UBJSON is used as the default serialization format for pickle. I think we can close this issue and consider other memory reductio

[2022-10-20 11:31] trivialfis commented on #8376
Yes, it's expected. XGBoost treats all data as 32-bit float internally.

[2022-10-20 11:31] #8376 closed

[2022-10-20 11:32] trivialfis commented on #8358
Will close this now as it's expected behavior.

[2022-10-20 11:32] #8358 closed

[2022-10-20 14:32] beckernick opened #8377 "[DOC] Add documentation about training on GPUs and doing inference on CPU-only systems"
Some users want to train their on systems with GPUs, save the model, and then load it in production on CPU-only systems to do inference. This use case is fully supported, but some users may not be aware of it and/or think that the results may differ (beyond floating point accumulation errors). Examples include [this Twitter thread](https://twitter.com/MattiasLamotte/status/1582857806759153665) and

[2022-10-20 14:48] trivialfis commented on #8377
Thank you for the suggestion and the offer @beckernick ! Maybe we can write the doc here: https://xgboost.readthedocs.io/en/stable/gpu/index.html ? I'm not sure where people get the idea of the model is exclusive to the hardware that generated it, maybe some part of XGBoost's existing document is misleading?

[2022-10-20 14:54] beckernick commented on #8377
Hmm, I think that could be a good place, too. Happy to defer to your suggestion. Feel free to assign this to me.

And that's a great question -- I'm honestly not sure. I wonder if people have just been having general challenges with cross-environment (or cross-XGBoost version) model save/load issues and suspecting something GPU related rather than challenges of compatibility with pickle. This migh

[2022-10-20 15:08] trivialfis commented on #8377
Thank you for looking into this. I also opened a PR for cleaning up the GPU document: https://github.com/dmlc/xgboost/pull/8378 . Feel free to add a brief summary of CPU-GPU interoperability.

[2022-10-21 22:33] leedrake5 commented on #8320
Hopefully concluding note - libomp on brew was updated to version 15, and when I set nthread=16, it uses only performance cores. Been running for some time now without any issue. This might be settled on the OpenMP side but will report any issues I run across.

<img width="847" alt="Screen Shot 2022-10-21 at 4 32 20 PM" src="https://user-images.githubusercontent.com/1229542/197297965-4b49364f-0e60

[2022-10-24 13:14] Jogala opened #8383 "XGBoost supplement is not available, link dead"
Hi,

I am reading "XGBoost: A Scalable Tree Boosting System", see https://arxiv.org/abs/1603.02754.

The link to the supplement is dead:

https://homes.cs.washington.edu/~tqchen/pdf/xgboost-supp.pdf

Previous issues requesting the supplement got the following answers:
- "you will find the link in the reference section of the README", which is not the case.
- "I think the APPENDIX should cover all

[2022-10-24 14:50] trivialfis commented on #8383
At the end of the paper you linked.
![Screenshot from 2022-10-24 22-49-59](https://user-images.githubusercontent.com/16746409/197556161-c2f9cf52-27af-4a88-bd4f-edc65898ce10.png)

[2022-10-24 15:48] Jogala commented on #8383
Ah I see where that confusion comes from:

The paper on the ACM homepage does not include the Appendix.

https://dl.acm.org/doi/pdf/10.1145/2939672.2939785

But the paper on arxiv  does include the appendix.

https://arxiv.org/pdf/1603.02754.pdf

[2022-10-25 11:22] ntrost-targ commented on #8184
Pulling that out however will make it a pain to include in GridSearch & Crossvalidation, especially
when using Java

[2022-10-25 18:40] trivialfis commented on #8383
Got it, thank you for sharing! Hopefully, others who met the same issue will find this thread useful.

[2022-10-25 18:40] #8383 closed

[2022-10-25 19:58] kameronlightheart14 commented on #8054
Is there an update to Maven package (jvm) support? Or a workaround? I haven't been able to use xgboost in my maven java project.

[2022-10-25 20:08] hcho3 commented on #8054
No not yet. This is difficult since we don't have access to testing platforms that uses Apple Silicon. The workaround is to build XGBoost4J from the source. See the instructions in https://xgboost.readthedocs.io/en/stable/build.html#building-jvm-packages.

[2022-10-26 07:55] hcho3 opened #8389 "[CI] Enable test analytics for all test suites"
BuildKite has a built-in support for [test analytics](https://buildkite.com/docs/test-analytics). So far we've set it up for a few Pytest suites: #8333, #8313. The test analytics help us identify which tests are slow or flaky.

We should configure test analytics for other test suites as well.
- [ ] Buildkite: pytest running on Windows
- [ ] Buildkite: JVM packages
- [ ] GitHub Actions: pytest

[2022-10-26 18:55] rongou commented on #7778
This is implemented in the 1.7.0 release. Closing this and will create additional RFCs for other federated learning related issues.

[2022-10-26 18:55] #7778 closed

[2022-10-26 21:09] yananchen1989 opened #8396 "Set category type to column of boolean type"
Hello,

I have a pandas dataframe where some of the columns are boolean type, which contains True, False and None.
In this case, should I manually set them into category type ?
something like this:
`X['tf'] = X['tf'].astype("category")`
Or I need to one hot encode them ?

which would be better choice, thanks.

[2022-10-27 11:35] trivialfis opened #8398 "[pyspark] Categorical data support."
We need tests for both CPU and GPU pyspark with categorical feature inputs.

[2022-10-27 11:36] trivialfis opened #8399 "[pyspark] Multi-output data support."
We need to have the `label` column optionally be a list of arrays similar to the `features` column. As a side note, we don't support sparse data on label.

[2022-10-27 11:42] trivialfis commented on #8396
For versions before 1.7, just pass them as it's. For XGBoost after 1.7 (under rc test as of writing), you can try the experimental support for categorical data and use the `astype("category")`, whether it's a better option, however, depends on your specific dataset and tuning.

[2022-10-27 11:42] #8396 closed

[2022-10-27 16:18] trivialfis opened #8400 "[doc] Revise C tutorial to remove deprecated API and use sphinx links."

[2022-10-28 08:37] #8134 closed

[2022-10-29 10:20] lorentzenchr commented on #8111
If I may add, it would be very nice to have a better technical documentation of `DMatrix`, in general. I think it is a very central "piece" in xgboost (the most detailed info is maybe found in [C API Reference DMatrix](https://xgboost.readthedocs.io/en/latest/c.html#dmatrix))

[2022-10-29 12:25] trivialfis commented on #8111
Thank you for the comment. Let's document every possible inputs.

[2022-10-30 10:25] StatMixedML commented on #2087
@jameslamb

Thanks for sharing the paper. I have read the paper some time ago, so I am not fully in the details. The authors propose a multi-**task** version of LightGBM, so I am not sure this is the same as multi-**target**. I would need to go through the paper again.

In case this would be an interesting extension, do you have some resources to work on this?

[2022-10-30 18:20] jameslamb commented on #2087
To be honest, I also am not sure whether it's exactly the same. But it should be similar, right? Whether you are working on multiple **tasks** like "regression and classification" or multiple **targets** like "regression predicting y_1 and y_2", you still are in a situation like "find splits that balance gain across multiple loss functions".

To be honest, I haven't read the paper and am not plann

[2022-10-31 19:29] hcho3 commented on #8366
The 1.7.0 stable version is now available on PyPI.

[2022-10-31 21:45] leedrake5 commented on #8320
Unfortunately the issue is still present, but more intermittent than before. However I'm convinced it needs to be fixed on llvm's side.

[2022-11-01 03:35] hxu296 opened #8403 "On GPU the implementation of the survival:cox objective function"
Hello, I noticed that the "GPU Support" section of the XGBoost documentation has recently been updated to exclude the table of objective functions with GPU implementations.

From the previous documentation, it seems the only objective function without GPU implementation is `survival:cox`. I checked the implementation of `CoxRegression` in `src/objective/regression_obj.cu`, and it seems its `GetGra

[2022-11-01 09:56] iuiu34 opened #8404 "max_cat_to_onehot default value"
hi,
which is the default value for `max_cat_to_onehot`? And why is not explicit in the [documentation](https://xgboost.readthedocs.io/en/latest/parameter.html)?

Same for `max_cat_threshold`

[2022-11-01 10:36] trivialfis commented on #8404
Hi, you can find them here https://github.com/dmlc/xgboost/blob/0db903b4714ea2eb5cca8c61c4eb108874c3ec2e/src/tree/param.h#L114

We are exploring the best default and they might change in the future with more and more parameters being added to the combination.

[2022-11-01 10:37] trivialfis commented on #8403
We have new survival training objectives, see our tutorial site for more info.

[2022-11-01 13:29] hmmwjs opened #8405 "python model cannot used by c++"
I have a xgboost model created by python. When I use it to predict in c++,error happened.
This is my python code.
[code]
" model.json" created by python
c++ code
[code]
error in function "safe_xgboost" is :

error in XGBoosterPredictFromDMatrix(booster, test_data, config, &out_shape, &out_dim, &out_results): [21:26:52] .../xgboost/src/learner.cc:1485: Check failed: learner_model_param_.num_feature

[2022-11-01 16:47] trivialfis commented on #8366
Will upload R package to CRAN as well.

[2022-11-01 17:04] mvashishtha opened #8406 "BUG: xgboost 1.7 no longer has attribute rabit"
See modin-project/modin#5171 for context-- https://github.com/modin-project/modin depends on xgboost and uses xgboost.rabit, but as of xgboost 1.7, xgboost no longer has `rabit`, which modin uses here: https://github.com/modin-project/modin/blob/5825856a4ee19ff0dd5d1beaf6090bf601d0b411/modin/experimental/xgboost/utils.py#L95-L102

AFAICT this is a breaking change that according to semantic version

[2022-11-01 21:27] hcho3 commented on #8406
Just filed #8407 to add back `xgboost.rabit`. Once that's merged, we'll make patch release 1.7.1.

[2022-11-02 03:22] jameslamb commented on #8012
👋 Could I work on this one?

I originally set up LightGBM's `{lintr}` stuff (https://github.com/microsoft/LightGBM/pull/2437) and recently updated it for `{lintr}` v3.0.0 (https://github.com/microsoft/LightGBM/pull/5294), so I'm pretty familiar it.

[2022-11-02 10:29] StatMixedML commented on #2087
@jameslamb

Sure, I understand that. I am not sure I find the time either. So maybe let's pause this and see if the community picks it up.

[2022-11-02 13:58] Ayyan-droid opened #8412 "xgboost running with kubernetes issue"
i am using the following jars

xgboost4j-spark_2.12-1.6.1.jar
xgboost4j_2.12-1.6.1.jar

**Here is the stack trace:**

Traceback (most recent call last):
  File "/u/bin/ai_fraudengine/AIModelTrain/aimodeltrain/bl/StandardModelTrainHandlerImpl.py", line 32, in train_model
    trained_pipeline = train_pipeline.fit(df)
  File "/opt/spark/python/pyspark/ml/base.py", line 161, in fit
    return self._fi

[2022-11-02 15:42] hcho3 commented on #8406
@mvashishtha We are about to release 1.7.1 to restore `xgboost.rabit`. Can you test it and see if it fixes Modin? (You can download the new Python wheel here.](https://buildkite.com/organizations/xgboost/pipelines/xgboost-ci/builds/631/jobs/018436ad-a660-4a77-bd9c-87d9625528ed/artifacts/018436c2-428c-444f-88ec-45e9a87fe360)

[2022-11-02 16:03] hcho3 commented on #8406
Great! We'll go ahead and release 1.7.1

[2022-11-02 16:06] leedrake5 commented on #8320
Adding here in case it is helpful, starting to get failures at nthread=1. Increasingly worried that these new chips are incapable of CPU-based learning with OpenMP without big changes.

[code]

[2022-11-03 00:08] hmchen-github opened #8414 "How to use multi-thread in C api?"
I am using `XGDMatrixCreateFromMat` to create the DMatrix, `XGBoosterCreate` to create the model and `XGBoosterPredict` to predict the data. I don't know where to set the nthread to make the whole processing faster.

For the `XGDMatrixCreateFromMat`,
1. I saw it is hard-coded [nthread=1 in the implementation](https://github.com/dmlc/xgboost/blob/master/src/c_api/c_api.cc#L457). Is that intentional

[2022-11-03 00:11] hcho3 commented on #8414
You can use `XGDMatrixCreateFromMat_omp` to enable multi-threading.

You can call `XGBoosterSetParam` to set the `nthread` hyperparameter.

[2022-11-03 00:20] hmchen-github commented on #8414
Thanks for the quick response! For the `XGDMatrixCreateFromMat_omp`, should I use a specific number or just use 0 for max number of threads?

Same thing for the XGBoosterSetParam. Does nthread=0 mean max threads?

[2022-11-03 00:35] hcho3 commented on #8414
Yes, nthread=0 will use max number of threads. However, in some systems, setting a lower nthread may produce better performance. Your mileage may vary.

[2022-11-03 03:13] chargr opened #8415 "xgboost-1.7.0 - pypi source missing xgboost/dmlc-core"
[code]

[code]

[2022-11-03 03:34] hcho3 commented on #8415
My bad. I re-uploaded the source tarball with dmlc-core files. See https://pypi.org/project/xgboost/1.7.0.post0/#files

[2022-11-03 03:34] #8415 closed

[2022-11-03 03:48] chargr commented on #8415
This great for me, but now everyone else has to build from source because this has no wheels?

[2022-11-03 03:53] hcho3 commented on #8415
No, 1.7.0 wheels are still available.

[2022-11-03 04:49] hcho3 commented on #8415
@chargr I re-uploaded all the wheels to `1.7.0post0`, just in case.

[2022-11-03 06:07] chargr commented on #8415
Thanks a bunch!

[2022-11-03 09:36] iuiu34 opened #8416 "high computing time with categorical features"
Hi,
i'm using new cat parameter `feature_types` in xgboost 1.7,
training a xgbclassifier in a dataset of ~600k rows, >200 columns, with all numeric features, and tree_method = 'hist', takes about ~30min of training time in cpu.
Adding a single categorical feature, with 10 categories, training time goes up to 2h 30min.
Adding 10 features, with ~10 categories each, training time went up >> 12h, so i

[2022-11-03 12:27] trivialfis commented on #8414
I think you can see how to specify parameters for dmatrix construction with this demo: https://github.com/dmlc/xgboost/blob/b1b2524dbb6dd2216aaf1a46366728484d6c7717/demo/c-api/inference/inference.c#L120

As for booster parameters, `XGBoosterSetParam` should be the function for the job.

[2022-11-03 12:30] trivialfis commented on #8416
interesting. I will try to generate a similar dataset to reproduce.

[2022-11-03 13:09] trivialfis commented on #8412
Hi, if you are using PySpark can you consider using the PySpark interface of XGBoost instead of the jvm package? I read through your backtrace and couldn't find any mention of XGBoost, which makes it difficult to guess what's happening.

[2022-11-03 16:01] alexHeu opened #8417 "Categorical support in multi GPU training with dask_cudf"
Hi,

currently I am working on a multi-gpu workflow using dask_cudf together with xgboost.
I am getting the following error:

File /databricks/python/lib/python3.8/site-packages/xgboost/data.py:603, in _cudf_array_interfaces()
    601 for i, col in enumerate(data):
    602     if is_categorical_dtype(data[col].dtype):
--> 603         codes = cat_codes[i]
    604         interface = codes.__cuda_ar

[2022-11-03 17:52] trivialfis commented on #8012
Thank you for the offer! Actually, I would love to hear your opinion on https://github.com/dmlc/xgboost/issues/7906 and https://github.com/microsoft/LightGBM/pull/4968 before spending a non-trivial amount of time on the R package. I started to learn more about R and find some of the issues in the existing codebase of various packages including xgb and lgb. I saw https://github.com/microsoft/LightG

[2022-11-03 17:53] trivialfis commented on #8012
Forgot to ping @jameslamb  ;-)

[2022-11-03 18:10] trivialfis commented on #8416
Initial run with 50/50 split of categorical data and numeric data generated by  https://github.com/dmlc/xgboost/blob/bf8de227a9014013ab973af5706ccf2d2efc4989/python-package/xgboost/testing/__init__.py#L482 doesn't show any significant performance issue. I finished training 100 estimators with 10 classes in 160 seconds on my laptop. Could you please check whether the time is spent on the ordinal en

[2022-11-03 20:05] beckernick commented on #8377
Sorry I wasn't able to get back to this in time for that PR. Will open a follow up PR for discussion

[2022-11-03 21:42] hmchen-github commented on #8414
I modified the demo/c-api example and added XGBoosterSetParam(booster, "nthread", "4") in

https://github.com/dmlc/xgboost/blob/b1b2524dbb6dd2216aaf1a46366728484d6c7717/demo/c-api/inference/inference.c#L143

And use clock() to measure the processing time of the `XGBoosterPredictFromDMatrix` and `XGBoosterPredictFromDense`. I also changed the `#define N_SAMPLES 128` to a much larger number to make

[2022-11-03 22:34] trivialfis commented on #8414
Try to make the sample size larger, let's start with 10 thousands, and observe htop. we assign blocks of sample (instead of one sample per thr ead) to each thread to have better batch performance.

[2022-11-03 23:05] hmchen-github commented on #8414
Yes, I used `#define N_SAMPLES 25600000`, which I think is large enough? The overall prediction time on my machine is around 6s. But that duration is very consistent for nthread=1,4,8,16. My expectation is that it will be shorter for more threads or longer for less threads.

Yes, I also used htop but I don't see any difference on the number of threads when changing nthread, that's why I think the

[2022-11-03 23:21] trivialfis commented on #8414
Hmm, so how many threads are you observing?

Also, could you please share the code that you are using for test?

[2022-11-03 23:35] hcho3 opened #8418 "Use all availability zones in AWS"
Right now, the BuildKite CI uses only two of the four availability zones in AWS. This may result in failure to launch g4dn.12xlarge instances. We want to use all of the four availability zones.

[2022-11-04 10:15] anthls opened #8419 "Example gpu_training.py fails with rapids-22.10"
After installing rapids 22.10 into a clean conda environment using the command as per:
[https://rapids.ai/start.html#get-rapids](url)
which was:
`conda create -n rapids-22.10 -c rapidsai -c nvidia -c conda-forge rapids=22.10 python=3.8 cudatoolkit=11.5`

I attempted to run the example code here (which is linked to in the rapids documentation):
[https://github.com/dmlc/xgboost/blob/master/demo/dask

[2022-11-04 13:14] alexHeu commented on #8417
@trivialfis You are correct, 1.7 solved this. Thanks!

[2022-11-04 13:19] trivialfis commented on #8417
Great news!

[2022-11-04 13:19] #8417 closed

[2022-11-04 13:25] trivialfis commented on #8419
Hi, are you running the demo on the master branch but using xgboost 1.6 or an earlier version? Please upgrade XGBoost to 1.7 or use the demo from an older release.

[2022-11-04 14:30] iuiu34 commented on #8416
Hi,
playing around, long execution times problem seems to appear when the categorical feature is 100% np.nan.
Basically, running code above for examples 1 & 2, execution time is ~2 min (like your time).
But for example 3, execution time is ~1 hour.

Questions
- do you experience the same issue?
in case yes
- should xgboost raise any warning?
- even if it's not good practice to give dummy all nan f

[2022-11-04 15:42] trivialfis commented on #8416
When you assign nan to the dataframe, wouldn't it make the column as numeric type instead of categorical data type?

[2022-11-04 15:42] trivialfis commented on #8416
also, I tried to do the same and the time seems normal to me.

[2022-11-04 15:49] trivialfis commented on #8419
`DaskQuantileDMatrix` is only available in 1.7.

[2022-11-04 15:49] #8419 closed

[2022-11-04 15:54] trivialfis commented on #8406
Thank you all!

[2022-11-04 15:54] #8406 closed

[2022-11-04 15:56] trivialfis commented on #8404
Will close this issue now. We won't document the default value until it's no longer experimental. Users are encouraged to tune those parameters since they are highly dataset-dependent. Thank you for opening the issue.

[2022-11-04 15:56] #8404 closed

[2022-11-04 16:03] trivialfis opened #8421 "Flaky OHE test."
https://github.com/dmlc/xgboost/actions/runs/3394927514/jobs/5644124197

[code]

[2022-11-04 18:44] trivialfis commented on #8366
Submitted R package to cran, let's track https://cran.r-project.org/web/checks/check_results_xgboost.html .

[2022-11-04 18:47] trivialfis commented on #8366
@hcho3 Could you please help make the jvm release when you are available?

[2022-11-04 18:59] trivialfis opened #8422 "[pyspark] Use sklmodel or booster."
We should use only one of them consistently instead of converting them into each other. the scikit-learn wrapper has extra information and is non-trivial to handle.

[2022-11-04 19:33] trivialfis commented on #8405
Train the model with data loaded by:

[code]
should resolve the issue. Feel free to reopen if the issue persist.

[2022-11-04 19:41] trivialfis commented on #7024
I think it's fixed in 1.7.

[2022-11-04 19:41] #7024 closed

[2022-11-04 19:51] trivialfis commented on #8366
pre-tests failed with following notes:

[code]

Need to cleanup the automake files, not sure what to do with the CPU time.

[2022-11-04 21:31] rongou opened #8424 "Vertical Federated Learning RFC"
## Motivation
XGBoost 1.7.0 introduced the initial support for Federated Learning. However, only horizontal federated learning is supported. Training samples are assumed to be split horizontally, i.e. each participant has a subset of samples, but with all the features and labels. In many real world applications, data is split vertically: each participant has all the samples, but only a partial lis

[2022-11-04 21:43] hmchen-github commented on #8414
Never mind. I used clock() to measure the cpu usage so multithread will also increase the usage. I tried time() to measure the actual wall time and it did show multi-thread speed up the process. Using htop does not show extra threads under the process of the executive. But I did see more cores are busy when use multithreads. So I think it verifies that multithreads works.

Here is my test code if

[2022-11-04 23:21] trivialfis commented on #8414
It depends on your data. XGBoost is not good at running inference with small number of data. For that you need specialized inference libraries.

Also, there are inplcae prediction in latest XGBoost, which avoids construction of DMatrix altogether and might help increase both throughput and latency.

Lastly, prediction result is stored in thread local memory. You can control the thread outside and

[2022-11-05 03:59] yurivict opened #8425 "Socket failed to connect on FreeBSD."
[code]

Version: 1.7.1
clang-14
FreeBSD 13.1

[2022-11-05 06:08] iuiu34 commented on #8416
see below end-to-end code to reproduce results.
I see,
execution time without nan: 7s
execution time with >99% nan: 1 min

[code]

[2022-11-05 14:07] trivialfis commented on #8416
Unfortunately, I'm still not able to reproduce the significant slow down. Indeed there's a 6 seconds gap, which is likely caused by XGBoost training a different model to handle smaller number of useful features, but nothing abnormal.

[code]

[code]

On 11/5/22 2:08 PM, iuiu moflets ***@***.***> wrote:

[2022-11-05 14:11] trivialfis commented on #8425
Hmm, the socket failed to connect on FreeBSD. We don't have any linux specifc code in the socket module, need to find a bsd box for testing.

[2022-11-05 14:13] trivialfis commented on #8424
Thank you for the detailed RFC! I'm sure there are lots of excitement coming. I tagged the RFC as part of 2.0. Let me know if there's anything I can help.

[2022-11-05 14:26] trivialfis commented on #8416
Other than the result from above comment, I also put a callback into xgboost to check the fit time, maybe you can try it as well:

[code]

[2022-11-05 14:48] trivialfis commented on #8366
Posted a question on the r devel list about the CPU time.

[2022-11-05 16:19] trivialfis commented on #8425
I got the message `address family not supported by protocol family connect` from `connect` failure. Any suggestion? I'm not sure why it fails on freebsd, currently we run tests on linux and macos.

[2022-11-05 16:39] iuiu34 commented on #8416
adding the callback, i see that execution time comes from the mapping from string to int in the ordinalencoder.
This is sklearn stuff and not xgboost, so i'll open the ticket there.

If i use cat as numeric, this doesn't happen either

[code]

[2022-11-05 16:51] bappa10085 opened #8426 "Predict xgboost model onto raster stack yields error"
I am trying to use `xgboost` model to predict for raster data. Here is an minimal, reproducible, self-contained example
[code]
It returns the following error

  xgb.DMatrix does not support construction from list

[2022-11-05 18:21] trivialfis commented on #8416
@iuiu34 It's probably a good idea to use separate estimators instead of a pipeline to pinpoint the overhead. There are many data conversions happening there, ordinal encoding, type change, and xgboost also need to iterate through the columns to obtain categorical codes. You can try to python profiler if necessary. (assuming that the ratio of missing > 99% is normal in your use case instead of a da

[2022-11-05 19:24] iuiu34 commented on #8416
yepp, you're right.
thanks for the support & quick responses.

In case anyone faces same problem i.e. encode categorical features very sparsed in big datasets.
Here is the issue in [sklearn#24840](https://github.com/scikit-learn/scikit-learn/issues/24840)
And as fix, with`category_encoders.ordinal.OrdinalEncoder` problem doesn't happen

[2022-11-05 19:47] trivialfis commented on #8416
Thank you for sharing! Hope that the issue will be resolved soon. ;-)

[2022-11-05 19:47] #8416 closed

[2022-11-06 00:31] trivialfis opened #8429 "[CI] Revise R tests on github action"
- test with standard package and check pipeline (unless cmake is used)
- use as cran by default.
- get closer to cran's environment by setting appropriate env vars.
- check notes from output.
- optional checks using rhub.

[2022-11-07 06:56] #8412 closed

[2022-11-07 06:57] Ayyan-droid commented on #8412
resolved

[2022-11-07 09:57] alexHeu opened #8431 "Categorical encodings on new data when using trained model"
Hi,

I trained a model using the categorical support with pandas/cudf X["cat_feature"].astype("category") and enable_categorical in the DMatrix creation.

When I use the model downstream for creating predictions with X_new["cat_feature"].astype("category") and again constructing a DMatrix, am I responsible to ensure that the same cat_codes are used in the new data or is xgboost handling that inter

[2022-11-07 11:17] trivialfis commented on #8431
Yes, callers need to ensure the consistency of data. Will update the document.

[2022-11-07 13:52] alexHeu commented on #8431
@trivialfis thanks! Any best practices that you can recommend?

[2022-11-07 15:45] jaideep11061982 opened #8433 "Bug- Classes_"
We get an error message on xgb.fit
**Invalid classes inferred from unique values of y.  Expected: [0 1 2 3 4 5], got [1 2 3 4 5 6]**
  self.classes_ = np.unique(np.asarray(y))
                self.n_classes_ = len(self.classes_)
                expected_classes = np.arange(self.n_classes_)

I think we dont need this step,it is not necessary that Train data can have all the classes all the time due

[2022-11-07 16:23] #8433 closed

[2022-11-07 16:28] jaideep11061982 commented on #8433
@hcho3  this is hard requirement unless it has any performance gain .
As i mentioned it cannot be always a case that train and valid set will have atleast 1 instance of each class

[2022-11-07 16:31] hcho3 commented on #8433
This is a limitation of the current algorithm and we have no intention to change this. The reason is that we fit separate trees for every class, and it's not possible to fit a tree on an empty set.

As I mentioned in my earlier comment, there are ways to create train and validation sets so that every class is represented in every set.

[2022-11-07 21:55] yunmengxie opened #8435 "Easiest way to get version info of a XGBoost model through C++ interface"
Hi there, I have a question regarding retrieve the version info of a XGBoost model.

Say that I have a pre-trained XGBoost model saved in bst/json format, what would be the easiest way to get the XGBoost library version that trained this model?

I checked through api methods in C++ interface, looks like these isn't an existing api to get the version info, any recommendation to achieve this?

[2022-11-08 02:55] trivialfis commented on #8435
Hi, the version recorded by XGBoost is the last version that saved the model, instead of the version that trained the model. Meaning, if you train a model with XGBoost 1.5, load the model and save it again using 1.7, then the recorded model will be changed to 1.7.

Now that this is clear, you can see the version in the output JSON file.

[2022-11-08 02:55] #8435 closed

[2022-11-08 02:59] trivialfis commented on #8431
I think there's nothing special about categorical features, best practices are common to all kinds of features. Make sure your data processing pipeline is consistently applied to all data. For instance, if you have normalized the training data, test data should have the same normalization based on the training data. The same goes for any other techniques you might apply to train data like whitenin

[2022-11-08 02:59] #8431 closed

[2022-11-08 03:17] trivialfis commented on #8426
I'm not familiar with raster. But any chance this input data can be converted to other structures like matrix or data.table?

[2022-11-08 14:54] joycebrum opened #8438 "Hash-Pinning Dependencies"
To contextualization, the [Pinned Dependencie Check](https://github.com/ossf/scorecard/blob/2cbf5afd5460b51fd40939f8c44b32543b1a0bcb/docs/checks.md#pinned-dependencies) is a Scorecard Check to help you to identify dependencies that are not pinned by hash.

I've seen that changing the dependencies to be hash-pinned would be a troublesome work for you to do, considering that there are lots of depend

[2022-11-08 15:37] bappa10085 commented on #8426
The developer of `raster` or `terra` package has provided the following solution
[code]
 Now we can to write a prediction function that first coerces the data.frame with "new data" to a matrix. We can use that function with `predict<SpatRaster>`
[code]

[2022-11-08 16:01] gnaggnoyil opened #8439 "Target `federated_proto` is not installed, resulting in missing library dependency missing"
When `PLUGIN_FEDERATED` is set to `ON`, target `federated_proto` is built and linked to the main `xgboost` target. However, no installation rule is specified for `federated_proto`. Thus, on a Linux platform, when `BUILD_SHARED_LIBS` is set to `ON`, the installed `libxgboost.so` will link with `libfederated_proto.so` but cannot find it in its installation path.

Steps to reproduce:

[code]

The out

[2022-11-08 16:35] trivialfis commented on #8438
For most of the dependencies we have package manager like conda to help. Maybe for c++ libraries we need a better way to handle

[2022-11-08 17:30] joycebrum commented on #8438
One thing that might be important to notice is that the scorecard just parses through Dockerfiles, shell scripts, and GitHub workflows to check dependencies, so project dependencies wouldn't be a problem.

Most of the Pinned-Dependencies that Scorecard pointed out are in `tests/ci_build`, `.github/workflows` and in `Dockerfiles`.

[2022-11-08 17:50] trivialfis commented on #8435
There's no easy way to do that with old binary format. One of the reasons for https://github.com/dmlc/xgboost/issues/7547 .

[2022-11-08 17:52] trivialfis commented on #8438
Sounds good! Let me know if there's anything I can help.

[2022-11-08 18:27] trivialfis commented on #8439
@rongou Could you please help take a look when you are available?

[2022-11-08 18:54] trivialfis opened #8441 "[CI] Python source build warning."
https://github.com/dmlc/xgboost/actions/runs/3422112178/jobs/5699112636

[2022-11-08 18:58] rongou commented on #8439
In my environment I'm seeing both `libdmlc.so` and `libfederated_proto.so` as `not found`.

[2022-11-08 20:30] rongou commented on #8439
Never mind, `libdmlc.so` is indeed copied, just need to run `ldconfig` for it to show up. I think I have a fix for `libfederated_proto.so`, sending a PR.

[2022-11-08 23:14] #8400 closed

[2022-11-08 23:47] #8439 closed

[2022-11-09 01:12] #8429 closed

[2022-11-09 02:10] trivialfis commented on #8421
amse housing test as well: https://github.com/dmlc/xgboost/actions/runs/3424544302/jobs/5704337979 .

[2022-11-09 04:23] trivialfis commented on #8366
Running tests on winbuilder for CRAN submission again.

[2022-11-09 11:21] goncaloperes opened #8448 "XGBoost 1.5.0 on Conda: compat.py with FutureWarning"
Using XGBoost 1.5.0 on Anaconda, on the vevn `Test`, when one imports XGBRegressor as follows

[code]

one get the following `FutureWarning`:

[code]

At this moment it works fine, but in the future that might lead to issues in the future.

I haven't tested importing other methods, but wouldn't be surprised if that is happening with the same.

[2022-11-09 11:22] goncaloperes commented on #8448
Duplicate of this: https://github.com/dmlc/xgboost/issues/7593

[2022-11-09 11:22] #8448 closed

[2022-11-09 13:44] joycebrum commented on #8438
@trivialfis can you help me understand one thing? Is the https://github.com/dmlc/xgboost/blob/master/doc/requirements.txt the requirements for the project itself, or only for the https://github.com/dmlc/xgboost/blob/master/.github/workflows/main.yml ?

I'm asking because scorecard is complaining about the workflow main have these dependencies which are not hash-pinned but, if it is dependencies fo

[2022-11-09 15:45] candalfigomoro opened #8449 "[pyspark] pred_contribs (shap) support"
If I'm not wrong, it looks like the pyspark interface does not natively support contrib prediction (shap values).

I expect a "contrib_prediction_col" param to be available (this is already available for the xgboost4j-spark interface).

[2022-11-09 17:09] hcho3 commented on #8448
@goncaloperes The issue has been fixed in XGBoost 1.6.0. Please upgrade to the latest XGBoost.

[2022-11-09 19:22] rongou commented on #8424
Adding a task list to keep track of the progress:
- [ ] Column-wise data splitting
- [ ] Column-wise data splitting for external memory (this seems to require extra work)
- [ ] Prediction with column-wise split data
- [ ] Gradient/hessian calculation with column-wise split data
- [ ] Split finding with column-wise split data
- [ ] Vertical federated learning (needs further breakdown)

[2022-11-09 20:03] trivialfis commented on #8438
That's for `read the docs` service used to host online documentation and I believe it's managed by pip with packages stored on pypi. I think we don't need to hash the dependencies if they are managed by well-known package managers right?

[2022-11-09 21:55] ScottMGustafson opened #8451 "[dask, scikit-learn] `DaskXGBClassifier.classes_` inherits index of label data occasionally causing downstream issues with sklearn scorers"
# Description
I've noticed that unlike the vanilla XGBClassifier, `xgb.Dask.DaskXGBClassifier.classes_` returns a pandas Series using the index of the first instances of each label. This causes problems with scikit-learn scoring.

Specifically, the `classes_` attribute is used [here](https://github.com/scikit-learn/scikit-learn/blob/3e47fa91b6ed73f358105f2a1c6501e14f633bba/sklearn/metrics/_scorer.

[2022-11-09 22:00] hcho3 commented on #8451
Would you like to submit a pull request?

[2022-11-09 22:25] Scott-Gustafson commented on #8451
Sure, I'd love to.

[2022-11-10 02:10] wbo4958 commented on #8449
Yeah, good suggestion. will support it

[2022-11-10 09:21] trivialfis opened #8453 "[jvm-packages] Deprecate `DeviceQuantileDMatrix`."
- Replace it in java/scala bindings.
- Replace it in c impl.

[2022-11-10 09:21] trivialfis commented on #8453
cc @wbo4958

[2022-11-10 12:21] goncaloperes commented on #8448
@hcho3 I've noticed from #7593. Thank you.

[2022-11-10 12:26] wbo4958 commented on #8453
sure, will file a PR for it

[2022-11-10 17:59] joycebrum commented on #8438
Since it is used in workflows it can represent a possible vulnerability because, depending on the workflow permissions, an external Github Action could modify your code. Also, for Python, Pip’s hash-checking mode ensures that the downloaded file matches a known SHA256 hash (stored in the project), thus any attempted package substitution attack must compromise both server and client ([Microsoft, 20

[2022-11-10 19:49] trivialfis commented on #8438
Apologies for my ignorance of security issues. I read the whitepaper you referenced:

We are using a single feed here I think, there's no extra index.

packages, a substitution attack may still be possible

We don't have private packages either.

Sorry for the many questions that I have. I'm trying to understand how this will work in the future (hopefully we can apply it to other projects as well)

[2022-11-11 03:30] seanslma opened #8458 "[Python-packages] save_model ignored parameters with numpy.int32 type"
When the model parameter data type is numpy.int32 the parameters are not saved due to `numpy.int32` not being JSON serializable.

If these parameters are a part of the model, we should convert the value type from `numpy.int32` to `int` so they can be included in the saved model parameters.

[code]

[2022-11-11 03:54] trivialfis commented on #8458
Thank you for raising the issue. I'm thinking about not saving those training hyper-parameter in save model function since they are not related to the model itself but rather for the training algorithm and has no use after training

[2022-11-11 05:16] seanslma commented on #8458
Thanks for the clarification.
Makes sense not to save these parameters.
I was confused by the warnings because I did not realise these parameters are actually not part of the model.
It would be great to update the warning message or avoid raising warning so the users will not be confused.

[2022-11-11 17:52] joycebrum commented on #8438
No worries about the questions, all your questions are totally reasonable and I also have take some time to read some materials regarding hash-pinning dependencies in python projects to see if it would really make sense to xgboost project or not, so nothing of this was obvious for me too 😄 . And sorry if the answer is too big 😥 .

No, it is not worth it to always pin your dependencies. Take a look

[2022-11-11 18:23] ExpandingMan opened #8459 "docs: clarification on DMatrix CSR return"
I'm in the process of implementing the new function `XGDMatrixGetDataAsCSR` in the XGBoost.jl Julia wrapper.

I'm a bit confused about what this is supposed to be returning in the presence of null values.  Values passed to the `DMatrix` as `NaN32` do not show up in the sparse matrix, but values passed as `0.0f0` *are* there.  This raises the question of what is the default value of the resulting s

[2022-11-11 19:54] joycebrum commented on #8438
I created a DRAFT for you to be able to see what changes I'm working on and question wheter they really should or should not be pinned, mostly the ones that are also xgboost library dependencies and that the users rely on

[2022-11-12 22:15] trivialfis commented on #8459
Hi, DMatrix constructor has a parameter called `missing`, which is defaulted to `NaN`. Any entries with `NaN` value will be removed during the construction of DMatrix.

It's the argument passed to `missing` .

[code]

[2022-11-13 05:01] jnoorman opened #8463 "Floating point-2 is not supported - 1.7.1"
Hey team,

Recently updated to 1.7.1 (Ubuntu 22.04/Python 3.9.13/Cuda 11.7) and unable to execute models that have worked prior after update.

Thanks.
- - - - - - - - - -

  File "/home/anaconda3/envs/numerai/lib/python3.9/site-packages/xgboost/core.py", line 279, in _check_call
    raise XGBoostError(py_str(_LIB.XGBGetLastError()))
xgboost.core.XGBoostError: [15:52:56] /home/conda/feedstock_root/

[2022-11-13 05:17] trivialfis commented on #8463
Hi, could you please share some more details? What's floating point-2? How do we reproduce the error?

[2022-11-13 05:21] trivialfis commented on #8463
Got it, that's 16 bit floating point. Will try to reproduce it.

[2022-11-13 05:22] trivialfis commented on #8463
I will submit a pr for the fix. But what we will do is just converting it to 32bit float, you can convert it in your code as a quick workaround.

[2022-11-13 05:41] jnoorman commented on #8463
Thanks mate, I was usung the following function to modify the data type to reduce the memory size of the dataframe, if I don't use it works fine.

`def reduce_mem_usage(df):

   start_mem = df.memory_usage().sum() / 1024**2
   print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))

   for col in df.columns:
       col_type = df[col].dtype

       if col_type != object:
           c_min

[2022-11-13 08:38] yaseen0202 opened #8464 "R: Error in predict.xgboost: Feature names stored in `object` and `newdata` are different"
**I wrote a script using xgboost to predict soil class for a certain area using data from field and satellite images. The script as below:**
`rm(list=ls())
library(xgboost)
library(caret)
library(raster)
library(sp)
library(rgeos)
library(ggplot2)
setwd("G:/DATA")
data <- read.csv('96PointsClay02finalone.csv')
head(data)
summary(data)
dim(data)
ras <- stack("Allindices04TIFF.tif")
names(ras) <- c(

[2022-11-13 17:31] ExpandingMan commented on #8459
I'm a bit confused.  The default value for `sparse.csr_matrix` is always `0`, is it not?  If that's the case, the returned `csr_matrix` will not match the input data unless the default value passed on construction is `0`.  Indeed it looks to me like in the code you provided you are only comparing the non-zero value data and not checking the elements of the matrix which are not given explicitly as

[2022-11-14 22:26] andreostrovsky opened #8466 "Pandas 8-bit nullable integer type not supported"
#7760 added support for Pandas nullable integer types. Yet it only added support for `Int16`, `Int32`, and `Int64`; not `Int8`. Is there a reason this was excluded?

Pandas has a commonly used function to reduce DataFrame size `to_numeric(series, downcast='integer')`, which reduces the specified series to the smallest nullable integer type that fits the data, including `Int8`.

Currently, users ne

[2022-11-15 02:45] trivialfis commented on #8459
Let's distinguish "zero" and "missing". zero means the real number 0 on the number line, while `missing` means the omitted values in a sparse matrix, which may or may not be 0. Another way of saying missing is "unknown". One can represent the concept of "unknown" using any value, `NaN`, `None`, `Inf`, `0`, `-1`, or whatever the practitioner sees fit.

For instance, given a dataset that contains a

[2022-11-15 05:57] trivialfis commented on #8466
At the time I just tried to implement support for whatever was listed by the pandas' doc about nullable type.

[2022-11-15 05:58] trivialfis commented on #8458
The issue still needs to be addressed instead of leaving it as a warning.

[2022-11-15 07:21] hcho3 commented on #8366
JVM packages have been available on Maven Central since Nov 4

[2022-11-15 12:32] WeichenXu123 opened #8467 "Xgboost regressor training with GPU does not work when python environment does not have "cudf" package"
Testing on xgboost==1.7.1

Reproducing code:

[code]

Error:
[code]

[2022-11-15 13:24] WeichenXu123 commented on #8467
Seemingly I need to manually build cudf if I don't use conda environment.

[2022-11-15 15:43] WeichenXu123 commented on #8467
@trivialfis Could you release a pypi xgboost package that containing the  cudf lib ?
cudf cannot be installed correctly via `pip` , and building it is hard.

[2022-11-15 17:32] mpetricek-corp commented on #7547
Is there a simple way to silence this warning _"Found JSON model saved before XGBoost 1.6, please save the model using current version again. The support for old JSON model will be discontinued in XGBoost 2.3."_ when using the java interface? I.e. ml.dmlc.xgboost4j.java.XGBoost class from ml.dmlc.xgboost-jvm_2.12 maven artifact.

The C code seems to accept some "verbosity" configuration, but so fa

[2022-11-16 00:27] hcho3 commented on #8467
@WeichenXu123 It is now possible to install cudf using `pip`. See https://rapids.ai/pip.html

[2022-11-16 00:58] WeichenXu123 commented on #8467
@hcho3

I tried:
[code]
it will install a dependency `cupy-cuda115`, which is only compatible with cuda-11.5

I cannot find a version that is compatible with cuda 11.3 (which is the version currently we use)

@hcho3 Can we make xgboost-spark using "cudf" optionally ? If no cudf installed, fallback to use normal pandas dataframe.

[2022-11-16 01:07] hcho3 commented on #8467
@WeichenXu123 https://rapids.ai/pip.html says that you can install cuPy version for CUDA 11.3:
[code]
Have you tried this?

[2022-11-16 01:09] hcho3 commented on #8467
And I'm not sure if cuDF can be made optional. I'll defer to @trivialfis

[2022-11-16 01:11] WeichenXu123 commented on #8467
Yes I tried, then got error:
[code]
@hcho3

[2022-11-16 01:12] WeichenXu123 commented on #8467
I think it is doable, because when I contributed the xgboost.spark module, it works without `cudf`, but now it does not work without `cudf`

[2022-11-16 01:22] hcho3 commented on #8467
@WeichenXu123  The `import cudf` statement was introduced in #8088, which you approved. It seems like we accidentally introduced `cudf` dependency there. We should try to make `cudf` optional.

[2022-11-16 01:40] hcho3 commented on #8467
Just made #8469 as a first attempt to fix.

[2022-11-16 10:26] NvTimLiu opened #8470 "xgboost-pyspark failed to run on GPU in nvidia/cuda docker container"
Install cudf & xgboost python packages in nvdia/cuda docker container
[code]

Run dmlc xgboost-pyspark train as below
[code]

Errors in `nvidia/cuda:11.0.3-runtime-ubuntu18.04`
[code]
 Check cuda path in `nvidia/cuda:11.0.3-runtime-ubuntu18.04`
[code]

---------------------------------------------------------------

In `nvidia/cuda:11.2.2-devel-ubuntu18.04` docker, still got below error ?
[code]
[

[2022-11-17 02:03] trivialfis commented on #8459
Indeed, this is inconsistent with the semantics for DMatrix. If `A[1, 0]` is missing, then indexing into `A[1, 0]` should throw an error instead of returning 0 if the semantic is respected.

[2022-11-17 09:51] wbo4958 commented on #8470
Close this issue. Tried on the docker images, and it worked.

[2022-11-17 12:26] trivialfis commented on #8366
I made another attempt for R package today, still failing for the same error with `cb.gblinear.history` even after reducing the number of threads to 1. I haven't been able to figure out the exact cause.

[2022-11-17 14:04] #8438 closed

[2022-11-18 14:25] PepppoVal opened #8473 "Non-default eval metrics and multi-output with the Python sklearn API"
BUG REPORT:
I am using XGBoost multi-output feature with v.1.7.1 of the python package.
It works just fine when I run the following:

[code]
The above runs and does early stopping beautifully, all the while showing  **logloss** decreasing (the default metric, I assume)
BUT as soon as I try to use another metric, within the `sklearn.metric` package, such as `hamming_loss`
or `accuracy_score`, which

[2022-11-20 13:48] sangaline commented on #4246
@trivialfis @hcho3 I'm still experiencing this issue with the latest v1.7.1 release and `model.inplace_predict()`. When loading a pickled model before forking, any call to `XGBClassifier.predict()` after forking will hang. The predictor is set to `auto` on a machine with no GPU or CUDA installed, and `model._can_use_inplace_predict()` returns `True`. The hang occurs [here](https://github.com/dmlc/

[2022-11-20 14:37] trivialfis commented on #4246
Hi, the inplace predict is an alternative to using multi-process. The
hang is caused by fork safety issue in libgomp in gcc, which we cannot
fix. Please take a look at
https://github.com/dmlc/xgboost/issues/7044#issuecomment-1039912899 for
a potential workaround and more background.

On 11/20/22 21:48, Evan Sangaline wrote:

[2022-11-21 06:44] haohenggang opened #8474 "23/5000 Is there any xjboost4j.jar package that supports arm？"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2022-11-21 07:29] trivialfis commented on #8473
Thank you for raising the issue. We are aware of the limitation, this error is caused by the `get_label` function from `DMatrix`, which doesn't support matrix label yet.

[2022-11-21 08:18] trivialfis commented on #8470
hey, any update?

[2022-11-21 08:59] ebullientfly opened #8475 "xgboost4j evalSet can only get eval score from one worker if use custom evaluate interface"
What posted bellow is the current implement of the usage of customEval which can be set when we construct `XGBoostRegressor` or `XGBoostClassifier`. The problem is that by this we can only get evaluate score from one worker if we run xgboost on spark.
![image](https://user-images.githubusercontent.com/4994496/203006657-4b42a6c1-3977-4c81-9a69-fcb746d0688d.png)

[2022-11-21 09:01] trivialfis commented on #8473
We are still planning for some of the new features regarding multi-target. For instance, the label can be sparse for multi-label classification, we need to pen out a new set of API functions to handle these new data types.

[2022-11-21 09:05] trivialfis commented on #8366
@hcho3 @hetong007 @RAMitchell We might skip 1.7 for CRAN due to non-trivial changes required to pass the CRAN tests. At the moment, we are running into the error https://github.com/dmlc/xgboost/issues/8366#issuecomment-1304096969 . I haven't been able to figure out the exact cause since I can't reproduce it on my devices (tried both 16 cores and 12 cores machines).
Also, there are known issues lik

[2022-11-21 09:06] trivialfis commented on #8459
Closing now. We can revisit if there's a better alternative to scipy sparse.

[2022-11-21 09:06] #8459 closed

[2022-11-21 19:45] dthiagarajan opened #8476 "Distributed training discrepancies with `hist` tree method"
Hello,

I'm trying to run regression with distributed XGBoost, but I'm noticing that the results are different when I use distribution vs. when I train with a single process.

I used a custom objective function so I could verify that the gradients and hessians (local to each worker) I use match with what's used in single-process training. However, even after verifying that the gradients and hessia

[2022-11-22 07:10] ysq151944 opened #8477 "[FEA]Custom Sample Method Request"
I want to use custom sample method in training, so it would be great if xgb api could:

1. provide a param like "obj" or "custom_metric"

OR

2.  provide a param looks like "samples" to receive np.ndarray that carries the exact indices of dtrain.
For example:
np.array([[1, 3, 5, 7, 9], [2, 4, 6, 8, 10], [1, 2, 3, 4, 5]]) provides 3 samples to fit the model.

I personally prefer the second one as s

[2022-11-22 12:33] ysq151944 commented on #8477
Hi, I don't understand why set the hessian to 0 for disabled samples works.

Do you mean that I should set sampling_method='gradient_based' and then set g = h = 0 for disabled samples?

[2022-11-22 13:43] trivialfis commented on #8477
Don't set sampling for XGBoost if you were to have your own sampling strategy.

XGBoost is based on the newton method, 0 hessian for a sample implies that the sample won't contribute to the optimization.

[2022-11-22 14:21] #8477 closed

[2022-11-22 14:30] trivialfis commented on #8476
It's expected. Quantiles between workers are merged based on gk sketching, which is an approximation algorithm instead of computing the exact quantile. Also, due to floating point errors, the histogram might be different.

If you mean the boundary of each bin, it's based on the feature values, quantile of features.

No, quantiles are the same for all workers. But it can be different if there are a

[2022-11-22 14:30] #8476 closed

[2022-11-22 14:32] dthiagarajan commented on #8476
Got it, thanks! Is there anywhere I can read through how the gk sketching you mentioned works?

Also, is it possible to switch a flag on/off to compute the exact quantile?

[2022-11-22 14:34] trivialfis commented on #8475
For the Python package, we compute a sample average over all workers, which is inexact. I think we should be able to do the same for JVM packages.

cc @wbo4958 .

[2022-11-22 14:42] trivialfis commented on #8476
I think you can find references in xgboost's paper and related proofs.

We don't use exact quantile. For distributed computing, running the sorting algorithm is just not practical for machine learning.

[2022-11-22 19:53] dthiagarajan commented on #8476
Sorry.. I'm still a bit confused - if I'm using the same dataset, why would the quantiles be different based on the number of workers? I understand that each worker has it's own slice of the dataset, but if they're being merged to determine the quantiles, shouldn't the number of workers not matter?

[2022-11-22 20:21] yananchen1989 opened #8479 "Must have at least 1 validation dataset for early stopping"
xgboost version: 1.7.1
quite weird error from code:

[code]

[2022-11-22 21:04] #8479 closed

[2022-11-23 00:48] trivialfis commented on #8476
The merge operation is an approximate algorithm, different number of workers requires different number of merge, generating different approximation result

[2022-11-23 02:32] jameslamb commented on #8012
Sorry for the delay in responding!

<hr>

I think getting `{lintr}` linting running in CI again is worth doing regardless of any future design work. In my experience, most of the fixes for `{lintr}` warnings are quick, easy, and don't impact the public API of the library. It's also great to have prior to doing new development because `{lintr}` gives you some free minimal coverage of code that does

[2022-11-23 08:38] trivialfis commented on #8463
Ah, the data conversion is only done for numpy but the code is using pandas. Will try to fix it.

[2022-11-23 08:55] trivialfis commented on #8470
I think this issue is in the container specification. Even with a conditional cuDF/cupy check it will still fail due to mismatched cuda components.

[2022-11-23 11:02] NvTimLiu commented on #8470
Thanks for the help from @wbo4958,

PASS the tests by updating installation in docker referring to :  https://github.com/NVIDIA/spark-rapids-examples/pull/232#issuecomment-1318309103

Close the issue,

[2022-11-23 11:02] #8470 closed

[2022-11-23 19:04] yananchen1989 opened #8482 "Does xgboost PySpark support categorical feature split ?"
Hello, it seems that xgboost -pyspark https://xgboost.readthedocs.io/en/stable/tutorials/spark_estimator.html has not talked about whether it supports categorical features.

Besides, I also haven't found it in https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html, where the Iris dataset example only has numeric features.

Does it support that ?

Thanks.

[2022-11-24 01:20] #7642 closed

[2022-11-24 03:58] trivialfis commented on #8482
Not yet. The progress for categorical feature support is being tracked here: https://github.com/dmlc/xgboost/issues/7899 .

[2022-11-24 03:58] #8482 closed

[2022-11-24 04:06] trivialfis commented on #8473
I will close this issue for now as we are still working on the roadmap for full multi-target support. It's much more complicated than one might expect with new probabilistic forecasting algorithms emerging.

[2022-11-24 04:06] #8473 closed

[2022-11-24 04:17] trivialfis commented on #8012
Thank you for the input!

We are facing the same issue here. :-(

That's interesting. If we can get XGBoost to be part of that project we can start recommending people use that interface instead.

That's an excellent suggestion! Please help look into the issues when you get a chance and feel free to ping me if there's anything I can help. ;-)

[2022-11-24 04:47] #8463 closed

[2022-11-24 05:06] simonpcouch commented on #8012
Thanks for looping me in, @jameslamb! No comments, but will be sure to keep an eye on this and related issues.

We do indeed maintain an interface to xgboost in tidymodels.🙂 Some docs [here](https://parsnip.tidymodels.org/reference/details_boost_tree_xgboost.html) and [here](https://parsnip.tidymodels.org/articles/Examples.html#boost_tree-models), and a worked example [here](https://juliasilge.com

[2022-11-24 12:21] cedric-aebi opened #8484 "Out of Memory Error with version 1.7.1"
Bug for version 1.7.1

Seems like there is a memory error issue with the newest version. I cant really tell what is happening. But training the xgboost model on a GPU (Tesla P100-PCIE-16GB) returns the following error:

[code]

Downgrading the xboost package to 1.6.2 seems to work.

[2022-11-24 13:00] peiji1981 commented on #8424
hello, Mr.rongou  @rongou . I have much experience on the  implementation vertical federated XGB/LGB. But my former version was coded by python and scala. I was trying to implement it based on lightgbm source codes, also added some c_api for python wrapper, but this work is very hard for me because of poor c++ coding experience. So how can I contribute my experience with you or your group to imple

[2022-11-24 13:34] trivialfis commented on #8484
Hi, could you please share the following information:
- Which interface are you using, sklearn, native, dask?
- The shape and sparsity of your dataset.
- The hyper-parameter that you are using.

[2022-11-25 02:23] trivialfis commented on #8424
Hi @peiji1981 , thank you for the offer! Do you have a paper or document on your work?

[2022-11-25 09:36] StatMixedML commented on #2087
There is a new Boosting Approach that is designed for efficient training in multi-output classification and regression tasks

[SketchBoost: Fast Gradient Boosted Decision Tree for Multioutput Problems](https://openreview.net/forum?id=WSxarC8t-T)](https://github.com/sb-ai-lab/Py-Boost).

It is accepted as a Paper at Neurips-2022. The following shows a runtime-comparison.

![image](https://user-imag

[2022-11-25 14:55] trivialfis opened #8485 "Support half type from cupy."
On compute 6.0 and greater, CUDA supports float16 and we can use it with array interface.

[2022-11-25 20:10] apivovarov opened #8488 "cannot allocate memory in static TLS block"
Platform: arm64, Ubuntu 20.04

Tensorflow-aarch64 2.9.2
xgboost 1.7.1

[code]

I got error "cannot allocate memory in static TLS block" in case I import tensorflow 2.9.2 before xgboost

[code]

If I import xgboost first - then both tensorflow and xgboost work fine
[code]

libgomp was found in below locations:
[code]
For some reason `xgboost.libs/libgomp-d22c30c5.so.1.0.0` is only 30 bytes
[code]

[2022-11-25 20:38] hristog commented on #8320
Sounds like it'd be fair to close this issue then? Or have I misunderstood?

[2022-11-25 20:52] hristog commented on #7819
@trivialfis, what would be a good naming convention and output format for the newly-exposed information?

I've had a look at the linked comment but I'm not entirely sure what the expected degree of exposure and the actual format might be (in accordance to established XGBoost conventions).

[2022-11-26 04:51] trivialfis commented on #8488
Hi, this is an issue with libgomp  https://github.com/dmlc/xgboost/issues/7110#issuecomment-880841484 Closing as duplicated.

[2022-11-26 04:51] #8488 closed

[2022-11-26 05:04] trivialfis commented on #7819
We haven't decided yet. At the moment, save_config is the best way to do that.

[2022-11-26 09:37] skyee1 commented on #6885
Hello. I tried your method, but I encountered a new Bug.
[code]
This error is converted to the next step.

[2022-11-26 09:38] skyee1 commented on #6885
Hello. I tried your method, but I encountered a new Bug.
[code]
This error is converted to the next step.

[2022-11-27 05:36] yurivict opened #8489 "Build fails on i386 and armv7: non-constant-expression cannot be narrowed from type 'unsigned long long' to 'size_t'"
[code]

Version: 1.7.1
clang-14
FreeBSD 13.1

[2022-11-27 06:58] #8467 closed

[2022-11-28 02:20] WeichenXu123 opened #8490 "Release 1.7.2 for fix "Make QDM optional based on cuDF check""
We need a patch release 1.7.2 that containing fix https://github.com/dmlc/xgboost/pull/8471
Thank you!

[2022-11-28 03:04] WeichenXu123 commented on #8490
CC @trivialfis @hcho3 Thank you!

[2022-11-28 04:30] trivialfis commented on #8490
Will open a new issue and make a couple of backports. At the same time, feel free to visit the github project for the patch release and make suggestions.

[2022-11-28 04:30] #8490 closed

[2022-11-28 05:15] WeichenXu123 commented on #8490
@trivialfis Thank you!

[2022-11-28 12:28] #8421 closed

[2022-11-28 14:38] #8466 closed

[2022-11-28 16:59] tracykyle93 opened #8491 "[pyspark] SparkXGBRanker does not work on dataframe with multiple partitions"
I have experienced the same issue mentioned in this discussion forum https://discuss.xgboost.ai/t/sparkxgbranker-does-not-work-on-parallel-workers/2986, and did not see any issue raised in Github, so I just do it here

"SparkXGBRanker from 1.7.0 release requires data to be sorted by qid. It works fine if we have one worker and sorted dataframe. However with multiple workers data comes to them unor

[2022-11-29 01:54] hcho3 opened #8492 "1.7.2 Patch Release"
We are looking to release another patch release, primarily to fix #8467.

PRs to be backported:
- [x] #8428
- [x] #8432
- [x] #8471
- [x] #8486
- [x] https://github.com/dmlc/xgboost/pull/8437
- [x] #8497
- [x] https://github.com/dmlc/xgboost/pull/8527
- [x] https://github.com/dmlc/xgboost/pull/8551
- [x] https://github.com/dmlc/xgboost/pull/8558

[2022-11-29 02:33] WeichenXu123 commented on #8491
@tracykyle93
Does `spark_df.sortWithinPartitions` work ?

@trivialfis

For this ` qid must be sorted in non-decreasing order along with data.`,
does it only require sorting within local DMatrix data ? or it requires sorting globally across all distributed worker DMatrix data ?

[2022-11-29 04:15] WeichenXu123 opened #8493 "Xgboost 1.6.2 raises "no kernel image is available for execution on the device" error on NVIDIA Tesla K80 GPU"
Xgboost 1.6.2 raises "no kernel image is available for execution on the device" error on NVIDIA Tesla K80 GPU

Does it mean Xgboost 1.6.2 never supporting Tesla K80 GPU any more ?

Thank you!

Error message is like:

We are running on instance of https://learn.microsoft.com/en-us/azure/virtual-machines/nc-series

[2022-11-29 04:16] WeichenXu123 commented on #8493
CC @hcho3  Thank you!

Note the error message also contains `Memory allocation error on worker` , does it caused by out of memory ? or just incompatible with the GPU card ?

[2022-11-29 04:18] hcho3 commented on #8493
Yes, we require Compute Capability 5.0 or higher. Tesla K80 GPU is not supported. https://xgboost.readthedocs.io/en/latest/gpu/index.html

[2022-11-29 04:18] #8493 closed

[2022-11-29 04:22] WeichenXu123 commented on #8493
@hcho3 Understood!

[2022-11-29 12:54] trivialfis commented on #8491
Local is sufficient.

[2022-11-29 19:45] rshn1994 commented on #6173
Hello @hcho3 , I would like to contribute to this issue, please could you assign this to me. I will update the readme and create a pull request

[2022-11-29 20:37] tracykyle93 commented on #8491
Hi @WeichenXu123 @trivialfis , thanks for the quick response!

However, spark_df.sortWithinPartitions does not work, code to reproduce this issue,

`from xgboost.spark import SparkXGBRanker
from pyspark.ml.linalg import Vectors
from pyspark.sql import SparkSession, SQLContext

sparkSession = (SparkSession
                .builder
                .config('spark.dynamicAllocation.enabled', 'false')

[2022-11-29 22:36] yananchen1989 opened #8495 "Performance comparison report with regard to processing categorical features?"
Hi, as we know, when processing categorical features, the traditional method is one-hot encoding, https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

as from 1.6 and 1.7 on, xgboost now supports directly split in categorical space.

I would like to know is there any performance comparison with regard to these different lines of processing ? for example on so

[2022-11-30 02:06] wbo4958 commented on #8491
Yeah, I can repro it according to https://github.com/dmlc/xgboost/issues/8491#issuecomment-1331266676

[2022-11-30 03:02] WeichenXu123 commented on #8491
@wbo4958 Thanks!

[2022-11-30 03:03] WeichenXu123 commented on #8491
@trivialfis
Another issue: does it require each group data exist in only one worker DMatrix ?

[2022-11-30 03:59] trivialfis commented on #8491
No. We calculate gradient based on query group, and gradient calculation is not distributed, only the final histogram bin is synchronized. Is it possible that a better organized group with larger amount of data can bring better accuracy? Maybe, but it's not required.

[2022-11-30 04:30] wbo4958 commented on #8491
@tracykyle93 could you help to verify https://github.com/dmlc/xgboost/pull/8497 ? BTW, `df_train = df_train.sortWithinPartitions("qid", ascending=True)` is not needed anymore.

[2022-11-30 04:34] wbo4958 commented on #8492
please add https://github.com/dmlc/xgboost/pull/8497 and https://github.com/dmlc/xgboost/pull/8496

[2022-11-30 05:57] trivialfis commented on #8495
We have some initial benchmarks, but are still working on parameter tuning for finalizing the default set of parameters. Will publish them once ready. The issue is tracked at https://github.com/dmlc/xgboost/issues/7899 .

[2022-11-30 05:57] #8495 closed

[2022-11-30 07:22] trivialfis commented on #6173
Hi, @rshn1994 thank you for the offer! Feel free to open PRs.

[2022-11-30 08:31] hcho3 commented on #8492
Removed #8442

[2022-11-30 09:56] #8485 closed

[2022-11-30 13:37] trivialfis commented on #2087
Did a quick scan over a couple of papers. I don't have a good understanding of various algorithms yet, but vector leaf seems to be the essential component of all proposed methods. I will try to prioritize it and share a roadmap for a path forward.

[2022-11-30 14:06] StatMixedML commented on #2087
@trivialfis Ok nice! Looking forward

[2022-11-30 21:15] tracykyle93 commented on #8491
Thanks for the hotfix @wbo4958 , while I want to test your change, I can not build from source on the hotfix branch, I have posted the question in the discussion forum https://discuss.xgboost.ai/t/fail-to-build-from-source-on-hotfix-branch/3015