[2015-10-23 08:35] sinhrks commented on #558
Might be related to #498 (#487). Loading invalid file name may cause segfault in later part.

Can you provide reproducible example including data?

[2015-10-23 16:59] tqchen commented on #553
It is now moved to https://github.com/dmlc/xgboost/tree/master/python-package you need to add path to this place in your file

[2015-10-23 22:12] phunterlau commented on #556
Seems like you have g++-5 and the OpenMP version is successfully built, so the .so file should have no problem if your compiler env is not hurt by other packages, so I guess the problem is outside xgboost installation, but something with your brew packages. I can suggest that,

1. you can put your .so file to dropbox and I may give a local test on the binary file.
2. instead of using the system py

[2015-10-23 22:13] phunterlau commented on #556
oh, just realized you installed clang-omp too. it may hurt your gcc-5 libraries. uninstall and unlink clang-omp may work, but no promise if it already hurt some configurations.

[2015-10-24 15:22] pradipto opened #559 "Serializability of xgboost Booster object in the Java wrapper"
Hi,

I need to wrap the Booster object in a Java wrapper class which needs to be serializable. The scenario is this:
1. A model is loaded from the saved binary file and held in a Booster object reference inside the wrapper class
2. The wrapper class needs to be sent to multiple Spark instances, all of which expect a serializable Booster object to be referenced from within the Wrapper class.

Any c

[2015-10-24 21:03] pcohen89 commented on #463
I am getting the following traceback from pip install xgboost, any thoughts?

Traceback (most recent call last):
      File "<string>", line 20, in <module>
      File "/private/var/folders/7g/thc6mmqd2nb55r21htwx2slr0000gp/T/pip-build-0BlCW9/xgboost/setup.py", line 38, in <module>
        LIB_PATH = libpath['find_lib_path']()
      File "/private/var/folders/7g/thc6mmqd2nb55r21htwx2slr0000gp/T/pi

[2015-10-24 23:19] phunterlau commented on #463
@pcohen89 this python package ships with C++ code and compiles on-the-fly, so you might need a complier. Do you have your compiler installed, e.g. gcc-5 or clang LLVM from Xcode? Mac doesn't install xcode command line tools by default and you can follow this instruction http://railsapps.github.io/xcode-command-line-tools.html or, another better choice is installing `homebrew` http://brew.sh/ and `

[2015-10-25 05:34] jturkewitz commented on #558
Hi,
My problem seems to have solved itself. I wrote code to reproduce it, I have copied it below, and attempted to run it from spyder 2.3.7 which comes with anaconda. This caused the same kernel crash as before. But then I ran the code in python, and it worked fine. After that I could run it in spyder without the crash, so somehow my system was in a bad state or something. Thanks.

# -*- coding: u

[2015-10-25 09:26] Far0n commented on #546
I added eta_decay in python, see https://github.com/dmlc/xgboost/pull/563

[2015-10-25 13:15] cast42 opened #566 "Bug with XGBoost on conda"
The following [code](https://www.kaggle.com/cast42/rossmann-store-sales/xgboost-via-sklearn/) does not run on Kaggle (or under python 3 and anaconda). The error message has to do with line 139 in [training.py](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/training.py).
Apparently the range is float although it is the result from an integer division:

    res_per_eval = len(res

[2015-10-25 19:08] phunterlau commented on #566
not sure it is related to the division operator or your code. since you have installed from pip (0.4a14 is a temp pip version number), do you want to remove the old xgboost, pip install the latest version and see if it fixes the problem?

[2015-10-25 21:28] cast42 commented on #566
The error is not with 0.4a14 on my system (I runs fine)  but when I run XGboost on conda (Kaggle's environment). This is the message if I run XGBoost on Kaggle's environment:

    Traceback (most recent call last):
       File "../src/script.py", line 106, in early_stopping_rounds=100)
       File "/opt/conda/lib/python3.4/site-packages/xgboost-0.4-py3.4.egg/xgboost/sklearn.py", line 189, in fit

[2015-10-25 22:15] phunterlau commented on #558
@jturkewitz seems not kernel crash but installing from a (kind of) buggy pip version xgboost-0.4a23.tar.gz . It was my bad that print was not python 3 style. It is fixed in #549 , please remove the old pip installation and pip install again (currently 0.4a24):
1. `rm -rf /Users/Jared/anaconda/lib/python3.4/site-packages/xgboost*/`
2. `pip install xgboost`

[2015-10-25 22:40] lizequn opened #567 "Unsupervised Clustering forest"
Hi,
I am new to Xgboost and I found the training data must contain labels, So I want to figure out if there's a easy way to implement unsupervised clustering forest by using Xgboost ?

Thx

[2015-10-26 04:55] penguin2121 opened #569 "How to Use in Scikit-Learn GridSearchCV"
I know there is a scikit.py wrapper interface in the xgboost python directory.  My question is, how do I use it?  All I see are forums where people say to use it, but I don't see any saying how to.

Thanks a ton for your help!

[2015-10-26 06:54] Jeechu commented on #463
@antklen @phunterlau Tried following the steps mentioned  by @antklen . Now, I am able to run import xgboost on terminal. However on anacondas ipython notebook it gives me the below error. Any help please. I am using ubuntu.
[code]

[2015-10-26 06:55] rajdeltarobo commented on #463
@antklen @phunterlau Tried following the steps mentioned  by @antklen . Now, I am able to run import xgboost on terminal. However on anacondas ipython notebook it gives me the below error. Any help please. I am using ubuntu.
[code]

[2015-10-26 08:59] phunterlau commented on #463
@Jeechu that means xgboost was not compiled, have you:
1. removed the old xgboost installation?
2. installed xcode (mac), or gcc-5 (Mac uses brew, linux use apt-get or yum)?

`pip install xgboost -v` can tell more about error message.

[2015-10-26 09:01] phunterlau commented on #569
The official sk-learn example is here https://github.com/dmlc/xgboost/blob/master/demo/guide-python/sklearn_examples.py and fortunately in a recently closed kaggle competition, I made a public script with customized score function which may demonstrate some advanced usage of xgboost grid search function https://www.kaggle.com/phunter/flavours-of-physics/gridsearchcv-with-feature-in-xgboost Hope th

[2015-10-26 09:40] rajdeltarobo commented on #463
@phunterlau me and @Jeechu  we have removed the old xgboost installation and installed gcc,g++. XGBoost is running fine via terminal, but using anaconda ipython notebook it is giving that error.

Is there something wrong with the installation path?

[2015-10-26 09:48] phunterlau commented on #463
@rajdeltarobo @Jeechu what is the python version of your ipython notebook? and, what is your `$PYTHONPATH` variables in the .bashrc (or other env files from your shells)?

Seems like your xgboost is search for `/home/simpl/anaconda/lib/python2.7/site-packages/xgboost-0.4-py2.7.egg/` which is not a pip installation path (pip installation has its additional version number e.g. xgboost-0.4a24), so th

[2015-10-26 09:57] rajdeltarobo commented on #463
```$PYTHONPATH``` is no defined, its returning a blank. However, below is the value of path
[code]

The python path is
[code]
The python version of ipython notebook is 2.7

[2015-10-26 10:09] phunterlau commented on #463
How about adding something like this to your PYTHONPATH:
`/Users/simpl/anaconda/lib/python2.7/site-packages/`

[2015-10-26 10:36] rajdeltarobo commented on #463
@phunterlau Not working. I am using ubuntu so added
[code]
Although, I can see this at the end of Bashrc file
[code]

[2015-10-26 11:57] wenmin-wu opened #570 "How to write the evaluation info during training into file?"
[code]
I use the redirection to write the train info into file. But only "15713601x40832 matrix with 1336653522 entries is loaded from /app-data/ctr-prediction/data/gbdt-exp/feature-extraction/data/gbdt/train" had been written into the file.

The training info like
[0] train-auc:0.608996 eval-auc:0.583669
[1] train-auc:0.677259 eval-auc:0.663510
[2] train-auc:0.694074 eval-auc:0.678793
[3] train-a

[2015-10-26 11:58] wenmin-wu commented on #570
@tqchen Sorry to disturb you, but it is really urgent to me.

[2015-10-26 12:51] wenmin-wu commented on #570
After review the python code, I found that you use sys.stderr to print the evaluation results. It can be solved by using `python2 gbdt_train.py xxx > train-info 2>&1`

[2015-10-26 12:51] #570 closed

[2015-10-26 16:44] pcohen89 commented on #463
@phunterlau I had installed gcc and thought that was sufficient. Got Xcode and it all worked. Thank you all for your support on Xgboost, it's awesome and you all are super helpful.

[2015-10-26 17:59] phunterlau commented on #463
@pcohen89 nice to know xcode helped. You might find xcode clang only support single thread xgboost, so you might want to try `brew install g++-5` for multithread support. anyway, a working copy is a good copy.

@rajdeltarobo PATH is different from PYTHONPATH, where PYTHONPATH allows python to find the customized package installation. Please add it and source your bashrc.

[2015-10-26 19:51] lizequn commented on #567
I reposted this on google forum but  on one check, so I reopened this issue here.

[2015-10-26 22:44] gatapia commented on #534
+1

[2015-10-27 15:31] jturkewitz commented on #558
I can confirm I don't have this error after re-installing xgboost.

[2015-10-27 15:31] #558 closed

[2015-10-28 05:55] tqchen opened #574 "RoadMap"
We are am happy to see the project grows stable and the community is taking over some of the hard works. We decided to move things open to github issue so people who see it can discuss and give suggestions. Of course no one can finish all these things. Free free to comment or open a issue if you like to contribute or suggest your thoughts or what you think priority should be

- [x]  XGBoost C++ Li

[2015-10-28 09:54] Dlng opened #577 "Clang Linker failed when building on Mac in Clion"
Hi guys,

Below is an error I got when trying to CMAKE on Mac OS 10.10 in Clion IDE. Prior to this I got error of _error: non-type template argument evaluates to 4294945538, which cannot be narrowed to type 'int' [-Wc++11-narrowing]
class DMatrixPage : public DMatrixPageBase<0xffffab02> _, which is fixed by using -Wno-c++11-narrowing option. Any help would be appreciated!

/Applications/CLion.app/

[2015-10-28 12:29] soumendra commented on #523
The problem is still not fixed (the numbers are closer than before though). With multiple threads, I am getting slightly worse results.

[2015-10-28 20:27] #567 closed

[2015-10-28 21:22] phunterlau commented on #577
looks like your clang doesn't support openMP (no, mac clang doesn't support it). So, you might want to turn on no_omp=1 for cmake as in the build.sh using make.

[2015-10-29 01:02] zhangxiangnick opened #578 "src/tree/updater.cpp is not compiled by g++-5."
I am using OS X.

"bash build.sh" in the root gives the error:

g++-5 -c -Wall -O3 -msse2  -Wno-unknown-pragmas -funroll-loops -DDISABLE_OPENMP -fPIC -o updater.o src/tree/updater.cpp
/var/folders/y8/2rwsh1vj2595t8662gm2rt600000gn/T//cc24BrYu.s:15678:suffix or operands invalid for `movq'
/var/folders/y8/2rwsh1vj2595t8662gm2rt600000gn/T//cc24BrYu.s:15681:suffix or operands invalid for `movq'
/var/f

[2015-10-29 16:31] davutpolat commented on #463
copy /wrapper/libxgboostwrapper.so to /home/username/anaconda3/lib/python3.4/site-packages/xgboost-0.4-py3.4.egg/xgboost/  solved the problem for me (i am using Ubuntu 14.04)

[2015-10-29 19:04] phunterlau commented on #463
@davutpolat the error from your message comes from a recent change for conflict-resolving for pip installation, but turned out that change was not a good idea, so we rolled it back (PR #572). In future, this copy is not needed and we will have another separated setup configuration only for pip installation with compiling on the fly. Sorry for the inconvenience for the last couple of days.

[2015-10-30 07:55] Dlng commented on #577
Thanks for your help @phunterlau! That solves the above problem, however, another has emerged, which I couldn't find the answer to on google. ## "/Users/Weilong/Codes/xgboost/subtree/rabit/src/engine_mpi.cc:12:10: fatal error: 'mpi.h' file not found
#include <mpi.h>"

[2015-10-30 21:48] phunterlau commented on #577
@Dlng xgboost doesn't have an official `CMakeLists.txt` for supporting cmake as I remember, so I am afraid there are some deeper problems of using it, for example, including mpi location. Do we have any future plans of supporting cmake?

[2015-10-31 03:31] terrytangyuan commented on #546
Closes via #563

[2015-10-31 03:31] #546 closed

[2015-10-31 17:16] terrytangyuan commented on #531
@ivallesp Should be silent now by this commit (https://github.com/dmlc/xgboost/commit/610b70b79ee3a6f4d0ad888ef917ef76f87b0cdc)

[2015-10-31 17:16] #531 closed

[2015-10-31 21:55] davutpolat opened #583 "count:poisson training stucked at some point"
Hi,

i am training a regression model with objective of count:poisson,  set  num_round to 2500,  every run with different parameter (except eta) after 1800th iteration both training and valid eval score does not change and it finishes 700 iterations in 20 seconds (normally one iteration takes 1-2 seconds), why this is happening and how can i avoid it? is it because training stucked at a local mini

[2015-11-01 09:57] Far0n opened #584 "xgboost_wrapper feature request (GetParam(s) & GetNumTrees)"
Hello,

it would be nice to have the following within the C++-Wrapper:
- *XGBoosterGetParam* and/or *XGBoosterGetParams*
- *XGBoosterGetNumTrees*

cheers
Faron

[2015-11-01 16:30] tqchen commented on #584
This is hard for current implementation(GetParams). Because the parameters are deeply hidden in the data structure. Will consider add these in next round of refactor

[2015-11-02 20:17] Far0n commented on #584
Thx for the feedback @tqchen. Should I close this issue for now?

[2015-11-02 20:25] adjgiulio opened #588 "can no longer import xgboost"
I used to be able to use xgboost no problem under previous versions just doing:
sys.path.append('/.../xgboost-master/wrapper')
import xgboost as xgb

I tried installing the latest version on a RedHat machine:

bash build.sh

then from the python-package folder:
python setup.py install

Both seem to complete successfully.

But when I try to import from Spyder:
import xgboost as xgb

I get:

Traceba

[2015-11-02 21:07] phunterlau commented on #588
@adjgiulio can you check if you have these .so files in these directories:
[code]
and usually you don't need `sys.path.append` after installation if $PYTHONPATH is set.

P.S. are you sure it was not a typo `sys.path.append('/.../xgboost-master/wrapper')` in the path with `/.../`?

[2015-11-02 22:34] tqchen commented on #588
The path now should go to xgboost-master/python-package instead of wrapper

[2015-11-03 10:21] sbushmanov opened #593 "Should `max_depth` be changed with changing number of features?"
This is a follow up question to [#95](https://github.com/dmlc/xgboost/issues/95), which discusses One-Hot-Encoding (OHE) as one of the possible ways to encode categorical variables.

My situation is as follows: I have a biggish data set (~ 1 million rows, ~ 30 features, some of which may be deemed categorical). And I'm trying different encoding schemes for several variables. As of now, the optimal

[2015-11-03 18:03] dtfoster opened #595 "xgb.plot.tree error"
Hi,

The xgb.plot.tree function from the example code in the xgboost documentation gives me an error - undefined is not an object (evaluating 'x[0]')
![screen shot 2015-11-03 at 18 02 04](https://cloud.githubusercontent.com/assets/5172426/10916778/10489170-8255-11e5-9e81-65386b893ca7.png)
:

I'm using the latest R package (0.4-2) in RStudio and get the same error on Windows and Mac.

Thanks,

Davi

[2015-11-03 19:02] pommedeterresautee commented on #595
Have you updated all your packages, in particular DiagrammeR?
What is your OS?

[2015-11-04 05:49] lenguyenthedat opened #596 "OS X build instruction to be updated."
I think mainly because `brew install gcc --without-multilib` is now installing `gcc-5.2.0`, we don't need

[code]

anymore.

[2015-11-04 08:13] mpearmain commented on #386
+1 cox regression loss function

[2015-11-04 11:01] dtfoster commented on #595
Hi,

Yes I have the current version of DiagrammeR (0.8.1)

My Mac OS is El Capitan 10.11.1 and Windows is Windows 7 - it doesn't work on either.

Let me know if you need any more info from me - thanks for your help.

David

[2015-11-04 13:33] Far0n opened #599 "Error in documentation about Early Stopping with python"
The doc http://xgboost.readthedocs.org/en/latest/python/python_intro.html states:
[code]
I think it has to be:
[code]

[2015-11-04 13:55] Far0n commented on #599
See also https://github.com/dmlc/xgboost/commit/a3ec22c0ccee8d481e0068fbbdbfb28e7bf221fd for a suggested new parameter "best_ntree_limit" for usage as:

[code]

[2015-11-04 21:17] pommedeterresautee commented on #595
Mmmmhhh finally I have the same issue on Windows. Will check the code this week end.

[2015-11-05 13:44] Temmplar opened #600 "Base margin in xgb"
Obviously it is a newbie question, but could you please describe the term of base margin in xgb? I can't find any useful link about the base margin definition in general anywhere on net.
Thank you!

[2015-11-05 16:43] Tutufa opened #601 "Xgboost runs on single core"
Hi, Im having a very strange problem,

with this code Im trying to create xgb model:

[code]
despite I set nthreads to 14, it uses only one core and idk why

I run it on server through ipython notebook

[2015-11-05 18:23] phunterlau commented on #601
do you run xgboost in Mac OS X? if yes, please refer to (python-package/build_trouble_shooting.md) section `Mac OS X (specific)` trouble 0. In short,

[code]

[2015-11-05 21:28] Far0n commented on #529
How is that supposed to work?
a) Early stopping on each fold independently
b) Early stopping if error last fold stopped deceasing
c) Early stopping if error on average err across all folds stopped deceasing

In my opinion c) makes most sense.

[2015-11-05 21:39] JamesMorse commented on #529
Definitely (c).  The point is to stop wasting cycles building more
iterations when it is clear that the optimal number of trees for a given
set of hyper-parameters (shrinkage, min tree depth, row / column sample %,
etc.) has already been reached.  Also, it ought to have a parameter/option
for how many iterations to continue without the average CV error decreasing
below the previous minimum average

[2015-11-05 21:41] Far0n commented on #529
So be it.

[2015-11-05 22:17] terrytangyuan commented on #529
@JamesMorse Are you working on a PR for this? Let others know so the work won't get repeated.

[2015-11-05 22:42] Far0n commented on #529
PR created (https://github.com/dmlc/xgboost/pull/602)

[2015-11-05 22:54] JamesMorse commented on #529
No, I haven't done any work on it.

On Thu, Nov 5, 2015 at 4:17 PM, Yuan (Terry) Tang <notifications@github.com>
wrote:

[2015-11-06 12:01] Tutufa commented on #601
@phunterlau no, server runs on freebsd (-:

[2015-11-06 12:45] erikbern opened #603 "Mean absolute error?"
I noticed there's an objective for root mean square error but not for mean absolute error? I'm happy to put together a PR for this if you think this would be useful.

Actually what I think would be even more useful is to generalize this to quantile loss – happy to include that too. My use case is I want to predict a 90% interval. This could be done by training two separate predictors, quantile los

[2015-11-06 17:00] phunterlau commented on #601
@Tutufa that looks like a new situation. Can you check if you have OpenMP and what is `which g++`?

[2015-11-07 09:16] linuxthink commented on #603
This will definitely be useful. In [scikit-learn's implementation] (http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html), it has squared, absolute, huber and quantile loss for regression tasks. It would be nice if xgboost also support them.

[2015-11-07 15:44] #529 closed

[2015-11-07 15:44] erikbern commented on #603
I started adding this and it seems pretty straightforward. There is one problem though. xgboost computes the second derivative and for quantile loss it's a Dirac delta, i.e. zero everywhere except an infinite spike around x=0.

I'm not sure how the second derivative (Hessian) is used – it doesn't seem to be used in sklearn's implementation

[2015-11-07 15:45] erikbern commented on #603
Closing this issue for now – will try to put together a pull request with the implementation. But would love to hear if you have any thoughts about what to do with the hessian

[2015-11-07 17:28] Tutufa commented on #574
@tqchen scala wrapper would be nice, since it frows in popularity

[2015-11-07 17:37] tqchen commented on #574
There is already a Java Wrapper, I suppose scala can be easily build on top of the java version

[2015-11-07 18:18] alexander-rakhlin opened #604 "Is there way to compare R and Python implementations?"
Hi all,

It all started as I ported a model from R to Python and noticed performance worsened. I tried then to compare a simplistic model on a toy data to exclude all sources of incomparability. Without avail: Python and R versions of Xgboost produce slightly different models, it is noticeable at the training time. What is more strange, if seed is not set, R implementation trains model differently

[2015-11-07 21:51] Tutufa commented on #574
I always here a lot of good stuff about Yandex matrixnet, it is boosting with oblivious trees, it doesnt work with categorical features but the thing rocks on continuous one. Maybe you can implement new type of booster (-:

[2015-11-08 07:40] #595 closed

[2015-11-08 07:46] pommedeterresautee commented on #595
Don't hesitate to re open the issue if you have an issue with the new function.

[2015-11-08 14:06] BrianMiner commented on #513
@jeffwong did you ever implement and curious if you could share?

[2015-11-09 09:35] Far0n commented on #574
I would love to see feature importance judgement based on validation data in order to find noisy features more reliable.

[2015-11-09 10:07] nikoltoll commented on #115
Solution with capture.output:

output <- capture.output(bst <- xgb.train(data=dtrain, max.depth=2, eta=0.01, subsample = .5, nthread = 1, nround=1000, watchlist=watchlist, objective = "binary:logistic"))
trainErr <- as.numeric(regmatches(output,regexpr("(^|\\d+)\\.\\d+",output)))   ##first number
testErr <- as.numeric(substr(output,nchar(output)-7,nchar(output)))               ##second number
plot

[2015-11-09 12:43] arogozhnikov commented on #115
@nikoltoll
Relying on parsing output... seriously? I wouldn't expect such code to work year after.

Solution to this question is well-known - `staged_predict_proba`.

This gives ability to compute learning curve for any metric for any trained model on any dataset.

This gives ability to compute stage predictions after folding / bagging / whatever.

I have no idea why it is not implemented in curre

[2015-11-09 14:58] Temmplar opened #612 "AttributeError: 'DMatrix' object has no attribute 'feature_names'"
Why this error: `AttributeError: 'DMatrix' object has no attribute 'feature_names'`, same with `plot_importance`
python 2.7
Ubuntu 14.04 LTS

[2015-11-09 16:44] terrytangyuan commented on #115
You are welcomed to submit a pull request for this.

[2015-11-09 21:27] Far0n commented on #612
Suppose you have somthing like:
[code]
- `feature_names` is an attribute of **gbdt**
- `plot_importance` is a function within **xgb**

[2015-11-10 05:26] Sketches-su opened #613 ".gitignore - minor bug"
Looks like there is a minor bug in .gitignore with ignoring `xgboost` executable. Maybe it's just my git (v 1.9.1, Ubuntu 14.04)

    ~$ cd /tmp
    /tmp$ git clone 'https://github.com/dmlc/xgboost'

    ... everything went ok, skipped ...

    /tmp$ cd xgboost
    /tmp/xgboost$ bash build.sh

    ... everything went ok, skipped ...

    /tmp/xgboost$ git status
    On branch master
    Your branc

[2015-11-11 10:19] #600 closed

[2015-11-11 10:22] Temmplar opened #616 "Boosting from multiply prediction?"
I red about boosting from initial prediction.
But what is the way to boost from multiply initial predictions?
Thank you.

[2015-11-11 16:06] qian2015 opened #617 "combine factorization machine and boosting"
Anyone interested? However, I'm not clear how to do that. I know this paper from Chen, Tianqi, Hang Li, Qiang Yang, and Yong Yu: "General functional matrix factorization using gradient boosting." In Proceedings of the 30th international conference on machine learning (ICML-13), pp. 436-444. 2013.", which could be relevant.

[2015-11-12 02:18] #544 closed

[2015-11-12 02:18] #599 closed

[2015-11-12 02:21] #534 closed

[2015-11-12 02:22] #484 closed

[2015-11-12 10:34] aliabbasjp opened #619 "convert the text columns to libsvm format using feature hasher from scikit learn ?"
https://github.com/zygmuntz/phraug/blob/master/csv2libsvm.py links to a code which only works for numeric data , but I have CSV file for machine learning which has mostly text data and most columns have a large cardinality , eg: a column with name of a person. Ideally would like to use the scikit learn's feature hasher or a vectorizer to generate the file in libsvm format hashing the text feature

[2015-11-12 20:33] JohanManders opened #622 "Tree prunning end... messages in Python Windows"
I don't know if it is a Python or Windows wrapper only thing, but here is my problem:

Every boosting round, I get a message like: ```tree prunning end, 1 roots, 6 extra nodes, 0 pruned nodes ,max_depth=2``` These messages clutter up my terminal and run wild through my evaluation metric printouts. (It also bugs me that the , before max_depth is in the wrong place ;)

I know where it comes from. Wh

[2015-11-12 23:00] sinhrks commented on #622
Specifying ``silent=1`` via params should work.

[code]

[2015-11-13 04:52] #617 closed

[2015-11-13 08:52] JohanManders commented on #622
@sinhrks Thanks man! Sorry for that.

[2015-11-13 08:52] #622 closed

[2015-11-13 19:00] beckeroobonsai opened #625 "make fails with error 'fopen64' was not declared in this scope"
I am trying to build it on Windows. I have Anaconda installed.  I cloned the xgboost repo from git to a subfolder in the Anaconda folder and typed 'make' inside that folder.  Not sure what is wrong. Anyone else come across this error?

[2015-11-13 19:40] phunterlau commented on #625
You might want to use the visual studio solution file from `xgboost/windows` for building the windows binary.

[2015-11-13 20:30] beckeroobonsai commented on #625
I don't have access to visual studio. I had a free trial version of it once, but no more. Is there another way to build it without using visual studio?

[2015-11-13 20:52] phunterlau commented on #625
solution 1, get visual studio express, it is free https://www.visualstudio.com/en-us/products/visual-studio-express-vs.aspx

solution 2, have you found your xgboost_wrapper.dll anywhere after building, e.g. in xgboost/python-package/xgboost/? In windows platform, the search path for this lib is set to ./windows/Release/ and ../../windows/Release/ (./windows/x64/Release/ and ../../windows/x64/Relea

[2015-11-13 21:17] beckeroobonsai commented on #625
Hmm. It was a free trial last I downloaded visual-studio. In either case, it should be possible to do the build at the command line without the visual studio IDE.

There was, in fact, no xgboost_wrapper.dll file.

I ran make clean. Then make again.  Now there is  xgboost_wrapper.dll  located at   /Anaconda/xgboost/wrapper/xgboost_wrapper.dll.
Now the command 'python setup.py install' seemed to wor

[2015-11-13 22:53] phunterlau commented on #625
sounds like your platform problem on make. Since visual studio express is free, can you try compiling with the solution file and see if the problem is still there? that will also help us understanding the compiling in windows platform for make vs visual studio. Thanks.

[2015-11-14 16:58] yitang opened #626 "install xgboost on OSX"
Hi, thanks for writing such a amazing program.

I have problem install it on my Mac. The .build.sh complains that

[code]

It seems the issue relates to the g++ compile. The version is
[code]

I've tried to use the clang-omp suggested in the build.md but got similar error.

I am trying to reinstall the g++5 compiler via home-brew and see if it solves the problem.

[2015-11-14 18:34] yitang commented on #626
`brew reinstall --with-all-languages gcc5` solved the problem.

[2015-11-14 18:34] #626 closed

[2015-11-14 19:08] phunterlau commented on #626
although clang for mac os x is not suggested because it doesn't support OpenMP for multi-thread, it would be interesting know your system version (10.11?) and see if we can reproduce the error. Thanks.

[2015-11-14 19:17] phunterlau commented on #596
@lenguyenthedat do you want to submit a PR for this change so it can be merged to the master? I still see someone has issues of building by following the old `build.md` .

[2015-11-14 19:22] phunterlau commented on #578
@zhangxiangnick yes, `build.sh` starts with multithread, if fail, it would use the clang version for single thread. Do you also want to `brew reinstall --with-all-languages gcc5` for repairing your gcc-5? the makefile will pickup your g++ (and gcc) if both are 5.2 version.

[2015-11-14 19:36] yitang commented on #626
Hi, it's OS X EI Capitan, version 10.11. Let me know if you need other info.

[2015-11-14 19:59] zhangxiangnick commented on #578
A correct gcc-5 solves the problem. Thank you!

On Sat, Nov 14, 2015 at 2:22 PM, Hongliang Liu <notifications@github.com>
wrote:

[2015-11-14 19:59] #578 closed

[2015-11-14 20:23] phunterlau commented on #626
oh, I see. It has successfully built the single thread for you. It is normal because on Mac the Makefile tries with OpenMP firstly, if fails, it goes to clang for single thread with no OpenMP (see the `build.sh` where the if statement was). And, yes, gcc-5/g++-5 from brew is the best solution for now where clang-omp build instruction needs some update (#596)

[2015-11-14 20:48] yitang commented on #626
yeap, as the log shows.

[code]

[2015-11-16 01:59] lenguyenthedat commented on #596
Sure, I will do a final test and open a PR! :+1:

[2015-11-16 02:14] lenguyenthedat commented on #596
@phunterlau: I could not get the clang method to work on OS X El Capitan - after a few searches, it is probably related to http://apple.stackexchange.com/questions/193368/what-is-the-rootless-feature-in-el-capitan-really

I will update a PR for the gcc version only - as it is probably the easiest way to do it right now.

[2015-11-16 05:37] phunterlau commented on #596
@lenguyenthedat `build.sh` tries with OpenMP and if it is clang, `build.sh` will turn on `no_omp=1` and try again. Usually the 2nd try works with clang with no problem

[2015-11-18 04:28] shivonkar opened #631 "How to extract "bestError" from xgb.train"
How to extract error terms from xgb.train output.  Right now, it gives “handle” and “raw” only

[2015-11-18 14:36] sh1ng opened #632 "Xgboost stops improve a model starting from a certain iteration"
I've never seen that behavior before. But during a training the output log(silent: 0) looks like

tree prunning end, 1 roots, 0 extra nodes, 0 pruned nodes ,max_depth=0
tree prunning end, 1 roots, 0 extra nodes, 0 pruned nodes ,max_depth=0
tree prunning end, 1 roots, 0 extra nodes, 0 pruned nodes ,max_depth=0
tree prunning end, 1 roots, 0 extra nodes, 0 pruned nodes ,max_depth=0
tree prunning end,

[2015-11-18 18:11] cyrix333 commented on #244
Hi tqchen,
I try to use external memory in R but get an error.

[code]
I get the message :

[code]

[2015-11-18 18:14] tqchen commented on #244
The external memory version was disabled in the standard R release, mainly to meet the restriction of CRAN standard of strict C++98. We are looking into enable this in R as well, for now, you can try it in the python version

[2015-11-18 22:42] FusionPlant opened #633 "Windows installation Fatal Error"
I am a windows user who wanna use this amazing tool.
I followed precisely the instructions here: https://www.kaggle.com/c/otto-group-product-classification-challenge/forums/t/13043/run-xgboost-from-windows-and-python
But every time I just got this:
3>LINK : fatal error LNK1181: cannot open input file '**some directory**\xgboost\windows\x64\Release\\rabit.lib'
And in the end I end up with
=========

[2015-11-19 00:01] FusionPlant commented on #633
It is solved. Just need to comment a line containing "sleep"...

[2015-11-19 03:32] Lchiffon opened #634 "How to control the thread in the predict [R-package]"
Xgboost is great!

I have a small problem about threads of `predict` function in R-package.

- I trained a xgboost model **locally** and saved the model as a .Rdata file
- Load the .Rdata file in a server and predict

- When I predict the answer by something like:
[code]

xgboost will use 32 threads of my server(I hope I can control how many threads I use)

Currently, I add some short training scr

[2015-11-19 05:31] hetong007 commented on #634
Do you mean the `nthread` param for `model_1` will affect the number of threads used when predicting on `model_2`?

[2015-11-19 07:18] cyrix333 commented on #244
@tqchen thanks for your answer !
Cheers

[2015-11-19 08:16] joristork opened #635 "sklearn.py: fit() raises NAN error for eval_set"
I'm not sure why the `eval_set` cannot have nans whereas the `X` parameter can.
**Steps to reproduce**: pass list of `(X, y)` where `X`, `y` are numpy arrays containing some `np.nan` values as `eval_set` to `fit()`.
**Error msg**: `There are NAN in the matrix, however, you did not set missing=NAN`
**Notable code**:
`l.169` in `sklearn.py:25c4fbd`:
[code]
Adding `missing=self.missing` to that const

[2015-11-19 08:53] Lchiffon commented on #634
Yes, that's right.

[2015-11-19 16:20] wlssea opened #636 "Observe different prediction result with same prediction dataset but different column sequence"
I am using R xgboost package. I ran prediction multiple times but got different result. Each time I was using the same prediction dataset with the same column name but the column sequence is different. For example, Age was in column1 in the 1st run but becomes column 3 in the 2nd run. Do I expect xgboost to give different prediction in this case? Do I need to keep prediction dataset exactly the sa

[2015-11-19 22:52] #632 closed

[2015-11-20 03:28] thecrackofdawn opened #637 "a problem in Introduction to Boosted Trees"
![struct_score](https://cloud.githubusercontent.com/assets/6297397/11291244/dd56ba36-8f78-11e5-8207-9519268218c5.png)
look at the mark i made in the picture above.

[2015-11-20 03:55] tqchen commented on #637
Thanks for point it out! will push a fix on that

[2015-11-20 10:03] wupeachfan opened #638 "second order derivative in softmax"
Hi， I don't understand why the second order derivative in softmax is 2.0f * p * (1.0f - p) * wt, how does two comes from? thx~

source code:
class SoftmaxMultiClassObj : public IObjFunction {
 public:
  explicit SoftmaxMultiClassObj(int output_prob)
      : output_prob(output_prob) {
    nclass = 0;
  }
  virtual ~SoftmaxMultiClassObj(void) {}
  virtual void SetParam(const char *name, const char *

[2015-11-20 21:34] hetong007 commented on #631
There are two methods you can try currently:

1. Use the `sink` function in R to save the output information
2. Add parameter `early.stop.round` to `xgboost`/`xgb.train`, then there will be more slots in the returned model object.

[2015-11-21 22:46] hwu84 opened #640 "How to continue training model based on previously saved xgboost model in R?"
How to continue training model based on previously saved xgboost model in R? I know there is a method to load saved model and continue training it in console. I just want to know if we can do the same thing in R? Since when nround goes large, it is inefficient to retrain the same model with slightly different round again and again. Can anyone help? Thanks

[2015-11-21 22:51] hwu84 opened #641 "Question about save_name parameter."
I tried to use the save_period and save_name parameter in R. Suppose I have 100 round and save_period = 20, save_name = "model", it seems that every 20 round, xgboost will write the model into same file "model"? and I only have the latest model at the end?
Can I save the model every 20 round and write them to separate 5 model files?
Thanks

[2015-11-22 02:18] Shreyas66 opened #642 "ImportError: No module named xgboost"
from xgboost import XGBClassifier
I have something like this in my code. What can I do to resolve error "ImportError: No module named xgboost". I am using mac OS X

[2015-11-22 02:41] #642 closed

[2015-11-22 20:59] BlindApe opened #643 "'Long vectors not supported yet' error, predicting"
Error en xgb.Booster(modelfile = bst$raw) :
  long vectors not supported yet: ../include/Rinlinedfuns.h:137

My model has 10000 trees and depth 18. Is related to this?

[2015-11-22 21:03] pommedeterresautee commented on #474
@tqchen @walterreade @Far0n I think I am able to reproduce the C# in R code for a future PR.
However, I am not sure to understand the purpose :-)

Can you please explain what kind of analysis may be done with a classification of the best interaction?
Is it a way to do some feature selection?
Was it linked to a specific Kaggle task? If yes can you provide me with a link?

Kind regards,
Michael

[2015-11-22 21:08] pommedeterresautee commented on #474
@BlindApe have you benchmark which part of the model parsing is slow on big model?
I have done my tests on few hundred of trees model and never had super slow parsing performance.
If you want you can share a huge model on some cloud service.
You can send it to firstname [at] lastname.fr if you want (name below).

Kind regards,
Michael Benesty

[2015-11-23 10:18] belskikh opened #645 "Errors when building Windows version"
I have Windows 7 x64 with Anaconda package v3.18.4 and Python 2.7.10
When I trying to build solution from https://github.com/dmlc/xgboost/tree/master/windows with Microsoft Visual Express 2013, it fails with errors and warnings.
I attached error list and output to this message.
Pls, help me to understand whats going on, why it crashes.
Is there another method to get xgboost for windows?

[output.t

[2015-11-23 10:27] Far0n commented on #474
@pommedeterresautee Yes you can use that for feature selection, getting a better understanding of the data (especially in cases where the feature meanings are unknown) and to improve linear models by encoding interactions reported by xgb.

[2015-11-23 15:16] fjanoos opened #646 "Undefined symbol: XGDMatrixNumCol when creating DMatrix"
Hello,
I'm trying to initialize a DMatrix from a pandas dataframe as follows:
[code]

If I skip the `feature_names=x` keyword, it works fine. However, if I pass `feature_names=x`, I get the following error:

[code]

I'm using anaconda python 3.4, xgboost version 0.4, Debian 3.16.7.

Thanks.

[2015-11-23 15:19] fjanoos commented on #646
Actually, investigating a bit further, it seems that the num_col() method is failing.

[code]

gives:

[code]

[2015-11-23 16:59] pommedeterresautee commented on #474
@Far0n thanks for the explanation!
Have you XGB model to share that is interesting to study with such tool?

Kind regards,
Michael

[2015-11-23 18:53] pommedeterresautee commented on #641
In the current implementation it is not possible but why you would want such feature?
In predict() function you have a parameter ntreelimit to limit the number of tree to use.

If I answered your question, please close the issue.

Kind regards,
Michael

[2015-11-23 21:38] hwu84 commented on #641
@pommedeterresautee Thank you so much!

[2015-11-23 21:38] #641 closed

[2015-11-24 06:35] #645 closed

[2015-11-24 09:50] Far0n commented on #474
@pommedeterresautee Currently, I have only models from running kaggle competitions, which I can't share atm for obvious reasons and a ~10GB 50k trees model from Springleaf.

Maybe some words to the background: The python wrapper (which I use) only reports fscore as feature importance metric and this one fails - for instance - , if you have differently scaled features. At the Springleaf competition

[2015-11-24 10:49] pommedeterresautee commented on #474
@Far0n This is very interesting!
Does your split function related to this post: http://aysent.github.io/2015/11/08/random-forest-leaf-visualization.html

If yes, just PR it to R package :-) https://github.com/dmlc/xgboost/pull/648

Regarding the best interaction, do you mean the included stat are not enough to do a correct analysis?

Kind regards,
Michaël

[2015-11-24 14:11] internet-boy opened #649 "xgboost.sln not valid solution file in visual studio"
i get error message saying it is not a valid solution file. any ideas how to install on windows then?

[2015-11-25 07:26] cyrix333 opened #650 "stepwise saving"
Hi,
I am using xgboost with R under windows.
If the model is to big ( more than installed memory 16 GB ) R chrashes ( I get an c++ error ) . Some calculation took some hours so it would be great if e.g. all 5 minutes / x steps (depending on the settings) the calculated model could be automatically saved.

Thanks !!

[2015-11-25 08:59] pommedeterresautee commented on #650
Hi,

May be the content of this issue may help?
https://github.com/dmlc/xgboost/issues/641

Kind regards,
Michaël

[2015-11-25 10:40] VaibhavBehl commented on #279
Ok.. so I have looked around on a few threads, and played around with the API, but I am not able to get MAE(mean absolute error) to work with the Default objective(reg:linear). I would like to know is this even possible with R/xgb?, Theoretically it should be possible.

I am using the API like this. With this I am not getting any errors, but it shows no difference in the output.
param0 <- list("ob

[2015-11-25 13:24] cyrix333 commented on #650
Hi Michael,
to reduce the number of trees ends with a "not so good" model.

[2015-11-25 13:40] pommedeterresautee commented on #650
Not always the case (overfitting) but my point was that the parameters you are looking for are exposed in the question.

Kind regards,
Michaël

[2015-11-25 15:17] vkuznet opened #651 "Approach (documentation) ambiguity"
Hi, I'm trying to understand xgboost approach to model training. By that I mean the following. I can either use Booster and invoke xgb.train or I can use sklearn APIs to use Classifier/Regressor. The problem that in former approach (according to xgboost documentation) I need to specify number of boosting iterations and do not specify any number of trees, while in later I do specify number of boost

[2015-11-25 17:20] Temmplar opened #652 "xgboost.XGBoostError: colsample_bytree=0 is too small that no feature can be included"
My code ran a lot without no error with the following config:

[code]
But suddenly xgboost started to send me the error message as follows:

[code]
Ubuntu 14.04
Python 2.7

I can't do anything the message is the same.

[2015-11-25 17:33] #652 closed

[2015-11-25 18:07] cyrix333 commented on #652
the error message says
'''
xgboost.XGBoostError: colsample_bytree=0 is too small that no feature can be included
'''
but you set it to 0.7, maybe there could be an error
or
params is not corret set
did you try to restart python ?

[2015-11-26 16:39] khotilov commented on #651
Hi Vladimir,

Boosting, in general, is a meta-algorithm which iteratively (or in "rounds") trains a sequence of simple/weak learners (or estimators) in such a way that the whole combination performs better. There could be various kinds of weak learners, not only trees. E.g., xgboost has trees and (generalized) linear model options. Curiously, these weak learners in xgboost are referred to as "boos

[2015-11-26 18:24] Sandy4321 commented on #651
are there same problems for R?

On Thu, Nov 26, 2015 at 11:39 AM, Vadim Khotilovich <
notifications@github.com> wrote:

[2015-11-26 23:32] cyrix333 opened #654 "order of features matters"
Hi there,
I cant believe it .. maybe its too late or its really like that

I have 10 features ( cols with data ) and the RMPSE depends on
the position and the numer of features ( less features will give a better RMPSE - value )

here is a lis, first colunm is the RMPSE value second the coloumn title

[code]

I am using R with windows
is this really true ?! does the position has so much influence ?

[2015-11-27 10:03] JohanManders commented on #646
Maybe you could post a bit more code (on github)?
What is (in) x, y, weight and trg_hat?

[2015-11-27 10:45] mpearmain commented on #513
@walterreade Did you ever find an XGB example for survival analysis?

[2015-11-27 17:21] tqchen commented on #654
This can happen when there is a tie

[2015-11-27 19:48] erikbern commented on #603
I looked at this some more and I have implemented something.

The problem is again with the Hessian. From what I understand, xgboost uses Newton's method to find the optimum and that's why the Hessian is used.

I see several options
* Instead of mean absolute error, use Huber loss
* Instead of mean absolute error, use something like `log(exp(-x) + exp(x)` which is similar
* Use mean absolute error

[2015-11-28 09:45] munitech4u opened #657 "Facing installation problem on windows x32 bit python"
I am trying to build using the MS Visual c++ 2010 and encountering below errors: with 1 success and 2 fails.

Installation log:

1>------ Rebuild All started: Project: rabit, Configuration: Debug Win32 ------
2>------ Rebuild All started: Project: xgboostjavawrapper, Configuration: Debug Win32 ------
1>  engine.cc
2>  xgboost_wrapper.cpp
1>  allreduce_robust.cc
2>c:\users\munitech4u\downloads\comp

[2015-11-28 09:57] msdw opened #658 "script to reduce the number of features in model"
Hello

thank you for xgboost, it is an amazing implementation of GBM.
I look for a way to reduce the number of variables used in xgboost without reducing too much (less than 1 point of auc) the loss in my performance criterion (auc)
My train dataset contains 20,000 features. xgboost retains in model nearly 3,000 features. I would like to iterate so select only the top 50 variables in order to depl

[2015-11-28 21:30] andreh7 commented on #276
just to add two cents how I got multithreading to work on OSX and R with macports and gcc-5 (4.9 worked similarly). Similar to what you suggest in https://github.com/dmlc/xgboost/blob/master/doc/build.md#build-xgboost-in-os-x-with-openmp ), with the following:

* edit ~/.R/Makevars to add:
[code]

* after checking out the xgboost source, add
[code]
to the line starting with
[code]

in xgboost/R-pa

[2015-11-28 22:44] walterreade commented on #513
@mpearmain - Nope. Still on my list to find / figure out.

[2015-11-29 06:19] hectep opened #659 "[R] custom metrics in xgb.cv"
The issue is related to  #333
I'm trying to implement the same  quadratic weighted kappa in xgb.cv
The code is:
[code]
But after the first round it returns this error:
[code]
Do i miss something obvious here?

[2015-11-29 12:56] Far0n commented on #474
*Regarding the best interaction, do you mean the included stat are not enough to do a correct analysis*
At least in some cases, when highly ranked features (regarding gain and/or fscore) are leading to overfitting.

[2015-11-30 10:42] sh1ng commented on #532
I've tried to recompile the project with
* AVX/AVX2 enabled SSE2 disabled
* no SSE2 and AVX at all
(all on ubuntu x64)
and it looks like the performance is the same(I did it by my eyes, not a precise benchmark).
Do you have any kind of reference data set to measure the performance?

[2015-11-30 21:01] beckeroobonsai opened #661 "xgboost Windows installation problems with Anaconda"
I downloaded the xgboost package and built it with visual studio, following the instructions for a 64bit system here: https://github.com/dmlc/xgboost/tree/master/windows.

The import xgboost statement only worked in jupyter notebook environment once I appended sys.path to include the folder containing the xgboost_wrapper.dll file.
For me, this required typing
sys.path.append('C:\\Anaconda3\\Lib\\s

[2015-12-01 19:19] tataraidze opened #663 "Access violation (python, windows)"
I tried to use xgboost in python (Windows 7 x64, Anaconda 64-bit, IPython 3.4). But I got strange errors. Somtimes it was strange label values (I'm sure that they were ok) - "XGBoostError: b'SoftmaxMultiClassObj: label must be in [0, num_class), num_class=38 but found -2147483648 in label", somtimes it was "access violation" error. The error was changed without any changes in code. Meanwile, pytho

[2015-12-01 23:32] kirillseva commented on #574
CUDA/OpenCl rewrite? :)

[2015-12-02 00:08] tqchen commented on #574
GPU support was not in recent roadmap, mainly because there is no clear evidence on how things can be done. Tree construction algorithm are different from neural nets, and is harder to parallelize on GPU due to irregular memory access pattern and bottleneck in memory bandwidth.
But I am open to possible proposals.

[2015-12-02 02:00] birdandbees commented on #574
@tqchen can we have a spark version of xgboost

[2015-12-02 02:15] tqchen commented on #574
@birdandbees XGBoost already runs on YARN, which means it can run on most cluster that has hadoop.

I would also  more than happy to see a Spark integration happening, this will require integration of container start and rabit API on Spark(likely via JNI), which should be doable if someone is willing to try

[2015-12-02 02:25] birdandbees commented on #574
@tqchen I see, so Spark implementation us more tied to Rabbit api, would it be possible to make xgboost part of Spark MLlib?

[2015-12-02 02:35] tqchen commented on #574
xgboost is like one piece of Lego brick, where the distributed computing platforms such as spark and YARN is another Lego brick.

xgboost can be directly put on top of any other bricks as long as their interface match. In the case of xgboost, it is the minimum rabit communication API, or more low level container allocation API(which is provided by YARN).  We tried to build our piece of brick to be

[2015-12-02 02:43] birdandbees commented on #574
Ok, so what we need to do to make Spark integration (on rabbit) happen? If I want to contribute, what is the first place (source code) to look at?

[2015-12-02 03:50] tqchen commented on #574
Yes, this is more of porting rabit programs to spark executors. The communication layer of rabit was an interface, that can be remapped to spark's communication, or simply use rabit's communication, but use spark as a container to run the workers

[2015-12-02 11:48] #383 closed

[2015-12-02 12:19] dtfoster opened #665 "xgboost Quality calculation in xgb.model.dt.tree"
The documentation describe Gain as being given by the following formula

![](http://i.stack.imgur.com/kBsh8.png)

However, using this definition, the Quality column in the xgb.model.dt.tree is incorrect (see http://stackoverflow.com/questions/33654479/how-is-xgboost-quality-calculated/34042413#34042413)

The issue seems to be in three places

1. The value for reg_lambda is not 0 by default as give

[2015-12-02 15:01] vkuznet commented on #651
@khotilov, thanks for explanation. It is sufficient for my needs and I'll close the ticket.

[2015-12-02 15:01] #651 closed

[2015-12-02 15:56] birdandbees commented on #574
Thanks!

[2015-12-03 19:45] pommedeterresautee commented on #665
Here default value seems to be 0.5 https://github.com/dmlc/xgboost/issues/364

[2015-12-03 20:08] khotilov commented on #574
Curiously, author of The Arborist random forest implementation claims (http://www.suiji.org/arborist) that with a version tuned to Nvidia GPUs, "preliminary spins indicate that 50x acceleration is achievable over versions tuned for multicore performance".

[2015-12-03 21:39] khotilov commented on #574
It would also be useful to allow for richer representation of labels that would serve potential extensions for multilabel classification, structured prediction, multitask learning, etc. Currently, I cannot even figure out a good place for censoring data when I try to think about how a survival model could be implemented.

A good refactoring option might possibly be to store predictors and label co

[2015-12-03 22:26] tqchen commented on #574
@khotilov  That seems to be readily available by customized loss, note that we can pass a closure as loss function, containing these information you mentioned

[2015-12-04 09:38] pommedeterresautee commented on #574
@tqchen is there a way for performing multi label learning with current implementation and custom loss? Can't see how to do without making several binary classification...

[2015-12-05 04:50] khotilov commented on #574
@tqchen In some way you are right. For models with scalar predictions, a custom loss approach is currently doable, while not ideal. But I was trying to think about what would it take to possibly implement multivariate/structural learning within xgboost framework without resorting to reduction approaches. And I though that setting up the infrastructure basics would be the first step. However, it mi

[2015-12-05 07:22] tqchen commented on #574
If you are mentioning about vector-trees for example(decision on variables, vector output for multi varate score). We could do that, actually the tree template is already designed to support that, but not yet readily exposed.

 The interface should remain modularized, as normally we need diagnonal upper bound of hessian, except now we pass in a matrix of gradient and second order gradient(which ca

[2015-12-05 10:01] fakyras commented on #643
predict(xgmod, newdata=dtest)
Error in xgb.Booster(modelfile = bst$raw) :
  long vectors not supported yet: ../../src/include/Rinlinedfuns.h:137

experiencing same issue
nrounds=100k, depth=10

Could we at least get what is causing it?

[2015-12-06 12:46] BlindApe commented on #643
I guess is a problem loading a big tree in a intermediate structure, probably integer exceeded o similar.

[2015-12-06 17:51] jdoepfert commented on #486
I agree, this would indeed by nice!

[2015-12-06 18:06] pommedeterresautee commented on #486
I would love implementing it but I read the paper from Friedman (2005) and I have no idea how to compute it from the trees directly. If you can explain me the theory I will do it.

[2015-12-06 20:15] fsimond opened #671 "XGBoost can't find the right split with nthread = 3"
Hi,

I've made a very simple problem where xgboost seems not able to find the right split when nthread = 3

You can find the code here:
https://www.kaggle.com/fsimond/springleaf-marketing-response/digging-into-springleaf-data

When I run the code locally (with xgboost 0.4-2 (latest version on CRAN)), I don't get the same results as in Kaggle. (You can see the result I obtain here: https://www.kagg

[2015-12-06 21:53] tqchen commented on #671
Thanks for reporting this, I am traveling and will look into this. @hetong007 @terrytangyuan can you check if you can reproduce the problem as well?

[2015-12-06 21:54] tqchen commented on #638
It is not exactly second-order derivative, but an diagonal upper bound of the hessian matrix of softmax, which also ensures convergence. For simplicity, you can view this as an approximation

[2015-12-07 01:52] hetong007 commented on #671
@fsimond Can you please try to install the latest version from github, and see if the problem still exists? On my windows local machine, I cannot see any difference between `nthread=1` and `nthread=3`.

To install from github, please refer to the instruction here: https://github.com/dmlc/xgboost/tree/master/R-package

[2015-12-07 02:07] terrytangyuan commented on #671
I will check later on my Mac too. Travelling as well.

[2015-12-07 02:22] modqhx opened #673 "Building python version"
Hi, I have issues with building the python version. In my python subdirectory,
[code]
Is it suppose to be README.rst?

[2015-12-07 02:24] terrytangyuan commented on #673
Yes, quick fix would be changing to rst. I'll make the change as well.

[2015-12-07 02:25] modqhx commented on #673
Great! I was thinking about make a pull request. Thanks tho :)

[2015-12-07 02:27] terrytangyuan commented on #673
Thanks! You are welcome to do it next time then. :-)

[2015-12-07 02:28] modqhx commented on #673
Sure! :+1:

[2015-12-07 02:28] #673 closed

[2015-12-07 05:05] XiaoxiaoWang87 commented on #486
Thanks for your interests in helping out! Honestly I don't know the exact calculation yet. I may need to look into scikit-learn "sklearn.ensemble.partial_dependenceand" and see how it was implemented there.

[2015-12-07 06:40] terrytangyuan commented on #671
@fsimond I got the same result as in https://www.kaggle.com/fsimond/springleaf-marketing-response/digging-into-springleaf-data/notebook and setting different nthreads does not give me different results. Let us know if you still encounter the same issue after getting the most recent version from Github. Thanks.

[2015-12-07 07:05] phunterlau commented on #673
oops, my bad that I changed it to RST because of pip installation, and I forgot to change the original one. Thanks for fixing.

[2015-12-07 07:56] amro-pydev opened #674 "Pip install version is different than the one on the git repo"
Hi,

I installed the xgboost using pip command at the beginning. When I was trying to get the variable best_ntree_limit to get the best iteration in training. I got an error message saying it doesn't exist. when I checked the code in my packages, I found it doesn't really exist. When I checked online in the repo it exists. It seems like there is a version difference between the final one in the re

[2015-12-07 08:02] terrytangyuan commented on #674
Yes, the pip version may not be the most updated. You can install the one on the repo if you want.

[2015-12-07 08:04] phunterlau commented on #674
I will update the pip since best_ntree_limit is a good new feature

[2015-12-07 08:07] amro-pydev commented on #674
That was really fast. Thanks for the reply.

-Amr

[2015-12-07 08:10] #674 closed

[2015-12-07 09:31] fsimond commented on #671
@hetong007 @terrytangyuan
Ok so I tried on another machine (Linux this time). Same problem with the latest version on CRAN.
I installed the latest version from github and... it works :)
I guess the latest version on CRAN has a (serious?) bug in it...

[2015-12-07 12:36] damiencarol opened #676 "Javadoc can't be generated [Java]"
Javadoc can't be genrated for the Java wrapper.
[code]

[2015-12-07 16:44] amro-pydev opened #677 "Can't build XGBoost multithread on MAC"
Hi,

I was trying to build XGBoost on my MAC as the one on pip wasn't the latest.

I followed the instructions mentioned for building on OS X to make sure it supports MultiThreading. Unfortunately, it failed and gave me the following error:
construction vtable for std::__1::basic_iostream<char, std::__1::char_traits<char> >-in-std::__1::basic_stringstream<char, std::__1::char_traits<char>, std::__

[2015-12-07 16:47] amro-pydev commented on #677
Here is my version for g++:
g++ (Homebrew gcc 5.3.0 --without-multilib) 5.3.0

[2015-12-07 16:58] amro-pydev commented on #677
Fixed the issue, it seems that if the link to the file name is g++ it sees it as g++ 4.9 but if the file name is g++-5 and gcc-5 it works as if it's gcc 5.x.x.

I changed the file link names from g++ to g++-5 and from gcc to gcc-5.

[2015-12-07 17:04] amro-pydev commented on #677
Now stuck with another issue:
make pythonpack
#make clean
cd subtree/rabit;make clean;cd ..
rm -f ./allreduce_base.o ./allreduce_robust.o ./engine.o ./engine_empty.o ./engine_mock.o ./rabit_wrapper.o ./engine_base.o ./engine_mpi.o lib/librabit.a lib/librabit_mpi.a lib/librabit_empty.a lib/librabit_mock.a lib/librabit_base.a  wrapper/librabit_wrapper.so wrapper/librabit_wrapper_mock.so wrapper/libr

[2015-12-07 17:05] amro-pydev commented on #677
Is there is a way to ignore building documentation for python package? I don't want the documentation.

[2015-12-07 17:07] amro-pydev commented on #677
Used python setup.py install inside the python package folder and worked like charm.

-Amro

[2015-12-07 20:09] pommedeterresautee commented on #665
@tqchen is there something special I need to change in `xgb.model.dt.tree`? (I am just taking numbers from the model dump).

[2015-12-07 20:11] pommedeterresautee commented on #658
The easiest way to do it is to leverage the feature importance feature (both in R and Python).
There is no automatic script to do it.

If I answered your question, please close the issue.

Kind regards,
Michael

[2015-12-07 20:11] #654 closed

[2015-12-07 20:11] #650 closed

[2015-12-07 20:14] pommedeterresautee commented on #640
If you are looking for the best number of rounds, the easiest way is to train for a high number of rounds and then reduce your prediction to N first trees.

Kind regards,
Michael

[2015-12-07 20:31] msdw commented on #658
Hi Michael,

Thanks for your return.
Just to share, I develop a loop in with I keep only top 95% features based on feature importance and run it until model has less 30 features.
Anyway thanks.

[2015-12-08 03:04] amro-pydev commented on #677
When I tried to run it I got the following error:

ERROR: Failure: OSError (dlopen(/Users/atork/Sources/xgboost-master/python-package/xgboost/../../wrapper/libxgboostwrapper.so, 6): Library not loaded: /usr/local/opt/gcc/lib/gcc/5/libgomp.1.dylib
  Referenced from: /Users/atork/Sources/xgboost-master/wrapper/libxgboostwrapper.so
  Reason: image not found)
------------------------------------------

[2015-12-08 03:08] amro-pydev commented on #674
HI Hongliang,

Is it now updated in the pip? I'm not able to build the downloaded version on MAC.

-Amro

[2015-12-08 04:24] phunterlau commented on #677
@amro-pydev `pythonpack` process is for building pip installation package for pip maintainer, and it is not for general users. Please just use `make` for building all necessary packages and `python setup.py install`

[2015-12-08 05:37] amro-pydev commented on #677
HI Hongliang,

That's exactly what I did. The compilation went smoothly, but the error came up when I tried to run my script. It can't find the shared library installed by brew.

I'm not sure if there is a good solution for that.

-Amro

[2015-12-08 05:44] terrytangyuan commented on #671
@fsimond I am glad it is working again. Yeah there might be a bug that's fixed in dev version. Most people actually just install xgboost from Github instead of CRAN.

[2015-12-08 05:44] #671 closed

[2015-12-08 05:56] phunterlau commented on #677
@amro-pydev have you tried brew unlink your old gcc, and reinstall and link gcc-5 /g++-5 ? It is a brew installation problem.

[2015-12-08 06:17] amro-pydev commented on #677
Hi Hongliang,

Thanks for your response. I don't know how to unlink my old gcc?

-Amr

[2015-12-08 06:35] phunterlau commented on #677
@amro-pydev em, something like `brew unlink gcc-49`? Some google search may help on this tech detail.

[2015-12-08 06:36] phunterlau commented on #674
updated PyPI with the latest xgboost github #678

[2015-12-08 08:28] #658 closed

[2015-12-08 11:20] dtfoster commented on #665
It's the model dump that this issue refers to, rather than xgb.model.dt.tree.

[2015-12-08 17:03] pommedeterresautee commented on #665
@dtfoster I agree but may be I can do the missing computation in dt.tree

[2015-12-09 02:37] wupeachfan commented on #638
Thanks Tianqi

[2015-12-09 08:51] amro-pydev commented on #677
Hi Hongliang,

Tried and failed to build it on Mac OS X. But I successfully installed it from the PIP using the updated version that you have uploaded yesterday.

Thanks,
-Amr

[2015-12-09 12:37] Far0n commented on #474
@pommedeterresautee fyi, my thoughts about fscore (some hold for gain as well): http://tinyurl.com/q6ktt3k

[2015-12-09 16:26] phunterlau commented on #677
@amro-pydev Good to know the pip installation works for you. Since the problem is somewhere in your gcc configuration and it is no longer a problem for you, I think we can close this issue. By the way, I will provide pre-compiled wheels for pip in future, so no more worries about compiling in major operating systems.

[2015-12-09 16:26] #677 closed

[2015-12-09 16:29] phunterlau commented on #657
have you tried with Visual Studio 2013 and 64 bits? since 32 bit only supports 2GB memory and there are many other limits anyway.

[2015-12-09 16:31] phunterlau commented on #661
have you tried deleting the old installation and re-do the install from today's github repo? XGBClassifier is defined in the python-package/xgboost/sklearn.py and should come from the .sklearn package.

[2015-12-09 16:32] phunterlau commented on #649
which visual studio version do you use? is it 2013?

[2015-12-09 20:19] modqhx commented on #633
Hey, can you share how you solved this issue? I'm on mac but I am getting the same error:

[code]

[2015-12-09 22:15] #640 closed

[2015-12-09 22:21] hwu84 opened #680 "Is it possible to implement multi task gradient boosting in xgboost?"
Suppose I have several related response variables Y with same features, is it possible to minimized overall loss functions from all the response variable Y so that the model can learn the relation between the response variables and make predictions for all the response variables at the same time?  Similar to the idea from multi-task neural network?
Does it make sense?
Thanks

[2015-12-10 00:22] FusionPlant commented on #633
When I was compiling xgboost in Visual Studio, there was an warning/error
on a line calling a function named something like "sleep". I commented it
and recompiled xgboost. Everything went nicely after that.

On Wed, Dec 9, 2015 at 12:20 PM, Mudit <notifications@github.com> wrote:

--
Best,
Tailai

[2015-12-10 05:52] thenomemac opened #681 "Poisson, gamma, tweedie losses and offsets"
It would be really useful to have poisson and other tweedie family loss functions integrated into xgboost with offsets. This is already implemented in R's GBM library and is widely used. Not sure if my C skills are complainant enough to tackle this. But I'm willing to try if pointed in the right directly. Currently working to add these features to sklearn myself.

[2015-12-11 04:42] cswhjiang commented on #578
I have the same problem even if I reinstalled g++-5.

[code]

[2015-12-11 20:12] Superhzf commented on #509
@tqchen
Hey, does the xgboost Python package supports SFrame now? Suppose I already have a big SFrame whose size is larger than my memory, can I analyze it using Xgboost locally?

[2015-12-11 22:40] cswhjiang commented on #578
I reinstalled gcc5, it does not work. Building multi-thread xgboost failed.

[code]

[2015-12-12 01:27] terrytangyuan opened #684 "Refactor setup.py"
@phunterlau Could you combine setup.py and setup_pip.py with some conditional statement to switch the functionality? (set default to original setup.py functionality) Given recent issues we have received, it's better to make it less confusing.

[2015-12-13 00:05] phunterlau commented on #684
`setup_pip.py` and `setup.py` were the same file with conditional statement, and later on I made a standalone `setup_pip.py` for the pip package for these three reasons after seeing many github installation issues:

1. pip uses `setup.cfg` and `MANIFEST.in` for complicated dependency while `setup.py` itself can't handle: we need to copy many source files and compile on-the-fly.
2. `python setup.py

[2015-12-13 00:18] ajkl opened #686 "AttributeError: 'module' object has no attribute 'XGBClassifier'"
Successfully built multi-thread xgboost on Ubuntu 14.04.
Using python 3.4.
Install of python package went fine.
I get no errors on import xgboost.
But when I try to use the XGBRegressor or XGBClassifier I get the "module object has no attribute" error.
What debug info will be helpful ?

[2015-12-13 01:01] terrytangyuan commented on #684
Ok sounds good. Thanks for the clarification!

[2015-12-13 01:01] #684 closed

[2015-12-13 03:26] chaoszc opened #687 "How to customize the objective function with multi-class classification in Python"
Hi there,

I am new to xgboost.

I am trying to implement some objective other that 'multi:softprob' for multi-class classification in Python. However, it seems the result is surprisingly bad so I am wondering whether I return the wrong format of 'grad' and 'hess' in the objectively function.

Right now, I just take the 2-D preds variable, calculate the grad and hess for each element in this matri

[2015-12-13 05:21] khotilov commented on #574
@tqchen That's encouraging! I've read through the code, and I think I see what you mean. But I'm not yet confident in my ability to undertake such task. While I understand the general idea of how multiple outcomes would influence splitting, I would need to write it out to understand how that would work in gradient boosting.

Also I see that the linear booster has support for multiple "output group

[2015-12-13 05:29] khotilov commented on #680
Are you mostly interested in the multivariate/multilabel subset of multi-task learning (when all outcomes for an instance are known), or do you need to be able to deal with more general transfer learning problems (when some outcomes are not known for some instances)?

[2015-12-13 05:42] khotilov commented on #486
There's a generic solution for this in the ICEbox package https://cran.r-project.org/web/packages/ICEbox/
(see http://arxiv.org/abs/1309.6392 for details).

The implementation within mlr framework https://mlr-org.github.io/mlr-tutorial/devel/html/partial_prediction/index.html follows a similar approach and provides somewhat more functionality, albeit constrained to the mlr framework.

If it would

[2015-12-13 06:32] hwu84 commented on #680
@khotilov Actually both. But the first thing I want to figure out is the multivariate/multilabel subset of multi-task learning (when all outcomes for an instance are known).
It will be a nice extension when the model can also handle the situations that some outcomes are not known for some instances.
I saw #574 and it seems that multi-task learning is something we can expect in the future from xgbo

[2015-12-13 09:59] #638 closed

[2015-12-13 10:05] pommedeterresautee commented on #593
Deepness purpose is for catching more complex non linear link between features and output. To help you there is a new function in R package to plot the distribution of Deepness in your trees.

Kind regards,
Michaël

[2015-12-13 10:12] pommedeterresautee commented on #486
In Friedman paper the method described is very light in computation because it leverages the model itself. In these external package there are many computation to perform because it ignores the model. So we need to write it ourselves if we want something which will be used.

[2015-12-13 14:43] #593 closed

[2015-12-14 08:13] munitech4u commented on #657
I can not build a 64 bit version, as my machine is 32 bit.

[2015-12-14 15:19] chrisormandy commented on #657
munitech4u, try opening this file project explorer:
allreduce_base.cc

then find the reference at line 203, and comment out (i.e. put // before) the sleep()

just open the file, and do a search for the phrase 'sleep' and comment that out.

[2015-12-14 17:07] munitech4u commented on #657
Tried that, here is the log
Generating Code...
2>     Creating library C:\Users\munitech4u\Downloads\Compressed\xgboost-0.4a29\xgboost\windows\Debug\xgboost.lib and object C:\Users\munitech4u\Downloads\Compressed\xgboost-0.4a29\xgboost\windows\Debug\xgboost.exp
2>io.obj : error LNK2019: unresolved external symbol "class rabit::engine::IEngine * __cdecl rabit::engine::GetEngine(void)" (?GetEngine@e

[2015-12-15 09:19] appierys opened #689 "Does the predicted value of pairwise:rank has any meaning between different groups?"
Hi,
I am wondering if the output value of `predict` has any meaning between different groups when pairwise:rank is used?

For example, if the labels are 0, and 1. Is it meaningful to select a threshold T so that we could assume that any instance has a predicted value greater than T probably has a label 1 ?

Thanks!

[2015-12-17 12:04] playmobil commented on #526
Same issue for me, it seems create_wrapper.sh cannot work properly on Mac OS, could you fix the bug for Mac users recently?

[2015-12-17 22:30] ashish01 opened #692 "Order of dumped trees for multi class models"
XGBoost is great. Thanks for creating this amazing piece of software. I am trying to create a lean runtime which reads the dumped text model and then produces the same 1:1 output for predict_proba. In this context I have a few questions

* For multi class classification (with say n_classes = 5, num_rounds = 100) dumped model contains 500 boosters. Probably 100 boosters per class. What is the order

[2015-12-18 00:55] tqchen commented on #692
- The order of booster, is  (class_0_booster_0), (class_1_booster_0), ...
- The formula you used is correct

[2015-12-18 09:56] damiencarol commented on #526
I had same issue. Check you Java paths. Like jkd path or java home path.

[2015-12-18 10:05] Tutufa opened #693 "UnboundLocalError: local variable 'verbose_eval_every_line' referenced before assignment"
If i run xgboost with 16 threads and provide evaluation dataset and verbose=True if .fit method, it crushes with this error:

[code]

[2015-12-18 21:29] khotilov commented on #634
You may control the number of OpenMP threads by setting the OMP_NUM_THREADS environment variable to a needed value before starting R.

[2015-12-18 22:36] khotilov commented on #486
@pommedeterresautee could you please point to the description of that Friedman's method? Since the concept of partial dependency is rather model-agnostic and requires re-scoring of a model at many grid points, I'm quite curious to see what tricks Friedman came up with to speed things up.

Note that for a quick approximation for partial dependency, one can look at marginal dependency by calculating

[2015-12-19 00:54] tokestermw opened #695 "Ordinal classification [wish list]"
Ability to do ordinal classification would be great as no good implementation exists in Python (AFAIK). Training a regression model is a bit slippery on ordinal data (e.g. Amazon product reviews). Might be good for ranking tasks as well.

[2015-12-19 08:10] tqchen commented on #695
What is the difference between ordinal classification and ranking? I guess this could be readily implemented as a customized loss function, using some thing like pairwise logistic loss

[2015-12-19 10:11] fayeshine opened #697 "ia there any way to use gpu for speedup?"
can the parallel algorithms port to gpu? do we have any theoretical possibility?

[2015-12-19 10:16] mahdiman opened #698 "what(): AUC: the dataset only contains pos or neg samples"
I'm trying to train a multi-class classifier using xgboost, here is my code:

import numpy as np
import sys
import xgboost as xgb
if **name** == "**main**":

[code]

the trainF and testF are numpy matrices containing feature vectors and trainL and testL are numpy arrays containing labels for train and test, the feature vectors contain only of zeros and ones. can any one tell me why it's wrong to h

[2015-12-19 10:49] damiencarol commented on #697
@fayeshine the library already use OpenMP. Does this lib already use GPU? no ?

[2015-12-19 10:54] fayeshine commented on #697
it seems it does not use gpu.
However if it can use openmp, there should be a way to use it on GPU? Am I correct?

[2015-12-19 11:03] damiencarol commented on #697
Some resources here : http://stackoverflow.com/questions/28962655/can-openmp-be-used-for-gpus

[2015-12-19 12:01] tqchen commented on #697
related to #436

[2015-12-20 10:44] sh1ng opened #699 "The algorithm clarification"
@tqchen could you explain some details of your implementation.
https://github.com/dmlc/xgboost/blob/0b17caaa274ad0134656c3951982a6e6e584da55/src/gbm/gbtree-inl.hpp#L256-L258

Why do you need to update all trees?
As I know Gradient boosting uses iterative approach to construct final estimator(https://en.wikipedia.org/wiki/Gradient_boosting#Algorithm). So you no need to update trees from [0, n] when

[2015-12-20 11:07] #699 closed

[2015-12-20 13:56] sh1ng opened #700 "The algorithm clarification"
Hi @tqchen!
It'd be nice for everyone who wants to participate in the project understands technical details of the implementation. May be we should create a wiki page that will give some clues and will help a newcomers easily dive in the project.

I'll start with two questions:
* Why do we delete all data with second derivative equals zero? https://github.com/dmlc/xgboost/blob/master/src/tree/upda

[2015-12-20 20:19] weedySeaDragon commented on #595
I'm getting the same error, though with different data -- the Titanic data.  (I'm using the data from the Titanic competition to learn xgboost.)  I can show you an output, but it's quite similar to the one posted by dtfoster  (it's a parsing error).

My system: Win 7
all R packages are up to date:
 xgboost - version 0.4-2
 DiagrammeR  version 0.8.1

How can I make sure that I have the merged chang

[2015-12-21 08:57] pommedeterresautee commented on #595
Only the version from Github is fixed.
The Cran version is not updated at all.

[2015-12-21 16:37] hack-r opened #701 "*Possible* bug: Sparse matrix breaks length comparison with multinomial labels (?)"
I write this with hesitation, because I'm not sure if this is considered a bug.

I have found that when forced to use a sparse (dgCMatrix) matrix, that xgboost tries to compare the length of this matrix with the length of my (multinomial) label vector.

While nrow(sparse_data) = length(multinomial_labels), the length returned from the sparse_matrix is some much larger number.

There's a StackOverf

[2015-12-21 18:40] #701 closed

[2015-12-22 15:18] PeiYiTan opened #703 "xgboost fails with categorical input"
[cxy.txt](https://github.com/dmlc/xgboost/files/69836/cxy.txt)

Attached data file contains 10,000 observations, and 2 variables: a target Y (0, 1), and a nominal input XC(1, 2, 3,…20).

I am getting the following errors from xgboost with and without assigning XC as factor.

traindata<-read.csv("cxy.csv")
y<-traindata[,c("y")]
x<-traindata[,c("xc")]
trainMatrix <- data.matrix(x, rownames.force = N

[2015-12-22 19:04] pommedeterresautee commented on #703
I think you first need to convert your categorical variable in several binary variables for instance by using one hot encoding. You should find code example in the vignettes. Categorical variables are not managed directly by xgboost.

[2015-12-22 19:22] PeiYiTan commented on #703
I want to treat the xc as a true categorical variable. I only want to create 1 split from a max.depth=1 tree to see which xc categories are assigned to left or right branch. Can you please show me the work around code that can accomplish what I intend to do?

[2015-12-22 19:49] PeiYiTan commented on #703
OK. now I understand xgboost does not handle one single categorical variable with more than 2 categories.

[2015-12-22 19:49] #703 closed

[2015-12-23 03:58] listentowindy opened #704 "memory is no efficent when I use large feature_index"
hi, I use a 10000row data to train gbdt, the max feature index in my file is 2147483647, but there is really less than 1000 feature (my feature is hash by 2147483647, but not start from 1).
But the xgboost use more than 100G memory, just like it is not sparse format. How can I use the sparse format to train my model?

[2015-12-23 07:18] pommedeterresautee commented on #704
If you are in R you need to use the Matrix package with a sparse Matrix.

[2015-12-23 07:31] listentowindy commented on #704
I use the command line. So what should I do?

[2015-12-23 12:52] pommedeterresautee commented on #704
I think LibSVM should be the format to use.
http://xgboost.readthedocs.org/en/latest/input_format.html

[2015-12-23 13:12] SantyagoSeaman commented on #704
My current matrix consists of 100K rows and 15K columns of sparse data. dcgMatrix did not created at all. I don't know why because creation process worked more then 5 hours without any results and I stopped it. Anyway, using ordinary matrix (that takes near 50G of RAM) xgboost works absolutely perfect.

[2015-12-23 14:51] BlindApe commented on #704
libsvm format will be a pain for loading: # 517
I've worked with sparsed matrices bigger than this without problems.

[2015-12-23 21:44] #616 closed

[2015-12-23 21:50] Temmplar commented on #612
@Far0n Thank you! I already solved it, but thanks again for your help.

[2015-12-23 21:50] #612 closed

[2015-12-24 02:40] listentowindy commented on #704
In My data, there is about 30 non-zeor values average  in each row . And I have already use libsvm format, just list '1.89    617:39.9978 994:601325 1408:0.000275634 2011:14512 2149:1 3188:1 3316:6.43605 3497:5747 3714:0.00955723 3884:19 5010:0 5231:1020.96 5241:10.4656 5562:0 5689:1 6438:1146'.

[2015-12-24 06:20] kelvict opened #706 "How XGBClassifier save and load model?"
When I try to use
[code]
AttributeError: 'NoneType' object has no attribute 'load_model'

[2015-12-24 08:16] kelvict opened #707 "How can I check if I make proper configuration for xgboost to run in multi thread"
I run the same multi thread xgboost classification code in different machine (all running Linux x64,Ubuntu 14.04). And but only some of the machine run xgboost classification in multi process (I got these message from shell "top"). How can I check if i make proper configuration for xgboost to run in multi thread.

[2015-12-24 14:56] walterreade commented on #706
`clf.load_model('..')` should work

[2015-12-24 20:31] yankov opened #708 "TeX is not rendered in docs"
TeX formulas are not rendering in the docs. Example: https://github.com/dmlc/xgboost/blob/master/doc/model.md

If you guys use a specific browser extension to see those, that should be probably mentioned.

[2015-12-25 07:21] kelvict commented on #706
I am sorry that I could not find method load_model in A XGBClassifier.

[2015-12-25 11:06] kelvict commented on #707
I find the reason why I run in multi thread in machine A successfully while fail  in machine B.Because I clone the xgboost source to A first and build it in A.Then I copy source it to B and build again. Although after build  in B ,it said that a multi thread version xgboost was built, it is not really. After I clone the source to B and build again. B can run in multi thread again.

[2015-12-25 12:00] Claygirl commented on #463
I'm attempting to install xgboost through pip but fail with the same error as @davutpolat had. I wanted to use his solution, but I have no idea as where to find /wrapper/libxgboostwrapper.so.

[2015-12-25 17:49] brickerino commented on #706
Try like:

clf = XGBClassifier()
booster = Booster()
booster.load_model('./model.xgb')
clf._Booster = booster

clf.predict(...)

[2015-12-25 18:37] walterreade commented on #708
Github markdown doesn't support Tex (without hacks).

e.g.,

http://www.r-bloggers.com/rendering-latex-math-equations-in-github-markdown/

[2015-12-25 19:41] brickerino opened #709 "Influence of zero entries in data file on result."
If i add zero entries in input test file, it causes some perturbation of result.
For example,
this
1 0:1 3:4 10:1
canges to this
1 0:1 1:0 2:0 3:4 10:1
and then resulting probability for this sample changes too.

I made xgb model in python, then exported it and tested with standalone application. Probabilities were not the same, as in python script, but quite near, the biggest change was like from

[2015-12-26 01:08] phunterlau commented on #463
@claygirl do you have gcc or clang in your system? please also tell your system env and error message

[2015-12-27 01:12] tqchen commented on #708
it is rendered in  http://xgboost.readthedocs.org/en/latest/model.html

[2015-12-28 02:10] listentowindy commented on #704
could someone help me？

[2015-12-28 14:12] WangHanbin commented on #427
`pip install xgboost` works well for me. Followed the given instructions maybe faced some **Permission deny** issues, it depends on the way you installed Anaconda.

[2015-12-29 18:24] aksbond opened #715 "Unable to load package in python/pycharm"
Hi,
Reading the post on Kaggle I was able to create the "xgboost_wrapper.dll" and "xgboost.exe" files using Visual Studio and then  running "python setup.py install". However, I am unable to load the package during execution.
I have tried adding the library path but to no avail. I have tried this on python 3.5 on command line as well as on pycharm using anaconda3 as my python interpreter.

Please

[2015-12-30 06:33] tqchen commented on #709
The main reason is that the unpresented entries are treated as missing while zero are treated as zero, they should not have big impact in general

[2015-12-30 12:46] brickerino commented on #709
Then we have a semantic problem, because in python script zero entries do exist, and in order to get the same result with the same model and data in standalone application i should except them and consider all zeros as missing values. Is it ok?

[2015-12-30 16:42] ronmexico2718 opened #717 "Repeated runs of xgb.cv in R eventually crash"
If I run xgb.cv multiple times in a single R session, one of the runs will inevitably get "stuck" and not complete.  The RAM and CPU usage does not appear to be excessive when the issue occurs.

I have reproduced this issue across a variety of machines (all Windows) using the newest version of xgboost.  I have included a minimal working example of this issue in the code below.

library(xgboost)
li

[2015-12-31 17:50] terrytangyuan commented on #717
I don't have a windows machine at hand. Could anyone else the problem?

[2015-12-31 17:50] #708 closed

[2015-12-31 18:47] Sandy4321 commented on #717
I try to run your code
first line
t0 <- proctime()

is written wo .
would it should be t0 <- proc.time()

after this fix I still have error

Error: could not find function "xgbcv"
pls see below

Warning message:
package ‘xgboost’ was built under R version 3.2.3

Warning message:
package ‘MASS’ was built under R version 3.2.3

+ t0 <- proc.time()
+ x <- mvrnorm(n=n, mu=c(0,0,0), Sigma=matrix(c(1,0,

[2016-01-01 16:48] ronmexico2718 commented on #717
Sander, it looks like the "." in xgb.cv got lost somehow.  Try changing "xgbcv" to "xgb.cv". You will also need to change "xgbDMatrix" to "xgb.DMatrix" and "datamatrix" to "data.matrix".

If anyone has a Mac, I'd be curious to see if this issue occurs on your machine.  I have not tested this on a Mac. I should mention that this code will take quite a while to run (hours or days, depending on your

[2016-01-01 17:03] Sandy4321 commented on #717
super I fixed file and send to you, pls check
meantime it runs very long time
may you recommend how to short time by use simple model and then make it
more complicated step by step
this way we may find problematic point..

On Fri, Jan 1, 2016 at 11:48 AM, ronmexico2718 <notifications@github.com>
wrote:

[2016-01-01 22:22] ronmexico2718 commented on #717
Unfortunately, I cannot recommend a way to shorten the runtime.  The problem seems to occur only training a big model multiple times.  If I use simple models, the problem does not occur.

Thanks so much for your help and let me know if there's anything else I can do to help.

Will

[2016-01-01 22:57] ronmexico2718 commented on #717
One other note.  I am running this on a machine with a 4-core processor.  When I reduce the number of processors used in the parallelization by setting nthread=2, this delays, but does not prevent, the crashing.  That is, the code will still crashing, but it will successfully train more models before crashing.  That is, when I set nthread=2, the code might crash on i=150, but when i don't set nthr

[2016-01-02 10:55] tqchen commented on #709
yes, this normally won't pose as problem

[2016-01-02 10:55] #103 closed

[2016-01-02 10:56] #523 closed

[2016-01-02 18:03] giuseppec opened #719 "allow stratification of the `subsample` parameter"
I assume that the `subsample` hyperparameter is not able to do stratified subsampling. I think it would help to add another hyperparameter `stratify_subsample_by_column` where one can define the column name that defines the "subgroups" to ensure that all subgroups are represented in each subsample.
I think this could help to improve performance for imbalanced data (not sure, but one can investigat

[2016-01-02 19:12] #709 closed

[2016-01-03 09:18] dselivanov commented on #276
@andreh7 thx for sharing! Can't figure out what is wrong with `Symbol not found: _GOMP_atomic_end`, but `-lgomp` resolves this.

[2016-01-05 13:03] sdgroeve opened #721 "error in model dump"
[debug.xgboost.zip](https://github.com/dmlc/xgboost/files/78417/debug.xgboost.zip)

Hi

I noticed an error when dumping the model to text. To show the error I apply a trained model to a test point v. If I run the following code (model is attached):

[code]

then the output is r=0.348039.

However, if you follow the dumped tree for test point v I end up in node 21 that tests feature 329. As this fe

[2016-01-05 16:35] hingneabhishek opened #723 "xg parameters"
what is min_child_weight and colsample_bytree??

[2016-01-05 17:32] walterreade commented on #723
There's a detailed explanation of all the parameters here:

https://github.com/dmlc/xgboost/blob/master/doc/parameter.md

[2016-01-06 06:41] dsivakumar commented on #463
Solution. I had same  OSError: /usr/local/lib/libxgboostwrapper.so: cannot open shared object file: No such file or directory. I copied the
site-packages/xgboost-0.4-py2.7.egg/xgboost/./wrapper/libxgboostwrapper.so to  /usr/local/lib/ and seems working.
But not happy with it as I have both 2.7 and 3.4. ..

[2016-01-06 06:48] phunterlau commented on #463
@dsivakumar site-packages/xgboost-0.4-py2.7.egg/xgboost/./wrapper is the expected location for libxgboostwrapper.so if install with pip, and xgboost/lib_path.py has included this path so `import xgboost` can easily find it. If you want both 2.7 and 3.4, please use virtualenv and install with pip separately, since pip depends on python versions.

[2016-01-06 23:32] lwoloszy opened #725 "Incorrect evals output when used via XGBClassifier interface"
I was getting some funky behavior when using evals via XGBClassifier. I believe it's due to line 322 in sklearn.py. When creating the evals DMatrix, missing should be set to self.missing, the same as in train_dmatrix.

[2016-01-06 23:57] terrytangyuan commented on #725
Could you provide some reproducible example? Pull requests are more than welcomed!

[2016-01-06 23:57] #723 closed

[2016-01-07 00:10] #706 closed

[2016-01-07 00:12] terrytangyuan commented on #676
Can you try the most recent version from Github?

[2016-01-07 00:14] terrytangyuan commented on #686
Which version are you using? Could you try the most recent version?

[2016-01-07 00:18] terrytangyuan commented on #693
Could you try the most recent version to see if the error is still there? Please include a reproducible example.

[2016-01-07 00:18] #637 closed

[2016-01-07 00:21] #725 closed

[2016-01-07 00:22] terrytangyuan commented on #635
Fixed via https://github.com/dmlc/xgboost/commit/7606bf8156289cba0e52bffd79cdbb0482f1ce30

[2016-01-07 00:22] #635 closed

[2016-01-07 00:23] #631 closed

[2016-01-07 00:24] terrytangyuan commented on #526
Has this been fixed? @yanqingmen

[2016-01-07 00:25] #692 closed

[2016-01-07 00:45] lwoloszy commented on #725
[code]

The validation_0 auc and roc_auc_score should be the same

[2016-01-07 00:46] terrytangyuan commented on #725
@lwoloszy Thanks! I've made a fix at 7606bf8. Could you try it again?

[2016-01-07 00:49] lwoloszy commented on #725
perfect

[2016-01-07 07:34] ganesh-krishnan opened #726 "early.stop.round does not work properly"
early.stop.round does not work if only one metric is provided. In fact, it seems like early.stop.round does not use the first metric for stopping when two metrics are provided. The source of both errors appears to be the same line of code.

[code]

This results in the following error:

The issue seems to be the following line of code in xgb.cv:

[code]

Changing that line to the following should f

[2016-01-07 08:30] dsivakumar commented on #463
@phunterlau Thanks, that seems the only solution.

[2016-01-07 13:05] lxk1990727 opened #727 "where can i find the python class description of xgboost?"

[2016-01-07 13:17] damiencarol commented on #676
I see no change on these files. Same error on same files.
I will make a PR if I have time.

[2016-01-07 13:19] damiencarol commented on #526
@terrytangyuan It is NOT a bug. When using the script _create_wrapper.sh_ one must set the JAVA_HOME env variable. That's all.

[2016-01-07 14:01] yenchenlin1994 commented on #550
Hello @phunterlau,

Did you start to implement it?
I'm interested in working on this issue.

[2016-01-07 14:15] terrytangyuan commented on #726
Thanks for reporting. Which version of xgboost are you using? Do you want to submit a PR for this?

[2016-01-07 18:14] Sandy4321 commented on #463
I tried several times but lost hope to install xgboost on my windows OS PC,
but now may be you  will help what to do
it is the error
C:\Users\Sander>pip install xgboost
Collecting xgboost
  Downloading xgboost-0.4a30.tar.gz (753kB)
    100% |################################| 753kB 397kB/s
No files/directories in
c:\users\sander\appdata\local\temp\pip-build-gqsijf\xgbo
ost\pip-egg-info (from PKG-IN

[2016-01-07 18:24] phunterlau commented on #463
@Sandy4321 Windows doesn't support pip installation now because it was not set for VS command line compiler, as mentioned in the installation guide and trouble shooting. Please use the VS solution file in `windows/` to compile and install. Hope it can help you get 2nd place too :-)

[2016-01-07 20:58] terrytangyuan commented on #526
@damiencarol Thanks for letting me know! Good to know it's working on Mac.

[2016-01-07 20:58] #526 closed

[2016-01-07 21:00] #463 closed

[2016-01-07 21:00] aksbond opened #729 "Stratified sampling cross validation in xgboost, python"
Hi,

I am trying to run a model using the "NDCG" evaluation metric. However, the distribution of my data across classes is not uniform. Therefore, when I use xgb.cv, it throws the error below which states that the label sizes don't match.
I am assuming this is because the num_class parameter is defined as 12 while one of the folds may or may not have all 12 classes present. I am simply assuming it

[2016-01-07 21:04] #715 closed

[2016-01-08 00:11] phunterlau commented on #550
@yenchenlin1994 good to know that you can work on it. I haven't had a real chance of taking actions on it. Please let me know if you discover anything about it.

[2016-01-08 00:13] phunterlau commented on #727
I believe you mean <https://github.com/dmlc/xgboost/blob/master/python-package%2Fxgboost%2Ftraining.py>

[2016-01-08 06:24] ganesh-krishnan commented on #726
I'm using version 0.4.2. I just submitted the PR.

[2016-01-08 12:04] Peishen-Jia opened #731 "Confusion about parameters sklearn API(reg_lambda : float (xgb's lambda) and reg_alpha : float (xgb's alpha))"
for sklearn api,
reg_alpha : float (xgb's alpha)
        L2 regularization term on weights
reg_lambda : float (xgb's lambda)
        L1 regularization term on weights

while in xgboost doc,
lambda [default=1]
L2 regularization term on weights
alpha [default=0]
L1 regularization term on weights

isn't it confusing?

[2016-01-08 14:21] terrytangyuan commented on #659
It's possible that you label/pred contains NA. Could you print those out to see if it's true? It would be better if you can provide a reproducible example. What's the output of str(dtrain)?

[2016-01-08 15:30] #707 closed

[2016-01-09 01:48] JunWorks opened #732 "save the best model using early stop"
[code]
Is there a way to save the best model while using early stop?

[2016-01-09 09:40] hectep commented on #659
No, there is no NA in the label.
Here is both data and the script attached. I believe i'm missing something obvious and not related to the xgb package.
Thanks for your time, Terry!

[prudential.zip](https://github.com/dmlc/xgboost/files/83602/prudential.zip)

[2016-01-09 13:41] yanqingmen commented on #676
hi, @damiencarol; Maybe this error was caused by the version setting of maven javadoc plugin; it works well on my machine. It would be great if you can make a PR to fix this.

[2016-01-09 14:59] damiencarol commented on #676
@yanqingmen Yes sir ! :) => #733

[2016-01-09 18:21] derek-damron commented on #729
I'm not sure if the `xgboost` folks want to make stratified sampling the default for `multi:softprob`, but here's some code you can use to do stratified sampling so that each of the folds has a roughly equal mix of the outcomes.

1. Take the row indices of the outcome variable in your data
2. Sort them on the outcome
3. Use the `split` function to assign roughly equal amounts of each outcome to ea

[2016-01-09 20:41] aksbond commented on #729
Thanks for that little piece @derek-damron. It would definitely work like a dream in R. However, I couldn't find the same parameter named ```folds``` in Python. There's only the ```nfold``` parameter which accepts integer data as input and that's what prompted me to raise the issue. There isn't a mention in the documentation as well. :(

It's quite strange that the functionality exists in R but no

[2016-01-10 02:59] terrytangyuan commented on #729
@derek-damron Thanks so much for your thoughts/suggestions. Yes, a default value for that sounds good to me. Would you be able to submit a PR for that?

@aksbond Unfortunately it doesn't exist in Python. There's certainly known inconsistent between different language bindings of xgboost. Feel free to submit a PR to add that functionality you want.  It should be very similar to that in R. :-)

[2016-01-10 03:08] terrytangyuan commented on #732
@JunWorks So as you can see [here] (https://github.com/dmlc/xgboost/blob/master/R-package/R/xgb.train.R#L223), if you provide `save_period ` and `save_name `, you will save the model before early stopping breaks the loop.

[2016-01-10 03:09] #727 closed

[2016-01-10 03:29] derek-damron commented on #729
@aksbond Sure thing, and good luck!

@terrytangyuan Absolutely!  Do you think that this "sorting" structure of the cross-validation folds would be a good default for all metrics?  This would help ensure that the folds have roughly the same distribution in outcomes for any modelling goal.  Using `binary:logistic` as an example, this type of stratified sampling would ensure that each fold gets a rou

[2016-01-10 03:35] terrytangyuan commented on #729
That's fine. We'll see what else needs to be added later after users' experience on this. Please also add additional test for the change and add some helpful docs to notify the default option to users.

[2016-01-10 03:57] derek-damron commented on #729
Will do.  Might be a few days, but I'll submit a pull request for us to talk about.

[2016-01-10 04:01] khotilov commented on #729
@derek-damron just to make sure that it's clear: stratified CV was
implemented and is enabled as a default option in R interface, but it's the
Python interface where this is missing.
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
This
email has been sent from a virus-free computer protected by Avast.
www.avast.com
<https://www.avast.co

[2016-01-10 04:10] derek-damron commented on #729
@khotilov Thanks for the clarification, I was talking about R and not Python.

And the stratified default is interesting, because I have received errors in the past when using `multi:softprob` with incredibly rare events that I could only trace back to a particular fold not having any observations with that label.  I can't remember what the specific error was offhand, but I was able to get around

[2016-01-10 04:15] aksbond commented on #729
@terrytangyuan thanks for the clarification. However, I'd prefer @derek-damron creating the PR. I started python a week ago, so I'm still finding my feet here. I will still contribute if and when I can on this request.

Thanks everyone for the comments and clarifications! Good luck!

[2016-01-10 06:38] tqchen commented on #731
Both arguments are correct and equivalent to each other

[2016-01-10 06:38] #697 closed

[2016-01-10 18:19] #732 closed

[2016-01-10 18:20] #731 closed

[2016-01-10 18:22] terrytangyuan commented on #676
Closed via #733

[2016-01-10 18:22] #676 closed

[2016-01-12 01:06] tqchen opened #736 "[Brick] XGBoost Brick Major Refactor"
I just merged https://github.com/dmlc/xgboost/pull/735 (see the PR for change logs) into the [brick branch](https://github.com/dmlc/xgboost/tree/brick)
This is a major refactor of xgboost core library, the library itself won't be faster, but cleaner and will be *easier to extend* in some sense.

This is the second major refactor of xgboost. The first one, named unity, aims at modularize xgboost, s

[2016-01-12 01:21] tqchen commented on #736
The https://github.com/dmlc/xgboost/tree/brick branch is tested on both python and R version, to make sure things compile and runs. Here are things we need before the version get merged into master.

For compile with less code deps, https://github.com/dmlc/xgboost/tree/brick/amalgamation can be used, but these can run slower. The C API stays the same for now, so all the language binding code shoul

[2016-01-12 01:55] tqchen commented on #736
cc @pommedeterresautee @antinucleon @terrytangyuan @hetong007 @yanqingmen

I will need help from developers and others to make this happen.

[2016-01-12 02:01] terrytangyuan commented on #736
@tqchen Could you clarify the difference between two random number generators? But just from what you said, it would be better to be consistent with other bindings.

I've used drat to install stuff but never uploaded anything to drat before. Is it possible to set up a Travis for drat repo to build R packages automatically on different systems on weekly basis?

[2016-01-12 02:11] tqchen commented on #736
Normally R prefers uses its own PRNG so seed can be set via ```set.seed```, there is no other obvious difference.

[2016-01-12 13:42] yitang opened #739 "check for validate parameters when initiate?"
Hi, thanks for providing this amazing package.

I've been moving from R to Python, and get lost in the different naming for same paramteres. also, I noticed that when initiate a xgboost model, it won't check for validate paramters, for example,

[code]

both work fine. And I can't find how the "lala" parameter is used after reading the source code.

Not checking validate parameters leaves a door f

[2016-01-12 17:46] pommedeterresautee commented on #736
@tqchen Regarding Drat, what is expecting to be added/improved?

[2016-01-12 18:09] tqchen commented on #736
@pommedeterresautee Mainly figure out an release script to build the R package (and possibly binary dll for windows and mac users) others should remain the same

[2016-01-12 18:23] thirdwing commented on #736
Just more info about the C++11 status on Windows. I am one of people working on this in last summer.

(1) The new Rtools 3.3 includes GCC 4.9.3 with posix threading model. It means the full C++11 support and std::thread support. https://github.com/rwinlib/r-base#readme

(2) It hasn't been fully tested. I mean all packages on BioC and CRAN

(3) This is a breaking upgrade for Rtools. The exception m

[2016-01-12 23:48] acamachodepass opened #740 "Row Indices in dtrain [R]"
I am writing a custom evalerror function for xgb.cv.

evalerror signature's parameters are: function(preds, dtrain)

I need to now the row indices of the parameter dtrain, since it is a sample of the whole train data.

getinfo(object, ...) does not provide this information.

How can I get the required indices?

[2016-01-13 01:29] thirdwing commented on #736
More info about R's random number generator.

(1) Theoretically, we should use R's own RNG. This makes the result reproducible when users set the same seed;

(2) only three RNG functions are provided by R (if I remember right):
[code]

[2016-01-13 12:18] Temmplar opened #744 "No "evals_result", empty dict as the "evals_result""
I got no result as `evals_result`  at `xgb.train()`:

[code]
**[Out]:**
[code]
ubuntu 14.04 LTS
64-bit
Python 2.7.11

[2016-01-13 16:01] DeluxeAnalyst opened #745 "Issues with xgb.train and multi:softprob"
I am getting an issue with trying to use xgb.train with early stopping round, and multi:softprob as the objective.

The error I am getting says my class is set to 12, but its expecting 12, which is exactly what I passed it. I dont know if there is an issue with having the label input as part of the DMatrix?

Here is exact error:

Error in xgb.iter.update(bst$handle, dtrain, i - 1, obj) :
  Softmax

[2016-01-13 16:26] terrytangyuan commented on #736
Let's stick with R's own RNG then even though it's limited. It's just more of a conventional thing to use it to reproduce results.

@thirdwing Looks like you are already working on drat for mxnet. Would you be able to take this routinely task for xgboost as well?

[2016-01-13 16:30] DeluxeAnalyst commented on #745
I dont know why this fixed it, but I wrapped my Y variable in a as.numeric(as.character(y)) and it looks like its working now.

[2016-01-13 17:31] tqchen commented on #745
The reason is the label need to be in [0, 12) (not including 12), but can contain 0

[2016-01-14 18:49] #745 closed

[2016-01-14 18:52] tqchen commented on #740
Row indices are not stored in the sliced DMatrix as far as I recall. But I recall that R package support attach certain arrays to a DMatrix and get the slice when slice was called, @hetong007 can you confirm?

[2016-01-14 19:01] hetong007 commented on #740
There are two ways to do so:

1. Use this not exported function: https://github.com/dmlc/xgboost/blob/master/R-package/R/utils.R#L133
2. Assign an `attr` to your dtrain before feeding it to the training function, an example: https://github.com/dmlc/xgboost/issues/513

[2016-01-14 22:34] tqchen opened #746 "[Brick] Switch to CMake build support for windows"
Recent changes in dmlc's other project makes us feel that cmake might be a more portable solution for maintaining windows projects than vs solutions in https://github.com/dmlc/xgboost/tree/brick

So I am thinking of switching to cmake builds as default build support for windows, I am not expert in this, and would be great to get someone's contribution on it.

[2016-01-15 00:04] tqchen commented on #736
I have created a release tag here https://github.com/dmlc/xgboost/releases/tag/0.47 from current master.

This will be checkpoint of current state before we move to the brick version.

[2016-01-15 02:07] tqchen commented on #736
@terrytangyuan @hetong007 can you check this r test error https://travis-ci.org/dmlc/xgboost/jobs/102497804#L2942 ?

[2016-01-15 02:16] terrytangyuan commented on #736
@tqchen I just ran the previous version and it passed. But it seems like to be off of the expected value by a lot. Have you changed any RNG that relate to this error? The result should always reproducible if the random seed is fixed, at least from previous version it is the case.

[2016-01-15 02:22] terrytangyuan commented on #736
If you want to bypass that, change this `tolerance` [here](https://github.com/dmlc/xgboost/blob/master/R-package/tests/testthat/test_poisson_regression.R#L13). I am not very sure why the result is not reproducible though.

[2016-01-15 03:21] tqchen commented on #736
Yes,  the PRNG has been changed since brick version.

[2016-01-15 03:43] wdlm90 opened #748 "xgboost raise xgboost.core.XGBoosgtError:std::bad_alloc when i use python-package to load data into DMatrix."
I guess it is because memory is not enough?

[2016-01-15 04:41] tqchen commented on #736
OK, I relaxed the condition, and clean up the travis to make it more tight, now things pass

[2016-01-15 04:46] tqchen commented on #748
Yes, this is because the in-memory matrix running out of memory

[2016-01-15 04:46] #748 closed

[2016-01-15 04:47] tqchen commented on #680
Maybe you can try to define your objective function, and use the customized gradient to achieve such feature. Let us move discussion to the roadmap issue

[2016-01-15 04:47] #680 closed

[2016-01-15 04:48] tqchen commented on #57
closing for now due to long time inactive of the issue, feel free to reopen when needed, proposal of directions can goes to #574

[2016-01-15 04:48] #57 closed

[2016-01-15 04:48] #545 closed

[2016-01-15 04:49] tqchen commented on #310
This is now fixed by the new refactor #736

[2016-01-15 04:49] #310 closed

[2016-01-15 04:50] tqchen commented on #297
closing for now, for CDH, see also https://github.com/dmlc/dmlc-core/issues/10, seems have a proposed solution

[2016-01-15 04:50] #297 closed

[2016-01-15 04:51] tqchen commented on #689
NO the rank is ranked within each group, you can treat each group as a list in the rank setting

[2016-01-15 04:51] #689 closed

[2016-01-15 04:52] tqchen commented on #510
see https://github.com/dmlc/dmlc-core/issues/10

[2016-01-15 04:52] #510 closed

[2016-01-15 04:52] #505 closed

[2016-01-15 04:52] #209 closed

[2016-01-15 04:53] #318 closed

[2016-01-15 04:53] #270 closed

[2016-01-15 04:54] #348 closed

[2016-01-15 04:54] #387 closed

[2016-01-15 04:55] tqchen commented on #391
random number generator is unified in #735

[2016-01-15 04:55] #391 closed

[2016-01-15 04:56] #406 closed

[2016-01-15 04:56] tqchen commented on #698
The AUC metric is only designed for binary classifiers

[2016-01-15 04:57] #412 closed

[2016-01-15 04:57] #426 closed

[2016-01-15 04:58] #427 closed

[2016-01-15 04:59] tqchen commented on #704
The program do assumes you remaps the features, so a reprocessing is needed to make the feature dimension more compact

[2016-01-15 05:00] tqchen commented on #508
Let us move roadmap issues to #574  so it can be tracked in a more easier way

[2016-01-15 05:00] #508 closed

[2016-01-15 05:01] #457 closed

[2016-01-15 05:02] tqchen commented on #457
a new release is created for most progress so far, and we will do a major release #736 soon

[2016-01-15 05:02] #442 closed

[2016-01-15 05:02] #441 closed

[2016-01-15 05:02] #446 closed

[2016-01-15 05:03] #448 closed

[2016-01-15 05:03] #459 closed

[2016-01-15 05:03] #467 closed

[2016-01-15 05:03] terrytangyuan commented on #181
Let's discuss this in the recent issue for major refactoring.

[2016-01-15 05:03] #181 closed

[2016-01-15 05:03] #477 closed

[2016-01-15 05:03] tqchen commented on #489
closing for now due to inactive status, feel free to reopen

[2016-01-15 05:03] tqchen commented on #491
closing for now due to inactive status, feel free to reopen

[2016-01-15 05:04] #509 closed

[2016-01-15 05:04] #489 closed

[2016-01-15 05:05] #491 closed

[2016-01-15 05:06] tqchen commented on #480
this might need an update of the libc, or simply install a customize compiler on user side

[2016-01-15 05:06] #480 closed

[2016-01-15 05:07] #518 closed

[2016-01-15 05:07] #532 closed

[2016-01-15 05:07] #372 closed

[2016-01-15 05:07] #366 closed

[2016-01-15 05:07] #341 closed

[2016-01-15 05:07] tqchen commented on #322
closing for now

[2016-01-15 05:07] #322 closed

[2016-01-15 05:07] #58 closed

[2016-01-15 05:08] #60 closed

[2016-01-15 05:08] #80 closed

[2016-01-15 05:08] #95 closed

[2016-01-15 05:08] #109 closed

[2016-01-15 05:09] tqchen commented on #109
Will add support for native numpy datatypes(double, float) to avoid a few spikes during conversion,

[2016-01-15 05:09] #244 closed

[2016-01-15 05:09] #158 closed

[2016-01-15 05:09] #115 closed

[2016-01-15 05:12] #183 closed

[2016-01-15 05:12] tqchen commented on #115
closing for now, we are revisiting the interface issues in the new major refactor #736 Proposal to getting staged predictions is welcomed

[2016-01-15 05:12] #449 closed

[2016-01-15 05:12] #356 closed

[2016-01-15 05:12] #349 closed

[2016-01-15 05:14] #556 closed

[2016-01-15 05:14] #566 closed

[2016-01-15 05:14] #584 closed

[2016-01-15 05:15] #601 closed

[2016-01-15 05:15] #613 closed

[2016-01-15 05:15] #625 closed

[2016-01-15 05:15] #633 closed

[2016-01-15 05:16] #634 closed

[2016-01-15 05:17] tqchen commented on #643
This was due to R's raw version limit, limiting the model size to be within 32 bit..

[2016-01-15 05:17] #643 closed

[2016-01-15 05:17] terrytangyuan commented on #726
Fixed by #730

[2016-01-15 05:17] #726 closed

[2016-01-15 05:17] #665 closed

[2016-01-15 05:19] tqchen commented on #665
I think the gain calculation can be relected to this, however, since this is a relative measure, it is also fine in current state as a relative measure.

[2016-01-15 05:21] tqchen commented on #619
closing this for now as this seems goes beyond scope of the classifier but more of feature scripting question

[2016-01-15 05:21] #619 closed

[2016-01-15 05:22] tqchen commented on #604
this is due to random seed. Normally you should not relies on random seed to get good perfmance, since this can mean overfitting. In other sense, all bindings are fully compatible

[2016-01-15 05:22] #604 closed

[2016-01-15 05:22] #603 closed

[2016-01-15 05:23] tqchen commented on #603
closing for now, also note #736 refactor gives an plugin system https://github.com/dmlc/xgboost/tree/brick/plugin to add in new loss and metrics

[2016-01-15 05:23] #596 closed

[2016-01-15 05:24] #516 closed

[2016-01-15 05:25] tqchen commented on #516
closing for now, the new refactor comes with documents on all library headers https://github.com/dmlc/xgboost/tree/brick/include/xgboost

[2016-01-15 05:25] #242 closed

[2016-01-15 05:25] #159 closed

[2016-01-15 05:26] #429 closed

[2016-01-15 05:26] #543 closed

[2016-01-15 05:26] #569 closed

[2016-01-15 05:27] #577 closed

[2016-01-15 05:27] #553 closed

[2016-01-15 05:27] #550 closed

[2016-01-15 05:28] tqchen commented on #542
It is bytes

[2016-01-15 05:28] #542 closed

[2016-01-15 05:28] #419 closed

[2016-01-15 05:28] #583 closed

[2016-01-15 05:28] #588 closed

[2016-01-15 05:30] tqchen commented on #636
We will need to make sure all index encoding remains the same, so you do need to make things consistent

[2016-01-15 05:30] #636 closed

[2016-01-15 05:31] tqchen commented on #559
I guess this is not yet supported, but can be done by utilizing the serialization into byte arrays

[2016-01-15 05:31] #559 closed

[2016-01-15 05:31] #547 closed

[2016-01-15 05:31] #646 closed

[2016-01-15 05:31] #649 closed

[2016-01-15 05:31] #661 closed

[2016-01-15 05:33] #411 closed

[2016-01-15 05:34] tqchen commented on #411
This is the sum of the second order gradient in the branch, mainly can be viewed as how many training instances goes into this branch

[2016-01-15 05:36] tqchen commented on #344
closing for now due to inactive state, you can try https://github.com/dmlc/xgboost/tree/brick which is the most recent version that comes with several fix of distributed version that can also affect external memory version.

It now runs billion scales on distributed setting without any problem

[2016-01-15 05:36] #344 closed

[2016-01-15 05:37] tqchen commented on #681
poission is already supported, there is a plugin system in to add new objectives and others which is a good start place https://github.com/dmlc/xgboost/tree/brick/plugin

[2016-01-15 05:38] #704 closed

[2016-01-15 05:39] tqchen commented on #517
The libsvm parser should now be optimized in the new version, #735  which can comes at 100M /sec

[2016-01-15 05:39] #517 closed

[2016-01-15 05:40] tqchen commented on #517
Again it is always great to hear from good experience from you, we could try to start think of direct data.frame integration given good enough proposal.

[2016-01-15 05:40] #693 closed

[2016-01-15 05:43] tqchen opened #749 "[Objective] Roadmap of Objective Functions"
This is an issue created for centralizing all discussions and proposals of new objective functions.

The new refactor comes with a https://github.com/dmlc/xgboost/tree/master/plugin system which hopefully makes adding new objectives easier.

[2016-01-15 05:43] tqchen commented on #386
move objective function proposal to https://github.com/dmlc/xgboost/issues/749

[2016-01-15 05:43] #386 closed

[2016-01-15 05:43] #451 closed

[2016-01-15 05:43] tqchen commented on #326
https://github.com/dmlc/xgboost/issues/749

[2016-01-15 05:43] #326 closed

[2016-01-15 05:44] tqchen commented on #421
https://github.com/dmlc/xgboost/issues/749

[2016-01-15 05:44] #421 closed

[2016-01-15 05:50] tqchen commented on #700
Sorry for the delayed reply. I like the idea of a wiki page, actually, a discussion thread(issue) and a page in the documentation that links to the issue might be equally good.

To answer your question. The zero derivative normally means it contributes no weight to objective, thus getting deleted, this is more like a protocol callers for outside to "delete" some of the entries.

The special data s

[2016-01-15 05:50] #700 closed

[2016-01-15 13:29] iwgitac opened #750 "minor print.every.n last value tweak"
When you use print.every.n the last round is never printed,  it would be helpful if it was:
eg. with 5000 rounds, print.every.n=100

the last output is

[4900]  val-auc:0.992700    train-auc:0.993443

and not [5000]

A very minor issue but it would be nice if it could be addressed.

Ian

[2016-01-15 13:37] iwgitac commented on #750
OK so I can see there is a start at 0 thing going on here.  Why does the number in the [] represent the start of the group and not the end of the group?  Prob. I should just learn to live with it!

[2016-01-15 15:00] jseabold commented on #310
:+1:

[2016-01-15 20:34] acamachodepass commented on #740
Using attr as in #513 solves the problem.

The number of rows of dtrain slice can either be obtained using:
a) getinfo(dtrain, 'nrow'),
b) not exported function xgb.numrow(dtrain) inside evalerror(.) https://github.com/dmlc/xgboost/blob/master/R-package/R/utils.R#L133.

xgb.numrow <- function(dmat) {
  nrow <- .Call("XGDMatrixNumRow_R", dmat, PACKAGE="xgboost")
  return(nrow)
}

[2016-01-15 20:34] #740 closed

[2016-01-15 22:05] yitang opened #751 "Make deepcopy compatible with pickle"
Hi, I wonder if there is a way to make a copy of trained xgboost model in python?

I tried to use the `deepcopy` from the copy module but an error.

Here is a minimal reproducible code. Note the `deepcopy` works fine with `sklearn`.

[code]

This is the error I got

    TypeError                                 Traceback (most recent call last)
    <ipython-input-44-686b0a861939> in <module>()

[2016-01-16 00:22] tqchen commented on #751
could due to deep copy's implementation was not standard https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/core.py#L646 you can add a memo argument to the functions, it would be great if you can send a PR to fix this

[2016-01-16 04:40] tqchen commented on #736
The R-package has been updated to fix  the PRNG and the console issue. @hetong007 seems there are a few checks in the R side which we can fix in the future.

[2016-01-16 04:41] tqchen commented on #736
I also updated
https://github.com/tqchen/xgboost/blob/brick/doc/build.md to contain instructions on build on windows and linux. We now support mingw build. which might help some windows users to get rid of msvc

[2016-01-16 04:43] tqchen commented on #736
@hetong007 @terrytangyuan I think the R package should be ready to go. Please check the new instruction in https://github.com/dmlc/xgboost/tree/brick/R-package  works on the systems you have. note we need ```install_git```

I would also need you guys to setup the drat repo. @thirdwing can you help on this, or give some advice on how it can be done?

[2016-01-16 04:51] terrytangyuan commented on #736
@tqchen Awesome! Yes it's working on my mac.

[2016-01-16 08:51] aikinogard commented on #744
I have the same problem here. The evals_result is empty.

[2016-01-16 18:42] tqchen opened #754 "[Vote] Centralized Places for Links to Resources Tutorials Blogposts"
There has been a lot of use-cases on xgboost now and unfortunately it is quite hard to catch up with all of them. We only have a few in https://github.com/dmlc/xgboost/blob/master/doc/index.md#highlight-solutions that is not up to date.

I hope we can create something like https://github.com/josephmisiti/awesome-machine-learning/blob/master/README.md as a complete list of resources(tutorials, blog

[2016-01-16 18:43] tqchen commented on #754
@terrytangyuan @pommedeterresautee @hetong007 @phunterlau

[2016-01-16 19:54] tqchen commented on #736
I added a similar rmarkdown online hosting script as in mxnet https://github.com/dmlc/xgboost/tree/brick/doc/R-package

@pommedeterresautee @hetong007 can you update the links to rmarkdowns(I think we can include another one from otto challenge example). Also please check the original Rmarkdown, which seems to breaks in some usages.

One note on writing rmarkdown(please only use the first level he

[2016-01-16 19:56] tqchen commented on #736
Now everything except the drat workflow finishes, we will merge brick version to master in next week

[2016-01-17 08:02] phunterlau commented on #754
We can also think of adding an 'awesome-xgboost' page to our future dmlc.ml website (which is currently under construction, I need to push the offshore dev team one more time) We can start collecting some awesome ones for this page, and later on the website backend can import the .md file.

[2016-01-17 10:26] yitang commented on #751
It takes me long time to figure out what's wrong and fix it as I am not experienced in Python/C++. Hopefully someone has the same needs fix it sooner. I've found a workaround so this issue is urgent.

Sent from my iPad

[2016-01-17 10:42] Far0n commented on #744
Do you have the latest xgb version? There was a wrong regular expression, which caused empty *evals_result*, but it should be fixed. with latest xgb (compiled from sources), py 2.7.10 @ Windows I got:

{'train': {'error': ['0.081579', '0.084924']}, 'eval': {'error': ['0.08298', '0.08687']}}

[2016-01-17 10:46] Far0n commented on #739
Hey yitang,

this is a good suggestion.

As a side note: it doesn't matter if u call your param "eta" or "learning_rate" in the python wrapper. It is not documented (at least I'm not aware of), but the core part of xgb just scans the params for known names.

[2016-01-17 11:02] Far0n commented on #729
I'm considering making a PR for python.

[2016-01-17 13:18] pommedeterresautee commented on #754
Regarding idea of @phunterlau it makes sense to group everything in the same place (easier for the users).
I vote for option 1 which is the most natural place I expect to find examples/good practices.

[2016-01-17 14:43] terrytangyuan commented on #754
That's a very good idea. I have no problem with a web page for this but eventually we'll import them to demo, which I think is a better place. Resources still sound confusing to me, e.g. sounds like resources need for the program itself instead of learning resources. Demo would be more intuitive to me.

[2016-01-17 17:28] tqchen commented on #751
It should be quite easy, by changing the line i mentioned to standard deepcopy function required by python

[2016-01-17 18:35] derek-damron commented on #729
Go for it @Far0n!

[2016-01-18 08:11] giuseppec commented on #486
Here is a tutorial how to do this with mlr in general: https://mlr-org.github.io/mlr-tutorial/devel/html/partial_prediction/index.html
Of course you can also do this using xgboost as learner in mlr:

[code]

![pd](http://i.imgur.com/NHhUIzo.png)

[2016-01-18 14:02] d07RiV opened #756 "setup.py does not find the DLL on windows"
The VS project seems to be configured to build the library in `windows/x64/Release/xgboost_wrapper.dll`, but setup.py only checks `windows/release/xgboost_wrapper.dll`. Moving it to a different directory works, of course.

[2016-01-18 14:04] #756 closed

[2016-01-18 15:36] aewhatley opened #757 "XGBClassifier has no attribute get_fscore"
It looks like XGBClassifier in xgboost.sklearn does not have get_fscore, and it does not have feature_importances_ like other sklearn functions do. I think that some kind of feature importance metric should be incorporated into this model, or if it does exist, should be better documented.

[2016-01-18 22:10] phunterlau commented on #756
I think setup.py checks both according to <https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/libpath.py>

[code]

[2016-01-19 15:28] d07RiV commented on #756
Sorry I didn't realize I was trying to install it on a 32-bit python version :)

[2016-01-19 16:49] Temmplar opened #758 "Any option to the retrieval of model parameters from model file, was used at training?"
Any option to the retrieval of model parameters from model file, was set at training i.e. e.g. 'colsample_bytree'?

[2016-01-19 17:28] tqchen commented on #754
Let us use demo/README.md then, given the opinions we collected so far.

@terrytangyuan can you lead the effort on bring it together? We will need to create some kind of index in the beginning, and add the resources we know to it. Thanks!

[2016-01-19 17:28] #754 closed

[2016-01-19 17:29] tqchen commented on #746
The new version is now merged into master #759  with a mingw solution.
However, there is not yet cmake solution yet.

[2016-01-19 17:29] tqchen commented on #736
The new version is now merged into master. I will open new issues for the leftovers

[2016-01-19 17:29] #736 closed

[2016-01-19 17:31] tqchen opened #760 "[R-package] Fix Rmarkdown compilation"
This might due to recent updates in interface, there are a few errors in the rmarkdown compilation here https://xgboost.readthedocs.org/en/latest/R-package/index.html

@pommedeterresautee can you look into it and update these. See how to compile the rmarkdown in https://xgboost.readthedocs.org/en/latest/dev-guide/contribute.html#r-package

[2016-01-20 05:09] trazom21 opened #762 "Missing values in xgb.create.features"
I found the new function xgb.create.features very useful. However, I wonder if it would be interesting to add a parameter to specify how to account for coding of missing values.

[2016-01-20 05:28] #762 closed

[2016-01-20 10:37] pommedeterresautee commented on #760
@tqchen I have some difficulties to compile the project on my Windows 8 machine.

[code]

I will try this sunday on my Linux machine.

Kind regards,
Michaël

[2016-01-20 13:29] bzEq commented on #749
what does objective function mean(the link above is not valid any more)? like delegate in C#?

[2016-01-20 13:36] terrytangyuan commented on #760
I encountered the same error:
[code]
@tqchen Last time I was executing the same `devtools::install_git('git://github.com/dmlc/xgboost',subdir='R-package')` but it's actually installing the version on master so the installation actually didn't succeed on mac. Maybe there's something I missed.

[2016-01-20 17:55] tqchen commented on #760
The master version should be ready. Could due to not up to date version of devtools, we need a recursive clone to get the submodules. Try
[code]

[2016-01-20 17:56] tqchen commented on #760
@pommedeterresautee You will need to recursively clone the submodules as well, and we should add this note to installation guide. You can open a git shell, and do

[code]

[2016-01-20 19:16] enedene opened #764 "Makefile:29: dmlc-core/make/dmlc.mk: No such file or directory make: *** No rule to make target 'dmlc-core/make/dmlc.mk'."
There is a problem with compiling. It must have been introduced recently, as I successful in installing xgboost a week ago.

`git clone https://github.com/dmlc/xgboost.git`
`cd xgboost`
`make`

returns:
`Makefile:29: dmlc-core/make/dmlc.mk: No such file or directory`
`make: *** No rule to make target 'dmlc-core/make/dmlc.mk'.  Stop.`

[2016-01-20 19:33] tqchen commented on #764
We need a recursive clone, see https://xgboost.readthedocs.org/en/latest/build.html#building-on-ubuntu-debian

[2016-01-20 21:02] enedene commented on #764
Thank you. I was not aware of a change.

[2016-01-21 06:35] StevenLOL commented on #99
Same error for scipy.sparse.csr.csr_matrix'
[code]

[2016-01-21 11:08] spedygiorgio opened #765 "remove dependency from "Ckmeans.1d.dp""
Hi, in order to plot the feature importance plot the dependency from Ckmeans.1d.dp could be removed and the function rewritten internally...

[2016-01-21 12:14] SamDM commented on #760
I am having the same compilation error, @tqchen , I tried your solution without succes.

[code]

Maybe the recursive argument isn't passed to git?

[2016-01-21 12:42] saturosfz opened #766 "Failed to load model using C wrapper"
I saved the model with python using bst.save_model, and load the model in C using XGBoosterLoadModel, but the loading crashes. The C api is in x86, and I tried to save the model under x86 and x64, but didn't work. The loading works under python. I used xgboost 0.47 release version. Anyone who knows the problem or lets me know how to use C wrapper? It seems there is no intruction for it. Thank you!

[2016-01-22 07:59] gouchaoer opened #769 "old wrong path in boost.sln lead to xgboost4j project failed to open in visual studio solution"
I try to compile xgboost4j project in visual studio. But when I open xgboost/windows/xgboost.sln, I find that xgboost4j failed to load.
The reason is that the old wrong path in the xgboost.sln.

[2016-01-22 13:14] pommedeterresautee commented on #760
@tqchen indeed, it fixes my issue. Thanks.

@SamDM just for test, try to clone the repository in a new folder, it will have updated submodules.

[2016-01-22 18:42] lizsz opened #771 "make on Windows has failed"
Windows 7x64 Ultimate

Makefile:32: no file name for `include'
g++ -std=c++0x -Wall -O3 -msse2  -Wno-unknown-pragmas -funroll-loops -Iinclude   -Idmlc-core/include -Irabit/include -fopenmp -MM -MT build/c_api/c_api.o src/c_api/c_api.cc >build/c_api/c_api.d
g++ -c -std=c++0x -Wall -O3 -msse2  -Wno-unknown-pragmas -funroll-loops -Iinclude   -Idmlc-core/include -Irabit/include -fopenmp -c src/c_api/c

[2016-01-22 18:43] tqchen commented on #771
Please Check out the instruction on how to build in Windows on the
documentation page.

On Fri, Jan 22, 2016 at 10:42 AM lizsz <notifications@github.com> wrote:

[2016-01-22 18:50] thirdwing commented on #771
I think you are using a MinGW with win32 threading model. Please try the one with posix threading.

[2016-01-22 19:10] brickerino opened #772 "Yarn allocated physical memory exceeding."
Hi.

I'm trying to run xgboost on CDH hadoop cluster, With small dataset it works fine, but with more real dataset about 3GB in total size i get error:
INFO dmlc.ApplicationMaster: [DMLC] Task 0 killed because of exceeding allocated physical memory

All values in Yarn memory config is not less than 1GB, except 'Client Java Heap Size in Bytes' (it's about 800MB).

Yarn logs:
http://pastebin.com/s1w

[2016-01-22 19:13] tqchen commented on #772
Try increase the allocation of memory you need to each of the yarn jobs .
By specifying the memory option in submission script. Each worker need to
store their part of data in memory
On Fri, Jan 22, 2016 at 11:10 AM brickerino <notifications@github.com>
wrote:

[2016-01-23 07:22] inoddy opened #773 "Make on Windows fails"
I have in the past compiled on Windows OK but today I get this with RRO:

* installing *source* package 'xgboost' ...
** libs
cp -r ../../src .
cp -r ../../rabit .
cp -r ../../dmlc-core .
cp -r ../../include .
cp -r ../../amalgamation .
g++ -m64 -std=c++0x -I"C:/PROGRA~1/Microsoft/MRO/R-3.2.3/include" -DNDEBUG -I.//include -I.//dmlc-core/include -I.//rabit/include -I./ -DXGBOOST_STRICT_R_MODE=1 -D

[2016-01-23 11:07] yitang commented on #751
@bzEq Thanks!

[2016-01-23 11:07] #751 closed

[2016-01-23 20:19] thirdwing commented on #773
You are using devtools, right?

This should be the same problem  with #760 .

[2016-01-23 21:03] inoddy commented on #773
Yes devtools. Yes same issue as #760. I didn't realise that RMarkdown was relevant to my problem.

I tried the fix

devtools::install_git('git://github.com/dmlc/xgboost',subdir='R-package', args='--recursive')

but that produced the same error plus a new warning

In addition: Warning message:
`args` is deprecated

So I'm still stuck.
Rtools33

[2016-01-23 23:34] thirdwing commented on #773
I think the easiest solution for your situation is

[code]

Let me know if it doesn't work.

[2016-01-23 23:38] thirdwing commented on #760
@SamDM `args` has been deprecated in `devtools`. Try the code below:

[code]

[2016-01-24 01:16] inoddy commented on #773
That worked - but did it install the latest xgboost from github? It printed the line

trying URL 'https://cran.revolutionanalytics.com/src/contrib/xgboost_0.4-2.tar.gz'

so it looks to me to be the CRAN rather than the github version and all I did was compile it

[2016-01-24 01:55] thirdwing commented on #773
Sorry for this. I forgot to update the version number.

It is the weekly build host at http://dmlc.ml/drat/

You can install it by

[code]

[2016-01-24 02:44] inoddy commented on #773
That worked. It installed

trying URL 'http://dmlc.ml/drat/src/contrib/xgboost_0.4-2.tar.gz'

Thanks for the speedy replies!

[2016-01-24 07:55] Far0n commented on #729
@terrytangyuan Is it fine to rely on sklearn for implementing the stratified cv? So here is what I would like to do:
a) adding two new parameter to xgb.cv *stratified* and *folds* (just like in R)
b) setting stratified=False as default to keep the current behavior.
c) checking sklearn if sklearn is installed as soon as stratified=True and printing a warning if that is not the case
You can then pas

[2016-01-24 15:10] terrytangyuan commented on #729
@Far0n I am not sure if we want to rely on sklearn for stratified cv. @tqchen What do you think?

[2016-01-24 17:02] thirdwing commented on #760
This has been fixed.

The error in markdown is not due to the change in interface.

You need to `require(methods)` manually when using `Rscript` in command line. `Rscript` doesn't load any default packages.

[2016-01-24 17:19] #760 closed

[2016-01-24 17:19] #773 closed

[2016-01-24 19:23] yifanxie opened #775 "Question with weighted sample"
Dear XGB team:

Once again thanks for developing and maintaining this excellent package, and it has immense contribute to my adventure on Kaggle competition. I am not a specialist in machine learning algorithm, but am really keen to be a better "operator" of XGB, so I hope it is ok to ask a few technical question here that is related to weighted sample.

How does the "weight" keyword in DMatrix fu

[2016-01-24 19:59] flyingdisc opened #776 "xgboost_R.cc:2:26: fatal error: dmlc/logging.h: No such file or directory"
Latest commit 25 January 2016, R,
devtools::install_git('git://github.com/dmlc/xgboost', subdir='R-package')

There is no /dmlc folder in the /include folder.
In the xgboost_R.cc,
#include &lt;dmlc/logging.h&gt;
#include &lt;dmlc/omp.h&gt;

Am I missing something?
Thanks a lot.

[2016-01-24 23:01] thirdwing commented on #776
`devtools` doesn't support the submodule in github.

So if you really need the latest version, please clone the repo to your computer and build it.

For weekly updated version, please try the following code.

[code]

[2016-01-24 23:06] ganesh-krishnan opened #777 "Compilation problems with R Package"
I'm trying to build the R package from source. I've cloned the github repository to my local computer. I'm trying to build using the command:

[code]

When this command is executed, it fails when building package vignettes, like so:

[code]

The relevant line from discoverYourData.Rmd is:

[code]

Any pointers on how to solve this will be appreciated. Thanks!

[2016-01-25 01:00] flyingdisc commented on #776
@thirdwing, thank you.

[2016-01-25 01:00] #776 closed

[2016-01-25 07:03] yilaguan opened #779 "git clone the latest version but not v0.47"
when I try to use this package using git clone command lines in ubuntu, but find the version is v0.4 rather than v0.47. Can you please answer this questions?

[2016-01-25 07:47] juvleo opened #780 "Issue in installing xgboost on mac using Canopy"
I am using Canopy (Version 1.5.5 64bit) on a Mac.  Trying to get xgboost to work but keep having these errors.  I followed the steps at https://github.com/dmlc/xgboost/blob/master/doc/build.md
Specifically,
1. I opened Terminal, typed: git clone --recursive https://github.com/dmlc/xgboost
cd xgboost; cp make/minimum.mk ./config.mk; make -j4
2. In Terminal, I typed: cd python-package; sudo python s

[2016-01-25 08:26] phunterlau commented on #780
install scikit-learn firstly

[2016-01-25 13:36] yifanxie commented on #717
About a few weeks ago, I thought I had the same issue you reported, that XGB got stuck after running on a long cv session on windows with rstudio.

then last week I realised that even for a long but "normal" for loop, my rsession will also get stuck after 3-4 hours running.

I am more thinking this is a issue with rsession memory management, perhaps others have similar experience?

[2016-01-25 14:16] brickerino commented on #764
Could you please update wormhole making rules accordingly? It uses just 'clone' and gets the same error.

[2016-01-25 14:52] JohanManders opened #781 "Early stopping in Python for AUC wrong"
Sorry, my bad.

[2016-01-25 15:51] davidgasquez commented on #757
Hi! Today I ran into the same issue and this is the workaround I made to get the `feature_importances_` like **sklearn** ensemble methods.

[code]

I didn't figured out how to get the number of initial features(this would simplify this child class) without implicitly passing it to the class constructor.

With this class you can run [`sklearn.feature_selection.SelectFromModel`](http://scikit-learn.

[2016-01-25 15:53] #781 closed

[2016-01-25 15:56] thirdwing commented on #717
@yifanxie if you can provide a reproducible case. I might have time to look into it.

The difference of R memory management on Windows and Linux is very minor.

[2016-01-25 16:55] brickerino commented on #772
Yes, it helped, thank you.

So, as i understand, 'external memory' option and 'distributed' option are independent? I can run both EM and RAM-memory version on both cluster and local machine, right?

Are there some requirements on memory volume for external memory version? Does it need some constant moderate volume, or does it still need some volume proportional to dataset size?

[2016-01-25 17:42] juvleo commented on #780
I did already install scikit-learn, but thanks it is working now.
The solution was that I needed to restart Canopy...

[2016-01-25 17:46] #780 closed

[2016-01-25 18:33] tqchen commented on #772
Yes, you can run external memory with distributed. We still need to save some meta data in memory(gradient statistics) so it still east more ram as you add more rows. However, all other data will sit on the disk cache. So you should be safe to get say 100m rows per machine

[2016-01-25 19:42] ronmexico2718 commented on #717
Thanks @yifanxie and @thirdwing for looking into this.  At the top of the thread I provided a reproducible example of this issues.  The code does take quite a long time to run.  Unfortunately, this is necessary.  I only receive this issue when running relatively intense computation for a long time period

[2016-01-26 01:51] luoruisichuan opened #782 "about the input data of xgboost model"
Mr. Chen,
     I use xgboost train the model, the command is
bst <- xgboost(data = x, label = y, max.depth = 2, eta = 1, nround = 10, objective = "binary:logistic")

the x is a matrix, and head(x) is
 BBBFCALLING     BBBFCALLED        BBFCALLING      BBFCALLED       BFCALLING
  "  34"                      "  26"                        "  62"                    "  43"                   "  46"
  " 2

[2016-01-26 06:55] vikasnitk85 commented on #92
Hi,

There is a parameter prediction=TRUE in xgb.cv, which returns the prediction of cv folds. But it is not clear from the document that for which nround, the predictions are returned?

[2016-01-26 21:50] brendano commented on #764
I just got the same error.  I was following the directions listed on dmlc/wormhole which led to the error.  Good thing I found this otherwise I would have given up trying to get started.

[2016-01-27 06:15] myloginid opened #783 "Can I retreive the AUC from the xgboost train object"
Hi,

This is more of a question and not a bug and maybe a feature request.

xgboost prints the train and valid auc's / rmse's etc on the screen. Can we have a way to retrieve the auc or rmse from the train object? Currently  the print/summary dosent have this. Also the object has only raw data and the call. It does not have the metrics. Can you pls add this feature.

clf = xgb.train(
    data

[2016-01-27 06:22] hetong007 opened #784 "New CRAN submission with bugs fixed"
I received an email from Prof. Ripley saying

I suggest that we make a new submission with it fixed and all the new improvements to CRAN.

[2016-01-27 06:47] tqchen commented on #784
Let us do a quick fix on the previous CRAN packages, to remove the extern C blocks in the xgboost_R.h

The current version of xgboost need more work to be carefully tested before submit to CRAN due to compatiblity of c++11 compilers

[2016-01-27 18:45] peemblis opened #785 "Fatal Error when Training on DMatrix from Loaded R Workspace"
I load an R Workspace into RStudio on Windows 64-bit. The workspace contains DMatrices that I've saved from a previous session. When I train an xgboost model on this (e.g., xgb.train() or xgb.cv()), R-Studio crashes and forces me to restart.

Error message with popup window: "R encountered a fatal error. The session was terminated."

So I have to start a new session. I have not been able to succes

[2016-01-28 04:23] zfrenchee opened #786 "What does CV do?"
I'm having an issue where `CV` dramatically outperforms my trained model. I'm using the python package.

If I take a matrix and pass it to `CV`, I'm told there's less than 2% test error. If I divide up the data set on my own and run `train` I get 27% test error. `CV` isn't particularly well documented, and I'm wondering what exactly that function does. I've asked [my question on stackoverflow](htt

[2016-01-28 04:30] terrytangyuan commented on #786
My questions:
1. How did you split out your hold-out dataset?
2. Is it highly imbalanced class? If so, accuracy is probably not the appropriate metric to use.

[2016-01-28 04:50] terrytangyuan commented on #783
You can put the things you want to retrieve in `watchlist`. We currently have `evals_result` but somehow forgot to return it. Not sure about the best way to do it yet in order to be backward compatible. Feel free to submit a PR or work on a forked copy to get those info just to achieve your own purposes up quickly.

[2016-01-28 10:09] pommedeterresautee commented on #782
Is it a Matrix of numeric? Or character?
You need to provide a matrix of numeric type.

Kind regards,
Michaël

[2016-01-28 13:39] myloginid commented on #783
Thanks for taking this as a feature request.
Note -  I am using R and not Python. In R also this feature is not available.

[2016-01-28 13:42] myloginid opened #787 "xgboost on Cygwin"
Using pip install xgboost, we can install xgboost on cygwin python. But when its invoked it gives the below error.

calvin@Calvin-PC ~/R/kaggle_homesite
$python homesite.py
Traceback (most recent call last):
  File "homesite.py", line 8, in <module>
    import xgboost as xgb
  File "/usr/lib/python2.7/site-packages/xgboost/**init**.py", line 11, in <module>
    from .core import DMatrix, Booster

[2016-01-28 15:42] zfrenchee commented on #786
The split is not even: about 1/4 of the training examples are positive class, 3/4 negative examples.
In order to create the hold out dataset I pulled evenly from positives and negatives, cutting each in half, meaning both the training set and the holdout set are the same size, and both are 1/4 positive, examples, 3/4 negative examples.

[2016-01-28 18:11] terrytangyuan commented on #783
Okay I see. If it's Python, you can actually use the sklearn wrapper and there's a function `eval_result` you can use to get those values. https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/sklearn.py#L381

[2016-01-28 21:19] terrytangyuan commented on #784
BTW, have you increased the version number for R package before submitting it? It's hard for users to tell whether the version they installed is most up-to-date.

[2016-01-28 23:37] rafael-hantoush opened #789 "boosting prom existing prediction"
I tried to use the same code in the following demo [xgboost/demo/guide-python/boost_from_prediction.py](url).

But I got an error  in the following line dtrain.set_base_margin(ptrain).
          TypeError: only length-1 arrays can be converted to Python scalars.

It works when I removed output_margin=True from **ptrain = bst.predict(dtrain, output_margin=True)  but then i get another error when i

[2016-01-29 12:10] firstboy0513 commented on #764
# in wormhole home directory
cd ./repo/xgboost
cp -rf ../dmlc-core/* dmlc-core/

# git clone your rabit and complier it
cd ./repo/xgboost
git clone https://github.com/dmlc/rabit.git
cd ./rabit && make && cd -

g++ -std=c++0x -Wall -O3 -msse2 -Wno-unknown-pragmas -funroll-loops -Iinclude -Idmlc-core/include -Irabit/include -fPIC -DDISABLE_OPENMP -shared -o lib/libxgboost.so build/learner.o build/lo

[2016-01-29 14:57] thirdwing commented on #764
@firstboy0513  What about trying `brew install clang-omp`?

[2016-01-29 17:35] #772 closed

[2016-01-29 20:50] Far0n commented on #729
any news? ^^

[2016-01-29 21:22] terrytangyuan commented on #729
@Far0n Yeah I think you can go ahead and do it so we can discuss details from PR. Just make sure it's backward compatible and keep behavior consistent with R.

[2016-01-29 21:27] Far0n commented on #729
@terrytangyuan .. but making the behavior consistent with R would change the current python default behavior, 'cause to my best knowledge stratified=true is the default setting for R. So, it is ok to set  stratified=True as default for python as well?

[2016-01-29 21:30] terrytangyuan commented on #729
@Far0n ok just set it to False for now and we'll see how users feel about it later on.

[2016-01-29 21:35] Far0n commented on #729
@terrytangyuan roger that :)

[2016-01-30 07:45] matrixIszzl opened #790 "Setting AdaBoostClassifier's base_estimator=xgb.XGBClassifier will get error. How to solve it"
**For example the code is following:**
clf = AdaBoostClassifier(
            n_estimators=20,
            # algorithm='SAMME.R',
            learning_rate=0.05,
            base_estimator=xgb.XGBClassifier(n_estimators=50, scale_pos_weight=0.1, max_depth=8,
                            objective='binary:logistic', learning_rate=0.02,
                            gamma=0.1, min_child_weight=3, reg_la

[2016-01-30 07:48] firstboy0513 commented on #764
Thanks @thirdwing , A good advise to use clang-omp, but now some symbols links error, I'll try to re-complie it later.
[code]

[2016-01-30 15:11] thirdwing commented on #764
@firstboy0513 Have you `make clean_all`?

[2016-01-30 18:26] zy1369834 opened #791 "xgboost import error in windows python"
Hi,

I have installed xgboost in my  python 2.7.11 (windows 8.1, 64bit) by following guide from github. This procedure is smoothly and successful. But when importing xgboost, os.winerror 193 appears. The detail is below:
![image](https://cloud.githubusercontent.com/assets/7645535/12697545/1310344a-c787-11e5-92f2-bf6919a61570.png)

i also tried other python version, still not work. Hope you can hel

[2016-01-30 18:44] Temmplar commented on #744
@Far0n Thank you, it was really a version problem.

[2016-01-30 18:44] #744 closed

[2016-01-30 20:47] thushv89 commented on #791
Hi,

I got the same error because I ran "make" after removing the flag "-m64" from the makefile (config.mk) check whether you have that in the makefile

[2016-01-30 22:09] zy1369834 commented on #791
My config.mk file has '-m64'. No matter removing that or not, the same error occurs when try to import. But I notice some warnings during setup. Just wander whether it s the reason.
![image](https://cloud.githubusercontent.com/assets/7645535/12698784/801d88f2-c7a6-11e5-92f2-d79789823806.png)

[2016-01-30 23:43] tqchen commented on #791
If you are using 32 bit python, try to remove -m32, remember to type
[code]
before you build again

[2016-01-30 23:46] tqchen commented on #775
The weight is presented per-instance, and you can also use the weight to specific weight of each instance for multi-class classification

[2016-01-30 23:46] #771 closed

[2016-01-30 23:47] tqchen commented on #758
These are training parameters that are not specific to tree ensemble model and they are not recorded in the model file.

[2016-01-30 23:47] #758 closed

[2016-01-31 08:07] thushv89 commented on #791
Clearly this is a 32-bit/64-bit incompatibility. I got around this with visual studio (but for a version 0.4)
If the above doesn't work. See if this helps. I couldn't get it to work with any of the make tools.
[kaggle post](https://www.kaggle.com/c/otto-group-product-classification-challenge/forums/t/13043/run-xgboost-from-windows-and-python)

also, if that's not clear, I wrote a more detailed blo

[2016-01-31 14:34] zy1369834 commented on #791
Yeah, great. Indeed it is a 32bit/64bit incompatibility problem. I reinstall python 2.7 with 64bit version, then it works. Thank all of you for helping me!

[2016-01-31 19:43] Aelvangunduz opened #792 "Windows Branch Seems Missing"
I wanted to install XGBoost on a Windows machine but the https://github.com/dmlc/xgboost/blob/master/windows link in instructions is missing. I checked other files as well and can't seem to find required .dlls. Is its development discontinued?

[2016-01-31 20:09] vykhand opened #793 "Ability to save models from xgb.cv"
Dear developers,

I believe I am speaking on behalf of many Kaggle competitors when saying we would _love_ to have a feature to save models trained by xgb.cv.
Currently one has to re-run xgb.train in order to get a model. It would be lovely to also be able to save all k best models trained on the different folds.

Would you consider adding this feature?  I was looking into adding it myself for the

[2016-01-31 20:29] davutpolat commented on #792
try this one,

https://xgboost.readthedocs.org/en/latest/build.html#building-on-windows

[2016-01-31 23:37] thushv89 commented on #792
xgboost is switching to using make for building in windows. You can read about this in
https://github.com/dmlc/xgboost/issues/736

If you want to build it in windows with MSVS, you can checkout the 0.4.0 (old) version. it has the windows folder directly inside the root_folder.

[2016-02-01 11:55] iwgitac opened #796 "xgb.create.features memory usage question/issue?"
Is this my fault (for possibly not using a sparse matrix) or a problem inside create feature?  tra is approx. 250,000x250

Thanks for your feedback.

[2016-02-01 14:20] iwgitac commented on #796
I think maybe there are some limitations here: I've put the matrix in the preferred format but still run out of Gas...
tra2<-Matrix(data.matrix(tra),sparse=TRUE)

[1] "dgCMatrix"
attr(,"package")
[1] "Matrix"

Error: cannot allocate vector of size 9.7 Gb
etc

Any ideas?

[2016-02-01 16:56] tqchen commented on #792
As a reminder, we are also actively for helps to  get back VS build via CMake. via https://github.com/dmlc/xgboost/issues/746

[2016-02-01 18:36] trazom21 opened #797 "Compilation Error from install_git"
Hi,

Thanks for this awesome package !

When I try to install xgboost using the command: _devtools::install_git('git://github.com/dmlc/xgboost',subdir='R-package')_, the compilation fail with an error: xgboost_R.cc:2:26: fatal error: dmlc/logging.h: No such file or director

Best

C.

[2016-02-01 23:36] iwgitac commented on #796
This problem is not primarily caused by my data matrix but by an attribute of the model.  If I use train rounds=50, 500 or 2000 the command runs but when I have trained to my target of 5000 round I get the out of memory error above.  I would also note that even when it worked it reduced not improved that accuracy of the subsequent model so it needs used with care.

[2016-02-02 02:26] jraju9 opened #798 "Compiling on Win 10 64 bit with MinGW fails"
Hello XGB Team,

Thanks for the great package.. Can you please help me resolve this issue? When I try to compile the package using MinGW, I get the following errors.

![make error](https://cloud.githubusercontent.com/assets/6312103/12737890/1fba8c96-c92a-11e5-9896-bee113601261.png)

Thanks,
Jai

[2016-02-02 03:43] ronmexico2718 opened #799 "base_score default"
At least in the R package, it seems that the base_score defaults to 0.5.  For a classification problem, this seems to be a reasonable choice.  However, this strikes me as a bizarre choice for a regression problem.  Would it make more sense to set base_score=mean(label) by default?  This choice might even be an improvement over the default in both regression and classification settings.

If the lea

[2016-02-02 10:59] sdgroeve commented on #721
This bug is marked as "Python-Package", but if i look at the python code then the dump method is just dumping what the C code is dumping. So it must be a bug in the dump method of the actual C code.

Also, as the feature importance scores are computed from this dump these must be wrong as well...

I hope someone can fix this model dump bug.

[2016-02-02 17:14] tqchen commented on #721
The problem was the gap between the missing value vs. the zeros. Previously in python packages zeros are treated as missing and goes into the missing path.

This is now only true for sparse matrices, and for dense matrices, zero is now treated as zero

[2016-02-02 17:14] #721 closed

[2016-02-02 17:18] tqchen commented on #798
seems due to inconsistency of mkdir command https://github.com/dmlc/xgboost/blob/master/Makefile#L97

Try to remove -p, see also instruction here  http://xgboost.readthedocs.org/en/latest/build.html

[2016-02-02 17:21] tqchen commented on #799
Normally the choice of base_score won't affect final performance that much as long as enough steps are run.  But I agree that allowing setting it to mean(label) could be helpful in some cases.

[2016-02-02 17:22] tqchen commented on #797
Try to install from drat repo instead, follow instruction here https://github.com/dmlc/xgboost/tree/master/R-package

[2016-02-02 17:28] ronmexico2718 commented on #799
Agree that the effects should be minimal.  I'll run some tests when I have some time

[2016-02-02 20:19] jiacheliu3 opened #802 "Error running in Java: /lib/xgboost4j.dll was not found inside JAR"
Hi!

Thanks for the great tool. I'm trying out xgboost for Kaggling but came across this problem with the demo.

I imported the projects as Existing Maven projects since I saw pom.xml. When running any of the classes an IOException occur saying I don't have the xgboost4j.dll. I found the dll nowhere in the package from git. May I know how I'm supposed to generate the dll and where to put it please

[2016-02-02 20:36] JasonTam opened #803 "XGBClassifier label encoding eval_set"
Currently, a label encoder is used on the training labels passed into `XGBClassifier.fit()`; however, the labels in the optional `eval_set` are left untouched. This can cause incorrect evaluation or a dead kernel.
I see two reasonable options:
1. Always use the label encoder fit on training labels for the labels in the eval_set
2. Have a flag to do this automatically or leave the raw labels in the

[2016-02-03 01:14] sachinruk opened #804 "xgboost on dummy variables"
Hi there,

It seems that all the splits are coming out as negative numbers (-1.00136e-05 to be exact) for my dataset containing dummy variables (0 or 1 valued only). I have raised the issue [here](http://stats.stackexchange.com/questions/193617/machine-learning-on-dummy-variables?noredirect=1#comment368146_193617) and would be great be great if you can answer it on stackexchange.

Is the algorithm

[2016-02-03 03:47] jraju9 commented on #798
Dear Tqchen,

Thank you very much for your response. I tried a couple things (removing -p, make clean_all, clone the whole directory and build) none of them seem to be working. Can you please look at this error and help?

Also, if I need to just build the libxgboost.dll, is there a target I can call and not include all the other distributions?

Very thankful for your support.
Jai

![image](https:/

[2016-02-03 06:52] khotilov commented on #799
For highly imbalanced data, I sometimes restrict max_delta_step to smaller
values. And then it is not so rare to see xgboost struggling for several
iterations to produce any improvement. But the learning progress is much
better if I provide a meaningful initial base_score value. So, having an
adaptive initialization for it would definitely be useful.

On Tue, Feb 2, 2016 at 11:28 AM, ronmexico2718

[2016-02-03 11:25] trazom21 commented on #797
Thanks,
Finally I forked it. And compile directly on my own computer. Works fine.
C.

[2016-02-03 11:25] #797 closed

[2016-02-03 11:27] berzjackson commented on #779
It seems they simply forgot to update the version number during the last release.
I suggest adding a script that can keep the version numbers from different corners of the project in sync. A reasonable candidate would be https://github.com/peritus/bumpversion.

[2016-02-03 11:57] berzjackson commented on #779
Just realized that the git tag is incorrect as well. Should be v0.47 instead of 0.47. These are minor issues, but can be confusing when someone expects everything is in consistency.

[2016-02-03 14:32] arranger1044 opened #805 "Serializing Booster objects seems to forget 'best_ntree_limit' (python)"
I've trained a `Booster` model in python, using a validation set and enabling early stopping.
While still in memory, I am able to access the attribute 'best_ntree_limit' indeed.
However, after I serialize the object with the method `save_model`to file, and then I try to load it back with:

    model = xgb.Booster(model_file=model_path)

an Exception is thrown when I try to access  'best_ntree_limi

[2016-02-03 17:19] tqchen commented on #805
This is expected behavior for current version, as best_ntree_limit is a language specific property that is not stored in the model object. And save_model saves an language invariant model that can be loaded by other languages

[2016-02-03 18:02] tqchen commented on #779
Sounds a  valid suggestion, we will switch to the versioning without the v in next release, thanks

[2016-02-03 18:02] #779 closed

[2016-02-04 04:50] sachinruk commented on #804
Solution was to upgrade to latest version on github using devtools. See here: http://stats.stackexchange.com/questions/193617/machine-learning-on-dummy-variables

[2016-02-04 04:50] #804 closed

[2016-02-04 04:57] sachinruk opened #806 "Understanding tree structure for multiclass classification"
In my problem I have 3 classes to predict and I'm trying to understand how the xgboost tree relates to the predicted probabilities:

[code]
The first few lines of the tree is as below:
[code]
how would this relate to the classes as there is only a "yes" or "no" split. Even the leafs do not mention a class that they belong to nor a probability associated. I guess in some ways what I'm asking is how

[2016-02-04 15:25] arranger1044 commented on #805
Thanks @tqchen, I guess it could be helpful to write it in the docs (maybe I missed it).

[2016-02-04 15:25] #805 closed

[2016-02-04 17:23] tqchen commented on #805
Thanks for the suggestion. would you like to open a PR to add these information to the docs?

Thanks!

[2016-02-05 04:04] snowneji opened #807 "issue with early stopping: it doesn't stop"
When I use xgb.cv(data=dtrain, params = param, nthread=6, nfold=cv.nfold, nrounds=cv.nround, verbose = T, early.stop.round=8, maximize=FALSE) the cv didn't stop when the test-logloss had been increasing 10+ rounds. Guess it's a bug or something ? Thanks!

[2016-02-05 07:09] luoruisichuan commented on #799
For highly imbalanced data, why not tune parameter "scale_pos_weight" for classification problem?  Do you know  in what case parameter "scale_pos_weight" should be tuned? and in what case parameter "max_delta_step" should be tuned?

[2016-02-05 10:53] Aelvangunduz commented on #792
I built the libraries as instructed using mingw however when importing I get the following error message:

import xgboost as xgb
Traceback (most recent call last):

  File "<ipython-input-1-745aa3a2d734>", line 1, in <module>
    import xgboost as xgb

  File "C:\Users\Elvan\Anaconda\lib\site-packages\xgboost-0.4-py2.7.egg\xgboost\__init__.py", line 11, in <module>
    from .core import DMatrix, B

[2016-02-05 18:57] rohan-11 opened #808 "rabit.a not found, win64, py27"
Hi,

This is regarding the installation process.

I am sort of stuck in the last step to build xgboost target, but i keep stumbling on this error:

I tried making in root of rabit, but that gives an error:

Any help would be much appreciated.

[2016-02-05 19:55] BrianMiner commented on #244
I was curious if it is expected that R will have this external memory version anytime soon? Building xgboost in python is not an option for me. Thanks!

[2016-02-05 21:15] zfrenchee commented on #786
Turns out I was being a goof.
I was creating the training and hold out sets separately, so they had different indices for different tokens, meaning it's a miracle it was doing so much better than random chance. I think that's what confused me -- it did so much better than 50% accuracy even with totally different indexing of features.

[2016-02-05 21:15] #786 closed

[2016-02-06 07:04] flyingdisc commented on #807
Same issue with XGBoost R version 0.4.2. "early stop" doesn't work. It works well in previous version.

[2016-02-06 18:02] tqchen commented on #807
@hetong007 @terrytangyuan can you look into it?

[2016-02-06 18:16] terrytangyuan commented on #807
@snowneji @flyingdisc Can you provide a reproducible example? I don't see it on my end. Thanks.

[2016-02-06 18:17] tqchen commented on #808
Follow instruction here http://xgboost.readthedocs.org/en/latest/build.html#building-on-windows

[2016-02-06 18:18] #782 closed

[2016-02-06 21:22] flyingdisc commented on #807
For small dataset (e.g. agaricus) xgb.cv+early.stop works with no problem.
R XGBoost version 0.4.2. Windows 7 64-bit.
**Problem**: Replace `xgb.train` with `xgb.cv` in this kaggle homesite script, https://www.kaggle.com/sushize/homesite-quote-conversion/xgb-stop/run/104408
The `xgb.cv` never stop. Thank you.

[code]

[2016-02-07 16:50] gugatr0n1c opened #809 "support DART - new regularization = dropout trees during learning"
There is nice article about dropout from neural nets, applied to gradient boosting:

http://arxiv.org/pdf/1505.01866.pdf

It is about drop out some trees during learning process and rescale weight of trees because of that...
It can help to accuracy...

Thanx for consideration...

[2016-02-07 20:11] gugatr0n1c commented on #799
for regression task base_score = mean(label) reduce number of epochs about 25 percent... (on my dataset), I am setting this manually always for regression... so voting for this as well..

[2016-02-07 21:25] gugatr0n1c opened #810 "parametr as array"
Hi,

I did parameters hyper tuning and found optimal setting for my dataset:

eta: 0.002
max_depth: 9
subsample: 70
...

Then I did as follows:
for each tree I generated from uniform distribution unique setting of parameters like:
eta from [0.0015, 0.0025] -> 0.0023
max_depth [8, 10] -> 10
subsamble [55, 85] -> 56
..
so each tree can be unique in this sence...but all very close to hypertuned value

[2016-02-09 00:44] ronmexico2718 commented on #799
@gugatr0n1c I also am noticing substantial differences in the number of trees required, in both classification and regression.  The number of trees required is smallest when I set base_score=mean(label).  The performance doesn't change much (in terms of CV error).  R code is below. Anyone have any objections to setting the default base_score to mean(label)?

# -runs 2 tests for xgboost R package (

[2016-02-09 09:00] gugatr0n1c commented on #799
Yeah, I agree.
It makes sence... when base_score is set to 0.5, and we get regression problem with np.average(label) very high and eta very small (I used eta = 0.0015 and num_tree = 5000) first hundres of trees just trying to catch this big mean - with eta = 0.0015 it take a lot of time just solving this problem... with base_score set mean(label) this is actually solved right away at begining... a

[2016-02-09 21:11] tokestermw commented on #695
Thanks. Also is the `objective='rank:pairwise'` implemented in the Python wrapper?

[2016-02-10 00:32] tokestermw commented on #695
Actually, never mind, I think have to use `XGBRegressor(objective="rank:pairwise")` instead of classifier.

    gbm = XGBRegressor(objective="rank:pairwise")

    X =  np.random.normal(0, 1, 100).reshape(10, 10)
    y = np.random.randint(0, 5, 10)
    gbm.fit(X, y)

    x = np.random.normal(0, 1, 100).reshape(10, 10)
    gbm.predict(X)

    # should be in order
    print y[gbm.predict_proba(X)[:,

[2016-02-10 00:32] #695 closed

[2016-02-10 06:46] mehdiBarch opened #814 "Troubles with building xgboost package for Python on Windows"
Hello

I have problems to install Python xgboost package on Windows.
I guess I have followed all the instructions but here is what I get:

C:\Users\Mehdi\xgboost>make -j4
Un sous-répertoire ou un fichier -p existe déjà.
Une erreur s'est produite lors du traitement de : -p.
Un sous-répertoire ou un fichier build existe déjà.
Une erreur s'est produite lors du traitement de : build.
g++ -m64 -std=c++

[2016-02-10 09:03] gauravchawla03 commented on #659
preds and labels should be in integer form. Try as.integer instead of as.numeric, it wont show error.

[2016-02-10 16:47] jiacheliu3 commented on #729
Hi!
I'm using xgboost in python 2.7 and I faced the same exception as the initial issue report. I'm trying to do a 3-class classification. When I tried to 'hack' the problem by using nfold=1 I faced another exception (only related traceback provided):

File "/usr/local/lib/python2.7/dist-packages/xgboost-0.4-py2.7.egg/xgboost/training.py", line 439, in cv
    cvfolds = mknfold(dtrain, nfold, param

[2016-02-10 18:54] tokestermw opened #815 "Specifying Group ID in rank:pairwise Python?"
I am trying to fit a pairwise ranking model. If I'm understanding the algorithm correctly, it needs a group (or query) id so it can rank things relative to the group / query. It looks like the R wrapper can specify the group / query id but I can't seem to find it in the Python wrapper.

Usage in R (has a `group=` option)
https://github.com/dmlc/xgboost/issues/413

Usage in C++ (uses the Microsoft

[2016-02-10 19:21] tqchen commented on #809
This should not be too hard to add by adding a new gradient booster, or extending current gbtree.

[2016-02-10 19:21] #808 closed

[2016-02-10 19:23] tqchen commented on #798
The first line in your error message indicate that a subdir build already exists.
So it is likely you can remove the mkdir command and solve the problem.

[2016-02-10 19:35] sushanttripathy opened #817 "Python Sklearn Type XGBoostClassifier doesn't save num_class"
After I train an XGBoost model using GridSearchCV and pickle.dump it into a file. The pickle.load(ed) classifier issues the following error on using either predict or predict_proba.

Parameter num_class is not presented

I can post the code examples if needed!

[2016-02-11 05:30] flyingdisc opened #819 "No learning_rates and xgb_model params in R version of xgb.train"
There are both params in Python version, but there are none in R version.
-     **learning_rates** (list or function) – List of learning rate for each boosting round or a customized function that calculates eta in terms of current number of round and the total number of boosting round (e.g. yields learning rate decay) - list l: eta = l[boosting round] - function f: eta = f(boosting round, num_boos

[2016-02-11 08:26] sidsvash26 opened #820 "ImportError: No module named numpy.distutils.core (Ubuntu xgboost installation)"
I am a new user to Ubuntu and recently downloaded Ubuntu 14.04 desktop version alongside Windows 10.

My PC configs are: 4 GB RAM, 64 bit

I installed Anaconda using the following command from the terminal (after downloading from website):
`bash Anaconda3-2.5.0-Linux-x86_64.sh`

Installation was successful.

Now in my ubuntu terminal, I followed steps as instructed on http://xgboost.readthedocs.or

[2016-02-11 15:15] leblancfg commented on #793
Agreed. I don't think there's any way around this, at least in its current R implementation. I believe most people use the caret package to hypertune with CV, but I find it's still clunky in terms of data types, etc.

[2016-02-11 20:32] vykhand opened #821 "Compilation error from git - same as issue #797"
Dear all,

I got the same issue as #797 ? Does anyone know how to resolve it?

I got it on 3 separate machines, Win7 x64, centos x64, and ubuntu 14  server x64, when installing from my own git(vykhand/xgboost) and from dmlc as well. I fetched changes to my own git just now and tested it again. No luck.
Here are the commands I am running :

![image](https://cloud.githubusercontent.com/assets/498481

[2016-02-12 17:13] brickerino commented on #820
Are you sure you are using right python?

Try
which python
or
readlink -f `which python`
to determine whether you are using Anaconda or not.

[2016-02-12 17:23] sidsvash26 commented on #820
Hi,

Thanks for commenting.

which python returns the following:
/home/sidvash/anaconda3/bin/python

[2016-02-12 17:29] sidsvash26 commented on #820
@brickerino : I have just updated the full log after step 5 in the description. Please see if that helps.

[2016-02-13 16:33] phunterlau commented on #820
The message shows you are not having numpy, please check if your PYTHON_PATH is pointing to the anaconda package path. Also, be sure conda install numpy if not yet

[2016-02-13 19:49] sidsvash26 commented on #820
@phunterlau :
I checked the python_path using the follwing command:
python -c "import sys; print(sys.path)"

It **returns**:
['', '/home/sidvash/anaconda3/lib/python35.zip', '/home/sidvash/anaconda3/lib/python3.5', '/home/sidvash/anaconda3/lib/python3.5/plat-linux', '/home/sidvash/anaconda3/lib/python3.5/lib-dynload', '/home/sidvash/anaconda3/lib/python3.5/site-packages', '/home/sidvash/anaconda3/

[2016-02-13 21:20] phunterlau commented on #820
well, you have python from the system and anaconda, and python 2 3 both, and you have system's setuptool, so some env has messed up.  i can suggest creating a virtualenv and install numpy scikit-learn and xgboost

[2016-02-14 05:34] tngks66 opened #822 "what "xgboost missing = nan " means"
i don`t know that when i set xgboost(data, label, para, missing = nan) , what missing = nan means.
just missing = nan means that filling NA into the NAN? or filling empty valu into the NAN?

[2016-02-14 06:29] sidsvash26 commented on #820
@phunterlau : Thanks for your comment. I really appreciate your help.

I am a novice on Ubuntu and don't want to mess up things further.

Could you please tell me a step by step process to do this?

I know that I can create a virtualenv using the following: (installing virtualenv is not recommended with conda)
`conda create -n <env_name>  python=3.5 anaconda`

And then how should I install numpy s

[2016-02-14 07:13] sidsvash26 commented on #820
Okay, so I did the following but still getting the exact same error:
`conda create -n snakes python=3.5 numpy pandas scikit-learn`
`sidvash:~$ source activate snakes`
`discarding /home/sidvash/anaconda3/bin from PATH`
`prepending /home/sidvash/anaconda3/envs/snakes/bin to PATH`

`cd xgboost/python-package`
`sudo python setup.py install`

For some reason, the installation still keeps referring to "

[2016-02-14 10:08] Far0n commented on #729
PR created: https://github.com/dmlc/xgboost/pull/823

[2016-02-14 10:48] zhengt2015 opened #824 "ImportError: cannot import name LabelEncoder"
when I tried to run the multiclass demo I could not import xgboost and it gave me the error: ImportError: cannot import name LabelEncoder

Could you help me with this? I am new to Python. Thank you.

[2016-02-14 11:36] Far0n commented on #822
You specify your *nan* value this way. Let's say you did something like data.fillna(-999), you would call
xgboost(data, label, para, missing = -999)

[2016-02-14 11:53] Far0n opened #825 "Model queries & alterations"
@tqchen Is it possible to get some API for querying and altering the model?
- get the leaf values or resulting predictions of a specified subset of grown trees
- drop specified trees(s) from the model
- insert tree(s) into the model
- get a tree from the model

[2016-02-14 14:55] tngks66 commented on #822
so you mean that if i set the missing= 100, NA fills in 1000?

[2016-02-14 15:01] Far0n commented on #822
No, xgb does not change the data at all. It just treats the specified *missing* value as a special one.

[2016-02-14 15:04] tngks66 commented on #822
hmm.... could you please make concrete the special one? i don`t understand

[2016-02-14 15:06] tngks66 commented on #822
is it means that missing = nan is treating NA to nan ?

[2016-02-14 15:11] Far0n commented on #822
Let's say you have the following numpy array: data = [1,2, np.nan, 4]. Xgb will complain about the np.nan within that array if you call DMatrix(data). So, what you do is replacing np.nan by an arbitrary value, let's say "-999". Hence data becomes: data_new = [1,2, -999, 4]. Now you tell xgb, that you encoded missing values by "-999": DMatrix(data_new, missing=-999).

[2016-02-14 15:19] tngks66 commented on #822
sorry for my ignorance... i don`t know np.nan and numpy array ... i`m R user

[2016-02-14 18:19] tqchen commented on #825
Yes, this is possible in implementation, but need some concrete proposals to make a clear API.

[2016-02-14 19:43] phunterlau commented on #824
Please install scikit-learn

[2016-02-14 23:50] #659 closed

[2016-02-15 05:00] Far0n commented on #806
A tree always seperates only two classes. Hence, if you have 3 classes, xgb grows 3 trees per boosting round (class 1 vs rest, class 2 vs rest & class 3 vs rest).

[2016-02-15 10:25] zhengruifeng opened #829 "Robust Regression Support"
In particular, squares loss for regression models are highly sensitive to outliers, and it would be great to be able to use Robust Regression which is robust to outliers.
In R'gbm package it is implemented as the "Laplace" distributions option.
I am interested in contributing this, if needed.

[2016-02-15 10:28] fsimond commented on #807
Same problem here.
I took the version from the drat repo.

However, I think it does stop, but not at the right time. See my example below:

This is the parameters I used:

[code]

And here is what is printed on the console with my example:

[2135]	train-logloss:0.528952+0.000417	test-logloss:0.529975+0.002922
[2140]	train-logloss:0.528952+0.000417	test-logloss:0.529976+0.002922
[2145]	train-loglos

[2016-02-15 12:10] #807 closed

[2016-02-15 12:38] Karamcse opened #831 "https://github.com/dmlc/xgboost/tree/master/windows is not available. So how to install xgboost in windows?"
I followed below link for installing xgboost in windows. But I can't find windows folder for installing xgboost.

https://www.kaggle.com/c/otto-group-product-classification-challenge/forums/t/13043/run-xgboost-from-windows-and-python

And also I installed through python_packages using python setup.py install. I am getting below error.
D:\xgboost-master\python-package\xgboost\libxgboost.dll
D:\xgbo

[2016-02-15 13:22] Sandy4321 commented on #829
Think globally, laplas use is weak robust, use use methods of robust
statistics
On Feb 15, 2016 05:25, "Ruifeng Zheng" <notifications@github.com> wrote:

[2016-02-15 14:32] gugatr0n1c commented on #829
MAE, huber, can be used...

np.power(MAE, K) where K is parametr will be nice as well, we can than set K = 1.5 ie, what is nice method as well...

but is it really important? because trees are built on residuas... so if there are outliers, couple trees will take care ot them, next trees will focus on core of learning matrix... SGB is in general much more robust algorithm itself than linear regress

[2016-02-15 15:35] leocnj opened #832 "Need a clarification in the rank example."
In the rank example, I saw the below sentence. However, from reading online introductions about learning to rank (LTR), I learned that LadmdaRank is in fact a pair-wise ranking method too. Will you please clarify which exact LTR method is now provided inside the xgboost. Also, do you have a plan to provide the ladmdaMART implementation in near future?

[2016-02-15 18:22] tqchen commented on #831
see https://xgboost.readthedocs.org/en/latest/build.html#building-on-windows

[2016-02-15 18:23] tqchen commented on #832
It is already supported in https://github.com/dmlc/xgboost/blob/master/src/objective/rank_obj.cc#L319 However, we did not observe significant improvement over pairwise version

[2016-02-16 03:48] starimpact opened #834 "How to use xgboost to regress a bounding box?"
hi, I know xgboost can do classification and regression, but likely, it just supports one dimensional label.
Is it possible to make xgboost support multidimensional label, like the boundingbox?
Furthermore, is it easy to improve xgboost to make it support classification and regression concurrently, like to `Joint Cascade Face Detection and Alignment` [http://home.ustc.edu.cn/~chendong/JointCascade

[2016-02-16 10:24] jiangbian22 opened #835 "How to set instance weight when using distributed training?"
How to set instance weight if I wanna use distributed training on hadoop? Thanks!

[2016-02-16 17:00] szalmaf commented on #276
I successfully compiled the xboost library

	clang-omp++ -std=c++0x -Wall -O3 -msse2  -Wno-unknown-pragmas -funroll-loops -Iinclude   -Idmlc-core/include -Irabit/include -fPIC -fopenmp -MM -MT build/learner.o src/learner.cc >build/learner.d
	clang-omp++ -c -std=c++0x -Wall -O3 -msse2  -Wno-unknown-pragmas -funroll-loops -Iinclude   -Idmlc-core/include -Irabit/include -fPIC -fopenmp -c src/learner.

[2016-02-16 17:07] dselivanov commented on #276
@szalmaf try to add `CXX1X=clang-omp++` to your `~/.R/Makevars`. This will set `clang-omp++` compiler for C++11 projects.

[2016-02-16 17:15] szalmaf commented on #276
Okay, now I am getting this error message:

	Installing xgboost
	'/Library/Frameworks/R.framework/Resources/bin/R' --no-site-file --no-environ --no-save --no-restore  \
	  CMD INSTALL  \
	  '/private/var/folders/_4/2p2t0cfd33x9dl3cmvcf7b8h0000gn/T/RtmppdNQrm/file186697bd86e/xgboost/R-package'  \
	  --library='/Library/Frameworks/R.framework/Versions/3.1/Resources/library' --install-tests

	* insta

[2016-02-17 18:55] dagley11 commented on #206
Struggling mightily with Windows 64-bit installation.

I tried using MinGW-w64 and received a ' A subdirectory or file -p already exists' error.  Deleting directory and re-cloning did not solve.  Similar issues were discovered in this thread: https://www.kaggle.com/c/liberty-mutual-group-property-inspection-prediction/forums/t/15742/clear-instructions-to-install-xgboost-in-python/108483#post108483

[2016-02-17 20:34] dagley11 commented on #831
I followed instructions and get the following error when building with make on Windows 64-bit.  FYI, I aliased mingw32-make -> make to get things workings.  Any ideas?

[code]

[2016-02-17 21:08] odiseo1982 opened #837 "How to use root median squared error as objective function?"
Hi!! Sorry if this is not the place for this comment but I couldn't use the google group. I'll like to know how to define a customized objective function for a regression problem in R. I'm interested in using root median squared error, instead of RMSE, or some other meassures using percentiles. I tried defining objective function using numerical derivatives through numDeriv R package, but couldn't

[2016-02-17 21:34] thirdwing commented on #831
@dagley11 You are running into a very classical problem on Windows.

In Windows CMD, `mkdir` doesn't have the `-p` option, which is quite annoying.

The simplest solution is using another shell on Windows.

If you have install git from `https://git-for-windows.github.io` or  `https://git-scm.com`, you already have a standard bash shell.

Running `make` in that shell shouldn't have such errors.

[2016-02-17 22:19] dagley11 commented on #831
@thirdwing Yes, you were right!  Works now in Git Bash shell. Thank you very much!!

[2016-02-17 22:28] #831 closed

[2016-02-17 22:28] #832 closed

[2016-02-17 22:32] terrytangyuan commented on #822
@tngks66 So say you data has 99999, which in real life means this data is missing for your problem, if you set `missing = 99999 `, xgb will treat this special value as missing value. It will treat 99999 as NA.

[2016-02-18 00:57] ivallesp commented on #739
In the same line, I would like to say that I found important differences in the result when naming the boosting parameters with the prefix "bst:". What's wrong with that? I also tried to add a parameter with a mistake and no error was returned...

[2016-02-18 01:43] zhengruifeng commented on #829
@gugatr0n1c  At least, this will provide another choice...

[2016-02-18 02:39] bliger241 opened #838 "Windows 10 64-bit error"
![image](https://cloud.githubusercontent.com/assets/11588153/13132189/c311fe88-d5be-11e5-87f0-ee8b50bab363.png)

I build xgboost from source and installed the module all successfully but cannot import it.  I have tried multiple times and rebuilding multiple times with the same issue.  Thanks for any help.

[2016-02-18 02:54] RishiSadhir opened #839 "PMML support for XGBoost"
Are there any plans to support PMML export? The r2pmml package in R is able to export boosted trees created via the GBM package so I would assume this wouldn't be so difficult of a task.

[2016-02-18 04:26] tqchen commented on #739
@ivallesp bst prefix is deprecated in the newest version. If you find it anywhere in the doc, please point it out and send a PR to fix it. Thanks so much

[2016-02-18 04:36] tqchen commented on #206
@dagley11 this was due to the fact that mkdir command in windows was not compatible with those in linux. Can you remove the -p in  this line and try again https://github.com/dmlc/xgboost/blob/master/Makefile#L97

I will try to find another solution that works well later

[2016-02-18 04:38] tqchen commented on #834
You are asking about vector output, which is partially supported in the multi-class classification. Though the current tree builder is not vector tree.

One easy way is simply use a separate model for each dimension

[2016-02-18 08:50] FACE1E55 opened #840 "Installation issue: errors while making rabit (on Windows)"
As I understood from some installation guides, latest versions of xgboost  require rabit "made".
I tried  mingw32-make with the following results:
[console output.txt](https://github.com/dmlc/xgboost/files/135834/console.output.txt),
as well as MVSC 2013 with these errors
![mvsc](https://cloud.githubusercontent.com/assets/16034663/13137977/1b14eb90-d62d-11e5-9588-91f26a545546.jpg)

What should I d

[2016-02-18 12:43] bishwarup307 opened #841 "installation error on windows: omp.h not found"
I am trying to install the xgboost python package on windows 8 (64 bit) following the instructions given here: http://stackoverflow.com/questions/33749735/how-to-install-xgboost-package-in-python-windows-platform/35480673#35480673 and http://xgboost.readthedocs.org/en/latest/build.html#building-on-windows.

After I run the command: make -j4, i get the following error:
`dmlc-core/include/dmlc/omp.h

[2016-02-18 13:11] jtenini commented on #839
Yes please! Being able to export as PMML would be an excellent addition.

[2016-02-18 16:33] dianjunren opened #842 "Question: How do I use class weights in xgboost?"
Hi

First of all, let me thank you guys for your hardwork to make the xgboost available to us. it's such a great tool!

I am using xgboost in R. I came across a binary classification problem with a sampled data from an extremely imbalanced dataset. After downsampling the non-events, and keeping all events, there are case weights associated to event (weight = 1) and non-event (weight = 10). I read

[2016-02-18 16:38] thirdwing commented on #840
No thoughts on VS errors.

But for MINGW error, it is actually due to some recent updates in mingw-w64.

There is no `ssize_t` type in previous version of mingw-w64, but now it has, so there will be some conflicts.

You can just try to comment out this line https://github.com/dmlc/rabit/blob/master/src/socket.h#L31

It should be changed into something like:

[code]

[2016-02-18 17:58] tqchen commented on #840
@thirdwing can you open a PR to rabit to resolve this issue? Also if the instruction is followed and the mingw64.mk is copied to root folder as config.mk The rabit build should result in a dummy build that skips this step

[2016-02-18 18:24] tqchen commented on #842
here is an example https://github.com/dmlc/xgboost/blob/master/demo/kaggle-higgs/higgs-train.R#L17

[2016-02-18 18:24] tqchen commented on #842
@hetong007 we should put another example to the basic feature walkthourgh

[2016-02-18 19:32] NoskovLab commented on #434
Nice idea!

[2016-02-18 20:24] thirdwing commented on #206
The simplest solution is not using Windows CMD.

[2016-02-18 20:37] dagley11 opened #843 "Sparse matrices w/ sklearn api"
I'm getting very different scores when using a scipy.sparse.csr_matrix as an input vs a Pandas Data Frame for XGBRegressor.fit()  I checked this behavior against scikit-learn using random forests and my scores did not deviate, so the issue is not with the sparse matrix.  Any ideas?

[2016-02-18 21:38] tqchen commented on #206
@thirdwing Does sh comes by default together with ming-w64? If it is the case, we should encourage user to type ```sh ``` before type make

[2016-02-18 23:23] #814 closed

[2016-02-18 23:27] mehdiBarch opened #844 "Trouble when importing xgboost"
When I try to import xgboost after building I get the following error.
Does anyone know where it can come from?
Thanks

---------------------------------------------------------------------------
WindowsError                              Traceback (most recent call last)
<ipython-input-1-a31cf591fdb6> in <module>()
---> 13 import xgboost as xgb

C:\Users\Mehdi\Anaconda2\lib\site-packages\xgboost-0

[2016-02-18 23:55] FACE1E55 commented on #840
@thirdwing Thank you, this step helped to resolve first of the errors:
the second one is regarding net_ntop
`src/././socket.h:76:52: error: 'inet_ntop' was not declared in this scope&buf[0], buf.length());`
the third one relates to sleep
`src/allreduce_base.cc:206:16: error: 'sleep' was not declared in this scope sleep(1);`
At the same time, newer mingw-w64 won't install due to `Cannot download re

[2016-02-19 00:04] FACE1E55 commented on #841
@bishwarup307 I'm not sure if it works fine, but here is somethng to try.
I had similar issue and it disappeared after I did the following:
-  delete dmlc-core directory
- `git clone https://github.com/dmlc/dmlc-core`
-  `cd dmlc-core`
-  `make`, or `mingw32-make`, or anything
Then continue with installing xgboost.
Hope it works for you.

[2016-02-19 00:15] thirdwing commented on #840
Please wait for a minute. I am updating the building instructions on Windows.

[2016-02-19 00:40] thirdwing commented on #840
@FACE1E55 I think you are using an old GCC, maybe 4.7 or even older.

If you can't upgrade it, try to add `#include <unistd.h>`.

This might help, but I am not sure.

[2016-02-19 07:44] FACE1E55 commented on #840
@thirdwing I am using an old version of GCC for sure.
I'm afraid, `#include <unistd.h>` is already there.
Now I think it's no use continuing this with an old compiler on windows

[2016-02-19 09:15] msdw opened #846 "xgboost custom eval_metric - Lift at top 15%"
I need your help to create custom eval_metric
I would like to choose performance with lift at top 15%.
How to proceed ?
Thanks for your help
M.

[2016-02-19 16:24] tokestermw commented on #815
Looks like there is a `set_group` method in `DMatrix`. https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/core.py#L415

I just need to add this to `sklearn.py`.

[2016-02-19 16:24] #815 closed

[2016-02-19 20:09] dianjunren commented on #842
Thank you. I will take a look at the example!

[2016-02-19 20:09] #842 closed

[2016-02-20 01:00] antoinemrcr opened #847 "issue xgb.plot.tree"
Hello,
I am using xgb with Rstudio, and I have installed DiagrammeR.
I have an issue while trying to plot a tree : instead of having a tree, I get a kind of html script, like that :
Gain: 14.1299)-->|< 13.0085|0-165>Leaf];0-95(67)-->|>= 3.93113|0-168>Leaf];0-95(67
Cover: 1549.5
Gain: 15.9918)-->|< 3.93113|0-167>Leaf];0-96(977)-->|>= -3.44202|0-170>Leaf];0-96(977
Cover: 153.5
Gain: 9.96063)-->|< -3

[2016-02-20 07:35] #840 closed

[2016-02-20 13:39] sidsvash26 commented on #820
I got it sorted out by following the below steps:

1. Remove current dir named "xgboost" which I earlier downloaded from github.
2. pip install xgboost

This worked like a charm. I didn't try this earlier as it was mentioned on the github site that you should install from github for latest version.

I posted this question on stack overflow and someone suggested this. Here's the link:
http://stacko

[2016-02-20 14:04] #820 closed

[2016-02-20 17:59] phunterlau commented on #820
Glad that `pip install xgboost` helped :-)

[2016-02-20 21:22] #844 closed

[2016-02-21 13:02] pommedeterresautee commented on #847
Use last version of xgboost from Github.

[2016-02-21 13:03] #806 closed

[2016-02-21 13:04] pommedeterresautee commented on #839
linked to https://github.com/dmlc/xgboost/issues/196

[2016-02-22 06:36] wenmin-wu opened #851 "can somebody give a detailed tutorial about deploying xgboost on yarn"
I have deployed xgboost on a single machine, in order to accelerate the model training I try to deploy xgboost on yarn. I can't find a detailed tutorial about how to deploy xgboost on yarn.

One special problem to me: The gcc version in the cluster is 4.4.7 20120313 (Red Hat 4.4.7-4) (GCC), I want to know how can I run xgboost on yarn without upgrading all the gcc version in the cluster?

[2016-02-22 13:56] astrude opened #852 "Unable to run YARN job. Can you guys please tell me what the issue is? Shared the issue log below"
16/02/22 19:20:17 INFO dmlc.ApplicationMaster: Start AM as user=sandeep
16/02/22 19:20:17 INFO dmlc.ApplicationMaster: Try to start 0 Servers and 1 Workers
16/02/22 19:20:17 INFO client.RMProxy: Connecting to ResourceManager at /0.0.0.0:8030
16/02/22 19:20:17 INFO impl.NMClientAsyncImpl: Upper bound of the thread pool size is 500
16/02/22 19:20:17 INFO impl.ContainerManagementProtocolProxy: yarn.c

[2016-02-22 16:56] ahmed-touati opened #853 "Issue with max_delta_step when using XGBRegressor with "count:poisson" as objective"
When I use XGBRegressor (the sklearn wrapper) with "count:poisson" as objective, I obtained
`XGBoostError: PoissonRegression: need to set max_delta_step`
So I sat  max_delta_step to 0.7 as mentioned in the doc of parameters:
"max_delta_step is set to 0.7 by default in poisson regression (used to safeguard optimization)"
It works but the problem that I obtained poor performance and convergence comp

[2016-02-22 17:37] tqchen commented on #853
Interesting, I have no idea on what happens, perhaps what you can do is look into the routine that calls into xgb.train(since all calls of sklearn api redirects into it) and see what was the difference in terms of configurations parameters

[2016-02-22 17:43] tqchen commented on #852
You can get more information by getting log from containers, using yarn logs command

[2016-02-22 19:37] ivallesp commented on #824
Launch in your console `pip install scikit-learn`

[2016-02-23 02:49] thirdwing commented on #798
@jraju9 I think there won't be this kind of errors if you follow our updated building instructions.

[2016-02-23 03:11] wenmin-wu commented on #510
@cswhjiang Hi wenhao, have you solved the problem yet? I have make the changes according to dmlc/dmlc-core#10, but the error still exists. If you have solved the problem, I hope you can give me some suggestions. Thanks!

[2016-02-23 08:44] astrude commented on #852
Following is the log we got from nodemanager's log file. It has no description about an error except just only exit code. Can you please let us know what could be the issue? Thanks in advance!

2016-02-22 10:22:11,465 INFO org.apache.hadoop.yarn.server.nodemanager.containermanager.monitor.ContainersMonitorImpl: Memory usage of ProcessTree 24962 for container-id container_1456116662362_0001_01_0000

[2016-02-23 10:28] wenmin-wu opened #854 "[xgboost on yarn] ./xgboost: error while loading shared libraries: libhdfs.so.0.0.0: cannot open shared object file: No such file or directory"
Hi all,
 After a long work, I have successfully complied the xgboost in distribution version. I run the `./run_yarn.sh 20 4 /user/wuwm` and come out the following logs:

Logged in as: dr.who
Logs for container_1455521865049_5597_01_000001
ResourceManager

    RM Home

NodeManager
Tools

16/02/23 18:07:37 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using bu

[2016-02-23 11:30] astrude opened #855 "Can you please share the code to identify feature importances in YARN(HDFS) Implementaion?"
I also want to know if I want to use Grid search for Hyper parameter optimization from SKLearn, How do I do that? How can we implement Sklearn using YARN? Thanks in advance!

[2016-02-23 14:32] wenmin-wu opened #856 "what is the path used by ./xgboost to find the libhdfs.so.0.0.0"
the hadoop version in our cluster is CDH, so there is no libhdfs.so.0.0.0 file under `/usr/lib/hadoop/lib/native/` directory. So I compile the hadoop-hdfs-project using cmake to get the libhdfs.so file for xgboost making. After I had successfully maked the xgboost, and run it on yarn. It come out with the following error:
./xgboost: error while loading shared libraries: libhdfs.so.0.0.0: cannot op

[2016-02-23 15:32] andriy86 commented on #838
I have the same problem..
![xgboost_import_error](https://cloud.githubusercontent.com/assets/17433307/13256429/ba8040a0-da18-11e5-9c4f-955942beb4f7.png)

[2016-02-23 15:43] alexander-rakhlin opened #857 "Cross validation does not  print any results out"
I mean, during cross-validation demos in cross_validation.py pass but do not output anything like:

 [iteration]  metric_name:mean_value+std_value

xgboost version 0.47 on Ubuntu
Tried both pip install and manual install, no effect

xgb.train(), on contrary, prints its progress

[2016-02-23 16:47] tqchen commented on #854
It was supposed to be run with https://github.com/dmlc/dmlc-core/blob/master/yarn/run_hdfs_prog.py which helps to set LD_LIBRARY_PATH to libhdfs. It could be that the program was not able to file the path to libhdfs in local machine

[2016-02-23 16:47] tqchen commented on #854
One quick way to test is run xgboost on the machine that reports the error using run_hdfs_prog.py

[2016-02-23 16:50] wenmin-wu commented on #772
@brickerino
Hi, it seems that you had run xgboost on yarn successfully. I have come up with some problems, the logs are as following, I can't figure out what the problem is. Can you give me a hand?
Log Type: stderr

Log Upload Time: Wed Feb 24 00:36:27 +0800 2016

Log Length: 33428

16/02/24 00:36:07 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builti

[2016-02-23 16:52] tqchen commented on #855
To answer your question about feature importance. The model is compatible between difference languages as well as distributed version, so you can load the model using any single machine API you like and visualize the feature importance

[2016-02-23 16:52] tqchen commented on #855
The grid search with sklearn is not yet possible, currently only CLI version is enabled. We will see if we can enable python version later

[2016-02-23 16:52] #855 closed

[2016-02-23 16:54] tqchen commented on #851
Try the option ship-libcxx

[2016-02-23 16:57] tqchen commented on #843
xgboost is optimized for sparse matrix treating non-presenting entries as misisng, while sklearn does not. and it really depends on what preprocessing was done to pandas data frame.

[2016-02-23 16:58] tqchen commented on #839
I think we will enable support to dump to json as a optional support. PMML can come later after this. However, note xgboost's tree is specialized to handle missing values and being different from normal ones

[2016-02-23 17:00] tqchen commented on #852
Check the stdout and stderr log of container launches, currently it only shows the log that container get killed from app master, but not the real running of the jobs

[2016-02-23 17:03] tqchen opened #858 "Keep optional dependecy on sklearn"
The python API has been evolved and add some good features.
However, some changes also introduces explicit dependency on sklearn, and currently xgboost is not able to run when sklearn is not installed.

The original goal of compact.py is to make dependency on sklearn optional and only on sklearn.py , while making rest of API only depend on numpy and scipy. This can help users who may not yet have

[2016-02-23 17:05] tqchen commented on #838
was due to current dependency on sklearn, you can install sklearn and solve this temporary

[2016-02-23 17:05] #838 closed

[2016-02-23 17:06] #822 closed

[2016-02-23 17:07] tqchen commented on #821
You can follow the manual clone , but with an recursive option

[2016-02-23 17:08] tqchen commented on #821
@hetong007 @thirdwing Maybe we should consider remove intstall_git instruction, which seems does not include recursive cloning as well, but instead give an instruction to do recursive clone and install manually

[2016-02-23 17:14] thirdwing commented on #821
That should be removed. CRAN version and drat version should be enough for R users.

[2016-02-23 17:18] tqchen commented on #821
This instruction is for developers like @vykhand who like to test their local changes

[2016-02-23 17:41] tqchen commented on #821
@thirdwing can you help adding this advanced build instruction? Thanks!

[2016-02-23 21:10] vykhand commented on #821
Hi @tqchen, what do you mean by "You can follow the manual clone , but with an recursive option", can you point me to some step-by-step to do this?

[2016-02-23 21:17] andriy86 commented on #838
Just reinstalling sklearn didn't seem to help for me.
I had to modify the __init__ file in xgboost so that it imports from the sklearn module (Lib\site-packages\sklearn) instead of the sklearn.py file in the xgboost folder.

The following steps solved the problem:

1) Install sklearn
2) Remove sklearn.py from the main xgboost directory (Lib\site-packages\xgboost-0.4-py2.7.egg\xgboost)
3) Comment o

[2016-02-23 21:26] thirdwing commented on #821
Hi, @vykhand ,

Please try the following lines:

[code]

[2016-02-24 00:08] vykhand commented on #821
Hi @thirdwing, thank you, that worked!

[2016-02-24 02:22] wenmin-wu commented on #854
@tqchen
Thanks! I run again with
`export LD_LIBRARY_PATH=$JAVA_HOME/jre/lib/amd64/server:/home/wuwm/dmlc/xgboost-master/libhdfs:$LD_LIBRARY_PATH`
the libhdfs.so.0.0.0 file is under the `/home/wuwm/dmlc/xgboost-master/libhdfs` directory. There is no libhdfs.so.0.0.0 file is under the `/home/wuwm/dmlc/xgboost-master/libhdfs` on the other nodes in the cluster. Should I ship this file?

the error log