[2019-07-04 23:00] CodingCat commented on #4641
No, 2.3 is end of life in very soon, 2.4 is the only version we will support before 3.0

[2019-07-04 23:00] #4641 closed

[2019-07-04 23:15] hcho3 commented on #4300
#4337 should eliminate FutureWarning

[2019-07-04 23:27] #2326 closed

[2019-07-04 23:27] #4503 closed

[2019-07-04 23:31] hcho3 commented on #3810
@Laurae2 Now that we merged in #3957, #4310, and #4529, can we assume that the scaling issue has been solved? Effects of NUMA may still be problematic.

[2019-07-04 23:33] hcho3 commented on #4637
@goerlitz I think we'll need #4211 to validate and log which training parameters have been selected.

[2019-07-04 23:35] hcho3 commented on #3814
@CodingCat Now that we have a functioning early stopping feature in XGBoost4J-Spark, can we close this?

[2019-07-04 23:47] hcho3 commented on #4477
@adithyabsk Given the complexity of shipping the runtime library in the wheel, we can settle with `brew install libomp`. Homebrew is quite widely used already among power users, I think.

Ps. I'm looking at https://iscinumpy.gitlab.io/post/omp-on-high-sierra/ to understand the use of OpenMP in Apple Clang.

[2019-07-05 07:13] Laurae2 commented on #3810
@hcho3 I will rebench later to check, but from what I could notice there were performance regressions on production environments (especially #3957 causing more than 30x slowdown).

I'll check performance results with @szilard also.

Open example: https://github.com/szilard/GBM-perf/issues/9

[2019-07-05 19:22] Daniel8hen commented on #4520
@neeleshkshukla @CodingCat maybe addding support to feature names instead of f123 , f2017, f1, etc. could be a solver here? wdyt? @CodingCat plus the note I wrote above, it could be great have the ability to use these as well. Thanks!!

[2019-07-06 11:36] StrikerRUS commented on #4477
@hcho3

These PRs may help you:
https://github.com/microsoft/LightGBM/pull/1501, https://github.com/microsoft/LightGBM/pull/1923.

[2019-07-06 16:27] wstian commented on #4250
sorry for late response.

try with your latest master:

*  https://github.com/chenqin/xgboost.git @807ff491d666a93586bcb2aa1e4d6f1769fc402d

* https://github.com/chenqin/rabit.git @ 87c90639f3594046697179fd8dd56ee8fbaba954

and repeat the previous tests, which is

* start a distributed training, with worker-0 and worker-1

* after data loaded and training started, shutdown ``worker-0``

* after ``

[2019-07-06 17:48] zdwhite commented on #4583
@hcho3
This is a non helpful response. Could you possibly explain how to do that given the current problem?

[2019-07-06 20:18] zdwhite commented on #4190
I believe I have the same issue.

Essentially I have to use the scikit learn wrapper to have access to the "predict_probas" method. This is frustrating as I lose all the functionality of the dmatrix when building the classifier using the scikitlearn wrapper.

I thought I could try and manipulate the dmatrix structure and use it as an input for the scikit learn wrapper however I can't seem to find

[2019-07-06 20:30] zdwhite opened #4642 "Why doesn't XGBoost Core Data Structure include predict_probas method?"
Problem Scope:

I'm working with "medium" sized data. So just large enough to fit in local memory and handle computations with out doing much in the way of memory swapping.

My problem is a pretty basic binary logistic regression that I'd like to utilize GPU and XGboost's dmatrix data structure for making prediction models on my data. The output of which I care about is the predicted probabilities

[2019-07-06 20:39] hcho3 commented on #4642
@zdwhite For binary logistic regression, you should set `objective` parameter to `binary:logistic`. Then `predict()` function will give you probability outputs (that is, probability for the positive class).

[2019-07-06 20:42] #4642 closed

[2019-07-06 22:52] rongou commented on #4357
What I'm thinking is more or less a pure refactoring. Right now we hand off the sparse page dmatrix to the tree updater, which loops through it once to build the quantiles, then loop through it again to compress each batch. We probably need to do these at a higher level so that we can write out the compressed features. Hand-wavy pseudo-code:
[code]
Will try to get a draft PR out next week.

[2019-07-07 00:36] trivialfis commented on #4357
@rongou Preferably this can done in DMatrix, you can add a new method to DMatrix called get compressed hist index ...

[2019-07-07 08:01] #4421 closed

[2019-07-07 08:01] #4630 closed

[2019-07-07 15:09] hxuaj commented on #1715
I ran into the same problem and I used keras, numpy and tf 1.14.
```conda install nomkl``` dose solve my problem! Thank you.

[2019-07-07 15:12] hxuaj commented on #1715
I ran into the same problem and I use keras, numpy and tensorflow 1.14.
```conda install nomkl``` does solve my problem! Thank you @gpetty

[2019-07-07 18:16] oren0e opened #4644 "Getting the feature's matrix in a custom eval metric function"
Hi,

I was wondering how can I get access to the features themselves in the custom function of the evaluation metric I am writing. The thing is that I am predicting something (binary variable _y_) but I want to evaluate on the following:
I sum up the _amount_ feature for predicted y = 1, then do the same for true y = 1, and then calculate some sort of percentage error from these two quantities. I

[2019-07-08 07:24] ravinear opened #4647 "Unregistering ApplicationMaster with FAILED (diag message: User class threw exception: ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed"
It seems that the error is related to the key "train" post training the xgboost4j-example (for a different data source) https://github.com/dmlc/xgboost/blob/30204b50fe4a39576b61491920166cc390cc9e25/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoost.scala#L149

Pasting the full error below

[code]

[2019-07-08 15:02] sriramch commented on #4357
@trivialfis isn't dmatrix just a data representation type and isn't it agnostic to tree methods such as histograms? if so, is it right to pollute this interface with such methods?

[2019-07-08 15:45] trivialfis commented on #4357
@sriramch We think building histogram indices inside DMatrix can provide us some opportunities around saving memory.  Like it's possible to avoid copying original data set.  To me it makes sense for us to consider histogram indices as data, since histogram is used to replace the actual input data.  Also this is inspired by LGB.

I think @hcho3 and @RAMitchell can provide some more input for other

[2019-07-08 18:13] chenqin commented on #4250
@wstian I added more logging https://github.com/chenqin/rabit/commit/2bd993a8d0483ddb8a4661561cf2bfd16bcd8a91
please paste log from your side

The error you saw was might be a rabit existing rabit bug. in my test, it shows checkpoint collective calls sometimes unexpectedly interact with allreduce/broadcast calls in healthy nodes and cause peer to peer getresult lack of necessary roles to operate (

[2019-07-08 20:48] r-archer37 opened #4648 "Pandas 0.24 sparse restructure breaking _maybe_pandas_data()"
Background: https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.24.0.html#sparse-data-structure-refactor

Summary: As of 0.24 sparse datatypes in pandas dataframes are represented like Sparse[int64, 0], which xgboost does not recognize as numeric.

Detail: In core._maybe_pandas_data() there is a loop that checks whether each column's dtype.name is in a hardcoded set of dtypes ( https://github

[2019-07-09 00:38] trams commented on #3946
@CodingCat could you please share the status of your work and confirm the approach you decided to take?

This issue blocks us (Criteo). We allocated resources to fix it. Let us know how we can contribute or how you can hand over if you have higher priorities.

[2019-07-09 05:34] sharpant opened #4649 "scikit-learn XGBRegressor doesn't work with custom evaluation function that is passed with feval. Is there a solution?"
In the below code that uses sci-kit learn, ```XGBRegressor``` does not read ```feval``` input. I found this by debugging the code. Is there a way to make ```XGBRegressor``` read custom evaluation function?

[code]

[2019-07-09 10:00] wstian commented on #4250
try with [chenqin/rabit@2bd993a]

worker-0 shut down when restart, log as below:

[code]

worker-1  is still running (not shut down this time), log as below:

[code]

[2019-07-09 11:31] CodingCat commented on #3946
it’s still WIP in my side, and I will share the design in the format of a RFC within this month (actually I have shared some in this thread) and code later ,

[2019-07-09 18:33] chenqin commented on #4250
@wstian quick look into log you posted, I think it was same as I saw before.

wha happens is worker-1 calls into checkpoint procedure while worker-0 is still in bootstrap/allreduce.
https://github.com/chenqin/rabit/blob/test/src/allreduce_robust.cc#L362

it force worker1 and worker0 into collective checkpoint state
https://github.com/chenqin/rabit/blob/test/src/allreduce_robust.cc#L1018

I guess t

[2019-07-10 08:13] sperlingxx opened #4653 "[python-package] include dmlc_tracker into python-package"
For now,  `dmlc_tracker/tracker.py` is copied into python-package on the fly, during the python installation.

[code]

Maybe there exists a better approach, include dmlc_tracker into xgboost python-package via `__init__.py`.  Something like:

[code]

[2019-07-10 08:15] sperlingxx commented on #4653
@RAMitchell @hcho3  What do you think?  I am grad to work on this.

[2019-07-10 08:17] sameershmedianet commented on #1715
'conda install nomkl'.

This worked for me as well. I was getting error while running LightGBM package, it was erroring out after a certain number of rows or certain number of features.

I'm guessing it has something to do with memory usage or parallelising process. it would be great if someone can explain what exactly 'libomp' does and why 'nomkl' solves it. Thanks.

[2019-07-10 08:45] wstian commented on #4250
try chenqin/rabit@1e82c33

`worker-0` shutdown with following log:

[code]

[2019-07-10 09:16] RAMitchell commented on #4600
I've been thinking that this is not a critical issue for now. Evaluation can't run on the gpu when called independent of training but this is not a big deal as evaluation is rarely a bottleneck (simple calculations proportional only to number of rows). Prediction can still occur on device via setting the booster params.

[2019-07-10 13:23] sbushmanov opened #4654 "Segmentation fault when building release_0.90 with GPU from source."
Error message:

[code]

Steps to reproduce:

[code]
Some additional info:

[code]

Any help is appreciated!

PS

release_0.82 builds perfectly.

[2019-07-10 13:33] trivialfis commented on #4654
@sbushmanov Could you try upgrading CUDA to 10.1?

[2019-07-10 15:07] ravinear commented on #4647
it looks like we need to set `xgbParam = Map ( ... "eval_sets" = Map("train" -> training))`

[2019-07-10 16:01] sbushmanov commented on #4654
Working with CUDA 10.1.
Thanks!

[2019-07-10 16:01] #4654 closed

[2019-07-11 03:00] thesuperzapper commented on #3370
This new PR is where we are working on it #4656

[2019-07-11 07:33] thesuperzapper commented on #4628
@CodingCat
After further investigation,  this crash is caused by running the same training within **exactly 60sec** of the last time you ran it.

**Steps to reproduce:**
1. Download Spark 2.4.3 [from here](https://www-us.apache.org/dist/spark/spark-2.4.3/spark-2.4.3-bin-hadoop2.7.tgz), and extract it.
2. Download the following jars from maven:
  * https://repo1.maven.org/maven2/ml/dmlc/xgboost4j/0

[2019-07-11 15:19] xmart opened #4657 "xgb.cv´s folds list of test indices and "unnatural" corresponding train indices"
When one gives a list of test indices, the most natural selection of train indices are the remaining lines. But in the code, all other teste indices are taken as train indices:
[code]
This makes the selection of test/train very difficult. For example, one wants to take different tails sizes as test indices:
[code]
If one puts this test indices in `folds`, `xgb.cv` will perform overfittinng using o

[2019-07-11 17:17] redpoint13 commented on #4018
has there been any progress or new options?

[2019-07-11 18:16] chenqin commented on #4250
Thanks you quick response! This is also a known issue where I put an assert to avoid unexpected state
https://github.com/chenqin/rabit/blob/test/src/allreduce_robust.cc#L932
Could you also post log from worker-1 as well, -55050240 is really weird seqno

[2019-07-11 23:13] hcho3 commented on #4657
@xmart It appears that the folds in `testX` are not mutually exclusive. So in the current XGBoost implementation, some data points will be repeated more than once. Is it common to have overlaps in test folds?

[2019-07-12 05:01] wstian commented on #4250
try chenqin/rabit@aa2153f

``worker-0`` shutdown, log as below:

[code]

``worker-1`` alive, waiting, but no other log.

[2019-07-12 08:47] neeleshkshukla commented on #4520
Yes with Spark, I am also not able to use those option. We need to use native booster which doesn't have access to them. @CodingCat Can we add support for different methods in Spark as well.

[2019-07-12 08:50] neeleshkshukla commented on #4520
In a simple case, it works that I have tried. I have a preprocessing pipeline which 1-hot encodes the features. Not sure giving feature name will work in that case. Let me give it a try as well.

[2019-07-12 08:54] Daniel8hen commented on #4520
@neeleshkshukla is right, I think that the support for Spark would be super helpful! If you'd like, @CodingCat , once you'll have the support, I'll review + write a tutorial for users in Spark as I use it kinda a lot.
Thanks!

[2019-07-12 18:30] chenqin commented on #4250
humm, last try. adding assertion of negative seq no as  "recv ack - |-55050240|" as well as flag logging.

passing multiple run of https://github.com/chenqin/xgboost/blob/master/tests/cli/runxgbtests.sh

https://github.com/chenqin/rabit/commit/0a522a77829162f2dbea8c99487819b8b50b47c2

[2019-07-12 23:37] chenqin commented on #4250
Let's document what is "expected" fault recovery behavior in current rabit design so we can have all on same page with reasonable expectation.

1. allreduce/broadcast has to happen between loadcheckpoint and checkpoint calls.
2. no bootstrap allreduce/broadcast is allowed.(only rerun iteration n allreduce/broadcast from last iteration checkpoint (iteration n-1) is supported)
3. in case too many no

[2019-07-15 03:48] trivialfis commented on #4653
@sperlingxx Feel free to open a PR.  :)

[2019-07-15 06:33] hcho3 commented on #4270
@AmberCheng We now have a tutorial for running distributed XGBoost training on Kubernetes cluster: https://xgboost.readthedocs.io/en/latest/tutorials/kubernetes.html

[2019-07-15 08:59] cmcai0104 commented on #4581
Thank you for you replay!

And I have one more question. How to set eval_set and eval_group when I want to useing RandomizedSearchCV. I want to train a lamdbamart ranking model.

[2019-07-15 09:56] ksangeek opened #4660 "multi-GPU tests coredump with "Digits" dataset in testcase"
**Describe the issue**
The multi-GPU tests with "Digits" dataset which is part of XGBoost tests here - https://github.com/dmlc/xgboost/blob/master/tests/python-gpu/test_gpu_linear.py core-dumps on `linux-ppc64le`.

**Steps/Code to reproduce issue**
Executing the test case core-dumps with multi-GPU variant with "Digits" dataset. multi-GPU variant works fine with other datasets.

**Environment detai

[2019-07-15 16:39] trivialfis commented on #4618
I'm investing the JSON serialization format.

[2019-07-15 16:40] trivialfis commented on #4660
Currently we don't have any test on Power ...

[2019-07-15 21:55] hcho3 opened #4663 "[Roadmap] More robust metric calculation in distributed setting"
The current method of computing metrics (error, AUC, RMSE, etc) is not quite robust in distributed setting. Currently, the given metric is first computed in each node locally (with its own data shard) and then an average is computed via AllReduce. So
[code]
(Weighted average is used in practice, but for now, assume unweighted to simplify discussion.)

This approach is reasonable for error, MAE, an

[2019-07-15 22:32] yinlou commented on #4663
Thanks for starting this thread!

[2019-07-15 22:54] RAMitchell commented on #4660
Thanks for your bug report.

Multi-GPU support using threads is deprecated and is expected to be removed in the next couple of months. Let us know if the same issue persists using distributed multi-GPU, otherwise I don't think we will invest time in debugging this.

[2019-07-15 23:26] hcho3 commented on #4663
@RAMitchell @trivialfis This may also affect metric calculation on multiple GPUs.

[2019-07-16 01:36] hcho3 commented on #4644
Currently, this is not possible, since there is no method to peek inside the `dtrain` object to obtain feature values.

[2019-07-16 04:09] CodingCat opened #4665 "reason to use float to hold eval metric?"
is there a particular reason to use float to hold eval results instead of double (saving memory?)?

I asked because I recently met a case that 6 digits after decimal is way too aggressive to determine it is time to `early stop`

[2019-07-16 04:24] #4536 closed

[2019-07-16 08:39] Jafee opened #4666 "java.lang.NoClassDefFoundError: ml/dmlc/xgboost4j/scala/ObjectiveTrait"
Spark session available as 'spark'.
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 2.4.3
      /_/

Using Scala version 2.11.12 (Java HotSpot(TM) 64-Bit Server VM, Java 1.8.0_191)

[code]

java.lang.NoClassDefFoundError: ml/dmlc/xgboost4j/scala/ObjectiveTrait
  at java.lang.Class.getDeclaredMethods0(Native Metho

[2019-07-16 16:06] ksangeek commented on #4660
Hi @RAMitchell Thanks for the suggestion.
I used this test https://github.com/dmlc/xgboost/blob/release_0.90/tests/distributed/distributed_gpu.py as reference for testing distributed multi-GPU for Digits dataset.
This is what I tried and it worked fine -

[code]

But when I tried the same code by removing the `xgb.rabit.*` sections from the code, that too worked fine. So, looks like my test code d

[2019-07-16 17:07] jonimatix commented on #4018
Yes this is a teething problem

[2019-07-16 17:16] hcho3 commented on #4665
Which metric were you using? BTW, I think certain metrics are not quite exact in distributed setting, see #4663, so I'm not sure it's worthwhile to use double precision.

[2019-07-16 17:49] CodingCat commented on #4665
@hcho3 I am using logloss

[2019-07-16 18:07] hcho3 commented on #4665
Was your dataset pretty big?

[2019-07-16 18:12] CodingCat commented on #4665
big and unbalanced

[2019-07-16 18:16] CodingCat commented on #4666
you need to include xgboost4j-0.90.jar as well

[2019-07-16 18:16] #4666 closed

[2019-07-16 20:12] zdwhite commented on #4642
Thanks for the response, I was indeed using binary:logistic. However, I felt a bit sheepish after fiddling with it and noticing the values I was getting were indeed probabilities. When reading the docs this wasn't spelled out directly, and was so use to Sklearn's output.

My mistake.

[2019-07-16 22:51] RAMitchell opened #4668 "Allow releasing GPU memory"
One common piece of feedback we receive about the GPU algorithms is that memory is not released after training. It may be possible to release memory by deleting the booster object but this is not a great user experience.

See
#4018
#3083
#2663
#3045

The reason why we have not implemented this already is that the internal C++ code does not actually know when training is finished. The language bind

[2019-07-16 22:52] RAMitchell commented on #4018
Lets continue this discussion in #4668. I think this needs to be a priority for us.

[2019-07-16 22:52] #4018 closed

[2019-07-16 22:57] RAMitchell commented on #4660
I didn't realise you were interested in the linear models. The multi-GPU linear booster was something of an experiment - it needs a lot of work to be competitive on speed or be production ready I'm afraid. Our GPU tree algorithms are much more advanced.

[2019-07-17 00:17] trivialfis commented on #4668
Or we pass num boost round to c++?

[2019-07-17 03:41] seanthegreat7 commented on #4668
For those who look for a quick workaround till you fix it properly check [my solution here](https://stackoverflow.com/questions/56298728/how-do-i-free-all-memory-on-gpu-in-xgboost)

[2019-07-17 03:42] seanthegreat7 commented on #4018
For those who look for a quick workaround till you fix it properly check [my solution here](https://stackoverflow.com/questions/56298728/how-do-i-free-all-memory-on-gpu-in-xgboost)

[2019-07-17 07:15] seanthegreat7 commented on #4668
For those who are looking for a quick workaround until you fix it properly you may want to look at [my solution here](https://stackoverflow.com/questions/56298728/how-do-i-free-all-memory-on-gpu-in-xgboost/56585662#56585662)

[2019-07-17 12:29] gLinxi opened #4669 "XGBoost4j-spark: CrossValidator logs"
When i use the xgboost4j-spark cross-validator in my project, just like below:

     val cv = new CrossValidator()
      .setEstimator(pipeline)
      .setEvaluator(evaluator)
      .setEstimatorParamMaps(paramGrid)
      .setNumFolds(5)

    val cvModel = cv.fit(trainingData)

I noticed in cv.fit(), there are a lots of codes for logs:
eg. logDebug(s"Train split $splitIndex with multiple sets of p

[2019-07-17 14:04] trivialfis commented on #4668
@seanthegreat7 Thanks.  That's actually an interesting workaround.

[2019-07-17 15:52] CodingCat commented on #4669
it's in spark application's log, can you post an example about your log?

[2019-07-17 19:00] ericpsimon opened #4671 "[jvm-packages] SIGSEGV Error on train() after using setHandleInvalid("keep")"
When creating a pipeline object with stages that are:
- StringIndexer
- OneHotEncoder
- VectorAssembler
- XGBoostClassifier

When I apply setHandleInvalid("keep")  on the OneHotEncoders and StringIndexers, the process fails.

Sample executor log:
[code]

Driver Log
[code]

The process succeeds when I change from `keep` to `skip`.

[2019-07-18 01:12] trams opened #4675 "Use bundled gtest in all CI scripts"
XGBoost native part uses Google Test Framework for tests

and there has been implemented USE_DMLC_GTEST CMake option to reuse gtest bundled with DMLC and I like this option! After discovering it I had my tests run on Windows|Linux without any problem

I suggest to
- [x] Remove "EXPERIMENTAL" from option description and update the doc for contributors with suggestion to use it
- [x] Make sure this

[2019-07-18 01:19] hcho3 commented on #4675
@trams I added USE_DMLC_GTEST because I could not get Google Test working otherwise on Windows. Now that it's been in use in the automated testing server (https://xgboost-ci.net) for a while, I think it's safe to remove the EXPERIMENTAL label.

As for the version of Google Test, I think we need 1.8.1 or newer for Clang-tidy. So I suppose we should use 1.8.1 everywhere for the sake of consistency.

[2019-07-18 01:27] trams commented on #4671
@ericpsimon Could you provide a reproducible script? And also OS, compiler you used if you compile it yourself, XGBoost version/commit.

[2019-07-18 01:39] trams commented on #4675
Thank you for the context

[2019-07-18 01:56] hcho3 commented on #4675
Let's update the doc after dmlc/dmlc-core#542 is merged.

[2019-07-18 04:14] adithyabsk opened #4677 "pip install fails when install 0.90, gcc-8, macOS 10.14.5"
Traceback
[code]

I tried installing prior versions and it seems that the earlist version that still works on my current mac is 0.71.post4. I have no problems on another mac machine thought which I can add to this thread.

[2019-07-18 04:16] adithyabsk commented on #4677
If I could get some debugging directions, would be more than happy to provide those details.

[2019-07-18 10:27] marccina opened #4678 "[jvm-packages] I cannot get xgboost4j and xgboost4j_2.12 packages with the repository "https://raw.githubusercontent.com/CodingCat/xgboost/maven-repo/""
Using this [readme](https://github.com/dmlc/xgboost/tree/master/jvm-packages#access-snapshot-version) on branch 'master'
(*we would like to use jvm packages for scala 2_12*)

# SBT
sbt compile

# ERRORS
[error] unresolved dependency: ml.dmlc#xgboost4j_2.12;1.0.0-SNAPSHOT: not found
[error] unresolved dependency: ml.dmlc#xgboost4j-spark_2.12;1.0.0-SNAPSHOT: not found

# build.sbt
val xgboostVersion

[2019-07-18 10:43] wugufly commented on #4677
open the file and install it
/Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg

and try it again.

[2019-07-18 14:47] CodingCat commented on #4678
1.0.0-SNAPSHOT hasn't been released

[2019-07-18 14:47] #4678 closed

[2019-07-18 14:48] CodingCat opened #4679 "[BLOCKING] Per-node sync slows down distributed training with 'hist'"
looks like latest branch has per-node sync again https://github.com/dmlc/xgboost/blob/4ef6d216b9989f0ea7101fcbecefe25f6125c195/src/tree/updater_quantile_hist.cc#L615-L617

[2019-07-18 14:56] CodingCat commented on #4679
and the grads is also synced per node

https://github.com/dmlc/xgboost/blob/4ef6d216b9989f0ea7101fcbecefe25f6125c195/src/tree/updater_quantile_hist.cc#L643 (only needed for root actually , check https://github.com/dmlc/xgboost/pull/4140)

[2019-07-18 15:49] CodingCat opened #4680 "[Roadmap] XGBoost 1.0.0 Roadmap"
@dmlc/xgboost-committer please add your items here by editing this post. Let's ensure that

* each item has to be associated with a ticket

* major design/refactoring are associated with a RFC before committing the code

* blocking issue must be marked as blocking

* breaking change must be marked as breaking

for other contributors who have no permission to edit the post, please comment here abou

[2019-07-18 15:51] marccina commented on #4678
Thanks for your reply.

Just what about 0.90 version ? I found only 0.72 version on this repo.
Is it the snapshot repository ?
(Sorry but I don't understand the jvm-package readme :) )

[2019-07-18 22:09] Lauler commented on #4668
None of the workarounds seem to be working on Windows 10. Tried deleting and loading the booster object (still crashed).

Tried predicting in a subprocess similar to @seanthegreat7 (but for R instead of python). The subprocess just ran indefinitely without finishing.

Would indeed be greatly appreciated if you provided a solution for this issue!

[2019-07-18 22:35] adithyabsk commented on #4677
@wugufly Based on the conversations here, I was under the impression that this wasn't the best practice: https://github.com/pyenv/pyenv/issues/1219#issuecomment-482699830 Is there an alternative solution that we can gun for to make the project work out of the box in the long run? I can try this in the short run to see if it works for me.

[2019-07-18 23:03] hcho3 commented on #4677
@adithyabsk See discussion in #4477. I think a permanent fix would be to have users install OpenMP via `brew install libomp`. I'm currently working to fix CMakeLists.txt.

[2019-07-18 23:06] adithyabsk commented on #4677
@hcho3 Oh okay, haha I opened that issue as well :) I just wasn't sure if that ticket would solve this issue.

[2019-07-18 23:21] hcho3 commented on #4477
@adithyabsk This is one of priorities of mine. I'd like to make a fix before the 1.0.0 release.

[2019-07-18 23:23] adithyabsk commented on #4477
Glad to hear it! I'll see if I can tink around with this issue as well.

[2019-07-18 23:28] hcho3 commented on #4477
@adithyabsk One subtle problem I've run into `brew install libomp` is that XGBoost would be compiled without OpenMP, because CMakeLists.txt was not configured correctly. (I could tell by running a moderately heavy job on my Macbook; without OpenMP, jobs will take 2-3x as long.) I'm trying to revise CMakeLists.txt to properly enable OpenMP.

[2019-07-19 02:03] trivialfis commented on #4679
Seems the optimization PR didn't make a clean rebase.

[2019-07-19 02:33] gLinxi commented on #4669
the begining of logs:
2019-07-17T18:55:33.225+0800: [GC (CMS Initial Mark) [1 CMS-initial-mark: 0K(1398144K)] 369097K(2027264K), 0.2166854 secs] [Times: user=0.22 sys=0.00, real=0.22 secs]
2019-07-17T18:55:33.441+0800: [CMS-concurrent-mark-start]
2019-07-17T18:55:33.447+0800: [CMS-concurrent-mark: 0.006/0.006 secs] [Times: user=0.08 sys=0.00, real=0.01 secs]
2019-07-17T18:55:33.447+0800: [CMS-conc

[2019-07-19 03:06] Yuan-Chang-UT opened #4682 "XGBClassifier, XGB booster, output_margin, base_score, etc prediction disrepancy"
Hi, I cannot understand how exactly XGB predictions are calculated at 3 phases.

I'll talk about 3 types of predictions i'm concerned about: XGBClassifier, XGBClassifier.get_booster() as booster, and booster.predict(output_margin=True) as output_margin predictions.

To my understanding, the sigmoid of the output_margin prediction is the booster.prediction, and it is always true as it should.

To m

[2019-07-19 03:15] Yuan-Chang-UT commented on #4682
@hcho3 can you help me out again? Or tag someone who can?

[2019-07-19 03:39] thesuperzapper commented on #4680
Not a committer, but can we please target PySpark API for 1.0?
Issue: #3370
Current PR: #4656

[2019-07-19 03:40] CodingCat commented on #4680
for other contributors who have no permission to edit the post, please comment here about what you think should be in 1.0.0

[2019-07-19 03:40] thesuperzapper commented on #4680
Also, should we target moving exclusively to the Scala based Rabit tracker (for Spark) in 1.0?

[2019-07-19 03:42] thesuperzapper commented on #4628
@CodingCat are you able to reproduce this?

[2019-07-19 12:54] beniz opened #4684 "git clone recursive fails on rabit submodule path"
Hi, building from source:

[code]
fails with
[code]

[2019-07-19 13:22] beniz commented on #4684
OK, it seems I was able to solve it by installing git `2.22.0` on Ubuntu, but I suspect there's something more. This is still reproducible for me on Ubuntu 16.04 with default git.

[2019-07-19 13:22] #4684 closed

[2019-07-19 18:08] anthonymakela opened #4685 "Trouble while cloning the repository."
Hi! There seems to be a problem while cloning the repository. Im trying to build with multiple GPU support and this seems to be the root of the problem. Any ideas on how to fix this?

`fatal: reference is not a tree: e1c8056f6a0ee1c42fd00430b74176e67db66a9f
Unable to checkout 'e1c8056f6a0ee1c42fd00430b74176e67db66a9f' in submodule path 'rabit'`

[2019-07-19 18:11] hcho3 commented on #4685
What is your Git version? I cannot reproduce the error:
[code]

[2019-07-20 00:30] trams commented on #4680
I am also not a committer but me and the company I work in is very interested in fixing the performance issue with checkpointing (or at least mitigate it) #3946

[2019-07-20 09:33] trivialfis commented on #4685
With git 2.22.0 I cannot reproduce.

[2019-07-21 01:57] thesuperzapper commented on #4680
There is also the secondary consideration, that we might not be ready for 1.0, and the API guarantees that come with that, for example, we could instead do 0.10.0 next?

[2019-07-21 17:29] roycechan opened #4691 "Continue training with XGBClassifier()"
I trained a XGBClassifier for 10 rounds. Is it possible to continue training later?

Here's how I saved the model after 10 rounds:
`
joblib.dump(bst, 'model/xgbmodel.pkl.z')
`

When i try to train it subsequently

`
bst2 = joblib.load('model/xgbmodel.pkl.z')
bst2.fit(X_train,y_train,
        eval_set=[(X_train, y_train), (X_test, y_test)],
        eval_metric='mlogloss',
        early_stopping_rou

[2019-07-22 07:43] yxnal opened #4692 "When training data in libsvm format, GPU mode is slower than CPU mode"
When training data in libsvm format, GPU mode is slower than CPU mode

The code is:
##########################################
import numpy as np
import pickle
import xgboost as xgb
import time
from sklearn.metrics import classification_report

def test():
    dtrain = xgb.DMatrix('data/xgb/train')
    dtest = xgb.DMatrix('data/xgb/test')
    dval = xgb.DMatrix('data/xgb/val')
    y_test = dtest.g

[2019-07-22 07:50] RAMitchell commented on #4692
Our quantile algorithm is currently slow for wide datasets. This is a known issue and most likely the source of this problem. We are investigating better algorithms.

[2019-07-22 08:33] yxnal commented on #4692
Thank you for your answer！
Does this just affect the GPU?
What is the difference between the CPU and GPU mode in dealing with wide datasets ?

[2019-07-22 08:34] yxnal commented on #4692
thanks！
I'll try it out.

[2019-07-22 08:37] yxnal commented on #4692
The output is：

CPU：
[08:14:57] ======== Monitor: Learner ========
[08:14:57] EvalOneIter: 0.577273s, 100 calls @ 5772us
[08:14:57] GetGradient: 0.749112s, 100 calls @ 7491us
[08:14:57] PredictRaw: 0.0118965s, 100 calls @ 118us
[08:14:57] UpdateOneIter: 22.6875s, 100 calls @ 226875us
[08:14:57] ======== Monitor: GBTree ========
[08:14:57] BoostNewTrees: 20.3901s, 100 calls @ 203901us
[08:14:57] Co

[2019-07-22 14:42] fly12357 opened #4694 "Dose XGBRanker objective=‘rank:pairwise’. consider the NDCG in loss?"
Can I use  XGBRanker objective=‘rank:pairwise’ for a ranking problem without considering the ndcg? Just like Ranknet.

[2019-07-22 16:17] trivialfis commented on #4694
XGBoost implements `LambdaMart`, NDCG is only one of the measurements, you can switch to others supported in XGBoost like map or pairwise.  But I think NDCG will return the best result.

[2019-07-22 21:10] Ying456123 opened #4695 "question about deprecation of passing lists to DMatrix"
@scwilkinson @trivialfis
I saw the pr: https://github.com/dmlc/xgboost/pull/3970 . Just want to know why this code will bring the 10% prediction difference? Could you provide the failed case if possible so I can add to my testcase?
[code]
Because an application I maintained will deal with user's input record, and then  use a unified format to construct DMatrix with this input record. I've always b

[2019-07-23 01:49] fly12357 commented on #4694
Thanks for your reply. But, I still confused about the "pairwise: method.

In "From RankNet to LambdaRank to LambdaMART: An Overview" the lambda gradient is:
![image](https://user-images.githubusercontent.com/40494145/61676252-d29aba80-ad2d-11e9-831b-1fd55b08dd62.png)

According to the above formulation, I guess

The menthod "rank:ndcg" implemented in the Xgboost means the delta Z is the "NDCG" me

[2019-07-23 01:51] fly12357 commented on #4694
Thanks for your reply. But, I still confused about the "pairwise: method.

In "From RankNet to LambdaRank to LambdaMART: An Overview" the lambda gradient is:

![image](https://user-images.githubusercontent.com/40494145/61676661-691bab80-ad2f-11e9-9805-7f9b52845b6b.png)

According to the above formulation, I guess

The menthod "rank:ndcg" implemented in the Xgboost means the delta Z is the "NDCG" m

[2019-07-23 02:56] RAMitchell commented on #4680
Added some gpu related items.

[2019-07-23 05:13] #4520 closed

[2019-07-23 05:16] neeleshkshukla commented on #4520
Tested with different data and Sparse/Dense vectors. Seems like not an issue with XGBoost. Need to be investigated at Spark's Vector Assembler level.

[2019-07-23 07:35] jtromans commented on #4668
I'm finding this very difficult especially when performing a wide parameter search in a loop of some kind.

For example:
[code]

This will crash, since I guess the trained_model hangs around on the GPU indefinitely. Alternatively, if I     `exp_models.append(trained_model.get_booster().copy())` all is well.

However, I'm also running into the same issue when submitting numerous jobs via a Dask sch

[2019-07-23 13:52] ppmdatix commented on #1715
Hello
Same for me but
`conda install -c anaconda nomkl`
worked for me
Hope it helps

[2019-07-23 19:17] chenqin commented on #4250
So I found root cause of negative overflow, it was caused by introduce additional bit and update left shift 5 bits. It cause kSpecialOp << 5 + flags greater than signed int32 range. I submitted a fix which will use unsigned_int32 instead of signed one. https://github.com/chenqin/rabit/pull/4/files#diff-5404c32553915533fabb6d48e626e98fR274
The issue should be fix.

[2019-07-24 07:00] #4669 closed

[2019-07-24 07:01] gLinxi commented on #4669
I get logs from driver node

[2019-07-24 10:27] Mary-Kul opened #4700 "model_.trees.size() < model_.trees_to_update.size()"
Hi, I have the following issue, training incremental XGBoost model, For some reason it works OK with with small amount of data, but when I make training set bigger it fails.

`xgboost.core.XGBoostError: [13:08:33] src/gbm/gbtree.cc:278: Check failed: model_.trees.size() < model_.trees_to_update.size() (159 vs. 159) :
Stack trace:
  [bt] (0) 1   libxgboost.dylib                    0x0000000125d4f57

[2019-07-24 12:04] trivialfis commented on #4695
It's OK to change it to numpy.ndarray.

[2019-07-24 12:05] trivialfis commented on #4695
@Ying456123

[2019-07-24 12:07] trivialfis commented on #4694
@fly12357 There is not `Z` in pairwise.  Should be just 1.

[2019-07-24 13:29] paantya commented on #4685
Hi!

Аналогично:
[code]
i use Docker:

[code]

[2019-07-24 14:47] trivialfis commented on #4685
Could you specify git version?

[2019-07-24 17:02] snawara opened #4703 "Parallel xgboost slows down when using more than 8 threads"
I did some benchmarking with parallel xgboost on [this kaggle dataset](https://www.kaggle.com/c/ieee-fraud-detection/data)  (+ feature engineering and data split resulting in 676 features and ~500k rows in the train data) using an AMD 2990wx (32c/64t) cpu and the following system:

[code]
Here are the xgboost parameters:

[code]

Here is how long it took to do 100 rounds for various values of nthr

[2019-07-24 17:17] hcho3 commented on #4648
@sriramch @rongou This may be related to why python-cpu tests are failing with
[code]
https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-4697/3/pipeline

[2019-07-24 17:28] Yuan-Chang-UT commented on #4682
I figured out half of it at least, the booster prediction is equal to:

![image](https://user-images.githubusercontent.com/22758979/61814792-b403f480-adfd-11e9-9de6-f4b403cec43d.png)

With the default of base_score == 0.5, logit(0.5) == 0 as Sigmoid(0) == 0.5

[2019-07-24 17:38] sriramch commented on #4648
@hcho3 it looks like pandas 0.24 was released in jan, 2019. why are we seeing build breakages only now? isn't it possible to pin to a particular (stable) version of these dependent packages and only upgrade after we have tested with it?

[2019-07-24 17:55] trivialfis commented on #4648
@sriramch We usually follows the upstream as we don't expect pip users to  handle dependencies themselves.

[2019-07-24 18:13] rongou commented on #4648
@hcho3 hmm I cannot reproduce the error locally. Not sure how the CI machines are set up, could the `.pytest_cache` directory be messed up?

[2019-07-24 18:21] hcho3 commented on #4648
@rongou Try upgrading Pandas?

[2019-07-24 18:30] trivialfis commented on #4648
Actually I can't reproduce it either.

[2019-07-24 18:30] trivialfis commented on #4648
Error on test farm

[2019-07-24 18:34] trivialfis commented on #4542
Will leave further development to parameters validation.

[2019-07-24 18:34] #4542 closed

[2019-07-24 18:35] hcho3 commented on #4648
Hmm, I cannot reproduce the error myself, even after upgrading Pandas. Let me look at the Docker container

[2019-07-24 18:37] trivialfis commented on #4694
Actually that sounds weird.  I don't fully understand the ranking implementation yet.  Should work on it in the future after sorting out existing PRs.  Feel free to look into the corresponding implementation.

[2019-07-24 18:42] trivialfis commented on #4239
Closing as we are deprecating n GPU support.

[2019-07-24 18:42] #4239 closed

[2019-07-24 19:18] rongou commented on #4648
I ran it using docker with the ci command:
[code]

[2019-07-24 22:27] snawara commented on #4703
I ran this again with tree_method = "exact". Now it plateaued at ~16 threads:

[code]
![parBench](https://user-images.githubusercontent.com/21176904/61832881-432dfe00-ae38-11e9-8caf-6257f06157e1.png)

Any ideas?

[2019-07-24 22:34] hcho3 commented on #4703
I notice that you are using 0.71.2 version of XGBoost. Can you try again with 0.82.1 ?

[2019-07-24 23:40] snawara commented on #4703
Now I ran it on R 3.6.1 and xgboost_0.82.1:
[code]
It looks like 2x faster with the new version, great job! But I still see the same strange pattern:

![parBench](https://user-images.githubusercontent.com/21176904/61835636-3e6e4780-ae42-11e9-8d5d-7e751e940aa4.png)

[2019-07-24 23:56] hcho3 commented on #4703
We've been working to improve the performance on multi-core CPUs. Expect additional improvements when 0.90 is uploaded to CRAN. Alternatively, you can compile XGBoost from the latest source and get improvements now.

[2019-07-24 23:56] #4703 closed

[2019-07-25 00:30] trivialfis commented on #4700
If you don't silent XGBoost it should give you a warning about using updater parameter.  The refresh updater is used to refresh built tree, not building new trees.  I suspect that's the problem.  :-)

[2019-07-25 00:41] #4695 closed

[2019-07-25 03:14] sunbc0120 opened #4705 "Unstable behaviour during sklearn learning_curve with "b'value 0 for Parameter num_class should be greater equal to 1'""
[code]

leads to:

[code]

[2019-07-25 03:48] fly12357 commented on #4694
Thanks for your reply. I agree with your point that in rank:pairwise there is no z (It is a simple GBrank).  And I found that  the problems "Selection of objective "rank:ndcg" results in lower NDCG than "rank:pairwise" #4177 has discussed this issue.

[2019-07-25 04:28] CodingCat commented on #3946
update:

basically, I have run the prototype fix with our production data and everything looks fine. Now, it comes to the cost of fix. The fix under test goes to the path that the prediction cache is rebuilt for each checkpoint interval, however, it still slows down first iteration of each interval. However, a more fundamental fix requires API changes/adding, and the added API might be only consum

[2019-07-25 06:09] trams commented on #3946
Thank you for the update. I am glad you have a fix and from your description I think I have a similar fix being tested on production dataset too.

I am looking forward for you sharing notes|patches so we can compare our notes.

By the way, my fix is published as a branch in our fork. I can link it here if you are interested.
I did not submit a pull request cause it is not yet ready for it: there a

[2019-07-25 09:33] panranyang opened #4707 "parameter gamma doesn't work at all when using gpu_hist"
I use "hist" and "gpu_hist" to train my model. When gamma=15 for both, "hist" return a model whose sum of features' fscore is 0, which means all nodes were pruned.While "gpu_hist" return a normal model. Then I use gamma=0 for "hist", the result becomes normal. Though I use gamma=1e4 for "gpu_hist", the result is still just like gamma=0.

I  just wonder if "gamma" does not work with "gpu_hist" or i

[2019-07-25 09:59] RAMitchell commented on #4707
It doesn't currently because it doesn't use the pruner. This can possibly be fixed.

[2019-07-25 10:16] panranyang commented on #4707
Thank you!

[2019-07-25 10:16] #4707 closed

[2019-07-25 12:53] Mary-Kul commented on #4700
@trivialfis it does warn but in incremental learning it is the point, isn't it? I want to update my trees not to increase amount of them according to the new data...

I do not understand why for some amount of data it works and for some - does not

Thanks in advance

[2019-07-25 16:26] xEcEz commented on #4246
Any update? I am just discovering this now. This is indeed a massive problem...

What do you mean exactly?

In my context, I have a pool of processes that each load a pickled model and then try to make predictions, which is where I get the `dmlc::Error`.
Note that I also tried with a unique process in the pool and still got the same error.

Here is the error stack:
[code]

It seems that CUDA is so

[2019-07-25 18:22] trivialfis commented on #4700
I don't understand what you meant.  Model in boosting is fixed once learned.  You can't modified the built tree, only adding new ones is valid.

[2019-07-26 12:17] paantya commented on #4685
[code]

[2019-07-26 12:28] paantya commented on #4685
@trivialfis you can run my script in terminal:
`user@ubuntu:~/mlbox$ ./build.sh`

Where `build.sh`:
`docker build -t user:cpu -f Dockerfile.cpu .`

And  `Dockerfile.cpu`:
[code]

[2019-07-26 15:33] paantya opened #4709 "callback.reset_learning_rate doesn't works [upd: 19:47] type: python"
ups
editing... wait

upd(19:47):
Hi everyone!
i change learning_rate, and it doesn't work!(

[code]

[code]

1. The following launches should be different, but they are the same.

- a

[code]

[code]
- b

[code]

[code]

2. **Dosn't work:**

The first and second runs should have the same value at the first iteration, but they are different. In addition, the second and third launch should have diff

[2019-07-26 16:04] anthonymakela commented on #4685
This error was due to Azure's Linux machines. By default they seem to have an really old git version. Updating git solved the problem.

[2019-07-26 16:08] pommedeterresautee opened #4710 "Install R package from Github using devtools"
Documentation still says that it is not possible to use `devtools` to install XGBoost because of submodules.
It should not be the case anymore, as devtools is now relying on `remotes` package for Github installation, and `remotes` officially supports submodules.
They even cite XGBoost installation in their readme.

Unfortunately... there is a bug on `remotes` reported there https://github.com/r-li

[2019-07-26 16:24] paantya commented on #4709
Help pls!

[2019-07-26 16:55] paantya commented on #4685
@anthonymakela but i don't use Azure's Linux.

something else?

[2019-07-26 17:07] anthonymakela commented on #4685
Can you try updating your git version to >= 2.20? Im pretty confident that it will fix the issue. @paantya

[2019-07-26 18:19] keshavramaswamy opened #4711 "Imbalanced Dataset - Documentation Ambiguity"
Hi,

I have a suggestion to make (happy to do a PR) based on my understanding of the probability output given by xgBoost.

(https://xgboost.readthedocs.io/en/latest/tutorials/param_tuning.html#handle-imbalanced-dataset) has a section for how to use tune the parameters when we require the 'right probabilities' in imbalanced dataset problems.

I feel that the documentation should also add a caveat t

[2019-07-28 17:40] wel51x commented on #4677
Any luck?

[2019-07-28 17:43] wel51x commented on #4477
Any luck?

[2019-07-28 17:44] wel51x commented on #4477
Any luck?

[2019-07-28 23:10] adithyabsk commented on #4677
@hcho3 @wel51x sorry I forgot to follow up, yep that seemed to do the trick. We can close this issue for now, but as I mentioned the legacy headers are probably not the way to go for this problem in the future.

[2019-07-29 06:43] yangxudong opened #4712 "Is there a bug of hinge loss for binary classification(binary:hinge)?"
I use` binary:hinge` as my objective function when training a binary classification task. The `max_depth` was set to 1. And I found the metrics(`auc, logloss, error`) keep the same during training process. Like
[code]
I dumped the model in the end, and I found that there are many trees with the same structure and selected feature. And some trees has only one node.  Such as:
![image](https://user-i

[2019-07-29 07:41] Mary-Kul commented on #4700
@trivialfis , here it is shown how incremental learning works https://gist.github.com/ylogx/53fef94cc61d6a3e9b3eb900482f41e0. Likewise my case here updater is "refresh"

[2019-07-29 09:00] trivialfis commented on #4700
@Mary-Kul Thanks.  Reopening so that we can take a closer look into it.

[2019-07-29 13:23] sramirez opened #4713 "XGBoost4J-Spark crashes with imbalanced data"
Hi!

I'm using XGBoost4j-Spark in its version 0.90. When fitting a model with a binary highly imbalanced dataset with xgboost I got the following error:

2019/07/22 14:53:21:699 ERROR ml.dmlc.xgboost4j.java.RabitTracker: Uncaught exception thrown by worker:
    at ml.dmlc.xgboost4j.scala.spark.XGBoost$$anonfun$trainDistributed$2$$anon$1.run(XGBoost.scala:452)

After some research, I found it is pr

[2019-07-29 19:12] jpbowman01 commented on #4685
Joining in this thread as I have the same problem... unfortunately, I don't have the ability to update git - 2.7.4 is the latest version on Ubuntu 16.04, which is what I'm running, and I'm not the sysadmin (a work machine.)   Any other thoughts?

[2019-07-30 00:00] Richardxxxxxxx opened #4714 "XGBoost4J-Spark crashes with data having NaN value"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-07-30 00:08] trivialfis commented on #4685
For now you can just use a release source from github release page.  I'm not sure about the cause of this.

[2019-07-30 02:20] chenxyGG opened #4715 "[jvm-package] XGBoost4J-Spark : Unable to get 250 workers for XGBoost training"
**error logs:**

User class threw exception: java.lang.IllegalStateException: Unable to get 250 workers for XGBoost training
at org.apache.spark.SparkParallelismTracker.execute(SparkParallelismTracker.scala:109)
at ml.dmlc.xgboost4j.scala.spark.XGBoost$$anonfun$trainDistributed$2.apply(XGBoost.scala:457)
at ml.dmlc.xgboost4j.scala.spark.XGBoost$$anonfun$trainDistributed$2.apply(XGBoost.scala:435)

[2019-07-30 02:45] chenxyGG commented on #4715
What is the true meaning of this parameter [ num_workers ]? machine num or core num or others ?

[2019-07-30 04:01] brentertainer opened #4717 "[python-package] unable to assign DMatrix._feature_names via XGBClassifier.predict_proba"
This issue was brought to my attention from [this question on StackOverflow](https://stackoverflow.com/questions/57262708/plot-partial-dependency-with-model-built-from-pandas-data-frame).

The gist of the problem is that an XGBClassifier can store and remember feature names when it is trained; however, `sklearn` does not supply such a mechanism from its [`plot_partial_dependence`](https://scikit-l

[2019-07-30 05:17] mt-jones opened #4719 "Unable to checkout submodule Rabit when cloning XGBoost"
When cloning XGBoost:
[code]

or with
[code]

The following error occurs:
[code]

To fix this, I switched the Rabit commit hash to `dba32d54d1668033356a2ad505c239411d660821` (which appears to be identical to the aforementioned).

References:
[Rabit@e1c8056f6a0ee1c42fd00430b74176e67db66a9f](https://github.com/dmlc/rabit/commit/e1c8056f6a0ee1c42fd00430b74176e67db66a9f)
[Rabit@dba32d54d1668033356a2ad

[2019-07-30 06:24] chenxyGG commented on #4715
**reason**

XGBoost4J-Spark requires that all of nthread * numWorkers cores should be available before the training runs.
XGBoost4J-Spark allows the user to setup a timeout threshold for claiming resources from the cluster. If the application cannot get enough resources within this time period, the application would fail instead of wasting resources for hanging long. To enable this feature, you ca

[2019-07-30 06:25] #4715 closed

[2019-07-30 10:52] trivialfis commented on #4685
Could you please help testing the latest master branch? @jpbowman01 @anthonymakela @paantya

[2019-07-30 13:30] paantya commented on #4685
@anthonymakela updating and it work!

Add in Docker before install git:
[code]

@jpbowman01 u can try:
[code]

[2019-07-30 13:38] paantya commented on #4685
You about at git < 2.20 testing the latest master branch?

[2019-07-30 13:44] trivialfis commented on #4685
@paantya Right.  See if the problem persists with older version of git (the one you used before).

[2019-07-30 13:45] IreneTang93 opened #4720 "libhdfs.so.0.0.0: wrong ELF class: ELFCLASS32 when spark-submit xgboost java class on the yarn clusters"
Hi,
I try to spark-submit xgboost java class on the yarn clusters.

The jars uploaded are produced under jvm-packages using "mvn clean package".
I edited these confs to utilize the hdfs:
[code]
Also, I obey the steps in https://github.com/dmlc/dmlc-core/issues/10 to utilize cdh.

But, after I using the spark-submit to submit my job, the wrong ELF class: ELFCLASS32 happened in the running container

[2019-07-30 14:34] mt-jones commented on #4719
Closing as PR was merged.

[2019-07-30 14:34] #4719 closed

[2019-07-30 15:13] CodingCat commented on #4679
more discussion at https://github.com/dmlc/xgboost/pull/4716

[2019-07-30 17:11] paantya commented on #4685
@trivialfis all ok!
i run Docker file (look up), and it finished ok done:
`

`
`git 2.7.4`

[2019-07-30 17:14] trivialfis commented on #4685
@paantya Great news!

[2019-07-30 17:15] #4685 closed

[2019-07-31 00:16] leizhanggit opened #4721 "XGBoost Training Failed, with 14GB csv data file"
Hello,

I am trying to train a model with 14GB csv data file. I just made a slight change of the spark demo code. (I have no problem to run the demo code with the mortgage data )

Here is the error:

[code]
and the debug message:

[code]

Here is the configuration of the cluster:
Standard_NC6s_v3 (beta) .  (driver)
Standard_NC6s_v3 (beta) .   (worker)
5.4 ML (includes Apache Spark 2.4

I recall th

[2019-07-31 16:55] chenxyGG opened #4723 "[jvm-package] XGBoost4J-Spark The number of classes in dataset doesn't match 'num_class' in xgboost params"
**Logs**

User class threw exception: java.lang.Exception: The number of classes in dataset doesn't match 'num_class' in xgboost params.
at ml.dmlc.xgboost4j.scala.spark.XGBoostClassifier.train(XGBoostClassifier.scala:172)
at ml.dmlc.xgboost4j.scala.spark.XGBoostClassifier.train(XGBoostClassifier.scala:44)
at org.apache.spark.ml.Predictor.fit(Predictor.scala:118)
at com.yoyi.algo.tag_model.ModelUt

[2019-07-31 18:08] CodingCat commented on #4723
you have only 5 classes but set num_class as 8?

@hcho3 I don't think xgb support such scenario?

[2019-07-31 18:23] hcho3 commented on #4723
@CodingCat I don't think so

[2019-07-31 18:28] sh1ng opened #4724 "Supporting ppc64le target with old system libs (GLIBC, LIBSTDC++, LIBGOMP)"
I'm trying to create `libxgboost.so` portable on a system with gcc version less than 5.0.
Everything is building in docker  `nvidia/cuda:10.0-cudnn7-devel-centos7`
gcc-5.3 get build inside a container and used to build xgboost.

Dynamic linking works good, but a new version `libstdc++.so` has to be presented on a machine where xgboost is executing(for testing I'm also use the same docker image, bu

[2019-07-31 18:31] hcho3 commented on #4724
I don't think XGBoost has been tested with this setting. What's your use case for this?

[2019-07-31 19:44] sh1ng commented on #4724
Support system with GCC < 5.

[2019-07-31 19:55] chenqin commented on #4721
trainDistributedForGpuDataset @rongou

[2019-07-31 20:02] CodingCat commented on #4721
this is not a open source version of xgboost, please ask databricks what is
happening

On Wed, Jul 31, 2019 at 12:55 PM Chen Qin <notifications@github.com> wrote:

[2019-07-31 20:03] #4721 closed

[2019-07-31 22:29] leedrake5 opened #4725 "XGBoost version not compiled with GPU support, even though it is"
It has been a long road to installation, but here's what works for Ubuntu 18.04 and R 3.6.1:

#Cuda 10.0 + NCCL 2.4.7
###install OS agnostic NCCL and put it in /usr/local/nccl-2.4.7
#remove all symlinks to usr/local/cuda and usr/bin/nvcc
[code]

This installs successfully. After this, I compile the R package

[code]

This all works, and to my knowledge I've done everything right to enable GPU supp

[2019-07-31 22:31] hcho3 commented on #4725
You should not use `sudo R CMD INSTALL R-package` here. Instead, run `make install` instead:
[code]

Also, make sure to remove the CRAN XGBoost package first.

[2019-07-31 22:38] hcho3 commented on #4725
Aside: it is unfortunate that we are not able to put GPU-enabled XGBoost to CRAN (The Comprehensive R Archive Network). The reason is that CRAN requires that packages be portable to many platforms, including Solaris. So we cannot submit a package that depends on CUDA, since CUDA only supports a few platforms.

[2019-07-31 22:42] leedrake5 commented on #4725
Hi u/hcho3 - that fixed it!!!!! Thank you so much. Is there a reason sudo make install is not included on the Installation Guide? I should have read between the lines, but if this were explicit I wouldn't have missed it.

I echo your CRAN frustration, but I think it is becoming common for developers to rely on specific gits. Many thanks for all the time you've put into XGBoost.

[2019-07-31 22:44] hcho3 commented on #4725
@leedrake5 It's in this page? https://xgboost.readthedocs.io/en/latest/build.html#installing-r-package-with-gpu-support

[2019-07-31 22:54] leedrake5 commented on #4725
Yes - I see my error. I was working under Building with GPU support, and then just used the -DR_LIB=ON tag. I missed the other portion of the page. Thank you for the clarification.

[2019-07-31 22:59] #4725 closed

[2019-08-01 02:00] chenxyGG commented on #4723
@CodingCat this train sample is filter by some condition, so the label of reserve samples is just these. And the importance is that if follow official docs , the label value is just required in legal range, as [0, num_class) , actually happened types of label is not in consideration.

[2019-08-01 02:02] chenxyGG commented on #4723
@hcho3 some ideas or suggestions ?

[2019-08-01 02:05] chenxyGG commented on #4720
Why not add spark4j-spark setting to your pom to building your project?

[2019-08-01 02:08] hcho3 commented on #4723
@chenxyGG I don't think it makes sense to set num_class to 8 if there are actually only five distinct class values. XGBoost cannot produce a model for data labels it has never seen.

[2019-08-01 02:23] chenxyGG commented on #4723
First, the sample daily updated, and then the determinate maximum range of label which is [0,7], so it can not sure actual range of every day.
Do you have some new ideas ?

[2019-08-01 02:27] hcho3 commented on #4723
@CodingCat Any idea about this use case?

[2019-08-01 08:07] chenxyGG commented on #4723
To make sure the sample num of each label is up to 0, try to add a little noise sample in each label partition during train process.
Now, it's running. But obviously, it's unfriendly solution to label partition which has small sample or no sample @hcho3

[2019-08-01 09:38] teopapad92 commented on #4246
I ran into the same problem recently.

I noticed that if you use an older version of xgboost (0.72.1) the problem of "it hangs and doesn’t do anything" seems to disappear, but the process takes way too long.

Just for comparison I used multi Threading (which is slower than multi processing) on the latest version (0.90).
**Results**:
-Multi Processing on v.0.72.1: 672 sec
-Multi Threading on v.0.90

[2019-08-01 12:57] yejinru commented on #4644
I found that the order of dtrain.get_label() is the same as the original data.
Maybe you can define a global array to store the features map. Then you can feature it in order.

[2019-08-01 21:53] xmart commented on #4657
Even if there were no overlaps, the issue remains the same: the selection of other test indices as train indices.

[2019-08-01 22:30] onurzdg commented on #4678
When will this be released?

[2019-08-02 00:29] sharpant commented on #4649
Following up to check if this a known issue or if there is a solution? Thanks.

[2019-08-02 00:32] cpfarrell opened #4727 "[jvm-package] Add documentation warning for saving Spark trained model with non-default missing value in native format"
When training XGBoost models on Spark it is possible to set the value of "missing" as part of the parameters of the model (more description at https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#dealing-with-missing-values). If you save the model in the format needed to be loaded in other bindings (via https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.htm

[2019-08-02 00:37] hcho3 commented on #4649
That's not where the custom evaluation function should go. You should set `eval_metric` in `fit()` instead: https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBRegressor.fit

Example:
[code]

[2019-08-02 00:37] #4649 closed

[2019-08-02 06:16] sharpant commented on #4649
@hcho3 Thanks for the note. However, I have tried that before. I get this error: `fit() got an unexpected keyword argument 'eval_set'` If I only keep `eval_metrics`, even then I get an error `fit() got an unexpected keyword argument 'eval_metric'` Is .fit defined for `MultiOutputRegressor`? I am using `XGBRegressor` within `MultiOutputRegressor` if you see my code in the initial note. Could you pl

[2019-08-02 06:19] hcho3 commented on #4649
@sharpant Where did you get `MultiOutputRegressor` class? You'd need to modify the code inside `MultiOutputRegressor` so that it would call `XGBRegressor.fit()` with `eval_metric` keyword. Or can you call `XGBRegressor.fit()` directly?

[2019-08-02 06:28] sharpant commented on #4649
@hcho3 I got `MultiOutputRegressor` from here: https://scikit-learn.org/stable/modules/generated/sklearn.multioutput.MultiOutputRegressor.html

This is my revised code where i am using `customeval1` with `fit()` based on your recommendation:

`multixg = MultiOutputRegressor(XGBRegressor(objective='reg:squarederror',booster='gbtree',
colsample_bytree = 1, nthread=8,learning_rate = 0.5,subsample=1,

[2019-08-02 06:32] hcho3 commented on #4649
Unfortunately, your use case is currently not supported, since we need to pass extra arguments (`eval_set` and `eval_metric`) and `MultiOutputRegressor` does not recognize these extra arguments.

[2019-08-02 06:36] sharpant commented on #4649
Oh I see. Unfortunate to know. Could this be a roadmap feature that can be implemented going forward? Thanks!

[2019-08-02 06:36] hcho3 commented on #4649
@sharpant I took a look at the code for `MultiOutputRegressor`, and it looks like just fitting one estimator per target. So maybe you can run XGBRegressor 2 times?
[code]

[2019-08-02 06:38] sharpant commented on #4649
@hcho3 - I want to model correlation between outcomes with my custom eval function that uses mean mahalanobis distance (as can be seen in my initial code above). Hence doing it one at a time will not leverage the correlation between outcomes :(

[2019-08-02 06:41] hcho3 commented on #4649
@sharpant

But that's what `MultiOutputRegressor` is doing:
[code]
(from https://github.com/scikit-learn/scikit-learn/blob/1495f69242646d239d89a5713982946b8ffcf9d9/sklearn/multioutput.py#L166-L169)

So even if you could use `MultiOutputRegressor`, it will not achieve what you want, I'm afraid.

[2019-08-02 06:49] sharpant commented on #4649
@hcho3 Yes, while MultiOutputRegressor makes predictions one at a time, the custom eval function will find the mean mahalanobis distance between the two predictions and two outcome columns. Hence, trees will be split based on the custom eval function (leveraging outcome correlation), but the prediction for each outcome will happen separately which is not an issue. Code for custom eval function is

[2019-08-02 06:57] hcho3 commented on #4649
No, I don't think you can use correlation between two targets. Scikit-learn's `MultiOutputRegressor` breaks down target matrix `y` into individual target vectors (`y[:,i]`) and passes to `XGBRegressor.fit()`. So XGBoost will see only one target at a time, and your custom evaluation function will not see two targets.

[2019-08-02 06:59] hcho3 commented on #4649
@sharpant Have you looked into using deep learning frameworks such as MXNet or PyTorch? There, you should have freedom to set up multiple targets and define a loss function that incorporates two targets simultaneously.

[2019-08-02 07:07] sharpant commented on #4649
Oh I see. Thanks for the info. I want to use tree-based methods as they are better at giving feature importance measures directly, while deep-learning methods require measurement of weights which is a more indirect way of measuring feature importance. Partial dependences with features can also be more easily found with tree-based methods.

My idea to implement a custom eval function with xgboost i

[2019-08-02 07:12] hcho3 commented on #4649
@sharpant

I agree. In addition, computing SHAP is much faster for tree-based models compared to neural nets.
(You can compute SHAP for neural nets but it's going to be very slow)

Currently, I'm working on the [Accelerated Failure Time loss](https://en.wikipedia.org/wiki/Accelerated_failure_time_model) for survival analysis, and as part of that work, I added mechanism to add multiple label fields

[2019-08-02 07:22] sharpant commented on #4649
Thanks for the info and help!

[2019-08-02 11:48] IreneTang93 commented on #4720
Do you mean xgboost4j-spark of the spark4j-spark?

[2019-08-02 12:08] IreneTang93 commented on #4720
The problem is solved by the following steps:
1. add dependency xgboost4j to my pom
2. recompiling the libhdfs.a after adding "-fPIC" to almost all CMAKE flags in CMakeCache under hadoop src.
3. use libhdfs.a to compile xgboost jars.

But after solving this problem, more problems came out due to so many dynamic lib *.so links to libxgboost4j.so,
such as
libgomp.so.1: version `GOMP_4.0' not found；

[2019-08-02 15:49] hcho3 commented on #4720
Looks like your cluster has old version of OpenMP runtime and GLIBC?

[2019-08-02 17:06] trivialfis commented on #4724
@sh1ng Could you please provide an easier script for reproducing?

[2019-08-02 18:22] merleyc opened #4728 "[jvm-packages] train model on spark is unstable"
Hi,
I want to understand the reason I get different models, consequently different AUC values, each time I run xgboost (v. 0.90) on spark.
I am aware about these two issues but didn't reply my question: [3959](https://github.com/dmlc/xgboost/issues/3959) and [2573](https://github.com/dmlc/xgboost/issues/2573) .
If I understood correctly, the approximate algorithm to split points use quantiles. So

[2019-08-02 19:36] hcho3 commented on #4728
@merleyc

This is not true. See https://discuss.xgboost.ai/t/jvm-packages-is-scala-spark-xgboost-0-81-model-training-reproducible/623/3?u=hcho3.

[2019-08-02 20:30] sharpant commented on #4649
@hcho3 - I realized that the inverse correlation matrix `S(inv)` in the formula of [mahalanobis](https://en.wikipedia.org/wiki/Mahalanobis_distance) distance will always be fixed for the observed y (two columns/ouptuts) of the training data. I can find the inverse correlation matrix for the two output columns, treat that matrix as a constant and pass it to the function that finds mahalanobis dista

[2019-08-02 20:51] hoveidar commented on #1715
Hey all,

although using `os.environ['KMP_DUPLICATE_LIB_OK']='True'` is absolutely frowned upon, but eventually, I had to use it cause `conda install -c anaconda nomkl` didn't work for me. Any other ideas?

[2019-08-02 21:44] merleyc commented on #4728
Hi @hcho3,
Thanks for sharing this link!
From your link:

I believe I am treating in my code the case where the data gets coalesced but I am assuming once I call xgboost.fit() the data won't be changed by spark. This is the reason I thought the randomness came from Xgboost and not spark. However I'm new in spark so I am probably wrong. Will investigate further but please feel free to direct me to

[2019-08-02 22:25] #4728 closed

[2019-08-03 01:08] vladimirkovacevic commented on #4599
When I install XGBoost on Mac with:
```pip install xgboost```
I'm keep getting this message. Can you suggest what to do to remove it?

[2019-08-03 02:31] trivialfis commented on #4599
Use `reg:squarederror` or build from master branch.  See document about objective parameter.

[2019-08-04 06:37] Daniel8hen commented on #4714
@Richardxxxxxxx , of course it's not a solver for the issue, but just as a workaround for now, what you can do is use one of the strategies in the main documentation which I've wrote [here](https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#dealing-with-missing-values).

I've wrote this comment just so you'll be able to keep on with your work for now.

[2019-08-04 06:55] sperlingxx commented on #4713
Hi @sramirez , this problem has been fixed by PR #4645 .

[2019-08-04 06:57] RAMitchell commented on #4354
Just a note on ongoing work for refactoring:

We currently have a flow of data that looks like this:
`External data (e.g. numpy 2d array) -> Dmatrix csr -> dmatrix other (column or quantile matrix)`

It has been proposed that we do this to save memory in the intermediate step
`External data -> Dmatrix other`

There is a consequence to this that we must implement combinatorially many constructors f

[2019-08-04 07:05] trivialfis commented on #4354
Another thing I'm worrying is change of updater during experiment.

[2019-08-04 17:26] sh1ng commented on #4724
Updated original description.

More generic question, how do you plan to ship whl on a system with GCC < 5 and on old version of GLIBCXX?

[2019-08-04 17:29] trivialfis commented on #4712
You can find the hinge loss implementation in `src/objective/hinge.cu`.  It's not a particularly good obj for gradient boosting since it doesn't have hessian defined.  But other than that I don't see what's wrong in the implementation.  My guess for your issue is `1 - y * p < 0` with hinge defined as `l(p) = max(0, 1 - y * p)`.

[2019-08-04 17:29] #4712 closed

[2019-08-04 17:43] trivialfis commented on #4363
@sjang92  Closing for now.  Feel free to open an issue/PR for wanted changes.

[2019-08-04 17:43] #4363 closed

[2019-08-04 18:29] chenqin opened #4734 "[legacy versions] how do we support old versions"
As xgboost is getting into production with critical use cases, I would like to open a discussion on how we support old versions. This is important because

1. changes from different versions may change model performance
2. change from different versions may require code change or dependency change

Both of which will put extra work and more importantly a risk factor to platform teams (ML as a serv

[2019-08-04 21:07] CodingCat commented on #4734
we have achieved the agreement on how to support old version and how to achieve backward compatibility. check https://xgboost.readthedocs.io/en/latest/contrib/release.html

In most of cases (not releasing a major version), the following two cases is not to be there unless in a form of bug

[2019-08-04 21:11] CodingCat commented on #4723
it's a typical use case to use stringtoIndex and indextoString in spark mllib

[2019-08-04 21:11] #4723 closed

[2019-08-04 21:14] CodingCat commented on #4444
resolved in master branch

[2019-08-04 21:14] #4444 closed

[2019-08-04 21:15] CodingCat commented on #4647
you have some partitions of spark rdd containing 0 elements, please check that

[2019-08-04 21:15] #4647 closed

[2019-08-04 21:16] CodingCat commented on #4440
these are only driver side logs, can you check what is happening in your executors?

[2019-08-04 22:22] RAMitchell opened #4735 "Automatically find available GPUs"
As discussed in #4693, there is a desire to automatically find available GPUs in a distributed setting. This significantly improves usability of our distributed GPU solution. In the case of the Python dask demo it removes the dependency on the third-party library GPUtil. It also provides a way to run on Spark until GPU scheduling arrives in 3.0 (??).

The implementation of #4693 has a couple of pr

[2019-08-05 00:52] Richardxxxxxxx commented on #4714
Thanks!
In fact, I have followed the instruction of `Keep it (using setHandleInvalid = “keep”), and set the “missing” parameter in XGBClassifier/XGBRegressor as the value representing missing. Used in (2) and (4).`

[code]
and

`setMissing(Float.NaN)`

with the training data which looks like

[code]
It also fails to train.

[2019-08-05 00:53] trivialfis commented on #4735
How many number of versions should we keep the deprecated code?  Currently we don't have any release yet.

[2019-08-05 01:57] IreneTang93 commented on #4720
Yes, it has old version and I don't have right to change it. Is there any way to run xgboost on the old system?

[2019-08-05 02:00] hcho3 commented on #4734
@CodingCat

Are we sure that we won't have situations like 0.82 -> 0.90 upgrade?

@chenqin Can you be more specific? Do you mean that we should support old releases, e.g. backport bug fixes to previous releases to some time? See #4389, where we previously decided that we didn't have enough manpower and resources to maintain legacy releases.

[2019-08-05 02:16] hcho3 commented on #4724
@sh1ng Previously, we used to use GCC 4.8 + CentOS 6 Docker image to build XGBoost wheels. We upgraded GCC to 5+ because 4.8 doesn't quite provide full support for C++11 standard. Today, I tried compiling XGBoost with my old laptop and here's what I got:
[code]

I understand the need for supporting old systems with old GLIBC version. @thesuperzapper raised a similar request in https://github.com/d

[2019-08-05 02:44] CodingCat commented on #4734
isn't this a bug? I don't think any new change would shift the output of algorithm significantly given the current status of algorithms (cpu at least, gpu maybe)

this breaks into two parts

(1) code change: no we will try our best to avoid the case like https://github.com/dmlc/xgboost/pull/4349 in future (the major reason for me to put a simplified solution like that is we were in 0.x where a lot

[2019-08-05 03:10] RAMitchell commented on #4735
Given that the next release may be 1.0, breaking changes will be expected anyway.

[2019-08-05 03:16] hcho3 commented on #4724
Some ideas:
1) Use MUSL to replace GLIBC. MUSL is designed to allow full static linking: https://www.musl-libc.org
2) It appears that we can actually statically link LIBGOMP, with right set of compilation flags: https://stackoverflow.com/questions/23869981/linking-openmp-statically-with-gcc?rq=1

[2019-08-05 03:31] hcho3 commented on #4724
@chenqin In your experience, are they still many Spark clusters running old Linux?

[2019-08-05 03:52] trivialfis commented on #4735
@RAMitchell Can we remove the code right after 1.0?  It's just natural that we have at least one release for staging, which also give us time to make proper cleanup.  Those are not small changes ...

[2019-08-05 05:51] chenqin commented on #4734
1. changes from different versions may change model performance

Only be vocal about reproducibility. I only know one case from my side, could be a bug. I asked people familiar with internal better, what I heard was there were placed worth looking into. Take 1) back.

2. change from different versions may require code change or dependency change

I tried to build against master and launch experime

[2019-08-05 07:48] RAMitchell commented on #4735
I think it will take too long if we wait until after 1.0. We have a few people working on the code base now, it will make all of our lives easier the sooner it gets done.

[2019-08-05 10:12] sh1ng commented on #4724
It'd be great if someone of you could help with 2).

[2019-08-05 12:01] Daniel8hen commented on #4714
@Richardxxxxxxx , did you try setting a dummy value which is not part of your distribution of the dataset within your model (e.g. something like 999 instead of the Float.NaN)?
Do give it a try as it works well for me and not failing.

Of course, don't forget to set the "missing" parameter in the XGBoost object.

[2019-08-05 12:07] Daniel8hen commented on #4714
the setMissing should be on the XGBoostClassifier side and not on the VectorIndexer, btw.

[2019-08-05 12:56] tgravescs commented on #4735
I haven't looked much at nvml, it looks like nvmlDeviceGetComputeRunningProcesses will return the information about what processes are using what GPUs, but how do you guarantee 2 process won't still try to use the same GPU?  ie, I have 2 processes that both at the same time run nvmlDeviceGetComputeRunningProcesses, it returns say GPU id 2 is free on both of them, then both start to use it.  I'm as

[2019-08-05 15:18] atul-patel opened #4736 "I have implemented a custom objective function. Do i still have to specify the objective parameter in param list or not."
beta = 2
def weighted_logloss(y_hat,dtrain):
    y = dtrain.get_label()
    p = y_hat
    grad = (beta-1)*p*y + p - beta*y
    hess = ((beta-1)*y + 1)*(p * (1.0 - p))
    return grad,hess

def err_rate(y_hat, dtrain):
    y = dtrain.get_label()
    y_hat = np.clip(y_hat, 10e-7, 1-10e-7)
    loss_fn = beta*y*np.log(y_hat)
    loss_fp = (1.0 - y)*np.log(1.0 - y_hat)
    return 'log_loss', np.sum(-(l

[2019-08-05 15:25] trivialfis commented on #4736
@atul-patel See an example on master branch: https://xgboost.readthedocs.io/en/latest/tutorials/custom_metric_obj.html

[2019-08-05 16:41] #4736 closed

[2019-08-05 18:02] rongou commented on #4735
Also this only works if every process uses nvml to check the availability. If someone launches, say, a tensorflow job, it'll gladly take over all the gpus, even if xgboost is already running on them.

I think proper gpu allocation needs to happen at the cluster manager level. Anything we do at the individual process level is only going to be a hack.

[2019-08-05 21:15] RAMitchell commented on #4735
nvml is actually able to set exclusive process, but only with root permissions, making this impractical.

We could get around this using rabit for synchronisation so each process gets a unique device in each iteration. This could even be done without nvml but we would have no knowledge of some compute process outside of the current xgboost was running (such as another xgboost or tensorflow).

Agre

[2019-08-05 21:56] rongou commented on #4735
What happens if you launch 4 workers but only find 3 GPUs? Just crash?

If we only launch one xgboost job at a time, we can use the Rabit rank to derive the gpu id, as I mentioned before:
[code]
The number of gpus per node can also be a parameter the user sets.

We basically have a spectrum of options with different assumptions, from
* one job at a time, exclusive access -> get gpu ids by rank

to

[2019-08-05 22:28] RAMitchell commented on #4735
Yep, just crash with an informative error. The power user may of course manually specify the device indices for each process, automatic GPU discovery is not intended to cover all use cases.

GPU selection would happen internally in C++ code rather than in python, and I do not want a parameter for number of GPUs per node. We will make the assumption that if there are 4 xgboost processes launched on

[2019-08-05 22:37] rongou commented on #4354
My goal is to make external memory work for GPUs. I think we likely need something along the lines of https://arxiv.org/abs/1901.09047, but tackling it directly may be too risk/disruptive to the existing code base, thus the need for refactoring.

Possible next steps, in no particular order:
* The existing code handling SparsePage/CSCPage/SortedCSCPage could use some clean up, especially the extern

[2019-08-05 22:57] hcho3 commented on #4354
@rongou Thanks for the link. The paper looks quite interesting, let me read it.

[2019-08-05 22:57] rongou commented on #4735
Actually we can get the number of gpus via `AllVisible()`. I'm not saying we do it in python, but the approach is the same:
[code]
assuming the cluster is homogeneous.

[2019-08-06 02:13] Richardxxxxxxx commented on #4714
@Daniel8hen , yep, replacing Float.NaN with other value like 999 and `new XGBoostClassifier().setMissing(999)` is fine.

Here is my testing code which will cause the spark job crash.

[code]
But when replacing the Float.NaN with other value like:

[code]

There will be no error.

[2019-08-06 03:32] hcho3 opened #4790 "Add "num_feature" option when reading from a CSR matrix"
Currently, the number of columns (features) is inferred when parsing a LIBSVM file. In distributed setting, a host may infer an incorrect number if its portion of data (shard) lacks the last feature. For example, if we have two hosts with the following data shards, the second host will infer wrong number of columns:

Host 1 (infers `num_column=2`)
[code]

Host 2 (infers **`num_column=1`**)
[code]

[2019-08-06 03:40] #4713 closed

[2019-08-06 03:42] hcho3 commented on #4691
Try:
[code]

[2019-08-06 03:42] #4691 closed

[2019-08-06 03:51] hcho3 commented on #4705
@sunbc0120 It looks like some of the test folds are empty, and the number of classes is inferred to be zero:
https://github.com/dmlc/xgboost/blob/97eece6ea032e769ccf733a9f65397a437139b53/python-package/xgboost/sklearn.py#L638-L639

So try to set `n_classes_` manually:
[code]

[2019-08-06 03:52] hcho3 commented on #4653
Solved by #4731

[2019-08-06 03:52] #4653 closed

[2019-08-06 04:48] sunbc0120 commented on #4705
[code]

leads to:

[code]

[2019-08-06 04:54] hcho3 commented on #4705
@sunbc0120 I think some of the folds are empty. Can you adjust hyperparameters so that no folds would be empty?

[2019-08-06 05:54] wbo4958 commented on #4735
Seems there is a case that gpu_id = rabit::GetRank() % GPUSet::AllVisible().Size() can't handle.

for example, Two PCs, each has two GPUs,
we launch two spark workers in each PC. Now, just submit 4 xgboost workers

there may be a situation, the two workers in same PC can get rank o and 2.

So in this case, seems same gpu will be allocated.

[2019-08-06 07:01] Daniel8hen commented on #4714
I see @Richardxxxxxxx . At least you have a workaround as I suggested in the documentation.
W.r.t the NaN issue, Yep, Someone will need to assist here more than I can.
@CodingCat can you help?
Thanks!

[2019-08-06 07:41] JJumSSu opened #4740 "Multi Dimension Output Regression Available?"
Hi, I'm currently trying to do the task of multiple output regression where my target y has dimensions of more than 1. Is there a feature implemented that I can use to do multiple
output regression?

If not, how can I modify the pre-existing code to do multi-dimension output regression? I realized that there is a custom objective function which I can define and use to split the trees by multiple d

[2019-08-06 07:53] trivialfis commented on #4740
Currently we don't support multiple outputs.  Even we were to implement the feature, I think sklearn's method will be adopted.

[2019-08-06 08:07] atul-patel commented on #4736
I am aware of that tutorial. I just had a doubt how does the algorithm work when both the parameters are there. (i.e objective as well as obj). When using obj does the algo returns margin or after sigmoid predictions

[2019-08-06 13:15] trivialfis commented on #4354
Just add a thing to the list, is it possible we turn the field `qid_` into local variable? It's added by  #2749 , glancing through the diff doesn't seem to be used by any algorithm.

[2019-08-06 14:39] JJumSSu commented on #4740
Oh I see, adopting the sklearn's method means that the multi-output will not be dependent on each other just like the "multioutputregressor" wrapper?

[2019-08-06 14:42] JJumSSu commented on #4740
I was wondering, is it because of some other theoretical reason that it is difficult to implement the multi output regression function on XGBOOST just like that of a RandomForestRegressor in Sklearn? It's just out of my curiosity. Thank you for your reply @trivialfis

[2019-08-06 15:02] trivialfis commented on #4740
@JJumSSu I'm not sure.  Multi output regression is certainly something interesting, but I can't prioritize it for now.  If you have some ideas on how to do it I would be happy to help.

[2019-08-06 16:19] rongou commented on #4735
You are right. I was thinking more for the mpi case where the ranks are contiguous on each node. There is no such guarantee for Spark (probably not Dask either). We need to use rabit allreduce to figure out the device assignment, maybe something like this:

for each worker:
  allocate array a of size rabit::GetWorldSize()
  set all values to 0
  a[rabit::GetRank()] = hash(hostname())
  allreduce(a

[2019-08-06 19:15] rongou commented on #4354
@trivialfis looks like the `qids_` are used by ranking objectives.

[2019-08-06 19:49] Craigacp commented on #4724
Centos/RHEL/Oracle Linux 7 are still valid platforms and worth supporting. I managed to compile the 0.90 release on OL6 without too much trouble using a gcc 4.8 compiler. The binary runs on OL6, 7 and a newer Ubuntu.

It's possible to get updated compilers on RHEL7 and OL7 using the devtoolset (https://developers.redhat.com/products/developertoolset/hello-world#fndtn-windows, https://docs.oracle.c

[2019-08-06 19:57] hcho3 commented on #4724
@Craigacp GCC 4.8 won't actually work, because you can compile XGBoost 0.90 with it but not run it. The reason is because `<regex>` is broken in GCC 4.8: http://www.michaelbrich.com/no-working-around-broken-c11-regex-in-gcc-4-8/

[2019-08-06 20:15] Craigacp commented on #4724
Binaries compiled using the dev tools version of gcc from RHEL7 & OL7 run fine on base versions of those operating systems. So you can compile using GCC 5 or later on that platform, but it still binds to the base glibc.

I've been running the builds of xgboost that I compiled on OL7 and everything seems to work fine. What codepath is regex in? I might not be hitting it with my single node Java use

[2019-08-06 20:33] hcho3 commented on #4724
@Craigacp Currently, the CLI config parser uses `<regex>`.

Indeed, you are right. I just checked all dependencies and `libxgboost.so` in the Python wheel depends on GLIBC 2.2.5:
[code]

[2019-08-06 21:08] hcho3 commented on #4724
After some googling, here's information I found:

Symbol | Package | Availability
---|---|---
`CXXABI_1.3.3` | libstdc++-4.4.7-23.el6 | CentOS 6.10
`GCC_3.0` | libgcc-4.4.7-23.el6 | CentOS 6.10
`GLIBCXX_3.4.11` | libstdc++-4.4.7-23.el6 | CentOS 6.10
`GLIBC_2.4` | glibc-2.12-1.212.el6 | CentOS 6.10
`GOMP_4.0` | libgomp-4.4.7-23.el6 | CentOS 6.10
`OMP_1.0` | libgomp-4.4.7-23.el6 | CentOS 6.10

Hmm,

[2019-08-06 21:40] RAMitchell commented on #4735
I think we did something similar in order to set up the nccl communication group. Something like what @rongou described should be fine, just use rabit communication to discover the arrangement of GPUs and workers so that each worker has a unique GPU.

[2019-08-06 21:49] tgravescs commented on #4735
So just to be clear this solution only works on non-shared cluster, correct? ie if you have 2 xgboost apps on the same nodes this wouldn't work.

[2019-08-06 21:52] RAMitchell commented on #4735
Correct, I think it is out of scope for us to deal with this case.

[2019-08-06 23:18] rongou commented on #4735
I guess it's only guaranteed to work in a non-shared cluster. In a shared cluster, if a second worker gets allocated to the same GPU, it may run out of GPU memory and crash, then Spark would schedule another task (probably on the same node?), which would crash again. This continues until either the first job finishes, or Spark fails the whole job. Since Rabit can recover from node failures, perhap

[2019-08-07 00:53] rongou commented on #4531
Looks like half the cuda code is dealing with multi-gpu. Does anyone have any idea on how to proceed? Just bite the bullet and forge ahead? :)

Some of the DMatrix refactoring might be blocked by this.

@RAMitchell @trivialfis @sriramch

[2019-08-07 01:36] trivialfis commented on #4354
Groups are used by ranking, qid seems to be an intermediate storage that used to construct group

[2019-08-07 02:51] hcho3 commented on #4663
@ericangelokim This may be of interest to you

[2019-08-07 03:10] sunbc0120 commented on #4705
[code]
have
[code]
then
[code]
gives rise to
(**sometimes it works fine, most of time NOT**)

[code]
**same unstable phenomenon after setting `n_jobs=1`**

[2019-08-07 06:39] JJumSSu commented on #4740
Okay, Thanks for your reply.

[2019-08-07 06:39] #4740 closed

[2019-08-07 07:28] JJumSSu commented on #4649
@sharpant  Hi, I'm also trying to figure out the way of doing multi-output regression. Were you able to do the multi-output regression by your proposed method?

[2019-08-07 07:42] KhaaQ commented on #4599
I installed XGBoost Few days before and I was facing the same problem.
The answer is given in the error message. I changed Regressor model parameter: objective = 'reg:lineaqr' to 'reg:squarederror'.
example:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1, max_depth = 5, alpha = 10, n_estimators = 10)

And now its not giving any warning.

[2019-08-07 11:22] michal-demecki-profil-software opened #4746 "GPU does no support objective `reg:squarederror`"
Simple Regression on freshly compiled master with GPU support does not work properly.

[code]
CUDA version:
`Cuda compilation tools, release 10.0, V10.0.130`

Reproduction code:
[code]

[2019-08-07 11:59] trivialfis commented on #4746
@michal-demecki-profil-software How did you compile XGBoost, also how did you install it?

Running on 2a4df8e29f7b004cc2e991e7c0052b003bd3413f

I can't reproduce.

[code]

[2019-08-07 11:59] trivialfis commented on #4746
@michal-demecki-profil-software Also could you try CUDA 10.1 or 9.2.  I think there was some bugs in 10.0.

[2019-08-07 12:00] #4734 closed

[2019-08-07 13:14] #4746 closed

[2019-08-07 18:40] sharpant commented on #4649
@JJumSSu My proposed method is currently not supported with `MultiOutputRegressor`. It does not take extra arguments `eval_set` and `eval_metric`. Hopefully that can be implemented in the future.
You can check out this link https://scikit-learn.org/stable/modules/generated/sklearn.multioutput.RegressorChain.html for a more indirect way of doing multioutput regression (FYI- @hcho3 )

[2019-08-08 02:10] sunbc0120 commented on #4705
@hcho3 thanks very much for your kind help. I think you are right that some folds get a too limited number of data points. The trick is to specify the `train_sizes` in `learning_curve `, which, by default, starts from `0.1`. Increase this value solved the problem

[code]

[2019-08-08 02:10] #4705 closed

[2019-08-08 02:12] sunbc0120 commented on #4705
for future reference, this is the code that works:
[code]

[2019-08-08 03:37] Akpadhy opened #4750 "Xgboost error while training"
val vc = new VectorAssembler().setInputCols(Array("orders_prev60min",
"orders_prev_15min_avg",
"orders_prev30min",
"orders_prevdayhr",
"item_slot_o2p_avg_1D",
"orders_prev_15min_max",
"items_past_avg_prev60min",
"trend_items_past_avg_prev30_60min",
"O2P_avg_prev30min")).setOutputCol("features")

val xgbParam = Map(
      "max_depth" -> 10)

val xgbreg = new XGBoostRegressor(xgbParam).setFeaturesCo

[2019-08-08 03:50] firestarman opened #4751 "CPU predictor crashes when training with data stored in GPU memory."
We are working on the GPU training pipeline, to load data into GPU memory and choose `gpu_hist` to run the training locally, non-distributed.

After some basic investigation, found that the first `PredictRaw` in `Learner` will use `cpu_predcitor`, then it crashes at line 71 in file https://github.com/dmlc/xgboost/blob/master/src/predictor/cpu_predictor.cc

And the crash happens only when parallel

[2019-08-08 03:53] trivialfis commented on #4751
@firestarman There's similar feedback recently.  I think they are working on a fix.

[2019-08-08 04:33] trivialfis commented on #4751
Seems I need to look into it later.

[2019-08-08 09:48] sh1ng commented on #4724
We use CentOS 7, including `ppc64le` platform.

`devtoolset` works on `x86_64` for CUDA-10 indeed. If I'm not mistaken it ships libstdc++ changes as a separate statically linked library. It's not fully fulfill our needs. We need to support `ppc64le` platform and CUDA-9 that may not support GCC-6(there's no devtoolset-5).

That's why I've installed gcc(5.3) from sources.

[2019-08-08 10:27] hcho3 commented on #4724
@sh1ng So it appears that the current binary distribution (`xgboost-0.90-py2.py3-none-manylinux1_x86_64.whl`) is adequate for supporting CentOS 6 or newer, as long as the processor architecture is `x86_64`. I was just able to install and run XGBoost 0.90 inside Ubuntu 14.04 (Trusty) and CentOS 6 with
[code]
So I'd say that we are pretty solid when it comes to supporting x86-64 systems with old OSe

[2019-08-08 10:37] hcho3 opened #4752 "[jvm-packages] Jenkins CI should build snapshot JARs"
The Jenkins CI (https://xgboost-ci.net) should build snapshot JARs for XGBoost4J and XGBoost4J-Spark.

* This simplifies our release process, since we just need to copy pre-built JARs.
* Adventurous users can download nightly builds, to use latest features and bug fixes.
* We can use Docker images with old Linux (CentOS 6) so that the JAR would use old version of GLIBC and LIBGOMP. I've seen many

[2019-08-08 11:06] hcho3 commented on #4724
@sh1ng Actually, it looks like NVIDIA provides PPC64LE Docker image: https://hub.docker.com/r/nvidia/cuda-ppc64le/. This is good news because I can now use QEMU to emulate ppc64le on my machine and build XGBoost.

[code]

[2019-08-08 12:03] sh1ng commented on #4724
There's no `devtoolset` package to ppcle64.
CUDA-9 isn't compatible with gcc-6(there's no devtoolset-5 pkg). I prefer to support current major and previous versions.

I'd be awesome to compile xgboost statically with `-static-libstdc++` and make it working

[2019-08-08 17:25] chenqin opened #4753 "[EPIC] Allow failed worker retry in distributed training"
Fault recovery in native distributed XGB training (not xgb-spark) have been broken for more than a year. Community have seen various of issue like this https://github.com/dmlc/rabit/issues/63

- [x] expose flag to opt-in detailed log in rabit
- [x] support bootstrap cache in rabit , expose flag to opt-in rabit bootstrap cache
[design doc.pdf](https://github.com/dmlc/xgboost/files/3482936/Rabit.boo

[2019-08-08 17:36] chenqin commented on #4680
would like to get native xgb fix included.
https://github.com/dmlc/xgboost/issues/4753

[2019-08-09 06:09] trivialfis opened #4755 "[RFC] Redesign `dmlc::Parameter`."
There are a few problems in `dmlc::Parameter` I want to address:
# Issues
## Parameter update
Currently `dmlc::Parameter` uses a static manager (`__MANAGER()__` method) class to carry out all the initialization steps.  The problem is this manager is created per-class instead of per-instance, so there is no way that it can understand whether a particular parameter instance has been initialized.  As

[2019-08-09 06:19] trivialfis commented on #4357
@rongou @sriramch Would you agree that this is completed?

[2019-08-09 06:32] rongou commented on #4357
I guess it depends on your definition of "support". :) It now supports the `#` cache file syntax, but the whole dataset is still kept in GPU memory.

[2019-08-09 06:49] hcho3 commented on #4755
Yes! This is a long-due discussion. See #3803, for example, where we have no way to detect runtime update of a field in `dmlc::Parameter` and thus leak memory.

[2019-08-09 06:50] trivialfis commented on #4357
Indeed.  Let's keep the issue opened then.  Thanks.

________________________________
From: Rong Ou <notifications@github.com>
Sent: Thursday, August 8, 2019 11:33:12 PM
To: dmlc/xgboost <xgboost@noreply.github.com>
Cc: Jiaming Yuan <jm.yuan@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [dmlc/xgboost] [RFC] External memory support for GPU (#4357)

I guess it depends on your defin

[2019-08-09 07:30] trivialfis commented on #4354
Added here as a convenient reference.  We need to consider removing the strong reference between booster and dmatrix, see #4482.

[2019-08-09 11:14] nkr-jgr commented on #4440
_I am getting following error log.... having the same issue.. while increasing the training data xgboost training fails.'_

19/08/09 11:06:47 ERROR Uncaught throwable from user code: ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed
	at ml.dmlc.xgboost4j.scala.spark.XGBoost$.ml$dmlc$xgboost4j$scala$spark$XGBoost$$postTrackerReturnProcessing(XGBoost.scala:582)
	at ml.dmlc.xgboost4j.

[2019-08-09 14:26] trivialfis commented on #4724
Unless I have given priority and resource (power machine) for this I don't think I can be of help.  And I can think of a few places where big endian can cause problems. ;-(

[2019-08-09 16:47] rongou commented on #4354
Probably this line (and its effects): https://github.com/dmlc/xgboost/blob/master/src/learner.cc#L646

[2019-08-09 17:03] trivialfis commented on #4354
Em, sorry currently i can't look into that.  Putting it here as a reminder.

[2019-08-09 21:51] rongou commented on #4692
@sriramch was working on some optimization of wide datasets.

[2019-08-10 00:57] RAMitchell commented on #4755
Thanks @trivialfis. As this functionality lives in dmlc-core it can be very difficult for us to change as we will impose changes on mxnet etc.

I see two paths forward:
a) We build our own xgboost parameter classes
b) We RFC these issues up to dmlc-core and try to engage developers of dependent libraries

Upstreaming could be relatively easy if the existing functionality is more or less preserved,

[2019-08-10 14:11] tqchen commented on #4755
I think some of the features could be built on top of the current Paramater. It can be a bit hard to say that lazy initialization(ignore what is being configured) is really what we want.  As the simplest way to reason about the object is to treat it as immutable and update all the field if necessary.

One thing we could do is to add helper factory functions to initialize the parameters. Additional

[2019-08-10 23:27] Chertoganov opened #4756 "AttributeError: module 'xgboost' has no attribute 'dask'"
File "dask_simple_demo.py", line 68, in <module>
    main()
  File "dask_simple_demo.py", line 56, in main
    models = xgb.dask.run(client, train, X, y)
AttributeError: module 'xgboost' has no attribute 'dask'

[2019-08-10 23:31] RAMitchell commented on #4756
Please check you do not have an older xgboost version installed via conda or pip.

[2019-08-10 23:37] Chertoganov commented on #4756
I uninstalled xgboost and installed it again and then it happend again
python dask_gpu_demo.py
Traceback (most recent call last):
  File "dask_gpu_demo.py", line 42, in <module>
    main()
  File "dask_gpu_demo.py", line 38, in main
    xgb.dask.run(client, train, X, y, available_devices)
AttributeError: module 'xgboost' has no attribute 'dask'

[2019-08-10 23:37] Chertoganov commented on #4756
:(

[2019-08-11 00:32] RAMitchell commented on #4756
I cannot reproduce this on the latest master xgboost. You will have to do some python debugging on your side, the most likely issue is with the installation.

[2019-08-11 04:46] kaixinbuyu commented on #4691
@hcho3 did you test that continue training with GPU?
I have google all the internet but found no example about continue training with GPU.
Is continue training with GPU impossible?

I tried to continue train with old model by "xgb_model=xx".
1.With CPU params(hist), continue training runs ok. [as the test script in the test package.]
2.But with GPU params(gpu_hist),It crashed with error "Check fai

[2019-08-11 09:26] kaixinbuyu opened #4758 "reload model with predictor=gpu_predictor cause error "gpu_predictor.cu:387: Check failed: devices.Size() != 0 (0 vs. 0) : ""
1.reload model with predictor=**cpu_predictor**,  "xgb_model=bst_last_model". no error.

2.reload model with predictor=**gpu_predictor**,  "xgb_model=bst_last_model". cause error:
 "gpu_predictor.cu:387: Check failed: devices.Size() != 0 (0 vs. 0) : "

(the training process works ok.)

`Traceback (most recent call last):
  File "/home/go/workspace/workspace_go/src/yunteng/dataeen/client/ml/main_tr

[2019-08-11 11:27] trivialfis commented on #4755
@tqchen Thanks for the suggestions.  Will think about these later.

I still want finer control over each hyper parameter.

That's a good idea, I will try to stay close to `dmlc::Parameter` as much as possible so we can upstream the changes in the future.

This is not a priority for now as we don't have frequent change in parameter, nor do I understand the document system for all bindings.

[2019-08-12 02:24] trivialfis commented on #4758
Will take a look.

[2019-08-12 02:25] trivialfis commented on #4756
Which version of xgb are you using?

[2019-08-12 08:32] trivialfis commented on #4751
Partially fixed in #4745 .  Still need to address choosing predictor.

[2019-08-12 08:32] naifmeh opened #4760 "[JVM-packages] reg:squarederror/reg:squaredlogerror throwing error"
Setting reg:squarederror or reg:squaredlogerror is throwing the following error :
`java.lang.IllegalArgumentException: xgbr_d46856a24d39 parameter objective given invalid value reg:squarederror`

I am using the xgboost4j-spark package, in its 0.90 version (latest stable one).

Here is the map parameter I am passing to the XGBoostRegressor :

`val xgbParam = Map("eta" -> 0.05f,
                  "m

[2019-08-12 08:51] trivialfis commented on #4751
@rongou @RAMitchell With `n_gpus` being removed, I'm just gonna add a mutex lock here to prevent racing.

[2019-08-12 09:18] trivialfis commented on #4760
@naifmeh Could you please give a complete back trace?

[2019-08-12 09:34] naifmeh commented on #4760
@trivialfis Sure, here it is :

`
java.lang.IllegalArgumentException: xgbr_0c00fdea2675 parameter objective given invalid value reg:squarederror
at org.apache.spark.ml.param.Param.validate(params.scala:77)
	at org.apache.spark.ml.param.ParamPair.<init>(params.scala:656)
	at org.apache.spark.ml.param.Param.$minus$greater(params.scala:87)
	at org.apache.spark.ml.param.Params$class.set(params.scala:7

[2019-08-12 09:35] trivialfis opened #4761 "Deprecate `XGDMatrixSetGroup`."
A reminder to myself.  This function is duplicated with normal set info.

[2019-08-12 15:04] trivialfis commented on #4753
Looks interesting. ;-)

[2019-08-12 15:05] trivialfis commented on #4735
I want to get this resolved first for dask.  May I ask is there any one working on it?

[2019-08-12 15:41] tgravescs commented on #4735
What are the requirements for dask?  Does dask assume it is the only application on the node?

[2019-08-12 15:55] trivialfis commented on #4735
@tgravescs From its document, dask is not aware of GPUs.  Pretty similar to the current status of Spark I think.

[2019-08-12 15:59] trivialfis commented on #4680
JSON is removed from the list.  See https://github.com/dmlc/xgboost/pull/4683#issuecomment-520485615

[2019-08-12 16:09] Chertoganov commented on #4756
'0.90'

[2019-08-12 16:09] Chertoganov commented on #4756
'0.90'

пн, 12 авг. 2019 г. в 05:26, Jiaming Yuan <notifications@github.com>:

[2019-08-12 16:12] hcho3 commented on #4756
The Dask demo is not compatible with 0.90 version, since Dask integration was added after the 0.90 release. Can you compile XGBoost from source?

[2019-08-12 20:51] jyuu opened #4764 "[R-package] `xgb.get.handle` only checks the first class listed"
I am working on extending model objects from the `xgboost` package. The methods I want to develop will be specific to this new "extended" xgb.Booster model object, which I identify by appending a new class called `extended_xgb.Booster`. However, I would still like the old `xgboost` methods to work for this new class of model objects.  The majority of these old methods do not work, since it relies

[2019-08-12 21:15] RAMitchell commented on #4735
@trivialfis I'm not working on this, what's your proposal?

[2019-08-13 05:11] hellotherecsy opened #4765 "[jvm-packages] Issue in saving Xgboost model in spark scala and then load to the single Python model"
Hi.

I have trained XGBoost Classification model using scala ( spark 2.3  )
and then saved the model with nativeBooster.saveModel
( ref : https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html )

Then I loaded the model in Python3 and predict the probability

`spark env : spark 2.3 , xgb 0.82 `
`python env : python 3.6 , xgb 0.82  `

below is my shotly code

**Train ( Spark  )*

[2019-08-13 07:07] 1448514557 opened #4766 "安装xgboost，make时报错"
src/tree/tree_model.cc: In constructor ‘xgboost::GraphvizGenerator::GraphvizGenerator(const xgboost::FeatureMap&, const string&, bool’:
src/tree/tree_model.cc:465:55: error: invalid initialization of non-const reference of type ‘std::stringstream& {aka std::basic_stringstream<char>&}’ from an rvalue of type ‘<brace-enclosed initializer list>’
       TreeGenerator(fmap, with_stats), ss_{SuperT::ss_

[2019-08-13 16:02] bakaburg1 opened #4768 "Error when using xgb.plot.tree: Assertion failed"
Hello,
I wanted to visualize my model trees with:

`xgb.plot.tree(model = mod.y, feature_names = mod.y$feature_names)`

and I got this error in the View pane of RStudio:

[code]

[2019-08-13 18:56] trivialfis commented on #4768
Could you provide a reproducible script, also the used XGB version?

[2019-08-14 01:29] tgravescs commented on #4735
that makes sense for dask, the main question as to whether this will work is if you can guarantee that dask is the only application using the GPU's on a host. And possibly only 1 "Worker".  I don't know enough about Dask to know if it has "workers" at all.

[2019-08-14 02:22] Traeyee opened #4770 "Calculation by following the dump.txt literally does not correspond to the code output"
I try to understand the dump.txt, so I calculated by my hands then compared the result to the code output. Here's the code:

[code]

the code output:
[code]

the dump.txt:
[code]

Just take the 1st sample as the example, [1, None, 2]->1, code ouputs 0.6288889. But if I follow the dump.txt, for booster[0], it was 1:leaf=0.0666666701, then for booster[1], it was 1:leaf=0.0622222237, so final result

[2019-08-14 02:32] trivialfis commented on #4770
@Traeyee Which version are you using?

[2019-08-14 02:35] #4756 closed

[2019-08-14 02:39] trivialfis commented on #4766
Use cmake + gcc>=5.3 please.

[2019-08-14 02:39] #4766 closed

[2019-08-14 02:41] trivialfis commented on #4760
Okay, I should be careful of what I'm asking.  `reg:squaredlogerror` is only added after 0.90, I guess you are reading the latest doc built from master branch.  Will look into `reg:squarederror`.

[2019-08-14 02:44] trivialfis commented on #4603
I don't think this is related to XGBoost.

[2019-08-14 02:44] #4603 closed

[2019-08-14 03:10] Traeyee commented on #4770
0.82

[2019-08-14 03:15] shenshanlaoma commented on #4770
you should transform score to probalility.
https://github.com/dmlc/xgboost/issues/4682#issuecomment-514725667

[2019-08-14 03:16] hcho3 commented on #4770
Take a look at https://discuss.xgboost.ai/t/xgboost-learning-to-rank-model-to-predictions-core-function/93/2?u=hcho3. You should add 0.5 to the sum of leaf outputs.

[2019-08-14 03:16] #4770 closed

[2019-08-14 03:17] hcho3 commented on #4770
@shenshanlaoma The OP is performing regression task, so score is not probability.

[2019-08-14 03:19] trivialfis commented on #4770
Oops.  Missed that. ;-0

[2019-08-14 03:48] 1448514557 commented on #4766
ok ，thanks

[2019-08-14 07:17] ksangeek commented on #4660
@RAMitchell Sorry for the delay in getting back on this.
When I try "Digits" with `gbtree` as the booster, I see that the testcase now works fine!
Given that multi-GPU linear booster is experimental, I'll close this issue.

Thank you for helping with this!

[2019-08-14 07:17] #4660 closed

[2019-08-14 10:52] Thiyagu07 opened #4771 "Kernel dies"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-08-14 10:53] Thiyagu07 opened #4772 "Kernel dies when using GPU_hist"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-08-14 10:54] Thiyagu07 commented on #4772
When I tried to use the GPU using the tree_method parameter, the Kernel always dies. I was able to run the code using the updater='grow_gpu'. However, I cannot use the Gamma parameter when I use the updater parameter

[2019-08-14 11:07] trivialfis commented on #4772
Could you provide your xgboost version and a reproducible example?  Also gamma is not supported by GPU.

[2019-08-14 11:32] Thiyagu07 commented on #4772
I have attached the code for your reference. The train samples, I just used 200 rows of data and even then it failed.

I see the following error in the terminal as well
terminate called after throwing an instance of 'thrust::system::system_error'
  what():  parallel_for failed: out of memory

`### Copying the best values from the XGBOOST_without_timesplit hyperopt run of 100

params={'colsample_by

[2019-08-14 11:36] trivialfis commented on #4772
I currently don't have a convenient machine by my side, but here is a guess, 800 estimators means you are boosting forests with each iteration adding 800 trees...

[2019-08-14 11:40] trivialfis commented on #4772
Try removing that parameter.

[2019-08-14 11:58] Thiyagu07 commented on #4772
The number of estimators does not change for the whole training, When I remove that  tree_method parameter, then I dont use the GPU. I was able to run it without that parameter. But, I also want to use my GPU to speed up the learning

[2019-08-14 12:01] trivialfis commented on #4772
Yes.  Please try removing `n_estimator` parameter, so that it can use it's default value, which is 1.

[2019-08-14 12:10] Thiyagu07 commented on #4772
It still shows the same error that the kernel died.

When I use the tree_method='gpu_exact', the model runs without any issues

[2019-08-14 12:14] trivialfis commented on #4772
Will look into it.  How many columns does your input have?  What's your GPU model?

[2019-08-14 14:52] trivialfis commented on #4772
@Thiyagu07 How many output columns do you have?  If it's too many, you can train one output at a time.

[2019-08-14 17:12] trams commented on #4752
I am all for having nightly builds with some known retention policy.

As for how to build it I think out CentOS 6 Docker image is fine and we can just use it.

For more information one can read how Python community deals with exactly the same problem (distributing native code on linux) in this PEPs: https://www.python.org/dev/peps/pep-0513/ and https://www.python.org/dev/peps/pep-0571/

[2019-08-14 17:52] trams commented on #3946
@CodingCat do you have any updates on your side?

I want to prepare a RFC with my idea for potential fixes. What do you think?

[2019-08-14 20:56] kumarprabhu1988 opened #4774 "XGBoost Spark training quite slow - Good practices"
Hello!

I posted a question about some OOM errors I was facing with training here: https://discuss.xgboost.ai/t/xgboost4j-spark-fails-with-oom-errors/1054. Thankfully, I was able to resolve these issues and found a configuration that works. However, it takes ~16 min for 1 round. I'm looking for tips to speed this up.

My data is ~120GB before transforming into a vector. I'm using spark 2.3.2 and x

[2019-08-14 21:22] #4771 closed

[2019-08-15 03:28] sunyinhui opened #4775 "when i try make, i get the error, thx for your reply"
[root@iZbp17euuofuecjbal4r90Z xgboost]# make
Makefile:31: MAKE [make] - checked OK
g++ -DDMLC_LOG_CUSTOMIZE=1 -std=c++11 -Wall -Wno-unknown-pragmas -Iinclude   -Idmlc-core/include -Irabit/include -I/include -O3 -funroll-loops -fPIC -DDISABLE_OPENMP -MM -MT build/tree/tree_model.o src/tree/tree_model.cc >build/tree/tree_model.d
g++ -c -DDMLC_LOG_CUSTOMIZE=1 -std=c++11 -Wall -Wno-unknown-pragmas -Ii

[2019-08-15 03:39] hcho3 commented on #4775
It looks like you are using an old version of GCC. We require GCC 5 or later.

[2019-08-15 07:48] hcho3 commented on #4752
@trams Take a look at https://github.com/dmlc/xgboost/blob/master/tests/ci_build/Dockerfile.jvm

[2019-08-15 10:05] sunyinhui commented on #4775
when i update gcc to 5.5.0, the error is reappear？

[root@localhost xgboost]# gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/local/gcc/bin/../libexec/gcc/x86_64-unknown-linux-gnu/5.5.0/lto-wrapper
Target: x86_64-unknown-linux-gnu
Configured with: ./configure --prefix=/usr/local/gcc5.5 --enable-bootstrap --enable-checking=release --enable-languages=c,c++ --disable-multilib
Th

[2019-08-15 10:11] trivialfis commented on #4775
Let me revise that initialization.  Seems it breaking some compilers

[2019-08-15 11:42] hywchina opened #4776 "the node number of the tree, thx for your reply"
When I use XGB tree model, in a tree, the node number of the tree is continuous, some are discontinuous, may I ask why?

[2019-08-15 12:16] trivialfis commented on #4776
@hywchina Could you give an example output?  Also a reproducible script with used XGBoost version?

[2019-08-15 12:28] hywchina commented on #4776
![tree1](https://user-images.githubusercontent.com/16551666/63094257-6ca2fb00-bf9a-11e9-9a86-66c821aa9632.jpeg)
1. booster[104]:node4 is a leaf, and the nodes number are discontinuous;

![tree2](https://user-images.githubusercontent.com/16551666/63094416-e9ce7000-bf9a-11e9-8ea5-9f7b9f86bfe6.png)
2. booster[39]:node19 is a leaf, but the nodes number are continuous;

booster[104] and booster[39] fro

[2019-08-15 13:16] trivialfis commented on #4776
@hywchina I'm not sure I follow, did you mean the node number being a continuous sequence like `1, 2, 3, ..., 7, 8, 9`?

That's related to how the tree updater split (and prune) each node.  Splitting at `1` then the two children will be `2, 3`.  Then split at `2`, `4, 5` will become children of `2`.  The children of `3` will become `6, 7`, assuming depth-wise splitting scheme.  If pruner is used,

[2019-08-15 13:33] #4776 closed

[2019-08-16 01:27] XsongyangX commented on #4300
Hi there, I am facing this same issue right now with the latest stable release of xgboost (0.9). I'm using an older version of python than the one used by OP. I have 3.6.8.

There is another warning message that keeps popping up. I will create a different issue for this.
![image](https://user-images.githubusercontent.com/10444460/63137240-5e0d1180-bfa3-11e9-8882-37bec8a01dd2.png)

[2019-08-16 01:31] trams commented on #4752
Yeap. I think I was not clear in my message.
I think we should use exactly the image you pointed out. It looks good

[2019-08-16 02:12] hcho3 commented on #4752
@trams I'd like to get some help from @CodingCat about how to host nightly built Snapshots in a Maven repo, so that users can just add a single entry in their `pom.xml`.

[2019-08-16 02:16] hcho3 commented on #4300
@XsongyangX 0.90 version was released on May 20, and the fix was made on July 4. So the next release will not have the warning.

[2019-08-16 02:17] thesuperzapper opened #4779 "[jvm-packages] Scaladoc issues with 2.12"
As we are moving to Scala 2.12 exclusivly, I can see we have moved to the new Scaladoc, however there seems to be something wrong, as the new layout is significantly harder to use.

XGBoost4j Docs: https://xgboost.readthedocs.io/en/latest/jvm/scaladocs/xgboost4j/index.html
XGBoost4j-spark Docs: https://xgboost.readthedocs.io/en/latest/jvm/scaladocs/xgboost4j-spark/index.html

Both of which are not

[2019-08-16 02:19] #4300 closed

[2019-08-16 02:19] trivialfis commented on #4300
Sorry, wrong click.

[2019-08-16 02:21] trivialfis commented on #4772
Closing as this is memory limitation.

[2019-08-16 02:21] #4772 closed

[2019-08-16 02:22] hcho3 commented on #4779
Is it possible to use older theme for the doc? I liked the old theme a lot better.

@CodingCat @trams

[2019-08-16 02:25] thesuperzapper opened #4780 "[jvm-packages] Spark Scaladoc Value Member Groups"
Currently we have no grouping for value members of classes like `XGBoostClassificationModel` and `XGBoostRegressionModel`, this makes the docs quite hard to look at:

![image](https://user-images.githubusercontent.com/5735406/63139064-01583800-c031-11e9-89cc-ff49ff66c1ab.png)

If we compare this with the official spark docs, you can see groupings for things like 'paramaters', 'getters/setters', et

[2019-08-16 02:48] thesuperzapper opened #4781 "[jvm-packages] Remove Python Rabit Tracker"
Given we have the opportunity to make some breaking changes in 1.0, I think we should remove the python based Rabit tracker, and only use the Scala based one. The reason for this is the Scala one has many more features, with things like timeouts.

Here are some links:
* [Spark TrackerConf Docs](https://xgboost.readthedocs.io/en/latest/jvm/scaladocs/xgboost4j-spark/ml/dmlc/xgboost4j/scala/spark/Tra

[2019-08-16 02:49] thesuperzapper commented on #4680
I raised an issue for my above suggestion: #4781 (To remove the python Rabit tracker)

[2019-08-16 02:52] CodingCat commented on #4781
I don’t think we should default to scala one which is much less battle tested

For timeout feature, we have implemented in spark layer where the application will fail if it cannot get enough resources within the given period

[2019-08-16 02:58] thesuperzapper commented on #4781
@CodingCat in my experience, with issue [4628#issuecomment-510367032](https://github.com/dmlc/xgboost/issues/4628#issuecomment-510367032), the python tracker will just hang forever. But the Scala tracker will actually time out (Regardless of what we decide, we should investigate the 60sec issue)

[2019-08-16 02:59] Re-bin opened #4782 "Unrecognized command line option '-msse2'"
**Unrecognized command line option '-msse2'**
How to deal with this error?

[2019-08-16 03:06] #4782 closed

[2019-08-16 05:39] chenqin commented on #4628
Can you try adding rabit.Shutdown() after calling
[code]

[2019-08-16 16:08] chenqin commented on #4774
@kumarprabhu1988 please try 0.9, there was a critical bug in .82

[2019-08-16 16:12] CodingCat commented on #4774
it's not relevant, the bug I told you is only involved in a prediction process with a upstream shuffle

@kumarprabhu1988 number of features in your data?

[2019-08-16 16:13] CodingCat commented on #4774
try to remove

[code]

for now, a fix is coming soon

[2019-08-16 18:00] trams commented on #4779
A agree that having to click 5 times to get to any of the classes is not good.
I would gladly help but I know nothing about how we generate scaladoc in xgboost. If someone could get pointers I may help

[2019-08-16 18:20] hcho3 commented on #4779
@trams Here is the script we run to generate scaladoc: https://github.com/dmlc/xgboost/blob/master/tests/ci_build/build_jvm_doc.sh

[2019-08-16 18:52] merleyc opened #4784 "Master branch is not compiling properly"
Hi,

When trying to compile xgboost in master branch, I am getting this error in _xgboost/build/CMakeFiles/**CMakeError.log**_:

**Steps to reproduce using CentoOS 7:**
1. I have enabled gcc7 using this command: . /opt/rh/devtoolset-7/enable 
2. **gcc --version**
gcc (GCC) 7.3.1 20180303 (Red Hat 7.3.1-5)
3. **which gcc**
/opt/rh/devtoolset-7/root/usr/bin/gcc
4. export CXX='/opt/rh/devtoolset-7/ro

[2019-08-16 18:56] trivialfis commented on #4784
CXX is c++ compiler, should be set to g++.  CCC is not a recognized variable, should be CC

[2019-08-16 19:01] trivialfis commented on #4784
And above variables should be set before running cmake.

[2019-08-16 19:35] kumarprabhu1988 commented on #4774
Thank you for your response @chenqin and @CodingCat. I have ~1300 features in the data. I've tried without checkpoints, it's not much faster. Here's how long each step takes.

`repartition at line 420 in XGBoost.scala` for training data takes ~5 min.
`repartition at line 199 in XGBoost.scala` for each eval set takes ~3 min - but it's not 3 additional 3 min. these 2 steps are in parallel and take o

[2019-08-16 21:41] merleyc commented on #4784
The 'CCC' was a typo from my side while writing this issue.
But starting over in a new terminal and setting the g++ as you suggested, the compilation worked and I see the new jars. Thanks, @trivialfis !!
However,  while doing a quick test I got this error:

My test code is:
[code]

[2019-08-16 22:55] hcho3 commented on #4784
Make sure you are using Java 8.

[2019-08-17 00:16] trams opened #4785 "[RFC] Redesign xgboost-spark checkpoint mechanism"
XGBoost supports a distributed training in a reliable way in xgboost-spark package.
The reliability is archived though checkpointing mechanism.

# How does it work?

Let's say one wants to train a model with 1500 trees and want to save a checkpoint after every 100 trees has been built.
Then xgboost-spark will start a Spark Application. Its driver will break down the training in 1500 / 100 = 15 ste

[2019-08-17 05:27] chenqin commented on #4774
@kumarprabhu1988 will you be able to share sample/fake dataset that can simulate what you observed. It can help us drive investigation forward more effectively.

[2019-08-17 06:32] #4784 closed

[2019-08-17 16:46] SemanticBeeng commented on #4357
Would the `Apache Arrow` support for off-heap / zero copy memory & memory mapped files + `CUDA` integration be a more general solution?

https://arrow.apache.org/docs/python/cuda.html

Has it been considered?
Any known reasons why would not work?
Interested to (have someone) explore?

[2019-08-17 17:26] trivialfis commented on #4357
@SemanticBeeng

By off-heap do you mean reading from disk?  Maybe in the future, but currently not a priority.

Did you mean running XGBoost on dataset with arrow memory layout without making a copy?  If so then no in near future.  Internally XGBoost uses CSR (for most of the parts).  They are quite different.  Having said that, it's still possible I think.

I'm interested in this feature.  But ag

[2019-08-17 17:26] trivialfis commented on #4357
@SemanticBeeng If you have some ideas, please do share.

[2019-08-17 17:30] trivialfis commented on #4619
@hcho3 If you have any new progress on fixing `dmlc-core` threading bugs, feel free to ping me for testing.  Or if you have some concrete plans and want to divide and conquer, please let me know too. ;-)

[2019-08-17 17:31] trivialfis commented on #4531
@rongou @RAMitchell Can we close this now?  What we have to do is gradually making code clean up.

[2019-08-17 17:35] trivialfis commented on #4618
Closing as `n_gpu` no longer being supported.

[2019-08-17 18:34] pseudotensor commented on #4618
not sure that is correct view. gpu id can still be off snd needs to be chosen. if train with gpu id 8 and go to system with gou id 0 only allowed this would still fail

[2019-08-17 18:40] trivialfis commented on #4618
You are right.  My mistake and will take a closer look.  The binary model loading is giving me a huge headache.

[2019-08-17 19:11] SemanticBeeng commented on #4357
Thanks.
Some context for my thinking (maybe my question is about `XGBoost4j` ?).

1. `XGBoost4j` as a unifying [`#ProgrammingModel`](https://twitter.com/search?q=%23ProgrammingModel%20(from%3Asemanticbeeng)) over `Apache Spark` and `Apache Flink`
This suggests a share form of data.

2. `Apache Arrow` is meant as a [`shared runtime`](http://www.evernote.com/l/AK8ZfiymCnxLQ6qc4plXrSiBGM-cTV_uZLU/)
I

[2019-08-17 21:25] CodingCat opened #4786 "[RFC] Design of Checkpoint Mechanism in XGBoost-Spark"
## Checkpoint Cleanup

The current implementation in XGBoost-Spark does not clean up the checkpoint file after a successful training. As a result, the user may get a wrong training process without a careful setup. For instance, the following the process will lead to a wrongly-formed model in the second run.

User starts training by setting checkpoint interval as 2 iterations and round as 10 iterat

[2019-08-17 21:29] CodingCat commented on #4785
I just finished up the writing of RFC

I am kind of confused about `Personally I dislike this solution cause it makes checkpointing very hidden and probably can result in unexpected side effects.`, what `hidden` and `unexpected side effects` refer to? looks like very subjective concept

[2019-08-17 21:42] CodingCat commented on #4779
comparing to scala's own doc https://www.scala-lang.org/api/current/

I think a quick fix is to provide a rootdoc.txt https://github.com/scala/scala/blob/1e904d75450373d7845eb7452d940e52d955b27d/src/library/rootdoc.txt

[2019-08-17 21:55] CodingCat commented on #4774
line 420 and 199 happen for only once

line 397 involved reading the shuffle data from 420 and establish xgb cluster as well so it is not only training...you can try to run more iterations and calculate the average cost for each iteration

1300 features is not a trivial workload for a tree model

[2019-08-17 22:00] CodingCat commented on #4760
we have a test with this parameter, https://github.com/dmlc/xgboost/blob/2d875ec0197d5a83e7d585daf472b8201aa97c51/jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostRegressorSuite.scala

can you double check you are using 0.9?

[2019-08-17 22:03] CodingCat commented on #4752
we can publish to a maven repo with snapshot tagged in version number

the problem is where to host

* my personal github? <- I am not a fan to expose my credentials in jenkins job

* maven central? <- maybe, but we still need to setup correctly credentials with write permission in aws machines

[2019-08-17 22:08] naifmeh commented on #4760
@CodingCat
I just checked and it seems to be the 0.90 that I got from maven. I will try re-executing the code tomorrow after re-uploading the jar as I have no access to it now.

Aren't you able to reproduce the error using the parameter map I provided ?

[2019-08-17 22:33] trams commented on #4785
Thank you for a comment

I agree this is very subjective. That's why I added "personally".

By hidden I meant that in this case checkpointing won't be exposed to a
user though spark ui in any way and it may make troubleshooting harder.

Either way I am not set on any solution. I want us to pick the best design.

I also realize that my section "alternative" solutions are a bit underbaked
but I real

[2019-08-17 22:47] CodingCat commented on #4785
it is at https://github.com/dmlc/xgboost/issues/4786

[2019-08-17 22:47] CodingCat commented on #4786
@trams welcome for the feedback

[2019-08-18 02:41] hcho3 commented on #4711
Yes, feel free to submit a pull request. We will review it.

[2019-08-18 02:44] hcho3 commented on #4752
@CodingCat We can host it in a S3 bucket. Since the Jenkins workers are hosted in AWS, we can apply security policies to safely push to the S3 bucket. Is there any document I can read about setting up a private Maven repository?

[2019-08-18 04:57] hcho3 commented on #4619
@trivialfis I made a first round of fix that applies to ThreadedIter. I plan to handle the rest some time this week.

[2019-08-18 12:02] bakaburg1 opened #4787 "Use xgboost to categorize a continuous variable, conditional on prediction and other covariates"
Hello,

I'm doing causal inference using the virtual twins method (https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3880775/). The literature on this and similar method focuses on categorical treatments, while in my case I have continuous ones.

To categorize such variables I tested two methods: Either I use a regression tree on the xgboost model predictions to find subsets the maximize the discrimina

[2019-08-18 13:59] #4775 closed

[2019-08-18 14:36] Daniel8hen commented on #4680
FeatureImportance in the Spark version will be great as well (i.e. easily have the feature Importance)
https://github.com/dmlc/xgboost/pull/988

[2019-08-18 20:54] #4627 closed

[2019-08-19 09:58] trivialfis commented on #4790
I'm not familiar with the issue.  Can be broadcast the maximum value?

[2019-08-19 09:59] hcho3 commented on #4790
Actually, I don't think this is actually an issue, since XGBoost already performs an all-reduce to compute the true number of features:
https://github.com/dmlc/xgboost/blob/9700776597cb2a6099ae60877a808ad51eb18940/src/data/data.cc#L229-L232

[2019-08-19 09:59] #4790 closed

[2019-08-19 13:59] kumarprabhu1988 commented on #4774
@chenqin Unfortunately I cannot share the original dataset. I can remove de-anonymize the data and remove column names and share. What's the best way to share?

@CodingCat I ran 10 iterations and it seems the time taken for each iteration after the first is almost the same. Here is a screenshot for each stage from the spark application page:
<img width="1405" alt="Screen Shot 2019-08-19 at 9 56 08

[2019-08-19 18:34] chenqin commented on #4774
will you be able to share file link to cloud drive e.g dropbox, google drive etc to qinnchen@gmail.com

[2019-08-19 18:45] rongou commented on #4531
I'm working on #4773 which should be bulk of the changes needed. Maybe we can close this after it goes in?

[2019-08-19 19:00] kumarprabhu1988 commented on #4774
@chenqin I'm generating randomized data and will upload it in a couple of hours.

Meanwhile I had another question - how do you know the progress of training if you don't use checkpoints?

[2019-08-19 19:11] CodingCat commented on #4774
@kumarprabhu1988 again, remove checkpoint or set it to a large value for now, you can save ~50% of time for each checkpoint interval

with 1300 features, 12 mins for each iteration is not a surprise to me, otherwise you can do col_sampling (check https://xgboost.readthedocs.io/en/latest/parameter.html)

[2019-08-19 20:09] chenqin commented on #4774
I think you might be able to track executor log or driver log and see how many iterations has been done (a.k.a 🌲 )

[2019-08-19 20:10] kumarprabhu1988 commented on #4774
@CodingCat Will do, thank you. I'll set it to 100 so that I can track progress. Will also explore col_sampling.

[2019-08-20 00:33] trams commented on #4786
First, I want to thank you for a comprehensive RFC. I like it.

Second, let me quickly reiterate your proposition to make sure I understand correctly.

## Reiteration

1. You propose to make partitioning deterministic by using some kind of "hash" function which result will be based purely on data value.

2. You propose to add to XGBoost4J an ability to save a booster to an OutputStream.
This will

[2019-08-20 00:35] trams commented on #4785
I'll close this issue for now cause it is superseded by #4786 . Please comment at #4786

[2019-08-20 00:35] #4785 closed

[2019-08-20 01:19] trivialfis opened #4792 "Set up test for cudf."
After merging the cudf PR,  I need some help for setting up corresponding Python test on Jenkins since on the one hand cudf doesn't support pip, but on the other hand our Jenkins test farm doesn't use conda.

Could you please help?  @mt-jones @hcho3

[2019-08-20 01:27] hcho3 commented on #4792
Can you run `conda install cudf` and see what dependencies it pulls?

[2019-08-20 01:28] trams opened #4793 "[jvm-packages] Spark Barrier execution mode [RFC]"
## Purpose of the document
I want to know what community thinks about using Spark Barrier execution mode before submitting any pull requests. I understand that I may be missing some information which could block or complicate Barrier mode integration

## Barrier execution mode
In short Barrier execution mode permits to call mapPartition on RDD and ensure that
1. all tasks will launched at once. If

[2019-08-20 01:29] trams commented on #4793
Spark Barrier Execution Mode was mentioned https://github.com/dmlc/xgboost/issues/3996 as one of the reasons to upgrade to Spark 2.4

[2019-08-20 01:39] trivialfis commented on #4792
@hcho3 I'm not too sure.  I built cudf from scratch to avoid conda ...  How's XGBoost doing on conda?  Do we need some specialization on Jenkins?

[2019-08-20 01:55] hcho3 commented on #4792
We should create a virtual conda environment so that conda packages don't interfere with system-wide packages managed by pip.

[2019-08-20 06:34] chenqin commented on #4786
Can we test if mod based partition offers approx uniform data distribution?

[2019-08-20 14:43] nkr-jgr opened #4796 "Prediction result does not match of xgboost 0.82 vs 0.90 (on 5.4 ML Databricks Runtime)"
Hi

My prediction results from 0.82 librariy of xgboost doesn't match with the results when i am using Databricks 5.4 ML runtime inbuilt XGBoost library which is 0.90.

Please assist me with the same.
Let me know if any further information are required to resolve my query.

[2019-08-20 15:09] hcho3 commented on #4796
@nkr-jgr Can you reproduce the problem without Databricks? If so, can you post your data and script so that we can try to reproduce the problem?

[2019-08-20 19:36] kumarprabhu1988 commented on #4774
@chenqin Sorry for the delay, just sent you the email with some sample data.

@CodingCat I set it to 200 and ran 10 rounds. The average time reduced to 3.5 min now. Guess it'll reduce further if I run it for longer that that. Also can I further improve training time by just increasing number of nodes in the cluster?

Additionally noticed something else now. The same configuration I used fails with

[2019-08-20 21:07] trams commented on #4753
This looks interesting indeed. One question: "What is native distributed XGB training?" How can I use it? Is it the one which involves a python package + dask?

[2019-08-20 21:33] trams commented on #4498
I am also interested in seeing Azure Pipelines instead of AppVeyor

[2019-08-20 23:40] hcho3 commented on #4752
https://tech.asimio.net/2018/06/27/Using-an-AWS-S3-Bucket-as-your-Maven-Repository.html

[2019-08-21 03:06] #4751 closed

[2019-08-21 10:13] trivialfis commented on #3579
@hcho3

Could you be more specific about which object?  I'm trying to do parameter update, may just fix this on the way...

[2019-08-21 12:37] jakirkham opened #4799 "Next Release?"
Am curious when the next release of xgboost is planned? Seems like a lot of good changes have accumulated since late May when 0.90 was released. Would be great to have access to these in a stable release. 🙂

[2019-08-21 15:48] kumarprabhu1988 commented on #4774
@CodingCat I set it to 200 and ran 400 rounds. The first 200 rounds took 7.1 hours which means the average is ~2.1 min. However, the second 200 rounds has been running for 11.2 hours. I looked at the CPU utilization in the instances and it is 5-10% which is half of the 10-20% it used in the first 200 rounds. Previously each time it took the same amount of time for each checkpoint.

<img width="140

[2019-08-21 18:49] trivialfis commented on #4680
Added regression test.

[2019-08-21 19:30] hcho3 commented on #4680
@chenqin I'd like to hear from you about regression tests, since you have experience with managing ML in production. Any suggestions?

[2019-08-22 01:42] #4764 closed

[2019-08-22 12:33] jakirkham commented on #4799
The roadmap for 1.0.0 is being tracked in issue ( https://github.com/dmlc/xgboost/issues/4680 ).

[2019-08-22 12:33] #4799 closed

[2019-08-22 19:02] chenqin commented on #4680
I think we should cover regression test on various of workloads and benchmark against prediction accuracy and stability (equal or better) than previous version within approximate same time. Two candidates on top of my head are

https://archive.ics.uci.edu/ml/datasets/HIGGS

sparse Dmatrix
https://www.kaggle.com/c/ClaimPredictionChallenge

We can try various of tree methods and configurations to en

[2019-08-23 17:50] chenqin commented on #4753
If you try xgboost with more than one machine. You are already using rabit, we added feature and track changes in progress to xgb layer

https://www.slideshare.net/ChenQin1/scaling-xgboost

[2019-08-23 18:44] trams commented on #4753
@chenqin, I understand that xgboost uses rabit as AllReduce implementation. I still don't really know what is a native distributed XGB training?
Does xgboost-spark run native distributed XGB training? If yes then why do we add "native" here? What other distributed XGB training do we have?

I am new to the project and I am still discovering different ways to use xgboost so this is an honest questio

[2019-08-23 20:05] chenqin commented on #4753
In some use cases where user don't have complex feature generating needs, user can launch xgboost native worker (c++) without data processing
framework. https://github.com/kubeflow/xgboost-operator

[2019-08-25 03:46] weidong8405 opened #4806 "xgboost release version how to use bazel build"
i have two question:
1 xgboost release version source code gz the dmlc-core is empty so can not build immeadiately, how to solve it
2 i want to use bazel to build xgboost, but recently is only have cmake to generate makefile to build project, does the xgboost support bazel build project?

[2019-08-25 06:02] CodingCat commented on #4786
no, it will not, mod based partition is known to subject to data skew

however the proposed strategy here is based on

* the hash code of the entire row (which is based on murmur3)

plus

* the value of a particular feature

which creates certain level of randomness for load balancing

[2019-08-25 06:17] CodingCat commented on #4786
yes

yes

yes

yes

the current partitioning triggered by a `repartition(N)` is not based on HashParititioner, it is more like a RoundRobin manner with a randomized start, check https://github.com/apache/spark/blob/02a0cdea13a5eebd27649a60d981de35156ba52c/core/src/main/scala/org/apache/spark/rdd/RDD.scala#L469-L487

I don't know why it is not supposed to call HDFS API directly from a task

while a

[2019-08-25 06:18] CodingCat commented on #4796
0.82 has an issue in prediction when there is an upstream shuffle, we have fixed in 0.9

[2019-08-25 06:18] #4796 closed

[2019-08-25 21:51] #4531 closed

[2019-08-26 07:06] zengyaowu commented on #4765
may be your question is the same with this one: https://mp.weixin.qq.com/s/hYuBHHfAGLO3Y0l5t6y94Q

[2019-08-26 10:13] David082 opened #4809 "[jvm-packages] xgboost4j-spark 0.72: customized objective function "obj_type" error"
Hi, found the same question as
https://github.com/dmlc/xgboost/issues/3620
since xgboost4j-spark 0.8 support customized objective function

it looks like the xgboost4j-spark 0.72 still not support customized objective function

[2019-08-26 10:16] David082 commented on #4809
meet the same error as below
<pre>
java.lang.IllegalArgumentException: requirement failed: parameter "obj_type" is not defined, you have to specify the objective type as classification or regression with a customized objective function
  at scala.Predef$.require(Predef.scala:224)
  at ml.dmlc.xgboost4j.scala.spark.XGBoost$.trainDistributed(XGBoost.scala:311)
  at ml.dmlc.xgboost4j.scala.spark.XGBo

[2019-08-27 01:48] mark-mediware opened #4811 "Cannot get GPU implementation function: NCCL Failure"
I have a bug I can't seem to correct. I previously had gpu_hist functional and working, but have been unable to resolve a new issue today.

The example below produces the following error:

[code]

`XGBoostError: [01:44:51] /workspace/src/tree/updater_gpu_hist.cu:980: Exception in gpu_hist: NCCL failure :unhandled system error /workspace/src/tree/../common/device_helpers.cuh(952)

Stack trace retur

[2019-08-27 03:12] David082 commented on #4809
@hcho3 Our version of spark is 2.1.0, will cost much to update to 2.3.0, so any possibility to fix the issue in xgboost4j-spark 0.72?

[2019-08-27 14:50] ericangelokim opened #4812 "Parse pre-sharded data files in distributed mode (Rabit initialized)"
When Rabit is initialized, the current DMatrix initialization from file expects all data files to be present and shards the data. However, customers may shard/distribute files with no replication to hosts, which would lead to two levels of sharding. DMatrix should be initialized with a flag to prevent excessive sharding.

Current behavior:
[code]

Proposed behavior (with the proposed flag enabled)

[2019-08-27 21:06] RAMitchell opened #4813 "Nightly releases"
I have had requests from some users for access to nightly releases from our CI. I believe it would simplify the workflow for many groups. This thread is to track the issue and discuss implementation.

As far as I know we do have packages being produced on master branch, I'm not sure if they are stored in any kind of persistent storage. I would imagine it would just be a case of archiving binaries

[2019-08-28 05:44] trivialfis opened #4814 "Making sure to have right mapping between predictors and output for dask interface."
Dask makes small partitions for data objects.  Currently XGBoost collects those partitions into local workers based on `rabit.get_rank()`.  But I am not sure that's the correct way of collecting partitions.  It's possible that we end up collecting different portions of whole dataset.

Quoting from the document of [internal design](https://docs.dask.org/en/latest/dataframe-design.html#partitions)
[

[2019-08-29 03:07] #4806 closed

[2019-08-29 03:53] trivialfis commented on #4811
@mark-mediware Any update?

[2019-08-29 04:50] VigneshN1997 opened #4817 "Mismatch in number of quantiles created for a feature"
https://github.com/dmlc/xgboost/pull/1959/commits : This commit has changed the initialization of n from 'maxsize - 1' to 'maxsize - 2'. I understand that this change has been done to incorporate corner cases for quantile building. But this change has caused lesser number of quantiles being built for a particular feature (explained in example below)

Input to SetPrune function:
**src** =>
DATA:
va

[2019-08-29 05:59] chenqin commented on #4753
from description in this thread, yes, dask-xgboost leverage rabit as well.
https://github.com/dmlc/xgboost/issues/2032

[2019-08-29 20:10] skb888 opened #4818 "Wanna to get gradients and hessians"
For the Federated XGBoost, the local clients pass g and h (gradients and hessians) to the master server. Is there a way to gain g and h by using XGBoost API? Here, g and h are values needed during the iteration through a sorted feature array (greedy or quantile). It seems that even if the core.py includes update function, the g and h values are computed via calling _LIB.XGBoosterUpdateOneIter(). W

[2019-08-30 11:42] liqinggd opened #4820 "XGBoost runs slower when compiled by Clang"
I compiled XGBoost with Clang 9, the compile command is:
[code]
I run the binary_classification demo in `demo/binary_classification` with single thread, However, I find the training speed is about 50% slower than GCC 5.4.0, this result shock me.

Have you enabled some optimization when compiled by GCC, how can I fix this overhead when compiled by Clang?

My machine is Intel(R) Xeon(R) CPU E3-1270

[2019-08-30 12:08] trivialfis opened #4821 "GPU pointer access error."
My branch is based on 733ed24dd98b57268f019c32ac7a7f9ca538adc1 .  Don't have any other detail yet.  Will try to revert some commits see if I can find track down the bug.

[code]

[2019-08-30 16:00] mrocklin commented on #4814
Please let me know if you all want to discuss XGBoost + Dask interactions in the future.  There are probably things that we could find to do on the Dask side that would make the XGBoost experience here more pleasant.

[2019-08-30 18:03] trivialfis commented on #4814
@mrocklin Thanks for reaching out.

Currently I took your suggestion for attaching a `_xgboost_data` field to each `worker` in  #4819 .  But the memory is not managed by dask and it's tricky to manage it ourselves since we might have computation still pending in the future.

Another problem is mentioned above.  We have multiple inputs, predictors, weights, labels, they are all row-wise mapped.  If

[2019-08-31 19:30] trivialfis opened #4822 "Tree method for `grow_local_histmaker`."
@hcho3 I'm curious if this is used/tested.  I can't find corresponding `tree_method` in our configuration.  ~Or the updater is hidden due to some bugs before?~

[2019-09-01 01:58] raybellwaves opened #4823 "parameter.rst: Parameters for Tree Booster tree_method missing gpu_exact"
I believe the documentation for parameters for tree booster is missing the choice 'gpu_exact' in `tree_method`.
https://github.com/dmlc/xgboost/blob/master/doc/parameter.rst#parameters-for-tree-booster

I stumbled across this via a typo

[code]

[2019-09-01 06:18] trivialfis commented on #4823
It's removed in master branch.  Please use `gpu_hist` instead.  It's much more efficient.

[2019-09-01 06:44] trivialfis commented on #4821
Closing due to not reproducible after shrinking down the memory size.

[2019-09-01 06:44] #4821 closed

[2019-09-01 06:46] trivialfis commented on #4820
@liqinggd Possible.  We have been using gcc all these years.  Some optimizations are in `include/xgboost/base.h`.  Some are scattered over other places like `hist_util.cc` and OpenMP parameters.

[2019-09-01 06:49] trivialfis commented on #4818
@skb888 It's computed in objectives.  So provide your own custom objective then you can calculate gradients yourself.

[2019-09-01 06:49] #4818 closed

[2019-09-01 06:49] trivialfis commented on #4818
We have a tutorial in master branch doc/ for doing just that.  See https://xgboost.readthedocs.io/en/latest/tutorials/custom_metric_obj.html .

[2019-09-01 06:51] trivialfis commented on #4813
@hcho3 Can we put out some short document in installable about this?

[2019-09-01 06:51] trivialfis commented on #4811
Closing as I don't think this is related to XGBoost.

[2019-09-01 06:51] #4811 closed

[2019-09-01 06:52] trivialfis commented on #4811
Feel free to re-open if problem persist.

[2019-09-01 10:50] trivialfis commented on #4814
@mrocklin Digging into the dask_xgboost actually revealed many useful techniques.  Will come back once I know more.

[2019-09-01 13:22] raybellwaves commented on #4823
Thanks

[2019-09-01 13:22] #4823 closed

[2019-09-01 21:30] hcho3 commented on #4818
@trivialfis I think the OP is asking a way to obtain gradient/hessian values that are being computed by `XGBoosterUpdateOneIter()`. @skb888 Unfortunately, it is currently not possible to do this in Python.

[2019-09-01 21:56] RAMitchell commented on #4818
I would just reimplement the desired loss function via python, then you would have access to it.

[2019-09-02 16:49] yosefit86 commented on #4561
I changed num_trees form 0 to 2 and it worked!!!!!!

but I don't know this is a true result or not????
import matplotlib.pyplot as plt

xgb.plot_tree(xg_reg,num_trees=2)# first run num_trees seted to  zero
plt.rcParams['figure.figsize'] = [500, 100]
plt.show()

wish to helped

[2019-09-02 17:04] trivialfis commented on #4561
I fixed in master branch, in above referenced PR .

[2019-09-03 00:48] hcho3 commented on #4792
@trivialfis Can you provide the installation command for CUDF using `conda`?

[2019-09-03 00:57] trivialfis commented on #4792
@hcho3 Yes.  Use that instruction.  Thanks!

[2019-09-03 01:18] hcho3 commented on #4792
@trivialfis Expect a small pull request in a day or two. It will modify the Dockerfiles so as to use `conda` instead of pip.

[2019-09-03 01:35] trivialfis commented on #4792
@hcho3. Did you mean the whole Jenkins or just CUDF test?

[2019-09-03 01:38] hcho3 commented on #4792
@trivialfis I'm debating between two options, actually:
1. Change the whole Jenkins environment as to use conda instead of pip
2. Create a separate conda environment for CUDF tests only. Other tests will keep the same environments (i.e. packages will be installed with pip).

What's your take on this?

[2019-09-03 01:51] trivialfis commented on #4792
@hcho3 I myself uses pip exclusively since that's where most people get to know XGBoost (I think)?  So I vote for using pip for most of cases if it doesn't create burden on your side.  I would like to hear back from @RAMitchell .

[2019-09-03 02:18] RAMitchell commented on #4792
Whatever is easiest for you @hcho3

[2019-09-03 07:49] fly12357 opened #4825 "[jvm-package] Dose Xgboost4j support rank:ndcg for predict?"
I trained a ranking model based on xgboost rank:ndcg (python), but I hope to do the inference job by xgboost4j.

[2019-09-03 09:59] lnmohankumar opened #4826 "XGBoost-Spark killing SparkContext on Task Failure"
Hi Team,

While running Machine Learning training models using xgboost in cluster and sparkContaxt is always getting shutdown after encountering any training task failure exception. So every time we need to restart the cluster to bring it back to normal state.

After looking for the root cause We found the code which causing the sparkcontext to close. I am not sure why sparkContext has to shutdown

[2019-09-03 11:43] trivialfis opened #4827 "Do not use `gpu_predictor` unless data comes from GPU."
Pointed out by @RAMitchell , my recent commit for using `gpu_predictor` increases device memory usage significantly.  This is a reminder for me to fix it.

[2019-09-03 13:47] avanwouwe opened #4828 "xgb.plot.shap using shap_contrib values fails"
When calling xgb.plot.shap using data calculated with a previous run of xgb.plot.shap in this way:

`  xgb.plot.shap(shap_contrib = prev$shap_contrib, data = prev$data)
`

.. I get "shap_contrib is not compatible with the provided data".

When looking at the code, I get the impression that there is an error in line 123.  Should this:

`        (!is.matrix(shap_contrib) || nrow(shap_contrib) != nro

[2019-09-03 17:07] randerzander commented on #4813
I see that it's possible to manually find the download URL for this wheel and install it.

It was be really useful if there could be a pip package alias for the latest version of this nightly package so that CI or other script created environments can more easily find it.

For instance https://xgboost-ci.net/job/xgboost/job/master/344/artifact/python-package/dist/xgboost-1.0.0_SNAPSHOT-py2.py3-non

[2019-09-03 17:23] JohnZed commented on #4813
Replacing the build number with `lastSuccessfulBuild` seems to work. So the above would become https://xgboost-ci.net/job/xgboost/job/master/lastSuccessfulBuild/artifact/python-package/dist/xgboost-1.0.0_SNAPSHOT-py2.py3-none-any.whl

This will still be an issue when the artifact name changes from 1.0.0_SNAPSHOT to something else (1.1.0_SNAPSHOT maybe?).

[2019-09-03 21:43] hanyucui commented on #4826
To add to what @lnmohankumar said, I understand there are times when the entire Spark application should exit upon when XGBoost fails, but there are also a lot of cases where a user would like Spark to stay alive. For example, in a Jupyter notebook, users might play with different scenarios and want to continue using Spark even if some XGBoost tasks fail. I can also imagine users would like other

[2019-09-03 21:47] CodingCat commented on #4826
The current version of xgb does not behave normally when there is a failed task, i.e. the application would hang forever in that case

This is the reason we have to kill the entire application in the case of a failure. @cq is working on fixing the fault recovery strategy in xgb

[2019-09-03 21:48] CodingCat commented on #4826
Additionally, train multiple models in parallel is an undefined behavior in xgb, rabit has some problem to fully support it

[2019-09-03 22:03] hanyucui commented on #4826
@CodingCat Thanks for your response and it makes a lot of sense. Although, when xgboost fails, a user might still want to train models from other frameworks, say, scikit-learn or tensorflow, which is independent of xgboost. Any suggestion on how to do that on the current version of xgboost?

[2019-09-03 22:04] CodingCat commented on #4826
While I didn’t try by myself, I think fork a new process to start spark-submit should work

[2019-09-03 22:19] RAMitchell commented on #4813
Should we put them in an S3 bucket with some consistent naming?

[2019-09-03 22:29] hanyucui commented on #4826
Thanks, @CodingCat. This is essentially what we are doing now. Let me clarify one last thing. Is it true that, when there is a failed task, xgboost would just hang and subsequent code in the main process will not be able to run? If that's the case, I agree we can only wait for the fault recovery fix @cq is working on.

[2019-09-03 22:46] CodingCat commented on #4826
Yes

On Tue, Sep 3, 2019 at 3:29 PM Hanyu Cui <notifications@github.com> wrote:

[2019-09-03 23:01] hcho3 commented on #4813
@RAMitchell Yes, I think we should store artifacts in a S3 bucket and name it consistently (e.g. use commit IDs)

[2019-09-04 00:16] hanyucui commented on #4826
Thanks, @CodingCat. Curious if there is an ETA for the fix.

[2019-09-04 06:01] firestarman opened #4830 "The train DMatrix has been added to eval DMatrix sets twice in spark pipeline."
As titled.
The first time to add train DMatrix to eval DMatrix sets is in spark, I mean the `wathces.toMap` already contains train DMatrix here.
https://github.com/dmlc/xgboost/blob/c0fbeff0ab1d266fae89538e405c0ca244576b0c/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoost.scala#L330

The second time is in java as below,
https://github.com/dmlc/xgboost/blob/c0fbeff0a

[2019-09-04 07:34] chenqin opened #4831 "[jvm-packages] retry-able xgboost4j-spark booster"
This document discuss how we enable xgb-spark trainer resilient to single point of failure, more detail here https://github.com/dmlc/xgboost/issues/4753

**Changes**

1.  pass addational rabit init parameters into local rabit agent, as following prototype shows
This would allow end user opt-in rabit recovery while disable spark checkpoint.

![1](https://user-images.githubusercontent.com/1184534/64

[2019-09-05 03:44] hcho3 commented on #4792
@trivialfis @RAMitchell I just found out that CUDF requires compute capability 6.0+ and the current Jenkins GPU worker (P2 instance type) does not meet the requirement. I ran
[code]
and got
[code]

We will need to change the type of Jenkins worker to [P3 instances](https://aws.amazon.com/ec2/instance-types/p3/) which has fancier GPUs.

[2019-09-05 06:57] trivialfis commented on #4811
In case of anyone who searches this error message
[code]

There are multiple reasons nccl can fail:
- Connection failure, sometime this is due to wrong network interface.  I encountered that during running dask.  I resolved it by changing the network interface from `ib<number>` to `bond<number>`.

- Mismatched nccl shared object.  I resolved it by making sure all workers and clients having exact s

[2019-09-05 08:18] LindaNiu opened #4834 "Should I use custom eval metric if I set weights for samples using setWeightCol?"
I set sample weights for my samples using setWeightCol, and then I use setEvalMetric("auc") to evaluate my model on test dataset.
But it just hit me that if the source code of auc in Spark XGBoost take weight into account?  Or should I define a custom eval metric? I tried to find source code but failed. Thanks a lot for solving my problem : )

[2019-09-05 13:40] mark-mediware commented on #4811
Sorry for lack of followup. The only way I was able to get XGBoost and GPU working was to build without NCCL. Still trying to get this resolved on my end, as I can only use one GPU at the moment.

[2019-09-05 15:25] trivialfis opened #4835 "Configure `gpu_id` after load."

[2019-09-05 15:27] trivialfis commented on #4827
Okay, this happens only when continue training.

[2019-09-05 16:49] rongou commented on #4792
@hcho3 yes cuDF requires Pascal or better, P2 is Kepler, which is two generations behind. For now your only options is P3. When G4 comes online, it might be a cheaper option.

[2019-09-05 18:10] trivialfis commented on #4828
@avanwouwe Please provide your XGBoost version and a reproducible script.

[2019-09-05 18:13] trivialfis commented on #4817
@VigneshN1997  Impressive. Do you happened to think of a solution?

[2019-09-05 18:26] trivialfis commented on #4792
Interesting.  Half of my PR was written on a compute 50 laptop.

[2019-09-05 19:44] rongou commented on #4792
Did you override `CMAKE_CUDA_FLAGS`? By default it doesn't generate code for anything below Pascal: https://github.com/rapidsai/cudf/blob/branch-0.10/cpp/CMakeLists.txt#L65

[2019-09-05 20:07] hcho3 opened #4837 "[RFC] Callback interface for logging internal information, to aid debugging"
Recently, I've seen many users report regressions in model performance (e.g. accuracy, AUC) when they upgraded their XGBoost to latest version. For example, see https://discuss.xgboost.ai/t/learning-with-xgboost-0-90-vs-1-0-0/1068/5.

I'd like to work with @chenqin to set up [regression tests](https://github.com/dmlc/xgboost/issues/4680#issuecomment-524034688). As part of that, we need more than j

[2019-09-05 20:44] hcho3 commented on #4837
Related: Tensorflow lets users to "poke" into internal quantities and visualize them in Tensorboard. https://www.tensorflow.org/guide/summaries_and_tensorboard

[2019-09-05 23:09] #4827 closed

[2019-09-05 23:23] chenqin commented on #4837
we might just starts with something simple like store a structured csv file along side with model. It give better idea to compare **apple** with **apple** We can leave visualization empty and see how people actually want to interact with those information.

from debugging side, it can be interesting to see how folks set breaks on certain conditions (number of iteration, depth of tree etc). We migh

[2019-09-05 23:37] hcho3 commented on #4837
@chenqin Yes, visualization can be left as a future work. The main point of the proposal is to create a callback interface where the user-defined function is called to log internal information.

For now, this proposal does not consider an interactive debugger. The internal info will be strictly read-only. So the user will run a full training job and then analyze the log file after the fact.

[2019-09-06 06:18] trivialfis commented on #4837
@hcho3 I can create a vomit option to verbosity if you want.  Than it can log stuffs into file or to stdout and we redirect them to file.  I'm not sure how Python callback can extract arbitrary information from c++.

[2019-09-06 08:07] trivialfis commented on #4792
@rongou Probably.  I put up a long fight.

[2019-09-06 16:04] hcho3 commented on #4837
Python callback will invoke a C API function `XGBRegisterDebugLoggingCallback()`, which would register the callback function at C++ level.

This might be easier to manager than callbacks. Let me think this through.

[2019-09-07 02:02] liqinggd commented on #4820
@trivialfis Thanks for your answer. I found than if I increase the inline-threshold in Clang can improve the performance, but the binary size is too big than gcc, finally I changed the compiler from clang to gcc.

[2019-09-07 17:01] VigneshN1997 commented on #4817
The issue can be resolved by reverting back to the code which initialized n = maxsize - 1 and keeping the condition in line 367 as it is (if (range == 0.0f || maxsize <= 2)). Keeping the condition check in line 367 ensures checking of the corner case while reverting back to the original value of n will cause the algorithm to produce correct quantiles. Should I fork the repository and raise a pull

[2019-09-07 17:20] shawn07023 opened #4839 "xgboost out-of-core operation got closed while training"
Hi, as title, I am using out-of-core operation to train my model due to a large data set, which cannot fit into my memory.
Problem 1:
First of all, I transfer the data into Libsvm format. Then follow the instructions of out-of-core operation and start run. Then, my python's console is somewhat restart itself.
It can be solved if I re-run several times to get into the training process but it's pret

[2019-09-08 13:21] weidong8405 opened #4840 "xgboost multiclass classification problem"
Now the xgboost training if the objective function is multi:softmax, it will training each class one tree, so in this case if i want use 50 trees to boost or parallel, in deed i use 50 * num_class trees, that may cost a lot in inference.
So my question is whether xgboost support real multi classification, use one tree to predict all the class's probility?

[2019-09-08 13:26] weidong8405 opened #4841 "xgboost c api(predict) is not thread safe"
i use the xgboost's api(XGBoosterPredic) and call the function in different thread, i find that not safe, i saw some discuss before, but it has long time from now, so i want to know if xgboost predict api can support multi thread case now?

[2019-09-08 13:58] trivialfis commented on #4841
@weidong8405 Not much progress is on prediction right now, since the CPU Predictor natively support multi-threaded prediction with openmp.

[2019-09-08 14:09] trivialfis commented on #4840
No.  It doesn't.  Recommendation for related papers are welcomed.

[2019-09-09 01:11] weidong8405 commented on #4841
@trivialfis  yes i know the api support multi thread, but in the industry inference, the api will be called multi thread, the thread manager will not control by the openmp
The question is the predict api can be called in multi thread? not internal multi thread

[2019-09-09 04:59] trivialfis commented on #4841
@weidong8405 No.  You can't.  XGBoost has a cache for prediction.

[2019-09-09 05:00] trivialfis commented on #4839
@shawn07023 Could you please provide a reproducible script?

[2019-09-09 05:01] trivialfis commented on #4781
Or can we port it into C++ and deprecate both?

[2019-09-09 05:02] trivialfis commented on #4817
@VigneshN1997 Thanks for the suggestion.  Will look into it when time allows.

[2019-09-09 05:04] trivialfis commented on #4677
Since #4477 is blocking.  We can safely close this one now.

[2019-09-09 05:04] #4677 closed

[2019-09-09 05:06] trivialfis commented on #4720
Doesn't seem to be a problem for XGBoost to solve.  Closing.

[2019-09-09 05:06] #4720 closed

[2019-09-09 07:25] trivialfis commented on #4839
Also XGBoost version,  some bugs are fixed in master branch.

[2019-09-09 10:33] GuidoBartoli opened #4843 "Memory leak in subsequent model fitting?"
Hi,
I created a XGBoost model with data subsampling (`subsample < 1`) and I implemented a loop to train it using different `random_state` values and choose the best performing initialization.

This is the simplified Python code:
[code]

It works as expected, but I noticed that if I monitor the RAM during the process, the usage continues to grow after each iteration even if I assigned a new XGBClas

[2019-09-09 15:57] ztphs980 opened #4844 "Why GridSearchCV does not support XGBRanker?"
I have a piece of code to tune the parameters in XGBRanker using GridSearchCV. However, it keeps printing errors in "gsearch1.fit()" : Check failed: gptr.size() != 0 && gptr.back() == info.labels_.Size(): group structure not consistent with #rows.

The code is as follows:

    param_test1 = {
        'max_depth': range(3, 10, 2),
        'min_child_weight': range(1, 6, 2)
    }
    estimator = xgb

[2019-09-09 17:01] hcho3 commented on #4844
I don't think your use case is supported, since GridSearchCV is not aware of `group` information at all. This is because none of the estimators in the scikit-learn package supports learning-to-rank task. (XGBRanker is from XGBoost package, not scikit-learn)

[2019-09-09 17:01] #4844 closed

[2019-09-09 17:07] hcho3 commented on #4822
I think it was implemented as part of the original XGBoost paper by @tqchen. I don't think it's being used anywhere, unless the user manually sets `updater_seq`.

[2019-09-09 18:42] megancooper opened #4845 "Cannot find XGBoost Library in the candidate path [macOS]"
I realize this is a common issue for xgboost installs via pip, but none of the proposed solutions are working for me.

python version `3.6.8`
using conda virtual env

I am trying to install xgboost, and have executed the following commands:
[code]

this does not work and fails with the following long error output:
(Note, I am aware of issue #4477 and have also tried
`export CC=/usr/local/bin/gcc-5

[2019-09-09 23:57] #4451 closed

[2019-09-10 02:02] hcho3 commented on #4843
Can you try inserting `del best` under the condition `if best_model is None or accuracy > max(accuracies)`, so as to explicitly remove the object?

[2019-09-10 07:22] GuidoBartoli commented on #4843
Thanks for the suggestion! However I cannot delete `best`, because it is needed in the code following the snippet... maybe you are referring to the temporary `variation`?

I modified the code like this:
[code]
But unfortunately RAM usage continues... :(
![memory](https://user-images.githubusercontent.com/16103676/64592470-642cbd00-d3ac-11e9-8440-11556981e4a4.jpg)

[2019-09-10 07:36] hcho3 commented on #4843
Can you post a toy dataset so that I can reproduce it too

[2019-09-10 09:54] lwsdegithub opened #4846 "Help！Windows Error 0xe06d7363"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-09-10 09:54] #4846 closed

[2019-09-10 09:56] lwsdegithub opened #4847 "Help！ Windows Error 0xe06d7363"
Had you guys met this error? I can not get a solution from the "close issues".
I don't know how to solve it.

[2019-09-10 09:57] lwsdegithub commented on #4847
OSError: [WinError -529697949] Windows Error 0xe06d7363
This is the details.

[2019-09-10 10:14] lwsdegithub commented on #4847
Ok, I konw why.
I ues the XGBClassifier, but I foget to let my label to be 0 and 1

[2019-09-10 14:21] GuidoBartoli commented on #4843
Sure, I prepared a small HDF5 dataset together with toy.py script to replicate this behaviour. It is not as evident as in the large dataset, however the RAM keeps growing in this case, too.

[toy.zip](https://github.com/dmlc/xgboost/files/3596117/toy.zip)

Let me know if you need more information.

[2019-09-10 16:54] luranhe opened #4848 "[Feature Request] DMatrix sort features by name"
### Request
When initializing a DMatrix from data, if the data comes with named columns, would it be possible to sort the columns by name before the rest of the initialization?

### Rationale
Feature names are not stored on model save/load.  But it might be nice if I could, say, change the order of named columns in my pandas dataframe and have everything still work as expected, right?

[2019-09-10 18:12] kumarprabhu1988 commented on #4774
@CodingCat @chenqin Any ideas guys?

[2019-09-10 18:21] trivialfis commented on #4847
No idea how's changing label can throw an OSError.  But closing as it's resolved.

[2019-09-10 18:21] #4847 closed

[2019-09-10 18:23] trivialfis commented on #4848
You can sort the columns in pandas, save the sorted `df.columns` and use it later.  XGBoost doesn't need to handle what pandas excels.

[2019-09-10 18:23] #4848 closed

[2019-09-10 18:25] trivialfis commented on #4822
It's not tested either.  A bit worrying.

[2019-09-11 01:38] chenqin commented on #4774
https://github.com/dmlc/xgboost/issues/3946

[2019-09-11 13:34] firestarman opened #4849 "XGBoost-Spark training fails somtimes due to "java.lang.NumberFormatException: For input string: "inf"""
We are meeting this exception when running a regression training repeatly with the xgboost JVM jars built from the latest master branch using Scala 2.11, along with our spark example app jar.

This issue doesn't 100% occur, but nearly 50% rate under our test environment as below:
- **OS**: Ubuntu18.04,
- **CPU**: 12 cores
- **Memory**: 64G (Available ~40G)
- **Spark**: 2.4.3 with Hadhoop2.7, stand

[2019-09-11 13:42] CodingCat commented on #4849
are you using a customized eval func?

[2019-09-11 13:52] firestarman commented on #4849
The answer is no if you mean parameter 'custom_eval',  i didn't set it.

[2019-09-11 13:58] CodingCat commented on #4849
so the reason is that when evaluating the model, xgboost produces a "inf" for, e.g. , rmse, etc.

you may need to track why it is the case,

[2019-09-11 14:04] firestarman commented on #4849
Thanks a lot but i'm not familiar with xgboost native, anyone can help on this?

[2019-09-11 16:18] trivialfis commented on #4849
Could you reproduce it with non JVM environment?

[2019-09-11 20:38] kumarprabhu1988 commented on #4774
Thank you @chenqin. This issue looks the same as mine. What about the OOM issue when using AUC?

[2019-09-11 22:19] NamLQ commented on #3921
Use `single_precision_histogram = F` will give you the reproducible results.

[2019-09-12 01:10] firestarman commented on #4849
will try

[2019-09-12 01:16] chenqin opened #4852 "[wip] json format support of learner and model payload"
make rabit checkpoint (learner and tree) json format, helps with front end visualization(zoom in and zoom out with "debugger" as new tree were added in fly) as well as backward compatibility moving forward.

detail discussion here
https://github.com/dmlc/xgboost/pull/4808#discussion_r323065856
master ticket
https://github.com/dmlc/xgboost/issues/3980

[2019-09-12 02:17] poseidon1214 commented on #4841
you can use c11 **local_thread**

[2019-09-12 03:07] trivialfis commented on #4852
I have a WIP PR doing it.  It will take some time.

[2019-09-12 03:24] trivialfis commented on #4841
The cache is used is various places during training, so going out of sync between threads might cause troubles.  You are welcomed to look into it.

[2019-09-12 05:06] chenqin commented on #4852
got it.

[2019-09-12 05:06] #4852 closed

[2019-09-12 18:52] omarkananogury opened #4853 "[XGBoost-Spark] Inverted predictions for "multi:softprob" model with 2 classes"
Hello, the title says it all. I am using:
- **Spark**: 2.4.3
- **Scala**: 2.11.12
- **XGBoost**: 0.90

I tested it using this sample code with the following shell:
[code]

[code]

And the corresponding output:
[code]

[2019-09-13 14:03] awbirdsall opened #4854 "[python-package] running .predict() on a loaded model silently sets the feature_names attribute"
When I load a model with `bst.load_model()` that was saved using `bst.save_model()`, and then call `bst.predict(X)` for the first time, the model silently is given the `feature_names` of `X`, which can be dangerous behavior if the `X` isn't actually the full size of the model. This is a consequence of the following code in `Booster._validate_features(self, data)`:

[code]

I know the documentation

[2019-09-13 15:56] trivialfis commented on #4841
One solution would be user providing their own memory buffer.  I incline to create a C API that wraps host device vector for external use.  So that user can pass in a memory buffer created by XGBoost.  @hcho3 @RAMitchell

[2019-09-14 10:50] ankane commented on #4477
Hey @hcho3, I created a Homebrew formula for XGBoost to help simplify installation on Mac, so users can run `brew install xgboost` in the future. It works great, but unfortunately won't be accepted using an older version of GCC.

Discussion: https://github.com/Homebrew/homebrew-core/pull/43246

One option is to disable OpenMP, but as you mentioned, it's not great for performance. If you're able to

[2019-09-14 15:04] trivialfis opened #4855 "[RFC] Distinguish model, booster and runtime when performing IO operations."
## Background

I will use Python package as the example for below discussion, but it should be equally applicable to other language bindings.  Right now when XGBoost saves it's "model", it saves the `tree_model` or `linear_model`, plus some attributes like `max_delta_step` and `predictor`, which are not strictly related to the "model" itself.  Take neural network as an example, the "model" should

[2019-09-14 15:05] trivialfis commented on #4855
@hcho3 @RAMitchell @CodingCat @chenqin

[2019-09-14 15:24] CodingCat commented on #4855
I don’t have any strong opinion on this, but I am actually not aware of that we are adding training parameters to booster directly

Before we materialize the proposal here if we want, can we stop doing that? It is breaking compatibility of boosters across versions

For xgb-spark, the way I handled this is keeping everything in spark layer,

If you have special requirement for the bindings you work

[2019-09-14 15:39] trivialfis commented on #4855
@CodingCat See IO logic here:

https://github.com/dmlc/xgboost/blob/c89bcc4de5368b3f8a7fa170d8348287dab44caf/src/learner.cc#L329
https://github.com/dmlc/xgboost/blob/c89bcc4de5368b3f8a7fa170d8348287dab44caf/src/learner.cc#L342

and many more in the `Save` and `Load`.  Also changes in #4808 . It's quite a headache.

[2019-09-14 15:43] trivialfis commented on #4855
@CodingCat I traced down some of those commits by git blame.  Right now I don't have a better solution to work with these parameters.  Are you suggesting that we should make a copy of all parameters in language bindings?

[2019-09-14 15:52] CodingCat commented on #4855
my idea is that (forget about my comments on gpu, it’s different with dask, spark, etc.)

(1) we should keep what is output from that code you referred is general to all bindings

(2) each binding must have some special requirement, e.g. spark needs to decide whether to cache input dataset. All of such params should not go to the booster serialized form

(3) to interact with “core” params in xgb,

[2019-09-14 15:57] trivialfis commented on #4855
Definitely.

The problem is, whether do we split model IO into two separated code path, one saves the model (trees) only, while the other saves all those core parameters to meet the requirements of distributed setting.

[2019-09-14 15:58] CodingCat commented on #4855
I mean I am unaware that we are adding new params to that, ( yes, I know we have already bunch of params there....)

[2019-09-14 16:04] CodingCat commented on #4855
For this, my personal suggestion,

(1) scope how many special parameters (for dask, spark, rabit, etc) which already added in, and see if we can clean up

(2) stop adding more

(3) to minimize the workload and changes on model format, keep all remaining parameters after a potential cleanup in (1) and ensure that all of things there are general to all bindings (e.g. everyone needs a max_delta_step,

[2019-09-14 16:19] chenqin commented on #4855
I recall both R and Python has some assumption how sequential IO performed in C++ layer.
The challenge of clean up are
- parameters some times get overwritten based on run-time environment
- parameters were stored with booster without clear section and offset information

We might consider adding a header section where all bindings can fetch certain sections payload starts from offsets in meta
htt

[2019-09-14 16:20] trivialfis commented on #4855
@CodingCat

We don't have any binding specific parameter in C++ code.  No need to worry about that. ;-)

Let me clarify a little bit more.  I want to split up the interface into two separated io logics.  One saves "trees" and the other saves everything like "core parameters along with trees".

For the first IO interface, say when I perform `bst.save_model`, only a bunch of binary trees are saved.

[2019-09-14 16:22] trivialfis commented on #4855
@chenqin I'm definitely going to JSON for this.  If binary model is preferred, I would go with binary JSON.  Search the term "bson".

[2019-09-14 16:26] trivialfis commented on #4855
One extra benefit of doing this is, we only need to keep model compatibility for the bare tree model.  Since that's the format actually saved to disk.  For the "save everything option", it should only be used in model recovery or debugging, we can keep it internal and never concern its compatibility.

[2019-09-14 16:42] trivialfis commented on #4835
See #4855

[2019-09-14 16:42] #4835 closed

[2019-09-15 03:14] hcho3 commented on #4855
@trivialfis +1 for the proposal. I introduced `SAVED_PARAM_` hack a while ago to preserve the state of `predictor` param. Your new proposal will reduce the complexity of IO logic while enabling "complete snapshot", thus killing two birds with one stone.

@CodingCat I don't think the proposal has anything to do with binding-specific parameters. Even when we only look at C++ code, the current mix of

[2019-09-15 04:05] appleyuchi opened #4857 "Why score can be negative in leaf of xgboost?"
The similar issue is mentioned here:
https://github.com/dmlc/xgboost/issues/547
The linke mentioned by @tqchen
is already unavailable.

I can not understand what they said in the above issue.
Could anyone give some explanation?
Much Thanks

[2019-09-15 04:10] #4857 closed

[2019-09-15 15:23] thvasilo commented on #4855
+1 from me too. One situation I've encountered in the past had to do with model management or "provenance". The situation is I find a model artifact I've trained in the past that is somehow useful still, but can't be sure about how it was trained.

These days I'll usually dump the entire training parameter dictionary to a JSON file so in the future I can make sense of context around the model arti

[2019-09-16 02:49] paleylouie opened #4859 "repartition"
I trained xgboost on spark, and found an insteresting thing: If I repartition the train data rdd and do not repartition the test data rdd, the AUC on the test dataset would be around 0.5 (seems the prediction was in wrong order).
If I do not repartition on the train RDD, everything works fine. I read the source code of xgboost in scala and did not found anything strange.

PS:
Spark version 2.3.0
x

[2019-09-16 03:00] hcho3 commented on #4859
1. As part of #4786, there will be an option to enable deterministic repartitioning, so that you can ensure reproducibility of model training. See #4807 for work in progress.

2. We have an outstanding issue with AUC currently, i.e. in distributed setting, AUC metric is not accurate. See #4663. For now, would you be able to use other metrics such as accuracy or RMSE?

[2019-09-16 03:02] hcho3 commented on #4854
Yes, a pull request is welcome.

[2019-09-16 03:26] paleylouie commented on #4859
Thank you for answering, but I did not use the metrics in xgboost package, I predicted the test data set probability and then used org.apache.spark.mllib.evaluation.BinaryClassificationMetrics to calculate AUC, so point 2 may not apply to my situation.

As to point 1, I guess maybe the checkpoint of train rdd affected my predict process?

[2019-09-16 03:32] hcho3 commented on #4859
It's rather that, currently, we do not control the way data gets partitioned, so partitioning is non-deterministic. See "Deterministic Partitioning" section in #4786.

[2019-09-16 03:33] CodingCat commented on #4859
0.82 has a bug for prediction when there is upstream repartition, please use 0.9

[2019-09-16 03:48] paleylouie commented on #4859
ok, thank you guys! I will try later!

[2019-09-16 03:57] #4859 closed

[2019-09-16 09:54] groot592 opened #4860 "XGBoost issue in Pycharm: Process finished with exit code -1073740791 (0xC0000409)"
Hello, I am running into problems when trying to fit a model using xgboost in python (3.6), using PyCharm. I saw the same issue being resolved in 2017 in the post below, but I can't figure out how to do this:

"Same issue. The module can't deal with relative path properly. If I replace the `../data` with absolute path, then it works fine. Nevertheless, whenever it encounter a wrong path, it crashe

[2019-09-16 10:01] hcho3 commented on #4860
Can you use the absolute path?

[2019-09-16 10:04] groot592 commented on #4860
Could you specify how I could use the absolute path? What is it exactly?

[2019-09-16 10:07] hcho3 commented on #4860
Absolute paths start with a drive letter (e.g. `C:`). Take a look at example of absolute paths at https://docs.microsoft.com/en-us/dotnet/standard/io/file-path-formats

[2019-09-16 10:09] groot592 commented on #4860
I installed xgboost via pip install on my C: drive, so then I am using absolute path I guess?

[2019-09-16 10:20] hcho3 commented on #4860
Can you post your error message? Did you get the error when you were loading the data?

No, I was referring to the path of training data.

[2019-09-16 10:22] groot592 commented on #4860
Error message:

[2019-09-16 10:22] groot592 commented on #4860
Error message:

clf_reg.fit(arr_train_X, arr_train_Y)
[12:21:49] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Process finished with exit code -1073740791 (0xC0000409)

My training data is just a small array of data. Or do you mean something else with training data?

[2019-09-16 10:26] hcho3 commented on #4860
Hmm, that error message doesn't seem to be related to #1984. I have no idea why the error happened, given the information presented so far. Do you have more error message you can post?

[2019-09-16 10:31] groot592 commented on #4860
No, I haven't got any more error message... What could possibly resolve this?

[2019-09-16 10:34] hcho3 commented on #4860
Sorry I'm out of ideas.

[2019-09-16 18:42] chenqin commented on #4855
+1 put additional information to make snapshot self contained. One possible application we might consider is debug retrain model degregation by loading snapshot of previous snapshot and compare how tree were shaped. side by side with new dataset and new trees.

[2019-09-16 20:14] chenqin opened #4861 "[jvm-packages] expose rabit configuration to user"
I would like to start a discussion on if and how we expose rabit configurations to xgb-spark/flink users. Some use cases are,
- allow user opt-in rabit_boostrap_cache within xgboost4-spark configuraiton setting
- allow user opt-in verbose rabit allreduce/broadcast, checkpointing logs
- allow user opt-in ring-scatter/ all gather based allreduce ( for large trees)
- allow user tune default rabit net

[2019-09-16 21:51] kelvin-l commented on #3789
@hcho3 is this bug `GBLinear::Predict ntrees is only valid for gbtree predictor` still existing? I was running xgboost with linear booster recently and got this error.

[2019-09-16 22:00] hcho3 commented on #3789
@kelvin-l Yes, it still exists.

[2019-09-17 01:06] thesuperzapper commented on #4680
We should add fixing #4779 as a requirement to ship 1.0

[2019-09-17 01:33] trivialfis commented on #4861
Firstly I would like to know how many of these are necessarily environment variables?  Can they be  function parameters?  Or use a RPC protocol?

[2019-09-17 03:44] chenqin commented on #4861
Good call, env variables initial used to read hadoop default setting. And it was applied to things not necessarily should exists in envs. I would suggest remove from envs and ask caller specifically pass down as arguments so we can log in debug mode.

[code]

[2019-09-17 04:08] trivialfis commented on #4860
Seems to be Windows specific?

[2019-09-17 04:42] chenqin commented on #4861
https://github.com/dmlc/rabit/pull/106

[2019-09-17 09:03] trivialfis commented on #4250
@chenqin Can we close this one?

[2019-09-17 09:23] jmarinero opened #4863 "xgb.plot.importance is not compatible with "layout" nor with "par""
The code:
[code]
uses only the first slot to position the charts, so I can only see the last chart in the first slot, while the other three remain empty.

The same using:
[code]
Following are my packages version

Thanks a lot

[code]

[2019-09-17 09:46] trivialfis commented on #3799
Closing as single process multi-gpu is removed.

[2019-09-17 09:46] #3799 closed

[2019-09-17 09:47] #3794 closed

[2019-09-17 09:48] trivialfis commented on #3649
Seems fixed.

[2019-09-17 09:48] #3649 closed

[2019-09-17 10:00] trivialfis commented on #4246
Some related thoughts: The `nthread` is a runtime parameter, so when pickling (what Python do when spawning new process) can not include `nthread` in the pickle.  This can be resolved once #4855 is materialized.

[2019-09-17 11:15] pallabkarmakar opened #4865 "Issue with libxgboost.so while building demo/c-api"
Hi Team,

I am working on C/C++ project where I need to use XGboost. I have compiled Xgboost V0.90 successfully in mu linux system. After installation I can see Xgboost binary and lib/xgboost.so . Now I am trying to use the same at demo C/C++ program. I am trying to build xgboost/demo/c-api using make. But during build i am getting following error.

gcc -std=c99 -O3 -I…/…/include -I…/…/dmlc-core/i

[2019-09-17 11:26] trivialfis commented on #4865
How did you compile xgboost?  Could you please share your compilation options, compiler version?  And I see the error message there is an incompatible libc?  Could that be a reason?

[2019-09-17 11:49] pallabkarmakar commented on #4865
@trivialfis I did compile Xgboost using cmake. Below are the steps i followd to compile.
git clone --branch v0.90 --recursive https://github.com/dmlc/xgboost
cd xgboost/
mkdir build
cd build/
cmake ..
make -j4

My compilation version is :
gcc (GCC) 4.8.5

[2019-09-17 11:52] pallabkarmakar commented on #4865
-bash-4.1$ strings xgboost/lib/libxgboost.so | grep GLIBCXX
GLIBCXX_3.4.18
GLIBCXX_3.4.14
GLIBCXX_3.4.10
GLIBCXX_3.4.19
GLIBCXX_3.4.11
GLIBCXX_3.4.15
GLIBCXX_3.4.9
GLIBCXX_3.4

[2019-09-17 12:03] trivialfis commented on #4865
@pallabkarmakar I don't think gcc-4.8 has c++11 regex?

[2019-09-17 12:18] pallabkarmakar commented on #4865
@trivialfis Thanks for your reply.

But while I am compiling Xgboost using cmake , it was asking to have at least 4.8 or higher.
Anyway I changed Makefile as "gcc -std=c99" to "g++ -std=c++11" . It gone through the compilation with following message.
g++ -std=c++11 -O3 -I../../include -I../../dmlc-core/include -I../../rabit/include -L../../lib -o c-api-demo c-api-demo.c -lxgboost
/usr/bin/ld: skip

[2019-09-17 12:28] trivialfis commented on #4865
@pallabkarmakar Sorry I think that must be a bug in 0.9 release.  We updated the gcc requirement later: https://github.com/dmlc/xgboost/blob/5374f525311f7a825fb9e1be7fd899ea2bc0647b/CMakeLists.txt#L12

The basic requirement for compiling XGBoost (not c api application you are writing) is c++11.  Safest path is to find a compiler that has c++11 support.

[2019-09-17 12:30] pallabkarmakar commented on #4865
@trivialfis let me try with gcc 5.0 .

[2019-09-17 12:46] pallabkarmakar commented on #4865
Sure. I will keep you posted. Thanks for your help @trivialfis

[2019-09-17 13:32] chenqin commented on #4250
Yes please

[2019-09-17 13:32] #4250 closed

[2019-09-17 14:44] pallabkarmakar commented on #4865
@trivialfis

After clone latest version and compiled with gcc 5.2.0 .so didn't generated. but didn't get any error. below is the log.

gcc (GCC) 5.2.0
cmake version 3.11.4

======================== LOG ==========================
(/home/w546901/c_compile/) -bash-4.1$ cmake ..
-- The CXX compiler identification is GNU 5.2.0
-- The C compiler identification is GNU 5.2.0
-- Check for working CXX compi

[2019-09-17 14:59] pallabkarmakar commented on #4865
@trivialfis

While building latest version using gcc 5.2.0 i got lot of errors.

Some glimpse of error log is

librabit.a(allreduce_robust.cc.o): In function `_GLOBAL__sub_I_allreduce_robust.cc':
allreduce_robust.cc:(.text.startup+0xc): undefined reference to `std::ios_base::Init::Init()'
allreduce_robust.cc:(.text.startup+0x13): undefined reference to `std::ios_base::Init::~Init()'
librabit.a(all

[2019-09-17 15:03] pallabkarmakar commented on #4865
This is coming during objxgboost build
[ 95%] Built target objxgboost
[ 96%] Building CXX object CMakeFiles/runxgboost.dir/src/cli_main.cc.o
[ 98%] Linking CXX executable ../xgboost

[2019-09-17 15:19] trivialfis commented on #4865
Undefined references to standard libraries ...

I searched mu linux and got this one: http://micheleandreoli.org/public/Software/mulinux/news.html

Am I correct?  If so I'm afraid you won't be getting many helpful suggestion here with a 2004 distribution ...

[2019-09-17 15:27] pallabkarmakar commented on #4865
It would great if i got some inputs . Got so many error , looks like some serious issue at source code. Does it compatible with gcc 5.2.0 ? if not then which version of gcc it supports ? I know it should be >5.0

[2019-09-17 15:40] trivialfis commented on #4865
@pallabkarmakar We have tests against gcc 5.2.0.  I don't think it's the problem of source code.  Your error message shows linking error inside `stdlib` shipped along with your compiler ...

[2019-09-17 17:18] trivialfis commented on #4865
@pallabkarmakar Closing as I believe it's due to errors in compiler toolchain.  If you want to play with old distributions for fun, nix or guix is a good way of setting up an isolated environment and build your own toolchains (to me at least, other might argue for more popular choices like docker).

[2019-09-17 17:18] #4865 closed

[2019-09-17 18:51] randerzander commented on #4813
Is it possible that CI could publish wheels for varying architectures?

I'm trying to use this nightly artifact with Google Colab, but on install I get:
[code]

For reference, here's the Python and system info:
[code]

[2019-09-17 18:57] hcho3 commented on #4813
@randerzander We target x86-64 architecture. Can you check what processor architecture Google Colab uses?

[2019-09-17 20:47] wel51x commented on #4477
Thanks for the updates.

[2019-09-17 21:22] hcho3 commented on #4372
Would regularization cause data points to be ignored?

[2019-09-17 22:11] gorkemozkaya commented on #4665
I can confirm me and my teammates have been affected by this issue. What is confusing is, even if it is using a float variable, it should be able to hold small values up to 1e-45. The current object seems not to be able to hold values smaller than 1e-6.

[code]

[2019-09-17 23:20] RAMitchell commented on #4665
Looks like floating point error is accumulating in the sum. Look at https://github.com/dmlc/xgboost/blob/0e0955a6d83d35a32cbf3ddfaf6893171d1168ea/src/metric/elementwise_metric.cu#L45

The accumulator variable is a float32. You might be able to improve the accuracy significantly just by changing some of these intermediate variables to doubles.

[2019-09-18 01:26] #4761 closed

[2019-09-18 07:11] GuidoBartoli commented on #4843
Hi, any news about this potential issue?

Regards

[2019-09-18 07:40] trivialfis commented on #4843
Not yet.  Marked as blocking.  Thanks for the patience.

[2019-09-18 08:09] kjanko opened #4869 "sample_weight crashes the interpreter"
Hi all,

today I encountered an issue with xgboost that crashed my python interpreter. I tried to  train a multi-class classifier with a sparse matrix. Without sample_weight, the process goes fine. When I set the parameter to the weights that I generated using sklearn.utils.class_weight, It crashed the interpreter.

Here's a sample code:

[code]

I'm thinking it could be due to the train test spli

[2019-09-18 09:19] pallabkarmakar opened #4870 "GLIBCXX and CXXABI not found by libxgboost.so"
Hi,

I am working on C++ project where I need to use xgboost. I am trying to run C/C++ demo c-api, which is provided with xgboost git hub source code. But while running got below error regarding GLIBCXX and CXXABI not found. However Xgboost and demo/c-api compiled successfully.

============= LOG ===============
./sample: /usr/lib64/libstdc++.so.6: version `CXXABI_1.3.7' not found (required by /xg

[2019-09-18 09:53] trivialfis commented on #4870
Related to #4865.

@pallabkarmakar Please find a well maintained distribution. ;-)  Your toolchain is broken.

[2019-09-18 09:53] #4870 closed

[2019-09-18 10:23] jackyhawk opened #4871 "why split point is not in the scope of the feature value?"
As for the split point of some feature, it seems that it may be not in the scope of the feature value.
For example, we have one feature which is the similarity between user and item, and it should be between 0~1 ( for some precision reason of sqrt, there would be some similarity just a little bigger that 1,such as 1.000002)

and we found that xgboost choose 2.0 as its split point (and we have scan

[2019-09-18 10:37] trivialfis commented on #4871
@jackyhawk Could you please provide a reproducible script and possibly a sample dataset?

[2019-09-18 10:38] trivialfis commented on #4871
That seems unusual.

[2019-09-18 10:42] trivialfis commented on #4869
@kjanko Could you please provide a self-contained script?

[2019-09-18 10:43] trivialfis commented on #4869
Also XGBoost version.

[2019-09-18 11:10] kjanko commented on #4869
[code]

Here is a minimal, reproducible example.

This is the error

Version 0.82

[2019-09-18 11:31] jackyhawk commented on #4871
It seems when that feature is missing, then it would assign the split point as 2.0 ( I am confused why it doesn’t choose the max_value of that feature as split point, instead it choose 2.0 as the split point (although 2.0 is much bigger that my max value in my case)

[2019-09-18 11:39] trivialfis commented on #4869
@kjanko The weight is per-instance instead of per-class.  Will add a check for that for better diagnostic message.

[2019-09-18 11:41] kjanko commented on #4869
@trivialfis I see - although it still shouldn't crash the interpreter but return an error message.

[2019-09-18 11:43] tuukkasarvi commented on #4860
I have the same issue. I am using pycharm in Windows. Sometimes I when I train a model get
"Process finished with exit code -1073740791 (0xC0000409)"
Other times, it seems with exactly same setup even (same data, model, parameters etc) I am able to train the model.

What does that exit code mean?

[2019-09-18 11:46] groot592 commented on #4860
I resolved this issue by uninstalling xgboost 0.90 and installing 0.80 instead.

[2019-09-18 11:49] tuukkasarvi commented on #4860
Ok. Thanks for the info. I'll try that. Copy-paste from the output from console:

Fitting...
[14:36:07] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:36:08] WARNING: C:\Jenkins\workspace\xgboost-win64_release_0.90\src\learner.cc:686: Tree method is automatically selected to be 'approx' fo

[2019-09-18 12:14] trivialfis commented on #4871
@jackyhawk It would be nice if you can provide a self-contained reproducible example so we can look into it later when available. ;-)

[2019-09-18 12:16] trivialfis commented on #4869
#4872 .

[2019-09-18 12:19] trivialfis commented on #4860
@groot592 @tuukkasarvi Could you please provide a reproducible script?

[2019-09-18 12:22] tuukkasarvi commented on #4860
I downgraded to 0.80 and now it works for me as well.

[2019-09-18 12:31] trivialfis commented on #4860
Could you please share your script then we can debug it? :-)

[2019-09-18 12:49] groot592 commented on #4860
I uninstalled xgboost via the terminal (pip uninstall xgboost) and then installed xgboost 0.80 via PyCharm: File>Settings>Project Interpreter>+ and then search for xgboost and specify the version to be 0.80 (default is 0.90)

[2019-09-18 12:55] trivialfis commented on #4860
@groot592 The script you used to fit a model.  We will try to reproduce it.

[2019-09-18 13:00] trivialfis commented on #4869
It should not crash though, seems to be multiple exceptions being thrown due to OpenMP loop.

[2019-09-18 13:04] groot592 commented on #4860
Basically:
import xgboost as xgb
model = xgb.XGBRegressor()
model.fit(arr_train_X, arr_train_Y)
model. predict(arr_test_X)

[2019-09-18 13:16] trivialfis commented on #4860
That doesn't seem to be related to path ...
________________________________
From: groot592 <notifications@github.com>
Sent: Wednesday, September 18, 2019 9:05:35 PM
To: dmlc/xgboost <xgboost@noreply.github.com>
Cc: Jiaming Yuan <jm.yuan@outlook.com>; Comment <comment@noreply.github.com>
Subject: Re: [dmlc/xgboost] XGBoost issue in Pycharm: Process finished with exit code -1073740791 (0xC0000409)

[2019-09-18 19:14] trivialfis commented on #4372
@hcho3 Good point.

[2019-09-19 00:13] gorkemozkaya commented on #4665
But even with float32's, we should be able to have precision up to 1e-45. Currently, we seem to have a mysterious limit of 1e-6, and it is affecting not only the evaluation metric but also the objective. Here is a notebook that demonstrates this. Simply scaling the label array by 1e-10, the trained trees become root-only trees, and the eval metric goes down to 0: https://nbviewer.jupyter.org/githu

[2019-09-19 01:10] RAMitchell commented on #4665
Precision is not the same thing as the smallest possible value representable in float32. My point still stands, precision is being lost in intermediate calculations.

[2019-09-19 01:54] RAMitchell commented on #4665
I looked a bit more closely, the digits past six are lost because xgboosts c_api returns a string to a fixed precision (https://github.com/dmlc/xgboost/blob/57106a345960d31c4f6df74912c1f0b7e2fa95b5/src/learner.cc#L451).

There are a couple of options for a fix:
- Simply output the string at full precision (https://stackoverflow.com/questions/54370268/java-style-printing-of-double-in-c). This may b

[2019-09-19 01:57] hcho3 commented on #4665
@RAMitchell Indeed, the ideal method is to return structured data for metrics instead of returning a formatted string. Currently, Python and R wrappers parse the formatted string to extract individual metrics, essentially performing a round trip.

[2019-09-19 02:55] RAMitchell commented on #4665
I like the JSON idea.

[2019-09-19 03:01] trivialfis commented on #4665
What's the difference between passing json instead of plain float?

[2019-09-19 03:05] hcho3 commented on #4665
@trivialfis The issue is that we have a key-value pair representing metrics and their name, e.g.
[code]
This is a perfect fit for JSON.

Currently, `XGBoosterEvalOneIter()` simply returns a string like
[code]
and the Python wrapper parses the string. IMHO, this feels like an ad-hoc representation of key-value data, and we're better off using JSON.

[2019-09-19 03:18] trivialfis commented on #4665
Thanks for the explanation, can we make changes to R, Julia and Ruby bindings?  I can handle the others ...
________________________________
From: Philip Hyunsu Cho <notifications@github.com>
Sent: Thursday, September 19, 2019 11:05:50 AM
To: dmlc/xgboost <xgboost@noreply.github.com>
Cc: Jiaming Yuan <jm.yuan@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [dmlc/xgboost] reason to

[2019-09-19 03:22] hcho3 commented on #4665
@trivialfis Let us create a new function `XGBoosterEvalOneIterEx()` that returns JSON, and then we can modify all bindings to replace `XGBoosterEvalOneIter()` with `XGBoosterEvalOneIterEx()`. We will then deprecate the old function `XGBoosterEvalOneIter()`. What do you think?

[2019-09-19 03:27] trivialfis commented on #4665
Sounds good.  It's on my to-do list now.  May not be able to get to it until finishing existing PRs.
________________________________
From: Philip Hyunsu Cho <notifications@github.com>
Sent: Thursday, September 19, 2019 11:23:24 AM
To: dmlc/xgboost <xgboost@noreply.github.com>
Cc: Jiaming Yuan <jm.yuan@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [dmlc/xgboost] reason to use flo

[2019-09-19 03:29] trivialfis commented on #4665
Another thing is, we might be able to handle early stoping inside c++.  If we do it this way we can handle the memory releasing issue.  Just something to think about.
________________________________
From: jiaming yuan
Sent: Thursday, September 19, 2019 11:27:03 AM
To: dmlc/xgboost <reply@reply.github.com>; dmlc/xgboost <xgboost@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject:

[2019-09-19 03:30] hcho3 commented on #4665
Let's discuss this in a separate RFC.

[2019-09-19 14:11] cibic89 opened #4875 "Sklearn-API: better description for syntax errors"
First reported [here](https://github.com/scikit-learn/scikit-learn/issues/14981#issuecomment-533139496).
Windows 2016 Server/Windows 10, Anaconda v2019.07, Jupyter lab v1.0.2, xgboost v0.9
Syntax errors should give better descriptions when using the sklearn API. Let me illustrate:
[code]
The above code works fine but when do either change from the list below:
`xgb_model.fit(X = X, y = y, eval_set