[2022-04-21 08:43] jiho commented on #7583
OK thanks. Apparently `nthread` is not supported by `predict.xgb.Booster()`. I assume that if one wants to change the number of threads between training and inference, the one as to do something like
[code]
right?

Would you welcome a pull requests that adds `nthread` as an argument to predict (and just calls `xgb.parameters()` within `predict.xgb.Booster()`?

[2022-04-21 08:55] trivialfis commented on #7583
Yes.

Thank you for the offer. Could you please be more specific about the difference between using a setter instead of an additional parameter?  The `predict` function for XGBoost is thread-safe, embedding a parameter setter inside it might cause a race condition.

[2022-04-21 09:14] jiho commented on #7583
Just convenience
[code]
instead of
[code]
but I don't know enough about the xgboost engine under the hood to not mess it up. So I'll just use `xgb.parameters()` 😉

[2022-04-21 12:48] iuiu34 commented on #7817
do you plan to support `categorical_features: List[bool]` for naming compatibility with sklearn? Or you'll keep just `feature_types`?
[code]

[code]
[code]

[2022-04-21 13:22] trivialfis commented on #7817
For now, we will just keep the `feature_types` as the interface.

[2022-04-21 16:21] WhateverLiu opened #7829 "R package wrong cross validation results if "folds" is supplied but not "train_folds""
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2022-04-21 18:59] ruthlessactuary opened #7830 "xgboost tweedie monotonicity violation"
Really appreciate your time looking over this and helping me find a solution or at least understand why I'm seeing what I'm seeing.  I have the following relevant parameters for my fit with everything else default:

    params = {
        'objective': 'reg:tweedie',
        'tweedie_variance_power': tweedie_p,
        'monotone_constraints': xgb_mono(monotone_constraint)
    }

xgb_mono(monotone_c

[2022-04-22 01:24] linnabrown commented on #7824
Thank you for your consideration.

[2022-04-22 06:50] trivialfis commented on #7802
Related https://github.com/dmlc/xgboost/issues/4793

[2022-04-22 16:56] trivialfis commented on #7830
Hi, thank you for opening the issue. Could you please share a reproducible example that we can run?

[2022-04-22 17:12] ruthlessactuary commented on #7830
Let me see if I can reproduce the issue without having to send the whole dataset.  Thank you, I will reply once I do.

[2022-04-22 23:10] wbo4958 opened #7835 "[FEA] [JVM-Packages] Add barrier execution mode for support"
This FEA is based on https://github.com/dmlc/xgboost/pull/5625 and https://github.com/dmlc/xgboost/issues/4793.

## Why we need barrier execution mode

The Rabit hanging issue, for example,

1. Rabit.init() is like a barrier, and it will wait for other workers for synchronization. If one worker died before Rabit.init(), then it will hang.
2. During training, if one work died, it will call Rabit.fi

[2022-04-24 10:39] wbo4958 opened #7837 "[Followup][JVM-Packages] delete timeoutRequestWorkers parameter"
This is the follow up of https://github.com/dmlc/xgboost/pull/7836. When deleting the timeoutRequestWorkers parameter,  one test cross-version model loading (0.82) will fail

[2022-04-24 10:40] wbo4958 opened #7838 "[Followup][JVM-Packages] re-architecture the xgboost testing framework"
This is the follow up of https://github.com/dmlc/xgboost/pull/7836, which has introduced the barrier execution mode, and the killing SparkContext is not needed anymore, it's time to re-org the testing framework

[2022-04-25 09:09] #7835 closed

[2022-04-25 13:32] trivialfis opened #7841 "1.6.1 Patch Release"
We have a number of note-worthy fixes in JVM packages and categorical data support, including a fix for `DeviceQuantileDMatrix` in distributed environments, and support for barrier execution mode in the spark package to prevent potential hang during training.

- [ ] https://github.com/dmlc/xgboost/pull/7823
- [ ] https://github.com/dmlc/xgboost/pull/7834
- [ ] https://github.com/dmlc/xgboost/pull/

[2022-04-25 15:12] edikedik opened #7842 "Sklearn API + GridSearchCV: PerformanceWarning: DataFrame is highly fragmented"
Greetings,

I'm using a `GridSearchCV` with `XGBClassifier`, passing a `DataFrame` with categorical data (dtype="category").

However, [this line](https://github.com/dmlc/xgboost/blob/bef1f939ceb964283f17f1f4cff3234ca18d3bc8/python-package/xgboost/data.py#L314), while replacing -1.0 values with `NaN`, triggers a `pd.PerformanceWarning: DataFrame is highly fragmented`.

Since `GridSearchCV` runs in

[2022-04-25 15:37] trivialfis commented on #7842
Hi @edikedik , are you using categorical data or nullable type?

[2022-04-25 15:41] trivialfis commented on #7842
Maybe copying the dataframe and performing the operations inplace would be better?

[2022-04-26 04:31] wbo4958 commented on #7841
@trivialfis Please also add https://github.com/dmlc/xgboost/pull/7845

[2022-04-26 06:55] edikedik commented on #7842
Hi @trivialfis,
Thanks for reaching out.

I have the categorical data types in my `DataFrame`.

I've failed to reproduce the problem with the code below. It **doesn't** trigger any warnings.

[code]

However, the main difference between the above and what I do is that my `x` goes through some preprocessing pipeline, and then I'm calling the `GridSearchCV` as `cv.fit(x.copy(), y.copy())`, which **d

[2022-04-26 10:53] #7842 closed

[2022-04-26 10:58] trivialfis commented on #7842
XGB now copies the df as a whole, should be able to avoid the warning.  You can get nightly build after the CI finishes the job.

[2022-04-27 01:59] wbo4958 commented on #7841
@trivialfis Please also add https://github.com/dmlc/xgboost/pull/7846

[2022-04-27 11:47] KWiecko opened #7847 "Reinstallation with `pip install xgboost==X` fails due to RAM shortage (?)"
For an AWS Linux micro instance (1GB RAM) the following commands will lead to "Killed" message and failure in pip install process

1. python3 -m venv test_venv
2. source test_venv/bin/activate
3. pip3 install xgboost==1.4.2  # This will install xgboost==1.4.2 successfully
4. pip3 install xgboost==1.5.2  # This will install xgboost==1.5.2 successfully
5. pip3 install xgboost==1.4.2  # This will not

[2022-04-27 15:33] trivialfis commented on #7847
I'm not sure how a xgboost developer can help here? That seems to be a pip memory usage issue.

[2022-04-27 15:36] KWiecko commented on #7847
I posted this as a sanity check / info - I spent few hours figuring that out and wanted to save others the misery.

[2022-04-27 16:40] trivialfis commented on #7847
Ah, got it.  Thank you for sharing!

[2022-04-27 17:44] mengxr commented on #7578
Databricks implemented [PySpark XGBoost integration](https://docs.databricks.com/applications/machine-learning/train-model/xgboost.html#integration-with-spark-mllib-python) on top of Python XGBoost instead xgboost4j-spark. You can find API docs [here](https://databricks.github.io/spark-deep-learning/#module-sparkdl.xgboost). We are happy to contribute it to XGBoost official repo if the stakeholder

[2022-04-27 22:19] zachwill commented on #6408
@hcho3 Think this can be closed with `1.6.0` stable shipped! 🎉

[2022-04-27 22:55] hcho3 commented on #6408
@zachwill Not yet, since the JVM package doesn't yet support Apple Silicon.

[2022-04-28 21:45] trivialfis commented on #4793
Closed by https://github.com/dmlc/xgboost/issues/7835 .

[2022-04-28 21:45] #4793 closed

[2022-04-28 21:46] trivialfis commented on #7847
Let's hope that others who search for the error will find this issue useful.

[2022-04-28 21:46] #7847 closed

[2022-04-28 21:47] trivialfis commented on #7820
Thank you for sharing! Let's hope that others will find this issue useful if they run into the same error.

[2022-04-28 21:47] #7820 closed

[2022-04-28 21:49] trivialfis commented on #7671
Apologies for the long silence.  I will gather all the errors with cox and take a deeper look.

[2022-04-28 21:51] trivialfis commented on #7201
Closing due to stalled.

[2022-04-28 21:51] #7201 closed

[2022-04-28 22:17] trivialfis commented on #5864
![example_distributed_results_nworker2](https://user-images.githubusercontent.com/16746409/165856523-d30ace40-7c3f-4f49-a519-c082babd9ef5.png)
![example_non-distributed_results](https://user-images.githubusercontent.com/16746409/165856530-9c04f342-d42a-4594-b078-0c1c965f4e17.png)

Ran the code again, seems to be fixed now.  Note that we have removed some dependency between distributed and local tr

[2022-04-28 22:17] #5864 closed

[2022-04-28 22:22] trivialfis commented on #4628
Closing as barrier mode is now used in the spark package. Feel free to reopen if the issue persists with the latest branch.

[2022-04-28 22:22] wsurles-vamp commented on #7155
@jon-targaryen1995  What did you do to resolve the bad_alloc issues? (If you ever did) Nodes with more memory? Change a setting in your spark or xgboost params?

[2022-04-28 22:24] trivialfis commented on #5040
Because spark doesn't allow downstream libraries to obtain all partitions in a worker to carry out allreduce calls.

[2022-04-28 22:24] #5040 closed

[2022-04-28 22:28] trivialfis commented on #6082
Will close this in favor of native categorical data support.

[2022-04-28 22:28] #6082 closed

[2022-04-29 07:50] wbo4958 commented on #7155
@wsurles-vamp, which version were you using to repro this issue? Could you file an new issue and detailed steps to repro it? With that, I will check it. Thx

[2022-04-29 10:55] kstock commented on #7155
thanks so much @wbo4958  ,
(I am a coworker of @wsurles-vamp)
this is sensitive data, I will need to create a fake dataset to reproduce to give to you and check what other details are ok to share in public. this is not on databricks.

**I'll open a new issue soon with more details but here are some quick basics:**
----

**versions**

xgboost 1.5.1 (xgboost4j_2.12-1.5.1.jar / xgboost4j-spark_2.12-1

[2022-04-29 13:05] ernesto-dreier opened #7851 "enable_categorical=True results in error code 0xc0000409"
Fitting a XGBRegressor with enable_categorical=True  on a Windows 10 machine results in an error. See below for a minimal example:

[code]

Error:
`Process finished with exit code -1073740791 (0xC0000409)`

conda list:
[code]

[2022-04-29 14:55] wsurles-vamp commented on #7155
A couple other quick points of note...
We use dense vectors (to ensure 0s are treated as 0.)
We have a 26 node spark cluster with 120GiB of memory, though we have seen it on nodes with 180. And well before memory has run out, as many others have mentioned.
Seen it on centos7 and rocky linux 8

[2022-04-29 14:56] Ruihaoh commented on #7671
Hi trivialfis

I test this hack and this might help since . This is due to reason that nloglik goes to infinity or nan then it can't be converted into float.

in the xgboost\callback.py file

change line: "cvmap[(metric_idx, k)].append(float(v))"

to: " try:
cvmap[(metric_idx, k)].append(float(v))
except:
cvmap[(metric_idx, k)].append(numpy.nan)"

Thanks

[2022-04-29 17:04] samf1986 opened #7854 ""DataFrame.dtypes for data must be int, float, bool or category" when trying to use enable_categorical"
I'm trying to use the enable_categorical=True with XGBoost rather than generating dummies. Environment is Colab. I've put together a script following https://xgboost.readthedocs.io/en/latest/tutorials/categorical.html that throws the error:

!pip install -U xgboost
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.datasets import fetch_openml
df = fetch_openml

[2022-04-29 17:49] trivialfis commented on #7854
?

[2022-04-29 17:57] trivialfis commented on #7671
Thank you for sharing.  Yeah that seems to be a quick fix.  I would like to try to avoid generating nan if it's possible. Also, we might find a better way to serialize the floating point.

[2022-04-29 19:29] kstock commented on #7155
we have a better idea of what is going on now, we'll create a proper issue soon but might be a few days
this is another related question https://discuss.xgboost.ai/t/useexternalmemory-no-longer-does-anything/2761

[2022-04-30 01:53] wbo4958 commented on #7155
FYI @kstock

From xgboost4j-spark 1.6.1, you don't need killSparkContextOnWorkerFailure parameter any more, since 1.6.1 has introduced the spark barrier execution mode to ensure every training task will be launched at the same time and spark will kill the failed training job if some training tasks failed. In a word, xgboost will not stop SparkContext any more.

Looks like the error happened in bui

[2022-04-30 02:52] wsurles-vamp commented on #7155
@wbo4958, We don't run out of memory per se, but xgboost does seem to increase the size of the memory it requests by a factor of 1.5 and eventually this is a very big jump and too much for the system to provide, and this is when we get the bad_alloc error.

In this graph of system memory (top) and committed memory (bottom), you can see the increase in committed memory in stages as system memory is

[2022-04-30 07:50] wbo4958 commented on #7155
Hi @trivialfis, any idea about https://github.com/dmlc/xgboost/issues/7155#issuecomment-1113898292.

[2022-04-30 07:53] hcho3 opened #7855 "[CI] Update repo keys in Docker containers"
https://forums.developer.nvidia.com/t/notice-cuda-linux-repository-key-rotation/212772
NVIDIA updated the signing keys for CUDA packages.

[2022-04-30 08:15] trivialfis commented on #7155
The QuantileDMatrix is coming to CPU as well if refactoring goes well.  The `ParallelGroupBuilder` is used during construction of `DMatrix`.

[2022-04-30 09:02] trivialfis opened #7856 "Use hypothesis to generate cat data for tests."

[2022-04-30 19:36] trivialfis commented on #7841
Will make a patch release for Python as well for fixes in categorical data support.

[2022-05-02 19:45] OscarDPan opened #7859 "Possible future support for feature_weights in xgboost4j spark?"
I was reading the source code and it doesn't seem a low-hanging fruit to me. Do you guy plan on adding this feature to the Java counterpart?

[2022-05-02 20:14] trivialfis commented on #7859
@wbo4958 Might be interested in it.

It's just an additional meta info. I added it to R in 6 lines of code: https://github.com/dmlc/xgboost/pull/7660/files .

[2022-05-02 22:32] hcho3 opened #7860 "[RFC] Support reading old models from RDS, on best effort basis"
Note. the discussion is solely discussing the use of RDS in the context of R programming. However, many points will apply to Python pickle as well.

## Motivation

In the past, we issued the following annoucement to tell R users to avoid using RDS to save models:

https://www.rdocumentation.org/packages/xgboost/versions/1.6.0.1/topics/a-compatibility-note-for-saveRDS-save

While we (XGBoost develo

[2022-05-02 23:25] trivialfis commented on #7725
Not yet.  I will update this thread.

[2022-05-03 01:12] wbo4958 commented on #7859
So the feature_weights means the a single weight for a single feature. it's not the same thing with existing "weights"?

[2022-05-03 07:12] trivialfis commented on #7859
Yes.

[2022-05-03 07:23] gcaria commented on #7818
I have just run the MRE with updated `dask` (2022.04.1) and `xgboost` (1.6) and I can see the same problem.

[2022-05-04 02:47] Zubair-Shams commented on #5883
I'm facing the same issue please help me out if you solve this

[2022-05-04 06:45] samfux84 commented on #7824
I get the same error when trying to install xgboost for R 4.1.3 compiled with GCC 6.3.0:

[code]

[2022-05-04 09:24] #7728 closed

[2022-05-05 11:56] #7851 closed

[2022-05-06 16:41] Hasna1994 commented on #6551
Hi, was this resolved? I'm getting this error.

[2022-05-06 17:16] trivialfis commented on #6551
@Hasna1994 Could you please open a new issue with a reproducible example?

[2022-05-06 18:50] Hasna1994 opened #7868 "XGBoostError: rabit/internal/utils.h:90: Allreduce failed - Error while attempting XGboost on Dask Fargate Cluster in AWS"
Overview: I'm trying to run an XGboost model on a bunch of parquet files sitting in S3 using dask by setting up a fargate cluster and connecting it to a Dask cluster.

Total dataframe size totals to about 140 GB of data. I scaled up a fargate cluster with properties:

Workers: 39
Total threads: 156
Total memory: 371.93 GiB
So there should be enough data to hold the data tasks. Each worker has 9+ G

[2022-05-07 03:39] trivialfis commented on #7868
Could you please share the xgboost version and attach the worker log?

[2022-05-07 05:03] Hasna1994 commented on #7868
I see in line 64 'dask-worker Compute failed' but then it computes I guess then it fails...
 My packages dependencies are:
  - _libgcc_mutex=0.1=conda_forge
  - _openmp_mutex=4.5=2_kmp_llvm
  - _py-xgboost-mutex=2.0=cpu_0
  - aiobotocore=1.4.1=pyhd8ed1ab_0
  - aiohttp=3.7.0=py38h1e0a361_0
  - aioitertools=0.10.0=pyhd8ed1ab_0
  - arrow-cpp=4.0.1=py38hced866c_3
  - asttokens=2.0.5=pyhd3eb1b0_0
  - a

[2022-05-07 05:49] #7860 closed

[2022-05-07 07:07] TomasZhang19 opened #7869 "ml.dmlc.xgboost4j.java.NativeLibLoader initXGBoost. SEVERE: Failed to load xgboost4j library from jar for platform linux/aarch64. java.io.FileNotFoundException: File /lib/linux/aarch64/libxgboost4j.so was not found inside JAR."
I used maven to compile and package a xgboost4j demo project to a JAR file on an ARM machine. When I run the JAR, I got the error message:
ml.dmlc.xgboost4j.java.NativeLibLoader initXGBoost. SEVERE: Failed to load xgboost4j library from jar for platform linux/aarch64.
ml.dmlc.xgboost4j.java.DMatrix <clinit>. SEVERE: Failed to load native library
java.io.FileNotFoundException: File /lib/linux/aarch

[2022-05-07 07:46] piaolaidelangman opened #7870 "Rabit Tracker Scala Iml: Cannot run in kubernetes with two executors"
Hi Team!
I am running XGBoost-Spark on kubernetes, use class `XGBoostClassifier`.
When I use only one executor, it seems all right. But when I use two executors, I got
[code]

In the successed executor log I see
[code]
, which did not appear in the failed one.

Can you give me some advice?
Thanks for your help!

[2022-05-07 12:19] piaolaidelangman commented on #7870
[code]
Resolved.

[2022-05-07 15:47] gnaggnoyil commented on #5861
Is it intended behavior to add rmm header directory directly to the include path? I mean, rmm exports a CMake target to specify how to use itself, and for most of the time it's not as simple as including rmm header directory directly.

[2022-05-07 16:11] trivialfis commented on #7841
@hcho3 I will submit the patch release for Python today. Could you please help with the JVM packages when you are available?

[2022-05-07 16:33] trivialfis opened #7873 "Use proper CMake target for RMM."
As suggested by @gnaggnoyil in https://github.com/dmlc/xgboost/pull/5873#issuecomment-1120230989

Right now our plugin system put together a find script to get the RMM include location, for the longer term, we should choose CMake target instead.

[2022-05-07 23:19] jnoorman opened #7874 "Compile error using cmake .. -DUSE_CUDA=ON missing <cub/cub.cuh> on make"
This can be closed at it may have been solved by:

git submodule update --init

- - - - - - - -

After pulling 2.0.0 to ubuntu 20.04 and running

cmake .. -DUSE_CUDA=ON

...
-- xgboost VERSION: 2.0.0
-- Setting build type to 'Release' as none was specified.
-- Configured CUDA host compiler: /usr/bin/c++
-- The CUDA compiler identification is NVIDIA 10.1.243
-- Check for working CUDA compiler: /usr

[2022-05-08 00:25] #7874 closed

[2022-05-08 00:25] jnoorman commented on #7874
Solved by:

git submodule update --init

[2022-05-08 08:22] piaolaidelangman commented on #7870
When data is small(200m), only on executor is used. After enlarge the data, the error occurs.

[2022-05-08 15:24] jnoorman opened #7875 "error: identifier "cudaEventWaitDefault" is undefined"
After a clean reinstall and recursive pull getting this error trying to build on ubuntu 20.04 for CUDA

[ 62%] Building CXX object src/CMakeFiles/objxgboost.dir/tree/updater_sync.cc.o
[ 63%] Building CXX object src/CMakeFiles/objxgboost.dir/__/rabit/src/allreduce_base.cc.o
[ 64%] Building CXX object src/CMakeFiles/objxgboost.dir/__/rabit/src/rabit_c_api.cc.o
[ 64%] Building CXX object src/CMakeFil

[2022-05-08 16:49] trivialfis commented on #7875
XGBoost requires CUDA 11.x.

[2022-05-08 20:16] #7875 closed

[2022-05-09 01:35] #7870 closed

[2022-05-09 02:15] wbo4958 commented on #7869
can you check where libxgboost4j.so is in by

[code]

[2022-05-09 05:40] TomasZhang19 commented on #7869
there is only a libxgboost4j.so in the path "/lib/linux/x86_64". But in the error message,  there should be a libxgboost4j.so in the path "/lib/linux/aarch64".

[2022-05-09 08:59] wbo4958 commented on #7869
@hcho3,  https://github.com/dmlc/xgboost/issues/7869#issuecomment-1120665120 reminds me which arches are supported by xgboost official release? looks like we're only supporting x86 platform?

[2022-05-09 09:00] wbo4958 commented on #7869
@TomasZhang19, if you compiled the xgboost locally on the Arm platform, it should be working.

[2022-05-09 09:45] trivialfis commented on #7841
All Python packages are submitted.

[2022-05-09 11:05] SzeYeung1 opened #7878 "Is there a mistake in the Python Package Introduction?"
In the [Setting Parameters](https://xgboost.readthedocs.io/en/stable/python/python_intro.html#setting-parameters) section of the Python Package Introduction of XGBoost documentation, the code for specifing validations set to watch performance goes like this:

`evallist = [(dtest, 'eval'), (dtrain, 'train')]`

I followed this code and found early stopping rounds did not work, as it was targeting th

[2022-05-09 18:17] trivialfis commented on #7868
Not yet. We will try to reproduce the error later, which can take some time.

[2022-05-09 19:23] benjamincitrin commented on #7268
It looks like this was finished in v1.6.0

[2022-05-09 22:48] kevin-hilton opened #7880 "size limits in xgb.DMatrix for Python"
I'm running into an error that I think is related to this issue that was fixed for the R implementation but not for Python:

https://github.com/dmlc/xgboost/issues/156

This is the error I'm getting:

`	File "/usr/local/lib/python3.8/site-packages/xgboost/core.py", line 1913, in predict
	_check_call(
	File "/usr/local/lib/python3.8/site-packages/xgboost/core.py", line 218, in _check_call
raise XGB

[2022-05-09 23:14] wbo4958 commented on #7268
Yes, it's done. Let me close this issue.

[2022-05-09 23:14] #7268 closed

[2022-05-10 00:21] hcho3 commented on #7869
@wbo4958 That's right, we currently only support x86_64.

[2022-05-10 00:21] hcho3 commented on #7841
@trivialfis I'm submitting the JVM package today.

[2022-05-10 08:44] TomasZhang19 commented on #7869
@wbo4958
Thank you. In my xgboost4j demo project, I use the ml/dmlc/xgboost4j_2.12/xgboost4j_2.12-1.5.2.jar. Did you mean that I should compile the xgboost on the ARM platform and get a new xgboost4j_2.12-1.5.2.jar? if so, then what files do I need and how can I compile it?

[2022-05-10 09:05] wbo4958 commented on #7869
@trivialfis, can xgboost be built in ARM platform

[2022-05-10 12:07] trivialfis commented on #7869
It can.  We have arm package for Python.

[2022-05-11 02:21] TomasZhang19 commented on #7869
@trivialfis   How can I build xgboost4j_2.12-1.5.2.jar on ARM platform?

[2022-05-11 02:55] hcho3 commented on #7869
@TomasZhang19 Take a look at https://xgboost.readthedocs.io/en/latest/build.html#building-jvm-packages

[2022-05-11 07:18] yonil7 opened #7883 "Add grow_policy='lossguide' with tree_method='exact'"
Add ability to use `grow_policy='lossguide'` with `tree_method='exact'` (currently supported only if tree_method is set to hist, approx or gpu_hist)

BTW, currently this params combination works without error but `max_leaves` param is ignored (`max_depth` is used instead)

[2022-05-11 07:21] hcho3 commented on #7883
Apologies, we do not plan to add the lossguide policy to the exact method.

[2022-05-11 07:21] #7883 closed

[2022-05-11 07:27] trivialfis commented on #7880
Thank you for raising the issue, will fix it.

[2022-05-11 15:18] kevin-hilton commented on #7880
Thanks for the quick response, this will really help unblock me!

[2022-05-11 18:44] #7880 closed

[2022-05-11 18:44] trivialfis commented on #7880
You can get the nightly build once the tests on the master branch are finished.

[2022-05-11 18:49] kevin-hilton commented on #7880
Thank you! Any idea when the release will be with this fix?

[2022-05-11 19:05] trivialfis commented on #7880
Unfortunately, it will probably take some time. We just make the 1.6.1 days before and this bug is quite rare.

[2022-05-11 19:06] trivialfis commented on #7880
This is what the nightly build for: https://xgboost.readthedocs.io/en/stable/install.html#id1 ;-)

[2022-05-12 01:46] wangminzheng opened #7888 "monotone_constraints is expected to be a str, rather than tuple"
In the official document, the value of monotone_constraints is a tuple:
params_constrained['monotone_constraints'] = (1,-1)
See: https://xgboost.readthedocs.io/en/stable/tutorials/monotonic.html

But in the source code, it's evaluated to be either a str or a dict:
        if isinstance(value, str):
            return value
        constrained_features = set(value.keys())
See: https://github.com/dm

[2022-05-12 07:59] trivialfis opened #7890 "Quantile DMatrix for CPU."
This is part of https://github.com/dmlc/xgboost/issues/7690 to reduce memory usage of hist tree method.

- [x] Implement Quantile DMatrix for CPU. (https://github.com/dmlc/xgboost/pull/8130)
- [x] Implement reference DMatrix. (https://github.com/dmlc/xgboost/pull/8130)
- [x] Interoperability between CPU and GPU. (https://github.com/dmlc/xgboost/pull/8136 https://github.com/dmlc/xgboost/pull/8215)

[2022-05-12 11:25] ernesto-dreier commented on #7851
Thanks for the incredibly quick fix.

[2022-05-12 17:08] nilslacroix opened #7894 "Warning: Pandas deprecation, please fix this"
This error appears always when using pandas with xgboost, please fix this deprecation warning:

I do not want to surpress warnings since i could miss out on important subjects by doing that

[code]

[2022-05-12 19:11] hcho3 commented on #7894
@nilslacroix Please use latest release of XGBoost (1.6.1), which removed all uses `Int64Index`. See https://github.com/dmlc/xgboost/pull/7595

[2022-05-12 19:11] #7894 closed

[2022-05-12 20:00] #7888 closed

[2022-05-13 08:26] #7837 closed

[2022-05-13 09:09] wbo4958 opened #7895 "[jvm-packages] the classification model trained by xgboost4j-spark is xgboost in-compatible"
When saving XGBoostClassificationModel, XGBoostClassificationModel will add the num class into the beginning of the xgboost native model resulting in the model being xgboost in-compatible,  which means xgboost native/xgboost python can't load the model trained from XGBoost4j directly.

Although XGBoostClassificationModel provides a way to produce the XGBoost native model by

[code]

But it's reall

[2022-05-14 07:43] #7895 closed

[2022-05-14 07:59] trivialfis opened #7899 "Categorical data support (part 2)"
This is a follow-up to https://github.com/dmlc/xgboost/issues/6503 .

# Hyper-parameters
- [ ] Large scale benchmarks.
- [ ] Investigate different parameters for preventing overfitting.
- [ ] Compare results between different implementations.
- [ ] Produce documents about how each parameter affects model performance.

# Performance
- [ ] Optimize GPU evaluation function.
- [ ] Optimize CPU evaluat

[2022-05-14 08:22] trivialfis opened #7900 "Improve dart booster."
- [ ] Investigate more efficient inference methods during training.
- [ ] Improve clarity of parameter settings for random forest model.
- [ ] Improve model dump. (https://github.com/dmlc/xgboost/issues/5051)
- [ ] Potential support for GPU SHAP (or fallback to CPU)

[2022-05-14 19:55] drorspei opened #7903 "Incorrect prediction logic, allows buffer overflow"
Hey hey, thanks for this amazing package.
There is a small issue arising from an inconsistency between the prediction logic and loading models logic:
When loading a model from json we can specify the indices of the left and right children of each node in each tree however we want.
But the prediction logic in `predictor/predict_fn.h:GetNextNode` assumes that the right child of a node is always exac

[2022-05-14 22:14] hcho3 commented on #7674
Closing, since the pseudo-Huber loss now supports a custom slope (`huber_slope`)

[2022-05-14 22:15] Kodiologist commented on #7674
I don't think that fixes the problem. Changing the slope just makes pseudo-Huber less like absolute error.

[2022-05-14 22:20] hcho3 commented on #7674
@Kodiologist There is an experimental prototype for the L1 error: #7812. It implements an "adaptive tree" method where we can fit trees even when the Hessian is constant or not informative.

[2022-05-14 22:22] Kodiologist commented on #7674
Oh, very cool, I'd hadn't heard. I'll have to look into it.

[2022-05-14 22:23] hcho3 commented on #7674
Reopening this issue for now, since the L1 error is still experimental.

[2022-05-14 22:39] hcho3 commented on #7878
Thanks for spotting the mistake! Would you like to submit a pull request?

[2022-05-15 06:37] trivialfis commented on #7674
I will work on optimal initialization later for L1. However, to fully resolve the issue for custom objective, we need to implement https://github.com/dmlc/xgboost/issues/7693 . I'm still not entirely how should we move forward regarding the interface.

[2022-05-15 17:22] SzeYeung1 commented on #7878
Sure. Honoured to make a small contribution to XGBoost as my first ever pull request. The [pull request](https://github.com/dmlc/xgboost/pull/7905) has made.

[2022-05-15 18:56] david-cortes opened #7906 "[RFC] Making R interface more idiomatic"
I notice that there is a version 2.0 of xgboost in the plans, which among other things, is expected to include support for categorical features in the R interface.

Given that this is a major version release and as such is expected to introduce potentially breaking changes, I think this is a good opportunity to make the R interface more in line with base R and core/popular R modeling packages. Man

[2022-05-15 20:45] RAMitchell commented on #7906
I don't think any current active maintainers are big R users so we welcome input. Could we just build a new interface behind a different namespace until it's ready? I don't think there's a need to immediate replace the old interface in a short space of time.

[2022-05-16 01:56] #7878 closed

[2022-05-16 03:34] trivialfis commented on #7906
I would like to welcome these changes. The concern about breaking changes can be handled by running reverse dependency checks.

[2022-05-16 09:00] HuangChiEn opened #7909 "Load pretrain weight for XGBClassifier, "XGBoostError : BoostLearner: wrong model format" in exactly same version of xgboost"
I have pretrained an xgboost classifier and save it by the most safety way I though ( official method : clf.save_model(xxx.json) ).

Unfortunately, I have encounter the bug while loading the weight, and the bug info is described as follows:
![image](https://user-images.githubusercontent.com/52521165/168557566-e630bf6b-9428-465c-a6dd-558a35827aac.png)

To be honest, it's not surprising. I believe t

[2022-05-16 09:40] yahmadyar95 commented on #5475
Hi,
I have this error for classifier 'continuous is not supported'
How can I solve it ?

[2022-05-16 13:14] trivialfis commented on #7909
XGBoost is backward compatible. Could you share your model? Or is there a way to reproduce the error?

[2022-05-16 13:15] trivialfis commented on #7909
Also, could you please verify that the model is the same on your jupyter environment and there's no transmition error? I'm asking as we are still testing models from 0.9. https://github.com/dmlc/xgboost/blob/master/tests/python/test_model_compatibility.py

[2022-05-16 16:08] hcho3 commented on #7909
Also ensure that the local and online machines have the same processor architecture. There could be an issue with endianness.

[2022-05-16 23:41] jbrownlee commented on #5475
Hi Dmlc/Xgboost,

Thanks for asking.

I’m eager to help, but I just don’t have the capacity to debug code for you.

I am happy to make some suggestions:

   - Consider aggressively cutting the code back to the minimum required.
   This will help you isolate the problem and focus on it.
   - Consider cutting the problem back to just one or a few simple examples.
   - Consider finding other similar

[2022-05-17 10:27] JivanRoquet opened #7913 "Kernel dies during post-training wrap-up when training more than 500 iterations"
Using XGBoost 1.6.0 with a multi-class classification problem involving 6000+ target classes, about 500 input features and about 2M training rows.

Training on a p3.16xlarge 8-GPU machine with Dask on 16 partitions works:

- fine for up to about 500 iterations
- causes the kernel to die if training for more than about 500 iterations (e.g. 600, 700, 800...)

In both cases the training goes fine up

[2022-05-17 11:11] trivialfis commented on #7913
Is it possible that there's OOM error?

[2022-05-17 11:20] JivanRoquet commented on #7913
@trivialfis thanks for pointing this. I initially didn't think it could be RAM-related, as this is a 480Gb RAM instance with about 150Gb used during training.

It's possible that there's a sudden RAM usage spike at the very end during the wrap-up, I'll need to check what happens precisely at this moment, see if there's a significant spike.

[2022-05-17 13:46] trivialfis commented on #7578
HI @mengxr . Could you please share some insight into why do you choose the Python approach instead of the Jvm approach? I understand that the Python approach can lead to a better user experience for Python users. But for the longer term, we settled on the JVM approach due to memory consumption and potential performance penalty from data serialization (arrow & pickle). Also, it would be easier for

[2022-05-17 15:29] snoopcheri opened #7915 "Enhance detection of MUSL-based Linux systems (xgboost4j)"
### Context

With the release 1.6 of xgboost, a [feature](https://github.com/dmlc/xgboost/pull/7624) was added that would automatically detect under Linux, whether it is a regular or a MUSL-based system. Depending on this, the proper Native shared library would be loaded (MUSL-based systems cannot load shared libraries using `glibc`).

The check whether a Linux system is MUSL-based is done by insp

[2022-05-17 16:12] trivialfis commented on #7915
Thank you for the proposal.  @Craigacp would you like to join the discussion when you are available?

[2022-05-17 16:35] Craigacp commented on #7915
I think my preference would be to remove the MUSL section from NativeLibraryLoader and supply a single JVM system property override for users which allows them to supply the path to the XGBoost native library on startup, rather than have a two phase approach where the user can override MUSL detection but has a leaky fallback. That's what we do in ONNX Runtime (https://github.com/microsoft/onnxrunt

[2022-05-17 19:12] Craigacp commented on #7915
The consensus opinion from the Java people I talked to is that there are only bad ways to detect if you're running on top of musl directly from within the JVM and that those shouldn't be in production code.

[2022-05-18 05:21] #7841 closed

[2022-05-18 07:56] trivialfis commented on #7915
Thank you for the comments. Is there a way to fail gracefully?

[2022-05-18 13:01] snoopcheri commented on #7915
@Craigacp
Thanks for your input! I can see that getting rid of the MUSL auto detection makes sense, as it doesn't work in all cases anyway and simplifies the code.

Concerning your suggestion that the user could specify the path of the shared library to load via an system property:

* On the positive side, this could be used for other scenarios, we're not yet aware of, as you've mentioned. We woul

[2022-05-18 14:55] trivialfis opened #7917 "Incorrect hanlding of missing value for categorical features."
When missing values are presented in categorical feature, XGBoost might partition the data incorrectly.

I'm working on some more thorough tests with categorical data, just listing some issues here for tracking.

[2022-05-18 15:32] JivanRoquet commented on #7913
@trivialfis it was definitely and absolutely an OOM error.

This is the profile of RAM usage (in GB) right after the training ends (first red arrow) up until the `fit()` method returns (second red arrow).

<img width="774" alt="Screenshot 2022-05-18 at 16 29 53" src="https://user-images.githubusercontent.com/6452675/169082322-eaaf4749-03eb-4fb2-9867-b1d3ad1fe6bb.png">

Most of the training time ha

[2022-05-18 16:38] mengxr commented on #7578
We ran some benchmark and we haven't observed performance penalty from data serialization yet. We only need the data conversion once before training. So the memory consumption during training should be the same for both implementation.  Both are calling native XGBoost for distributed training. Do you have examples to demonstrate memory/performance issues? Our implementation also supports GPU. We c

[2022-05-18 19:59] JivanRoquet commented on #7913
Size of training data is roughly 2M rows with 550 columns, mostly floats. I've actually just realized that the `dtype` of the training array is `float64`. Maybe changing it to `float32` would ease the problem.

[2022-05-19 03:04] trivialfis commented on #7913
I'm not sure what's taking up the memory since you are using gpu hist.

This is not a good practice and might cost significant amount of memory, see https://xgboost.readthedocs.io/en/stable/tutorials/dask.html#memory-usage .

[2022-05-19 03:08] trivialfis commented on #7913
@JivanRoquet You can try to replace the `from_pandas` by using dask.dataframe to load the data directly.

[2022-05-19 04:10] wbo4958 commented on #7578
Thx @mengxr,

Here are some comments about the requirements,

Jvm side has packed all the parameters to xgboost including those not-defining on Param, see, https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostClassifier.scala#L199 . So jvm should also auto-supports the new parameters without any changing.

Yeah, the native mod

[2022-05-19 05:18] mengxr commented on #7578
Do you plan to provide an API for PySpark users to get the Python model object directly?

I think that underestimated the usability issues. Managing Python dependencies on PySpark is not a trivial task. See https://databricks.com/blog/2020/12/22/how-to-manage-python-dependencies-in-pyspark.html . Side tracking jars adds more complexity. For example, this is a common workflow:

* Train a model on a

[2022-05-19 05:21] mengxr commented on #7578
Forgot to ask: how do you plan to support callback with the Scala wrapper?

[2022-05-19 12:12] JivanRoquet commented on #7913
@trivialfis thanks for the tip. Could doing this have a link with us currently observing no speed improvement when the training is done on 1 GPU (without Dask) vs 4 or 8 GPUs (with Dask)?

Essentially currently we need e.g. 8 GPU in parallel only because when using 4 GPU, the GPUs run out of memory at the beginning of the training. But we don't observe any speed improvement by doing so, just that

[2022-05-19 14:12] trivialfis commented on #7913
I can't be sure. It's highly dependent on the data and the cluster you are using. We are currently trying to reduce the communication overhead in XGBoost, which might help.

[2022-05-20 01:16] HuangChiEn commented on #7909
That't the point i can not confirm, since the online jupyter enviroment is provided by the competition host (seems use the docker to built the jupyterlab). So I still save the model in pickle format to deal with that.

[2022-05-20 01:19] HuangChiEn commented on #7909
Since i already deleted it. I can retrain the model after the competition end. It may be helpful for the competition test.

[2022-05-20 07:45] TomasZhang19 commented on #7869
Thank you. It does work.

[2022-05-20 07:45] #7869 closed

[2022-05-20 08:10] paro- opened #7924 "v1.5.1: version_config.h gets modified during compilation"
Hi,

On commit eb69c6110 when I compile xgboost as dependency to my project, at the end of compilation I see this git diff:

diff --git a/include/xgboost/version_config.h b/include/xgboost/version_config.h
index c88ad615..ef2c53bb 100644
--- a/include/xgboost/version_config.h
+++ b/include/xgboost/version_config.h
@@ -6,6 +6,6 @@
 #define XGBOOST_VER_MAJOR 1
 #define XGBOOST_VER_MINOR 5
-#define X

[2022-05-20 09:28] trivialfis commented on #7924
It was an oversight that did not get committed into git. You can commit it to the 1.5.1 branch if preferred.

[2022-05-20 10:30] trivialfis commented on #7578
@mengxr Is there a clear path for the implementation of sparse data support?

[2022-05-20 16:00] mengxr commented on #7578
https://github.com/apache/spark/pull/36408

[2022-05-20 18:33] luigif2000 opened #7926 "json.h:73: Invalid cast, from Object to Array"
Dear all,
with xgboost 1.5.2 no error
with 1.6.0 or 1.6.1 i meet the subject error: json.h:73: Invalid cast, from Object to Array

Has anyone any idea how to fix?
thanks a lot in advance

luigi

[2022-05-20 18:42] trivialfis commented on #7926
Could you please share how to reproduce it?

[2022-05-20 18:52] luigif2000 commented on #7926
sure, let me think how to:

mmmmm I have a large dataframe with categorical features and numerical, ubuntu, python 3.9....
 everything is ok with xgboost 1.5.2 but if i upgrade to xgboost 1.6.1 i had that error
i tried to investigate a lot but nothing.......i sinceresly don't know how to reproduce it
but the most important thing is that if a run pip install --upgrade xgboost and the system go to 1

[2022-05-20 18:54] trivialfis commented on #7926
Could you please share a reproducible example that we can run and see the error? I can't guess based on your description. :-).

[2022-05-20 18:55] trivialfis commented on #7578
Excellent! Will get back to this on Monday.

[2022-05-20 18:59] luigif2000 commented on #7926
you right at all..........let me arrange an example.....is not easy but i can.......stay tune...and thanks a lot

luigi

[2022-05-20 20:47] dawilliams-nvidia opened #7927 "Dask-XGBoost non-deterministic results"
I have been trying to train XGBoost on multi-gpu via Dask. It is required that the training pipeline be made deterministic (for example for comparing Hyperparameter runs), exactly the same results from loading the same data and training on the same number/type of GPUs. So far, with the following code I can generate reproducible results on 1 or 2 GPUs by manually assigning dask partitions to worker

[2022-05-20 20:48] mallman commented on #7802
Since this is checked off does this mean xgboost4j-spark-gpu supports multi-worker training? I have not been able to get anything other than 1 worker to work. Is there a particular configuration that needs to be applied to enable multi-worker training?

FYI I'm using XGBoost 1.6.1 and Spark 3.2.1.

[2022-05-20 21:39] Robert-Christensen-visa commented on #7927
This issue is not exclusive to training using GPUs.  While the example above uses cudf and GPUs to train, I have been able to reproduce this issue when training without GPUs.

[2022-05-21 10:55] luigif2000 commented on #7926
I DID! FOLLOWING:

INSTALLATION PACKET

pip install xgboost==1.5.2
Collecting xgboost==1.5.2
  Using cached xgboost-1.5.2-py3-none-manylinux2014_x86_64.whl (173.6 MB)
Requirement already satisfied: numpy in /home/luigi/miniconda3/lib/python3.9/site-packages (from xgboost==1.5.2) (1.21.6)
Requirement already satisfied: scipy in /home/luigi/miniconda3/lib/python3.9/site-packages (from xgboost==1.5.2

[2022-05-21 11:00] luigif2000 commented on #7926
my program above (xgboost_debug_v2.py):

#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu Aug 12 17:25:34 2021

@author: luigi
"""

import os
#import sys
#from os import path
import pandas as pd

import numpy as np
import sys

#import shutil

import xgboost as xgb

import pyarrow

#################################################

X_train_0_100_debug = pd.read_parquet('/home/luigi

[2022-05-21 11:31] luigif2000 commented on #7926
[X_train_0_100.zip](https://github.com/dmlc/xgboost/files/8747497/X_train_0_100.zip)
[label_encoded_y_train_0_100.csv](https://github.com/dmlc/xgboost/files/8747498/label_encoded_y_train_0_100.csv)
[label_encoded_y_validation_0_100.csv](https://github.com/dmlc/xgboost/files/8747499/label_encoded_y_validation_0_100.csv)
[X_validation_0_100.zip](https://github.com/dmlc/xgboost/files/8747500/X_valida

[2022-05-23 01:38] wbo4958 commented on #7802
@mallman, Thx for testing xgboost4j-spark-gpu. `XGBoost 1.6.1 and Spark 3.2.1` is ok for testing multi-worker.

Please note that each xgboost worker requires 1 GPU for 1 process, so if you are trying multi-worker, please be sure that you have multi-gpus. And you should also configure your spark cluster with GPU support, please refer to https://nvidia.github.io/spark-rapids/Getting-Started/

And as

[2022-05-23 01:40] wbo4958 commented on #7802
BTW, @mallman have you seen the obvious speed up?

[2022-05-23 03:42] trivialfis commented on #7927
I reproduce it with 2 workers. The partitioning is not deterministic.

[2022-05-23 03:43] trivialfis commented on #7927
I'm afraid xgboost-dask cannot be fully deterministic until the dask data partitioning is deterministic.

[2022-05-23 03:57] trivialfis commented on #7926
Couldn't reproduce it with master branch, trying it with 1.6.1 now.

[2022-05-23 04:14] trivialfis commented on #7926
I can't reproduce it with 1.6.1 either, but I have found the cause: You have 1.5.1 `libxgboost.so` somewhere installed by conda, and then you install XGBoost with pip without first removing the old version completely.  Please remove the `libxgboost.so` in your conda environment: `/home/luigi/miniconda3/lib/`

[2022-05-23 06:10] trivialfis commented on #7578
We made multiple comparisons between the Pythonic approach and the JVM approach. The result is inconclusive. But I would like to push forward instead of stalling on this much-anticipated feature. @wbo4958 would like to proceed with the JVM approach but I would like to continue on the Pythonic approach (the one from @mengxr) despite I tried to be neutral for a long while. My preference is due to on

[2022-05-23 07:24] trivialfis commented on #7578
If there are other concerns about user experience please feel free to raise them. Otherwise, let's move forward and get a working prototype for merge.

[2022-05-23 10:13] luigif2000 commented on #7926
uaooooooooo....great trivialfis!!!! ...it ....I'm going to try what  you kindly suggest.......wait ....i hope .....

[2022-05-23 10:42] luigif2000 commented on #7926
(base) luigi@DM2:/home/luigi$ conda remove libxgboost
Collecting package metadata (repodata.json): done
Solving environment: /

still waiting......ahhhhhhhhh

[2022-05-23 10:44] luigif2000 commented on #7926
conda remove libxgboost

take a long time.....still solving....waiting ( i remember i tried some days ago but after hours nothing....!?!?!?!
do you think a could force the remove?

[2022-05-23 11:12] trivialfis commented on #7926
yes, just delete the file ... or , you can use mamba instead of conda.

[2022-05-23 11:28] luigif2000 commented on #7926
conda remove --force libxgboost
conda remove --force _py-xgboost-mutex
conda remove --force py-xgboost
conda remove --force py-xgboost-gpu
pip uninstall xgboost
Found existing installation: xgboost 1.5.2
Uninstalling xgboost-1.5.2:
  Would remove:
    /home/luigi/miniconda3/lib/python3.9/site-packages/xgboost-1.5.2.dist-info/*
    /home/luigi/miniconda3/lib/python3.9/site-packages/xgboost.libs/lib

[2022-05-23 11:40] luigif2000 commented on #7926
let me investigate.....

[2022-05-23 11:48] luigif2000 commented on #7926
pip install xgboost==1.5.2
Collecting xgboost==1.5.2
  Using cached xgboost-1.5.2-py3-none-manylinux2014_x86_64.whl (173.6 MB)
Requirement already satisfied: scipy in ./miniconda3/lib/python3.9/site-packages (from xgboost==1.5.2) (1.8.1)
Requirement already satisfied: numpy in ./miniconda3/lib/python3.9/site-packages (from xgboost==1.5.2) (1.21.6)
Installing collected packages: xgboost
  Attemptin

[2022-05-23 11:50] luigif2000 commented on #7926
pip install --upgrade xgboost
Requirement already satisfied: xgboost in ./miniconda3/lib/python3.9/site-packages (1.5.2)
Collecting xgboost
  Using cached xgboost-1.6.1-py3-none-manylinux2014_x86_64.whl (192.9 MB)
Requirement already satisfied: scipy in ./miniconda3/lib/python3.9/site-packages (from xgboost) (1.8.1)
Requirement already satisfied: numpy in ./miniconda3/lib/python3.9/site-packages (

[2022-05-23 11:51] luigif2000 commented on #7926
aaaaaaaaaaaaahhhhhhhhhhhhhhh why?????

[2022-05-23 11:52] luigif2000 commented on #7926
some dataframes, only xgboost intalled......1.5.2 non error, 1.6.1 error:/categorical.h:82: Check failed: max_cat + 1 >= n_categories (1.5335 vs. 2) : Maximum cateogry should not be lesser than the total number of categories.

[2022-05-23 11:53] luigif2000 commented on #7926
same program, same dataframes: 1.5.2 NO ERROR, 1.6.1 ERROR..............................................

[2022-05-23 11:55] luigif2000 commented on #7926
sorry it's normal i know, but with the other dataframes (only 0-100lines) 1.6.1 was fine!?!?!?!?

[2022-05-23 11:55] luigif2000 commented on #7926
i need time to rest..............the computer science is not deterministic also when it is........i know

[2022-05-23 11:55] luigif2000 commented on #7926
:-)

[2022-05-23 11:56] luigif2000 commented on #7926
but what means:Check failed: max_cat + 1 >= n_categories (1.5335 vs. 2) : Maximum cateogry should not be lesser than the total number of categories.!?!?!?!?!?!?

[2022-05-23 11:57] luigif2000 commented on #7926
ahhhh it is not 15335 but 1.5335!!!?!?!?!?

[2022-05-23 11:58] luigif2000 commented on #7926
this should be a bug of 1.6.1!?!?!?

[2022-05-23 11:59] luigif2000 commented on #7926
n_categories=2 ??????????? i have thousands categories......

[2022-05-23 12:02] luigif2000 commented on #7926
go back to 1.5.2......waiting rest time.......thanks a lot anyway [trivialfis]...that's very kind oy you

*

luigi

[2022-05-23 13:11] sans-k73 opened #7929 ""Check failed: _count >= 0" issue in scala-spark distributed XGBoost training (v 0.90)"
Hi Team,

I'm facing the following issue with XGBoost v0.90 scala-spark distributed training.

**[00:20:49] Tree method is automatically selected to be 'approx' for distributed training.
terminate called after throwing an instance of 'dmlc::Error'
  what():  [00:20:57] /xgboost/src/common/./span.h:403: Check failed: _count >= 0:
Stack trace:
  [bt] (0) /tmp/hadoop-mapr/nm-local-dir/usercache/<use_

[2022-05-23 13:13] trivialfis commented on #7929
Could you please use 1.6.1? 0.9 is no longer supported.

[2022-05-23 13:13] #7929 closed

[2022-05-23 14:49] Robert-Christensen-visa commented on #7927
@trivialfis The example provided by @dawilliams-nvidia attempts to make the data partitioning deterministic.  When the file is read, the first part of the data is placed on worker 0, the next part of worker 1, ect.  Work stealing is also disabled, so the data will remain on the worker it is assigned.

This is true, but it is not sufficient for xgboost-dask to be fully deterministic.  This issue is

[2022-05-23 15:02] trivialfis commented on #7927
@Robert-Christensen-visa Thank you for the explanation. I tested the sample and saved the data for each worker, then compare the sha256sum for each run. The data partitioning is still not deterministic in the example.

[2022-05-23 16:17] mallman commented on #7802
Hi @wbo4958. I think there's some ambiguity in my question. Let me clarify.

What I want to do is run distributed training with a single worker per executor, like we can do in CPU mode. I have been able to make it work if I configure my Spark job with `spark.task.resource.gpu.amount` set to 1. But then I can only run one task per executor at a time. This severely limits data-parallelism, and we ar

[2022-05-24 00:19] wbo4958 commented on #7802
@mallman, I got you.

Hmm. If, at any time, there is only 1 xgboost application running on your cluster (without any other spark application), then it's okay to set `spark.task.resource.gpu.amount` to the fraction. Eg, if your executor cpu cores = 12, and per task cpu core = 1, then `spark.task.resource.gpu.amount` should be set to 1/12 = 0.08

[2022-05-24 05:48] xiangpeng2008 opened #7931 "ValueError: ('feature_names must have the same length as data, ', 'expected 1, got ???')"
Time by time I could get issue like below, when I create dmatrix from csv
`xgb.DMatrix(read_file_name,  feature_names=features)`

[code]
But I could not reproduce it because when I rerun it the issue doesn't come back. Someone saw this before and knows why ?

Thanks!

[2022-05-24 08:11] tsabsch opened #7933 "Scikit-Learn/Dask API: incorrect/incomplete type hint and documentation for `verbose`"
The `fit()` method of all classes in the python scikit-learn and dask API describe the `verbose` parameter as:

However, `verbose` is set as `verbose_eval` in the Learning API ([example for XGBModel](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/sklearn.py#L1002)), which also allows an integer value in order to adjust the frequency of printing evaluation metrics:

Given that t

[2022-05-24 08:39] tsabsch commented on #7933
Sure :)

[2022-05-24 14:12] trivialfis commented on #7674
@Kodiologist Could you please try one of the tree methods: `approx`, `hist`, `gpu_hist`?

The adaptive tree is not implemented for `exact` tree method yet (which is the default for small data).

Using `hist`:
[code]

[2022-05-24 14:24] Kodiologist commented on #7674
Thanks, that seems to work well in this case. Do you recommend `hist` over `approx` in most cases?

Intelligent selection of the default `base_score` could probably be generalized to other objectives, too, like `base_score=mean(y)` for `reg:squarederror`.

[2022-05-24 16:33] trivialfis commented on #7674
I wrote a brief introduction to various tree methods https://xgboost.readthedocs.io/en/stable/treemethod.html For constant Hessian objectives `hist` is preferred. For other objectives then it's case by case,  I don't have a thorough study (which I'm working on now that approx is completely rewritten).

Yes. Thank you for the suggestion. I have a POC implementation for this and will submit a PR aft

[2022-05-24 20:56] david-cortes opened #7935 "[R] `predict` doesn't return probabilities for `multi:softmax`"
When using objective `multi:softmax`, calls to predict will always return the predicted class instead of the probabilities:
[code]
[code]

According to the docs, this should produce an output with shape `(3, 150)`.

[2022-05-24 21:29] hcho3 commented on #7935
Using multi:softmax objective will produce class predictions. For now, please use multi:softprob.

I would welcome your suggestion for improving the behavior. I can think of following options:

1. Forbid multi:softmax objective in the R interface. Always use multi:softprob.
2. Make multi:softmax behave like multi:softprob at prediction time.

[2022-05-25 07:23] david-cortes commented on #7935
I think the 3rd one would be the most ideal.

[2022-05-25 07:52] trivialfis commented on #7935
I think those are the same objective and the only difference is the softmax collapses probability into class index at prediction time.

[2022-05-25 08:37] kunrenzhilu opened #7936 "OSX 12 Maven package Error"
I am trying to build xgboost4j 0.90, so I download the zip package and execute `mvn package` under the xgboost4j directory, but it gives the following error, I am not sure what goes wrong.. can any one help?

[code]

[2022-05-25 08:39] trivialfis commented on #7936
0.90 is no longer supported. Please upgrade to the latest version.

[2022-05-25 08:39] #7936 closed

[2022-05-25 10:22] trivialfis opened #7939 "dmlc parameter failed to parse small value."
Falsifying example: test_hist(
    param={'alpha': 0.0,
     'colsample_bylevel': 1.0,
     'colsample_bytree': 1.0,
     'eta': 0.25,
     'gamma': 1.1754943552013452e-38,
     'lambda': 1.0,
     'max_depth': 1,
     'min_child_weight': 1.0,
     'nthread': 1,
     'seed': 0},
    hist_param={'grow_policy': 'lossguide',
     'max_bin': 2,
     'max_depth': 1,
     'max_leaves': 0},
    num_round

[2022-05-25 12:36] ooghry opened #7941 "Input contains NaN, infinity or a value too large for dtype('float32')."
Hello,
I'm trying to run Optuna with XGBoost and after some trails with `validation-mlogloss around 1` I get big `validation-mlogloss` and some errors:
(I don't know Optuna or XGBoost cause this)
[code]

[code]

[2022-05-25 12:40] ooghry commented on #7941
My code is [here](https://gist.github.com/ooghry/a7bb18b375f913104a4e959299ef0d13) (sorry it's messy)

[2022-05-25 12:57] trivialfis commented on #7941
Hmm .. that's gblinear.

[2022-05-25 13:23] JivanRoquet commented on #7913
For what it's worth, I've changed the Dask dataframe loading approach by directly reading from Parquet files and the behaviour described above still holds (big RAM usage increase on wrapping up).

[2022-05-25 13:35] trivialfis commented on #7913
Yup, that's a separate issue that still needs some investigation. But I hope that by changing the data loading approach you can avoid an OOM error.

[2022-05-25 13:36] trivialfis commented on #6704
@csetzkorn that error is not from xgboost.

[2022-05-25 14:46] csetzkorn commented on #6704
Thanks I also tried:

`{'max_depth': '10', 'num_round': '10', 'objective': 'count:poisson', 'tree_method': 'exact', 'seed': 42, 'eval_metric': 'rmse', 'updater': 'grow_monotone_colmaker', 'monotone_constraints': {'SomeColumn': -1}}`

Same error but as @trivialfis says most likely more a sagemaker issue:

[code]

[2022-05-25 15:44] mallman commented on #7802
Hi @wbo4958. If I do that, all of the xgboost tasks run on a single executor, but no progress is made. I don't get an error either. It just waits.

[2022-05-25 17:30] trivialfis commented on #7931
I don't think we can make any guess without a reproducible example.

[2022-05-25 17:30] #7931 closed

[2022-05-25 17:55] trivialfis commented on #7913
I haven't tested it yet, but an initial guess can show that the memory surge can be expected. Take a conservative estimation that each tree node takes up 64 bytes,  a 16 depth dense tree has about 60k nodes (we don't usually grow a fully dense tree, just to give an upper bound), 6000x500 trees with models gathered from 8 workers, that's 1.4TB!

[2022-05-25 20:54] RyanWalden20 opened #7942 "eval_qid's length does not equal eval_set's length, expecting 2"
There is a bug in line 413 of release_1.6.0:

https://github.com/dmlc/xgboost/blob/5d92a7d936fc3fad4c7ecb6031c3c1c7da882a14/python-package/xgboost/sklearn.py#L413

This causes the following error which is reproducible in Google Colab with XGBoost version: 1.6.0

[code]

The logic of line 413 should be updated to not use the length of the eval_set, but instead the length of either X or y in the eva

[2022-05-26 01:44] wbo4958 commented on #7802
@mallman Could we file an issue to describe your issue, including env, script and so on?

[2022-05-26 02:44] trivialfis commented on #7942
[code]
should be changed to
[code]

[2022-05-26 02:53] #7915 closed

[2022-05-26 03:23] trivialfis commented on #7578
@mengxr Please let us know if there's anything we can help.

[2022-05-26 10:42] edc-ff opened #7944 "XGBoostError: sklearn needs to be installed in order to use this module"
Hey all,

I'm getting the error in the title while trying to run the following code:
[code]

I'm currently using a fresh environment with:
[code]

For environment managing I'm using miniconda 4.12.0.
My current machine is a mac with Monterey OS and Apple M1 chip.

I've already tried recreating the environment and installing the libraries in different order, but it didn't solve the issue.

Any sugg

[2022-05-26 10:48] hcho3 commented on #7939
@trivialfis Should we pin hypothesis to `<6.46.8` to unblock PRs?

[2022-05-26 11:08] trivialfis commented on #7939
@hcho3 We can workaround it by using values like `1e-5` in the place of `0` as done in the linked PR. In longer term I think we need to fix it inside XGBoost (by replacing float with double or by other means).

[2022-05-26 11:11] trivialfis commented on #7944
Could you please try to run this on your environment and share the result with us:

[code]

[2022-05-26 11:23] edc-ff commented on #7944
Thanks, that helped me find out the issue.

In brief, I was starting an iPython shell from within the environment. For some reason, xgboost was available in the iPython shell, but the same didn't happen for sklearn.

Everything is working fine now, thanks and sorry for jumping the gun!

[2022-05-26 11:47] trivialfis commented on #7944
Excellent!

[2022-05-26 11:47] #7944 closed

[2022-05-26 13:22] stefanoservino commented on #7761
@zhnnix I confirm that your solution resolves this problem! I got two terrible days and now it's working,

Thank you so much

[2022-05-26 13:26] stefanoservino commented on #7761
@zhnnix I confirm that your solution resolves this problem! I got two terrible days and now it's working,

Thank you so much

N: for me works by just launch pyinstaller --onefile --noconfirm -F xxxx.py --collect-all "xgboost"

[2022-05-26 13:29] trivialfis opened #7946 "Improve GPU sketching with skewed data."
We should run https://github.com/dmlc/xgboost/blob/18cbebaeb9c04dfb112b7f42c7b15087bc6a190b/src/common/quantile.cu#L351 before pruning so that accumulated weight for the same element is more accurate.

[2022-05-27 00:06] #7855 closed

[2022-05-27 05:42] trivialfis commented on #7946
This might increase the GPU memory usage a few times. Need better ideas.

[2022-05-27 16:13] negatratoron opened #7949 "XGBoost JSON gives "Invalid model format" after formatting"
I tried to load a saved JSON model using `XGBoosterLoadModelFromBuffer` after formatting it, but got the "Invalid model format" error.  It was raised from https://github.com/dmlc/xgboost/blob/bde4f257941b3187fadfce76e945fdbf7cf3b161/src/learner.cc#L863

This appears to be raised if the first character is `{` and the second character is not `"`.  This is good validation to perform, but this means t

[2022-05-27 16:24] trivialfis commented on #7949
Thank you for raising the issue, will fix it.

[2022-05-27 18:08] mallman commented on #7802
@wbo4958 I'm sorry, but I don't know when I'll return to this effort. But basically the question is whether one can run distributed xgboost with gpus without sacrificing task-parallelism in non-xgboost stages.

[2022-05-29 03:25] wbo4958 commented on #7802
The answer is yes just like https://github.com/dmlc/xgboost/issues/7802#issuecomment-1135265083. So if you can't make it, I mean, you can file an issue with detailed information, so we can figure out why you can't run it successfully.

[2022-05-29 22:14] JivanRoquet opened #7951 "Train when dataset doesn't fit available GPU memory?"
Given an imposed set of GPU devices (8x V100 16Go) and using `DaskXGBClassifier`, is there a way to train XGBoost on a dataset that exceeds available GPU memory?

Assuming I can't resort to distributed training and I'm being limited to this specific set of GPUs.

I've already tried the `subsample` option down to `0.1` and it's effective to a degree, but going any lower really hurts validation metr

[2022-05-30 04:08] #7933 closed

[2022-05-30 04:14] trivialfis commented on #7951
But `DaskXGBCLassifier` is using distributed training?

Are you using the external memory version of XGBoost?

[2022-05-30 20:31] JivanRoquet commented on #7951
Sorry for the confusion. I'm using Dask XGBoost classifier but in a way that is "distributed" only across the multiple GPUs the machine I'm using is equipped with, not distributed over several machines.

Also, what are you referring to when mentioning the external memory version of XGBoost?

[2022-05-31 02:12] trivialfis commented on #7951
Sampling directly doesn't reduce memory usage. But for GPU, one can use external memory version along with sampling to reduce memory usage.  See [data iterator](https://xgboost.readthedocs.io/en/stable/tutorials/external_memory.html#data-iterator) and [GPU support](https://xgboost.readthedocs.io/en/stable/tutorials/external_memory.html#gpu-version-gpu-hist-tree-method). However, it doesn't work wi

[2022-05-31 06:03] #7942 closed

[2022-05-31 18:25] ntabris opened #7959 "xgboost dask with specified address/port tries to re-bind to same port in some situations"
The default behavior of xgboost with dask is to bind a listener to an ephemeral port on the scheduler.

We had been trying to deploy dask in a way where we only opened specified ports on the scheduler (specifically, running the dask scheduler in a container using bridge networking mode). We tried using `xgboost.scheduler_address` to set the address/port to one that we explicitly opened.

The probl

[2022-06-01 03:47] trivialfis commented on #7959
It should release the port once the training is finished. I'm not sure what's happening. Will try to reproduce it on my end.

[2022-06-01 04:01] trivialfis commented on #7959
Perhaps the tracker is not deleted: https://github.com/dmlc/xgboost/blob/545fd4548e303931dafd98d6606454fcdc2b8f2f/python-package/xgboost/tracker.py#L205

[2022-06-01 08:02] phisanti opened #7961 "Issue install R package xgboost in raspberry pi 3B+"
I am trying to install the xgboost package for R in a `raspberry pi 3B+` running on `ubuntu 22.04`. I was able to install the package from source, however, when I run the command `library(xgboost)` it seems is not available. I then read that I need to run the command `R CMD INSTALL ..` in the xgboost/R-package folder but couldn't install. I also tried the classic `install.packages('xgboost')` but

[2022-06-01 08:06] hcho3 commented on #7961
It takes a while to compile the amagalmation file (amagalmation/xgboost-all.o). How long have you waited?

[2022-06-01 08:40] phisanti commented on #7961
This is the method that I followed. In my original post I said I installed the package from source so I did this:
[code]

which was successfully installed. Then I go to R and run "library(xgboost)" it does not find the library. Then I tried:

[code]

Maybe I did something wrong during the `cmake `installation and that is why is not detected but I can re-install it and send a screenshot so you can

[2022-06-01 08:46] hcho3 commented on #7961
Can you post the full log of the CMake installation?

[2022-06-01 08:50] SultanOrazbayev commented on #7818
Hmm, I tried it with these versions:

[code]

And not sure I can reproduce the error (dashboard seems clear):

[code]

[2022-06-01 09:29] phisanti commented on #7961
Here it is:
![image](https://user-images.githubusercontent.com/33370667/171372935-7754a3f9-d061-4f39-b9f6-7abb28501bf0.png)
![image](https://user-images.githubusercontent.com/33370667/171372982-f6ac1f7c-fd25-4276-ae6c-4d78fc0e0fdd.png)
![image](https://user-images.githubusercontent.com/33370667/171373037-90cad2df-7968-4585-bd62-439a15bfe708.png)

[2022-06-01 10:55] NvTimLiu opened #7962 "XGBoost train reports error logs "RROR RabitTracker$TrackerProcessLogger""
Run XGBoost train on GPU with spark4j 2.0.0-SNAPSHOT jars, got blow "ERROR" logs, but still can SUCCESS to run the train.

These ERROR logs are confusing, shouldn't the train FAILED if there are so many `ERROR RabitTracker$TrackerProcessLogger:`?

Or could we change them as warnings/info if they are not errors?

`ERROR RabitTracker$TrackerProcessLogger: 2022-06-01 10:06:44,645 INFO [0]     train-l

[2022-06-01 11:21] hcho3 commented on #7961
You didn't run `make install` after `make -j$(nproc)`?

[2022-06-01 12:49] wdongdongde opened #7963 "predictions:[]"
when using 0.80 to load model  which is trained by 1.6.1 , it returns the prediction result:[], it is empty, but no errors report.

[2022-06-01 14:40] #7963 closed

[2022-06-01 15:42] phisanti commented on #7961
@hcho3 you are completely right. Now it's running perfectly. Sorry for the mistake. Thanks for the help!

[2022-06-02 02:41] hcho3 commented on #7961
Glad it worked!

[2022-06-02 02:41] #7961 closed

[2022-06-02 07:25] trivialfis opened #7969 "Flaky test for GPU gblinear."
[code]

https://xgboost-ci.net/blue/organizations/jenkins/xgboost-win64/detail/PR-7968/1/pipeline

[2022-06-02 16:40] negatratoron opened #7970 "When parsing JSON model with integer value in a number field, get "Invalid cast, from Integer to Number""
After fixing #7949 there's still one issue with JSON parsing after formatting.  I took a JSON model that I saved, and piped it through `jq`.  This had the effect of rewriting all numbers from exponential notation to decimal notation (e.g. `5E0` to `5`).  JSON doesn't distinguish between integers and decimals (https://www.json.org/json-en.html) so the reformatting is valid.

Expected behavior: `XGB

[2022-06-02 17:17] mengxr commented on #7578
On top of the code we open sourced, we will add back sparse data support. I guess we can add LTR as well, which should be straightforward.

[2022-06-03 03:07] trivialfis commented on #7970
That's expected. Please don't modify the JSON model in this way.  We support loading only models generated by XGBoost.

[2022-06-03 04:14] trivialfis commented on #7970
To elaborate on the issue, the JSON model has a couple of requirements like reproducible results for floating-point values, which can only be obtained with the encoder/decoder inside XGBoost. If one of them is changed then the floating-point serialization will no longer be exact.

[2022-06-03 14:54] mmccarty commented on #7927
@trivialfis Would you share the code that you used to compare the sha256sum?

[2022-06-03 15:44] negatratoron commented on #7970
All right, thanks for the information!

[2022-06-03 21:41] jakirkham commented on #7927
Possibly related ( https://github.com/dask/dask/issues/9135 )

[2022-06-04 00:00] #7970 closed

[2022-06-04 00:44] wbo4958 commented on #7578
@mengxr, Yeah, there is the only pythonic way. Please file the first PR. Thx

[2022-06-04 03:02] #7856 closed

[2022-06-04 04:00] shubhampal1 opened #7972 "num_class not found while using multi:softprob in XGBoost on GPU"
Hello,

I have been trying to use Xgboost on  GPU. I am able to do binary classification but the moment I specify number of clusters and use multi:softprob then I get an error " __init__() got an unexpected keyword argument 'num_class' " .

Let me know if there are some additional steps I need to take. I am using a data bricks notebook on GPU cluster.

[2022-06-04 09:21] candalfigomoro commented on #7578
@mengxr
Does the python-based implementation support `num_parallel_tree` to enable RandomForest-mode and boosted RFs? This is currently unsupported by the xgboost4j implementation (see https://github.com/dmlc/xgboost/issues/7535).

[2022-06-06 01:19] Bingohong commented on #5447
it works, thks.

cuda 11.4
windows 10

you must uninstall old xgb , then run the code

[2022-06-06 03:04] trivialfis commented on #7972
Could you please share the XGBoost version and a reproducible script?

[2022-06-06 03:10] trivialfis commented on #7927
@mmccarty I did a quick hack inside XGBoost to save the binary before constructing DMatrix (along with DMatrix itself). https://github.com/dmlc/xgboost/blob/1ced6381653eed0f259cf11df8ef599274d84174/python-package/xgboost/dask.py#L810

[2022-06-06 07:34] trivialfis opened #7976 "Enforce matching `max_bin` between Quantile DMatrix and training parameter."

[2022-06-06 12:18] #7873 closed

[2022-06-06 12:31] WeichenXu123 commented on #7578
Python based implementation internally calls the `xgboost.train` API, https://xgboost.readthedocs.io/en/stable/python/python_api.html#xgboost.train

So it can support it.
the python-based implementation allows setting all params supported by `xgboost.train` API

[2022-06-08 09:01] ar8372 commented on #6847
I am having exact same issue. 2 days back I had same issue and suddenly it was working, now the issue has started again. I don't know if there is any dependency issue.  I think it is not a memory issue because it is not working even for small dataset. However without gpu it is working. Did anyone solved this issue?  thanks.

[2022-06-09 09:36] abhishekukmeesho opened #7982 "XGBoost fails on multi node DASK CUDA cluster"
I'm trying to run XGBoost Classifier on a DASK CUDA cluster (2 GPU nodes with 4 GPUs each resulting in 8 workers) but it is failing with following error which is not intuitive. It is running fine if I use a single node LocalCudaCluster() (1 GPU node with 4 GPUs).

Please let me know what is the issue here.

XGBoost Version: `1.5.2`

Sample code:

[code]

Error:

[code]

Error from worker logs:

[c

[2022-06-09 10:07] trivialfis commented on #7982
Hi, could you please set the [NCCL_DEBUG](https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/env.html#nccl-debug) environment variable to `INFO` and share the log from workers?

[2022-06-09 10:15] #7962 closed

[2022-06-09 10:27] mayer79 commented on #7906
I suggest to keep `xgboost()` as it is and instead call the new function differently, e.g. `xgboost2()`, or use a slim method dispatch with `xgboost.formula()`. The former has the advantage to accompany it with a corresponding `predict2()` function. Otherwise, great work @david-cortes.

[2022-06-09 11:17] abhishekukmeesho commented on #7982
Worker log of machine 1 (Same machine/node as the scheduler):

[code]

Worker log of machine 2(Different machine/node as the scheduler):

[code]

[2022-06-09 14:10] kmate commented on #7706
Can't we simply cross-compile using an x86 linux box?

[2022-06-10 08:44] vitorglemos commented on #7941
I also had a similar problem in XGboost. In my case, the problem was caused by a bad format in one line of my data. Did you check if everything is ok?

[2022-06-10 09:52] yiwiz-sai opened #7983 "early_stopping_rounds can not work when train multilabel ?"
[code]

output:
[code]

seems early_stopping_rounds doesn't work

[2022-06-10 10:41] ooghry commented on #7941
@vitorglemos  All my column is numeric and I'm using `dtype` parameter with `read_csv` and applying `fillna`. Is there anything else I can think of?
Is it possible that this happened because of the type of columns I specified? (I have shared the code.)

You are welcome to dig into my [data](https://drive.google.com/file/d/1ZUIgAnDp3svGcfxYQDcr-iv0QGFZYwtP/view?usp=sharing)

[2022-06-10 11:21] vitorglemos commented on #7941
@ooghry[ooghry](https://github.com/ooghry) I just ran your code with your data. It ran normally but my xgboost version is different (1.2.0).  Did you test with this version?

[2022-06-10 14:40] diegolovison opened #7984 "Fit pd.DataFrame is 5x slower than fitting a ndarray"
Fit `pd.DataFrame` is 5x slower than fitting a `ndarray`

slow code
[code]
faster code
[code]

[code]

[2022-06-10 18:08] pallasathena92 commented on #7039
some data point, my unit test shows me:
[code]
so I install by brew install libomp, it install libomp--14.0.4, it get me "segmentation fault 11"
after ungrade 11.1.0, it works

[2022-06-13 03:32] nvliyuan opened #7986 "[JVM-packages] Training tasks schedule issue with multi-executors"
The training tasks will be scheduled to one executor and it will hang(can be reproduced in local standalone and dataproc, but cannot be reproduced in databricks).
Version:
spark3.1.2 standalone
xgboost4j-gpu_2.12-1.6.1.jar
xgboost4j-spark-gpu_2.12-1.6.1.jar
rapids-4-spark_2.12 2206snapshot
Config:
[code]
Example code:
https://github.com/nvliyuan/spark-rapids-examples/blob/v2206-release/examples/XG

[2022-06-13 06:07] nvliyuan commented on #7986
@wbo4958 file issue here

[2022-06-13 08:36] trivialfis commented on #7984
Could you please share the size of your data and its column types?

[2022-06-13 08:56] CarlaFernandez opened #7987 "Is it possible to predict contributions for an XGBoost4j model trained without contribPredictionCol?"
Hi guys,

I was wondering if, to be able to extract the contributions from an XGBoost4j model, it is a requirement that the model was trained with a contribPredictionCol (i.e. spark_pipeline.stages[-1].hasParam("contribPredictionCol") == True).

If it's not a requirement, how can I get the contributions from such a model?

Thanks

[2022-06-13 09:26] CarlaFernandez commented on #7987
Alright, I'm performing some tests and apparently I can assign a contribPredictionCol to an already-trained xgboost and then it will output the contributions even if we didn't set the param in train. That's awesome!!

I'm closing the question

[2022-06-13 09:30] trivialfis commented on #7982
Which net interface are you using?

[2022-06-13 09:31] trivialfis commented on #7926
Hi, please provide something that we can run and see the error? I'm confused by your comments. ;-)

[2022-06-13 10:20] olbapjose commented on #7155
Hi guys, do you have any updates on this? I am getting this error when I try to read a logged model from mlflow. I get the error when I try to run the line `loaded_model = mlflow.spark.load_model(run_path)`. I see XGBoost suddenly starts creating more and more jobs and eventually crashes.

[2022-06-13 11:38] abhishekukmeesho commented on #7982
Can you please let me know how do I find that info? If it helps, the machines are part of AWS EMR cluster. And I see logs like this: `Using eth0:172.31.3.13<0>`

[2022-06-13 13:02] diegolovison commented on #7984
All float numbers
12x16000

[2022-06-13 14:52] delaila-sys opened #7988 "ValueError: Found input variables with inconsistent numbers of samples: [741488, 317781]"
xgb_grid.fit(training_data,testing_data)
ValueError                                Traceback (most recent call last)
<ipython-input-32-74bb155fde81> in <module>
----> 1 xgb_grid.fit(training_data,testing_data)

~\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py in inner_f(*args, **kwargs)
     70                           FutureWarning)
     71         kwargs.update({k: ar

[2022-06-13 22:54] wbo4958 commented on #7155
@olbapjose, `loaded_model = mlflow.spark.load_model(run_path)` is the python code? so you were trying to load the model directly, and it crashed?

[2022-06-14 05:59] olbapjose commented on #7155
@wbo4958 Exactly, I was trying to load a trained ML pipeline that I had saved previously, where one of the stages is a Spark XGBoost classifier, and it crashes when it tries to load the XGBoost stage. The stack trace looks like the one pasted in the first message. I'm working in a Databricks notebook.

[2022-06-14 08:48] trivialfis commented on #7984
Yeah, that makes sense. We have to check pandas data type column by column: https://github.com/dmlc/xgboost/blob/bb47fd8c496ccd25e6499f722f0d9f2ee3965500/python-package/xgboost/data.py#L340

[2022-06-14 08:48] #7984 closed

[2022-06-14 08:48] trivialfis commented on #7984
For small and wide dataset, please just use numpy instead.

[2022-06-14 08:50] trivialfis commented on #7988
The error is raised from sklearn instead of XGBoost. Please check your input data for consistent X and y.

[2022-06-14 08:50] #7988 closed

[2022-06-14 12:43] rrpelgrim commented on #7454
@trivialfis - any update on this? I am still encountering this issue while running `xgboost 1.5.1`

[2022-06-14 12:54] rrpelgrim opened #7990 "AttributeError when fitting DaskXGBClassifier on scipy.sparse matrix"
I'm running into the same issue as this closed issue: https://github.com/dmlc/xgboost/issues/7454

I'm running:
XGBoost: 1.5.1
Dask/Distributed: 2022.05.0
Python: 3.9.10
MacOS (M1 machine)

Reproducer
[code]

[2022-06-14 18:56] CharlesEric-95 opened #7993 "plot_tree labels are reversed"
I believe the `plot_tree` function is reversing the label when displayed.

Here is my environment :
[code]

Below is a small script to show the reversed labels.
The script is building a simple model to predict the boolean : "Is is monday ?" and end up with a perfect model but the graph is reversed.

![image](https://user-images.githubusercontent.com/37554287/173666756-dd3173e4-1bd1-4812-9277-7c308

[2022-06-14 20:15] Dartya opened #7994 "XGBoostRegressor with GPU on the Spark+Rapids JDK8"
I am trying to implement an [example](https://www.nvidia.com/en-us/ai-data-science/spark-ebook/tutorial-gpu-accelerated-xgboost/ ) using Java JDK8.
The example says that when using the GPU, you must set the value of `featuresCols` using the `setFeaturesCols()` method.

`val xgbRegressor = new XGBoostRegressor(xgbParamFinal)
  .setLabelCol(labelName)
  .setFeaturesCols(featureNames)`

The problem i

[2022-06-14 20:34] yiwiz-sai commented on #7983
I don't think so, as you can see, I used  1000 n_estimators to train,  binary classification always stops early

[2022-06-14 21:14] ncclementi commented on #7990
@trivialfis I just tried this installing xgboost =1.6.1 from pip (conda version is not available https://github.com/conda-forge/xgboost-feedstock/issues/89) and things hang in the last step (it was in that state for a long time, it never stopped), see gif below.

![Screen Shot 2022-06-14 at 5 07 54 PM](https://user-images.githubusercontent.com/7526622/173689905-685ad8e4-d2f4-465b-b4b0-a695c95227b1

[2022-06-15 02:08] wbo4958 commented on #7155
@olbapjose Would you share the model with the zip format, then we can repro in databricks?

[2022-06-15 03:29] wbo4958 commented on #7986
@nvliyuan Could you provide driver and executor logs

[2022-06-15 03:34] nvliyuan commented on #7986
sure, send in private due to sensitive info such as IP in log

[2022-06-15 03:35] nvliyuan commented on #7986
sure, send in private due to sensitive info such as IP in log

[2022-06-15 07:40] trivialfis opened #7995 "[CI] Disable modin test for now."
Issue for tracking error raised from modin and ray along with latest pandas: https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-7960/5/pipeline/180/ .

[2022-06-15 07:52] trivialfis commented on #7990
Hi, XGBoost is training and it's not stuck. It's just the data is unusually wide and as the result the computation is slow. (especially the communication of histogram). For such small dataset I think it's better to use single node training.

[2022-06-15 07:55] trivialfis opened #7997 "Optimization for wide dataset."
A related comment by @ncclementi https://github.com/dmlc/xgboost/issues/7990#issuecomment-1155718911 . XGBoost's distributed training algorithm is inefficient when the dataset is wide as the size of the histogram is linear to the number of features.

[2022-06-15 07:55] trivialfis commented on #7990
Closing in favor of https://github.com/dmlc/xgboost/issues/7997 . Thank you for the comments.

[2022-06-15 07:55] #7990 closed

[2022-06-15 08:20] trivialfis commented on #7994
@wbo4958 Could you please take a look when time allows?

[2022-06-15 08:47] wbo4958 commented on #7994
Hi @Dartya, The [sample](https://www.nvidia.com/en-us/ai-data-science/spark-ebook/tutorial-gpu-accelerated-xgboost/) is a little bit old. Please use "setFeaturesCol" instead of "setFeaturesCols". and there is  a new sample from https://github.com/NVIDIA/spark-rapids-examples/blob/branch-22.06/examples/XGBoost-Examples/taxi/scala/src/com/nvidia/spark/examples/taxi/Main.scala, please check it out an

[2022-06-15 09:05] CharlesEric-95 commented on #7993
Hi,
Let me give more details

About the dataset :
|    | day   |   is it monday ? |   predictions |
|---:|:------|-----------------:|--------------:|
|  0 | 0:1   |                1 |             1 |
|  1 | 0:1   |                1 |             1 |
|  2 | 0:1   |                1 |             1 |
|  3 | 1:1   |                0 |             0 |
|  4 | 2:1   |                0 |             0 |

[2022-06-15 09:28] wbo4958 commented on #7986
Thx @nvliyuan,

The root cause is the number of Shuffle tasks is less than the num_worker, which means the shuffle task will run on part of nodes instead of all nodes. When spark tries to schedule the spark training tasks, the locality information will be the only "part of nodes" instead of all nodes, so the training task will be scheduled into part of nodes instead of all the nodes and cause this

[2022-06-15 10:01] ooghry commented on #7941
@vitorglemos Sorry for the delay. I run 200 trails of `gblinear` on version `1.2.0` with no error.
I will try again with `1.5.*` and `1.6.*` in the following days.

[2022-06-15 12:05] Dartya commented on #7994
@wbo4958 Hi!
I used the "setFeaturesCol" and got "java.util.NoSuchElementException: Failed to find a default value for featuresCols". I've specified the stacktrace in the first post.

[2022-06-15 13:50] wbo4958 commented on #7994
@Dartya Sorry for that,

Can you change

[code]

to

[code]

[2022-06-15 13:51] wbo4958 commented on #7994
there is no need to do the vectorization, you only need to specify the feature column names.

[2022-06-15 13:52] rrpelgrim commented on #7990
Thanks @trivialfis and @ncclementi. I had run `conda update xgboost` but clearly that wasn't pulling the latest version of xgboost.

[2022-06-15 21:31] ooghry commented on #7941
I just got the error after 40 trails on version `1.5.2`
[code]

[2022-06-15 23:41] wbo4958 commented on #7994
@Dartya, Could you share the spark configuration and which RAPIDS Acceleator was using? To be honest, I have not tested it with JAVA coding, but we can make it work with Scala coding without any issue. more details can be found at https://github.com/NVIDIA/spark-rapids-examples/tree/branch-22.06/examples/XGBoost-Examples

[2022-06-16 01:28] nvliyuan commented on #7986
@wbo4958 thanks for root cause, closed

[2022-06-16 01:28] #7986 closed

[2022-06-16 01:52] MandyShandy opened #7998 "I am new to python and i am trying to use XGBClassification from xgboost and I am getting this warning sign with errors."
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2022-06-16 02:26] dawilliams-nvidia opened #7999 "Dask XGboost Hanging"
Attempting to use the Bayesian Optimization package to run many iterations of Dask XGBoost. The issue is that dask workers will disconnect during the optimization process, usually within the first 10 iterations. The worker drops from the cluster, and then is re-added, but dask computation is not restarted and the python process just continuously hangs making no progress. This only occurs when laun

[2022-06-16 03:22] wbo4958 commented on #7994
Hi @Dartya, I just tried the java way, it still works.

First download the taxi dataset from [taxi dataset](https://github.com/NVIDIA/spark-rapids-examples/blob/branch-22.06/datasets/taxi-small.tar.gz) and de-compress to somewhere.

And then download the latest cudf and rapids jars from [here](https://repo1.maven.org/maven2/com/nvidia/rapids-4-spark_2.12/22.04.0/rapids-4-spark_2.12-22.04.0.jar) an

[2022-06-16 04:58] jakirkham commented on #7927
So poked around at the code above and cleaned up a bit. Here's [the notebook]( https://gist.github.com/jakirkham/a597ca5929679f6ccecdb1f03bab62f1 ). Rewrote the `reproducible_persist_per_worker` function.

Looking at the data as loaded by Dask it appears the same data is in each worker to start before going to XGBoost. Checked this by writing out the data after persisting and comparing that over s

[2022-06-16 13:43] chrism2671 opened #8000 "Gradient and Hessian functions in Customized Objective Function should have a +1"
https://xgboost.readthedocs.io/en/stable/tutorials/custom_metric_obj.html#customized-objective-function

I'm trying to understand the docs here, and I think the gradient and hessian functions defined might be missing `+1` inside all of the logarithms:

[code]

Let `predt=z`, derivatives should be:
![image](https://user-images.githubusercontent.com/456541/174082833-d454ff3a-8138-46ae-ad4b-8e924cc40

[2022-06-16 13:46] chrism2671 commented on #8000
Ooops, just realised I missed the log1p!

[2022-06-16 13:46] #8000 closed

[2022-06-16 16:50] trivialfis commented on #7454
@rrpelgrim Please update to the latest XGBoost 1.6.1

[2022-06-16 16:55] trivialfis commented on #7993
Seems like the model dump is reversed instead of the plot being reversed. Marked as a bug, will investigate tomorrow.

[2022-06-16 16:58] trivialfis commented on #7941
Hi, the error seems to be coming from sklearn data validation instead of XGBoost. Could you please verify your data?

[2022-06-16 17:50] polidore commented on #5869
I think the issue is the fact that XGBoost wants to use NCCL, and the NCCL version that is compiled with xgboost is too old to work with WSL2. I'm trying to build XGBoost python package without NCCL, and I think there are bugs with this CMake setup.

If you set the NCCL debug env variable, you get more info: `NCCL_DEBUG=INFO`:

[code]

I think if you have NCCL 2.10 and above, it might work.

[2022-06-16 20:08] #7995 closed

[2022-06-16 20:42] Dartya commented on #7994
Hi @wbo4958 !
I inform you that today I could not get the results - a lot of work. I'll get there tomorrow or this weekend. Thank you in advance for the example.
The data in CSV at the link you provided is the same as in the example from nVidia at the link https://github.com/rapidsai/spark-examples/blob/master/datasets/taxi-small.tar.gz.
I tried to use the parquet files and the configurations you

[2022-06-16 22:16] wbo4958 commented on #7994
@Dartya yeah, looks like you're using standalone mode. and then xgboost requires GPU scheduling configuration in both driver and worker.

### for worker

please get [getGpusResources.sh](https://github.com/apache/spark/blob/master/examples/src/main/scripts/getGpusResources.sh)

and in ${SPARK_HOME}/conf/spark-defaults.conf add below configuration

[code]

### for driver

please add below configura

[2022-06-16 22:37] ooghry commented on #7941
@trivialfis

I don't know if it's my language barrier or because I'm not an ML expert. Sorry, I have no idea what you ask.

[2022-06-17 03:07] wbo4958 opened #8002 "[Jvm packages] assemble the xgboost4j into xgboost4j-spark jar"
For xgboost4j-spark users, who need to specify two jars (xgboost4j.jar and xgboost4j-spark.jar) when they run the xgboost application, which is tedious. for example,

[code]

although the xgboost4j.jar is not only used in xgboost4j-spark, but looks like we can package xgboost4j into xgboost4j-spark.jar, then we don't need to specify two jars.

[2022-06-17 03:35] Jasonzjj opened #8003 "[JVM-packages] XGBoostModel training failed with Rabit returns with exit code 1"
### I encountered the following problems when using xgboost4j-spark 1.6.1 , spark 3.2.1 and scala 2.12，
Can someone help me out？

spark parameters:
    --conf spark.sql.shuffle.partitions=200 \
    --conf spark.executor.instances=8 \
    --conf spark.driver.memory=4g \

xgboost parameters:
"num_workers"->8,
"nthread"->1

error:
2022-06-17 06:10:10 [task-result-getter-0]  INFO [YarnClusterScheduler

[2022-06-17 07:42] trivialfis commented on #8003
Hi, could you please post the log from executors?

[2022-06-17 07:53] Jasonzjj commented on #8003
executors seems like running successfully。。

[2022-06-17 07:55] Jasonzjj commented on #8003
Executors seems like running successfully。

log：
2022-06-17 14:04:32 [dispatcher-Executor]  INFO [YarnCoarseGrainedExecutorBackend:57]: Got assigned task 92
2022-06-17 14:04:32 [Executor task launch worker for task 60.0 in stage 1.0 (TID 92)]  INFO [Executor:57]: Running task 60.0 in stage 1.0 (TID 92)
2022-06-17 14:04:33 [Executor task launch worker for task 60.0 in stage 1.0 (TID 92)]  INFO [Fil

[2022-06-17 08:00] Jasonzjj commented on #8003
train failed with local mode as well.

output log:
[15:50:46] [690]	train-rmse:0.00520688644065732

[15:50:46] [691]	train-rmse:0.00520692697203341

[15:50:46] [692]	train-rmse:0.00520696681770753

[15:50:46] [693]	train-rmse:0.00520700622236835

[15:50:46] [694]	train-rmse:0.00520704498998811

[15:50:46] [695]	train-rmse:0.00520708323702370

[15:50:47] [696]	train-rmse:0.00520712108582036

[15:50

[2022-06-17 08:06] Jasonzjj commented on #8003
executors log:
2022-06-17 14:04:32 [dispatcher-Executor]  INFO [YarnCoarseGrainedExecutorBackend:57]: Got assigned task 92
2022-06-17 14:04:32 [Executor task launch worker for task 60.0 in stage 1.0 (TID 92)]  INFO [Executor:57]: Running task 60.0 in stage 1.0 (TID 92)
2022-06-17 14:04:33 [Executor task launch worker for task 60.0 in stage 1.0 (TID 92)]  INFO [FileScanRDD:57]: Reading File path: /

[2022-06-17 08:21] Jasonzjj commented on #8003
Simplified code：
val xgbReg = new XGBoostRegressor(xgbParam).
            setFeaturesCol("features").
            setLabelCol("label")

            val xgbInput = spark.read.format("libsvm").load("adata")
            val xgbModel = xgbReg.fit(xgbInput)

            val results = xgbModel.transform(xgbInput)

            xgbModel.nativeBooster.saveModel(fs_out)

[2022-06-17 12:10] WeichenXu123 commented on #7578
I will create an initial PR for Python based implementation soon.
the whole prototype code is here: https://github.com/mengxr/pyspark-xgboost

[2022-06-17 12:27] ce-scibids commented on #7993
Thanks for your investigation.
Just wanted to say, I strongly believe it is the plot that is wrong since the model dump is consistent with the **predictions** results : when day = 0, model predicts 1.

[2022-06-17 13:08] trivialfis commented on #7993
Alright, I forgot the subtleties around specifying int and indicator in mapping.txt. The meaning of "yes" and "no" seems to be suggesting the answer to the query instead of the split condition of tree node. I will need to take a look into the R implementation as well.

[2022-06-17 13:19] sametsoekel opened #8004 "Building XGBoost from source takes forever"
I followed up the [official tutorial ](https://xgboost.readthedocs.io/en/latest/build.html#installing-r-package-with-gpu-support) to build XGboost from source with GPU support for R.

Followed this way;

[code]

It took about 5 seconds to run including the `cmake` code to get there. But  `make -j4` and later part takes ~**2 hours** to run.

I have no problem with it working after installed, works

[2022-06-17 16:45] xlla opened #8006 "failure to build on CUDA 10.1"
I want to build from source to enable cuda features but failure to build c_api.cu.o
branch : v1.6.1,
clang: 10.0
cuda: 10.1

error log here
<pre>
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include/c++/v1/memory:3654:7: error: exception specification of overriding function is more lax than base
      version
class __shared_ptr_emplace : public __shared_weak_c

[2022-06-17 17:12] trivialfis commented on #8006
The required CUDA version is 11.x for 1.6.1.

[2022-06-17 17:12] #8006 closed

[2022-06-17 17:16] trivialfis commented on #8004
You can try to match the number of cores used with the number of cores available on your machine by changing `-j4` to `-j$(nproc)`. Also, you can select the GPU arch by specifying the CMake argument https://github.com/dmlc/xgboost/blob/637e42a0c07741a95eb3dd7833126f27e9f87c8f/CMakeLists.txt#L54

[2022-06-17 17:16] #8004 closed

[2022-06-17 21:20] Dartya commented on #7994
Hi @wbo4958 !
In the current situation, it is difficult for me to run a Spark cluster locally, because I am using remote connection to my 2 PC with GPUs - I'm in another country now. Both PCs are running inder Windows 10 Pro. I am developing on one of the machines, running a Debian 11 virtual machine under WMWare Player (Spark master) and running Spark worker in a docker container on this machine.

[2022-06-18 14:04] sofiavlachou28 opened #8007 "TypeError: predict() missing 1 required positional argument: 'X'"
Hello to everyone!

I am new to Python and Iam getting this error when running XGBoost Ranker about a Ranking problem:

[code]

Μy dataset consists of 6 columns: [“label”,“id”,“comments”,“likes”,“product 1 frequency”,“product 2 frequency”] and 1222 rows.

Here is my code:
[code]

When I replace the Prediction code with the one below, it displays exactly the same error:

Prediction:
[code]
Can anyo

[2022-06-19 18:27] Dartya commented on #7994
I still tried to run 3.1.3 on a local cluster (3.2.1 does not run under Windows [stackoverflow](https://stackoverflow.com/questions/71075534/spark-shell-error-on-windows-illegal-character-in-path- at-index-32)).

I am getting error in stacktrace:
[code]

This is some kind of catastrophe and universal pain. Still, I will continue experiments with a standalone cluster on a virtual machine and docker

[2022-06-19 20:03] Dartya commented on #7994
I checked all the configs and dependencies again, removed the dependency that was not useful:
[code]

And after job started, I saw in the stacktrace the need for installed python.

I installed python and python3 in the executor and driver images. Made one attempt with the parquet files and your example, and two attempts with my example based on a scheme with CSV file column mappings in Double and

[2022-06-20 00:18] wbo4958 commented on #7994
@Dartya,

Please ignore "deserialization error:", that's print by RAPIDS accelerator. it means some Spark physical plans can't run on GPU. but for the xgboost case, the whole ETL pipeline will run on GPU, so don't worry about this.

And for the NCCL issue,

please add the below configuration and check the "stdout" log in executor side.

[code]

[2022-06-20 04:30] Dartya commented on #7994
I set spark.executorEnv.NCCL_DEBUG=INFO in the driver
[code]
, did not see the difference, so I stopped the executor and put it in conf/spark-env.sh. I also did not see a difference in the logs, I stopped the executor again and set it additionally in the conf/spark-env.sh.

Additionally, I made an NCCL_DEBUG environment variable in the executor's docker container.

I did not see any difference or

[2022-06-20 04:43] changhyeonnam commented on #1715
This works for me. Thanks!.

[2022-06-20 04:43] changhyeonnam commented on #1715
This works for my intel-Mac too!. Thanks alot!

[2022-06-20 04:51] Dartya commented on #7994
@wbo4958 I'm sorry. Out of habit, I looked at the stderr log, and did not pay attention to stdout. Here's his output:
[code]

[2022-06-20 06:19] wbo4958 commented on #7994
@Dartya Could you share all "stdout" of all executors?

[2022-06-20 06:36] trivialfis commented on #8007
`XGBRanker.predict` -> `model.predict(X_test)`

[2022-06-20 06:36] #8007 closed

[2022-06-20 06:42] wbo4958 commented on #7994
Below question is from NCCL teams,

[code]

[code]

[2022-06-20 07:26] Jasonzjj commented on #8003
@trivialfis could you please help me out thist problem?

[2022-06-20 08:25] Dartya commented on #7994
@wbo4958, I've only one executor and it's stdout contains only this stdout log.
[code]

I attached the full log of the stderr above.
For other questions, output of the executor docker container:
[code]

[2022-06-20 08:31] trivialfis commented on #8003
@wbo4958 Could you please take a look when you are available?

[2022-06-20 09:59] trivialfis opened #8009 "[CI] Fix CI errors."
- [x] GPU driver tests. https://github.com/dmlc/xgboost/pull/8008
- [x] Flaky test for regularized glinear. (https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-8008/1/pipeline/181/) https://github.com/dmlc/xgboost/pull/8010 https://github.com/dmlc/xgboost/pull/8013
- [x] R lintr test. (https://github.com/dmlc/xgboost/runs/6963081404?check_suite_focus=true) https://github.com/dmlc/

[2022-06-20 10:37] trivialfis opened #8012 "Address all lintr warnings."
https://github.com/dmlc/xgboost/runs/6965009976?check_suite_focus=true

[2022-06-20 14:11] sjeaugey commented on #7994
Thanks. I believe recent versions of NCCL would no longer fail and only perhaps print a warning in this case. The new code just ignore the topology detection when a NIC is virtual and attaches it to the first CPU.

[2022-06-21 01:24] xieyirmvb opened #8014 "got a problem when using custom loss function，loss did not update"
[code]
[0]	train-rmse:180.26208	train-custom_mse:64985.51865	test-rmse:171.99514	test-custom_mse:59162.27773
[1]	train-rmse:180.26208	train-custom_mse:64985.51865	test-rmse:171.99514	test-custom_mse:59162.27773
[2]	train-rmse:180.26208	train-custom_mse:64985.51865	test-rmse:171.99514	test-custom_mse:59162.27773
[3]	train-rmse:180.26208	train-custom_mse:64985.51865	test-rmse:171.99514	test-custom_m

[2022-06-21 03:48] wbo4958 commented on #7994
@trivialfis, would you help on this by upgrading the NCCL to the latest version?

[2022-06-21 05:51] wbo4958 commented on #7994
@Dartya, Could you watch on the CI https://github.com/dmlc/xgboost/pull/8015 and get the jars to test?

[2022-06-21 06:35] sjeaugey commented on #7994
Yes, sorry if that was unclear. Upgrading NCCL to 2.12 should hopefully fix the issue.

[2022-06-21 06:52] Dartya commented on #7994
@wbo4958 Of course. I already looked and saw only the dockerfile. Do you mean that I need to check my jars on the updated NCCL? Of course, I will check, and, as I said, if the scenario is successful, I am even ready to write an article for examples with a separate repository or a pull request.

I'll update the image of the executor and be back in a day.

[2022-06-21 07:08] wbo4958 commented on #7994
@Dartya, yeah, you can cherry-pick the patch and build the xgboost jar locally and test in your environment.

[2022-06-21 07:30] Dartya commented on #7994
@wbo4958  oh, I see. I be back to you with answer in a day.

[2022-06-21 08:36] wbo4958 opened #8016 "[JVM-packages] Executor crashes when running CrossValidator on XGBoost4j-spark-GPU"
When setting the task GPU to be fractional, the XGBoost CrossValidor job will fail with the failure that the executor crashes with SIGSEGV error.

After debugging with @trivialfis (credits to jiaming), it turned out the API `XGBoosterSetParam` is not thread-safe. Dring the phase of transforming, XGBoost will run several transforming tasks at a time, and each of them will set the "gpu_id" and "pred

[2022-06-21 09:34] #7994 closed

[2022-06-21 18:50] bridgream commented on #7690
Hi @trivialfis , may I ask how much CPU memory reduction this improvement would bring? I also would like to make some contribution if possible.

[2022-06-21 20:09] tesriram opened #8021 "Train() not using all gpus"
Hello. I am attempting to train a dataset for multiclass classification using 4 gpus. I set nworkers=4 when I create the cuda client and I believe this is working fine because all preprocessing (including creation of DaskQuantileDMatricises) uses all 4 GPUs. However when I call xgboost.dask.train and pass in the client, only 1 gpu is used. When I tried removing objective:softmax from Params, the m

[2022-06-22 00:02] wbo4958 commented on #7994
@Dartya, Looks like the xgboost jar is still using `NCCL version 2.8.3+cuda11.0` ? Have you compiled the xgboost jar by your self? XGBoost is using stack-link to nccl library, so you don't need to install it manually.

So please try to compile the newest jar from master branch.

[code]

Note that, please compile the xgboost in the machine with GPU installed.

[2022-06-22 08:06] trivialfis commented on #7690
@bridgream Not much for `approx` as the only place we can reduce memory usage is the histogram buffer. But for hist we can skip the `SparsePage`, which is a copy of user provided data stored in CSR https://github.com/dmlc/xgboost/issues/7890.

[2022-06-22 08:07] trivialfis commented on #8021
Could you please share a reproducible example?

[2022-06-22 08:31] honglianglv opened #8023 "xgboost"

[2022-06-22 08:52] #8023 closed

[2022-06-22 14:08] brunoguindani opened #8024 "`PkgResourcesDeprecationWarning` when importing library"
I'm using the latest XGBoost version (1.6.1). After upgrading to Ubuntu 22.04, when importing the library, I obtain the following warnings:
[code]
Python version is 3.10.4. Updating XGBoost via PIP has no effect. (In case this is relevant, my Numpy and Scipy versions are 1.21.5 and 1.8.0 respectively.)

[2022-06-22 14:25] Dartya commented on #7994
The three of us assembled the image on Windows: CTO, Java/DevOps teamlead, Java senior. Until we put an echo debug in the sh files and launched it under wsl2, the build did not go. 3 hours left.

Then maven package crashed when accessing symlinks
[code]
We renamed the files with symlinks and copied the directories, we are waiting for another 15 minutes.

Maybe you have public repo with snapshots?

[2022-06-22 16:06] Dartya commented on #7994
We've downloaded 3 latest jars which compiled today from snapshots maven repo https://s3-us-west-2.amazonaws.com/xgboost-maven-repo/list.html:
xgboost4j_2.12-2.0.0-SNAPSHOT.jar
xgboost4j-gpu_2.12-2.0.0-SNAPSHOT.jar
xgboost4j-spark-gpu_2.12-2.0.0-SNAPSHOT.jar

[code]

[2022-06-22 17:06] tesriram commented on #8021
Unfortunately I cannot post screenshots of the code. From what I understand, the important pieces of code are:
With localCUDACluster(nworkers=4) as cluster:
   With Client(cluster) as client:
       Main(client)

In Main:
*Read in dataset and perform data cleaning that gives datasets as cudf dataframes
Xy = xgboost.dask.DaskDeviceQuantileDMatrix(client, dask_cudf.from_cudf(xtrain, npartitions=-1),

[2022-06-22 17:14] trivialfis commented on #8021
I think the correct parameter for `LocalCUDACluster` is `n_workers` instead of `nworkers`.

[2022-06-22 17:25] tesriram commented on #8021
That was a typo. I do use n_workers and all 4 GPUs are being used up until the train function. I'm wondering if multi-gpu training is even supported for xgboost multiclass classification?

[2022-06-22 17:43] trivialfis commented on #8021
It's supported and I run it from time to time. That's why I need access to a reproducible example. I can't guess what's happening on your end.

[2022-06-22 18:28] tesriram commented on #8021
My work does not permit me to directly share code. The closest I can give is that I essentially copied the code from this git repo in demo/dask/gpu_training.py, but with n_workers = 4 and did not set threads_per_worker.
My two guesses here are:
1. The objective parameter set to multi:softmax/softprob does not allow multi gpu training (not sure if this is what you used)
2. The output we get from Da

[2022-06-22 18:50] trivialfis commented on #8021
I use both of them. My guess is that the data is not well balanced so some GPUs appear idle.

[2022-06-22 18:55] trivialfis commented on #8021
A little bit more context, XGBoost runs on the workers that own the data. So if the data is concentrated in one worker then XGBoost will launch a single task on that worker with all the other workers ignored.

[2022-06-22 23:51] wbo4958 commented on #7578
Close this issue, Since @WeichenXu123 has made the PR which based on the xgboost python package.

[2022-06-22 23:51] #7578 closed

[2022-06-23 01:47] wbo4958 commented on #7994
@Dartya, please delete xgboost4j_2.12-2.0.0-SNAPSHOT.jar and just use the two below jars and re-try
[code]

[2022-06-23 11:07] Dartya commented on #7994
Dear @wbo4958 !
Thank you very much for your invaluable help! Everything worked out for me, the driver is launched in the container, the job is launched in the spark executor in the container, the work is done on the GPU.

I want to put all this into an article with sample code and a repo, I will attach the link here, and if necessary, I can make a pull request to the repository with examples.

[2022-06-23 17:18] #8016 closed

[2022-06-23 22:20] tesriram commented on #8021
Ok turns out npartitions was 1 the whole time. I've changed it to npartitions = 4. However now I'm receiving a caught signal 7 (bus error: non existent physical address). In Main I have a line: client.run('set_allocator', 'managed') which I thought would manage all gpu memory for me. Any ideas as to why I'm still receiving this error and/or how I can fix it?

[2022-06-24 00:43] trivialfis commented on #8021
Haven't used `client.run('set_allocator', 'managed')` before, I don't think it's necessary. If you want to have a memory pool, you can take a look into using RMM: https://github.com/dmlc/xgboost/tree/master/demo/rmm_plugin

[2022-06-24 01:22] wbo4958 commented on #7994
@Dartya glad to see you have it worked. expecting your article and PR.

[2022-06-26 11:26] wbo4958 commented on #8002
Not an easy feature, just close this issue

[2022-06-26 11:26] #8002 closed

[2022-06-27 05:04] Shindora opened #8030 "Failed to training with xgboost conda"
/home/vi/baseline/lightgbm_xgboost.ipynb Cell 23' in <cell line: 2>()
      [1](vscode-notebook-cell://ssh-remote%2B44.232.224.181/home/vi/baseline/lightgbm_xgboost.ipynb#ch0000022vscode-remote?line=0) xg_clf = xgb.XGBClassifier()
----> [2](vscode-notebook-cell://ssh-remote%2B44.232.224.181/home/vi/baseline/lightgbm_xgboost.ipynb#ch0000022vscode-remote?line=1) xg_clf.fit(X_train,y_train)

File ~/m

[2022-06-27 07:41] wbo4958 commented on #8003
Sorry for late response, @Jasonzjj , Looks like driver sent the SHUTDOWN from the exeuctor log

[code]

Could you please double-check?

if the executor log is correct one, please fill the executor log with exceptions.

[2022-06-27 09:43] trivialfis commented on #8030
Could you please share the complete log and a reproducible example?

[2022-06-27 12:34] wowhhh opened #8033 "Poor performance of XGBRegressor for xgboost version >1.0.2"
### Describe the bug
Hi. I used **XGBRegressor** in my program but I noticed that its memory increased when adopting higher versions of xgboost.
As shown in the following experiment results, this model performs best if we use xgboost<=1.0.2.

My question is that why does such a library version perform better? Are there any issues in newer versions?

The detailed information is as follows:

Memory

[2022-06-28 09:10] yinzhedfs opened #8034 "Xgboost 1.6.x predict proba bug"
Hello, I found that the probability of prediction is different between the **Xgboost 1.6.x** sklearn interface and the native interface(**model.predict_proba** and **model._Booster.predict**), and the probability distribution is also very different.

![image](https://user-images.githubusercontent.com/7501580/176142931-a38b9b27-3a51-4a13-a940-94acd71d792a.png)

![image](https://user-images.githubus

[2022-06-28 09:22] trivialfis commented on #8034
Could you please provide a reproducible example?

[2022-06-28 09:25] trivialfis commented on #8033
max_depth=50 is too deep. In practice, we can't grow to this size as if the tree is dense then the number of nodes will exceed the size of `int32_t`. As for the memory usage, we started some optimization on CPU for better computation performance, which involves more caching and the use of double buffers, etc. These techniques cost memory usage.

[2022-06-28 09:28] trivialfis commented on #8034
An initial guess, are you using early stopping?

[2022-06-28 10:08] yinzhedfs commented on #8034
Yes, I used early stopping. But without using early stopping, the sklearn_proba and native_proba are equal. I'm wondering why.

[2022-06-28 10:11] trivialfis commented on #8034
Apologies for the confusion. Sklearn interface uses the result from early stopping automatically by specifying the `iteration_range` in the `predict` function, while the native interface always uses the full model, and users have to specify the parameter manually.

[2022-06-28 10:11] #8034 closed

[2022-06-28 10:27] yinzhedfs commented on #8034
Thanks, I tested the 0.90 version and also reproduced this problem. Will this problem be fixed and updated?

[2022-06-28 10:32] trivialfis opened #8035 "Standardize the bahaviour of prediction with early stopping."
There is confusion around whether the attribute `best_iteration` is used in prediction by default as suggested in https://github.com/dmlc/xgboost/issues/8034 . We should standardize the behavior across all interfaces including different language environments.

[2022-06-28 10:32] trivialfis commented on #8034
@yinzhedfs It's not exactly a problem. It's just the convention used in different interfaces, if we "fix" it by changing one of the interfaces to adopt the convention of the other one, it might be a very confusing breaking change. However, I agree that we should align the behavior across all interfaces: https://github.com/dmlc/xgboost/issues/8035 .

[2022-06-29 16:19] anatolec opened #8040 "Gunicorn preload flag not working with latest XGBoost version (post 1.6.0)"
We have an XGBoost model served via a Flask app on Heroku. This Flask app is launched using gunicorn.
We are using the `--preload` option of gunicorn in order to mutualize memory consumption of the several workers that are launched (4).

This setup was working well until the upgrade to version 1.6.0 when it stopped working. Now the predict function of our XGBClassifier hangs forever.

**Environmen

[2022-06-29 20:40] #8021 closed

[2022-06-29 20:40] tesriram commented on #8021
Creating new issue for this

[2022-06-30 07:32] VEZcoding opened #8041 "XGB on GPU"
Hey! I am writing because I am kind of confused about CPU and GPU.

I want to use XGB on GPU but it is somewhat a 300x slower than on CPU. I made two classifiers:
clf_XGB_gpu = xgb.XGBClassifier(n_estimators = 2000, predictor = 'gpu_predictor', tree_method = 'gpu_hist', gpu_id = 0, ntrheads = -1)
clf_XGB_cpu = xgb.XGBClassifier(n_estimators = 2500, use_label_encoder=False, n_jobs=-1)

I am using G

[2022-06-30 08:37] victpf opened #8042 "what kind of data are synced between master and workers when distributed training xgboost model"
I know the trees would be synced.
My question is that what is the content that are synced between master and worker when using Rabit to launch a distributed xgboost training task.
I can hardly find any reference

[2022-06-30 09:27] #8042 closed

[2022-06-30 09:38] trivialfis commented on #8041
Your dataset is probably too small. When we use GPU it usually means there are at least millions of samples. Otherwise the GPU might be starving.

[2022-06-30 09:47] VEZcoding commented on #8041
AH! Okay my data is 800x 5400 (at most), but I was told that GPU grid search would be a lot faster no matter the size of the data. I made it work somehow but I got the error "XGB not compiled with GPU support and I maybe solved this with https://github.com/conda-forge/xgboost-feedstock/issues/26 , but now it gives me AttributeError: 'XGBClassifier' object has no attribute 'gpu_id', which I don't k

[2022-06-30 11:37] VEZcoding commented on #8041
Hey I fixed the gpu_id error, it was a problem in conda enviroment, had to install it with pip package. Now I made it work with all my GPUs (every GPU is using around 400mb of memory, but its still super slow. I am kind of not getting how the amount of sample a bottle neck in the process. Isn't GPU perfect for GRID search? because you can use a lot of cuda (like 1000) processors for each combinati

[2022-06-30 12:09] andysw90 opened #8043 "xgb.DMatrix.save fails to save column/feature names"
Apologies if this is expected behaviour, but I can't find it documented anywhere.

Saving a DMatrix to file with `xgb.DMatrix.save` **using the R package** does not retain the feature names from the original matrix.

[code]

[2022-06-30 17:20] trivialfis commented on #8041
Unfortunately, that's not how it works.

The nvidia-smi might show that the GPU is being utilized but it's not.  Feel free to take a look into the code.

[2022-06-30 17:20] #8041 closed

[2022-07-03 17:29] ZhenxuanZhang-Jensen opened #8047 "Can't load model"
Hi experts,
 I try to load a model that I use joblib to save in different envs. I trained the model in a gpu machine, and I want to load the model which can use model.predict_proba in a laptop(no gpu).
[code]
[code]
and the error show:
[code]

[2022-07-03 17:31] ZhenxuanZhang-Jensen commented on #8047
ahh, BTW, the joblib version are all `1.1.0`， xgboost are `1.6.1`

[2022-07-04 08:53] trivialfis commented on #8047
Could you please use `model.save_model(model.json)` and `model.load_model(model.json)` instead?

[2022-07-05 15:40] rrpelgrim commented on #4949
I seem to be running into this old issue. When calling `pip install xgboost` the build is failing with:

[code]

I have tried specifying specific versions (`1.6.1`, `1.6.0`, `1.5.0`) but those throw the same error.

[2022-07-06 01:51] yvonne-by opened #8053 "Official xgboost4j-spark API for Python and R"
Just to double-check, is there an existed official xgboost4j-spark API that is still active and stable and can be used in Python (PySpark) and R environments? I know that there are two PRs https://github.com/dmlc/xgboost/pull/4656 and https://github.com/dmlc/xgboost/pull/5658 introduced how to make XGBoost support PySpark. I also noticed that https://github.com/dmlc/xgboost/pull/8020 initialize th

[2022-07-06 01:58] hcho3 commented on #8053
PySpark integration is still work in progress. You should watch #8020 for an initial version.

[2022-07-06 01:58] #8053 closed

[2022-07-06 10:07] UkranianAndreii commented on #6408
Hi everybody, is there currently a way to implement using XGBoost on Apple Silicon?

[2022-07-06 11:48] trivialfis opened #8054 "Apple Silicon Compatibility"
An issue tracking compatibility with Apple silicon. Continuation of https://github.com/dmlc/xgboost/issues/6408 .

## Background

XGBoost works fine on Apple Silicon and there's no need for any special modification. The issue is pre-built binary package uses x86-specific instructions like cache prefetch. So if you are willing to build XGBoost from the source then everything **works** as usual. Thi

[2022-07-06 11:50] trivialfis commented on #6408
Closing in favor of https://github.com/dmlc/xgboost/issues/8054 .

[2022-07-06 11:51] trivialfis commented on #8047
Feel free to reopen if there's further questions.

[2022-07-06 11:51] #8047 closed

[2022-07-06 11:53] trivialfis commented on #8033
Closing in favor of https://github.com/dmlc/xgboost/issues/7690 .

[2022-07-06 11:53] #8033 closed

[2022-07-06 21:21] trivialfis commented on #8030
Closing due to lack of response.

[2022-07-06 21:21] #8030 closed

[2022-07-06 21:22] #8009 closed

[2022-07-08 02:30] fallbernana123456 opened #8056 "metric/auc.cc BinaryPRAUC error"
In file included from amalgamation/xgboost-all0.cc:17:0:
amalgamation/../src/metric/auc.cc: In function ‘std::tuple<double, double, double> xgboost::metric::BinaryPRAUC(xgboost::common::Span<const float, 18446744073709551615ul>, xgboost::linalg::VectorView<const float>, xgboost::common::OptionalWeights)’:
amalgamation/../src/metric/auc.cc:200:64: error: converting to ‘std::tuple<double, double, do

[2022-07-08 03:31] trivialfis commented on #8056
Hi, do you have access to a newer version of gcc? On our CI GCC 8.4.0 is used.

[2022-07-08 05:19] kings-shah commented on #4700
model=None
params={'learning_rate': 0.007,
        'tree_method': 'exact',
           'refresh_leaf': True,
            #'reg_lambda': 3,  # L2
            'reg_alpha': 3,  # L1
            'silent': False}
for (i,j) in zip(X_train_list,y_train_list):
    dtrain=xgb.DMatrix(i,j)
    model=xgb.train(params, dtrain, num_boost_round=10, evals=(), obj=None, feval=None, maximize=False, early_stopping_r

[2022-07-08 05:56] fallbernana123456 commented on #8056
I try gcc 12.1.0, The error no longer appears，  but  cannot stat ‘/opt/software/AnyQ-master/build/third_party/xgboost/src/xgboost/lib/*’: No such file or directory
 I try gcc 8.4.0

[2022-07-08 13:11] trivialfis commented on #8056
I don't know what's the software environment on your machine. Could you please post the complete log?

[2022-07-08 21:57] #8043 closed

[2022-07-08 21:59] phunterlau opened #8058 "Enable two-factor authentication on PyPI release pipeline"
Recently `PyPI` starts to require two-factor authentication for certain `critical` projects for security reasons and `xgboost` is one of them.  Besides feeling glad on the impact of many projects, I am wondering if this two-factor authentication can be incorporated in the `PyPI` release pipeline as early. `PyPI` has provided hardware security keys http://pypi.org/security-key-giveaway/  but we nee

[2022-07-09 11:31] trivialfis commented on #8058
Thank you for the notice. I'm not in the eligible regions for USB key but I have enabled 2FO on my account using software solution.  @hcho3 @RAMitchell you might need to enable this as well in case I'm not around for submitting pypi packages.

@phunterlau Could you please share the pypi test account with us?

[2022-07-11 02:32] fallbernana123456 commented on #8056
git submodule update --recursive
cd dmlc-core ;  make;
libdmlc.a  is fail
cd dmlc-core ; mkdir build ; cd build ; cmake .. ;make -j4
libdmlc.a  is ok
cd rabit ;make
rabit/lib/librabit.so is fail
git clone https://github.com/dmlc/rabit.git
cd rabit ;make
rabit/lib/librabit.so is ok

[2022-07-11 02:48] #8056 closed

[2022-07-11 02:50] fallbernana123456 commented on #8056
log had delete.
later i will try on  gcc 12.1.0  and post the log to you

[2022-07-11 15:43] hcho3 commented on #8058
I am using Authy to enable 2FA on my myPI account.

[2022-07-11 18:35] trivialfis commented on #6189
With the latest XGBoost + CUDA 11.6, most of the warnings are addressed.

[2022-07-11 18:35] #6189 closed

[2022-07-11 21:00] phunterlau commented on #8058
The `PyPI` maintainer list shows @hcho3 has enabled 2FA and the release pipeline seems fine. I think we can close this issue for now. Please let me know if any problems. Thanks.

[2022-07-11 21:00] #8058 closed

[2022-07-11 22:40] trivialfis commented on #8058
@phunterlau Thank you for checking the current status.  @hcho3 and I help maintain the pypi package during release and it would be great to have access to the test account https://test.pypi.org/project/xgboost/ . Can we chat offline about the current status of that account when you are available? You can reach me by email jm.yuan@outlook.com

[2022-07-12 05:14] phunterlau commented on #8058
@trivialfis Sounds good. I just sent the Test PyPI invitation to your `PyPI` . @hcho3 's PyPI email was not verified so I can't send now.

[2022-07-12 09:07] WeichenXu123 opened #8062 "Question: When python API `xgboost.DMatrix` `data` argument is a libsvm file path, how to specify the number of features ?"
Question: When DMatrix data argument is a libsvm file path, how to specify the number of features ?
Thank you.

[2022-07-12 09:08] WeichenXu123 commented on #8062
CC @trivialfis Thanks!

[2022-07-12 09:41] WeichenXu123 commented on #8062
Do we need to set `num_feature` param additionally in this case ?

[2022-07-12 13:40] tristers-at-square opened #8063 "Performance Degradation When Upgrading to v1.60"
I recently tried updating from 0.90 to 1.60. However, my distributed training job (using the approx method) is ~8 times slower now. On version 0.90, each boosting round took about 25 seconds. On version 1.6, each boosting round is now taking around 3 minutes.

My dataset has ~5000 features and 500K rows. The exact same parameters and exact same data are being used in my training runs for both vers

[2022-07-12 15:23] trivialfis commented on #8063
Hi, thank you for raising the issue. From your code snippet, it seems you are not using distributed training?

[2022-07-12 15:29] tristers-at-square commented on #8063
Using Rabit to do distributed training on AWS SageMaker as shown here in their official example:

https://sagemaker-examples.readthedocs.io/en/latest/introduction_to_amazon_algorithms/xgboost_abalone/xgboost_abalone_dist_script_mode.html#Create-an-XGBoost-training-script

[2022-07-12 15:39] tristers-at-square commented on #8063
From the logging output:

<img width="482" alt="Screen Shot 2022-07-12 at 5 38 39 PM" src="https://user-images.githubusercontent.com/82467782/178531763-c2e6cdc7-eab3-4959-b120-de012cbd77de.png">

[2022-07-13 00:33] WeichenXu123 commented on #8062
@trivialfis

This might cause issue when the end features values in all rows are zero.
and suppose we split the training worker into multiple parts in distributed training, then each part DMatrix might infer different num_feature .

[2022-07-13 01:50] trivialfis commented on #8062
Let's not use the file parser if possible. Since we are integrating with data processing libraries and frameworks like pyspark, I think eventually XGBoost will remove the parser entirely and focus on machine learning instead. (others might disagree, but I think the parser is really out of scope for XGBoost).

[2022-07-13 02:43] WeichenXu123 commented on #8062
@trivialfis

OK.
How to use the DMatrix iteration input API without the file parser ？

[2022-07-13 02:55] trivialfis commented on #8062
Maybe this demo can help: https://github.com/dmlc/xgboost/blob/0bdaca25cae7ef8e12c85f032dea7ec4f0269552/demo/guide-python/external_memory.py#L37

I will work on the data input after the initial pyspark PR. Could you please wait for a bit while for the external memory support? (or I can work on it).

[2022-07-13 04:34] WeichenXu123 commented on #8062
Appreciate your help on data iterator / external memory support !

But according to the demo, https://github.com/dmlc/xgboost/blob/0bdaca25cae7ef8e12c85f032dea7ec4f0269552/demo/guide-python/external_memory.py#L37
It still requires file (libsvm or csv format ) as input ?

[2022-07-13 05:14] trivialfis commented on #8062
You can define the iterator however you like, just return the batches in the `next` function, whether the batch is loaded from a file or fetched from a remote cluster is orthogonal to XGBoost.

[2022-07-13 08:55] WeichenXu123 commented on #8062
Understood. Thank you.

[2022-07-13 10:07] reseal commented on #5488
@hcho3 @trivialfis what is the latest on the possibility of doing this? Multi-output regression is supported since v1.6. To use a custom objective, will it be as simple as having the custom objective function output 2d and 3d-tensors for the gradient and hessian, respectively?

[2022-07-14 00:23] trivialfis commented on #8063
Thank you for running these experiments. It's probably due to the number of features. The approx was recently rewritten, the new version might be less efficient for wide dataset: https://github.com/dmlc/xgboost/pull/7214#issuecomment-990848637 . Also, the parameter `sketch_eps` is replaced by `max_bin` for aligning with `hist`, the old default for `max_bin` translated from `sketch_eps` was around

[2022-07-14 00:47] #8062 closed

[2022-07-14 15:42] olbapjose opened #8074 "[XGBoost4j-Spark] Loading model gives XGBoostError: basic_string::resize"
I have trained a Spark ML pipeline (Spark 3) on Databricks with XGBoost-Spark version 1.5.2, where the last stage is a Spark XGBoostClassifierModel with "multi:softmax" output. The model has been logged to MLflow but I cannot load it back due to a failure in loading the last stage. I have tried loading it in my notebook directly from DBFS as well (no MLflow involved) and I get exactly the same err

[2022-07-14 17:46] anmolsinghal28 opened #8075 "Scores mismatch in multiple runs"
I am using a pipeline based on xgboost4j- spark 0.90 version with spark 2.4.1 and trying to train a classification model. With the same data and same parameter config along with a seed value as well i am getting slightly deviating results for each run that i do. Is this the expected behaviour?

[2022-07-15 08:11] is03wlei opened #8081 "gain is inconsistent with leaf and cover in python dumped model"
I used below line in python to dump model.
booster.dump_model(args.output_path + "/xgb_model.json", dump_format="json", with_stats=True)

I tried to restore weights for internal nodes. But I found gain in dumped model is not consistent with result calculated from below formula.
https://xgboost.readthedocs.io/en/stable/tutorials/model.html
<img width="820" alt="image" src="https://user-images.githu

[2022-07-15 13:30] WeichenXu123 opened #8083 "Apply dmatrix iteration iterface in PySpark xgboost and support external memory mode"
Apply dmatrix iteration iterface in PySpark xgboost and support external memory mode.

[2022-07-15 13:31] WeichenXu123 commented on #8083
@trivialfis When will you create first PR "Apply dmatrix iteration iterface in PySpark xgboost " ? If you are busy, I can help to create PR. Thank you.

[2022-07-17 01:44] #5177 closed

[2022-07-17 01:45] trivialfis commented on #3370
Closing as the initial support is merged. Thank you to everyone who has participated in the discussion!

[2022-07-17 01:45] #3370 closed

[2022-07-17 03:20] trivialfis opened #8087 "[py-skl] Move feature_weights to constructor."
Similar to feature types, we should move anything that's not strictly related to data to the constructor for the scikit-learn interface. Also, it will fix the pyspark interface:

[code]

[2022-07-17 04:43] trivialfis commented on #6496
The only module that's lacking the support for mypy is the pyspark interface now.

[2022-07-17 06:06] trivialfis commented on #8083
@WeichenXu123 Thank you for the work. Feel free to continue the work on external memory. I just didn't want to have too many conflicts between the implementation of ext memory and the quantile dmatrix. (See the WIP iterator in https://github.com/dmlc/xgboost/pull/8088 ).

[2022-07-17 10:55] kishoremarodia opened #8089 "ERROR DURING PREDICTION - Invalid missing value: null"
**Command**: y_pred = regressor.predict(df_Test)

**Output**:
XGBoostError                              Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_26796/2506740906.py in <module>
----> 1 y_pred = regressor.predict(df_Test)
      2 sns.heatmap(df_Test.isnull(),yticklabels=False,cbar=False)

C:\ProgramData\Miniconda3\lib\site-packages\xgboost\sklearn.py in predict(self, X, outp

[2022-07-17 17:08] SiminTan commented on #7941
I got the same error using xgboost+optuna.
But using lightgbm+optuna successfully completed the parameter tuning task for same dataset.

[2022-07-17 17:47] SiminTan commented on #7941
I have solved my problem and I hope my answer is not too late.
The cause of the problem was the combination of parameters in xgboost. I had the following list of parameters, and the problem arose when I gradually set the parameter value of subsample to 1.

def objective(trial):
    # dmatrix
    dtrain=xgb.DMatrix(X_fit,y_fit)
    dvalid=xgb.DMatrix(X_val,y_val)
    # params
    params = {
    'bo

[2022-07-17 18:16] CSU-Tan commented on #7941
I have solved my problem and I hope my answer is not too late.
The cause of the problem was the combination of parameters in xgboost. I had the following list of parameters, and the problem arose when I gradually set the parameter value of subsample to 1.

def objective(trial):
# dmatrix
dtrain=xgb.DMatrix(X_fit,y_fit)
dvalid=xgb.DMatrix(X_val,y_val)
# params
params = {
'booster': 'gbtree',
'metri

[2022-07-17 19:34] jameslamb opened #8090 "[python] 'setup.py install' is deprecated"
## Description

XGBoost's Python package relies on subclassing some of the commands from `setuptools`, with XGBoost-specific logic to build a shared library.

https://github.com/dmlc/xgboost/blob/e28f6f66577eb31451e5d3fbf4be0a21626f7372/python-package/setup.py#L343-L348

This approach, and specifically support for invocations like `python setup.py install`, is considered deprecated in `setuptools`

[2022-07-18 02:24] WeichenXu123 commented on #8083
@trivialfis To reduce conflicts, I would like to wait https://github.com/dmlc/xgboost/pull/8088 merged first. :)

[2022-07-18 08:15] olbapjose commented on #7155
@wbo4958 I suspect it is closely related to #8074 , where I have uploaded the trained model I am trying to read. That issue arises both in a Databricks notebook and when using databricks-connect.

[2022-07-19 04:58] trivialfis commented on #8090
Thank you for raising the issue!  Let me take a closer look into scikit-build.

[2022-07-19 05:00] trivialfis commented on #8089
Hi, could you please share what is the value of `regressor.missing`?

[2022-07-19 05:01] trivialfis commented on #8075
Please upgrade to the latest XGBoost. If the issue persists with the latest version please share a reproducible example. Thank you!

[2022-07-19 05:01] #8075 closed

[2022-07-19 05:11] jameslamb commented on #8090
I just got back from SciPy 2022 and there was a lot of excitement about it there. This proposal just received a grant: https://iscinumpy.gitlab.io/post/scikit-build-proposal/.

Anyway yeah, happy to help! If we make any progress on it over in LightGBM updates will be posted at https://github.com/microsoft/LightGBM/issues/5061.

As for the urgency of this...I believe that this PEP 632 being accepte

[2022-07-19 06:58] is03wlei commented on #8081
The root cause is leaf_value=leaf_weight*learning_rate, previously I used leaf_value as leaf_weight to check consistence. In my case, learning_rate is 0.1, so the final gain diffs by 100 times.

[2022-07-19 08:28] Luka3K commented on #6631
Have you resolved this problem? I meet the same one and have done a lot of search while still find nothing to fix it.

[2022-07-19 08:28] Niclouge commented on #7761
@zhnnix
Does this solution work under linux? I didn't find the hook-xgboost.py file, which directory is this file in?
I've been stuck with this problem for days
Thank you so much!

[2022-07-19 08:41] zhnnix commented on #7761
@Niclouge
Yes, it could work under linux.

This hook-xgboost.py file needs to be added manually. Just like [pyinstaller/pyinstaller@a11e826](https://github.com/pyinstaller/pyinstaller/commit/a11e82681b697b36b2690ffa8365acd130b8885d).

This is a temporary solution, but it can be solved immediately.

[2022-07-19 09:11] Niclouge commented on #7761
It really works! Super thanks !!!!!

[2022-07-19 09:38] ooghry opened #8095 "Exception in gpu_hist: Check failed: n_nodes != 0 (0 vs. 0)"
I'm trying `XGBoost 1.6.1` on GPU with `optuna 2.10.1` but I got:
[code]

[code]

Are my parameters raising the `Check failed: n_nodes != 0 (0 vs. 0)` or other things?

[2022-07-20 04:28] #8095 closed

[2022-07-20 10:46] trivialfis commented on #8089
@kishoremarodia Please use `np.nan` instead of null for missing values (in data and for parameter).

[2022-07-20 11:26] kishoremarodia commented on #8089
In my training and testing data, there are 0 nulls, all were taken care as part of data cleansing. I used RANDOMSEARCHCV to come up with best parameters and then used that to FIT the model. But when m using the model to predict values from test data, coming up with this issue

[2022-07-20 21:16] olbapjose commented on #8074
Excuse me, any updates on this? Thanks

[2022-07-21 11:06] ooghry commented on #7941
@CSU-Tan Thank you for your reply.
I do not have access to the server from which the error occurred, and currently I do not have a problem on Google Colab, so I close the issue.

[2022-07-21 11:06] #7941 closed

[2022-07-22 08:38] jinmfeng001 opened #8105 "Add monotone_constraints parameters in spark api"
I'm trying the monotone_constraints parameter in XGBoost Spark, but I found this parameter is missing in Spark API. Can you please help add this parameter?

[2022-07-22 08:42] CarlaFernandez opened #8106 "[Bug] Wrong feature contributions and probabilities for multiclass model in XGBoost4j Scala Spark"
### Problem
I'm building a simple multiclass classification model on the Iris dataset and trying to predict feature contributions (i.e. obtain SHAP values).

In a binary classification problem, this works correctly and provides an array of `n` values for the `n` features of the model. However, in this multiclass example I'm obtaining the following contributions:
![image](https://user-images.github

[2022-07-22 11:15] WeichenXu123 opened #8108 "Xgboost pyspark: Support pyspark Sparse Vector"
Xgboost pyspark: Support pyspark Sparse Vector

[2022-07-22 11:16] WeichenXu123 opened #8109 "Xgboost pyspark: Support external memory mode"
Xgboost pyspark: Support external memory mode

[2022-07-22 11:19] WeichenXu123 commented on #8108
@trivialfis

@xiangrui hope xgboost 2.0 can support this on databricks.
The feature requires a `unwrap_udt` API which now only available on databricks.
Can we add this feature now ? I will checking whether it is on databricks environment and if yes  then imports the databricks-specific `unwrap_udt` function.

Btw, when apache/spark 3.4 comes out, `unwrap_udt` API will be added and then apache/spar

[2022-07-22 11:47] WeichenXu123 opened #8110 "Xgboost spark: Support XGBRanker"
Xgboost spark: Support XGBRanker

[2022-07-22 11:47] WeichenXu123 commented on #8110
@trivialfis @wbo4958 Do you have time to add this feature ? :)

[2022-07-22 14:57] thomasaarholt opened #8111 "Documentation for creating DMatrix from Apache Arrow"
Following #7512 it would be great to see some documentation on Apache Arrow usage in DMatrix. I had to look at [the tests](https://github.com/dmlc/xgboost/blob/master/tests/python/test_with_arrow.py) to figure out how to use it with python, but I'm not sure about what limitations there are.

For instance, I discovered that categorical types are not yet supported. Are there other disadvantages? The

[2022-07-22 14:58] thomasaarholt opened #8112 "Missing support for categorical features when basing DMatrix on Apache Arrow"
Support for categorical features is currently missing for DMatrices built on the apache arrow arrays/tables. It would be a nice benefit to take advantage of.

[2022-07-22 15:20] thomasaarholt commented on #8111
I also noticed that pyarrow 8.x is not supported. One has to use 7.0.0 in order to avoid
[code]

[2022-07-22 16:58] jturner116 opened #8113 "Learning Rate returns to default when loading model"
In XGBoost 1.6.1:

I have trained a very normal XGBClassifier here:
![image](https://user-images.githubusercontent.com/59941858/180487661-d9527a5e-9052-48e3-b73f-f57f274dec6b.png)

I have saved the model with .save_model. When loading the model, the learning rate has changed back to default even though the other hyperparameters stay the same.
![image](https://user-images.githubusercontent.com/5994

[2022-07-23 06:06] kishoremarodia commented on #8089
Issue resolved after using np.nan in HYPERPARAMETER. Somehow i made nan as None. Thanks for help.

[2022-07-23 06:06] #8089 closed

[2022-07-23 06:06] kishoremarodia commented on #8089
Issue resolved after using np.nan in HYPERPARAMETER. Somehow i made nan as None. Thanks for help.

[2022-07-23 16:53] polidore commented on #5869
I was able to build xgboost python package with cuda 11.4 and nccl 2.12, and it now uses my GPU in WSL.  It would be great for the official xgboost python package to use nccl 2.12 so this is easier for everyone!

[2022-07-25 15:12] trivialfis commented on #8113
Thank you for raising the issue. I will try to reproduce it.

[2022-07-25 18:41] mayer79 opened #8115 "How is SHAP bias calculated?"
I played a bit with SHAP regarding different objectives.
- MSE
- Huber
- Gamma

In all three cases, the (raw) predictions match the sum of the feature contributions plus the BIAS term.

How is the latter being calculated? Only with objective MSE, it equals the average (raw) prediction. Is it some "boost from average" average?

[code]

[2022-07-25 18:48] mayer79 commented on #8115
In https://github.com/dmlc/xgboost/blob/master/src/predictor/cpu_predictor.cc, indeed, the base score is added. This makes sure that the sum of all SHAP contributions plus Bias equals the raw prediction.

[2022-07-25 18:48] #8115 closed

[2022-07-26 05:46] trivialfis commented on #8113
Hi, I can't reproduce the issue:

[code]
Could you please share a reproducible example that I can run?

[2022-07-26 05:56] trivialfis commented on #8106
@wbo4958 Could you please help take a look when you are available?

[2022-07-26 08:05] WeichenXu123 commented on #8112
Does setting "feature_types" param addressing your issue ?

[2022-07-26 10:33] WeichenXu123 commented on #8108
@trivialfis

What do you think ?

[2022-07-26 13:22] jturner116 commented on #8113
`from sklearn.datasets import make_classification
from xgboost import XGBClassifier

X, y = make_classification(random_state=0)
clf = XGBClassifier(eta=0.79)
clf.fit(X, y)
print(clf)

clf.save_model("model")

clf = XGBClassifier()
clf.load_model("model")
print(clf)`

You are quite right, I should have made more clear that the issue seems connected to eta. This should produce the odd behavior. The

[2022-07-26 18:50] ckgresla commented on #1715
Uninstalling and Reinstalling `intel-openmp` within the Conda Env solved the issue on my Intel Based MacBook

[2022-07-26 19:21] trivialfis commented on #8108
https://github.com/dmlc/xgboost/issues/8108#issuecomment-1192705836 sounds good

[2022-07-27 00:34] josiahkhor commented on #8040
@AnatolePledg do you get the hanging forever if you test with `-w 1`? Or if using an `inplace_predict` instead?

I've started experiencing a similar hanging with XGBClassifier after upgrading to 1.6.1 (but I was running inside a worker process in Heroku), but my predict calls are inside a `multiprocessing.Pool` which I think is now surfacing known issues with threading/workers and predict:

https:

[2022-07-27 04:28] trivialfis commented on #8111
That error is fixed in the latest branch but we haven't made a release for it yet. Apologies for the inconvenience.

As for categorical data, it's experimental. We are still working on it for better coverage. I will update the document to reflect the support status.

[2022-07-27 04:36] trivialfis commented on #8113
Hi, please use `learning_rate` for the sklearn interface. `learning_rate` is defined at the constructor so that sklearn base estimator can inspect the parameters and do its magic, while the alias `eta` is not defined there (`eta` is exactly the same as `learning_rate`, remained here for historical reasons).

[2022-07-27 07:06] wbo4958 commented on #8106
Thx, I will check it.

[2022-07-27 07:34] #8081 closed

[2022-07-27 07:47] wbo4958 commented on #8106
@CarlaFernandez  can you change your code

[code]

to

[code]

[2022-07-27 07:51] wbo4958 commented on #8106
I locally run and got below result,

[code]

The len of contrib column is `15 = (num_features + 1) * num_output_group`

I think there is a margin or base core in the contribution for each output, @trivialfis please correct me. BTW, why some values are quite the same for different instances, @trivialfis may give some explanation?

[2022-07-27 07:57] wbo4958 commented on #8106
Oh, BTW, you didn't specify num_round in the parameter, which will result in only 1 tree.

[2022-07-27 07:58] AnatolePledg commented on #8040
Hi @josiahkhor,
`-w 1` and `inplace_predict` do not fix the problem. It still hangs forever. It's really the activation of  the`--preload` option that causes the issue.

[2022-07-27 13:00] #8113 closed

[2022-07-27 13:41] jorislimonier opened #8119 "Why use GraphViz rather than a pip-installable library?"
Why use GraphViz rather than a pip-installable library?

The company I work for uses a firewall, which makes installing Graphviz quite a hustle. I need to contact the helpdesk, ask for admin validation in order to install [GraphViz](https://graphviz.org/).

It is my understanding that GraphViz is an external software, that is not installable with pip, but I would be happy to be corrected on that.

[2022-07-27 15:40] ZiyueXu77 opened #8120 "Prediction with individual trees under random forest mode"
I am testing the random forest mode (num_parallel_tree > 1) and trying to figure out how exactly the voting part works. But there seems to be some issue with my code in extracting individual trees and doing inference with them.
The issue being:
With the suggested "slice: xgb.Booster = bst[tree_num]", I am not able to get a single tree from the forest, because in this case, the index correspond to

[2022-07-27 19:24] ZiyueXu77 opened #8121 "Append parallel trees trained separately to existing model"
I wonder if there is a mechanism to "append" several trees in a parallel/bagging manner to an existing model:
- The starting point will be a boosted bagging (num_parallel_trees = k > 0) model
- New k trees will be boosted in parallel and individually on k (fixed) data subsets based on the prediction of the starting model following this: https://xgboost.readthedocs.io/en/latest/python/examples/boos

[2022-07-27 20:07] hcho3 commented on #8119
Do you have a recommendation for an alternative? Feel free to submit a pull request to use another software for the visualization.

[2022-07-27 20:11] hcho3 commented on #8119
@jorislimonier Does your company allow the use of Conda? You can install Graphviz easily with
[code]

[2022-07-27 22:10] negatratoron opened #8122 "Is there a reason why libxgboost.a is output to the source directory?"
It's done on this line: https://github.com/dmlc/xgboost/blob/master/CMakeLists.txt#L252

That's confusing to me.  I noticed this while trying to pull both XGBoost and another project dependent on it into a superproject using `FetchContent` for XGBoost and `ExternalProject_Add` for the other project (which does not use CMake).  I have given `ExternalProject_Add` the build command:

    BUILD_COMMAN

[2022-07-27 22:46] shingjan opened #8123 "pandas.Int64Index warning on xgboost 1.6.0"
The following error occurred while I was running xgboost==1.6.0 for some tuning workloads on tvm:
[code]
I can send in a PR to fix this if necessary. Thanks!

[2022-07-28 00:08] hcho3 commented on #8123
Are you sure you are using XGBoost 1.6.0? In #7595, we removed all uses of `Int64Index` from the XGBoost codebase. This change is part of the 1.6.0 release.

[2022-07-28 00:22] shingjan commented on #8123
@hcho3  Thanks! It turned out to be an issue with 1.5.2. Closing this issue.

[2022-07-28 00:22] #8123 closed

[2022-07-28 01:52] trivialfis commented on #8122
Just a convention in XGBoost that we put the shared libraries in that directory for easy packaging with other language bindings.

You can always run cmake install to put the library else where.

[2022-07-28 01:52] #8122 closed

[2022-07-28 01:56] trivialfis commented on #8121
Unfortunately no, the gradient booster is a model as a whole and we don't expose the underlying base model(tree) to user interface. Could you please share the motivation of doing so? Why do you want to train trees with fixed dataset instead of sampled dataset.

[2022-07-28 02:05] ZiyueXu77 commented on #8121
I see, thanks for the info!
I am trying to simulate a federated learning scenario where client will only share the boosted tree (instead of feature stats/gradients). So each client will boost their own tree based on local data - "fixed subset". And bagging seems to be the most direct way of doing "server model aggregation" under this setting.

[2022-07-28 02:55] trivialfis commented on #6496
Notes:
- Use [TypeGuard](https://docs.python.org/3/library/typing.html#typing.TypeGuard) in Python 3.10 for data dispatching.
- Use [ParamSpec](https://docs.python.org/3/library/typing.html#typing.ParamSpec) in Python 3.10 for decorators.
- Use [collections.abc.Iterator](https://docs.python.org/3/library/collections.abc.html#collections.abc.Iterator) to replace `Iterator` (pyspark).

[2022-07-28 03:07] trivialfis commented on #8121
The tree splits on actual feature values. Wouldn't it be a major leak of data?

[2022-07-28 07:57] asheetal opened #8124 "Usage question: how to force saved model to use GPU for predictions?"
I trained an xgboost model using GPU (I verified using nvidia-smi)
I then saved it to disk as a pickle file

Later I load the pickle model to  query and make predictions. But now it always uses CPU. How do I make use of GPU for a pre-saved model build on GPU?

[2022-07-28 09:46] mautini opened #8125 "Issue with monotone_constraints"
I just update XGBoost in my project (from 1.2.1 to 1.6.1) and I run into some troubles for my model using monotone constraints.

I'm using the scikit-learn API provided by XGBoost and before the update I passed a tuple (`(1, 0, 0, 1)` for example)) via argument `monotone_constraints`  on my XGBRegressor.
[code]

After the update I got `AttributeError: 'tuple' object has no attribute 'keys'` error.

[2022-07-28 10:14] mautini commented on #8125
Okay, I just found this commit that should fix the issue : https://github.com/dmlc/xgboost/commit/db80671d6b79715ce31209e8f17a61b8498ea86d

Any plan to release ?

[2022-07-28 11:09] trivialfis commented on #8124
For now, you can set the parameter `predictor` to `gpu_predictor`. (we might change that after 2.0, but this should unblock your work).

[2022-07-28 12:08] Roopesh-Bharatwaj-K-R opened #8126 "Xgboost==0.90 Issue with docker"
Details:

Operating System : Mac Os
Python Version : 3.8

Problem :

in My python Virtual Conda environment, pip install xgboost ==0.90 works fine and my model gives me everything correct without any dependency issue

when i tried to create docker image, In docker file i have given pip install xgboost ==0.90, but this specific version throws me error and not allowing me to create the docker image.

[2022-07-28 14:58] asheetal commented on #8124
I am using the github version 2.0.0.dev. Seems this did not really make any difference
[code]

[2022-07-28 15:51] ZiyueXu77 commented on #8120
I think I figured it out: the soft voting is not on the predicted probability value, but on the margin, then the probability will be calculated via sigmoid. In this way, the random forest bagging process will be (almost - margin pre-divided by num_parallel_tree) identical to boosting ("sum of margins"), and hence easier for calculation.
It will be best if someone can confirm this.

[2022-07-28 16:05] trivialfis commented on #8124
Are you using the scikit learn interface? If so, then you need to call the `set_params` method

[2022-07-28 16:07] trivialfis commented on #8126
Can you remove that extra space before the ==?

[2022-07-28 16:08] trivialfis commented on #8125
Not yet. A quick patch release seems reasonable at this point.

[2022-07-28 16:09] trivialfis commented on #8120
I think you are right.

[2022-07-28 16:13] asheetal commented on #8124
Yes scikit interface. If I use set_params. I get a different error
[code]
[code]

[2022-07-28 19:17] #8119 closed

[2022-07-28 20:20] jorislimonier commented on #8119
Yes, that would probably do, although it is less convenient to have to install Conda specifically for one visualization of one package.

No, I don't have the bandwidth to develop an easy-to-use alternative unfortunately. Graphviz it is

[2022-07-29 03:15] trivialfis commented on #8124
`set_params` vs `set_param`.  It's a standard scikit-learn function. To set the predictor: `model.set_params(predictor="gpu_predictor")`

[2022-07-29 03:44] asheetal commented on #8124
Thank you so much. This helped. I can now see GPU utilization on predict

[2022-07-29 03:44] #8124 closed

[2022-07-29 07:32] trivialfis commented on #8121
Have fun with the hack, let us know if there's anything we can help.

[2022-07-29 07:32] #8121 closed

[2022-07-29 07:32] #8120 closed

[2022-07-29 07:33] trivialfis commented on #8125
Closing this now since it's already fixed.  A quick workaround would be using string instead of tuple.

[2022-07-29 07:34] trivialfis commented on #8112
I took a brief look at this. Arrow table uses a dictionary type for categorical feature from pandas, which seems a little bit weird.

[2022-07-29 07:35] trivialfis commented on #8024
Closing as it's already fixed.

[2022-07-29 07:35] #8024 closed

[2022-07-29 07:36] trivialfis commented on #8126
[code]
I tried running pip this way and it matches your error.  Simply removing the space should fix it.

[2022-07-29 07:36] #8126 closed

[2022-07-29 07:38] mautini commented on #8125
Hey @trivialfis, the workaround does not work too, as mentioned above : using a str give
[code]

[2022-07-29 07:39] trivialfis commented on #8125
what's the `max_depth` you are using?

[2022-07-29 07:41] mautini commented on #8125
31, here is the settings for my model

[code]

[2022-07-29 07:46] trivialfis commented on #8125
Could you please reduce it to 29? (30 for 2.0.0-dev) .  We use 32-bit integer for node index internally, 31 will cause an overflow.  Also, I don't think it's necessary to have this depth of tree for gradient boosting, which depends on combining weak learners.

[2022-07-29 08:00] mautini commented on #8125
Oh yes, it works with a depth of 29, thanks for the advice too. However I don't understand why it worked without monotone constraints and with xgboost 1.2.1 (with monotone constraints)

[2022-07-29 08:04] trivialfis commented on #8125
We pre-allocate the memory in xgboost in 1.6 for efficiency (which is actually replaced by a more adaptive approach in 2.0-dev), the pre-allocation requires knowing the maximum number of nodes beforehand, hence the call to `MaxNodes`.

[2022-07-29 08:04] #8125 closed

[2022-07-29 18:28] Dartya commented on #7994
Hi @wbo4958 !
Here is my [article](https://medium.com/@aleksandr_pitasov/use-cases-of-using-java-ml-libraries-in-conjunction-with-spring-docker-spark-rapids-cuda-3c58dd5fb5f8).
If the information seems useful to you for publication, tell me where to make a pull reguest.

[2022-07-30 10:02] Roopesh-Bharatwaj-K-R commented on #8126
Hi, First Thanks for the Response, I removed extra space but the issue when building docker is the same,

      => ERROR [8/8] RUN pip install xgboost==0.90                                                                                                                                                          1.1s
------

#13 0.433 Collecting xgboost==0.90
#13 0.517   Downloading xgboost-0.90.tar.g

[2022-07-31 02:29] hcho3 commented on #8126
It seems that the binary package wasn't yet available for 0.90. That's why pip is attempting to install from the source tarball xgboost-0.90.tar.gz.

If you have a special need for 0.90 version, please use Conda.

[2022-07-31 16:17] zaalgol opened #8128 "class error when tuning the hyperparams for xgboost classification"
I am trying to classify patients into those who have diabetes and those who do not, with xgboost and scikit-learn library. The dataset is from [kaggle](https://www.kaggle.com/datasets/cjboat/diabetes2).

**To not depend on external data files here, I copied the first lines of the dataset to the code.
But the same error occurs when running on all the dataset.**

The Y column is "Outcome", and conta

[2022-08-01 01:39] wbo4958 commented on #7994
Thx @Dartya, really amazing article.

[2022-08-01 09:05] CarlaFernandez commented on #8106
Hi @wbo4958 , sorry for the delay. That's right, when I remove the classIndex variable from the VectorAssembler, the output contribution column contains an array of 15 values, which I interpret just like you:
- 4 shap values for class 0
- 4 shap values for class 1
- 4 shap values for class 2
- 3 intercepts or bias terms (one for each class)

So this part looks good now, but I'm still curious why t

[2022-08-01 23:28] wbo4958 commented on #8106
@trivialfis could you reply the questions?

[2022-08-02 06:47] rajkoder opened #8132 "/usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.30' not found (required by /home/marcuschan/Downloads/poc/xgboost/python-package/xgboost/../../lib/libxgboost.so)""
Hi , we tried compiling the custom build of xgboost for multi GPU using NCCL2 and CUDA on.

**OS: Pop Os Linux 22.04
gcc version : default is 11.2
gcc used to build the xgboost : 10
xgboost version : 1.5.2**

### Steps Followed:
clone the xgboost git repo
cd ~/Downloads/poc/xgboost/
mkdir build
cd build
CC=gcc-11.2 CXX=g++-11.2 cmake .. -DUSE_CUDA=ON -DUSE_NCCL=ON -DNCCL_ROOT=/usr/include/nccl.h
m

[2022-08-02 11:34] StrikerRUS commented on #8132
This looks like the same issue as https://github.com/microsoft/LightGBM/issues/5106.

Please check the following comment for possible workarounds: https://github.com/microsoft/LightGBM/issues/5106#issuecomment-1121925896.

[2022-08-02 15:22] hellorp1990 opened #8133 "Kaplan meier curve"
Hi,
Is it possible to use the xgboost to draw a kaplan meier curve ?

Thank you in advance.

[2022-08-03 02:49] Jumabek commented on #8132
So I used gcc/g++ version 9 and it worked

![image](https://user-images.githubusercontent.com/4343873/182513476-e2107a75-ecd0-4918-ad67-eaf46dea006d.png)

[2022-08-03 05:48] trivialfis opened #8134 "Conflicts between dask and pyspark GPU tests."
https://github.com/dmlc/xgboost/pull/8117 rearranges the order of dask and pyspark GPU tests so that dask tests are run after pyspark tests.  Without the changes, cuDF would allocate data on random devices resulting in non-deterministic errors like each column in a dataframe is allocated on a different device.

This issue tracks the current status of those tests.

[2022-08-03 06:37] trivialfis opened #8135 "Python binary size exceeded pypi limit."
https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/master/49/pipeline

[2022-08-03 08:31] DTW1004 commented on #5731
hello ，can it support pyspark3.1.2 now? which version xgboost4j.jar  should I choice?

[2022-08-03 08:32] DTW1004 commented on #5731
hello ，can it support pyspark3.1.2 now? which version xgboost4j.jar  should I choice?

[2022-08-03 23:00] natmod opened #8138 "Check failed: sign == true (0 vs. 1) when loading DMatrix from binary file"
Hi,

I am attempting to write a loaded DMatrix into a binary buffer file and then reload the data from that same file. This same code actually works fine in a notebook and is shown in several xgboost example docs, but strangely I see a bug when trying to do the same in my production script (the only thing that is different is I am distributing the training with rabit tracker, but don't think that

[2022-08-04 03:16] trivialfis opened #8140 "Optional NCCL installation for PyPi wheel"
Hi all, the XGBoost binary wheel size recently [exceeded](https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/master/49/pipeline/) 200MB limit set by PyPi. I propose we remove the static linking of NCCL in our binary wheel to reduce the size.  https://github.com/dmlc/xgboost/pull/7930 helped enable training distributed GPU without NCCL and as a result, XGBoost can work on MNMG without

[2022-08-04 03:16] trivialfis commented on #8140
cc @RAMitchell @hcho3

[2022-08-04 15:58] nerubenstein commented on #7842
I'm still having this error from L314 in data.py with xgboost version 1.6.1.

[2022-08-05 01:52] colticol commented on #4849
I'm facing the same issue using `count:poisson`.
I want `poisson-nloglik` evaluation but [it cannot be used](https://github.com/dmlc/xgboost/blob/release_0.72/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/LearningTaskParams.scala#L100-L101). So I'm using [CustomEval](https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc

[2022-08-05 02:04] colticol commented on #4849
I'm facing the same issue using `count:poisson`.
In my case, using [CustomEval](https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/util/CustomEval.scala) makes training success.

(I use CustomEval, because I want `poisson-nloglik` evaluation but [it cannot be used](https://github.com/dmlc/xgboost/blob/release_0.72/jvm-packages/

[2022-08-05 17:47] natmod commented on #8138
Scanning through the source code it looks like this problem is due to `rabit`, since DMatrix only tries to load a binary file if the nparts = 1. It looks like `rabit` wants to handle the data sharding, but I'm looking to handle this manually. Is there a way from the python API to disable `load_row_split` or can we track a feature request to expose this in the python DMatrix API?

https://github.co

[2022-08-07 20:46] mayer79 commented on #8133
A Kaplan-Meier curve is a purely descriptive method. Thus it is unclear how it should be related to a statistical model.

[2022-08-08 05:26] #8140 closed

[2022-08-08 06:40] hcho3 commented on #8140
Why is this closed?

[2022-08-08 06:54] trivialfis commented on #8140
@RAMitchell worries that the performance hit might be too much and a simple warning is not sufficient for asking users to install nccl (which is indeed not an easy task for pip users).

[2022-08-08 06:54] trivialfis commented on #8140
We will have to find other options.

[2022-08-08 12:50] jaguerrerod opened #8143 "How to know the iteration number inside custom eval function"
Hi, how to know (in R interface) the iteration number inside a custom eval function?
I have a very intensive custom eval function with a very small learning rate, so I'm only interested in check early stopping each 10 or 20 iterations and save time.

Thanks.

[2022-08-08 13:00] WeichenXu123 commented on #8110
@wbo4958 Do you have time to implement this feature ? @mengxr hopes this feature to go into xgboost 2.0.
Thanks!

[2022-08-08 20:24] Temppus commented on #5869
If I understand correctly, updating to nccl 2.12 helped and PR was merged but there is no official python package released to test it out ?  😞

[2022-08-08 20:46] AlainOUYANG commented on #7039
My solution (8 Jul 2022):

1. Uninstall all `xgboost` packages, whether it was installed by conda or pip.

2. Build `libomp` from source (the commands from @fractor ):

	1. `wget https://raw.githubusercontent.com/chenrui333/homebrew-core/0094d1513ce9e2e85e07443b8b5930ad298aad91/Formula/libomp.rb`
	2. `brew unlink libomp`
	3. `brew install --build-from-source ./libomp.rb`
	4. `brew list --version l

[2022-08-09 01:20] wbo4958 commented on #8110
Hi @WeichenXu123,  I am pretty busy recently. I can't guarantee that I can make it in xgboost 2.0

[2022-08-09 13:08] WeichenXu123 commented on #8110
@dbczumar Heads-up: I might need to spend some additional time to work on this because of above reason. :)

[2022-08-09 15:09] ravimakhija opened #8146 "Make data set available in Python package"
Hi - this is a feature proposal for the Python package portion of `xgboost`. If there is interest, I would be happy to try implementing and provide a PR.

#### Details:

The Getting Started documentation shows an example of loading the "agaricus" data set by using a file path.

Link: https://xgboost.readthedocs.io/en/stable/get_started.html

I believe the use of a local-specific file path for the

[2022-08-09 15:21] trivialfis commented on #8146
I think it might be better to change that getting started script to use some other easier-to-access datasets instead of copying the data into XGBoost Python wheel.

[2022-08-09 15:40] nrchade opened #8147 ".feature_importances_ for multioutput"
I noticed that beginning in version 1.6, xgb can now handle multioutput natively which is cool.  Now however I'm not sure if some of the features i've come to rely upon are accurate.  The main issue is the attribute .features_importances_ seems to only have one set even if the number of targets is greater than one.  What do these values represent? I was expecting a set of features per target.  Her

[2022-08-09 16:15] ravimakhija commented on #8146
@trivialfis  Thanks for your thoughts! So long as there is no specific reason to use the "agricus" data set, that sounds good to me.

**Two implementation options might be:**

Option 1: Just use `sklearn.datasets` directly to get a data set that works well for showcasing `xgboost`.
Option 2: Download a data set from the web, possibly by using something like `wget` via Python

**Additional Thoughts

[2022-08-09 16:47] ZhenxuanZhang-Jensen opened #8148 "Can't load the model from different computer."
Hi experts,
I try to use my gpu resources to train a model and save it using model.save(model.json) and try to load it using model.load_model(model.json) in the different computer which doesn't have gpu. Save model is fine, but when I load model, it show some bugs like:(xgboost  version is 1.6.1 in each computer, one is Mac M1 labtop, and second is a gpu supported computer)
[code]

[2022-08-09 18:00] trivialfis commented on #8148
Hi, could you please double check your xgboost installation is correct (1.6) on your macbook? The Python backtrack seems odd, it's pointing to document string and blank line.

[2022-08-09 18:05] trivialfis commented on #8143
I think you can count the evaluation by a captured variable.

[2022-08-09 18:07] trivialfis commented on #8138
Thank you for raising the issue. I will look into this.

[2022-08-09 18:48] jaguerrerod commented on #8143
I found using <<- assignment of an iter counter inside custom eval works.
Using CV is necessary adjust the counter as eval is called for each fold.

[2022-08-09 22:46] Bassa1 commented on #4849
I am training the GeneralLinearRegression model on Spark. I want to print the summary of the model with the model.summay. It gave an error, and I could not find any helpful resources online. Here is the error message I found. Any suggestions on how can solve it?
Thank you
Basazin

`
java.lang.NumberFormatException
---------------------------------------------------------------------------
Py4JJava

[2022-08-09 23:12] bachlaw commented on #6030
Adding `-1` to the model formula has helped to solve this problem for me, suggesting that something about the Intercept or the perceived need for a column reflecting one in the data, may be contributing to the problem.

[2022-08-10 02:06] trivialfis commented on #5869
@Temppus Feel free to try the nightly https://xgboost.readthedocs.io/en/stable/install.html#id1 .

[2022-08-10 02:11] trivialfis commented on #8143
Yup. Feel free to reopen if there are further questions.

[2022-08-10 02:11] #8143 closed

[2022-08-10 02:17] trivialfis commented on #8147
Hi, it's the average of all targets.  We don't support feature importance per target at the moment.

[2022-08-10 02:17] #8147 closed

[2022-08-10 02:19] trivialfis commented on #8146
I think `sklearn.datasets` is an excellent choice. As for other languages, the XGBoost R package has the data packaged already so it should be fine.

[2022-08-10 03:00] ZhenxuanZhang-Jensen commented on #8148
yes, I double-checked:
[code]
error:
[code]

[2022-08-10 08:26] trivialfis commented on #8147
I opened a PR for clarification: https://github.com/dmlc/xgboost/pull/8151 hope that helps.

[2022-08-10 10:49] #8135 closed

[2022-08-10 14:53] #8138 closed

[2022-08-10 16:55] natmod commented on #8138
Thanks for the quick fix @trivialfis!

[2022-08-10 19:43] Temppus commented on #5869
Hi @trivialfis.
Thanks for suggestion. I tried installing wheel from nightly but I am getting

` > [2/6] RUN pip install https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/master/xgboost-2.0.0.dev0%2B03cc3b359c98f267a39bfcfe5c7186b410bf986c-py3-none-manylinux2014_aarch64.whl:
#4 1.028 ERROR: xgboost-2.0.0.dev0+03cc3b359c98f267a39bfcfe5c7186b410bf986c-py3-none-manylinux2014_aarch64.whl is no

[2022-08-10 20:55] Temppus commented on #5869
Wow, great ! Using `https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/master/xgboost-2.0.0.dev0%2B446d536c23c5451eaf2879c5b266a2a68ceb07ec-py3-none-manylinux2014_x86_64.whl` it works on GPU on windows with WSL2 and linux container and training is blazing fast.

Thank you very much ! 😄

[2022-08-11 05:38] trivialfis commented on #5869
Excellent!  I think we can conclude this issue now.

[2022-08-11 05:38] #5869 closed

[2022-08-11 05:45] trivialfis commented on #8148
Could you please run the following on your macbook environment and share the result with us?

[code]

[2022-08-11 06:12] ZhenxuanZhang-Jensen commented on #8148
sorry to bother... I reinstall all my conda env , and it works now... guess may something wrong happened just about the version without an correct update. thanks.

[2022-08-11 06:21] trivialfis commented on #8148
Yup, my guess is that you installed XGBoost < 1.6 and then upgraded it with pip.

[2022-08-11 06:21] #8148 closed

[2022-08-11 06:30] trivialfis opened #8155 "1.6.2 patch release"
We have a couple of fixes in the master branch that is not yet available in a public release yet. Following is a list of commits/PRs that are pending for being backported. If you have some other commits in mind please let me know in the comments.

* To be backported

- [x] 8ba4722d0 * Remove pyarrow workaround. (#7884)
- [x] db80671d6 * Fix monotone constraint with tuple input. (#7891)
- [x] d3146

[2022-08-11 07:55] ruidc opened #8156 "loading an XGBClassifier model or pickle from 0.9 in 1.x"
I'm trying to use an XGBClassifier model created in 0.90 and stored as a pickle.
Using the model via:
[code]
where `clf` is the classifier instance.
Loading it as a pickle it works fine and produces consistent results.
I'd like to upgrade XGBoost to 1.x, so whilst still on 0.90, I did as the documentation suggested and used the legacy binary `save_model()` (given that I am not using any of the pro

[2022-08-11 09:59] trivialfis commented on #8108
hi @WeichenXu123 is it possible for us to use `mapInArrow` instead of `mapInPandas`? What's the current status of the API and does it support device memory? https://arrow.apache.org/docs/cpp/memory.html#devices

[2022-08-11 10:24] WeichenXu123 commented on #8108
CC @hyukjin.kwon

[2022-08-11 10:31] WeichenXu123 commented on #8108
Got reply from @HyukjinKwon:

it should support
although nobody tested it
because it exposes the native PyArrow batch instances
if that supports, it should work

We can try it as a follow-up optimization.

[6:26](https://databricks.slack.com/archives/DJ0AR42B1/p1660213594575069)
because it exposes the native PyArrow batch instances
[6:26](https://databricks.slack.com/archives/DJ0AR42B1/p1660213600

[2022-08-11 12:22] WeichenXu123 commented on #8110
@trivialfis I have a question, in XGBRanker distributed training, shall we ensure each group training examples being put in the same worker data split ?

[2022-08-11 21:37] ruidc commented on #8156
Revisiting the `convert_090to100.py` script, it occurred to me that perhaps I should be running it from 0.90 and consuming the model from 1.0.0 and doing so makes it work.

[2022-08-11 21:37] #8156 closed

[2022-08-12 04:59] trivialfis opened #8161 "Flaky data iterator test (external memory) for GPU."
[code]

It's caused by one different element in the generated cuts.  We need to change the test to adapt to the differences in the models.

[2022-08-14 14:09] andyatkinson20 commented on #6759
This is happening for me as well.  After investing in a 3090 I was hoping for a more complex model to fit in memory.  I'm working on R and so far haven't found the DeviceQuantileDMatrix option, which might help?

[2022-08-15 13:32] zheddie opened #8174 "python-package build failure"
System env:
[code]
instruction:
[code]
Error message:
[code]

[2022-08-15 15:17] M-Parvini commented on #1715
Thanks

[2022-08-15 16:49] trivialfis commented on #8174
Please use `git clone --recursive https://github.com/dmlc/xgboost.git` for cloning XGBoost.

[2022-08-15 16:49] #8174 closed

[2022-08-16 17:35] PolarSprings opened #8177 "TypeError: type object argument after ** must be a mapping, not tuple"
TypeError Traceback (most recent call last)
in
6 },
7
----> 8 clf = xgb.XGBRegressor(**param_grid)

TypeError: type object argument after ** must be a mapping, not tuple

Code is as follows:

[code]

I am passing the params as a dictionary with **, why does it throw the error?

[2022-08-17 17:46] johan-lorentzon commented on #7842
Hi,

I'm also still having this issue when running xgboost 1.6.1, from data.py line 323.

`df_features` has dtypes `category` and `float`.

[code]

[2022-08-17 22:35] natmod commented on #8155
Can you add https://github.com/dmlc/xgboost/pull/8149?

[2022-08-18 09:20] BoostMom opened #8182 "sparkxgb turn to python package xgboost can load"
I use sparkxgb and xgboost4j-spark-0.90.jar trained a model in spark environment.

Now I need to deploy a server in python for xgboost model inference. I wonder if there is a method I can just use the trained model by sparkxgb or I have to retrain the model by python xgboost package.

Thanks all kind reply~~

Now I used python xgboost==1.16.1 load the model it raize error!
Traceback (most recent c

[2022-08-18 13:32] RAMitchell opened #8184 "'scale_pos_weight' parameter"
I want to use this issue to document some pitfalls of the 'scale_pos_weight' parameter and discuss if it needs to be changed or documented better. The following script illustrates some different scenarios and the way that training loss is reported. Each of the models is exactly the same but the reported training loss metric can be different.

In particular, for this example, if the weights for the

[2022-08-18 17:15] trivialfis commented on #8184
I think removing the parameter makes sense. The weight parameter should be used more consistently instead of being an objective-only parameter.

[2022-08-18 17:16] trivialfis commented on #8177
Removing the `,` after the definition of `param_grid` should solve the issue.

[2022-08-18 17:16] #8177 closed

[2022-08-18 17:48] trivialfis commented on #8155
@natmod Thanks, will backport it as well.

[2022-08-18 17:57] #8108 closed

[2022-08-18 18:06] #8146 closed

[2022-08-18 18:09] trivialfis commented on #8132
Consider using the default gcc.

[2022-08-18 18:09] #8132 closed

[2022-08-18 19:06] trivialfis commented on #8155
Will make the Python release once all backports are merged. (likely tomorrow).

[2022-08-18 22:18] aadler commented on #7024
I believe I am [that user](https://discuss.xgboost.ai/t/installing-xgboost-with-gpu-support-for-r-on-windows-build-does-not-complete/2227/17). I continue to have issues with VS 2022, 2019, and 2017, althouh error now is not the same as before and it is the same for each.

 D:\xgboost\src\tree\gpu_hist\histogram.cu(315): note: see reference to function template instantiation 'auto xgboost::tree::Bu

[2022-08-19 16:42] aadler commented on #7024
According to Visual Studio, rhe error comes from line 298 in [histogram.cu](https://github.com/dmlc/xgboost/blob/master/src/tree/gpu_hist/histogram.cu) which reads:

`constexpr int kMinItemsPerBlock = kItemsPerTile;`

If that helps.

[2022-08-19 23:32] adamjstewart commented on #6972
I encountered the same build issue with GCC 7.3.1. Is GCC 8+ required now? If so, `CMakeLists.txt` should be updated.

[2022-08-21 08:01] trivialfis opened #8186 "[pyspark] Document model format."
https://discuss.xgboost.ai/t/save-pyspark-model-load-it-on-other-language/2894

[2022-08-21 12:02] daniel-althoff opened #8188 "Multivariate regression for R"
Hi,

I have seen that there has been some development for multivariate/multioutput modeling in Python. I would like to know if there is anything alike for R?

Thanks

[2022-08-21 18:51] olbapjose commented on #8074
@wbo4958 excuse me for mentioning you... looks like nobody is looking at this... thanks

[2022-08-21 19:04] aadler opened #8189 "When Building XGBoost 2.0+"

[2022-08-21 19:04] #8189 closed

[2022-08-21 19:08] aadler opened #8190 "When building XGBoost 2.0+ with GPU support from source get fatal "expression did not evaluate to a constant" error"
As mentioned in #7024, I continue to have issues with VS 2022, 2019, and 2017, when building XGBoost from source for Windows and R with GPU support. The error comes from line 298 in [histogram.cu](https://github.com/dmlc/xgboost/blob/master/src/tree/gpu_hist/histogram.cu) which reads: `constexpr int kMinItemsPerBlock = kItemsPerTile;` I am on Windows 10 64bit and CUDA 11.7, and I have gotten this

[2022-08-22 06:55] Ayyan-droid opened #8191 "RabitTracker:179 - FAULT: failed to start tracker process"
hi i am getting this error can any guide me
spark version 3.1
xgboost4j_2.12-1.6.1.jar
xgboost4j-spark_2.12-1.6.1.jar

ERROR RabitTracker:179 - FAULT: failed to start tracker process
ERROR XGBoostSpark:643 - the job was aborted due to
java.lang.IllegalArgumentException: requirement failed: FAULT: Failed to start tracker
	at scala.Predef$.require(Predef.scala:281)
	at ml.dmlc.xgboost4j.scala.spark.

[2022-08-22 10:40] rudyyin commented on #5792
I also came across this problem. and I find the demo( https://github.com/dmlc/xgboost/blob/master/demo/c-api/basic/c-api-demo.c ) is not very good because it pass 0.0 to XGDMatrixCreateFromMat as the missing arg. This could miss lead many people because 0.0 is commonly used and many person including me will mistakenly regard this  arg  as “if something is missing, use this arg as default”.  so for

[2022-08-22 15:00] ITHM opened #8194 "ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed."
Scala = 2.12.10
spark = 3.1.3
xgboost  = 1.6.1

I have tried many versions from xgboost=0.82, to the latest version 1.6.1, and reported the same error "ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed.", there is no more detailed information, I have tried both under Windows and Linux, but it doesn't work. Windows can be trained several times, and then an error is reported. I can't

[2022-08-22 15:33] trivialfis commented on #8155
Python packages are uploaded to pypi @hcho3 Would you like to help upload the jvm packages?

[2022-08-22 15:35] trivialfis commented on #8191
Could you please share the specification of the environment where we can try to reproduce it?

[2022-08-22 15:35] trivialfis commented on #8190
@RAMitchell Have you seen this?

[2022-08-22 15:37] trivialfis commented on #8188
Not yet. The feature is still at an early stage.

[2022-08-22 15:45] trivialfis commented on #8110
Apologies for missing the thread.

yes.

No

[2022-08-22 16:30] RAMitchell commented on #8190
I haven't built on Windows in some time. I can take a look later this week.

[2022-08-22 18:35] #8110 closed

[2022-08-23 02:00] wbo4958 commented on #8110
@WeichenXu123 @trivialfis Sorry, I didn't see https://github.com/dmlc/xgboost/pull/8172 has sorted the qid first? please correct me.

[2022-08-23 03:47] WeichenXu123 opened #8196 "Xgboost 1.6.1 GPU mode does not work with GCP a2 instance"
Reproducing code:

[code]

Error:

[code]

warning:

[code]

[2022-08-23 04:01] wenfeiy-db commented on #8196
Adding more info about the instance. It's the `a2-highgpu-4g`, which has 4 A100 GPUs (see GPU [doc](https://cloud.google.com/compute/docs/gpus)).

NCCL version: `2.9.9`
CUDA version: `11.3`
The `nvidia-smi` output is
[code]

[2022-08-23 06:16] hcho3 commented on #8155
@trivialfis The JVM packages are now up.

[2022-08-23 07:05] trivialfis commented on #8155
Great. I will close the issue now since there's no fix for cran package.

[2022-08-23 07:05] #8155 closed

[2022-08-23 07:07] trivialfis commented on #8196
That's nccl not being able to establish a communication group (most likely due to network error)

[2022-08-23 07:10] trivialfis commented on #8110
Users can have it sorted. Otherwise there will be an error in c++.

[2022-08-23 08:59] satyakisen opened #8197 "Need Update over 2.0.0 release timeline."
Hi Team,
We have a use case where we need the pyspark xgboost integration feature #8020. Kindly need an update over xgboost 2.0.0 release timeline.

[2022-08-23 09:52] WeichenXu123 commented on #8196
In our test, it only happens on xgboost 1.6.1 with GCP A2 instance, and after upgrading to xgboost 2.0 dev, the issue disappears.

[2022-08-23 10:01] trivialfis commented on #8196
Did you compile xgboost yourself?

[2022-08-23 10:09] WeichenXu123 commented on #8196
1.6.1 we uses official built package installed by pip, 2.0 we built it by ourselves.

[2022-08-23 10:17] WeichenXu123 commented on #8196
@wenfeiy-db If you attach more error stack trace output it might help.

[2022-08-23 11:14] trivialfis commented on #8196
The 1.6.1 was using an old nccl release. Could you please try 1.6.2 as well? (released yesterday)

[2022-08-23 16:18] cmunch1 opened #8198 "GPU errors during multiple Optuna trials"
I keep getting XGB GPU errors after a few Optuna trials. I tried my code in Windows, Ubuntu, and on Paperspace Gradient, with various GPUs, and same results.

So I tried a public notebook on Kaggle that apparently worked in the past (and unrelated to my data), and it appears to trigger the same errors after a few trials:
https://www.kaggle.com/code/tunguz/tps-mar-2021-xgb-gpu-le-optuna

[2022-08-23 17:32] trivialfis commented on #8198
Could you please share the version of xgboost and optuna?

[2022-08-23 17:34] trivialfis commented on #8198
also, could you please share the error trace? I'm running the notebook right now, but haven't seen the error yet.

[2022-08-23 17:59] trivialfis commented on #8198
Ah, could you please limit the max_depth to 29?  With 1.6.2, this can be 30. Fixed in https://github.com/dmlc/xgboost/pull/8098 .

[2022-08-23 17:59] #8198 closed

[2022-08-24 03:40] WeichenXu123 commented on #8196
1.6.2 fixes this issue. thanks! @trivialfis

[2022-08-24 03:40] #8196 closed

[2022-08-24 05:59] Ayyan-droid commented on #8191
hi i am running it on docker with following versions
spark version 3.1
xgboost4j_2.12-1.6.1.jar
xgboost4j-spark_2.12-1.6.1.jar

[2022-08-24 07:20] Ayyan-droid commented on #8191
code works fine on local environment

[2022-08-24 08:30] trivialfis opened #8199 "SHAP value with refreshed tree."
Change https://github.com/dmlc/xgboost/blob/d03794ce7a6d5772bd5c3b7d74b7a92557f2e984/demo/guide-python/update_process.py to using CPU, one should be able to reproduce an error:
[code]

[2022-08-25 06:14] tomkr000 opened #8201 "multioutput is not supported by current objective function"
On Macbook Air M2, so that might be the problem, however I get the below error using:

# Init classifier
xgb_cl0 = xgb.XGBClassifier(
                            objective= 'multi:softmax',
                            tree_method='hist',
                          max_depth=10,
                           n_estimators=500,
                           learning_rate=0.01,
                            nu

[2022-08-25 06:40] trivialfis commented on #8201
What's the shape of your input label?

[2022-08-25 07:31] vandykai opened #8202 "XGBoost External Memory Version Load SVM File Into DMatrix Error"
[code]

my.svm file:
[code]

error message:
ValueError: feature_names must be unique

[code]

[2022-08-25 07:33] tomkr000 commented on #8201
(774, 5)

[2022-08-25 08:12] trivialfis commented on #8201
If you are performing multi-class classification, please provide the labels as one column with class id as element. For instance if you have 5 classes in the label, `y` would look like `[0, 3, 1, 4 ...]`.

If you are performing multi-label classification, please don't specify the objective function (or specify it as `binary:logistic`, which is done inside XGBoost).

[2022-08-25 09:14] #8201 closed

[2022-08-26 08:56] trianbin opened #8205 "I MEETING A PROBLEM:"
Parameters: { "scoring" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.

[2022-08-27 11:03] BexTuychiev commented on #5869
Following @Temppus's solutıon, (whıch perfectly works), do the followıng:

If you are on Lınux or WSL2:

[code]

If you are on Wındows, just clıck the lınk to download the wheel fıle and run the `pip install` command.

[2022-08-28 10:01] Ayyan-droid commented on #8191
hii kindly help me on this issue
i am completely stuck
i am using a docker image
with python version 3.7.11
spark 3.1

On Mon, Aug 22, 2022 at 8:35 PM Jiaming Yuan ***@***.***>
wrote:

[2022-08-28 16:13] yanirmr opened #8207 "ERROR: No matching distribution found for xgboost==1.6.1 for python 3.6"
Hi,

I tried to run collect xgboost==1.6.1 in the Ubunto environment of Python 3.6 (of Github action).

I run the lines:
         `python -m pip install --upgrade pip`
          `pip install -r requirements.txt`
          `pip install -e .`

The requirements include the xgboost==1.6.1.

As a result, I received traceback as follows:

`python -m pip install --upgrade pip`
`Requirement already satisf

[2022-08-28 17:58] hcho3 commented on #8207
XGBoost 1.6.1 does not support Python 3.6. We require Python 3.7+.

[2022-08-28 17:59] #8207 closed

[2022-08-28 22:58] yurivict opened #8208 "No Python tests are run"
[code]

Version: 1.6.2
Python-3.9
OS: FreeBSD 13.1

[2022-08-29 01:17] hcho3 commented on #8208
The `python-package` directory contains no tests. Please run `pytest` in `tests/python`.

[2022-08-29 01:17] #8208 closed

[2022-08-29 04:57] trivialfis commented on #8205
There's no parameter named "scoring" in xgboost. Please visit the documentation page for a complete set of parameters.

[2022-08-29 04:57] #8205 closed

[2022-08-29 06:46] trivialfis commented on #8191
Hi, we need more information on how to reproduce it. We run XGBoost jobs almost daily and haven't seen it.

[2022-08-29 08:57] zhanglu-ops opened #8209 "how to get the order of features in hist_data in function "BuildHistDenseKernel"?"
[code]
or in `hist_data`, how to get the index of feature of the` idx_bin` bin, if idx_bin is equal to global index of bin in gmat

[2022-08-31 04:00] Ayyan-droid commented on #8191
hi Dmlc/Xgboost
i am using redhat/ubi8:8.4 linux for docker image

and i am using code from this repo https://github.com/sllynn/spark-xgboost

spark 3.1.1 python 3.7.11

and xgboost4j and xgboost4j spark 2.12-1.6.1

kindly help

regards

[2022-08-31 04:31] Ayyan-droid commented on #8191
How can i specify tracker propertise

On Wed, Aug 31, 2022 at 8:59 AM Muhammad Bin Azeem <
***@***.***> wrote:

[2022-08-31 06:00] Ark-kun commented on #6851
XGBoost still fails when encountering nullable floating-point dtypes.

[2022-08-31 06:17] Ark-kun opened #8213 "DMatrix fails on Pandas' nullable floats"
XGBoost 1.6.1
Pandas: 1.4.1
[code]

https://github.com/dmlc/xgboost/pull/7760 only added support for nullable integers and booleans, but not floats.

P.S. Also the `_invalid_dataframe_dtype` incorrectly includes categorical columns despite `enable_categorical` set to True.

[2022-08-31 11:42] trivialfis commented on #8191
@Ayyan-droid Consider using the pyspark in xgboost with the nightly build.

Nightly build:
https://xgboost.readthedocs.io/en/latest/install.html#id1

Pyspark tutorial:
https://xgboost.readthedocs.io/en/latest/tutorials/spark_estimator.html

[2022-08-31 11:45] trivialfis commented on #8213
Thank you for raising the issue! Would you like to open a PR for the fix?

[2022-08-31 11:47] trivialfis commented on #8209
We don't need the feature index during the histogram build. If you want to recover that information, the `HistogramCuts::cut_ptr` might be of help for reverse searching the feature index.

[2022-08-31 11:47] #8209 closed

[2022-08-31 19:42] #8190 closed

[2022-09-01 15:39] DavidMaister commented on #8186
Hey, I managed to solve this so I'll share how I've solved.

- The SparkXGBClassifier saving the model, saves a directory with parquet files.
- Read these folder with parquet files on pyspark, write these object as json.
- In python, load this json and we want to change the format because it doesnt work the original one.
[code]
- Then I am able to load the model in xgboost
[code]

[2022-09-02 06:01] wbo4958 commented on #8194
@ITHM Could you please provide the source code and script to repro this issue?

[2022-09-02 06:12] wbo4958 commented on #8186
I think we need to change the "save" to the model that xgboost can use directly. Let me resolve this.

[2022-09-02 06:22] wbo4958 commented on #8182
@BoostMom, The model trained by XGBoost-JVM-Spark before 1.6.1 can't be loaded directly by XGBoost Python package. If you really would like to do that, you can

[code]

[2022-09-02 06:25] wbo4958 commented on #8106
@trivialfis I guess we're using the hist algorithm which causes the contributions are the same for the instances in the same bin?

[2022-09-02 06:26] wbo4958 commented on #8074
@olbapjose Sorry for the late, I will check it.

[2022-09-02 06:32] wbo4958 commented on #8191
@Ayyan-droid if you're using the XGBoost jvm packages, you can specify the Tracker configuration by

`Map("tracker_conf" -> TrackerConf(0l, "python", YOUR_IP, PYTHON_EXEC))`

See

[code]

[2022-09-02 17:49] Faaany opened #8221 "[pyspark] SparkXGBClassifier failed to train with early_stopping_rounds and validation_indicator_col"
Following the official SparkXGBClassifier example shown [here ](https://xgboost.readthedocs.io/en/latest/python/python_api.html#module-xgboost.spark), I try to run XGBoost training on my own dataset and get the following error:

[code]

Here is my code:

[code]

The code runs through when I don't specify the `validation_indicator_col` in `SparkXGBClassifier`. But with the same configuration, it wo

[2022-09-02 17:53] Faaany commented on #8221
@WeichenXu123 Could you help review this issue? Really grateful for your help!

[2022-09-02 18:33] trivialfis commented on #8221
@WeichenXu123 Is it possible to have zero data returned from the iterator?

[2022-09-02 19:18] haixiw opened #8222 "xgb.callback.EvaluationMonitor() returns wrong metrics after each iteration in a distributed training environment"
Hi, I am  using argument feval(Customized evaluation function) in xgboost.train(). The function is defined to compute results of mse, rmse, mae and r2 and return the results as a list.
This is output from our feval function [('mae', 0.2775314), ('rmse', 0.2852029), ('r2', -14.750130229664993), ('mse', 0.08134069)]
but when xgb.callback.EvaluationMonitor() prints out the metrics after each iteratio

[2022-09-03 03:53] ITHM commented on #8194
@wbo4958 The code is official，https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html
@trivialfis

[2022-09-04 10:01] compleathorseplayer opened #8223 "Julia version of XGBoost broken for Macs (except for recent OS >=10.15)."
Julia implementation of XGBoost is broken for Macs not bought within the past couple of years (OS < 10.15, e.g. Mojave)

[This is apparently due to compilation issues of a c++ library]

Does anyone know of an alternative implementation of xgboost which is available for Julia?

I teach large (>200)  classes and few students have the latest laptops, so I cannot use xgboost for my classes as things s

[2022-09-04 20:58] privefl commented on #5979
This would come in very handy for me as well.

[2022-09-05 02:10] hcho3 commented on #8223
Fixed in https://github.com/JuliaPackaging/Yggdrasil/pull/5430.

[2022-09-05 02:10] #8223 closed

[2022-09-05 05:25] aadler commented on #8190
Confirming that the XGBOOST and the R package built on my machine and that the gpu_hist example in the walkthrough was 10x faster on my RTX 3080 (build with GPUVER = 86 and CUB :) ). Thank you!

[2022-09-05 08:28] WeichenXu123 commented on #8221
@trivialfis

Is the error caused by an empty partition input ? I haven't take deep look and I am a bit confusing.

[2022-09-05 09:16] ldesreumaux opened #8224 "Predict with `QuantileDMatrix`"
With the current codebase, it is not possible to use `Learner::Predict` with a `QuantileDMatrix` to get leaf indices, feature contributions or feature interactions. The following error is raised:
https://github.com/dmlc/xgboost/blob/7ee10e3dbdd81f8dc00bf34da34c90dd8e7b244f/src/data/iterative_dmatrix.h#L115-L118

Is there any plan to support these prediction types?

[2022-09-05 09:34] trivialfis commented on #8221
Just my guess based on the error message: `need at least one array to stack`.

[2022-09-05 09:35] trivialfis commented on #8224
Yes, we are still working on this. For now, my priority is to make sure it can work with both CPU and GPU data: https://github.com/dmlc/xgboost/pull/8215 .

[2022-09-05 15:12] Faaany commented on #8221
Do I need to have a specific version of Python or PySpark or Spark to run distributed xgboost training on spark using the new pyspark API?

[2022-09-06 01:52] WeichenXu123 commented on #8221
I will take a look, maybe dataset repartition has some issue.
@Faaany Could you try manually repartition the dataset to the `num_workers` partitions ? like.
[code]

[2022-09-06 04:05] SHAWZHANG360 commented on #8024
I  also have this problem.
my python:3.9.7   numpy:1.22.0   scipy:1.7.3
when i finsish install xgboost , "PkgResourcesDeprecationWarning: mpy is an invalid version and will not be supported in a future release"

[2022-09-06 04:49] Faaany commented on #8221
@WeichenXu123 Awesome! thanks!

I am not sure whether the `num_workers` works since I am using spark local mode, but I tried it anyway with `DATAFRAME.repartition(160)` and the error remains. Another observation is that the `df_train.rdd.getNumPartitions()` gives 160 back with the example dataset and only 70 with my own dataset.

Now I will try my program with 2-node and will update you if new fin

[2022-09-06 07:16] Faaany commented on #8221
Now I am running with running my code on a 2-node standalone spark cluster. With the example code, `df_train.rdd.getNumPartitions()` returns 2,  while it still returns 70 with my own dataset.  Even after repartitioning with `data_trans = data_trans.repartition(2)`, the error persists. Both my `data_trans` and `df_train` have the data type `pyspark.sql.dataframe.DataFrame`.

Might it be related to

[2022-09-06 12:30] SimoneMatteo opened #8227 "[python][dask] Reconnection warnings during DaskXGBClassifier fit"
I'm trying to perform a DaskXGBClassifier fitting through a Dask cluster using a Dask Scheduler running in a Docker container, deployed in a Docker Swarm stack with 2 network interfaces.

One of these interfaces has IP of 11.0.1.124 which [traefik](https://github.com/traefik/traefik) (a reverse proxy) is listening. Traefik is in place, in order to expose the Dask dashboard in a sensible url, so we

[2022-09-06 12:32] Dipak-Kharat opened #8228 "ml.dmlc.xgboost4j.java.XGBoostError: [12:24:38] /workspace/src/c_api/c_api_utils.h:240: Check failed: feature_map.Size() == n_features (13 vs. 19)"
Hi Team, After upgrading spark version from 3.0.3 to 3.2.2 , mleap from 0.19.0 to 0.20.0 and xgboost4j version from 1.3.1 to 1.5.2. We are getting error  **ml.dmlc.xgboost4j.java.XGBoostError: [12:24:38] /workspace/src/c_api/c_api_utils.h:240: Check failed: feature_map.Size() == n_features (13 vs. 19)**   while running training job.
we are running spark scala code for training job and as xgboost i

[2022-09-06 13:20] trivialfis commented on #8227
Hi, co you please visit https://xgboost.readthedocs.io/en/stable/tutorials/dask.html#troubleshooting and see if it can help?

[2022-09-06 14:08] SimoneMatteo commented on #8227
Thanks for the pointer. However, even if we set the scheduler_address through the dask.config setting, the warnings from the workers still complain about the wrong IP (no idea where they pick up that IP).

From the moment, we removed the double subnet from the Dask Scheduler, since this seems to solve our problem.

[2022-09-06 20:47] trivialfis commented on #7917
All fixed.

[2022-09-06 20:47] #7917 closed

[2022-09-07 00:08] WeichenXu123 commented on #8221
@Faaany
Do you mean on your dataset `df_train.repartition(2).rdd.getNumPartitions()` returns 70 ?
That's weird.

[2022-09-07 00:46] Faaany commented on #8221
@WeichenXu123 no, 70 is by default, I tried repartition to 2, but the error doesn't disappear.

[2022-09-07 03:25] WeichenXu123 commented on #8221
@Faaany Understood. The auto repartition logic in xgboost spark has some issue.

[2022-09-07 03:35] WeichenXu123 commented on #8221
@Faaany Could you provide your spark version ?

[2022-09-07 05:49] #8222 closed

[2022-09-07 08:54] Faaany commented on #8221
@WeichenXu123 spark-3.3.0 is my version.

[2022-09-07 14:26] WeichenXu123 commented on #8221
@Faaany
Could you try set `force_repartition=True` argument for xgboost spark estimator ?
Does it also fail ?

If so, this should be spark dataframe repartition result inbalance issue, in some cases, after repartition, some partition become empty.

[2022-09-07 19:06] Faaany commented on #8221
@WeichenXu123 Yes, failed with the same error and I got this message:

`You set force_repartition to true when there is no need for a repartition.Therefore, that parameter will be ignored.`

I also tried to load my data into hdfs and let pyspark read data directly from hdfs, but it doesn't fix the error either.

[2022-09-07 19:17] Faaany commented on #8221
when I look into my spark web UI, the spark job failed at this stage:

`[javaToPython at NativeMethodAccessorImpl.java:0]`
`org.apache.spark.sql.Dataset.javaToPython(Dataset.scala:3679)
sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl

[2022-09-08 00:04] WeichenXu123 commented on #8221
Got it, I will file a PR soon.

[2022-09-08 00:32] WeichenXu123 commented on #8221
@Faaany I filed fixing PR, could you help test ? https://github.com/dmlc/xgboost/issues/8221

You need to test on:

Input dataset **without** repartition and num_workers setting > 1 and ==1

[2022-09-08 08:54] Faaany commented on #8221
@WeichenXu123 no, the error persists. But I noticed that the stage
`javaToPython at NativeMethodAccessorImpl.java:0` succeeds and it fails in the next stage, right before it starts to train (I suppose). Here is the log:

`Traceback (most recent call last):
  File "train_stage1_spark.py", line 145, in <module>
    xgb_clf_model = xgb_classifier.fit(data_trans)
  File "/opt/spark-3.3.0-bin-hadoop3/p

[2022-09-08 09:57] WeichenXu123 commented on #8221
@Faaany Strange.. What's the num_workers do you set ? And would you provide the records count of every partition in your input dataframe ?

[2022-09-08 21:52] wbo4958 opened #8236 "[jvm-packages] ml.dmlc.xgboost4j.scala.Booster cannot be cast to ml.dmlc.xgboost4j.scala.Booster"
When running xgboost iris example in notebook with underlying spylon-kernel, it will suffer the class casting issue.

[code]

Same issues with https://github.com/dmlc/xgboost/issues/4218, https://github.com/dmlc/xgboost/issues/5186, https://github.com/dmlc/xgboost/issues/7599
## Repro

Env: spark 3.1.1, xgboost 2.0.0-snapshot

Install the below packages in your terminal

[code]

launch the noteboo

[2022-09-08 22:40] wbo4958 commented on #8236
The driver side loads the Booster with `scala.reflect.internal.util.ScalaClassLoader$URLClassLoader@11e637ea`, while the executor side loads the Booster with `org.apache.spark.util.MutableURLClassLoader@31add175`. So it can't do the casting even for the same class since they are loaded by different classloader.

[2022-09-08 22:41] wbo4958 commented on #8236
I tested by not using notebook + spylon, and submitted the application by spark-submit, and it can work, since both of sides loads Booster by `org.apache.spark.util.MutableURLClassLoader@31add175`

[2022-09-09 04:41] wbo4958 commented on #8236
I did the test running XGBoost on spark-shell  and it can work well.

Both Boosters are load by `scala.reflect.internal.util.ScalaClassLoader$URLClassLoader@5e76eb5a`

[2022-09-09 04:56] wbo4958 commented on #8236
I found a workaround by changing to

[code]

I don't think this is the xgboost-specific issue. Instead, it may be the spark's limitation. Just close this issue.

[2022-09-09 04:56] #8236 closed

[2022-09-09 06:16] wbo4958 commented on #8228
can you describe your testing script and configuration?

[2022-09-09 06:19] wbo4958 commented on #8221
@Faaany Would you have the minimum dataset to repro it?

[2022-09-09 08:17] kropacf opened #8237 "Heap-use-after-free error under libfuzzer"
XGBoost: 1.6.1
Ubuntu 22.04
libfuzzer: https://llvm.org/docs/LibFuzzer.html

We want to fuzz our application which is using xgboost. Unfortunately we ran to this type of error.

I made a small example in docker, all used files are packed in zip attachment.
[code]

Backtrace:
[code]

[fuzzer_example_docker.zip](https://github.com/dmlc/xgboost/files/9533552/fuzzer_example_docker.zip)