[2020-08-02 08:28] trivialfis commented on #5970
Got it.  Thanks.

[2020-08-02 08:32] hcho3 commented on #5970
I spent a fair amount of effort to automate building release binaries. What's not automated is to upload them to distribution channels (PyPI, CRAN, Maven Central etc).

[2020-08-02 11:15] hcho3 commented on #5970
TODO: Investigate whether GPU algorithm can be enabled in the JAR artifact. If the JAR file contains CUDA code, will it work on a cluster without a GPU? I will need to test and find out.

[2020-08-02 20:03] eafpres commented on #5447
I tried to update xgboost to use GPU today.
Windows 10 latest update
CUDA 10.1

First try:
`(keras-gpu-3) C:\Users\bbate>conda install -c nvidia -c rapidsai py-xgboost
Collecting package metadata (current_repodata.json): done
Solving environment: done

 All requested packages already installed.

Intel(R) MPI Library 2019 Update 6 for Windows* Target Build Environment for Intel(R) 64 applications
C

[2020-08-02 20:58] hcho3 commented on #5447
@eafpres The rapids-xgboost Conda package is available for Linux only. For now please use Pip to install XGBoost:

[code]

[2020-08-03 02:02] lq08025107 commented on #5158
facing the same issue

[2020-08-03 02:07] zjiash commented on #5158
@gsri9 @lq08025107 We solve the problem by setting system param `OMP_NUM_THREADS`.
Hope helpful for you.

[2020-08-03 02:14] trivialfis commented on #5158
You can set the `nthread` parameter.

[2020-08-03 19:11] ryan-wolbeck opened #5973 "Link to contributing guide broken"
In relation to https://github.com/dmlc/xgboost/pull/4659 the link for the contributing guide https://github.com/dmlc/xgboost/blob/master/doc/contribute.rst is down here: https://xgboost.ai/community. I'm thinking it should be linking to this file https://github.com/dmlc/xgboost/blob/master/doc/contrib/community.rst
Thanks,
Ryan

[2020-08-04 06:32] QuantHao opened #5976 "set min_child_weight as a float instead of int"
Hi, all

Based on xgboost documentation, min_child_weight is treated as number of observation for rmse objective and is usually chosen as int such as https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBRegressor.

However, I recently read a article saying that "With XGBoost, you can specify this parameter as a float as well. If you do, it will use a percentage of samples to

[2020-08-04 06:52] QuantHao commented on #5976
sklearn's min_samples_leaf supports float as a percentage of total sample size which makes sense to me. It would be great if xgboost supports similar functionality.

[2020-08-04 09:39] PivovarA opened #5977 "Difference in accuracy between distributed scala.spark.xgboost4j and single-node xgboost"
I noticed a difference in accuracy between distributed implementation of xgboost and single-node.
Moreover, the difference in accuracy changes with an increase in the number of estimators.
I would like to clarify if this behavior is expected and what could be the root cause of it?
I've prepared prepared a simple reproducer just to shows difference and how accuracy changes.

# Steps to reproduce
[c

[2020-08-04 16:39] Craigacp commented on #5970
That depends on how the library loading is done. If the GPU binary tries to dynamically load CUDA libraries then you'll get an [UnsatisfiedLinkError](https://docs.oracle.com/en/java/javase/14/docs/api/java.base/java/lang/UnsatisfiedLinkError.html) out of the native loader. You could probe for the presence of the CUDA libraries and then conditionally load the GPU binary, otherwise load the CPU one,

[2020-08-04 16:55] trivialfis commented on #5970
There's a stub library of CUDA linked into XGBoost so link time error should not happen.  But I agree that we should have better tests.

[2020-08-04 19:40] hcho3 commented on #5970
@Craigacp The GPU algorithm uses NCCL to perform allreduce, and including the NCCL library in the JAR file increases its size to 150 MB. Does Maven Central accept this large artifact? cc @CodingCat @sperlingxx

[2020-08-04 19:53] Craigacp commented on #5970
It does. For example libtensorflow jni GPU for 1.15 is 355 MB.

[2020-08-04 23:52] jeffreyhanson opened #5979 "[Feature proposal] Expose xgboost/c_api.h in R package for LinkingTo"
I am working on an R package which involves running lots of models, with various inputs/datasets, and doing various things with the outputs. Since speed is an important consideration, I am writing most of the code using C++ (embedded into the R package using the Rcpp package) and I am directly interfacing with the xgboost C api (via `<xgboost/c_api.h>`). Would it be possible to update the xgboost

[2020-08-05 02:34] trivialfis commented on #5976
Sorry for the mistake in our doc.   Also, the parameter you referred `min_samples_leaf` is indeed on our roadmap: https://github.com/dmlc/xgboost/issues/5444

[2020-08-05 04:26] #5976 closed

[2020-08-05 04:27] #5621 closed

[2020-08-05 04:43] fogloria commented on #5717
WARNING: /workspace/src/learner.cc:480:
Parameters: { scale_pos_weight } might not be used.
so how do you fix this?

[2020-08-05 04:48] trivialfis commented on #5717
@fogloria There's nothing to fix.  For multi class classification the parameter is not valid.

[2020-08-05 06:16] hcho3 opened #5983 "Revise SerializationTest to make it more robust with CUDA 10.x and 11.x"
#5808 added support for CUDA 11, and @canonizer reported that the `SerializationTest` test was succeeding with CUDA 10 but failing for CUDA 11. For now, we worked around it by increasing the data size, but we should make the test more robust.

[2020-08-05 07:30] trivialfis commented on #5983
It's a tough problem, like any issue related to floating error.  On the one hand we don't want to relax the test too much, the serialization tests catch a lots of bugs during development.  On the other hand floating error can cause structural changes in trees so in that case we don't actually have anything to assert.  If you have suggestions feel free to share, I would be happy to look into them.

[2020-08-05 15:33] QuantHao commented on #5976
Hi @trivialfis , thanks so much for your timely reply. May I double check with you that if min_child_weight is set as, for example, 0.01, it will be treated as n_sample * 0.01, meaning 1% of total sample?

Reference: https://kevinvecmanis.io/machine%20learning/hyperparameter%20tuning/dataviz/python/2019/05/11/XGBoost-Tuning-Visual-Guide.html#child_weight

[2020-08-05 15:46] trivialfis commented on #5976
No.  It's the minimum value of accumulated Hessian for each leaf.  Hessian is often used as a proxy for data in gradient boosting.

[2020-08-05 17:05] #5973 closed

[2020-08-05 19:14] jameskrach opened #5984 "Incorrect array shape returned by xgboost.dask.predict on multiclass predictions"
The function `xgboost.dask.predict` assumes that the shape of it's output is always `(n_rows, )`, but for multiclass classification it would be `(n_rows, n_classes)`.

Here's a minimum working example:
[code]

The offending line is [this one](https://github.com/dmlc/xgboost/blob/9c6e791e64afc8b10365ecc1ec2914dbe3b6554c/python-package/xgboost/dask.py#L778)

I don't know what the maintainers would c

[2020-08-05 19:16] hcho3 commented on #5984
@trivialfis This might be a blocking issue.

[2020-08-05 20:13] trivialfis commented on #5984
Will fix it first thing tomorrow.

[2020-08-06 00:25] vnijs commented on #5935
@trivialfis I was able to create a reproducible example of the issue using only the xgboost package and the titanic dataset from the `titanic` package. If you run the code below with NoLD you will get the error below.

Since testing on with R (NoLD) was a bit of a challenge, at least for me, I created a docker image (vnijs/nold) with R-devel NoLD on Ubuntu with Rstudio and build tools available. S

[2020-08-06 01:14] QuantHao commented on #5976
I see. Thanks for answering.

[2020-08-06 01:49] jameskrach opened #5985 "xgboost.dask.DaskXGBClassifier implementation of .predict() does not adhere to the sklearn API specification"
[Sklearn Specification for Classifiers](https://scikit-learn.org/stable/developers/develop.html#specific-models)

The `.predict()` method of `xgboost.dask.DaskXGBClassifier` currently returns probabilities. Per the specification, the `.predict()` method is supposed to return class labels. This is also inconsistent with the behavior of the `.predict()` method of `xgboost.XGBClassifier`, which prope

[2020-08-06 02:18] QuantHao opened #5987 "Maping min_child_weight of xgboost with min_sum_hessian_in_leaf of LightGBM"
Hi, all

When I read both documentation of xgboost and LightGBM, I am very confused about min_child_weight parameter. Based on @trivialfis answer in [#5976 ](https://github.com/dmlc/xgboost/issues/5976), min_child_weight in xgboost represents accumulated Hessian for each leaf, which literally means number of sample for [rmse objective](https://stats.stackexchange.com/a/323459/248610).

However, I

[2020-08-06 02:39] QuantHao opened #5988 "Should we tune only colsample_bynode instead of multiple colsample_by*"
Hi, all

xgboost provides us three colsample_by* : colsample_bytree, colsample_bylevel, colsample_bynode and saying that "colsample_by* parameters work cumulatively. For instance, the combination {'colsample_bytree':0.5, 'colsample_bylevel':0.5, 'colsample_bynode':0.5} with 64 features will leave 8 features to choose from at each split."

Thus, it seems that users should directly tune colsample_by

[2020-08-06 02:46] QuantHao commented on #5987
@thvasilo also mentions this mapping issue at [#5444 ](https://github.com/dmlc/xgboost/issues/5444). Any thoughts?

[2020-08-06 02:53] QuantHao commented on #5444
I think one problem of replace min_child_weight with min_child_instances is that: how to deal with sample weight? A good questions is raised and answered at [a LightGBM issue](https://github.com/microsoft/LightGBM/issues/2870).

[2020-08-06 04:50] jameslamb commented on #5796
it seems that the R linters are not running in CI right now. This is from the most recent build on `master` (https://github.com/dmlc/xgboost/runs/948472542):

![image](https://user-images.githubusercontent.com/7608904/89491851-d00ed580-d775-11ea-830b-e5feedc1bb71.png)

I wanted to try fixing some issues found by other linters tonight. Without adding any new linters, I ran this

[code]

A lot of li

[2020-08-06 05:03] hcho3 commented on #5796
@jameslamb It looks like GitHub Actions job timed out. I restarted the test. As for the issues, make sure to install XGBoost R package first by running `R CMD INSTALL .`. Otherwise you will see some bogus issue because R linter won't recognize symbols from XGBoost.

[2020-08-06 07:12] ferraric commented on #5915
Thanks for the answer and sorry for the long delay on my part.

Why I think the min_child_weight parameter has an influence: In the [documentation](https://xgboost.readthedocs.io/en/latest/python/python_api.html#) the parameter is described as: _"Minimum sum of instance weight(hessian) needed in a child"_ I took that to be the instance weight passed to the training. After reading the thread you li

[2020-08-06 08:56] hcho3 commented on #5970
@Craigacp @wbo4958 Here are the JAR files I built with GPU algorithm enabled:
* https://xgboost-examples.s3-us-west-2.amazonaws.com/xgboost4j_2.12-1.2.0-RC1.jar (142 MB)
* https://xgboost-examples.s3-us-west-2.amazonaws.com/xgboost4j-spark_2.12-1.2.0-RC1.jar (264 KB)

To install:
[code]

[2020-08-06 09:24] trivialfis commented on #5984
That's weird, we have tests on this and right now it's outputting the correct shape for me.

[2020-08-06 09:27] trivialfis commented on #5984
I have to increase the test size to obtain incorrect shape.

[2020-08-06 11:42] mirekphd commented on #4813
Anyone care to share a current working link example / limitations (last available version etc)? The nightlies page is empty, could not construct a working link using [the docs](https://xgboost.readthedocs.io/en/latest/build.html).

[2020-08-06 11:44] trivialfis commented on #4813
In the doc you reffed, there's a link https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/list.html

[2020-08-06 11:59] mirekphd commented on #4813
Thanks, I realized it's an issue with my apparently unsupported browser..., so got this listing page finally to work (by switching to incognito mode in Firefox).

However, the links format is not exactly as the docs specifies... there are several differences (two extra strings: "_SNAPSHOT" and "2010" and the "py2" token is gone - the docs need updating...):
[code]

[2020-08-06 13:08] guyko81 opened #5990 "Add arbitrary fieldname in set_float_info"
In #2255 the same question was asked but the issue was closed with no resolution.
Since then at least 2 new metainfo was added to the package: labels_lower_bound_ and labels_upper_bound_.
[https://xgboost.readthedocs.io/en/stable/dev/classxgboost_1_1MetaInfo.html](https://xgboost.readthedocs.io/en/stable/dev/classxgboost_1_1MetaInfo.html)
These new metainfo fields let xgboost to calculate survival

[2020-08-06 13:55] trivialfis commented on #5988
These are really just using randomness to combat the bias vs variance.  At the end it's about how much randomness do you want.  If you use bytree, then each tree will have a fixed set of splitting features.  On the other hand if you use bynode, the model might be more general, but it would also be very difficult to interpret.  For instance, if we want to change a default random seed or sampling al

[2020-08-06 13:55] #5988 closed

[2020-08-06 14:01] trivialfis commented on #5990
Could you please provide an example on what you are trying to do?  I'm confused why DMatrix has to be used as a container for your other information.

[2020-08-06 14:49] trivialfis opened #5991 "Update doc for nightly build."
https://github.com/dmlc/xgboost/issues/4813#issuecomment-669884358

[2020-08-06 15:15] guyko81 commented on #5990
I'm using a row level information like the one in AFT survival model
[https://xgboost.readthedocs.io/en/latest/tutorials/aft_survival_analysis.html](https://xgboost.readthedocs.io/en/latest/tutorials/aft_survival_analysis.html)

The reason I'm doing this is that I'm making a custom loss function that is similar to categorical crossentropy but sometimes I need to fill more than 1 column after the O

[2020-08-06 16:13] trivialfis commented on #5990
Can you do it with closure?

[code]

[2020-08-06 16:25] guyko81 commented on #5990
I think this solution wouldn't work in case of subsample<1 due to random behaviour of row selection.

[2020-08-06 16:27] trivialfis commented on #5990
subsample is used for constructing tree, not for objective.  Objective always computes gradient for all the samples, the tree updater filter out those not being sampled.

[2020-08-06 16:43] guyko81 commented on #5990
Interesting, didn't know. Thanks for letting me know.
In that case I don't see any reason not to use your proposal! Thanks 👍

Just can you please ensure me that the order is kept as well? Not like I'm expecting other, just want to be sure.

[2020-08-06 17:59] trivialfis commented on #5990
Glad that I can help.  The order is preserved.

[2020-08-06 17:59] #5990 closed

[2020-08-07 01:16] jameslamb commented on #5796
ohhhhh I see! I should have looked at the GitHub Actions config, I see that now. Thank you

[2020-08-07 01:18] QuantHao commented on #5988
Thanks so much for your reply. It seems that using colsample_bynode could prevent overfitting better, while colsample_bytree provides better stability for SHAP explanation.

[2020-08-07 02:41] Craigacp commented on #5970
The xgboost4j_2.12-1.2.0-RC1.jar loads just fine on Oracle Linux 7 (roughly equivalent to RHEL/CentOS 7). The error message when you try to run on GPU could probably do with prettying up a little though:
[code]

[2020-08-07 02:54] hcho3 commented on #5970
@Craigacp Did you set `tree_method='gpu_hist'`?

[2020-08-07 02:56] Craigacp commented on #5970
@hcho3 yes, I intentionally set it to use `gpu_hist` to see what the failure mode was on a CPU only machine. I admit I didn't try using the standard CPU algorithm in my quick test.

[2020-08-07 03:04] hcho3 commented on #5970
@Craigacp No, you have to explicitly opt into `gpu_hist`.

[2020-08-07 03:09] hcho3 commented on #5970
Thanks, we can maybe clarify in the message about GPU being unavailable.

[2020-08-07 09:56] vdiravka commented on #5158
Setting `nthread`, `n_jobs` and `OMP_NUM_THREADS` parameters to 1 didn't help. Java XGBoost creates a lot of native threads, but I need the only 1. Is it a bug? What is the workaround for this?

[2020-08-07 11:19] fjgmoya opened #5993 "predict() gets the same on every instance"
Hi! I was probing a simple sample based on https://docs.rapids.ai/api/cudf/stable/dask-xgb-10min.html sample.
I got some predicting problems, so I created a simplified case using numpy arrays and pandas dataframes.

I noticed that **xgboost predict method offers the same value on every instance**: in fact no prediction is got. On every execution, predicted value is different from previous executio

[2020-08-07 12:07] trivialfis commented on #5993
Could you try: https://xgboost.readthedocs.io/en/release_1.1.0/tutorials/dask.html  We are moving into this in tree implementation.

[2020-08-08 06:29] #5984 closed

[2020-08-08 21:01] trivialfis opened #5995 "[RFC] Merging RABIT into XGBoost."
## Background

This is a RFC for merging RABIT into XGBoost.  For a long time, RABIT enables support of distributed training for XGBoost and is integrated as a git submodule.  Most of tests are run on XGBoost and the code base of XGBoost is tightly connected to RABIT.  For example, serialization is built on rabit serializable interface, nccl unique ID is obtained from RABIT, quantile merging betwe

[2020-08-09 02:05] tqchen commented on #5995
Rabit would still be important for integration with existing opensource ecosystem, e.g. Dask, spark and flink. The fault tolerance part is important for scaling in real world settings where a node can fail.

Single worker failure and restart is quite common in real world production env, due to pre-emption or spot instance on the cloud. Normal MPI-based solutions usually requires all node to be ali

[2020-08-09 04:40] trivialfis commented on #5995
@tqchen Thanks for the comment.  Thus far single point recovery doesn't work on XGBoost as bootstrapping is still an unresolved issue.   We haven't decided what to do with it so we might continue extending the previous work on it or drop it completely in XGBoost.  The best scenario from my perspective is we can have it enabled on top of other MPI solutions.  If we want more development on it, incu

[2020-08-09 05:03] tqchen commented on #5995
I did see single point recovery work in previous cases, as long as the distributed protocol strictly follows the rabit protocol.

Hopefully the motivation was clear, that in production systems single point failure can happen more often and being able to handle them is critical to make the system scalable in a prod setting. I did recall the code worked for single point failure before.

If it does n

[2020-08-09 05:28] trivialfis commented on #5995
Got it.  The RABIT protocol is difficult to follow for most of the existing pipelines in XGBoost as we need synchronization during DMatrix construction.  So the real issue is how to recover DMatrix in a multi threaded (async) environment.  I'm not sure about the case you have seen as who did the test did not made the test part of XGBoost and so far I haven't seen any working example.  I believe it

[2020-08-09 08:52] trivialfis commented on #5995
@tqchen I just thought about the spot instance use case, I'm not sure how single point model recovery can help.  Since once a worker got unplugged all the other workers can not proceed until there's a replacement worker available.   So wouldn't it be better if we just check point the model and stop the training altogether?  XGBoost does work and being tested for training continuation.  For a concr

[2020-08-09 15:42] zqsha commented on #5815
OH. Great. I just came across the same issue. Glad to know this news. But, when I checked the latest version of xgboost in the CRAN (https://cran.r-project.org/web/packages/xgboost/index.html), it's still v1.1.1.1. Can I use the install.package to install the v1.2.0.1? Or I have to compile by myself? Thanks :)

[2020-08-09 16:39] tqchen commented on #5995
In most of the distributed execution env(e.g. spark, hadoop, dask). The data partitioning is done as part of the pipeline, in most such cases, the basic primitive are
[code]

Within the map function, the data is partitioned(by the execution env) into several group, and each of the group contains one partition of the dataset. Most of these frameworks also have fail-restart mechanism built in, which

[2020-08-09 17:14] trivialfis commented on #5995
Thanks for the clarification, the failure probability bit helped a lot, also the possible cost savings.  I will consider putting more effort into supporting single point model recovery in the future, would also like to hear opinions from others.

But just to to clear, according to @CodingCat the feature is not used, also the bootstrapping work done by @chenqin laid down a solid foundation but it s

[2020-08-09 17:22] trivialfis commented on #5995
Right now spark package kills the spark context in the face of failure, which I believe is to avoid hanging caused by model recovery.

[2020-08-09 17:27] tqchen commented on #5995
Again back to the point of being able to embed into distributed execution env. Note-ably there are two problems in relying on an existing MPI solution:

- A MPI library may not be readily available, nor compatible with the existing distributed execution env. As a matter of fact, most MPI implementations present themselves as exclusive execution environment without fault tolerance baked in.
- MPI c

[2020-08-09 17:34] trivialfis commented on #5995
Thanks for the detailed explanation.  Let me dig into the issues you listed.  :-)

[2020-08-09 17:37] trivialfis commented on #5995
Indeed ..

[2020-08-10 06:22] fjgmoya commented on #5993
@trivialfis thank you so much for your fast reply.
I was affraid because my test was realized on the simplest way: CPU use and numpy or pandas dataframe items.

So I have to assume that xgboost is under construction at present time, and this is the cause of wrong results. Is this correct? Do you have a time estimation about end of update work?
Thanks.

[2020-08-10 06:44] trivialfis commented on #5993
No.  It's the first time I heard of your issue.  But since we have an official dask interface now so I just not sure whether it's worthy to debug that one.
________________________________
From: Paco Gonzalez Moya <notifications@github.com>
Sent: Monday, August 10, 2020 2:22:46 PM
To: dmlc/xgboost <xgboost@noreply.github.com>
Cc: Jiaming Yuan <jm.yuan@outlook.com>; Mention <mention@noreply.github.

[2020-08-10 06:48] fjgmoya commented on #5993
Ah, ok @trivialfis. This sample makes me crazy, I cannot find where the error is.
Thanks anyway.

[2020-08-10 09:03] wannibar opened #5997 "can author or any other share about WHY xgboost use second order talyor expansion?"
i just want to know how author invent this algorithm...emm. so amazing. i am also interested about what is the inspiration to invent this algorithm (or why not use 3rd order talyor expansion or just 1st order talyor expansion as same as gbdt).

[2020-08-10 09:26] trivialfis commented on #5997
That's newton method.

[2020-08-10 09:26] #5997 closed

[2020-08-10 11:11] trivialfis opened #5999 "Add ampere support."
Should be as simple as adding a CMake gen code.  But I don't have access to it for testing right now, so this issue is for tracking the progress.

[2020-08-10 13:47] zahs123 opened #6000 "plotting my xgboost tree doesn't correspond to feature importances?"
my feature importance report shows that the top one is a one hot encoded variable. However when i plot the xgboost model the first node in the tree is not this variable. in fact i cannot see them anywhere.

what exactly does plot_tree plot?

e.g.

[code]

is it possible to visualize the tree including the one hot encoded variables?

[2020-08-10 19:20] zqsha commented on #5794
OH. Great. I just came across the same issue. Glad to know this news. But, when I checked the latest version of xgboost in the CRAN (https://cran.r-project.org/web/packages/xgboost/index.html), it's still v1.1.1.1. Can I use the install.package to install the v1.2.0.1? Or I have to compile by myself? Thanks :)

[2020-08-10 19:21] hcho3 commented on #5794
@zqsha We are working on 1.2.0 release. You can obtain the release candidate at https://github.com/dmlc/xgboost/issues/5970.

[2020-08-10 19:29] zqsha commented on #5794
OK. Great. Thanks a lot. Get it.

[2020-08-10 19:38] trivialfis commented on #5993
Alright, let me take a look later.  I'm curious too.

[2020-08-11 07:23] fjgmoya commented on #5993
Thanks in advance, @trivialfis. I wish it will be only a mistake of mine. But I cannot see where it is.

[2020-08-11 08:11] #5985 closed

[2020-08-11 08:13] trivialfis commented on #5970
@hcho3 All blocking PRs are merged into master branch.  I will back port  them today.

[2020-08-11 11:19] trivialfis commented on #5958
This error is quite obscure.  Basically any error might lead to this one.

[2020-08-11 11:20] trivialfis commented on #5935
Let me try looking into it tomorrow.

[2020-08-11 11:21] trivialfis commented on #5905
@vspinu Not rushing into anything, any update?

[2020-08-11 11:33] trivialfis commented on #5888
I can reproduce the issue on CLI. Will investigate.

[2020-08-11 11:35] trivialfis commented on #5979
I'm not entirely sure how to do that.  Just out of curiosity, since you are using multiple languages and each of them has its own dependencies, why using a R specific package manager, why not conda or some others?

[2020-08-11 11:36] trivialfis commented on #5970
Back port PR: https://github.com/dmlc/xgboost/pull/6002

[2020-08-11 11:37] trivialfis commented on #5741
Right now no.  I'm trying to unify the codebase inside XGBoost, can write something up later.

[2020-08-11 12:06] trivialfis commented on #5979
Surely if you want to help adding optional support for this in XGBoost we would love to review and help.  But from my experience, asking a language specific  dependency manager to manage libraries from other languages is quite hacky and difficult to maintain.

[2020-08-11 12:23] trivialfis commented on #5970
Merged.

[2020-08-11 19:03] scopatz commented on #5447
Please be careful when pip installing into a conda env though.

[2020-08-11 19:16] hcho3 opened #6006 "Possible slowdown in GPU hist"
https://discuss.xgboost.ai/t/cpu-faster-than-gpu-using-xgb-and-xgbclassifier/1772

[2020-08-11 19:44] trivialfis commented on #6006
Answered in there.  0.465s is too small to compare.

[2020-08-11 19:44] #6006 closed

[2020-08-11 19:53] eafpres commented on #5447
I cloned an env then did the install and it worked OK. Thanks!

[2020-08-12 00:58] hcho3 commented on #5970
Great! I'm preparing RC2 now.

[2020-08-12 07:00] #5991 closed

[2020-08-12 08:26] #5861 closed

[2020-08-12 08:34] vspinu commented on #5905
Not yet. Busy month at work. Added to my reminders. Will provide a PR within a week or two. Thanks for pinging.

[2020-08-12 08:58] trivialfis commented on #5905
No problem.  Just following up.  Have fun with it.

[2020-08-12 18:46] hcho3 opened #6008 "[CI] Multiple processes within communication group running on same CUDA device is not supported"
https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/master/416/pipeline

Will try to fix.

[2020-08-12 22:14] hcho3 commented on #5970
RC2 is now up. I've also uploaded JVM packages `xgboost4j-gpu` and `xgboost4j-spark-gpu` where the GPU algorithm is enabled.

[2020-08-12 22:24] JohnZed commented on #5970
Maybe change the phrasing to "CUDA 10.0 *or later* is required"? Same with python version?

[2020-08-12 22:26] hcho3 commented on #5970
@JohnZed Fixed.

[2020-08-13 00:11] AstralisRL opened #6010 "Segfault with XGBoosterPredict"
Hello everyone,

I have a segfault running the c_api. I use xgboost 1.2 but have the same issue with previous versions also.
Weirdly, the program works fine until it exits, where I get the following sefgault:

Valgrind memcheck shows:

I see the prediction is made and correct, and I do not forget to free the booster before exit.

What could be the problem?
Thanks.

[2020-08-13 00:13] hcho3 commented on #6010
Can you post your C program?

[2020-08-13 00:24] trivialfis commented on #6010
The returned data is stored in thread local memory and is managed by runtime.  So please be careful around it.

[2020-08-13 00:25] #5579 closed

[2020-08-13 00:27] AstralisRL commented on #6010
The array returned from XGBoosterPredict? I make sure I free it at the end of my function. Is it not enough?

[2020-08-13 00:28] hcho3 commented on #6010
@AstralisRL You should not free it, as that results into double-free.

[2020-08-13 00:30] AstralisRL commented on #6010
Sorry I meant the matrix handle, not the output array. I do not free that.

[2020-08-13 00:33] trivialfis commented on #6010
Could you please post a simple example that reproduce?

[2020-08-13 00:34] AstralisRL commented on #6010
Yes im writing it now!

[2020-08-13 00:53] AstralisRL commented on #6010
`

static constexpr filename = "model.bin";

class BoosterWrapper {
public:
	BoosterWrapper() {
		XGBoosterCreate(NULL, 0, &booster);
		XGBoosterLoadModel(booster, filename);
	}

	~BoosterWrapper() {
		XGBoosterFree(booster);
	}

	int Predict(const std::vector<float> v) const {
		DMatrixHandle dm;
		XGDMatrixCreateFromMat((float*) &v[0], 1, v.size(), NAN, &dm);
		const float* output = nullptr;
		b

[2020-08-13 01:09] trivialfis commented on #6010
Could you please complete the code?  I ran the following snippet with asan, didn't get any issue:

[code]

[2020-08-13 01:57] CyrilZhao-sudo commented on #5661
me too.
(1)   2020-08-12,21:50:15,724 ERROR XGBoostTaskFailedListener: Training Task Failed during XGBoost Training: TaskKilled(another attempt succeeded), stopping SparkContext
(2)  2020-08-12,21:50:16,765 ERROR ml.dmlc.xgboost4j.java.RabitTracker: Uncaught exception thrown by worker:
org.apache.spark.SparkException: Job 8 cancelled because SparkContext was shut down
(3)  2020-08-12,21:50:21,777

[2020-08-13 06:54] chegini commented on #1715
you can do ``conda install nomkl`

[2020-08-13 07:18] david-cortes opened #6012 "Boosting rounds missing from XGBClassifier docs"
The docs for `XGBClassifier` (https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBClassifier) do not have any parameter corresponding to the number of boosting rounds.

As far as I am aware, the number of boosting rounds is still controllable when using `binary:logistic` loss, and if I'm not mistaken, that XGBClassifier class should just be a wrapper around XGBModel (https:/

[2020-08-13 09:46] zwqjoy commented on #5841
@trivialfis  the bug has fixed ?

[2020-08-13 13:08] trivialfis commented on #5841
Yup, please try 1.2 rc.

[2020-08-13 16:43] AstralisRL commented on #6010
That is pretty much it. What is this thread local memory youre mentioning about? Is it lifetime bound to the model or released at exit?

[2020-08-13 19:28] hcho3 commented on #6008
The problem fixed itself.

[2020-08-13 19:28] #6008 closed

[2020-08-13 22:38] CodingCat commented on #5995
my 2 cents here

for us to use in a production environment,  fail all and recover from checkpoint is good enough. As many other frameworks like TF seems also go in this path. Based on this, to maintain Rabit the complexity of which are mostly comes from recovery logic is really an overhead

However, there are cases that the single point recovery is useful, e.g. I do see sometimes the Spark executo

[2020-08-14 00:22] hcho3 opened #6014 "[CI] Debug failing tests in the master branch"
* https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/master/425/pipeline/268
* https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/master/425/pipeline/272
* https://travis-ci.org/github/dmlc/xgboost/jobs/717683561

[2020-08-14 00:23] hcho3 commented on #6014
I'll try to reproduce https://travis-ci.org/github/dmlc/xgboost/jobs/717683561 on my Macbook.

[2020-08-14 02:59] dozaza commented on #5951
Hi guys,

I'm working an online XGBoost prediction service, and want to use Java Multi thread for better performance.

As C++ code has resolved thread safe feature, simply removing "synchronize" key word in Java "predict" method, could enable multi-thread prediction in Java Environment?

[2020-08-14 03:12] RAMitchell commented on #5995
Some thoughts from me:

After @tqchen's explanation I see the benefit of single worker recovery. My concern is that we don't have enough contributors with expertise here to implement and make the feature robust. I think it needs a lot of work, and even then may not be super robust due to so many edge cases in xgboost, such as trying to recover with process_type=update or with GPU training.

If we

[2020-08-14 03:20] tqchen commented on #5995
I think the bottom line is that we need to make sure that the interface are compatible, and can be embedded into the distributed exec env like Dask/Spark. There is a lot of values in ability to embed an allreduce into the distributed execution env. And I see value of that in rabit beyond the single point recovery ability.

It is fine to drop in and replace with other allreduce frameworks as long a

[2020-08-14 03:22] trivialfis commented on #5995
It's fairly easy on C++, we just need to add an backend.  MPI is a no-go as mentioned by @tqchen .  But something more primitive like UCX might still be a viable option, I will need to look into it in with more details.  Single point recovery is a nice idea, especially in the face of growing size of data.  So if the RABIT protocol can be enabled as a thin layer on top of another comm library I'm f

[2020-08-14 03:30] trivialfis commented on #5951
The C API is thread safe now.  You need to check whether JAVA layer has additional states.

[2020-08-14 03:43] AstralisRL commented on #6010
If I replace in class `A`, `BoosterWrapper *bwrapper;` by `std::unique<BoosterWrapper> bwrapper;` I get a different error:

==25001==    at 0x127DAA2E: malloc (vg_replace_malloc.c:270)
==25001==    by 0xD5449FC: operator new(unsigned long, std::nothrow_t const&) (new_opnt.cc:43)
==25001==    by 0xD542905: __cxa_thread_atexit (atexit_thread.cc:146)
==25001==    by 0x76AE43A: xgboost::LearnerImpl::~

[2020-08-14 03:52] trivialfis opened #6015 "Add tests for dtreeviz"
https://github.com/dmlc/xgboost/pull/6013

[2020-08-14 05:45] mengdong opened #6016 "Illegal memory access when doing 2 back to back training with RMM allocator."
Error log, as we see that the first training is successful while the second training failed. Both training use the same training data and same training params. I wonder if you can test with a back to back training use case, if not I can provide a repro, it will take a bit of time.

[code]

[2020-08-14 05:49] trivialfis commented on #6016
@hcho3

[2020-08-14 05:49] hcho3 commented on #6016
Thanks for testing. Did you re-use the Dask cluster object?

[2020-08-14 05:54] mengdong commented on #6016
correct the code looks like:
[code]

[2020-08-14 05:55] hcho3 commented on #6016
Where is the cluster object? Did you use `LocalCUDACluster`?

[2020-08-14 05:58] mengdong commented on #6016
this is not a localCUDACluster, but a distributed scheduler + dask cuda workers

In localCUDACluster, the second training won't even start.
[code]

[2020-08-14 06:00] mengdong commented on #6016
Also I think ideally when XGBoost and dask_cudf both use RMM, dask_cudf should be able to hand over the GPU memory to XGBoost and spill to host memory. The current behavior is OOM.

[2020-08-14 06:02] hcho3 commented on #6016
You can set `rmm_pool_size` option in `LocalCUDACluster`. How do you currently initialize the RMM memory pool? Without initializing, XGBoost will use the default CUDA memory allocator, which just defaults to `cudaMalloc()`.

[2020-08-14 06:02] hcho3 commented on #6016
Can you post an example with `LocalCUDACluster` that produces crashes?

[2020-08-14 06:03] trivialfis commented on #6016
@hcho3 To launch a cuda cluster on local machine, you can first launch `dask-scheduler` and then `dask-cuda-worker`.

[2020-08-14 06:03] trivialfis commented on #6016
They are command line tools, you can check the help option.

[2020-08-14 06:03] mengdong commented on #6016
localCUDAcluster:

[code]

[2020-08-14 06:40] hcho3 commented on #6016
@mengdong I ran your script just now and I could not reproduce the error.

Output:
[code]

Hardware: AWS EC2 instance, g4dn.12xlarge type (Four NVIDIA T4 GPUs), Ubuntu 18.04 LTS, CUDA 10.2, GCC 7.5.0

I obtained HIGGS.csv from https://archive.ics.uci.edu/ml/datasets/HIGGS and put it in the EBS volume attached to the EC2 instance.

Conda environment:
[code]

<details><summary>Output from "conda lis

[2020-08-14 06:55] mengdong commented on #6016
I use about 12 GB of data for 1 T4.

[2020-08-14 07:00] hcho3 commented on #6016
Does your system have only 1 T4 card? Please be more specific about your hardware setup.

[2020-08-14 07:02] hcho3 commented on #6016
@mengdong Is it possible to share characteristics of the data? I assumed it was HIGGS, but I may be wrong.

[2020-08-14 21:57] hcho3 commented on #6016
@mengdong Thank you for letting me access to your data. I downloaded all 46 CSV files (each 1GB) and ran the script. It ran all the way without crashing.
[code]

[2020-08-14 22:50] jeffreyhanson commented on #5979
Excellent - I'll look further into this and see if there's a simple solution - thanks @trivialfis! Yeah, the reason I'm writing this as an R package is that I need to fit these analyses within a broader analysis (written in R, because R has excellent support for data wrangling, statistical analysis, visualization, and spatial data operations). Also, the Rcpp package makes it trivially easy to embe

[2020-08-16 03:58] trivialfis commented on #6016
Do we have a specific commit of RMM and dask and dask cuda?

[2020-08-17 05:12] mengdong commented on #6016
I verify the issue no longer exists when I use a stable rapids runtime. Closing the bug. Thanks @hcho3 for investigating and @trivialfis

[2020-08-17 05:12] #6016 closed

[2020-08-17 07:11] d901971 opened #6017 "AttributeError: ‘XGBoostClassifier’ object has no attribute ‘maxBins’"
I am using

When i use maxBins, XGBoostClassifier said that it does not the attribute.
The rest of the parameters i used work fine.

Code Snippets:
-------------------------------------------
from sparkxgb import XGBoostClassifier as xgb_est
from sparkxgb import XGBoostClassificationModel

paramMap = { “evalMetric”: ‘auc’,
    “numRound”: 5,
    “eta”: 0.1,
    “minChildWeight”: 5.0,
    “maxDepth

[2020-08-17 07:15] d901971 commented on #5177
I am using

When i use maxBins, XGBoostClassifier said that it does not the attribute.
The rest of the parameters i used work fine.

Code Snippets:
================================================================

from sparkxgb import XGBoostClassifier as xgb_est
from sparkxgb import XGBoostClassificationModel

paramMap = { “evalMetric”: ‘auc’,
“numRound”: 5,
“eta”: 0.1,
“minChildWeight”: 5.0,
“ma

[2020-08-17 07:54] PivovarA commented on #5977
Are there any updates here? Maybe I should provide some additional information?

[2020-08-17 09:15] DoubleYing opened #6018 "Some questions about xgboost-spark 0.72 for multi-class classification task"
Does xgboost-spark 0.72 support for multi-class classification task？
when I added num_class to params_map of xgb model, it didn't works.
so where can i find a demo or the official document?

[2020-08-17 15:57] viswanathk commented on #5951
Java layer doesn't seem to maintain any state that get's updated on the `predict` flow. Raised the PR https://github.com/dmlc/xgboost/pull/6021

Who's the maintainer / reviewer for the Java package?

[2020-08-17 18:20] trivialfis commented on #6018
I don't think 0.72 is supported anymore.

[2020-08-17 18:20] #6018 closed

[2020-08-17 18:22] trivialfis commented on #6014
Let's see how https://github.com/dmlc/xgboost/pull/6009 is holding up.

[2020-08-17 18:50] trivialfis commented on #5177
Until there's effort on pushing the PR I don't think we can answer any question about it.

[2020-08-17 19:45] trivialfis opened #6022 "Investigate accuracy difference for distributed CPU hist."
The difference can be reproduced with test_hist in dask tests.  I think there are some heuristics on distributed CPU hist that differs from single node tree building.  But the result should be close.

[2020-08-17 20:03] trivialfis commented on #6022
https://github.com/dmlc/xgboost/issues/5977

[2020-08-17 20:49] trivialfis commented on #6012
There is no num boost round for skl interface, only n estimator.  It's equivalent, just different jargons that we are not able to change.

[2020-08-17 20:56] trivialfis commented on #5567
Sorry, completely missed this....  To enable grid searching with dask, we need a grid search implementation that is aware of MPI based algorithm.  I'm hoping I can jump into dask ml, but so many things piled up.

[2020-08-17 20:57] trivialfis commented on #5531
I have a local branch that can slice the model, but it still need to handle Python's negative slice.

[2020-08-17 20:58] trivialfis commented on #6010
Search `thread_local` for C/C++.

[2020-08-17 22:39] hcho3 commented on #6014
@trivialfis Did #6020 fix the failing test in Travis CI?

[2020-08-17 22:40] hcho3 commented on #6014
#6024 should fix the segfault after GPU tests.

[2020-08-17 23:45] #6014 closed

[2020-08-18 03:51] trivialfis commented on #5977
There are some floating point difference that can not be prevented.  Like sketching, we need to merge sketches from different workers which can generate additional difference.  Also reducing histogram across workers, which generates floating point error due to non-associative aspect of floating point summation.  Right now we are testing these kind of things with a tolerance.  For large size of clu

[2020-08-18 04:44] david-cortes commented on #6012
@trivialfis : thing is, there is no mention of `n_estimators` in the docs either.

[2020-08-18 05:01] thinker111 opened #6025 "'tree_method': 'hist' is faster than 'tree_method': 'gpu_hist'"
Hi, community

     When I run the following code, the training time is weird since it costs 0.0189s when using 'hist' ,while costing 0.1227s when using 'gpu_hist'.

More info:
OS: win10, anaconda3,RTX2060
And when I run /benchmark/benchmark_tree.py, the training time costs 12.15s when tree_method=gpu_hist ,while costs  30.77s when tree_method=hist

Thanks
[code]

using hist:
[0]     test-merror:0

[2020-08-18 06:08] RAMitchell commented on #6025
Speedup from GPU is only expected on larger datasets.

[2020-08-18 06:30] thinker111 commented on #6025
Thanks,bro!

[2020-08-18 06:30] #6025 closed

[2020-08-18 08:20] rohan-gt opened #6026 "[Feature Request] Auto early stopping"
Is it possible to perform early stopping using cross-validation or automatically sampling data from the provided train set without explicitly specifying an eval set?

[2020-08-18 11:15] MrRace commented on #4840
for me, class num is 33, do the mutil-label text classification, in the inference stage, it will cost a minute for a input text. What should I do to accelerate the inference? Thanks a lot!

[2020-08-18 11:55] #3754 closed

[2020-08-18 11:55] #5308 closed

[2020-08-18 15:28] trivialfis opened #6029 "Set `CMAKE_CUDA_ARCHITECTURES`."
With CMake 3.18, there's a warning:

[code]

It seems we need to set it manually.  Opening an issue for tracking.

[2020-08-18 17:03] webzest opened #6030 "Error in predict.xgb.Booster(xgb_mod, dtest) : Feature names stored in `object` and `newdata` are different!"
I am trying to build a model to predict housing prices in R R version 4.0.2 (2020-06-22), with the latest updates.
The code runs fine without errors until I tried to call the predict function on the unknown data to generate a prediction.

My data came from the Kaggle Housing Competition Web site [https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data](Kaggle Data Source)

[code]

[2020-08-18 18:17] #6017 closed

[2020-08-18 18:57] trivialfis opened #6031 "[Roadmap] 1.3.0 Roadmap"
@dmlc/xgboost-committer Please add your items here by editing this post. Let's ensure that

* Each item has to be associated with a ticket
* Major design/refactoring are associated with a RFC before committing the code
* Blocking issue must be marked as blocking
* Breaking change must be marked as breaking

For other contributors who have no permission to edit the post, please comment here about w

[2020-08-18 22:54] QiwenZheng1234 opened #6032 "plot_model function in pycaret returns KeyError: 'weight' for xgboost model"
I've got an error that relates to this line:
 `coef = np.array(json.loads(b.get_dump(dump_format='json')[0])['weight'])`
when I ran plot_model function in pycaret. If I switch from xgboost to rf, no errors. So it is related to xgboost model specifically.
My xgboost version is 1.1.1.

Below are the codes that generated this error:

[code]

And the errors are:

[code]

[2020-08-18 22:58] #6032 closed

[2020-08-18 22:59] QiwenZheng1234 commented on #6032
Upgrade xgboost version to 1.1.1 actually worked for me. I didn't refresh my notebook kernel after upgrading. Sorry!
`pip install --upgrade xgboost`

[2020-08-19 09:41] rohan-gt opened #6034 "[Enhancement] Add default ranges for hyperparameter tuning"
Is it possible to add good default conservative ranges for each of the hyperparameters for tuning purposes in the documentation? By this I mean something like [0, 100] instead of [0, Infinity] based on results from testing on a lot of different datasets so that these ranges can directly be used for tuning without worrying about what the right values should be each time?

Another alternative could

[2020-08-19 09:43] hcho3 commented on #6026
`xgboost.cv()` supports early stopping via cross-validated metrics.

[2020-08-19 09:54] trivialfis commented on #6034
There's https://github.com/dmlc/xgboost/issues/4986 , can that help?

[2020-08-19 10:57] rohan-gt commented on #6026
@hcho3 modified the title. This is not available in the Sklearn API right?

[2020-08-19 12:02] rohan-gt commented on #6034
@trivialfis that issue is about static default parameters. I'm looking for default parameter ranges which can then be tuned using an optimization algorithm like [BOHB](https://automl.github.io/HpBandSter/build/html/optimizers/bohb.html)

[2020-08-19 13:04] ilkerkurtulus opened #6036 ""Parameters: { reg_lamda } might not be used" warning"
When I try to fit xgboost (scikit-api) by using cv results, I get the following error:

OS: macOS Mojave 10.14.5
Python 3.7.3
scikit-learn 0.22.2
xgboost 1.1.0
Anaconda Environment

Example Code:

[code]

[2020-08-19 15:11] hcho3 commented on #6026
No.

[2020-08-19 15:13] hcho3 commented on #6036
Please correct the spelling: reg_lamda -> reg_lambda.

[2020-08-19 15:13] #6036 closed

[2020-08-19 17:39] #5530 closed

[2020-08-19 22:13] trivialfis commented on #6026
I will look into this one later.

[2020-08-20 04:57] Rupam07 opened #6039 "AttributeError: 'DataFrame' object has no attribute 'feature_names'"
Created an xgboost model saved it in a pickle file and loading it to predict on a new dataset with the same features.

Cannot perform prediction on the new data gives an error:

AttributeError: 'DataFrame' object has no attribute 'feature_names'

Code for reference:

num_round = 7000
param_grid = {'tree_method': 'gpu_hist',
              'max_depth': 3,
              'learning_rate': 0.01,

[2020-08-20 06:38] trivialfis commented on #6039
Could you please provide a snippet that I can run?  The data can be simply something from `sklearn.datasets`.

[2020-08-20 14:00] Rupam07 commented on #6039
Sure thank you for getting back.
We can try using  `sklearn.datasets.fetch_california_housing`  as an example dataset for running the code.

Also available at : http://lib.stat.cmu.edu/datasets/

[2020-08-20 16:48] trivialfis commented on #6039
Thanks for replying.  But could you please provide the code that I can run and see the error.  I tried to fill in the blanks but didn't go anywhere.   california_housing is a numeric dataset, which means there's not categorical column for encoding.

If you can't provide the script, can you please post the error backtrace and XGBoost version?

Lastly, this is the result of me filling in the blanks:

[2020-08-20 16:55] Rupam07 commented on #6039
Sorry, it is a company data and code so cannot share more than what I included above but the traceback for the error is here:
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-21-507a0aa82c90> in <module>()
----> 1 predictions = prediction(test)
      2 predictions

3 frames
<ipytho

[2020-08-20 16:58] trivialfis commented on #6039
Got it.  Please use `DMatrix` for prediction.  If you want to pass the data directly, use `inplace_predict`.

[2020-08-20 17:06] Rupam07 commented on #6039
So, the prediction function I use to predict the new data using the model is:
*************************************************************************************************
def prediction(df):
    df = df.copy()
    with open("model.pkl", "rb") as fp:
        model = pickle.load(fp)
    predictions = model.predict(df)
    return predictions

predictions = prediction(test)
predictions
This funct

[2020-08-20 17:09] trivialfis commented on #6039
There are 2 ways for predictions:
- First, using `booster.predict`
[code]

- Second, using `booster.inplace_predict`:
[code]

[2020-08-20 17:13] trivialfis commented on #6039
Sorry, corrected a typo in above snippet.

[2020-08-20 17:13] Rupam07 commented on #6039
Okay what should I change in the prediction function I create in order to predict a new dataset?
Since my trained model is pickled and I am currently using `model.predict(df)` which throws an error

def prediction(df):
df = df.copy()
with open("model.pkl", "rb") as fp:
model = pickle.load(fp)
**predictions = model.predict(df)**
return predictions

[2020-08-20 17:20] Rupam07 commented on #6039
The initial prediction on the validation dataset using the following code works perfectly fine and gives the mean_squared_error as well:

`predictions = bst.predict(dtest)`
`mean_squared_error(valid_y, predictions)`

The error is when I use the trained model pickle file and try predicting using the same on a new dataset

[2020-08-20 17:22] trivialfis commented on #6039
Modifying your snippet:

[code]

or

[code]

[2020-08-20 17:27] trivialfis commented on #6039
Also please use normal `booster.save_model` instead of pickle when possible.  Pickle file is not designed to be stable.

[2020-08-20 17:28] Rupam07 commented on #6039
Ok so I used :
def prediction(df):
    df = df.copy()
    with open("model.pkl", "rb") as fp:
        model = pickle.load(fp)
        dtest = xgb.DMatrix(df)
        predictions = model.predict(dtest)
        return predictions..astype("int")

And got the following error:
ValueError                                Traceback (most recent call last)
<ipython-input-28-507a0aa82c90> in <module>()
---->

[2020-08-20 17:30] trivialfis commented on #6039
So the error message said data type should be int, float or bool.  Can you change it?

[code]

[2020-08-20 17:36] Rupam07 commented on #6039
Sorry I know I am asking too many questions but I really need this thing to work and it is still throwing errors.

I changed the df.astype(float)

And the error it throws is :
ValueError: could not convert string to float: 'TA'

[2020-08-20 17:38] trivialfis commented on #6039
@Rupam07 That's an error from pandas instead of XGBoost I believe.  How did you train the model?  Why is your data containing string?

[2020-08-20 17:42] Rupam07 commented on #6039
I converted all the categorical columns and strings values using one hot encoding but still showing this error there are not additional columns in the data in my knowledge.

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-40-507a0aa82c90> in <module>()
----> 1 predictions = predic

[2020-08-20 17:51] trivialfis commented on #6039
Did you verify it before calling `df.astype(float)`?  By looking into the data?  Sometimes one might make some small bugs like:

[code]

Or there's more categorical data you didn't know about.  Best thing you can do is actually looking into the data by `print`, or do
[code]

[2020-08-20 17:57] Rupam07 commented on #6039
I think it is the second case that you mentioned that there are more categorical data that I might not know about. So, for the new data that I have to predict on and for which I would use the trained model for predictions. How can I match the features in the trained model and the new data that has additional features as well which I might not know of ?
So that I can avoid this error

[2020-08-20 18:01] trivialfis commented on #6039
It's your data, you can verify it or write a script to verify it.

[2020-08-20 18:05] trivialfis commented on #6039
Closing as the original issue is resolved.  Feel free to open new ones when needed. ;-)

[2020-08-20 18:05] #6039 closed

[2020-08-20 18:06] Rupam07 commented on #6039
Thank you for the help 👍

[2020-08-20 20:08] Rupam07 opened #6043 "ValueError: feature_names mismatch"
This error is in continuation to the issue #6039 and it throws valueerror after encoding the string and categorical values with one hot encoding in the test dataset.
Please help me with the same.

I am building a model and then saving the model to pickle file and now after the save is complete I use it to predict new data. Converting the test data using one hot encoding and then predicting using t

[2020-08-21 00:31] d901971 commented on #5177
Hi Jia Ming,I discover the issue. It is just a typo. Name should be 'maxBin'. The wrapper is showing as 'maxBins'.
Regards

    On Tuesday, 18 August 2020, 02:50:41 am GMT+8, Jiaming Yuan <notifications@github.com> wrote:

Until there's effort on pushing the PR I don't think we can answer any question about it.

—
You are receiving this because you commented.
Reply to this email directly, view it

[2020-08-21 02:23] #6012 closed

[2020-08-21 02:25] thesuperzapper commented on #5177
Yeah, sorry guys about abandoning the PR, (BTW, the latest code in the PR is actually newer than the latest zip file I uploaded)

The main thing that stopped me getting it done was getting release infrastructure setup for a python package.
I think the best way to go about it in the short term is embedding it in the Jar file. (Like the PR dose right now)

[2020-08-21 02:30] trivialfis commented on #5177
Can we help on the release infrastructure?

[2020-08-21 02:45] trivialfis commented on #6043
So can you match the feature names?

[2020-08-21 02:49] Rupam07 commented on #6043
Yes the feature names are all in the same order and they do match in both test and train data

[2020-08-21 02:49] hcho3 commented on #6043
Try passing `validate_features=False` option to the `predict()` function.

[2020-08-21 02:58] Rupam07 commented on #6043
That worked. Thank you for the help @hcho3 and @trivialfis.

Can you please explain @hcho3 why the error occurred before and how did this change solve it?

[2020-08-21 03:00] hcho3 commented on #6043
I think there is a mismatch in the feature names. You can check by printing out the training and test data matrices.

[2020-08-21 03:03] Rupam07 commented on #6043
So, I check and the train dataset has one additional feature which is the target variable and this is the only change. Also does `validate_features=False` affect the prediction results? Like would the prediction results still be accurate enough with the change?

[2020-08-21 03:11] hcho3 commented on #6043
You should try to match feature names to avoid any potential mistakes, since disabling the name check may accidentally cause the predictor to use wrong features.

Did you remove the target variable from the training data matrix? If not, you'll get wrong results silently. Since you were getting an error about mismatched feature names before, it appears that you did not remove the target variable fr

[2020-08-21 03:13] dding3 opened #6044 "trained distributed xgboost model is much bigger than python single node xgboost model with same hyper parameters"
Trained a distributed XGBRegressor with XGBoost4J-Spark as:
[code]

Also trained a single node python xgboostregressor as:
[code]

The two models are trained with the same training dataset. And the training dataset has more than 6 million records. After we save the two models on file, we found the model size is very different. 2G for distributed xgboost model while 350M for single node python xgbo

[2020-08-21 03:17] Rupam07 commented on #6043
So, I did remove the target variable from while training the model
train_x -> training dataset

train_y = train_x.pop('target')
train_x, valid_x, train_y, valid_y = train_test_split(train_x, train_y, test_size=0.2, random_state=1234)

categorical_cols = ['a','b','c','d','e','f','g']
le = LabelEncoder()

train_x[categorical_cols] = train_x[categorical_cols].apply(lambda col: le.fit_transform(col))

[2020-08-21 03:20] Rupam07 commented on #6043
This is the function that I use with the above pickled model for making predictions on a new dataset with same set of features excluding the target variable.

def prediction(df):
   with open("model.pkl", "rb") as fp:
        model = pickle.load(fp)
    df = df.astype(float)
    dtest = xgb.DMatrix(df)
    predictions = model.predict(dtest,validate_features=False)
    return predictions

[2020-08-21 03:22] hcho3 commented on #6043
Can you print the name of features in both `dtrain` and `dtest`? You can print `dtrain.feature_names` and `dtest.feature_names`.

[2020-08-21 03:25] Rupam07 commented on #6043
Sure, this is the result:

testf = dtest.feature_names
trainf = dtrain.feature_names

testf == trainf

Result: True

[2020-08-21 03:27] hcho3 commented on #6043
Hmm, can you post the error message from the feature_names mismatched error? I have no idea why you'd get that error.

[2020-08-21 03:31] Rupam07 commented on #6043
So, when I print the `dtest.feature_names` from the `prediction()` function and compare it with the testf and trainf feature it shows False

dtestf = dtest.feature_names
dtestf == testf
`False`
dtestf == trainf
`False`

Can that be the reason this error is occuring?

[2020-08-21 03:34] hcho3 commented on #6043
Indeed, that is why the error is occurring. Please modify the feature names of `dtest` from the `prediction()` function.

[2020-08-21 03:34] #6043 closed

[2020-08-21 03:41] trivialfis commented on #6044
Can you dump out the tree and see the difference?  If you can use 1.2rc: https://github.com/dmlc/xgboost/issues/5970 you can also try JSON output and see the difference, like number of trees in total.

[2020-08-21 03:42] trivialfis commented on #6044
Unrelated, I'm not sure why would you set max depth to 50, that's 1125899906842624 leaf.  I don't think it make sense of have something this huge for 6 million records.

[2020-08-21 04:11] trivialfis commented on #6044
I think there might be integer overflow during training as the tree note is represented as 32bit integers...

[2020-08-21 08:13] FelixYBW commented on #6044
It's the same issue as #5977 and #6022 actually. Root cause is why distributed xgboost generate a much different model (larger model size, lower accurancy) from single node xgboost.

[2020-08-21 14:08] ashraf-01 opened #6046 "where to find th sequentially-bootstrapped versions !!!!!!"
Hi all ,
am looking in to the possibility of applying the  of boosting gradient method within the RF algorithm in python , but mainly because of ordering of the sample points is important to my applications , mainly time series , am looking in to applying the sequentially -bootstrapped version of the above ?
basically I wanna still be able to find a probability on the predictions generated after t

[2020-08-21 23:15] hcho3 opened #6047 "[CI] Failing tests in 1.2.0 branch"
https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/release_1.2.0/11/pipeline/267
[code]

This is blocking 1.2.0 release.

Failing tests
* `tests/python-gpu/test_gpu_with_dask.py::TestDistributedGPU::test_dask_array`
* `tests/python-gpu/test_gpu_with_dask.py::TestDistributedGPU::test_dask_dataframe`
* `tests/python-gpu/test_gpu_with_dask.py::TestDistributedGPU::test_empty_dmatrix`
* `

[2020-08-22 03:24] zhouyanggang opened #6049 "Investigate a viable path to support distributed training on Windows"
The log information of the program is as follows:

Tracker started, with env={DMLC_NUM_SERVER=0, DMLC_TRACKER_URI=10.72.55.58, DMLC_TRACKER_PORT=9091, DMLC_NUM_WORKER=1}
11:17:45 363 |- INFO Logging - Starting job: foreachPartition at XGBoost.scala:604
11:17:45 364 |- INFO Logging - Got job 4 (foreachPartition at XGBoost.scala:604) with 1 output partitions
11:17:45 364 |- INFO Logging - Final stag

[2020-08-22 03:55] #6049 closed, assigned to nobody

[2020-08-22 19:06] #6047 closed, assigned to nobody

[2020-08-24 08:00] SeanCoek opened #6053 "Why can't I find the version 0.4 on PyPI?"
I want to install the old version (0.4) of xgboost, but it is not available on PyPI. Is there other way to install it?

[2020-08-24 08:25] hcho3 commented on #6053
You can checkout the v0.40 tag and compile the source.

[2020-08-24 08:25] #6053 closed

[2020-08-24 09:42] hcho3 commented on #6053
@SeanCoek Also can you tell me why you want to use 0.4 version? In what ways does the latest version does not meet your needs?

[2020-08-24 20:14] a-johnston commented on #4628
I understand that this issue is regarding successive training runs and not parallel but @CodingCat can you give some brief context for why parallel training runs are not supported? Ideally I would like to allocate N workers for each of M parallel training calls (given a cluster allocated to have N*M available workers) to better scale tuning as it there's a sharp falloff in benefit from adding more

[2020-08-25 01:49] SeanCoek commented on #6053
Just make sure there are no compatible problems on my new machine since I use 0.4 version on my old machine.

[2020-08-25 02:20] SeanCoek commented on #6053
I have checked out the v0.40 source code and there are no **python-package/**, only **R-package/** instead. Where can I find the **setup.py** script and run it to install xgboost?

[2020-08-25 02:22] hcho3 commented on #6053
I'ts under `wrapper/` directory.

[2020-08-25 02:26] SeanCoek commented on #6053
It works! Thanks a lot.

[2020-08-25 03:15] caffett commented on #1715
What is the magic behind this?

[2020-08-25 14:33] trivialfis opened #6057 "Thread safe prediction contribution."

[2020-08-25 15:34] trivialfis opened #6059 "Flaky test for distributed hist loss guide."
[code]

[2020-08-25 20:32] #5734 closed

[2020-08-25 20:33] hcho3 commented on #5734
1.2.0 is now released.

[2020-08-26 06:06] brightcoder01 commented on #5965
Gentle ping. @trivialfis How do you think of this feature request?

[2020-08-26 06:18] trivialfis commented on #5965
I will look into it.  Should be easy enough.  Currently I'm cleaning up the old code base for categorical data support so it might take a while.  Would you like to open a PR? I'm happy to help.

[2020-08-26 06:56] hcho3 commented on #5965
@trivialfis I can take a shot.

[2020-08-26 07:05] trivialfis commented on #5965
Thanks!

[2020-08-26 14:23] ivan-marroquin opened #6060 "Warning message when saving model"
Hi there,

I am using Python 3.6.5 on a windows machine, with xgboost 1.1.1 and scikit-learn 0.20.2.

So, I train a classifier defined as follows:

best_trained_model= xgb.XGBClassifier(num_class= n_class, max_depth= best_max_depth, n_estimators= 100, verbosity= 0, objective= 'multi:softmax', booster= 'gbtree', tree_method= 'exact', n_jobs= cpu_count, learning_rate= best_learning_rate, gamma= 0.25

[2020-08-26 19:18] trivialfis commented on #6060
My guess is these objects can not be serialized by Python JSON module.  (It's part of Python standard library).

Nothing.  Training parameters are not supposed to be saved in a normal sense.  See https://xgboost.readthedocs.io/en/latest/tutorials/saving_model.html for details about what should be saved in a model.  In short, if you use the model for prediction, these parameters are useless.  If yo

[2020-08-27 00:27] FelixYBW commented on #5977
I did some test, here is the result:
- Default value of max_bin and tree_method is different. Single node is 256 and "tree", spark is 16 and "auto". @trivialfis @CodingCat  are they on purpose?
- using the same parameter and make sure the same data set row order, single node, single rank Spark and single rank dmlc_submit generate exactly the same model. accurancy are all 0.08576235795386919
- with

[2020-08-27 03:08] trivialfis commented on #5977
I'm sure 16 bins is not an optimal parameter ...

[2020-08-27 09:57] narshon opened #6065 "XGBoostError: Labels must be in sorted order"
I am experiencing this error when training my model with a dataset:
[code]
Environment:
OS - centos 7
Python - 3.6.10

The dataset summary is as follows: -
[code]

Error occurs during training:
[code]
My params are as below:
[code]
I scaled the parameters down so I can get a quicker turn-around for troubleshooting.
Any help to point to where this could be wrong will be highly appreciated.

[2020-08-27 14:19] PivovarA commented on #5977
Different default values of parameter ​​between different languages ​​and modes can lead to serious problems:  unpredictable increase in model size and different accuracy, as, for example, in this case.
Are there any good reasons why these parameters cannot be aligned?

[2020-08-27 16:18] JohnZed commented on #5619
@trivialfis this is closed by https://github.com/dmlc/xgboost/pull/5986 right?

[2020-08-27 17:02] trivialfis commented on #5619
Right.

[2020-08-27 17:02] #5619 closed

[2020-08-27 19:37] FelixYBW commented on #5977
I compared all params. Spark doesn't support all params C has. All have the same default value except max_bin.
tree_method is auto as default in both case.

Created PR 6066 to fix max_bin

[2020-08-28 06:53] hcho3 opened #6068 "[CI] Run R check in GitHub Actions"
Currently, GitHub Actions run the unit tests for R, but does not run `R CMD CHECK --as-cran xgboost*.tar.gz`. This check is essential for uploading XGBoost to CRAN.

[2020-08-28 14:47] mahdi-ghelichi opened #6069 "Shap and interaction values differ with and without gpu"
Shap and interaction values with and without gpu are different on xgboost.

[2020-08-28 14:51] hcho3 commented on #6069
@mahdi-ghelichi Can you post an example where this is the case?

[2020-08-28 14:58] mayer79 opened #6070 "Change default eval_metric for binary:logistic objective + add warning for missing eval_metric when early stopping is enabled"
I stumbled over the default metric of the `binary:logistic` objective. It seems to be 1-accuracy, which is a rather unfortunate choice. Accuracy is not even a proper scoring rule, see e.g. [Wiki](https://en.wikipedia.org/wiki/Scoring_rule#Proper_scoring_rules).

In my view, it should be "logloss", which is a strictly proper scoring rule in estimating the expectation under the binary objective.

--

[2020-08-28 15:01] hcho3 commented on #6070
The log loss is actually what's being optimized internally, since the accuracy metric is not differentiable and cannot be directly optimized. The choice of metric is to monitor the performance of the model and potentially perform early stopping.

[2020-08-28 15:02] mayer79 commented on #6070
See edit (sorry)

[2020-08-28 15:05] hcho3 commented on #6070
Can you clarify more? What goes wrong if you perform early stopping with the accuracy metric?

I'm hesitant about changing the default value, since this is going to be a breaking change (i.e. it changes behavior of existing code). Our policy is that all breaking changes should have a very good reason.

[2020-08-28 15:11] mayer79 commented on #6070
I perfectly agree that changing this default is potentially "breaking". Still, it might be worth considering it.

Here a famous example: Titanic

[code]

There is some training, we stop after 25 rounds.

With the default, there is no training and the algo stops after the first round....

[2020-08-28 15:21] mahdi-ghelichi commented on #6069
from sklearn.datasets import load_iris

import xgboost as xgb

parameters = {"booster": "gbtree",

              "eval_metric": 'logloss',

              "eta": 0.5,

              "max_depth": 5,

              "nthread": 8,

              "objective": "binary:logistic",

              "seed": 42,

             "tree_method": "hist"}

if __name__=="__main__":

    iris = load_iris()

    data = i

[2020-08-28 15:22] hcho3 commented on #6069
Which version of XGBoost are you using? GPU-enabled SHAP was introduced recently and is not part of 1.2.0 release.

[2020-08-28 15:34] mahdi-ghelichi commented on #6069
It is 1.2.0 which is the latest.
So, it means till then we should not use shaps with gpu then.

Was wondering if we could get interactions with approx method? It returns all zero for other features when approx is True for interactions, except the diagonal. The approximation of interactions could speed things up.

[2020-08-28 23:01] ivan-marroquin commented on #6060
Hi @trivialfis

Many thanks for your prompt answer.

However, I would like to draw your attention to the following points. Having the ability to store hyperparameters and their values is very important. Think about reproducibility and accountability. Without this information, how can we track back our steps? or understand, how someone built his classifier/regressor model? or even, what hyperparame

[2020-08-28 23:30] hcho3 commented on #6060
@ivan-marroquin In fact, you can retrieve the list of hyperparameters by calling the `save_config()` method.

[2020-08-29 14:49] trivialfis commented on #6060
As mentioned, you can call save config.  If stability is not of concern, pickle is another option.  See the doc referenced in previous comment.

[2020-08-31 04:32] #6060 closed

[2020-08-31 08:32] rohan-gt commented on #6026
Optuna actually does this for LightGBM through the [LightGBMTunerCV](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.integration.lightgbm.LightGBMTunerCV.html) method. But this is for automatic tuning. Something similar could be useful for XGBoost

[2020-08-31 09:31] SAyaka0122 opened #6072 "Unused parameters"
I have received the following warning when I used XGBOOST Regressor.

Parameters: { dtrain, early_stopping_rounds, evals, evals_result, feval, verbose } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find abo

[2020-08-31 09:51] hcho3 commented on #6072
Can you post your Python program? It seems like you put dtrain, early_stopping_rounds, and so forth in a wrong place.

[2020-08-31 10:17] SAyaka0122 commented on #6072
`import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.multioutput import MultiOutputRegressor
import matplotlib.pyplot as plt
from sklearn.externals import joblib

df = pd.read_csv("0825更新_Corona Korean data_by day_as of 0630.csv")
print(df.head)

# Split data into features and obje

[2020-08-31 23:59] FelixYBW commented on #6044
We have make clear the root cause and solve the issue, There are two reasons why the spark model is so different from single node model:
- spark's maxbins is different from cpp. It's already fixed
- training data set is sorted implicitly by Spark in one operator

Large max_depth may lead to a large model, but a stable model is decided by the dataset itself. e.g. we eventually set the max_depths to

[2020-09-01 02:17] hcho3 opened #6074 "[CI] Flaky unit test for SHAP"
https://xgboost-ci.net/blue/organizations/jenkins/xgboost-win64/detail/PR-6019/6/pipeline
[code]

[2020-09-01 02:33] dding3 commented on #6044
Thank you for the investigation. Have increased maxbins and repartition data frame before feed it into distributed xgboost model and the model size is as big as python single node now.

[2020-09-01 02:33] #6044 closed

[2020-09-01 08:00] #6072 closed

[2020-09-01 08:03] SAyaka0122 commented on #6072
My code was wrong. The following code worked! Sorry for bothering you.

`params= {'objective': 'reg:squarederror', 'max_depth': 2, 'gamma':1}

  reg = xgb.XGBRegressor(**params)#,
                           #verbose=1,
                           #dtrain=dtrain,
                           #objective = 'reg:squarederror',
                           #obj=squared_log,
                           #feval

[2020-09-02 20:47] hcho3 commented on #5794
@jrausch12 @shapenaji @jrwishart @jameslamb @meztez @mpquast @euklid321 @leedrake5 The 1.2.0 version of XGBoost is now available on CRAN: https://cran.r-project.org/web/packages/xgboost/index.html. It is now able to read models from old RDS files.

[2020-09-03 01:03] showkeyjar opened #6078 "If I still need specify gpu_id in parameters if I use LocalCUDACluster?"
As I know LocalCUDACluster can create dask cluster use cuda devices,

then I can use xgb.dask.train(client, xgb_params, ...) to train distrubuted xgb model on cuda devices

but I also notice that xgboost has it's own gpu parameters, like:

'tree_method': 'gpu_hist', 'gpu_id': 0

so, I'm confused. If I use LocalCUDACluster, do I still need specify gpu parameters?

If the answer is yes, how can I se

[2020-09-03 01:07] hcho3 commented on #6078
No, when using LocalCUDACluster, you do not need to set `gpu_id`.

[2020-09-03 01:09] showkeyjar commented on #6078
ok, thanks! I'll try.

[2020-09-03 01:59] showkeyjar commented on #6078
so, the continue question is, if I need CUDA Cluster to train mutiple models, train each model on one worker(one gpu), how can I set the xgboost parameter?

[2020-09-03 02:22] hcho3 commented on #6078
I don't think we support that use case in the Dask interface.

[2020-09-03 03:43] showkeyjar commented on #6078
ok,got it.

I use client.map to map mutiple model train tasks to CUDA Cluaster,

it sames to work, but some worker errors and closed: concurrent.futures._base.CancelledError

[2020-09-03 03:51] #6078 closed

[2020-09-03 10:29] nishanthballal-9 opened #6079 "Feature importance using C api"
Is there a working example/demo of a program to calculate feature importance in C programming using C_api?

[2020-09-04 07:58] JerryaYang opened #6080 "Is the output tree order of xgboost using getmodeldump in order"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2020-09-04 07:59] JerryaYang commented on #6080
Is the output tree order of xgboost using getmodeldump in order? Where are the documents

[2020-09-04 08:12] hcho3 commented on #6080
Yes, they are in the order they are fit. So the first tree in the dump was the first to fit and so forth.

[2020-09-04 08:12] #6080 closed

[2020-09-04 08:15] #5970 closed

[2020-09-04 08:15] hcho3 commented on #5970
1.2.0 is now on CRAN.

[2020-09-04 17:14] dding3 opened #6081 "[jvm-packages] xgboost4j and xgboost4j-spark 1.1.1 maven release"
I found there is xgboost 1.2 in pip install while latest version for xgboost4j and xgboost4j-spark on maven is 1.0.0. Any idea about when newer versions will be released in maven?

[2020-09-04 18:52] hcho3 commented on #6081
@CodingCat Can we get latest versions to Maven Central?

[2020-09-04 19:05] bkusumakar opened #6082 "[jvm-packages] Category wise Feature importance for One Hot Encoded Features"
We are extracting the feature importances for the `ml.dmlc.xgboost4j.scala.spark.XGBoostClassificationModel` by using
[code]
 where `featureNames` is a list of variable names of all the numerical features and one-hot encoded vectors (created by using `org.apache.spark.ml.feature.OneHotEncoderEstimator`) used in the model training.

When the above process is followed, we are getting a single featur

[2020-09-04 21:04] Rupam07 opened #6083 "Xgboost downgrade error"
Hi,

I am facing issues down grading my xgboost version from 1.1.1 to 1.0.2. Please help

[2020-09-04 21:05] hcho3 commented on #6083
Please provide more information. What kind of error message are you seeing?

[2020-09-04 21:08] Rupam07 commented on #6083
I am using anaconda navigator and using Python 3.7.6 for which I use pip install xgboost == 1.0.2 on jupyter notebook and it wont do anything
While checking the version back in anaconda navigator still shows as 1.1.1

[2020-09-04 21:11] hcho3 commented on #6083
You should run pip install command in the terminal (or Command Prompt), not in the Jupyter notebook.

[2020-09-04 21:13] Rupam07 commented on #6083
So, the command is right?
pip install xgboost == 1.0.2
For downgrading xgboost versions?

[2020-09-04 21:14] hcho3 commented on #6083
Yes.

[2020-09-04 21:17] Rupam07 commented on #6083
<img width="568" alt="Screen Shot 2020-09-04 at 2 16 59 PM" src="https://user-images.githubusercontent.com/48689684/92285498-4dcf1980-eeb9-11ea-99e4-1008c17ee077.png">
It gives an error too

[2020-09-04 21:23] hcho3 commented on #6083
The error is due to CMake not being available. You can install CMake by running `brew install cmake`.

Why is CMake necessary? Prior to version 1.1.0, we did not distribute pre-built package for MacOS, so when you run `pip install xgboost==1.0.2`, it will try to compile XGBoost from the source.

[2020-09-04 21:30] Rupam07 commented on #6083
My anaconda navigator still shows the version as 1.1.1
<img width="884" alt="Screen Shot 2020-09-04 at 2 28 57 PM" src="https://user-images.githubusercontent.com/48689684/92286126-fb8ef800-eeba-11ea-9d8b-7c3fd0e7a0aa.png">

Where as the comman prompt shows that it is installed correctly
<img width="441" alt="Screen Shot 2020-09-04 at 2 29 58 PM" src="https://user-images.githubusercontent.com/48689

[2020-09-04 21:31] hcho3 commented on #6083
Did you use `conda install py-xgboost` to install XGBoost? If so, you should run `conda install py-xgboost=1.0.2` instead.

[2020-09-04 21:33] Rupam07 commented on #6083
<img width="784" alt="Screen Shot 2020-09-04 at 2 32 55 PM" src="https://user-images.githubusercontent.com/48689684/92286316-88d24c80-eebb-11ea-8830-04a6f8f623e2.png">

[2020-09-04 21:35] hcho3 commented on #6083
`conda install -c conda-forge py-xgboost=1.0.2`, since `py-xgboost` package comes from the conda-forge channel.

[2020-09-04 21:38] Rupam07 commented on #6083
Got it. It works
Thank you

[2020-09-05 03:31] srogatch opened #6084 "Access violation in tree::ColMaker::Builder::EnumerateSplit() on Windows"
I am getting the same error in XGBoost: tried versions 1.0 and 1.2. I never got such an error with a less parallelized processor. The processor on which I started to get the error is Ryzen Threadripper 3990X (64 physical, 128 logical cores). The call stack is:
[code]
The lines that throw are:
[code]
The error is:

If the debugger shows it to me correctly, the value of `p->index` is 1074375450 .

T

[2020-09-05 03:57] hcho3 commented on #6084
Thanks for the bug report.

Are you using the C API? Can you reproduce the error using the Python package?

Also, it would be great if we can reproduce this problem using Linux, since most of us contributors use Linux for daily development.

[2020-09-05 04:13] srogatch commented on #6084
Yes, I'm using C API without any Python. For the reasons explained above a reproducer is problematic to provide, however, I can provide you with a minidump if you give me the location to upload ~8GB archive.

For now, I only have a minidump that you can open in MSVS2019 or (probably) WinDBG to try an initial investigation.

Please, note that the problem happens rarely - once in an hour or two of X

[2020-09-05 04:30] hcho3 commented on #6084
Windows programming is not my area of expertise, so I'm afraid I won't be useful here. I'll keep this issue open for now and see if anyone else can help.

[2020-09-05 04:39] hcho3 commented on #6084
Also one advice: the `exact` algorithm has received relatively little attention recently. Most of the active development happens in the `hist` and `gpu_hist` algorithms. You may have better success with using `hist` and `gpu_hist` algorithms.

[2020-09-05 04:47] srogatch commented on #6084
Thank you for the advice. I'm using the `exact` algorithm because on my dataset the performance of XGBoost is just a slightly better than random guess for classification or the mean constant for regression. So every bit of accuracy matters and I would prefer to wait more for the `exact` algorithm to complete than to use `hist`/`gpu_hist` approximations that bring the performance closer to a random

[2020-09-05 04:52] hcho3 commented on #6084
I understand. If you do decide to use `hist` algorithm, you should set `max_bin` to a large number (like 1024 or bigger) to reduce the impact of the approximations. This number controls how many candidate thresholds will be considered for each split.

[2020-09-05 06:05] thekvs opened #6085 "CMake configure error with -DBUILD_STATIC_LIB=ON"
[code]
[code]

[2020-09-05 12:52] jiangqi-1 opened #6086 "xgboost\dmlc-core\src\io\local_filesys.cc:86: LocalFileSystem.GetPathInfo: agaricus.txt.train error: No such file or directory"
XGBoost installed from source with Visual Sudio 2017 on win10
When running mushroom.conf, it cannot loading the data and report the error above.I wonder why.
Thanks.

[2020-09-05 13:07] jiangqi-1 commented on #6086
I'm using XGBoost 1.3.0

[2020-09-06 06:56] hcho3 commented on #6086
You can obtain agaricus.txt.train from https://github.com/dmlc/xgboost/blob/master/demo/data/agaricus.txt.train.

[2020-09-06 06:57] hcho3 commented on #6074
Related: https://xgboost-ci.net/blue/organizations/jenkins/xgboost-win64/detail/PR-6088/1/pipeline
[code]

[2020-09-06 07:55] jiangqi-1 commented on #6086
It doesn't work either.

[2020-09-06 08:44] hcho3 commented on #6086
You should double check mushroom.conf and see if the path is correctly specified.

[2020-09-06 09:30] jiangqi-1 commented on #6086
I'm sure the path is correct.I have tried relative path and absolute path.Neither works.

[2020-09-06 10:41] gaowenxin95 opened #6089 "How to use momentum in the learning rate"
When I adjust the learning rate parameter, the learning rate remains constant during the training process，so，l would like to know how to get an adaptive learning rate，for example,using  momentum or sth?

@kashif @mattn @darxriggs @smly @omo @JiaxiangBU

[2020-09-06 17:55] hcho3 commented on #6086
Make sure to use forward slashes when specifying the path. (Not backslashes)

[2020-09-06 22:37] RAMitchell commented on #6074
Thanks, looks like a problem specifically with the sparse case. Will see if I can find anything.

[2020-09-07 04:31] trivialfis commented on #6079
Do you mean shap value?

[2020-09-07 04:32] trivialfis commented on #6085
@hcho3 Do you think we can get rid of object library?

[2020-09-07 04:37] hcho3 commented on #6085
@trivialfis No, since JVM package needs it. The JVM package needs a single lib libxgboost4j.so which both includes the object lib and the JNI interface implementation. I am not sure if it’s practical to distribute multiple libs in the JVM package.

[2020-09-07 04:38] hcho3 commented on #6085
Let’s see if we can fix the static lib build first.

[2020-09-07 04:57] hcho3 commented on #6085
I think I found a simple fix to this issue. I will file a pull request now.

[2020-09-07 04:58] trivialfis commented on #6085
Thanks!

[2020-09-07 04:59] trivialfis commented on #6089
There's call back function.

[2020-09-07 05:14] nishanthballal-9 commented on #6079
No. I mean feature importance using weight, cover or gain. These are available in Python, however I am interested in a C script which is able to calculate feature importance.
I've reached until the point of dumping the XGBoost model using XGBoosterDumpModelEx function in C_api. However I need to know of how to access triple pointer arrays and parse the dumped model in text format.

[2020-09-07 05:19] hcho3 commented on #6079
@nishanthballal-9 You will need to parse the output from `XGBoosterDumpModelEx()` function to compute the feature importances. This is what the Python package does:

https://github.com/dmlc/xgboost/blob/a144daf0340357bc8fc39628451319e215b1b905/python-package/xgboost/core.py#L1797-L1832

[2020-09-07 05:29] nishanthballal-9 commented on #6079
I've gone through this. But any support possible on how to do it with triple pointers in C?
How to access the triple pointers and parse it in C as done above?

[2020-09-07 05:37] hcho3 commented on #6079
@nishanthballal-9 The triple pointer is actually a reference to an array of strings (`const char*`). So you should declare a `const char**` variable and treat it as an array reference:
[code]

[2020-09-07 06:01] hcho3 opened #6091 "Eliminate text parsing from feature importances and evaluation metrics"
Currently, important functions such as feature importances and evaluation metrics rely on parsing of text strings, specifically the text output from the model dump function. For example:

https://github.com/dmlc/xgboost/blob/68c55a37d9bb680fe435f1d011e5fea62be97d22/python-package/xgboost/core.py#L1797-L1832

https://github.com/dmlc/xgboost/blob/68c55a37d9bb680fe435f1d011e5fea62be97d22/jvm-packages

[2020-09-07 06:05] hcho3 opened #6092 "CMake should not install librabit.a when running `make install`"
Currently, the `install` target generated by the CMake script will install librabit.a (Rabit static lib) into the prefix. This is unnecessary, since libxgboost.so already contains all Rabit's object code.

TODO: Refactor Rabit's CMake script.

[2020-09-07 06:07] hcho3 commented on #6079
I opened #6091 to discuss possibility of adding a new API function for returning feature importances in a structured output like JSON.

[2020-09-07 06:17] hcho3 commented on #5910
Related: #6090

[2020-09-07 09:38] #6085 closed

[2020-09-07 10:39] jiangqi-1 commented on #6086
Tried, but no  use.

[2020-09-07 14:35] hcho3 commented on #6086
Sorry, I'm out of ideas. If you happen to find the cause, please share.

[2020-09-07 15:15] wang364 commented on #6086
# The path of training data
data = "agaricus.txt.train"
Please change the above line as follows to try
data = C:\xgboost\demo\binary_classification\agaricus.txt.train
there is not need ".

[2020-09-07 16:47] hcho3 commented on #6000
The feature importance measure is over the entire tree ensemble. Your ensemble most likely has multiple trees in it.

[2020-09-07 16:53] hcho3 commented on #6065
As the error suggests, you should re-order your training data such that the labels are ordered in the ascending (increasing) order.

[2020-09-08 00:43] #6000 closed

[2020-09-08 00:43] #6089 closed

[2020-09-08 01:41] hcho3 commented on #6030
You should remove the column names from the test matrix (`dtest`) by running
[code]

[2020-09-08 01:44] hcho3 commented on #5977
The default for the parameter `maxBins` was revised in Spark to be consistent with C++: #6066

[2020-09-08 01:44] #5977 closed

[2020-09-08 01:49] hcho3 commented on #5936
I think it might have to do with a mismatched Scala version? Make sure to use the same Scala version as XGBoost uses.

[2020-09-08 01:54] hcho3 commented on #6010
@AstralisRL Your application might be making illegal memory accesses, leading to corruption of malloc lists. I suggest that you try building your application with [Address Sanitizer](https://github.com/google/sanitizers/wiki/AddressSanitizer) to diagnose any illegal memory accesses.

[2020-09-08 01:54] #6010 closed

[2020-09-08 01:58] hcho3 commented on #5807
If you want a well-calibrated probability outputs, do not use `scale_pos_weight`. See the discussion in https://discuss.xgboost.ai/t/how-does-scale-pos-weight-affect-probabilities/1790?u=hcho3.

[2020-09-08 01:58] #5807 closed

[2020-09-08 02:00] hcho3 commented on #5987
No, the `min_child_weight` in XGBoost maps to `min_sum_hessian_in_leaf` in LightGBM. It is currently not possible to set the minimum number of samples per node in XGBoost.

For the `reg:squarederror` objective, the Hessian sum happens to match the number of samples, but this equality generally does not hold for other objectives.

[2020-09-08 02:00] #5987 closed

[2020-09-08 02:08] hcho3 commented on #5673
See https://stackoverflow.com/a/38596343 which explains how to convert `SparseVector` to `DenseVector`.

[2020-09-08 02:08] #5673 closed

[2020-09-08 02:08] #5662 closed

[2020-09-08 02:09] hcho3 commented on #5582
Fixed in #5546. Please upgrade to version 1.1.0.

[2020-09-08 02:09] #5582 closed

[2020-09-08 02:12] hcho3 commented on #5520
I don't think `grow_colmaker` updater supports distributed training. So when you set `updater=grow_colmaker,prune`, the distributed CLI will silently change the updater to `grow_histmaker,prune`.

[2020-09-08 02:12] #5520 closed

[2020-09-08 02:13] #5559 closed

[2020-09-08 02:13] hcho3 commented on #5559
Currently distributed training is broken on Windows.

[2020-09-08 02:16] hcho3 commented on #5661
#6019 added an option to avoid killing SparkContext, by setting `kill_spark_context_on_worker_failure` to `true`.

[2020-09-08 02:16] #5661 closed

[2020-09-08 02:17] hcho3 commented on #5409
Consolidated to #6091

[2020-09-08 02:17] #5409 closed

[2020-09-08 02:20] hcho3 commented on #5183
Closing now, since we now have a precise method for converting floating-point numbers to strings.

[2020-09-08 02:20] #5183 closed

[2020-09-08 02:22] #5296 closed

[2020-09-08 02:23] hcho3 commented on #5296
You constrained x_2 to be monotonic, not x_1. So we don't know how (a, b) and (a', b) are related, since we only changed x_1.

[2020-09-08 02:25] #5109 closed

[2020-09-08 02:25] hcho3 commented on #5109
XGBoost now has a built-in Dask API: `xgboost.dask`.

[2020-09-08 02:30] #4623 closed

[2020-09-08 02:33] #4498 closed

[2020-09-08 02:33] hcho3 commented on #4498
Travis CI seems fine now.

[2020-09-08 11:22] jiangqi-1 commented on #6086
No use. Maybe it's not the problem

[2020-09-09 00:48] panangam opened #6098 "Wrong link in documentation"
Seems like the link to the multi-class objective example is linked to a wrong address. It instead brought be to https://github.com/dmlc/xgboost/blob/master/demo/guide-python/custom_rmsle.py

https://xgboost.readthedocs.io/en/latest/tutorials/custom_metric_obj.html#multi-class-objective-function

[2020-09-09 02:21] #6065 closed

[2020-09-09 02:55] #6098 closed

[2020-09-09 04:22] hcho3 commented on #4826
Fixed in #6019

[2020-09-09 04:22] #4826 closed

[2020-09-09 04:41] hcho3 commented on #6092
Fixed in #6096

[2020-09-09 04:41] #6092 closed

[2020-09-09 05:05] trivialfis commented on #5865
A bit hacky.  I print the internal DMatrix shape.  As it's internal information so I never tried to expose it to users.  If you just want to verify, you can check the chunks for each worker.

Balancing data on dask is not an easy task from my experience.  The easiest way it to reduce the chunk size to increase granularity, but that can reduce dask op performance, especially on GPU.  I believe ther

[2020-09-09 05:05] #5865 closed

[2020-09-09 05:38] hcho3 opened #6102 "MacOS AppleClang 11 segfaults at commit ee70a23"
It appears that #5880 (commit ee70a2380beb89f32c06d09f9d8cec49c9f0fed0) has triggers a compiler bug in AppleClang 11.0.3:
[code]

I'd like to find a way to work around the compiler bug.

Crash log:
[code]

CMake log:
[code]

[2020-09-09 05:39] hcho3 commented on #6102
Note that the segfault disappears when I check out the previous commit (bd6b7f4aa7d2ef2344a4bf52b7f5cfd577b34242).

[2020-09-09 05:47] hcho3 commented on #6102
The crash does not happen when I switched to GCC from Homebrew.

[2020-09-09 05:50] hcho3 commented on #6102
The crash is also unique to AppleClang 11. Travis CI used AppleClang 10 and built XGBoost without error: https://travis-ci.org/github/dmlc/xgboost/jobs/716850246

[2020-09-09 06:17] hcho3 commented on #6102
I found a workaround. Will post a pull request soon.

[2020-09-09 11:05] CatNofishing commented on #1715
I had the same error on my window10.

[2020-09-09 14:04] wang364 commented on #6086
Maybe you can debug step by step to confirm what is the real problem.

[2020-09-09 19:19] kaushikepi opened #6106 "Number of features in xgb.predict function"
Trained a XGB Classifier model with 5178 features and saved it as a pickle file. But the issue is when loading the saved xgb model and if I am passing a feature vector of shape less than 5178 (let's suppose 5174) , it still gives list of probabilities for both the class.

Can anyone explain this ?

[2020-09-09 19:37] kaushikepi commented on #6106
Saved the model as
[code]
shape of feat_vect = (1,5174)
But xgb_clf was trained on 5178 features

[2020-09-09 22:02] arsarabi opened #6107 "[Feature request] Expected output over feature subsets"
This is a feature request for computing the expected output of the model when only a subset of features are present.

We have a use case where we would like to observe the expected output of the model when multiple features are missing at evaluation time. In other word, we would like to compute the expected output over a subset of all features. In a decision tree, this can be done by finding all l

[2020-09-09 23:56] thesuperzapper commented on #5177
@trivialfis probably, but I am still not sure of the best way to distribute the Python package.

The main question is are we going to make a seperate package in PyPi called `sparkxgb`, or should we just embed the package into the spark jar.

I prefer the second case, and other packages like [graphframes](https://graphframes.github.io/graphframes/docs/_site/quick-start.html) already do it, this let

[2020-09-10 04:09] trivialfis commented on #6107
I think it's possible.  But XGBoost also has its own way if handling missing value.  During training it can learn a default direction for missing values.

[2020-09-10 04:21] #6102 closed

[2020-09-10 07:08] trivialfis commented on #6074
https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-6105/22/pipeline

[2020-09-10 09:04] kaushikepi commented on #6106
Can you help ? @hcho3

[2020-09-10 14:49] arsarabi commented on #6107
I understand, but I think the two are for different scenarios. The way XGBoost currently handles missing values can help when features are missing both during training and testing. This would allow handling cases where features are only missing at evaluation time. It could also be a fast proxy to evaluate the performance of a subset of all features (e.g., for feature selection) instead of training

[2020-09-10 19:43] lorentzenchr commented on #6070
I understand that changing a default value is better done hesitantly and well thought through. I think in this case, stopping early due to accuracy but really optimizing log-loss is not very consistent. On top of that, I consider log-loss a better metric in general compared to accuracy.

Changing a default would not break code, as code still executes, only potentially deliver different results&mda

[2020-09-11 01:07] hcho3 commented on #6106
Which XGBoost version are you using?

[2020-09-11 08:12] palVJ opened #6111 "Manipulate an XGBoost-object"
I would like to manually change values from the regression trees of an already returned (trained) XGBoost-model (from R for instance), such as the covers on the nodes on a regression tree. I would then like to be able to use this manipulated XGBoost-object to for instance compute SHAP-values. How easy would this be?

[2020-09-11 08:59] kaushikepi commented on #6106
version 1.2.0

[2020-09-11 19:25] hcho3 commented on #6106
The last four features are treated as missing values.

XGBoost models have provisions for missing values in the input vector. See https://www.kdd.org/kdd2016/papers/files/rfp0697-chenAemb.pdf for details about how missing values are handled.

[2020-09-11 19:35] kaushikepi commented on #6106
@hcho3 Thanks for the help. Will read the paper

[2020-09-11 19:35] #6106 closed

[2020-09-11 23:40] pheaptun opened #6113 "How to generate something like xgboost4j_spark_snapshoot.jar for using in spark-submit?"
How to generate something like xgboost4j_spark_snapshoot.jar for using in spark-submit?
I am very new to how to generate *.jar file, it would be good if the description details.

Thanks!!

[2020-09-12 00:23] hcho3 commented on #6113
You should run `mvn package` in the `jvm-packages/` directory.

[2020-09-12 05:10] trivialfis commented on #6111
Save a JSON model.  Modify it as you like.

[2020-09-12 05:10] #6111 closed

[2020-09-12 15:06] bobjiang82 commented on #6017
Is this issue resolved? How?

[2020-09-12 20:18] #5905 closed

[2020-09-13 02:52] hcho3 commented on #6070
@jameslamb Do you have any opinion on this? Should we change the default evaluation metric to logloss?

[2020-09-13 04:39] jameslamb commented on #6070
I've been thinking through this. I think it is ok to change the default to `logloss` in the next minor release (1.3.x).

I think it is ok for the same training code given the same data to produce a different model between minor releases  (1.2.x to 1.3.x).

That won't cause anyone's code to raise an exception, won't have any effect on loading previously-trained models from older versions, and any r

[2020-09-13 04:48] hcho3 commented on #6070
@jameslamb Thanks for your thoughtful reply. Indeed, the change will only affect the previously trained models. My only concern now is that some users may want to re-run their existing code for reproducibility purposes and would find their code to behave differently. If we were to change the default, how should we make the transition as painless as possible?

Also, does LightGBM use logloss for L2

[2020-09-13 05:29] mayer79 commented on #6070
Thanks for the discussion. LGB seems to use logloss for binary objective:

[code]

gives

![image](https://user-images.githubusercontent.com/16206095/93010952-1f74cc80-f592-11ea-909b-acdacdb54bfe.png)

They use (multi) log loss also for multi-class classification. What does XGBoost in that case?

[2020-09-13 05:32] hcho3 commented on #6070
XGBoost uses `merror` by default, which is the error metric for multi-class classification.

[2020-09-13 05:34] hcho3 commented on #6070
@mayer79 How common do you think it is to use early stopping without explicitly specifying the evaluation metric?

[2020-09-13 05:34] jameslamb commented on #6070
I think you can use `missing()`  to check if `eval_metric` was not passed, and do something like this:

[code]

In LightGBM, if you use `objective = "regression"` and don't provide a `metric`, L2 is used as objective and as the evaluation metric for early stopping.

For example, if you do this with `{lightgbm}` 3.0.0 in R, you can test with something like this

[code]

![image](https://user-images

[2020-09-13 05:36] hcho3 commented on #6070
@jameslamb Nice. Yes, let's throw a warning for a missing `eval_metric` when early stopping is used. With the warning, the case I mentioned (reproducibility) is also covered, and we can change the default metric.

[2020-09-13 05:37] hcho3 commented on #6070
@mayer79 @lorentzenchr Thanks to the recent discussion, I changed my mind. Let us change the default metric with a clear documentation as well as a run-time warning.

[2020-09-13 05:39] mayer79 commented on #6070
@hcho3: Hard to say. I prefer to use the default because it makes the code more generic. Should we also consider switching to multi-logloss for multiclassification? I like the idea with the run-time warning very much.

[2020-09-13 05:40] hcho3 commented on #6070
@mayer79 Yes, let's change the default for multiclass classification as well.

[2020-09-14 12:08] chloe-wang commented on #4177
@Edmondguo just want to follow up this issue. I met the same problem. Did you figure out the reason?

[2020-09-14 18:37] statgirl30 opened #6116 "support for negative log-likelihood eval metric for Tweedie regression in xgboost4j"
Hello,

can you please add the tweedie deviance to the metrics available in xgboost4j? I see that gamma deviance is available and it would be super helpful if tweedie loss can be added. If not, can you provide some documents on how to add a custom eval metric for xgboost spark?

Thanks

[2020-09-14 18:54] nicodv commented on #6081
+1

[2020-09-14 20:40] hcho3 commented on #6081
FYI, the XGBoost project hosts latest Maven artifacts in a S3 bucket. You can access latest artifacts by adding the following to `pom.xml`:
[code]
[List of currently available artifacts](https://s3-us-west-2.amazonaws.com/xgboost-maven-repo/list.html)

[2020-09-14 22:35] neilyboi opened #6118 "XGBoost Gives Warning about colsample_by_tree not being used"
Hi! I am running both the XGBoost Classifier and Regressor, and was trying to hyper parameter tune, but am running into the following warning:

[code]

Here is a reprex of the code:

[code]

It seems clear that the parameter is not used, because when i set colsample_by_tree to 0, and then do my fitting and predicting I still get valid predictions and a reasonable score on my task, when I should no

[2020-09-14 22:39] hcho3 commented on #6118
The correct spelling is `colsample_bytree`.

[2020-09-15 00:01] hcho3 commented on #5965
#6119 adds MAPE.

[2020-09-15 01:45] #5965 closed

[2020-09-15 03:17] #6118 closed

[2020-09-15 06:32] trivialfis commented on #5995
https://github.com/dmlc/xgboost/pull/6112 Removes the single point recovery in XGBoost.

[2020-09-15 18:48] jborchma opened #6121 "[dask] eval_metric for dask sklearn wrapper"
Playing around with the dask sklearn wrapper, I realized that the [`fit`-method](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/dask.py#L1073) currently does not support passing through `eval_metric` (as opposed to the normal [`fit`-method](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/sklearn.py#L442).

I was wondering: Is there a reason for this? And what

[2020-09-15 19:02] mayer79 commented on #5670
In order to get fold indices, I have recently made a lightweight R package *without any dependency* for this purpose: [splitTools](https://CRAN.R-project.org/package=splitTools)

It supports

- random splitting
- stratified splitting (this is the default and works also for numeric responses)
- grouped splitting
- (time-series splitting),

has a flexible output interface and is optimized for speed.

[2020-09-15 19:24] trivialfis commented on #6121
For builtin metrics inside XGBoost, normal parameter on constructor should suffice.  But for custom evaluation metric, synchronization is a bit problematic.  I'm hoping to resolve it along with early stopping support.

[2020-09-15 21:18] mayer79 commented on #5670
On the weekend, I will look into the current way how XGB does the splitting. It is probably just a small fix.

[2020-09-16 02:28] JerryaYang opened #6122 "xgbClassificationModel.transform"
What is the threshold value of the prediction generated? How should we adjust this threshold？Is probability or rawprediction used to calculate AUC？

[2020-09-16 10:35] lucagiovagnoli commented on #6081
Out of curiosity, will the artifacts make it to Maven eventually, or are we expected to get it permanently from s3?

[2020-09-16 13:44] CodingCat commented on #6081
I will do it within the week

[2020-09-16 22:16] hcho3 opened #6126 "Jenkins CI temporarily unavailable due to AWS service outage"
![Screen Shot 2020-09-16 at 3 14 39 PM](https://user-images.githubusercontent.com/2532981/93397882-59163380-f82f-11ea-8306-0b5a2094a0de.png)

Currently, an AWS service (IAM) is experiencing outage. Our Jenkins CI server (https://xgboost-ci.net) uses IAM to dispatch worker VMs and control expenses, so the server will not be available until the outage is fixed.

Any new jobs will time out because co

[2020-09-16 22:26] hcho3 commented on #6126
Status page: https://status.aws.amazon.com/#

![Screen Shot 2020-09-16 at 3 25 53 PM](https://user-images.githubusercontent.com/2532981/93398717-f4f46f00-f830-11ea-86a5-8354931ed736.png)

[2020-09-17 05:09] hcho3 commented on #6126
The service is now restored.

[2020-09-17 05:09] #6126 closed

[2020-09-17 07:51] szilard commented on #3810
The multicore scaling and the actually also the NUMA issue has been largely improved indeed:

**Multicore:**

![Screen Shot 2020-09-17 at 12 37 55 AM](https://user-images.githubusercontent.com/844827/93435457-5989eb00-f87e-11ea-9aae-67a334e47435.png)

Very notable the improvement on smaller data (0.1M rows)

![Screen Shot 2020-09-17 at 12 43 26 AM](https://user-images.githubusercontent.com/844827/

[2020-09-17 07:59] hcho3 commented on #3810
@szilard  Thank you so much for taking time to do the benchmark! And it's great news that XGBoost has improved in the CPU performance scaling.

[2020-09-17 11:36] szilard commented on #3810
Yeah, great job everyone on this thread for having accomplished this.

[2020-09-17 18:12] szilard commented on #3810
FYI, here are the training times on 1M rows on EC2 r4.16xlarge (2 sockets with 16c+16HT each) on 1, 16 (1so+no HT) and 64 (all) cores:

![Screen Shot 2020-09-17 at 11 11 50 AM](https://user-images.githubusercontent.com/844827/93510779-9eda0700-f8d6-11ea-93f5-5a496b32386d.png)

https://github.com/szilard/GBM-perf/issues/40

[2020-09-18 02:17] SmirnovEgorRu commented on #3810
@szilard, thank you very much for the analysis! Good to hear that the optimizations work.

P.S. Above I see that XGB 1.2 has some regression against 1.1 version. It's very interesting info, let me clarify this. It's not expected for me.

[2020-09-18 02:21] SmirnovEgorRu commented on #3810
@szilard, if this topic is interesting for you - some background and results of the CPU optimizations are available in this blog:
https://medium.com/intel-analytics-software/new-optimizations-for-cpu-in-xgboost-1-1-81144ea21115

[2020-09-18 07:49] szilard commented on #3810
Thanks @SmirnovEgorRu for your optimization work and for the link to the blog post (I did not see this post before).

To be easier to reproduce my numbers and to get new ones in the future and or other hardware, I made a separate Dockerfile for this:

https://github.com/szilard/GBM-perf/tree/master/analysis/xgboost_cpu_by_version

You'll need to set the CPU core ids for the first socket, no hyper

[2020-09-18 11:46] SCS2017 opened #6133 "the feature name of label after Libsvm data load"
When I use xgboost Dmatrix to load libsvm data directly, the feature names are numbered from f0. Does f0 correspond to the label?And the f0 appears in the feature importance, then does f0 correspond to the label, or does the last feature column correspond to the label?

[2020-09-18 17:09] davidfstein opened #6134 "N_jobs and nthreads not respected when training with scikit RandomizedSearchCV"
I am trying to tune my parameters on a spark cluster. I want to set the number of jobs to 16, but XGBClassifier is using all available threads. Why is xgb not respecting the n_jobs/nthread parameters?

[code]

[2020-09-19 09:56] Mantj opened #6135 "XGBoostModel training failed"
I am using spark2.3.2, scala 2.11, java 8, xgboost4j 0.82,  when I fit the XGBModel, an error show as below:
[code]
What's happen and what can I do?

[2020-09-19 09:57] Mantj commented on #6135
The more error information is :
[code]

[2020-09-19 19:01] mayer79 commented on #5670
I had a look at the R code in "utils.R". Small samples and stratification is generally a bad combination. If one fixes one problem, the next will pop up.

For not too small n, the imbalance not a problem:

[code]

What is surprising: If the objective is not "reg:squarederror", then y is turned into a factor and stratification is done within factor level. So if I run a Gamma regression or an L1 reg

[2020-09-20 05:59] #6069 closed

[2020-09-20 07:41] hcho3 commented on #6133
No, f0 is the first feature, not the label. The label is saved apart from the features.

[2020-09-20 17:35] cryanking opened #6138 "[Enhancement] allow base model in xgb.cv"
The current R function xgb.cv has an inconsistent syntax with xgb.train with respect to a base model. In xgb.cv, xgb_model (like any other ... argument) is passed into the parameter list and silently ignored. It would be nice to support CV-based evaluation of continuing training when starting from a common base model. This would be particularly useful when new features are added after the base mod

[2020-09-21 05:56] hcho3 opened #6139 "Allow empty datasets in `survival:aft` objective and `aft-nloglik` metric"
Currently, `survival:aft` objective and `aft-nloglik` metric throws an error when an empty data matrix is passed in. Empty data matrix is a common occurrence when XGBoost is used with Dask, due to quirks in how Dask partitions the data matrix.

The AFT objective and metric should handle empty data matrices like other element-wise objective and metrics, such as `reg:squarederror` and `logloss`.

cc

[2020-09-21 07:55] Mantj commented on #6135
PYTHON should install argparse.
close.

[2020-09-21 07:55] hcho3 commented on #6081
The versions 1.1.1 and 1.2.0 are now available on Maven Central. Thanks @CodingCat

[2020-09-21 07:55] #6081 closed

[2020-09-21 07:55] #6135 closed

[2020-09-21 10:31] szilard commented on #3810
Results on c5.metal which has higher frequency and more cores than r4.16xlarge I have been using in the benchmark:

https://github.com/szilard/GBM-perf/issues/41

TLDR: xgboost takes the most advantage of faster and more cores vs other libs.

[2020-09-21 10:55] hassaanseeker opened #6143 "Xgboost Unbiased Learning to Rank Implementation."
I would like to request a feature in regards to the Unbiased Learning to Rank implementation in Xgboost based on the below links:

https://github.com/ULTR-Community/ULTRA/blob/master/README.md
https://github.com/acbull/Unbiased_LambdaMart

[2020-09-21 10:59] szilard commented on #3810
I wonder though about this:

![Screen Shot 2020-09-21 at 3 56 46 AM](https://user-images.githubusercontent.com/844827/93759158-8b70b980-fbbe-11ea-8456-29f357960c21.png)

the speedup from 1 to 24 cores for xgboost is smaller for the larger data (10M rows) than for smaller data (1M rows). Is this some kind of increased cache hits or something that other libs don't have?

[2020-09-21 14:27] trivialfis commented on #6143
I looked into it a while ago.  Should not be too difficult.

[2020-09-21 18:17] szilard commented on #3810
Here are some results on AMD:

https://github.com/szilard/GBM-perf/issues/42

Looks like the optimizations are working great on AMD as well.

[2020-09-21 20:29] gabriellajg opened #6144 "Error in installing R version xgboost on a cluster"
Hello!

I was trying to install xgboost within R/4.0.0 on a cluster and kept encountering errors. Specifically, when I typed:

install.packages('xgboost', repos='https://cloud.r-project.org')
I got:
config.status: creating src/Makevars
** libs
Error: C++14 standard requested but CXX14 is not defined
* removing ‘/afs/crc.nd.edu/user/g/gjiang2/R/xgboost’

When I typed:
devtools::install_github('dmlc

[2020-09-21 20:32] hcho3 commented on #6144
`C++14 standard requested but CXX14 is not defined`

It appears that your cluster has an old C++ compiler. We require a C++ compiler that supports the C++14 standard. For example any version of GCC later than 5.0 will work.

[2020-09-22 09:41] apoorv-28 commented on #6082
For reference https://discuss.xgboost.ai/t/training-random-forest-in-xgboost-4j-spark/1767

[2020-09-22 10:03] annukkaa commented on #5993
I'm facing the same problem.

I'm doing nested cross-validation and for some partitions of my data, after training, the predictions are the same for every sample

` xb_es.fit(X_train, y_train, early_stopping_rounds=1000, eval_metric=["auc","logloss"], eval_set=[(X_train, y_train), (X_val, y_val)], verbose = 1)`

`
0]	validation_0-auc:0.5	validation_0-logloss:1.03395	validation_1-auc:0.5	validation

[2020-09-22 15:15] mahdi-ghelichi opened #6147 "Xgboost libsvm and missings"
I need to use libsvm format due to sheer memory issues. First the nans are filled with -999.0 in my pandas dataframes and then they are converted into libsvm using dump_svmlight_file. Then, when I create the Dmatrix by reading the generated libsvm file, I assign 'missing=-999.0'.
I was wondering if Dmatrix will recognize these -999.0 as missings or it still treats all those zeros as missings.
Basi

[2020-09-22 15:24] ldesreumaux opened #6148 "Training continuation with multiple DMatrix objects"
# Issue

If a training is started with a DMatrix object and continued with another DMatrix object that is identical (same dataset...), I should get the same model as if the training had been done with a single DMatrix object.

In the following C++ code, two models are trained. In the first training, UpdateOneIter is called two times with the same DMatrix. In the second training, the two calls to U

[2020-09-22 21:31] kartik1611 opened #6149 "convert xgb.DMatrix to dataframe or matrix"
I have a xgb.Dmatrix which I want to convert to dataframe or matrix format, I would like to know if it is possible to convert.

`
data(agaricus.train, package='xgboost')
train <- agaricus.train
dtrain <- xgb.DMatrix(train$data, label=train$label)
class(dtrain)

`
getting error

![image](https://user-images.githubusercontent.com/37063126/93939797-ffab7a00-fcf0-11ea-8d63-c08ff354dcc6.png)

is it pos

[2020-09-22 21:38] hcho3 commented on #6149
No, it is not possible to convert `xgb.DMatrix` to matrix or dataframe. You should save the original data source (libsvm/csv) and use it later.

[2020-09-22 21:38] #6149 closed

[2020-09-22 21:46] hcho3 commented on #6147
No, it is not possible to set the missing value when importing LIBSVM file. Instead, you should convert your Pandas DataFrame to sparse columns and then export it as a sparse matrix, as follows:
[code]

[2020-09-23 02:01] jameslamb opened #6151 "[R] false-positive warning on CRAN"
I was looking at https://cran.r-project.org/web/checks/check_results_xgboost.html tonight (looking for evidence of something while dealing with https://github.com/microsoft/LightGBM/pull/3338#issuecomment-697075287) and I saw that `{xgboost}` has a WARNING on Mac

![image](https://user-images.githubusercontent.com/7608904/93955926-7c048400-fd16-11ea-897f-24aa709ae275.png)

I think this is just bec

[2020-09-23 02:05] hcho3 commented on #6151
@jameslamb Nice catch! Yes, a pull request is welcome. I will review it.

[2020-09-23 03:22] hcho3 opened #6153 "Create a demo for DaskDeviceQuantileDMatrix"
DaskDeviceQuantileDMatrix is a nice feature to ingest GPU Dask partitions without making any copy. We should have a demo.

I'd like to get the word out about the native Dask API of XGBoost, and DaskDeviceQuantileDMatrix is one of its best features.

[2020-09-23 03:39] #6079 closed

[2020-09-23 03:41] hcho3 commented on #5967
@ChaosCY Can you post your code?

[2020-09-23 03:43] hcho3 commented on #5993
@annukkaa Can you post your training code and the training data used?

[2020-09-23 05:47] #6151 closed

[2020-09-23 05:48] #6133 closed

[2020-09-23 05:48] #6113 closed

[2020-09-23 06:07] hcho3 commented on #6122
The threshold is set to 0.5. It is not possible to configure this threshold in XGBoost. You are however able to compute the class prediction manually by applying a different threshold.

XGBoost computes AUC using the probabilities.

[2020-09-23 06:07] #6122 closed

[2020-09-23 08:20] trivialfis commented on #6153
I will do that today.

[2020-09-23 12:13] webzest commented on #6030
Hi,  Thank you for the response.  I followed it, but something strange happened.  All the predictions are the same:
[code]

[2020-09-23 13:02] annukkaa commented on #5993
Unfortunately I can't share the data, but I'll try to isolate the problem in a simple example and post it here.

[2020-09-23 15:28] webzest commented on #6030
Hi,  I have an update:
I fixed the colnames issue by updating the

[code]

Nevertheless, the prediction of the unknown data still generate the same value for all label values.

[code]
Results:
[1] 184258.9 160477.3 196703.9 124443.1 219499.4

[code]

Results:
[1] 33327.03 33327.03 33327.03 33327.03 33327.03
[code]

[2020-09-23 15:56] trivialfis commented on #6153
Now that I look at it, it's possible we can do it more efficiently and accurately by improving the initial construction of summary.

[2020-09-23 16:21] hcho3 commented on #6153
Can we put up a small demo first?

[2020-09-23 16:34] trivialfis commented on #6153
Yup.

[2020-09-23 21:32] stephenpardy opened #6158 "Re-enable feature validation in sklearn predict proba method by default"
XGBoost version 1.2 changed the default value of `validate_features` from `True` to `False` in the scikit-learn `predict_proba` method (https://github.com/dmlc/xgboost/pull/5953/files) with limited discussion. This exposes the user to the risk that they will silently receive the wrong predictions using this version of XGBoost - especially since most users will expect this function to raise a Value

[2020-09-24 04:40] trivialfis commented on #6158
Em, now we have a conflicting situation.

[2020-09-24 05:01] hcho3 commented on #6158
@stephenpardy The change was to fix #5887, where scikit-learn takes in a Pandas dataframe but outputs a NumPy array, leading to the loss of feature names. Also see scikit-learn/scikit-learn#5523. Do you have any suggestion about how we can enable `GridSearchCV` or `CalibratedClassifierCV` with feature validation?

[2020-09-24 05:14] hcho3 commented on #6148
@ldesreumaux Now that you have a fix, would you like to submit a pull request?

[2020-09-24 05:25] trivialfis commented on #6148
I prefer moving it into DMatrix.  Let's hold on this a little bit.

[2020-09-24 06:08] #6153 closed

[2020-09-24 06:49] yurivict opened #6160 "Build failure on i386: non-constant-expression cannot be narrowed from type 'xgboost::bst_ulong' (aka 'unsigned long long') to 'xgboost::common::Span::index_type' (aka 'unsigned int') in initializer list"
Log: http://beefy10.nyi.freebsd.org/data/113i386-default/549877/logs/xgboost-1.1.1.log

[2020-09-24 06:52] hcho3 commented on #6160
This is fixed in version 1.2.0: https://github.com/dmlc/xgboost/commit/3cae287deadf72c8d07640d1d6a765cbc9ecff88

[2020-09-24 06:52] #6160 closed

[2020-09-24 17:53] stephenpardy commented on #6158
This does seem to be a rock and a hard place situation. On sklearn version 0.22 at least the `GridSearchCV` is working fine with `validate_features`. If this is only effecting `CalibratedClassifierCV`, is it reasonable to make users monkey-patch `predict_proba` to make it work with XGBoost until there is a fix from SKLearn.

This works fine with my setup:
[code]

If the SKLearn `CalibratedClassifi

[2020-09-24 20:07] jakirkham commented on #5765
Am I correct in reading that PR ( https://github.com/dmlc/xgboost/pull/6142 ) may address this?

[2020-09-25 07:56] hcho3 commented on #6144
@gabriellajg Take a look at https://blogs.cornell.edu/jingyi/2020/02/04/rstudio-install-xtensor/#.X22iqWhKj-g

[2020-09-25 08:54] trivialfis commented on #6158
I want to remove the feature name generation for arrays.  This way there's no feature name validation for arrays but works with dataframe consistently.  From my perspective, XGBoost is not supposed to invent these feature names except for plotting.

[2020-09-25 13:29] talipini opened #6167 "External Memory Usage with GPU - "Invalid Resource Handle" Error"
Running xgboost on external memory causes "invalid resource handle" error with GPU.

I have a large dataset that doesn't fit into memory and I was hoping to use external memory to train as explained in https://xgboost.readthedocs.io/en/latest/tutorials/external_memory.html. CPU version seems to work fine but using "gpu_hist" causes this error.

**terminate called after throwing an instance of 'thr

[2020-09-25 21:49] #5910 closed

[2020-09-26 12:52] vipinsiriah-git opened #6169 ""TypeError: 'float' object cannot be interpreted as an integer" in training.py line 63"
I am on using python 3.6 and working on xgboost 1.2.0, following and I was facing following issue on fitting an instance of XGBClassifier to my training data.

`TypeError: 'float' object cannot be interpreted as an integer`

changing line 63 of training.py locally to the following resolves the issue for me:

` for i in range(int(start_iteration), int(num_boost_round)):`

but this is a work around,

[2020-09-26 12:55] trivialfis commented on #6169
Did you pass `num_boost_round` as floating point?

[2020-09-26 18:52] nipnipj opened #6170 "Installing xgboost with `install_github` function fails"
I'm trying to install `xgboost` package from github with the following commands:
`devtools::install_github("dmlc/xgboost", subdir="R-package")` and `remotes::install_github("dmlc/xgboost", subdir="R-package")`
Both of them end up in the following error, however:

[code]
Is it possible to install `xgboost` from github?

Thanks & regards.

[2020-09-26 18:55] hcho3 commented on #6170
Unfortunately, it is not possible to install XGBoost with `devtools::install_github()`, since XGBoost uses git submodules. Please follow instructions in https://xgboost.readthedocs.io/en/latest/build.html#installing-the-development-version-linux-mac-osx to build from the source.

[2020-09-26 18:55] #6170 closed

[2020-09-26 18:56] #6144 closed

[2020-09-26 18:58] hcho3 commented on #6046
XGBoost does not recognize the concept of temporal sequence. I suggest that you use neural networks to explicitly model temporal sequences. See discussion in https://discuss.xgboost.ai/t/forecasting-same-learner-to-two-copies-of-data-set/1842/2?u=hcho3

[2020-09-26 18:58] #6046 closed

[2020-09-26 19:26] #6029 closed

[2020-09-26 19:26] #5999 closed

[2020-09-26 22:00] hcho3 opened #6171 "We are participating in Hacktoberfest 2020!"
Hacktoberfest 2020 (https://hacktoberfest.digitalocean.com/) is an annual event where DigitalOcean send developers free T-shirts if they complete 4 pull requests for open source projects in the month of October. This is a great opportunity to encourage more developers to get into the open source.

Hacktoberfest is a great opportunity for the XGBoost project, as we can ask incoming contributors to

[2020-09-26 22:28] ashraf-01 commented on #6046
alright

[2020-09-27 05:19] hcho3 commented on #6070
To new contributors: If you're reading this and interested in contributing this feature, please comment here. Feel free to ping me with questions.

[2020-09-27 05:57] hcho3 commented on #4895
To new contributors: it would be great if we can have an experimental prototype for the C++ frontend. For the first pull request, it is okay to have only basic features (load data, train). Post comment here you'd like to work on this feature, so that we can discuss a possible design. I am available for help.

[2020-09-27 06:33] hcho3 opened #6172 "[RFC] Deprecate position arguments and encourage users to use keyword arguments only"
This proposal is inspired by [SLEP 009](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep009/proposal.html) from the scikit-learn project.

I propose that the `xgboost` Python package should gradually force users to pass arguments with keyword arguments only.

## Motivation
Right now, `xgboost` accepts all arguments both as positional and keyword arguments. For example, both

[2020-09-27 07:06] hcho3 commented on #6015
To new contributors: If you're reading this and interested in writing the test, please comment here. Feel free to ping me with questions. I am available for help.

[2020-09-27 07:14] hcho3 opened #6173 "[Doc] Update list of winning solutions in data science competitions using XGBoost"
The demo directory shows a list of winning solutions for data science competitions that used XGBoost:
https://github.com/dmlc/xgboost/blob/master/demo/README.md#machine-learning-challenge-winning-solutions

The list hasn't been updated since October 2017. It would be great if we can update this list.

## How to update the list.

https://www.kaggle.com/competitions is a great place to start. For ea

[2020-09-27 07:23] hcho3 commented on #5869
It would be great if we can test XGBoost in WSL2 + CUDA and see whether various functionalities will work.

Note. We cannot use multi-GPU training because [NCCL](https://github.com/NVIDIA/nccl) does not support WSL2 yet.

[2020-09-27 07:25] hcho3 commented on #5869
To new contributors: Post a comment here if you'd like to test XGBoost with WSL2.  I am available for help and guidance. After testing, update the doc to document which feature of XGBoost are currently functional with WSL2, to claim credit for Hactoberfest 2020.

[2020-09-27 07:28] hcho3 commented on #5451
@harshit-2115 Can this issue be closed, now that `predict_proba()` has been implemented in `xgboost.dask`?

[2020-09-27 07:31] hcho3 commented on #5443
We should document the limitation. The learning-rate update should not be performed if you want deterministic training with a specific random seed.

[2020-09-27 07:36] hcho3 commented on #5400
It looks like you are running out of memory.

[2020-09-27 07:42] hcho3 commented on #5333
Sorry this issue has been outside our radar for a while. I am marking this as "good first issue" to encourage potential contributors to create new Colab notebooks. The new notebooks can be hosted under `demo/notebooks` directory. We can generate Colab links from GitHub-hosted notebooks by following instructions in https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebook

[2020-09-27 07:50] hcho3 commented on #5116
Related: #3789

[2020-09-27 07:55] hcho3 commented on #5017
XGBoost does not use Gini importance to obtain optimal splits. Instead, it uses first and second-order gradient of the loss function to evaluate splits.

[2020-09-27 07:55] #5017 closed

[2020-09-27 07:57] hcho3 commented on #4955
To new contributors: If you're reading this and interested in writing the document for learning rate decay, please comment here. Feel free to ping me with questions. I am available for help.

[2020-09-27 07:57] #4200 closed

[2020-09-27 08:12] #5285 closed

[2020-09-27 08:14] hcho3 commented on #6068
Note to new contributors: Post a comment here if you'd like to work on this issue. I am available for help and guidance.

[2020-09-27 08:16] trivialfis commented on #4753
I don't think this is possible in short term.  Let's stick with fail all strategy for now.  We @hcho3 are thinking about redesigning RABIT from scratch.

[2020-09-27 08:16] #4753 closed

[2020-09-27 08:16] #4668 closed

[2020-09-27 08:16] trivialfis commented on #4505
We have tests on Action.

[2020-09-27 08:16] #4505 closed

[2020-09-27 08:18] trivialfis commented on #5705
To resolve this, we need build flag in `setup.py` to let users decide whether do they want to reuse `libxgboost.so` in system path.

[2020-09-27 08:19] trivialfis commented on #5801
The nccl script is in `xgboost/cmake/modules`.  We can add more customization options in there.

[2020-09-27 08:28] hcho3 opened #6174 "Create a tutorial for using the C API in a C/C++ application"
It would be great to have a tutorial for using the C API of XGBoost in a C or C++ application. Some important components:
* How to configure the CMakeLists.txt of your application to link with XGBoost (either statically or dynamically)
* How to install XGBoost library into a system prefix or a Conda environment.
* Useful tips, such as remembering to clean up allocated XGBoost object handles, or ex

[2020-09-27 08:35] hcho3 commented on #6172
@trivialfis Can you review this proposal?

[2020-09-27 12:11] divya661 commented on #6173
@hcho3 Could you please assign this to me? I would like to work on this & will update you regarding the PR as soon as possible?

[2020-09-27 12:19] divya661 commented on #6174
@hcho3 I'm efficient in C++ and would like to work on this? I will update you as soon as possible. How I can connect with you for help & guidance( like slack/discord/discourse/ or the discussion forum of XGBoost) ?

[2020-09-27 13:09] trivialfis commented on #6172
I would start with `DMatrix` and `SKL` module.  Since for `DMatrix`, we have more and more meta info, but the constructor is untouchable.  Same goes for `SKL` module.

[2020-09-27 15:37] trivialfis commented on #6173
@divya661 Thanks for taking interest in this.  Assigned.  From what I understand, there's no limit on the number of participants, so many people can work on the same topic.  Especially for this issue, we can submit different solutions from different sources but still count as contribution.

[2020-09-27 15:46] hcho3 commented on #6174
@divya661 Thanks for volunteering. You have two options:
* Use "@hcho3" here, as I check GitHub frequently.
* E-mail me at chohyu01@cs.washington.edu, if you'd like to set up a meeting with me.

[2020-09-27 20:44] #5875 closed

[2020-09-27 22:32] jameslamb commented on #6172
I really like this idea, and I think that the proposed path of using deprecation warnings over a few releases and then eventually turning those into errors is a good one.

I think the warning should be much more descriptive than the one `scikit-learn` is using. Instead of:

I think it would be better to have something like

[2020-09-28 13:17] davidfstein commented on #6134
Anyone able to reproduce?

[2020-09-29 12:55] odidev opened #6180 "Wheel support for linux aarch64"
**Summary**
Installing xgboost on aarch64 via pip using command "pip3 install xgboost" tries to build wheel from source code.

**Problem description**
xgboost doesn't have wheel for aarch64 on PyPI repository. So, while installing xgboost via pip on aarch64, pip builds wheel for same resulting in it takes more time to install xgboost. Making wheel available for aarch64 will benefit aarch64 users b

[2020-09-29 22:08] RAMitchell commented on #6180
Arm support would be nice! You could start by trying to get a travis build working in CI: https://blog.travis-ci.com/2019-10-07-multi-cpu-architecture-support.

[2020-09-30 07:59] qinglong1230 opened #6184 "Use xgboost4j-spark 1.1.1 to run inference with model trained in python xgboost 0.90"
[code]
We used to be able to use xgboost4j-spark 0.72 to run inference on spark with model trained in python xgboost 0.90. After upgrading xgboost4j and xgboost4j-spark to 1.1.1, we started to see issues above. Any ideas about how to fix the issue?

[2020-09-30 08:18] hcho3 commented on #6184
@qinglong1230 How did you persist your XGBoost model? Depending on how you persisted the model, you may have issue with Scala version. XGBoost4J-Spark 0.90 used Scala 2.11 exclusively, whereas XGBoost4J-Spark 1.1.1 supports both Scala 2.11 and 2.12. Are you using Scala 2.12 artifact of XGBoost4J-Spark 1.1.1?

[2020-09-30 08:31] qinglong1230 commented on #6184
I'm using scala 2.11 version which is my scala version. The model was trained and saved in python. I upload the model to s3 and use a bridge class like this: https://github.com/CodingCat/XGBoostExperiments/blob/master/xgboost_exp_0.80/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostClassificationModelBridge.scala to load the model.

[2020-09-30 09:03] hcho3 commented on #6184
So the issue is really that the bridge class is no longer functional in the new version?

[2020-09-30 10:41] hassaanseeker opened #6185 "n_estimators warning"
[code]

[14:38:45] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:516:
Parameters: { n_estimators } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but passed down to XGBoost core.  Or some parameters are not used but slip through this verification. Please open an issue if you find the above cases.

I am getting the above warning w

[2020-09-30 12:25] trivialfis commented on #6185
`n_estimator` is part of the sklearn interface, not in `xgb.train`.   The sklearn interface do some configurations to change `n_estimator` into `num_boost_round` before training.

[2020-09-30 12:25] #6185 closed

[2020-09-30 12:48] trivialfis commented on #6134
Just ran it on master, works pretty well ...

[2020-09-30 12:48] trivialfis commented on #6134
Which version of XGBoost are you using?

[2020-09-30 13:03] davidfstein commented on #6134
I'm on 1.2.0 and just two classes. I'll try running XGBoost without scikit to see if it makes a difference

[2020-09-30 17:32] davidfstein commented on #6134
Ok the issue is that I was using grid search's n_jobs in conjunction with XGBClassifier's n_jobs. So the n_jobs were multiplicative. If I don't use grid search's n_jobs, XGB works as expected

[2020-09-30 17:32] #6134 closed

[2020-09-30 19:18] qinglong1230 commented on #6184
Not sure if that's the issue. We are using 0.72 which does not require a bridge class. But I also tested the bridge class in 0.90 and it works.

[2020-09-30 19:22] hcho3 commented on #6184
I'm out of ideas, unfortunately. Not quite familiar with JVM ecosystem. Feel free to share if you happen to find a fix.

[2020-09-30 21:20] qinglong1230 commented on #6184
Just tested it with 1.0.0. It seems the same code still works with xgboost4j 1.0.0 and xgboost4j-spark 1.0.0

[2020-09-30 21:45] hcho3 commented on #6171
Note to maintainers: To prevent spam, mark spammy pull requests as `spam` and close them. https://hacktoberfest.digitalocean.com/details#spam

[2020-09-30 23:24] hcho3 opened #6189 "Reduce compiler warnings for C++"
Currently, the C++ compiler generates lots of warnings: https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/master/516/pipeline/61. It would be great to reduce the number of warnings.

**Note to new contributors**: Post a comment here if you'd like to work on this issue. Feel free to ping me for help.

[2020-10-01 00:14] #6147 closed

[2020-10-01 00:17] sgavil commented on #6189
Hello, i would like to work on this issue!

[2020-10-01 00:21] hcho3 commented on #6189
@sgavil Great! I'm going to assign this issue to you. Keep in mind that you don't have to eliminate all warnings in a single pull request. It will probably take several pull requests to address all warnings.

[2020-10-01 00:59] hcho3 commented on #6189
See instructions for building XGBoost here: https://xgboost.readthedocs.io/en/latest/build.html#building-on-linux-distributions. Modify the CMake flags as follows:
[code]
in order to show all compiler warnings.

[2020-10-01 01:35] sgavil commented on #6189
Great! Thank you

[2020-10-01 06:56] divya661 commented on #6174
@hcho3 Sir, could you please suggest me a few resources regarding the first 2 points of this issue?

[2020-10-01 07:01] hcho3 commented on #6174
@divya661 Take a look at https://github.com/dmlc/xgboost/blob/6bc41df2fefe5a1205f75d6b9bfd4d331f0d025f/.github/workflows/main.yml#L62-L78, which is an automated script to test the C API example (https://github.com/dmlc/xgboost/blob/master/demo/c-api/c-api-demo.c).

[2020-10-02 11:53] LNA28 opened #6191 "How to set the minimum number of instances in one node"
Hi,

for data protection reasons I want to make sure that splitting stops when a minimum number of observation in one node is reached. In other tree boosting implementations there is a parameter to specify this. In case of Xgboost the manual says that min_child_weight specifys the minimum number ob observations in regression mode.

Is there a possibility to specify the minimum number of observatio

[2020-10-02 19:06] #6070 closed

[2020-10-02 19:08] hcho3 commented on #6191
`min_child_weight` is a useful proxy for the minimum number of observations per node. Currently, you cannot set the minimum number of observations per node directly.

[2020-10-03 04:38] hcho3 commented on #6171
Hacktoberfest now switched to opt-in: https://hacktoberfest.digitalocean.com/hacktoberfest-update. Per opt-in guidance, I added `hacktoberfest` topic to this repository. The topic will be removed after end of this month.
![Screen Shot 2020-10-02 at 9 38 50 PM](https://user-images.githubusercontent.com/2532981/94983440-aa911480-04f7-11eb-9d10-1333179a9d06.png)

[2020-10-03 19:36] puranjaymohan commented on #6015
Hi @hcho3 I would love to work on this

[2020-10-03 20:42] hcho3 commented on #6015
Great! I'm going to assign this issue to you. You should start by reading instructions in https://xgboost.readthedocs.io/en/latest/contrib/unit_tests.html#python-package-pytest. We use pytest to test Python code.

[2020-10-04 04:11] dding3 opened #6196 "Have "File /lib/libxgboost4j.dylib was not found inside JAR" exception when run xgbClassifier.fit on mac"
I tried to use xgboost4j-spark to train a xgboostclassifier on mac. And I am using the jvm package from snapshot build. Below is related xgboost settings in pom.xml.

        <repository>
            <id>XGBoost4J Snapshot Repo</id>
            <name>XGBoost4J Snapshot Repo</name>
            <url>https://s3-us-west-2.amazonaws.com/xgboost-maven-repo/snapshot/</url>
        </repository>
        <

[2020-10-04 04:18] hcho3 commented on #6196
The Snapshot build currently only supports Linux. You may obtain artifacts from Maven Central, which do support Mac.

[2020-10-04 04:19] hcho3 commented on #6196
FYI, both 1.1.1 and 1.2.0 versions are available on Maven Central now.

[2020-10-04 04:45] dding3 commented on #6196
Thanks for the update. I found the scala is 2.12 for xgboost 1.2.0 on Maven Central. Is it possible to publish scala 2.11 for xgboost 1.2.0 as well on Maven Central.

[2020-10-04 04:46] hcho3 commented on #6196
@dding3 No, because XGBoost4J-Spark 1.2.0 depends on Spark 3.0, which is exclusively using Scala 2.12.

[2020-10-04 04:53] hcho3 commented on #6196
If you are only using single-node training, you could try building XGBoost4J only with Scala 2.11. I haven't tried it myself so proceed with caution.

[2020-10-04 07:44] #6169 closed

[2020-10-04 08:10] #6196 closed

[2020-10-04 11:59] vcarpani commented on #6189
I can also contribute to this, I believe there are enough warnings for 2 different PRs

[2020-10-04 13:47] ahmedkrmn commented on #6068
Hi @hcho3,
I want to work on this issue. Any ideas on where to start?

[2020-10-04 18:44] LNA28 commented on #6191
Thank you for your answer. Can you explain what exactly do you mean by proxy? If I set min_child_weight to lets say 10, is it possible that I end up with one single observation in one node with weight > 10? Or are all weights below 1, so maybe the condition min_child_weight=10 will be met when far more than 10 observations are in one node?

[2020-10-04 18:48] hcho3 commented on #6191
The sum of Hessian weights is not necessarily equal to the number of instances. This is what I meant.

[2020-10-04 19:10] LNA28 commented on #6191
But is the first scenario I described

 also possible? How large can one weight be? I need to make sure nothing like this happens for non-disclosure reasons.

[2020-10-04 19:25] hcho3 commented on #6191
This is also possible. You should look at the specific loss function you are using and see if the Hessian can exceed 10.

[2020-10-04 19:35] hcho3 commented on #6191
FYI, if you are using binary:logistic, the Hessian weight value is given by

p * (1 - p)

where p is the probability prediction outputed by the tree ensemble.

[2020-10-05 06:37] jamescolless commented on #5056
Just as a note, lightgbm added this feature quite recently. I think it would certainly be of value.

https://github.com/microsoft/LightGBM/pull/2671

[2020-10-05 07:06] trivialfis commented on #5056
Yup.  I recently unified the evaluation procedure, partly for categorical data support, partly for features like this.

[2020-10-05 14:53] jamescolless commented on #6167
I'm not sure how to extract a particular error message, but I'm having the same issue with version 1.2.0. A large-ish data set which trains fine using CPU on external memory, but fails when I switch to gpu_hist.

[2020-10-05 17:30] talipini commented on #6167
I am seeing this issue when we are using dask as well. If anyone knows any workarounds, really appreciate it. Kinda held up here.

[2020-10-05 23:39] hcho3 commented on #6074
@RAMitchell A unit test for SHAP feature interaction is failing: https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-6202/1/pipeline/220

[2020-10-05 23:56] igormp commented on #6189
Mind if I jump into that too? GPU-related code has way too many warnings, would be nice to clean up some.

[2020-10-06 01:10] hcho3 opened #6205 "[Roadmap] 1.2.1 patch release"
We are looking to release a patch release 1.2.1, primarily to incorporate patch #6188. This patch is important to ensure that XGBoost can interoperate with other packages smoothly.

I'd like to know if there are other patches that should go into 1.2.1.

This issue will remain open until October 12, 2020.

WIP PR: #6206
I'll build a release candidate soon.

@dmlc/xgboost-committer

List of patches:

[2020-10-06 01:29] hcho3 commented on #6189
@igormp Great! Yes, your pull request is welcome! Keep in mind that some compiler warnings in the GPU code come from [CUB](https://github.com/nvidia/cub) and [Thrust](https://github.com/nvidia/thrust), so you may also consider submitting pull request there.

[2020-10-06 13:58] ascoolakash opened #6208 "xgboost plot tree generates with wrong comparison operator"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

![error](https://user-images.githubusercontent.com/6160311/95210155-31284900-07b9-11eb-8033-b291c

[2020-10-06 14:18] gitshashwat opened #6209 "module 'xgboost.compat' has no attribute 'XGBoostLabelEncoder' Error"
When trying to use XGBoost, I am able to do everything but if I save the model using` joblib.dump(model, model_fn)` and try to load it back using `joblib.load('model.mdl')`, it is unable to load. It throws an error as **module 'xgboost.compat' has no attribute 'XGBoostLabelEncoder' Error**

XGBoost version: 0.9

[2020-10-06 18:15] hcho3 commented on #6208
Please do not file an issue with an empty description.

[2020-10-06 21:45] divya661 commented on #6174
@hcho3  in point 2, by "system prefix" you mean with different OS like Windows, Mac OS & others? (want to confirm)

[2020-10-06 21:52] hcho3 commented on #6174
@divya661 No, the prefix refers to a directory where a package is to be installed. The term is used in GNU Autotools, e.g. https://www.gnu.org/prep/standards/html_node/Directory-Variables.html. The system prefix on Linux is `/usr/local`. It's called "system" prefix because the prefix is set system-wide.

Since writing to `/usr/local` requires an administrative privilege, it is often convenient to

[2020-10-07 06:59] trivialfis commented on #6209
Please upgrade to 1.2, and install sklearn.

[2020-10-07 10:04] gitshashwat commented on #6209
I've already installed sklearn. I'll consider upgrading to 1.2 too, but do we have any alternative?

[2020-10-07 11:34] trivialfis commented on #6209
I have never seen this error, actually I suspect that something went wrong with your installation or somehow `xgboost.compant` is changed to point to other entities.  Could you please look into whether `XGBoostLabelEncoder` is presented:

[code]

[2020-10-07 11:37] trivialfis commented on #6209
Just checking.  Are you loading the pickle with same Python environment?  Like same version of xgboost and same version of Python?

[2020-10-07 13:15] tqchen opened #6211 "[RFC] Move to use main as default branch"
In light of recent proposed change of [github's default branch from master to main](https://github.blog/changelog/2020-10-01-the-default-branch-for-newly-created-repositories-is-now-main/). It would be great for the community to consider such a change. Given the minimum impact to set it up. We believe is a net positive to the community and also keeps us up to the latest github convention.

This th

[2020-10-07 14:23] ascoolakash commented on #6208
I added a pdf file with all the descriptions, think that is sufficient. I'm really sorry about the confusion.

By the above flow chart, the model first checking the Total stat and if the Total stat value is greater than 574 it says it's a legendary pokemon else check's the other parameter. After checking the Total stat's it checks the Egg_Group_1_Undiscoverd which is created after using pandas get

[2020-10-07 18:00] hcho3 commented on #6208
I fail to see any bug. XGBoost always uses the same comparison operator "<". So all test nodes in the plot should be of form `[feature] < [threshold]`

[2020-10-07 18:06] hcho3 commented on #6208
Not true. That's not what the model does. If the total stat is greater than 574, then **the model predicts a negative score -0.166972861, which indicates a low probability for the legendary pokemon**. (That is, it is more likely that the pokemon is not legendary.)

Also not true. If Egg_Group_1_Undiscovered < 1, then the output is -0.112729825. This is a negative score, so it indicates a low proba

[2020-10-07 18:06] ascoolakash commented on #6208
In the present case, Total > 574 required, simillary in other case i.e., [feature] > [threshold].
You can check the dataset below:
https://www.kaggle.com/abcsds/pokemon

[2020-10-07 18:07] hcho3 commented on #6208
No, it is not possible to customize the comparison operator in XGBoost. XGBoost always uses the less than ("<") operator.

[2020-10-07 18:09] ascoolakash commented on #6208
Thanks a lot for the explanation. It helps a lot.

[2020-10-07 18:11] hcho3 commented on #6208
Good luck with your competition! Keep in mind that each tree in XGBoost produces either a positive or a negative number. A positive number signifies a high probability for the positive class, whereas a negative number signifies a high probability for the negative class.

[2020-10-07 18:11] #6208 closed

[2020-10-07 20:18] RAMitchell commented on #6211
Rapids moved to main already and it was fairly painless.

[2020-10-08 02:28] trivialfis commented on #6167
Actually I have never seen it before.  Could you check whether it's working correctly with a small dataset first?

[2020-10-08 02:53] talipini commented on #6167
Yes, smaller sample works fine. If we change the size of the sample in the above code, it runs fine. (change the for loop range in  create_samples to 1). It probably defeats the purpose of using external memory but serves as a test. Something is going on when the size of dataset exceeds a certain threshold. Pretty much the same issue when we use dask to utilize multiple gpus with a larger dataset.

[2020-10-08 04:22] hcho3 opened #6214 "[CI] Jenkins down for an emergency maintenance"
Cause: the cost watcher is timing out as CloudTrail keeps throwing `ThrottlingException`.

I took down the Jenkins server to put in a fix. I will try to put it up in a timely manner.

[2020-10-08 04:53] trivialfis commented on #6167
Thanks for the reply.  Here are some follow up questions for dask:

- Are you using `xgboost.dask` module?
  - If not, are you using external memory with dask?
  - If yes, could you please provide the related snippet for your training code?  With comment of input type (backend of dask).

[2020-10-08 06:54] hcho3 commented on #6214
Jenkins is now back up.

Post-mortem: The cost watcher lambda was horribly inefficient. Each call to the cost watcher Lambda function was sending a query to CloudTrail, and CloudTrail has a hard limit of 2 queries per second per AWS account. To avoid querying CloudTrail, I redesigned the cost watcher function as follows:
1. Every EC2 launch now adds a new entry to a DynamoDB table (this is done by

[2020-10-08 06:54] #6214 closed

[2020-10-08 07:53] jamescolless commented on #6167
In my case I am using external memory without dask, very similar to the originally posted section of code. I think dask is probably a red herring as the problem is fully reproducible without using dask as the above example shows.

[2020-10-08 08:02] honzasterba commented on #5349
I have also found similar behaviour behaviour. Here is the script used to reproduce.

https://gist.github.com/honzasterba/79bfcb95e6c183479b45218a40b8af3b

 Is this a bug?

[2020-10-08 09:42] trivialfis commented on #6167
The GPU implementation of out of core training is different and bested used with gradient based sampling.  It doesn't load data by batches like the CPU version does, as copying N batches of data from disk to system memory then to GPU memory for everything tree node is unacceptably slow.  So for scaling GPU training, you should use dask or gradient based sampling + external memory.

[2020-10-08 11:27] talipini commented on #6167
In the above sample code, we have set 'sampling_method': 'gradient_based' - is there anything else we need to do?

Keeping Dask apart, I think there is an underlying issue when data is loaded with external memory. For instance, the above code  works without an issue on the GPU if we load it straight up into the memory i.e. without external memory usage. But doesn't work if we load it via external

[2020-10-08 12:45] trivialfis commented on #6167
The parameter `subsample` for sampling rate. ;-)

One last question about this, what platform are you running on?  Windows or Linux?

[2020-10-08 12:46] trivialfis commented on #6167
That would be great!

[2020-10-08 12:57] jamescolless commented on #6167
I'm running on windows and I was using the subsample parameter (made no difference to whether I had the error or not).

[2020-10-08 13:17] trivialfis commented on #6167
That make sense.  There are some progress on making the Windows pipeline more robust.  dask interface doesn't work on Windows at all until very recently.

[2020-10-08 13:36] talipini commented on #6167
We are running on Linux. Even with subsample 0.1, I am getting the same error.

[2020-10-08 13:51] talipini commented on #6167
Just to add some more color, loading data with external memory option, results in "**invalid resource handle**" error while loading the data directly results in "**out of memory**" error.

For discussion sake, we increased the data size and loaded the data into a machine with significantly higher RAM without using external memory option. Training on the GPU with subsample 0.1 and gradient sampling

[2020-10-08 14:01] talipini commented on #6167
There are multiple things going on so perhaps isolating to simpler problem might help us. These are few unanswered questions from me.

1. With enough RAM on the machine to load the full dataset into memory, we get the "out of memory" error after the training starts. I think this is where the GPU memory is getting maxed out. Using gradient_based and subsample rate of 0.1 doesn't help.
2. If the dat

[2020-10-08 14:56] jamescolless commented on #6167
I just managed to get this working *on linux* with the same code that crashes for me on windows.

[2020-10-08 15:03] talipini commented on #6167
Could you share your linux config? And can you try with a larger dataset? Above code creates 2M samples. May be with 4M?

[2020-10-08 15:07] trivialfis commented on #6167
Thanks for the detailed report.

- The GPU utilization ratio is not satisfying.  This depends on lots of factors, but we do have plans on improving it on some cases, particularly on multi-class case (your script), stay tuned.
- External memory is not robust enough.  This is a known issue and it's marked as beta.  We drafted some plans regarding external memory, but as it's just too slow so we neve

[2020-10-08 23:42] hcho3 commented on #6211
I suggest that we pick a time that's not close to a release date. The CI needs to be updated to recognize the new main branch and there might be some hiccups along the way.

[2020-10-09 00:09] tqchen commented on #6211
@hcho3 For Jenkins CI no changes should be needed. I am not too sure about other CI though. happy to wait until the current release is out

[2020-10-09 00:53] hcho3 commented on #6211
@tqchen It has more to do with Continuous Delivery (CD) pipeline that generates artifacts for the master branch.

[2020-10-09 04:41] hcho3 commented on #6074
Another failure: https://xgboost-ci.net/blue/organizations/jenkins/xgboost-win64/detail/PR-6216/1/pipeline

[2020-10-09T03:43:42.919Z] >       assert np.allclose(np.sum(shap, axis=(len(shap.shape) - 1, len(shap.shape) - 2)), margin,

[2020-10-09T03:43:42.919Z]                            1e-3, 1e-3)

[2020-10-09T03:43:42.919Z] E       AssertionError: assert False

[2020-10-09T03:43:42.919Z] E

[2020-10-09 06:35] vickykhan89 commented on #1715
os.environ['KMP_DUPLICATE_LIB_OK']='True', I tried this command and the problem solve thanks to @Toooodd

[2020-10-09 07:06] hcho3 commented on #6068
@ahmedkrmn Great! You can start by trying to run the following commands on your machine:
[code]

[2020-10-09 08:06] Mingkko commented on #5102
If I use `eval_set=(val_x,val_y)`,it will report a ValueError just like the author.
Use `eval_set=[(val_x,val_y)]` or `eval_set=[(tra_x,tra_y),(val_x,val_y)]` is OK.
Why it is okay when I use `eval_set=(val_x,val_y)` in LightGBM?

The `train_y` is already number, it's a array.No gap, no "nan".
The objection is "binary".

[2020-10-09 08:07] hcho3 commented on #5102
In XGBoost, `eval_set` must be a list of pairs, where each pair is of form (X, y).

[2020-10-09 09:22] jamescolless commented on #6167
The following works fine on Linux but not windows:

Xgboost 1.20
Cuda 10.0
Ubuntu 18.04

[code]
Apologies for any typos.

[2020-10-09 09:49] gitshashwat commented on #6209
@trivialfis I was basically trying to load the model on a colab. I have saved in using my local system. And versions of Python and xgb is the same.

[2020-10-09 14:59] nils-fl commented on #4668
Hi, I am having the same issue using XGBClassifier and tried to implement a workaround by saving the model, deleting the model and loading it back in.
[code]
I am on xgb 1.3.0 and the models are very small. I am running a HO with Optuna with a 1000x Bootstrapping CV in each iteration. After 50 - 120 Optuna iteration, it throws the error:
[code]
and
[code]
Looking at `nvidia-smi` it only takes a co

[2020-10-09 15:15] trivialfis commented on #4668
Could you please open a new issue?

[2020-10-09 19:15] trivialfis commented on #6209
Do you have sklearn on colab?  Aside from that, it's advised to use `save_model` instead.  I know there was suggestion on using pkl on sklearn interface.   We changed that after 1.0 and `save_model` should be used all the time.  One of the reasons is pickle saves the whole environment instead of what matters (the model).  This doc is added in 1.0: https://xgboost.readthedocs.io/en/latest/tutorials

[2020-10-09 20:27] mwiebusch78 opened #6217 "xgboost.dask.train freezes on large dataset but dask_ml.xgboost.train succeeds"
After migrating my code froom dask_ml to the new xgboost.dask API the dask job frequently freezes (i.e. stops using any CPU resources but never finishes) after producing the following output:

[code]

I can only reproduce the problem on fairly large datasets and it seems to be intermittent (occasionally it decides to work). When I terminate the process with CTRL-C I get the following stack trace:

[2020-10-09 20:57] trivialfis commented on #6217
It might be oom error.  After dask restarting the worker due to abortion, synchronization will lead to hang.  We might need to catch all c++ exception in C API.

[2020-10-10 04:04] archernero opened #6218 "Can anyone explain how rank:pairwise object constructs a pair through a given group?"

[2020-10-10 09:25] mwiebusch78 commented on #6217
Thanks. How do I do that? Does that mean I'd have to compile from source?

[2020-10-10 09:52] #4955 closed

[2020-10-10 09:52] #5495 closed

[2020-10-10 10:27] trivialfis commented on #6217
Right now, there's no way.  Will submit a PR later.

[2020-10-10 15:14] talipini opened #6221 "Understanding preds data sent to custom scorer through feval in multi:softprob objective"
Data sent to custom feval function looks confusing when training in multi:softprob objective. My expectation is that the data sent is the probabilities of the classes but that doesn't seem to be the case so I am trying to understand what the data is.

Here is the sample code for discussion purposes. I am just using iris data for this example and introducing a custom feval function to score the pre

[2020-10-11 03:58] gitshashwat commented on #6209
Cool, understood. This might be the real problem. The saving environment one. Keeping this open to comments for a week, and will close the issue otherwise.
Thanks @trivialfis :)

[2020-10-11 05:29] Wittty-Panda commented on #6173
@hcho3 @trivialfis  is this still open ?

[2020-10-11 05:30] hcho3 commented on #6173
@Wittty-Panda Yes, this issue is still open. Feel free to add more.

[2020-10-11 05:36] Wittty-Panda commented on #6173
okay ,sir. I will do my best.

[2020-10-11 05:38] trivialfis commented on #6209
It a mix of many issues actually.  This involves the stability of Python byte code and the Python code structure.  Sklearn advice to use some model exporting libraries like onnx and gives a warning that some attributes might be lost in round-trip.  When using lossless pickle, it gives a warning that stability of pickle is not guaranteed.

On the other hand, without pickle it's really difficult to

[2020-10-11 05:55] Wittty-Panda commented on #6173
@hcho3 do i have to make another section for data science or just add them in machine learning one ?

[2020-10-11 05:56] hcho3 commented on #6173
@Wittty-Panda Just add them to the section titled `Machine Learning Challenge Winning Solutions`.

[2020-10-11 05:57] Wittty-Panda commented on #6173
okay sir

[2020-10-11 06:47] Wittty-Panda commented on #6173
@hcho3 can you please check pull request #6222
I have added 2 winners as per your instructions , if you find it useful please merge and add hacktoberfest-accepted tag.
Thank you for giving me a chance to contribute. #6222

[2020-10-11 13:41] talipini commented on #6221
I believe the values are sum of leaf values across the trees. To get to the probabilities, we need to apply the softmax on each samples leaf values.

For ex, applying softmax on the leaf values gets us the probabilities..
[0.281155 0.909091 0.2899053 ]  --> [0.25756 0.48261 0.25983]

use scipy softmax or simply  `np.exp(leaf_values) / np.sum(np.exp(leaf_values), axis=1)`

Leaving it in here, in ca

[2020-10-12 02:25] igormp commented on #6189
I've noticed that most warnings (I'd say half of those) come from [dmlc](https://github.com/dmlc/dmlc-core), so maybe some PRs would be welcome there.

[2020-10-12 05:36] hcho3 commented on #6189
@igormp Yes, the compiler warning has been an issue for a while in dmlc. Would you like to take a shot?

[2020-10-12 07:32] nils-fl opened #6225 "Training many models with gpu_hist in Optuna yields ‘parallel_for failed: out of memory’"
Hi, I am having an issue using XGBClassifier on GPU running OOM and tried to implement a workaround by saving the model, deleting the model and loading it back in.
[code]
I am on xgb 1.3.0 and the models are very small. I am running a HO with Optuna with a 1000x Bootstrapping CV in each iteration. After 50 - 120 Optuna iteration, it throws the error:

[code]
and
[code]
Looking at nvidia-smi it onl

[2020-10-12 08:35] trivialfis commented on #6225
Let me dive into Optuna.  At the same time could you please share the shape of your data?

[2020-10-12 09:08] trivialfis commented on #4230
I don't think we will support this kind of customization as this is deep in the core of XGBoost.

[2020-10-12 09:08] #4230 closed

[2020-10-12 09:11] #4546 closed

[2020-10-12 09:12] #5163 closed

[2020-10-12 10:12] nils-fl commented on #6225
Thanks for the effort.
The shape varies in number of features, but all are failing with the same error. A typical shape would be (133, 20) though.
A detail that I forgot to mention is that I am using the Optuna build in `optuna.integration.XGBoostPruningCallback` to skip runs but it also fails without the callback.

[2020-10-12 11:56] tanuja3 commented on #5801
Can I work on this issue?

[2020-10-12 12:09] trivialfis commented on #5801
You are welcomed.  😀

[2020-10-12 13:55] Kotsakis opened #6227 "Effects of DeviceQuantileDMatrix object on the results (binary classification)"
Is it possible to document how DeviceQuantileDMatrix is affecting the results?

I had memory issues so i switched to this but my results are off. I did not touch the max_bins parameter though (some insights on that parameter, would be greatly appreciated).

Also, when specifying "missing" parameter in DeviceQuantileDMatrix when cupy is chosen, it should be remade to cp.nan right?

[2020-10-12 14:12] trivialfis commented on #6227
@Kotsakis Are you using dask interface?  Or it's single node?

Not necessary.  As long as it's IEEE floating point nan value: https://en.wikipedia.org/wiki/NaN

[2020-10-12 14:14] Kotsakis commented on #6227
It is a single node.

[2020-10-12 14:35] trivialfis commented on #6227
Could you please provide a reproducible script?  I'm asking as we have tests to show the results are the same, but apparently they are not sufficient.

[2020-10-12 14:39] Kotsakis commented on #6227
I will try to, as soon as possible.

[2020-10-12 22:10] #6205 closed

[2020-10-13 02:06] RAMitchell opened #6228 "gpu_hist integer overflows and OOM issues"
This issue tracks gpu_hist bugs relating to large workloads, uncovered in recent experiments on the mortgage dataset.

- Thrust copy_if has an integer overflow when n_rows*n_cols > 2^31. #6201 implements a workaround by iterating over batches.

- Memory usage has possibly increased since version 1.0-1.1, leading to OOM on 32gb devices even with the above fix. We should do some analysis of peak mem

[2020-10-13 09:10] puranjaymohan commented on #6015
@hcho3 Hi! Sorry for not responding in the last ten days.
I have read the article mentioned by you and also found that dtreeviz is a visualization library.
Please tell me what exactly has to be tested, I mean which functions or something like that.
Thanks

[2020-10-13 09:14] hcho3 commented on #6015
@puranjaymohan I suggest you start with https://github.com/parrt/dtreeviz/blob/master/notebooks/dtreeviz_xgboost_visualisations.ipynb. Aim to extract commands from this notebook and create a standalone Python script that can be automatically run by a test farm (CI).

[2020-10-13 11:26] he-ritter opened #6231 "xgboost.callback.TrainingCallback not importable"
The official example (at [https://github.com/dmlc/xgboost/blob/master/demo/guide-python/callbacks.py](url)) subclasses xgboost.callback.TrainingCallback the following way:

[code]

This does not work as TrainingCallback is not importable:

[code]

[2020-10-13 11:58] #6231 closed

[2020-10-13 11:59] he-ritter commented on #6231
Turns out a pip install installs version 1.2. After building 1.3 everything works.

[2020-10-13 12:55] igormp commented on #6189
Sure! It'll try to go through it during this week.

[2020-10-13 14:02] trivialfis commented on #6231
Wow, super early tester.  Let us know how it goes with the new callback.

[2020-10-13 14:13] sjoerdvansteenkiste commented on #1715
I found an alternative solution to this problem [here](https://docs.openvinotoolkit.org/2018_R5/_docs_MO_DG_Known_Issues_Limitations.html), which is to preload the OpenMP runtime using the `LD_PRELOAD` variable:

[code]

This eliminates multiple loadings of libiomp, and makes all the components use this specific version of OpenMP.

[2020-10-13 22:18] pseudotensor opened #6232 "Support GPU input in `XGBClassifier`; deprecate the use of label encoder"
conda, xgboost 1.2.0 , rapids 0.14, Ubuntu 18.04 LTS, GeForce RTX 2080, cuda 10.0.

While the non-sklearn API can take cudf, the sklearn API fails with the error in the title.

Any data set works, just choose for creditcard.csv .    For the target given can choose attached dataset
[creditcard.csv.zip](https://github.com/dmlc/xgboost/files/5374518/creditcard.csv.zip)

i.e. this works:
[code]

but t

[2020-10-13 22:22] hcho3 commented on #6232
@pseudotensor The `eval_set` argument should be in correct format:

[code]

See https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBClassifier.fit

[2020-10-13 22:26] pseudotensor commented on #6232
Hi @hcho3 , sorry, typo on my side.  I fixed the above but the error still remains.

[2020-10-13 22:36] pseudotensor commented on #6232
Note that  `model = xgb.XGBRegressor(**params)` works, but `model = xgb.XGBClassifier(**params)` does not.  I had similar error for xgboost 1.0.0, where label encoding the y failed with cudf error.  Will post...

[2020-10-13 22:40] hcho3 commented on #6232
It appears that the label encoder does not work with cuDF. Tagging @trivialfis

[2020-10-13 22:43] pseudotensor commented on #6232
I didn't see anyone post the same error, so wondering what to try.  But, I can try rapids 0.15 or 0.16 to see if it's a bug in cudf that was fixed.

[2020-10-13 22:51] pseudotensor commented on #6232
No, rapids 0.15 fails in different but related way:

[code]

[2020-10-13 22:54] hcho3 commented on #6232
The issue is that sklearn's label encoder cannot accept a cuDF array.

[2020-10-13 23:08] pseudotensor commented on #6232
Can I ask a general related question?  To what extent is cudf supported in xgboost?  Are there documented issues for lack of support?  Or is plan to fully support?  Are there tests for cudf specifically?  I'd suppose the full suite of tests could be done but input data X, y, eval_set could be cudf and that should catch a bunch of issues.

[2020-10-13 23:13] hcho3 commented on #6232
@pseudotensor We have a suite of tests to ensure compatibility with cuDF. See [this](https://github.com/dmlc/xgboost/blob/master/tests/python-gpu/test_from_cudf.py) for an example. The issue with `XGBClassifier` is actually a known issue: #5541.

[2020-10-13 23:14] pseudotensor commented on #6232
@hcho3 I see, thanks.  I didn't find it in the issues since no explicit error was provided.

[2020-10-13 23:20] hcho3 commented on #6232
@pseudotensor The issue is really confined with `XGBClassifier`, as it embeds sklearn's label encoder. Other parts of XGBoost, such as `xgb.train` or `xgb.DMatrix` support cuDF fully.

I will write a short path to throw an explicit error when a cuDF array is fed into `XGBClassifier`. In the long term, we'll need to revise `XGBClassifier` so that it doesn't rely on sklearn's label encoder. Some alt

[2020-10-13 23:22] pseudotensor commented on #6232
It would be nice to be able to just skip the label encoder by choice, which would be work-around for this issue as well.

[2020-10-13 23:24] hcho3 commented on #6232
@pseudotensor Thanks a lot for the suggestion. For this release (1.3.0), it should be feasible to add an option to skip the label encoder.

[2020-10-13 23:28] hcho3 commented on #6232
@pseudotensor What do you think of the idea of eventually deprecating the use of label encoder inside `XGBClassifier`? The presence of label encoder makes it tricky for us to support additional array types. For now, when the option `skip_label_encoder` is set to `False`, we can throw a `DeprecationWarning`.

[2020-10-13 23:31] pseudotensor commented on #6232
Yes, sounds reasonable on both deprecation and long period.

[2020-10-13 23:33] hcho3 commented on #6232
@pseudotensor That's good to hear. In your opinion, how long should the deprecation period be? For example, is 4 month (two releases) period sufficient in your view?

[2020-10-13 23:35] pseudotensor commented on #6232
Ya, sounds reasonable.  Someone might expect no breaking changes for upgrading 1 or 2 sub versions, but 3 sounds fair, especially as GPUs are being used more and more and streamlining for that case can be a priority.

[2020-10-14 05:45] pseudotensor opened #6235 "segmentation fault when using gblinear on GPU with cudf"
Same specs/setup as here: https://github.com/dmlc/xgboost/issues/6232

[code]

fails with segfault (every time run)

Core shows:

[code]

while otherwise identical non-cudf GPU way works:

[code]

@hcho3 @trivialfis

Before I did this example, I found gblinear worked until I added eval_set.  But in the above, the segfault still occurs even if the eval_set is removed from the fit().

[2020-10-14 05:48] pseudotensor commented on #6235
rapids 0.15 with cudf 0.15 and cuml 0.15 also segfault same way.

[2020-10-14 05:51] pseudotensor commented on #6235
[code]

Note the other "tree" arguments don't matter, just doesn't use them.  But above is without them, still seg faults.

Only sometimes before the segfault I get extra message:

[code]

but not always.

[2020-10-14 09:24] powarvinayak commented on #1715
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

Followed by

Worked for me. Thanks!

[2020-10-14 14:31] rahullak opened #6236 "ValueError: could not convert string to float: 'Faridabad' appears even though X variable has NO string/object columns"
Hello,

I am facing what looks like a weird issue. I get this "ValueError: could not convert string to float: 'Faridabad' " for a X variable that contains only float and int columns.

Here's a code snippet:

[code]

So the output here is:

Xtrain shape (26505, 269)
Ytrain shape (26505,)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 26505 entries, 27112 to 13151
Columns: 269 entries, POSTED_BY_

[2020-10-14 15:35] kohsuke commented on #5957
I hit the same problem with 1.2.0. So the problem is still here.

[2020-10-14 18:01] trivialfis commented on #6236
One of the columns in your dataframe might be of string type.  Could you please check that?

[2020-10-14 18:07] trivialfis commented on #6031
Moving:

- [ ] Support dask on reverse proxy environment. (#5765, #5408, #6142)

off the list.  Getting it work on GKE is a bit tricky.  Related:
- dask kubernetes: https://kubernetes.dask.org/en/latest/
- kubernetes
- GKE
- RABIT internal

[2020-10-14 19:30] trivialfis commented on #6236
Could you please check the `Y_train`?

[2020-10-14 22:13] pseudotensor opened #6237 "typo in DaskScikitLearnBase and confusion regarding sample_weight"
There is some confusion in naming.  non-Dask-API uses "sample_weight" but Dask uses "sample_weights" even while the code docs for Dask show "sample_weight" like non-Dask case.

[code]

In same file one also has:

[code]

As if it is a list of arrays, but what is the meaning of that?  I think it should be just like non-Dask case and be a single array.

Perhaps there is some confusion between the fa

[2020-10-14 22:18] pseudotensor commented on #6237
A related confusion, is that the normal xgboost scikit-learn API is: https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBClassifier.fit

So fit takes early_stopping_rounds, etc.

Is it correct that dask has no such option and so cannot do early stopping?  That would be a critical feature.

I understand the docs say dask has no callback testing: https://xgboost.readthedocs.io

[2020-10-14 22:22] hcho3 commented on #6237
@pseudotensor The early stopping support for the Dask API is currently in progress. We had to redesign the callback mechanism to accommodate the Dask AI (#6199).

[2020-10-14 22:24] pseudotensor commented on #6237
Hmm, this suggests it's optional:

https://github.com/dmlc/xgboost/blob/master/demo/dask/sklearn_gpu_training.py#L22

[2020-10-14 22:26] pseudotensor commented on #6237
I would still say that a single API and just calling model.fit() model.predict() no matter which is highly beneficial.  If "client" must be passed, it can be an extra optional kwarg (default None) that is asserted on in case dask frame is passed.

[2020-10-14 22:30] pseudotensor commented on #6237
That's great.  I see it's merged, so will be in 130?

[2020-10-14 22:32] hcho3 commented on #6237
@pseudotensor So `DaskXGBRegressor` can automatically fetch `get_client()` from Dask.distributed, if no `client` is given by the user.

In general, I agree that users should be able to use `DaskXGBRegressor` just like `XGBRegressor`. Any major API mismatch should be avoided.

Yes, we aim to have a working callback mechanism for Dask in 1.3.0 release.

[2020-10-14 22:35] pseudotensor commented on #6237
Ya, and I mean even further there really only needs to be XGBRegressor/XGBClassifier.  I can't see why need dask specialized versions.  From usability perspective it's extra confusion.

[2020-10-14 22:35] pseudotensor commented on #6237
(For context the original "sample_weight(s)" issue is still there.

[2020-10-14 22:42] hcho3 commented on #6237
We can consider merging `DaskXGBRegressor` with `XGBRegressor` once we have feature parity between the two. Dask API must support the callback mechanism first, and that's currently in progress.

[2020-10-14 22:45] hcho3 commented on #6237
Assigning myself to this issue, to address any mismatch in `DaskXGBRegressor` and `XGBRegressor` API.

[2020-10-14 23:18] pseudotensor commented on #6237
Thanks.  I'm not even sure things function as they are.  At least something like pycharm does not like me passing sample_weights, probably because one of the base classes uses sample_weight.  There is no way to get pycharm to like it, plural or not.

[2020-10-15 00:56] pseudotensor opened #6239 "Dask_cudf failure: ValueError: Cell is empty"
Same specs and dataset as here: https://github.com/dmlc/xgboost/issues/6232

Script:

[code]

Leads to:

[code]

This only happens if one has already imported dill.  However, this is fairly critical since any use of dill outside xgboost would be normal.

This may be more of a dask issue, but I didn't try to reproduce in dask itself.  I did not find anything like this problem on github for dask or

[2020-10-15 01:01] hcho3 commented on #6239
@pseudotensor Thanks for taking time to test XGBoost and file bug reports. Well-written reports with reproducible examples are highly valuable to us. We will try to reproduce the bug and get back to you.

[2020-10-15 02:21] pseudotensor commented on #6237
@hcho3 BTW, a reason why it's not a good idea to have the model accept "client" is because "client" is not serializable.  So this will break anything that relied upon pickle.  So using the context manager way as above or lazy getter from dask is probably best.

[2020-10-15 02:24] rahullak commented on #6236
Yes, that was the issue thank you!
Apparently I had changed the order of columns in the dataset during my tinkering and the Y was getting a different column than intended!

Guess i get the prize for most obvious mistake in the world :/

Thanks again for pointing it out!

[2020-10-15 02:24] #6236 closed

[2020-10-15 04:57] trivialfis commented on #6237
For the skl interface, accepting an optional client parameter might be necessary, as the `client` object carries out most of the async switches.  If a wrong `client` returned by `get_client` the rest will be completely broken.

[2020-10-15 04:59] trivialfis commented on #6237
The typo however, should be fixed. @hcho3 I will submit a PR for that after getting around the overflow issue.

[2020-10-15 05:05] hcho3 commented on #6237
@trivialfis What should we do about `client` not being serializable?

[2020-10-15 05:05] trivialfis commented on #6237
I tried that before having the current interface and went through some discussions.  The result is not possible at the moment.  But I agree that's something we can work toward in the future.  An unified interface with different backends.  Right now getting dask interface to have feature parity with single node would be a priority, sorry the for the inconvenience.

[2020-10-15 05:07] trivialfis commented on #6237
- Use `train` and `predict` function. Or
- Don't set the optional `client` object for skl interface when not needed. Or
- Use `get_booster` to obtain the real model. Or
- Set it to None before serialization. Or

[2020-10-15 05:37] trivialfis commented on #6239
Looks like a dill issue to me. ;-)  Not sure what's it doing under the hood.

[2020-10-15 07:26] #6237 closed

[2020-10-15 08:01] trivialfis commented on #6214
Thanks for maintaining the CI.. It's very confusing that how these things are glued together though ...

[2020-10-15 08:02] otivedani commented on #5869
Hi,
I might could do some tests in GTX1050Ti. Can you point out which tests to begin with?

[2020-10-15 10:07] trivialfis commented on #5869
Hi @otivedani You can start with google test: https://xgboost.readthedocs.io/en/latest/contrib/unit_tests.html#running-gtest

[2020-10-15 13:39] ChrisZheng1985 opened #6241 "[Feature request] Feature Importance for Multi-Class classification"
Hi,

First of all, really appreciate the xgboost developer here as you guys are awesome and xgboost is a great tools for us either for educational purpose or solving real world problem.

As a lot of you or the users could have this already, but basically when we do multi-class classification, we would also like to see the feature importance for each predicted classes, instead of just the 'average

[2020-10-15 13:51] ChrisZheng1985 opened #6242 "[Feature request] Multi-class classification objective function using OneVersusOne method"
Hi,

For multi-class classification, we have the objective functions of 'multi:softmax' and 'multi"softprob', which basically are using the OneVersusOthers method (correct me if wrong).

In a lot of modeling execrise, for instance, we need to classify A, B, C1 and C2 where C1 and C2 are classes that share a lot similar characteristics. Thus when we have our primary focus on predicting C1, we use t

[2020-10-15 15:07] jsignell commented on #6239
Looks like it could be this one: https://github.com/uqfoundation/dill/issues/383

[2020-10-15 15:36] trivialfis commented on #6239
@jsignell Should have found the correct issue.  Will close this one if no objection.

[2020-10-15 15:40] trivialfis opened #6243 "Wheel for arm64"
Reminder for following up on #6200 .

@hcho3 Should we target this for 1.3?

[2020-10-15 15:41] hcho3 commented on #6243
Yes, I will work on it this week.

[2020-10-15 15:48] trivialfis commented on #6242
It's unclear to me what exactly do you want XGBoost to do.  Could you please elaborate on:

- The mathematical definition of reference group.
- For point 2, this seems to be combinatorial explosion?

[2020-10-15 16:00] trivialfis commented on #6242
That make sense.  But still, what's reference group?

[2020-10-15 16:30] ChrisZheng1985 commented on #6242
@trivialfis
Sorry for the confusion,

For example, when we have classes of A, B, C, D. Suppose use chooses 'The reference group = D', then the objective function will evaluate a series of 'binomial' classification of A vs D, B vs D, and C vs D. And then convert each of the logodd to the probability of the four classes.

A more details can also refer to the below:
section 'As a set of independent b

[2020-10-15 19:30] #6239 closed

[2020-10-16 01:04] Rupam07 opened #6245 "Cannot install xgboost with pycharm"
Hi,

I tried installing and running xgboost as xgb on PyCharm but facing the same error while downloading and running
I tried downloading it with pip, brew as well as the installer with project interpreter on PyCharm. Please help me with this I am stuck with the issue since forever and need it to be solved asap.

I can share the details and screenshots if required further. If there are any steps t

[2020-10-16 02:18] trivialfis commented on #6245
Please share the screenshots. ;-)

[2020-10-16 02:19] trivialfis commented on #6245
And the platform information:
- OS
- PyCharm version
- pip version

[2020-10-16 02:25] Rupam07 commented on #6245
The error message is:
<img width="1308" alt="Screen Shot 2020-10-15 at 7 20 40 PM" src="https://user-images.githubusercontent.com/48689684/96205474-87b12800-0f1b-11eb-8605-9c6c852585b4.png">
I am using Python 3.8
PyCharm Version:
<img width="452" alt="Screen Shot 2020-10-15 at 7 21 27 PM" src="https://user-images.githubusercontent.com/48689684/96205527-a31c3300-0f1b-11eb-8263-1ea7a9a43cc6.png">
Pi

[2020-10-16 03:18] 7starsea opened #6246 "minor typo in doc for XGBClassifier.predict_proba"
I think the type for the first parameter _data_ in the method _XGBClassifier.predict_proba_ is _array_like_, but the current doc says _DMatrix_.

[2020-10-16 03:36] trivialfis commented on #6245
ping @hcho3

[2020-10-16 04:06] hcho3 commented on #6245
@Rupam07 You should install the OpenMP runtime, by running `brew install libomp`. (This command requires [Homebrew](https://brew.sh/).) That should enable XGBoost to run on your system.

[2020-10-16 04:09] Rupam07 commented on #6245
@hcho3 Thank you that helped!

[2020-10-16 04:09] #6245 closed

[2020-10-16 08:40] #6246 closed

[2020-10-16 09:41] ACEGuiPeng opened #6250 "xgboot model got memory leak when loading model and predicting score"
#### User Story

As a python developer,I want to use xgboot model to predict score.

#### What happened:

I got memory leak and I could not to release memory manually when I used xgboost model on product servers.

#### How to reproduct this bug:

##### prepare

1. got a xgboot model file

2. got python version:3.7.9 develop environment

3. install requirement list

[code]

4. pip install xgboost-1

[2020-10-16 10:06] trivialfis commented on #6250
Is it still increasing when you continue?  The first prediction will allocate a thread local buffer for storing prediction result.  Subsequent prediction will reuse previous buffer.

[2020-10-16 11:01] ACEGuiPeng commented on #6250
No,it is not increasing in a loop,thanks!And I have other questions:
1. Should I load the model in a global variable once when the app starting？
2. When the buffer memory release to the system？Is there a way to release the memory manually？Because the model predict frequently on product environment.

[2020-10-16 11:30] pseudotensor opened #6251 "[FEATURE] When using cudf, allow predictions to come back on GPU"
Currently predictions are on the GPU after the _LIB.XGBoosterPredict() call in core.py, but then this is converted to numpy and this forces it to go back to the CPU.  Then some basic reshaping is done.

This is unfortunate since if one could keep the predictions on the GPU, then one could use GPU-based scoring and other operations on the GPU.

I don't see anything complicated in the reshape relate

[2020-10-16 11:36] trivialfis commented on #6250
There's no restriction on how you load the model.

When the thread exits.  The memory is allocated by `thread_local`. https://en.cppreference.com/w/cpp/keyword/thread_local

Launch a new thread for prediction.  The memory buffer is managed by c++ runtime.

In that case, not releasing the memory is beneficial from my perspective.  If you run prediction frequently, then for every prediction you will

[2020-10-16 11:38] trivialfis commented on #6251
Can you use `inplace_predict`?

[2020-10-16 11:42] trivialfis commented on #6250
Feel free to close if that answers your questions. :-)

[2020-10-16 11:43] ACEGuiPeng commented on #6250
Thanks a lot!Best wishes to you.

[2020-10-16 11:43] #6250 closed

[2020-10-16 11:58] pseudotensor commented on #6251
Thanks.

Main issue is it appears much more limited than predict, e.g. no pred_contribs, etc.

Yet, the normal predict would be easy to make good, at least with some option to choose return type maybe.  It seems very close to being fully cudf return value.

I'm using scikit-learn API, so another reason I don't have choice to use inplace_predict, but that's not a big deal of course.  Main issue is

[2020-10-16 12:01] pseudotensor commented on #6251
Also, I'm guessing that for dask_cudf use, if want it to be feature complete, need to be able to return everything predict can but stay on GPU.

[2020-10-16 20:07] merleyc commented on #5705
Hi @trivialfis ,

I want to learn how to contribute to XGBoost so I'd like to be considered to work on this issue.
I know how to build the shared library:
_**... build]$  make -j$(nproc)**
[ 14%] Built target dmlc
[ 20%] Built target rabit
[ 26%] Built target rabit_mock_static
Scanning dependencies of target objxgboost
[ 28%] Building CXX object src/CMakeFiles/objxgboost.dir/common/quantile.cc.o
[

[2020-10-18 18:12] trivialfis commented on #5705
Sorry for the long wait.  This is about using `libxgboost.so` from system paths like `/usr/lib64/libxgboost.so` instead of the shared library from `soure-path-to-xgboost/lib`.

[2020-10-18 18:14] trivialfis commented on #5705
This way, some packaging systems can avoid having 2 identical shared libraries.

[2020-10-19 03:28] WeichenXu123 opened #6256 "[Feature request] DMatrix python API support batch input and disk caching"
Like DMatrix java interface XGDMatrixCreateFromDataIter:
https://github.com/dmlc/xgboost/blob/4d99c58a5f2a4e586dede954182a30f547f98169/include/xgboost/c_api.h#L170

Which we can use batch iterator to construct a DMatrix, and can set a disk cache directory for caching.

DMatrix Python API should also provide this interface.
This will help reduce memory peak usage when construct DMatrix and xgb trai

[2020-10-19 04:02] #6235 closed

[2020-10-19 05:35] #6180 closed

[2020-10-19 05:35] #6243 closed

[2020-10-19 06:25] trivialfis commented on #6256
If you are using the `hist` tree method, a CPU equivalent to the second set of callback API should be preferred over the first set.

[2020-10-19 08:05] #5703 closed

[2020-10-19 11:42] trivialfis commented on #6209
Feel free to reopen if the issue is not yet solved.

[2020-10-19 11:42] #6209 closed

[2020-10-19 11:53] trivialfis commented on #5541
Closing in favor of https://github.com/dmlc/xgboost/issues/6232 .

[2020-10-19 11:53] #5541 closed

[2020-10-19 11:58] trivialfis commented on #5580
The issue is unrelated to left over files.  Closing.  As for the error:

[code]

It might be caused by some other errors and the process is not correctly terminated.  Please open a new issue when there's a reproducible example.

[2020-10-19 11:58] #5580 closed

[2020-10-19 12:01] trivialfis commented on #5023
Remaining issues are dask partitioning functions and GPU ranking.  Ranking is tracked in https://github.com/dmlc/xgboost/issues/5561 .  Dask partitioning still needs some more investigation.

[2020-10-19 13:03] trivialfis commented on #5765
We spent a fair amount of time on this.  We were able to get it working on local testing with k8s, but failed on GKE.  I will try the dask gateway.

[2020-10-19 15:34] BurakBarlas commented on #6189
Hi, Can I try to help you in this issue?

[2020-10-20 00:16] cryanking opened #6261 "[R] rm'ing booster does not clear GPU memory"
A longstanding issue is the requirement to serialize and delete booster objects to release GPU memory. However, when using the R wrapper for xgboost and the gpu_hist method, removing the booster from the R session does not trigger releasing GPU memory. when e.g. searching for hyperparameters, GPU memory use piles up and crashes the session. I do not see a method in the R package source to deconstr

[2020-10-20 00:51] RAMitchell commented on #6261
We fixed this in the python layer by copying the booster object at the end of training: https://github.com/dmlc/xgboost/blob/d1254808d5d073fe744b67681c7a07356e1233dd/python-package/xgboost/training.py#L137

It may be possible to do the same thing in the R layer. Would you be interested in submitting a PR?

[2020-10-20 01:20] trivialfis commented on #6261
Weird that removing the booster doesn't release memory.  Maybe the GC hasn't kicked in yet?

[2020-10-20 01:24] cryanking commented on #6261
That's a good point; I did not call gc(), and R's gc tends not to collect until it "has to". I will try that and report back.

[2020-10-20 02:39] cryanking commented on #6261
I cloned and compiled on a new machine, and gc() does take care of most of it. All that I have now is it not releasing a small amount of memory, so not a big deal.

[code]
Package Version Built
xgboost xgboost 1.3.0.1 3.5.2

That accumulates to
[code]

 and after gc() only 350 MB is floating around.

[code]

[2020-10-20 02:50] trivialfis commented on #6261
Releasing `dtrain` and `dtest` should wrap up most of the rest.  There might be a small buffer for staging prediction result before transferring it to R.

[2020-10-20 10:01] otivedani commented on #5869
I have done google test, and this is my logs : [https://github.com/otivedani/xgboost/tree/wsl-test-logs/build/wsl2-ubuntu2004/logs]()

I have encountered this error at `make test` [https://github.com/otivedani/xgboost/blob/wsl-test-logs/build/wsl2-ubuntu2004/logs/02_maketest_gtest.log]() :
[code]

while detailed `ctest -VV` is here [https://github.com/otivedani/xgboost/blob/wsl-test-logs/build/wsl

[2020-10-20 10:40] ranInc commented on #5957
I also got the same problem, using xgboost4j

[2020-10-20 10:56] ranInc commented on #5957
This is a big problem for me, it failed jobs in production.

[2020-10-20 11:07] hcho3 commented on #5957
@ranInc Are you using the latest version of XGBoost? So far we are not aware of the cause of this issue. We will address it on a best-effort basis, so I suggest that you investigate an alternative in the meanwhile.

[2020-10-20 11:09] hcho3 commented on #5957
@ranInc You can help us by providing a small example program we (developers) can run on our own machine.

[2020-10-20 11:16] ranInc commented on #5957
Yes,
I am running 1.2.0.
The alternative for me is to go back to saprk 2.4.5 and than use xgboost 0.9 - and this is what I am doing now.

For the example: I will try and pinpoint the specific model/data that causing the job to fail later.

[2020-10-21 00:07] hcho3 commented on #6189
@BurakBarlas Yes! Feel free to submit a pull request. Let me know if you need help.

[2020-10-21 00:28] hcho3 commented on #6256
Related: https://discuss.xgboost.ai/t/why-does-dmatrix-copy-numpy-data-even-when-it-meets-c-contiguous-and-float32-constriants/1901

A batch iterator API for CPU will help lower memory consumption when building a DMatrix from a NumPy array.

[2020-10-21 00:32] hcho3 commented on #6174
@divya661 Any updates? If you'd like further assistance, please do let me know.

[2020-10-21 00:35] hcho3 commented on #6221
@talipini Yes, that is correct. The values are the sum of raw scores produced by the leaf nodes in all the trees. You will need to manually apply the softmax.

From the release note of XGBoost 1.2.0:

[2020-10-21 00:35] #6221 closed

[2020-10-21 04:59] sagar1512garg opened #6264 "pickle file saved in older version of xgboost is not working in latest version of xgboost"
I tried to read pickle file in older version and use save_model function to save the model in .model file. file is saved in .model format successfully. But when I load model file in latest xgboost version using load_model it is not working.

Can you help me on this?

[2020-10-21 05:12] trivialfis commented on #6264
What was the error you saw?

[2020-10-21 05:16] trivialfis commented on #6264
More questions:

- Which interface are you using?   scikit-learn based like `XGBRegressor` or native interface like `Booster`?
- What are the 2 versions of XGBoost you are using?

Just to be sure, currently:
- Have a pickle file generated by old XGBoost.
- You used old XGBoost to load it, and saved it as model file.
- You tried to load the saved model in newer XGBoost, but saw an error.

[2020-10-21 05:27] sagar1512garg commented on #6264
Error is as below:
error: [05:57:18] /workspace/src/learner.cc:854: Check failed: header == serialisation_header_:

  If you are loading a serialized model (like pickle in Python) generated by older
  XGBoost, please export the model by calling `Booster.save_model` from that version
  first, then load it back in current version.  There's a simple script for helping
  the process. See:

    https:/

[2020-10-21 05:38] trivialfis commented on #6264
Could you show me the code you used to load the model?  The check should not occur if you are calling
`booster.load_model`.

[2020-10-21 05:42] sagar1512garg commented on #6264
I am using Scikit learn xgbclassifier
I saved pickle file in 2018 of the xgboost classifier. I don't remember what was the version of xgboost at that time

Now in 0.8 version pickle file is loading fine, but in version 1.1.1 I am getting the error which is mentioned above.

In order to resolve the error, I tried to do what is mentioned in the documentation link which is shown in error, but it didn

[2020-10-21 06:12] sagar1512garg commented on #6264
I used below code in 0.71 xgboost version to do save_model. It worked fine and I got the file saved in .model format.

import pickle
import xgboost

# Unpickle model
with open('./your_model.pkl', 'rb') as f:
    bst = pickle.load(f)

# Export model as binary format
bst._Booster.save_model('your_model_binary.model')

After that I tried to load this file in 1.1.1 version using load_model but it give

[2020-10-21 07:49] trivialfis commented on #6264
Hi, could you please be more specific?

Does "worked fine" mean you can load the model in later version of XGBoost and use it as expected?

The warning is expected.

[2020-10-21 08:05] #6261 closed

[2020-10-21 08:49] hcho3 commented on #5869
Great! Can you also try running the unit tests for Python? We'd like to document how well XGBoost works in WSL2.

[2020-10-21 08:54] sagar1512garg commented on #6264
I cannot load the model in later version of XGBoost.

[2020-10-21 09:07] trivialfis commented on #6264
Could you please:

1. Go to the environment that has newer version of XGBoost.
2. Run `python -c "import xgboost; print(xgboost.__version__);print(xgboost.Booster.load_model.__doc__);"`
3. Post the result. :-)

I suspect that there is inconsistency in your installation.

[2020-10-21 09:11] trivialfis commented on #6264
Wait.  Quoting your comment:
[code]

I suppose you have successfully loaded your model right?

[2020-10-21 10:40] sagar1512garg commented on #6264
1.1.1
Load the model from a file or bytearray. Path to file can be local
        or as an URI.

        The model is loaded from an XGBoost format which is universal among the
        various XGBoost interfaces. Auxiliary attributes of the Python Booster
        object (such as feature_names) will not be loaded.  To preserve all
        attributes, pickle the Booster object.

        Parameters

[2020-10-21 10:45] trivialfis commented on #6264
Thanks for posting it.  What about https://github.com/dmlc/xgboost/issues/6264#issuecomment-713427947 ?

[2020-10-21 10:49] sagar1512garg commented on #6264
model = bst.load_model('your_model_binary.model')

above line works fine.

But when I print model, it gives None as output

print(model)

How to use model to predict ?

[2020-10-21 10:57] trivialfis commented on #6264
Remove assignment operation.  Load model is inplace.  After calling `bst.load_model`, `bst` is your model.

[code]

[2020-10-21 11:29] sagar1512garg commented on #6264
while using bst.predict(df)
I am getting below error:
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-27-522990d279b3> in <module>
----> 1 y_predict = bst.predict(df_to_score_pandas)

/usr/local/lib64/python3.6/site-packages/xgboost/core.py in predict(self, data, output_margin, nt

[2020-10-21 12:15] ranInc commented on #5957
Hi,
I found the specific model/data.
I am attaching it in this comment.
[xgb1.2_bug.zip](https://github.com/dmlc/xgboost/files/5415742/xgb1.2_bug.zip)

this is how you recreate the bug (keep in mind that if you do not do the **repartition** here, it works - so it has something to do with amount of data or type of data in each partition):

[code]

[2020-10-21 12:18] trivialfis commented on #6264
[code]

[2020-10-21 12:19] trivialfis commented on #6264
So the model is loaded now.  For other problem you have, please open a separated issue.

[2020-10-21 12:19] #6264 closed

[2020-10-21 12:28] sagar1512garg commented on #6264
thanks

[2020-10-21 16:27] ranInc commented on #5957
Do you have any idea when this can be addressed?
This prevents me from using spark 3.0...

[2020-10-21 16:43] hcho3 commented on #5957
@ranInc Not yet. We'll let you know when we get around fixing the bug. Also, can you post the code in Scala? I don't think we ever officially supported the use of PySpark with XGBoost.

[2020-10-21 16:49] ranInc commented on #5957
`
      import org.apache.spark.ml.{Pipeline, PipelineModel}
      val df = spark.read.parquet("/tmp/6620294785024229130_features").repartition(200).persist()
      df.count()

      val model = PipelineModel.read.load("/tmp/xgb1.2_bug/6620294785024229130_model_xg_only")

      val predictions = model.transform(df)

      predictions.persist()
      predictions.count()
      predictions.show()
`

[2020-10-21 22:19] pseudotensor opened #6268 "dask_cudf: scikit-learn API leads to impossible train-time: ValueError("feature_names mismatch"
Same setup as here: https://github.com/dmlc/xgboost/issues/6232#issue-720915573

When running same dataset, but using dask_cudf with only 1 column, keep hitting this error *only* with dask_cudf:

[code]

With the scikit-learn API, this should be an impossible situation to get into during training, yet it always happens.

However, trying to reproduce this outside our application does not lead to th

[2020-10-21 22:37] pseudotensor commented on #6268
FYI this problem does not occur if I just call:
[code]

So it seems to be a problem with the eval_set.

However, I confirmed that before calling the fit with eval_set that the dask_cudf frame `.columns` has the expected 'AGE' column.

[2020-10-21 22:46] pseudotensor commented on #6268
The other odd message is that the Dmatrix is empty, and this shows up in the attempted MRE example above as well.

Neither the training data or eval_set are empty frames.

[2020-10-21 22:52] pseudotensor commented on #6268
As an aside, related to using dask_cudf, the same example *sometimes* fails in other ways:

[code]

As well as:

[code]

The latter pickle issue was more wild.  It was as if loggers from global space were trying to be pickled (i.e. when dask cache was not found and went to pickle things).  I traced through but didn't understand why dask would be doing that.

[2020-10-21 23:10] pseudotensor commented on #6268
Also perhaps relevant, the empty dmatrix message is wrong in that if one asks the shape of the computed frame, it is some number of rows by 1 column, but the `_meta` attribute suggests it is an empty dataframe with 1 column.  It still has 'AGE' there, but just saying the emptiness is wrong and could impact something.

[2020-10-22 00:13] divya661 commented on #6174
@hcho3  I'll try to finish it in the coming next 2-3 days & submit my PR, sir. I apologize for the long delay, as I got busy with some urgent work.

[2020-10-22 00:14] hcho3 commented on #6174
@divya661 Thanks for the update. No need to apologize, as we all have our responsibilities. Do let me know if you need assistance.