[2019-02-20 20:20] hcho3 commented on #4168
Currently, you may only set weights on the query group level. If your ranking metric is NDCG, you can use different relevance judgment label (1, 2, 3, 4, etc) to differentiate individual items within the same group.

[2019-02-20 20:59] linkin8834 commented on #4168
@hcho3 Gotya!

*set weights on query group level*: is it possible to do that by using the binary xgboost, or it is only available for Python?

[2019-02-20 21:04] hcho3 commented on #4168
You should create a file named `XXX.libsvm.weight` where `XXX.libsvm` is the input file.

[2019-02-20 21:05] linkin8834 commented on #4168
@hcho3 Thanks!!!!

[2019-02-20 21:05] #4168 closed

[2019-02-20 21:26] laceyg opened #4169 "GPU Support for Feature Interaction Constraints"
Is there any active work or plan to support [Feature Interaction Constraints](https://xgboost.readthedocs.io/en/latest/tutorials/feature_interaction_constraint.html) on GPUs with ```gpu_hist``` and ```gpu_exact```?  Is there anything fundamental about this feature that would violate a parallel implementation?

[2019-02-20 22:46] #4163 closed

[2019-02-21 01:12] mingyang commented on #4050
@yanboliang Any updates on this issue?

[2019-02-21 01:12] #4050 closed

[2019-02-21 09:17] lvwarren commented on #1715
works but it has to downgrade:
<pre>
  mkl_fft                             1.0.10-py36h5e564d8_0 --> 1.0.1-py36h917ab60_0
  mkl_random                           1.0.2-py36h27c97d8_0 --> 1.0.1-py36h78cc56f_0
  numexpr                              2.6.9-py36h7413580_0 --> 2.6.9-py36hafae301_0
  numpy                               1.15.4-py36hacdab7b_0 --> 1.15.4-py36h926163e_0
  numpy-base

[2019-02-21 11:01] MvdSteeg90 opened #4171 "Predicting with XGB in multiple processes freezes (Python)"
I ran into a problem when trying to use multiprocessing around XGBClassifier. One problem is that the number of threads it calls does not correspond to n_jobs or nthread (even outside of multiprocessing), leading to thread explosion, but more importantly, **if the XGBClassifier has been used anywhere in the main process, it will cause multiprocessing to freeze**.

See below code for an example:

[

[2019-02-21 12:26] wangdaiyin opened #4172 "[jvm-pacakges] Question About the implementation of xgboost4j-spark code"
[Question]:
About the variable `distributedBoostersAndMetrics`, which is generated in Spark,
![image](https://user-images.githubusercontent.com/10666762/53167571-3ac86180-3613-11e9-9807-96db02c04bb8.png)
I understand as follows:
First,  obtain partitionedData through the repartitionForTraining method, the number of partitions depends nWorkers;
Then, for each partition, build a distributed booster

[2019-02-21 12:28] wangdaiyin commented on #4172
the above code is located in ml.dmlc.xgboost4j.scala.spark.XGBoost.scala

[2019-02-21 16:03] PyDataBlog opened #4173 "Check failed: base_score > 0.0f && base_score < 1.0f base_score must be in (0,1) for logistic loss'"
I keep getting this error on Windows 10 every time I try to run this code:

[code]

The full error outpt is this:

`XGBoostError: b'[16:54:42] c:\\users\\administrator\\desktop\\xgboost\\src\\objective\\./regression_loss.h:62: Check failed: base_score > 0.0f && base_score < 1.0f base_score must be in (0,1) for logistic loss'`

What am I doing wrong? It is the same error even with Sklearn's GridSea

[2019-02-21 19:57] trivialfis commented on #4130
I think the bug was introduced in #3395 , which removed `ColPageIter` and made `SparsePage` exclusive to csr format.  We need to somehow reintroduce csc format back to `SparsePage`.

This is the same bug with #4037 , but easier to reproduce.  I think we should come out of a solution before publishing the next release, otherwise external memory will be completely broken.

@hcho3 @RAMitchell @Coding

[2019-02-21 20:57] hcho3 commented on #4112
Related: dmlc/dmlc-core#505

[2019-02-21 21:40] CodingCat commented on #4130
I think it's critical to fix...and I am very curious why we didn't see this in production....

[2019-02-21 21:41] hcho3 commented on #4130
I concur. We should fix this bug.

[2019-02-21 23:25] CodingCat commented on #4130
@trivialfis I would like to have a better understanding on this...why only support CSR is the root cause leading to the failure of @hcho3's test and also the issue in #4037 ?

[2019-02-22 03:59] hcho3 commented on #4171
@MvdSteeg90 I left my reply in the forum.

[2019-02-22 03:59] #4171 closed

[2019-02-22 04:03] #4145 closed

[2019-02-22 04:10] hcho3 commented on #4141
@DKorman It looks like GPU algorithm is not behaving well with multiprocessing. Can you run the program on a machine without GPUs?

[2019-02-22 18:20] hcho3 commented on #4130
@CodingCat Because the merging logic for CSR doesn't work with transposed columns. Does my explanation in the example make sense to you?

[2019-02-23 02:23] yanboliang commented on #4050
@mingyang I just sent out #4176 , please feel free to comment there.

[2019-02-23 09:14] trivialfis commented on #4162
I dropped the idea of manipulating openmp threads.  The GPU threads must be decoupled with the nthread parameter.  So I will try std thread.  Please give me some time to learn its implications.

[2019-02-23 09:52] DKorman commented on #4141
Hi! Thank you for the reply. What do you mean by GPU algorithm? As far as I know this code should not be trying to use GPU memory at any time, or am I wrong?

Anyway, I tried using this code on Google cloud instance with Linux, and on my colleague's Mac - script works perfectly fine. It has even worked on my computer for one day after I restarted the computer, but then again after a new restart, i

[2019-02-25 12:00] Edmondguo opened #4177 "Selection of objective "rank:ndcg" results in lower NDCG than "rank:pairwise""
Thanks for adding ranking task support in xgboost! But I have a few questions:
1. Docs says "Use LambdaMART to perform pairwise ranking where the pairwise loss is minimized", I want to know particular function of "pairwise loss".
2. I can not understand "Use LambdaMART to perform pairwise ranking". According to 《From RankNet to LambdaRank to LambdaMART: An Overview》, LambdaMART is a Listwise metho

[2019-02-25 15:38] kyoungrok0517 opened #4178 "Trouble with SHAP library. Unable to explain xgboost model trained with dual GPU."
For the context, please read https://github.com/slundberg/shap/issues/452#issuecomment-466109399

---

I'm trying to get feature attribution of my model trained using dual GPU, using [shap](https://github.com/slundberg/shap) library. Specifically I'm trying to use `TreeExplainer()`.

**Problem**
The python kernel dies if I put the model as an argument of `TreeExplainer()`, without any error or C-l

[2019-02-25 18:23] kretes commented on #4177
Hi @Edmondguo . I can just point to some historic discussion and my understanding of how xgboost works, so it would still be good to get some official confirmation for that, e.g. from @hcho3 .

I believe rank:pairwise is a pairwise method that tries to minimize the number of pairwise errors.
rank:ndcg is a method following LambdaMART and when you dig in the code - it will confirm that rank:ndcg is

[2019-02-25 20:34] hcho3 commented on #4177
Exactly. In "From RankNet to LambdaRank to LambdaMART", LambdaMART optimizes NDCG by optimizing the pairwise loss (with lambda's) that is weighted with change in NDCG.

[2019-02-25 20:38] praneesh12 opened #4179 "Unable to resolve the following error. XGBoostError: b"Invalid Parameter format for seed expect int but value='None'""
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-02-25 20:43] praneesh12 commented on #4179
Hi,

I'm having an issue with xgboost.cv(), I'm trying to optimize the hyper parameters of XGBoost using hyperopt library in python. I'm getting the following error.

---------------------------------------------------------------------------
XGBoostError                              Traceback (most recent call last)
<ipython-input-52-d8e80b050ad6> in <module>
     62             algo = hp.tpe.sug

[2019-02-25 21:29] praneesh12 opened #4180 "Error with xgboost.cv seed parameter"
#### I'm having trouble working with xgboost.cv(). Here is the code snippet of xgboost.cv(), seed parameter has a default value but still shows an error even when I don't specify anything. I'm using 0.81 version of xgboost with python 3.7.
------------------------------------------------------------------------------------------------
clf_xgb = xgb.XGBClassifier()
hyperparameters = clf_xgb.get_par

[2019-02-25 21:32] #4179 closed

[2019-02-25 22:42] hcho3 commented on #4173
Which language are you using for Windows?

[2019-02-25 22:58] PyDataBlog commented on #4173
@hcho3 Danish locale. But I switch to an English keyboard and during the running of that code (if that even helps).

[2019-02-25 23:09] hcho3 commented on #4173
@PyDataBlog The locale bug was fixed in #3891, but it is not part of the 0.81 release. In your case, XGBoost was expecting the European notation (`0,01`) whereas scikit-learn was using the American notation (`0.01`).

Can you try using the latest source? Use https://xgboost-ci.net/job/restricted-xgboost/job/master/80/artifact/dist/linux_cuda8.0_nonccl_omp_py2.7/py/dist/xgboost-0.81-py2.py3-none-an

[2019-02-25 23:18] hcho3 commented on #4180
@praneesh12 You should use [`get_xgb_params()`](https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBRegressor.get_xgb_params) instead of `get_params()`.

[2019-02-25 23:19] hcho3 commented on #4169
This is more due to the fact that we have separate code path for GPU and CPU implementations of the training algorithm. The feature interaction constraints require `SplitEvaluator` class, which is only available from the CPU implementation currently.

[2019-02-25 23:30] hcho3 commented on #4137
@kgoyal40 I don't think it is possible to pass additional parameters to custom objective function. However, you can use [Feature Interaction Constraints](https://xgboost.readthedocs.io/en/latest/tutorials/feature_interaction_constraint.html).

[2019-02-26 00:22] CodingCat commented on #4143
I am not sure about this, if you know the installation path of python, you can setup PATH env?

[2019-02-26 00:22] #4143 closed

[2019-02-26 01:20] Edmondguo commented on #4177
Thank you very much! In my experiment I also found that rank:ndcg perform worse than rank:pairwise.

[2019-02-26 01:23] Edmondguo commented on #4177
Thank you! So is it means in rank:pairwise, xgboost use lambda's which is derived by "Cross Entropy Loss" in RankNet as the loss funtion?

[2019-02-26 01:36] hcho3 commented on #4177
@Edmondguo Yes

[2019-02-26 01:37] hcho3 commented on #4177
@Edmondguo @kretes Would you be interested in posting an example where you get better NDCG metric by choosing `rank:pairwise` instead of `rank:ndcg`? I'd like to see if this is a bug or a chance.

[2019-02-26 03:02] Edmondguo commented on #4177
The project I am dealing with is using rank model in quantitative stock selection.It seems hard to provide because the data is too big.In this case "rank:pairwise" performs much better than "rank:ndcg" under the same booster parameters.the NDCG are 0.5138 for "rank:ndcg", 0.5586 for "rank:pairwise".

[2019-02-26 05:57] Liuhaoge opened #4182 "AUC decreased 0.04 after switching to hist method"
I updated the xgboost few weeks age and set the tree_method into "hist" in order to use the monotonic constraints, and I didn't modified other parameters. Yet although the constraints worked, the AUC decreased about 0.04. Can the latest version solve this reduction?

[2019-02-26 06:01] PyDataBlog commented on #4173
@hcho3 that's great. What if I want to stick with the stable version which has the locale bug. Will it accept **(0,01 , 1, 'uniform') ** ?

[2019-02-26 06:09] hcho3 commented on #4182
@Liuhaoge Were you using monotonic constraints before?

[2019-02-26 06:10] hcho3 commented on #4173
@PyDataBlog No, the 0.81 release won't accept (0.01, 1, 'uniform'). We are working on release 0.82 which will contain the fix. Alternatively, you can switch the system locale to "English (United States)"

[2019-02-26 07:50] Liuhaoge commented on #4182
@hcho3 No, not in distributed environment, I used monotonic constraints only after I switched into "hist". It's the monotonic constraints the reason of the reduction of AUC?

[2019-02-26 08:40] hcho3 commented on #4182
@Liuhaoge Yes, monotonic constraints tend to reduce model fitness, since you are restricting the choice of possible split candidates.

[2019-02-26 08:40] #4182 closed

[2019-02-26 08:49] #4180 closed

[2019-02-26 09:24] kyoungrok0517 commented on #4178
UPDATE: **is there any difference the way CPU and GPU trained model is saved?**. Maybe there's some peculiarities in model file syntax that shap library didn't taken into account. If I can get the idea then I can explain to the shap authors to request for a fix.

[2019-02-26 15:19] kyoungrok0517 opened #4183 "Bug when using `model.predict(dtest, pred_contribs=True, pred_interactions=True)`"
Hi, I'm having trouble using `pred_contribs` and `pred_interactions` features. The phenomenon are:
* Use `pred_contribs` only : It works.
* Use `pred_contribs` and `pred_interactions` : Encounter `ValueError: cannot reshape array of size 42070 into shape (10,0,601,601)` <- 10 is # of samples.
* Use `pred_interactions` only : Encounter std::bad_alloc error (in Ubuntu, just hangs in Windows)

I'm at

[2019-02-26 18:45] linkin8834 commented on #4168
@hcho3 I am wondering how should I set the query-group-level instance weight in a *multi-node distributed training scenario*? The format in https://xgboost.readthedocs.io/en/latest/tutorials/input_format.html#instance-weights seems to be designed for setting the instance weight on the `single instance level`.

[2019-02-26 18:47] hlbkin opened #4184 "bad_alloc even with swap being available"
Hi Team!

Im getting bad_alloc during xgboost train test iterations in cross validation

I have very specific cross validation in Python, thus we iterate over chunks of numpy array for train and test

Some of the train array sizes only fits in memory using the swap on linux (say additional 30-50 GB of swap memory).

It seems that right after some swap memory is used xgboost crashes

is it expected

[2019-02-26 18:50] hcho3 commented on #4168
Unfortunately, I don’t think it is currently possible. We need to come up with a better way.

[2019-02-26 18:52] linkin8834 commented on #4168
@hcho3 thanks for the quick reply!!!

[2019-02-26 19:38] CodingCat commented on #4172
there is synchronization mechanism for data sketches and histograms in native layer, so all models across workers are consistent check https://github.com/dmlc/xgboost/blob/master/src/tree/updater_histmaker.cc

[2019-02-26 19:38] #4172 closed

[2019-02-26 22:21] AnthonyTruchet commented on #3946
Hello, has this question raised any interest? we are willing to investigate and contribute and for that wanted to check first that no update / fix existed... Is anyone watching/involved?

[2019-02-26 22:27] hcho3 commented on #3946
@CodingCat Is anyone in your org looking at this issue?

[2019-02-26 22:27] CodingCat commented on #3946
no, please go ahead, we do not have bandwidth to take care of it for now

[2019-02-26 22:40] hcho3 commented on #4177
@Edmondguo Does your data have multiple relevance judgment levels (1, 2, 3, 4, ...) ?

[2019-02-26 22:48] Devarsh-UTD opened #4185 "Different prediction for MacOS High Sierra Vs Linux"
I am using Xgboost in python, when using the same set of parameters on MacOS and Linux, it is giving me very different prediction results. I came across a link that mentions somewhat similar problem in R but didn't find any solutions. Initially I tried upgrading to 0.81 on macOS and Linux, but the issue still persists.  I would like to know if this issue has been fixed or is it still being worked

[2019-02-26 22:50] hcho3 commented on #4185
Are you running predictions with the same model? If you are training separate models on two machines, you won't get the same model (in general) even if the training parameters are the same.

To test, save your model on the Linux machine, copy it over to the Mac OSX machine, and run it there.

[2019-02-26 22:55] Devarsh-UTD commented on #4185
Thank you for the prompt reply.
Yes, I am training separate models. Kindly forgive me, if I am wrong. But if I keep everything same it should ideally give me similar results, no matter what the platform is?. Also, if I wanna get as much similar predictions irrespective of the platform , what shall I do?

[2019-02-26 22:57] Devarsh-UTD commented on #4185
It also makes me conclude that the MACOS implementation of XGBOOST is better than the Linux one.
Will this conclusion be logical?

[2019-02-26 22:59] hcho3 commented on #4185
We do not make such guarantee. In particular, different platforms may implement random number generation differently.

You should train one model, save it, and re-use the trained model on multiple machines.

See my explanation above. Platforms have different implementations for standard C++ libraries, such as random number generation.

[2019-02-26 23:01] #4185 closed

[2019-02-26 23:01] Devarsh-UTD commented on #4185
Thank you.

[2019-02-26 23:56] CodingCat commented on #4130
@hcho3 I am kind of understand this part now

@trivialfis where we are on this? if we cannot come up with an elegant solution in a short time, does a quick-and-dirty fix like adding a flag on Push() to distinguish row/column page work?

[2019-02-27 02:29] Edmondguo commented on #4177
Yes，before I train the model,I have change y into (1,2,3,...30)

[2019-02-27 07:56] hlbkin commented on #4184
Version is 0.81 from here https://s3-us-west-2.amazonaws.com/xgboost-wheels/list.html?prefix=

Just ran some experiments. The code crashed even at 50% of RAM being used

stack trace:
terminate called after throwing an instance of 'thrust::system::detail::bad_alloc'
  what():  std::bad_alloc: out of memory

[2019-02-27 08:07] hlbkin commented on #4184
Current dataset 2_000_000 rows x 1500 features

on 0.72
When dataset was around 2 mio x 1000, it never crashed, even though RAM consumptions went up to 90%

[2019-02-27 09:01] hlbkin commented on #4184
Just tried with old 0.72 multigpu version, same code, same dataset

  File "/home/yhgtemp/anaconda3/lib/python3.6/site-packages/xgboost/training.py", line 204, in train
    xgb_model=xgb_model, callbacks=callbacks)
  File "/home/yhgtemp/anaconda3/lib/python3.6/site-packages/xgboost/training.py", line 74, in _train_internal
    bst.update(dtrain, i, obj)
  File "/home/yhgtemp/anaconda3/lib/python3.

[2019-02-27 09:11] trivialfis commented on #4130
Sorry I'm occupied by other things lately (about to graduate).  Will try fixing it tomorrow.

[2019-02-27 10:00] hlbkin commented on #4184
Seems like this issue https://github.com/dmlc/xgboost/issues/2874

Code crashes on predict part, on 7-8 iterations through cv folds

[2019-02-27 10:24] JovanVeljanoski opened #4186 "xgb.cv seems to ignore early_stopping rounds"
Hi,

I am using `xgb.cv` and it works great. However today I noticed that if I want to use the `early_stopping_rounds`, it is not obeyed. My guess is that algorithm is somehow using the train scores instead of the test scores to decide when to stop. But with my tests I could not conclude this with certainty.

Below I include a reproducible example, so you can see what I have tried, and that score

[2019-02-27 11:02] zyq11223 opened #4187 "xgboost4j spark"
how to incremental training xgboost4j  spark model  with an existed xgboost classification model ？
Does the XGBModel.booster.update(DMatrix, Iteration ) mean that ?

[2019-02-27 11:03] zyq11223 commented on #4187
謝謝

[2019-02-27 11:11] zyq11223 opened #4188 "xgboost4j spark supports incremental learning"
how to incremental training xgboost4j  spark model  with an existed xgboost classification model ？
Does the XGBModel.booster.update(DMatrix, Iteration ) mean that ?

[2019-02-27 12:46] batmax2015 commented on #3712
@hcho3 is the change already available?

[2019-02-27 15:09] Denisevi4 opened #4189 "Results depend on feature scaling"
Is there a reason why output of xgboost would be dependent on scaling features?

I don't have any NANs. All features are numeric. If I scale all features by some number, say 100.0, I get slightly different output from xgboost. I tried both exact and hist methods.

I tried xgboost 0.81 and 0.72.

I see that split conditions are slightly different. They start similar, but at the end trees diverge.

[2019-02-27 18:40] hcho3 commented on #3712
@batmax2015 The change is not part of the stable 0.81 release. You should use the latest source in the mean time.

[2019-02-27 18:41] hcho3 commented on #4187
Closing as duplicate of #4188

[2019-02-27 18:41] #4187 closed

[2019-02-27 18:51] hcho3 commented on #4177
It would be nice if there is a toy example we can use to show `rank:pairwise` outperforming `rank:ndcg`. Without an example, it is hard to find out why `rank:ndcg` is not working well.

[2019-02-27 19:55] tmbluth opened #4190 "Cannot use DMatrix's set_base_margin method in SciKit-Learn API"
Though this can be done in the xgboost.train framework, the SciKit-Learn API framework only allows X and y as inputs which are internally fed to DMatrix. However from my research looking through the code and online there is no way to access DMatrix methods from the SciKit-Learn wrapper, thereby rendering this functionality untouchable. The base margin does not seem to fit anywhere in XGBClassifier

[2019-02-27 23:57] CodingCat commented on #4188
I think only incremental training with the dataset (and with the same partitioning schema in spark case) is theoretically correct....right? @hcho3

[2019-02-28 00:25] hcho3 commented on #4188
@CodingCat I don't think we provide a theoretically robust method for incremental training. Does anyone manage to do that?

[2019-02-28 00:40] CodingCat commented on #4188
No, though we have a checkpoint feature in spark, I am not sure if changing the partition of dataset will lead to error in theory....

[2019-02-28 00:44] hcho3 commented on #4188
@CodingCat I see, yes, with checkpointing, you'd need to have the same training data to get robust result. I'm not sure whether change in partition would be a problem itself, as long as the whole dataset is the same. On the other hand, if you change the training data itself (this is what people mean by streaming/incremental training), then you throw all guarantees out of the window.

[2019-02-28 00:47] CodingCat commented on #4188
my worry is that change of partition would potentially change the synced sketch and therefore histogram buckets,

Then your booster are going through two different sets of potential splits...

But I cannot really prove it in math

[2019-02-28 01:08] hcho3 commented on #4188
@CodingCat We should add checkpointing for the histogram sketch stage then?

[2019-02-28 02:35] lw00245 opened #4191 "can specify feature list for one tree construction or specify maximum feature use frequency?"
can specify feature list for one tree construction or specify maximum feature use frequency?

i want to limit one feature maximum usage nums to make the tree not only rely on some features,
or can i specify some feature list to construct tree in gbdt?

[2019-02-28 04:32] CodingCat commented on #4188
@hcho3 I think we should extend the checkpoint file format in Spark to record partitioning information (e.g. number of partitions, partitioner, etc.)

but I think this issue should be non-severe  with the increasing of dataset size.....so not urgent to bring that fix

anyway let's close this issue, conclusion is, `NO, gradient boosting does not allow "incremental" training`

[2019-02-28 04:32] #4188 closed

[2019-02-28 05:29] zyq11223 commented on #4188
@CodingCat
 Could you mind  telling me that why xgboost4j python supports incremental learning with an existed ? And xgboost4j python has the interface which can train incrementally .Thanks !

And another questions. I used xgbModel.booster.update API of xgboost spark , it just updates one tree ,  and  with trying to set related params (
 xgbModel.booster.setParam("process_type", "update")
    xgbM

[2019-02-28 05:34] zyq11223 opened #4192 "Continue xgboost spark incremental training"
Appreciate !!
@CodingCat
Could you mind telling me that why xgboost4j python supports incremental learning with an existed ? And xgboost4j python has the interface which can train incrementally .Thanks !

And another questions. I used xgbModel.booster.update API of xgboost spark , it just updates one tree , and with trying to set related params (
xgbModel.booster.setParam("process_type", "update")

[2019-02-28 05:35] CodingCat commented on #4192
don't spam issue list, thanks!

[2019-02-28 05:35] #4192 closed

[2019-02-28 05:38] CodingCat commented on #4188
if I understand your words correctly, you say python supports incremental training, how?

[2019-02-28 05:40] zyq11223 commented on #4192
ok, sorry .  I need your help

[2019-02-28 05:43] zyq11223 commented on #4188
here:
one_shot_model_itr = xgb.train({
    'updater':'refresh',
    'process_type': 'update',
    'refresh_leaf': True,
    'silent': False,
    'max_depth':3,
    'objective':'reg:linear'
},num_boost_round=10, dtrain=xgb.DMatrix(x_te, y_te), xgb_model=one_shot_model)

or
the links below:
https://stackoverflow.com/questions/38079853/how-can-i-implement-incremental-training-for-xgboost

[2019-02-28 05:45] zyq11223 commented on #4188
train on new dataset with an existed model

[2019-02-28 05:48] CodingCat commented on #4188
so, we have said that gradient boosting does not allow it in math

check the discussion here, https://github.com/dmlc/xgboost/issues/3055

[2019-02-28 05:57] zyq11223 commented on #4188
Ok, so xgboost4j spark does not provide api for incremental training , and i am very curiosity about why python supports incremental training like the way above.
Thank you a lot !

[2019-02-28 06:02] CodingCat commented on #4188
................................................

please read #3055, no language binding really supports incremental training

the thing you post here is a "undefined behavior" in xgboost, sometimes it just works, sometimes not, because there is not math back it....

[2019-02-28 06:09] zyq11223 commented on #4188
Very Appreciate for your reply.

[2019-02-28 06:19] hcho3 commented on #4188
@CodingCat Indeed, to perform "incremental training" in mathematically robust way, we'd need to implement a new algorithm. Actually, this new algorithm would be really useful in other scenarios, e.g. "dynamic training," where training may proceed with a varying number of workers over time (Spot Fleet).

[2019-02-28 09:49] trivialfis commented on #4184
@hlbkin Maybe you can try `external_memory` on CPU after #4193 being merged.  Other than that, there's not much we can do about `bad_alloc`.  We can try optimizing memory usage as we go, but that won't happen over night.

[2019-02-28 09:55] trivialfis commented on #4189
@Denisevi4 We had seen this a few times before, see #4017 for example,  one another recent discovery is #4069.  Our drawn conclusion is transformation can cause precision loss.

[2019-02-28 09:56] trivialfis commented on #4190
@tmbluth Seems you spent some time dig through the code,  do you have any suggestion how we can approach this?

[2019-02-28 10:10] trivialfis commented on #4191
@lw00245 Sorry but I don't quite understand what you are trying to ask.  Let me make some guesses.

Are you trying to say that you want to supply a different list of selected features for each boosted tree?
- No.  You can't.  One way to do that is boosting one tree at a time and interleave boosting with your feature engineering procedures.

Are you trying to say that, after selecting a feature for

[2019-02-28 10:22] trivialfis commented on #4183
@kyoungrok0517 `dtest` is removed?

[2019-02-28 10:28] kyoungrok0517 commented on #4183
Oh, sorry I just recovered the file so please check.

[2019-02-28 11:32] lw00245 commented on #4191
yeah  all you guess are right,  i hope there will be some call backs which can specify feature list for construct each boost tree,

[2019-02-28 12:39] trivialfis commented on #4183
@kyoungrok0517 Let me take a look

[2019-02-28 14:24] hlbkin commented on #4184
@trivialfis is that GPU failing because of temporary memory burst?

[2019-02-28 14:33] trivialfis commented on #4184
@hlbkin Possibly.  But I think you can use tools like nvidia-smi to monitor the status of GPU.  And please use latest version,  I have been fixing various bugs for XGBoost, it not gonna be bug free but still I believe the latest commit is much more robust 0.7x.

[2019-02-28 14:44] trivialfis opened #4194 "Safe CUDA deallocation."
While working on #4162, I found out that` CubMemory::Free` is applied on wrong device pointer.  Just put `dh::CudaCheckPointerDevice` before `cudaFree`, and run unittests should earn some segfaults.

The problem lies within destructors of various `DeviceShard`,  they are usually called by destructor of `std::unique_ptr`, which is not threaded and doesn't know how to handle device id.  One way to g

[2019-02-28 14:59] tmbluth commented on #4190
Unfortunately I am more of an applied data scientist that came from a research background and less of a software developer, so my expertise does not yet extend there. I'm also primarily an R user that is picking up Python, so I think there are others more qualified.

[2019-02-28 15:26] trivialfis commented on #4190
Cool.  Let me think about it later.

[2019-02-28 15:37] trivialfis commented on #4183
@kyoungrok0517 Could you share the shape, sparsity of your dataset?  And perhaps some used parameters so that I can generate my own script?

[2019-02-28 15:55] kyoungrok0517 commented on #4183
Sure, first here are the parameters.
[code]

**Dataset Details**
* target is one of 0-6 (seven classes)
* \# of features is 600, which are from 600-dimensional word embedding
  * all floats, dense features (most of them are filled with some value)
* test set(`dtest`) contains 40,000 samples
* I share the dtest as `.hdf5` format [here](https://www.dropbox.com/s/t1rfw4cd7286rgj/dtest.hdf5?dl=0). The

[2019-02-28 16:26] hcho3 commented on #4194
I thought you had unified address space across multiple GPUs? You still have to call `cudaSetDevice` before freeing memory?

[2019-02-28 16:48] trivialfis commented on #4194
@hcho3 I read to doc from CUDA didn't see any mention of one can free memory of another device.  Allocating memory is device dependent.  And besides, #4161 is an example of reading wrong address space.

[2019-02-28 17:10] hcho3 commented on #4194
@trivialfis Got it. Thanks for the explanation.

[2019-02-28 17:25] trivialfis commented on #4183
@kyoungrok0517 For `bad_alloc` from `pred_interactions`, that's expected.  Reading from Python API's doc,  xgboost will return a matrix with shape: `(nsample, nfeats + 1, nfeats + 1)`,  reading from source code it's of size: `rows * num_classes * columns * columns`.  Using 0.2 portion of your dataset as test set, this size would be (with 32-bit float) **86 GB**.

[2019-02-28 17:28] trivialfis commented on #4183
I will look into the other one tomorrow.

[2019-02-28 18:23] kyoungrok0517 commented on #4183
Wow... I didn’t realize that. Hope to see the answer for the second one soon :) thanks!

[2019-03-01 01:28] RAMitchell commented on #4194
I'm not sure if you need to change device to perform cudaFree(). Let me check.

[2019-03-01 05:04] kyoungrok0517 commented on #4183
One more question: Is using ` approx_contribs=True, pred_interactions=True` combination actually computes interactions using 'approximated' contribution score? If not then the required computation will be too huge

[2019-03-01 09:55] trivialfis commented on #4194
@RAMitchell I think it does require setting the right device.  See an example from NCCL:

https://docs.nvidia.com/deeplearning/sdk/nccl-developer-guide/docs/examples.html

[2019-03-01 16:18] kkraus14 opened #4195 "Cannot use pip to install a local build of xgboost"
Pip currently doesn't follow / materialize relative symlinks as expected: https://github.com/pypa/pip/issues/3500

This prevents running `pip install /path/to/xgboost/python-package`. There also seems to be paths based on where you run the install command from, but I will open a follow-up issue for that.

[2019-03-01 17:58] #4037 closed

[2019-03-01 17:58] #4130 closed

[2019-03-01 21:08] mt-jones commented on #4194
It is good practice to `cudaSetDevice` before calling `cudaMalloc` to avoid multithreading bugs, and invalid access errors. These errors can be masked by P2P-enabled devices as the driver will try to resolve the issue with a dynamic transfer.

Similarly, `cudaFree` won't necessarily require a `cudaSetDevice` on P2P-enabled machines, or codes compiled with managed memory. The driver will catch the

[2019-03-02 04:34] mt-jones commented on #4194
If you’re using managed memory, (e.g.) `cudaMallocManaged()`, data can be stored in a single pointer across all devices and a call to `free` will release the memory on all processors (CPU and GPU).

Even with managed memory, you need to `cudaSetDevice()` to properly configure kernel launches, though.

- - -

As I understand it, the problem is really the `deleter` for the shared pointer is left as

[2019-03-02 19:52] trivialfis commented on #4194
@mt-jones Thanks for the explanations!

I'm not sure what did you mean by this.

Sadly no.

I am thinking about this.  There was requests for de-allocating GPU memory after a training session, which might require us implementing a memory pool.  But one way or another, destructor from `c++` itself can not be used to free GPU memory any more.

[2019-03-03 01:36] mt-jones commented on #4194
- - -

For illustration, suppose that you have two GPUs which are peer-connected. Now, suppose that one of the GPUs has data stored in `void * dev_a`. If both GPUs are coordinated through a collection of threads, and every thread calls `cudaFree(dev_a)`, there are two possibilities:

1. The device that owns `dev_a` calls `cudaFree` first
2. The device that owns `dev_a` does not call `cudaFree` fir

[2019-03-03 05:06] hcho3 opened #4197 "Cannot compile XGBoost on Windows"
I just tried compiling XGBoost on a Windows machine and getting this error:
[code]

I'm using EC2 instance (p2.xlarge) with CUDA 8.0, Visual Studio 2015, and Windows 2008 R2.

Compilation command:
[code]

@RAMitchell @mt-jones @trivialfis @rongou

[2019-03-03 05:10] hcho3 commented on #4197
This is part of effort #3868

[2019-03-03 05:11] hcho3 commented on #3868
Blocking issue: #4197

[2019-03-03 05:23] hcho3 commented on #4197
I'll be focusing on the 0.82 release for the time being. This means that the Python wheel for Windows won't be available right away.

[2019-03-03 05:24] hcho3 opened #4198 "[WIP] 0.82 version release"
It has been over 3 months since version 0.81 is released. To incorporate the improvements and bug fixes, we will release 0.82 this weekend.

Will close this issue once I'm done writing a draft for the release note.

[2019-03-03 05:43] RAMitchell commented on #4197
I will have a look in the next couple of days

[2019-03-03 08:21] trivialfis commented on #4183
@kyoungrok0517 Sorry for the delay.  I think you need to do it in two passes, one for contribs anther for interactions.

[2019-03-03 08:22] trivialfis commented on #4183
@kyoungrok0517 It might be better to ask author of SHAP.

[2019-03-03 08:32] trivialfis commented on #4194
@mt-jones That's really insightful.  Thanks!

[2019-03-03 11:02] #4178 closed

[2019-03-03 11:04] kyoungrok0517 commented on #4183
@trivialfis Seems like there's some complication deriving interaction features. I'll talk to the author of SHAP about this. Thank you!

[2019-03-03 11:04] #4183 closed

[2019-03-03 14:53] mt-jones commented on #4194
Glad to help!

[2019-03-03 15:51] hlbkin commented on #4184
Yes, using 0.81 is much better, generally do not have this kind of behaviour, and does not crash with same dataset

nvidia-smi does not really show memory bursts - i.e. generally GPU is using less then 50% of memory and then suddenly crashes (with 0.72).

I will run some tests with bigger (but similar) dataset and report

[2019-03-03 16:17] zzheng93 opened #4199 "Is “gpu_hist” only supported by GPU-enabled machine?"
Hi folks,
I just trained a model (XGBRegressor) using “gpu_hist” tree method on a GPU-enabled machine.
I used pickle.dump(…) to store the model.
I want to load and apply this model on a machine without any GPU. I am wondering if it is feasible?

What I am doing currently is to use pickle.load(…) to load the model. For example, XGBreg_load = pickle.load(…)
The "xgb.plot_importance(...)" still works

[2019-03-03 16:42] hcho3 commented on #4199
Can you post a small script to reproduce the issue?

[2019-03-03 18:52] zzheng93 commented on #4199
Sure.  @hcho3
**On the GPU-enabled machine (where I got and saved the model):**
`XGBreg = pickle.load(open("./mode_XGB.dat","rb"))`
[18:45:07] /workspace/src/learner.cc:362: Parameter 'predictor' has been recovered from the saved model. It will be set to 'gpu_predictor' for prediction. To override the predictor behavior, explicitly set 'predictor' parameter as follows:
  * Python package: bst.set_

[2019-03-03 20:14] dyf102 opened #4200 "[jvm-packages] Opening RabitTracker UI Crashed Xgboost Training Job"
Hi,
I had an issue on xgboost4j-spark 0.81: when I tried to open the UI page, I got an exception on training job.  My spark version is 2.4.0 and it is in standalone model.

[2019-03-03 22:43] mt-jones commented on #4194
Another point I forgot to address is the universal virtual address space on multi-GPU systems.

If you have a single GPU on your system, and you call `cudaMalloc`, the operation takes `t0` seconds.
If you have a dual-GPU system, the same call will take `2*t0`.

This is because the driver has to properly sequence the address space associated with both GPUs. There is, in general, a linear relation b

[2019-03-04 03:27] hcho3 commented on #4197
@RAMitchell Hmm, I tried using another Windows EC2 image I had, and XGBoost compiles successfully on that machine. This should be good enough for 0.82 release.

[2019-03-04 06:27] #4197 closed

[2019-03-04 08:33] #4198 closed

[2019-03-04 08:34] hcho3 commented on #4198
#4201

[2019-03-04 09:17] hlbkin opened #4202 "Supress warning"
How to supress new warnings in 0.81

I delete model after each iteration manually (after each iteration) and get this

[09:09:43] /workspace/src/learner.cc:362: Parameter 'n_gpus' has been recovered from the saved model. It will be set to 1 for prediction. To override the predictor behavior, explicitly set 'n_gpus' parameter as follows:
  * Python package: bst.set_param('n_gpus', [new value])
  *

[2019-03-04 09:52] hcho3 commented on #4202
In the upcoming 0.82 release, you’ll be able to set `verbosity` parameter to 0 to turn off all logs.

[2019-03-04 18:30] CodingCat opened #4203 "[Roadmap] Distributed Linear Models"
We have been seeing the requirement to have an efficient distributed linear model implementation which would be used either for better model explanation or ensembling with tree model

We are going to work on this

[2019-03-04 21:03] jeffdk opened #4204 "Numerical Instability with histogram methods for training on large data sets"
**TLDR and ask**
I've got a tricky issue which I only see when training on data sets above a certain size.  I am currently unable to provide a clean repro as I only encounter the problem when my data is above a certain threshold (around 10 billion entries in the feature matrix).  I'm asking for some help on how to further debug this issue; (e.g. since I don't know the details of the code nearly as

[2019-03-04 21:09] RAMitchell commented on #4204
Seems like it could be an overflow issue? Can you please post the text dump of the first couple of trees using some small depth?

[2019-03-04 21:31] kretes commented on #4177
Hello.

I believe I found an example where this is reproducible. rank-pairwise gives ndcg 1 while rank:ndcg cannot.
See this gist: https://gist.github.com/kretes/1228e571aeba2a57f617352af633cd40.

I hope this will help nailing the issue

[2019-03-04 21:32] jeffdk commented on #4204
The smallest depth I have on hand right now is 5.  This model's instability was less pronounced but you can see a leaf weight of over 20 present early on (search the file for "leaf=2" from the start):

12th tree from the top (Considering a 3 class model, this is the 4th round):  [bzktf.model.txt](https://github.com/dmlc/xgboost/files/2928262/bzktf.model.txt)

[code]

[2019-03-05 02:33] hcho3 commented on #4202
Closing, since 0.82 version has been released.

[2019-03-05 02:33] #4202 closed

[2019-03-05 02:47] hcho3 commented on #4173
@PyDataBlog We just release the new 0.82 stable release. Python wheels will be available very soon.

[2019-03-05 02:48] hcho3 commented on #4195
@kkraus14 I think you can run `pip install bdist_wheel` to create a wheel and then run `pip install xgboost-0.82-*.whl`.

[2019-03-05 02:53] mt-jones commented on #4204
Hey @jeffdk

I’m wondering if you observed this with other objective functions, as well. Did you try `reg:linear`?

How many workers do you launch? I’m guessing just one from the parameters.

Have you tried not setting the predictor to CPU?

I believe setting `nthread` is also unnecessary as the code will use the system maximum if not set.

[2019-03-05 03:00] jeffdk commented on #4204
Hey @mt-jones thanks for checking in,

- I have not tried `reg:linear` but the example from here https://github.com/dmlc/xgboost/pull/4095#issuecomment-468079355 shows I get the issue with `binary:logistic` in addition to `multi:softmax`.
- This is just one worker
- I have tried setting the predictor to GPU (that is, leaving it unset) and see the same problem.
- Good to know on `nthread`!  I'm alw

[2019-03-05 03:10] sihao007 commented on #4067
I use 0.81 and get the same problem,run just 1 round and break,who can show a demo code

[2019-03-05 03:20] hcho3 commented on #4067
@sihao007 The 0.82 release should fix early stopping in XGBoost4J-Spark: https://github.com/dmlc/xgboost/releases/tag/v0.82

[2019-03-05 07:11] PyDataBlog commented on #4173
@hcho3 I can't wait to have my hands on 0.82. Project has stalled waiting for the fix. Thanks for your amazing dedication.

[2019-03-05 07:44] hcho3 commented on #4173
@PyDataBlog It is up now. Try running `pip install xgboost==0.82`

[2019-03-05 07:46] PyDataBlog commented on #4173
@hcho3 will pip install upgrade work as well?

[2019-03-05 10:27] jkingfu opened #4210 "calc again"
snode_[nid].weight,snode_[nid].root_gain alway dup process stat, but have in parent left_sum and right_sum

in src/tree/updater_colmaker.cc InitNewNode

[2019-03-05 10:28] jphelps13 opened #4211 "[RFC] Training parameter validation"
Hey :)

**Issue**
We have recently found that we mistyped a parameter in our `xgb.train` implementation. Instead of `colsample_bytree` we used `colsample_by_tree`.

We didn't receive any warnings or errors, and we're unable to find any lookup functions for the parameter names to use as validation.

**Feature Request**
We can see the parameter list here:
https://xgboost.readthedocs.io/en/latest/par

[2019-03-05 10:33] PyDataBlog commented on #4173
Everything works as expected with the new update. Great job!

[2019-03-05 12:47] jkingfu opened #4212 "gblinear how Calculate w"
[code]
why?

[2019-03-05 12:47] jkingfu opened #4213 "gblinear how Calculate w"
inline double CoordinateDelta(double sum_grad, double sum_hess, double w,
                              double reg_alpha, double reg_lambda) {
  if (sum_hess < 1e-5f) return 0.0f;
  const double sum_grad_l2 = sum_grad + reg_lambda * w;
  const double sum_hess_l2 = sum_hess + reg_lambda;
  const double tmp = w - sum_grad_l2 / sum_hess_l2;
  if (tmp >= 0) {
    return std::max(-(sum_grad_l2 + reg_al

[2019-03-05 12:47] jkingfu opened #4214 "gblinear how Calculate w"
inline double CoordinateDelta(double sum_grad, double sum_hess, double w,
                              double reg_alpha, double reg_lambda) {
  if (sum_hess < 1e-5f) return 0.0f;
  const double sum_grad_l2 = sum_grad + reg_lambda * w;
  const double sum_hess_l2 = sum_hess + reg_lambda;
  const double tmp = w - sum_grad_l2 / sum_hess_l2;
  if (tmp >= 0) {
    return std::max(-(sum_grad_l2 + reg_al

[2019-03-05 12:56] pommedeterresautee commented on #4213
duplicates of https://github.com/dmlc/xgboost/issues/4212

[2019-03-05 12:56] #4213 closed

[2019-03-05 12:56] pommedeterresautee commented on #4214
duplicates of https://github.com/dmlc/xgboost/issues/4212

[2019-03-05 12:56] #4214 closed

[2019-03-05 13:32] AtR1an opened #4215 "GBLinear model dump has wrong bias value"
Hello XGBoost-Team,

I stumbled across an oddity related to the linear booster.
As I test I created a dataset that follows y = 3*x + 1 and trained a linear model.
A plot of the predicted values shows that the model perfectly learned the function, however, if I look at the model dump, I get a bias value of approximately 0.5 which is strange since the predictions are correct.

This behavior appears

[2019-03-05 16:36] pford221 commented on #4075
Hi @hcho3. Just a quick follow-up thought about the performance. I understand the overhead of having to keep track of things, but as soon as the first split is made for a particular tree, wouldn't this reduce the candidate features from which the algorithm tests to find the next best split? For instance, if the interaction constraints were defined as `[[0, 1, 2], [3,4,5]]` and a tree splits on fea

[2019-03-05 17:21] hcho3 commented on #4075
@pford221 Interesting point. The current implementation does not take advantage of feature interaction constraints when choosing features to enumerate. Would you be interested in filing a pull request?

[2019-03-05 17:59] pford221 commented on #4075
@hcho3 As much I'd like to help, I reviewed the commit associated with interaction features and noticed that it requires quite a bit of C++ code and I would be out of my element there. I could handle any upstream changes in R or Python but just don't have any experience with C.

[2019-03-05 18:10] hcho3 opened #4217 "Use feature interaction constraints to narrow search space for split candidates."
See https://github.com/dmlc/xgboost/issues/4075#issuecomment-469751693. In the split finding step, we currently enumerate all features:
https://github.com/dmlc/xgboost/blob/5f34078fba1b489009ed80899961c50229070732/src/tree/updater_quantile_hist.cc#L542-L554
The feature interaction constraints kick in only after we evaluate all split candidates.

We should take advantage of feature interaction cons

[2019-03-05 18:10] hcho3 commented on #4075
@pford221 I opened #4217 to keep track of the proposed change. Thanks!

[2019-03-05 18:12] hcho3 commented on #4141
@DKorman Does your computer have a GPU installed?

[2019-03-05 18:13] TarasDerevianko opened #4218 "[jvm-packages] Spylon-kernel java.lang.ClassCastException: ml.dmlc.xgboost4j.scala.Booster cannot be cast to ml.dmlc.xgboost4j.scala.Booster"
I was using https://jar-download.com/artifacts/ml.dmlc/xgboost4j-spark/0.82/source-code for run scala spark xgboost example https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/spark/SparkTraining.scala on yarn cluster

spark.version = 2.4.0
scala version = 2.11.6 (Java HotSpot(TM) 64-Bit Server VM, Java 1.8.0_181).
spylon-kernel

[2019-03-05 18:47] CodingCat commented on #4218
XGBoost does not support 2.4 now

[2019-03-05 18:49] rongou opened #4220 "xgboost doesn't build under cuda 10.1"
Looks like some deprecated functions have been removed in CUDA 10.1.

@RAMitchell @canonizer

[code]

[2019-03-05 18:59] TarasDerevianko commented on #4218
what versions of spark support xgboost4j-spark 0.82?

what versions of spark support xgboost4j-spark 0.81?

[2019-03-05 19:04] hcho3 commented on #4218
@CodingCat So only Spark 2.3.x is supported?

[2019-03-05 19:06] CodingCat commented on #4218
Yes, both 2.3.x...once 2.4.1 is released, i will do cross version support

[2019-03-05 19:12] hcho3 commented on #4218
@CodingCat If there is a significant difference between 2.3.x and 2.4.x, we should set up a CI pipeline to perform checks.

[2019-03-05 19:17] hcho3 commented on #4220
@rongou We are building the PyPI package (https://pypi.org/project/xgboost/#files) using CUDA 8.0. Can a machine with CUDA 10.1 run code compiled with older version of CUDA?

[2019-03-05 19:55] rongou commented on #4220
Probably yes for older gpu cards, but for newer cards (volta, turing) they may need newer cuda versions.

[2019-03-05 19:57] hcho3 commented on #4220
@rongou So there is no backward compatibility, i.e. you cannot use older binaries to run on newer cards?

[2019-03-05 20:06] RAMitchell commented on #4220
Older binaries should run on newer cards, although they may need to JIT compile ptx code resulting in some start-up overhead. @rongou do you want to send a PR enclosing the relevant cuda API calls inside a __CUDA_ARCH__ macro?

[2019-03-05 20:22] CodingCat commented on #4218
Yes, I noticed several issues when users mixed 2.3 and 2.4 models (haven’t look into details)

That’s what I mean by “cross version support” and want to address in that scope

[2019-03-05 20:39] mt-jones commented on #4204
It would be helpful to know if the issue persists with all objective functions, etc. Could you try `reg:linear` and let me know?

It would also be helpful if we had a small reproducer. Is there a way for your to mock up some kind of data?

[2019-03-05 21:15] pisymbol commented on #4220
Same issue for me. I was rebuilding my container for CUDA 10.1 and boom, xgboost fails to build. Same trace as above. Ubuntu 18.04 if that matters.

[2019-03-05 21:18] hcho3 commented on #4220
@RAMitchell I'm preparing a re-vamping of the CI pipeline, now that we have better funding for it. In particular, we should de-couple build tests (does it compile?) from unit tests (does it run correctly on a given target)?

[2019-03-05 21:20] pisymbol commented on #4220
Is there a time table on when CUDA 10.1 will be supported by xgboost?

[2019-03-05 21:21] hcho3 commented on #4220
@pisymbol Until the problem is addressed, would you be able to use the pre-compiled binary from PyPI?

[2019-03-05 21:24] hcho3 commented on #4220
@pisymbol Allow us some time, since CUDA 10.1 has been release only a week ago. In the future, we'll set up a system to respond to new CUDA releases in a more timely manner.

[2019-03-05 21:27] pisymbol commented on #4220
Yeah, I understand your pain. Really, I do. I am doing exactly that and bypassing my CUDA enabled build for the PyPi one. That should hold me over for now.

I know CUDA is such a pain. :-)

[2019-03-05 23:58] jeffdk commented on #4204
@RAMitchell

I have a repro of a run using a depth of 2 where you can see extremely large leaf values in the first few trees (magnitude > 100):

[code]
Full dump here: [vqqhu.model.txt](https://github.com/dmlc/xgboost/files/2933637/vqqhu.model.txt)

Hyperparameters used for this run:
[code]

[2019-03-06 00:20] jeffdk commented on #4204
@mt-jones

I also see the issue with the `reg:linear` objective (ran on the same data where labels are [0,1,2]).

[code]
Full dump: [zgdjw.model.txt](https://github.com/dmlc/xgboost/files/2933692/zgdjw.model.txt)

Hyperparameters:
[code]

I took a stab at mocking some data by simplest thing first: random values in a dense np array and  load into dmatrix.  However this runs OOM on the `p3dn.24xlarg

[2019-03-06 00:34] #4218 closed

[2019-03-06 01:42] RAMitchell commented on #4204
Thanks @jeffdk. When you dump the tree can you add the option 'with_stats' for a bit more info. Seems like you are using a lot of features. Does the problen occur if you reduce the number of features?

I have two theories:
- integer overflow in an index variable somewhere. Generally we try to use 64 bit for indices but its possible something is wrong at this very large size.
- instability in doubl

[2019-03-07 03:32] #4054 closed

[2019-03-07 04:51] CodingCat commented on #3704
cannot reproduce

[2019-03-07 04:51] #3704 closed

[2019-03-07 04:52] CodingCat commented on #3905
fixed by https://github.com/dmlc/xgboost/pull/4224

[2019-03-07 04:52] #3905 closed

[2019-03-07 04:58] hcho3 commented on #4210
The duplicate computation is to take account of the scaling by `learning_rate`.

[2019-03-07 04:58] #4210 closed

[2019-03-07 05:00] hcho3 commented on #4212
See https://github.com/dmlc/xgboost/blob/85939c6a6ea630c213852f485b13f70d47820c72/src/linear/updater_coordinate.cc#L70

[2019-03-07 05:00] #4212 closed

[2019-03-07 05:35] jkingfu commented on #4210
const MetaInfo& info = fmat.Info();
      // setup position
      const auto ndata = static_cast<bst_omp_uint>(info.num_row_);
      #pragma omp parallel for schedule(static)
      for (bst_omp_uint ridx = 0; ridx < ndata; ++ridx) {
        const int tid = omp_get_thread_num();
        if (position_[ridx] < 0) continue;
        stemp_[tid][position_[ridx]].stats.Add(gpair[ridx]);
      }
      //

[2019-03-07 08:07] neeleshkshukla commented on #4136
Another trick is to set num_classes = 2 but that doesn't seem right.

[2019-03-07 08:10] neeleshkshukla opened #4225 "[jvm-packages] BinaryClassificationEvaluator fails with ArrayIndexOutOfBoundException while using XGBoostClassifier"
BinaryClassificationEvaluator fails with ArratIndexOutOfBoundException:

2019-02-05T06:32:00.610Z] spark.org.apache.spark.scheduler.TaskSetManager WARN: appId: 0-AB, du: 1, message: Lost task 0.0 in stage 1012.0 (TID 1705, yarn, executor 1): java.lang.ArrayIndexOutOfBoundsException: 1    at org.apache.spark.ml.linalg.DenseVector.apply(Vectors.scala:462)    at org.apache.spark.ml.evaluation.BinaryC

[2019-03-07 11:23] adobay opened #4227 "[jvm-packages] missing parameter problems in xgboost-spark"
features that are not presented in the sparse feature matrix are treated as ‘missing’ on xgboost-spark, while spark ml vectorAssembler determines dense or sparse on storage cost. so for rows of dense,its 'missing' is NaN, for rows of sparse, its NaN and 0.

[2019-03-07 14:47] thvasilo commented on #4225
My guess is this would be an issue of data formatting. In the non-distributed version XGB expects the labels for a binary problem to be 0 and 1 (not -1/+1 or any other format).

Is that the case for your data?

[2019-03-07 14:51] thvasilo commented on #4203
One question I had more generally is how does linear model training fit into the purpose of XGBoost overall.

Does the community feel like the project should be specialized to GBRTs, given that tools like VowpalWabbit are perfectly fine for scalable linear model training?

[2019-03-07 15:08] CodingCat commented on #4203
Eh...there have been linear model in xgboost though single machine supported only

[2019-03-07 15:24] tqchen commented on #4203
I agree that XGBoost should focus on trees.

The reason that there was a linear model is because linear model also fit into the paradigm of boosting and we could sometime ensemble linear model with a tree directly, so it is not a priority, but if there is some requirements to get a ensemble version, it is also not bad to have

[2019-03-07 15:48] CodingCat commented on #4203
one of the important requirements I am seeing in business side is , if X changes with 0.1, how many influences it will bring to the output Y

this type of explanation is critical in business operating side, and it is hard to achieve with a tree model

if XGB can provide a one-stop solution, it will further pushes the usage of XGB

[2019-03-07 16:00] thvasilo commented on #4203
Yes, I think this is a design decision that the community needs to make. If XGBoost if focused on trees and boosting then it should do that and it well (always aim to be the fastest and most accurate). That allows the codebase to be focused and optimized for tree-based learning.

If the community decides to further support linear models (which haven't gotten much attention since they were released

[2019-03-07 16:07] CodingCat commented on #4203
I don’t think “others already did” is a good reason to prevent something happening in this case

For instance, why there is MxNet/TF/PyTorch? and even TF can do some kind of tree learning

Regarding the code complexity, the current architecture has been able to support a new updater within gradient boosting framework, not to mention, this is more about adding param syncing calls properly in an exi

[2019-03-07 16:46] CodingCat commented on #4203
BTW, the last major updates to linear model is about GPU-based coordinate descent which was added last April,

and...(I don’t want to list how many features we have added to tree models just to prove the community is not distracted)

[2019-03-07 18:56] trivialfis commented on #4203
Honestly,  I still want to reinvent the wheel...

@CodingCat I'm interested in other models than trees.  Let me know if I can help in any ways.

[2019-03-07 20:58] trivialfis opened #4228 "`plot_tree` failed to parse tree nodes with feature names."
Here is a sample output from `plot_tree`:
[code]

Used parameters are rather simple:
[code]

Failed with error:
[code]

[2019-03-07 21:16] hcho3 commented on #4228
!!! I had a good laugh. Yes, we should probably fix it.

What kind of data did you use? I'd like to try to reproduce it.

[2019-03-07 21:17] hcho3 commented on #4227
Can you post a small example where this become a problem?

[2019-03-07 21:28] trivialfis commented on #4228
@hcho3 Ah, my mistake.  I was helping other to look at a network dataset, haven't really look at the header yet, the dataset is loaded from datatable.  But still, `plot_tree` failed to parse the output.

[2019-03-07 21:30] hcho3 commented on #4228
@trivialfis Where you using Pandas to load the CSV file? If so, the CSV header become the feature names, and `plot_tree` will use the feature names.

[2019-03-07 21:35] trivialfis commented on #4228
@hcho3 I am trying datatable instead of pandas, the dataset is quite large and dense.  Trying to use pandas now.  I will try to make a reproducible script tomorrow.

[2019-03-07 21:37] hcho3 commented on #4215
There is a parameter called `base_score`, which adds the same number to all predictions. By default, `base_score` is set to 0.5. Try setting this parameter to 0; you should then get bias 1.

[2019-03-07 21:37] #4215 closed

[2019-03-07 21:38] hcho3 commented on #4228
@trivialfis I think datatable is similar to Pandas, in that I think the CSV header will be used as feature names. I don't think this is a bug.

[2019-03-07 21:41] hcho3 commented on #4228
@trivialfis Try running `print(df.names)`, where `df` is the data table.

[2019-03-07 21:41] trivialfis commented on #4228
@hcho3 `plot_tree` failed with
[code]

[2019-03-07 21:42] hcho3 commented on #4228
I see. In that case, let's find a re-producible example so that we can make `plot_tree()` more robust.

[2019-03-07 21:46] hcho3 commented on #4211
Option 2 would be really nice to have, but that requires more work. We can go with Option 1 for now. I'm not that familiar with R, so I'll need some help from R experts. For now, I'll prepare a PR for Python interface.

[2019-03-07 21:59] hcho3 commented on #4211
Proposed interface: the user is able to call a special function (`xgboost.Booster.get_params()`) for the purpose of parameter validation:

[code]

This is not entirely satisfactory, since the user still needs to perform validation manually. Ideally, XGBoost should warn users about un-used parameters.

[2019-03-07 22:07] trivialfis commented on #4228
@hcho3 I think I got it now.  In:
https://github.com/dmlc/xgboost/blob/09443604168a3c58c7ff43e92daa163f7a51f686/python-package/xgboost/plotting.py#L223

strings are splited by any white space.  So if your feature names contain white space then the code will break.

[2019-03-07 22:20] hcho3 commented on #4211
How to warn users about un-used parameters: modify all subclasses of `dmlc::Parameter` so as to require a reference to a central parameter registry. All un-used parameters will be tracked by that registry.

[code]

[2019-03-07 22:21] hcho3 commented on #4200
I don't think we support Spark 2.4.0. Can you use Spark 2.3.x?

[2019-03-08 00:31] RAMitchell commented on #4211
This will dramatically improve the usability of xgboost. I see a lot of scripts online with mistyped parameters.

[2019-03-08 00:39] CodingCat commented on #4211
One side note, do we want to address those typos in xgb params?

like num_round, nthread, etc.

On Thu, Mar 7, 2019 at 4:36 PM Rory Mitchell <notifications@github.com>
wrote:

[2019-03-08 00:42] hcho3 commented on #4211
@CodingCat Do you mean auto-correcting? For now, warning the user about un-used parameter should be sufficient.

[2019-03-08 00:44] CodingCat commented on #4211
@hcho3 yes, or we should fix those typos, and warn them because of the usage of those old names

[2019-03-08 00:46] hcho3 commented on #4211
@CodingCat Got it. Let me try to create a proof-of-concept first. Hopefully I can make something that doesn't repeat the mistake of #2571.

[2019-03-08 00:54] hiyangbo opened #4229 "xgb.rabit.finalize() for distributed training"
Hi folks,

I am thinking about using following python code to do xgboost training.
Can someone educate me if I miss anything here?
Basically the idea is to shard the data and each worker takes their own piece of data and then use rabit to finalize.
Looks too simple to me so I am wondering what's the advantage of xgboost4j-spark compared to the simple version?

        xgb.rabit.init()
        rabi

[2019-03-08 00:57] hcho3 commented on #4220
Fixed by #4223.

[2019-03-08 00:57] #4220 closed

[2019-03-08 00:59] CodingCat commented on #4229
Xgb-spark is made for reducing your overhead of transforming data, so you can write a single spark job for both preprocessing and learning...plus the benefits from Spark ML API

And it covers all distributed headaches for you (you do not need to care about how to use rabit)

[2019-03-08 01:01] hcho3 commented on #4141
@DKorman Alternatively, can you try to compile XGBoost from source manually?
[code]

[2019-03-08 01:07] hcho3 commented on #4166
Prediction with multiple GPUs should be available starting from version 0.81.

[2019-03-08 01:07] #4166 closed

[2019-03-08 01:20] hcho3 opened #4230 "[RFC] Custom (user-defined) split evaluator"
Previous works on monotonic constraints and feature interaction constraints created a general framework for evaluating split candidates (#3335, #3429, #3466).

It would be nice to allow the user to write a custom method for split evaluation. See #4137, #4191, #3923.

This thread is a place-holder for discussing ideas.

[2019-03-08 01:21] hcho3 commented on #4137
I opened a new issue to discuss a possible implementation of user-defined split evaluator: #4230

[2019-03-08 01:21] #4137 closed

[2019-03-08 01:21] hcho3 commented on #4191
I opened a new issue to discuss a possible implementation of user-defined split evaluator: #4230

[2019-03-08 01:21] #4191 closed

[2019-03-08 01:24] #4101 closed

[2019-03-08 01:25] hcho3 commented on #4031
Addressed by #4219

[2019-03-08 01:25] #4031 closed

[2019-03-08 01:28] hcho3 commented on #3972
@RAMitchell Can we close this issue, now that we merged #3989, #3995, #4008, #4015, and #3825 ?

[2019-03-08 01:29] #3465 closed

[2019-03-08 01:31] hcho3 commented on #3633
@CodingCat Was this issue solved?

[2019-03-08 01:32] hcho3 commented on #3499
Multi-Node, Multi-GPU support was added in #4095.

[2019-03-08 01:32] #3499 closed

[2019-03-08 01:34] CodingCat commented on #3633
I cannot reproduce it actually

[2019-03-08 01:34] hcho3 commented on #3923
I opened a new issue to discuss a possible implementation of user-defined split evaluator: #4230

[2019-03-08 01:34] #3923 closed

[2019-03-08 01:34] hcho3 commented on #3633
Okay, closing it for now

[2019-03-08 01:34] #3633 closed

[2019-03-08 01:36] hcho3 commented on #3804
@zhaokaihuang Closing this issue for now. Feel free to try the latest version (0.82). If you experienceany bug, feel free to open a new issue. Thanks!

[2019-03-08 01:36] #3804 closed

[2019-03-08 01:42] hcho3 commented on #3826
@Denisevi4 Will investigate this problem soon.

[2019-03-08 01:45] hcho3 commented on #4036
Let's continue discussion at https://discuss.xgboost.ai/t/stratified-kfold-cv-for-regression/554

[2019-03-08 01:45] #4036 closed

[2019-03-08 02:07] hcho3 commented on #2905
Closing for now. Please open a new issue if this problem persists with the latest release (0.82).

[2019-03-08 02:07] #2905 closed

[2019-03-08 02:10] hcho3 commented on #3963
Fixed by #3988

[2019-03-08 02:10] #3963 closed

[2019-03-08 03:06] adobay commented on #4227
import org.apache.spark.ml.feature.VectorAssembler
val vectorAssembler = new VectorAssembler().
  setInputCols(Array("sepal length", "sepal width", "petal length", "petal width")).
  setOutputCol("features")
val xgbInput = vectorAssembler.transform(labelTransformed).select("features", "classIndex")

this is the example on https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html.

[2019-03-08 03:19] hcho3 commented on #4186
@JovanVeljanoski You should set `verbose_eval` to `True` and see the progress of `test-error`. When I ran your example, training ran up to 26 and the CV table display the 17th iteration, the best iteration.

In the documentation, note that the last entry of the table returned by `xgboost.cv` always corresponds to the best iteration.

[2019-03-08 03:19] #4186 closed

[2019-03-08 03:23] hcho3 commented on #4227
@adobay Try setting `missing` parameter to 0.

@CodingCat This thread reminds me of #3634. Can we add a note about missing value handling to the XGBoost4J-Spark tutorial?

[2019-03-08 03:31] hcho3 commented on #4195
Let's see if we can eliminate symlinks. Given the current way of building wheel artifacts, symlinks may no longer be necessary.

[2019-03-08 03:38] RAMitchell commented on #3972
There is still a little more to do. My idea was to make all of the internal vectors inside the regression tree private so that we can only access it through safe public methods, preventing misuse of the class. All of the ground work is done I just need to spend a little time finishing it off.

[2019-03-08 04:32] CodingCat commented on #4227
it might be a problem in terms of usability

but how the same data is interpreted differently by VectorAssembler?

[2019-03-08 04:42] hcho3 commented on #4211
Parameter validation will also help deprecating parameters, e.g. #4133. This way, we can collect all deprecating warnings in one place.

[2019-03-08 04:45] #3960 closed

[2019-03-08 04:50] hcho3 commented on #4112
@trivialfis I think dmlc/dmlc-core#511 would fix it.

[2019-03-08 04:52] hcho3 commented on #4082
@thvasilo `useExternalMemory` is needed for XGBoost4J-Spark, since you are not reading from a text input. Here is the documentation: https://xgboost.readthedocs.io/en/latest/jvm/scaladocs/xgboost4j-spark/index.html#ml.dmlc.xgboost4j.scala.spark.XGBoostClassifier@useExternalMemory:org.apache.spark.ml.param.BooleanParam

[2019-03-08 04:52] #4082 closed

[2019-03-08 05:08] hcho3 commented on #4199
@zzheng93 Did you try using `save_model()` / `load_model()` instead?

[2019-03-08 05:10] hcho3 commented on #4048
It is now possible to specify the host IP manually (you'll need to use Scala tracker): #3833

[2019-03-08 05:10] #4048 closed

[2019-03-08 05:17] hcho3 commented on #4059
@alibeyram I cannot reproduce the issue. Can you post the data you used and XGBoost version?

[2019-03-08 05:18] hcho3 commented on #4098
@trivialfis @kretes Any updates on the quantile error?

[2019-03-08 05:27] hcho3 commented on #4007
@KOLANICH These two methods are for serializing models in distributed learning. In the end, they all end up using the same code as `save_model()` / `load_model()` method.

[2019-03-08 05:27] #4007 closed

[2019-03-08 05:45] hcho3 opened #4234 "[RFC] Improving continuous integration"
Now that we have [two sponsors](https://xgboost.ai/sponsors) funding the continuous integration (CI) infrastructure (https://xgboost-ci.net), we should discuss ways to improve it.

## De-couple builds from tests
Currently, we have a single Jenkins stage where XGBoost is both built and run. We should split this stage into two, one for builds and another for tests. The benefits of de-coupling compil

[2019-03-08 05:46] hcho3 commented on #3868
Closing in favor of #3868.

[2019-03-08 05:46] #3868 closed

[2019-03-08 05:56] hcho3 commented on #4021
Take a look at this example: https://slundberg.github.io/shap/notebooks/NHANES%20I%20Survival%20Model.html

[2019-03-08 05:56] #4021 closed

[2019-03-08 05:57] hcho3 commented on #3860
Closing for now.

[2019-03-08 05:57] #3860 closed

[2019-03-08 06:03] hcho3 commented on #3771
Closing for now. After the JSON input format is adopted, we will add plug-ins to accept various binary encodings of JSON.

[2019-03-08 06:24] KOLANICH commented on #3771
I don't mean binary encodings of JSON, I mean binary format. IMHO parsing JSON repr in order to generate a binary format is overkill. I mean that JSON and its binary encodings are essentially key-value pairs. So your interface to JSON-like serializers should probably look like as passing already constructed JSON representation back and forth. But for a binary format it is unsuitable, for a binary

[2019-03-08 06:53] hcho3 commented on #3771
I’m not sure if we want to establish plugin system that allows access to internals. If anything, the trend is greater encapsulation. See #3972. You are of course free to make your fork of XGBoost and modify it at will, but I’m afraid we cannot have a plugin system touching internals in the main repository.

cc @RAMitchell

[2019-03-08 07:36] adobay commented on #4227
this is the compressed code in spark ml:
def compressed: Vector = {
    val nnz = numNonzeros
    // A dense vector needs 8 * size + 8 bytes, while a sparse vector needs 12 * nnz + 20 bytes.
    if (1.5 * (nnz + 1.0) < size) {
      toSparseWithSize(nnz)
    } else {
      toDense
    }
  }

my suggestion is that XGBoost4J-Spark read sparseVector just like denseVector, read in 0, not as missing.

[2019-03-08 07:56] KOLANICH commented on #3771
is not internal representation.

[2019-03-08 08:13] hcho3 commented on #3771
This sounds like accessing internal representation to me?

Reopening to continue discussion

[2019-03-08 10:32] trivialfis commented on #4211
Let me work on another proof of concept for this later.

[2019-03-08 10:33] trivialfis commented on #4211
My original plan is integrate this with JSON serialization since all parameters have to go through it.

[2019-03-08 13:48] thvasilo commented on #4229
Agree with @CodingCat here, unless you're solving a research problem it's very likely you'll want to do some data pre-processing before. If you absolutely want to avoid Spark and your data is already ready for training, you could use S3 or HDFS to store your data in a distributed filesystem, then train with XGB as normal, no need to do your own sharding or worry about rabit.

[2019-03-08 14:09] trivialfis opened #4235 "Broken link from R readme."
In R readme:
[code]
The `R Package section` links to :
https://xgboost.readthedocs.io/en/latest/how_to/contribute.html#r-package
is broken.

[2019-03-08 15:32] thvasilo opened #4237 "External memory cache files are not updated between runs"
Encountered this while trying to test external memory training for [this issue](https://discuss.xgboost.ai/t/model-does-not-train-on-data-in-external-memory/712) on the discussion board.

I was trying to train on RCV1 which by originally has the +1/-1 labels, causing XGB to crash with an error.
I fixed this and pointed to the new file, however the cache files where unchanged, so when I tried to tr

[2019-03-08 16:39] dyf102 commented on #4200
@hcho3 I have tried Spark 2.3.2 with 0.8.2 Xgboost Spark. It still has the same issue.

The image that I am using is
Cloud Dataproc image version: 1.3 (Debian 9, Hadoop 2.9, Spark 2.3)
on Google Cloud DataProc

[2019-03-08 17:35] trivialfis opened #4239 "Error memory access in gpu compressed iterator."
@RAMitchell I think I might have found (one of) the cause of failing tests.  Running `cuda-memcheck` with gtest:
[code]

[2019-03-08 17:39] hcho3 opened #4240 "Create C API doc and tutorial"
I have seen multiple users asking for an example of C API usage. Documentation would be useful for people wanting to use XGBoost from a C++ program.

- [x] Generate API doc for C API functions
- [ ] Add an option in CMake to build a static library instead of shared
- [x] Create a tutorial with an end-to-end example
- [x] Export proper cmake install targets
- [x] Remove all deprecated functions

[2019-03-08 17:43] trivialfis commented on #4240
@hcho3 For exposing C APIs:

- [ ] Export proper cmake install targets.
- [ ] Remove all deprecated functions.

[2019-03-08 17:44] trivialfis commented on #4211
@hcho3 Can we focus on JSON first?

[2019-03-08 17:45] hcho3 commented on #4211
@trivialfis Let me get back to it. I’ll merge your proposal into the full schema soon

[2019-03-08 17:48] CodingCat commented on #4200
Might be some python version issue, looks like the tracker cannot even interpret a integer sent from workers correctly

[2019-03-08 17:50] #4235 closed

[2019-03-08 17:53] trivialfis commented on #4112
@hcho3 Closing for now.

[2019-03-08 17:53] #4112 closed

[2019-03-08 18:05] #4069 closed

[2019-03-08 18:32] dyf102 commented on #4200
@CodingCat The python version is Python 2.7.13 [GCC 6.3.0 20170516] on linux2

[2019-03-08 19:04] jphelps13 commented on #4211
Thanks for getting on this so quickly, we appreciate it :)

[2019-03-08 19:41] jeffdk commented on #4204
@RAMitchell
I've edited my above comments to show the splitting statistics.  I also did a trial where I truncated the feature space at 1/2 the features, though I increased the number of rows to have a comparable number of entries in the feature matrix.  For this case, the instability builds less quickly, but it is still present; see [less_feats.model.txt](https://github.com/dmlc/xgboost/files/2947

[2019-03-08 19:49] shuyanmei commented on #4200
@CodingCat @hcho3
I have the same issue for both scala and python rabbit tracker

[ERROR] [03/08/2019 19:47:51.466] [RabitTracker-akka.actor.default-dispatcher-3] [LocalActorRefProvider(akka://RabitTracker)] guardian failed, shutting down system
java.lang.AssertionError: assertion failed
	at scala.Predef$.assert(Predef.scala:156)
	at ml.dmlc.xgboost4j.scala.rabit.handler.RabitWorkerHandler$$anonfu

[2019-03-08 21:50] RAMitchell commented on #4204
I can't see anything definitive from these dumps. The indices that are close to int32 in this case are not a problem.

We can definitely see the gradients increasing over boosting iterations. This should basically never happen in gradient boosting. The problem will be pinpointing exactly where the incorrect calculation is occurring. Using the 'reg:linear' objective helps because the hessian is alw

[2019-03-08 22:08] shuyanmei opened #4241 "[jvm-packages] save xgboost regression model evaluation result using spark scala"
Hi, I am training an xgboost regression model with evaluation sets using spark scala and it seems that there is no function that can be used to save the evaluation results. Something like 'model.eval_results()' in python.

[2019-03-08 23:29] tdhock opened #4242 "Google Summer of Code: new loss functions in XGBoost"
I was wondering if there is any xgboost maintainers who would be interested to co-mentor a Google Summer of Code (GSOC) student with me? I am a machine learning researcher who is interested in using xgboost for some standard loss/objective functions which are not included in xgboost. I am also an expert R package developer and admin/mentor for R in GSOC so we could probably get the student funded

[2019-03-08 23:35] RAMitchell commented on #4242
Don't have time myself but great idea.

[2019-03-09 00:21] hcho3 commented on #4242
So you don’t have to be a Google employee to be a mentor in GSOC? I am interested

[2019-03-09 01:03] jeffdk commented on #4204
Thanks for taking a look and giving me some direction, @RAMitchell!

I'll dug into a very similar example (details below), but I'm running into a loss of where to point the debugger next; do you have a suggestion?
I'm also open to any other thoughts you might have about tools or routines you generally use to track down these sorts of issues (additional compiler settings, xgb logging modes, or just

[2019-03-09 01:11] #4042 closed

[2019-03-09 04:10] ZhuoerLyu commented on #1715
Hey buddy, you saved my ass

[2019-03-09 17:29] jsnchen opened #4243 "tag v0.82 missing update version numbers commit"
Just built xgboost with gpu support using tag v0.82.
However, the python package version is still showing 0.81.

Looks like the tag is cut before the version number commit:
https://github.com/dmlc/xgboost/commit/2f218fc4be980dd341012c99e7baf3b7e970daa3

[2019-03-09 17:33] hcho3 commented on #4243
@jsnchen Yeah, sorry about that. It’s a mistake on my part. Unfortunately, there is nothing I can do, since history rewriting is not allowed.

[2019-03-09 17:35] hcho3 commented on #4243
You can use release_0.82 branch, which has correct version number. Alternatively, you can use pre-built Python wheels.

[2019-03-09 17:35] #4243 closed

[2019-03-09 21:09] tdhock commented on #4242
no you don't have to be a google employee!

It would be great to co-mentor with you @hcho3

I have started writing a wiki page for the project here https://github.com/rstats-gsoc/gsoc2019/wiki/xgboost-loss-functions

can you please add some info to the project and tests sections? The tests should be some simple to complex tasks that the student can do prior to GSOC in order to demonstrate to us me

[2019-03-09 23:38] RAMitchell commented on #4239
@canonizer can you take a look at this please.

[2019-03-10 01:14] hcho3 commented on #4242
@tdhock Can candidates code in C++? I can add some tests related to C++ core and XGBoost internals

[2019-03-10 03:03] tdhock commented on #4242
yes that would be great if you could add tests related to C++ core and xgboost internals

we probably should not accept any student who has not demonstrated C++ coding skills (that is the point of writing these tests)

[2019-03-10 10:36] trivialfis commented on #4135
@hcho3 Could you take a look at https://github.com/dmlc/dmlc-core/pull/514 ?

[2019-03-10 11:12] trivialfis commented on #4098
@hcho3 Nothing yet.

[2019-03-10 16:09] hcho3 commented on #4242
@tdhock I'll get to writing tests soon. What would be my responsibilities as a co-mentor? I'm trying to gauge my time commitment. Also, are mentees all hosted on the Google campus?

[2019-03-10 20:33] trivialfis commented on #4237
@thvasilo After digging a lot into XGBoost,  I'm still not familiar with external memory ... I will try having a complete understanding of it before next release hits.

[2019-03-10 21:15] RAMitchell commented on #4237
I ran into this problem also when I was playing with external memory. You have to manually delete the cache files between runs, otherwise it will silently continue to use previous cache files and produce incorrect results with no warning (!!).

I can see two ways of solving this:
- generate unique cache files for each run
- cleanup cache files in the dmatrix destructor

Option two is preferred so

[2019-03-11 06:01] jsnchen commented on #4243
Thanks.  I have used the release branch to build.

[2019-03-11 14:40] kyoungrok0517 opened #4245 "updater_gpu_hist.cu:908: Exception in gpu_hist.cu"
Hello, I'm seeing the following error. I'm using CUDA 10.0, 2 GPUs (1 Titan-V, 1 1080 TI)

[code]

[2019-03-11 14:43] trivialfis commented on #4245
Most likely you ran out of GPU memory.

[2019-03-11 14:52] kyoungrok0517 commented on #4245
Oh really?? Then I'll try with smaller batch then re-post if the error persists. Thanks for the immediate response :)

[2019-03-11 14:52] #4245 closed

[2019-03-11 15:42] tdhock commented on #4242
no students are hosted on google campus --everything is online

mentor responsibility is basically for one of us to be available for a 1 hour skype call each week during the summer, and to answer student questions via email https://developers.google.com/open-source/gsoc/help/responsibilities

[2019-03-11 19:38] hcho3 opened #4246 "Python predict() does not work with multiprocessing"
Related:
* #4141
* https://discuss.xgboost.ai/t/predicting-from-multiple-jobs-threading-issues/661

It has been reported that the `predict()` function in the Python interface does not work well with multiprocessing. We should find a way to allow multiple processes to predict with the same model simultaneously.

[2019-03-11 19:38] hcho3 commented on #4141
Closing for now, multiprocessing issue will be tracked in #4246.

[2019-03-11 19:38] #4141 closed

[2019-03-11 19:46] hcho3 commented on #4210
Please see #4015.

[2019-03-11 19:53] hcho3 commented on #4242
@tdhock Got it. Thanks for clarification. I'd be more than happy to help.

[2019-03-11 20:03] hcho3 commented on #4242
@tdhock What's the deadline for the tests? When do you want them by?

[2019-03-11 20:20] tdhock commented on #4242
asap! students need to do the tests in the next week or two, then work on an app to submit to google due Apr 7

[2019-03-11 20:23] hcho3 commented on #4242
Got it. I'll try to post tests as early as possible. Expect them no later than in three days from now.

[2019-03-11 20:27] tdhock commented on #4242
I added a test about using the functionality in the current xgboost package, but it would be great if you could add some tests about C++ coding / xgboost internals

[2019-03-11 21:53] hcho3 opened #4247 "Metrics `map-` and `ndcg-` are not supported."
The parameter doc says that `map-` and `ndcg-` are valid metrics, but in reality they are not supported.

**Diagnosis**. The metric creation function only splits at `@` character, not `-`:
https://github.com/dmlc/xgboost/blob/4eeeded7d1fdf03cce6548df76eb0c6fcfdb34c6/src/metric/metric.cc#L19-L33

As a result, `map@n-` and `ndcg@n-` are accepted, whereas `map-` and `ndcg-` are rejected.

**Proposed

[2019-03-11 23:22] hcho3 commented on #4234
First pull request for this RFC: end of this week (March 15, 2019).

[2019-03-12 00:18] thomasyue opened #4249 "xgboost on GPU cause kernel died"
xgboost on GPU cause jupyter notebook died with high iterations .
tried both version 0.80 & 0.82.
dataset is kaggle santander competition which can be found here:
https://www.kaggle.com/c/santander-customer-transaction-prediction/data

[code]

The kernel died after first fold of cross validation. if I increase the iterations, kernel dies even faster

[2019-03-12 00:50] hcho3 commented on #4249
@thomasyue Does your example work on CPU (i.e. when you set `tree_method=hist`)?

[2019-03-12 01:10] thomasyue commented on #4249
@hcho3  yes i did. I was using CPU With iterations even larger, and it worked.

[2019-03-12 01:11] thomasyue commented on #4249
@hcho3 but I didn’t specify ’’’tree_method=hist’’’ in params when I was using CPU.

[2019-03-12 01:19] hcho3 commented on #4249
@thomasyue It was probably using `tree_method=approx` instead.

[2019-03-12 01:53] chenqin opened #4250 "[RFC] harde rabit framework"
Over the course of last half, I have been working on some of largest xgboost jobs.
Often we face some of weird issues while running thousands of workers over billion rows of training data-set. Minor set of PRs submitted https://github.com/dmlc/dmlc-core/pull/512 https://github.com/dmlc/rabit/pull/81 https://github.com/dmlc/rabit/pull/73

As distributed training moves into production with hundreds

[2019-03-12 02:29] zzheng93 commented on #4199
@hcho3 Yes. I tried.
`XGBreg = XGBRegressor(tree_method = 'gpu_hist',seed=66)`
`XGBreg.load_model("...l")`
`XGBreg.predict(df[vari_ls])`

Same code, but different results on different machines.

I am wondering how to deal with the following hints?

[20:22:16] /workspace/src/learner.cc:362: Parameter 'predictor' has been recovered from the saved model. It will be set to 'gpu_predictor' for predicti

[2019-03-12 02:44] thomasyue commented on #4249
@hcho3 oh ok.  I'll try hist and see if that works.  Do you know what's causing the problem tho? Is it a bug or it’s my installation?

[2019-03-12 06:01] hcho3 commented on #4250
@chenqin Hi, first of all, I'd like to say thank you. Your work in distributed training has been instrumental in brining XGBoost to industrial-grade standard.

I'd like to receives your suggestions about improving the CI infrastructure, i.e. how we should test distributed training. See discussion at #4234.

For example, we should maybe test dmlc/rabit together in dmlc/xgboost, so that no future ch

[2019-03-12 08:04] wangdaiyin commented on #4172
OK，i get it，thanks

[2019-03-12 09:34] trivialfis commented on #4249
@thomasyue Hi, could you share following info:
- What's the size of your GPU memory?
- How many iterations does it take to kill your notebook?

[2019-03-12 09:35] trivialfis commented on #4249
@RAMitchell As a side note, interleaving CPU `AUC` with GPU algos is really slow ...

[2019-03-12 10:13] thvasilo commented on #4242
Linking back to a related topic on the forum for left-truncated data: https://discuss.xgboost.ai/t/support-for-left-truncated-data-time-dependent-covariates-for-cox-regression/651

[2019-03-12 10:41] thvasilo commented on #4250
Thanks for all the work @chenqin ! Regarding rabbit's future, I was also wondering if it would be possible to introduce a scatter-reduce algorithm like LightGBM uses.

The benefits when user 2^x workers seem to be significant.

For job restores, what is the state that we need to be restoring? I'm not familiar with the term peer restore, does that mean communicating data and models from other nodes

[2019-03-12 11:34] kolarto opened #4252 "[jvm-packages] unwanted training console output"
When i create a Booster using `XGBoost.train()` method, there is this output to console:

Where the errors of course correspond to test and train errors of the corresponding Booster model.
The problem is that the output shouldn't be there as i have set both parameters verbosity and silent to not to output anything.

[code]

My guess would be some forgotten System.out.print or something like that a

[2019-03-12 14:38] trivialfis opened #4253 "Mark Random forest APIs as beta."
A reminder for myself to mark explicit RF APIs introduced in #4148 as experimental.  Random forest is not new in XGBoost and I think the core logic itself is stable but Python APIs are not.  In the mean time, I will try to make the relationship between boosting and RF more explicit.

[2019-03-12 15:18] DKorman commented on #4141
Hi!

Apologies for answering with delay.
As far as I know graphic card is installed and functioning normally. Xgboost runs smoothly on my computer in any other situation, except in the multiprocessing context I stated above.

Regarding the comment above about compiling XGBoost from source manually, I am not sure how to do this.

Best regards,
Davor

[2019-03-12 18:15] hcho3 commented on #4252
@kolarto A few things to check:
1. Make sure that the `watches` argument is empty.
2. Set `disable_default_eval_metric` parameter to 0

[2019-03-12 20:52] chenqin commented on #4250
Sounds good, split build/test , adding OSX, LINUX, WINDOWS should be straight forward.

In term of distributed XGBoost, we can start with including XGBoost4j-Spark tests as start point. Possibly next adding simulate rabit failure tests using mock engine to verify item 2)

[2019-03-12 21:42] chenqin commented on #4250
yes, that should be item 3) once we can verify framework failure recovery works as expected. We can add more functions with good failure resilient recovery support.

That's mostly correct to start a job. item 2) is mostly around the case when you have single worker failure. How distributed XGBoost deal with entire worker fleet. What we have is to drop all works since last checkpoint and restart jo

[2019-03-13 10:18] thvasilo commented on #4250
OK if I understand correctly then when a worker fails in this scenario, the others continue with the iteration while we launch a new one and it reads its data partition. We complete the current iteration using the limited information from the live workers, and in the next iteration, the new worker gets the model state and we continue as before.

OK I see what you are saying. We have discussed earl

[2019-03-13 11:21] freelectron opened #4256 "0.82 feature_importances_ function of sklearn wrapper"
`XGBClassifier` class  of `xgboost.sklearn` cannot call `importance_type` property in the new release.
So basically, I can not do

[code]
it gives:

 File "....../python3.7/site-packages/xgboost/sklearn.py", line 525, in feature_importances_
    score = b.get_score(importance_type=self.importance_type)
AttributeError: 'XGBClassifier' object has no attribute 'importance_type'

Probably a quick fix.

[2019-03-13 11:35] adobay commented on #4227
@CodingCat @hcho3

[2019-03-13 11:45] hcho3 commented on #4256
That's weird, since `importance_type` attribute is set here:
https://github.com/dmlc/xgboost/blob/b833b642eca0cc4e3975958ba093d0d8cd25c4ea/python-package/xgboost/sklearn.py#L169

[2019-03-13 11:49] CodingCat commented on #4227
With the above code, how spark can interpret the same data into, sometimes dense and sometimes sparse?

[2019-03-13 11:53] hcho3 commented on #4256
I just tried it on my machine and was not able to re-produce it. Can you re-install XGBoost by running `pip install xgboost==0.82`?

[2019-03-13 12:03] adobay commented on #4227
//for each row, vectorAssembler call the assembleFunc
val assembleFunc = udf { r: Row =>
      VectorAssembler.assemble(lengths, keepInvalid)(r.toSeq: _*)
    }.asNondeterministic()

//the last row creates Sparse or Dense vector depending how many non-zero values
private[feature] def assemble(lengths: Array[Int], keepInvalid: Boolean)(vv: Any*): Vector = {
   ...
    //the last row...
    Vectors.

[2019-03-13 12:15] CodingCat commented on #4227
let me ask in this way , you said

[code]

this is not true, [0,10,0,8] can only be interpreted as dense, right?

[2019-03-13 12:48] kolarto commented on #4252
Empty watches actually did the trick.
As i train iteratively using `booster.update()` and `booster.evalSet()` and use `XGBoost.train()` to only create the `Booster` and do the first iteration, I am fine.
But if I wanted to create and also train the booster using `XGBoost.train()`, what data does the booster actually use to mini/maximize evaluation metric when the `watches` are empty -> no referenc

[2019-03-13 12:54] hcho3 commented on #4252
The `XGBoost.train()` method will optimize the evaluation metric on the training data, not test data or other evaluation data. So you are able to perform training even with empty `watches`.

[2019-03-13 12:54] #4252 closed

[2019-03-13 12:56] hcho3 commented on #4184
@hlbkin Are things looking better now?

[2019-03-13 12:57] #4189 closed

[2019-03-13 12:58] hcho3 commented on #3771
We may pursue this idea in some future time, but for the time being, there are other priorities.

[2019-03-13 12:59] hcho3 commented on #3720
Closing in favor of #4234

[2019-03-13 12:59] #3720 closed

[2019-03-13 13:00] hcho3 commented on #3595
@CodingCat Any updates on custom evaluation on XGBoost4J-Spark?

[2019-03-13 13:01] #4059 closed

[2019-03-13 13:02] CodingCat commented on #3595
Next release..

[2019-03-13 15:47] freelectron commented on #4256
hm, you are right. I am sorry for wasting your time. it was indeed an issue with my xbgoost build.
Thanks!

[2019-03-13 15:47] #4256 closed

[2019-03-13 16:20] hcho3 commented on #4230
@trivialfis I recall you saying that split evaluator should be replaced with something simpler in https://github.com/hcho3/xgboost-json-schema/issues/3#issuecomment-446516684. Any comments on this proposal?

[2019-03-13 17:32] trivialfis commented on #4230
@hcho3 let me see if I can work out something that fits both CPU and CUDA.  I spent a whole day trying to fix the broken CUDA on my machine...

[2019-03-14 02:33] hcho3 commented on #4242
@tdhock Almost there, it should be done by tomorrow

[2019-03-14 06:43] neeleshkshukla commented on #4225
Oh okay. Let me check.

[2019-03-14 15:59] jeffdk commented on #4204
I have managed to reproduce the instability with a relatively small data set which I can share.  Here is an archive of the data, a repro script, and the model output: [xgboost-issue-4204.tar.gz](https://github.com/dmlc/xgboost/files/2967226/xgboost-issue-4204.tar.gz)

**Updates from above**

- The instability can be seen using  the cpu `hist` method (no GPU required)
- I was able to reproduce on a

[2019-03-14 23:26] hcho3 commented on #4242
@tdhock I've put up three tests. Can you review?

[2019-03-15 08:26] selectasterisk opened #4260 "Custom loss function labels and predictions order preservation"
Suppose
[code]

If I am to write a custom objective function using XGBoost (sklearn API):

[code]

Can I expect that the labels to be in the same order every time? (e.g. y == [1,1,0,1,1], and the corresponding predictions, of course)

What if I use `n_jobs=-1`?

Aside question: since 'objective'  is set to the custom function, (and not binary:logistic); is y_hat just the margin response? (e.g. raw

[2019-03-15 12:24] hlbkin commented on #4184
Yes, everything is fine for now. But what I did also was moving numpy dataset to float32 manually (which is natural for xgboost as I understood)

[2019-03-15 12:24] #4184 closed

[2019-03-15 13:58] benjamincitrin opened #4261 "[jvm-packages] missing LabeledPoint.java"
I am using the pure Java packages, not Scala/Spark/Flink.

DataBatch.java heavily relies on an import:
`import ml.dmlc.xgboost4j.LabeledPoint;`

However, LabeledPoint.java does not exist.  My fix was to manually create a LabeledPoint.java file

[2019-03-15 15:43] benjamincitrin commented on #4261
`package ml.dmlc.xgboost4j;

import java.io.Serializable;

/**
 * Labeled data point for training examples.
 * Represent a sparse training instance.
 */
public class LabeledPoint implements Serializable {
  /** Label of the point */
  public float label;
  /** Weight of this data point */
  public float weight = 1.0f;
  /** Feature indices, used for sparse input */
  public int[] indices = null;

[2019-03-15 15:44] benjamincitrin commented on #4261
package ml.dmlc.xgboost4j;

import java.io.Serializable;

/**
 * Labeled data point for training examples.
 * Represent a sparse training instance.
 */
public class LabeledPoint implements Serializable {
  /** Label of the point */
  public float label;
  /** Weight of this data point */
  public float weight = 1.0f;
  /** Feature indices, used for sparse input */
  public int[] indices = null;

[2019-03-15 15:48] benjamincitrin commented on #4261
Not sure if this should remain open or closed, so please mark accordingly

[2019-03-15 15:52] hcho3 commented on #4261
The XGBoost Java package uses LabeledPoint.scala, so no need to write LabeledPoint.java

[2019-03-15 15:52] #4261 closed

[2019-03-15 16:45] #4253 closed

[2019-03-15 17:09] harrybraviner opened #4263 "Suppression of Rabit output in xgboost4j"
I've found that the logging of the performance from every training round fills up my screen and prevents me from spotting important messages that happen elsewhere in my code. This is particularly severe in problems where I train multiple boosters (e.g. for K-fold cross validation). I have not discovered any option that suppresses this output at present, and inspection of `Booster.java` suggests th

[2019-03-15 17:19] thvasilo commented on #4250
Linking [Rabit's paper](https://pdfs.semanticscholar.org/cc42/7b070f214ad11f4b8e7e4e0f0a5bfa9d55bf.pdf) here that focuses on the fault tolerance mechanism.

I'll try to go through this and find correspondences in the code, and hopefully annotate the code with comments to make it more readable.

[2019-03-15 18:16] tdhock commented on #4242
the first five easy questions are a bit theoretical (gsoc test usually tend to be more practical coding exercises) but for this project I think that is OK, as the student should understand the theory.

median and hard tests look great.

thanks for your help and let's hope we find a good student.

[2019-03-15 18:46] hcho3 commented on #4242
@tdhock Maybe we should move the binary classification question to "Medium." What do you think?

[2019-03-15 21:31] chenqin commented on #4250
I agree we should trace back to rabit paper and see how they designed failure recovery initially. At same time, binary tree wise tree reduce might not be most performant network topology considering time cost of {allreduce-> broadcast} e.g when we try to grow tree depth on large worker cluster total number of {allreduce-> broadcast} per iteration goes up exponentially (2^n) so as number of network

[2019-03-15 21:46] tdhock commented on #4242
either way is fine with me

[2019-03-15 21:51] hcho3 commented on #4242
Done. Let's hope for the best.

[2019-03-15 22:11] jtromans commented on #4141
I have built xgboost from source, including with nccl support. I'm also experiencing the same issue.

Python: 3.7.1
xgboost: 0.81
Driver Version: 418.43
CUDA Version: 10.1
NCCL for the appropriate version of CUDA.

[2019-03-16 21:20] trivialfis opened #4264 "Mark CUDA 10.1 as unsupported."
Issue is the same in  #4223.  Spliter of NVCC might have some problems with pointers, running this in `HostDeviceVectorImpl::Copy`:

[code]
returns different result.  The bug should be reproducible by simply running unittests with CUDA 10.1 on Ubuntu 18.10.  Instead of working around it like the last time I did, I think it's more appropriate to explicitly mark CUDA 10.1 is not being supported, or

[2019-03-16 22:55] RAMitchell commented on #4264
Yes we may have to wait for another cuda update. Do what you think is best.

[2019-03-17 00:40] hcho3 commented on #4264
@trivialfis I was about to include CUDA 10.1 as one of the targets in my upcoming PR for CI refactor. Should we leave it out for the time being?

[2019-03-17 05:08] trivialfis commented on #4264
@hcho3 yes.  Let's skip this version.

[2019-03-17 06:27] trivialfis commented on #4135
@hcho3 Any update? :)

[2019-03-17 08:59] #4264 closed

[2019-03-17 09:55] #3929 closed

[2019-03-17 12:40] #4227 closed

[2019-03-17 12:53] #4229 closed

[2019-03-17 14:42] kirill-linnik opened #4269 "[jvm-package] exception on start"
Hi all,

First of all, thanks for making XGBoost available in Spark. Secondly, thanks for Windows support.
I use version 0.81 with Windows drivers, and yesterday it worked just fine, while today, without any code change, it went to this:
[code]
The way I'm using it is quite straight-forward (in Java):

        VectorAssembler assembler = new VectorAssembler()
                .setInputCols(indexedF

[2019-03-17 19:43] kirill-linnik commented on #4269
BTW, found this one in the logs:

[code]
...which is a bit strange, as rabit tries to find port from 9091 to 9999 and for sure there is at least one open there

[2019-03-18 05:23] CodingCat commented on #4200
@cq this is an issue with rabit, where the tracker cannot interpret the magic number sent from workers, can you help to debug?

[2019-03-18 06:16] AmberCheng opened #4270 "Can I have an example for xgboost run on kubernets"
I cannnot run a distribute example on kubernets...

[2019-03-18 09:25] JimSEOW opened #4272 "Anaconda xgboost status remains non Windows."
As the issue with Windows 10 installation has been resolved recently #4197
The deepchem community needs Anaconda XGBoost Win64 to attempt installing DeepChem to Windows 10 without WSL so we could take advantage of tensorflow-GPU.

![image](https://user-images.githubusercontent.com/8244633/54520135-471cb180-4968-11e9-82d3-bfd02bdd351c.png)

[2019-03-18 16:43] ma3axaka commented on #3124
@hcho3 Could I work on this one? Do I need to reopen it?

[2019-03-18 16:58] trivialfis commented on #3124
@ma3axaka Please open a new issue.  We want to do some refactorings around DMatrix.  So maybe we can work on it together.

[2019-03-18 18:09] hcho3 commented on #3124
@trivialfis Can you open a new RFC about the proposed re-factoring? (Doesn't have to be too elaborate; just explain what you want to achieve)

[2019-03-18 18:14] hcho3 commented on #4272
@JimSEOW Can you use the binary wheels from the Python Package index? https://pypi.org/project/xgboost/#files

We maintainers do not maintain the Anaconda distribution; we only manage the PyPI package. Can you contact the maintainer of the Anaconda XGBoost package directly?

[2019-03-18 21:56] KOLANICH opened #4274 "Current version of rabit is incompatible with current version of xgboost"

[2019-03-18 23:07] rongou commented on #4264
This problem seems to be specific to gcc. I tried clang-7, it seems to work fine.

[2019-03-19 00:15] hcho3 commented on #4274
@KOLANICH I just tried building XGBoost with the latest dmlc-core and it just builds fine. In what sense is dmlc-core "incompatible" with XGBoost?

[2019-03-19 02:20] trivialfis commented on #4264
@rongou I'm not sure how did you compile XGBoost with clang, assuming you are referring to the non-apple clang.  There was a type deduction in dmlc core logging facility which tricks clang-7.

[2019-03-19 05:51] KOLANICH commented on #4274
Yesterdey I have tried to build xgboost (linux, amd64, gcc 8) updating dmlc-core to `master` and got build errors in https://github.com/dmlc/dmlc-core/blob/master/include/dmlc/logging.h#L20 and some other errors related to macros meant to be in config, which are not there. It seems like dmlc-core config is not generated when building XGBoost.

[2019-03-19 05:55] hcho3 commented on #4274
@KOLANICH Can you create a fresh new git clone of XGBoost, upgrade dmlc-core and try building? That’s what I did and I don’t see build failure

[2019-03-19 08:33] KOLANICH commented on #4274
I have retried. When I update dmlc-core alone, it builds. When I also update rabit, it stops (though the error points into dmlc-core). When I also downgrade dmlc-core, keeping rabit upgraded, it still fails.

[2019-03-19 10:22] CodingCat commented on #4274
@chenqin can you check this?

[2019-03-19 14:55] kyoungrok0517 opened #4276 "`ngroup=0` when using `xgb_model.pred(pred_interactions=True)`"
Related: https://github.com/slundberg/shap/issues/464

---

**Problem**
I get the following error when I use `pred_interactions=True` to get the feature interaction. The error occurs when reshaping the result array, and I suspect this is because the `ngroup` (2nd axis of `(35255,0,601,601)`) becomes 0, which seems to be an error.

[code]

[2019-03-19 15:02] kyoungrok0517 commented on #4276
Here's necessary files for testing.

* [Model](https://www.dropbox.com/s/m0nd7scqtr1xhvr/model_dense.pkl?dl=0)
* [Data](https://www.dropbox.com/s/m0nd7scqtr1xhvr/model_dense.pkl?dl=0)
* [Script](https://www.dropbox.com/s/s5bbvymko251l2q/SHAP_Analysis_For_Report.py?dl=0)

**How to run**
`python SHAP_Analysis_For_Report.py ./model_dense.pkl ./test.dmatrix`

[2019-03-19 15:57] chenqin commented on #4274
Yes, I can reproduce build failure, feel free to assign it to me. It might has something to do with the fact that rabit copied dmlc-core headers and build were failing due to different implied dmlc-core header directory layout.

[code]

[2019-03-19 16:11] rongou commented on #4264
@trivialfis not sure, I built the jvm packages with cuda enabled using clang-7 and it seems to run fine. What is the logging issue? Maybe it only affects cli or python?

[2019-03-19 21:01] trivialfis commented on #4264
@rongou Drap to the bottom of `clang-tidy` test: https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-4149/12/pipeline

The type of `&std:free` can not be deduced.  Same with `clang`.  The problem might be in `std::free` implementation if you are using `libc++` instead of `libstdc++`.  ; )

[2019-03-19 22:57] rongou commented on #4264
Yeah I installed libc++ when I installed clang-7. I guess clang uses it by default? If you are using clang-tidy, maybe it's not a crazy idea to go all in with clang.

Anyway, the CUDA bug should be fixed in the next patch update, if all goes well.

[2019-03-19 22:58] CodingCat commented on #4200
ping @chenqin

[2019-03-20 03:38] trivialfis commented on #3124
@RAMitchell Here.

[2019-03-20 04:14] pseudotensor opened #4279 "python version still says 0.81"
https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/VERSION

[2019-03-20 04:19] hcho3 commented on #4279
@pseudotensor My bad. The VERSION file was updated in release_0.82 but not in master. Will file a PR now

[2019-03-20 09:49] ma3axaka commented on #3124
@trivialfis Is there a ticket for refactoring DMatrix?

[2019-03-20 16:11] trivialfis commented on #3124
@ma3axaka Not yet.  Should be up next week, we want to summarize collected ideas, thanks for the patience. ;)

[2019-03-20 20:13] pseudotensor opened #4282 "/root/repo/xgboost/src/tree/updater_gpu.cu: 841: initialization error"
With fresh master v0.82 getting lots of errors where xgboost used to work fine.

Here are some:
[code]

[code]

@hcho3 @RAMitchell I'll try to get isolated repro using pure dmlc repo, just heads up so far.

See similar things on both Maxwell and Pascal boards.

[2019-03-20 20:47] pseudotensor commented on #4282
The problem is I cannot get reproducible case somehow.  We always dump pickled code+data to catch these issues, but running the pickled code+data is not failing the same way it failed.  But, it's common enough that it makes 0.82 unusable/unstable for us.  Not sure what to do if I can't get reproducible case for you guys.

[2019-03-20 22:42] RAMitchell commented on #4282
These errors make me think the problem is on your end, perhaps with the build process. I don't think `updater_gpu.cu` even got changed.

`an illegal instruction was encountered` this is the type of error that happens if the binary is compiled for the wrong architecture.

[2019-03-20 22:47] hcho3 commented on #4282
@pseudotensor Are you compiling XGBoost yourself, or are you using the pre-built wheel from PyPI?

[2019-03-20 23:08] pseudotensor commented on #4282
Hi guys.  Been compiling it the same way for over a year :)

[2019-03-20 23:24] trivialfis commented on #4282
@RAMitchell it's possible.  The error can come from span check, though I didn't see any message containing the words "kernel error".

[2019-03-21 07:43] muscionig opened #4286 "Out of memory even with small dataset"
Hi,
I have a problem with running xgboost on my GPU, I am using python. Below my system information:

- OS: windows 10
- Python version: 3.6.7
- Xgboost version: 0.82
- GPU: NVIDIA 1050M (driver: 23.21.13.9140)
- CUDA version: 10.1

The error that I am getting is that I am running out of memory:

[code]

The code that I am using is the following:

[code]

If I remove the tree_method parameter the

[2019-03-21 11:27] thvasilo commented on #4286
You are using the parameter 'tree_depth' 30. This means you are trying to build trees 30 levels deep, where the last layer will have 2^30 leafs.

We mention in the [documentation](https://xgboost.readthedocs.io/en/latest/parameter.html):

I'd argue that our wording should be more explicit here, to make it clear that every one increase in this parameter leads to doubling the memory use.

[2019-03-21 16:21] kyoungrok0517 opened #4287 "Error in /workspace/include/xgboost/./../../src/common/span.h while training."
Hello, I recently updated my Ubuntu NVIDA driver to `418.43`, and I'm seeing the following message.

[code]

Here's the output of `nvidia-smi`
[code]

[2019-03-21 16:45] trivialfis commented on #4287
@kyoungrok0517 Is that specific to 418?

[2019-03-21 17:52] muscionig commented on #4286
Ok, I changed it and now it is working. However, the result of df.info():
[code]

I would say that I understand that, but with 468KB of dataset in memory, it seems a little weird to me that xgboost is running out of memory. Am I missing something?

[2019-03-21 18:50] pseudotensor commented on #4282
Here is another one, randomly ran into that led to core dump:
[code]

[2019-03-21 19:43] trivialfis commented on #4282
@pseudotensor What cuda version are you running?

[2019-03-21 19:44] pseudotensor commented on #4282
cuda toolkit 9.0 with 410 drivers.
[code]

[2019-03-21 20:04] trivialfis commented on #4282
@pseudotensor That's 10.0 in your `nvidia-smi`.  Could you verify that your CUDA installation is indeed correct?  Because the error messages are weird, it seems your errors can happen like anywhere.  Although the cuda error reports are delayed, but should not scatter out to these many places.  I don't think anyone touched gpu_predictor.cu recently.

[2019-03-21 21:32] RAMitchell commented on #4286
@thvasilo this happens so often that we should even consider adding run-time warnings when users specify unusual parameters.

For example, if the user requests a tree configuration allowing more leaf nodes than training examples. I believe we can dramatically improve the user friendliness of xgboost.

It would be nice to do this in conjunction with the proposal to validate xgboost parameters (#421

[2019-03-21 21:40] #4279 closed

[2019-03-21 21:47] hcho3 commented on #4260
@selectasterisk

Yes, the labels will be in the same order every time. The reason is that your `custom_loss` is a vectorized function, so the arguments `y` and `yhat` are already collection of labels.

[2019-03-21 21:47] hcho3 commented on #4260
Yes, it is just a margin response.

[2019-03-21 21:53] hcho3 commented on #4272
@JimSEOW Any updates?

[2019-03-21 21:56] gitjonez commented on #1715
^^^^   This is what did the trick for me. Thanks!

[2019-03-21 22:06] pseudotensor commented on #4282
It's the same cuda installation I've had for a long time (as you'll see below).  Also, not just this one machine has issues.  All of our jenkins machines were failing.
[code]

[2019-03-21 22:54] selectasterisk commented on #4260
Thanks for the response. To follow up on this (for sklearn custom objective) it seems like y_hat on XGBClassifier is actually a post-sigmoid response, and to get the error function to work, all I had to do was to differentiate wrt to the post-sigmoid activation, and not wrt to the margin.

[2019-03-21 23:43] kyoungrok0517 commented on #4287
I think so. I just downgraded to 415 and tested then the problem no longer exists.

[2019-03-22 00:33] trivialfis commented on #4287
@kyoungrok0517 Ah, please don't upgrade to 10.1 until they release the next binary patch.

[2019-03-22 01:17] kyoungrok0517 commented on #4287
No no, I didn’t update the CUDA but only driver. That is ‘supported’
version, not the installed one. I suppose the 418 driver starts supporting
CUDA 10.1 so some part is not backward-compatible.
2019년 3월 22일 (금) 오전 9:33, Jiaming Yuan <notifications@github.com>님이 작성:

[2019-03-22 02:17] RAMitchell commented on #4204
I had a look today. There is nothing wrong with prediction or prediction cacheing as far as I can tell.

The problem is identical in 'gpu_hist' and 'hist' but doesn't occur in 'exact'. Reducing the learning rate to 0.5 resolves the problem in this case. @jeffdk can you confirm what learning rates you are using on your larger dataset?

One theory is that xgboost uses a Newton style gradient descent

[2019-03-22 06:25] avinashbarnwal commented on #4242
I am 3rd Year PhD student in Department of Applied Maths and Statistics at Stony Brook University and have worked on these loss functions and doing research towards these areas. I have taken C++ courses and deeper expertise in R and Python. Most importantly this is completely aligned with my research area so it would be great if I contribute. I will go through the tests. Please let me know your th

[2019-03-22 06:43] ihopethiswillfi commented on #4199
This works for me on an XGBRegressor:
```model.set_params(tree_method='hist')```

[2019-03-22 10:44] thvasilo commented on #4286
@muscionig XGBoost is running out of memory because for every leaf it has to create a histogram data structure for every feature. So when you set the parameter to 30, apart from the need to maintain, for each iteration, one tree with 2^31-1 nodes, it also needs to estimate `num_features * num_leaves` histograms. When you have too many leaves this will lead to out of memory errors. As @RAMitchell m

[2019-03-22 16:42] jeffzi opened #4288 "Custom multiclass objective receives transformed predictions"
Hi,

I'm having issues with custom multiclass objective function receiving transformed predictions. The problem has already been raised in issue https://github.com/dmlc/xgboost/issues/2776

I believe the objective function should expect `preds` as a (N, K) array, N = #data, K = #classes, but it's not the case by default in both python and R. The previous issue points to https://github.com/dmlc/xgb

[2019-03-22 17:35] jeffdk commented on #4204
Hi @RAMitchell, thanks for taking a look!

That is correct

Actually, I claim there is still an issue for learning rate of 0.5; the dtrain error increases on iteration 10. Here is the corresponding tree:
[code]

I use rates in the range of [0.09-0.2] usually.  I've only been cranking the rate up to make the instability easier to see.

I still see a divergence using the attached example and a learn

[2019-03-22 19:08] #4260 closed

[2019-03-22 22:56] bali0019 opened #4289 "Provide Dockerfile for building xgboost, so that a user doesn't have to figure out the required build environment"
As of now, building Xgboost is really a cumbersome task. Not only is build environment fully documented, but also requires few things (cmake, maven, python) to be available for the build.
By providing a Dockerfile for build environment, we won't just make it easy to build xgboost anywhere, but also document dependencies and versions required for the build.
After that, the future iterations can be

[2019-03-22 22:59] hcho3 commented on #4289
@bali0019 We already have a Docker image for continuous integration: https://github.com/dmlc/xgboost/blob/master/tests/ci_build/Dockerfile.gpu.
Sample CI output: https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-4281/4/pipeline

[2019-03-22 23:02] bali0019 commented on #4289
@hcho3 just to make sure, does it build jvm packages as well? Also, why are these build components under test?

[2019-03-22 23:05] hcho3 commented on #4289
@bali0019 Everything related to continuous integration is stored under `tests/` directory. For the Docker image used in the JVM packages, see https://github.com/dmlc/xgboost/blob/c18a3660faea9d9351ffc6a01ee1d8f50559d9bf/jvm-packages/dev/build-docker.sh

[2019-03-22 23:06] hcho3 commented on #4289
@CodingCat Do you have a Dockerfile for the image `codingcat/xgbrelease:latest`?

[2019-03-22 23:08] bali0019 commented on #4289
@hcho3, yes, i did see that, but there is no Dockerfile where i can simple do mount a local host path to run docker container to build jvm packages. if it is, I apologise, but we need to atleast have a good readme for build environment, happy to contribute.

[2019-03-22 23:11] bali0019 commented on #4289
@hcho3 thanks for the reply !

[2019-03-22 23:14] hcho3 commented on #4289
@bali0019 I agree that we should clearly document the existence of Docker images. Optionally, we can also upload pre-built Docker images to Docker Hub.

[2019-03-23 07:44] CodingCat commented on #4289
I don't have docker files but only updated images....

you can directly run dev/build-docker.sh under jvm-packages folder to build xgboost for linux environment

[2019-03-24 10:14] kirill-linnik opened #4290 "[jvm-packages] How to get what is the issue?"
Dear all, execution of
[code]
ends with:

[code]
After that, all dies and no single hint on what went wrong. What should I do in order to investigate?

[2019-03-24 12:14] pahome opened #4291 "Can I print the decision path of xgboost?"
I have input test_X and I want to know how the trained model determine the predict

Is there any way to print prediction of each estimators?

[2019-03-24 18:28] bourbaki opened #4292 "[jvm-packages] Building package on macos"
Hello.
I tried to build JVM packages on macos:
[code]
Then I tried to launch a spark example with the iris dataset:
[code]
And I got the following error:
[code]
So there's something wrong with a packaged `dylib` file. After further investigation, I found a strange thing. The`dylib` file in the jar is not the same as the file generated by `create_jni` into `resources/lib` directory. A quick look at

[2019-03-24 21:19] RAMitchell commented on #3972
This was a little more complicated than I thought, I'm going to close this for now.

[2019-03-24 21:19] #3972 closed

[2019-03-25 11:18] linetor commented on #3689
When I want to use XGBoostClassificationModelBridge.scala, I got error like

` too many arguments for constructor XGBoostClassificationModel: (uid: String)ml.dmlc.xgboost4j.scala.spark.XGBoostClassificationModel`

Anyone have any idea for using local model for spark?

[2019-03-25 14:41] ksangeek commented on #3622
I am also able to reproduce this problem in xgboost `v0.82`.
[code]

Failure details
[code]

I see that the test was comparing `cv.columns` with `exp` of type `pd.Index` and the problem occurs because both the elements of lists are not in the same order!
I made a patch to sort the lists before comparison and was able to get past the issue
[code]

@hcho3 Do you think this the right fix?

[2019-03-25 15:36] trivialfis commented on #3622
@ksangeek let me try it later.  Weird thing that it runs completely fine with Python 2 so I wasn't sure

[2019-03-26 11:05] kirill-linnik commented on #4290
Any ideas, please? it exists with different codes, no chance to get it working. The most common is 3, which, according to Google, C abort function. Where can I find any logs to explore? Temp folder doesn't seem to have any, only .py file, .dll itself and that's it.

[2019-03-26 17:49] greg-rychlewski opened #4294 "[jvm-package] Inconsistent predictions using XGBoost4j-Spark with model trained in R"
Hi,

I'm using an XGBoost model trained in R to make predictions using the xgboost4j-spark package.

When I compare the probability predictions made by R with the ones made with xgboost4j-spark they always differ when one of the features is missing.

I'm not sure if this is a bug in the package or if some of the missing value parameters need to be adjusted. Right now I'm using the default missing

[2019-03-26 18:52] cp9612 commented on #2087
Would like to see this feature coming

[2019-03-26 20:05] kdebrab opened #4295 "Python wheel for linux increased from 16.6MB to 114MB (!) between 0.81 and 0.82"
The Python manylinux wheel for XGBoost increased from 16.6MB for 0.81 to 114MB (!) for 0.82. One can check this by comparing https://pypi.org/project/xgboost/0.82/#files with https://pypi.org/project/xgboost/0.81/#files.

Looking at the release notes, I didn't see an explanation for this dramatic increase, so maybe it was not on purpose...

[2019-03-26 20:47] RAMitchell commented on #4295
Our python wheels now come with all GPU algorithms. Let us know if you have a specific complaint about the size of the binary.

[2019-03-26 20:47] #4295 closed

[2019-03-27 03:32] forest-sky-sea opened #4296 "[jvm-packages] XGBoost Spark 0.82 crashed when handling Float.NaN"
I saw someone has mentioned the same problem before in https://github.com/dmlc/xgboost/issues/2286

My test data is generated as follows, using Float.NaN to represent missing values in the data:
[code]
Then use `VectorAssembler` to assemble feature columns:
[code]
Finally my data is as follows:
[code]
Then, I try to train a model using xgboost4j-spark 0.82
[code]
The training step crashes, full st

[2019-03-27 06:04] Jarlene opened #4297 "max_depth string to Int in ParamMapFuncs class error"
when i use xgboost to train a model with hpo; the hpo output max_dep="4.0" which is a string type,  but the method XGBoostToMLlibParams in ParamMapFuncs for IntParam do toString.toInt like this
![image](https://user-images.githubusercontent.com/14009650/55054022-39b6a400-5099-11e9-92d3-5a9ba1377540.png)

last exception as :
java.lang.NumberFormatException: For input string: "4.0"
	at java.lang.Num

[2019-03-27 12:31] ksangeek opened #4298 "[GPU] python-gpu/test_large_sizes.py fails with debug_verbose=5"
Platform linux -- Python 3.6.8, pytest-4.3.1, py-1.8.0, pluggy-0.9.0
In `v0.82` for the GPU test `python-gpu/test_large_sizes.orig.py` fails stating that `'debug_verbose': 5` is not supported -
`xgboost.core.XGBoostError: b'value 5 for Parameter verbosity exceed bound [0,3]'`

Complete stack from the failure -
[code]

[2019-03-27 12:36] ksangeek commented on #4298
Based on the error message, when I reduce the verbosity to `3`, it proceeds past this issue and hits with issue https://github.com/dmlc/xgboost/issues/3794.
And when I use the workaround suggested in there it proceeds fine and succeeds successfully.

So, it is wrong for the test here to use `'debug_verbose': 5`.
Based on the conversation in the other issue, pulling in @trivialfis to suggest in her

[2019-03-27 14:22] greg-rychlewski commented on #4294
I did some more digging and found that I can get the correct probability in spark when I access the booster directly and pass in a dmatrix created from a float array:

`val data = Array(
 0.0,0.0,56.39,353.0,306.0,218793.63,0.0,99999.0,0.0,15.07,99999.0,0.0,0.0,265177.16,11.0,-2.0,-2.0,200.0,6459.0,4276.1366,2.0,1809.72,80000.0,0.0,5.3,346238.0,-4.0,999.0,305.0,305.0,0.0,1.0,50.0,0.0,82.0,999.0,0.

[2019-03-27 15:45] trivialfis commented on #4298
@ksangeek That's because we can't change the distribution of data, and we don't currently have a solution for that.

[2019-03-27 15:59] ksangeek commented on #4298
@trivialfis Ok, I got that part from the conversation in the original issue.
I opened this to ask if the test case change the `debug_verbose` to a valid supported value? Or is it something specific to my environment?

[2019-03-27 16:23] trivialfis commented on #4298
@ksangeek Oops, sorry that is a bug.  `debug_verbose` is not a valid value, see https://xgboost.readthedocs.io/en/latest/parameter.html#general-parameters for the parameter `verbosity`.

[2019-03-27 16:32] ksangeek commented on #4298
Thank you @trivialfis for a quick response on this!

[2019-03-27 18:12] hcho3 commented on #4291
See https://discuss.xgboost.ai/t/can-i-print-the-decision-path-of-model/755/2

[2019-03-27 18:12] #4291 closed

[2019-03-27 18:13] hcho3 commented on #4290
This is interacting with Spark?

[2019-03-27 18:17] kirill-linnik commented on #4290
Yes, it is a Spark extension

[2019-03-27 18:21] justincart opened #4300 "FutureWarning: Series.base is deprecated and will be removed in a future version"
I am using python3.7.2 with xgboost 0.81 and got a lot of the following error messages:

/Users/jianhuitian/Documents/Programs/Anaconda3/anaconda3/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
if getattr(data, ‘base’, None) is not None

How to get rid of this annoying issue?

[2019-03-27 19:30] #4298 closed

[2019-03-28 00:32] hcho3 commented on #4292
@bourbaki I think #4303 is related.

[2019-03-28 00:40] #4272 closed

[2019-03-28 01:48] jt120 opened #4305 "[jvm-packages] xgboost spark 0.7 use resnet image feature crash"
I use xgboost 0.7 and spark 2.1.0 to train CTR model

when I add image feature, 300 double numbers to feature, the spark crash, screen scroll show some code like below:
[code]
what's this? seems some code auto generate, any advice for debug this problem?

P.S.
I can train same model with same feature in python version xgboost, so I think it may be a problem of spark xgboost lib

[2019-03-28 01:52] hcho3 commented on #4305
Can you try using XGBoost4J-Spark 0.82?

[2019-03-28 16:27] thvasilo commented on #4297
I think you need to use a simple "4" here? `max_depth` is supposed to be an integer, and Scala can't convert the double value "4.0" to an integer.

[code]

[2019-03-28 16:41] hcho3 commented on #4292
Addressed in #4303.

[2019-03-28 16:41] #4292 closed

[2019-03-28 17:08] thvasilo commented on #4300
I did a quick grep of the repo and cannot find the offending line `if getattr(data, ‘base’, None) is not None`, or any relevant reference to `Series.base` which originates from Pandas.

Not sure where why this warning pops up.

[2019-03-28 21:08] mingyang opened #4307 "[jvm-packages] xgboost4j-spark Prediction Optimization"
# Motivation
Recently, I've been testing whether xgboost4j-spark could be a viable solution in production. One problem surfaced when *multiple models* were applied to the same dataset in sequence.

In an industrial setting, it's very likely that a practitioner builds multiple models using the same dataset, with same features but different labels for different tasks. For example, one might want to

[2019-03-28 21:47] jrathgeber commented on #4300
Same issue

[2019-03-29 05:27] CodingCat commented on #4307
@mingyang thanks for reporting the issue and the analysis

the reason we didn't use any per-row approach (e.g. udf, appending to Row) is that per-instance prediction with XGBoost is very slow due to the overhead in creating DMatrix, etc.

I don't have a workaround better than the second one you already mentioned for now

I am thinking about provide some built-in tools which overlaps with Spark ML

[2019-03-29 08:28] jt120 commented on #4305
thks，I will

[2019-03-29 08:28] #4305 closed

[2019-03-29 08:36] jt120 commented on #4305
I will try, and send result here, tks

[2019-03-29 12:30] CodingCat commented on #4296
https://github.com/dmlc/xgboost/pull/4309 should fix the problem,

[2019-03-29 12:42] CodingCat commented on #4294
there is a bug when handling NaN in spark, https://github.com/dmlc/xgboost/pull/4309/files should fix the issue

[2019-03-29 12:54] CodingCat commented on #4290
you should download executor-side logs to see what is happening there, and you'd give more logs about `all dies `

[2019-03-29 12:56] CodingCat commented on #4241
you can access training summary with `model.XGBoostTrainingSummary`

[2019-03-29 14:19] kirill-linnik commented on #4290
well, this is how executor log ends. it creates dataset, sends to there... and this is it. no errors on executor side.

[2019-03-29 18:55] mingyang commented on #4307
OK, this makes sense to me now. @CodingCat

How about this workaround, then? In *pseudo*-scala code:
[code]
Please forgive my syntax errors since I don't normally write scala code. But I hope my idea is clear.

If the memory footprint of keeping the partition in the memory is too high, which I don't think is a real issue since the spark default partition size when reading from hdfs is 128MB only,

[2019-03-30 11:34] #4296 closed

[2019-03-30 11:35] #4294 closed

[2019-03-30 11:40] CodingCat commented on #4307
we do experience some issues with loading everything to memory (you can check https://github.com/dmlc/xgboost/pull/4033),

and actually in your code, the iterator `rowIterator` is not traversable after you execute `val inputRows = rowIterator.toList ` as toList has move iterator to the end..... as a result, doing miniBatch in an iterator becomes very complex, I am not sure I would choose to pay su

[2019-03-30 13:47] gnodabb opened #4314 "children right leaves saved as zeros?"
I am currently trying to understand if this is normal behavior. When I create or load a model that has been trained using the parameter 'tree_method':'gpu_hist' then it appears that the model format is inconsistent with other behaviors. The children right leaves appear to be stored as `0`, while the children left leaves are `-1`. Additionally, when using 'tree_method':'gpu_exact', the right and le

[2019-03-30 14:39] trivialfis commented on #4249
@thomasyue Any update on this?

[2019-03-31 04:31] hcho3 commented on #4274
Addressed in dmlc/rabit#86

[2019-03-31 04:31] #4274 closed

[2019-03-31 14:50] trivialfis commented on #4249
Feel free to reopen when more info is available.

[2019-03-31 14:50] #4249 closed

[2019-03-31 20:07] RAMitchell commented on #4314
Thanks for filing an issue. Please verify if the issue exists on the latest source, the xgboost GPU algorithms have changed a lot since 0.72. Also provide a simple script that shows the behaviour that you're experiencing and we can take a look.

[2019-04-01 12:31] acodercat opened #4318 "I want to use a set of features to correspond to multiple columns of lables"
I want to use a set of features to correspond to multiple columns of lables

[2019-04-01 15:09] lk1983823 opened #4319 "Can xgboost be installed in Nvidia jetson nano?"
Nvidia Jetson Nano uses Ubuntu 18.04.2 LTS and I want to install xgboost in it and make use of its GPU. Can I make this possible? Thank you!

[2019-04-01 16:25] phahn57 opened #4320 "Parallel lost after update"
Just updated XGBoost from 06.xx to 08.62.1
Lost parallel working. Before worked fine, because of an issue with prediction did the update.
My computer
R version 3.4.3 (2017-11-30) -- "Kite-Eating Tree"
Copyright (C) 2017 The R Foundation for Statistical Computing
Platform: x86_64-apple-darwin15.6.0 (64-bit)

R version 3.4.3 (2017-11-30)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: ma

[2019-04-01 17:30] hcho3 commented on #4320
“Lost parallel working”

Can you be more specific?

[2019-04-01 20:18] astrowonk commented on #4300
Getting the same warning.

The code is [here](https://github.com/dmlc/xgboost/blob/82dca3c108502b6912f2135c3120a24a3ec55045/python-package/xgboost/core.py#L591):

`        if getattr(data, 'base', None) is not None and \
           data.base is not None and isinstance(data, np.ndarray) \
           and isinstance(data.base, np.ndarray) and (not data.flags.c_contiguous):
            self.set_float_

[2019-04-01 20:38] phahn57 commented on #4320
Normally I work on my MacBook. Because I am not able to install openMP, I today used my iMac. When I build a model with "old" version I had all 4 cores running parallel, but when I finished calculation prediction was not possible for gblinear. Thus I updated XGBoost from within Rstudio. Next run of modeling is still running :-(. It is now late in the evening, have to look after it tomorrow evening

[2019-04-01 21:56] mingyang commented on #4307
Pardon my scala snippet. It was only to illustrate the main idea.

If we weren't using `zipPartition` before #4033, then it would avoid the problem that I describe above. On the down side, if I understand correctly, this would require more memory per executor.

So, is it possible to leave this tradeoff to the users by providing either 1) two prediction functions (e.g. `model.transform` and `model.

[2019-04-01 22:47] trivialfis opened #4321 "Boost from average."
This is a discussion for implementing `BoostFromAverage` from LightGBM.  There are two use cases for this:
- Some objectives don't have Hessian,  which results in suboptimal update path.
- When design matrix is empty, we still output something, related to #4120.

We already have `base_margin` which can be used to implement this feature.  I'm not sure about whether this is indeed useful in XGBoost

[2019-04-01 22:47] trivialfis commented on #4321
ping @hcho3 @CodingCat .

[2019-04-01 23:58] RAMitchell commented on #4321
I think there is a strong case for boosting from the average. As an example consider a linear regression problem where the mean of the labels is 1e10 but the variance is 1e-5. Xgboost's training with any learning rate less than 1.0 will be dominated by trying to reach the mean.

Note that 'average' has different meaning for each objective function, LightGBM implements this as a part of their objec

[2019-04-02 00:55] trivialfis commented on #4319
@lk1983823 I don't have one. ;-)  But if you do, just try it and see what happens.

[2019-04-02 07:15] Daemonyz opened #4324 "Lost some features columns when using feature importance"
When i use model.get_score() or xgb.plot_importance(), only 6 features importance turn out, while i feed 8 features totally. And I set the max_num_features to a large number.

So in what conditions xgboost will drop or skip some feature columns?

[2019-04-02 07:58] pseudotensor commented on #4282
I'm still hitting this, but I can only conclude maybe my GPU boards are having issues.  Will close for now, even if I still see.  Not sure what is going on.

[2019-04-02 07:58] #4282 closed

[2019-04-02 11:25] gnodabb commented on #4314
I have verified this same behavior on 0.83.dev0
I will simplify a small script and upload soon.

[2019-04-02 13:08] gnodabb commented on #4314
Here is my script:

`import os
import xgboost as xgb
import numpy as np
import shap

# initialize random data for small training size.
np.random.seed(0)
X_train = np.random.rand(1000, 15)
X_test = np.random.rand(500,15)

y_train = np.zeros((1000, 1))
y_test = np.zeros((500, 1))

y_train[:500] = 1
y_test[:250] = 1

dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_tes

[2019-04-02 16:00] zyq11223 opened #4325 "About the return values of xgboostModel.transformLeaf function ?"
About the return values of  xgboostModel.transformLeaf(trainRDD) ?   the value is  the value of leaf nodes or  the index of leaf nodes ?
Solving the CTR issue with XGboost4j-spark and sparkml lr , does it need to do one hot encoder with the leaves' values of  xgboostModel.transformLeaf(trainRDD) , then take it as input of logistic regression algorithm ??
请原谅我，需要用中文表述一下我的两个问题，通过 Xgboost4j-spark 和 s

[2019-04-03 01:12] #4319 closed

[2019-04-03 01:19] trivialfis commented on #4194
Closing this for now since `cudaFree` is safe and rarely called.  Thanks guys!

[2019-04-03 01:19] #4194 closed

[2019-04-03 03:57] zyq11223 opened #4326 "Finally, I use spark `VectorIndexer` and `OneHotEncoderEstimator` to perform one-hot encoding."
Finally, I use spark `VectorIndexer` and `OneHotEncoderEstimator` to perform one-hot encoding.

_Originally posted by @holysoros in https://github.com/dmlc/xgboost/issues/3847#issuecomment-440513396_

Would you mind explain it detail ? Thank you

[2019-04-03 04:20] chenqin commented on #4250
Rabit2 design proposal

**keyword** FSM, EPOLL, C10K, data linerage, map-reduce, allreduce, fast recovery, large scale, MPI

https://github.com/dmlc/rabit/issues/89

[2019-04-03 05:16] JiaxiangBU opened #4328 "Bug Report: cannot run in the demo predict_leaf_indices.R"
https://github.com/dmlc/xgboost/blob/82dca3c108502b6912f2135c3120a24a3ec55045/R-package/demo/predict_leaf_indices.R#L49

I get this error
[code]

Seemingly the factor variables created by the function `create.new.tree.features` have different levels.

[2019-04-03 05:47] JiaxiangBU commented on #4328
Here is my quick fix, https://github.com/dmlc/xgboost/pull/4329

[2019-04-03 06:56] Isaac009 commented on #1715
WORKS FOR ME THANKS

[2019-04-03 23:17] pseudotensor opened #4330 "Check failed: this->HistogramExists(nidx)"
v0.82:

[fail.zip](https://github.com/dmlc/xgboost/files/3041081/fail.zip)

[code]

[2019-04-03 23:33] hcho3 commented on #4234
It turns out that it is possible to compile CUDA code on machines without NVIDIA GPUs:
* https://stackoverflow.com/questions/20186848/can-i-compile-a-cuda-program-without-having-a-cuda-device
* MXNet uses CPU workers to compile CUDA code:
https://github.com/apache/incubator-mxnet/blob/0e8c27096289fcb77e473471df99e16e5aa242b9/ci/jenkins/Jenkins_steps.groovy#L164-L176

The benefit is that we can use

[2019-04-04 00:02] trivialfis commented on #4330
Oops, the old histogram node is overwritten by histogram recycling.

[2019-04-04 01:06] terrytangyuan commented on #4234
Definitely +1 for running performance tests regularly. Probably more frequent than two weeks though.

[2019-04-04 01:21] hcho3 commented on #4320
@phahn57 The issue is that the default compiler on Macbook doesn't support OpenMP. To enable OpenMP, you should use Homebrew GCC compiler instead.

Follow these steps on your Macbook (tested on my Macbook Pro):

1. Install Homebrew from https://brew.sh/.
2. In the command line, run `brew update`.
3. Install Homebrew GCC by running `brew install gcc@8`.
4. Install CMake by running `brew install cma

[2019-04-04 01:22] #4320 closed

[2019-04-04 02:00] hcho3 commented on #4234
@terrytangyuan Any suggestions for performance tests?

[2019-04-04 02:25] #4328 closed

[2019-04-04 03:26] terrytangyuan commented on #4234
Not on top of my head. I've only done this for internal datasets before. But here we should probably pick some good public (Kaggle?) datasets. Note that performance tests include both statistical and computational performance so we may want to consider use cases from both perspectives.

[2019-04-04 03:33] hcho3 commented on #4234
@terrytangyuan Let me think over this over the weekend.

[2019-04-04 05:36] hcho3 commented on #4270
@AmberCheng See https://github.com/kubeflow/examples/tree/master/xgboost_ames_housing

[2019-04-04 06:26] AmberCheng commented on #4270
Hi,  thanks for your reply. However I find that this example does not look like a distribute training. It more likes a standalone one, as I read the content in the yaml file.

[2019-04-04 06:50] hcho3 commented on #4270
My bad.

[2019-04-04 11:32] phahn57 commented on #4320
Thanks. Amazing fast

[2019-04-04 14:35] jirikraus opened #4332 "Deprecation warnings with CUDA 9 or newer"
Compiling XGBoost with CUDA 9 or newer causes deprecation warnings because the deprecated warp intrinsic `__ballot` is used, e.g.
[code]
Instead of `__ballot` `__ballot_sync` should be used: https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#warp-vote-functions

Expectation is that XGBoost compile warning free with CUDA 9 and newer.

[2019-04-05 18:49] LeZhengThu commented on #3980
Hi, is this function available in Python now? Thanks.

[2019-04-05 19:57] hdinh commented on #4300
Here's the code that produces this for me, it seems to be a combination of passing a pandas Series as the sample_weight.

[code]

Looks like it's happening for pandas>=0.23.0 because the pandas `Series.base` property has been deprecated:
https://github.com/pandas-dev/pandas/blob/master/pandas/core/base.py#L779
from https://github.com/pandas-dev/pandas/issues/20419

[2019-04-05 20:03] hcho3 commented on #3980
@LeZhengThu No, this thread is just a proposal. It will be a while until this feature implemented.

[2019-04-05 20:05] hcho3 commented on #4318
@acodercat We do not support multiple labels currently.

[2019-04-07 21:47] bali0019 opened #4338 "[jvm-packages] java.lang.UnsatisfiedLinkError for jvm-packages"
I have been getting the following exception on ubuntu 16.04. It builds fine without any exception and I am using gcc 5.4.0. Any tips what could cause this?
And yes `libxgboost4j.so` is generated and placed under resources folder of `xgboost4j` inside `jvm-packages` I also ensure my final xgboost4j jar file contains `libxgboost4j.so`

Also, works fine for all unit tests, but i get the below excepti

[2019-04-08 07:25] sperlingxx commented on #4217
I am trying to fix it in #4341

[2019-04-08 16:58] pseudotensor commented on #4330
Happening quite often for us, any plans to fix?

[2019-04-08 17:34] trivialfis commented on #4330
Will try to fix it.

[2019-04-08 17:37] pseudotensor commented on #4330
Thanks!

[2019-04-08 18:32] LeZhengThu commented on #3980
@hcho3 Thanks. Hope this feature can go live soon. I like the idea very much.

[2019-04-08 21:26] Craigacp opened #4342 "[jvm-packages] XGBoost4j can't load the native library on Java 12"
XGBoost fails to load the JNI library when running on Java 12. It loads with a warning on Java 9 through 11.

In 12 the ability to modify fields on the ClassLoader was turned off - https://bugs.openjdk.java.net/browse/JDK-8210522. And so in 12 you get:
[code]

whereas in 11 it prints:
[code]
and execution continues. In Java 8 it executes without a warning.

[2019-04-08 21:27] CodingCat commented on #4342
yes...expected, xgboost4j's jvm support is essentially following Spark's......

[2019-04-08 21:30] Craigacp commented on #4342
If I can work out a fix that doesn't break Java 8 will you accept it?

[2019-04-08 21:30] CodingCat commented on #4342
more than happy

[2019-04-08 21:48] Craigacp commented on #4342
Ok. I've got a rough fix which rearranges the calls in smartLoad and catches the exceptions differently as the loading from a tmp file still works. It's unclear to me what the utility of the smartLoad call is vs just creating a tmp file, as on Linux at least it always creates a tmp file.

[2019-04-08 22:13] CodingCat commented on #4342
I think mac/linux is necessary, for windows....we have essentially drop it from official release so I am not worrying too much

regarding JDK, I think JDK 11 is good, as from Spark 3 (next version) they are targeting this version

it's great if you can put the test in Travis CI and skip Flink/Spark test when using anything beyond JDK 8 for now

[2019-04-08 22:25] hcho3 commented on #4338
I wonder it has to do with GLIBC dependency.

@CodingCat What's the GLIBC version requirement for XGBoost4J-Spark?

[2019-04-08 22:26] hcho3 commented on #4342
@Craigacp @CodingCat I'm planning to add Java build workers to Jenkins by this weekend. Can we list the JDK versions we'd like to test on?

[2019-04-08 23:03] CodingCat commented on #4342
JDK 8 & 11 (skip Spark/Flink for now) is good

[2019-04-08 23:36] Craigacp commented on #4342
Ok. I have internal users who want Windows so I'll test that too.

As for JDKs I'd recommend looking at the LTS releases (currently 8 and 11) and the current release (currently 12, 13 is out in September). That way you can catch things before they land in an LTS release. BTW while I do work for Oracle, I'm in the research labs so I don't work on Java itself.

Any comment on why the smartLoad metho

[2019-04-09 01:48] CodingCat commented on #4338
It requires very low version, should be 2.12, any higher ones should be compatible

[2019-04-09 06:53] pseudotensor commented on #4330
Need any additional help?  Can you repro the problem ok with the pickle/script I gave?

[2019-04-09 08:09] trivialfis commented on #4330
@pseudotensor While trying to solve this one,  I got another issue this histogram allocation that shows histogram memory map `nidx_map_` is of size 0 while histogram data `data_` is not empty.  Will take some time.  Thanks for the help.

[2019-04-09 14:31] jameslamb opened #4348 "[R-package] r-travis incompatibility with devtools 2.0 is breaking R stages in CI"
See [this comment](https://github.com/dmlc/xgboost/pull/4345#issuecomment-481097717) on #4345 .

Currently, the R stages in CI (https://github.com/dmlc/xgboost/blob/master/tests/travis/run_test.sh#L92) are using an unmaintained project that has not kept up with recent changes in the R ecosystem.

**How to close this issue**

Remove dependency on `craigcitro/r-travis` in `tests/travis/run_tests.sh`

[2019-04-09 20:57] CodingCat opened #4350 "[jvm-packages] cross-version spark support"
@hcho3 I am going to work on support spark 2.4.1 and have compatibility test over spark 2.3

my plan is to trigger two builds for spark 2.4/2.3 respectively and also have version-specific test to ensure the compatibility

shall I wait for java worker to be ready in jenkins or I should work on travis?

[2019-04-09 21:06] CodingCat commented on #4342
what do you mean by `original native loader `?

that smartload has been there for a while (earlier than I am involved)....but from what I can tell, in all of my environments, it goes to

https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/NativeLibLoader.java#L150-L156

[2019-04-09 21:54] hcho3 commented on #4350
Let me add Java workers to Jenkins. Can you provide commands to compile JARs?

[2019-04-09 21:55] CodingCat commented on #4350
yes, just `mvn package`

[2019-04-09 22:01] Craigacp commented on #4342
Well NativeLibLoader used to only do the load from the jar, and now it has this hook in it to check if it's in the dev build, add that to the library path and then load from that. I've removed that hook in the pull request (#4351) as it's the root cause of the JDK12 issue, and also gets rid of the warning printed on JDK 9, 10, 11.

[2019-04-10 02:47] RAMitchell commented on #4234
Would something like [this](https://github.com/RAMitchell/GBM-Benchmarks) be okay for performance benchmarking? We have a more polished Nvidia version that could be open sourced. All of the dataset loading/processing is automatic and it runs on a docker container.

[2019-04-10 03:32] jameslamb commented on #4348
PR coming shortly!

[2019-04-10 04:46] RAMitchell opened #4354 "[RFC] Possible DMatrix refactor"
As we add different types of algorithms to xgboost and as the performance of these algorithms  improves, the DMatrix class may also be improved in order to improve performance and memory usage for these particular cases.

**Current DMatrix**
The current DMatrix class has two sub classes. The first is the primary in memory representation where the entire dataset is ingested and converted into a CSR

[2019-04-10 05:16] trivialfis commented on #4354
There's always `LOG(WARNING)`.

I would suggest implementing lazy initialization.  Even if we were to provide an explicit interface for specifying type of `DMatrix`, ideally we still need to add a check for users,  I doubt that anyone would first try to understand what these jargons mean before using a library,  so there must be lots of mistakes.  To implement this check, those states are necessar

[2019-04-10 05:33] lk1983823 opened #4355 "Run xgboost using GPU Nvidia jetson nano error."
I install xgboost and want to use its GPU acceleration with nano. But I got error:

XGBoostError: [12:54:26] /home/lly2014/xgboost/src/learner.cc:180: XGBoost version not compiled with GPU support.

XGBoostError Traceback (most recent call last)
<timed eval> in <module>

~/.local/lib/python3.6/site-packages/xgboost-0.83.dev0-py3.6.egg/xgboost/sklearn.py in fit(self, X, y, sample_weight, eval_set,

[2019-04-10 05:37] trivialfis commented on #4355
Would you please share the used cmake compilation flags?

[2019-04-10 05:46] lk1983823 commented on #4355
-- Found OpenMP_C: -fopenmp
-- Found OpenMP_CXX: -fopenmp
-- Found OpenMP: TRUE
-- /home/lly2014/xgboost/dmlc-core/cmake/build_config.h.in -> /home/lly2014/xgboost/dmlc-core/include/dmlc/build_config.h
-- Found OpenMP_C: -fopenmp
-- Found OpenMP_CXX: -fopenmp
-- /home/lly2014/xgboost/cmake/build_config.h.in -> /home/lly2014/xgboost/include/xgboost/build_config.h
-- Configuring done
-- Generating d

[2019-04-10 05:53] lk1983823 commented on #4355
I  rebuild it again and found a warning:

-- The C compiler identification is GNU 7.3.0
-- The CXX compiler identification is GNU 7.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for working

[2019-04-10 05:54] hcho3 commented on #4355
Try setting USE_CUDA=ON

[2019-04-10 06:02] lk1983823 commented on #4355
@hcho3 thanks  it  works. But I will still check if my code  can work as well.:)
.-- Found OpenMP_C: -fopenmp
-- Found OpenMP_CXX: -fopenmp
-- /home/lly2014/xgboost/dmlc-core/cmake/build_config.h.in -> /home/lly2014/xgboost/dmlc-core/include/dmlc/build_config.h
-- Found OpenMP_C: -fopenmp
-- Found OpenMP_CXX: -fopenmp
-- /home/lly2014/xgboost/cmake/build_config.h.in -> /home/lly2014/xgboost/includ

[2019-04-10 06:36] lk1983823 commented on #4355
@hcho3 Unfortunately , when I run my code, after running model.fit(), it shows :
 terminate called after throwing an instance of 'thrust::system::system_error'
  what():  parallel_for failed: no kernel image is available for execution on the device
Aborted (core dumped)

[2019-04-10 07:06] trivialfis commented on #4355
@lk1983823 A quick search didn't get me information about compute capability of that GPU.  The error message from you is most likely due to compiling cuda code for wrong architecture.

[2019-04-10 07:17] lk1983823 commented on #4355
Yes, the architecture of nano is Maxwell. So does xgboost  supoort this architecture?

[2019-04-10 07:21] trivialfis commented on #4355
XGBoost support CUDA,  as long as it's recent CUDA version we support it.  But NVidia cards have many different compute capabilities,  see :https://developer.nvidia.com/cuda-gpus

[2019-04-10 07:29] lk1983823 commented on #4355
@trivialfis  My  card is CUDA-Enabled TEGRA /Jetson Products, so what should I do t pass the correct flags?

[2019-04-10 07:40] trivialfis commented on #4355
@lk1983823 I couldn't find the one for nano.  It's specific to each card, for example, the above link says that Jetson TX2 is of compute 6.2,  then you need to use:

[code]

Replace `-DGPU_COMPUTE_VER=62` with the correct one.

[2019-04-10 08:45] lk1983823 commented on #4355
Compute Capability for Nvidia Jetson  Nano is  5.3.
cmake -DUSE_CUDA=ON -DUSE_OPENMP=ON -DGPU_COMPUTE_VER=53 /path/to/xgboost
it works!

[2019-04-10 10:20] RAMitchell commented on #4355
Another tip: train with the parameter 'single_precision_histogram': True and see if it affects performance. I believe maxwell architecture has terrible performance with doubke precision atomics. Let us known how it goes!

[2019-04-10 11:21] #4330 closed

[2019-04-10 14:03] lk1983823 commented on #4355
Hi, I did a test as to the performance of Nano with double precision atomices vs. single_precision_histogram.
I tested two sets of training data with different rows and same columns, of which tested for fitting 3 times.
Here are the results:
(1) x_train = np.random.rand(10000,3),y_train = np.random.rand(10000,1)
time cost: 'single_precision_histogram': True = 2.48/2.71/2.62s; 'single_precision_his

[2019-04-10 14:29] kretes opened #4356 "reading nan or corrupted libsvm file leads to surprising results"
Reading a libsvm file where some points have 'nan' values leads to surprising results.

1. The DMatrix read by xgboost is different than one read by `sklearn.datasets.load_svmlight_file` when the file contains 'nan'.
Version from `sklearn.datasets.load_svmlight_file` yields the same result for 'nan' as for missing values.
2. When training using such dataset we surprisingly yield better results in

[2019-04-10 14:52] kretes commented on #4098
I cannot reproduce this issue anymore on xgboost 0.82

[2019-04-10 17:06] #4098 closed

[2019-04-10 17:06] hcho3 commented on #4098
Closing for now

[2019-04-10 19:55] pseudotensor commented on #4330
Thanks!

[2019-04-10 20:23] CodingCat commented on #4354
echo on this, as I am facing several scenarios really needing low-latency prediction, making DMatrix as a wrapper instead of really allocating memory space to store data would reduce the overhead involved in the whole code path....

isn't it very hard to eliminate virtual functions in this case? either in iterator layer or lower memory format layer, do you have other suggestions?

I would vote for

[2019-04-10 20:48] CodingCat commented on #4307
we intentionally avoid using too much memory in xgb itself to improve the scalability, and since you have to use more memory with in something like `rowIterator.toList`, it is nearly the same with caching/persisting/checkpointing the input dataframe before feeding to xgboost,

I think persisting before training will not bring additional overhead here,

[2019-04-10 20:51] CodingCat commented on #4290
according to google results, `0xC0000005` usually means damaged/used up RAM....I am not sure about your environment configuration.....and it's hard to provide help with this type of errors

[2019-04-10 20:52] CodingCat commented on #4269
according to the other post from you, it's highly related to https://www.stellarinfo.com/blog/how-to-fix-error-code-0xc0000005-in-windows/

[2019-04-10 20:53] CodingCat commented on #4269
and I am not trusting Spark on Windows at all

[2019-04-10 20:53] #4269 closed

[2019-04-10 20:54] CodingCat commented on #3711
resolved by https://github.com/dmlc/xgboost/pull/4336

[2019-04-10 20:54] #3711 closed

[2019-04-10 20:55] #4241 closed

[2019-04-10 22:25] CodingCat commented on #4342
fixed by https://github.com/dmlc/xgboost/pull/4351

[2019-04-10 22:25] #4342 closed

[2019-04-10 22:26] CodingCat commented on #4263
fixed by https://github.com/dmlc/xgboost/pull/4262

[2019-04-10 22:26] #4263 closed

[2019-04-10 22:47] rongou opened #4357 "[RFC] External memory support for GPU"
## Motivation
XGBoost has experimental support for [external memory](https://xgboost.readthedocs.io/en/latest/tutorials/external_memory.html) that allows for training on datasets that don’t fit in main (a.k.a. host) memory. However, it’s not available with GPU algorithms. To train on large datasets with GPUs, we have to either downsample the data, which defeats the purpose, or scale out to multi-g

[2019-04-11 00:41] #4286 closed

[2019-04-11 00:42] hcho3 commented on #4338
@bali0019 Can you describe your cluster environment (OS, GLIBC)?

[2019-04-11 07:27] trivialfis commented on #4355
@lk1983823 Nice!  Thanks for sharing.  I'm closing this for now.  Feel free to open a new issue for further finding/bugs ...

[2019-04-11 07:27] #4355 closed

[2019-04-11 07:36] abdul-rehman0 opened #4359 "Some headers are looking for headers in ../../src/common, causing build problem in C++ project"
I have a c++ project in which I would like to use xgboost, I did the following steps:

    git clone --recursive https://github.com/dmlc/xgboost
    cd xgboost
    mkdir build
    cd build

    cmake ..
    make -j8
    make install
    cd ..
    cp -r include/xgboost/ /usr/local/include/
    cp -r rabit/include/rabit/ /usr/local/include/
    cp lib/libxgboost.so /usr/local/lib

This is my test co

[2019-04-11 07:42] trivialfis commented on #4359
@abdul-rehman0 For now you need to make your c++ project as part of XGBoost since we don't have C++ APIs.  You can also try to use C APIs,  see the example in : https://github.com/dmlc/xgboost/tree/master/demo/c-api

If you want to use cmake for C APIs, you can try my branch in: https://github.com/dmlc/xgboost/pull/4323 and change back to master when it's merged.

[2019-04-11 07:51] abdul-rehman0 commented on #4359
@trivialfis Thanks, is there any plan for C++ APIs? Meanwhile I will try to use your branch.

[2019-04-11 07:59] trivialfis commented on #4359
@abdul-rehman0 Just don't pull the rabit change in that branch yet.  I need some time to deal with rabit.

[2019-04-11 13:05] trivialfis commented on #4359
BTW, we don't have any plan for c++ APIs yet.  Too many TODOs.

[2019-04-11 14:36] srowen commented on #4350
That's great @CodingCat -- would be great to get a 2.4.x build going as 2.3.x is EOL in a few months. I suspect you have this well in hand, but if you're hitting weird problems updating to 2.4 (shouldn't be much) I'd be happy to try to debug.

[2019-04-11 19:08] hcho3 commented on #4359
@abdul-rehman0 Note that all C++ functions of XGBoost are internal and subject to changes. So for stability, you should use C API functions.

[2019-04-11 19:08] #4359 closed

[2019-04-12 02:49] trivialfis opened #4360 "[Rabit] One dmlc-core."
@chenqin @RAMitchell @hcho3

It was suggested that we can duplicate dmlc-core in #4352 but I disagree with the choice.  The problem is in c++'s hairy linkage specification.  If we have out-of-sync `dmlc-core` in two places, the behaviour is undefined.  Specifically with two functions having the same signature linker will choose one of them and discard the other.  I made a demonstration program for

[2019-04-12 02:55] trivialfis commented on #4360
Uploaded in https://github.com/trivialfis/xgbissues

[2019-04-12 02:59] trivialfis commented on #4360
@CodingCat

[2019-04-12 03:00] trivialfis commented on #4360
We need to come up with a solution for the upgraded rabit.

[2019-04-12 03:12] CodingCat commented on #4360
Ok...then we should think about how to resolve the issue @RAMitchell raised

1. Take the pain, update dmlc, upgrade submodule in Rabit, upgrade submodule(rabit) in XGBoost

2. let’s forget about rabit, keep rabit as an independent project for whoever else wants

[2019-04-12 03:25] kyoungrok0517 opened #4361 "Unable to load model trained on multi-gpu machine, on single-gpu machine,"
I see the following error if I use below code to load the model. The model was trained on Linux multi-gpu machine. I'm trying to load the model on Windows single-gpu machine.

[code]

**[Code]**
[code]
**[Model]**
Model ([link](https://www.dropbox.com/s/iba259mom5m8usd/model_skipgram_2019-04-04T05-30-20.pkl?dl=0))

[2019-04-12 03:30] kyoungrok0517 commented on #4361
If I do `model.set_param('gpu_id', 0)` on multi-gpu machine then load on the single-gpu machine I could load the model. I think there's some bug in sanity checking code.

[2019-04-12 03:33] trivialfis commented on #4360
@CodingCat

For 1. Indeed painful.
For 2. If we fix a bug in our cloned rabit,  we still want to port the fix to original rabit right?  That's just copying files in disguise...

CMake has a feature called `External project`,  that will fit normal development. But it also makes packaging for R CRAN (which uses amalgamation) and Python PIP difficult.

[2019-04-12 04:06] chenqin commented on #4360
Rabit is a bit of everything but mostly flexible interface (sync/checkpoint/restore) Take an example, I can totally see running GPU direct implementation behind Rabit as possibility.

I think easiest thing we can do is to split dmlc-core headers used in rabit and rename (to avoid confusion in xgboost we had seen before) this will cut dependency between dmlc-core with rabit at cost of rabit needs t

[2019-04-12 04:12] CodingCat commented on #4360
@trivialfis I am actually proposing accept more and more diversity of cloned rabit and the original rabit, if people wants to fix there, fine..and we can do whatever beneficial to xgboost in, as an example, src/communication/

[2019-04-12 07:22] #4348 closed

[2019-04-12 16:20] trivialfis commented on #4361
@hcho3 Can we talk about our progress on Json at some point or give a roadmap on this?  I don't want to touch the parameter configuration before having a flexible model format  ..

[2019-04-12 17:11] scigeek72 opened #4362 "scikit-learn XGBRegressor doesn't work with objective function rg:squarederror"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2019-04-12 17:23] trivialfis commented on #4362
Could you please share your xgb version?  And I believe it's `reg` not `rg`.

[2019-04-12 17:25] kretes commented on #4356
Additional thing is that this is not a bad metric monitoring. When we performed ndcg evaluation on predictions from 'nan' dataset - it was aligned with this from xgboost. This leads to a hypothesis of some kind of label leakage.

I verified and it seems true - I've updated the gist here https://gist.github.com/kretes/8ea87a44aa80228c3ea8006f8fb9c4e7 and when I read a DMatrix with the same X's but

[2019-04-12 17:42] trivialfis commented on #4356
I need to revisit the parser from dmlc core.

[2019-04-12 17:46] scigeek72 commented on #4362
I am trying to run a GRIDSEARCHCV (sklearn) on XGBRegressor. Documentation on the parameter says that if regression, then `objective = reg:squarederror`.(see https://github.com/dmlc/xgboost/tree/master/demo/regression) However, whenever I am trying to run the search, I am getting an error saying `XGBoostError: b'[13:39:54] src/objective/objective.cc:23: Unknown objective function reg:squarederror`

[2019-04-12 17:47] scigeek72 commented on #4362
xgboost version 0.82

[2019-04-12 17:49] scigeek72 commented on #4362
xgboost version 0.82

[2019-04-12 18:39] trivialfis commented on #4362
That's a change in master branch and will be included in next release.  For 0.82,  use `reg:linear` instead.

[2019-04-12 18:57] #4362 closed

[2019-04-12 20:29] sjang92 opened #4363 "Releasing Internal Patches to OSS community"
Hi, we maintain a set of internal patches that introduce the following functionalities:
- Label-wise weight remapping (vs. instance-wise weight remapping)
- normalized entropy as evaluation metric

We're wondering if these features would be valuable for the open-source community.
If so, we can send in PRs for these changes.

We do not have CLA set-up yet.
Please let me know if this is something yo

[2019-04-13 03:36] guojiangwei2 opened #4364 "[jvm-packages] xgboost regression label set is empty"
my code snippet is
[code]

i checked the `dtrain.getLabel`, it does have some real value.

when i run the train process, i got the error like this belows,
[code]

any suggestions will be appreciated, thx

[2019-04-13 06:56] guojiangwei2 commented on #4364
i just checked `dtest.getLabel`, it does have some label value. but my `dtrain.rowNum` is 0, so you do have to check `dtrain` and `dtest` both.
i'll close this issue.

[2019-04-13 06:56] #4364 closed

[2019-04-14 03:14] hcho3 commented on #4363
@sjang92 Yes, your contribution is more than welcome. We do not require CLA; you only need to comply with Apache 2.0 license (so no patent claims etc).

One question:

Is this different from `scale_pos_weight` parameter?

[2019-04-14 03:21] hcho3 commented on #4361
@trivialfis I recall that parameter validation should be tied together with the JSON serialization. Did you get a chance to review the complete schema? Feel free to post at the JSON RFC thread if you have more detailed idea.

[2019-04-14 03:21] hcho3 commented on #4361
@trivialfis Right now, I am reviewing your CMake refactor PR and also revamping CI.

[2019-04-14 03:27] hcho3 commented on #4211
@trivialfis Can you look at #2571? It was my past attempt to do parameter validation. It failed because I tried to use global static variables. Let me know if this is something we can build upon.

[2019-04-14 05:38] trivialfis commented on #3980
@hcho3 The last time we talked about JSON, it was suggested that `dmlc::Json*` should be used instead of 3-party implementation or self designed Json implementation.  And I remember that you have some thoughts about how to use `dmlc::Json*`?

[2019-04-14 07:47] jackyhawk opened #4366 "the job of “dmlc-submit” seemed that the job won't finish even after the model had been generated several hours ago"
As my cmd is like this:
./dmlc-submit --cluster=yarn --num-workers=800 --worker-cores=2 --worker-memory=6g ./xgboost ./xgb2019_on_yarn.conf nthead=1 -f /data/common/xgblibhdfs/lib/libhdfs.so.0.0.0 data=hdfs://wx/user/tjxgboost-features/xgb-model/2019_04_14_02/libsvm/train 'eval[test]=hdfs://wx/user/tjxgboost-features/xgb-model/2019_04_14_02/libsvm/eval' model_dir=hdfs://wx/user/tjxgboost-features/

[2019-04-14 16:37] trivialfis opened #4367 "Multiclass metrics on gpu."
Hi all,  I'm trying to port multi-class metrics to GPU based on existing element-wise metrics.  This will take some time so I'm putting a placeholder here in case someone else is working on this.  Also, if you have a better idea please let me know and I will close this.

[2019-04-14 18:04] #4367 closed

[2019-04-14 18:30] jtromans commented on #3799
Similar issue:

`terminate called after throwing an instance of 'dmlc::Error'
  what():  [19:19:19] /home/USERNAME/Documents/xgboost/include/xgboost/./../../src/common/common.h:41: /home/USERNAME/Documents/xgboost/src/tree/../common/device_helpers.cuh: 787: an illegal memory access was encountered

Stack trace returned 10 entries:
[bt] (0) /home/USERNAME/anaconda3/lib/python3.7/site-packages/xgboo

[2019-04-15 05:29] trivialfis commented on #4234
Preferably move R tests to Jenkins where we can cache all built dependencies. ;-)

[2019-04-15 05:29] hcho3 commented on #4234
@trivialfis Yes, yes, yes! Docker is a great invention

[2019-04-15 08:10] veonua commented on #2087
any reason why it is closed?

[2019-04-15 08:21] hcho3 commented on #2087
@veonua See #3439.

[2019-04-15 08:45] bourbaki commented on #3946
I have started investigating the issue. And it looks like I found one possible cause of it. The prediction caches are not initialized after the first checkpoint (`gbm_.predictor_.cache_`). And if the caches have not been initialized they will not be filled. So every iteration all predictions for every previous tree are recomputed. We are losing caches when propagating the booster to the driver. Th

[2019-04-15 08:55] jtromans opened #4369 "terminate called after throwing an instance of 'dmlc::Error' an illegal memory access was encountered"
Local set-up: 128GB RAM, 4x 2080 Ti (only using 1), 9900X Intel
OS: Ubuntu 18.04
Distr: Anaconda 2018.12 py37_0
Python: 3.7
xgboost version: 0.81
pip version: 18.1

Data: https://storage.googleapis.com/feature_exports/example_features.pkl
Script: https://www.dropbox.com/s/kfwa50v1q7fe8k6/xgboost_error.py
I provide an example set of 4 crashes here:
https://www.dropbox.com/s/hgauadwpfpsvusp/crash_tr

[2019-04-15 09:03] hcho3 commented on #4369
@jtromans Did you try the latest version (0.82)?

[2019-04-15 09:04] jtromans commented on #4369
No, I can try that immediately. I will report back.

[2019-04-15 09:21] jtromans commented on #4369
`terminate called after throwing an instance of 'dmlc::Error'
  what():  [10:20:15] /workspace/include/xgboost/./../../src/common/common.h:41: /workspace/src/tree/../common/device_helpers.cuh: 787: an illegal memory access was encountered

Stack trace returned 10 entries:
[bt] (0) /home/jtromans/anaconda3/xgboost/libxgboost.so(dmlc::StackTrace(unsigned long)+0x47) [0x7f53261edfc7]
[bt] (1) /home/j

[2019-04-15 10:25] trivialfis commented on #4369
@jtromans Thanks for reporting this, I will try to reproduce it when I got time.  It's sometime concerning that one can insert arbitrary scripts into a pickled file and got executed during load.  See https://docs.python.org/3/library/pickle.html . @RAMitchell @hcho3 Do you guys just load the pkl ball on your bare machine?

[2019-04-15 10:28] hcho3 commented on #4369
@trivialfis I just use a fresh EC2 instance for that purpose.

[2019-04-15 10:31] trivialfis commented on #4369
@hcho3 Thanks.  ;-)

[2019-04-15 14:34] jtromans commented on #4369
Thanks @trivialfis and @hcho3 ; please let me know if you need any further additional information or whether you are having trouble running the experiments. Please note that the nature of these runs is that the y-target is changing within each loop iteration, which impacts the amount of training data used. I tend to find that XGB crashes when switching from small to larger data-sets.

[2019-04-15 17:17] hcho3 commented on #4240
@trivialfis Do we want to add an option to build a static library? Is it possible to build static libs with CUDA?

[2019-04-15 17:30] trivialfis commented on #4240
Haven't try it yet.  What's the benefit of using static library?

[2019-04-15 18:00] benjamincitrin opened #4371 "[jvm-packages] xgboost4j.cpp 'JNI_OnLoad' redefinition error when building 32-bit Windows native library"
I am trying to create xgboost4j.dll in a 32-bit environment.  XGBoost v0.83 on Windows 7 32-bit with Visual Studio 2017.  My error occurs when running mvn install:

________________________________________________
`C:\Users\IEUser\test3\xgboost\jvm-packages>mvn install
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for
ml.dmlc:

[2019-04-15 18:02] hcho3 commented on #4371
@CodingCat I don't think we support 32-bit architecture, do we?

[2019-04-15 18:06] hcho3 commented on #4240
You can statically link XGBoost with your application, so that you can distribute one binary instead of two.

[2019-04-15 18:20] CodingCat commented on #4371
no...too many things are unknown for 32-bits jvm...

I will close this issue as we we don't support it

[2019-04-15 18:20] #4371 closed

[2019-04-15 18:22] benjamincitrin commented on #4371
Okay, thanks for your replies

[2019-04-15 20:17] hcho3 opened #4372 "Forbid negative Hessian values"
Currently, each tree updater tests if each data point has negative Hessian value and ignores the data point with negative Hessian. This complicates the updater code. We should have extra validation steps so as to ensure that all Hessian values are non-negative. The updater code then can be simplified by removing the Hessian check.

[2019-04-15 21:03] benjamincitrin commented on #4371
Turns out the fix is to update the JNI_OnLoad return type to jint __stdcall in xgboost4j.cpp to:
`// overrides JNI on load
jint __stdcall JNI_OnLoad(JavaVM *vm, void *reserved) {
  global_jvm = vm;
  return JNI_VERSION_1_8;
}`

For what it's worth, I am now successfully running the xgboost4j.dll on a 32-bit environment.

[2019-04-16 02:14] Sustainabilist opened #4373 "xgb.cv is needs to be restructured for proper time-series cross validation"
In the xgb.cv function, there is a feature which allows for custom folds, but this feature is improperly structured for time-series cross-validation methods. Specifically, because the folds vectors only indicate test-folds, it seems that all other data becomes training data, thus negating the ability to exclude data-points that occur chronologically after the test folds from the training set.

Thi

[2019-04-16 03:56] muketer opened #4374 "Are SKLEARN API estimators can distinguish PANDAS nominal type feature and PANDAS ordinal type feature?"
Are SKLEARN API estimators can recognize difference between
'ordinal feature (applying pandas.api.types.CategoricalDtype(data, ordered=True))'
and
'nominal feature (applying pandas.api.types.CategoricalDtype(data, ordered=False))' ?

thank you for your help.

[2019-04-16 04:01] muketer opened #4375 "Are SKLEARN API estimators can distinguish PANDAS nominal type feature and PANDAS ordinal type feature?"
Are SKLEARN API estimators can recognize difference between
'ordinal feature (applying pandas.api.types.CategoricalDtype(data, ordered=True))'
and
'nominal feature (applying pandas.api.types.CategoricalDtype(data, ordered=False))' ?

thank you for your help.

[2019-04-16 04:01] #4375 closed

[2019-04-16 04:08] hcho3 commented on #4373
@Sustainabilist I am not an expert in time series analysis. I recall that the theory behind XGBoost makes an i.i.d. assumption, and many time-series data will violate i.i.d. due to auto-correlation. I'm not sure how well XGBoost works for time-series analysis, and I am not sure whether XGBoost should support features that are specific to times series.

[2019-04-16 04:18] hcho3 commented on #4374
@muketer The scikit-learn API for XGBoost (`XGBRegressor` / `XGBClassifier`) only accepts NumPy arrays as inputs for the `fit()` function.

[2019-04-16 04:18] #4374 closed

[2019-04-16 04:19] hcho3 commented on #4326
See https://spark.apache.org/docs/latest/ml-features.html#onehotencoderestimator

[2019-04-16 04:19] #4326 closed

[2019-04-16 04:47] trivialfis commented on #4240
@hcho3 I think it's possible, but there are always surprises.  Just replace `add_library(xgboost SHARED)` with `add_library(xgboost STATIC)` and remove `-fPIC` flags.  I think this is mostly for Windows users and I don't have access to a Windows machine for now, so will leave it to others who can test it.

[2019-04-16 05:55] jamesdalg commented on #4264
If it's possible, can someone post some detailed documentation as to how to work around this issue with visual studio 2017 and cmake, with any version that works currently?

[2019-04-16 07:51] littlebeanfang commented on #4190
come across the same trouble

[2019-04-16 08:53] zyq11223 commented on #4326
I mean, how to do one hot encoder to the vector of the dataframe in spark. The vector is produced by xgboost. transformLeaf().

[2019-04-16 08:53] zyq11223 commented on #4326
I mean, how to do one hot encoder to the vector of the dataframe in spark. The vector is produced by xgboost. transformLeaf().

[2019-04-16 13:22] kgoyal40 opened #4376 "set_base_margin"
Hi,

I am trying to calculate the predictions manually but combining results of multiple residual trees. For each tree, I am using the set_base_margin feature to train the tree. My question is, would it be okay to sum the predictions (using output_margin = True) for each tree and then take a logit transform for probabilities?

Also, since each residual tree is a regression tree (with the margin va

[2019-04-16 16:32] CodingCat commented on #4350
I would limit the definition of cross-version support to "support loading models trained in previous version" in XGBoost

I have done several experiments on running a spark-2.4-built xgboost with spark 2.3 or vice versa. The most significant problem is from the library which Spark depends on and brings some breaking changes by their own. In that way we cannot guarantee a spark 2.4 built version ca

[2019-04-16 16:53] srowen commented on #4350
Personally, I'd relax that condition if needed -- require the same version of xgboost / Spark to read/write things.

[2019-04-16 17:31] jolespin commented on #1715
In my conda `lib`, I have multiple `libgomp`:

I got the expected error:
[code]
This definitely helps:
[code]
Here are all of my versions:
[code]

Should I just remove one of them? If so, should I keep `libiomp5.dylib` instead of `libgomp.1.dylib` and just symlink?

[2019-04-16 18:14] rongou commented on #4264
You can use CUDA 10.0: https://developer.nvidia.com/cuda-10.0-download-archive

[2019-04-16 20:41] hcho3 commented on #4376
See my answer at https://discuss.xgboost.ai/t/output-margin-and-leaf-probabilities/798

[2019-04-16 20:41] #4376 closed

[2019-04-16 21:43] phillyfan1138 opened #4378 "pyspark errors on training"
I'm using xgboost4j-0.80.jar, xgboost4j-spark-0.80.jar, and the link to xgboost provided in [this post](https://github.com/dmlc/xgboost/issues/1698#issuecomment-420629409).

I can load and define a model just fine:

[code]
When I try to train the model I receive the following error:

java.lang.NoSuchMethodError: org.codehaus.jackson.map.ObjectMapper.readTree(Ljava/net/URL;)Lorg/codehaus/jackson/Js

[2019-04-16 23:57] hcho3 opened #4379 "[VOTE] Ending Python 2.x support in next release (0.83)"
Given that Python 2 will reach its end of life at the end of this year, we should drop Python 2 support. That is, contributors would no longer be required to write Python code that's compatible with Python 2.7. Also, Python distributions of XGBoost on PyPI will be Python 3 exclusive.

Indicate your support by replying "+1" to this thread. I want to get 4-5 votes from the committers to proceed with

[2019-04-16 23:57] hcho3 commented on #4154
Opened vote thread in #4379

[2019-04-16 23:57] #4154 closed

[2019-04-17 01:00] terrytangyuan commented on #4379
Definitely +1

[2019-04-17 01:17] trivialfis commented on #4379
+1.

We need to upgrade Python on test farm then.

[2019-04-17 02:10] RAMitchell commented on #4379
+1

[2019-04-17 02:37] CodingCat commented on #4379
+1

[2019-04-17 02:38] hcho3 commented on #4379
+1

[2019-04-17 08:01] pommedeterresautee commented on #4379
+1

[2019-04-17 15:05] charmby opened #4382 "ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed"
I run the xgboost spark example and come up with issue. I compiled xgboost4j jar with Maven on my Mac. And then I tried a training on Mac with spark local mode，that is ok.
but i run in  spark-2.3.2, throw this exception

Compiler: JDK 1.8 ， spark 2.3.2 , scala 2.11.12
19/04/17 22:47:49 INFO cluster.YarnScheduler dag-scheduler-event-loop: Adding task set 4.0 with 1 tasks
19/04/17 22:47:49 INFO sche

[2019-04-17 15:07] CodingCat commented on #4382
Check the line at

ImportError: No module named argparse

You need to install it in your server

[2019-04-17 16:15] #4382 closed

[2019-04-17 17:40] tqchen commented on #4379
+1

[2019-04-17 18:33] #4350 closed

[2019-04-18 08:34] charmby commented on #4382
I don't have permission to install the company's cluster. But i can install it for driver machine. Whether it is ok with python3 on my driver machine？

[2019-04-18 13:34] thvasilo opened #4384 "Google Season of Docs application?"
I just noticed [this](https://developers.google.com/season-of-docs/) because Apache Flink applied for the project. It's an effort by Google to get technical writers to contribute to open source projects. Deadline is unfortunately on April 23rd which is soon, just thought the community might be interested in applying.

[2019-04-18 16:42] charmby opened #4385 "[jvm-packages] java.io.InvalidClassException: ml.dmlc.xgboost4j.scala.spark.XGBoostClassificationModel; local class incompatible"
My training has failed all the time.  exception information is as follows：

19/04/19 00:32:33 INFO scheduler.DAGScheduler dag-scheduler-event-loop: Got job 6 (sortByKey at BinaryClassificationMetrics.scala:155) with 32 output partitions
19/04/19 00:32:33 INFO scheduler.DAGScheduler dag-scheduler-event-loop: Final stage: ResultStage 8 (sortByKey at BinaryClassificationMetrics.scala:155)
19/04/19 00

[2019-04-18 21:32] CodingCat commented on #4385
you need to provide more information like

xgboost version, spark version, runtime/dev environment, you compile xgboost or using maven dependency when asking for help on the issue

[2019-04-18 21:32] #4290 closed

[2019-04-18 21:33] #4225 closed

[2019-04-18 21:44] hcho3 commented on #4384
Interesting idea. Unfortunately, none of us have shovel-ready ideas right now. We'll try next time.

[2019-04-18 21:46] hcho3 commented on #4384
FYI, I am serving as a mentor for Google Summer of Code: #4242. This will keep me plenty busy.

[2019-04-18 21:46] #4384 closed

[2019-04-18 23:03] CodingCat commented on #3946
@bourbaki thanks for the analysis and I agree with it

regarding how to resolve it, I think those two solutions have their own problems as you said

1. the first iteration right after the checkpoint would be super slow, and it becomes slower and slower with the growth of trees

2. the problem is we have to change the serialization format of booster which may hurt the other bindings of xgboost, and

[2019-04-19 00:10] CodingCat commented on #3946
@bourbaki if you are dedicated to this, I can assign this to you

[2019-04-19 08:08] CodeByHarri opened #4386 "Error in asMethod(object) : Cholmod error 'problem too large' at file ../Core/cholmod_dense.c, line 105"
Hi!

Trying to prepare a model for training with approximately 134K rows & 210 columns.
So i believe (134,000 * 210 * 8bytes)/10^6 = ~225GB of ram is needed.
[code]

i only have 32GB RAM so obviously i get this error:

[code]
I'm using version 0.82.1

- What are my options around this?
- Is there another way to do this?
- Is cloud computing my best option?
- If so which which type of server is bes

[2019-04-19 08:17] hcho3 commented on #4386
Can you use AWS EC2? You can get r5.24xlarge instance with 768 GB of memory.

[2019-04-19 08:19] hcho3 commented on #4386
Alternatively, you may consider using external memory: https://xgboost.readthedocs.io/en/latest/tutorials/external_memory.html

[2019-04-19 08:21] trivialfis commented on #4386
This is not an error message from XGBoost.  It seems you are somehow performing Cholesky factorization somewhere, probably matrix inverse?  Anyway it didn't happen inside XGBoost.

[2019-04-19 10:11] CodeByHarri commented on #4386
Thanks so much for the prompt reply!
Is this method only available on python?
I'm currently using R

`
train_matrix <- xgb.DMatrix('C:/Users/Haz/Desktop/data/agaricus.txt.train#train_matrix.cache')  `
^ i'm not sure if i'm using it right?

Alternatively, i tried looking into the featurehashing package, however, had no luck with that either.

Will almost definitely look into working on a AWS EC2, d

[2019-04-20 13:12] sperlingxx opened #4387 "[jvm-packages] bug of XGBoostModel.transformInternal"
ZipPartitions action at XGBoostModel.transformInternal will cause a mismatch between originalColumns and resultColumns.

`val resultRDD = inputRDD.zipPartitions(predictionRDD, preservesPartitioning = true) {
 `

In here, inputRDD and predictionRDD will be evaluated separated. Co-dependencies of these two RDDs will be computed twice, which may produce different row orders inside each partition if p

[2019-04-20 13:17] sperlingxx commented on #4387
I have provided a fix solution at #4388
@CodingCat

[2019-04-21 05:22] hcho3 commented on #4386
External memory should be available from R. As for EC2, I recommend having memory that's 2-3 times the training data.

[2019-04-21 05:22] #4386 closed

[2019-04-21 05:24] #4195 closed

[2019-04-21 05:27] hcho3 commented on #4195
Having symlinks help us create PyPI-compatible wheels, so that `pip install xgboost` can either use pre-compiled libraries under `lib/` or compile from sources under `src/`. So removing symlinks is not practical.

[2019-04-21 07:24] hcho3 commented on #4379
With 7 votes from committers, it is decided that **the upcoming release (0.83) will support Python 3 exclusively.** I filed #4381 to migrate pylint to Python 3, and #4380 will use Python 3 exclusively for all CI tests. Thanks!

[2019-04-21 07:24] #4379 closed

[2019-04-21 07:54] hcho3 opened #4389 "XGBoost 0.90 Roadmap"
This thread is to keep track of all the good things that will be included in 0.90 release. It will be updated as the planned release date (~May 1, 2019~ as soon as Spark 2.4.3 is out) approaches.

- [x] **XGBoost will no longer support Python 2.7,** since it is reaching its [end-of-life soon](https://pythonclock.org/). This decision was reached in #4379.
- [x] **XGBoost4J-Spark will now require Sp

[2019-04-21 12:12] charmby opened #4390 "XGBoost doesn't generate as many tree as specified in the num_round parameter"
Just like this problem.XGBoost doesn't generate as many tree as specified in the num_round parameter.
Versions are as below used in my project.
xgboost4j-spark 0.81.
scala 2.11.8
spark 2.3.2
@CodingCat This seems a jvm-package problem, and i encounted it too.
In binary:logistic mission with xgboost4j-spark, i always get one tree from a trained booster, i think we should get "round" amount of trees

[2019-04-21 18:28] sergun opened #4391 "XGBoost tree vs usual gradient boosting tree"
Hi!

Is training XGBoost tree on each iteration (forget about regularisation and other usuful features) the same as training regression tree in usual gradient boosting with samples x_i with weights h_i and targets g_i/h_i?

It is easy to see that leaf weights are calculated this way.
But it seems to me that Gain in XGBoots is not variance based as in normal regression tree for RMSE.

If there is d

[2019-04-21 19:57] bourbaki commented on #3946
@CodingCat Yes. I am dedicated to this. What approach would you suggest?

[2019-04-21 21:43] #4385 closed

[2019-04-21 22:12] dlhvelasco opened #4392 "XGBRegressor: wildly different .predict() values after upgrading to 0.82"
Hello. Not exactly sure how I can make my problem reproducible, but here's something weird I've noticed a few times:

I have two conda envs, `envA` running `xgboost 0.81` and `envB` running `0.82`.
I have a fixed training dataset where I fit an XGBRegressor (scikit) on, then predict values on a fixed test dataset, random seeds fixed. Then I take the score, lets say RMSE, for the predictions.
Final

[2019-04-22 00:26] hcho3 commented on #4392
Can you run get_dump() on both models and compare them?

In general, we do not guarantee that training would be reproducible between different versions. To get reproducible results, you should save the trained models as files, using save_model() and load them using load_model().

[2019-04-22 00:28] hcho3 commented on #4391
Take a look at the XGBoost paper: https://arxiv.org/pdf/1603.02754v2.pdf

XGBoost uses second-order gradients to fit trees.

[2019-04-22 00:28] #4373 closed

[2019-04-22 00:29] #4318 closed

[2019-04-22 00:30] #4338 closed

[2019-04-22 00:30] hcho3 commented on #4338
Closing for now

[2019-04-22 00:31] hcho3 commented on #4289
Will be addressed in #4380

[2019-04-22 00:31] #4289 closed

[2019-04-22 00:31] tqchen commented on #4391
It is a topic that fits better at https://discuss.xgboost.ai/

[2019-04-22 00:31] #4391 closed

[2019-04-22 00:40] hcho3 commented on #4324
XGBoost will use whatever set of split features to minimize the training loss, so there is no guarantee that all features would be used. Try using feature interaction constraints if you’d like to enforce all fea  To be used.

[2019-04-22 00:40] #4324 closed

[2019-04-22 00:45] hcho3 commented on #4366
https://github.com/dmlc/dmlc-core/pull/525 may fix the problem

[2019-04-22 00:47] hcho3 commented on #4325
transformLeaf returns index of leaf nodes. Yes, you will want to perform one hot encoding if you are using output of transformLeaf as input to logistic regression

[2019-04-22 00:47] #4325 closed

[2019-04-22 00:48] #4297 closed

[2019-04-22 07:58] trivialfis commented on #4392
@dlhvelasco Could you share some more details like used parameters?

[2019-04-22 08:53] dlhvelasco commented on #4392
@hcho3 , I'll get back to you on the get_dump() for both models since I'm currently using the sklearn wrapper. I also have been saving/loading both models as pickles (.pkl) files.

@trivialfis Sure, here's what I used for both xgbregressors:
`xgb = XGBRegressor(random_state=42, n_jobs=8, max_depth=11, min_child_weight=1, gamma=0.01, subsample=0.8, learning_rate=0.05, reg_alpha=0, reg_lambda=1, n_e

[2019-04-22 15:45] hcho3 commented on #4270
@AmberCheng There is now a proposal for the XGBoost operator in Kuberflow: kubeflow/community#247.

[2019-04-22 15:45] #4270 closed

[2019-04-22 16:16] CodingCat commented on #4389
as we are going to have breaking changes like https://github.com/dmlc/xgboost/pull/4349 and https://github.com/dmlc/xgboost/pull/4377

shall we bump version to 0.9?

[2019-04-22 16:20] hcho3 commented on #4389
@CodingCat Sure, we can bump to 0.90, if the breaking change is significant. Can you do me a favor and write one-paragraph description of why #4349 was needed?

[2019-04-22 16:43] CodingCat commented on #4389
sure,

[2019-04-22 18:25] alexvorobiev commented on #4389
Is there an official statement on that? They released 2.2.3 in January and 2.3.3 in February. Our vendor (MapR) still ships 2.3.1.

[2019-04-22 18:32] CodingCat commented on #4389
@alexvorobiev https://github.com/dmlc/xgboost/issues/4350, you can check with @srowen  from databricks

[2019-04-22 18:54] srowen commented on #4389
This is not a question for Databricks but for the Spark project. The default policy is maintenance releases for branches for 18 months: https://spark.apache.org/versioning-policy.html That would put 2.3.x at EOL in about July, so wouldn't expect more 2.3.x releases after that from the OSS project.

[2019-04-22 20:12] alexvorobiev commented on #4389
@srowen Thanks!

[2019-04-22 20:51] RAMitchell commented on #4354
Thanks for your feedback. I think the action on this is to produce a prototype demonstrating DMatrix as a thin wrapper over an existing data structure and possibly exploring the idea of lazy DMatrix construction, then we will reevaluate.

It may be some time before I get to this.

[2019-04-23 10:02] danielSoler93 opened #4394 "travis xgboost.core.XGBoostError: XGBoost Library (libxgboost.so) could not be loaded."
Hi,

I'm trying to use travis with xgboost and its giving me the next error (https://travis-ci.com/danielSoler93/ModTox/jobs/194851834) with the following configuration (https://github.com/danielSoler93/ModTox/blob/master/.travis.yml).

I've seen some similar issues which have been solved but didn't help my situation. I would appreciate some help as I've been stuck for a couple of days.

Thanks

[2019-04-23 21:22] anayyar82 opened #4397 "[jvm-packages] xgboost with spark 2.4"
I am not able to build xgboost with the latest build, I need to use spark 2.4 with XGBoost.

Please confirm if I can install the latest version with Spark 2.4

[2019-04-23 21:27] hcho3 commented on #4397
Can you post the error message?

[2019-04-23 21:30] CodingCat commented on #4390
@hcho3 is the format of dumped model one tree per line?

I think the expected of trees are trained, somehow the dumped format is not interpreted correctly

[2019-04-23 21:30] anayyar82 commented on #4397
cmake .. -DUSE_S3:BOOL=OFF -DUSE_OPENMP:BOOL=OFF -DUSE_CUDA:BOOL=OFF -DUSE_AZURE:BOOL=OFF -DUSE_HDFS:BOOL=OFF -DJVM_BINDINGS:BOOL=ON
    run("cmake .. " + " ".join(args) + maybe_generator)
  File "create_jni.py", line 51, in run
    subprocess.check_call(command, shell=True, **kwargs)
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/subprocess.py", line 540, in check_

[2019-04-23 21:32] anayyar82 commented on #4397
Script:

sudo apt-get update
sudo apt-get install -y maven
sudo apt-get -y install git
sudo git clone --recursive https://github.com/dmlc/xgboost

cd xgboost
export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/

find * -name tracker.py -type f -print0 | xargs -0 sed -i '' "s/port=9091/port=33000/g"
make -j4

cd jvm-packages

sudo apt-get -y install maven
sudo apt-get -y install cmake
mvn -DskipTest

[2019-04-23 21:32] hcho3 commented on #4397
@anayyar82 You are missing C++ compiler and CMake. Can you run
[code]

[2019-04-23 21:34] anayyar82 commented on #4397
Thanks @hcho3  Doing now.

[2019-04-23 21:38] anayyar82 commented on #4397
Still getting error

hist_util.cc:(.text+0x2c25): undefined reference to `omp_get_thread_num'
hist_util.cc:(.text+0x2daa): undefined reference to `GOMP_barrier'
hist_util.cc:(.text+0x2daf): undefined reference to `GOMP_single_start'
hist_util.cc:(.text+0x2fb9): undefined reference to `GOMP_barrier'
hist_util.cc:(.text+0x31cb): undefined reference to `GOMP_barrier'
src/CMakeFiles/objxgboost.dir/com

[2019-04-23 21:44] hcho3 commented on #4397
Which OS are you using?

[2019-04-23 21:45] anayyar82 commented on #4397
Ubuntu and when i am doing `make -j4` then its throwing issue.

[2019-04-23 21:46] hcho3 commented on #4397
Can you post the logs from CMake? It should say something about OpenMP

[2019-04-23 21:50] hcho3 commented on #4394
@danielSoler93 See tensorforce/tensorforce#303. Can you reduce the number of Python modules you are loading? There is a system-wide limit on how many *.so files you can load that use TLS (Thread-Local Storage).

[2019-04-23 21:53] hcho3 commented on #4397
@CodingCat Have you encountered any issue with OpenMP when compiling JVM packages?

[2019-04-23 21:54] anayyar82 commented on #4397
So when i run below command it

cd xgboost

sudo apt-get install cmake build-essential
cd build
cmake ..
make -j4

Reading package lists...
Building dependency tree...
Reading state information...
build-essential is already the newest version (12.1ubuntu2).
cmake is already the newest version (3.5.1-1ubuntu3).
0 upgraded, 0 newly installed, 0 to remove and 84 not upgraded.
-- /driver/xgboost/dmlc-

[2019-04-23 21:57] hcho3 commented on #4397
Can you delete and re-create the `build/` directory, so that we can get the full error log?

[2019-04-23 21:57] CodingCat commented on #4397
can you try just go to jvm-packages and run `mvn package -DskipTests`

[2019-04-23 22:01] anayyar82 commented on #4397
after deleting build here is the log

Reading package lists...
Building dependency tree...
Reading state information...
build-essential is already the newest version (12.1ubuntu2).
cmake is already the newest version (3.5.1-1ubuntu3).
0 upgraded, 0 newly installed, 0 to remove and 84 not upgraded.
/bin/bash: line 4: cd: build: No such file or directory
CMake Error: The source directory "/databrick

[2019-04-23 22:02] anayyar82 commented on #4397
With  jvm-packages directory and run mvn package -DskipTests

[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for ml.dmlc:xgboost4j:jar:0.83-SNAPSHOT
[WARNING] 'build.plugins.plugin.version' for org.codehaus.mojo:exec-maven-plugin is missing. @ line 54, column 19
[WARNING]
[WARNING] It is highly recommended to fix these problems

[2019-04-23 22:02] hcho3 commented on #4397
JAVA_AWT_INCLUDE_PATH)

Set JAVA_HOME ?

[2019-04-23 22:08] anayyar82 commented on #4397
After setting Java path :(

cd xgboost/jvm-packages
export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/
mvn package -DskipTests

[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for ml.dmlc:xgboost4j:jar:0.83-SNAPSHOT
[WARNING] 'build.plugins.plugin.version' for org.codehaus.mojo:exec-maven-plugin is missing. @ line 54, column 19

[2019-04-23 22:15] hcho3 commented on #4397
@anayyar82 Set environment variable VERBOSE=1, re-create build directory, and try again? I'd like to see all the compilation commands for C++ files.

[2019-04-23 22:19] CodingCat commented on #4397
I think you need to install libomp-dev....

[2019-04-23 22:22] hcho3 commented on #4397
I think it's actually libgomp1, since GCC is being used here

[2019-04-23 22:33] anayyar82 commented on #4397
Sure installing like `sudo apt-get install libgomp1`

[2019-04-23 22:40] anayyar82 commented on #4397
seems failed, running with VERBOSE=1, to get more logs.

[2019-04-23 22:41] anayyar82 commented on #4397
Here is a full script , Hope that's good.

sudo apt-get update
sudo apt-get install -y maven
sudo apt-get -y install git
sudo git clone --recursive https://github.com/dmlc/xgboost

VERBOSE=1
cd xgboost
export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/

sudo apt-get install cmake build-essential
sudo sudo apt-get install libgomp1 -y
rm -r build
cd build
cmake ..
make -j4

cd jvm-packages
export J

[2019-04-23 22:44] CodingCat commented on #4397
you can try to remove these lines

`
cd build
cmake ..
make -j4
`

[2019-04-23 22:44] anayyar82 commented on #4397
Hit:1 http://security.ubuntu.com/ubuntu xenial-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu xenial InRelease
Hit:3 http://archive.ubuntu.com/ubuntu xenial-updates InRelease
Hit:4 http://archive.ubuntu.com/ubuntu xenial-backports InRelease
Reading package lists...
Reading package lists...
Building dependency tree...
Reading state information...
maven is already the newest version (3.3.

[2019-04-23 22:46] anayyar82 commented on #4397
Sure trying again with

sudo apt-get update
sudo apt-get install -y maven
sudo apt-get -y install git
sudo git clone --recursive https://github.com/dmlc/xgboost

VERBOSE=1
cd xgboost
export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/

sudo apt-get install cmake build-essential
sudo sudo apt-get install libgomp1 -y
rm -r build

cd jvm-packages
export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/
mv

[2019-04-23 22:47] anayyar82 commented on #4397
Same error.. Can you please build a jar and send it anayyar82@gmail.com.

[2019-04-23 22:50] anayyar82 commented on #4397
Tried again, but looks something is missing.

[2019-04-23 22:57] anayyar82 commented on #4397
@hcho3  In my script I dont have cmake .. but in the logs i do see..

sudo apt-get update
sudo apt-get install -y maven
sudo apt-get -y install git
sudo git clone --recursive https://github.com/dmlc/xgboost

cd xgboost
export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/

sudo apt-get install cmake build-essential
sudo sudo apt-get install libgomp1 -y
cd jvm-packages
export JAVA_HOME=/usr/lib/jvm/j

[2019-04-23 23:02] #3622 closed

[2019-04-23 23:02] hcho3 commented on #3622
Addressed in #4395

[2019-04-23 23:03] anayyar82 commented on #4397
A couple of days back something updated here:

https://github.com/dmlc/xgboost/commit/65db8d0626c0324535f09b0502f2e2a49103dae9#diff-f0b3a9aacbecb17733f6eb67ace29355

[2019-04-23 23:16] hcho3 commented on #4397
@anayyar82 To save headache, can you get a new virtual Ubuntu machine (like AWS EC2) and run the following command?
[code]

[2019-04-23 23:21] anayyar82 commented on #4397
Sure, Trying now.

[2019-04-23 23:52] anayyar82 commented on #4397
Same issue, in ubuntu , is it possible to send a Spark jar ?

[2019-04-23 23:55] hcho3 commented on #4397
Are you using Ubuntu 18.04?

[2019-04-24 00:39] anayyar82 commented on #4397
Same error

CMake Error at CMakeLists.txt:1 (cmake_minimum_required):
  CMake 3.2 or higher is required.  You are running version 2.8.12.2

Traceback (most recent call last):
  File "create_jni.py", line 92, in <module>
    run("cmake .. " + " ".join(args) + maybe_generator)
  File "create_jni.py", line 51, in run
    subprocess.check_call(command, shell=True, **kwargs)
  File "/usr/lib64/python2.

[2019-04-24 00:41] CodingCat commented on #4397
‘CMake 3.2 or higher is required. You are running version 2.8.12.2’

[2019-04-24 00:43] hcho3 commented on #4397
@anayyar82 Please use a recent version of Ubuntu, e.g. 18.04.

[2019-04-24 00:45] anayyar82 commented on #4397
Sure.

[2019-04-24 01:25] anayyar82 commented on #4397
Now I am getting something below error: seems like `-nobootcp`

[ERROR] error: java.lang.NoClassDefFoundError: javax/tools/ToolProvider
[INFO] 	at scala.reflect.io.JavaToolsPlatformArchive.iterator(ZipArchive.scala:301)
[INFO] 	at scala.collection.IterableLike$class.foreach(IterableLike.scala:72)
[INFO] 	at scala.reflect.io.AbstractFile.foreach(AbstractFile.scala:92)
[INFO] 	at scala.tools.nsc.uti

[2019-04-24 01:28] anayyar82 commented on #4397
Wow : FInally :)

working

[INFO] Reactor Summary for XGBoost JVM Package 0.83-SNAPSHOT:
[INFO]
[INFO] XGBoost JVM Package ................................ SUCCESS [  1.967 s]
[INFO] xgboost4j .......................................... SUCCESS [ 20.904 s]
[INFO] xgboost4j-spark .................................... SUCCESS [ 32.501 s]
[INFO] xgboost4j-flink .................................... SUCC

[2019-04-24 01:29] #4397 closed

[2019-04-24 10:19] trivialfis opened #4398 "Implement bart."
Hi all,

## Introduction
Recently I have been reading **[Bayesian Additive Regression Tree](https://arxiv.org/pdf/0806.3286.pdf)** and started to implement it on top of XGBoost.  It's a tree ensemble model with MCMC(modified gibbs) sampling for structure learning.  Recent years some variances have been proposed, mostly tuning the sampling method to get higher performance or lower computation cost.

[2019-04-24 11:30] trivialfis commented on #4360
@CodingCat I think @chenqin is doing a lots of work on rabit that I cannot do myself, and it seems jvm package has tons of work to occupy your hand, so merging rabit into XGBoost won't advance it.  My suggestion is add an option to rabit's build system for using existing `dmlc-core` instead of another git submodule.

[2019-04-24 18:09] hcho3 commented on #4398
@trivialfis This is interesting. I will need to give myself some time to review the paper.

I think you should do either 1) write a RFC to explain your (software) design, in the form similar to dmlc/tvm#2889 OR 2) write a draft pull request that can be easily reviewed.

[2019-04-24 18:10] anayyar82 opened #4399 "[jvm-packages] xgboost saving model issue"
While doing `xgboostModel.write.overwrite().save(persistedModelPath)` with Spark 2.4, it;s throwing below error:

val xgbParam = Map("eta" -> 0.1,
                   "max_depth" -> 1,
                   "objective" -> "binary:logistic",
                   "scale_pos_weight" -> 1.0,
                   "subsample" -> 0.9,
                   "num_round" -> 1,
                   "num_workers" -> 10)