[2018-07-11 06:05] #3463 closed

[2018-07-11 07:10] nareshsankapelly commented on #444
Looks like setting OMP_NUM_THREADS to 1 is the only way to solve this.

[2018-07-11 07:30] thesuperzapper commented on #1698
@ericwang915 Typically to get a model which inter-operates with other XGBoost libraries, you would use the `.booster.saveModel("XXX/XXX")` method on the model object, where XXX is a local (non HDFS) path on the Spark driver. If you use other saving method you get an error (See: #2480)

However, I forgot to add a method to call the save function in that version of the wrapper, I will do this tomorr

[2018-07-11 07:45] thesuperzapper commented on #3370
@CodingCat

1. Yea, that would be good, or just fix the already existing `.saveModelAsHadoopFile("` to create a readable model for the python/R API's.

2. I am not sure, but I doubt that `.loadModel supports hdfs. But we could implement the complement of above `.readModelFromHadoopFile("` method in the spark API.

3. I really don't know how you can use the existing mllib persistence API to get a t

[2018-07-11 08:30] ericwang915 commented on #1698
Thank you. By the way, during the training process, there is no log showing the evaluation metrics and boosting round even though the silent is set as 1.

[2018-07-12 02:31] CodingCat commented on #3370
1. looks like even loadModel does not support hdfs path, you can pass in inputstream which is built via HDFS FileSystem instance

check https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostClassifier.scala#L418-L432

with the same piece of code, you can call the counterpart of `XGBoostClassificationModel.load(....)` in your py

[2018-07-12 08:40] thesuperzapper commented on #3370
@CodingCat I think I was forgetting that the Scala API had been rewritten, will need to alter my wrapper for it to work with 0.8.

[2018-07-12 08:47] bazhenov opened #3465 "Flaky SIGSEGV in libgomp using XGBoost"
We have custom built docker image with XGBoost (`master` branch). And from time to time we get `SIGSEGV` while using python method `xgboost.Booster.predict()`. We managed to save coredump and get a backtrace of an exception.

[code]

The problem is not seems to be in input data. We isolate samples which are failing system, but were not able to reproduce problem.

[2018-07-12 09:17] hcho3 commented on #3462
Would this link be of any help? https://stackoverflow.com/a/41658197

[2018-07-12 09:18] hcho3 commented on #3465
How is the function `xgboost.Booster.predict()` called? You should make sure that no more than one thread calls this function, since it is not thread safe.

[2018-07-12 09:47] bazhenov commented on #3465
We are pretty sure `Booster.predict()` is called from one thread only. Our application is very simple:

* read one line from stdin (JSON payload);
* extract features;
* create `DMatrix` with features (NLP task, so very sparse matrix with around 80-100K features);
* call `Booster.predict()`.
* repeat.

[2018-07-12 10:05] hcho3 commented on #3465
We may need to run it through valgrind to detect memory errors and data races. Let me come up with minimal C++ code that calls `PredictBatch` directly, so that valgrind won't have to deal with Python.

[2018-07-12 14:08] anantharaghu commented on #3462
We did not try that. But we found a workaround yesterday. We reduced the number of partitions - which reduced number of tasks - using coalesce(). Previously we used repartition() to reduce the partitions, but still got the error.
But even with coalesce, the jobs fail if number of partitions are more than 1000. For some medium data sets, job runs fine with 1200 and 1500 partitions. But we sticked t

[2018-07-12 14:08] #3462 closed

[2018-07-12 18:23] hcho3 commented on #3462
@anantharaghu Good that you found a workaround.

@CodingCat Would it be a good idea to document this? Something like "setting a high number of partitions may cause sporadic communication timeout."

[2018-07-12 21:19] CodingCat commented on #3382
@mengxr https://github.com/dmlc/xgboost/pull/3464 this is merged

[2018-07-12 22:52] mengxr commented on #3382
Thanks!

[2018-07-12 22:52] #3382 closed

[2018-07-13 07:54] yuezZYMSQTD opened #3468 "how to use custom objective with XGBoostRegressor of spark?"
In version 0.7, I can use XGBoost.trainWithDataFrame with parameter obj where the type of obj is ml.dmlc.xgboost4j.scala.ObjectiveTrait. But in the newest version, I can only use XGBoostRegressor().setObjective(value: String) where the type is string. How can I use custom objective with XGBoostRegressor of spark in the newest version? My input has to be a DataFrame/DataSet.

[2018-07-13 19:21] hcho3 commented on #3468
@yanboliang @CodingCat How does the user set the variable `$(customObj)` in https://github.com/dmlc/xgboost/blob/2f8764955cb139d65646dc21710f11e92e6dfd68/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostRegressor.scala#L181 ?

[2018-07-15 13:09] olbapjose opened #3470 "XGBoost in Spark "stops" for a couple hours, then continues"
Spark version 2.2.0.
XGBoost version: 0.80-SNAPSHOT
Cluster with CentOS, 3 workers, 90 GB RAM.

Apparently, when training under Spark (Scala), I can see the Spark logs when each tree is fit, something like:

[14:20:03] /home/myuser/xgboost/src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 38122 extra nodes, 0 pruned nodes, max_depth=15

I can see a new tree after every few seconds but at so

[2018-07-15 20:54] Laurae2 commented on #3417
@hcho3 Also to take into account, xgboost CPU histogram is slow mainly because it uses 64 threads (32 physical cores). 1 thread is sometimes faster in my benchmarks for very similar parameters, even with the frequency advantage.

Here is an example for 500 iterations on Bosch (depth 6) using an i7-7700K, 4.5 GHz; vs the reported 810 seconds with 64 threads:

| Threads | Time |
| ---: | ---: |
| 1

[2018-07-15 22:11] RAMitchell commented on #3417
This is still a problem because the default uses all CPU threads. We could internally limit the number of threads used by the hist algorithm as a quick fix that it would be nicer to get to the root of the problem.

[2018-07-15 22:14] RAMitchell commented on #3470
This is a pretty huge decision tree are you sure that is what you want?

[2018-07-16 02:51] zhongqin0820 opened #3471 "API usage error: want to use plotting API but failed and it raised an ImportError"
Environment:
- Ubuntu 16.04
- Python 2.7 or Python 3.5
- Pip 10.0.1

Issues:
When i use plotting API, it raised an `ImportError : You must install matplotlib to plot ...`

But I have already installed it.

[2018-07-16 03:03] hcho3 commented on #3471
Make sure to use the right `pip` to install `matplotlib`. Run the following:
[code]

Future questions are welcome at the forum https://discuss.xgboost.ai/.

[2018-07-16 03:03] #3471 closed

[2018-07-16 03:03] AdityaSoni19031997 commented on #894
Ye i also had built xgb for gpu on Windows, but now when i want to switch back to the non gpu version, its giving the same error

[2018-07-16 03:06] hcho3 commented on #894
Let's post further questions at the forum https://discuss.xgboost.ai/.

[2018-07-16 03:15] zhongqin0820 commented on #3471
Thanks, @hcho3 .
I definitely install matplotlib under both of the python version. But i didn't install other related dependencies.
Anyway, already solved this via:
[code]

[2018-07-16 08:09] heinro opened #3473 "xgboost 0.72 causing errors in statsmodels"
Hi - I have a pipeline that makes use of both [statsmodels](https://github.com/statsmodels/statsmodels) and xgboost in model build. I recently updated to xgboost 0.72 from 0.60 and found that importing the package has the propensity to create bugs in statsmodels.

Effectively, when I have xgboost imported in the following script (sources a sample dataset, fits an OLS and prints the offset estimate

[2018-07-16 09:39] StrikerRUS commented on #3473
Hi @heinro !

Are you using macOS?

It seems that as a workaround you could try to install both packages from the same source, e.g. `conda` **OR** `PyPI` (don't mix them).

https://github.com/dmlc/xgboost/issues/3378
https://github.com/Microsoft/LightGBM/issues/1444

[2018-07-16 12:37] SergeiOnenko commented on #839
@vruusmann hello! I have a problem while converting xgboost into pmml-file.
It says "Error in .convert(tempfile, file, converter, converter_classpath, verbose) : 127"
My feeling is the problem is with wrong java or it's in an inappropriate folder, but I still cannot google the solution or even verify my guess. So, how do I fix the problem?

[2018-07-16 19:18] rspadim opened #3475 "change input data at each 'step'"
hi guys, could be possible change input data each 'epoch' (each new tree)?

my idea is create an denoise autoencoder, or something like it, where i can predict noise(X) = X

today i'm doing this https://github.com/xiaozhouwang/kaggle-porto-seguro/blob/master/code/fea_eng0.py without noise

i have X, and train X[ -1 feature] = X[feature removed], doing this many times i create an "autoencoder"

[2018-07-16 23:19] slundberg commented on #3333
@jzakrzew Thanks for getting to the source of the nan's! My guess is we just need to wrap that op in a check for that corner case. I'll look into here soon.

[2018-07-17 00:45] yeweinan opened #3476 "Cmake fails when trying to turn on multi GPU, Windows 10"
Hi Everyone,

The command I'm using:
cmake .. -G "Visual Studio 15 2017 Win64" -DUSE_CUDA=ON -DUSE_NCCL=ON
-DNCCL_ROOT="c:/dev/nccl"

The nccl is from https://developer.nvidia.com/nccl, version NCCL 2.2.12 O/S agnostic and CUDA 9.2.

Error:  Could NOT find Nccl (missing: NCCL_LIBRARY)

[2018-07-17 02:08] RAMitchell commented on #3476
We just switched to nccl 2 which does not support Windows - so multi-GPU will not be possible on Windows. At some point I will add a better error message.

[2018-07-17 02:08] #3476 closed

[2018-07-17 12:17] KOLANICH commented on #3436
It is impossible to find out whichncompiler is used solely withnpreprocessor. So I have implemented a CMake solution and have thrown away old duct tape. Now if the definition is needed is determined by presence of the function.
https://github.com/dmlc/dmlc-core/pull/432

If you dislike my solution, fill free to add commits above it.

[2018-07-17 13:00] KOLANICH opened #3480 "path is on mount '***:', start on mount 'C:' when building python package on Windows on the drive different from the one python is installed"
The bug is only relevant to the systems having Windows paths.

[code]

The bisection showed to 88488fdbb9d915e8cc166fd620fcd4c2fe4bd1f1 .

[2018-07-17 16:15] andreispark opened #3482 "Dotnet Can't find libxgboost.so"
Hello, I'm not sure if this is the correct place to post this, but perhaps you guys can help me.

I have a Dotnet Core application that I am running on a Linux environment, and it utilizes the xgboost library. I am running debian natively on Windows,  The output of /etc/os-release is as follows :

PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch

[2018-07-17 19:07] jqmp opened #3483 "Implementations of "Gain" feature importance"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2018-07-17 19:07] #3483 closed

[2018-07-17 19:08] jqmp commented on #3483
Sorry, this was a misclick.

[2018-07-17 19:17] jqmp opened #3484 "Inconsistency of feature importance between Python and R implementations"
I've noticed that the Python and R implementations of feature importance behave a bit differently.  The Python `get_score(importance_type='gain')` function returns each feature's *average* gain over all of its splits, while the R `xgb.importance` function's `"Gain"` column gives each's feature's *total* gain.

I'm not an expert, but intuitively, the total gain seems much more useful as a measure o

[2018-07-17 20:40] hcho3 commented on #3475
You may set `subsample` to sample the training data in each boosting iteration. Let's take further discussion to the forum https://discuss.xgboost.ai/.

[2018-07-17 20:40] #3475 closed

[2018-07-17 20:44] hcho3 commented on #3480
Can you print out the value of `libpath['find_lib_path']()`?

[2018-07-17 20:49] hcho3 commented on #3482
I think it is possible to add an option in CMake to build static lib (`.a`) instead of shared lib (`.so`). Let me take a look at it. Then you can attach the static XGBoost lib to your application.

[2018-07-17 20:51] rspadim commented on #3475
done https://discuss.xgboost.ai/t/create-dynamic-input-data/60

thanks, but i think it's more related to dynamic input data instead of subsample, let's see =) ideas are wellcome

[2018-07-17 21:18] hcho3 commented on #3484
Yes, can you file a pull request to specify the type of importance?

[2018-07-17 21:21] andreispark commented on #3482
I followed issue #3163 and compiled a static libxgboost.a and libxgboost.so and placed both in my /usr/local/lib, The issue with running it in another machine is that it requires the c and c++ run times to support xgboost. I updated gcc and g++ on both machines so that they match, then I compiled the static libxgboost.so and libxgboost.a files and it now works!

Thanks for the help

[2018-07-17 21:21] #3482 closed

[2018-07-17 21:30] hcho3 commented on #3482
So the version for glibc causes incompatibility? That's a bit concerning.

[2018-07-17 21:51] jqmp commented on #3484
Sure, I'll do that this week.

[2018-07-18 00:42] Dantistnfs opened #3485 "Inconsistent results with dart booster"
I am getting inconsistent predictions using dart booster if I save it to file and then load again.
Using other boosters I have consistent predictions and all work as should.

I am using:
- Linux 4.17.5-1-ARCH
- Python 3.6.6
- xgboost 0.72.1
- numpy 1.14.5

[code]

[2018-07-18 01:52] yanboliang commented on #3468
@yuezZYMSQTD You can use the old way to set custom obj in the newest version. Suppose you have implemented own objective and eval as [this example](https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/CustomObjective.scala), you can use the following way to set custom obj and eval:
[code]
Or after [this PR](https://github.com/dml

[2018-07-18 02:11] CodingCat commented on #3470
most of memory usage in training set is in native memory space, so it will not be displayed in Spark UI

if you are using YARN and you are sure that your on-heap space is lightly used, you can try to set spark.executor.memoryOverhead larger to allocate more for XGBoost

[2018-07-18 02:33] liuliu629 opened #3487 "Crazy print ( 'f2295087', 'f2295088', 'f2295089', 'f2295090', 'f2295091', 'f2295092', 'f2295093', 'f2295094', 'f2295095', 'f2295096', 'f2295097', 'f2295098', 'f2295099', 'f2295100'.....)during training"
The code is shown below：

import xgboost as xgb
import sys

data_train = xgb.DMatrix(sys.argv[1])
data_test = xgb.DMatrix(sys.argv[2])

param = {'max_depth': 6,
         'eta': 0.2,
         'silent': 1,
         'objective': 'binary:logistic',
         'booster': 'gbtree',
         'nthread': 30}
ratio = float(10.0)
param['scale_pos_weight'] = ratio
param['eval_metric'] = ['auc']
num_round = 30

[2018-07-18 02:43] hcho3 commented on #3487
Which operating system are you using? What version is XGBoost? If you are using Linux, you should install pre-built wheel by running `pip install xgboost`.

[2018-07-18 02:53] hcho3 commented on #3282
When the JAR is exported, the native lib gets embedded into the JAR. So for now, you should always export JAR prior to submitting jobs.

[2018-07-18 02:53] #3282 closed

[2018-07-18 02:55] CodingCat commented on #3282
you can also use the pre-built version by referring to maven dependency https://github.com/dmlc/xgboost/tree/master/jvm-packages#add-maven-dependency

[2018-07-18 03:14] liuliu629 commented on #3487
Thank you for your reply~
the operating system and version of xgboost as bellow:
Python 2.7.14 |Anaconda, Inc.| (default, Oct 16 2017, 17:29:19)
[GCC 7.2.0] on linux2
xgboost    0.71

[2018-07-18 03:16] hcho3 commented on #3487
How did you install your current XGBoost? Is it from `conda` or `pip`?

[2018-07-18 03:46] liuliu629 commented on #3487
conda list display：
xgboost                   0.71                      <pip>

The first installer is not my operation, from the result of conda list.
I think it should be pip.

[2018-07-18 04:17] KOLANICH commented on #3480
@hcho the first address is discovered correctly : `../../lib/xgboost.dll`, the secod address is from PATH and for me it is from Anaconda installed on non-system drive. I propose to replace the loop by using the first address only.

[2018-07-18 05:52] patelprateek opened #3488 "xgboost gpu predictor running slower relative to cpu"
I am training some gradient boosted trees using xgboost library. When i use the tree method : gpu_hist, i definitely see a 10x speedup for training. Another 4x speedup for using multiple gpus on a signle machine.

The issue I am running into right now is the prediction (using the gpu_predictor) is almost 1.5-2x slower than the cpu_predictor. Is this supposed to be like that ? I assumed the predict

[2018-07-18 17:04] hcho3 commented on #3468
@yanboliang Thanks for the update!

@yuezZYMSQTD If you have questions in the future, feel free to post at the user forum https://discuss.xgboost.ai/.

[2018-07-18 17:04] #3468 closed

[2018-07-18 17:12] hcho3 commented on #3480
@KOLANICH Indeed, on Windows, `relpath` will fail if the source and destination directories are on different drives. I'll file a pull request to filter out items from `LIB_PATH` for which `relpath` would fail.

[2018-07-18 17:29] ngoyal2707 opened #3489 "[jvm-packages] Spark repartitionForData can potentially shuffle all data and lose ordering required for ranking objectives"
Training for ranking objective requires to have the spark dataframe be grouped by `group` i.e. the query groups be next to each other. This assumption is at following places in the code:

1)  [Making group data](https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoost.scala#L316)
2) [Calculating ranking objective loss](https://gi

[2018-07-18 20:01] adeepmalmotra commented on #2291
@dyln  how to update the xcode in windows?

[2018-07-19 06:46] KOLANICH commented on #3480
I guess we don't need lool at all, we only need the lib built with the python module, but the code may also capture the system lib.

[2018-07-19 08:35] pvillacorta-stratio commented on #3470
Hi all,

Thank for your answers. I am using Mesos actually. Following your suggestions, I just moved to a different configuration with just max depth 5 and a larger number of trees. Apparently it is now working well in one of the clusters, but I am getting an error in another cluster just at the beginning of the training,
`java.lang.InterruptedException: ExecutorLost during XGBoost Training: Execu

[2018-07-19 08:43] XINWEI163 opened #3490 "I know XGBoost supports libsvm and csv two types of files. What is the difference between them for using? Is Libsvm quicker?"

[2018-07-19 08:56] hcho3 commented on #3490
libsvm is suited for sparse data (many missing values), where as CSV is suited for dense data (few or no missing values). If you have additional questions, feel free to post on https://discuss.xgboost.ai/.

[2018-07-19 08:56] #3490 closed

[2018-07-19 11:52] Hartsord opened #3491 "XGB operations with GPU cause R to hang and restart"
I'm having a problem with XGB operations causing R to restart. I'm compiling version 0.71.2, with commit hash
[code]

my sessionInfo is as follows:
[code]
nvidia-smi gives this:
[code]
while nvcc -V gives:
[code]
I do get a warning during compilation about googletest not being found, even if I have installed both googletest and the dev lib, even mocktest, as well as compiling the dev tools
[code]

[2018-07-19 13:48] Ewande commented on #2334
I had the same error with pandas.DataFrame, XGBClassifier and CalibratedClassifierCV (with _prefit_ option).

**Short explanation what's going on in this case**:

- we train XGBClassifier using data in pandas.DataFrame (`X_train`), so the Booster object inside XGBClassifier saves pandas column names as feature names (e.g. `['a', 'b', 'c']`)
- having XGBClassifier trained, we want to calibrate it,

[2018-07-19 14:51] Hartsord commented on #3491
Another thing, it was working well last week, but it seems to have started malfunctioning after I updated my Debian. I noticed first that the nvidia driver didnt seem to be working, so I had to reinstall that.

[2018-07-19 15:10] papinisan opened #3492 "gblinear parameters"
Few questions about gblinear:
1. Is there a parameter for feature subsetting like "colsample_bytree" for gblinear?
2. Is gblinear with default parameters functioning like an elastic net?
3. What are the range of values for alpha and lambda, they are not listed in https://xgboost.readthedocs.io/en/latest/parameter.html.
Thanks!

[2018-07-19 16:55] hcho3 commented on #3492
Migrated to https://discuss.xgboost.ai/t/gblinear-parameters/69. Discussion and general questions will be directed to the user forum.

[2018-07-19 16:55] #3492 closed

[2018-07-19 19:13] #3444 closed

[2018-07-19 20:59] hcho3 commented on #3480
@KOLANICH I went ahead and filed a pull request to fix the issue. Thanks!

[2018-07-19 21:51] hcho commented on #3480
Hi,

I really don’t know what is going on.
Did you guys send email or message to wrong person?

Sent from my iPhone

[2018-07-19 22:10] hcho3 commented on #3480
@hcho Sorry it was by mistake.

[2018-07-20 04:26] KOLANICH commented on #3480
It's me to excuse since it is I who have confused @`hcho` with you.

[2018-07-20 07:29] guotong1988 commented on #2606
THX！！

[2018-07-20 10:11] yuezZYMSQTD commented on #3468
thanks

[2018-07-20 16:42] danieltudosiu commented on #2905
I have the same error on a 750m with the latest XGBoost (0.72.1) with the following configuration with a random_state set randomly, using the Sklearn wrapper and with about 30 features with 2 target classes:

{
    "max_depth": 3,
    "learning_rate": 0.1,
    "n_estimators": 100,
    "objective": "gpu:binary:logistic",
    "tree_method": "gpu_hist",
    "eval_metric": "mae",
    "n_jobs": 8,

[2018-07-20 16:46] hcho3 commented on #2905
Re-opening the issue, to see if there's something that can be done.

[2018-07-20 17:02] hcho3 commented on #3491
I don't think it has anything to do with the lack of googletest. (Aside: You can manually set the location of googletest by setting `GTEST_ROOT`.) Since you said you updated Debian, you may want to re-install CUDA toolkit as well. I notice that Debian is not listed in the list of officially supported OSes in the CUDA website. Is this commonly done?

[2018-07-20 17:02] hcho3 commented on #3491
Also, try compiling the CUDA samples and run them.

[2018-07-20 17:16] hcho3 commented on #3439
Single instance prediction was added to JVM package by #3464.

[2018-07-20 17:16] hcho3 commented on #3153
@lyqscmy Single instance prediction was added by #3464.

[2018-07-20 19:28] #3480 closed, assigned to nobody

[2018-07-21 00:16] trstovall opened #3495 "NCCL2 dependency is not available for ppc64le"
NCCL v2 adds multi-node support to the multi-gpu NCCL v1 library.  Is it still possible to use NCCL v1 with XGBoost v0.72?  If so, please update doc/build.rst with the necessary instructions.

[2018-07-21 00:36] USCYuandaDu opened #3496 "xgboost hist"
Hi @hcho3,
I'm happy to find that you are the author of hist updater, I have a question here.
My classmates said that the hist is suitable for single worker. So my question is does hist suitable for nworker > 1 ? Can you explain whether hist updater has any limit? Thanks!
Bests,
Yuanda

[2018-07-21 00:46] hcho3 commented on #3496
Hi Yuanda:

The hist updater currently does not support distributed training, so it is only suitable for a single node.

Ps. We recently created a policy to forward all general discussions to the user forum https://discuss.xgboost.ai/. Feel free to post any follow up questions there.

[2018-07-21 00:46] #3496 closed

[2018-07-21 00:48] hcho3 commented on #3495
@teju85 @RAMitchell Are we still supporting NCCL1 in thr future?

[2018-07-21 03:42] Hartsord commented on #3491
Thanks for the advice, hcho3! I reinstalled the latest CUDA (and the latest drivers in the process) and it works great now!
[code]
[code]

[2018-07-21 03:42] #3491 closed

[2018-07-21 03:48] teju85 commented on #3495
I have started an internal mail thread with our NCCL development team regarding ppc64le arch. Will get back once I hear from them.

[2018-07-21 04:06] yuezZYMSQTD opened #3497 "[jvm-packages] xgb-spark save and load model from hdfs"
In version 0.72 when I finish the training with xgb-spark, I want to save the model to hdfs. I tried the codes below but it failed.
[code]
I also tried the code below, but I could not load it.
[code]

What is right way to save model to hdfs and load it from hdfs?

In version 0.7, I can succeed when using the following code.
[code]

[2018-07-21 05:19] hcho3 commented on #3497
Let's take future discussions at https://discuss.xgboost.ai/t/jvm-packages-xgb-spark-save-and-load-model-from-hdfs/74/4.

[2018-07-21 05:19] #3497 closed

[2018-07-21 05:42] hcho3 commented on #3489
I think we could do `sortBy()` with `numPartitions`, so as to sort by the group ID's.

[2018-07-21 11:32] teju85 commented on #3495
@trstovall @hcho3
There indeed are NCCL2 binaries available for download here: https://developer.nvidia.com/compute/machine-learning/nccl/secure/v2.2/prod/nccl_2.2.13-1_cuda9.2_ppc64le. (Eg. here shows binaries built for cuda v9.2)

[2018-07-21 15:37] bunmalik commented on #1884
Pls any help to get it work for me with sealang and seasnake installation!

[2018-07-21 20:05] trstovall commented on #3495
Thank you, @teju85.  I will upgrade to CUDA 9.2 soon (currently at 9.0) and try recompiling XGBoost v.72.  If NCCL v1 is not planned to be supported, please close this issue.

[2018-07-23 04:53] SemiCode1220 opened #3499 "Multi Node GPU Support ?"
Hi guys !

I wanted to know if anyone is working on extending GPU support to the multi-node distributed setting? i.e: "gpu_approx"

As I understand, current gpu acceleration is only supported for the exact and hist versions.

[2018-07-23 05:40] RAMitchell commented on #3499
cc @teju85

I think there were some plans to build a distributed version using NCCL - not sure if they are high priority. Are you asking from the perspective of a user or potential contributor?

[2018-07-23 07:30] #3484 closed

[2018-07-23 11:36] teju85 commented on #3499
@RAMitchell @SemiCode1220
We certainly are exploring this as a possibility.
Hence, the PR #3404 to upgrade to NCCLv2.
I'll comment back here, once we have more to share.

[2018-07-23 13:45] chinesejie commented on #2918
In my case, env: centos6.3, xgboost0.7, java-1.8
Centos6.3's default python is python2.6,  xgboost0.7 can be compiled well.

but run with python2.6  will throw Uncaught exception thrown by worker of java.util.concurrent.locks.AbstractQueuedSynchronizer.doAcquireSharedInterruptibly.

The exception is not  obvious to understand.

Upgrade to python 2.7 will solve it.

[2018-07-23 16:22] gmanolache commented on #677
+1

[2018-07-24 00:43] yuchsiao opened #3500 "terminate called without an active exception"
version: `xgboost:0.72` compiled with NCCL.

Saw this error message 'deterministically' with some hyperparameters for "gpu-hist". But the same set of hyperparameters works for "hist" (cpu).

[code]

The training does not start even the first iteration. No other error messages printed either. The compete messages are just as above.

It seems related to the gpu-hist implementation. This was observed

[2018-07-24 00:56] RAMitchell commented on #3500
Do you have a script for reproduction?

[2018-07-24 01:31] mhmoudr commented on #2983
This ticket has been closed, but I cannot see any PR linked to it, isn't there a planned support for GPUs in JVM packages?

[2018-07-24 01:34] hcho3 commented on #2983
@mhmoudr See #3499. Basically, the GPU algorithms need to support distributed (multi-node) training. Currently, the GPU algorithms only work on a single node.

[2018-07-24 06:55] eshengit opened #3501 "libxgboost4j.so introduces dependency for libhdfs.so, failed to load in some environment."
latest xgboost master branch libxgboost4j.so introduces libhdfs.so dependency.
and it leads failure to load xgboost4j library because the libhdfs.so can't be found even its in the library path.

according to NativeLibLoader.java logic.
1. it tries to add nativePath=../../lib to java.library.path
2  load xgboost library from java.library.path
3. if 2 fails, load libxgboost4j.so from the fat jar's l

[2018-07-24 09:05] sramirez-stratio commented on #3230
I got the same problem, I think it's not related to locales as the param value is of double type.

This is the shape of the input feature in XGBoost train:

 params : scala.Predef.Map[scala.Predef.String, scala.Any]

[2018-07-24 12:42] FabHan commented on #3055
I came into this issue while searching for a way to train an xgboost model in an online manner. The primary use case for me is in reinforcement learning: we need to update the models after each time step.

Most people use neural networks as function approximators in RL. However, my experience has been that NN is very finicky and its performance in RL is very sensitive to hyper parameters. So, I'm

[2018-07-25 03:10] eshengit commented on #3501
the reason I hit that error because libhdf.so.0.0.0 is not in the standard lib path and I have to explicitly tell spark executor where to find it.

I worked around this by adding this config to pyspark/spark-shell
 --conf "spark.executorEnv.LD_LIBRARY_PATH=$YOUR_DIR_HOLD_LIBHDFS_SO"
 adding "--conf "spark.executor.extraJavaOptions=-Djava.library.path=$YOUR_DIR_HOLD_LIBHDFS_SO" does not work becaus

[2018-07-25 03:12] eshengit commented on #3501
why do we introduce libhdfs.so dependency in xgboost4j library?

[2018-07-25 03:16] CodingCat commented on #3501
can you show me the steps you prove it's introduced by xgboost4j?

[2018-07-25 03:16] eshengit commented on #3426
the root cause of this failure:
we referred the training data using the name node url of the cluster instead of the service url of the cluster, when delegation auth token was acquired for service name.

[2018-07-25 03:22] eshengit commented on #3470
could you take a thread dump for the container node which having active tasks to see whats going on?

[2018-07-25 03:33] eshengit commented on #3501
ldd libxgboost4j.so
	linux-vdso.so.1 =>  (0x00007fffb63b8000)
	libjvm.so => /home/mine/installers/jdk1.8.0_92/jre/lib/amd64/server/libjvm.so (0x00007fcc7701d000)
	libhdfs.so.0.0.0 => /opt/HADOOP_HOME/lib/native/libhdfs.so.0.0.0 (0x00007fcc76e0c000)
	libstdc++.so.6 => /lib64/libstdc++.so.6 (0x00007fcc76af4000)
	libm.so.6 => /lib64/libm.so.6 (0x00007fcc767f2000)
	libgomp.so.1 => /lib64/libgomp.so.1

[2018-07-25 03:47] eshengit commented on #3501
when I run xgboost directly over yarn, libhdfs.so.0.0.0 is required because xgboost directly read files from hdfs, when I run xgboost through spark over yarn, why do we need libhdfs.so.0.0.0?  without it, the container will throw libhdfs.so.0.0.0 shared library couldn't be found when it tries to load libxgboost4j.so explicitly from uber jar(jar-with-dependency)

[2018-07-25 04:43] SemiCode1220 commented on #3499
Could you point me towards the issue I should consult to able to contribute towards distributed-GPU support ?

[2018-07-25 04:55] CodingCat commented on #3501
how you built it? did you turn on https://github.com/dmlc/xgboost/blob/e939192978a0c152ad7b49b744630e99d54cffa8/jvm-packages/create_jni.py#L18 by any chance?

nanzhu@xxxxx:~$ ldd libxgboost4j.so
	linux-vdso.so.1 (0x00007ffe1252e000)
	libjvm.so => not found
	libstdc++.so.6 => /usr/lib/x86_64-linux-gnu/libstdc++.so.6 (0x00007f320f394000)
	libm.so.6 => /lib/x86_64-linux-gnu/libm.so.6 (0x00007f320f092

[2018-07-25 05:04] softitova opened #3503 "I'm trying to use format for DMatrix with additional info about query id"
* I'm trying to use format for DMatrix  with additional info about query id.
* I took file from [example](https://xgboost.readthedocs.io/en/latest/tutorials/input_format.html)
###
[code]

* I'm tying to create DMatrix

[code]

* and have this error

[code]

* if I remove field qid from input file - all will be fine

[2018-07-25 05:10] hcho3 commented on #3503
You may want to read http://xgboost.readthedocs.io/en/latest/tutorials/input_format.html#query-id-columns. Feel free to post future questions at the user forum https://discuss.xgboost.ai/.

[2018-07-25 05:12] hcho3 commented on #3503
Sorry I didn't see the edit. Let me get back to you in a bit.

[2018-07-25 05:15] eshengit commented on #3501
ah, yes, i turned hdfs on...

[2018-07-25 05:17] hcho3 commented on #3503
Which version of XGBoost are you using? The stable 0.72 version does NOT yet have the feature. You should use the latest master.

[2018-07-25 05:46] softitova commented on #3503
0.6 (
Sorry, for disturbing.

[2018-07-25 05:47] hcho3 commented on #3503
No problem. If you have further questions, feel free to post at the user forum https://discuss.xgboost.ai/.

[2018-07-25 05:47] #3503 closed

[2018-07-25 07:49] USCYuandaDu opened #3504 "[xgboost-spark] How does the distributed models work?"
Hi all,
I'm wonder why only chooses the first model here?
https://github.com/dmlc/xgboost/blob/a725272e19748a5f3ddd7eeeff7c766660e38a06/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoost.scala#L271

And I can not see any synchronize on these models, so I think we just pick random one from these different models?

Bests,
Yuanda

[2018-07-25 07:50] USCYuandaDu commented on #3504
@hcho3 @CodingCat

[2018-07-25 07:52] hcho3 commented on #3504
Our policy is to direct all questions to the user forum https://discuss.xgboost.ai/. The issue tracker should be kept for bug reports and feature additions.

[2018-07-25 07:52] #3504 closed

[2018-07-25 08:30] zengxy opened #3505 "[BUG REPORT] invalid predictions when predict multi-times after set_base_margin for dmatrix"
I'm currently use python packages for xgboost. And I found that the predict values are wrong when I predict multi times after use set_base_margin for dmatrix. Just see the following test code.
[code]
Here is the output of  above code:
[code]

It seems that it output a margin by plus current predicted values to old ones every time I call predict for all but the first instance.

While if i comment t

[2018-07-25 08:48] RAMitchell commented on #3505
I can't reproduce this on the current master branch on Ubuntu or Windows. Did you try the latest from source or the version on pip?

[2018-07-25 09:01] zengxy commented on #3505
@RAMitchell I use the latest version 0.72.1 on pip and haven't try to build from source.

[2018-07-25 20:47] yuchsiao commented on #3500
The usage is basic:

[code]
Unfortunately, I am not able to share the data that encounter the problem as they are proprietary. But I can mention a few characteristics of them:

+ Labels are soft labels, meaning between 0 and 1, two classes.
+ Some features are floating points, some are binary, and some are one-hot encoded. All of them may contain `np.nan` as missing values.
+ The data size can be

[2018-07-25 22:06] CodingCat opened #3506 "[jvm-packages] the result dataframe with multi:softmax obj function should not contain probability col"
according to https://github.com/dmlc/xgboost/blob/a725272e19748a5f3ddd7eeeff7c766660e38a06/src/objective/multiclass_obj.cc#L94-L120

we should not have probability col in multi:softmax case and instead only rawPrediction column and prediction

otherwise, probability would be filled with prediction and no real probability would be presented

[2018-07-26 00:00] RAMitchell commented on #3488
If you predict from a matrix that the algorithm has not seen before it needs to copy this matrix to the GPU - this can be slow. Our prediction algorithm is currently optimised for prediction during training as opposed to prediction from a 'warm start'.

And yes you will need to explicitly delete the booster to free the memory. Internally the algorithm has no way of knowing if the user has finished

[2018-07-26 00:07] RAMitchell commented on #3499
I don't think we have any such issue so we can discuss here. Feel free to propose a solution to achieve this. I have not worked with the distributed algorithms before but presumably there needs to be some kind of AllReduce operation using rabit every time a histogram is generated in gpu_hist. We would also need to make sure each node is using the same quantile cuts.

Ideally the AllReduce for hist

[2018-07-26 00:13] RAMitchell commented on #3500
Thanks. Are you using the version from pip or building from source? There were a few bug fixes recently that would be only in the source version.

Would it be possible to take a minimal sample of data that reproduces the issue and then anonymise it? You could remove column labels and add noise to features.

I can't see how to resolve it without having a reproducible example.

[2018-07-26 00:16] yuchsiao commented on #3500
That makes sense. Let me look into what will be the viable path to share some fragment of data. The version is built from source just two weeks ago with the flag NCCL.

If you know the exact dates of those fixes applied, I can check whether my version includes them or not.

Thank you for looking into the issue! I will try to get back to you shortly.

[2018-07-26 00:17] patelprateek commented on #3488
@RAMitchell : what exactly you mean prediction during training ? is this something different than training itself ? I am using the same training dataset to run prediction to evaluate on training data.
What exactly is being compared here , rediction during training vs prediction warm start , can you elaborate further as this comparison doesnt make any sense to me . Prediction is just prediction , w

[2018-07-26 00:20] patelprateek commented on #3488
Even after deleting the booster and reading back serialized model and doing some warmpup to run prediction , the prediction is much slower than cpu , this after removing the memory copy overhead.
What exactly is optimized in gpu predictor as opposed to cpu predictor ? I am trying different dataset size and the result is pretty consistent with gpu predictor always being worse than cpu predictor. tr

[2018-07-26 00:22] patelprateek opened #3508 "xgboost gpu predictor running slower relative to cpu"
Re creating this issue since it was closed without being resolved by @RAMitchell
I am training some gradient boosted trees using xgboost library. When i use the tree method : gpu_hist, i definitely see a 10x speedup for training. Another 4x speedup for using multiple gpus on a signle machine.

The issue I am running into right now is the prediction (using the gpu_predictor) is almost 1.5-2x slower

[2018-07-26 01:49] hcho3 commented on #3508
I've re-opened the previous issue. Let's keep discussion there.

[2018-07-26 01:49] #3508 closed

[2018-07-26 01:50] hcho3 commented on #3488
Do you have a re-producible example for this?

[2018-07-26 02:10] patelprateek commented on #3488
I do not have a public dataset , but i can give you 50-80 features , data size 2Gb , 2-3 million rows . I also tried with much larger dataset 33 million rows around 24 Gb

[2018-07-26 02:17] hephzaron commented on #2159
Mine was due to the different versions of python on my pc and the one been used by anaconda plus different environment.
Solution
Is to install the xgboost wheel file corresponding to the version been used by anaconda

[2018-07-26 03:08] Ying456123 opened #3509 "error occurred when calling copy function use loaded model"
The code is as follows:
[code]

Before dump the model, copy function works well. However, If I dump and then load the model,  I will get the following message when calling copy:
AssertError:read can not have position excceed buffer length.
Below is the screen shot.
![image](https://user-images.githubusercontent.com/24699537/43239275-2b434f80-90c4-11e8-89ae-282b849fde1c.png)
Could you please help o

[2018-07-26 03:10] CodingCat commented on #3501
if you want xgboost to access HDFS data directly, you need to turn it on

[2018-07-26 04:17] hcho3 commented on #3488
Let me ask you a few more questions:
* Which version of XGBoost are you using? If compiled from the source, what is the git commit hash?
* How many trees does the model have? What is the average number of leaves and depth for each tree?
* Which model of NVIDIA GPU are you using? How much memory does it have?

Without the data it would be difficult for us to diagnose the cause for low performance.

[2018-07-26 05:45] Ying456123 commented on #3509
**Environment Info**
Operating System: macOS Version 10.13.4
Package used (python/R/jvm/C++): Python
xgbooost version: 0.6
The python version and distribution: Python 3.6.1 |Anaconda 4.4.0 (x86_64)|
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)] on darwin

[2018-07-26 06:13] CodingCat opened #3510 "[jvm-packages] SparkParallelismTracker should consider nthread and spark.task.cpus"
https://github.com/dmlc/xgboost/blob/e2f09db77a4ea1f759f9be585ab01a320d933900/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoost.scala#L225 only considers `numWorkers`

when the user set nthread and spark.task.cpus to utilize OpenMP optimization, we should use numWorkers * nthread

@Yunni

[2018-07-26 09:48] skywalker2256 opened #3511 "java.lang.UnsatisfiedLinkError: /usr/lib64/libstdc++.so.6: version `CXXABI_1.3.7' not found"
Compile environment
gcc version: 6.1.0

I bulid xgboost-spark.
Can I run on gcc 4.4.7 version cluster? Thank you!

[2018-07-26 10:45] guotong1988 opened #3512 "How to accelerate the speed of CPP API XGBoosterPredict?"
### Training params:

[code]

### It cost **800ms** to make a prediction with 40 dim features of 1 data !!

### The code for prediction is:
[code]
### My CPU info is:

`cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c`
[code]

### My memory info is:
`free`
[code]

[2018-07-26 15:16] hcho3 commented on #3512
Closing this as duplicate of https://discuss.xgboost.ai/t/cpp-api-xgboosterpredict-cost-too-much-time/97.

[2018-07-26 15:16] #3512 closed

[2018-07-26 15:51] hcho3 commented on #3511
I left my answer at https://discuss.xgboost.ai/t/java-lang-unsatisfiedlinkerror-usr-lib64-libstdc-so-6-version-cxxabi-1-3-7-not-found.

[2018-07-26 15:51] #3511 closed

[2018-07-26 18:35] hcho3 commented on #3509
@Ying456123 I managed to re-produce the bug on my Macbook Pro. Let me take a look at it.

[2018-07-26 19:31] hcho3 commented on #3509
Looks like I get the same error when I replace `joblib` with `pickle`:
[code]

[2018-07-26 19:36] hcho3 commented on #3509
@pseudotensor FYI, this is another example where `pickle` is giving trouble with XGBoost. I plan to look at it this weekend.

[2018-07-26 20:13] Helw150 opened #3513 "[jvm-packages] Getting Group For Custom Rank Objective and Eval"
( Also posted in discuss.xgboost.ai but traffic there seems much lower - https://discuss.xgboost.ai/t/jvm-packages-getting-group-for-custom-rank-objective-and-eval/89/2 )

I’m in the process of researching moving off of a fork of XGboost to try and move onto vanilla XGboost. The primary thing that is holding me up is that in this fork a getter has been added to Scala DMatrix so that the custom obj

[2018-07-26 20:29] hcho3 commented on #3513
@Helw150 I left my answer in the forum post.

We recently began the process of transitioning to a system where discussions and questions are hosted in the user forum. This is so that the issue tracker is kept for bug reports and feature additions. (Previously, the issue tracker was overwhelmed with unanswered questions, and it was hard to keep track of existing bugs.) We maintainers plan to watch

[2018-07-26 20:29] #3513 closed

[2018-07-26 22:49] hcho3 commented on #3509
@Ying456123 I submitted a pull request to fix the issue.

@pseudotensor I fixed this particular problem, but you previously said that there were other parameters that were truncated by pickling. Can you give me some examples?

[2018-07-26 23:14] Ying456123 commented on #3509
@hcho3 Thanks a lot for your immediate reply. I will try the pickle with new code. 👍

[2018-07-27 01:13] RAMitchell commented on #3512
This may in fact be a bug. I made some changes to the prediction API in order to deal with failures from statically allocated cuda memory in HostDeviceVector in #3467.

[2018-07-27 01:15] guotong1988 commented on #3512
@RAMitchell What is your speed now？

[2018-07-27 01:16] RAMitchell commented on #3512
Not sure I understand your question.

Can you confirm exactly which version of xgboost you are using (e.g. the commit hash). I would like to know if it works correctly before this was merged.

[2018-07-27 01:18] guotong1988 commented on #3512
`git log`
[code]

[2018-07-27 01:21] RAMitchell commented on #3512
This commit is older than #3467 so it can't be related to that.

[2018-07-27 03:01] guotong1988 commented on #3512
**Is it a bug? I use python API to predict 2000 data in 20 ms.**

[code]

[2018-07-27 03:13] guotong1988 opened #3517 "Python predict API is faster than Cpp XGBoosterPredict API in about 40 times."
The Python code is:
[code]
And it cost 20 ms for predicting about 2000 data.

The Cpp code is:

[code]

[2018-07-27 03:29] guotong1988 commented on #3512
Sorry, the time print of my Cpp code is wrong.

[2018-07-27 12:20] OlegKremnyov commented on #3113
Works with 7.x now

[2018-07-27 16:55] #3509 closed

[2018-07-27 23:20] hcho3 commented on #3492
I left my answer at https://discuss.xgboost.ai/t/gblinear-parameters/69/2.

[2018-07-28 01:29] yuchsiao commented on #3500
Hi RAMitchell,

Report back here: the bug fix #3472 does not help this issue.

I figure out a sample snippet that can reproduce the crash

[code]

The overall messages are as follows

[code]

Note that this happens only when the sparse matrix density is high enough, say, as in the above snippet, 0.1. When it is as low as 0.01, the code runs fine.

Please let me know if this is enough for investiga

[2018-07-28 07:24] trivialfis opened #3520 "undefined reference to `dmlc::CustomLogMessage::Log"
I built xgboost with cmake:
[code]
Platform : Fedora 27 x86-64
GCC: gcc (GCC) 7.3.1 20180712 (Red Hat 7.3.1-6)
ld: GNU ld version 2.29-13.fc27
CUDA: 9.2

Here is the related error output:

[ 86%] Linking CXX executable dmlc_unit_tests
CMakeFiles/dmlc_unit_tests.dir/unittest_any.cc.o: In function `Any_json_Test::TestBody()':
unittest_any.cc:(.text+0x36ac): undefined reference to `dmlc::CustomLogMes

[2018-07-28 09:39] guoyuhaoaaa commented on #2158
@wenbo5565 can you tell the reason why type "git submodule init" and "git submodule update" can solve this problem?? Thank you so much

[2018-07-28 09:48] trivialfis commented on #3520
@hcho3
That would be:

b5fad42da218a5021263e5a01de5f306a8c9029

[2018-07-28 09:55] trivialfis commented on #3499
About distributed xgboost on MPI based APIs, the MPI related code needs some rework. Currently xgboost doesn't build on latest MPI3.0, which dropped support for C++ interface that employed in xgboost. Maybe we can work on MPI and NCCL support altogether.

[2018-07-28 13:40] trivialfis commented on #3520
I think I got a fix, just move building dmlc-core earlier than adding definition in root Cmake file.

[2018-07-28 13:45] trivialfis commented on #3520
Will make a PR once my CUDA doesn't break.

[2018-07-28 13:53] wenbo5565 commented on #2158
@guoyuhaoaaa  I am not sure the reason. Possibly I found this solution on google. You could try if you can find more details there.

[2018-07-28 17:35] #3520 closed

[2018-07-28 19:10] neverfox opened #3523 "colsample_bytree seemingly not random"
My understanding of `colsample_bytree` is that it randomly samples from the features (columns) for each tree, so it would be a way to limit dimensionality prior to constructing trees. However when I use values < 1, it seems to always take from the first columns (based on whatever percentage) and not randomly. Extending on the sample R code for xgb.train:

[code]
0.01 is equivalent to saying 1 feat

[2018-07-28 23:40] mliu60 opened #3526 "[jvm-packages]Booster.predict gives different result than XGBoostModel.predict"
Hi, I'm trying to train XGBoost on Spark and use the Booster object to label online traffic. However, I noticed that prediction given by XGBoostModel.predict differs from prediction given by Booster.predict. Is this the expected behavior or is it a bug? Here are the code snippet I used for training, evaluation and online labeling.
Code snippet used for training:
[code]
[code]
Predict new data poin

[2018-07-28 23:44] CodingCat commented on #3526
so.....it is a known issue,

if you train model with spark, it will assume the libsvm file is 1-based indexed.

however, xgboost itself will assume the libsvm is 0-based indexed.

as a result, your model will assume your testset is 0-based when dealing with a 1-based file....

the issue happened....

I just wrote a better explanation about this in a PR I sent hours ago https://github.com/dmlc/xgbo

[2018-07-28 23:45] CodingCat commented on #3526
please add [jvm-packages] in your title to help me identify the issue is to jvm-packages , thanks

[2018-07-28 23:51] hcho3 commented on #3526
@CodingCat I recently added an option in dmlc-core to read CSV files using 1-based indexing: dmlc/dmlc-core#401. So you can do something like
[code]

[2018-07-28 23:52] CodingCat commented on #3526
@hcho3 , let me patch it

[2018-07-28 23:54] hcho3 commented on #3526
@CodingCat We just need to update the dmlc-core submodule to 81f34b55cb3b1c3a4ba7ad5a95ccde21008088e0.

[2018-07-28 23:55] CodingCat commented on #3526
@hcho3 but the default behavior would still be take it as 0-based?

[2018-07-28 23:55] mliu60 commented on #3526
@CodingCat Thanks. I'm aware of that issue, so I converted my test file to 0 indexed, but they still gives different scores.

[2018-07-28 23:56] hcho3 commented on #3526
@CodingCat Yes, the default is 0-based to keep backward compatibility. The thing is that you can find both 0-based and 1-based LIBSVM files in the wild.

[2018-07-28 23:57] CodingCat commented on #3526
@hcho3 yeah, I mean in this case, we not only need to update dmlc-core submodule but also need to patch language bindings to make take LIBSVM as 1-based optionally?

[2018-07-28 23:57] hcho3 commented on #3526
@mliu60 Can you post a re-producible example?

[2018-07-28 23:59] mliu60 commented on #3526
@hcho3
Here is the code I used
`package com.sift;

import java.io.IOException;
import java.util.Arrays;

import ml.dmlc.xgboost4j.java.XGBoostError;
import ml.dmlc.xgboost4j.scala.Booster;
import ml.dmlc.xgboost4j.scala.DMatrix;
import ml.dmlc.xgboost4j.scala.spark.XGBoost;
import ml.dmlc.xgboost4j.scala.spark.XGBoostModel;
import org.apache.hadoop.conf.Configuration;
import org.apache.hadoop.fs.F

[2018-07-29 00:02] hcho3 commented on #3526
@mliu60 Can you re-produce this issue with the mushroom dataset (found [here](https://github.com/dmlc/xgboost/tree/master/demo/binary_classification))? Alternatively, can you post the data snippet and the model? (We'll try to figure out something if your data is confidential)

[2018-07-29 00:12] CodingCat commented on #3526
@mliu60 @hcho3  we actually have a test case guarding this case https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostClassifierSuite.scala#L27

curious if it's caused by something else

[2018-07-29 00:37] hcho3 commented on #3526
@CodingCat In this case, updating dmlc-core submodule should be sufficient, since `indexing_mode` is being passed as a URL string to the dmlc-core LIBSVM parser.

[2018-07-29 00:40] mliu60 commented on #3526
@hcho3 Thanks for the update. So after you merge your patch, should I use Booster on one indexed format or zero indexed format.

[2018-07-29 00:44] hcho3 commented on #3526
@mliu60 You said

Did you feed the 1-based file into `loadLibSVMFile()`?

I'd say that it may be easier to stick with 1-based indexing, if you plan to use Spark.

[2018-07-29 00:50] mliu60 commented on #3526
@hcho3 I used 1-indexed file for training and evaluation using XGBoostModel. But I used 0-indexed file for evaluation using Booster. When evaluating using XGBoostModel, I loaded the 1-indexed file using `loadLibSVMFile`. When evaluating using Booster, I loaded the 0-indexed file directly into `DMatrix`. Hope this helps.

[2018-07-29 00:54] mliu60 commented on #3526
@CodingCat @hcho3 Also if I initialize `DMatrix` using raw float array, should I pass in a 1-indexed array and leave the 0th entry empty?

[2018-07-29 01:09] mliu60 commented on #3526
@hcho3 Just to make sure, `new DenseVector(lp.features().toArray())` will convert all feature vectors to 0-indexed, so my trained XGBoost model will be 0-indexed, correct?

[2018-07-29 01:58] hcho3 commented on #3526
Then it should work. I suspect there's another problem other than indexing. Can you post an example we can look at?

Keep in mind that you can always use raw float array to side-step the problem with 0-based vs. 1-based indexing.

[2018-07-29 02:10] mliu60 commented on #3526
@hcho3 I'm using a version published at early June, not the most up-to-date version. Is that a problem?

[2018-07-29 04:06] hcho3 commented on #3526
I think this is a bug. Can you post your data and model?

[2018-07-29 14:27] weishixuan opened #3528 "xgboost每次运行到这里就一直卡在这边，请问是不是触发了死循环啊"
![1532874412620](https://user-images.githubusercontent.com/23482645/43367378-8c27ddb8-937e-11e8-9fde-fc47872bad82.jpg)

[2018-07-29 16:00] hcho3 commented on #3528
Can you post this in English?

[2018-07-29 16:04] tqchen commented on #3528
please post normal questions in https://discuss.xgboost.ai/

[2018-07-29 16:04] #3528 closed

[2018-07-29 16:08] tqchen commented on #3523
Thanks for raising the discussion, can we move this to https://discuss.xgboost.ai/? I think the community would be more than happy to discuss this. As far as I know,  colsample_bytree will randomly shuffle the features before doing the selection.

[2018-07-29 16:10] neverfox commented on #3523
@tqchen Sure, I can do that. And yes, that's what I assumed it should be doing, but the issue I'm raising is that it doesn't appear to be.

[2018-07-29 23:01] CodingCat commented on #3526
in Spark version code, you set

[code]

and pass it to predict function, so that DMatrix is created by taking this as missing value

but in your booster code

you didn't set anything for missing and by default it is zero

=> not 100% sure as didn't check every detail, you can give it a try

[2018-07-30 01:09] CodingCat commented on #3370
@thesuperzapper any update on this?

[2018-07-30 01:13] CodingCat commented on #3470
any update on this?

[2018-07-30 01:18] CodingCat opened #3531 "[jvm-packages] missing functions of transformLeaf in latest version of XGBoost4J-Spark"
https://github.com/dmlc/xgboost/commit/2c4359e914ebdd76d5c22619cdad7213d29fa206#commitcomment-29803947

[2018-07-30 01:40] thesuperzapper commented on #3370
@CodingCat, sorry about the delay, haven't started the rewrite yet, was partially waiting for stability in the API, and partially extremely busy. I will give this a further look this week.

Are there any doc's yet for the new API structure?

[2018-07-30 01:49] CodingCat commented on #3531
it's actually in roadmap already

[2018-07-30 01:49] #3531 closed

[2018-07-30 02:03] CodingCat commented on #3370
@thesuperzapper  no problem,

the new API structure is very simple, it only contains the standard interface of Spark MLLIB transform and fit

all the other configurations like transform leaf, etc. is enabled by setting a column name

we have a undergoing tutorial in https://github.com/CodingCat/xgboost/pull/4

[2018-07-30 05:56] mliu60 commented on #3526
@CodingCat I double checked, the predict method in Booster does not have a missing value parameter, so is it a bug then? And the `DMatrix` constructor does not support passing a path and missing value.

[2018-07-30 13:03] tgb417 commented on #677
@gmanolache I did eventually get this installed.  However it has been more than a year and 1/2 ago.  I do not remember ALL the details that were needed to get this done.  However, I do remember working on this for several days on and off.

Anaconda seems to have recompiled versions for both Python and R.  If I was trying to do this today.  I’d likely do this through a package manager.  Other envir

[2018-07-30 13:12] hcho3 commented on #677
Here are the steps I use to compile XGBoost on my Macbook Pro:

1. Install GCC 7 with Homebrew: `brew install gcc@7`
2. Compile XGBoost using CMake:
[code]

[2018-07-30 14:47] WegDamit commented on #3230
Looks like a bug in the code:
[code]
colsample_bytree is a float, values between 0 and 1, and the check assumes an unsigned int.
so the float will always be 0 and the check fails...

(from https://github.com/dmlc/xgboost/blob/release_0.72/src/tree/updater_colmaker.cc)

i think the check should be on the product...

[2018-07-30 14:58] hcho3 commented on #3230
@WegDamit Thanks for the report. This is likely be a bug. Will have to check if `param_.colsample_bytree` is being implicitly being casted to zero. At any rate, it may be better to simply check the size of `feat_index_`.

[2018-07-30 15:20] CodingCat commented on #3526
.....in your own code

[code]

[2018-07-30 19:00] sgatamex commented on #3190
is it necessary to have data in libsvm format only for training and scoring ? 2- how do i load a model trained in python package into spark package for scoring

[2018-07-30 19:04] mliu60 commented on #3526
@CodingCat `XGBoostModel.predict` do support missing value, but `Booster.predict` does not.

[2018-07-31 04:33] hcho3 commented on #3402
@qwemicheal @RAMitchell @thvasilo @CodingCat I submitted a pull request to fix the issue. I'd like to merge it before the next regular release.

[2018-07-31 04:37] hcho3 commented on #3499
@trivialfis I think we'd need to modify `rabit` to work with MPI 3.0.

[2018-07-31 04:40] hcho3 commented on #3459
#3535 may fix this.

[2018-07-31 04:42] hcho3 commented on #3459
Actually, if you are using version 0.72, #3535 is unrelated. Never mind. Would you be able to provide us with sample data so that we can try to diagnose the problem?

[2018-07-31 05:25] softitova opened #3536 "Incorrect way throw tree"
* I have a model, with a first tree dump for one case
[code]

* I have feature f48 value ***0.00017065995780200002***
But I'm going into 270 leaf in the xgboost

[2018-07-31 05:36] hcho3 commented on #3536
Closing this as duplicate of https://discuss.xgboost.ai/t/incorrect-way-throw-tree/110. Let's keep the issue tracker for bug reports.

[2018-07-31 05:36] #3536 closed

[2018-07-31 06:00] hcho3 commented on #3526
@mliu60 Can you run the same example with #3535 applied?

[2018-07-31 06:41] wangzhilong opened #3537 "[jvm-packages] parameter objective given invalid value reg:tweedie"
when set the parameter `objective` as `reg:tweedie`,  get an error:

[code]

in the code, [https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/LearningTaskParams.scala](https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/LearningTaskParams.scala)

[code]

[2018-07-31 06:45] hcho3 commented on #3537
@CodingCat Is `reg:tweedie` not supported in distributed version?

[2018-07-31 07:25] hcho3 commented on #3230
@sramirez-stratio It's silly to apply locales to parameter values. We should look into using the C locale.

[2018-07-31 08:27] valek opened #3538 "Connect Error when trying to use xgboost4j-spark"
Hi there !

and thanks for this wonderfull work.

I'm currently trying master branch and I have the following problem :
* when I try to use XGboost-spark i get this :
[code]

I have also the same problem if I don't skip the tests while building.
Any idea on the reason ?

Thanks !
Julien

[2018-07-31 15:53] guptaaditya13 opened #3540 "loading pickle model is unstable as getting inconsistent prediction (10% abs. error)"
I saved the xgb regression model by pickle (protocol = 4). On loading the model by pickle and using .predict() it gives different output each time.

training parameters :
[code]
number of trees = 30
Saving model by
[code]

testing :
[code]
Output :
[code]

[2018-08-01 02:11] guotong1988 commented on #3371
THX...

[2018-08-01 03:26] guotong1988 commented on #3058
@superclocks I follow your blog, but

在成员函数‘virtual bool xgboost::data::SimpleCSRSource::Next()’中: 错误：‘batch_’在此作用域中尚未声明 错误：‘row_ptr_’在此作用域中尚未声明 错误：‘row_data_’在此作用域中尚未声明

[2018-08-01 04:00] guotong1988 commented on #3058
@superclocks I should use the 0.72 tag, not the latest master.
https://github.com/dmlc/xgboost/blob/v0.72/src/data/simple_csr_source.h

[2018-08-01 07:17] guotong1988 commented on #3058
@superclocks dead lock!!

[2018-08-01 07:40] tafka96 opened #3542 "Gradel: FileNotFoundException: File /lib/xgboost4j.dll was not found inside JAR."
I want to use xgboost in my gradle project.
I added the dependency:
compile group: 'ml.dmlc', name: 'xgboost4j', version: '0.72'

I get the FileNotFoundException: File /lib/xgboost4j.dll was not found inside JAR.

Am I missing something?

[2018-08-01 08:45] guotong1988 commented on #3058
edited `LazyInit` cause dead lock

[2018-08-01 12:01] guotong1988 commented on #3058
@superclocks
added this line
`pthread_mutex_init(&lock_,NULL);`
but get segmentfault

[2018-08-01 15:19] xavierburtschell opened #3543 "MultiThreading not working properly with version 0.71.2"
Hello,

I'm using xgboost in R/Rstudio desktop (latest versions for both as of 1st august 2018) on a dell laptop, windows 10, 4 cores 8 logical processor, 16 Go Ram. Since I updated xgboost to 0.71.2, it suddenly became very slow. After investigation, it appears it wasn't using multithreading/CPU properly: all cores were used, but it wouldn't go beyond 50-60% CPU usage, and the nthread input in pa

[2018-08-01 17:55] NamLQ opened #3545 "Error in slice.xgb.DMatrix(dall, folds[[k]])"
I got an error when subsetting the last row of an xgb.DMatrix that contains only 0 values. I am using the latest xgboost version.  Here are the reproducible errors:
[code]
[code]

[2018-08-01 18:59] hcho3 commented on #3542
Did you compile XGBoost4J yourself or are you getting JARs from somewhere else? For best results, you should download the XGBoost4J JAR from our Maven repo by adding the repository
[code]
(I'm not familiar with Gradle, so change this to corresponding Gradle configuration)

[2018-08-01 19:01] hcho3 commented on #3457
@18321171817 There is a watchlist feature in the works: #3544.

[2018-08-01 19:50] hcho3 commented on #2235
You can set `max_num_features` in `xgboost.plot_importance()`.

[2018-08-01 19:50] #2235 closed

[2018-08-01 21:33] hcho3 commented on #3457
Actually never mind. The linked PR was watchlist for XGBoost4J, not XGBoost4J-Spark.

[2018-08-01 22:06] tafka96 commented on #3542
I am getting the repo from maven central currently.
Anyways the gradle line "compile group: 'ml.dmlc', name: 'xgboost4j', version: '0.72'"  in maven would be:
[code]

Does this stay the same when using your repo?
I still get the same error when I added your repo to gradle, tough I am not sure the JAR is coming from your repo. It seems to me that the JAR is still the one in maven central.

In maven

[2018-08-01 22:08] hcho3 commented on #3542
Can you change the repository in Gradle?

[2018-08-01 22:09] CodingCat commented on #3542
eh....we do not have *.dll in the published jar....

[2018-08-01 22:10] CodingCat commented on #3542
you can download windows release from https://github.com/criteo-forks/xgboost-jars

[2018-08-01 22:12] hcho3 commented on #3542
@CodingCat Ah that was the issue. So the published JAR is Linux only?

[2018-08-01 22:13] CodingCat commented on #3537
as long as it uses approx tree to train it should support.....

that's the problem, sometimes the new object func is added and I didn't capture the PR and this list has been outdated

[2018-08-01 22:38] CodingCat commented on #3526
@mliu60 can you just try to change

[code]

to

[code]

see how it works?

[2018-08-01 23:41] gregsifr commented on #3459
Apologies however I am unable to share the data due to client privacy reasons. I am happy for you to close this issue for now and if I get this problem to repeat with a dataset I can share I will update this issue. Thanks for looking into it.

[2018-08-01 23:43] #3459 closed

[2018-08-02 00:56] MonsieurWave commented on #3375
Any news on this issue?

[2018-08-02 08:30] WegDamit commented on #3230
changing the locale to en_US or C and using a value of 0.8 helped, as using a value of "0,8".
But it affects only colsample_bytree not e.g. "learning_rate"...?

[2018-08-02 13:37] Malouke commented on #2235
thx

[2018-08-02 20:27] hcho3 commented on #3402
@thvasilo That would be great. Thanks!

[2018-08-03 06:43] suissemaxx opened #3549 "'XGBClassifier' object has no attribute 'DMatrix'"
Working with

- Mac OS X 10.11.6
- Conda 4.5.9
- Python environment 3.6.3
- pip installed XGBoost 0.72.1

all of a sudden I get this error:

in this line of code:

`dtrain = xgb.DMatrix(X_train, y_train, feature_names=columns)`

I imported with:

`import xgboost as xgb`
`from xgboost import XGBClassifier`

and could sucessfully use xgboost in my Jupyter notebook on the same project for quite a whi

[2018-08-03 06:47] hcho3 commented on #3549
I left my answer at https://discuss.xgboost.ai/t/xgbclassifier-object-has-no-attribute-dmatrix/123. We have a policy of keeping the issue tracker for bug reports. General questions should be posted at the user forum https://discuss.xgboost.ai/.

[2018-08-03 06:47] #3549 closed

[2018-08-04 08:02] dwroy opened #3550 "did jvm on spark now support nthread params?"

[2018-08-04 19:00] mliu60 commented on #3526
Fixing the missing value works, thx a lot guys!

[2018-08-04 19:50] #3526 closed

[2018-08-05 02:00] hcho3 commented on #3545
@NamLQ Thanks for your bug report. I managed to re-produce the same error on my laptop. One interesting thing I observed: using an index other than 6513 (the last row) does not generate any error. I think there is a problem in handling an empty row at the end of the matrix.

[2018-08-05 02:48] hcho3 commented on #3545
I submitted a fix for the error. Thanks for your report.

[2018-08-05 03:09] hcho3 commented on #3375
I'll take a look at it this weekend.

[2018-08-05 03:48] hcho3 opened #3554 "Shared lib very large (~ 100 MB) due to static linking of NCCL2"
@RAMitchell @teju85
I just noticed that, because of static linking of NCCL2, the GPU-enabled shared lib `libxgboost.so` becomes quite large (~100 MB). This is a problem, since there is a 60MB limit for binary wheels on PyPI: http://ilostmynotes.blogspot.com/2016/04/externally-hosting-pypi-python-packages.html

Is there a way to reduce the size of shared lib, e.g. by dynamic linking of NCCL2? If st

[2018-08-05 03:51] hcho3 commented on #3505
@zengxy You should try using the latest version. The bug exists for 0.72.1 but disappears for the latest. You can get an (unofficial) build of the master at [this link](https://xgboost-ci.net/job/xgboost/job/master/102/artifact/dist/linux_cuda8.0_omp_py2.7/py/dist/xgboost-0.72-py2.py3-none-any.whl).

[2018-08-05 04:27] RAMitchell commented on #3554
Suggest we upload a version without nccl to pypi for now. We could add this line to the Jenkins build matrix:
`[ "enabled": true,  "os" : "linux", "withGpu": true, "withNccl": False,  "withOmp": true, "pythonVersion": "2.7", "cudaVersion": "8.0" ],`

Would be good to investigate the causes of such large binaries. This seems unreasonably large.

[2018-08-05 06:14] trivialfis commented on #3554
Got curious. Tried to use dynamic linking, libxgboost.so is just 37M, while libnccl_static.a by itself is 77M.

[2018-08-05 06:36] hcho3 commented on #3505
It looks like the OP's script triggered an undefined behavior by using an incorrectly sized array for `set_base_margin()`. Since there are 3 data points and num_class=3, we'd need 3*3=9 entries in the base margin. I'll file a PR to check the length of base margin.

[2018-08-05 06:44] hcho3 commented on #3505
Also `set_base_margin()` should be moved after the `train()`, unless you want to set base margins for all training data (~150 data points).

[2018-08-05 07:25] hcho3 commented on #3485
Related posts: #3015, #1426.

The `predict()` method drops trees randomly even when you're not training. You'd need to explicitly set `ntree_limit=10` (for 10 iterations) so that no tree gets dropped:

[code]

[2018-08-05 07:28] hcho3 commented on #3540
Related posts: #3015, #1426, #3485

The `predict()` method drops trees randomly even when you're not training. You'd need to explicitly set `ntree_limit=30` so that no tree gets dropped:

[code]

We need a better way to inform `predict()` whether we are doing training or testing. Let me submit a pull request.

[2018-08-05 07:56] zengxy commented on #3505
I thought that `base_margain` is to indicate the bias of each class, so it is expected to be with a length of class_num. Thanks a lot and I'll have a try.

[2018-08-05 08:24] hcho3 commented on #3015
#3556 disables dropout for `predict()` so that all trees get evaluation at testing time. Dropout is only to be used at training time.

[2018-08-05 08:55] hcho3 commented on #3375
@MonsieurWave So far I am unable to re-produce the issue. Can you post your training script as well?

Here is my attempt:
[code]

[2018-08-05 09:17] hcho3 commented on #3230
Related: dmlc/dmlc-core#323

[2018-08-05 14:43] #3537 closed

[2018-08-05 17:14] #3505 closed

[2018-08-05 17:15] #3545 closed

[2018-08-05 17:17] #3485 closed

[2018-08-05 17:17] #3540 closed

[2018-08-06 01:33] gregsifr opened #3558 "Is training an XGBoost model on a GPU limited by the GPU's memory or can datasets bigger than the GPU's VRAM be trained on the GPU?"
I've searched for the above question and was not able to find any answers so I have posted this question to [stackoverflow](https://stackoverflow.com/questions/51699557/is-training-an-xgboost-model-on-a-gpu-limited-by-the-gpus-memory)

The reason why this question is important is that not everyone has a GPU and it is helpful to understand how important a GPU's VRAM is prior to making a purchase.

[2018-08-06 02:46] hcho3 commented on #3558
@gregsifr I left my answer at https://discuss.xgboost.ai/t/is-training-an-xgboost-model-on-a-gpu-limited-by-the-gpus-memory-or-can-datasets-bigger-than-the-gpus-vram-be-trained-on-the-gpu/126/2. Hope it helps.

Let's post all questions at the user forum https://discuss.xgboost.ai/. The issue tracker is to keep track of active bugs.

[2018-08-06 02:46] #3558 closed

[2018-08-06 03:25] Shiki-H opened #3559 "url in ranking demo not working anymore"
Microsoft moved all of its letor datasets onto OneDrive so the original script `wgetdata.sh` under `demo/rank` would not work anymore. I did find an alternative link [here](http://www.bigdatalab.ac.cn/benchmark/bm/dd?data=MQ2008) but I am not sure if this is a good solution.

[2018-08-06 03:57] hcho3 commented on #3559
It may be better to host it ourselves. Let me upload it to S3 and update the link.

[2018-08-06 08:08] xjqbest commented on #3211
can you explain...  I'm confused about it too
可以解释一下么，我也没搞懂...

[2018-08-06 08:25] guoyuhaoaaa opened #3561 "ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed"
my environment is spark 2.3.1.  I  build xgboost4j-0.80-SNAPSHOT.jar and  xgboost4j-spark-0.80-SNAPSHOT.jar from the least source and add them to the path /usr/local/spark/jars
when i run the xgboost-spark examples on zeppelin-0.8 , I got the following problems:
ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed
  at ml.dmlc.xgboost4j.scala.spark.XGBoost$.ml$dmlc$xgboost4j$scala$spa

[2018-08-06 13:55] olveirap opened #3562 "Bad link in documentation about mlogloss metric"
Hi! I was reading through the documentation about the eval_metric parameter here: https://xgboost.readthedocs.io/en/latest/parameter.html#learning-task-parameters and found out the link that explains Multiclass logloss isn't working. I couldn't find another link to suggest as a replacement. Any ideas?

[2018-08-06 19:32] MonsieurWave commented on #3375
@hcho3 : Thank you for your help!
Here is the part of my script responsible for training and which fails:

[code]

Here is the associated data again:
https://www.dropbox.com/sh/iu9evsluagxsu68/AABXOIqn8XrxepcKcacsPYxNa?dl=0

[2018-08-06 21:27] hcho3 commented on #3561
Do you have any more logs? The error was prior to the message "XGBoostModel training failed".

[2018-08-07 02:30] dentiny commented on #1884
It really works! Thanks for help!

[2018-08-07 04:14] Shiki-H commented on #3559
@hcho3 Cool. Thanks for the help. Closing the issue now

[2018-08-07 04:14] #3559 closed

[2018-08-07 05:31] hcho3 commented on #3562
I replaced the broken link. Thanks!

[2018-08-07 11:02] guoyuhaoaaa commented on #3561
@hcho3 Following are my complete log information when I run a Xgboost(0.72) on spark 2.3.1 using standalone mode with spark-submit command to run the demo.
18/08/07 10:25:32 INFO TaskSchedulerImpl: Adding task set 9.0 with 2 tasks
18/08/07 10:25:32 INFO TaskSetManager: Starting task 0.0 in stage 9.0 (TID 4817, 192.168.10.4, executor 0, partition 0, NODE_LOCAL, 8178 bytes)
18/08/07 10:25:32 INFO Ta

[2018-08-07 12:27] #3562 closed

[2018-08-07 20:19] hcho3 commented on #3561
This may come from having multiple incompatible Java/Scala library versions. You should consider using the pre-built JAR from Maven Central:
[code]

[2018-08-08 00:11] hcho3 commented on #3375
@MonsieurWave I was still unable to re-produce the error, even with your script.

[2018-08-08 04:07] alexwwang commented on #1238
@khotilov sorry to bother but I don't think this problem is solved with CSR.
My env is:
Ubuntu 16.04
Python 3.7.0
xgboost 0.72.1
scipy 1.1.0

This ValueError of features mismach still happened when I implement a sector of code according to the python example, with the use of CSR.

[2018-08-08 06:48] MonsieurWave commented on #3375
@hcho3 : That is strange.
I have reinstalled from source the latest master as specified [here](https://github.com/dmlc/xgboost/tree/master/python-package), however it is still failing with the same error, although the error output has changed slightly.

Here is the full output upon execution of the script now:

[code]

Complete environment:
xgboost version : 0.72
Python 3.6.4 with Anaconda 3
OS: U

[2018-08-08 08:42] guoyuhaoaaa commented on #3561
@hcho3
when I have tried using the pre-built JAR 0.72 from Maven Central, I obtain the following problems:
18/08/08 02:28:40 WARN TaskSetManager: Lost task 1.0 in stage 9.0 (TID 4818, 192.168.10.4, executor 0): java.lang.UnsatisfiedLinkError: /tmp/libxgboost4j3042139314680910057.so: libgomp.so.1: cannot open shared object file: No such file or directory
	at java.lang.ClassLoader$NativeLibrary.load

[2018-08-08 08:54] MonsieurWave commented on #3375
I have just tested on my local system, and it works fine there. Unfortunately running all the data locally is not an option for me...

xgboost version: 0.72
Python 3.6.4
OS: Mac OS X 10.13.6, Darwin Kernel Version 17.7.0

[2018-08-08 22:27] MonsieurWave commented on #3375
Have just tried on an Arch machine, where the same error occurs:
xgboost version: 0.72.1
Python 3.6.5 with Anaconda3
OS Kernel: Linux 4.16.11-1-ARCH

[2018-08-09 04:20] tovbinm opened #3570 "Booster prints into System.out"
Class `ml.dmlc.xgboost4j.java.Booster` prints into System.out:
[code]

Please consider using some standard logging facilities or remove the prints completely.

[2018-08-09 04:58] hcho3 commented on #3570
Sure. We'll gladly consider a pull request to eliminate System.out.

[2018-08-09 08:52] valek commented on #3538
Still the same problem with 0.8 version

I believe I have a problem with my network configuration ? Do I need to do something specific to configure this ?

[2018-08-09 09:06] valek commented on #3538
Poke @CodingCat may be ? ( as you seem to be one of the main dev of the xgboost4j package )

[2018-08-09 09:58] guoyuhaoaaa commented on #3561
@hcho3
Thank you. I have solved the problems on spark 2.3.1. But when I run the same code on the spark 2.1.1 , I meet some problems again.
10.20.0.32, executor 1): java.lang.ClassCastException: cannot assign instance of scala.collection.immutable.List$SerializationProxy to field org.apache.spark.rdd.RDD.org$apache$spark$rdd$RDD$$dependencies_ of type scala.collection.Seq in instance of org.apache.

[2018-08-09 13:39] liubin123456 opened #3571 "In the Windows environment, if you do not install Visual Studio, you cannot use xgboost correctly"
@hcho3  I can use xgboost to get the results correctly on a Windows computer with Visual Studio installed, but when I switch to another Windows computer without Visual Studio, I can't get the result correctly. I want to ask: Is it necessary to call xgboost? Visual Studio library, if so, what do you need? My code is written in java. Looking forward to your answer!

[2018-08-09 15:57] #3561 closed

[2018-08-09 17:06] #3570 closed

[2018-08-09 17:56] hcho3 commented on #3571
Can you be more specific? No, Visual Studio should not be needed to run the compiled XGBoost.

[2018-08-09 17:57] hcho3 commented on #3554
I guess I'll upload a wheel without NCCL to PyPI. We can self-host multi-GPU-enabled wheels.

[2018-08-09 20:01] hcho3 commented on #3554
Checkout out the artifact `dist/linux_cuda8.0_nonccl_omp_py2.7/py/dist/xgboost-0.72-py2.py3-none-any.whl` at https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-3567/21/artifacts.

[2018-08-09 20:01] #3554 closed

[2018-08-09 21:51] hcho3 commented on #3375
@MonsieurWave I tried your script on an EC2 instance with Ubuntu 16.04 and I couldn't reproduce the error. Without re-producing the error on my end, I cannot fix it.

Can you create either a VM image (VirtualBox) or AMI (on EC2) where the error is triggered?

[2018-08-09 22:37] hcho3 commented on #3538
What kind of cluster are you using now? Did you set up the cluster yourself or are you using a service? To avoid troubles with network configuration, consider using managed service such as [Amazon EMR](https://aws.amazon.com/emr/details/spark/).

[2018-08-10 03:45] tovbinm opened #3578 "Weird messages in stdout"
Howdy,

I have notices these Weird messages in stdout when using `XGBoostClassifier` from `xgboost4j-spark`:
[code]

Can any suggest where are they coming from? I would like to remove them if possible.

Thanks.

[2018-08-10 03:47] tovbinm commented on #3578
Update: I think these might be `TrackerConf` params? Below is the code I run:
[code]

[2018-08-10 13:52] dev7mt opened #3579 "XGBoost - hist + learning_rate decay memory usage"
Hey,

I have been trying to implement in my project eta_decay that's quite specific to my needs, but I kept running into OutOfMemory errors. After a bit of digging, I've found out, that setting learning rate, while using the "hist" tree_method seems to cause the same issue. It led me to believe that the callback itself is not the problem here.

I have tested this issue on multiple environments (tw

[2018-08-10 17:29] hcho3 commented on #3579
Is this problem confined to `tree_method=hist`? Did you try `exact` or `approx`?

[2018-08-10 19:55] dev7mt commented on #3579
I tried using the `approx` method, it works fine then. Although the results are worse and training takes more time. As mentioned in the code above (+ blue line on the plot):
[code]
I did not try the exact method.

[2018-08-10 20:08] hcho3 commented on #3579
Memory leakage may be probable. Let me look at it after 0.80 release.

[2018-08-10 22:06] cyrust opened #3580 "XGBRegressor fails check_estimator function of sklearn"
sklearn has a check_estimator function to test if estimators are written properly and follow sklearn convention. I tried it on XGBRegressor and it failed.

Attempting to run
`
from sklearn.utils.estimator_checks import check_estimator

print(check_estimator(XGBRegressor))
`
raises,

It would be nice if it was possible to comply with sklearn's recommended checks. Does anyone know of a quick fix to

[2018-08-11 22:28] hcho3 commented on #3495
@teju85 @RAMitchell Is there Windows version planned for NCCL2?

[2018-08-12 20:27] cyrust commented on #3580
I'll try to have a look at it.

[2018-08-13 04:25] bazhenov commented on #3465
There is also cases when SIGSEGV is generated during training.

[code]

[2018-08-14 00:49] trivialfis opened #3585 "Is Jenkins working correctly?"
Hi, the current build for #3548 on Jenkins failed and I really have no clue on what's happening. The PR  builds on Travis and I have good faith in Appveyor since it hasn't fail for a while now.  But on Jenkins, the build log shows that all those macros even comments in dmlc-core got messed up.

https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-3548/60/pipeline/59

Raw build log:

[2018-08-14 00:58] hcho3 commented on #3585
Let me look into it. I have physical access to the machine, so I can try compiling it manually.

[2018-08-14 05:07] hcho3 commented on #3585
It builds fine on the machine. This may be the workspace problem, something like one we had with FindGTest. I cleared the workspace and restarted the test.

[2018-08-14 05:32] hcho3 commented on #3585
Erasing the workspace did the trick. Your PR now compiles successfully. Once the tests pass, we can merge it.

[2018-08-14 05:32] #3585 closed

[2018-08-14 05:56] RAMitchell commented on #3585
Would be nice if we could automatically clear the workspace. I looked into this briefly before but it was not obvious how to do it.

[2018-08-14 06:47] ch11y opened #3586 "xgboost (0.80) multi gpu build from source (Could NOT find Nccl)"
Hello,

Anyone can help me with the following issue?
I just follow the instruction to build xgboost with mutiple gpu:
https://xgboost.readthedocs.io/en/latest/build.html.

I have also set the environmental variable by

LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/tmp/nccl_2.2.13/lib
export LD_LIBRARY_PATH
NCCL_INCLUDE_DIR=/tmp/nccl_2.2.13
export NCCL_INCLUDE_DIR
NCCL_LIBRARY=/tmp/nccl_2.2.13/lib
export NCCL_

[2018-08-14 08:56] trivialfis commented on #3585
Does the workspace has git? If so maybe we can do a git reset followed by a git clean?

[2018-08-14 14:21] WegDamit opened #3587 "compilation of master branch fails in alpine (docker)"
Observed the following error today (14.8), but same process worked yesterday (13.8.):

`g++ -c -DDMLC_LOG_CUSTOMIZE=1 -std=c++11 -Wall -Wno-unknown-pragmas -Iinclude   -Idmlc-core/include -Irabit/include -I/include -O3 -funroll-loops -msse2 -fPIC -fopenmp src/predictor/cpu_predictor.cc -o build/predictor/cpu_predictor.o
In file included from src/common/./host_device_vector.h:14:0,

[2018-08-14 14:28] hcho3 commented on #3587
Which version of GCC are you using?

@trivialfis Does your span class implementation comply with C++11 standard?

[2018-08-14 14:30] hcho3 commented on #3587
@WegDamit Also, can you try compiling branch release_0.80? This should help us isolate the cause

[2018-08-14 14:35] hcho3 commented on #3586
You should set NCCL_ROOT variable as an argument:
[code]

[2018-08-14 15:10] trivialfis commented on #3587
To my knowledge, yes. But I will look into it.

[2018-08-14 15:15] trivialfis commented on #3587
I think I know the problem now.  Will make a fix. Sorry for the mistake.

[2018-08-14 22:04] #3587 closed

[2018-08-15 02:42] ch11y commented on #3586
Thanks a lot @hcho3
It solves my problem. I will close this issue.

[2018-08-15 02:42] #3586 closed

[2018-08-15 05:25] hcho3 commented on #3571
Actually, XGBoost (compiled by Visual Studio) has dependency on vcomp140.dll. So either you'll have to install Visual C++ redistributable or manually copy vcomp140.dll.

[2018-08-15 05:40] hcho3 commented on #3571
Feel free to post future questions at the user forum https://discuss.xgboost.ai.

[2018-08-15 05:40] #3571 closed

[2018-08-15 06:33] Gabrielvon opened #3590 "'data/training.csv not found' in the kaggle-higgs demo."
It seems the 'data/training.csv' file is missing.

[2018-08-15 06:36] hcho3 commented on #3590
You will have to download the CSV file from Kaggle, since they put the file behind the login wall.

[2018-08-15 06:36] #3590 closed

[2018-08-15 08:10] jakob-r opened #3591 "[R] Parameter nround(s) in documentation"
The parameter to set the maximum number of boosting iterations is defined as `nrounds` in the R-Package.
However in the documentation they are multiple instances of where it is just used as `nround`.
This works because R is doing [argument matching](https://cran.r-project.org/doc/manuals/R-lang.html#Argument-matching).
Of course one can rely on it but it's not the best way and a bit confusing for

[2018-08-15 11:46] hcho3 commented on #3591
Thanks for your report. Yes, the documentation should be updated. We'll gladly consider a pull request that fixes the typo.

[2018-08-15 14:59] neverfox commented on #3523
Given the discussion [here](https://discuss.xgboost.ai/t/colsample-bytree-seemingly-not-random/106/7), should this be reopened? At least one other person confirmed the behavior. As for #3230, I don't seem to see that problem, as the values < 1 definitely have an effect other than 0, just not the expected one.

[2018-08-15 18:13] #3591 closed

[2018-08-16 06:52] pekaalto commented on #2979
I had the same problem and it disappeared when I excluded Kryo from xgboost dependency. i.e did this:
`"ml.dmlc" % "xgboost4j-spark" % "0.80" exclude("com.esotericsoftware.kryo", "kryo")`

[2018-08-16 08:39] sebastiangonsal opened #3593 "[Feature request] Docker image for distributed version of xgboost"
where is the docker for distributed version of xgboost?

Would it work with mpi?

[2018-08-16 10:24] adatum opened #3594 "Building for R with GPU support fails at cmake step"
I downloaded the tarball for xgboost-0.80 and followed the instructions for building for R with GPU support: https://xgboost.readthedocs.io/en/latest/build.html#installing-r-package-with-gpu-support

The `cmake` step fails with

[code]

However, if I clone the github repo, I don't have that failure.

[2018-08-16 11:25] WegDamit commented on #3587
great, thanks.
fix worked.
compile and build went fine.

So just for future reference:
This was inside an alpine 3.8.0 docker,  it's gcc (Alpine 6.4.0) 6.4.0

[2018-08-16 12:58] BlueTea88 commented on #3135
@hcho3 I've submitted a PR #3466 for this.  Any chance this issue could be re-opened?  Happy to make changes if required.

[2018-08-16 14:30] wendeson opened #3595 "error using custom evaluation function (setCustomEval) on spark"
I am trying to use a custom evaluation function (setCustomEval) on spark. However, it is giving the following error:

[ERROR] [08/16/2018 13:34:42.313] [RabitTracker-akka.actor.default-dispatcher-11] [LocalActorRefProvider(akka://RabitTracker)] guardian failed, shutting down system
java.lang.AssertionError: assertion failed
	at scala.Predef$.assert(Predef.scala:156)
	at ml.dmlc.xgboost4j.scala.rab

[2018-08-16 18:19] hcho3 commented on #3594
Did you get the tarball from the release section? Looks like the tarball didn't contain git submodule.

[2018-08-16 18:33] sebastiangonsal opened #3596 "distributed xgboost mpi examples"
Is there an example of running distributed xgboost on mpi

[2018-08-16 18:35] trivialfis opened #3597 "[Python] AttributeError: 'DMatrix' object has no attribute 'handle'"
Version: 725f4c36f26955d55baeb4c03f8ec955ca3cbaf3
Python: Python 3.6 virtualenv

The very first time I encountered the failure is on Travis test farm.  Doing nose tests locally reproduced it. In `test_dmatrix_numpy_init` there are some `assertRaises'`  The `ValueError` is thrown before `self.handle` is set.

I can rearrange the order of those code, but I don't know why this bug is not deterministi

[2018-08-16 18:58] hcho3 commented on #3596
The official documentation currently doesn't provide an example. Try posting at the user forum https://discuss.xgboost.ai/ to see anyone else has tried it. Again, contribution is welcome.

[2018-08-16 19:03] hcho3 commented on #3596
Consolidating to #3439. This issue should be re-opened when someone decides to write a tutorial with MPI.

[2018-08-16 19:03] #3596 closed

[2018-08-16 19:04] hcho3 commented on #3593
Consolidating to #3439. This issue should be re-opened when someone decides to actively work on creating Docker image for XGBoost.

[2018-08-16 19:04] #3593 closed

[2018-08-16 19:10] hcho3 commented on #3595
What's your cluster setup? And can you post your custom evaluation function?

[2018-08-16 19:18] Yiyiyimu opened #3598 "Use customized evaluation function but still evaluate on rmse"
Hi,

First of all, thank you so much for making xgboost available, it is so great!

The problem is, I try to use customized evaluation function in xgboost, but there is a built-in function listed at the front of the customized one. I also tried the the sample function in custom_objective.py, the result is the same, extra rmse would be at the front, so I'm not sure where is wrong.

I'm still fresh

[2018-08-16 19:30] wendeson commented on #3595
I have seven r4.2xlarge on AWS EMR and my spark-submit is:

spark-submit --driver-memory 15G --executor-memory 10G --conf spark.executor.cores=4 --conf spark.task.cpus=2 --conf spark.executor.extraJavaOptions=\"-XX:ThreadStackSize=41920\" --class Main Main.jar

I have tested this example custom evaluation and is not working -- > https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-ex

[2018-08-16 19:32] CodingCat commented on #3595
are you using akka-version rabit? can you try python one?

[2018-08-16 20:42] adatum commented on #3594
Yes, I got the tarball for release 0.80 and also tried 0.72 from the github release section.

[2018-08-16 21:02] wendeson commented on #3595
@hcho3, @CodingCat, thanks for the help.

I set now num-executors equal to 20 and execution continue freezing.

[2018-08-16 21:14] hcho3 commented on #3594
The tarballs from GitHub release section doesn't contain the submodules (e.g. dmlc-core). We should probably document this fact.

[2018-08-16 21:31] CodingCat commented on #3595
can you read this part:https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#gang-scheduling

and set a timeout threshold for resource claiming, I think somehow you didn't get enough resources for training

by setting this, your application should fail if not being able to get enough cores within your thresholding time (ms)

[2018-08-16 21:35] trivialfis commented on #3594
To build stuffs from tarball, dmlc-core needs to be properly released and xgboost needs to strict itself with the dmlc-core release scheme.  I patched xgboost to build all dependencies separately at v0.71 (with Python and without CUDA).  But that still require cloning dmlc-core.

https://github.com/trivialfis/guixpkgs

SInce XGBoost doesn't seem to have any desire to go into traditional distributi

[2018-08-16 21:42] hcho3 commented on #3594
@trivialfis Can you clarify this a bit? Do you mean that each release of XGBoost should be aligned with a particular release of dmlc-core? That would mean that each time XGBoost master gets an updated dmlc-core, there needs to be another release of dmlc-core. I think it may be easier to simply upload tarballs manually to Releases section. What I need to do is to simply checkout the git repo with `

[2018-08-16 21:50] trivialfis commented on #3594
@hcho3 Surely you are right.  It's just packagers from distributions frown upon bundled dependencies.  Your idea is perfect enough for other users.

[2018-08-16 21:56] hcho3 commented on #3594
I uploaded the tarballs for versions 0.71, 0.72, and 0.80. I plan to upload tarballs for future releases as well, since I do so anyway for PyPI.

@trivialfis Got it. Has there been a motion for XGBoost to be distributed in "traditional distributions" (I'm assuming you mean Homebrew, APT etc.)?

[2018-08-16 22:04] ccdtzccdtz commented on #1698
@thesuperzapper thanks for the instruction. I was able to follow your instruction to train/save xgboost model in pyspark. Any idea on how to access other xgboost model function like (scala)getFeatureScore()?

[2018-08-16 22:06] trivialfis commented on #3594
@hcho3 Sorry I don't know what others think, I don't have fellows who share my interest in related area.  But I don't think it's necessary to do it.  From what I can tell, many data scientists just import whatever come to mind in Python to glue a hundred lines script.

If such a requirement exists, I think you would have better sense than me since I am just toying with everything rather than "depl

[2018-08-16 22:26] #3597 closed

[2018-08-16 22:48] hcho3 commented on #3598
If you don't specify the parameter `eval_metric`, XGBoost will print RMSE by default. (The default metric depends on the task. For classification, the default metric is error.) This is the case even when the custom loss function is supplied.

And yes, currently, you cannot have colon inside the name of the custom evaluation function. We need to document this fact.

[2018-08-16 23:06] Yiyiyimu commented on #3598
@hcho3
Sorry to disturb again. But is there any way to set `eval_metric` to `None`? Because right now it is evaluated by RMSE.

[2018-08-16 23:13] hcho3 commented on #3598
@Yiyiyimu We'll have to modify C++ codebase to disable default evaluation metric. In particular, we need to modify these lines
https://github.com/dmlc/xgboost/blob/7c82dc92b20ac0bafe35f48f836d33be09d4bf4a/src/learner.cc#L406-L408
which adds a default metric if `eval_metric` is not specified. Is there a need for specifically disabling default metric?

[2018-08-16 23:27] BlueTea88 commented on #3135
@hcho3 It is ready for review now. Thanks

[2018-08-17 01:31] wendeson commented on #3595
Thank you, it's working now. However, the code that motivated me to test the custom evaluation function example  has same freeze problem. Below is the code that calculates the maximum KS (http://www.physics.csbsju.edu/stats/KS-test.html). Any suggestion?

[code]

[2018-08-17 02:05] #3598 closed

[2018-08-17 07:37] Yiyiyimu commented on #3598
@hcho3
Yes I think it's better to disable default metric when either eval_metric or feval is specified.

Besides, I didn't find other people meeting with this problem, is it because of the newest version?

[2018-08-17 13:31] hcho3 commented on #3598
This behavior is consistent with previous versions. For now, you can comment out the quoted lines.

This takes some work, since C++ code currently has no way of knowing whether feval is specified or not.

[2018-08-17 13:35] whitish opened #3604 "base_score error in XGBoost 0.8 and Spark 2.3.0"
scalaVersion := "2.11.8"
Spark version 2.3.0.
XGBoost version: 0.80 (`libraryDependencies += "ml.dmlc" % "xgboost4j-spark" % "0.80"`)
OS: Linux version 3.13.0-146-generic (buildd@lcy01-amd64-012) (gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.4) )

[code]

The error arises when building a pipeline, e.g.:

[code]

Error:
(Everything went well until step 'xgbClassifier')
[code]
And so on

[2018-08-17 17:20] pseudotensor opened #3605 "/root/repo/xgboost/src/common/././quantile.h:407: Check failed: nbig < n quantile: too many large chunk"
[quantile_dmlc.zip](https://github.com/dmlc/xgboost/files/2298122/quantile_dmlc.zip)

[code]
Ignore the non-standard parameters like ngenes, they don't affect anything.

[code]

@RAMitchell

[2018-08-17 17:39] hlbkin commented on #3586
@hcho3
Is there any way that this binary wheel successfully install on my machine (after Cuda 9.1 and all other required installations), however, only one GPU is used during learning? (I can see it in nvidia-smi)

[2018-08-17 18:30] hcho3 commented on #3598
@Yiyiyimu A work-around is to add new option `eval_metric=None` to explicitly suppress all evaluation metrics, including the default. Let me work on it.

[2018-08-17 19:47] hcho3 commented on #3598
@Yiyiyimu In #3606, I added a parameter `disable_default_eval_metric` with which you can turn off the default metric.

[2018-08-17 19:53] #3594 closed

[2018-08-18 03:10] adatum commented on #3594
@hcho3 Thanks, the tagged git repo and the new tarball you uploaded both work and cmake succeeds.

Note that I used `cmake .. -DUSE_CUDA=ON -DR_LIB=ON -DCMAKE_C_COMPILER=cuda-gcc -DCMAKE_CXX_COMPILER=cuda-g++` to specify the `gcc` and `g++` versions (6.4.0) suitable for CUDA v9.1.85, both installed from the [negativo repo](https://negativo17.org/nvidia-driver/) on Fedora 28 (which by default has g

[2018-08-18 03:53] hcho3 commented on #3594
@adatum Can you try running `R CMD INSTALL .` inside `/[PATH]/xgboost/build/R-package`?

[2018-08-18 03:58] adatum commented on #3594
[code]
What should the R-package directory contain?

[code]

[2018-08-18 05:01] hcho3 commented on #3594
It's weird how `R-package` is somehow empty. For now, copy `libxgboost.so` to `/[PATH]/xgboost/R-package/src` and run `R CMD INSTALL .` inside `/[PATH]/xgboost/R-package`

[2018-08-18 05:38] adatum commented on #3594
Did you mean to copy `xgboost.so` from `xgboost/build/R-package/src` to `xgboost/R-package/src`?

This worked to get the R package installed from `xgboost/R-package` with `R CMD INSTALL .` as you said.

However when I tried the `gpu_accelerated` demo I got an error:

[code]

Are there files in the `xgboost/build` directories that contain resources compiled with GPU support that also need to be cop

[2018-08-18 05:47] hcho3 commented on #3594
In your `xgboost` directory, can you find all `*.so` files?

[2018-08-18 05:54] hcho3 commented on #3594
Also, can you look at the compilation log to see if `nvcc` was invoked?

[2018-08-18 06:31] adatum commented on #3594
[code]
Which log file would you like me to search? I searched in `CMakeError.log` and `CMakeOutput.log` and found no mention of `nvcc`.

But I now believe building/making did not succeed (even though it mentioned 100% etc), since the error log contains:

[2018-08-18 13:30] hlbkin commented on #3586
@hcho3 Everything works fine! I just forgot n_gpus=-1.  xgboost-multigpu-0.80-py2.py3-none-manylinux1_x86_64.whl this one correctly use multiple GPU (after properly installing cuda 9.1 and NCCL2 matching versions).

Last question: Why using n_gpus=-1 still makes my 10 CPU cores to load fully? (100% load of all cores)

I used tree_method='gpu_hist' and predictor='gpu:reg:linear'.

Should I create s

[2018-08-18 16:36] hcho3 commented on #3594
Run `make clean` and then `make -j VERBOSE=1`. This will show all compilation flags used

[2018-08-19 00:51] adatum commented on #3594
With `VERBOSE=1` it shows that `/usr/bin/nvcc` was called several times, and the flag `-DNVCC` is used.

[2018-08-19 01:07] hcho3 commented on #3594
Can you post the full log of `make -j VERBOSE=1`?

[2018-08-19 01:09] hcho3 commented on #3586
Is CPU usage high when you set `n_gpu=1`?

[2018-08-19 02:25] hcho3 commented on #3594
Looks like `xgboost.so` should have all GPU objects linked in. (Notice that macro `XGBOOST_USE_CUDA` is being used. This is used to check GPU support.)  Can you run `nm -gC xgboost.so` and post the output? This should list all compiled symbols.

[2018-08-19 02:47] adatum commented on #3594
Output of `nm -gC xgboost.so`: https://gist.github.com/adatum/43a50b939a5cdfbab9adf63070d01bc8

[2018-08-19 02:51] hcho3 commented on #3594
So `xgboost.so` indeed contains all GPU code. Let's double-check XGBoost package installation. Can you locate where the XGBoost R package has been installed? Check if the `xgboost.so` file there is the same as the one found in `[PATH]/xgboost/build/R-package/src/xgboost.so`.

[2018-08-19 03:43] adatum commented on #3594
Thank you! Inexplicably, the `xgboost.so` in the R package installation was a different (smaller) size than the one in `xgboost/build/src/xgboost.so` with GPU support. With the larger (38.7 MB) file copied, the `gpu_accelerated` demo works.

Perhaps I incorrectly copied the file, though I'm puzzled at how that could be. In any case, most of the troubles here seem to be due to the R package buildin

[2018-08-19 03:50] hcho3 commented on #3594
@adatum Yeah, I don't think why the R installation process was giving you so much headache. Glad to hear that you got it to work finally. In the future, I'm hoping to find a way to make installation less painful.

[2018-08-19 07:48] pekaalto opened #3607 "Feature request: XGB-spark: Do train/test-split by column-values"
Hi,

Now we can already `setTrainTestRatio` in spark-xgb which is great. Currently, this splits all examples independently to train or test data.

However, many times there is some additional column what should be used in splitting train and test.

For example, assume that we are predicting purchase price and we have multiple observations per
one customer. Then we would like to do train/test split

[2018-08-19 11:01] hlbkin commented on #3605
I have the same issue. My params from hyperopt. Dataset is about (1m, 250 features). Running with 2x1080Ti, CUDA 9.1 and NCCL 2.1.15

 wide_params = {
        'n_estimators': hp.quniform('n_estimators', 100, 1000, 25),
        'eta': hp.quniform('eta', 0.005, 0.075, 0.005),
        'max_depth': hp.quniform('max_depth', 1, 9, 1),
        'min_child_weight': hp.quniform('min_child_weight', 1, 20, 1)

[2018-08-19 11:16] hlbkin commented on #3586
@hcho3
No, using n_gpus=1 gives only 1 process fully loaded. However, I now run into another trouble which is already mentioned in separate topic (https://github.com/dmlc/xgboost/issues/3605)

[2018-08-19 11:32] hlbkin commented on #3605
Update: Reducing dataset size to (500k, 250 features) for some reason does not return this message anymore and works fine now.
Just FYI what I noticed in nvidia-smi command run in console

Here is output during training before crash

| NVIDIA-SMI 396.51                 Driver Version: 396.51                    |
|-------------------------------+----------------------+----------------------+
| GPU

[2018-08-19 13:29] hlbkin commented on #3605
Update: this crash is clearly parameters dependent. I am running with hyperopt grid and sometimes it just crash randomly with different params. I will try to post results

[2018-08-19 14:49] hlbkin commented on #3586
BTW why don't you guys include wheel package into official instructions of GPU build so people do not try to search through issues on GPU build..

Also I wonder if my build of CUDA and NCCL on 18.04 ubuntu might also broke something or have any effect...(instead of using 16.04). Clearly some info on that and also which versions of NCCL and CUDA is doing STABLE job would be great.

[2018-08-19 15:15] hcho3 commented on #3586
@hlbkin Multi-GPU training needs to shuffle data through the main memory, so CPU has to be involved.

We do have instructions for binary wheels on top of Installation Guide: https://xgboost.readthedocs.io/en/latest/build.html. Feedback is welcome.

Are you referring to #3605?

[2018-08-19 15:38] hlbkin commented on #3586
@hcho3
Regarding MultiGPU shuffling it is clear, thanks a lot. However, is there a way to reduce CPUs usage to say some percentage of CPUs? Also is there any guidance where n_gpus>=2 for a single dataset training would give faster performance compared to single GPU? or it is purely empirical task and should be done separately for everyone on their own datasets?

I was just referring to the general

[2018-08-19 22:55] RAMitchell commented on #3605
@canonizer this looks like it is from quantile PR

[2018-08-20 02:08] chfe910 opened #3609 "use_buffer is not working"
The buffer file is not generated even if I set use_buffer=1 in the pred task.
And I also tried to save binary file as 'test.txt.buffer' manually by DMatrix.save_binary. Unfortunately, it still load instances from the original test file 'test.txt'.
If I delete the original test file 'test.txt', it will raise 'No such file' exception.
BTW, I clone the repo and build from root dir recently.
Could any

[2018-08-20 02:56] chfe910 commented on #3609
Yes, I'm using CLI. Is that the problem?

[2018-08-20 03:34] hcho3 commented on #3586
@hlbkin We started providing binary wheels only recently, so hopefully this would solve a lot of installation problems. The wheels are built with "old" environment (CentOS 6 for Linux, Windows Server 2008 for Windows, both with CUDA 8.0) so as to maximize compatibility. I'd wait and see if people are still having issues.

Yes, multi-GPU performance is dataset-dependent. In general, the use case of

[2018-08-20 03:45] chfe910 commented on #3609
Do you mean "test:data=mau_instances/test.txt.buffer" ? It's also not working. It raise "unsupported file version" exception.

[2018-08-20 03:58] hcho3 commented on #3609
I can't reproduce the problem using latest master. Can you post the full log? When using Python to save binary buffer files, ensure that you are using the same version as the `xgboost` executable, by setting `PYTHONPATH`:
[code]

[2018-08-20 04:04] hcho3 commented on #3609
I also tried creating binary buffers with version 0.72 and running training with version 0.80. I was still unable to re-produce the problem.

[2018-08-20 07:36] hlbkin commented on #3586
@hcho3
Thanks a lot, your answers are very helpful. Binary wheels are very helpful. BTW might the fact that it was built with CUDA 8.0 technically lower the performance compared to building with latest 9.2 and latest NCCL?
Another question is more about architecture of production code. What is relatively good practice for handling situation where you run your dataset and it automatically decide to

[2018-08-20 08:15] hlbkin commented on #3605
@RAMitchell is it realted to new 0.8 build? @hcho3 Maybe you can also add 0.72 binary wheels for multi/single GPUs versions so that people can use it until this is fixed (wheels helps a lot!)

[2018-08-20 08:27] thesuperzapper commented on #1698
@ccdtzccdtz currently I am rewiring the pyspark wrapper since 0.8 had massive changes to the Spark API, when finished, I aim to have feature parity with the Spark Scala API.

I did not expose the native booster method in my initial pyspark wrapper, but if you use the Spark Scala API, you can call  `xgboost_model_object.nativeBooster.getFeatureScore(` and use it like normal.

[2018-08-20 09:29] hlbkin opened #3611 "Tree method is selected to be 'hist', which uses a single updater grow_fast_histmaker."
Hi.

Running latest 0.8 version built from wheels.

Is it valid for "tree_method": "hist" to use only single updater? Would adding "prune" to updaters manually make quality better in general? (out of sample)

Thnx

[2018-08-20 16:12] hcho3 commented on #3611
The 'hist' updater internally calls 'prune' updater. The reason for doing this is that 'hist' updater knows about modification made by 'prune' updater. This is an implementation detail. If you're really curious about it, shoot me an e-mail to schedule a short video chat.

[2018-08-20 16:12] #3611 closed

[2018-08-20 16:14] hcho3 commented on #3605
@hlbkin There is already a binary wheel for 0.72.

[2018-08-20 16:15] hcho3 commented on #3605
@hlbkin There's already a binary wheel for 0.72 as well.

[2018-08-20 17:42] Yiyiyimu commented on #3598
@hcho3
Thank you so much for your help!! But there is still some problems.

I cloned and installed the newest version, but it's seems not working. The code and results are listed below.
[code]

I still can't find which place is wrong, and sorry to disturb again.

[2018-08-20 17:51] hcho3 commented on #3598
@Yiyiyimu Did you re-compile XGBoost? Run `make -j` again

[2018-08-20 17:52] pseudotensor opened #3612 "/root/repo/xgboost/src/linear/../common/device_helpers.cuh(872): an illegal memory access was encountered Aborted (core dumped)"
[illegal.zip](https://github.com/dmlc/xgboost/files/2303434/illegal.zip)

In GLM.

@RAMitchell

[code]

[2018-08-20 18:05] pseudotensor commented on #3612
Overall happens about 5% of the time for various datasets.

[2018-08-20 18:13] Yiyiyimu commented on #3598
@hcho3 Sorry, I'm not sure what does `make -j` and re-compile means.
What I did is, in anaconda prompt, `pip uninstall xgboost` and `python setup.py install`, and re-run the jupyter notebook, and it didn't work out.

[2018-08-20 21:38] weitian opened #3613 "[xgboost4j-spark] the updateCheckpoint(...) in CheckpointManager is wrong"
Here is the code pieces:

  private[spark] def updateCheckpoint(checkpoint: Booster): Unit = {
    val fs = FileSystem.get(sc.hadoopConfiguration)
    val prevModelPaths = getExistingVersions.map(version => new Path(getPath(version)))
    val fullPath = getPath(checkpoint.getVersion)
    logger.info(s"Saving checkpoint model with version ${checkpoint.getVersion} to $fullPath")
    checkpoint.saveM

[2018-08-20 21:43] CodingCat commented on #3613
thanks for reporting this

it's a bug, we need a wrapper to wrap booster binaries and save it to HDFS

[2018-08-20 21:50] CodingCat commented on #3613
or we should as simple as using checkpoint.save(stream) to resolve it

[2018-08-20 21:53] Yiyiyimu commented on #3598
@hcho3 Thank you! I followed the document to compile xgboost, but it's still the same, evaluated on rmse. Is there something else I can show to you to let you know where could be the problem?

[2018-08-20 22:03] hcho3 commented on #3598
Looks like your Python is picking up an older version of XGBoost. Try setting `PYTHONPATH` explicitly:
[code]
to make sure that the latest master version is being used.

[2018-08-20 22:29] weitian commented on #3489
the sortBy() on large dataset is very expensive, and it does not keep the order for the items within the same group.

I used a wrapper class to take the group of training data, and partition on that to workaround the problem.
I have plan to make it more generic and submit a PR later.

Instead of XGBLabeledPoint, I use the following data structures:
  case class IndexedFeaturePair(key: Short, value

[2018-08-20 22:34] hcho3 commented on #3489
@weitian

I have plan to make it more generic and submit a PR later.

That would be very nice. Thanks!

[2018-08-21 07:11] worldwar2008 opened #3615 "[xgboost4j-spark] The program is suspended at the step of cleaned accumulator."
I run the demo followed by the tutorial in https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html

But it suspended at the step of "Cleaned accumulator 225".
What's the problem?

Spark version=2.3
Xgboost version=0.8

-----------------log--------------------------------------------
18/08/21 14:56:25 INFO RabitTracker$TrackerProcessLogger: Tracker Process ends with exit code 1
T

[2018-08-21 07:26] worldwar2008 commented on #3470
any update on this? I have the same problem when I followed the tutorial https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html

[2018-08-21 07:51] olbapjose commented on #3470
As I said, I fixed it by fitting 5-depth trees.

Later I also discovered that, when Mesos does not give my job the exact number of executors I want (despite setting SPARK_CORES_MAX and SPARK_EXECUTOR_CORES explicitly), the training part never starts because in those situations I get less executors than the number I passed as the N_WORKERS option. If both do not match, it remains running but doing

[2018-08-21 07:57] pvillacorta-stratio commented on #3470
(Sorry for my double identity haha)

As I said, I fixed it by fitting 5-depth trees.

Later I also discovered that, when Mesos does not give my job the exact number of executors I want (despite setting SPARK_CORES_MAX and SPARK_EXECUTOR_CORES explicitly), the training part never starts because in those situations I get less executors than the number I passed as the N_WORKERS option. If both do not

[2018-08-21 08:56] yananchen1989 opened #3616 "local variable 'lib' referenced before assignment"
When I import xgboost in ipython of Anaconda, there comes the error:
[code]
Any solutions ?

[2018-08-21 13:30] liubin123456 commented on #3571
Hi we built "xgboost4j.dll" and the corresponding jar on windows platform successfully. The ''jar" package runs very well on every computer where the visual studio is installed.But if the visual studio isn't installed on the computer(windows platform),the java project is failed to build and shows the exception:can't find dependent libraries xgboost4jXXXXXXX.dll(XXXXXXX is random number).Why the vi

[2018-08-21 13:31] liubin123456 commented on #3571
@hcho3 Hi we built "xgboost4j.dll" and the corresponding jar on windows platform successfully. The ''jar" package runs very well on every computer where the visual studio is installed.But if the visual studio isn't installed on the computer(windows platform),the java project is failed to build and shows the exception:can't find dependent libraries xgboost4jXXXXXXX.dll(XXXXXXX is random number).Why

[2018-08-21 13:37] hcho3 commented on #3616
Did you install from the source, or did you run `pip install xgboost`?

[2018-08-21 13:44] hcho3 commented on #3571
@liubin123456 See my previous reply. You'll need to find vcomp140.dll and include it in your JAR.

[2018-08-21 14:26] yananchen1989 commented on #3616
@hcho3  I just use pip install method, without any other operations.

[2018-08-21 14:31] hcho3 commented on #3616
Can you describe the OS environment? The binary wheel was built using CentOS 7.

[2018-08-21 14:45] yananchen1989 commented on #3616
I also tried the 'make -j4' method as the official docs said.
My os is
NAME="Ubuntu"
VERSION="14.04.5 LTS, Trusty Tahr"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 14.04.5 LTS"
VERSION_ID="14.04"

[code]

[2018-08-21 14:54] #3609 closed

[2018-08-21 15:02] hcho3 commented on #3616
Under the `lib/` directory, you should be able to find the shared library `libxgboost.so`. Now in Python shell, try running
[code]
What do you get?

[2018-08-21 15:06] moseshu opened #3617 "LabeledPoint"
where is the  LabeledPoint class? I did't not find it in package ml.dmlc.xgboost4j

[2018-08-21 15:11] hcho3 commented on #3617
Here it is: https://xgboost.readthedocs.io/en/latest/jvm/scaladocs/xgboost4j/index.html#ml.dmlc.xgboost4j.LabeledPoint

[2018-08-21 15:11] #3617 closed

[2018-08-21 15:15] CodingCat commented on #3615
`Tracker started, with env={}` indicates your worker nodes cannot establish connection to the node where you run rabit tracker,

you need to ensure that local host ip is set correctly and is accessible by others

[2018-08-21 16:09] kavon commented on #3303
This example is not quite right from my experience, as it leads to segfaults when loading.

You need to initialize `h_booster1` before loading using `XGBoosterCreate`, etc.

[2018-08-21 16:18] kylecampbell commented on #2334
If model was trained using dataframes then the following may help.

When predicting on entire dataframe:
This works, model.predict(df[predictors])

When making a single prediction from dataframe:
model.predict(df[predictors].iloc[-1])
Returns feature_mismatch errors like mentioned above, missing f0, f1, ...
This works, model.predict(df[predictors].iloc[[-1]]
Note the iloc row is in double brackets

[2018-08-21 17:09] weitian commented on #3489
The repartition on RDD[XGBLabeledPoint] also has another issue that it does gurantee to keep the items within the same group in the same partition after repartitioning.

[2018-08-21 19:01] iwen-kang opened #3620 "[jvm-packages] xgboost4j-spark 0.8: customized objective function "obj_type" error"
Similar to the example code in https://github.com/dmlc/xgboost/issues/3468, attached please find my testing code:

import ml.dmlc.xgboost4j.scala.{Booster, DMatrix, EvalTrait, ObjectiveTrait}
import ml.dmlc.xgboost4j.scala.spark.XGBoost
import ml.dmlc.xgboost4j.scala.spark.XGBoostClassifier
import org.apache.spark.sql.SparkSession
import org.apache.spark.SparkConf
import java.io.File
import java.i

[2018-08-21 19:34] #3613 closed

[2018-08-21 20:30] wsobra commented on #3595
When I use the KSEvaluation function happens this (I set a timeout threshold for resource claiming and I am using python):
[code]

[2018-08-21 21:28] CodingCat commented on #3620
known issue, fix coming

[2018-08-21 21:41] CodingCat commented on #3620
@mmui will give a fix soon

[2018-08-21 21:43] CodingCat commented on #3595
18/08/21 18:21:55 INFO RabitTracker$TrackerProcessLogger: 2018-08-21 18:21:55,868 DEBUG Recieve recover signal from 12

this is suspicious, can you track any of your executor die? or even did you turn on something like dynamic allocation?

[2018-08-22 01:30] jacoblovatt1987 opened #3621 "XGBoost hangs in R when calling xgb.DMatrix - C++ .Call(XGDMatrixCreateFromMat_R, data, missing)"
When using xgboost via MLR in Rserve (https://github.com/s-u/Rserve) if Rserve is loaded in what I called a "primed environment" where at Rserve startup a number of predictions have been run to "prime" the environment, when a new connection comes in and Rserve forks, the prediction for xgboost hangs.

This does not happen for other algorithms (I've tested lda, C50 etc.).

When debugging it appears

[2018-08-22 02:10] yananchen1989 commented on #3616
@hcho3
[code]

[code]

[2018-08-22 02:10] trivialfis opened #3622 "Python panda test failed."
commit: 4912c1f9c60373712f11388525bde31a838bc228
Python: 3.6 vertualenv
pandas: 0.23.4
numpy:  1.15.0

Failed in this test:
https://github.com/dmlc/xgboost/blob/4912c1f9c60373712f11388525bde31a838bc228/tests/python/test_with_pandas.py#L125
The actual result has 'train-*' sorted before 'test-*'.

I tried to go into training code and found this:

https://github.com/dmlc/xgboost/blob/4912c1f9c6037371

[2018-08-22 02:10] yananchen1989 commented on #3616
By the way, I have installed anaconda firstly.

[2018-08-22 02:37] hcho3 commented on #3616
Are you using 32-bit system?

[2018-08-22 02:38] hcho3 commented on #3616
Or is your Python 32-bits?

[2018-08-22 02:39] yananchen1989 commented on #3616
@hcho3  Linux a21-14 4.4.0-133-generic #159~14.04.1-Ubuntu SMP Fri Aug 10 08:17:48 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2018-08-22 02:40] hcho3 commented on #3621
Does your process fork? It won't play nicely with multithreading code, which `XGDMatrixCreateFromMat` may be. Try setting environment variable `OMP_NUM_THREADS=1`

[2018-08-22 02:42] yananchen1989 commented on #3616
Python 2.7.15

[2018-08-22 02:44] hcho3 commented on #3616
Run
[code]
to see if your Python is 32-bit or 64-bit?

[2018-08-22 02:50] yananchen1989 commented on #3616
32 bit  @hcho3

[2018-08-22 02:55] hcho3 commented on #3616
Got it. You'll have to uninstall your current Anaconda and install the 64-bit Anaconda. Your Python is compiled for 32-bit and thus cannot load `libxgboost.so`, which is 64-bit.

[2018-08-22 02:56] hcho3 commented on #3616
I will submit a pull request to display a better error message.

[2018-08-22 03:01] yananchen1989 commented on #3616
@hcho3  I have installed 64-bit anaconda now.
I go to the path of xgboost execute `make -j4`
[code]

What should I do? remove the xgboost folder and git clone again ?

[2018-08-22 03:02] yananchen1989 commented on #3616
New python version: Python 3.6.5

[2018-08-22 03:03] hcho3 commented on #3616
You should be able to run `pip install xgboost` now

[2018-08-22 03:06] yananchen1989 commented on #3616
@hcho3  Thanks. Works fine.

[2018-08-22 03:08] #3616 closed

[2018-08-22 06:06] jacoblovatt1987 commented on #3621
Thank you, this change appears to fix the hanging issue.

[2018-08-22 07:17] yananchen1989 opened #3623 "Segmentation fault when using GPU"
[code]

GPU is tested by benchmark and it can work normally.
But when I tried this code above, the program failed with the error `Segmentation fault`. No other message come out.
And when I get rid of the gpu setting:
[code]
The programme also failed with much error:
[code]
.....
(too many to display)
....
[code]

My xgboost  version is 0.72.

[2018-08-22 07:58] lorenzwalthert commented on #3046
I seem to have the same issue. Why was this issue closed again?

[2018-08-22 08:03] yananchen1989 commented on #3623
When I replace
[code]
with
[code]
New error comes out as
[code]
My data set is big and how to train the data thru GPU? Thanks.

[2018-08-22 12:38] hcho3 commented on #3623
Did you try using the latest version (0.80)?

[2018-08-23 02:25] yananchen1989 commented on #3623
@hcho3
I have update xgboost to 0.80 .
The machine has 126G RAM. the training and testing dataset has the same size of 25G which is organized as libsvm format. There are 4000 features (columns) .
But the same error as with 0.72:
if I use external memory version: `Segmentation fault`
if I use in memory version: ```
terminate called after throwing an instance of 'thrust::system::system_error'
  what

[2018-08-23 02:26] yananchen1989 commented on #3623
`max_bin` is set to 100.

[2018-08-23 02:29] hcho3 commented on #3623
I don't think it is possible to train with data that exceeds the GPU memory.

@RAMitchell I thought we disabled external memory for GPU algorithms?

[2018-08-23 02:34] yananchen1989 commented on #3623
@hcho3  I am trying to cut the data to small size and test the methods above.
[code]
It is OK now. GPU memory usage is `9417MiB / 22919MiB`.

[2018-08-23 02:37] yananchen1989 commented on #3623
The external memory version test:
[code]
Error comes out in the same way: `Segmentation fault`

[2018-08-23 02:39] hcho3 commented on #3623
I don't think external memory is supported by GPU algorithms. Make sure that your data fits into the GPU memory. (If you have multiple GPUs, you can use more memory with `n_gpu=-1`.)

[2018-08-23 02:39] #3623 closed

[2018-08-23 02:41] yananchen1989 commented on #3623
Sure. So firstly I should not use the external memory method. Secondly, I should make sure that the training set (not include test set) can fit into the GPU memory (22G here).
If I use two GPUs, the max size for training can be 22*2=44G here.
Is that right ?

[2018-08-23 02:43] hcho3 commented on #3623
Yes, that's right. Let me add a better message so that GPU algorithms won't attempt to use external memory

[2018-08-23 02:46] yananchen1989 commented on #3623
Thanks. Hope external memory version will get GPU support.

[2018-08-23 02:57] QiujieDong opened #3625 "Xgboost error with GPU on Ubuntu16.04"
I installed xgboost with GPU on Ubuntu16.04 according to https://xgboost.readthedocs.io/en/latest/build.html, but when I run the code, I get an error:
**terminate called after throwing an instance of 'thrust::system :: xgboost with GPU on Ubuntu16.04
What(): function_attributes(): after cudaFuncGetAttributes: invalid device function**

When I only use xgboost with CPU on Ubuntu16.04, the program w

[2018-08-23 03:09] hcho3 commented on #3625
Did you compile XGBoost yourself, or did you run `pip install xgboost`?

[2018-08-23 03:12] QiujieDong commented on #3625
I installed xgboost with GPU on Ubuntu16.04 according to https://xgboost.readthedocs.io/en/latest/build.html.

I don not use pip install xgboost.

[2018-08-23 03:15] hcho3 commented on #3625
I think the problem is that your card is relatively old. You should change the line
https://github.com/dmlc/xgboost/blob/4ed8a882405dc5bbfb6cb099a075b8dcdeedecc2/cmake/Utils.cmake#L65
to
[code]
and re-compile XGBoost. Let me know how it goes.

[2018-08-23 03:30] QiujieDong commented on #3625
@hcho3
Re-compile means I run again:
cmake .. -DUSE_CUDA=ON
make -j
cd python-package
sudo python setup.py install

[2018-08-23 03:36] QiujieDong commented on #3625
@hcho3

qiujiedong@qiujiedong:~/anaconda3/lib/python3.6/site-packages/xgboost/build$ make -j
[  7%] Built target rabit
[ 23%] Built target dmlc
[ 25%] Building NVCC (Device) object CMakeFiles/gpuxgboost.dir/src/tree/gpuxgboost_generated_updater_gpu_hist.cu.o
[ 26%] Building NVCC (Device) object CMakeFiles/gpuxgboost.dir/src/common/gpuxgboost_generated_hist_util.cu.o
[ 27%] Building NVCC (Device) o

[2018-08-23 03:43] hcho3 commented on #3625
Can you change the line
https://github.com/dmlc/xgboost/blob/4ed8a882405dc5bbfb6cb099a075b8dcdeedecc2/cmake/Utils.cmake#L65
to
[code]
(replacing 21 with 20)

[2018-08-23 03:47] QiujieDong commented on #3625
@hcho3

Yes . I have changed  ,then re-compile xgboost.

function(format_gencode_flags flags out)
  # Set up architecture flags
  if(NOT flags)
    if((CUDA_VERSION_MAJOR EQUAL 9) OR (CUDA_VERSION_MAJOR GREATER 9))
      set(flags "35;50;52;60;61;70")
    else()
      set(flags "21;35;50;52;60;61")
    endif()
  endif()

[2018-08-23 03:51] QiujieDong commented on #3625
The problem occurs when I run ：make -j

[2018-08-23 04:07] hcho3 commented on #3625
@QiujieDong It appears that the XGBoost code does not work with your GPU. Consider upgrading your GPU to compute capability 3.5 or higher. Alternatively, you can use cloud providers (e.g. AWS) that provide GPU-capable instances.

[2018-08-23 04:07] #3625 closed

[2018-08-23 04:07] hcho3 commented on #3625
I will go ahead and document the compute capability requirement.

[2018-08-23 07:45] hlbkin commented on #3605
Checked with 0.72 multigpu wheel, works perfectly, this bug never occur on same dataset

[2018-08-23 08:03] nexemjail opened #3627 "Add validate_features parameter to sklearn API"
Hi!

Currently, in sklearn API features are validated by default.

It would be great to add `validate_features` as a parameter to `predict` and `predict_proba` methods that are passed to booster `predict` in order to gain more control over performance on inference.

Thank's

[2018-08-23 08:07] pseudotensor commented on #3605
@hlbkin  Likely just concidence of randomness, not about whether bug is fixed or not

[2018-08-23 11:11] moseshu commented on #3617
thank you so much.I found it. do you have the xgboost algorithm which is implemented only by  java or scala? Because I don't know C language

[2018-08-23 12:52] canonizer commented on #3605
Looking into this.

[2018-08-23 14:47] hcho3 commented on #3617
No, we don't. The algorithm has been implemented in C++ to maximize performance.

[2018-08-23 16:32] canonizer commented on #3605
https://github.com/dmlc/xgboost/pull/3628 should fix this.

[2018-08-23 23:01] CodingCat commented on #3620
@mmui any update on this?

[2018-08-23 23:46] Tumpsh opened #3629 "Cannot supply my own folds for xgb.cv"
When I try to supply my own list of vectors containing indices for folds, the same way you would get from a function like rBayesianOptimization::KFold, I am getting the error:

 Error in slice.xgb.DMatrix(dall, unlist(folds[-k])) :
  [16:42:25] amalgamation/../src/c_api/c_api.cc:532: Check failed: static_cast<xgboost::bst_ulong>(ridx) < batch.Size() (2504 vs. 2472)

The only difference I can think

[2018-08-24 09:46] xuchaoqun opened #3631 "[jvm-packages] xgboost4j 0.80 early stopping"
In class XGBoost.java, method 'train', the early stopping logic is too simple, if any criterion value is greater than that before, stop it.  But when evalMetric is 'auc', the stop condition must be reversed. So this code has not been finished yet?
[code]

[2018-08-24 12:31] alexwwang commented on #3616
I met the same problem under venv in [python:3.6.6-slim docker image](https://github.com/docker-library/python/blob/8350b865d28bc0f4a05111398392ec701d449058/3.6/stretch/slim/Dockerfile).
Neither compile to install nor pip install, it does not work and give out this error.
Seems it's not a problem of 32-bit in this situation.

[2018-08-24 15:39] CodingCat commented on #3631
I think we need a parameter passed in that paramBag to indicate which direction we prefer when doing early stopping

[2018-08-24 15:39] #3615 closed

[2018-08-24 16:04] weitian commented on #3489
1. The random split code for train and test dataset in object Watches also break the group.
2. This line "val (trainIter1, trainIter2) = trainPoints.duplicate" to generate group data may cause memory issues with large dataset. Scala Iterator does lazy-evaluation, but duplicated iterator may force it to cache data between the gap of the two iterators. see https://www.scala-lang.org/old/node/4943

I

[2018-08-24 16:51] CodingCat commented on #3595
can you give more logs on those active executors? somehow your xgboost workers sent recover signal to tracker but in driver side I didn't see any log indicating task fail

and if you turn off early stopping, is the problem still there?

[2018-08-24 17:30] wsobra commented on #3595
Yes, If I turn off early stopping It works.  I think that the problem happens when a worker stops according to stop criterion. Other workers is not stoping and they want continue. When use a default metric it doesn't happen. All workers stop the same time.

[2018-08-24 17:39] weitian opened #3633 "[jvm-packages] race-condition when using useExternalMemory for XGBoost4J-Spark"
Spark executor runs within a container (YARN container, or docker container, etc.).
With useExternalMemory, XGBoost writes cache files into the local disk of the container.

It clears the cache file after training is done: https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoost.scala#L145

I run into a race condition if some con

[2018-08-24 17:40] weitian commented on #3633
Maybe there is no need to delete the cache files since they are always gone automatically when container is destroyed anyway.

[2018-08-24 20:38] CodingCat commented on #3633
https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoost.scala#L145 is async method?

[2018-08-24 21:18] mmui commented on #3620
@CodingCat @iwen-kang yep this is due to obj_type not being handled properly in a number of places e.g. LearningTaskParams. Testing my fix right now, creating a PR for this today.

[2018-08-24 21:19] weitian commented on #3633
Maybe the IO ops: https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoost.scala#L302 is async.

If I commented out the delete part, no exceptions in the log.

[2018-08-25 11:34] wsobra commented on #3595
@CodingCat , To better understand what is happening, I have modified the following lines in XGBoost.java:
[code]

When I use a metric as the AUC or any other metric available for the xgboost, the behavior is this in the first log. The evaluation is done using all validation set. Notice that each worker's response is the same. When I use a custom metric, the response for each worker is different, b

[2018-08-25 19:41] hcho3 commented on #3616
@alexwwang Can you run
[code]

[2018-08-26 03:47] alexwwang commented on #3616
I am so confused by the result as shown in the screenshot.

![image](https://user-images.githubusercontent.com/856746/44624635-bc218e80-a925-11e8-876a-3ab96bbe9550.png)

[2018-08-26 03:56] alexwwang commented on #3616
even failed with the so file under python package dir:
![image](https://user-images.githubusercontent.com/856746/44624681-0ce5b700-a927-11e8-92f7-34f159fdc20a.png)

[2018-08-26 04:26] hcho3 commented on #3616
[code]
It looks like `libxgboost.so` is missing. XGBoost uses OpenMP for multi-threading. Try installing [libomp-dev package](https://packages.debian.org/stretch/libomp-dev).

[2018-08-26 04:28] alexwwang commented on #3616
Thanks. I will have a try. I though it was the fault of missing libgomp1 pack so I am dealing with it.

[2018-08-26 04:30] hcho3 commented on #3616
Actually, yes, libgomp1 would be a better fit, since XGBoost was compiled with GCC

[2018-08-26 04:31] hcho3 commented on #3616
I wonder if static linking with libgomp1 would be desirable

[2018-08-26 04:32] alexwwang commented on #3616
Thanks. I am trying it. I modified my docker img and am now install xgboost to make a try again.

[2018-08-26 04:32] alexwwang commented on #3616
Not sure if static linking would be desirable. Wait for a second pls.

[2018-08-26 04:44] alexwwang commented on #3616
Seems no error prompts again.
Maybe it would work in the production.
I'll have a try then.
Thanks for your hints.~

![image](https://user-images.githubusercontent.com/856746/44624894-a617cc00-a92d-11e8-80d6-990c48c4ef9a.png)

[2018-08-26 04:56] alexwwang commented on #3616
Some more words as a hint for this error:
It seems that xgboost need to load resource from libxgboost.so when importing and initializing. This error actually means that this process failed so it appears that the local variable 'lib' referenced before assignment.

Maybe it would be better and clearer to give some hint when failed to load the resource file. But before that, if anyone others met this

[2018-08-26 05:09] pekaalto opened #3634 "[jvm-packages] XGBoost spark predictions not consistent between SparseVector and DenseVector"
Hi,
I have noticed that if I change the underlying feature-type from SparseVector to DenseVector the predictions change wildly.

I suspect that the DenseVector is not working correctly and the underlying issue is that  `DMatrix` is not working properly when created with `LabeledPoint` with indices = `null`.   Those are created here:

https://github.com/dmlc/xgboost/blob/0988fb191f6aacde50020b2d5e9

[2018-08-26 05:13] CodingCat commented on #3633
https://stackoverflow.com/questions/10111372/do-the-methods-in-apaches-fileutils-peform-synchronous-blocking-i-o it doesn't look like an async method

the reason we have to delete files is that in local running, we need to clean those files for tests

[2018-08-26 05:15] CodingCat commented on #3595
it looks like the customized metrics is not synced properly in xgboost, I need to take a chance to look into this,

is turning off early stopping an option for you?

[2018-08-26 06:03] hcho3 commented on #3616
@alexwwang No problem. Your post should help me write a better error message.

[2018-08-26 06:15] alexwwang commented on #3616
Glad to be helpful. 😊

[2018-08-26 11:53] wsobra commented on #3595
@CodingCat, Thank you for your help. Unfortunately, I need turning on early stopping to optimize the parameters according to certain metrics and to avoid overfitting.

[2018-08-26 19:50] CodingCat commented on #3595
@wsobra as it takes time for me to debug and fix this, can you use paramGrid in MLLIB to search the best configuration of numRounds for you?

[2018-08-26 21:48] #3470 closed

[2018-08-26 22:16] thvasilo commented on #3470
I think the behavior @pvillacorta-stratio  mentioned is consistent in a YARN cluster: If a user requests more containers than are available the job will stall. I'm not sure if that should be considered a bug, since it's up to the YARN scheduler to find more containers, but it's sometimes unexpected behavior from the user perspective: They try to launch a job with X workers on a cluster that has le

[2018-08-26 22:18] CodingCat commented on #3470
please read https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#gang-scheduling

[2018-08-26 22:35] pvillacorta-stratio commented on #3470
Thank you all for your answers. It was Mesos, not YARN, but yes that's the point. The job starts but there is a foreachPartition in which all tasks complete successfully except for the last K tasks, where K is the number of workers. It is in those last K tasks where the trees are fit to the data. Those K tasks never complete (never start) but no error is given.

[2018-08-27 04:15] khotilov commented on #3523
@neverfox I cannot reproduce the behavior you've described. E.g., when I run the last piece several times after changing nrounds=10, I get, as one would expect, ten or slightly less different random features each time.
I've tried it within 64bit win7 R 3.5.1 with
[code]
What's your environment?

[2018-08-27 12:10] alex3s opened #3638 "feature numbering starting from 0"
featmap.txt has features numbered 0 to 125:

0	cap-shape=bell	i
125 habitat=woods i

but the train and test data has features numbered up to 126

For example row 3207 in agaricus.txt.train
0 4:1 7:1 14:1 21:1 29:1 34:1 36:1 39:1 49:1 54:1 55:1 65:1 69:1 75:1 82:1 88:1 92:1 95:1 102:1 106:1 119:1 126:1

This seems to result incorrectly name the features when performing task=dump of an otherwise cor

[2018-08-27 12:45] ganaz opened #3639 "xgboost python does not display information even when silent = False"
XGBoost is not printing any training information even when silent=False.

I am using below code :

`xgb1 = XGBClassifier(
        learning_rate =0.1,
        n_estimators=1000,
        max_depth=7,
        min_child_weight=1,
        gamma=0,
        subsample=0.8,
        colsample_bytree=0.8,
        objective= 'binary:logistic',
        nthread=31,
        scale_pos_weight=1,
        silent=Fal

[2018-08-27 13:39] neverfox commented on #3523
I'm on OS X 10.13.6 and R 3.5.1 (built from source with openblas, java, textinfo, libtiff, cairo, icu4c and pango support).
[code]

[2018-08-27 14:19] hcho3 commented on #3639
You should upgrade XGBoost to version 0.80 to print training information inside Jupyter notebook.

[2018-08-27 14:27] ganaz commented on #3639
Thanks for quick reply, I'll try upgrading xgboost version.

[2018-08-27 16:32] vincent-grosbois opened #3641 "[jvm-packages] Confusion about param map keywords"
Hello!
After upgrade XGBoost we have integrated this (https://github.com/dmlc/xgboost/pull/3387/) PR

However, it seems that now some parameters are parsed differently, and might require to be sent with 2 keywords in the parameter maps.
For instance :
- for number of workers, "num_workers", "nWorkers" and "numWorkers" seem to all be parsed at some point. As I understand, the correct way should now

[2018-08-27 16:35] CodingCat commented on #3641
please add [jvm-packages] in your title when you ask questions about that package, it will help me to identify these questions

please read the paragraph after the code example: https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#training

[2018-08-27 16:46] vincent-grosbois commented on #3641
Thanks for the quick response!
indeed it seems that the official keyword is "num_workers" for instance. Yet the GeneralParams.scala class will parse "numWorkers" right? What is it used for?

[2018-08-27 17:44] CodingCat commented on #3641
both are supported

you can use the underscore style (xgboost style) and you can also use setters such as setNumWorkers

the magic is in

https://github.com/dmlc/xgboost/blob/1c08b3b2eaf356a448c156271c394692dc698065/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/GeneralParams.scala#L224-L247

[2018-08-27 20:55] priyakhokher commented on #2132
Is it not supported at all now ? because I have spark 2.3.0 and scala 2.11, and my xgboost runs build is successful but when i try to reproduce this: https://docs.azuredatabricks.net/_static/notebooks/xgboost-simple-example.html
I get error: value trainWithRDD is not a member of object ml.dmlc.xgboost4j.scala.spark.XGBoost

I have googled a lot and did not find any solution

[2018-08-27 21:39] #3641 closed

[2018-08-27 23:02] hcho3 commented on #2132
There has been a revamping of interface for version 0.80. Use 0.72 to use trainWithRDD

[2018-08-27 23:15] weitian commented on #3633
I am pretty sure the delete files causes for spark exception.
I will try to debug it later to see what exactly the root cause of that.

[2018-08-28 04:47] hcho3 commented on #3638
It looks like `mapfeat.py` produces a LIBSVM file with 1-based indexing: https://github.com/dmlc/xgboost/commit/a894ab6898f5ed525ca7dec89a79ea1fa7f49f5a

[2018-08-28 04:50] hcho3 commented on #3622
Maybe we should re-write the tests so that they won't be flaky.

[2018-08-28 04:56] hcho3 commented on #3604
Try setting `LC_ALL` to `en_US.UTF-8`. Ensure that the cluster you are deploying XGBoost4J-Spark to has the same locale as well.

[2018-08-28 04:56] #3538 closed

[2018-08-28 04:57] hcho3 commented on #3543
Do you have the same problem with version 0.80?

[2018-08-28 08:32] trivialfis commented on #3622
It's just I'm not sure that whether the problem is in tests or in the core code, or I misunderstood something important.
Which order of returned value is the true expectation?
I saw the last commit thes code is about 2~3 years ago, how is it possible that the tests keep passing? Is the problem on my side?

[2018-08-28 10:41] alex3s commented on #3638
I think the solution could be to include

`0	target	int`

in the agaricus demo featmap.txt

So the whole file will look like this:

[code]
I have tested it on other datasets, it works this way, for me at least! :+1:

[2018-08-28 13:44] caolanko commented on #3045
se-I,  I had the same problem and was able to solve it using garbage collect gc.collect() after the del() command.

[2018-08-28 15:17] hcho3 commented on #3638
Target is not a feature, so I don't think we should include in the feature map. Let me submit a pull request to produce LIBSVM file with 0-based indexing, so that feature index starts with 0.

[2018-08-28 15:18] hcho3 commented on #3622
@trivialfis Let me look at this.

[2018-08-28 17:50] #3605 closed

[2018-08-28 20:15] Kodiologist opened #3644 "Check failed: static_cast<xgboost::bst_ulong>(ridx) < batch.Size()"
I rarely, but unpredictably, get a crash with the error message in the title from some uses of `xgb.cv` in R. Below is a small reproducible example. If `val` is set to `1`, the crash no longer occurs.

[code]

Here's what I get from `R --vanilla --slave <testscript.R` on Ubuntu 18.04 with R 3.4.4, xgboost 0.71.2, and Matrix 1.2-14:

[code]

[2018-08-28 20:18] Mrugankakarte opened #3645 "Loss function when using custom eval_metric"
Hi,
I'm trying to understand what is happening behind the scene. What is the loss function used by XGBoost when **objective = 'binary:logistic'**, **eval_metric=cost**, **scale_pos_weight=60**?

cost = 10\*false positives + 500\*false negatives

Is the loss function 'merror'...If yes then how is the tree fitted on derivatives of residuals? or Is it logloss...if yes then how is the parameter 'scale

[2018-08-28 21:26] neverfox commented on #3523
So I suppose there's some evidence that this might be a combination of R and OS X that's leading to issues with randomization (which isn't normally an issue in other contexts that I'm aware of). Just to check I tried (to no effect):

[code]

[2018-08-28 22:44] mmui commented on #3620
https://github.com/dmlc/xgboost/pull/3646

[2018-08-29 00:35] jkbradley opened #3647 "xgboost-spark should prevent Spark users from unintentionally sending unencrypted sensitive data over the network"
**Issue**: Apache Spark users running XGBoost on Spark may expect over-the-wire encryption for XGBoost based on Spark confs, but they will not get it and may never know about the security issue.  Problematic workflow:
* Spark user sets up a cluster with the Spark conf `spark.ssl.enabled` to true to enable encryption of data transferred over the wire: https://spark.apache.org/docs/latest/configurat

[2018-08-29 00:36] jkbradley commented on #3647
I'd be happy to send a PR if this proposal looks reasonable to folks.  Thanks in advance!

[2018-08-29 03:30] Sonchiwon opened #3648 "Getting margin scores with 'XGBClassifier.predict(output_margin=True)' doesn't work as intended"
From v0.72 'XGBClassifier.predict_proba()' has been changed not to accept 'output_margin'.
(https://github.com/dmlc/xgboost/blob/96826a35155d42f78cd4253b3d134a208dbbaccb/NEWS.md#v072-20180601)

And 'https://github.com/dmlc/xgboost/pull/3343' suggests

but 'XGBClassifier.predict()' is not suitable to get margin scores because it just selects indexes in each row.
[code]

I agree for

, but to check

[2018-08-29 08:04] aekazitt opened #3649 "`Segmentation Fault / Killed` when run on Python inside Docker Container (Alpine)"
Within a docker container (based on alpine linux) with Python 2.7 installed, I receive a `Segmentation Fault` error that kills the entire process and then the container exits.

This DOES NOT happen during fitting but only happens when I use the loaded model to predict. My current script uses XGBoost alongside SKLearn's GridSearchCV. The `gsv.fit` method runs perfectly fine and then I save the `gsv

[2018-08-29 12:05] Gokkulnath opened #3650 "Request : Enable PDF Export of Documentation (https://xgboost.readthedocs.io/)"
Currently  the documentation can be exported as HTML  pages only. It would be great if PDF option is enabled, which would become handy for reference.

~Gokkul

[2018-08-29 12:05] whitish commented on #3604
Right, the issue was in local cluster settings. Thank you!

[2018-08-29 12:05] #3604 closed

[2018-08-29 12:42] Kodiologist commented on #3644
Using a regular R matrix, in place of a sparse matrix from the `Matrix` library, seems to avoid the crash. So that's my workaround for now.

[2018-08-29 19:10] nitinkak001 commented on #1698
I have seen XGBoost on pyspark failing consistently if it is run 2 or more times. I am running it on the same dataset with the same code. First time it succeeds but the second time and subsequently it fails. I am using XGBoost 0.72 on Spark 2.3

I use xgboost.trainWithDataFrame for training purposes.

[2018-08-29 22:59] jkbradley commented on #3647
CC @CodingCat  Thought you might be interested in this one: What do you think?

[2018-08-30 00:54] hcho3 commented on #3649
Can you save the model to a binary file and the re-load it? I'm trying to see if pickling is buggy.

1. Save the trained model as a binary file with `xgboost.XGBRegresor.save_model()` / `xgboost.XGBClassifier.save_model()`: https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBRegressor.save_model
2. Load the model into a XGBoost object by supplying `model_file` parameter to `

[2018-08-30 01:02] hcho3 commented on #3648
This is indeed a bug. We'll need to revise `XGBClassifier.predict()` for `output_margin=True`.

[2018-08-30 01:09] hcho3 commented on #3648
See if #3651 fixes your problem

[2018-08-30 01:28] hcho3 commented on #3336
Closing as completed

[2018-08-30 01:28] #3336 closed

[2018-08-30 01:29] hcho3 commented on #3375
@MonsieurWave Any update on this?

[2018-08-30 01:30] hcho3 commented on #3650
I enabled PDF export option in ReadTheDocs. PDF should be available shortly.

[2018-08-30 01:30] #3650 closed

[2018-08-30 01:37] hcho3 commented on #3627
Done: #3653

[2018-08-30 01:46] Sonchiwon commented on #3648
I've checked #3651 works well on my project and above 'iris' example also.

Thank you for your fast response!

[2018-08-30 02:31] Sonchiwon commented on #3648
I have a question for the #3651.
I'm beginner of python but familiar to other S/W programming languages.

If #3651 is merged, `XGBClassifier.predict()` has two 'types' of returning.
Below is the variation of the 'iris' sample code and it shows two 'types' of returning for calling 'XGBClassifier.predict()'.

[code]

I know that python permits every types for returning in a function.
But in this cas

[2018-08-30 05:27] hcho3 commented on #3648
No, there is only one return type: `numpy.ndarray`. The `output_margin` parameter only changes the dimension of the returned array. Since the return type is always `numpy.ndarray`, no branching on the part of the client would be necessary.

[2018-08-30 06:16] MonsieurWave commented on #3375
@hcho3 : I have not been able to reproduce the issue on a VMI launched from a local Mac, but the issue persists on all my linux servers. Will try to launch a VMI from there to see if it is hardware related.

[2018-08-30 06:43] Sonchiwon commented on #3648
Ok, I got it.
Thank you for your kind description.

[2018-08-30 06:43] #3648 closed

[2018-08-30 07:25] Gokkulnath commented on #3650
@hcho3  Thanks a lot !

[2018-08-30 08:09] xavierburtschell commented on #3543
hcho3, I haven't try yet either of those, for now i've decided to stay with 0.71.2, I will try 0.80 when I can.

[2018-08-30 08:42] aekazitt commented on #3649
New Error Traceback below:
[code]

[2018-08-30 09:51] aekazitt commented on #3649
Updated my docker image base to python 3.7.0 and alpine 3.8 but the same error occurs.
One important note is that this same code runs perfectly fine on my MacOS python 2.7 & python 3.6

[2018-08-30 10:25] aekazitt commented on #3649
**Update:**
I added an import on the top of the module as such
[code]

So I can wrap the error catalyst as such
[code]
to get a clearer picture. And the `Segmentation fault` error just disappeared.

Even when I no longer wrap the error catalyst line-of-code and leave it like previously as such:
[code]
There was still no longer `Segmentation fault` error as long as I leave the import line untouched

[2018-08-30 16:59] hcho3 commented on #3649
@aekazitt Can you do me a favor and post a small script to reproduce the Segmentation Fault error? In the long term, I'd like to see better containerization support for XGBoost

[2018-08-30 17:05] hcho3 commented on #3540
Yes, that was a typo. Sorry about that.

[2018-08-30 17:06] hcho3 commented on #2974
@laaron2008 You should install libgomp1 package.

[2018-08-30 17:09] hcho3 commented on #1879
XGBoost has dependency on libgomp1, which is OpenMP runtime for GCC. You should install libgomp1

[2018-08-30 17:27] sjain777 commented on #3543
Hi hcho3, the following site:  <https://cran.r-project.org/web/packages/xgboost/index.html> shows version 0.71.2 as the latest available for Windows. Where can I get 0.80 from? I would like to test it when the Windows binaries is available for 0.80. Thanks much.

[2018-08-30 18:44] minkim88 opened #3655 "Multiclass with max_depth = 1, nround = 1, why the results are not binary?"
I've got a really basic question here.
Since xgboost is based on CART algorithm, it uses binary recursive partitioning.

Knowing this, if I set max_depth = 1, nround = 1, there should be only one tree with two child nodes.
This means that in a **multi-class** classification, even if there are 4 classes, the predictions should will **binary**.

However, when I try this in R, the prediction **result

[2018-08-30 18:57] hcho3 commented on #3655
For multi-class classification, XGBoost produces `[number of classes] * [number of iterations]` trees. So in your case, you actually have 4 decision trees not one. Each of the 4 trees produces a margin score for the corresponding class, and the class with the highest margin score is chosen as most likely.

[2018-08-30 18:58] hcho3 commented on #3655
Feel free to post at https://discuss.xgboost.ai/ if you have other questions.

[2018-08-30 18:58] #3655 closed

[2018-08-30 18:59] minkim88 commented on #3655
Thanks for the reply!!

[2018-08-30 19:30] Kodiologist commented on #3644
The issue no longer occurs with Git master works, thanks.

[2018-08-30 19:38] hcho3 commented on #3644
That's good to know. I'll be working with other maintainers to publish 0.80 to CRAN

[2018-08-30 19:38] #3644 closed

[2018-08-30 20:18] #3638 closed

[2018-08-30 21:27] borisclemencon commented on #2503
Still struggling with having xgboost working parallel with R 3.5.1 and OS X 10.12.6. It seems to be openMP OK when compiling C code, but when compiling in R, cannot find the ```-fopenmp``` option.

**Makevars**

[code]

[code]

I tried gcc-8 too without success.

**Experiments:**

- Compile C code: ```xgboost$ make -j4``` => seems to work, ```-fopenmp``` compiler option is included:
[code]
- From

[2018-08-30 21:32] hcho3 commented on #2503
@borisclemencon Try using CMake:
[code]
The last `make install` may fail. If that happens, run
[code]

[2018-08-30 22:28] borisclemencon commented on #2503
Holly cow! it worked. Big up to hcho3! Can you give more explainations?

[2018-08-30 22:33] hcho3 commented on #2503
@borisclemencon So far I didn't have much success with modifying `Makevars`, since it gets overwritten by the `configure` script in `R-package`. When it comes to applying custom build options, it's IMO much easier to use CMake, which will generate `configure` and other build files in the R package (hence `R-package` directory gets generated under the `build/`)

[2018-08-30 22:36] hcho3 commented on #2503
On a side note, issues like this makes me hugely prefer CMake over GNU Make for any new projects: much easier to incorporate custom build flags and multiple targets and platforms.

[2018-08-30 22:57] borisclemencon commented on #2503
Great! FYI, in my case, came generated a lib called ```xgboost.dylib```. I had to change your script a little:

     mv src/xgboost.dylib src/xgboost.so

Thanks

[2018-08-31 02:52] aekazitt commented on #3649
Let me do a pseudo code really quickly; I will send you the entire script if needed.

1. Causes Segmentation Fault error
[code]

2. Causes Segmentation Fault error
[code]
3. DOES NOT cause Segmentation Fault
[code]

----
Definition for `load_pickle` method below:
[code]

[2018-08-31 04:01] Denisevi4 commented on #3579
I've had this issue before. I don't know exactly what is happening, but I found a workaround.

While studying it I found that the learning_rates parameter in xgb.train actually calls a reset_learning_rate Callback. Then I tried using other custom Callbacks and I saw this memory leak as well. It looks as if once you call any Callback other than the print Callback, it causes the tree to re-initializ

[2018-08-31 17:43] dbolotov opened #3658 "R XGBoost predict result differs from result using xgb.model.dt.tree"
After training an R xgboost model as described below, I would like to calculate the probability
prediction by hand using the tree that is output by xgb.model.dt.tree().

For a test row, I thought that the correct calculation would use the leaves from all 4 trees as shown here:

[code]

I expected that the probability for the following input:

[code]

would be the result of the following calculatio

[2018-08-31 17:44] Laurae2 commented on #3523
Seems pretty (correct) random here.

Tested with R 3.5, CRAN version of xgboost:

* Windows 10, MinGW 4.9 from Rtools
* Windows 10, Visual Studio 2017
* Ubuntu 16.04, gcc 5.4
* Ubuntu 18.04, gcc 8.1
* Mac OS Yosemite, gcc 7

Here is an example with Rtools :

[code]

Yields the following:

[code]

Random correctness check:

[code]

Running OP code yields the following, not sure what is the exact pr

[2018-08-31 17:48] Laurae2 commented on #3523
Can't reproduce the issue, run first the following:

[code]

Then run this:

[code]

50.5 = (1+100) / 2

[2018-08-31 17:56] lawwu commented on #1442
Looks like as of 2018-08-31, brew install gcc installs version 8 so this is now gcc-8 and g++-8

[2018-08-31 18:35] Laurae2 commented on #3523
@ben519 and all others which have the same issue: what are the specs of your computer / xgboost?:

* OS version used:
* CPU used:
* Exact compiler version used:
* xgboost exact commit used:

Run `Sys.info()` and post the parts of the following:

[code]

Run `sessionInfo()`:

[code]

If under Linux-type OS, run `sfsmisc::Sys.cpuinfo()[1:24]` (requires package `sfsmisc`):

[code]

For the compiler,

[2018-08-31 18:38] CodingCat commented on #3523
@mmui would you follow up on this issue per our observation internally?

[2018-08-31 19:00] ben519 commented on #3523
Just installed the devel version `0.81.0.1` and the issue persists.  Going to try updating my OS from osx 10.13.5 to osx 10.13.6 next to see if that makes a difference.

[2018-09-01 10:21] hlbkin opened #3659 "SHAP values (discuss)"
Hi Team!

I am just starting with SHAP package and have read both papers (for tree and general framework).

What I am interested in is predicting own impact on y with influence on one of the varibales x_i. The end goal is to use it further in optimal control problem where y=f(X) is just a part of the system where we can control and influence some of x_i's

Is shap values good in measuring such imp

[2018-09-01 16:33] neverfox commented on #3523
@Laurae2 I get the same thing as @ben519 when running your code. Including:

[code]
Regular R randomness is fine:
[code]

[code]
[code]
[code]
[code]
Attempting to install from source results in error:
[code]

[2018-09-01 16:44] hcho3 commented on #3659
I just found this interesting paper: https://arxiv.org/pdf/1705.10883.pdf. The problem of maximizing the tree output is expressed as a mixed integer programming and solved approximately.

[2018-09-01 17:01] Laurae2 commented on #3523
It is probably because you installed xgboost while xgboost with already attached to R, it cannot overwrite some files which were already loaded.

By default your system seems to use Apple's Clang (AppleClang 9.1.0.9020039) as outlined in the C/C++ compiler identification, instead try to compile by hand using the following: https://stackoverflow.com/questions/40942893/how-to-install-xgboost-on-osx-

[2018-09-01 17:05] neverfox commented on #3523
Well, by default, it should be using my .Makevars shouldn't it, i.e. using llvm?

[2018-09-01 17:29] edugonza commented on #3649
[code]

[2018-09-01 19:30] tqchen commented on #3659
This is a great discussion that I think could be very great topic at https://discuss.xgboost.ai/

[2018-09-01 19:30] #3659 closed

[2018-09-01 19:52] hlbkin commented on #3659
@hcho3 thanks a lot, I'll try to read it today and try to find other papers.
@tqchen do I need to create separate thread there or you can move this one as a moderator?

I've also started same discussion in original SHAP repository with better explanation of our problem.
https://github.com/slundberg/shap/issues/249
Probably someone would be interested to follow it. Also I think this is not Xgboost

[2018-09-01 21:48] CodingCat commented on #3370
any update on this?

[2018-09-03 08:11] jayantjain93 opened #3661 "[jvm] Inconsistent prediction for dart booster in java for the same model trained and performing in python. Related issues #3015 #3485 #3540"
I am using a dart booster trained in python and loading it in jvm, the prediction seem off. This issue is related to #3015  #3485 #3540 and I tried setting up all the parameters given here, but to no end. I am getting different results in python as suppose to in jvm.

The model and the request file are the same for both the tests as described below.

JAVA code used:
[code]
results that i get:
[cod

[2018-09-03 10:57] Venkat-Rajgopal opened #3662 "Check failed: Loss::CheckLabel(y) label must be in [0,1] for logistic regression"
Is this a bug with train function `xgboost()` ? The train labels are updated as `numeric` but still i see the same error that the labels must be [0,1] for log reg.

### What i have tried.
First method.
[code]
### alternative
Second method.
`train.y <- as.numeric(as.factor(train.y))`
[code]
[code]

### Error
[code]

How can i get around this ?

Thanks

[2018-09-03 11:48] mrgutkun opened #3663 "[Feature proposal] Allow python scikit-learn wrappers to use callbacks"
Pretty much what it says on the tin. Being able to use xgboost in a scikit pipeline is terribly convenient, and so is being able to finely control learning rate, but at the moment it's one or the other.
As I understand, making wrappers' `fit()` methods pass callbacks to the `train()` inside would do the job, but maybe there are reasons not to do it like this, or not to do it at all?

[2018-09-03 12:58] trivialfis commented on #3662
What the error saying is the value of label should be in close interval [0, 1]. Perhaps there's a label in your data that doesn't fall into this interval?

[2018-09-03 13:05] Venkat-Rajgopal commented on #3662
Made a small change as `train.y <- as.numeric(as.factor(train.y)) - 1 ` Since `as.numeric(as.factor(train.y))` produced vector of 1 and 2.

[2018-09-03 13:05] #3662 closed

[2018-09-03 20:01] Ravisik opened #3664 "different prediction result - xgboost 0.6 / 0.8"
Hey guys,
I recently updated my Xgboost (0.6 to 0.8).
Basically, I just want to keep on using an old model trained using the version 0.6. It seems that I have to retrain the model for it.
[code]

The problem is that the new trained model gives different prediction ! Do you have some clue about this?

Thanks a lot,
Florian

[2018-09-03 20:10] hcho3 commented on #3664
Can you elaborate more about this? How was your old model saved?

[2018-09-03 20:15] Ravisik commented on #3664
Hi,
Thanks for your quick response.
I save my old model in a pickle, so I can't use it with the new version :
[code]
There was no "n_jobs" in the version 0.6, it seems to cause the error. It is why I thought about training again a model using xgboost 0.8 keeping the same parameters.

[2018-09-03 20:17] hcho3 commented on #3661
You should add the parameter `ntree_limit` to get deterministic prediction:
[code]
(Java will probably behave the same)

Without `ntree_limit`, the `predict()` method will perform dropout. This behavior is documented in https://xgboost.readthedocs.io/en/latest/tutorials/dart.html.

[2018-09-03 20:31] hcho3 commented on #3664
Yes, `n_jobs` parameter was added to later versions, to be more consistent with scikit-learn. Re-training with the same parameters generally doesn't guarantee that you'd get the same model, so it's better to find a way to make use of your existing model.

For now, you should install XGBoost 0.60 and run
[code]
Now you should be able to use the model in binary format with XGBoost 0.80.

In general,

[2018-09-03 20:34] Ravisik commented on #3664
Ok, thanks a lot for your help!

[2018-09-03 20:35] #3664 closed

[2018-09-03 22:30] hcho3 commented on #3658
I left my reply at https://discuss.xgboost.ai/t/r-xgboost-predict-result-differs-from-result-using-xgb-model-dt-tree/208/2.

[2018-09-03 22:30] #3658 closed

[2018-09-03 22:37] Ravisik commented on #3664
oups...
I can't install the 0.6 version anymore...
`pip install xgboost==0.6a2`

[code]
I tried using directly the source code, same problem... I tried installing version 0.4 / 0.8, no problem...

[2018-09-03 22:38] hcho3 commented on #3663
@mrgutkun Yes, LightGBM does a similar thing, passing a callback to `fit()` method: https://lightgbm.readthedocs.io/en/latest/Python-API.html#lightgbm.LGBMModel.fit . I'll gladly merge a pull request to enable this.

[2018-09-03 22:50] hcho3 commented on #3664
Try running
[code]

[2018-09-03 22:58] Ravisik commented on #3664
Thanks for your time. I got this error:

[code]

[2018-09-03 23:15] hcho3 commented on #3664
What's your GCC version?

[2018-09-03 23:37] hcho3 commented on #3629
Can you post the code you used to make folds?

[2018-09-03 23:37] #3639 closed

[2018-09-03 23:41] hcho3 commented on #3645
Since you are using objective='binary:logistic', the loss function used for training is the logistic loss. For the use of `scale_pos_weight`, see https://github.com/dmlc/xgboost/blob/v0.60/src/objective/regression_obj.cc.

[2018-09-03 23:41] #3645 closed

[2018-09-04 01:28] tovbinm commented on #3578
This was it!

[2018-09-04 07:06] Mrugankakarte commented on #3645
Thanks a lot for clarifying my doubt.

[2018-09-04 14:39] Ravisik commented on #3664
Hi,
gcc is already the newest version (4:7.3.0-3ubuntu2)

[2018-09-04 16:32] Ravisik commented on #3664
Hi,
gcc version 7.3.0 (Ubuntu 7.3.0-16ubuntu3)

[2018-09-04 16:34] hcho3 commented on #3664
Can you post the full log of `make`?

[2018-09-04 16:35] #3135 closed

[2018-09-04 16:38] Ravisik commented on #3664
[code]

[2018-09-04 18:38] hcho3 commented on #3661
Yes, `treeLimit` is the one.

[2018-09-04 18:44] nitinkak001 commented on #1698
Can you share your xgboost and spark configurations? How many
workers(xgboost workers), spark executors, cores etc.

-Nitin

On Tue, Sep 4, 2018 at 5:03 AM sagnik-rzt <notifications@github.com> wrote:

[2018-09-04 18:45] hcho3 commented on #901
@vatsan Looks like it was an oversight. Can you submit a pull request to update the parameter doc?

[2018-09-04 21:04] hcho3 commented on #3664
@Ravisik The 0.6 version had problem building with GCC 7. Later versions (0.7x and 0.80) build successfully with GCC 7 and 8. For now, can you install GCC 5? You can run
[code]
to install XGBoost 0.6 with GCC 5

[2018-09-05 05:06] zzd1992 opened #3670 "How to get the prediction of the last tree directly (python)?"
Sometimes I just need the prediction of the last tree.
However, it looks like there is no direct way to get it, currently.

[2018-09-05 05:49] hcho3 commented on #3670
I left my answer at https://discuss.xgboost.ai/t/direct-way-to-get-the-prediction-of-the-last-tree/213.

[2018-09-05 05:49] #3670 closed

[2018-09-05 07:03] hcho3 commented on #3465
@bazhenov Can you look at #3649? It may apply to your case too

[2018-09-05 11:16] thesuperzapper commented on #3370
@CodingCat yea, the issue I keep running into is allowing support for pipeline persistence. In my initial PR, I supported this by creating my own pipeline object, but I don't like that solution as its messy and leaves way to much code to support in the future.

As of Spark 2.3, there is [DefaultParamsWritable](https://issues.apache.org/jira/browse/SPARK-21542), and I think there must be a way to g

[2018-09-05 12:31] Idodox opened #3671 "dump_model function doesn't have "dump_format" argument in pip build ver 0.80"
The dump_model function is listed in the v0.80 documentation and it appears to be correctly defined in the git repo.

however, when installing the latest 0.80 version of the package through pip the "dump_model" function doesn't have the "dump_format" argument. It appears to be an older version of the function.

I've force-reinstalled the package to make sure it wasn't a local problem - same result

[2018-09-05 13:42] hcho3 commented on #3671
I think you are looking at the doc for the latest (master) version. In the doc for 0.80, `dump_model()` method doesn't have parameter `dump_format`. See https://xgboost.readthedocs.io/en/release_0.80/python/python_api.html#xgboost.Booster.dump_model

[2018-09-05 13:42] #3671 closed

[2018-09-05 13:44] hcho3 commented on #3205
You should leave them alone.

[2018-09-05 14:28] ben519 commented on #3523
I found [this question on SO](https://stackoverflow.com/questions/45920780/c-11-random-number-generation-not-working), where a commenter noted that "MinGW has trouble working with std::random_device".  I believe XGBoost uses both of these.  Further Googling led me to [this post](https://stackoverflow.com/questions/18880654/why-do-i-get-the-same-sequence-for-every-run-with-stdrandom-device-with-min

[2018-09-05 16:29] jkbradley commented on #3647
Note: I renamed spark.xgboost.ignoreSsl -> xgboost.spark.ignoreSsl to match other analogous confs for 3rd-party libraries on top of Apache Spark (after looking around more).

[2018-09-05 16:38] Laurae2 commented on #3523
MinGW 4.8 randomness works, it just produces a deterministic order (same issue as rand() without setting srand beforehand). This is not related to the case where you get always only one and only one identical value, which means something else.

xgboost in R uses R's Mersenne-Twister implementation (so it should use R's PRNG).

[2018-09-05 18:01] Tumpsh commented on #3629
Actually, I had an error in my code. I just figured it out after a long time, and I assumed it was a bug since I saw a similar error in other posts here. It worked fine, after I fixed my own issue! Sorry about that

[2018-09-05 18:08] hcho3 commented on #3629
No problem. Thanks for your interest in XGBoost.

[2018-09-05 18:08] #3629 closed

[2018-09-05 18:29] Ravisik commented on #3664
Hey, I still have the same problem with this command.
[code]

[2018-09-05 18:35] Ravisik commented on #3664
thanks mate, perfect!

[2018-09-05 20:14] hcho3 commented on #901
@vatsan @Sandy4321 @travisbrady I am adding all objectives to parameter doc: #3672

[2018-09-05 21:41] hcho3 commented on #3580
@cyrust I looked at this and I don't think it is possible to pass the test [`check_estimators_nan_inf()`](https://github.com/scikit-learn/scikit-learn/blob/f0ab589f1541b1ca4570177d93fd7979613497e3/sklearn/utils/estimator_checks.py#L868-L902) since XGBoost explicitly allows NaN as missing value. One of major advantage of XGBoost over scikit-learn algorithms is that XGBoost handles missing values na

[2018-09-05 21:41] #3580 closed

[2018-09-05 21:44] jeremiedb commented on #3543
I also noticed the slowdown from CRAN (0.71.2), but installing from current master (0.81.0.1 - compiled with VS) has similar performance to Python (0.80.0).
Strangely though, R took 12.8 sec. in my test vs 12.2 sec. for Python, but CPU usage capped at 65% during R training while at 100% with Python.
@sjain777 Installing xgboost from source is fairly straightforward following the docs: https://xgbo

[2018-09-05 22:39] hcho3 commented on #3580
@cyrust I added a few test anyway, even though it's not possible to pass check_estimator() because of the NaN issue mentioned earlier.

[2018-09-05 22:46] hcho3 commented on #3436
Closing this for now since dmlc/dmlc-core#432 has been merged.

[2018-09-05 22:46] #3436 closed

[2018-09-06 07:46] vectosaurus commented on #1698
@thesuperzapper, based on the version you provided, I redid some parts to support xgboost 0.80.
However, I am ending up with an `py4j.protocol.Py4JError: ml.dmlc.xgboost4j.scala.spark.XGBoostClassifier does not exist in the JVM` error. I have provided a full description [here](https://stackoverflow.com/questions/52198827/py4j-protocol-py4jnetworkerror-answer-from-java-side-is-empty). Could you tak

[2018-09-06 08:21] wodo2008 opened #3675 "pull"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2018-09-06 11:01] thesuperzapper commented on #1698
There is quite a lot more changes needed than you have made to make it work with 0.8.

The main reason I haven't just pushed out a 0.8 version, is because I really don't want to make an xgboost specific pipeline object like I have in the 0.72, I am working on a way to hopefully have the pyspark xgboost object work with the default pipeline persistence.

[2018-09-06 16:54] #3675 closed

[2018-09-06 19:03] kretes commented on #3579
@hcho3 0.80 is released, did you have a chance to look at this leakage?

@Denisevi4 can you share the code for that?

[2018-09-07 04:28] joel-thomas-wilson commented on #2087
Do we have any updates on this?

[2018-09-07 05:14] sagnik-rzt commented on #1698
@thesuperzapper so now I've upgraded to xgboost 0.80 with Spark 2.3.1 and Pyspark 2.3.1
Made all the necessary changes to the code as well.
Running with the same issue, i.e. it runs on a single node only, and doesn't distribute when I increase the number of workers. It gets stuck at some job shuffle among the nodes.
The revised code:
[code]
The executor log gives this at the `pipeline.fit()` metho

[2018-09-07 05:31] vectosaurus commented on #1698
@thesuperzapper, while using the codes for 0.72, I used the `XGBoostEstimator` object directly that is without using the `XGBoostPipeline` object. And while doing so, I noticed that the training/fitting doesn't get distributed across the workers on the cluster. Is it necessary to use the `XGBoostPipeline` for distribution across the workers?

If that's not the case, do you know why the training do

[2018-09-07 05:36] bazhenov commented on #3465
Hmm... it's hard to say realy. There is no C-level backtraces in those feedbacks. Now I'm thinking of any actionable ways to reproduce the problem.

[2018-09-07 05:37] bazhenov commented on #3649
Guys, do you have core dumps left from those segfaults? It would be nice to build C-level backtraces from them.

[2018-09-07 06:37] bazhenov commented on #3465
Now I'm starting to think it may be some interoperability problems with OpenMP shipped with alpine. I will try to build ubuntu based container to see if it's help.

[2018-09-07 07:28] edugonza commented on #3649
What I have is a minimal example to make it fail:

[minimal-test-xgboost-docker.zip](https://github.com/dmlc/xgboost/files/2359975/minimal-test-xgboost-docker.zip)

There are three docker files:
*  Dockerfile-alpine: It builds a docker image based on `python:3.6.3-alpine3.6` that includes a compiled version of xgboost.
*  Dockerfile-python: It builds a docker image based on `python:3.6` installing

[2018-09-07 08:16] bazhenov commented on #3649
I did the tests on provided image (Dockerfile-alpine) and confirms that the head of stack is the same as in #3465:

[code]

It seems like the problem is in the `libgomp` library or `libgomp`/`libxgboost` integration.

Anyway, the fact that problem manifest itself only on Alpine is very valuable pice of information for us. Thank you for your feedback!

[2018-09-07 10:28] vectosaurus commented on #1698
@thesuperzapper, while using the codes for 0.72, I used the `XGBoostEstimator` object directly that is without using the `XGBoostPipeline` object. And while doing so, I noticed that the training/fitting doesn't get distributed across the workers on the cluster. Is it necessary to use the `XGBoostPipeline` for distribution across the workers?

If that's not the case, do you know why the training do

[2018-09-07 11:09] kdebrab commented on #799
It seems to me that adjusting the base_score to mean(label) improves results considerably for regression with 'reg:gamma' as objective, see https://stats.stackexchange.com/a/365803/219262 for an example.

[2018-09-07 13:52] karthiksubramanians commented on #531
Hi, I did not want to open up a new thread for a similar issue.
I have Ubuntu 16.04 x64 with Python 3.6.5
I have xgboost version 0.80 with verbose_eval = False in xgb.train

But it still prints 06:44:39] /workspace/src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 10 extra nodes, 0 pruned nodes, max_depth=4
[06:44:39] /workspace/src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 10 ex

[2018-09-07 13:53] karthiksubramanians opened #3681 "Silent training for xgboost"
Hi,
I have Ubuntu 16.04 x64 with Python 3.6.5
I have xgboost version 0.80 with verbose_eval = False in xgb.train

But it still prints

06:44:39] /workspace/src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 10 extra nodes, 0 pruned nodes, max_depth=4
[06:44:39] /workspace/src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 10 extra nodes, 0 pruned nodes, max_depth=4
[06:44:39] /workspac

[2018-09-07 15:58] R-J96 opened #3683 "[xgboost4j-spark] File /lib/xgboost4j.dll was not found inside JAR from maven repository"
Hi,
I'm building my scala / spark project using gradle on windows 10, so I'm using the gradle dependency
`compile ("ml.dmlc:xgboost4j-spark:0.72")` in my `build.gradle` file
The project builds fine and downloads the jars and all the other dependencies.

However, when I run a script it compiles correctly but to use the xgBoost algorithm in a sparkSession I get the following error `java.io.FileNotFo

[2018-09-07 17:10] qwerasd903 opened #3684 "Unexpectedly results by scaling the weight vector"
Hi!

I am using a sample weight vector as one of my training parameters. However, I found that when I scale the weights to a different level (the relative weight between each sample is still the same), the results (like AUC) will also be different. If you scale the weights to very small (say 10^(-3)), the AUC will even be only 0.5. This doesn't make sense to me, as I expect only the relative weigh

[2018-09-07 18:11] hcho3 commented on #3683
The published JARs from the Maven Central currently only support Linux and MacOS. Checkout JARs for Windows at https://github.com/criteo-forks/xgboost-jars/releases.

[2018-09-07 18:11] #3683 closed

[2018-09-07 18:12] hcho3 commented on #3649
@bazhenov Since libgomp is causing so much headache, should we consider statically linking libgomp into binary wheels?

[2018-09-07 18:18] hcho3 commented on #3681
You should set `silent=1` in training parameter.

[2018-09-07 18:18] #3681 closed

[2018-09-07 18:27] hcho3 commented on #3231
Consolidating to the feature request tracker #3439. Feel free to re-open this issue when anyone starts working on this.

[2018-09-07 18:27] #3231 closed

[2018-09-07 18:29] hcho3 commented on #3607
Consolidating to the feature request tracker #3439. Feel free to re-open this issue when anyone starts working on this.

[2018-09-07 18:29] #3607 closed

[2018-09-07 18:30] hcho3 commented on #3351
@davechallis How is your progress with Rust binding?

[2018-09-07 20:51] #3663 closed

[2018-09-07 22:47] #3578 closed

[2018-09-09 02:46] #3397 closed

[2018-09-09 22:17] thesuperzapper commented on #1698
I have mostly re-coded the wrapper for XGBoost 0.8, but as my work cluster is still on 2.2, I cant test it easily in distributed mode, as my Dockerized Spark 2.3 cluster cant even train Scala XGBoost distributed models without getting shuffle location missing issues.

I think the issues @sagnik-rzt and others are experiencing, are related to your cluster config or some deeper issue with Spark-Scal

[2018-09-10 04:01] tdfunk commented on #1945
Late coming to the party... but...

The following worked for me.  This solution is independent of system path gyrations.

$ cd /opt/local/bin
$ sudo mv ./as ./as-broken
$ sudo ln -s /usr/bin/as ./as

Here's a test that shows that it works:

$ mkdir ~/gcctest
$ cd ~/gcctest
$ echo 'int main(){return -1;}' > conftest.c
$ /opt/local/bin/gcc -o conftest conftest.c
FATAL:/opt/local/bin/../libexec/as/x8

[2018-09-10 06:30] vectosaurus commented on #1698
Thanks @thesuperzapper, I thought shuffle locations were handled internally, that is, it would independent of cluster config. But I found [this] stackoverflow post (https://stackoverflow.com/questions/28901123/why-do-spark-jobs-fail-with-org-apache-spark-shuffle-metadatafetchfailedexceptio) so will be implementing those suggestions.

Also, could you share your 0.8 version, if it is ready? I can te

[2018-09-10 09:53] davechallis commented on #3351
@hcho3 Going well so far - I've got a 0.1.0 release ready, just trying to solve some packaging issue, then it should be ready. Just got back from holiday, so will hopefully try and work on that this weekend.

[2018-09-10 17:36] yanyachen commented on #3135
Is there any way to constrain the feature not to interact with itself? I didn't find it in the document. Thanks.

[2018-09-10 19:01] cerebrumaize commented on #3616
Got the same problem when import xgboost. My venv is py3.7, windows 10, x64. I installed from the source. The error is also fail to import libxgboost.so when executing `lib = ctypes.cdll.LoadLibrary('./lib/libxgboost.so')`

[2018-09-10 19:11] hcho3 commented on #3616
@cerebrumaize Can you run
[code]
and see what kind of error message you are getting?

[2018-09-10 19:21] hcho3 opened #3689 "[jvm-packages] Loading locally trained models into XGBoost4J-Spark?"
I've seen a few people asking about a way to load locally trained model into XGBoost4J-Spark. In version 0.72, you could write
[code]
which uses the constructor `new XGBoostClassificationModel(booster: Booster)`. However, version 0.80+ no longer supports construction of `XGBoostClassificationModel` from `Booster` object.

[2018-09-10 19:37] hcho3 commented on #3616
@cerebrumaize For Windows, try installing Microsoft Visual C++ Redistributable.

[2018-09-10 19:42] qwerasd903 commented on #3684
I have checked it. The prediction also changes. It seems the average weight needs to get as close as 1 in order to get the best prediction.

[2018-09-10 20:01] SebastianHapp opened #3691 "# min example for the bug of generatePartialDependenceData"
# plotPartialDependence does not work for regression tasks

Dear all,

I encountered the following issue using the generatePartialDependenceData.
It seems to me that classification problems work, whereas regression problems do not.

Pls find below the reproducible example generated from the iris dataset.
Do you have any ideas for this bug?

Thanks in advance,
Sebastian

min example for the bug of

[2018-09-10 20:10] hcho3 commented on #3684
@qwerasd903 Can you post a small example that I can run?

[2018-09-10 21:02] cerebrumaize commented on #3616
[code]
* error message for `LoadLibrary` is listed above, just cannot find `so` file.
* And I did install Microsoft Visual C++ Redistributable for Visual Studio 2017 and Microsoft Visual C++ 2008/2010/2012/2013/2017 Redistributable.

[2018-09-10 21:07] hcho3 commented on #3616
@cerebrumaize I meant to say `./lib/xgboost.dll`, not `./lib/libxgboost.so`.

[2018-09-10 21:15] cerebrumaize commented on #3616
[code]
sorry, it's similar though.

[2018-09-10 21:27] CodingCat commented on #3689
we intentionally limit the access to native booster in 0.8. The workaround is to have a bridge class under package `ml` and use the constructor at https://github.com/dmlc/xgboost/blob/release_0.80/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostClassifier.scala#L208-L211

[2018-09-10 21:29] hcho3 commented on #3616
@cerebrumaize Try running `ctypes.cdll.LoadLibrary('D:\workspaces\py3d7env\Lib\site-packages\xgboost-0.80-py3.7.egg\xgboost\xgboost.dll')`?

[2018-09-10 21:31] hcho3 commented on #3616
@cerebrumaize Also, what compiler are you using?

[2018-09-10 21:35] hcho3 commented on #3689
@CodingCat Does the current XGBoost codebase have such bridge class?

[2018-09-10 21:38] cerebrumaize commented on #3616
[code]
My compiler is latest mingw64's mingw32-make.exe

[2018-09-10 21:40] hcho3 commented on #3616
@cerebrumaize We'll need to escape backslashes:
[code]

[2018-09-10 21:46] cerebrumaize commented on #3616
[code]
It says the dll is not a valid Win32 application.

[2018-09-10 21:53] hcho3 commented on #3616
@cerebrumaize Make sure you are running 64-bit Python by running
[code]
You should get 64. Also, make sure to use 64-bit MinGW.

[2018-09-10 22:17] cerebrumaize commented on #3616
You are right. I was using 32 py. After I reinstalled, xgboost is loaded successfully. Thank you very much for your time and patience.

[2018-09-10 22:44] CodingCat commented on #3689
no, it is supposed to be created by the user so that they can have the flexibility to make it either as an singleton object or a class or a trait to be extended....

[2018-09-10 22:52] yanyachen commented on #3135
I think it's useful in these 2 slightly different scenario:

1. There is a very strong feature but we think there might be small leakage (risk of overfitting because of that feature), and want to regularize that.
2. There are a small group of feature set A (e.g. FICO Score) that are significantly important than other less important features set B (e.g. credit utilization, age, education level). On

[2018-09-11 00:04] hcho3 commented on #3689
Is there a reference or tutorial for creating ML bridge class? I'd like to update XGBoost4J-Spark tutorial to show how to load locally-trained models.

[2018-09-11 07:09] hcho3 commented on #3649
It may be fair to blamr libgomp in Alpine container.

[2018-09-11 09:58] lv-zhaoyu commented on #3237
请问这个问题解决了吗

[2018-09-11 15:01] deltaoui commented on #1715
I tried this and the error stopped !

import os

os.environ['KMP_DUPLICATE_LIB_OK']='True'

[2018-09-12 00:37] anaveenan commented on #1698
how to get sparkxgb.zip file for xgboost4j-0.80 ? thanks

[2018-09-12 07:15] sagnik-rzt commented on #1698
@thesuperzapper @CodingCat I have upgraded to xgboost 0.80 with pyspark 2.3.1 (Python3.5.2)
Have also added the corresponding jars from the maven repository to the spark classpath.
Still I am facing this issue, when I run it in my master node as a local standalone job, it gets done.
[code]
However, when I try to distribute this to a 4-node cluster (each node having > 16 GB RAM), it gets stuck here

[2018-09-12 08:58] dwscu opened #3694 "[jvm-packages] xgboost4j-spark crossvalidation"
hello,I get train data from hbase,and use spark mllib to cross validate xgboost.but I have a problem,when I use rdd.persist, the auc value is near 0.5; and if I do not use rdd.persist, the auc value is 0.7

[2018-09-12 12:26] thesuperzapper commented on #1698
**DEV DOWNLOAD LINK:** [sparkxgb.zip](https://github.com/dmlc/xgboost/files/2375046/sparkxgb.zip)

This version will work with XGBoost-0.8, but please dont use it for anything other than testing, or contributing to this thread, as stuff will change.
*(Also note: I have removed all the backports for Spark 2.2, so this only supports Spark 2.3)*

The main issue I am aware of with that version, is tha

[2018-09-12 13:31] selphie1410 opened #3696 "Problems loading Xgboost models"
I have trained an Xgboost regression model in R and I want to use it other data, Sadly I cannot convert it to PMML as it is a regression model.

I have made a test set which is a csv file that I want to use my model on.

I read in the test set and run  my model.
.
I then want to save my model load it and run it on the same data. When I do this I get totally different answers on the same data

Orig

[2018-09-12 15:28] qwerasd903 commented on #3684
Hi the examples are attached. example.py uses the weights whose average value is 1. While example_small_wt uses the weights which are very small and will get AUC = 0.5.

The example will also plot the score distribution of validation samples and you can see it is very different between two examples.

[example.zip](https://github.com/dmlc/xgboost/files/2375830/example.zip)

[2018-09-12 16:57] #3661 closed

[2018-09-12 18:36] hcho3 commented on #3696
Can you post your R script so that I can try running it?

[2018-09-12 19:51] khotilov commented on #3684
@qwerasd903 When you scale the weights, the min_child_weight, alpha, and lambda parameters need to be scaled as well. In addition, in your example.py, you are changing the relative weight of two classes - it might potentially be not what you want.

[2018-09-12 20:44] selphie1410 commented on #3696
testsheetcsv <- read.csv("~/2018 racing models/testsheetcsv.csv")
 View(testsheetcsv)
data=testsheetcsv
AW12.XG <- read.csv("~/2018 racing models/AW12 XG.csv")
trainIndex   <- createDataPartition(AW12.XG$Dist12, p=0.75, list=FALSE, times=1)
All_rmse<- c()
 Param_group<-c()
 params <- list(booster = "gbtree", objective = "reg:linear", eta=0.3, gamma=0, max_depth=6, min_child_weight=1, subsample=1,

[2018-09-12 20:45] selphie1410 commented on #3696
No idea why its scored out lines???

[2018-09-12 21:00] hcho3 commented on #3694
Can you post your script?

[2018-09-12 22:45] hcho3 commented on #3696
Is the dataset you're using public?

[2018-09-13 01:57] yhfwww opened #3699 "Using c++ call model predicts that CPU consumption is 90%."
I used Python to train a three-class model, the model size is about 10MB, using C++ call model to predict, found that the CPU consumption reached 90% or more, not suitable for production environment, what can be controlled? Thank you!

[2018-09-13 02:46] David082 opened #3700 "[jvm-packages] xgboost4j-spark 0.72: model transform when booster is dart"
Hi there,

The DART booster note says:
Specify ntree_limit when predicting with test sets
By default, bst.predict() will perform dropouts on trees. To obtain correct results on test sets, disable dropouts by specifying a nonzero value for ntree_limit.

But I haven't seen ntree_limit when using model.transform() in xgboost4j-spark 0.72.
So, how can I use the dart boost for predict in spark?

[2018-09-13 03:58] dwscu commented on #3694
[xgboost_cv.zip](https://github.com/dmlc/xgboost/files/2377634/xgboost_cv.zip)

in line 42, comment or uncomment it ,i get very different result

[2018-09-13 06:42] selphie1410 commented on #3696
no. I was hoping it wouldn’t be a problem,
It consists of 8 0/1 variables and three real numbers.

Using R studio to import them from CSV files.

From: Philip Hyunsu Cho
Sent: Wednesday, September 12, 2018 11:45 PM
To: dmlc/xgboost
Cc: selphie1410 ; Author
Subject: Re: [dmlc/xgboost] Problems loading Xgboost models (#3696)

Is the dataset you're using public?

—
You are receiving this because you

[2018-09-13 06:49] hcho3 commented on #3696
@selphie1410

Without the data, diagnosis of the bug is difficult. Can you generate a random dataset that looks like your dataset?

[2018-09-13 06:51] selphie1410 commented on #3696
I can let you have the originals. I’ll put them up shortly.

From: Philip Hyunsu Cho
Sent: Thursday, September 13, 2018 7:50 AM
To: dmlc/xgboost
Cc: selphie1410 ; Mention
Subject: Re: [dmlc/xgboost] Problems loading Xgboost models (#3696)

@selphie1410

  I was hoping it wouldn’t be a problem

Without the data, diagnosis of the bug is difficult. Can you generate a random dataset that looks like yo

[2018-09-13 07:00] selphie1410 commented on #3696
[GIT Stuff.xlsx](https://github.com/dmlc/xgboost/files/2378046/GIT.Stuff.xlsx)
Here you are

[2018-09-13 07:33] hcho3 commented on #3696
Thanks, I tried running your script and get the error
[code]

[2018-09-13 08:41] selphie1410 commented on #3696
I don’t get that!

I can build the model quite happily.

All the spare.model.matrix does is convert the CSV file into something XGb.Dmatrix can handle.

What do you need me to do?

From: Philip Hyunsu Cho
Sent: Thursday, September 13, 2018 8:34 AM
To: dmlc/xgboost
Cc: selphie1410 ; Mention
Subject: Re: [dmlc/xgboost] Problems loading Xgboost models (#3696)

Thanks, I tried running your script and

[2018-09-13 15:14] hcho3 commented on #3696
Can you post the CSV files you converted from XLS?

[2018-09-13 16:52] selphie1410 commented on #3696
[testcsv.zip](https://github.com/dmlc/xgboost/files/2380283/testcsv.zip)

This is the CSV file zipped up because GIThub doesn't let me upload csv

[2018-09-14 08:02] karterotte commented on #2480
@sgatamex I meet the same problems.Have you fix it now?

[2018-09-14 11:01] Nirmal-Neel opened #3702 "Prediction for some samples does not follow the json that is obtained by get_dump()"
![booster_98](https://user-images.githubusercontent.com/32963085/45546105-ed60f080-b839-11e8-81de-45344d2ff43e.JPG)
This is the 99th booster of my model which I obtained from the get_dump() function.
When I perform model._Booster.predict(X_test, pred_leaf=True), then for the 99th estimator it gives output as 8. That means, for that estimator, output node number is 8, which is -0.094418548 here.

M

[2018-09-14 15:46] hcho3 commented on #3702
Can you post a script that reproduce this error?

[2018-09-14 17:49] Nirmal-Neel commented on #3702
Manual steps are involved in this case.
1) Getting the leaf predictors from the model.
2) Dumping all predictors to a json file using dump_model() function.
3) For a given sample performing manual calculation using the json file as given above to get the predictions of each predictor.
4) Comparing the true leaf node's ID with the IDs fetched from the model in step 1.

In step 4, some IDs do not ma

[2018-09-14 17:52] hcho3 commented on #3702
Thanks for describing your steps. It would be nice if you can share your model and dataset so that we can start fixing the bug.

[2018-09-14 19:06] #3620 closed

[2018-09-14 20:09] Nirmal-Neel commented on #3702
[model.zip](https://github.com/dmlc/xgboost/files/2384735/model.zip)

The zip file contains
1) The model (model.bin)
2) The dataset (auto-mpg.csv)
3) A jupyter notebook to show the flow (test.ipynb and test.html)
4) The dumped json file (model.json)

For the dataset if you perform train_test_split with random_state = 101 then you will find the previously mentioned error with 23rd test sample and 9

[2018-09-14 20:15] hcho3 commented on #3702
I'm going off to a 3-day vacation, but I'll look at it afterwards.

[2018-09-14 20:20] Nirmal-Neel commented on #3702
Thanks and happy vacation.

[2018-09-14 21:33] superpipal-yi opened #3704 "[jvm-packages] Issue in saving Xgboost model in spark scala"
I trained a xgboost model in spark scala as follows:
val xgbParamGrid = new ParamGridBuilder()
  .addGrid(xgb.maxDepth, Array(5, 10))
  .addGrid(xgb.maxBins, Array(2))
  .addGrid(xgb.minChildWeight, Array(0.2))
  .addGrid(xgb.eta, Array(0.015))
  .addGrid(xgb.alpha, Array(0.8, 0.9))
  .addGrid(xgb.lambda, Array(0.9, 1.0))
  .build()

// Create the XGBoost pipeline
val pipeline = new Pipeline().set

[2018-09-15 21:17] CodingCat commented on #3694
any change on TrueNegative and FalseNegative, etc.?

[2018-09-15 21:18] CodingCat commented on #3689
no...I am not sure if we really want to do that...because for scala coders, this is a very common trick to workaround the package-access limitation

[2018-09-16 01:59] #3689 closed

[2018-09-16 02:00] hcho3 commented on #3689
Got it. Closing it now

[2018-09-16 09:18] dmitryikh commented on #3107
Pure Golang implementation for trees ensemble predictions for XGBoost & LightGBM:
https://github.com/dmitryikh/leaves

[2018-09-16 13:54] cengjingmengxiang commented on #2480
@sgatamex

I meet the problems, Have you fix it ?

[2018-09-16 14:53] cengjingmengxiang commented on #3190
@mostafa-time ，hi， I do test on python to spark, load data with dataframe not libsvm,  the prediction on python is not the same with spark, do you know why?

[2018-09-17 01:03] dwscu commented on #3694
sorry for reply later,There are few change on TrueNegative and FalseNegative.But it seems when I use rdd.persist,the model is under fitting,and when I not use rdd.persist,the model is over fitting.

[2018-09-17 18:10] KOLANICH opened #3706 "Write docs for survival:cox loss"
Currently it is undocumented.

[2018-09-17 18:21] hcho3 commented on #3706
It is in the Parameter doc: https://xgboost.readthedocs.io/en/latest/parameter.html

[2018-09-17 18:21] #3706 closed

[2018-09-17 19:41] mrgutkun opened #3707 "updater='grow_gpu_hist' produces unstable results on equivalent but not identical sparce matrices"
Here's a notebook with reproduction: [xgboost-unstable-grow-gpu-hist-reproduction.zip](https://github.com/dmlc/xgboost/files/2389979/xgboost-unstable-grow-gpu-hist-reproduction.zip)

Here's the data: [reproduction_data.zip](https://github.com/dmlc/xgboost/files/2389960/reproduction_data.zip)

Does not reproduce on 0.72, but does reproduce on 0.80 and some pretty recent commit that I lost id of;  I

[2018-09-17 19:45] hcho3 commented on #3707
Do you see the same problem with CPU hist?

[2018-09-18 09:27] mrgutkun commented on #3707
No; `grow_histmaker`, `grow_fast_histmaker`, `grow_local_histmaker`, `grow_colmaker` and `grow_gpu` each give me identical results at those two datasets, and their 0th epoch merrors are all identical.
`grow_skmaker` is not stable even on the same dataset, although occasionally its 0th epoch matches with those above.
Incidentally, Is there a complete list of updaters somewhere? [Docs](https://githu

[2018-09-18 11:47] Nirmal-Neel commented on #3702
Is it true that the JSON file can not be used for prediction? Do you have any update?

[2018-09-18 17:04] why-not commented on #601
XGBoost runs in a single core for me after setting nthreads=-1. I have a 8 core machine and htop shows only one core engaged throughout the run. Let me know how to debug this

So far I installed Xgboost from the source following the steps, this I did after the pip3 install failed to run on multiple cores...

My Environment: gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.10)

Full gcc -v o

[2018-09-18 17:29] hcho3 commented on #601
@why-not Can you run the following example and see if all cores are used?
[code]
Compile it by running `gcc -o main main.cc -fopenmp -O3 -msse2`.

[2018-09-18 17:49] KOLANICH opened #3708 ""LocalFileSystem.ListDirectory error: Not a directory" in some tests"
[code]

Compiled with the latest MinGW-W64, the OS is 32 bit Windows 7.

[2018-09-19 03:12] dreamsuifeng commented on #3689
hi，I have met the same problem. Do you have any solution?

[2018-09-19 06:45] maomao1994 commented on #706
https://xgboost.readthedocs.io/en/latest/python/python_intro.html

[2018-09-19 12:28] evgri243 opened #3710 "[jvm-packages] ArrayIndexOutOfBoundsException in XGBoosterGetModelRaw at the end of training on Spark"
Training is failing with ArrayIndexOutOfBoundsException somewhere next to the end of training (estimated by execution timing).

Environment and versions:

- 0.8 on Databricks 4.1 ML Beta (includes Apache Spark 2.3.0, Scala 2.11)
- 0.8.3 on Databricks 4.2 (includes Apache Spark 2.3.1, Scala 2.11)
- 1 Master and 2 Worker nodes: 140.0 GB Memory, 20 Cores

After some data preparation on R on master, w

[2018-09-19 14:56] lokercy commented on #3616
Up until this step I have similar output as @cerebrumaize

But then I get a different error message:

`>>> ctypes.cdll.LoadLibrary('D:\\workspaces\\py3d7env\\Lib\\site-packages\\xgboost-0.80-py3.7.egg\\xgboost\\xgboost.dll')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python37\lib\ctypes\__init__.py", line 434, in LoadLibrary
    return self._dlltype(name)

[2018-09-19 15:03] hcho3 commented on #3616
@lokercy Try installing Microsoft Visual C++ Redistributable.

[2018-09-19 15:18] lokercy commented on #3616
@hcho3 yeah... That's it. And it also fix my other issue with lightGBM. Thanks!

[2018-09-19 20:49] a-johnston opened #3711 "[jvm-packages] `native/xgboost4j.cpp` missing get and set attr methods"
There are stubs in [`native/xgboost4j.h`](https://github.com/dmlc/xgboost/blob/0988fb191f6aacde50020b2d5e94c92df2ac4e58/jvm-packages/xgboost4j/src/native/xgboost4j.h#L228) but no definitions. Similarly, wrapper methods could be added to the java/scala booster objects. I haven't looked much into this yet but I think it's just a lesser used feature of the python/native/R libs that was missed for the

[2018-09-19 20:56] CodingCat commented on #3704
@superpipal-yi since you are building from local, would you please instrument https://github.com/dmlc/xgboost/blob/aa53e9fc8d0fbd2e229246212fb40d107985cb83/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/DefaultXGBoostParamsWriter.scala#L73 by adding a line to print p.name and see which parameter is bringing the exception?

[2018-09-19 20:58] CodingCat commented on #3700
please upgrade to 0.8 and set `treeLimit` in classification/regression model

[2018-09-19 20:59] why-not commented on #1106
I have compiled XGBoost with multi-threading enabled. But it still doesn't run in multiple threads (I set nthreads=-1 on an 8 core machine, no luck)

[2018-09-19 21:00] CodingCat commented on #3634
can you try to set `missing` parameter as 0 when predicting with dense vector?

[2018-09-19 21:52] ankurkhurana03 opened #3712 "early stopping criteria not working with eval_metric "aucpr""
The metrics aucpr should increase for the convergence, whereas the metrics required for early stopping criteria should be minimized;

[2018-09-19 22:07] hcho3 commented on #3712
Try setting `maximize=True` when calling `xgboost.train()`.

[2018-09-19 22:09] hcho3 commented on #3708
By any chance, have you observed this error in other OS?

[2018-09-19 22:29] ankurkhurana03 commented on #3712
thanks, that worked!

[2018-09-19 22:29] #3712 closed

[2018-09-19 23:34] KOLANICH commented on #3708
@hcho, not tried

[2018-09-19 23:37] hcho3 commented on #3708
@KOLANICH Got it. Let me try re-producing this on my Windows machine

[2018-09-20 10:46] jayantjain93 commented on #3661
@hcho3 Sorry for the late reply.
That didn't help either, I had tried it in the original test.
I think there might be a bug.

[2018-09-20 14:58] JovanVeljanoski opened #3714 "[python-package] DMatrix.slice does not propagate feature_names"
Hi,

I noticed today that in a case such as the following:
[code]

`dval` has the default feature names ('f0', 'f1', 'f2', etc..), and does not inherit those from `dtrain`.
I checked the source code, and at first glance the feature names should be passed to the output of `DMatrix.slice`, but in practice this does not happen.

An easy work around from the user side is to just do:
[code]
but by look