[2021-07-08 02:06] #7090 closed

[2021-07-08 06:29] MichaelYin1994 commented on #7090
The question remains: How can we transform the raw score of the prediction that custom_eval_metric received to the prediction  probability in the binary classification problem?

I have read the API codes and searched for answers for a half of a day, none of them gave an answer.

Thanks for your relying.

[2021-07-08 06:36] hcho3 commented on #7090
@MichaelYin1994 Take a look at https://github.com/dmlc/xgboost/blob/master/demo/guide-python/custom_objective.py. In particular:
[code]

[2021-07-08 09:44] 761100192 opened #7093 "xgboost.core.XGBoostError: [17:36:22] C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:956: Check failed: header == serialisation_header_:"
how can i solve this problem?
python version:3.7.6
xgboost version:1.4.2
platform version:windows 10

[2021-07-08 10:56] candalfigomoro commented on #6893
@naveenkb
Are you going to submit a Pull Request to expose `bestIteration` and `bestScore`?

[2021-07-08 11:06] prutskov opened #7094 "Integration of Distributed XGBoost on Modin"
Hi XGBoost!

I am from [Modin](https://github.com/modin-project/modin.git) team. Modin provides an efficient distributed DataFrames and has a [distributed implementation of XGBoost.](https://github.com/modin-project/modin/tree/master/modin/experimental/xgboost)

XGBoost already has [support](https://github.com/dmlc/xgboost/pull/6055) of Modin DataFrames, but currently partitions of Modin DataFrame

[2021-07-08 11:30] naveenkb commented on #6893
@candalfigomoro Sure. Sorry for the delay. I will raise a PR in few days.

[2021-07-08 11:33] trivialfis commented on #7093
Could you please provide a way for us to reproduce?  Or at least describe what you are trying to do, like where did you get the model and where are you loading it into?

[2021-07-08 11:33] trivialfis commented on #7094
Can I assume this issue is about dask?  Since dask is maintained in xgboost's source tree.

[2021-07-08 11:40] trivialfis commented on #7094
I will look into the example code you linked.  Sorry for the early reply.

[2021-07-09 15:18] emanuele opened #7096 "xgboost.train() with custom feval is 10x-20x slower than with standard eval metric"
First of all, thank you for XGBoost, it is a great library!

I am using xgboost from python and observe a much slower training time - in the order of 10x to 20x slower - when using a `custom metric`, i.e. `xgboost.train(param, dtrain, feval=custom_metric)`, with respect to using a standard metric, e.g. `map`. So training lasts 20 minutes instead of 1-2 minutes for 100 rounds. The custom metric is

[2021-07-09 15:27] emanuele commented on #7096
The problem was unrelated to XGBoost. Sorry for the noise.

[2021-07-09 15:27] #7096 closed

[2021-07-09 20:10] voganrc commented on #6713
+1

I encountered the same issue when upgrading my LTR model from XGBoost 0.82 to 1.0, and @sammynammari's workaround fixes it.

I think a patch needs to be made for the problematic line that was added in [this commit](https://github.com/dmlc/xgboost/commit/fc8c9b052176c633488a41746d88867bdcbe17c1#diff-fa5f131eb4ed2094bee0c72ea6049a339ebdd6816b49bb39a62c926c3d63f086R180), and I'm surprised that mo

[2021-07-09 22:09] cmeuli07 opened #7098 "nthread inside xgboost() function not working in R"
The nthread parameter is evidently being ignored in R. When setting nthread = 1 xgboost appears to be defaulting to the maximum number of threads on my machine because my cpu is instantly maxing out. I've included a reprex and my session info below:

Reprex:
[code]

Session Info:
[code]

[2021-07-11 06:09] trivialfis commented on #6713
Hi, if I were to replace the group structure by qid would it be a huge problem?

[2021-07-11 06:38] anupamhore commented on #5672
While installing brew install libomp  I got this error

Download failed: https://homebrew.bintray.com/bottles/libomp-11.1.0.catalina.bottle.tar.gz

How to install xgboost in mac??

[2021-07-11 06:53] hcho3 commented on #5672
Please file an issue at https://github.com/Homebrew/homebrew-core

[2021-07-12 15:23] stan-leychen opened #7101 "xgboosterror when trying to do stratifiedkfolds + XGBoost"
I've been trying to write a stratified kfold for xgboost and not having a great time.
I keep running to this error when I try to run my .train model:

XGBoostError: b'[15:19:42] /workspace/src/metric/rank_metric.cc:137: Check failed: !auc_error AUC: the dataset only contains pos or neg samples\n\nStack trace returned 10 entries:\n[bt] (0) /opt/conda/xgboost/libxgboost.so(dmlc::StackTrace()+0x3d) [

[2021-07-13 07:42] #7058 closed

[2021-07-13 07:43] #6956 closed

[2021-07-13 08:34] hcho3 commented on #7101
XGBoost offers a built-in support for cross-validation: `xgb.cv`.
[code]

[2021-07-13 09:44] jon-targaryen1995 commented on #6893
Hello,

I was going through the parameters of the XGBoost 4J spark mentioned in [](https://xgboost.readthedocs.io/en/latest/jvm/scaladocs/xgboost4j-spark/ml/dmlc/xgboost4j/scala/spark/XGBoostClassificationModel.html#setTreeLimit(value:Int):XGBoostClassificationModel.this.type).

I have two questions namely,

1.

The definition of numEarlyStoppingRounds: is as follows:

**If non-zero, the training

[2021-07-13 15:16] candalfigomoro commented on #6893
This is tricky because some metrics need to be minimized (e.g. MSE) while other metrics need to be maximized (e.g. accuracy). See also the `setMaximizeEvaluationMetrics()` method.

[2021-07-13 20:26] cookielee77 opened #7103 "Dask has different prediction results between single GPU and multi GPUs"
Hi, I’m running the multi GPUs script from https://github.com/dmlc/xgboost/blob/master/demo/dask/sklearn_gpu_training.py.

I used my customized dataset and replace the X and y in the file, and run it with a single GPU and two GPUs. However, I got different results when `print(prediction.compute())`.

Single GPU res:

`Prediction: [-9.0414286e-04 -1.7836094e-03 -3.1796098e-03 ... 9.1552734e-05 -9.7

[2021-07-14 03:06] trivialfis commented on #7103
Could you please share your version of xgboost?

[2021-07-14 04:03] trivialfis commented on #7103
Also, could you please split up training and testing into 2 phrases?  The trained model is different when you have different number of workers.  But after having the exact same model, the prediction should be same.

[2021-07-14 04:58] cookielee77 commented on #7103
Thanks for the response! I used `1.0.0rc1` version (I will test the latest version too).

I think I find where is the bug but don't know which part in dask causes it. This numerical error in the inference stage is more serious when the data size is pretty large, e.g., `m = 10000000`. Here is how I modified the code after the training:

[code]

With only one GPU, `prediction1` and `prediction2` are

[2021-07-14 05:22] trivialfis commented on #7103
Please update to latest xgboost 1.4.2.  The dask interface has improved a lot since the initial introduction.

You can use as many workers as you like, the result is the same assuming the model is the same and you are using latest xgboost.  The tricky part is, the model returned by training with 1 GPU is different from training with 2 GPUs.  See below.

It's only the problem with training, inferen

[2021-07-14 16:03] cookielee77 commented on #7103
Thanks! I will update to 1.4.2 and run it again. Will give you update soon.

[2021-07-14 22:27] hcho3 opened #7106 "XGBoost appears to be incompatible with libomp 12.0"
I tried running Python tests on my Macbook Pro (16-inch, 2019) and got an segfault:
[code]

How to reproduce:
* Upgrade `libomp` by running `brew install libomp`. My machine has `libomp` 12.0.1.
* Compile the latest source of XGBoost:
[code]
(The same error happens when using the Release build.)
* Run pytest with `PYTHONPATH=./python-package/ python -m pytest -v -x tests/python/test_basic.py::Test

[2021-07-14 22:40] hcho3 commented on #7106
To unblock our CI, let's use libomp 11.1.0 for all MacOS tests.

[2021-07-14 22:58] hcho3 commented on #7106
Closing as duplicate of #7039

[2021-07-14 23:03] #7106 closed

[2021-07-15 03:33] trivialfis commented on #7032
Did you see any warning about dask worker being restarted?

[2021-07-15 03:41] trivialfis commented on #7101
Other than what @hcho3 has suggested, please upgrade XGBoost, we have a new AUC implementation that can handle the edge case where only pos or neg sample is available.

[2021-07-15 03:41] #7101 closed

[2021-07-15 03:45] trivialfis commented on #6972
As long as the tests in xgboost passes, it should be fine.

[2021-07-15 03:45] #6972 closed

[2021-07-15 03:49] #6552 closed

[2021-07-15 09:45] ofiryaish opened #7108 "How training continuation works?"
Hello,

I'm looking to train a model on a certain dataset and then continue learning on another dataset with the same structure.  I saw that the fit function has an optional argument called xgb_model, which allows adding "file name of stored XGBoost model or ‘Booster’ instance XGBoost model to be loaded before training (allows training continuation)".
However, It is not clear how the training cont

[2021-07-15 15:52] zzheng93 opened #7110 "cannot allocate memory in static TLS block"
Hello, I noticed there is an error when I import `xgboost` after `xarray`. However, it works after I switching the order. It would be great to know other solutions. Thanks!

![image](https://user-images.githubusercontent.com/23510121/125817971-41587a4c-7554-4290-9cfb-9065310fd8ce.png)

[2021-07-15 15:56] zzheng93 commented on #7110
more information:
[code]

[2021-07-15 16:28] trivialfis commented on #7110
Related:

https://bugzilla.redhat.com/show_bug.cgi?id=1722181

https://github.com/pytorch/pytorch/issues/2575
https://github.com/opencv/opencv/issues/14884

I think this needs to be fixed in libgomp itself.

[2021-07-15 16:34] trivialfis commented on #7108
Just adding new trees on top of old ones unless you are using the `refresh` updater, which changes some statistic in trees that are not related to model structure.

Could you please provide some links to these talks?

[2021-07-15 17:53] ofiryaish commented on #7108
@trivialfis
Thank you for your quick response.

Obviously, as you describe it, it should not be suitable for transfer learning without using the refresh parameter since the old trees are not changing and are based only on the old data.

If I choose to use the refresh option, what do you mean by that it changes some statistics in trees unrelated to the model structure? Is it makes the old trees ada

[2021-07-15 19:49] trivialfis opened #7111 "[dask] Segfault in prediction with `DaskDMatrix` + `base_margin` (Workaround)."
We observed segfault in our CI environment https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/master/921/pipeline with test `test_predict_with_meta`.

The failure hasn't been reproduced in any other environment yet.  And even to reproduce it in CI requires a very specific configuration.  It's a memory read error in `MetaInfo::SetInfo` when copying data from numpy into XGBoost using `

[2021-07-16 13:05] Zethson commented on #6744
Also starts to appear with other major packages. Even Pandas 3.8 requires numpy > 1.20.0

https://github.com/pandas-dev/pandas/blob/master/pyproject.toml#L17

I would love to see numpy 1.20 be supported.

[2021-07-16 14:51] trivialfis commented on #6744
Could you please help check the SHAP package?  I don't have a computer at hand this weekend.

[2021-07-16 20:37] Denisevi4 opened #7114 "xgboost Distributed Calculates Wrong Gradients/Hessians"
I've tried using a  simple example for distributed XGBoost and I'm getting wrong gradients

I'm using the 1.4 release branch of xgboost

In short, I'm using 100 samples from Iris dataset and try to train distributed xgb model. Code is below:

[code]

When I run non-distributed version
python simple_distributed_xgb.py --world_size 1
I get this tree:
[code]

Seems correct since I'm using 100 example

[2021-07-16 22:28] sammynammari commented on #6713
Hi, thanks for looking at this again. I’m not sure I understand the question - I thought groupId and qid were the same concept? What is the difference that you are suggesting?

[2021-07-17 04:32] Denisevi4 commented on #7114
It appears that the following line should be removed from updater_quantile_hist.cc:

`histred_.Allreduce(&grad_stat, 1);`

I checked that grad_stat is already correct prior to this line. Most likely because histograms are already syncronized by this point. So, this allreduce just doubles stats (since I used two nodes) incorrectly.

If I remove that line, distributed works as expected producing the

[2021-07-17 15:04] trivialfis commented on #7114
Thanks for raising the issue, I will look into it and add some tests tomorrow.

[2021-07-18 10:03] zepen commented on #6135
i have some problem,  but i can' t understand your solve.

[2021-07-19 18:44] mayer79 opened #7115 "last interaction constraint example seems wrong"
In https://github.com/dmlc/xgboost/issues/4075#issuecomment-458280942, a very precise definition of feature interaction constraints is given. In my view, the last example in https://xgboost.readthedocs.io/en/latest/tutorials/feature_interaction_constraint.html

![image](https://user-images.githubusercontent.com/16206095/126210442-b9417dec-7ec0-4141-86dc-62dbbe4d6151.png)

is wrong (if the definiti

[2021-07-19 18:55] hcho3 commented on #7115
The definition in https://github.com/dmlc/xgboost/issues/4075#issuecomment-458280942 ignores the scenario where two or more constraint lists overlap with each other.

[2021-07-19 19:50] mayer79 commented on #7115
Hmm. Them this look like a bug in the implementation. In this example, it would be possible that x0, x1 and x2 are used in the same branch, which clearly violates the constraint.

[2021-07-19 20:03] trivialfis commented on #7115
Hi, I wrote the example and am sorry for the confusion.  It's difficult to argue whether it's right or wrong depending on one's perspective.  Do you want features to be included or excluded?  Or does overlapping features actually make sense and should we throw an error instead?  At the moment I just documented it, if you have suggestions feel free to share.

[2021-07-19 20:15] hcho3 commented on #7115
It may be easier if we simply forbade constraint lists with overlap.

[2021-07-19 20:26] mayer79 commented on #7115
@trivialfis : without your example, I would never have realized this behaviour!

I think the definition of https://github.com/dmlc/xgboost/issues/4075#issuecomment-458280942 is actually what seems like a very natural and ideal behaviour. I.e. each branch would meet only variables appearing together in at least one set of constraints. So each constraint would define a group of variables allowed to

[2021-07-20 03:31] hcho3 commented on #7115
@mayer79 Enforcing the definition in https://github.com/dmlc/xgboost/issues/4075#issuecomment-458280942 requires us to keep track of all the feature IDs that were used in all ancestor nodes, a task that's quite difficult in the current implementation.

For now, we will simply ban interaction constraints with overlap. This way, the current behavior of XGBoost will be consistent with the definition

[2021-07-20 07:36] mayer79 commented on #7115
@hcho3 : I see the point - thanks a lot. Disallowing overlaps is a good solution for the moment.

[2021-07-21 12:25] mikecyterski opened #7118 "Survival AFT analysis using xgb.cv"
Hello folks. Has anyone used Survival Analysis with AFT using xgb.cv in R? I see examples online using xgb.train, where you can set lower and upper limits on the label (response variable) within the xgb.DMatrix, but I keep getting errors in my code when trying to do this with xgb.cv. I set the lower and upper label bounds in this fashion:

y_lower_bound -> dataset[,1]
y_upper_bound -> dataset[,2]

[2021-07-21 13:51] JSAnandEOS opened #7119 "Unable to resume training with models saved with checkpoint"
Hello,

I'm currently training an XGBoost (v1.3.0, Python) model using XGBRegressor on a very large dataset (6 million rows x 54 features) with 250 trees, and after taking ~5 hours to train, Python is suddenly killed due to a memory error. In order to diagnose what's happening I tried using a checkpoint callback function to save every 10th iteration as a separate model, using the following code:

[2021-07-21 13:59] Denisevi4 commented on #7114
@trivialfis Did you have a chance to look at it?

[2021-07-21 14:04] trivialfis commented on #7119
Hi, with `as_pickle`, you should load the model as follow:

[code]

The `load_model` function implemented in xgboost is exlusively for loadding file saved by `model.save_model`.

[2021-07-21 14:07] trivialfis commented on #7114
Yes, trying to clear out the to-do items. ;-)

[2021-07-21 14:12] ShvetsKS commented on #7114
@Denisevi4 I think we can't avoid this synchronization `histred_.Allreduce(&grad_stat, 1);`
As `grad_stat` is a local variable: https://github.com/dmlc/xgboost/blob/master/src/tree/updater_quantile_hist.cc#L316
Each worker calculate the statistic on local data subset and it should be decently  synchronized.

As for difference in batch and distributed trained model, seems the most possible reason i

[2021-07-21 14:24] Denisevi4 commented on #7114
@ShvetsKS Hessian equals to 100 prior to this line on both nodes. However, one node has 60 samples locally, the other has 40 samples. So, they both must have gotten stats from the other node already. I presume this happens during histogram building when all histograms are synchronized and stats are summed.

[2021-07-21 14:39] ShvetsKS commented on #7114
@Denisevi4  for current else branch https://github.com/dmlc/xgboost/blob/master/src/tree/updater_quantile_hist.cc#L327 we definitely have to keep this synchronization as it accumulates the sum of local `gpair_h` vector.

[2021-07-21 14:39] JSAnandEOS commented on #7119
Thanks. I'll try that.

What should ```n_estimators``` be set to in order to resume training to the original target of 250 trees after creating a checkpoint at 220 trees: 250 or 30?

[2021-07-21 14:49] Denisevi4 commented on #7114
But you understand what I'm saying right? Hess=100 means that each node counts that it already used 100 events in the stats. Which is a full training dataset. Just making sure.

[2021-07-21 14:59] ShvetsKS commented on #7114
@Denisevi4 sorry for not accurate look at `Dense` branch. As a local `grad_stat` is accumulated from `hist` what was synchronized in `hist_synchronizer_->SyncHistograms` call already. Seems yes, `grad_stats.GetHess()` after synchronization `histred_.Allreduce(&grad_stat, 1);` is just multiplied by number of local workers. And it doesn't look like expected behavior. Thanks!

[2021-07-21 15:02] trivialfis commented on #7114
@ShvetsKS Would you like to create a PR?  Would be great to have a test in dask.

[2021-07-21 15:18] Denisevi4 commented on #7114
@ShvetsKS  I dunno about https://github.com/dmlc/xgboost/blob/master/src/tree/updater_quantile_hist.cc#L327 example that you posted.
Because in my example it went to this if condition
[code]
But maybe we need to keep Allreduce inside that else condition like you mentioned?

[2021-07-21 15:23] ShvetsKS commented on #7114
@trivialfis sure https://github.com/dmlc/xgboost/pull/7120

[2021-07-21 15:24] ShvetsKS commented on #7114
@Denisevi4 yes, that's exactly what I wanted to do (https://github.com/dmlc/xgboost/pull/7120)

[2021-07-21 15:56] Denisevi4 commented on #7114
@ShvetsKS Nice. Maybe you can also add a couple of distributed unittests for both Dense and not dense cases to make sure this stays correct in future.

[2021-07-21 15:58] ShvetsKS commented on #7114
Yes. It's in progress. Just waiting for finishing current tests.

[2021-07-22 05:45] kuku1999 commented on #5519
I use same machine and OS and installing libomp is not working for me. Please help.

[2021-07-22 05:50] hcho3 commented on #5519
@kuku1999 Can you post the error message you saw?

[2021-07-22 07:19] trivialfis commented on #7022
Closing this issue as the interface is here now.  But we still need to change internal algorithms to make it useful for training.

[2021-07-22 07:19] #7022 closed

[2021-07-22 07:20] trivialfis commented on #6336
Closing this issue as the interface is here now.  But we still need to change internal algorithms to make it useful for training.

[2021-07-22 07:20] #6336 closed

[2021-07-22 07:20] #6307 closed

[2021-07-22 07:21] trivialfis commented on #6167
Please try to use the new iterator interface.  :-)

[2021-07-22 07:21] #6167 closed

[2021-07-22 07:22] trivialfis commented on #6719
Please check out the new iterator interface, with which you can load the data with any library you want.

[2021-07-22 07:22] #6719 closed

[2021-07-22 09:19] trivialfis commented on #7119
Hi, I added a demo in https://github.com/dmlc/xgboost/pull/7121 .  The fix is not related if you don't change the hyper-parameters in training continuation.  Hope that helps.

[2021-07-22 10:08] ShvetsKS commented on #7114
@Denisevi4 , @trivialfis unfortunately the problem with different workers count is still exist even after applied fix. If we use larger than iris datasets (`make_regression(1000000,100)` as an example) and test it with different `num_workers`, models will be different. And seems the reason is in the quantization process (different bin matrices produce different models).

Now we can only guaranty t

[2021-07-22 10:26] trivialfis commented on #7114
That's fine.  Different number of workers will generate different models for training, it's a known limitation in the algorithm.

[2021-07-22 11:03] trivialfis commented on #7114
Closed by https://github.com/dmlc/xgboost/pull/7120 .

[2021-07-22 11:03] #7114 closed

[2021-07-22 11:24] trivialfis commented on #7108
The model is essentially unchanged.  But some statistic like "cover" (hessian) is refreshed.  These are useful for calculating other attributes like SHAP value.

I don't know, feel free to experiment. ;-)  Other aspects are outlined by @hcho3 .

[2021-07-22 12:24] leoknuth opened #7122 "Limit or constraints of data"
When I use XGBoost to train data, is there any limit of data? Specially I am confused about two issues.

1. What are the recommended ranges of data? C++ int range aka -2147483647 ~ 2147483648?
2. When different features are in different orders of magnitude. Does XGBoost do normalization internally?

[2021-07-22 12:35] trivialfis commented on #7122
We use float32 to represent all data.

No, that should be part of feature engineering.

[2021-07-22 12:38] leoknuth commented on #7122
When data exceeds float32 range, how they are processed in XGBoost? Treated as 2^31 or -(2^31 - 1)?

[2021-07-22 12:41] leoknuth commented on #7122
Is it recommended to normalize data to keep all features in similar levels before using XGBoost?

[2021-07-22 12:50] trivialfis commented on #7122
Truncated according to floating-point rules.

Not required.  The gain is calculated from gradient which is in turn calculated from prediction and labels.  But if you have huge variance in your data it's advised to do some pre-processing first. Otherwise, the floating errors can be significant.

[2021-07-22 12:52] trivialfis commented on #7118
cc @hcho3

[2021-07-22 12:55] leoknuth opened #7123 "Relationship between tree numbers, tree depth and feature numbers?"
If I have n features, how many tree estimators should I use in XGBoost? What is the recommended tree depth?
If n is small e.g. n <= 10?
If n is large e.g. n >= 100?

[2021-07-22 12:58] leoknuth commented on #7122
Thanks!

[2021-07-22 12:58] #7122 closed

[2021-07-22 13:01] trivialfis commented on #7123
Unrelated.

We don't have a recommendation on this hyper-parameter.  It's data dependent.  Also if you are training for multiple boosting iterations, then each base model can be simple.  If you are training random forests then you might want deeper trees.  Feel free to use some hyper-parameter tuning libraries like sklearn and optuna.

[2021-07-22 13:01] #7123 closed

[2021-07-22 14:24] ofiryaish commented on #7108
O.K. will try it. Can you explain please how I'm setting `refresh` updater?

Thank you

[2021-07-22 14:33] ofiryaish commented on #7108
I see that when I initialize the model I have an argument called `updater`.
1) should I set it to `updater='refresh'`?
2) Should I initialize both the pre-trained model and the "continued" model with this or only the "continued" model?
3) Does it affect the training speed with GPU?
4) Does it affect the accuracy of the model? (I assume not since you said it only change the statistics of the model)

[2021-07-22 16:31] Denisevi4 commented on #7002
I'm surprised this doesn't bring attention. Seems an easy win since a lot of times people use colsample.

[2021-07-22 19:38] trivialfis commented on #7108
Thanks for raising these good questions!  I will try to write a formal document for XGBoost in the next few days to clarify all of these.

[2021-07-22 21:22] mirik123 commented on #2087
The `MultiOutputRegressor` is bad alternative because it doesn't update eval_set dataset together with the main train (X, y) dataset.

[2021-07-23 03:10] leoknuth opened #7124 "Floating point precision issue"
Hello, I have some questions about floating point precision.
1. Is there any option for users to choose float32 or double64 when using XGBoost?
2. When I dump the model to a json file, I found that the `split_condition` values seem to have 9 effective digits. Are the last 2 digits meaningless since XGBoost uses float32 in training and prediction?

[2021-07-23 07:43] trivialfis commented on #7124
Unforunatebly, other than histgram precision there's no such option for switching.

This relates to floating point printing.  XGBoost utilizes the algorithm implemented in https://github.com/ulfjack/ryu for saving model into JSON. (not for `model.get_dump()`, but for `model.save_model()`).

[2021-07-23 07:43] #7124 closed

[2021-07-23 07:44] trivialfis commented on #7119
Closing as the original question is answered and there's now a demo for training continuation.  Feel free to open new issues if you have more questions.

[2021-07-23 07:44] #7119 closed

[2021-07-23 08:32] trivialfis commented on #6713
Yes, they are the same concept.  It's easier to simplify the handling logic if each same has an associated qid in sorted order.

[2021-07-23 08:36] trivialfis commented on #6279
I don't think we can handle segfault with fault tolerance.  If you have specific example of segfault please share, we will do our best to address them.

[2021-07-23 08:36] #6279 closed

[2021-07-23 08:37] trivialfis commented on #6256
We have that now.

[2021-07-23 08:37] #6256 closed

[2021-07-23 08:42] trivialfis commented on #5474
The memory usage has since improved a lot with inplace predict and `DeviceQuantileDMatrix`.  Free free to try them out.  One issue remain is sometimes CPU algorithm uses memory linear to `n_threads * n_features`.

[2021-07-23 08:45] trivialfis commented on #2087
I would love to spend some time on this ...

[2021-07-23 09:04] loretoparisi commented on #2087
I have used this approach and it seems to work fine

https://github.com/dmlc/xgboost/issues/2087#issuecomment-534640535

[2021-07-23 11:19] ofiryaish commented on #7108
Thanks, looking forward to this.
Meantime, I run myself a couple of tests. I found that the only combination that works is `updater='refresh' & process_type='update'`. I found the training much slower than just continuing the training without any changes in the default values of `updater` and `process_type`.

When I tried to run the training continuing only with `updater='refresh', I got this erro

[2021-07-23 15:21] mayer79 commented on #7118
I once had the same problem.  IMHO, `xgb.cv` does not deal with `label_lower_bound` and `label_upper_bound`. My solution was to do the cross-validation without `xgb.cv`.

[2021-07-23 15:45] bfoxconlabs opened #7125 "BUG? - Predict for Multi-Classification - Hard limit to 3 classifications"
https://github.com/dmlc/xgboost/blob/master/R-package/R/xgb.Booster.R#L430L432

When a multi-classification predict is run with `reshape=TRUE`, the output is different than in previous commits.

These lines of code seem to limit the output to just 3 classifications (3 columns), even if n_groups > 3.

Is this intended?

[2021-07-23 15:53] mikecyterski commented on #7118
Thanks MM. Someone else recommended writing my own cross-validation routine but I was waiting to see if there was an easier solution. Would you mind sharing your code?

[2021-07-24 06:10] trivialfis commented on #7125
Thanks for raising the issue.  My bad, will fix it.

[2021-07-24 06:45] trivialfis commented on #7098
Hmm, that happens during DMatrix construction, the `nthread` parameter is not exposed in R.

[2021-07-25 14:22] talipini commented on #7022
This is very exciting. Is gpu_hist mode supported with the iterator interface? Demo code seems to suggest that it does but my test  throws memory errors and wanted to check. Appreciate all the work that went into this.

[2021-07-25 17:08] trivialfis commented on #7111
Might be related: https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-7130/5/pipeline

[2021-07-26 08:19] trivialfis commented on #7022
For GPU Hist, it's just like `DeviceQuantileDMatrix` with a cached ellpack matrix.  Internally all batches are still concatenated, but with a compressed format.  So it saves memory, but with an upper bound.  For that one might simply use `DeviceQuantileDMatrix` with iterator instead.  I tried to bring a real implementation for GPU (actual batching), but failed to obtained reasonable performance ev

[2021-07-26 08:31] trivialfis commented on #7111
I believe this is a bug in GCC 7.5.

[2021-07-26 13:25] talipini commented on #7022
@trivialfis Thank you! Appreciate the details.

[2021-07-27 07:25] #7125 closed

[2021-07-27 16:18] jon-targaryen1995 commented on #6893
@candalfigomoro  @naveenkb

How do you expose the bestIteration and bestScore attained during training?
Is it implemented in the package?

[2021-07-28 08:48] trivialfis commented on #7108
Hi, I drafted a small example for process_type in https://github.com/dmlc/xgboost/pull/7135 . Could you please check it out?

From the existing document:

Hence you saw an error about gpu hist not being able to modify existing trees.

Both refresh and prune are running on CPU, prediction can be run on GPU if you specify so.

Other questions should be clear in the example added in that PR.

[2021-07-28 09:05] MarkGuryanov opened #7136 "EarlyStopping can incorrectly detect metric improvement with positive tolerance"
Hello!

The logic of class [`xgboost.callbacks.EarlyStopping`](https://github.com/dmlc/xgboost/blob/92ae3abc972c100a11d7e75fb6dbeebdb7cefd1e/python-package/xgboost/callback.py#L471) determining whether the metric improved seems to be incorrect if parameter `abs_tol` is graeter than 0. Namely, its private method [`_update_rounds`](https://github.com/dmlc/xgboost/blob/92ae3abc972c100a11d7e75fb6dbeeb

[2021-07-28 09:16] trivialfis commented on #7136
Related: https://github.com/dmlc/xgboost/pull/7066  I will add a min delta.

[2021-07-28 10:48] #6773 closed

[2021-07-28 11:10] trivialfis commented on #7136
Hi, I have opened a PR: https://github.com/dmlc/xgboost/pull/7137 could you please help review it?

[2021-07-28 11:49] jpvandervelden opened #7138 "Performance degradation"
Hi,

We're using XGBoost in our Python project to train our models. We've been using version 1.2.1 for some time. It turned out there was security issue with that version. We upgraded to 1.4.1 but soon found out that the performance degraded from 9 mins to 57 mins. I did some tests to see what the duration was for the different versions.

<html>
<body>

Version |  Duration | Model Score | Safe
--

[2021-07-28 11:54] trivialfis commented on #7138
Could you please share the training parameter and the data shape along with its sparsity?

[2021-07-28 11:58] trivialfis commented on #7138
Also, which interface are you using?

[2021-07-28 12:19] jpvandervelden commented on #7138
Here some snippets from the code:

`from xgboost import XGBClassifier

classifier = XGBClassifier(use_label_encoder=False, eval_metric = 'merror')

parameters_xgb_computer = {
              "class__regressor__n_estimators": [10, 20, 30], #number of estimaters for GradientBoostingClassifier
              "class__regressor__learning_rate": [0.1, 0.2, 0.3], #learning rate for GradientBoostingClassifi

[2021-07-28 12:21] trivialfis commented on #7138
Are you using scikit-learn grid search?

[2021-07-28 12:21] jpvandervelden commented on #7138
yep... from sklearn.model_selection import GridSearchCV

[2021-07-28 12:22] trivialfis commented on #7138
Could you plese set `n_jobs` to 1 for xgb classifier?

[2021-07-28 12:36] jpvandervelden commented on #7138
I can. And then check the durations once more?

[2021-07-28 12:37] trivialfis commented on #7138
Yes.

[2021-07-28 14:03] jpvandervelden commented on #7138
Using hyperparameter n_jobs=1 the outcomes are:

<html>
<body>

Version |  Duration | Model Score | Safe
-- |  -- | -- | --
1.2.1 | 10 mins | 0.8008968609865471 | No
1.3.3 | <still running> |  | Yes
1.4.2 | 57 mins | 0.8026905829596414 | Yes

</body>
</html>

[2021-07-28 14:08] trivialfis commented on #7138
Thanks for the infomation.  I will try to reproduce and bisect the changes once you have the sparsity information.

[2021-07-28 14:55] jpvandervelden commented on #7138
SPARSITY: 0.9804190291345377

[2021-07-28 15:15] trivialfis commented on #7138
Hmm, only 2 percent of the elements.  Might be caused by changes in DMatrix.  Anyway, will bisect it.

[2021-07-28 18:05] pseudotensor opened #7140 "Memory allocation error on worker 0: std::bad_alloc: cudaErrorMemoryAllocation: out of memory"
[code]

based upon close to master hash.

Odd thing here is system is quite free and the test is a very small data test.  The requested memory is only 48k, but we have 11GB free.

Is it possible this is an erroneous error message?  Can we get a better error message?

[2021-07-28 18:29] trivialfis commented on #7140
Would be great it can be more precise.

Seems like it.  It can be caused by a previous error, cuda is always running asynchronously.

Yes, by using compute-sanitizer or cuda-memcheck.

I suspect that you have empty data set in inputs, could you please try something after https://github.com/dmlc/xgboost/commit/e6088366dfb4fb163f0cf6e946a2d087934743dd ?  I worked out some fixes for invalid device or

[2021-07-28 19:38] pseudotensor commented on #7140
Thanks.  We are on 29f8fd6fee96b5b28bc1ccd6fdfc5d472b949f0b

cuda-memcheck isn't feasible since it is hit so rarely among all our testing of thousands of tests (unit and integration).

[2021-07-29 03:32] thariq-nugrohotomo opened #7142 "documentation PDF - missing figures/images"
Several images/figures are missing from the downloaded PDF format of the documentation, especially on the "Feature Interaction Constraints" section.

1. Missing decision-tree figure/image
![image](https://user-images.githubusercontent.com/87131717/127426944-51aff539-fe8e-47dc-9c2f-0635af1803ee.png)

2. Another missing decision figure/image
![image](https://user-images.githubusercontent.com/8713171

[2021-07-29 06:18] castorfou commented on #7138
I have the same interest.
With 0.90 training takes about 2 mins. And in version 1.4.0 after 14 hours it is not completed.
Training with gridsearch from scikit-learn, large n_estimators are specially long:
[CV] END colsample_bytree=0.6, eta=0.01, max_depth=10, n_estimators=1500; total time=131.0min

[2021-07-29 07:03] trivialfis commented on #7138
@jpvandervelden @castorfou  How many classes do you have?  Are the labels encoded?

[2021-07-29 07:19] trivialfis commented on #7140
Out of curiosity, are you testing categorical data support too? (which would be great)

[2021-07-29 07:32] castorfou commented on #7138
I use a regressor here. (xgb.XGBRegressor)
And the scikit-learn way to train (not using DMatrix):

[code]

[2021-07-29 08:09] trivialfis commented on #7138
Thanks for sharing.  Looking into the difference.

[2021-07-29 08:23] MarkGuryanov commented on #7136
Hi @trivialfis!
Yes, I'm looking into it now.

[2021-07-29 08:37] rwjmiller opened #7144 "XGBRFRegressor - support or deprecate early stopping please"
In the python scikit-learn interface to XGBoost, we have XGBRFRegressor. When fitting one of these, it is possible to specify all the parameters relating to early stopping:

- eval_set
- eval_metric
- early_stopping_rounds
- sample_weight_eval_set
- base_margin_eval_set

However, because `num_boost_round` is overridden to 1 for XGBRFRegressor, none of these actually do anything very useful, and th

[2021-07-29 09:39] trivialfis commented on #7138
@jpvandervelden  Likely that you are using the Exact tree method, could you please consider trying faster approximation methods like `hist` and `gpu_hist`?

[2021-07-29 11:36] jpvandervelden commented on #7138
If I understand correctly Exact is the vanilla XGBoosting tree algorithm. As I didn't specify anything I guess I'm using the Exact algorithm then. I will have a go with "hist" and the machine doesn't have a GPU.

[2021-07-29 11:39] trivialfis commented on #7138
We have documents on various tree methods: https://xgboost.readthedocs.io/en/latest/treemethod.html

[2021-07-29 11:44] jpvandervelden commented on #7138
Thanks. I looked into those and see the different options..   started the training.. will report the results as they come in..

[2021-07-29 11:51] trivialfis commented on #7138
It's a little bit unusual for this level of sparsity, so we might not be constantly looking at these kinds of datasets.  I will create some PRs and try to bring back some performance in the coming days.

[2021-07-29 12:07] jpvandervelden commented on #7138
#labels = 34

[2021-07-29 12:30] trivialfis commented on #7138
@ShvetsKS Could you please help take a look into the hist performance for sparse datasets?  On my machine the following example is slower than exact:

[code]

[2021-07-29 12:53] jpvandervelden commented on #7138
Using parameter "tree_method": "hist"

The column Duration is the time in minutes is the total time including overhead of starting the instance. The column Training is the actual time to train the model in seconds. I will add those times for the earlier results.

<html>
<body>

<div class="table-wrap">

Version | Duration | Training | Model Score
-- | -- | -- | --
1.2.1 | 9 mins | 430 sec | 0.8008

[2021-07-29 16:23] trivialfis commented on #7144
Thanks for raising the issue.  I think the best path for us to proceed is to throw an error for now and then add proper random forest training to our roadmap for prioritization.

[2021-07-29 17:21] trivialfis commented on #6148
Actually, this has already been fixed in https://github.com/dmlc/xgboost/pull/7064 .

[2021-07-29 17:22] #6148 closed

[2021-07-29 17:24] #4354 closed

[2021-07-29 17:24] #5143 closed

[2021-07-29 17:32] trivialfis commented on #7140
Feel free to close this one if you can pass your tests.

It's worth spending some time to make the tests deterministic.

[2021-07-29 17:54] #6642 closed

[2021-07-29 17:54] #6791 closed

[2021-07-29 18:06] pseudotensor commented on #7140
They are, it's xgboost's behavior in this case that is not reproducing.

[2021-07-29 18:27] trivialfis commented on #7140
I haven't seen this on XGBoost GPU for a long time now...  if you have an example of out-of-bound access please open a new issue.  I will try to fix it as soon as possible.

If you have an example that XGBoost is flaky given deterministic input, please share.  The empty dataset issues I mentioned are quite deterministic, given an empty dataset in cupy/cudf, the cuda pointer is invalid so XGBoost c

[2021-07-29 18:31] trivialfis commented on #7140
If that's the case upgrading xgboost won't help.  Just as a side note, if XGBoost is being flaky given deterministic input, then there's a bug.  So please share any such behaviors.

[2021-07-29 18:39] pseudotensor commented on #7140
Yes will do.  As usual, because of the odd behavior, I was seeking advice on what could be happening *in order to make a repro*.

That is, under what (if any) external conditions would you expect xgboost to say it needed 40k of memory and fail but had 11GB free?  Can that fact be used somehow to isolate the problem better?

[2021-07-29 18:48] trivialfis commented on #7140
Yeah, totally.

As mentioned, CUDA is running asynchronously, so an error in a CUDA API call (including launching kernel) might not be immediately returned, and might be observed in a later call to a possibly different CUDA API function.  In this case, there's an error before allocating the memory, but the error is delayed due to async API, so it's only reported during memory allocation, leading t

[2021-07-29 19:57] #7111 closed

[2021-07-29 22:52] pseudotensor commented on #7140
Maybe related.  This time GPU is mostly free, and doing GPU scoring.  During loading of the model from disk, it goes to cupy for some frame.  And then can't even allocate 512 bytes.

[code]

Dumped during error less than second later:

[code]

[2021-07-30 05:39] ShvetsKS commented on #7138
@trivialfis, this workload has too few samples for `hist` method and top hotspots are `Evaluate` and `Sync` histograms kernels (doesn't depends on number of samples).
For 200k samples training times are similar (and accuracy is better for `hist`). For `m=513450` `hist` method 1.7 times outperforms `exact` in this case.
The Evaluate and Sync histograms kernels can be easily optimized by merging the

[2021-07-30 06:09] trivialfis commented on #7138
Yeah, these sparse datasets are like the URL dataset which is wide and sparse due to encoding.   Dynamic scheduling sounds like a good solution.

[2021-07-30 06:10] trivialfis commented on #7140
Again, I'm pretty sure the error happened before the memory allocation.  You need to run compute-sanitizer to narrow down where did the error happen.

[2021-07-30 06:16] ShvetsKS commented on #7138
on the URL dataset 'hist' method outperforms `exact`, just checked it.

[2021-07-30 06:23] trivialfis commented on #7138
I bisected the performance change to 2fcc4f28 (#6037), my fault as usual ...  I managed to reduce some overhead caused by conditional branches, but to be honest I'm a little bit reluctant to spend too much time on optimizing the exact tree method.  So I'm hoping the hist tree method can just outperform exact in this case.

[2021-07-30 06:25] ThePhysicist92 opened #7147 "Xgboost fit won't recognize my custom eval_metric. Why?"
[code]
[code]
[code]

The error I get is: XGBoostError: [07:56:32] C:\Users\Administrator\workspace\xgboost-win64_release_1.4.0\src\metric\metric.cc:49: Unknown metric function custom_eval_metric

What am I doing wrong? Thank you in advance!

[2021-07-30 06:58] trivialfis commented on #7147
You passed a string named "custom_eval_metric", not the actual function. ;-)

[2021-07-30 06:58] #7147 closed

[2021-07-30 14:14] ivan-marroquin commented on #5859
Hi all,

Previously, I reported that the boosting stage didn't work well. It is like the same tree was repurposed through out the entire process.

I believe that I found a way to overcome such issue. I needed to set a number of estimators for xgboost as well for ngboost. The code below shows this modification:

import numpy as np
import ngboost
import xgboost
from sklearn.datasets import load_bost

[2021-08-01 07:12] naveenkb commented on #6893
`
.
.
.
val xgbClassificationModel = xgbClassifier.fit(train)

val bestScore = xgbClassificationModel.nativeBooster.getAttr("bestScore")
val bestIteration = xgbClassificationModel.nativeBooster.getAttr("bestIteration")
`

[2021-08-01 12:54] WhoisZihan opened #7150 "What is the right performant C++ interface for online prediction?"
Hi, I'd like to start serving xgboost model for online prediction in C++, but I am not sure which interface is fastest, and would appreciate any suggestion.

The [XGBoosterPredict](https://xgboost.readthedocs.io/en/stable/dev/c__api_8h.html#adc14afaedd5f1add105d18942a4de33c) is marked deprecated, pointing me to [XGBoosterPredictFromDMatrix](https://xgboost.readthedocs.io/en/stable/dev/c__api_8h.ht

[2021-08-02 06:46] trivialfis commented on #7150
Before answering questions, there are specialized tools for running inference servers, model deployment is becoming its own field now.  To get started you probably want to look at https://github.com/dmlc/treelite and FIL https://medium.com/rapids-ai/rapids-forest-inference-library-prediction-at-100-million-rows-per-second-19558890bc35 .  @hcho3 has better insight into this field.  (full disclosure

[2021-08-02 06:50] trivialfis commented on #7150
Aside from the above comment, JSON is not that slow for a small parameter object, we actually verify its correctness on floating-point conversion by enumerating all 32-bit floating-point.  For online prediction, it might have some overhead, but it's efficient enough for mini-batch prediction.

[2021-08-02 16:46] #7085 closed

[2021-08-02 16:46] #7150 closed

[2021-08-02 16:47] trivialfis commented on #7150
Added a demo.

[2021-08-02 20:13] trivialfis commented on #6893
TODO: Follow up with documents.

[2021-08-02 22:04] pseudotensor opened #7153 "GLM GPU -> CPU use broken with core dump"
Not sure how long, but probably months.  I tried latest:

https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/xgboost-1.5.0.dev0%2B36346f8f563ef79bae94604e60483fb0bf4c2661-py3-none-manylinux2014_x86_64.whl

and latest rapids 21.08 nightly as of today.

[code]

and then run the `load.py` like:
[code]

for load.py:
[code]

It doesn't really matter how one tries to set things, step-by-step, for

[2021-08-02 22:06] pseudotensor commented on #7153
I've also hit a related error in production code that looks like:

[code]

which happens when trying to set those parameters.

Idea is that normal to run GPU fit and predict on other systems that my only have CPUs.  This  used to work, but not sure how long been broken.

[2021-08-02 23:00] Kolyanty commented on #6143
I would like to have this objective too. Are there any plans to work on this feature?

[2021-08-02 23:27] hcho3 commented on #7153
@pseudotensor Thanks for reporting the bug. Have you seen a similar problem with tree models also, or is the problem limited to gblinear specifically?

[2021-08-03 02:22] WhoisZihan commented on #7150
Thanks for the reference! I'll take a look at them.

I didn't realize there was prediction cache, but it sounds reasonable for the speedup. I did use the same input for the whole 10000 rounds within a simple for loop. Also I skipped the 1st round for the warmup(as we usually do for tensorflow models).

I'll check it later to see if I walked into the cached path. Thanks for the hint.

Flexibility m

[2021-08-03 03:41] pseudotensor commented on #7153
No problems for gbm.  i.e. this works fine:

[code]

[code]

when running:
[code]
Indeed things are automatic, I don't have to change anything.

[2021-08-03 03:59] hcho3 commented on #7153
@pseudotensor Thanks for clarification. This is indeed what I suspected, because we do have an automated test in the CI that fits a GBM on GPU and runs inference on CPU. A similar test should be added to cover GLM as well.

[2021-08-03 05:11] #6873 closed

[2021-08-03 05:11] #7108 closed

[2021-08-03 06:29] #7136 closed

[2021-08-03 07:29] trivialfis commented on #7153
Thanks for the reproducible example, right now you can workaround it by setting `gpu_id=-1` in your first example of loading model:

[code]

The issue is caused by the destructor of gpu coordinate descent updater.  Removing it can pass the test.  A deeper issue is the configuration for `gpu_id` inside C++ isn't propagated back to Python scikit-learn attributes during load.  I don't plan to "fix" t

[2021-08-03 07:56] #7142 closed

[2021-08-03 09:39] #7098 closed

[2021-08-04 07:51] jon-targaryen1995 opened #7155 "XGBoost 4J spark giving XGBoostError: std::bad_alloc on databricks"
I am using XGBoost 4J spark to create a distributed xgboost model on my data. I am developing my model in databricks.

The spark version is **3.1.1**, scala **2.12** and XGBoost 4J **1.4.1**

My cluster setup looks as below,

- 5 worker nodes with each worker of size 32GB and 16 cores
- Driver node with 14GB of memory and 4 cores

My cluster configuration looks as below,
spark.executor.memory 9g
s

[2021-08-04 10:09] 8ern4ard opened #7156 "Segmentation Fault with CV2 import"
The following code creates a Fatal Python error: Segmentation fault.
- XGBoost 1.4.0 and opencv 4.5.2 in conda on Ubuntu 20.04.2 LTS (conda-forge)

It does not do so when (i) cv2 is not imported or (ii) n_jobs  = 1 or 2 on a machine with 2 CPUs or (iii) n_job = 1 on a machine with 16 CPUs. Also, I can't reproduce it on MacOS BigSur (same package versions, also conda-forge).

I tried to build XGBoo

[2021-08-04 14:10] trivialfis commented on #7156
What compiler and which version of it are you using?

[2021-08-04 14:12] trivialfis commented on #7156
I'm asking because we have found a GCC bug which leads to incorrect SSE instructions recently.  We ended up upgrading the GCC version on CI: https://github.com/dmlc/xgboost/pull/7141 .  The error you showed is a bit different from ours, but it's good to eliminate this case.

[2021-08-04 14:23] 8ern4ard commented on #7156
Does this answer your question?
I did this
[code]

to do this
https://xgboost.readthedocs.io/en/latest/build.html#building-on-linux-and-other-unix-like-systems

[2021-08-04 15:36] trivialfis commented on #7156
Great, you are using a new GCC.  Unfortunately I haven't been able to reproduce the error:
[code]

[2021-08-04 15:39] trivialfis commented on #7156
Since you can compile XGBoost from source, could you please try using sanitizer? https://xgboost.readthedocs.io/en/latest/contrib/unit_tests.html#sanitizers-detect-memory-errors-and-data-races

[2021-08-05 10:03] 8ern4ard commented on #7156
I forgot to mention my numpy version before:
Python 3.9.6 on Ubuntu 20.04.2 LTS
(conda-forge)
xgboost                   1.4.0
opencv                    4.5.2
numpy                     1.21.1

I did this:
[code]

Which indicates that my naive cp was maybe not correct.
I googled a bit and did this:
[code]

[2021-08-05 10:30] jon-targaryen1995 commented on #7155
On further investigation, I increased the driver size to 128GB and 32 cores.  And got the same error.

I continuously monitored the driver metrics and none of it was over loaded.

**Number of CPU used**
![image](https://user-images.githubusercontent.com/65717241/128334353-a12e57b5-9d39-4e49-a66c-4ba4a509acf3.png)

**Memory usage**
![image](https://user-images.githubusercontent.com/65717241/1283346

[2021-08-05 10:40] 8ern4ard commented on #7156
FYI, I was able to reproduce on a clean aws.c5.large Ubuntu 20.04.2 LTS instance.

Only hurdle is cv import:
https://stackoverflow.com/a/63377623
Also, Miniconda needs to be installed manually of course.

conda create -n bug python=3.9.6
conda install -c conda-forge numpy=1.21.1 xgboost=1.4.0 opencv=4.5.2

[2021-08-05 14:23] trivialfis commented on #7156
That's interesting.  Thanks for sharing the details.

[2021-08-05 14:25] trivialfis commented on #7155
@wbo4958  Have you seen something similar before?

[2021-08-05 19:12] hcho3 commented on #7156
@8ern4ard I just launched a new c5.4xlarge instance on AWS EC2 with Ubuntu 20.04.2 LTS and could not reproduce the segfault.
I ran the following commands:
[code]

Output:
[code]

Am I missing something?

[2021-08-05 21:16] trivialfis commented on #7156
Do you think it's only reproducible with the original script instead of the demo code?

Your demo code doesn't have 24 lines.

[2021-08-05 22:33] freddyaboulton opened #7157 "BUG: Predict errors out if feature matrix only has boolean columns (python)"
[code]
[code]

[code]

This error does not happen for version 1.3.3 so I'm wondering why the change of behavior has occurred. It's also curious that fit does not throw an error - only the predict methods do. Is it possible to restore the old behavior?

Thank you!

[2021-08-06 00:04] amohar2 opened #7158 "No supported methods for JSON serialization of trained XGBoost model without using disk"
XGBoost's Learning API for Python provides the following ways to save/load the model:
1. save_config/load_config: this will save/load the internal Booster configuration parameters as JSON. However, it seems that save_config does not save all the required information to load Booster object from scratch. For example, the following code:

`import xgboost
from sklearn.datasets import make_classificati

[2021-08-06 00:23] hcho3 commented on #7158
Currently, no, there is no serialization method that meets all your requirements.

[2021-08-06 03:07] trivialfis commented on #7158
Is it possible to convert the bytes to string?

[2021-08-06 03:09] trivialfis commented on #7157
That's caused by the inplace predict.  We used to convert the boolean value into float and make a CSR copy by DMatrix.  Now the scikit-learn interface will use inplace predict directly so no conversion is performed.  I will fix it by falling back to the old method.  Thanks for raising the issue.

[2021-08-06 04:27] amohar2 commented on #7158
@trivialfis I can convert bytes output of save_raw() to string, however, load_model() still accepts bytes object, so at some point the saved string needs to converted back to bytes object. So, I think still there will be security vulnerabilities, since the users could create their own custom strings and use load_model() to deserialize/execute them

[2021-08-06 04:36] trivialfis commented on #7158
Could you please elaborate on this?  Specifically how an attacker can use load model to execute anything?

[2021-08-06 07:22] 8ern4ard commented on #7156
- You are correct that my demo code has less than 24 lines. I first thought the parameterization of the model may be important. Since that is not the case, I reduced the demo to the smallest possible example before posting this issue, but didn't c+p the otherwise identical trace.
[code]
- @hcho3 , correct, the c5.**4x**large instance does not reproduce the error right away. on this instance, chang

[2021-08-06 07:35] 8ern4ard commented on #7156
Ah, I see now that I was not precise when claiming the demo code would segfault on a 16 CPU machine with n_jobs > 1.
Correct is, that my real-world code did that on such a machine. Sorry for that.

[2021-08-06 16:58] amohar2 commented on #7158
I cannot come up with a concrete example, however, the output of save_raw() produces the following bytearray:
bytearray(b'binf\x00\x00\x00?\x15\x00\x00\x00\x02\x00\x00\x00\x01\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\

[2021-08-06 17:10] trivialfis commented on #7158
At the moment this save_raw function is indeed not using JSON format.  But it should be trivial for us to make the switch since the JSON format is very well tested by now.  Before we were able to switch the default (likely in 1.5), you can try to use virtual memory as file `/dev/shm`.

I think there might be security risk, we haven't verified things like this yet.  I can think of a scenario where

[2021-08-06 18:36] hcho3 commented on #7156
@8ern4ard Thanks, raising `n_jobs` did the trick. So apparently a high enough value for `n_jobs` value will cause XGBoost to segfault when `cv2` is also imported.

[2021-08-06 19:24] hcho3 commented on #7156
I ran the example with GDB and obtained the following stack trace:
[code]

The segfault is occurring in the following code:
https://github.com/dmlc/xgboost/blob/f7003dc8193bd9f84b501eb72aea73bd36f93309/src/data/data.cc#L981-L984

I also found out that #7161 eliminates the segmentation fault with the example code. I was even able to use higher values for `n_jobs`.

[2021-08-06 20:53] amohar2 commented on #7158
thanks for your suggestion, I agree, using /dev/shm should be a good alternative for now.

[2021-08-07 07:34] santhisenan opened #7162 "Xgboost takes up lot of space in docker container"
I am trying to install xgboost in a docker container. However, xgboost is currently taking up more than 500MB in the container.

I have a python 3.8 base container and I am trying to install xgboost using `pip install --no-cache-dir xgboost`. To reproduce, build a container using the below Dockerfile.

[code]

**Is there a way to reduce the amount of space taken up the xgboost package?**

![image]

[2021-08-07 07:38] hcho3 commented on #7162
Try: `pip install --no-binary xgboost xgboost`, which will download the source package `xgboost.tar.gz` and build it on the fly.

The binary package is large because it is built with GPU support.

[2021-08-07 14:00] santhisenan commented on #7162
Thank you for your reply.

Using the method you suggested, I was able to reduce the disk space used by xgboost to **just 8 MB**.

![image](https://user-images.githubusercontent.com/14852343/128601547-941ab829-13bd-442a-8034-0cd18e3fbabe.png)

Updated Dockerfile:
[code]

[2021-08-07 14:53] #7162 closed

[2021-08-09 08:17] 8ern4ard commented on #7156
@trivialfis @hcho3 I pulled the master branch to build from source and run my real-world code.
Everything works fine! Thank you for your time! Apparently it even solved another problem I had when predicting with dask backend, but I need to further investigate there.

[2021-08-09 08:17] #7156 closed

[2021-08-10 06:42] mohitk08 opened #7163 "No Support for Build with runtime Library as MD on MSVC?"
Does XGBOOST not support MD runtime Library on MSVC?

I see that we force static runtime for MSVC by calling msvc_use_static_runtime() from cmake/Utils.cmake
e.g.
https://github.com/dmlc/xgboost/blob/master/CMakeLists.txt#L158
https://github.com/dmlc/xgboost/blob/master/CMakeLists.txt#L332
https://github.com/dmlc/xgboost/blob/master/src/CMakeLists.txt#L32

With my limited understanding, this creat

[2021-08-10 07:08] trivialfis commented on #7163
@RAMitchell Do you have any insight?

[2021-08-10 07:16] RAMitchell commented on #7163
We can deal with it if someone demonstrates an issue, I think this is fairly normal as it doesn't depend on having a local runtime. It would be an issue if you linked xgboost.lib with an application built differently.

[2021-08-10 07:30] mohitk08 commented on #7163
I am using XGBOOST as a static c++ library i.e. BUILD_STATIC_LIB = ON

When I try to build my application with linking against this xgboost.lib, I get runtime Library mismatch errors.

While debugging this, I found the forceful use of static runtime Library in cmake of xgboost. Hence pointed it out.

Please let me know if you need any further information

[2021-08-10 13:06] ianux22 opened #7165 "GPU support not working properly"
Hello everyone!

I'm trying to use XGboost with my GPU, but I'm having troubles.

I did all the steps to install cuda and the right drivers, but when I use my GPU, it is slower than my CPU.

Here the code I used

[code]
Those are the results
[code]
Using nvidia-smi, this I s what I have
[code]

Any idea about it?

[2021-08-10 17:52] trivialfis commented on #7165
The SMI is not displaying the full name:

Could you please share the full name?

Could you please try nightly build: https://xgboost.readthedocs.io/en/latest/install.html#id1 ? We added some optimization recently.  I did a quick run on my home machine with your script with latest master:

GPU Training Time: 4.7531516551971436 seconds
CPU Training Time: 9.545726776123047 seconds

GPU: GTX1080TI
CPU

[2021-08-10 18:34] hcho3 commented on #4895
I'd like to get to this issue, hopefully before end of this year.

[2021-08-10 18:39] hcho3 commented on #7163
We should implement a CMake option that's similar to `DMLC_FORCE_SHARED_CRT` in dmlc-core:
[code]
https://github.com/dmlc/dmlc-core/blob/5eaff7643a88949c81af1e5de11945632920bf96/CMakeLists.txt#L25

[2021-08-10 19:52] ianux22 commented on #7165
GPU

 product: TU106 [GeForce RTX 2060]
vendor: NVIDIA Corporation

CPU

AMD Ryzen 9 4900H with Radeon Graphics

I installed the nightly build, and now GPU and CPU seem to have similar speed.
[code]

[2021-08-11 02:01] mzq20180601 commented on #6993
I am facing the same question...

[2021-08-11 03:55] yudhiesh opened #7166 "Unable to load pickled SageMaker XGBoost model"
I was using `SageMaker Autopilot` which is AWS's  version of AutoML for training a model and the candidate model I choose was an XGBoost model. I have downloaded the model which comes in the format `model.tar.gz` and then I unzipped it using `tar xvfz model.tar.gz` which produced a file` xgboost-model`. I know the new method for storing the model is using a json file, so this indicates that SageMa

[2021-08-11 04:07] yudhiesh commented on #7166
Solved by upgrading xgboost using `pip install --upgrade xgboost`

[2021-08-11 04:07] #7166 closed

[2021-08-11 08:57] trivialfis commented on #7157
This is now fixed in master branch without creating a CSR matrix.  Will be included in the next release.

[2021-08-11 08:57] #7157 closed

[2021-08-11 14:26] freddyaboulton commented on #7157
Thank you @trivialfis !

[2021-08-11 15:07] CatTail opened #7167 "XGBoost4J failed with SIGSEGV"
Hi Team, I'm using XGBoost4J to do online inference, however, I encounter an issue that when executing predict method in multiple thread environments, the native code will fail with SIGSEGV.

Runtime Environment: Ubuntu 20.04 with JDK 11

JVM Fatal Error Log Example 1: [hs_err_730147.log](https://github.com/dmlc/xgboost/files/6969408/hs_err_730147.log)
JVM Fatal Error Log Example 2: [hs_err_730976

[2021-08-11 15:11] trivialfis commented on #7167
@wbo4958 Is it JDK 11 with scala being tested?

[2021-08-11 15:15] PossessedC0bra opened #7168 "XGBoost4J: Exporting to, then importing a model from stream results in wrong model format exception"
Hi there!

I'm currently having issues with exporting and importing an XGBoost model to/from a Stream. I export the model to a `ByteArrayOutputStream` with the `saveModel` method on `ml.dmlc.xgboost4j.java.Booster` :
https://github.com/dmlc/xgboost/blob/3f38d983a671632bfb0dbdcdead6f2aa408a06f2/jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/Booster.java#L393-L396

At a later point i tr

[2021-08-11 15:22] CatTail commented on #7167
@trivialfis actual I just run jdk 8 and I can reproduce the same issue. One more thing I can mention is I'm using scala 2.12, but I guess both Java and Scala version don't matter here, if you run the above script and take a look at the Linux coredump (not java heap dump), it seems the native code have some sort of thread safe issue, but since I'm not familiar with c++ codebase, so I'm not sure her

[2021-08-11 15:28] trivialfis commented on #7167
Thanks for sharing, which XGBoost version are you using?

[2021-08-11 15:32] CatTail commented on #7167
I'm using XGBoost4J 1.3.1

[2021-08-11 15:51] trivialfis commented on #7167
- Could you please try 1.4?  Thread safety support is quite new.
- Also please checkout https://xgboost.readthedocs.io/en/latest/prediction.html#thread-safety `set_params` is not thread safe.

[2021-08-11 15:55] trivialfis commented on #7167
AFAIK JVM package still requires a sync during prediction: https://github.com/dmlc/xgboost/pull/7027

[2021-08-11 17:49] trivialfis commented on #7167
Yes, but your example code has `setParams`, which is mentioned in the document.

Can you set the parameter before passing the model into threads?

[2021-08-11 17:51] trivialfis commented on #7168
I think this might be relevant? https://github.com/dmlc/xgboost/pull/7067

[2021-08-12 02:55] ICDI0906 opened #7169 "how the validationObjectiveHistory Array generate in distribute envrionment"
how the validationObjectiveHistory and trainObjectiveHistory Array generate in a distributed environment?

[2021-08-12 08:17] CatTail commented on #7167
Yes, I can do that but that doesn't work, if I invoke `setParams` in one thread and execution predict in another thread, somehow during prediction xgboost still create more thread than the number I configured, I guess this is also caused by thread safety?

Maybe I should give more background on the issue I encounter, I'm running xgboost in k8s to do online inference. The pod is limited to use 2 CP

[2021-08-12 08:27] trivialfis commented on #7167
Thanks for sharing, I'm not familiar with k8s nor jvm package, but will try my best to answer the questions.

Could you please set the parameter right after loading the model and before creating the `Future`?

[code]

[2021-08-12 08:37] PossessedC0bra commented on #7168
I can confirm the mentioned pull request solves my issue. Thanks for your quick response!

[2021-08-12 22:20] baozzhao commented on #5243
I am also pretty interested in this and would like to help. Has there been any progress on this front? I see that @trivialfis self-assigned this issue.

Two questions:

(1) with the changes to xgboost in the past year and a half, wouldn't it be possible to simply pass Cumulative-logit loss as a custom loss?
(2) critically, could monotonic constrains be enabled? Ordinal classification with monotoni

[2021-08-12 22:49] baozzhao opened #7171 "Return individual predictions for each tree"
I think it would be really helpful if in  XGBoost implementations there was an option to return individual predictions for each tree, rather than the final predictions only (both for regression and classification). The R package `ranger` has an [analogous feature](https://cran.r-project.org/web/packages/ranger/ranger.pdf), in the `predict.all` parameter of its `predict.ranger.forest` function.

Th

[2021-08-12 23:22] hcho3 commented on #7171
You can set `pred_leaf=True` when calling `predict()`. This will produce the leaf node of each tree that's activated by the individual input.

[2021-08-12 23:42] baozzhao commented on #7171
@hcho3 sure, but that option return indices. How the leaves' indices can help me retrieve the individual tree (or leaf) _predictions_ that I am interested in?

[2021-08-12 23:44] hcho3 commented on #7171
You can run `get_dump()` function to inspect the prediction output associated with each leaf node.

[2021-08-12 23:52] baozzhao commented on #7171
@hcho3 but in that case, I am dumping leaf info from the _trained_ model, not predictions-at-leaves made with a given test data, right? Which is what I described is done for example by the `ranger` package in R.

[2021-08-12 23:55] hcho3 commented on #7171
@baozzhao XGBoost doesn't currently give the exact feature you're requesting. You can achieve the same effect by combining the result of `predict(pred_leaf=True)` with the leaf info gained from `get_dump()`.

[2021-08-13 01:00] baozzhao commented on #7171
@hcho3 thanks for tagging this as a feature request, which it seems to end up being indeed.

I can see what you mean by combining `pred_leaf` and `get_dump()`. What I don't get is that at least in R's `xgboost`, when I look at the leaf index of each booster as returned by `predict(predleaf=TRUE)` and then go check the corresponding booster/leaf indices returned by `xgb.dump()`, the values held by

[2021-08-13 01:18] hcho3 commented on #7171
If you are running a classification task, then you have to pass the sum of scores from the trees through a link function. To remove the effect of link function, try passing option `outputmargin = TRUE`.

Also, there is the effect of the hyperparameter `base_score`. It will increase every raw score by that amount. Try setting `base_score = 0`.

[2021-08-13 02:08] baozzhao commented on #7171
@hcho3 I guess what you mean is to do `predict(predleaf=TRUE, outputmargin=FALSE)` to get the leaves' indices, then look leaf values up within the output of `xgb.dump()`, then compare those values against the output of `predict(predleaf=FALSE, outputmargin=TRUE)`. All after training with `base_score=0`. That works; with all that, for each observation the sum of the leaf values across boosters equa

[2021-08-13 03:03] trivialfis commented on #7171
We have prediction range in the latest master branch.  Does that help?

[2021-08-13 11:38] pseudotensor commented on #7153
I tried your work-around but it didn't work.  FYI you had typo `gpu-1`.

[2021-08-13 11:47] pseudotensor commented on #7153
[code]
restore_params = {'gpu_id': -1, 'predictor': 'cpu_predictor'}
model.set_params(**restore_params)
[code]

[2021-08-15 08:29] pseudotensor commented on #7153
I also tried the PR you mentioned, and that still failed too.

[2021-08-15 13:05] #7168 closed

[2021-08-16 13:16] 7starsea opened #7172 "torch.Tensor as input for xgboost.DMatrix"
As pytorch is growing and popular, I hope the `data` argument for `xgboost.DMatrix` and `inplace_predict` could accept `torch.Tensor` as input.

[2021-08-16 18:31] trivialfis commented on #7172
If you are using GPU then you can use dlpack https://pytorch.org/docs/stable/dlpack.html with torch and cupy.  XGBoost accepts cupy array.  Otherwise I think it's unlikely that we have torch in our CI for integration tests.

[2021-08-16 18:31] #7172 closed

[2021-08-17 08:25] Shadyelgewily commented on #6893
This feature would very much be appreciated for XGBoost4J (non-spark) library as well. We have a situation where the evaluation function does not necessarily decrease as the loss decreases. In fact, in our situation the evaluation function can increase when the loss decreases too far. This is deliberate: we use a quantile loss function and a custom evaluation metric to ensure that the loss functio

[2021-08-18 00:07] stevendavis commented on #6846
+1 for Revising ranking objectives. #6450

[2021-08-18 09:46] bifeng opened #7176 "xgb.train early_stopping_rounds failed!"
early_stopping_rounds = 10
bst = xgb.train(param, dtrain, num_round, evallist, early_stopping_rounds)
Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "/home/homay/anaconda3/envs/pytorch/lib/python3.9/site-packages/xgboost/training.py", line 189, in train
    bst = _train_internal(params, dtrain,
  File "/home/homay/anaconda3/envs/pytorch/lib/python3.9/site-packages/

[2021-08-18 10:37] trivialfis commented on #7176
[code]

[2021-08-18 10:37] #7176 closed

[2021-08-19 01:45] kumarprabhu1988 commented on #7155
@jon-targaryen1995 I'm doing the exact same thing (same versions of scala, spark and xgboost4j) and I see the same error when I try to load my model. Any luck resolving this?

[2021-08-19 05:39] trivialfis commented on #7155
Could you please try nightly build: https://xgboost.readthedocs.io/en/latest/install.html#id4 ?

[2021-08-19 05:53] wbo4958 commented on #7155
No, I didn't see this, seems the issue may be related to https://github.com/dmlc/xgboost/pull/7067

[2021-08-19 09:49] CodeBuilderPRML opened #7178 "is xgboost support android platform? using java api or C api"

[2021-08-19 12:19] Shadyelgewily commented on #6846
+1 for ([XGBoost4J-Spark] Early stopping and best iteration)  [#6893](https://github.com/dmlc/xgboost/issues/6893)

[2021-08-19 12:34] trivialfis commented on #7178
Unfortunately no.  Feel free to try it out and share your result.

[2021-08-19 13:10] CodeBuilderPRML commented on #7178
so we can't compile it with ndk to generate c++ so for android directly? Because some header files cannot be found in android platform?

[2021-08-19 13:47] trivialfis commented on #7178
I have never tried, nor do we have Android on our CI hence "not supported".  It may or may not work.

[2021-08-19 13:50] CodeBuilderPRML commented on #7178
ok, i got it, thank u very much.

[2021-08-19 13:50] #7178 closed

[2021-08-19 17:11] Kodiologist opened #7179 "Values from `xgb.config` are incorrect for models loaded with `xgb.load.raw`"
[code]

[2021-08-19 17:13] Kodiologist commented on #7179
Note that `xgb.config` seems to be the only way to get parameters from a fitted model at the moment, because `xgb.parameters` (as opposed to `xgb.parameters<-`) is not implemented.

[2021-08-19 20:35] trivialfis commented on #7179
save.raw doesn't save parameters, it's model only.  If you want the parameters please consider using `xgb.serialize`

[2021-08-19 20:38] trivialfis commented on #7179
The serialize function is similar to saveRDS and Python pickle.  It saves everything including internal parameters.

[2021-08-22 07:28] #6158 closed

[2021-08-23 10:19] trivialfis commented on #7024
I have just tested 2019 + cuda 11.4 and didn't see the error.  After adding proper includes in some test files I was able to build XGBoost in this configuration.

[2021-08-23 14:45] trivialfis commented on #7024
I pushed the changes to https://github.com/dmlc/xgboost/pull/7180 .

[2021-08-24 09:24] bonyii commented on #5447
I installed it on linux like this: conda install py-xgboost-gpu

Follwing the instructions on this page: https://docs.anaconda.com/anaconda/user-guide/tasks/gpu-packages/

[2021-08-24 16:16] trivialfis commented on #7165
Would you like to try this PR: https://github.com/dmlc/xgboost/pull/7180 ?

[2021-08-24 23:20] JamesMaki opened #7184 "XGBoost NCCL Failure when using TPOT with RAPIDS"
Describe the bug

When using TPOT cuML GPU crashes after a few hours, it ran for ~5.5 hours before crashing as I attempted to reproduce this example provided by a DGX A100 customer. The specific error I got was a NCCL error from XGBoost. I've included the full text of my error message as well as a screenshot from the one the customer had. I monitored the whole run until it crashed using the Jupyte

[2021-08-25 06:18] trivialfis commented on #7184
Looks like I should try to figure out this one first.

[2021-08-25 15:57] hcho3 commented on #6654
Hello everyone, we now offer a pre-built binary targeting the Windows platform as well. See the updated instrutions at https://xgboost.readthedocs.io/en/latest/install.html#id2.

[2021-08-26 08:58] rrpelgrim opened #7191 "Kernel dies when creating DMatrix"
My kernel dies without an error message when trying to create an XGBoost DMatrix using:

[code]

I’ve tried the following without any luck:
- deleting libiomp5.dylib as per [this thread](https://datascience.stackexchange.com/questions/33964/python-xgboost-killing-kernel)
- including import os os.environ['KMP_DUPLICATE_LIB_OK']='True' at the top of the notebook as per [this thread](https://github.c

[2021-08-26 16:57] PatrickCrenshaw opened #7193 "xgboost.XGBClassifier.apply() is broken in 1.4.2"
apply() returns an array of shape (n_samples,) instead of (n_samples, n_trees) as it is supposed to.

[2021-08-26 19:34] #7193 closed, assigned to nobody

[2021-08-26 22:03] danielgreff opened #7194 "Inference latency of predict() when deployed in docker/kubernetes"
Hi, I am having the following problem: a deployed (Kubernetes using Docker) python service containing a XGB model stalls and leads to large (>1sec) latencies - this can't be reproduced locally running the service on a MacbookPro 2018.

Detailed description: I have a python service which is running a XGB model on every call. When initializing the service I load the trained models into a dictionary

[2021-08-27 15:47] nlathia opened #7196 "The tree_method param changes when loading a model from file"
👋 Hi team, is it expected for a model's params to change when loading a model? Specifically, the `tree_method` param changes from `"exact"` to `"auto"`. The closest I could find in the docs is:

Is it expected for `tree_method` to not be persisted/loaded?

**Environment**
- macOS Catalina 10.15.7
- Python 3.8.7
- xgboost==1.4.2, scikit-learn==0.24.2

**Example**

[code]

[2021-08-28 07:37] cb0207 commented on #6909
@hcho3 can build XGBoost successfully by
[code]
Import xgboost well also, let you know if any further issue. 👍

env:
- python 3.9.6
- macOS 12.0

[2021-08-28 07:51] trivialfis commented on #7196
Hi Neal,  the `exact` is a result of auto-selection.  If you have specificed the tree method like

[code]

Then `load_model` should give you the same tree method.  Note that the behaviour is sklearn interface specific, for other interfaces saving model generally discard all training parameters.  For details, please see: https://xgboost.readthedocs.io/en/latest/tutorials/saving_model.html

[2021-08-28 07:51] #7196 closed

[2021-08-28 07:51] trivialfis commented on #7196
Feel free to reopen or open a new issue if you have further questions.

[2021-08-28 07:56] trivialfis commented on #7194
Sorry but I don't think the xgboost developers here can help with deployment issues ...  When you try to reproduce the issue locally, could you please check that xgboost is receiving the exact same data?  From your profiling result, `from_numpy_array` is taking lots of time, so I suspect there are differences in the input data (like some libraries on the cluster is different and accidentally produ

[2021-08-28 16:57] panxhong opened #7200 "[xgboost4j] large model cause bad_alloc error"
Code File: xgboost/jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoost.java

public static Booster loadModel(InputStream in) throws XGBoostError, IOException {
        int size;
//      byte[] buf = new byte[1<<20];    large model will cause "bad_alloc" error
        byte[] buf = new byte[in.available()];  // Modify to this will solve the problem
        ByteArrayOutputStream os =

[2021-08-28 17:00] hcho3 commented on #7200
The issue was fixed in https://github.com/dmlc/xgboost/pull/7067

[2021-08-28 17:00] #7200 closed

[2021-08-28 21:16] nlathia commented on #7196
Thanks!

[2021-08-29 08:54] matthiaslein opened #7201 "Apparently successful build on Jetson Nano, but run yields "cudaErrorLaunchFailure: unspecified launch failure""
Hi all

I am trying to use my Jetson Nano’s GPU for XGBoost training. According to the instructions [here](https://xgboost.readthedocs.io/en/latest/build.html), I have downloaded the source and compiled successfully. According to [these](https://github.com/dmlc/xgboost/issues/4355) instructions, I have configured the build like this:

cmake .. -DUSE_CUDA=ON -DUSE_OPENMP=ON -DGPU_COMPUTE_VER=53

Af

[2021-08-30 08:47] rrpelgrim commented on #7191
OK, thanks for the update @hcho3. Is there any roadmap for when you will be testing/rolling out support for XGboost on M1?

[2021-08-30 10:00] trivialfis commented on #7191
Not at the moment.  Github action doesn't have M1 instance https://github.com/actions/virtual-environments/issues/2187 and AFAIK none of the active maintainers has one.

[2021-08-30 15:16] joshidp opened #7202 "Feature weights for XGBRanker"
Hi,

Thanks for your great work.

I would like to know how can we set feature weights for XGBRanker ?

I am aware that you would want the data to guide the model rather than enforcing it but one logical case for this is when you have limited data and would like to try helping the process through your subject matter expertise.

Thanks

[2021-08-30 18:12] trivialfis commented on #7202
[code]

[2021-08-30 18:12] #7202 closed

[2021-08-30 20:10] bhavana3 opened #7203 "XGBoost External Memory option"
Hi,

I am trying to see if i can use XGBoost External Memory option for production, Could someone help to understand if this feature is still only for experimentation. Would it support any format (CSV, txt etc)?

Any other suggestions if input data (more than 384 GB) is unable to load into RAM (384 GB) for xgboost?

[2021-08-31 04:08] trivialfis commented on #7203
It's still only experimental.  But we are making lots of progress recently, see a new demo: https://github.com/dmlc/xgboost/blob/master/demo/guide-python/external_memory.py .

[2021-08-31 04:18] #7203 closed

[2021-08-31 07:03] rrpelgrim commented on #7191
Ok, thanks for this. I will find another way to workaround it then.
--
*Richard Pelgrim*
+31 (0)6 374 807 31
code: github.com/rrpelgrim/portfolio
blog: richardpelgrim.medium.com

On Mon, Aug 30, 2021 at 12:01 PM Jiaming Yuan ***@***.***>
wrote:

[2021-08-31 14:58] trivialfis commented on #7153
"predictor" is a tree model only parameter.  "coordinate_selection" doesn't exist.  So xgboost gives a warning about both of them.

I'm trying to reproduce.

[2021-08-31 18:02] fabien-tell opened #7204 "Message error with XGboost : WARNING : amalgation/../src/learner.cc:573 :"
Hello,
I got this message in XGboost. I don't know what it means.
Thanks

WARNING : amalgation/../src/learner.cc:573 :
Parameters : {«importance»} might not be used
this may not be acurate due to some parameters are only used in langage binding but passe down to XGBoost core. Please open an issue if you find above cases.

[2021-09-01 02:45] #7153 closed

[2021-09-01 02:46] trivialfis commented on #7204
Hi, it means you have passed a parameter called "importance", which doesn't actually exist in XGBoost.

[2021-09-01 06:30] fabien-tell commented on #7204
Thank you,
However, I do not remember having passed it. Here is my code :
`library(xgboost)

# Define the control for CV
trControl <- trainControl(method = "cv",number = 10, search = "random")

# tuning parameters

tune_grid <- expand.grid(
  nrounds = 100,
  eta = c(0.3,0.6,0.9), # test over different values of eta
  max_depth = c(2, 3, 5,10,50), # test over different values of depth
  gamma = c(

[2021-09-01 08:15] ICDI0906 commented on #5650
xgb 0.82 can't read the model generated by 0.80? Looking forward to your reply.

[2021-09-02 02:51] trivialfis commented on #7204
Could you please share a more complete snippet?  I see

[code]

I can't be entirely sure what exactly is being called here.

[2021-09-02 06:37] fabien-tell commented on #7204
Hello,
I'm sorry being so stupid, you're right. I apologize for wasting your time. Next time, I will read my code ten times before asking a question.
I toggled importance to FALSE and now it works.
BTW, how can I retrieve (to save it) the accuracy value.
Thanks

[2021-09-02 12:07] LordRudolf opened #7207 "Unable to use v1.1.1.1 XGB models on v0.6.4.1"
Hello,

I am having an XGB model built via xgboost version 1.1.1.1 (on Microsoft R Open v 4.0.2). I need to use it for new predictions but the new prediction API is using an older R version: Microsoft R Open v3.4.4 which is also limited to older xgboost version; in this case, v0.6.4.1. The model file has been migrated from the R versions using the .rds file extension, indicating the workspace form

[2021-09-02 15:53] danielgreff commented on #7194
Thank you for your response. Yes we are passing the same data to the local version as to the deployed version. Also the payloads which cause this issue can't reproduce this issue, it seems to be input independent. I have tried your suggestion of using `inplace_predict` but it did not help with the issue, I am still seeing these spikes in latency.

What is interesting is that I can reproduce a simi

[2021-09-03 02:45] czzmmc commented on #7194
@danielgreff I'm suffering the same situation when doing prediction on kubernetes. No idea what is happening. I've tried inplace_predict() which did not work for me. If you find something, please DM me.

[2021-09-04 06:51] trivialfis commented on #7207
Unfortunately that's quite impractical.  My recommendation is just to upgrade xgboost.

[2021-09-04 06:51] #7207 closed

[2021-09-04 06:56] trivialfis commented on #7194
Internally XGBoost utilizes openmp.  There were some issues about the thread scheduling around different libc and openmp.  Could you please check that XGBoost is using the right number of threads for each prediction?

[2021-09-04 07:02] trivialfis commented on #7204
No worries.  Feedback helps us understand where we can improve our API.

For saving the evaluation results, you can try:
[code]

[2021-09-04 07:02] #7204 closed

[2021-09-05 18:26] EdvardD opened #7209 "Conditional jump or move depends on uninitialised value(s)"
Hello folks,

I’m trying to use C API inference and getting the valgrind error “Conditional jump or move depends on uninitialised value(s)” on the model initialization.

I put together an MWE:
Here is the simple model trained with scikit-learn and C++ inference code: https://pastebin.com/WYua9BEz.
And the valgrind error: https://pastebin.com/gq4cwewj.

Setup
Ubuntu 20.04, linux kernel 5.4.0-77-gen

[2021-09-06 01:27] trivialfis commented on #7209
Is it coming from dmlc parameters initialization?  If so then it's fine.

[2021-09-06 04:38] rma47 commented on #6878
Hi,
I've just come across the same problem but it appears that the split on missing is valid in my data (example below).  The missing data split was unexpected but reasonable as the missing data is unlike the other data that is present.  I would like to draw this to your attention as preventing xgboost splitting on missing values would have meant that I could not find this important feature of my

[2021-09-06 11:16] rebsp opened #7210 "XGBoost4J: model predicts different probabilities depending on number of training samples"
### Steps to reproduce
We have trained a binary classifier on a numerical feature vector of size `(3_900_000, 686)`. The training happened with the Python XGBoost library and the sklearn-API (`XGBClassifier`). If we load the model with XGBoost4J in our Java environment, we get different predictions compared to loading the model in Python and predicting with the same input vector. The worst part is

[2021-09-06 11:42] rebsp commented on #7210
possibly related to https://github.com/dmlc/xgboost/issues/7103#issuecomment-879587422 ?

[2021-09-06 13:02] Sum02dean opened #7211 "XGBClassifier incompatible with sklearn.metrics.plot_roc_curve()"
Can't use xgb.XBGClassifier() with sklearn.metrics.plot_roc_curve()

# Code
[code]

# Error out:
[code]
# Environment Info:
* xgboost built from latest source
* Python 3.8.5
* Mac OS

[2021-09-06 13:12] #7211 closed

[2021-09-06 13:12] Sum02dean commented on #7211
I wasn't using XGBClassifier

[2021-09-07 07:11] trivialfis commented on #5650
It can, but not the other way around.

[2021-09-07 09:01] ddghjikle opened #7212 "How to embed a pre-trained tree into XGBRegressor?"
Hi, during conducting transfer learning by XGBRegressor, i faced a question: how to embed weights of a pre-trained tree into XGBRegressor. Of course, I am also confused which tree is used in XGBRegressor?

[2021-09-07 09:22] trivialfis commented on #7212
Maybe:

[code]

It's not clear to me what's your question.  All the trees you have built by using `fit` are used in regressor.

[2021-09-07 09:27] ddghjikle commented on #7212
Hi, thanks very much for your help. I am trying to achieve transfer learning (with two datasets A and B) via XGBoost. To this end, I choose to train XGBoost on A and train a decision tree on B. After obtaining the XGBoost and decision tree, I want to embed weights of the decision tree into XGBoost, but i don't know how to achieve this embedding.

[2021-09-07 09:28] ddghjikle commented on #7212
Of course, I am also curious about other ideas of using XGBoost to achieve transfer learning.

[2021-09-07 09:31] trivialfis commented on #7212
So, you have a decision tree model trained using other libraries, and you want to build a gradient boosted model using XGBoost based on this existing decision tree model?  In this case, can you look into the `base_margin` parameter in `fit` method?

[2021-09-07 09:34] trivialfis commented on #7212
For a simple case, see https://github.com/dmlc/xgboost/blob/master/demo/guide-python/boost_from_prediction.py .  It's not using the sklearn interface, but can be a good starting point.

[2021-09-07 10:29] ddghjikle commented on #7212
Thanks. This is pretty helpful for me. By the way, are there any functions to print architecture or weights of trained XGBoost?

[2021-09-07 11:16] trivialfis commented on #7212
You can call `get_dump` or `save_model(model.json)`. The former is more human-readable and you can use dot format for plotting.

[2021-09-07 11:18] #7212 closed

[2021-09-08 02:19] ICDI0906 commented on #5650
thinks, I will have another try.

[2021-09-09 04:07] EdvardD commented on #7209
Here is the stack of calls:
main
XGBoosterLoadModel
xgboost::LearnerIO::LoadModel
xgboost::obj::RegLossObj<xgboost::obj::LogisticClassification>::LoadConfig
xgboost::FromJson<xgboost::obj::RegLossParam>
dmlc::parameter::ParamManager::RunInit
dmlc::parameter::ParamManager::RunUpdate

So it looks like coming from parameters initialization.

[2021-09-09 05:47] trivialfis commented on #7209
I think valgrind has some issues with static memory initialized at load time.  We will probably remove the dmlc parameter struct at some point.  For now, you can safely ignore such warnings.

[2021-09-09 05:47] #7209 closed

[2021-09-10 21:34] RichArmyHD opened #7218 "HHe"
Ddd

[2021-09-10 21:34] #7218 closed

[2021-09-13 03:25] ICDI0906 commented on #4004
mark! Is there any solution?

[2021-09-13 07:01] trivialfis commented on #6916
Closing due to stalled.

[2021-09-13 07:01] #6916 closed

[2021-09-13 13:47] ddghjikle opened #7222 "Hi, how can I save a XGBRegressor into a txt file?"
Hi, I have defined a XGBRegressor as :
import xgboost as xgb
xgb1 = xgb.sklearn.XGBRegressor(
         learning_rate =0.1,
         n_estimators=100,
         max_depth=5,
         min_child_weight=11,
         gamma=0.1,
         subsample=0.8,
         colsample_bytree=0.7,
         objective='reg:squarederror',
         n_jobs=-1,
         scale_pos_weight=1,
         seed=1234)
However, I cann

[2021-09-13 14:15] trivialfis commented on #7222
You can use `get_dump` to obtain a string representation of the model.  But the output cannot be loaded back so it's not exactly "saving the model".  If that's what you want, you can save the string using Python builtin function:

[code]

If you want a loadable representation, you can use:

[code]

[2021-09-13 16:15] #7222 closed

[2021-09-13 23:34] david-cortes opened #7223 "Building as R package?"
The installation instructions for R for building from source in linux indicate to use the CMake system:
https://xgboost.readthedocs.io/en/latest/build.html#installing-the-development-version-linux-mac-osx

XGBoost however is also available through CRAN, which requires a different package structure (e.g. without a subfolder `R-package`) as it should be an installable R package file (.tar.gz) that w

[2021-09-13 23:39] hcho3 commented on #7223
You can run `make Rbuild` at the root directory.

[2021-09-13 23:54] david-cortes commented on #7223
Thanks, would be good to add it to the docs.

[2021-09-13 23:54] #7223 closed

[2021-09-14 04:46] trivialfis commented on #6936
Closing as stalled.

[2021-09-14 04:46] #6936 closed

[2021-09-14 04:54] trivialfis commented on #7210
Thanks for opening the issue.  Will look into it.

[2021-09-14 04:55] trivialfis commented on #7210
Could you please share your model with me?  I have my email address in my github profile.

[2021-09-14 06:42] nicovdijk opened #7224 "Problem for (de)serialization of Spark implementation of custom objective and eval"
I have been trying to get (de)serialization of the Spark version of XGBoost in combination with a customObj and customEval working. Serialization works, but loading the model results in the following error:

org.json4s.package$MappingException: No constructor for type ObjectiveTrait, JObject(List())

This error is related to the json4s package. Based on some tests I have run, it seems that we are

[2021-09-14 09:00] StatMixedML commented on #2087
Is there any update on this? Can we make it a joint effort to have the multioutput regression available. Irrespective of the independence modelling of several responses/y-variables, it would be great to have the `xgb.DMatrix` accept a list or a np.array with shape >1.

[2021-09-14 09:53] trivialfis commented on #6846
- [ ] Add score tree interval to early stopping. (#5238, #5090)
- [ ] Improve ranking implementation. (#6450)

Moving the 2 items to the next release.  I will start planning the release before the end of next week.

[2021-09-14 12:40] trivialfis commented on #7210
Since you did not share your jvm code, here is my guess.   I think it might be the case that you created the `DMatrix` in java without specifying the `missing` parameter in the constructor.  Could you please try to create a DMatrix in this way:

[code]

[2021-09-14 13:19] trivialfis commented on #7210
It should also be reproducible with a smaller model.  The jvm packages have constructors that implicitly specify the missing value to be 0, which seems to be odd to me. (I'm just getting familiar with jvm package, actually, I just looked up how to use maven to debug this issue ...)

On Python and R, the default missing value should be `NaN` since 0 is a meaningful value for XGBoost (tree splitting

[2021-09-14 13:22] trivialfis commented on #7210
If your model doesn't split at 0, then the output is probably the same.

[2021-09-14 13:40] rebsp commented on #7210
Hi @trivialfis

I just did some checks and it the `missing` parameter is indeed what caused our problems. It just so happened to be that it only impacted the large model which split at 0.
Thanks for helping us out, much appreciated!

Issue can be closed.

[2021-09-14 13:58] #7210 closed

[2021-09-14 21:28] adamreeve opened #7227 "Continuous features ignored when training with categorical features"
I was testing the new categorical data support and found that if I have a mix of continuous and categorical features, trees always split on the categorical features and ignore the continous features. Is this expected behaviour or a known limitation, or am I doing something wrong here?

I'm testing with commit 35159313050914497bc1ef4400323df63eb9d6f5 from the master branch, and built with `-DUSE_CU

[2021-09-14 23:55] trivialfis commented on #7227
Thanks for opening the issue!  Will open a PR for the fix.

[2021-09-15 08:35] nivedangowda opened #7229 "How do I get Feature orders from xgboost pickle model"
I am trying to get predictions using my xgboost pickle model using the new data but getting the error "ValueError: Feature shape mismatch"

The reason for this is I need to pass the feature names exactly in the same order model was built. For that I am using the following code but it's not working:-

    feature_order= model_pkl.get_booster().feature_names
    X_new = X_new[feature_order]
    Y_st

[2021-09-15 09:06] trivialfis commented on #7229
Could you please check that the `feature_names` is not `None`?

[2021-09-15 09:07] trivialfis commented on #7229
NVM.  I see.  In the latest XGBoost we removed the feature name generation.  If you trained the model with numpy instead of pandas dataframe the booster won't have feature names in it.

[2021-09-15 09:42] trivialfis commented on #7229
You can still assign the feature names by yourself for both `DMatrix` and `Booster`.

[2021-09-15 09:42] #7229 closed

[2021-09-15 10:14] nivedangowda commented on #7229
Hi  trivialfis Thanks for your response.

Can you please be more specific with a code or something on how I can assign feature names for both DMatrix and Booster?

[2021-09-15 10:18] trivialfis commented on #7229
For scikit-learn interface (the one that you are using)

[code]

For native interface:

[code]

[2021-09-15 10:29] nivedangowda commented on #7229
I guess you are assuming that i have built my model passing the numpy array but that is not true rather my model is built using GridsearchCV as follows:-

x = data_best_features.drop(['target'],axis=1)
Y = data_best_features['target']

# train and test split using train_testt_spilt
X_train, X_test, y_train, y_test = train_test_split(x, Y, test_size=0.25, random_state=42)
X_train.shape, X_test.shap

[2021-09-15 10:41] trivialfis commented on #7229
You can still assign the feature names after fit.  In before XGBoost generates pseudo feature names we just removed the process.

[code]

[2021-09-15 16:10] #7227 closed

[2021-09-15 22:18] #7191 closed

[2021-09-16 00:13] fbrundu opened #7233 "How to use SoftMax through the C API"
I would like to use the SoftMax implementation below through the C API. Is there a way to use it using only this API (i.e., through `#include "xgboost/c_api.h`)? Thanks

https://github.com/dmlc/xgboost/blob/3e7e426b36eb307dff64a2f81f8a5a225377891d/src/common/math.h#L49-L76

[2021-09-16 04:22] FantDing opened #7234 "training multi xgboost models using ThreadPool occurs error"
# background
I have multi datasets with same schema, so I want to train multi models in parallel. I call scala `Executors.newFixedThreadPool` api to do this. But `Doing rabit call after Finalize` error happend in `first` stage
![image](https://user-images.githubusercontent.com/21337200/133548124-d1af9ed8-0e19-45f5-b2ed-86e65d4323dd.png)

## enviroment
- spark: 2.2
- xgboost: 0.82

# what I have tr

[2021-09-16 08:22] trivialfis commented on #7233
Hi fbrundu, do you mean using it for training xgboost model or using it independently?

For the former, you can call set param function, for the later it's not possible.

[2021-09-16 08:22] #7233 closed

[2021-09-16 15:57] vidosits opened #7239 "Dask partitioning causes incorrect raw sizes"
Hey,

I'm trying to train a model using xgboost.dask on a somewhat wide dataset and if I partition my dataframes then xgboost calculates row/label sizes incorrectly. If I don't partition them or use `npartitions=1` everything works as expected. Maybe it's a bug in dask_cudf?

Environment is:

256 GB RAM
2x3080 TI

conda:
[code]

[code]

and the error I'm getting for `dxgb.train`:

[code]

[2021-09-16 16:07] vidosits commented on #7239
Okay, so I think the problem is is that the partitions between `X_train` and `y_train` have different sizes:

[code]

[code]

Hence the

˙``bash
Check failed: labels_.Size() == num_row_ (144443 vs. 275003) : Size of labels must equal to number of rows.
[code]

[2021-09-16 16:14] vidosits commented on #7239
I just have to `repartition` based on divisions or get the target column after partitioning. not a dask or xgboost issue.

[2021-09-16 16:14] #7239 closed

[2021-09-16 16:19] trivialfis commented on #7169
Please checkout the code in https://github.com/dmlc/xgboost/blob/0ed979b0960e5f307a78fc7e059a272235aacea6/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostRegressor.scala#L195 .

[2021-09-16 16:19] #7169 closed

[2021-09-16 16:21] trivialfis commented on #7184
Closing as this happens in cuml.  Feel free to ping me if there's anything I can help.

[2021-09-16 16:21] #7184 closed

[2021-09-16 16:22] trivialfis commented on #7165
We have been running some benchmarks recently.  For small datasets GPU is pretty close to CPU, which is expected.

[2021-09-16 16:22] #7165 closed

[2021-09-16 16:34] trivialfis commented on #7233
There's no way to do that at the moment.  You can obtain the untransformed output by specifying predict margin.  But after that, you will have to do the transform yourself.

[2021-09-16 16:38] trivialfis commented on #7239
Yup, before passing data into XGBoost one needs to make sure all inputs have the same partitioning.  XGBoost doesn't move users' data.

[2021-09-16 16:45] fbrundu commented on #7233
Ok, thank you.

[2021-09-16 17:02] vidosits commented on #7239
Yeah, I should have read the docs more carefully, before opening an issue. Thanks for the response, appreciate it!

[2021-09-16 20:43] trivialfis commented on #7093
Closing as this likely caused by loading a pickle with `load_model`.  Feel free to reopen if there's a reproducible example.

[2021-09-16 20:43] #7093 closed

[2021-09-17 02:04] ddghjikle commented on #7222
Hi, thanks very much for your help. Now, i have saved my XGBRegressor into a json file:

{"learner":{"attributes":{"scikit_learn":"{\"n_estimators\": 1, \"objective\": \"reg:squarederror\", \"max_depth\": 5, \"learning_rate\": 0.1, \"verbosity\": null, \"booster\": null, \"tree_method\": null, \"gamma\": 0.1, \"min_child_weight\": 11, \"max_delta_step\": null, \"subsample\": 0.8, \"colsample_bytre

[2021-09-17 08:34] trivialfis commented on #7222
For most of the parameters you can find them here: https://xgboost.readthedocs.io/en/latest/parameter.html

Rest are internal.

[2021-09-17 15:05] mathijs02 opened #7244 "Column sampling not working with approximate tree building"
Hi,

I ran into a potential bug when using column sampling with approximate tree building.

### What is the problem?
When I set `tree_method` to `approx` and I use column sampling by setting either `colsample_bylevel` or `colsample_bynode` to < 1.0, no column sampling seems to take place. Sampling with `colsample_bytree` and `subsample` do work with approximate tree building, and all sampling meth

[2021-09-18 23:19] david-cortes opened #7246 "R memory safety issues"
From a similar issue in lightgbm: https://github.com/microsoft/LightGBM/pull/4597

The R interface for XGBoost throws R errors from C++ exception objects' char pointers:
https://github.com/dmlc/xgboost/blob/e48e05e6e29477634c7d78bd9e0d4acfeac56b17/R-package/src/xgboost_R.cc#L28

R errors trigger a C long jump, and if done from a catch clause, will leak the C++ exception object under GCC and CLANG.

[2021-09-19 17:42] david-cortes opened #7247 "R example for `xgb.train` throws warning"
When running the R example from `xgb.train` in the current master branch, I get the following warning:
[code]

Code as given in the example:
[code]

[2021-09-22 04:30] trivialfis commented on #7247
Let me take a look.  Thanks for opening the issue.

[2021-09-22 10:51] conglt98 opened #7249 "XGBoost4J Spark Submit Spark Cluster: XGBoostTaskFailedListener:101 - Training Task Failed during XGBoost Training"
Tracker started, with env={DMLC_NUM_SERVER=0, DMLC_TRACKER_URI=0.0.0.0, DMLC_TRACKER_PORT=9092, DMLC_NUM_WORKER=2}
2021-09-22 17:23:06 ERROR XGBoostTaskFailedListener:101 - Training Task Failed during XGBoost Training: ExceptionFailure(ml.dmlc.xgboost4j.java.XGBoostError,,[Ljava.lang.StackTraceElement;@1f417a98,ml.dmlc.xgboost4j.java.XGBoostError:
	at ml.dmlc.xgboost4j.java.Rabit.checkCall(Rabit.j

[2021-09-22 13:51] trivialfis commented on #7249
Hi, do you have a reproducible example?

[2021-09-22 14:05] conglt98 commented on #7249
I use this config. I have run training in InteliJ local and success. Then I build file Jar and push it to server.

val xgbParam = Map("eta" -> 0.1f,
      "max_depth" -> 10,
      "missing" -> -1,
      "allow_non_zero_for_missing" -> "true",
      "objective" -> "binary:logistic",
      "num_round" -> 50,
      "num_workers" -> 2,
      "tracker_conf" -> TrackerConf(60 * 60 * 1000, typeTracker),

[2021-09-22 14:34] trivialfis commented on #7249
Thanks, could you please share a self-contain, reproducible example that I can run on my machine and see the error?

[2021-09-22 14:58] conglt98 commented on #7249
Sr because this project is so complex and privacy, after i rerun, the log become as below:

Tracker started, with env={DMLC_NUM_SERVER=0, DMLC_TRACKER_URI=0.0.0.0, DMLC_TRACKER_PORT=9092, DMLC_NUM_WORKER=2}
2021-09-22 21:46:52 WARN  TaskSetManager:69 - Lost task 0.0 in stage 10.0 (TID 10) (10.60.xx.xx executor 11): ml.dmlc.xgboost4j.java.XGBoostError: Failed to shutdown RABIT worker.
	at ml.dmlc.x

[2021-09-22 15:03] conglt98 commented on #7249
Does it need a permission on executors ? Can rabit not connect the tracker so the:
TaskSetManager:69 - Lost task 0.0 in stage 10.0 (TID 10) (10.60.xx.xx executor 11) ???

[2021-09-22 17:02] trivialfis commented on #7249
Usually, it's something wrong that happened in the main tracker process, possibly killed by the launching processed due to failure in some workers, then the rest of the workers fail to connect the tracker for shutdown operation.  Without a reproducible example I can't guess the exact cause.

[2021-09-22 18:10] conglt98 commented on #7249
Tks you. But, can I ask you a question. This xgboost4J-Spark was built into Jar. It was deployed on Spark Clusters which on multiple machines. Does it need to run a rabit tracker or config rabit tracker before submit this jars to spark-submit?
And how to config RabitTracker ?

[2021-09-22 18:20] tristers-at-square opened #7250 "Rabit Poll Timeout Error Flakiness when using Approx Tree Method"
Using the "approx" tree method during distributed XGBoost training seems rather flaky. By my observation, the exact same training job with the exact same data and configurations will fail around 50% of the time when using this method.

When it does fail, it will get to the part where the RabitTracker receives the start signal from all of the workers and print "All Workers have started". However, i

[2021-09-22 18:52] hcho3 commented on #7250
Can you post an example program with which we can reproduce the problem?

[2021-09-22 19:09] trivialfis commented on #7249
It's automatically configured.

[2021-09-23 09:45] trivialfis commented on #5006
Closing this since https://github.com/dmlc/xgboost/pull/6668 should provide the feature request here (running prediction using a specified range of trees).  Both Python and R have the parameter available.

[2021-09-23 09:45] #5006 closed

[2021-09-23 20:23] tristers-at-square commented on #7250
@hcho3

For privacy reasons I can't give the exact same data, but we can create synthetic data like this to mimic the dataset I used:

[code]

Using approx method and the same conditions as I described in this post, I got 2/5 successful runs using the synthetic data.

For the training code (in Scala), here's a pared down version of my work code. Nothing fancy:

[code]

[2021-09-23 20:41] hcho3 commented on #7250
@tristers-at-square Thanks. Let me see if I can reproduce this issue locally using a single machine.

[2021-09-24 07:39] benedettapedica opened #7256 "Most important Features' NAME"
I'm having some troubles understanding how to display the name (or the index) of features my model is selecting during the fit.
I'm using scikit-learn function for selecting features and training an XGBoost model.
This is my code:
[code]
How can I display the n features that at each cycle my model is selecting?
I tried with  the function get_support but it says that is not working with XGBoost mod

[2021-09-24 12:21] PowderL opened #7257 "Is there are some ways to know on which subsample of data the XGBoost tree was fitted?"
I am working on data science with xgboost. Recently, I want to diagnose the model with the self-defined method.  And I want to know if there exists any way to get the subset of data sampled from training data for each xgboost tree.

[2021-09-24 12:27] trivialfis commented on #7257
Unfortunately, the information is not available to the users.

[2021-09-24 12:28] trivialfis commented on #7247
I need to deprecate the `verbose` parameter in the next release and unify it with the `verbosity` that's used by other bindings.

[2021-09-24 16:52] tristers-at-square commented on #7250
@hcho3  Thanks!

[2021-09-24 18:55] trivialfis commented on #7250
@hcho3 If you manage to reproduce it, could you please also test https://github.com/dmlc/xgboost/pull/7214 ?

[2021-09-24 19:11] trivialfis commented on #7257
It's actually straightforward to implement the sampling yourself.  Just define a custom objective and set the hessian value of not selected samples to 0.

[2021-09-24 19:11] #7257 closed

[2021-09-24 19:19] trivialfis commented on #7224
Hi, thanks for opening the issue.  Do you have any solution in mind?

[2021-09-24 19:23] trivialfis commented on #7234
My guess would be the booster maintained a handle to rabit reducer and is called during destruction.  By the time destruction is needed rabit is already finalized.  If that's the case, you can work around the issue by specifying the tree method to "hist" before we have a satisfying fix. (https://github.com/dmlc/xgboost/pull/7214)

[2021-09-24 19:29] #6893 closed

[2021-09-25 05:11] #6659 closed

[2021-09-26 05:31] trivialfis opened #7260 "1.5.0 Release Candidate"
Roadmap https://github.com/dmlc/xgboost/issues/6846 . Draft of release note: https://github.com/dmlc/xgboost/pull/7271 .

We are about to release version 1.5.0 of XGBoost. In the next two weeks, we invite everyone to try out the release candidate (RC).

Feedback period: until the end of *October 13, 2021*. No new feature will be added to the release; only critical bug fixes will be added.

@dmlc/x

[2021-09-26 06:29] trivialfis opened #7262 "[CI][jvm-packages] Run java examples on CI."
Currently jvm packages examples are resided under `jvm-packages/xgboost4j-example`.  On CI only scala examples are being tested, not java examples.  This is a tracking issue for running all examples on CI.

[2021-09-26 06:45] FantDing commented on #7234
but，what's the difference between mutli thread and single thread?

[2021-09-26 06:57] trivialfis commented on #7260
This time R-hub has Apple M1 instances.  Let's wait for the test result. ;-)

[2021-09-26 08:33] trivialfis commented on #7260
* TODO R-Hub
  - [X] Apple Silicon (M1), macOS 11.6 Big Sur, R-release
    https://builder.r-hub.io/status/xgboost_1.5.0.1.tar.gz-bc54ff86ce58fe30b3a2562c4695372f
  - [X] Oracle Solaris 10, x86, 32 bit, R-release
    https://builder.r-hub.io/status/xgboost_1.5.0.1.tar.gz-eeb1a18511be2a4808f1fbacabae3924
  - [ ] Oracle Solaris 10, x86, 32 bit, R release, Oracle Developer Studio 12.6
    https://bui

[2021-09-26 10:05] FranziskaMaria opened #7264 "Dealing with link-functions (here: objective = "count:poisson“)"
Dear all! I’m using xgboost for poisson distributed data in my master thesis. Unfortunately, I cannot find any literature that describes what exactly happens when I set objective = "count:poisson“ in xgb.train. I have shortly summarized what I suppose could happen in this case - see [XGBoost.pdf](https://github.com/dmlc/xgboost/files/7231156/XGBoost.pdf). Could you please tell me, whether this is

[2021-09-26 14:58] trivialfis commented on #7264
Hi, I haven't looked into the slides in detail yet.  The link function is the canonical link I believe you are correct.  But could you please check the sign of the first-order gradient?

[2021-09-26 14:59] trivialfis commented on #7264
NVM.  The sign is correct.

[2021-09-26 15:10] trivialfis commented on #7264
Closing the issue now since I think both gradient and hessian are correct. (aside from weighted data).

[2021-09-26 15:10] #7264 closed

[2021-09-27 08:47] withing1113 opened #7266 "ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed"
Exception in thread "main" ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed at ml.dmlc.xgboost4j.scala.spark.XGBoost$.ml$dmlc$xgboost4j$scala$spark$XGBoost$$postTrackerReturnProcessing(XGBoost.scala:582)
	at ml.dmlc.xgboost4j.scala.spark.XGBoost$$anonfun$trainDistributed$2.apply(XGBoost.scala:459)
	at ml.dmlc.xgboost4j.scala.spark.XGBoost$$anonfun$trainDistributed$2.apply(XGBoost.

[2021-09-27 08:51] withing1113 commented on #5357
Have you already solved this problem?

[2021-09-27 10:47] trivialfis commented on #7266
Hi, could you please share a self-contain reproducible example that I can run?

[2021-09-27 10:51] withing1113 commented on #7266
Of course sure. I will send to you later.

颂安，祝好~
On 09/27/2021 18:47, Jiaming Yuan wrote:

Hi, could you please share a self-contain reproducible example that I can run?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-09-28 01:59] withing1113 commented on #7266
[code]
Actually, this is an example from https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html.

[2021-09-28 02:10] withing1113 commented on #7266
spark version:2.4，scala version: 2.11, xgboost version:0.90
This is the spark submit codes:
    /usr/bin/hadoop/software/spark2.4/bin/spark-submit \
    --jars scalaj-http_2.11-2.4.1.jar,xgboost4j-spark-0.90.jar,xgboost4j-0.90.jar \
    --priority VERY_HIGH \
    --queue $best_queue \
    --driver-memory 6G \
    --executor-memory 10G \
    --num-executors 12 \
    --conf spark.dynamicAllocation.e

[2021-09-28 02:41] wbo4958 opened #7268 "[Task] XGBoost supports rapids plugin"
[Rapids plugin](https://github.com/NVIDIA/spark-rapids) is a Spark plugin which accelerates Spark with GPUs. With spark-rapids, most of the Spark operators can be run on GPU, and the final result can also reside in GPU. At the same time, XGBoost library has supported building DMatrix or DeviceQuantileDMatrix directly from GPU memory. So spark-rapids can accelerate XGBoost from End to End.

Since w

[2021-09-28 12:28] rwjmiller opened #7273 "Mathematical error in gamma-nloglik eval_metric calculation?"
I notice that this seems to have changed a few months ago following this discussion:

https://github.com/dmlc/xgboost/pull/6778/files/625c374b493612f90c1c242cfe7c215571a48a52#diff-67879cd710406fb4e525362b7317b91633f3881b2813cd0e36e2e1ed8b5293b5

Before this change, the expression for the row-wise log-likelihood, in terms of p = prediction and y = response value, simplified down to:

`gamma-nloglik

[2021-09-28 15:25] trivialfis commented on #7273
Thanks for opening the issue!  Let me double check, can't remember how did I put it in there but seems you are right.

[2021-09-28 19:03] nicovdijk commented on #7224
It took me some time to get everything to work, but I think I managed to implement a nice solution, see this [pull request](https://github.com/dmlc/xgboost/pull/7274). All feedback welcome.

I did have two other issues (maybe related to my Windows 10 system):

1. One involving `create_jni.py` where somehow a space in a path seems to mess up the maven install process.
[code]

2. And one involving t

[2021-09-29 15:07] conglt98 opened #7276 "Mismatch between the versions of spark and xgboost4j"
XGBoostModel training failed.

[code]

 This problem is amazing. The single test on the iris data set written by my local computer can run, but the development environment and the online environment cannot be executed. Another colleague found a problem with track_conf. After setting track_conf on his local computer, it can be executed successfully. , But neither the development environment nor the

[2021-09-29 21:02] trivialfis commented on #7276
@wbo4958 Could you please help take a look?

[2021-09-29 22:43] wbo4958 commented on #7276
So the versions of Spark for your local and online env are different? I didn't remember if I have run xgboost4j-spark 1.3.1 against Spark 3.1.2, but basically xgboost is leveraging the public API of spark, suppose it should be compatible for different sparks.

I will check if the newest xgboost can run on different sparks.

[2021-09-30 02:04] hcho3 commented on #7163
#7277 should fix this.

[2021-09-30 02:25] conglt98 commented on #7276
At local, I run on IntelliJ with maven spark 3.1.2. and xgboost4j-spark 1.3.1 -> run smoothly and successfully
At online env, I use spark-submit on spark 3.1.2 clusters with file jar which was built from local - xgboost4j-spark 1.3.1 -> training failed (Uncaught exception thrown by worker)

[2021-09-30 02:52] wbo4958 commented on #7276
@conglt98 Could you show me the full driver and worker log for the exception?

[2021-09-30 02:54] conglt98 commented on #7276
`2021-09-22 21:45:06 INFO  SparkContext:57 - Running Spark version 3.1.2
2021-09-22 21:45:06 INFO  ResourceUtils:57 - ==============================================================
2021-09-22 21:45:06 INFO  ResourceUtils:57 - No custom resources configured for spark.driver.
2021-09-22 21:45:06 INFO  ResourceUtils:57 - ==============================================================
2021-09-22 21:45:

[2021-09-30 03:00] wbo4958 commented on #7276
Thx @conglt98, Looks like you have only pasted the log from driver side, Could you also pls paste the log from executor side?

[2021-09-30 05:13] #7163 closed

[2021-09-30 11:25] trivialfis commented on #7260
Hi all, the RC packages are released to public repositories now.  Please help test the new release and provide feedbacks.  Enjoy!

[2021-09-30 22:04] jsleight opened #7281 "Maven is missing some xgboost versions"
Noticed that maven is missing some xgboost versions (including the latest).  [E.g., xgboost4j](https://mvnrepository.com/artifact/ml.dmlc/xgboost4j) -- xgboost4j-spark also has missing versions.  They do seem to be consistent about which versions are available.

[2021-09-30 23:17] hcho3 commented on #7281
@jsleight The missing versions are missing because of one of two reasons:
1) A critical bug was found that made a particular release unsuitable for publication; or
2) A patch release was not applicable to the JVM package. For example, 1.4.2 is identical to 1.4.1 in all parts except the Python package.

[2021-10-01 05:41] s-ravichandran opened #7282 "Fairness-aware classification with XGBoost"
Hi XGBoost community!

I'd like to add the implementation for our paper [FairXGBoost: Fairness-aware Classification in XGBoost](https://arxiv.org/abs/2009.01442) by way of a custom objective function. I'd like to add the functionality through an additional ``fair_classification_obj.cc`` file in order to provide support for distributed execution as well (which, AFAIK, is not possible with the pytho

[2021-10-01 06:23] #7281 closed

[2021-10-01 14:19] jsleight commented on #7281
In these cases it could be nice to publish anyway, even though the jar will be identical.  E.g., I manage xgboost deployments across multiple environments so have both python and jvm packages.  It is nice to have the versions be matching across all environments so I know everything is compatible.  As is I have to maintain a compatibility matrix.

[2021-10-01 14:51] trivialfis commented on #7281
Indeed we can improve this area in future releases.

[2021-10-02 06:37] hcho3 commented on #7282
@s-ravichandran Thanks for starting this discussion. FairXGBoost appears to be a feature that would be useful for many users.

If the goal is to enable distributed training, I would highly recommend passing the extra MetaInfo as a Dask array or series. When using Dask for distributed training, you will **not** have access to the `MetaTryLoadFloatInfo` method that reads from a separate file.

Examp

[2021-10-02 06:41] hcho3 commented on #7282
Currently, XGBoost does not offer ability to access MetaInfo vectors in a secure way. This will be a major effort.

[2021-10-02 06:45] hcho3 commented on #7282
An alternative is to enable distributed training via Dask using a custom objective function. The advantage is that you may be able to implement secure access methods for sensitive features inside the custom objective function.

[2021-10-03 01:02] SandyBy commented on #6885
same problem, have you solved this? Thx!

[2021-10-03 04:15] PowderL commented on #7257
OK, thanks so much, I really appreciate for your reply.

[2021-10-03 08:49] Stochastic13 commented on #6885
@SandyBy Not directly, unfortunately. Had to change the data processing to get different results. Not much success with other implementations either. See if [scikit-survival](https://pypi.org/project/scikit-survival/) helps you since it has gradient-boosted learning with cox-ph loss. Is much slower than XGBoost though.

[2021-10-03 15:10] PowderL commented on #7257
OK, thanks so much, I really appreciate for your reply. And, is there any way to get the random seed like the  random state in the numpy package to sample the train data for each xgboost tree?

[2021-10-03 20:08] sgrondahl opened #7284 "verbose_eval=int does not work when calling xgboost.cv in the python package"
When an integer `verbose_eval` kwarg is passed to `xgboost.cv`, no verbose output is generated. Only `verbose_eval=True` works as expected and generates one line per iteration.

The issue is the first condition in the following line:
https://github.com/dmlc/xgboost/blob/b3b03200e233286424ff2bdd0e268237ea12d5ff/python-package/xgboost/training.py#L475

I would propose eliminating the `isinstance(ver

[2021-10-04 09:53] s-ravichandran commented on #7282
Hi @hcho3,

Thanks for your suggestions!

I feel that at this point, the advantages you mentioned definitely outweigh the disadvantage of not being able to use the GPU algorithm optimally.

To make sure I got it right, I'll list the changes that are needed. Please let me know if I'm missing something.

1. Add `sensitive_features` to `MetaInfo`
2. Add `sensitive_features` as a keyword argument for

[2021-10-04 18:38] hcho3 commented on #7282
The steps look reasonable. Let me check how feasible it is to get custom objective working in Dask. There isn't any demo or example for this use case, so we should add one.

[2021-10-04 18:50] hcho3 commented on #7282
@s-ravichandran Keep in mind that putting the sensitive feature into a MetaInfo field will require us to keep the sensitive feature in memory.

[2021-10-04 20:03] s-ravichandran commented on #7282
Yes, I just did a quick check of the code and looks like internally `DaskDMatrix` and `DMatrix` use the same internal method to train which takes `obj` as a parameter. But, i haven't checked through an implementation yet. Will try and make the `custom_objective.py` work for Dask arrays.

[2021-10-04 20:08] s-ravichandran commented on #7282
Yes, given that out objective function is of the form

`CE(yhat,y) + epsilon * CE(yhat,s)`

I figured it'd be desirable to hold `s` in memory as well. Or were you thinking of any other reason why it shouldn't be in memory?

[2021-10-04 20:43] hcho3 commented on #7282
@s-ravichandran Got it. So it's perfectly fine to hold `s` in memory.

[2021-10-05 05:35] keshav-1835i commented on #6956
Log from the executor

` DEBUG TransportClient: Sending stream request for /classes/org/apache/spark/sql/catalyst/expressions/O
bject.class to 403d870f7034/172.22.0.4:45683
21/10/05 05:33:21 DEBUG NettyRpcEnv: Error downloading stream /classes/org/apache/spark/sql/catalyst/expressions/Object.
class.
java.lang.RuntimeException: Stream '/classes/org/apache/spark/sql/catalyst/expressions/Object.class

[2021-10-05 08:27] wbo4958 commented on #7224
Looks like other guy has reported this issue before https://github.com/dmlc/xgboost/issues/5936

[2021-10-05 08:57] #7273 closed

[2021-10-05 19:54] deanforce opened #7287 "Lack of reproducibility despite using a consistent seed"
Hello,
We’ve been having some discussion concerning a lack of reproducibility despite using a consistent seed in xgboost when employing Bayesian optimization for the hyperparameters. After some digging, the issue seems to be in the xgboost package itself, but I’m still unclear as to what’s driving this. Could you please take a look? a sample syntax to reproduce the problem is available here: https

[2021-10-06 06:09] SandyBy commented on #6885
If you don't use cv, it goes well. Also, I tried  scikit-survival already, Thx a lot for kind reply!

[2021-10-06 14:27] monicasenapati opened #7288 "XGBoostClassifier fails to train on a large (>6TB) distributed dataset in a cluster"
Hi, I have tried tweaking the number of executors, executor memory for spark-submit as well as the num_workers in XGBoost params set. However, I keep running into the following error:
[code]

I would sincerely appreciate any help in figuring out what could potentially cause this or how I can address this issue. Thank you in advance!

[2021-10-07 08:11] trivialfis commented on #7288
Your system doesn't have enough memory for spark.

[2021-10-07 08:11] #7288 closed, assigned to nobody

[2021-10-07 08:44] steveychong opened #7290 "Control logging for early stopping using shouldPrint() XGBoost.java"
version: xgboost4j_2.2:1.4.1
code: XGBoost.java
In XGBoost.java, if there is an early stop in processing, a Log is output by Rabit.trackerPrint() (line 254).

It might be better wrap this message in an "if(shouldPrint(params, iter))" check so that the logging is consistent with other logging (e.g. line 261).

[2021-10-07 09:59] trivialfis opened #7292 "Survival training with sklearn interface."
A tracking issue for survival training with sklearn interface.  Related:

https://github.com/dmlc/xgboost/issues/6885#issuecomment-935542364
https://github.com/sebp/scikit-survival
https://xgboost.readthedocs.io/en/latest/tutorials/aft_survival_analysis.html

[2021-10-07 13:31] monicasenapati commented on #7288
Hi @trivialfis ! Thank you for the quick response. Could you please give me some additional information on what does it mean when "system doesn't have enough memory for spark"?

[2021-10-07 13:51] dwayne298 opened #7294 "xgboost in R providing unexpected prediction"
Below is a code that produces a simple xgboost model to show the issue I've been seeing. Once the model has been built, we predict using this model and take the second row in our data. If we take the log of relative difference between prediction of the 10th and 9th model, it should give us the prediction for the 10th tree: 0.00873184 in this case.

Now if we use the input to the tree (matrix "a" w

[2021-10-07 13:58] trivialfis commented on #7288
This is an error that indicates memory allocation failure.

[2021-10-07 14:28] debinqiu opened #7295 "Single node 'gpu_hist' is not reproducible"
XGBoost model is still not reproducible on single device with tree_method = 'gpu_hist'. If the DMatrix is loaded into the single gpu device, the model is replicated in the sense that every time you train the model, the result will be the same because the DMatrix is cached in the device as I observed. However, if you use another device, or load DMatrix again, the model will be slightly different fr

[2021-10-07 14:38] trivialfis commented on #7295
Hi, could you please share an example script that the training is not reproducible?

[2021-10-08 01:53] debinqiu commented on #7295
@trivialfis Thanks for the quick response. Sorry, I can't share the data and don't have the method to generate such data. It does not always happen because on some data I can 100% replicate my result, so I think it may be due to a special case on some features.
The following is my sample code and observation (result is not real but for demonstration purpose). Although the auc is very close, but th

[2021-10-08 04:28] #7284 closed

[2021-10-10 11:45] trivialfis opened #7301 "[CI] Non-deterministic failure during docker build."
https://xgboost-ci.net/blue/organizations/jenkins/xgboost/detail/PR-7300/1/pipeline

[2021-10-10 15:23] trivialfis commented on #7287
I think I got the result now.  It's caused by non-deterministic openmp reduction  Same cause as https://github.com/dmlc/xgboost/issues/5019 .

[2021-10-11 09:36] dwayne298 commented on #7294
Having done some testing with pmml files (using r2pmml) - this issue seems to be occurring due to the parameter method="hist".

Comparing the predictions R vs pmml on a sample dataset, including "hist" leads to differences but excluding "hist" doesn't (at least, no way near as extreme - seem to be rounding errors).

[2021-10-11 12:47] trivialfis opened #7308 "[RFC] Unify device configuration."
This is a continuation of https://github.com/dmlc/xgboost/issues/4600

# Overview
## Use global configuration
From my perspective, this method is cleaner and covers both `DMatrix` and `Booster` so it's listed first.  An easier-to-implement solution is described in the next section.

Define a new `device` parameter for XGBoost as global configuration and remove existing parameters including `gpu_hi

[2021-10-11 15:56] monicasenapati opened #7310 "Support for Spark version >= 3.1 and AssertionError query"
Hi!
I wanted to confirm if XGBoost supports Spark version 3.1.2. I have been trying to run XGBoost on the latest version of Apache Spark on a dataset > 3TB on a 28 node cluster.

Also, I have been getting the following error and haven't been able to figure out what might be causing this.
[code]

 I look forward to hearing back from you. Thank you in advance for your help and time.

[2021-10-11 18:46] monicasenapati commented on #7310
For the error, what kind of format would you prefer? Because this setup is done on a CloudLab cluster under our assigned projects and the files are very large, total amounting to more than 3TB of data stored in HDFS.

[2021-10-11 19:19] monicasenapati commented on #7310
Could you please let me know what version of Python is the tracker compatible with?

[2021-10-11 19:22] trivialfis commented on #2087
Note to myself:  We should consider including the possibility of having independent early stopping for each target.

[2021-10-12 07:16] RAMitchell commented on #7308
First example looks good to me:
[code]

Is going to be slightly tedious to implement as we have to change every language binding, but seems like a very positive change.

[2021-10-12 09:54] #6652 closed

[2021-10-12 10:15] #7194 closed, assigned to nobody

[2021-10-12 10:46] trivialfis opened #7313 "Avoid the use of OpenMP reduction."
The reduction order is non-deterministic, which leads to non-deterministic floating-point results.

https://github.com/dmlc/xgboost/pull/7303 removes some of them in metrics calculation, but we need a more thorough inspection.

- [x] Survival metrics (https://github.com/dmlc/xgboost/pull/7316)
- [x] Ranking metrics (https://github.com/dmlc/xgboost/pull/7349)
- [x] AUC (https://github.com/dmlc/xgbo

[2021-10-12 13:03] emanuele opened #7314 "Why xgboost.DMatrix has "set_group()" but not "get_group()"?"
Dear Developers,

First of all, thank you for the great work done with XGBoost!

I am wondering why xgboost.DMatrix has "set_group()" to set grouping information for ranking but does not have "get_group()" to read it.

Is there a reason behind it?

[2021-10-12 20:18] #7294 closed, assigned to nobody

[2021-10-13 04:04] showkeyjar opened #7315 "question about custom object"
I want custom a xgboost object function, but I don't want custom second derivative.

how can I do that use python?

for example, a regression problem:

`
  def get_loss(distance):
      distance = np.where(distance==0, 0.5, distance)

      def date_normal_loss(preds, dtrain):
          labels = dtrain.get_label()
          loss = (np.square(np.subtract(labels,preds)).mean() / np.abs(distance)) *

[2021-10-13 06:24] #7315 closed, assigned to nobody

[2021-10-13 08:53] trivialfis commented on #7294
At the moment we don't plan to store the data in double precision.  We use double optionally in some places where we need to accumulate multiple values.

That's one way around it.  I don't know how to ask R to use float32.  In your example, the output is in some sense "correct".  The split value `0.123456173` of the tree node is not invented but an actual value taken from your data.  I guess it's

[2021-10-13 11:58] dwayne298 commented on #7294
Thank you for clarifying and all the work on xgboost!

[2021-10-14 03:55] alirezaro93 opened #7319 "How to use Early stopping_round and num_boost_round, in version 1.42 with xgb.cv()"
I am using XGBoost, version 1.42, specifically `xgb.train()`. when passing `early_stooping_round` and `num_boost_round` to the algorithm I receive the following warnings:

[code]
Without _early stopping_ and _number of boosting rounds_, my model overfits. How can I properly use them in the new version?

My python version is _3.8.11_ and I am using both **XGBoost** and **Python** from **Anaconda**.

[2021-10-14 05:45] alirezaro93 commented on #7319
Here is my params list which is passed to the algorithm:

[code]

`num_boos_round` and `early_stoppage` are not included in my list of parameters. I still have the problem unfortunately

[2021-10-14 06:08] trivialfis commented on #7319
Hi, `early_stoppage` should come from somewhere right?  I just grep the XGBoost's repository and couldn't find this string.

[2021-10-14 06:14] trivialfis commented on #7319
@alirezaro93 https://github.com/dmlc/xgboost/search?q=early_stoppage

[2021-10-14 06:14] alirezaro93 commented on #7319
`early_stoppage` and `num_boost_round` warning messages occur when `early_stopping_rounds` and `num_boost_round` are passed to the algorithm. the warning messages disappears when  `early_stopping_rounds` and `num_boost_round` are omitted from the list of the parameters. I really do not know why and where this error stems from. the 1.42 release documentation does not address issue either. I am comp

[2021-10-14 06:27] trivialfis commented on #7319
I meant this warning:

[code]

[2021-10-14 06:29] alirezaro93 commented on #7319
@trivialfis I unfortunately do not know. Can you please help me on how to find it's source?

[2021-10-14 06:30] trivialfis commented on #7319
I do not have your script. ;-)  All I can do at the moment is confirm that it doesn't come from XGBoost.

[2021-10-14 06:30] trivialfis commented on #7319
The `early_stoppage` doesn't come from XGBoost, the warning message is from XGBoost.

[2021-10-14 06:38] alirezaro93 commented on #7319
I have opened a question on stack overflow about this with my code in it. would you be so kind and check it out? I have included the hyperparameter tuning and pre processing part of my code over there so you can study them. I can share more part if it is needed.

I would really appreciate it if you could help me with this

Here is the link to the question:

https://stackoverflow.com/questions/6956

[2021-10-14 06:50] trivialfis commented on #7319
Because in the older version XGBoost doesn't check incorrect parameters.

[2021-10-14 06:55] emanuele commented on #7314
Thanks again to mark this one as a feature request!

About the snippet, there is a small error, so here is the working version:
[code]
Which can be compacted in one line with NumPy:
[code]

[2021-10-14 13:37] aegerton commented on #6654
With apologies, I am just a hobbyist, but I am keen to try xgboost on Windows in R using my gpu.

When trying both the pre-built binary (as well as trying to build the package from source), I get the following error message;-

[code]
My CUDA toolkit is working fine, originally v11.4, but I have also installed v11.1 as well in case that is the problem.  I think that I have all the relevant entries

[2021-10-14 15:45] jaredlander commented on #6654
Glad I got you motivated. For anyone who wants to see the install slide, it's at https://jaredlander.com/content/2021/09/GPUComputingWithR.html#62.

[2021-10-14 16:55] hcho3 opened #7323 "XGBoost iteration_range defined differently in sklearn API and docs"
https://discuss.xgboost.ai/t/xgboost-iteration-range-defined-differently-in-sklearn-api-and-docs/2495

[2021-10-14 22:30] #7323 closed, assigned to nobody

[2021-10-15 01:54] showkeyjar opened #7325 "question about custom objective"
hi, I fig out a way to transform row weights data to objective function:
I add weights into label, and then in objective function, I subtract and got data row weights
because I can't find any function can read feature value in DMatrix, and xgb params has subsample.

but when I train model, the loss does not change, I want know what's wrong with my code:

my model is regression model

this is my ob

[2021-10-15 03:35] trivialfis commented on #7325
Subsampling is not related to DMatrix, you can use it without worrying lost data.

[2021-10-15 05:56] trivialfis commented on #7325
Is your loss differentiable?

[2021-10-15 06:06] showkeyjar commented on #7325
I just add mean() function in eval loss function, if not, train model will throw errors.

[2021-10-15 06:13] trivialfis commented on #7325
My question is whether your objective function is https://en.m.wikipedia.org/wiki/Differentiable_function , and can be approximated by https://en.m.wikipedia.org/wiki/Taylor_series. If not, can you prove a upper bound?

[2021-10-15 06:24] showkeyjar commented on #7325
I think if objective function is not differentiable, it will return same grad and hess result, but if I print grad and hess,it return different result every boost round. and I think the loss can not be same what ever objective function is differentiable.

[2021-10-15 06:46] trivialfis commented on #7325
Just use the normal weights in DMatrix.  As mentioned previously no need to worry about subsampling.  Gradient is calculated for all samples regardless of sampling.

[2021-10-15 06:58] showkeyjar commented on #7325
I mean the weight is my custom data row weight, not DMatrix weight.

[2021-10-15 07:11] showkeyjar commented on #7325
thanks for your patiently answer, I'll try weight param, by the way, if the weight.shape equals X rows, how to set feature weight?

[2021-10-15 09:07] 7starsea opened #7327 "model slice problem"
I trained a xgb model with early-stopping and then slice the final model to get the best model. Some problem occurs when using the best model to predict.

I wrote a sample code to reproduce the error and here is the link https://github.com/7starsea/xgboost-testing/blob/master/test_model_slice.py with test_data https://github.com/7starsea/xgboost-testing/blob/master/test_xgb.npz
[code]

On my machi

[2021-10-15 16:08] eduardcmp opened #7328 "Parameter tuning with Cross Validation and early stopping"
Hello,

I am performing hyperparameter tuning and I want to use early stopping. For this prupose I’ve created a parameter grid and I’m looping over it and using the built-in method xgb.cv

This method accepts early stopping but I’m wondering how it uses it internally. I’m afraid it doesn’t split the data in train, val and test for each of the K-folds as it should be done and instead it only splits

[2021-10-16 02:24] aegerton commented on #6654
Thanks very much @jaredlander for sharing the code.  It makes it much easier than retyping from the presentation!

Unfortunately, I'm still getting that same error message.  I am in Windows, not Linux, but I think that I have downloaded the right version of the batch file.

The error message keeps referring to this shared library libnvblas,so as being missing.

[2021-10-16 20:28] ldesreumaux opened #7329 ""Missing" category not supported in pandas Dataframe"
The following code sample makes XGBoost 1.5.0rc1 crash during the execution of "fit":
[code]
When I remove the "np.nan" value, the problem disappears. With pandas, the code associated with "np.nan" is -1.

[2021-10-17 13:14] trivialfis commented on #7329
Thanks for opening the issue.  That's interesting, so pandas just invented a new value for NaN.

[2021-10-17 13:18] trivialfis commented on #7328
It updates all folds for each iteration until early stopping criteria are met.  The score is calculated as mean and std.

[2021-10-17 13:18] #7328 closed, assigned to nobody

[2021-10-17 13:20] trivialfis commented on #7327
Should be fixed in 1.5.  I'm about the make the release and push Python packages to pip.

[2021-10-17 13:20] #7327 closed

[2021-10-17 17:44] trivialfis commented on #7260
Hi @hetong007 @hcho3 I have made the 1.5 stable release and uploaded all Python packages to pypi.  Could you please help upload the R package and JVM packages?

[2021-10-18 03:16] 7starsea opened #7333 "xgb doc minor issue"
###  [xgboost.train](https://xgboost.readthedocs.io/en/latest/python/python_api.html#module-xgboost.training)
**early_stopping_rounds**: ... , If early stopping occurs, the model will have **three** additional fields: bst.best_score, bst.best_iteration.

The doc says have **three** additional fields, but only **two** field names are listed.

[2021-10-18 11:43] trivialfis commented on #4750
Closing stalled issue with no reproducible example.

[2021-10-18 11:54] trivialfis commented on #6483
AUC for CPU binary classification is single-threaded.  Tested with larger dataset and couldn't reproduce the issue in latest release.

[2021-10-18 11:54] #6483 closed

[2021-10-18 18:21] #7333 closed, assigned to nobody

[2021-10-18 19:51] DavorJ opened #7340 "Precision of default feval in xgboost::xgb.cv() is limited to 0.000001"
Within `xgboost::xgb.cv()`, `xgb.iter.eval` is called to compute `feval` on each fold. If no `feval` is supplied, then the following piece of code is executed:

[code]
The returned `msg` is a string. For example: `"[0]\ttrain-rmse:0.000111\ttest-rmse:0.000106"`. Subsequently the string is split and a named vector `res` is retuned:
[code]

Problem is that the precision is limited to 0.000001. In mo

[2021-10-18 20:08] phraktle commented on #6724
Was this ever released?

[2021-10-18 21:14] hcho3 commented on #6724
We will release 1.5.0 to Maven Central shortly.

[2021-10-19 01:44] hcho3 commented on #6724
@phraktle 1.5.0 is now available on Maven Central.

[2021-10-19 01:45] hcho3 commented on #7260
@trivialfis I've uploaded the JVM package to Maven Central.

[2021-10-19 01:47] hetong007 commented on #7260
I'm quite occupied these two days but I'll start submitting the R package later this week. Hope it'll go into cran smoothly.

[2021-10-19 06:23] trivialfis commented on #7282
Thanks for opening the issue.  Dask does support custom objectives and we have [tests](https://github.com/dmlc/xgboost/blob/c42e3fbcf3901eec73fcdbf02526f611ef3ed05f/tests/python/test_with_dask.py#L1225) for it.  , also https://developer.nvidia.com/blog/accelerating-xgboost-on-gpu-clusters-with-dask/ might be helpful.  The issue mostly comes from how to distribute the dask collection to each worker

[2021-10-19 06:49] trivialfis commented on #7282
Following the thread, my understanding is that there are 2 parts of input predictors (X_0, X_1) where one of them is considered sensitive.  Both predictors are matrices instead of vectors since a plural form is used in the term`sensitive_features`.  Since the data has to be in memory, users can concatenate them into one predictor `X` before training, the rest would be the same as normal data.  The

[2021-10-19 07:01] trivialfis commented on #7282
From a personal perspective, I would love to have this feature in XGBoost.  Some general thoughts:

- We should not use the data parser in XGBoost.
- There should be only 1 input matrix for `X`. The extra field in metainfo needs only be a feature-wise marker/mask like the feature weight instead of a full-blown matrix. (actually, can we reuse the feature weight?)
- This can be done with both custom

[2021-10-19 07:12] BaronWj opened #7342 "I would like to ask if it is available on ios devices"

[2021-10-19 07:13] BaronWj opened #7343 "Is it possible to provide a framework for iOS?Thanks"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2021-10-19 07:21] yuanjie-ai opened #7344 "How to install the gpu version"
How to install the gpu version

[2021-10-19 07:22] #7344 closed, assigned to nobody

[2021-10-19 09:51] #7342 closed, assigned to nobody

[2021-10-20 07:16] #7046 closed

[2021-10-20 11:52] candalfigomoro opened #7350 "[XGBoost4J-Spark] Version 1.5.0 fails (version 1.4.1 works)"
I tried to upgrade XGBoost4J-Spark from version 1.4.1 to version 1.5.0.

While version 1.4.1 works fine, version 1.5.0 fails (with the same config and code).

When I use version 1.5.0, I get the following errors on "_repartition at DataUtils.scala:96_":

[code]

[code]

Spark version 3.0.2

[2021-10-20 12:17] trivialfis commented on #7350
@wbo4958 Do you have any insight?

[2021-10-20 12:55] candalfigomoro commented on #7350
@trivialfis

I used this dataset: https://archive.ics.uci.edu/ml/datasets/MiniBooNE+particle+identification

Train: 70%
Validation: 10%
Test: 20%

This is the Java code for the model (I use Java instead of Scala):
[code]

It works fine with version 1.4.1.

[2021-10-20 21:21] DavorJ opened #7351 "Proper way to serialize XGBoost model without exporting to a file"
I am using xgboost_1.4.1.1 in R.

Assume I have this model:

[code]

**How do I serialize this model correctly without writing to disk?**

I know the documentation is explicit to not use `saveRDS()` or `serialize()` on the `bst` object, and rather use `xgboost::xgb.save()`. But `xgboost::xgb.save()` can only write to a file.

If I do
[code]
I get a strange error:

caused by `handle <- xgb.Booster.

[2021-10-20 22:41] hcho3 commented on #7351
According to https://www.rdocumentation.org/packages/xgboost/versions/1.4.1.1/topics/a-compatibility-note-for-saveRDS-save, you should use `xgb.load.raw` to load model from a byte array.

[2021-10-20 23:55] arunbhat opened #7352 "[jvm-packages] Rabit tracker and clients have issues in containerized environments"
Rabit tracker does not work well in setups where each compute node is inside a Linux container with a virtual network interface that goes through a bridge. Nodes then appear to all have the same IP. For example in a spark cluster with 2 nodes (1 driver, 1 executor), both the containers that have spark installed have the same ip address. The underlying hosts do have unique ip addresses. We see thes

[2021-10-21 06:25] trivialfis commented on #6735
https://discuss.xgboost.ai/t/nan-values-with-early-stopping/2494/3

[2021-10-21 06:28] trivialfis commented on #6735
Reproducible example: https://github.com/mangleddata/xgbnan .

[2021-10-21 07:45] trivialfis commented on #7352
So it's about the design of the networking interface f https://github.com/dmlc/xgboost/pull/6869#pullrequestreview-641381474 .

[2021-10-21 07:54] trivialfis opened #7354 "External memory support."
This is a tracking issue for external memory implementation progress.

* CPU hist (https://github.com/dmlc/xgboost/pull/7531)
- [x] Histogram builder. (https://github.com/dmlc/xgboost/pull/7372)
- [ ] Column matrix.
- [x] GHistIndexMatrix binary format.
- [x] Partitioner.
- [ ] Updater.

* Approx
- [x] https://github.com/dmlc/xgboost/pull/7214

* Documentation
- [ ] Test/document the scalability o

[2021-10-21 08:08] candalfigomoro commented on #7350
@wbo4958 @trivialfis Sorry but we use a proprietary platform/framework, so I'm not able to provide the full code. The strange thing is that version 1.4.1 works fine, but I get those errors (with the same code and Spark 3.0.2 configuration) with version 1.5.0.

[2021-10-21 08:18] trivialfis commented on #7350
Feel free to run [bisect](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwj2wLTKiNvzAhVS3p4KHSRkD7wQFnoECAMQAQ&url=https%3A%2F%2Fgit-scm.com%2Fdocs%2Fgit-bisect&usg=AOvVaw21dGHLnuRx6f5bDrFFEjBO) , that might be easier than extracting the code.

[2021-10-21 08:37] candalfigomoro commented on #7350
@trivialfis Is the log above more useful?

[2021-10-21 10:10] PrimozGodec opened #7355 "SEGFAULT on MacOS with scikit-learn==1.0.0"
xgboost segfaults in combination with scikit-learn==1.0.0 and works fine with scikit-learn==0.24

Steps to reproduce:
1. Install `scikit-learn==1.0.0` and `xgboost==1.5.0`
2. Run this simple script
[code]

I found out that scikit-learn brings its own version of libomp library together with the package. It is stored in `sklearn/.dylibs/libomp.dylib`. When I remove it from sklearn segfault does not

[2021-10-21 10:48] trivialfis commented on #7355
Any chance this is the same issue with https://github.com/dmlc/xgboost/issues/7039 ?

[2021-10-21 11:58] QuantHao commented on #5447
But version is only 0.9, considering lastest pip version is 1.5.........

[2021-10-21 12:03] PrimozGodec commented on #7355
I am not sure. From what can I read there downgrading limpomp to 11 helped. In my case, it does not.
Also, the mentioned issue was opened before scikit-learn=1.0.0 was released. My issue started to appear after scikit-learn==1.0.0 release (Sep 24). As I mentioned, with an older version of scikit-learn everything works fine.

[2021-10-26 06:50] ICDI0906 opened #7363 "leaf index"
how can I get the leaf index in a distribution environment?

[2021-10-26 14:11] trivialfis opened #7366 "Drop CUDA 10.x support."
CUDA 10.2 was released in Nov 2019, we should upgrade the default toolchain to CUDA 11 now.

[2021-10-26 15:14] #7363 closed, assigned to nobody

[2021-10-26 16:05] trivialfis opened #7367 "Require Python >= 3.7."
Python 3.7 has better type hint support.  https://www.python.org/dev/peps/pep-0563/ is needed for XGBoost for handling various optional imports.

Also, the latest NumPy release 1.21.x requires Python 3.7 and it's a hard dependency of XGBoost. It's safe for XGBoost to require 3.7 for the next release.

[2021-10-27 21:03] #7313 closed, assigned to nobody

[2021-10-28 10:09] #7355 closed, assigned to nobody

[2021-10-28 17:32] #7290 closed, assigned to nobody

[2021-10-28 21:58] FredDgrv opened #7378 "Ubuntu 20.04 CUDA 11.5 error"
Building on ubuntu up-to-date 20.04 with just installed nvcc

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2021 NVIDIA Corporation
Built on Mon_Sep_13_19:13:29_PDT_2021
Cuda compilation tools, release 11.5, V11.5.50
Build cuda_11.5.r11.5/compiler.30411180_0

g++ (Ubuntu 10.3.0-1ubuntu1) 10.3.0
Copyright (C) 2020 Free Software Foundation, Inc.
This is free software; see the source for c

[2021-10-30 02:08] FelixDuong opened #7384 "Can not save Pipeline model in Spark Apache 3.2.0 with xgboost4j-spark_2.12-1.3.1 -1.4.1 - 1.5; they are not compatible with Spark 3.2.0"
Dear all,

I have met these errors when training model . I searched and found that the errors already happened with some previous version xgboost4j and xgboost4j-spark.
I hope to find down a solution which can run with Spark 3.2 ( it was improved BLAS performance). Thanks all guys. !!!

`java.lang.NoSuchMethodError: 'org.json4s.JsonDSL$JsonAssoc org.json4s.JsonDSL$.pair2Assoc(scala.Tuple2, scala.F

[2021-10-30 06:41] trivialfis commented on #7384
Could you please try nightly?  Seems to be fixed by https://github.com/dmlc/xgboost/pull/7376

[2021-10-30 08:18] FredDgrv commented on #7378
Thanks for the help

I did rm build and cmake .. -DBUILD_WITH_CUDA_CUB=ON -DUSE_CUDA=ON instead

Now I have this error
/usr/local/cuda-11.5/bin/../targets/x86_64-linux/include/thrust/detail/pointer.h(79): error: class "thrust::detail::eval_if<false, thrust::detail::identity_<void>, thrust::detail::remove_cv<<error-type>>>" has no member "type"
          detected during:
            instantiation o

[2021-10-30 09:08] trivialfis commented on #7378
Hi, thanks for testing.  Are you building from the PR I linked?

[2021-10-30 09:11] FredDgrv commented on #7378
Yes I pulled the 2 commits on your PR

[2021-10-30 09:17] trivialfis commented on #7378
Can you verify that your git submodules are up-to-date?

[code]

[2021-10-30 09:35] FredDgrv commented on #7378
I get that output

Submodule path 'dmlc-core': checked out 'f00e3ec7abc9f293a1b7061157b0a4e22a735cf5'
Submodule path 'gputreeshap': checked out 'c78fe621e429117cbca45e7b23eb5c3b6280fa3a'

[2021-10-30 09:36] FelixDuong commented on #7384
Thanks guy. But anyway, I try to find nightly build version 1.5.1 at aws but there is nothing 😢.

[2021-10-30 09:36] trivialfis commented on #7378
Great!  Now try to run cmake and compile it again.

[2021-10-30 09:41] trivialfis commented on #7384
Can you visit this link https://xgboost.readthedocs.io/en/latest/install.html#id4 and see if it helps?

[2021-10-30 09:53] FredDgrv commented on #7378
Many thanks that was the issue and the project is built now.

I believe this issue should be closed with the PR. Therefore I will let that issue opened. I hope that's ok

[2021-10-30 09:59] trivialfis commented on #7378
Yup, let me take care of the rest.

[2021-10-30 11:28] trivialfis commented on #7384
Feel free to close the issue if it's fixed.

[2021-10-31 02:40] FelixDuong commented on #7384
I searched in  Maven repository at https://s3-us-west-2.amazonaws.com/xgboost-maven-repo/list.html, and failed with the nightly version 1.5.0   "xgboost4j_2.12-1.5.0-20210927.120858-111.jar" - it was built on 27 Sep 2021 , not work with Spark 3.2. And I test with 1.6.0 SNAPSHOT :xgboost4j-spark_2.12-1.6.0-20211030.101815-26.jar , I encountered the errors :

`pipeline: org.apache.spark.ml.Pipeline

[2021-10-31 04:22] FelixDuong commented on #7384
This morning, I re-build jvm-package in Docker , I encounter the errors:

`[DEBUG] Executing command line: [python, create_jni.py, --log-capi-invocation, OFF]
  File "create_jni.py", line 125
    run(f'"{sys.executable}" mapfeat.py')
                                       ^
SyntaxError: invalid syntax
[ERROR] Command execution failed.
org.apache.commons.exec.ExecuteException: Process exited with a

[2021-10-31 12:14] trivialfis opened #7388 "Split up tracker from rest of XGBoost dask module."
Related: https://github.com/dask/dask/issues/8315

The tracker in XGBoost doesn't have any dependency other than native Python standard library.  We might be able to figure out a way to run it on scheduler without installing XGBoost in there.

Alternatively, we can allow the tracker to run on one of the workers instead of the scheduler.  But this might not work on some environments.

[2021-11-01 01:51] wbo4958 commented on #7384
So @FelixDuong, you failed to build xgboost 1.6.0 snapshot?

[2021-11-01 11:55] trivialfis commented on #7388
Closing as it's recommended to have the same env for scheduler as workers.

[2021-11-01 11:55] #7388 closed

[2021-11-01 15:42] FelixDuong commented on #7384
Yeah, I built successfully at the first time in VMWare Ubuntu, and failed at the second time in Docker Ubuntu. Maybe, I lacked experience in combining OpenBlas with Jni -Java (config).

[2021-11-01 15:46] trivialfis commented on #7384
Hmm?  XGBoost doesn't use openblas.

From your logging, I think you have a weird Python implementation (like 2.7) in your docker environment.  Could you please verify that?

[2021-11-01 16:05] Sandy4321 commented on #1433
any progress ?

link above is broken
http://www.bigdatarepublic.nl/regression-prediction-intervals-with-xgboost/

[2021-11-01 20:52] prashantprakash commented on #7155
Is this issue resolved ? I am getting the exact error.

[2021-11-02 04:00] #4665 closed

[2021-11-02 04:00] #7340 closed

[2021-11-02 04:42] FelixDuong commented on #7384
Yeah, in running Xgboost on Spark , **_Rabit uses python2.7 to run_** , so when early I just used Python 3.8 , the errors appeared at that step when connecting to workers, so when I install Python 2.7 , the errors have gone ( in Spark 3.1.2 and Xgboost4j-spark 1.4.1 and 1.3.1 was ok ) All were in Docker Ubuntu 20.04 enviroment . So, when upgrading to Spark 3.2.0  Python 2.7 & 3.8 were still in sys

[2021-11-02 04:44] trivialfis commented on #7384
That's an unexpected result.  I think it's going to work with Python 3.8 and stop working when it's Python 2.7.  I'm using Python 3.8.

[2021-11-02 05:38] #7083 closed

[2021-11-02 06:22] trivialfis commented on #5888
No longer reproduce with higgs.

[2021-11-02 06:22] #5888 closed

[2021-11-02 08:22] #7378 closed

[2021-11-02 09:30] trivialfis commented on #7260
I will ask on the devel list.

[2021-11-02 09:57] trivialfis commented on #7260
Hmm, R-hub also has this include path:

[code]

[2021-11-02 10:39] trivialfis commented on #7260
I have passed the test by reverting the `nthread` commit. https://win-builder.r-project.org/FGUxY7NN55DR

[2021-11-02 11:23] trivialfis commented on #7260
Reproduced the error locally.

[2021-11-02 12:15] trivialfis commented on #7156
!!!  I reproduced the issue on my local machine by using `OMP_THREAD_LIMIT`

[2021-11-02 12:23] hetong007 commented on #7260
Thanks, that's fantastic! Would you mind to leave a pointer to the exact commit?

There seems to be two ways to handle this:

- Revert the commit in the CRAN submission. What would be the potential risk for CRAN users?
- Bypass the relevant test. Is it easy to do so?

[2021-11-02 13:38] trivialfis commented on #7260
@hetong007 I opened a PR for the fix: https://github.com/dmlc/xgboost/pull/7390 .

[2021-11-03 08:12] trivialfis commented on #7384
I pushed a PR for better shebang in the python data preprocessing script. https://github.com/dmlc/xgboost/pull/7389 .  For JVM package those scripts are only used in testing.

[2021-11-03 16:43] trivialfis commented on #7260
@hetong007 Hi, I ran some tests on 1.5 branch a3d195e73e521c1d7fb9e0557f440cb46517b5da .

Oracle Solaris 10, x86, 32 bit, R-release
https://builder.r-hub.io/status/xgboost_1.5.0.1.tar.gz-b12024d745fb520bb620a93ec8d0cd23

Windows Server 2008 R2 SP1, R-release, 32/64 bit
https://builder.r-hub.io/status/xgboost_1.5.0.1.tar.gz-5d5a4fccd237b333ae66e75769402098

Apple Silicon (M1), macOS 11.6 Big Sur, R

[2021-11-04 08:08] hetong007 commented on #7260
Thanks a lot! I've submitted the latest release branch to CRAN. It passes the auto-check, however seems to break some dependencies. I'll need to look into these packages, and probably communicate with the maintainers before we can have it in CRAN.

Details are below:

[code]

[2021-11-04 08:10] trivialfis commented on #7260
It shouldn't have breaking change (but has new deprecation)   I will look into it.

[2021-11-04 08:15] hetong007 commented on #7260
From the above log, the error from `EIX` doesn't seem directly relevant, while the error from `radiant.model` seems to be relevant, as our new version might train the model differently and lead to different prediction values.

[2021-11-04 09:02] trivialfis commented on #7260
Building that package now.  Might take some time to debug, I'm working on other things at the moment.  Will keep you posted.

[2021-11-04 09:20] trivialfis commented on #7260
663136aa08c00598d8b49adf5901e4cb2ce187da is the commit to blame.

[2021-11-04 09:59] trivialfis commented on #7260
Okay, I get the issue now.  I re-implemented the global feature importance in C++ to eliminate the text parsing.  But there's a subtle difference between the original Python and R implmentation.  For Python there were "total_gain" and "gain", the latter is just the former divided by split count (or "frequence" in R).  But for R this should not occur.

[2021-11-04 11:08] trivialfis commented on #7260
Opened a PR for the fix https://github.com/dmlc/xgboost/pull/7394 .  Sorry about the inconvenience and thanks for all the help!

[2021-11-04 11:28] GeorgePearse commented on #6725
I'm trying to use cohen_kappa_score as the eval_metric but I'm receiving an error
[code]

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-138-e3584d322a6a> in <module>
      2
      3 eval_set = [(train_sorted_embeddings, train_sorted_labels), (validation_sorted_embeddings, valida

[2021-11-04 11:31] GeorgePearse commented on #6725
^ Turned out that was actually well documented. eval_metric has moved from .fit to the initialization.

[code]

[2021-11-04 11:51] trivialfis commented on #6725
It was moved after 1.5 and is pending for 1.5.1 release, so I guess you are compiling from the master branch?

[2021-11-04 11:52] trivialfis commented on #6725
Moving the parameter was to have better compatibility with scikit-learn utilities.  Otherwise, grid search might split up the string "mlogloss" as input data ...

[2021-11-04 17:00] candalfigomoro commented on #7350
@trivialfis
Maybe the documentation should also be updated: https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html

_"By default, we use the tracker in dmlc-core to drive the training with XGBoost4J-Spark. It requires Python 2.7+."_

Should it be updated to "3.6+"?

[2021-11-04 17:47] trivialfis commented on #7350
Yup! Thanks for the reminder.

[2021-11-04 21:55] #7350 closed

[2021-11-05 17:07] trivialfis commented on #7260
Ran tests on R-hub and win-builder

# Passing:
* DONE macOS 10.13.6 High Sierra, R-release, CRAN's setup
  CLOSED: [2021-11-06 Sat 00:25]
https://builder.r-hub.io/status/xgboost_1.5.0.1.tar.gz-d08bc035dd41b34b66d1b17d125c9b42

* DONE Oracle Solaris 10, x86, 32 bit, R-release
  CLOSED: [2021-11-06 Sat 01:01]
https://builder.r-hub.io/status/xgboost_1.5.0.1.tar.gz-c860596701458ffb6ae601e3355ea344

*

[2021-11-05 17:30] trivialfis commented on #7260
2 failures caused by timeout.  The tests have passed, but timeout at building doc.

This on centos is concerning:
[code]

[2021-11-05 17:37] trivialfis commented on #7260
Doesn't make sense locally, I checked the binary, there's only `__snprintf_chk`.  I couldn't download the artifacts from R-hub due to not found error.

[2021-11-06 13:29] kidman99 opened #7400 "Installation Error"
Step 1. cmake .. -G"Visual Studio 16 2019" -A x64  -DUSE_CUDA=ON -DBUILD_WITH_CUDA_CUB=ON

Step 2. cmake --build . --target xgboost --config Release

Step 3. python setup.py install --use-cuda

I got the following error:

INFO:xgboost install_lib:Installing shared library: build\temp.win-amd64-3.8\Release\xgboost\lib\xgboost.dll
error: can't copy 'build\temp.win-amd64-3.8\Release\xgboost\lib\xgboo

[2021-11-06 16:12] trivialfis commented on #7400
Hi, first how did you obtain the source code?  If you are using git, then you need to execute:

[code]
notice the recursive parameter.

Secondly, the cmake steps are not necessary unless you want to modify the c++ source code, otherwise `step 3` should be able to handle everything.

[2021-11-08 05:25] westz36 opened #7402 "A workaround is to serialise the booster object after training. (But where is the example file?)"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2021-11-08 08:06] hetong007 commented on #7260
@trivialfis Thanks a ton for digging into this! It has successfully passed the reverse dependency test, and on its way to CRAN. Let's hope it'll pass the real tests across all platforms :)

[2021-11-08 09:16] trivialfis commented on #7260
@hetong007 Do you have the bandwidth to review R PRs?  My experience with R is very limited and would be great to have an expert at supervising. ;-)

[2021-11-08 09:18] hetong007 commented on #7260
No problem. I can still handle the R part, but not familiar with things that touch low-level source now.

[2021-11-08 09:51] trivialfis commented on #7260
Excellent!

[2021-11-08 09:56] hetong007 commented on #7260
There might be some warnings we need to fix:

[2021-11-08 10:10] trivialfis commented on #7260
Opened a PR: https://github.com/dmlc/xgboost/pull/7404  I did not reproduce the warning using the development version of clang though.

[2021-11-08 18:05] #7402 closed

[2021-11-09 03:00] RoutineZ opened #7406 "plot_tree() in jupyter error: argument of type 'WindowsPath' is not iterable"
I want to plot the xgbregressor tree in jupyter notebook, its shows the error below? I dont know how to solve it, thanks
code:  xgb.plot_tree(model, num_trees=0)
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-28-8a012431c75b> in <module>
      1 fig, ax = plt.subplots(figsize=(30

[2021-11-09 05:22] RoutineZ commented on #7406
I solve this problem by upgrade python3.7 to 3.8

[2021-11-09 05:22] #7406 closed

[2021-11-09 17:23] #7400 closed

[2021-11-10 07:39] SrikanthPusarla opened #7410 "XGBoost library version 1.4.2 is having performance issues compared to previous version libraries, verified against 1.2.1"
**Issue Description:**
XGBoost library version 1.4.2 is having below performance issues compared to previous version libraries when tested with same data and all other parameters, Verified this against 1.2.1 version.
1.	1.4.2 is resulting out larger model file size which is almost double to the model size generated by 1.2.1 version
2.	1.4.2 prediction call is taking quite longer time over 1.2.1 pr

[2021-11-10 07:42] geroge-gao commented on #6017
I meet the same problem

[2021-11-10 08:49] trivialfis commented on #7410
For the size of pickle, that's because we switched to JSON as underlying serialization format.  The rationale behind is that we can't modify the binary format for extended features like categorical data support without breaking existing models.

As for the prediction time, we switched to `inplace_predict` by default for sklearn interface.  It bypass the construction of `DMatrix`, which saves time

[2021-11-10 08:57] trivialfis commented on #7410
Thanks for sharing your results.  The pickle size gain is expected.  But as a mitigation, you can always use `save_model` with binary format instead of pickle, the `save_model` saves a stable model format while pickle itself is non-stable.

For the prediction, you can bypass the sklearn model wrapper and run it directly with `cls.get_booster().inplace_predict` as a mitigation.  In general, for low

[2021-11-10 11:48] yilinwu123 opened #7415 "xgb.train parameters default value settings and overfitting issues"
Dear all:

I am using the package 'xgboost' in R to do research. While using the package, I noticed that the main function ‘xgb.train’ has several parameters with default values specified. To tailor these parameters to the datasets at hand, I’m hoping to better understand how to bestselect their values. If I may ask, could you please kindly advise:

(1) what approach and metric were used to select

[2021-11-10 15:07] Hilbert-Yaa commented on #5869
Can I still jump in to this issue? I can test it in WSL2 with CUDA on Win11 dev build.
System info:
[code]

[2021-11-10 15:10] Hilbert-Yaa commented on #5333
Is this issue still open for new assignee? Curious to know : )

[2021-11-10 19:20] #7410 closed

[2021-11-10 19:21] trivialfis commented on #7410
Feel free to reopen if there are unresolved issues.

[2021-11-10 19:22] trivialfis commented on #7384
Closing.  We have merged the fix for compatibility, doc update, and shebang improvement.  Should be working now.  Feel free to reopen if the issue remains in your test.

[2021-11-10 19:22] #7384 closed

[2021-11-10 19:25] trivialfis commented on #7415
I don't know, mostly just old heuristics.

We have better tools and algorithms for selecting these parameters now, for instance, optuna in Python.

Related issues: https://github.com/dmlc/xgboost/issues/6034 https://github.com/dmlc/xgboost/issues/4986  Right now I recommend using one of those tuning frameworks instead of relying on the default parameter set.

[2021-11-11 11:01] yilinwu123 commented on #7415
Thanks for the quick response. I will look at the methods you mentioned. So far, I just used simple grid search to tune several parameters and have not found some effective results. Thanks a lot!

[2021-11-11 11:09] trivialfis commented on #7415
Excellent.  Closing now, feel free to share your results as follow-up issues/PRs. ;-)

[2021-11-11 11:09] #7415 closed

[2021-11-11 15:41] SrikanthPusarla commented on #7410
Hi
I tried your suggestions,

1. saved the model by save_model into binary format (.bin) which resulted only **40KB** file whereas pickle generated **81KB**.
2. And for the inference time, tried get_booster().inplace_predict which took only **729 milli seconds** whereas predict_proba took **4007 milli seconds**

I have few other observations on the api you suggsted:

- get_booster().inplace_predic

[2021-11-11 15:57] gminghes opened #7419 "Parameters might not be used. But aren't used"
I'm trying to do a Gridsearch with Cross Validation with xgboost and sklearn. But when I start the cross validation XGBoost issues a warning saying that some parameters are not used but, when printing the parameters used in the search those parameters issued are not there.

I'm using:
Python version: 3.9.1
XGBoost version: 1.5.0

code:
[code]

Warning example:
[code]

As you can see the parameters

[2021-11-11 16:21] trivialfis commented on #7419
Hi, could you please share a self-contained, executable script?

[2021-11-11 16:45] trivialfis commented on #7410
Hi, there are 2 prediction functions, `predict` and `inplace_predict` from `Booster`.  You can choose either one as you see fit.

For binary classification (`load_breast_cancer`), the prediction is the result from the sigmoid function, which is the probability of it being positive.  The `predict_proba` is just a wrapper over `inplace_predict` that transforms this into a 2 column array by appending

[2021-11-11 17:09] gminghes commented on #7419
I can't provide the data I'm working on, trying the same script on google colab using the fetch_20newsgroups dataset from sklearn I don't have the warning

[2021-11-11 17:42] trivialfis commented on #7419
I saw that you have something like this in your code:

[code]

Could you please verify that's the cause of the warning?

[2021-11-11 17:42] trivialfis commented on #7419
Also, `gradient_based` is only available for `gpu_hist` tree method at the moment.

[2021-11-11 18:51] jmpanfil commented on #6489
Was this ever resolved? I am experiencing a similar issue:

[code]

Trying on even just one row doesn’t fix it. We can see that the data itself is fine:

[code]

[2021-11-11 19:41] trivialfis commented on #6489
@jmpanfil The log you shared indicates an exception was thrown in jvm during data iteration. (xgboost fetches data from java iterator)

[2021-11-11 20:05] jmpanfil commented on #6489
@trivialfis any guidance on how to troubleshoot this?

[2021-11-11 21:13] trivialfis opened #7421 "Re-establish `inf` as valid input value."

[2021-11-12 07:08] trivialfis commented on #7419
I believe the cause is found.

[2021-11-12 07:08] #7419 closed

[2021-11-12 09:24] EulerFormula opened #7422 "v0.60 the folder rabit is empty which causes compilation failure"
in v0.60
when I  build with MinGW:cp make/mingw64.mk config.mk; make -j4
wrong report: No rule to make target 'rabit/include/rabit/rabit.h',
so I open the rabit folder,it's empty

[2021-11-12 09:29] lmocsi opened #7423 "xgboost 1.5.0 gives 'XGBModel' object has no attribute 'enable_categorical' error"
I've created an XGBClassifier model in xgboost 1.4.2, and saved it with pickle.<br>
Applying it on new data works fine in 1.4.2.<br>
However, after upgrading to xgboost 1.5.0, I get the bellow error, when applying the model to new data:

    ...
    model = pickle.load(open(modelfile, "rb"))
    y_pred = model.predict_proba(x)[:,1]  # probability of 1s

scikit-learn==0.24.2
scikit-learn-intelex==2

[2021-11-12 09:32] trivialfis commented on #7423
Hi, the pickle format is not stable as explained in https://xgboost.readthedocs.io/en/latest/tutorials/saving_model.html

You can use `save_model` for exporting a stable model format.

[2021-11-12 09:32] #7423 closed

[2021-11-12 09:34] trivialfis commented on #7422
I don't think we will continue the support for v0.6.

[2021-11-12 09:34] #7422 closed

[2021-11-12 10:34] liuyonglang opened #7425 "update to 1.5.0 and spark 3.12 ,python 3.7 ,some error occuered."
@kashif Hello, Recently, I update xgboost4j and xgboost4j-spark to 1.5.0。 when I fit , I got follow error。Could you please give me some advices? Thanks a lot . Is there problem in follow params ?

21/11/12 17:50:54 INFO codegen.CodeGenerator: Code generated in 14.541963 ms
21/11/12 17:50:54 INFO codegen.CodeGenerator: Code generated in 13.014808 ms
21/11/12 17:50:55 INFO XGBoostSpark: Running XGBo

[2021-11-12 10:34] #7425 closed

[2021-11-12 10:36] liuyonglang opened #7427 "some Error on xgboost4j xgboost4j-spark version 1.5.0. spark version is 3.1.2 and python version is 3.7"
[code]

[2021-11-12 11:06] trivialfis commented on #7427
HI, please provide a reproducible example similar to the one described in https://stackoverflow.com/help/minimal-reproducible-example .

[2021-11-13 02:33] dchristle commented on #6489
Can you verify your target label is a `Double` rather than some other type like an `Integer`? This fixed the error for me.

[2021-11-13 02:38] jmpanfil commented on #6489
@dchristle

Which target label are you referring to? This isn't the training data so I don't have labels, just an ID column to identity the subject and the sparse vector column with the feature data.

[2021-11-13 02:59] dchristle commented on #6489
I see. Can you try explicitly casting all of your input features to doubles, just to be sure?

[2021-11-13 03:29] jmpanfil commented on #6489
Oh my mistake I thought I included the code for the sparse vector but I did not. Here's that code with some data in the same format as mine.

[code]

[2021-11-13 05:28] dchristle commented on #6489
It looks like you're working with Int types. XGBoost prefers all your features as Double type. Can you add .toDouble to each of your Int types in the RDD, so that all inputs are Double, and see if you still get the aforementioned error?

[2021-11-13 05:32] monicasenapati commented on #6489
Doesn’t XGBoost support Int and long type data anymore? I was able to run on these types last year.

[2021-11-13 07:56] zmitchn commented on #5013
Is there any progress on this issue? I've met the same question here

[2021-11-13 17:28] jmpanfil commented on #6489
@monicasenapati I am trying to use the `xgboost4j-spark` library which has a different API than the `xgboost4j` library. The `xgboost4j-spark` `transform` function uses distributed computing for predictions, which is necessary for me due to size of my data.  My data is highly sparse and in long format so I'm also trying to avoid high memory cost operations on my data. I'm definitely open to altern

[2021-11-13 20:13] monicasenapati commented on #6489
@jmpanfil I too have similar data. Highly sparse and very large. Not sure if the data type could be an issue though. If you find something please do let me know since I am having a roadblock too. Thank you!

[2021-11-14 11:54] vidarsumo commented on #6654
I tried to use XGBoost for a regression problem (forecasting) in R using the tidymodels and modeltime package. The GPU version worked (the GPU load was 99%) but during tuning (using tune_race_anove) I got this error:
**Error in switch(object$params$objective, `binary:logitraw` = stats::binomial()$linkinv(res), : EXPR must be a length 1 vector**

Any idea what might be causing this without reprex?

[2021-11-14 12:21] trivialfis commented on #6654
It's a known issue in the released GPU binary, which has been fixed in latest and pending for complete tests on CRAN

[2021-11-14 21:19] poojitharamachandra opened #7435 "quantile regression"
Hi,

Could you please provide support for quantile regression for uncertainty estimation? (sklearn gradient boosting has one https://scikit-learn.org/stable/auto_examples/ensemble/plot_gradient_boosting_quantile.html)
Is there an alternative already?

[2021-11-14 21:35] trivialfis commented on #7435
Hi, it's under the roadmap and I have marked https://github.com/dmlc/xgboost/issues/1433 for 2.0 (after 1.6).  Implementing it using only first-order gradient is quite easy, but to get better results we need to export tree leaf index to the objective function, which will take some time.  Stay tuned.  ;-)  Closing as duplicated.

[2021-11-14 21:35] #7435 closed

[2021-11-15 06:27] dchristle commented on #6489
Hi all,

I ran into this same bug even though I previously thought I had fixed it. Adding `"missing" -> 0.0` to the `XGBoostClassifier` params seemed to fix it. Previously, I had this set to `-1.0`, which did not work. Removing it triggered an error, which indicated that it was set to `NaN`.

@jmpanfil @monicasenapati Can you try adding `"missing" -> 0.0` to your params map?

[2021-11-15 06:32] jmpanfil commented on #6489
@dchristle would you be able to share the code you used to update params on a loaded model?

[2021-11-15 07:22] SrikanthPusarla commented on #7410
Yes, It worked with reading .bin model by passing the model parameters which were used initially to train instead of default initialization, then it is good.
[XGBoost-1.4.2-3.html.zip](https://github.com/dmlc/xgboost/files/7536623/XGBoost-1.4.2-3.html.zip)

Thanks

[2021-11-15 16:29] krfricke opened #7436 "Allreduce error when continuing training from the same process (Ray elastic training)"
TLDR: Since XGBoost 1.5, XGBoost-Ray's elastic training fails (it works with XGBoost 1.4). I suspect there may be retained state as it works when all actors are re-created.

XGBoost-Ray uses Ray's actor model to reduce data loading overhead when remote training workers die.

In the [elastic training test](https://github.com/ray-project/ray/blob/master/release/xgboost_tests/workloads/ft_small_non_e

[2021-11-15 16:37] trivialfis commented on #7436
Ah, I see the link.  Will take a deeper look.

[2021-11-15 17:08] trivialfis commented on #7436
@krfricke Could you please provide some detailed instructions on how to run this on a local machine?  I found https://github.com/ray-project/ray/pull/15913 but seems to be a huge PR.

[2021-11-15 18:00] krfricke commented on #7436
Sure,

consider these two files:

`create_test_data.py`

[code]

`ft_small_non_elastic.py`

[code]

Install dependencies

[code]

Create data

[code]

Run

[code]

For me this works with xgboost<1.5 but not with xgboost==1.5

Please note that with latest Ray master this just blocks forever after the first iteration. With Ray 1.7.0 it throws the error above.

[2021-11-15 18:23] jmpanfil commented on #6489
@dchristle ignore my last question. I forgot there is `.setMissing`.
[code]

The above code works! I can't believe it was that simple. I will have to make sure the predictions are coming out as expected, but it does work! @monicasenapati

[2021-11-15 18:48] 19930323 opened #7437 "xgboost linear model doesn't support set_weight()"
XGBoost linear model doesn't support set_weight() function
the settings of my model is as follow

[code]

and I tried to set weight for each instance using dmatrix.set_weight(weights) weights is a array contains the weight for each data point
since it's a listwise loss function that optimizes NDCG, I also use the function set_group()

after running the model, all the metrics are the same so we can

[2021-11-15 19:28] trivialfis commented on #7436
Note to myself:
The continuation is broken by 1cd20efe686d212714cc50a9c0a25332f044c763  likely cause is ray_xgboost doesn't cover the synchronization during DMatrix construction.

Silent output caused by 7017dd5a261a8546d5f7aaaf17a5a5df09a4a733 likely cause is in order to get jvm package working, the tracker's stdout is removed.

[2021-11-15 20:21] krfricke commented on #7436
Thanks for looking into this.

Is there something we can do about the first issue from the xgboost-ray side? Ideally we'd like to re-use the dmatrices across different starts as that's where the benefit of re-using actors comes from (caching loaded data for re-use)

[2021-11-15 20:26] trivialfis commented on #7436
I think that's unlikely.  I looked into the ray_xgboost's code a little bit.  Before training, data goes through quantization, which requires a allreduce operation.  Also, DMatrix construction itself requires a allreduce operation to get a consistent number of columns across workers.  If you recontruct only one of the DMatrix it will stuck at the allreduce operation.

[2021-11-15 20:28] trivialfis commented on #7436
The ray_xgboost project constructs DMatrix before entering `rabitContext`.  It doesn't fail because the DMatrix constructor thought there's only one worker (as rabit hasn't been initialized yet) so the synchronization of `n_features` becomes a no-op.   But after that, in the latest XGBoost, the synchronization for quantiles hit the issue.

[2021-11-15 20:31] trivialfis commented on #7436
The solution is to re-initialize all dmatrices during restart and move the construction of DMatrix into rabit context.

[2021-11-15 20:32] krfricke commented on #7436
Ok got it - we'll then try to keep the raw data in cache and reconstruct the dmatrices from scratch always.

I'll implement this tomorrow. Thanks for the context here, that was very helpful

[2021-11-15 20:35] trivialfis commented on #7436
Let me know if there's anything I can help.  Also, it's quite pleasant to read the code as it's very well written. ;-)

[2021-11-16 08:28] Rubtsowa opened #7442 "Not correct error in Dmatrix with data.type=object"
I got the problem in xgboost. When I create a DMatrix like in the test (https://github.com/dmlc/xgboost/blob/master/tests/python/test_dmatrix.py#L82), I get an error other than the ValueError expected in this case:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/localdisk/mrubtsov/miniconda/envs/modin/lib/python3.8/site-packages/xgboost/core.py", line 506, in inn

[2021-11-16 09:01] showkeyjar opened #7443 "how to get the time of one boost round?"
I use gridsearch and optuna to search the best hyper parameters of xgboost.

but I found when the tree is deep and big,

then the boost round will very slow, and cost too much time

and the big tree parameters usually not use for productive system.

so the big tree search usually waste time.

I want to find a way that can measure the boost round time,

if the time is too long, then stop train, and

[2021-11-16 09:15] trivialfis commented on #7442
Hi, It's an exception that inherits ValueError.

[2021-11-16 09:15] #7442 closed

[2021-11-16 09:17] trivialfis commented on #7443
Hi, you can define a callback function. Please see Python doc and demo.  https://xgboost.readthedocs.io/en/stable/python/callbacks.html

[2021-11-16 09:17] #7443 closed

[2021-11-16 09:37] showkeyjar commented on #7443
I read the doc and demo,

I can use callback measure time, but

there is no information for how to stop train in callback functions

[2021-11-16 11:30] trivialfis commented on #7443
From the demo, there's a `after_iteration` function defined in the callback class, which returns a boolean value.  According to the document of its parent class `TrainingCallback` https://github.com/dmlc/xgboost/blob/b0015fda9658d44c1e7ac3eb0361ba8d1f44bcdc/python-package/xgboost/callback.py#L44 , it should return True when the training should stop.  Also, in the demo https://github.com/dmlc/xgboo

[2021-11-16 14:16] sofiavlachou28 opened #7444 "xgboost.core.XGBoostError: [15:49:05] C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:567: Check failed: mparam_.num_feature != 0 (0 vs. 0) : 0 feature is supplied. Are you using raw Booster interface?"
Hello to everyone!!

I am new to Python and Iam getting this error when running xgBoost: `xgboost.core.XGBoostError: [15:49:05] C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:567: Check failed: mparam_.num_feature != 0 (0 vs. 0) : 0 feature is supplied.  Are you using raw Booster interface?`

I tried to search for this error, could not find much useful resources.

I gu

[2021-11-16 14:48] trivialfis commented on #7444
Hi, could you please share the `RANKING TEST (1).csv` file so that I can run the script?

[2021-11-16 15:21] sofiavlachou28 commented on #7444
@trivialfis Yes! How can I upload it here?

[2021-11-16 15:25] sofiavlachou28 commented on #7444
@trivialfis  Done!
@trivialfis  Done!
[RANKING TEST (1).csv](https://github.com/dmlc/xgboost/files/7547657/RANKING.TEST.1.csv)

I will be grateful if you can help me! :)

[2021-11-16 17:08] trivialfis commented on #7444
I printed the data shape before calling `fit` method of `XGBRanker`:
[code]
and it's
[code]

So you have generated an empty dataset somewhere in your script.

[2021-11-16 17:20] sofiavlachou28 commented on #7444
I can't print that. the error still occures...
I can't understand what happens!

[2021-11-16 17:32] sofiavlachou28 commented on #7444
I set it, but unfortunately it doesn't run...

[2021-11-16 17:39] trivialfis commented on #7444
You need to debug your code and your dataset.  Your dataset has total 2 columns, this line returns an empty dataframe as `X_train` due to the negation operator:

[code]

I'm afraid I can't help you with data preprocessing.

[2021-11-16 17:43] sofiavlachou28 commented on #7444
doesν't matter ! I will expand my data. I will add two columns! Maybe it works better..!

[2021-11-17 18:35] monicasenapati commented on #6489
I have the following param map:
[code]
I am still getting an error:

[code]

[2021-11-17 21:28] kransom14 opened #7445 "Documentation for objective functions R package"
Where can I find documentation for how the different objective functions are calculated? For example, "reg:tweedie". What is the equation for the loss function as well as the gradient and the hessian?

[2021-11-17 22:30] hcho3 commented on #7366
TODOs
- [ ] Revise codebase so that clang-tidy check can pass under a CUDA 11.0 environment.
- [ ] Fix gtest `MultiClassesSerializationTest.GpuHist` on Windows

[2021-11-18 12:10] MJimitater commented on #6790
Interesting! Has this progressed in any ways?

[2021-11-18 22:01] kransom14 opened #7448 "Feature contributions (SHAP) for model with Tweedie objective return values in margin space R package"
I am curious if the feature contributions for a model trained with a Tweedie objective could be converted to the units of the response variable? Currently, they are output as marginal units. Please see my example below. If the objective is changed to "reg:squarederror" rather than "reg:tweedie", the shap values are in the original response variable units.

@jfrery did some work on this for the sha

[2021-11-19 06:30] dbczumar opened #7449 "[Urgent] Rabit tracker.py is missing from xgboost4j-gpu_2.12 1.5.0 maven JAR"
While attempting to fit an `ml.dmlc.xgboost4j.scala.spark.XGBoostClassifier` with `ml.dmlc:xgboost4j-gpu_2.12:1.5.0` and `ml.dmlc:xgboost4j-spark-gpu_2.12:1.5.0` (https://mvnrepository.com/artifact/ml.dmlc/xgboost4j-gpu_2.12/1.5.0), I observed the following error:

[code]

Downloading and inspecting the JAR contents from Maven indicates that `tracker.py` is missing from `ml.dmlc:xgboost4j-gpu_2.12

[2021-11-19 07:02] hcho3 commented on #7449
@dbczumar My bad. I will publish a new patch version to include  the missing `tracker.py`.

@trivialfis Can we wrap up the 1.5.1 version so that we can publish the same 1.5.1 version to both PyPI and Maven Central?

[2021-11-19 07:30] dbczumar commented on #7449
Thanks @hcho3 !

[2021-11-19 08:57] trivialfis commented on #5983
Fixed by https://github.com/dmlc/xgboost/pull/7446

[2021-11-19 08:57] #5983 closed

[2021-11-19 08:58] trivialfis commented on #7444
I will close this now since the cause is in preprocessing.  Feel free to reopen if there are further issues.

[2021-11-19 08:58] #7444 closed

[2021-11-19 09:46] trivialfis commented on #7260
Running tests on R-hub and win-builder.  I will update this comment accordingly:

* macOS 10.13.6 High Sierra, R-release, CRAN's setup
https://builder.r-hub.io/status/xgboost_1.5.0.2.tar.gz-e9c7c56cffc1d61f47ea467845f81f7f

* Windows Server 2008 R2 SP1, R-release, 32/64 bit
https://builder.r-hub.io/status/xgboost_1.5.0.2.tar.gz-96afb982c2464daa5431b73fb27d9d61

* Oracle Solaris 10, x86, 32 bit, R-

[2021-11-19 09:47] dragarok opened #7450 "Single Node Multi GPU DaskDeviceQuantileDMatrix not working properly with dask_cudf dataframe"
Here I have modified the simple training example from dask/gpu_training.py to use dask_cudf dataframe into DaskDeviceQuantileDMatrix.
This code gets stuck and doesn't get further.

Environment and libraries version:
_xgboost == 1.5.0
dask == 2021.11.1
dask_cudf == 21.10.01_

It runs fine if I use DaskDMatrix though. Any clue to this will really help a lot. The code to reproduce the issue is below.

[2021-11-19 09:59] trivialfis commented on #7450
Could you please put it under the "main" guard: `if __name__ == "__main__":`?

[2021-11-19 10:08] trivialfis commented on #7260
@hetong007 Should I bump the version to 1.5.0.2 or 1.5.1?  We are preparing the 1.5.1 for Python and JVM and it would be great to have some consistency.  But I'm not entirely sure about the CRAN policy.  Right now, the other 2 packages use `<major, minor, patch>` release naming format.

[2021-11-19 10:11] hetong007 commented on #7260
Do we plan 1.5.1 to include ONLY the incremental fixes for CRAN submission?

If so, we can bump to 1.5.1, otherwise I think it is better to use 1.5.0.2.

[2021-11-19 10:15] trivialfis commented on #7260
Got it, I will keep it as 1.5.0.2.  Opened a PR for incrementing the version number: https://github.com/dmlc/xgboost/pull/7452 .

[2021-11-19 10:16] trivialfis commented on #7260
All tests have passed.

[2021-11-19 10:22] dragarok commented on #7450
[code]

[2021-11-19 10:23] dragarok commented on #7450
Sure

[2021-11-19 10:36] trivialfis commented on #7450
The second script you posted runs fine on my machine (after adding ddqdm variable).  Have you tested it?

[2021-11-19 10:39] trivialfis commented on #7449
Sure, @hcho3 https://github.com/dmlc/xgboost/pull/7451 is the one last backport to 1.5.1 .

[2021-11-19 11:27] dragarok commented on #7450
Yeah. It's running on mine as well. I don't know what went wrong when I did this last time. I failed multiple times on my script and this demo script. Sorry for my fault. Thank you for responding so eagerly.

[2021-11-19 11:27] #7450 closed

[2021-11-19 14:13] kushknows commented on #7247
Same warning I am getting in Python also. I tried some methods but none of them work. Please resolve this issue

[2021-11-19 18:41] kransom14 commented on #7448
This is also true for the gamma objective. Please see example below:

[code]

[2021-11-19 22:17] jrbourbeau opened #7454 "`AttributeError` with fitting model on Dask Array backed by `scipy.sparse.csr_matrix`"
I came across a use case where attempting to fit a `DaskXGBClassifier` on a Dask Array whose partitions are `scipy.sparse.csr_matrix`s (as is returned by Dask-ML's `HashingVectorizer`) results in a `AttributeError: divisions not found` error (full traceback included below).

From doing some initial debugging it appears the underlying issue is that during the fitting process we end up passing a `li

[2021-11-20 09:19] trivialfis commented on #7454
Thank you for opening the issue.  I will work on some tests for `sparse` and `scipy.sparse` with dasks.

[2021-11-20 10:49] trivialfis commented on #7445
Unfortunately, the related documents are sparse.  I will try to put a brief description in the doc.

[2021-11-20 10:50] trivialfis commented on #7449
@hcho3 I will handle the Python release after R package for 1.5.0.2 is done.  Feel free to submit jvm packages to maven while you are at it.

[2021-11-21 17:31] VishnuBhaarath opened #7458 "Reproducibility"
How to get reproducible result, is it possible to get the exact same result each time, I am getting different results each time I run the model with the same set of hyperparameters.

[2021-11-21 20:11] trivialfis commented on #7458
Could you please share the script that's not reproducible?  For most of the single node training cases, it should be bit by bit reproducible given the same environment (seed, hardware, threads etc).

[2021-11-21 21:07] trivialfis commented on #7436
Just something to think about.  XGBoost used to support recovery by rabit  (the allreduce impl in xgboost) but we removed the feature as it was too difficult to implement it at low level.  The difficulty is similar to the one in this issue.  In old rabit, it caches the booster model for each iteration, but the quantile and some other things weren't properly handled.  To achieve single point recove

[2021-11-21 21:35] hansonw commented on #6670
Of course this might not work for much longer, but here's a huge hack I used to unpickle a pickled Booster from an older xgboost version:

[code]

After patching `Booster.__setstate__` unpickling the older format should work.

No guarantees here obviously - I suspect the use of a mock JSON config (`mock_json_config`) might cause issues with certain boosting configs.

[2021-11-21 21:43] trivialfis commented on #7458
Also, it should be bit by bit reproducible for dask interface in distributed environment, given that the input is exactly the same (same partitioning, order, workers etc)

[2021-11-21 21:44] trivialfis commented on #7458
So, would be great if you can share a sample that's not reproducible and we can debug it.

[2021-11-22 08:40] VishnuBhaarath commented on #7458
Thanks @trivialfis I was able to rectify it, the model is indeed reproducible given the same set of hyperparameters and the same environment, I was making a mistake in partitioning of the data that's the reason for different results.

[2021-11-22 08:40] #7458 closed

[2021-11-22 08:50] candalfigomoro commented on #7449
@trivialfis @hcho3
As a side note, is there any known issue preventing the Scala tracker from being the default instead of the Python tracker for xgboost4j-spark?

[2021-11-22 09:00] marboe123 opened #7460 "XGBoost error : Check failed: layer_end == 0 (190 vs. 0) : Linear booster does not support prediction range"
[code]
I receive the error above after I do predict for a XGBoost model with booster = "gblinear" in R. I intend to predict probabilities for a binary target variabele.

I receive the error at the last line of this code:

[code]

my_df is a dataframe with a one-hot-encoded factor and 4 numerical variables.

The process xgb.train is running fine with reporting of the AUC's.

Initially I had used th

[2021-11-22 12:54] greenary-John opened #7461 "（spark4j-spark）The number of num_workers cannot be increased (the maximum can be set to 4), the cluster queue limits Executor Cores: Maximum is 4， Is there any way to increase the number of num_worker, hope to increase to 10 or 20"
backround：
xgboost version 0.82
spark version 2.3.4

Driver Memory:
13g
Num Executors:
1000
Executor Memory:
14g
Executor Cores:
4

param：
spark.hadoop.parquet.enable.summary-metadata=false
spark.executor.extraJavaOptions="-XX:MaxDirectMemorySize=2048m"
spark.yarn.executor.memoryOverhead=2048
spark.driver.maxResultSize=2048
spark.dynamicAllocation.enabled=true
spark.shuffle.service.enabled=true
sp

[2021-11-22 13:02] greenary-John opened #7462 "（spark4j-spark）ExecutorLostFailure (executor 1827 exited caused by one of the running tasks) Reason: Container:container_**: on host: ****.bj marked as failed. Exit status: 255. Diagnostics: [2021-11-22 20:58:26.551]container-launch with exit code: 255"
detail：
ExecutorLostFailure (executor 1827 exited caused by one of the running tasks) Reason: Container:container_**: on host: **.bj marked as failed. Exit status: 255. Diagnostics: [2021-11-22 20:58:26.551]container-launch with exit code: 255
[2021-11-22 20:58:26.553]Container exited with a non-zero exit code 255. Error file: prelaunch.err.
Last 4096 bytes of prelaunch.err :
Last 4096 bytes of st

[2021-11-22 14:49] trivialfis commented on #7461
I don't think that's an error from xgboost.  Feel free to correct me if I'm wrong @wbo4958 .

[2021-11-22 15:55] marboe123 commented on #7460
Thank you.

I suppose it is no solution to delete `early_stopping_rounds = 30,` from model_n in my code above, since I receive the error below in that case:

[code]

Is it an unusual combination of commands that I use since I receive these errors?

[2021-11-22 16:58] bolongcheng opened #7463 "Small typo"
[line 42](https://github.com/dmlc/xgboost/blob/d33854af1b4f783c5230bb21aff7234b16f409f7/python-package/xgboost/training.py#L42) in `xgboost/training.py`

[code]
Bost -> Both ?

[2021-11-22 17:10] trivialfis commented on #7463
Good catch!  Would you like to open a PR for the fix?

[2021-11-22 17:12] GinkoBalboa opened #7464 "Compilation error under Visual Studio above version 15.0"
Hi,

After a recent change in the function declaration given here:

https://github.com/dmlc/xgboost/blob/d33854af1b4f783c5230bb21aff7234b16f409f7/src/data/array_interface.h#L471

The compilation fails under Visual Studio versions greater than 15.0.

Elaborate on the error is given here:

[Link to compile error C3615](https://docs.microsoft.com/sr-cyrl-rs/cpp/error-messages/compiler-errors-2/compil

[2021-11-22 17:18] trivialfis commented on #7464
That's weird.  We are testing xgboost on github action with 2019.

[2021-11-22 18:03] trivialfis commented on #7464
Anyway, I opened a PR https://github.com/dmlc/xgboost/pull/7466 .  Feel free to try it out.

[2021-11-22 18:09] trivialfis commented on #7449
Lack of maintainer. ;-)

[2021-11-22 20:26] bolongcheng commented on #7463
Sure. I can do that.

[2021-11-23 00:58] #7463 closed

[2021-11-23 02:21] wbo4958 commented on #7461
For cpu training pipeline, the num_worker should be less equal than the maximum total spark tasks. So you can set to any value according your cluster env.

[2021-11-23 03:26] #7427 closed

[2021-11-23 08:04] hcho3 commented on #7449
@dbczumar I just published 1.5.1 version of XGBoost. It contains the tracker file.

[2021-11-23 08:04] #7449 closed

[2021-11-23 08:15] dbczumar commented on #7449
Thank you, @hcho3 !

[2021-11-23 08:42] #7464 closed

[2021-11-23 08:45] #7454 closed

[2021-11-23 08:46] trivialfis commented on #7461
Feel free to reopen if there's any further question.

[2021-11-23 08:46] #7461 closed

[2021-11-23 08:49] trivialfis commented on #7462
Unfortunately, it has been deprecated for a long time now, please upgrade XGBoost.  Also, please provide a reproducible example similar to the one described in https://stackoverflow.com/help/minimal-reproducible-example .

Feel free to reopen if there's a reproducible example or any further questions.

[2021-11-23 08:49] #7462 closed

[2021-11-23 09:46] trivialfis commented on #7260
Closing as all 1.5.0 packages are submitted.  Thank you all!

[2021-11-23 09:46] #7260 closed

[2021-11-23 11:43] greenary-John commented on #7461
我的队列资源CPU,内存充足，Num Executors也可以动态调整，但唯一是限制了Executor Cores最大为4
我不清楚是不是因为这个原因造成了我num_workers无法增大，超过4
Num Executors:也可以动态调整，到700-800也可以，为什么num_workers，不能超过4这是xgboost设计的问题吗？
我想确认的是一点：是不是num_workers必须小于Executor Cores？

[2021-11-23 11:51] GinkoBalboa commented on #7464
Thanks for the fix, it compiles now. I agree it was a weird bug, however, now it is gone.

[2021-11-23 13:05] krfricke commented on #7436
Thanks for the additional context - and sorry I didn't get to it last week, other stuff came up. I hope to tackle it this week, and yes, I agree we should just move it into the Rabit context to make sure we adhere to all caching principles correctly.

[2021-11-23 13:48] newmanwang commented on #5474
xgboost.train() also consume a lot of memory(not gpu memory) when making a copy of Booster as returned model , in my case 9GB before bst.copy() and 34G after.
What about not making copy as a option?

[2021-11-23 15:12] trivialfis commented on #5474
I'm working on it.

[2021-11-23 17:12] GinkoBalboa opened #7476 "External memory, gpu_hist and subsampling combination bug"
Hi,

I've detected that xgboost segfaults when I try to use subsampling with external memory and gpu_hist as a parameter.

Segfault happens when the number of batches is greater than 1 and subsampling is less than 1.0.

Here I send the script that causes the segfault.

I have a solution for the bug, a pull request follows quickly.

[external_memory_3.zip](https://github.com/dmlc/xgboost/files/7589

[2021-11-23 19:56] trivialfis commented on #7476
Thanks for sharing!  Ping me when you have the fix. ;-)

[2021-11-23 20:03] trivialfis commented on #7476
Might be tricky.  One needs to make a copy of the original page.

[2021-11-23 20:08] trivialfis commented on #7476
I think we can obtain the shared ptr via:

[code]

But I'm curious about your solution. ;-)

[2021-11-23 20:21] renjiege opened #7477 "Kernel dies when using "gpu_hist""
The following code works fine when the model is trained with CPU:
`xgboost = XGBClassifier(max_depth=3, n_estimators=300, learning_rate=0.1)`

but it faills with GPU (jupter kernell dies):
`xgboost = XGBClassifier(max_depth=3, tree_method='gpu_hist', n_estimators=300, learning_rate=0.1)`
The training data is a 20808x5314541 sparse matrix (tfidfvectorized matrix). So I guess it is a memory issue?

[2021-11-23 20:25] trivialfis commented on #7477
That's very likely.

Please upgrade XGBoost to the latest.  The memory consumption should be better for these extremely wide and sparse datasets, but still we haven't spend effort on optimizing them on GPU.