[2018-09-20 23:27] CodingCat commented on #3704
so if you make it as Long, the problem solved?

https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/GeneralParams.scala#L149

[2018-09-20 23:28] CodingCat opened #3715 "[jvm-packages] improve the visibility of error when persisting model"
add exception handler in

https://github.com/dmlc/xgboost/blob/aa53e9fc8d0fbd2e229246212fb40d107985cb83/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/DefaultXGBoostParamsWriter.scala#L61

[2018-09-20 23:35] superpipal-yi commented on #3704
I have this line of code exactly as
final val seed = new LongParam(this, "seed", "random seed")
however, i am not sure why in the final xgboostclassifiermodel, it shows as integer in the paramap.....
![image](https://user-images.githubusercontent.com/27104189/45852140-1dedd200-bcf3-11e8-92e7-e7c34d472de6.png)

[2018-09-20 23:38] CodingCat commented on #3704
https://github.com/dmlc/xgboost/pull/3716 this should fix the issue, will add the unit test to cover persisting bestModel

but you can try to pick up code in the pull request and test

[2018-09-21 00:15] hcho3 commented on #3702
@Nirmal-Neel I injected some diagnostic code and found out that **the C++ code has different set of split points than the JSON dump**:

`RegTree::GetLeafIndex()` from include/xgboost/tree_model.h:
[code]

The JSON model dump:
[code]

[2018-09-21 00:43] hcho3 commented on #3702
It turns out the JSON dump was formatted incorrectly. For integer features, the JSON dump will show rounded-up values of thresholds. So 79.5 is replaced with 80, 68.5 is replaced with 69 and so forth. The threshold value 63.0 in node 3 was rounded up as well, when it shouldn't have been.

I will submit a patch so that integer thresholds don't get rounded up.

[2018-09-21 00:47] hcho3 commented on #3702
See #3717.

[2018-09-21 00:51] hcho3 commented on #3661
@jayantjain93 Did you specify `ntree_limit` on the Python side too?

[2018-09-21 00:51] #3684 closed

[2018-09-21 00:57] hcho3 commented on #3696
@selphie1410 testcsv.zip doesn't contain Dist12. Did you upload the right file?

[2018-09-21 01:06] hcho3 commented on #3696
@selphie1410 There are several issues with the code you posted:
1. The variables `train` and `test` were not defined. I had to add
[code]
2. The variables `train.label` and `test.label` were not defined either. Which column is supposed to be the target? Is `Dist12` column the label?

[2018-09-21 01:30] hcho3 commented on #3696
@selphie1410 I found the problem: since you are using early stopping, you have to specify `ntreelimit` when predicting:
[code]
When you save a model and load it back, the best iteration isn't saved. To preserve early stopping information, you should save the R object using `saveRDS()`.

[2018-09-21 01:30] #3696 closed

[2018-09-21 04:36] Nirmal-Neel commented on #3702
Thank you. I will check it and will confirm you.

[2018-09-21 07:14] #3699 closed

[2018-09-21 08:11] #3702 closed

[2018-09-21 08:40] TangShuangshuo opened #3718 "[jvm-packages] How the XGBoostEstimator generate the probabilities?"
I generate a pmml model file using XGBoostEstimator in scala. I want to load the pmml file and write a predictive function in C++. But I'm not clear how to predict the result. According to the file, I sum the arrived leaf score of all trees and get a.  Next I pass the a to the sigmoid funtion, eg, b = 1/(1 + exp(a)). However, b differs from the probabilities. Can anyone elaborate on the prediction

[2018-09-21 20:05] CodingCat commented on #3704
does it solve the issue if you pick up the change in https://github.com/dmlc/xgboost/pull/3716?

[2018-09-21 20:59] superpipal-yi commented on #3704
No. I have to force the casting from integer to long to save the model now.
the dirty fix I am using now is
(DefaultXGBoostParamsWriter.scala)
val jsonParams = paramMap.getOrElse(render(params.filter{
      case ParamPair(p, _) => p != null
    }.map {
      case ParamPair(p, v) =>
        try {
          p.name -> parse(p.jsonEncode(v))
        }
        catch {
          case e: Exception =>

[2018-09-21 22:37] mostafa-time commented on #3190
Yup @cengjingmengxiang ... I think it is the same issue as discuses here... check this out: https://github.com/dmlc/xgboost/pull/3232/files

[2018-09-21 23:32] mostafa-time commented on #3190
@CodingCat I was re-doing the example above with the new release (version 0.80) and noticed this line does not work:

[code]
since one can not instantiate `XGBoostRegressionModel` from a `booster` anymore. Is there a way around this in v0.8.0?

Thanks

[2018-09-21 23:44] hcho3 commented on #3689
@dreamsuifeng You should write a bridge class, as discussed earlier.

[2018-09-21 23:45] hcho3 commented on #3190
@mostafa-time See discussion at #3689. You should write a bridge class under package `ml` to get around access restriction.

[2018-09-22 00:50] hcho3 commented on #1106
@why-not You should set `nthread=0` to use all available cores.

[2018-09-22 00:50] hcho3 commented on #601
@why-not You should set `nthread=0` to use all available cores.

[2018-09-22 21:18] CodingCat commented on #3704
what's the version are you using?

I didn't find any big difference between your code and the example https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/spark/SparkMLlibPipeline.scala

but I cannot reproduce your issue with the example code

[2018-09-23 06:04] hcho3 commented on #3708
@KOLANICH Can you compile and run the following code on your machine?
https://github.com/dmlc/xgboost/blob/72cd1517d6b1d145c34e13a063fadd31b507b01d/tests/cpp/helpers.cc#L5-L13
The returned string should refer to a path that actually exists.

[2018-09-23 06:06] hcho3 commented on #3710
Adding `[jvm-packages]` so that contributors to JVM packages will notice them.

[2018-09-23 06:38] hcho3 commented on #3230
Merging dmlc/dmlc-core#455 will fix this issue, I think.

[2018-09-23 06:39] hcho3 commented on #3375
@MonsieurWave Any update?

[2018-09-23 06:42] hcho3 commented on #3523
Will look at this issue this week. Let's see if the issue appears on my Macbook.

[2018-09-23 06:45] hcho3 commented on #3543
@sjain777 0.80 is not yet available at CRAN, since some unit tests are failing spuriously for 32-bit Windows. We'll working on it, but for now you'll have to compile from the source.

@xavierburtschell Did you get around trying latest versions?

[2018-09-23 07:04] CodingCat commented on #3710
We never released any version of 0.8.3...the next one should be 0.81...ask Databricks if it’s some customized version

[2018-09-23 07:04] #3710 closed

[2018-09-24 04:06] JamieGainer commented on #1715
For me the issue (on a Mac) was fixed with
pip uninstall xgboost
followed by
pip install xgboost

[2018-09-24 06:23] hcho3 opened #3720 "Roadmap: Fix flaky tests"
This issue is aimed at keeping track of flaky tests.

Rationale: some of existing tests tend to fail randomly, even when the pull request / branch update has nothing do to the tests. **Since flaky tests bewilder community contributors and hamper developer productivity, they should be quickly addressed.**

**Note to maintainers: If you spot a flaky test, please report it here.**

**List of existing

[2018-09-24 13:30] khotilov commented on #3720
I could not reproduce the 1st one, but I will need to try with this specific version R-3.5.1patched later.

[2018-09-24 16:38] hcho3 commented on #3720
@khotilov I think the issue only appears for 32-bit R.

[2018-09-24 16:44] superpipal-yi commented on #3704
val sparkVersion = "2.3.1"
val scalaCheckVersion = "1.14.0"
resolvers += Resolver.mavenLocal
libraryDependencies += "ml.dmlc" % "xgboost4j" % "0.81-SNAPSHOT"
libraryDependencies += "ml.dmlc" % "xgboost4j-spark" % "0.81-SNAPSHOT"

[2018-09-24 17:15] jfgosselin commented on #3418
@KimiRaikking , @tqchen, @xydrolase   is this a bug ? I ran into exact same issue. @KimiRaikking  suggestion to remove `context.stop(self)` solves the problem

- Centos 7
- Scala 2.11.12
- Apache Spark 2.2.2
- xgboost4j 0.72
- xgboost4j-spark 0.72

[2018-09-25 08:38] FelixNeutatz commented on #2274
Just for people who have a similar issue. It turns out that converting sparse matrices into xgb.DMatrix is the bottleneck (also see https://stackoverflow.com/questions/46934782/scipy-sparse-matrix-to-xgboost-dmatrix-conversion-extremely-slow). I could also not parallelize the conversion:
[code]
Pickle has an issue here:
[code]
Furthermore, i converted my matrix using data.todense(). This approach

[2018-09-25 11:37] dreamsuifeng commented on #3689
I'm a newer of scala, could you give me a base code? thank you

[2018-09-25 16:39] CodingCat commented on #3704
can you reproduce by running the example code?

[2018-09-25 16:39] #3700 closed

[2018-09-25 18:31] mostafa-time commented on #3190
Thanks @hcho3. I am not an expert Scala coder, so I won't be bale to contribute there. I understand that maintainers of the repo decided to eliminate it from 0.8 but I think they could have had the bridge class ready if it is so easy to do for them and include it in 0.8.

[2018-09-25 20:29] hcho3 commented on #3720
For tests/python/regression_test_utilities.py, we could solve it by migrating Python test to Jenkins, where we can use slave workers with more memory.

[2018-09-25 20:55] hcho3 commented on #2274
@FelixNeutatz Can you check CPU usage and see if all cores are used? How many cores does your machine have? I notice that DMatrix constructor uses all threads for loading dense matrix (see [`XGDMatrixCreateFromMat_omp()`](https://github.com/dmlc/xgboost/blob/72cd1517d6b1d145c34e13a063fadd31b507b01d/src/c_api/c_api.cc#L452-L533)) but uses only one thread for loading sparse matrix (see [`XGDMatrixCr

[2018-09-25 21:00] hcho3 commented on #2274
@FelixNeutatz In near future, I'd like to submit a pull request to perform multi-threaded loading of sparse matrices. Can you tell me the dimension and density (% of nonzeros) of your input sparse matrix?

[2018-09-25 21:11] hcho3 commented on #3691
I'm getting error
[code]

Is this what you mean by regression problems not working?

[2018-09-25 21:15] dwy904 opened #3722 "how can I extract the feature weights of the gblinear booster"
I am trying to extract the `weights` of my input features from a `gblinear` booster. But it seems like it's impossible to do it in python.

I am wondering if there's any way to extract them.

[2018-09-25 21:17] hcho3 commented on #3722
@dwy904 Did you try using `get_dump()` or `dump_model()`?

[2018-09-25 21:20] hcho3 commented on #3378
Related issue: https://github.com/ContinuumIO/anaconda-issues/issues/8803

At the end of this link, a user claims that the issue was "solved".

[2018-09-25 21:29] dwy904 commented on #3722
Here is what I got.

[code]

[2018-09-25 21:32] dwy904 commented on #3722
One more question, is the sequence of the `model_rank.get_dump()` command exactly the same as the sequence of the command, `model_rank.feature_names`? except for the `bias` term.

[2018-09-25 21:54] hcho3 commented on #3722
I think so.

[2018-09-25 21:54] #3722 closed

[2018-09-25 22:19] dwy904 commented on #3722
Thank you so much!

[2018-09-25 23:42] ankurkhurana03 commented on #1499
I am facing the issue, could you help me with the resolution?

[2018-09-26 06:42] aviolov commented on #3045
I also have this problem on a windows machine, with xgboost 0.7 and `tree_method='gpu_hist'`. the GPU memory does not get released if, for example, `xgbReggressor.fit` finishes successfully, but some post-processing results in a Python Error).

`del xgbRegressor
gc.collect();`

does not seem to release the GPU memory (but a kernel restart does:).

[2018-09-26 06:44] SebastianHapp commented on #3691
Yes. When debugging the process you see that the problem comes from the function "makeDesign" which changes column order.

  library(R.utils)
  makeDesign2 <- mmpf:::makeDesign;
  mymakeDesign <- function(data, vars, n=n, uniform = TRUE, points, int.points) {makeDesign2(data, vars, n, uniform = uniform, points, int.points)[colnames(data)]};
  reassignInPackage("makeDesign", pkgName="mmpf", mymakeD

[2018-09-26 07:05] hcho3 commented on #3691
@SebastianHapp Since the bug originates from an external package (mmpf), I'm not sure what we can do.

[2018-09-26 07:34] TangShuangshuo commented on #3718
In fact, I add the base score(0.5). According to the pmml file, if I provide the data with feature “9004”=0, "2506"=0, then I reach node 4 which score is -0.5438435. There are 1 tree in all. That is to say, the sum of leaf score is -0.5438435. Then I add the base score(0.5), then score=-0.5438435 + 0.5=-0.0438435. Then pass the score to sigmoid, 1 / (1 + exp(-(-0.0438435)))=0.48904. However, the o

[2018-09-26 07:38] hcho3 commented on #3718
Can you save XGBoostEstimator into a model file so that it can be loaded from Python? Please call model.get_dump() from Python and post the output.

[2018-09-26 07:42] hcho3 commented on #3718
Also there is distinction between feature value 0 and missing value. Maybe your original input contains missing values, not 0s?

[2018-09-26 07:47] TangShuangshuo commented on #3718
There is no missing values, I print a sample.
|label|1004                |1007               |1009               |1013                |8005              |8007              |8008|10013             |1514|8004|8012|2502|2503|2504|2505|2506|2507|2508|2509|9001|9004|10005|10006|10007|10008|10009|10010|10011|10012|1004_index|1004_Vec          |1007_index|1007_Vec         |1009_index|1009_Vec     |1013_i

[2018-09-26 07:49] hcho3 commented on #3718
I see. Try importing the model from Python.

[2018-09-26 08:00] TangShuangshuo commented on #3718
I also want to ask if the column probabilities is transformed by the rawPrediction with sigmoid under my current parameters,or there may be other ways of transformation?

[2018-09-26 08:03] hcho3 commented on #3718
It should be sigmoid for binary classification. Can you post the dump you get after importing the model into Python?

[2018-09-26 08:06] hcho3 commented on #3718
See https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#interact-with-other-bindings-of-xgboost for instructions

[2018-09-26 08:14] hcho3 commented on #3718
For 0.72 version, run `model.booster.saveModel()`

[2018-09-26 08:52] David082 opened #3724 "[jvm-packages] xgboost4j-spark 0.80: Tree grow policy of lossguide"
Hi there,

1. May I treat the tree grow policy of "lossguide" as the same of leaf wise in Lightgbm?

2. As the document tells:
grow_policy [default= depthwise]
    Controls a way new nodes are added to the tree.
    Currently supported only if tree_method is set to hist.
    Choices: depthwise, `lossguide
        depthwise: split at nodes closest to the root.
        lossguide: split at nodes with

[2018-09-26 09:19] zengxy opened #3725 "[jvm-packages] Support feature names in jvm packages"
I found that in python API, one can set feature names, and when `get_dump` is used, these `feature_names` are used to build a `FeatureMap` object in c by calling `XGBoosterDumpModelExWithFeatures` to avoid getting default feature names `f0, f1, f2...`

While in jvm packages, there isn't the stub `XGBoosterDumpModelExWithFeatures`. And one can only
get a dumpped model with meaningful feature names

[2018-09-26 09:45] shawnthu commented on #3095
what does this mean? How can i do it?

[2018-09-26 10:05] joyang1 commented on #1841
@alexeygrigorev how I make jvm?
I installed jdk and set JAVA_HOME in my environment, but also have the same error  above.
My system is windows10.

[2018-09-26 12:58] amaa11 commented on #1084
@choushishi. I use Rstudio on windows. I use Rcpp. Also I want use omp. But it does not work. When I compiler it, it ignore all the pragmas lines. I do not know ho to fix it.. Any solution??
Regards

[2018-09-26 13:03] amaa11 opened #3726 "Using OMP with Rcpp in Rstudio in windows"
Dear all,
I wonder if it is possible to use OMP with Rcpp in windows using Rstudio. I wrote a simple code, but when I compile it, it gives me a warring message telling me that all pragmas lines are ignored.
Any idea about how to fix it??
Regards

[2018-09-26 13:04] amaa11 commented on #3726
@choushishi
@ahmedahmedov

[2018-09-26 13:07] hcho3 commented on #3691
So no change is required on the part of XGBoost then?

[2018-09-26 13:11] hcho3 commented on #1084
@amaa11 You should install Rtools, and CRAN installation should support OpenMP out of the box

[2018-09-26 13:12] hcho3 commented on #3726
Try installing Rtools.

[2018-09-26 13:13] hcho3 commented on #3724
1. Yes
2. Yes. Unfortunately, 'hist' doea not support distributed training yet.

[2018-09-26 13:17] hcho3 commented on #3095
See the Installation Guide from https://xgboost.readthedocs.org

[2018-09-26 15:19] cengjingmengxiang commented on #3724
@hcho3 ,does distributed verson only support tree_method=approx?

[2018-09-26 16:01] CodingCat commented on #3725
feel free to file a PR , thx

[2018-09-26 17:12] johnz18 opened #3727 "interaction constraints doesn't work in Python API."
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2018-09-26 17:31] hcho3 commented on #3727
Make sure you are compiling from source using the latest codebase. The 0.80 release does not have this feature.

[2018-09-26 17:31] #3727 closed

[2018-09-26 17:31] #3724 closed

[2018-09-26 21:41] timotta commented on #3229
Same problem here

[2018-09-26 22:04] cnll0075 opened #3729 "Memory error loading model"
Hello,

I am trying to load a 15 MB xgboost model on a AWS EC2 m5d-12xlarge with 192 GB memory and 250 GB hard drive. However, I am getting "terminate called after throwing an instance of 'std::bad_alloc' what():  std::bad_alloc". This makes no sense to me; clearly I'm not running out of memory. I tried varying nthreads but it did not help.

 Loading this model on my local machine is almost instan

[2018-09-26 22:05] hcho3 commented on #3729
Since you are using EC2, can you generate an AMI so that we can try to re-produce the bug?

[2018-09-26 22:08] hcho3 opened #3730 "Broken tests: sklearn.cross_validation has been removed from scikit-learn 0.20"
Scikit-learn 0.20 has been released today, and this version removes `sklearn.cross_validation`, which has been deprecated. See http://scikit-learn.org/0.19/modules/classes.html#to-be-removed-in-0-20. As a result of the removal, the Python tests are broken.

Solution: Replace `sklearn.cross_validation` with `sklearn.sklearn.model_selection`.

[2018-09-26 22:12] cnll0075 commented on #3729
Thanks for the prompt response! This is a company AMI (private) so I'm not sure if you will be able to find it. But it is built upon the Deep Learning ami provided by AWS on a Ubuntu instance.

[2018-09-26 22:17] hcho3 commented on #3729
@cnll0075 What you can do is to create a fresh new instance from Deep Learning AMI, install XGBoost, and try to reproduce the problem. Then you should create a new AMI and make it public. (We'll have to find another way if you are not allowed to share your model.)

[2018-09-26 22:18] cnll0075 commented on #3729
By the way, I was able to run xgboost on this instance for a 60GB dataset and trained the model for over 3500 runs. I saved the model afterwards. It is during loading that's giving me problems.

[2018-09-26 22:18] hcho3 commented on #3729
@cnll0075 That's really weird. Would be nice if we can fix this.

[2018-09-26 22:35] cnll0075 commented on #3729
Hi, I sudo apt-get upgrade the instance, and now the model is loading fine. I guess I will never know what was causing the problem before, but thanks for your help!

[2018-09-26 22:54] #3729 closed

[2018-09-26 22:54] hcho3 commented on #3729
No problem.

[2018-09-27 01:41] David082 commented on #3724
@hcho3 Thanks, and looking forward to have lossguide in distributed version!

[2018-09-27 02:44] zengxy commented on #3725
ok. I'll haive a try.

[2018-09-27 03:25] moseshu opened #3732 "which loss function is used in xgboost?"
@tqchen
this picture is showed in Previre tab
### Hello tqcChen! which loss function is used in xgboost?there are two different  formats in this picture
![image](https://user-images.githubusercontent.com/23112888/46121626-3146f300-c247-11e8-9763-3c52ac179002.png)

[2018-09-27 07:54] SebastianHapp commented on #3691
yes, you are right! I will close the issue and address this in the mle section!

[2018-09-27 07:54] #3691 closed

[2018-09-27 08:40] shawnthu commented on #3095
I just downloaded the compressed source code of latest release version, it prompted that
`The source directory

    /home/.../bin/xgboost-0.7.source/dmlc-core

  does not contain a CMakeLists.txt file.
`
does it mean i should git clone dmlc-core into the corresponding directory?

[2018-09-27 09:07] jayantjain93 commented on #3661
@hcho3 , Yes I had specified it in python as well.
By not specifying it was giving inconsistent result in python.

[2018-09-27 09:38] FelixNeutatz commented on #2274
Thanks @hcho3! That would be great. My input sparse matrix is not so sparse:
- number of nonzeros:  121798708
- shape: (94306, 1628)

[2018-09-27 09:47] nirupamkar opened #3734 "Different results on groupby data"
I am using XGB for a classification problem. If I groupby the features and use the count as weight, ideally there should not be any change in the model as loss function should remain same. However I am seeing a change. Please let me know if I am missing something.

np.random.seed(42)
x=pd.DataFrame({"y":[int(np.random.random()>.8) for i in range(100)],
               "x1":[np.round(np.random.rando

[2018-09-27 12:47] xavierburtschell commented on #3543
@hcho3 still haven't tried, i'm sticking with 0.71.1 for now. I'm putting a model in production using it, now is not the right time to try a new version. I'll try within the next few months I think

[2018-09-27 13:33] #3694 closed

[2018-09-27 13:37] dwscu opened #3735 "[jvm-packages] how to get jar-with-dependencies in version 0.81"
I use maven to package the xgboost4j-spark,but it doesn't build xgboost4j-0.81-jar-with-dependencies.jar.Anyone else has the same question?

[2018-09-27 21:02] hcho3 commented on #3734
Yes, currently sampling due to `subsample` currently does not take account of instance weights.

[2018-09-27 22:03] #3730 closed

[2018-09-28 08:02] joyang1 commented on #1534
@tqchen  Why xgboost4j predictLeaf  return 3 leaf indices?
I use xgboost-0.80.jar

[2018-09-28 09:04] edwardzjl opened #3737 "Get NoClassDefFoundError when running xgboost on yarn demo"
## environment

* **java**: java1.8.0
* **hadoop**: hadoop-2.6.0-cdh5.11.1
* **CLASSPATH**: /opt/cloudera/parcels/CDH/lib/hadoop-mapreduce:/opt/cloudera/parcels/CDH/lib/hadoop/hadoop-common.jar:/usr/java/current/lib:.:
* **LD_LIBRARY_PATH**: /root/programs/xgboost/lib:/opt/cloudera/parcels/CDH/lib64:/usr/java/current/jre/lib/amd64/server:

## problem

followed the instructions on [tutorial](https:

[2018-09-28 09:38] hcho3 commented on #3737
Make sure that HDFS is enabled when compiling XGBoost4J. Modify `jvm-packages/create_jni.py` to replace `"USE_HDFS": "OFF"` with `"USE_HDFS": "ON"`.

[2018-09-28 09:44] edwardzjl commented on #3737
recompiled but still getting the same error.

[2018-09-28 10:00] hcho3 commented on #3737
[code]
I think you want to use Apache Hadoop.

[2018-09-28 13:28] khotilov commented on #3734
That reminds me about a git stash that I have made somewhere a while ago when I really needed the subsampling to be weighted... I'll dig it up. It might be more involved now though since we have many updaters.

@nirupamkar even with proper subsampling I would not expect to get the same results (should be rather similar though) since the same values might end up in and out of a subsample.

[2018-09-28 13:32] khotilov commented on #3720
I ran the test with some debug printouts many times locally and in a personal appveyor, but have never seen it fail :( I'm really curious to see the details for how it fails. How frequently would you estimate the failures were happening?

[2018-09-28 13:37] khotilov commented on #3726
How is this issue related to xgboost?
But make sure you have OpenMP flags enabled in Makevars.win, like in https://github.com/dmlc/xgboost/blob/master/R-package/src/Makevars.win

[2018-09-28 13:37] #3726 closed

[2018-09-28 13:42] nirupamkar commented on #3734
@khotilov I also agree that it should not be same but it should be close enough.

If there is no weighted subsample, it is giving equal weight to each row for subsample and thereby the subsequent trees will be biased towards a different data distribution.

So if the weight distribution is skewed the resultant model will have significantly less prediction power compared to a model build with multip

[2018-09-28 16:14] Nikronic opened #3740 "Unable to import XGBoost submodules if file name is "xgboost.py""
Hello

I know this not a serious problem, but if you want to do import like this
 `from xgboost import XGBClassifier`
, and if your python file name is `xgboost.py`, you will get error as this:
 `ImportError: cannot import name 'XGBClassifier'`

my environment:
[code]

[2018-09-28 18:55] Ankit01Mishra commented on #1034
Thanks I resolved it,it;'s working.

[2018-09-28 19:57] hcho3 commented on #3740
This is due to limitation of how Python locates modules. You should rename your Python script or move it to another directory.

[2018-09-28 19:57] #3740 closed

[2018-09-28 20:00] hcho3 commented on #3720
@khotilov I managed to re-produce the error as follows:
1) Create a fresh Windows EC2 instance.
2) Install R and Rtools.
3) Compile XGBoost from source
4) Install XGBoost into 32-bit R
5) Run R tests inside 32-bit R

[2018-09-28 20:50] CodingCat commented on #3370
@thesuperzapper are you still active working on this?

@yanboliang can take over or help you if you are busy in other stuffs

[2018-09-28 21:15] thvasilo commented on #3732
The loss function is a runtime parameter, the default is linear regression. Check here: https://xgboost.readthedocs.io/en/latest/parameter.html#learning-task-parameters

[2018-09-28 21:19] thvasilo commented on #3707
Good point @mrgutkun,  currently it's not clear what's the distinction between the `updater` and `tree_method` parameters.

[2018-09-28 21:27] hcho3 commented on #3707
@thvasilo The `tree_method` parameter is supposed to cover 90% of use cases. The `updater` parameter is an "expert" parameter that's less well documented. The documentations says
[code]

So usually it is sufficient to set `tree_method`.

[2018-09-28 21:27] hcho3 commented on #3707
Oops clicked wrong button.

[2018-09-28 21:45] thvasilo commented on #3707
Thanks for the clarification @hcho3. Out of curiosity are there sanity checks in place that would stop/inform users of passing contradicting values to these parameters?

[2018-09-29 07:12] dwscu opened #3742 "why call xgboost4j api and call xgboost4j-spark api get different result"
hello, recently I use spark-shell to run xgboost code,.I use xgboost4j-spark to run a model and predict,get the correct results.But later,I use this model to call xgboost4j predict method,I get wrong results
Why does this model get two different results?Do I use xgboost wrong?

here is my code.

xxx@xxx:~/danw$ /data/spark2/bin/spark-shell --jars xgboost4j-spark-0.72.jar,xgboost4j-0.72.jar
2018-09

[2018-09-29 21:42] hjh1011 opened #3743 "How to disable boosting details in xgb.cv for version 0.80"
I am getting detailed boosting information while doing train/cv. It looks like:
[code]
I just wonder how to turn that off. Someone suggests to set `silent = 1` in general parameters, but that doesn't work. Did see similar issue in previous version.

[2018-09-30 02:05] saksim commented on #1364
Hello~This is a newcomer in xgboost-spark. Thanks for this issue because I got this error tortures me for a moment. Actually, What I want to confirm is the manner whether I can use the JAR package with dependency in the other same version platform but with different gcc/python environment【e.g. i compile in CENTOS 6.5 with gcc-5/gcc-7 and get the JAR package with dependency,ca i use the JAR in a sp

[2018-09-30 07:37] thesuperzapper commented on #3370
@CodingCat yea, a few weeks ago I put up a development build for 0.8 in issue #1698.

I really just need people to test it and tell me what I missed, and whats not working. Additionally, I don't want to introduce the XGBoostPipeline object. If possible I would really want to use the new Python Spark 2.3 [DefaultParamsWritable](https://issues.apache.org/jira/browse/SPARK-21542) API, but haven't rea

[2018-09-30 08:39] edwardzjl commented on #1684
Have you solved your problem? I got the same one as yours.

[2018-09-30 09:03] hcho3 commented on #3743
Setting `silent = 1` should disable it:
https://github.com/dmlc/xgboost/blob/b50bc2c1d4375b22082caf41a744c53be5befb82/src/tree/updater_prune.cc#L73-L77

Can you post a small example where this doesn't work?

[2018-10-01 19:14] thvasilo commented on #3742
Have you verified that test and test2 are identical? Notice that you do a take(10) for test.

[2018-10-01 23:24] hcho3 opened #3744 "[ANNOUCEMENT] 0.81 release planned on November 1, 2018"
We will release version 0.81 on October 15, 2018.

Blocking issues / PRs
- [x] #3523: colsample_bytree seemingly not random
- [x] #3543: Multi-threading not working properly with version 0.71.2
- [x] #3579: hist + learning_rate decay memory usage
- [x] #3643: Lanuch function for unifying CPU and GPU code
- [x] #3738: Multi-GPU support in GPUPredictor
- [x] #3746: Binary wheels are broken on CPU-on

[2018-10-01 23:29] hcho3 commented on #3744
@RAMitchell @trivialfis @canonizer Do we want to merge #3643 and #3738 before the 0.81 release? The release determines what `pip install xgboost` will install.

[2018-10-02 00:47] RAMitchell commented on #3744
Yes I think we can merge #3643 now and #3738 should be easily doable before October 15.

[2018-10-02 07:42] guotong1988 opened #3745 "Test time, let some features disabled. 预测的时候，让某些特征失效。（对我很重要，THANK YOU VERY MUCH）"
比如我有100个特征，有个word2vec特征，预测的时候，我发现了word2vec词典外的词进来了(out-of-vocabulary)，假设训练的时候，没有out-of-vocabulary。
这时我把这个word2vec的特征值设为0，可以使这个特征相当于失效了吗，仅仅其他99个特征起作用。
如果不是设0，有办法实现吗？

If I use wordvec as one feature, When out-of-vocab happens at test time, I set the wordvec feature value to 0 to disable the feature for the model. Is it possible?

[2018-10-02 09:38] KOLANICH commented on #3708
1
https://en.cppreference.com/w/cpp/io/c/tmpnam

2

other drive can be used

3 on my machine it returns strings like `/s2n8.` `tmpnam` returns strings like `\s2n8.`.

[2018-10-02 11:13] hcho commented on #3708
.

On Tue, Oct 2, 2018 at 5:39 AM KOLANICH <notifications@github.com> wrote:

[2018-10-02 11:13] hcho commented on #3708
Jjhcxzzhkkhcccvb

On Tue, Oct 2, 2018 at 7:12 AM Heewon Cho <hcho@mica.edu> wrote:

[2018-10-02 13:47] hcho3 commented on #3708
We need a better mechanism for creating temporary files.

[2018-10-02 23:44] hcho3 commented on #3745
See my reply at https://discuss.xgboost.ai/t/test-time-let-some-features-disabled-thank-you-very-much/301.

[2018-10-02 23:44] #3745 closed

[2018-10-03 09:00] hcho3 opened #3746 "#3643 breaks binary wheels on CPU-only machine"
After PR #3643 was merged to master, artifact builds are experiencing failure due to memory error: https://xgboost-ci.net/blue/organizations/jenkins/restricted-xgboost/detail/master/21/pipeline

Diagnosis: the generated Python binary wheels (`xgboost-*-py2-none-any.whl`) are no longer compatible with CPU-only containers. I'll try to re-produce this problem manually on my end (by building the wheel

[2018-10-03 09:04] hcho3 commented on #3746
The CI tests did not catch this problem before merging because wheel building isn't being currently tested for pull requests since #3736. To prevent similar problems in the future, I will add back wheel building tests to pull requests.

[2018-10-03 09:06] hcho3 commented on #3744
Adding #3746 as blocking issue.

[2018-10-03 15:44] #3489 closed

[2018-10-03 20:40] trivialfis commented on #3746
I will try to fix it as soon as possible.

[2018-10-03 20:52] Ravisik opened #3747 "Booster gblinear - feature importance is Nan"
Hi,

I'm currently testing an XGBClassifier with a booster gblinear.
[code]
The results are pretty decent in comparison of gbtree and the model predictions are working OK. However when I try to get clf.feature_importances_ the output is NAN for each feature.

What I tried :
[code]
But :
[code]

If you have some clue it would be really great!

Thanks a lot,
Flo

[2018-10-03 20:53] hcho3 commented on #3747
Is #3261 related?

[2018-10-03 20:55] hcho3 commented on #3746
Thanks. I'll also take a look if I get a chance.

[2018-10-03 21:02] Ravisik commented on #3747
It doesn't seem related, as my coefficients look good and my predictions are working (but I can be wrong)

[2018-10-03 21:22] favila88 opened #3748 "[jvm-packages] RabitTracker Issue Xgboost-Spark"
Hi all,
I have been testing xgboost spark version during a while. So now I am facing the an error after some training iterations. My main problem is when I increase the the number of workers, it fails randomly. Only to clarify I am setting a correct number of workers with one is less than the executors that I am using. The training in some cases works, but in other cases it fail with the follow me

[2018-10-03 21:30] weitian opened #3749 "[jvm-packages] For training data with group, empty RDD partition threw exception"
when using spark training on training data with group:
XGBoost.trainDistributed(queriesRDD, params, round, nWorkers, obj, eval, useExternalMemory, missing, hasGroup=true)

The spark job failed with exception:
18/10/03 11:02:04 ERROR executor.Executor: Exception in task 117.0 in stage 2.0 (TID 532)
java.lang.ArrayIndexOutOfBoundsException: 0
	at ml.dmlc.xgboost4j.scala.spark.LabeledPointGroupIterat

[2018-10-03 21:41] weitian commented on #3749
It is a quick fix, will submit a PR later

[2018-10-03 21:50] hcho3 commented on #3749
@weitian Thanks. You should add yourself to CONTRIBUTORS.md when you do so.

[2018-10-03 23:10] thvasilo commented on #3439
Hello @hcho3 in the forum the ability to define the probability of each feature being selected when `col_sample` is being used has been requested a few times recently [1].

IF we want to add this as a feature request I could take it up since it doesn't seem too complicated once we agree on a design.

[1] https://discuss.xgboost.ai/t/sampsize-by-strata-in-subsample/281

[2018-10-04 06:12] #3746 closed

[2018-10-04 06:13] hcho3 commented on #3746
Fixed by #3751.

[2018-10-04 13:00] guotong1988 opened #3753 "get_fscore does not return the 0 importance features, is it ok?"
python xgboost 0.80

The list returned by `get_fscore` does not contains the 0 importance features.

[2018-10-04 16:05] #3725 closed

[2018-10-04 16:35] MonsieurWave commented on #1238
As of 0.8, this still doesn't exist right?

[2018-10-04 16:56] hcho3 commented on #1238
@khotilov #3553 fixed this issue.

@MonsieurWave For this feature, a small pull request to dmlc-core should do the trick. Let me look at it.

[2018-10-04 16:59] MonsieurWave commented on #1238
@hcho3 Thanks a lot.

[2018-10-04 20:40] esvhd commented on #3586
Hi - The docs to compile GPU support is great, two suggestions:

1. Add `-DNCCL_ROOT=` switch description, I struggled with it until I found this page.
2. After compiling, add clear instruction for python and R installation. I think for R it's pretty clear as the build would create a package. However, for python, it wasn't very clear. Do I install from `~/git/xgboost/build`? Or do I need to go to

[2018-10-04 21:12] thvasilo opened #3754 "Ability to define probability per feature when using feature sub-sampling."
In the discussion forum the ability to define the probability of each feature being selected when col_sample is being used has been requested a few times recently [1].

I'm opening this issue to discuss whether the contributors consider this feature important enough to be included in the main distribution, and to work on the design and implementation if we agree on starting development.

[1] https

[2018-10-04 21:13] thvasilo commented on #3439
Opened https://github.com/dmlc/xgboost/issues/3754 to track this.

[2018-10-04 22:37] trivialfis opened #3755 "Is `QuantileHistMaker` used anywhere?"
https://github.com/dmlc/xgboost/blob/9e73087324f72d8695e54da96e5e133769e662ca/src/tree/updater_histmaker.cc#L751

Doing a simple grep didn't find any usage of this class, is it obsoleted?

[2018-10-05 00:12] pablete opened #3756 "Multi-gpu terminate called after throwing an instance of 'thrust::system::system_error' parallel_for failed: out of memory"
Building xgboost for multi-gpu support  from https://github.com/dmlc/xgboost/commit/c6b5df67f64e9e5feba29547faea03dd0ce707cc
With CUDA 9.0
With NCCL 2.2.13-1+cuda9.0
on amazon p2.8xlarge 488GB Ram , 32 vcpus, 8 gpus K80

CODE

    print(X.count())
    print(X.info(memory_usage='deep'))

    data = Data(X, y)
    dtrain = xgb.DMatrix(data.X_train, data.y_train)
    dval = xgb.DMatrix(data.X_val, da

[2018-10-05 01:01] alexpghayes opened #3757 "[R pkg] Different predictions for same data"
Using the R package I'm getting different predictions depending on the type I give to `newdata`:

[code]

[2018-10-05 01:44] trivialfis commented on #3756
Currently the predictor doesn't support multi-gpu yet, but should be there soon. :) see #3738.

So the there is only one device being used for prediction, which means the memory capacity is limited to a single device.

[2018-10-05 15:27] xino1010 commented on #3604
@hcho3
nano ~/.bashrc
export LC_ALL=en_US.UTF-8
source ~/.bashrc

[2018-10-05 19:59] hcho3 commented on #3753
Can you post an example?

[2018-10-05 19:59] hcho3 commented on #3747
Do you have an example data?

[2018-10-05 20:12] Ravisik commented on #3747
I can reproduce my error with iris dataset:

from xgboost import XGBClassifier
from sklearn import datasets

# import some data to play with
iris = datasets.load_iris()
X = iris.data # we only take the first two features.
y = iris.target

[code]

Output:
[code]

As you can see, predictions & weights seems good but I can't get feature importance.

[2018-10-05 20:16] hcho3 commented on #3755
Yes, I think it became obsolete. Commits back in year 2014 refer to it, but none afterwards. A PR to remove it would be great.

[2018-10-05 20:16] hcho3 commented on #3747
Thanks! It should help for debugging efforts.

[2018-10-05 20:30] hcho3 commented on #3543
Related:
* https://discuss.xgboost.ai/t/multithreading-not-working-with-version-0-71-2
* https://discuss.xgboost.ai/t/big-data-will-break-the-nthread-setting-in-r-xgboost-0-71-2
* https://discuss.xgboost.ai/t/r-xgboost-0-71-2-multi-thread-is-much-slower-than-0-6-4

[2018-10-06 01:23] dwy904 opened #3760 "batch update possibility for the gblinear booster"
I have a question regarding parameters update within the xgb linear booster. In this case, I will be only using the `gblinear`.

I have split my original dataset into multiple chunks due to the size issue. I am wondering if I can load one chunk of data at a time and update my `gblinear` model incrementally using the parameter `xgb_model` during the training process.

By doing this, will the perfor

[2018-10-06 01:48] RAMitchell commented on #3760
Try loading the dmatrix using external memory. I believe it does exactly what you want.

[2018-10-06 01:51] dwy904 commented on #3760
There will be some feature work that I have to do inside my notebook before converting it to `DMatrix `.

[2018-10-06 02:14] dwy904 commented on #3760
That would be on possible solution if no feature modification is needed from the original dataset, but there will be some feature work that I have to do inside my notebook before converting it to `DMatrix `.

And I am wondering if the performance of the model be so much different from training the gblinear modeling by loading the entire original dataset.

[2018-10-06 06:50] guotong1988 commented on #3753
I can not post it here, as it is a lot of code of many files.
I print all the features of the input and print the features return by `get_fscore. Then I find the feature numbers do not equal.

[2018-10-06 18:31] hcho3 commented on #3760
Yes, since `xgb_model` is not designed for this use case. It is to be used with identical training data between successive calls to `train()`.

I think what you can do is to process your batches first and save them as multiple libsvm files. (Use `sklearn.datasets.dump_svmlight_file.) Then use external memory with entire directory:
[code]

[2018-10-06 22:10] pablete commented on #3756
Thanks, I have combined it with `predictor: 'cpu_predictor'` and it works. Will wait until the multi-gpu predictor is available. I will test the PR early on.

Thanks for the pointer!

[2018-10-07 01:07] hcho3 commented on #3523
@neverfox Sorry for the delay. I finally got the chance to look at this, and so far I cannot re-produce the issue on my Macbook. I ran the snippet
[code]
and got
[code]

Here is my R environment:
[code]

[2018-10-07 01:12] hcho3 commented on #3523
@neverfox @Laurae2 @ben519 I just managed to produce the bug by installing XGBoost from CRAN, i.e.
[code]
The snippet is now producing the table
[code]

[2018-10-07 01:16] hcho3 commented on #3523
Installing XGBoost again from CRAN, but this time with source distribution instead of binary:
[code]

Again getting the bad result
[code]

[2018-10-07 01:31] hcho3 commented on #3523
Building from source, with commit id e6696337e4f068eb841c3f319deffd36d292dc19 (this is commit hash used for 0.71.2 CRAN submission).
[code]

Now the testing script produces
[code]

TODO: try using default Apple compiler instead of GCC

[2018-10-07 01:39] hcho3 commented on #3523
Building from source, with commit id e6696337e4f068eb841c3f319deffd36d292dc19, this time with default compiler:
[code]

This gets the bad result:
[code]

Summary: Using the default Apple compiler (Apple Clang without OpenMP) causes the bad behavior in the random generator.

[2018-10-07 01:53] hcho3 commented on #3523
@neverfox @ben519 I found a work-around: force R to use Homebrew GCC by creating the file `~/.R/Makevars` as follows:
[code]

You can install Homebrew GCC by running `brew install gcc@7`.

[2018-10-07 02:04] hcho3 commented on #3523
@CodingCat Doesn't XGBoost4J use the default Apple Clang compiler on Mac OS? That should explain why `colsample_bytree` is broken on XGBoost4J-Spark.

[2018-10-07 02:05] CodingCat commented on #3523
No, we actually observed in a linux environment @mmui can you follow up on this?

[2018-10-07 02:13] hcho3 commented on #3523
@CodingCat Were you using Clang on Linux when you observed the bug?

[2018-10-07 03:04] hcho3 commented on #3708
@KOLANICH The `TemporaryDirectory` class in dmlc-core looks like a suitable replacement. It is cross-platform and works with multiple Windows drives:

https://github.com/dmlc/dmlc-core/blob/e3377de933d3e069635150fb330ce6cc33b57950/test/unittest/unittest_inputsplit.cc#L38-L125

[2018-10-07 03:13] hcho3 commented on #3753
Yes, currently XGBoost will not include features that have not been used anywhere, i.e. zero importance features:
https://github.com/dmlc/xgboost/blob/2405c59352b05379d9e01ca10bea1d68b2f840e6/python-package/xgboost/core.py#L1415-L1437

I'll update the documentation to clarify this behavior.

[2018-10-07 03:27] hcho3 commented on #3757
This is expected because `as.matrix` converts all missing values to 0's. XGBoost makes distinction between missing values and 0's. You should use sparse matrix types to handle missing values correctly.

[2018-10-07 03:31] hcho3 commented on #3747
I looked at the Python code and it looks like GBLinear doesn't support feature importances. The concept of feature importance is specific to decision trees, as the definition specifically refers to "splits":
https://github.com/dmlc/xgboost/blob/2405c59352b05379d9e01ca10bea1d68b2f840e6/python-package/xgboost/core.py#L1392-L1398

A check should be added to throw exception when `get_fscore` is called

[2018-10-07 03:31] #3732 closed

[2018-10-07 03:40] hcho3 commented on #3711
@a-johnston Would you be interested in adding them?

[2018-10-07 03:41] hcho3 commented on #3718
Any updates?

[2018-10-07 03:42] hcho3 commented on #3737
Does using Apache Hadoop change anything?

[2018-10-07 04:04] RAMitchell commented on #3747
I'm not sure if there is a standard way to compute feature importance for linear models. I guess someone could implement something but throwing an exception seems like a good solution for now to manage expectations.

[2018-10-07 04:53] #3753 closed

[2018-10-07 07:53] hcho3 commented on #3523
@neverfox GCC 8 gives the correct result as well.

[code]
git checkout e6696337e4f068eb841c3f319deffd36d292dc19
git submodule update --init --recursive
mkdir build
cd build
CC=gcc-8 CXX=g++-8 cmake .. -DR_LIB=ON
make -j10
make install            # this step fails due to naming of xgboost lib
cd R-package
mv src/xgboost.dylib src/xgboost.so
R CMD INSTALL .    # now xgboost installs
[code]

[2018-10-07 09:52] hcho3 commented on #3714
#3766 should fix it. Thanks!

[2018-10-07 10:37] hcho3 commented on #3586
@esvhd I update the doc in #3767.

[2018-10-07 19:05] KOLANICH commented on #3708
[std::temp_directory_path](https://en.cppreference.com/w/cpp/filesystem/temp_directory_path)

c++17 though.

[2018-10-07 19:46] hcho3 commented on #3708
Wish we could use std::filesystem. That would prevent many headaches.

[2018-10-08 03:06] joyang1 opened #3768 "[jvm-packages] SIGSEGV for predictleaf in XGBoost4J"
I used xgboost4j-0.80.jar, xgboost train parameter of round is 800 and train data is 2000000. When I use predictleaf to get leafIndex, the jvm crashed.

The error stack:
[code]

[2018-10-08 06:55] hcho3 commented on #3523
The problem exists for latest master as well.

Testing script
[code]

**Correct result**: latest master, GCC 8
[code]

[2018-10-08 07:07] KOLANICH commented on #3708
`__cplusplus` is used by some compiler to report c++ version date. I guess we can support later versions optionally.

[2018-10-08 07:51] saksim opened #3770 "[jvm-packages] Run Xgboost_v0.60 in Spark1.6.1 getting java.lang.UnsatisfiedLinkError"
Environment:
Linux CENTOS 6.5
gcc++ 4.8.2
maven 3.5.4
java 1.8.0_181
spark cluster: 1.6.1
scala 2.10

Hello,Somebody helps! Actually,our team need to use xgboost in a lower version Spark cluster, then I believe v0.60 can be chose. I just follow what the article said in a similar issue(https://github.com/dmlc/xgboost/issues/1364)! HOWEVER,I get this error again and again, which means those methods

[2018-10-08 07:58] saksim commented on #3770
I promise the compiled environment is similar with the spark clusters'. Both of the environment is based on Linux CENTOS 6.5. Once more,I update the gcc environment because of the official website says the minimum GCC++ environment requirement is 4.8.0.

Could anyone show me any kinds of possible solution,please?

[2018-10-08 08:01] hcho3 commented on #3770
After checking out `v0.60`, please run `git submodule update --init --recursive` to have a matching `rabit` for 0.60 version.

[2018-10-08 08:02] hcho3 commented on #3770
Also, please consider using version 0.72 or higher, so that you can get help from the community.

[2018-10-08 08:04] saksim commented on #3770
OK! I will try it ASAP! Additionally, Does version 0.72 can be used in Spark 1.6.1 or Spark 1.6.3?

[2018-10-08 08:04] #3714 closed

[2018-10-08 08:05] hcho3 commented on #3770
Unfortunately, version 0.7+ requires Spark 2.0+.

[2018-10-08 08:09] saksim commented on #3770
Yep~I get it! Thanks for your advice！Best Wishes

[2018-10-08 08:10] #3760 closed

[2018-10-08 08:12] hcho3 commented on #3748
Maybe you are not able to secure all the workers you need? Currently, the workers will need to stay alive throughout all training; if one of them is killed, the whole training fails.

[2018-10-08 08:16] hcho3 commented on #3735
Did you run `mvn package`? For now, you should get pre-built 0.81 JAR by specifying repository
[code]
and dependency
[code]

[2018-10-08 08:27] hcho3 commented on #3770
Check if `make` step was successful and `libxgboost4j.so` was actually generated.

[2018-10-08 08:39] saksim commented on #3770
If it is possible, could you tell me more where can I find the "libxgboost4j.so" file if "make" step
was successful. I find the jvm-package/lib directory is empty.

I just follow the official document guides, I am not sure the reason why it can fail in the "make" step. Do you have any other advice?

Best Wishes. @hcho3

[2018-10-08 08:44] hcho3 commented on #3770
Sorry, I am not familiar with old versions of XGBoost. Try posting in StackOverflow and see if anyone has experience with 0.60 version.

[2018-10-08 08:44] #3770 closed

[2018-10-08 08:48] dwy904 commented on #3760
Can I use external memory training for `rank:ndcg` task. How can I setup the parameter `group_id` in this case.

[2018-10-08 08:48] hcho3 commented on #3770
Also you can try posting at https://discuss.xgboost.ai/ to see if anyone can help.

[2018-10-08 08:49] hcho3 commented on #3760
See https://xgboost.readthedocs.io/en/latest/tutorials/input_format.html#query-id-columns.

[2018-10-08 09:00] hcho3 commented on #3770
Run the "make" step again and read through the messages to locate any error.

[2018-10-08 09:06] dwy904 commented on #3760
Thank you. Do the query ids has to be unique when comparing to different batch files?

For example, I have to batch files and each of them contains 5 different queries. When I setup the query id for the batche files. Can I use query id 1 throught 5 twice `query id 1 - 5 for batch_1 and query id 1 - 5 for batch_2` or I have to setup a unique query id for each query `query id 1 - 5 for batch_1 and q

[2018-10-08 09:07] saksim commented on #3770
Thanks~ Actually,there is not any mistake or error when I run "make" step, however, the "libxgboost4j.so" file is not producted. This is what I called it "fail".

[2018-10-08 09:11] hcho3 commented on #3760
Query IDs have to be unique globally. So you'd use query id 1 - 5 for batch_1 and query id 6 - 10 for batch_2

[2018-10-08 09:33] KOLANICH opened #3771 "Make models and model parsers plugins too"
I may wanna try to integrate ksy-generated model parsers in XGBoost. It would be nice to have model parsers somehow standoff from models evaluation. But xgboost already supports several kinds of models. It would be nice to modularize everything enough to allow to choose model parser implementation separately from a model and to allow adding custom models.

[2018-10-08 09:38] KOLANICH opened #3772 "Use -march=native and -mtune=native"
These gcc flags instruct the compiler to optimize the library for the CPU build is run on. It would be nice to reflect them in CMake scripts as binary variables to allow a user to select them by clicking in GUI.

UPD: `-march=native` results into a python interpreter crash on Windows.

[2018-10-08 10:41] KOLANICH opened #3773 "Document top_k"

[2018-10-09 01:17] dwscu commented on #3742
thanks for answer my issue, I'm sure that test and test2 are identical,they get feature data from the same text file. I do take(10) not for test but for predict(test).

[2018-10-09 03:17] saksim opened #3778 "[jvm-package] jvm-packages/xgboost4j/src/native/./xgboost4j.h:2:17: fatal error: jni.h: No such file or directory"
Environment:
Linux CENTOS 6.5
gcc++ 4.8.2
maven 3.5.4
java 1.8.0_181
spark cluster: 1.6.1
scala 2.10

Hello,all!
Actually I am a newcomer in xgboost in Spark. I got lots of dramatical mistakes during past two weaks (https://github.com/dmlc/xgboost/issues/3770). Finally, I believe the root reason why I get wrong is the missing of "libxgboost4j.so" file.

Thus, I cross through the directory to ../xg

[2018-10-09 04:02] poryfly opened #3779 "why does PairwiseRankObj not have GetLambdaWeight function implement?"
why does PairwiseRankObj not have GetLambdaWeight function implement?

[2018-10-09 04:13] hcho3 commented on #3779
This is because `GetLambdaWeight()` contains details that are specific to listwise ranking. Since `PairwiseRankObj` performs pairwise ranking, it does not implement `GetLambdaWeight()`. See https://www.microsoft.com/en-us/research/publication/from-ranknet-to-lambdarank-to-lambdamart-an-overview/ for more details.

[2018-10-09 04:13] #3779 closed

[2018-10-09 04:32] hcho3 commented on #3778
Does `${JAVA_HOME}/include` directory exist?

[2018-10-09 05:41] #3773 closed

[2018-10-09 07:56] hcho3 commented on #3523
Preliminary diagnosis: The random bit generator defined for R (see below) does not work well with Apple Clang's implementation of `std::uniform_int_distribution`. It works well with GCC implementation, however.
https://github.com/dmlc/xgboost/blob/ca33bf6476a182a42209e3ce10a386adedd65ba9/R-package/src/xgboost_custom.cc#L58-L63

[2018-10-09 08:29] dwscu commented on #3735
ok,thanks,I'll try this.

[2018-10-09 08:54] hcho3 commented on #3523
Fix is available at #3523.

[2018-10-09 09:38] saksim commented on #3778
YES,It does! The result as follows :

[root@weiweiLinux ~]# ls ${JAVA_HOME}
bin  COPYRIGHT  include  javafx-src.zip  jre  lib  LICENSE  man  README.html  release  src.zip  THIRDPARTYLICENSEREADME-JAVAFX.txt  THIRDPARTYLICENSEREADME.txt
[root@weiweiLinux ~]# ls ${JAVA_HOME}/include
classfile_constants.h  jawt.h  jdwpTransport.h  jni.h  jvmticmlr.h  jvmti.h  linux

[2018-10-09 09:58] TangShuangshuo commented on #3718
This answer should meet with my questio. https://github.com/jpmml/jpmml-sparkml-xgboost/issues/1.
I've tested that it gives wrong predictions when my data contains category features, and gives correct predictions when it doesn't.

[2018-10-09 12:51] passionvery opened #3782 "how can the input be a dense input in c api"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2018-10-09 12:53] passionvery commented on #3782
Are the two structure the sparse input?(xgboost::SparseBatch  and xgboost::io::DataMatrix)

[2018-10-09 13:15] passionvery commented on #3782
I train a model in python sklearn using dense input(libsvm data.toarray()).Then I predict the result in python with dense input.The result is different from the prediction in c with both SparseBatch and DataMatrix input.But the prediction in c is the same as the prediction in python with sparse input.So I get the conclusion that the c api inputs (xgboost::SparseBatch and xgboost::io::DataMatrix) a

[2018-10-09 13:27] passionvery commented on #3782
C:
std::string test_path = "2_output_vaild.fea.com.1";//libsvm
data = xgboost::io::LoadDataMatrix(test_path.c_str(),  silent != 0, use_buffer != 0, loadsplit);
m_learner.Predict(*data, 0, &preds, 0,0);
python:
X_train,Y_train = load_svmlight_file(f_path)
X_train = X_train.toarray()         // The result is the same if this row is deleted,If this row exists,the result is different.
 for x in X_trai

[2018-10-09 16:04] #3718 closed

[2018-10-09 16:55] hcho3 commented on #3747
@Ravisik Exposing `coef_` as a property should solve the problem.

[2018-10-09 18:52] hcho3 commented on #3749
Closed by #3750

[2018-10-09 18:52] #3749 closed

[2018-10-09 19:01] hcho3 commented on #3747
Re-opening this issue, to remind myself that `coef_` should be added.

[2018-10-09 20:49] #3440 closed

[2018-10-09 23:16] hcho3 commented on #3375
Closing for now. Re-open it if you have any update.

[2018-10-09 23:16] #3375 closed

[2018-10-09 23:18] hcho3 commented on #3634
@pekaalto Any updates?

[2018-10-10 00:55] dwscu commented on #3742
@hcho3 thanks,I use indexing_mode=1and version 0.81,and the results match.Another question, if I do not use Vectors.dense(x.features.toArray),what should I do? I see the example code:
val trainRDD = MLUtils.loadLibSVMFile(sc, inputTrainPath).map(lp =>
      MLLabeledPoint(lp.label, new MLDenseVector(lp.features.toArray)))
    val testSet = MLUtils.loadLibSVMFile(sc, inputTestPath)
        .map(lp

[2018-10-10 01:01] dwscu commented on #3742
@hcho3,I use dataframe as input to train xgboost model,and I get the same results also,Thank you very much.

[2018-10-10 01:30] #3735 closed

[2018-10-10 02:45] ghlozyx commented on #1841
@alexeygrigorev How can I make jvm? I have the same problems with maven install.

[2018-10-10 03:01] hcho3 commented on #1841
See https://xgboost.readthedocs.io/en/latest/jvm/index.html

[2018-10-10 03:29] pekaalto commented on #3634
Oh yes,

Yes, when setting this parameter then the predictions are the same.

But should this be handled somehow differently. I think now for many spark users the df contains mix of sparse and dense vectors. For example the `VectorAssembler`, which is usually last step before model, creates Sparse or Dense vector depending how many non-zero values we have.

https://github.com/apache/spark/blob/a59

[2018-10-10 07:32] hcho3 commented on #3778
See the second to last word `-I/include`, which corresponds to line
https://github.com/dmlc/xgboost/blob/4a8d63b6c8711fb839c71e26c659936252df1eb5/Makefile#L46

So for some reason `${JAVA_HOME}` is empty. Maybe run
[code]
or
[code]
?

[2018-10-10 08:38] saksim commented on #3778
YES! It actually makes sense!!

[root@weiweiLinux jvm-packages]# JAVA_HOME=/usr/weiweiLinux/jdk1.8.0_181 ./create_jni.sh
build java wrapper
g++ -std=c++0x -Wall -O3 -msse2  -Wno-unknown-pragmas -funroll-loops -Iinclude   -Idmlc-core/include -Irabit/include -fPIC -fopenmp -I/usr/qudian/jdk1.8.0_181/include -I./java -I/usr/qudian/jdk1.8.0_181/include/linux -shared -o jvm-packages/lib/libxgboost4j.so

[2018-10-10 08:38] saksim commented on #3778
[root@weiweiLinux jvm-packages]# find / -name "libxgboost4j.so"
/usr/weiweiLinux/project/xgboostv2/jvm-packages/xgboost4j/src/main/resources/lib/libxgboost4j.so

[2018-10-10 08:38] #3778 closed

[2018-10-10 08:39] saksim commented on #3778
Thanks for your help!!!

[2018-10-10 22:56] CodingCat commented on #3634
missing is set to NaN to be consistent with other bindings https://github.com/dmlc/xgboost/blob/c23783a0d1db3d795befe8e4588f211465b82a3f/python-package/xgboost/sklearn.py#L99

I am not sure if it's a good idea to make it different across different language APIs....what if a DS uses the model trained from Spark in python?

[2018-10-11 08:06] faeryQ commented on #785
@vini-akki  Save data as xgbDMatrix format by R command xgb.DMatrix.save() of package xgboost. Then rm(list=ls()). Then restart R.  Then library(xgboost). Finally, load xgbDMatrix by R command xgb.DMatrix(). It might help you a littele.

[2018-10-11 09:21] neulyp opened #3786 "[jvm-packages] xgboost4j-flink example :DistTrainWithFlink train error"
用的是0.80的版本，然后trainData 和testData 是读到数据了，其他代码没有改变。怎么解决呀

ml.dmlc.xgboost4j.java.XGBoostError: [15:27:46] /xgboost/src/objective/regression_obj.cc:43: Check failed: info.labels_.size() != 0U (0 vs. 0) label set cannot be empty

Stack trace returned 6 entries:
[bt] (0) /tmp/libxgboost4j2193021052893805346.so(dmlc::StackTrace()+0x19d) [0x7fddbc4c715d]
[bt] (1) /tmp/libxgboost4j2193021052893805346.so(d

[2018-10-11 14:15] khotilov commented on #3747
Linear coefficients are returned as feature importance in the R interface (assuming that a user has standardized the inputs). There are a number of ways to assess the relative importance of features in linear regression (e.g., see https://www.jstatsoft.org/article/view/v017i01/v17i01.pdf ) and standardized betas is one of them - while not the best but is usually good enough.

[2018-10-11 14:43] charron opened #3787 "Treatment of sample weights equal to zero"
My understanding of xgboost and most machine learning models in general is that removing a sample or setting its weight to zero are equivalent as they result in the same loss function.
In the Python example below I tried a few settings which I think should learn the same model by playing with weights and sample removal / duplication.
Most of them are found to be indeed equivalent but the last one

[2018-10-12 09:52] mtaboga opened #3789 "Check failed: ntree_limit == 0U (331 vs. 0) GBLinear::Predict ntrees is only valid for gbtree predictor"
I think this might be a bug.
I am running xgboost 0.80 under python 3.6 and windows7 (anaconda distribution)
My code is:

    clf = xgb.XGBRegressor(
            booster=boost,
            nthread=4,
            objective='reg:linear',
            n_estimators=nEst,
            learning_rate=lr,
            max_depth=depth,
            reg_alpha=alpha, #default=0 l1 regularization on weights

[2018-10-12 22:59] ben519 commented on #3523
@hcho3 Thanks for all your help on this.  I was able to get this working by installing xgboost using gcc 8.2.0.  For future me and others, here's how I got things working...

1. Install gcc8 via homebrew: `brew install gcc@8` (I also needed to fix a symlink issue that homebrew warned me about using `brew link --overwrite gcc`)
2. Following the directions [here](https://xgboost.readthedocs.io/en/la

[2018-10-13 01:23] tovbinm opened #3790 "[jvm-packages] Add predictRaw and raw2probabilityInPlace to XGBoostClassificationModel"
Howdy,
Add missing implementation for `predictRaw` and `raw2probabilityInPlace` in `XGBoostClassificationModel`, so it would comply with all regular Spark stages.

[2018-10-13 01:52] hcho3 commented on #3523
@ben519 No problem. I think #3781 should fix behavior for Apple Clang.

[2018-10-13 02:07] hcho3 commented on #3747
@khotilov Interesting. We can certainly use linear coefficients as feature importances, but scikit-learn makes distinctions between coefficients (`coef_`) and feature importances (`feature_importances_`), so I think we should follow that convention as well.

[2018-10-13 02:12] hcho3 commented on #3789
@mtaboga Indeed, this is a bug. Thanks for reporting it. I think #3445 introduced it. I'll prepare a fix soon.

[2018-10-14 01:17] yw-fang commented on #1945
This works for me. Thanks very much

[2018-10-14 19:05] mayer79 commented on #2754
I stumbled over similar behaviour with XGBoost v 80.1 (R-Package) and CUDA 9.1.

For certain combinations of the parameters, the GPU version does not seem to converge. In below example, e.g. set `min_child_weight = 0` and `lambda = 0` to see the effect vs CPU.
[code]

[2018-10-14 19:28] hcho3 commented on #2754
@RAMitchell

[2018-10-15 03:48] trivialfis opened #3794 "[MGPU] python-gpu/test_large_sizes.py failed."
During test, `weight_` and `labels_` inside `Metainfo` are resharded with a different and non-empty distribution, causing the CHECK inside `reshard` to fail.

The cause is pretty simple, the test first run on single GPU:
https://github.com/dmlc/xgboost/blob/516457fadcd315554e052b24307392b6aad30e49/tests/python-gpu/test_large_sizes.py#L100

Then later run on multi-gpu:
https://github.com/dmlc/xgboo

[2018-10-15 04:52] hcho3 commented on #2754
@mayer79 #3793 should fix it.

[2018-10-15 04:52] #2754 closed

[2018-10-15 06:29] hcho3 commented on #3744
Pushing back the release date to November 1 due to blocking issues.

[2018-10-15 07:02] trivialfis commented on #3579
@Denisevi4 For the CUDA gpu_hist, did you find usual memory usage in GPU memory, or just CPU memory?   I'm currently spending time on gpu-hist, see if I can dig something out.

[2018-10-15 08:05] admu commented on #1999
Caused by: java.lang.Exception: [15:45:15] /xgboost/src/c_api/c_api.cc:383: Check failed: nan_missing There are NAN in the matrix, however, you did not set missing=NAN

[2018-10-15 09:26] haitongwan opened #3796 "Compile failed under xgboost file"
The error message:
src/io/hdfs_filesys.h:10:18: fatal error: hdfs.h: No such file or directory
 #include <hdfs.h>
                  ^
compilation terminated.

I can't find the "hdfs.h" file in the source code.How can I solve this problem?
I am looking forward to your reply.

[2018-10-15 09:36] hcho3 commented on #3796
Did you set `USE_HDFS` compilation option?

[2018-10-15 09:40] warmcuddles opened #3797 "<pre>"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2018-10-15 09:42] warmcuddles opened #3798 "XGBoostError: sklearn needs to be installed in order to use this module"
119                  base_score=0.5, seed=0, missing=None):
    120         if not SKLEARN_INSTALLED:
--> 121             raise XGBoostError('sklearn needs to be installed in order to use this module')
    122         self.max_depth = max_depth
    123         self.learning_rate = learning_rate

XGBoostError: sklearn needs to be installed in order to use this module

windows 8.1 32 bit

[2018-10-15 09:44] #3797 closed

[2018-10-15 10:05] hcho3 commented on #3798
As the error says, please install scikit-learn package if you'd like to use `XGBClassifier` and `XGBRegressor`.

[2018-10-15 10:06] hcho3 commented on #3796
Make sure you installed HDFS library on your system. Alternatively, please set `USE_HDFS` to 0 in `make/config.mk`.

[2018-10-15 10:06] #3796 closed

[2018-10-15 11:17] haitongwan commented on #3796
Thank you very much for your timely reply. I want to deploy distributed xgboost on hadoop-2.2.0. Do you have deployment documents?

[2018-10-15 11:28] hcho3 commented on #3796
This link may be useful: https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#building-a-ml-pipeline-with-xgboost4j-spark

[2018-10-15 11:58] haitongwan commented on #3796
I set it according to what you said, but it can't work yet.

The error message:
Error: Could not find or load main class org.apache.hadoop.yarn.dmlc.Client
Exception in thread Thread-2:
Traceback (most recent call last):
  File "/home/q/python27/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "/home/q/python27/lib/python2.7/threading.py", line 763, in run
    self

[2018-10-15 12:00] haitongwan commented on #3796
I only have the Hadoop environment now, and I want to realize the deployment of distributed xgboost in this environment.

[2018-10-15 12:10] hcho3 commented on #3796
I think your Hadoop installation is somehow incomplete. Consider using pre-built JARs from Maven Central: https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#building-a-ml-pipeline-with-xgboost4j-spark

[2018-10-15 14:29] warmcuddles commented on #3798
@hcho3 actually I recently upgraded my sklearn to 20.0 from 18.1
and that is causing the error
I had to downgrade my scikit-learn to make it work again
and in sklearn version 18.1 it works but notebook gives warning "(This module will be removed in 0.20. "This module will be removed in 0.20.", DeprecationWarning)"

So my question now is how to make it run in sklearn ver 20.0 without getting above

[2018-10-15 14:35] hcho3 commented on #3798
Can you post the script you were running before you got the error?

[2018-10-15 16:39] #3523 closed

[2018-10-16 02:53] shhkam opened #3799 "nvprof xgboost causing "an illegal memory access was encountered" in /gpudb/calvin/xgboost/src/tree/updater_gpu_hist.cu"
Thanks for participating in the XGBoost community! We use https://discuss.xgboost.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won

[2018-10-16 02:59] hcho3 commented on #3799
Please provide more details: when the problem occurs and how to reproduce it. Take a look at other open issue  posts for examples. Issues lacking information will be closed early.

[2018-10-16 03:00] shhkam commented on #3799
Tried to trace the GPU activities,  running a Python gradient boost benchmark
https://devblogs.nvidia.com/gradient-boosting-decision-trees-xgboost-cuda/
Got the above error message while running the script with GPU>=2  (Was able to collect the trace when 1 GPU was used)

/usr/local/cuda/bin/nvprof -fo test.nvvp ./benchmark_GPU.sh

[19:13:23] 1050x28 matrix with 29400 entries loaded from higgs_trai

[2018-10-16 03:00] hcho3 commented on #3798
For the record, I also use scikit-learn 0.20 myself and never encountered this problem.

[2018-10-16 03:02] hcho3 commented on #3799
Great! The information you posted should be useful for developers.

[2018-10-16 03:03] hcho3 commented on #3799
@ramitchell Have you run into a similar problem in the past?

[2018-10-16 05:42] CodingCat commented on #3744
for #3543 and #3579  do we have active PR?

[2018-10-16 05:48] hcho3 commented on #3744
Not yet. Still investigating.

[2018-10-16 08:10] yangl326-Dylan opened #3800 "is embedding features suitable for gbdt model?"
A word embedding, for example, 200 dim, is this a good features for gbdt model?

[2018-10-16 09:02] thvasilo commented on #3800
You can definitely use that, but whether it will be better than using a sparse representation of your text features will depend on the problem.

Also for this kinds of open ended questions I'd suggest using the [project's forum](https://discuss.xgboost.ai/), the issue tracker should really be used to report code bugs or other technical issues related to the codebase.

[2018-10-16 09:55] 0mza987 commented on #2794
@mkmukund10 It's very likely you predicted a matrix with a single row. The parallelism is for rows so it wont help if you have only one row to predict, and since it requires allocating a feature_cnt*nthread size matrix for parallel computation, the performance was worse than a single thread in you case.

[2018-10-16 15:52] chenqin commented on #3786
hey, do you have code and data sample to reproduce, have you set label columns?

[2018-10-17 01:11] #3800 closed

[2018-10-17 05:59] hcho3 commented on #3579
@dev7mt @Denisevi4 @kretes @trivialfis I think I found the cause of the memory leak. When the learning rate decay is enabled, `FastHistMaker::Init()` is called every iteration, where it should have been called only once in the beginning. The initialization function `FastHistMaker::Init()` allocates new objects, hence the rising memory usage over time.

I'll try to come up with a fix so that `FastH

[2018-10-17 06:05] hcho3 commented on #3579
Here is a snippet of diagnostic logs I injected.

Learning rate decay enabled:
[code]

Learning rate decay disabled
[code]

[2018-10-17 08:02] hcho3 commented on #3579
**Diagnosis** The learning rate decay callback function calls `XGBoosterSetParam()` to update the learning rate. The `XGBoosterSetParam()` function in turn calls `Learner::Configure()`, which re-initializes each tree updater (calling `FastHistMaker::Init()`). The `FastHistMaker` updater maintains extra objects that are meant to be recycled across iterations, and re-initialization wastes memory by

[2018-10-17 08:55] AlexandraBomane opened #3802 "parsing model dump to get trees"
I use the Python API (sklearn wrapper) to generate an XGBClassifier with n_estimators set to 1000. I'm trying to collect the trees built during the model fitting to see the features involved in the predictions.
I used model.get_booster().dump_model(with_stats=True) to dump the model into a text. Among the 1000 boosters, only 72 are decision trees that show splits involving features. The remaining

[2018-10-17 08:59] hcho3 commented on #3802
Did you perform early stopping? With early stopping, training would probably stop at 72 iteration mark.

[2018-10-17 09:02] AlexandraBomane commented on #3802
No, I directly fit the XGBClassifier without performing any early stopping.

[2018-10-17 09:07] hcho3 commented on #3802
Can you plot the evaluation metric on training and validation data?

[2018-10-17 09:20] AlexandraBomane commented on #3802
I cannot generate such plot because I don't use training and validation data, I fit my model on my all data.

[2018-10-17 09:31] hcho3 commented on #3802
I did not say that. Single leaf trees will be used for prediction, although their impact on prediction are probably minimal. Check the magnitude of leaf outputs for single leaf trees and see if they are small.

Also, can you plot the evaluation metric on the data you fit your model on? Did the metric plateaued?

[2018-10-17 09:57] AlexandraBomane commented on #3802
How can I check the magnitude of leaf outputs for single leaf trees ?
What is the function to plot the evaluation metric ? I tried "evals_result()", but it doesn't work probably because I'm using the Sklearn wrapper and not xgboost.XGBClassifier.

[2018-10-17 09:59] AlexandraBomane commented on #3802
Do the single leaf trees are involved  in the prediction participating to the iterative corrections of trees leading to the prediction ?

[2018-10-17 10:37] AlexandraBomane commented on #3802
Taking the output of get_dump(), then should I sum all the absolute values leaves weights ? If it is the case, should I consider that if the result < 1, so the single-leaf trees do not have important influence on the prediction ?

No, I didn't pass `eval_set` to the `fit()` function.

Exactly.

[2018-10-17 10:50] hcho3 commented on #3704
@CodingCat Another user is reporting the same issue: https://discuss.xgboost.ai/t/jvm-packages-error-xgb-spark-save-model-in-version-0-80

[2018-10-17 11:04] hcho3 commented on #3579
@dev7mt @Denisevi4 @kretes @trivialfis Fix is available at #3803.

[2018-10-17 11:05] hcho3 commented on #3744
#3579 is addressed by #3803.

[2018-10-17 13:55] AlexandraBomane commented on #3802
By the way, how it is possible to get single-leaf trees ?

[2018-10-17 15:08] dreamsuifeng opened #3804 "!what(): xgboost/src/tree/updater_histmaker.cc:307: fv=3, hist.last=2"
[--error info--]
xgboost/src/tree/updater_histmaker.cc:303: fv=3, hist.size=2
xgboost/src/tree/updater_histmaker.cc:305: hist[0]=0.999999
xgboost/src/tree/updater_histmaker.cc:305: hist[1]=2
terminate called after throwing an instance of 'dmlc::Error'
what(): xgboost/src/tree/updater_histmaker.cc:307: fv=3, hist.last=2
[--environment--]
xgboost4j-spark 0.8
spark 2.2
scala
[--data--]
my data size i

[2018-10-17 17:04] hcho3 commented on #3804
@dreamsuifeng It looks like a bug I encountered in the past. Can you download sample4.libsvm.zip from https://github.com/dmlc/xgboost/issues/3402 and run it? See if you get the same error.

[2018-10-17 17:05] hcho3 commented on #3802
There are several parameter that control pruning process, e.g. `min_child_weight` and `delta`. You should change these.

[2018-10-17 20:28] #3634 closed

[2018-10-17 21:23] Denisevi4 opened #3805 "Was there a change in reg_alpha definition?"
I used to be using 0.71 version of xgboost. Now when I switched to 0.80 I can't reproduce the model. It appears it's due to reg_alpha.

Code to reproduce the problem with a simple dataset:

    from sklearn.datasets import load_boston
    X, y = load_boston(return_X_y=True)

    import xgboost
    print(xgboost.__version__)
    dtrain = xgboost.DMatrix(X, label=y)
    evals = {}
    params = {'max

[2018-10-17 23:44] RAMitchell commented on #3805
@henrygouk could this be a consequence of your changes?

[2018-10-18 00:32] henrygouk commented on #3805
There have been a couple of fixes since I refactored that bit. Is the problem still present in master?

[2018-10-18 01:14] hcho3 commented on #3805
@henrygouk #3668 added 2x factor to `reg_alpha`. Is it supposed to be there?

[2018-10-18 07:50] warmcuddles commented on #3798
I'll have to again download sklearn 0.20 to actually show the error but here's the warning from sklearn 0.18
DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.

[2018-10-18 08:55] dreamsuifeng commented on #3804
@hcho3 Thanks~. I think I met the same bug, the latest release 8.0 branch have fix the bug?
So, can I rebuild the xgboost4j-spark from latest release 8.0 branch  to resolve it?

[2018-10-18 11:31] dreamsuifeng commented on #2449
I met this error when I use spark TrainValidationSplit to get better params,
it also because this?

[2018-10-18 13:17] hcho3 commented on #3804
Yes

[2018-10-18 13:37] CodingCat commented on #2449
Check the latest master branch, it should have been fixed

[2018-10-18 14:50] Denisevi4 commented on #3805
OK master works fine! I can reproduce the same numbers with a small dataset and with my other small dataset. I'll make a more rigorous test, but it seems fine now. Thanks!

[2018-10-18 17:16] #3708 closed

[2018-10-18 17:18] hcho3 commented on #3737
@edwardzjl Interesting. For now, the XGBoost4J doc should be updated to require Apache Hadoop.

[2018-10-18 17:18] #3737 closed

[2018-10-18 22:33] trivialfis opened #3809 "[MGPU] benchmark/benchmark_tree.py failed."
In `LearnerImpl::UpdateOneIter`, `preds_` got resharded on 1 GPU by GPUPredictor, later `GetGradient` attempts to reshard it again on multi-gpu, causing the CHECK in `HostDeviceVector` to fail.
[code]

[2018-10-18 23:50] hcho3 opened #3810 "Call for contribution: improve multi-core CPU performance of 'hist'"
It is about time to tackle the elephant in the room: performance on multi-core CPUs.

# Description of Problem
Currently, the `hist` tree-growing algorithm (`tree_method=hist`) scales poorly on multi-core CPUs: for some datasets, **performance deteriorates as the number of threads is increased**. This issue was discovered by [@Laurae2](https://github.com/Laurae2)'s [Gradient Boosting Benchmark](ht

[2018-10-18 23:56] hcho3 commented on #3810
@Laurae2 Thank you for preparing the GBT benchmark. It has been helpful in identifying the problem spot.

[2018-10-18 23:58] hcho3 commented on #3805
@Denisevi4 That's great to hear. Thanks for reporting the issue.

[2018-10-18 23:58] #3805 closed

[2018-10-19 02:11] trivialfis commented on #3809
Currently the best way to fix it might be merging #3738 .  But for long term we need a better way to handle multi-gpu data distribution.

[2018-10-19 05:14] lyhue1991 opened #3811 "The 'maximize = True' option in xgboost.cv don't work"
I  want to  use an user-defined metric by  'feval'  parameter in xgboost.cv, but it seems that the 'maximize = True ' option don't work at all.  It seems that it's a bug.

[code]
the results as below:

[code]

[2018-10-19 07:01] WngMen commented on #3504
I have the same problem about this，why take the first booster only？

[2018-10-19 08:07] trivialfis commented on #3744
@hcho3 Can we add #3809 to blocking?  I really worry about multi-gpu.

[2018-10-19 08:16] hcho3 commented on #3744
@trivialfis Done

[2018-10-19 08:20] hcho3 commented on #3811
You should pass `maximize` to `xgboost.callback.early_stop`, since you are manually adding it to `callbacks`:
[code]

See the documentation at https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.callback.early_stop

[2018-10-19 08:20] Bluesn0w opened #3812 "Multi-GPU Does not Work with Cuda 10.0"
I initially installed xgboost using https://s3-us-west-2.amazonaws.com/xgboost-wheels/xgboost-multigpu-0.80-py2.py3-none-manylinux1_x86_64.whl. Then, I found only 1 gpu is working even after I set n_gpu=-1 (or 2 or 3 or 4). Therefore, I tried to build it from source. It does not seem to have any issues during the installation, however, it shows the error as below when I call the train function (or

[2018-10-19 08:28] #3252 closed

[2018-10-19 08:29] Bluesn0w commented on #3812
I am just wondering why it works (although with only 1 gpu) if I install the wheel directly. when I install it through binary, it does not even work (although it seems all gpus got the task). Maybe it has something to do with the NCCL too(one for 9.x one for 10.x). Anyhow, I guess I have to roll back to Cuda 9.2 then. Thanks!!

[2018-10-19 08:37] hcho3 commented on #3812
When building from source, did you have NCCL 2 installed for CUDA 10.0?

[2018-10-19 08:38] AlexandraBomane commented on #3802
Thanks for your help,
Just some more questions : finally the single-leaf trees are due to pruning ? (as said also [here](https://stackoverflow.com/questions/35136404/xgboost-binary-logistic-regression)).
I'm used to see `n_estimator` set to 1000 in tutorials for XGBoost and Kaggle recommendations. Do you confirm that it is a good generic setting if I don't want to spend time on tuning ?

[2018-10-19 08:45] hcho3 commented on #3802
Yes, pruning is a likely cause of single-leaf trees. You should combine parameter tuning (e.g. `min_child_weight` and `delta`) with early stopping to obtain a model that's informational.

[2018-10-19 09:41] trivialfis commented on #3812
@Bluesn0w
Currently GPUPredictor only works on single GPU, but other parts can work on multi-gpu.  During update, XGBoost first do a prediction then try to find split.  So it takes a while to enter the "multi-gpu" phase.
As for the backtrace you saw, my guess is the same bug as #3809.

[2018-10-19 14:16] wby19912010 commented on #2768
Excuse me but what is the purpose of setting group???

[2018-10-19 15:16] CodingCat opened #3813 "[jvm-packpages] support early stop with customized eval metrics in jvm-layer"
the metrics implemented in jvm layer does not support early stop due to the lack of synchronization in rabit layer

[2018-10-19 15:20] CodingCat opened #3814 "[jvm-packages] efficient optimal # of trees search"
when using Spark's cross validation api to search `round` , every experiment is started from iteration 0 which is costly and unnecessary for gbm

[2018-10-19 15:28] Bluesn0w commented on #3812
@hcho3, yes I did. I also reference the root folder of nccl2 for Cuda 10 in the cmake process. I don’t think I saw any errors in the building process, so I initially thought it may work

[2018-10-19 15:31] Bluesn0w commented on #3812
@trivialfis, thanks! It did look the same. However, it seems that I cannot even run train/fit somehow. I am going to roll back to Cuda 9.2 tonight and give a try.

[2018-10-19 17:41] sbushmanov opened #3815 "Custom metric does not work as expected"
I have `xgboost` version 0.8 built from sources with gcc and GPU support.

I have built custom metric defined as follows:

[code]
When I run:

[code]

I've got:

[code]

whereas I expected `test-RMSLE` to be used for early stopping.

Is this a bug or I'm doing something wrong defining custom  eval metric?

(before updating to 0.8, in `xgboost 0.6`, I had  `test-RMSLE` used for early stopping indee

[2018-10-20 02:56] trivialfis commented on #3812
@Bluesn0w Currently just set n_gpus to -1, I don't think there is really an issue blocking gpu_predictor from working on multi-gpu.  Sorry for the mess.  At the very least  #3809 is on blocking list now.

[2018-10-20 09:32] JoshuaC3 commented on #2768
There seems to be a bit more info in the [catboost docs](https://tech.yandex.com/catboost/doc/dg/references/ndcg-docpage/) about this.

My understanding is that we group similar items so that we do not get data leaks for almost idential items. See scikit-learns docs on [Grouped CVFolds](http://scikit-learn.org/stable/modules/cross_validation.html#group-k-fold).

@wby19912010 btw happy birthday?

[2018-10-20 21:51] hcho3 commented on #3815
Can you set parameter disable_default_eval_metric=0 and try again?

[2018-10-21 00:57] hcho3 commented on #3815
Note that `disable_default_eval_metric` is not part of 0.80 release. Make sure to compile from source using the latest master.

[2018-10-21 10:11] sbushmanov commented on #3815
@hcho3

I have done:

[code]

and

`git clone --depth=1 --recursive https://github.com/dmlc/xgboost`

and then built as usual.

Both of which gave me:

`unexpected keyword argument 'disable_default_eval_metric'`

Could you please advise me where am I wrong?

Thanks in advance and sorry for the lame question!

[2018-10-21 15:52] hcho3 commented on #3815
disable_default_eval_metric should go into the param dictionary:
[code]

[2018-10-22 07:21] dreamsuifeng commented on #3538
@hcho3
I have met the same problem on spark2.2 with xgboost4j-spark 0.8
can I set the DMLC_WORKER_CONNECT_RETRY by some method that I don't konw to increase the retry times?
Sometime rerun the job can avoid the problem. But I want to get the model training every day,
I don't want to check the train precess every day.

can u help me plz?

[2018-10-22 07:33] sbushmanov commented on #3815
I tried with `xgb.cv()`, no warnings, but still default metric is used for early stopping:
`Multiple eval metrics have been passed: 'test-rmse' will be used for early stopping.
`

[2018-10-22 07:38] hcho3 commented on #3538
I think you can set DMLC_WORKER_CONNECT_RETRY as environment variable. How is your cluster set up? Do workers have ports open to each other? Also, ensure that you have enough executors in your Spark cluster; training job will fail if any executor dies or preempted.

[2018-10-22 15:19] hcho3 commented on #3815
Did you put `disable_default_eval_metric` in `params` variable? See https://xgboost.readthedocs.io/en/latest/parameter.html#general-parameters

[2018-10-22 15:21] hcho3 commented on #3815
Also, make sure to remove `eval_metric` from `params`.

[2018-10-22 17:06] sbushmanov commented on #3815
@hcho3

My code for `xgb.cv` is as follows:

[code]

The message is:
`Multiple eval metrics have been passed: 'test-rmse' will be used for early stopping.
`
whereas I expected the evaluation metric to be the custom one: `test-RMSLE`

[2018-10-22 17:13] hcho3 commented on #3815
[code]

Please fix this to
[code]

[2018-10-22 17:36] sbushmanov commented on #3815
@hcho3
Thank you for catching the error, now it's working as expected!!!

[2018-10-22 17:36] #3815 closed

[2018-10-22 20:18] #3811 closed

[2018-10-22 23:14] hcho3 commented on #3579
@dev7mt @Denisevi4 @kretes The next upcoming release (version 0.81) will not include a fix for the memory leak issue. The reason is that the fix is only temporary, adds a lot of maintenance burden, and it will be supplanted by a future code re-factor. For now, you should use `approx` and `exact` when using learning rate decay. Alternatively, checkout the `eta_decay_memleak` branch from [my fork](h

[2018-10-22 23:49] hcho3 commented on #3804
Any updates on this?

[2018-10-23 04:01] shhkam commented on #3799
Any updates?

[2018-10-23 04:11] hcho3 commented on #3799
Can you describe your environment?
* Local machine? Or cloud instance?
* Compiler used
* CUDA version
* NCCL2 version
* Graphics card model

[2018-10-23 04:36] lyhue1991 commented on #3811
Thanks, I got it.

[2018-10-23 21:53] #3140 closed

[2018-10-23 21:53] #3631 closed

[2018-10-23 21:56] CodingCat opened #3822 "customizable early stopping"
proposed by @deepxg in https://github.com/dmlc/xgboost/pull/3808#issuecomment-432153422

"Can I suggest that we make early stopping a policy-based API with some sort of callback? So instead of just a count and a direction, we supply an object which receives the metrics up to the current round, and whatever other information might be useful, and we have a default implementation that is just the nor

[2018-10-24 03:32] guoyuhaoaaa opened #3823 "[jvm-packages] Some questions about xgboost-spark 0.72 for multi-class classification task"
We I use xgboost-spark 0.72  to do 5-class classification task.
My xgboost parameters are set as flowings:
 val xgbParam = Map(
      "eta" -> 0.1,
      "max_depth" -> 5,
    //   "objective" -> "multi:softmax",
      "objective" ->"multi:softprob",
      "colsample_bytree" ->1,
      "colsample_bylevel" ->1,
      "num_class" -> 5,
      "subsample" ->0.6
    )
When I train xgboost model like:
v

[2018-10-24 03:38] hcho3 commented on #3823
I think it is related to #3186.

For now, can you set the locale by setting environment variable `LC_ALL` to `en_US.UTF-8`?

[2018-10-24 03:53] trivialfis commented on #3810
@hcho3 Does OpenMP `guided` schedule help load balancing?  If so the ellpack won't be very useful.

[2018-10-24 03:58] hcho3 commented on #3810
My guess is that static allocation of work using ellpack would achieve balanced workload with lower overhead than `guided` or `dynamic` mode of OpenMP. With `dynamic`, you get runtime overhead of maintaining work stealing queue

[2018-10-24 04:13] hcho3 commented on #3798
Any updates?

[2018-10-24 05:59] #3756 closed

[2018-10-24 06:04] hcho3 commented on #3782
The C++ codebase uses sparse format to store data. So dense inputs will need to be converted to sparse (CSR) layout.

[2018-10-24 06:05] hcho3 commented on #3809
Now that #3738 is merged, let's see if the test passes.

[2018-10-24 06:06] hcho3 commented on #3812
Multi-GPU predictor is now merged. I will add CUDA 10.0 into the test suite to ensure compatibility.

[2018-10-24 06:11] trivialfis commented on #3809
I am gonna have to test it tomorrow, I don't have the multi-gpu machine currently.

[2018-10-24 06:19] trivialfis commented on #3809
I forgot I actually have already tested it with this.

[2018-10-24 06:19] #3809 closed

[2018-10-24 06:32] hcho3 commented on #3809
Cool!

[2018-10-24 09:25] haitongwan opened #3824 "[jvm-packages] Some errors in model training"
When I train the model, there's some errors.
Error Meassages:

ERROR ApplicationMaster: User class threw exception: ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed
ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training failed
	at ml.dmlc.xgboost4j.scala.spark.XGBoost$.ml$dmlc$xgboost4j$scala$spark$XGBoost$$postTrackerReturnProcessing(XGBoost.scala:283)
	at ml.dmlc.xgboost4j.s

[2018-10-24 15:12] hcho3 commented on #3824
Do you have more log? Normally, you'd have some log for training failure.

[2018-10-24 15:19] Bluesn0w commented on #3812
Thank you! That’s exciting. I have been using the precomplies wheel, but it only uses 1 GPU even I installed the multi gpu version. My NCCL is 2.3 for Cuda 10.0. Tested with Nvidia NCCL-rest, all works out. Look forward to hearing more.

[2018-10-24 15:29] hcho3 commented on #3812
Can you try to compile from source with USE_NCCL=1?

[2018-10-24 16:04] Denisevi4 opened #3826 "Leafs with no training events in them"
Very rarely I incur this instance of having leafs in the model that have cover=0.

Here is a dump of such a tree (sorry. don't know how to format it)

0:[C19<-0.00326049794] yes=1,no=2,missing=1,gain=6.68777793e-05,cover=205821
	1:[C49<13.9841671] yes=3,no=4,missing=3,gain=0.000157496921,cover=20660
		3:[C104<1.53036571] yes=7,no=8,missing=7,gain=0.000128577725,cover=18218
			7:[C10<39774.3789] ye

[2018-10-24 16:09] hcho3 commented on #3826
Can you provide a data sample that I can run and reproduce the issue? This looks like a bug.

[2018-10-24 16:50] hcho3 commented on #3787
The difference between model 0 and model 3 can be attributed to arbitrary tie-braking: Multiple split candidates have identical gain (change of loss):

Dump of model 0
[code]

Dump of model 3
[code]

[2018-10-24 16:51] hcho3 commented on #3794
@trivialfis Does #3738 solve this issue?

[2018-10-24 17:00] shhkam commented on #3799
Hi,

It is a local machine,
It is python program version 3.6, I did not compile any binaries
CUSA version 9.2
NCCL version, ./build/include/nccl.h:#define NCCL_VERSION_CODE 2305
GPU mode: Tesla V100-SXM2

[2018-10-24 17:02] hcho3 commented on #3799
How did you install XGBoost then?

[2018-10-24 17:44] Denisevi4 commented on #3826
Here is the dataset.

The code to reproduce it:

    import xgboost
    import pandas as pd

    df = pd.read_hdf("weird.h5")
    dtrain = xgboost.DMatrix(df.drop(columns=["TARGET"]), label=df["TARGET"])

    pars = {'base_score': 0.0,
     'booster': 'gbtree',
     'eta': 1.0,
     'eval_metric': 'rmse',
     'gamma': 0.0,
     'max_depth': 4,
     'min_child_weight': 20.0,
     'objective': 'reg

[2018-10-24 17:46] Denisevi4 commented on #3826
The leaf 17 would be with cover=0.

If you look at the split nodes, nodes 1 and 10 have an identical split, which leads to that cover=0 node.

0:C2 < -0.00652099587
**1:C1 < 27.9683342**
2:C1 < 23.9683456
3:C2 < -0.0164765697
4:C0 < 1.49999995e-08
5:C1 < 19.1684074
6:C1 < 26.7018356
8:C0 < 2.30000001e-08
**10:C1 < 27.9683342**
11:C0 < 9.99999972e-10
12:C2 < 0.006448247
13:C2 < 0.0112791462
14:C0 <

[2018-10-24 17:48] Denisevi4 commented on #3826
Also, if you make max_depth=5, there will be another node with cover=0.

[2018-10-24 18:30] shhkam commented on #3799
Good question,  Almost forgot about it.
The libxgboost.so came from the h20ai rpm package
Checked the binary,  looks like it was compiled with GCC version 4.8.5

[2018-10-24 19:13] SSJ-Goku opened #3827 "XGBoostError: sklearn needs to be installed in order to use this module"
I have Anaconda 5.3.0 Winx86 installed. I installed xgboost package using
`conda install -c anaconda py-xgboost` On Jupyter Notebook, I am able to import XGBRegressor
`from xgboost import XGBRegressor` But when I use `xgb = XGBRegressor()`, I get the following error:
`XGBoostError: sklearn needs to be installed in order to use this module`.
Even though I have sklearn installed and can successfully

[2018-10-24 19:16] hcho3 commented on #3827
Can you install XGBoost with `pip install xgboost`? The Anaconda package `py-xgboost` isn't managed by us and points to an old version. The latest version is 0.80

[2018-10-24 20:04] hcho3 commented on #3827
Also, make sure to check if you have activated the right Python environment.

[2018-10-24 20:13] CodingCat commented on #3810
might be a bit off-topic, do we have benchmark results of `approx`?

We find out the sub-optimal speedup with multi-threading in our internal environment...want to look at others' data

[2018-10-24 20:15] hcho3 commented on #3810
@CodingCat The linked benchmark suite only uses `hist`. Does `approx` show performance degradation like `hist` (e.g. 36 threads slower than 3 threads)?

[2018-10-24 20:17] CodingCat commented on #3810
@hcho3 due to the limitation in our cluster, we can test only with up to 8 threads...but we find very limited speedup comparing 8 to 4.....

[2018-10-24 20:19] hcho3 commented on #3810
@CodingCat You mean 8 threads run slower than 4?

[2018-10-24 20:19] Laurae2 commented on #3810
@CodingCat `approx` has so poor scaling I didn't even want to try benchmarking it. It doesn't even scale properly on my 4 core laptop (3.6 GHz), therefore I don't even imagine with 64 or 72 threads.

@hcho3 I'll get a look at it using your repository with VTune later.

---

For those who want to get detailed performance in VTune, one can use the following to add to the header:

[code]

Add the fol

[2018-10-24 20:28] hcho3 commented on #3810
@RAMitchell I was pretty new when I wrote the fast_hist updater, so it lacks distributed mode support. I'd like to get to it after 0.81 release.

[2018-10-24 20:43] hcho3 commented on #3827
@SSJ-Goku For the record, I tried to install XGBoost on a fresh Windows machine. Here's what I did:

1. Create a new EC2 instance, with Windows Server 2016 Base.
2. Download and install Python 3.7.1 (`python-3.7.1-amd64.exe`) and pip from the official Python website.
3. Download and install [Microsoft Visual C++ Redistributable for Visual Studio 2017](https://support.microsoft.com/en-us/help/29770

[2018-10-24 20:58] hcho3 commented on #3810
@Laurae2 FYI, I ran your benchmark suite on a C5.9xlarge machine and the results for XGBoost `hist` seem to be consistent with your previous results. I can put up the numbers if you'd like.

[2018-10-24 21:02] hcho3 commented on #3810
@Laurae2 Also, I have access to EC2 machines thanks to my employment. If you have a script you'd like to run on a EC2 instance, let me know.

[2018-10-24 22:35] trivialfis commented on #3794
No, this one needs be solved by handling changed parameter.

[2018-10-24 22:57] hcho3 commented on #3812
@Bluesn0w I install the binary wheel `xgboost-multigpu-0.80-py2.py3-none-manylinux1_x86_64.whl` on my machine (EC2 instance, type P2.8xlarge) and ran the following script:
[code]
The script did not crash, and all of the 8 GPUs were used (utilization rate 40-50%).

I also tried compiling from the latest source and got the same result (no crash, all GPUs used).

Description of my machine:
* EC2 inst

[2018-10-24 23:19] hcho3 commented on #3794
@trivialfis I'm confused, don't lines 100 and 106 create Booster object from scratch? Which objects are being shared?

[2018-10-24 23:21] hcho3 commented on #3794
Also, should I add this as a blocking issue?

[2018-10-24 23:33] trivialfis commented on #3794
@hcho3 The weight and label from DMatrix are not resharded.  To fix this we need to come up with a solution handling  changing parameters, in this case, the number of GPUs . I think we can solve it along with the callback issue, so a known bug describing users currently can't change the number of GPUs in between two training/predict sessions might be more appropriate than a quick fix (reshard ever

[2018-10-24 23:37] hcho3 commented on #3794
So add an item to "known issue" for the next release, then?

[2018-10-24 23:43] hcho3 commented on #3768
Can you post your script?-

[2018-10-24 23:53] CodingCat commented on #3768
how you build your app?

[2018-10-25 00:18] trivialfis commented on #3794
Yes, please.

[2018-10-25 00:59] haitongwan commented on #3824
18/10/24 17:09:54 INFO ContextCleaner: Cleaned accumulator 74
18/10/24 17:09:54 INFO ContextCleaner: Cleaned accumulator 194
18/10/24 17:09:54 INFO RabitTracker: Tracker Process ends with exit code 1
18/10/24 17:09:54 INFO XGBoostSpark: Rabit returns with exit code 1
18/10/24 17:09:54 ERROR ApplicationMaster: User class threw exception: ml.dmlc.xgboost4j.java.XGBoostError: XGBoostModel training fa

[2018-10-25 01:02] harryprince commented on #1480
it seems the document needs to be improved, `xgboost` should throw the correct error for human in detail instead of the C++/C level error.

[2018-10-25 01:05] hcho3 commented on #1480
@harryprince Can you make a more concrete proposal for generating better error message? Let's open a new issue so that we can keep track of it.

[2018-10-25 01:05] hcho3 commented on #3824
@CodingCat @yanboliang Is there a way to obtain a more informative error message other than "XGBoostModel training failed"?

[2018-10-25 02:08] joyang1 commented on #3768
Sorry, I solved the problems, thanks~.

[2018-10-25 02:10] #3768 closed

[2018-10-25 02:34] CodingCat commented on #3824
anything there before the line `18/10/24 17:09:54 INFO RabitTracker: Tracker Process ends with exit code 1` your tracker exists in an unexpected way

[2018-10-25 02:35] CodingCat commented on #3824
@hcho3, actually this information only indicates training is failed, we need to look at somewhere else in the spark log

[2018-10-25 03:43] moideen commented on #1720
try prefixing your `fit_params` with the name of the xgboost estimator step in the pipeline, followed by two underscores. see: https://stackoverflow.com/questions/40329576/sklearn-pass-fit-parameters-to-xgboost-in-pipeline

[2018-10-25 06:32] hcho3 commented on #3794
@trivialfis What would be the work-around for this issue? Should I delete the DMatrix object and re-load?

[2018-10-25 06:38] trivialfis commented on #3794
Should work, but let me test it.

[2018-10-25 06:46] haitongwan commented on #3824
RabitTracker$TrackerProcessLogger: Traceback (most recent call last):
18/10/25 14:33:09 INFO RabitTracker$TrackerProcessLogger:   File "/data1/hadoop/log/nm-local-dir/usercache/traindev/appcache/application_1539143604999_1250/container_1539143604999_1250_01_000001/tmp/tracker3615953946870815164.py", line 19, in <module>
18/10/25 14:33:09 INFO RabitTracker$TrackerProcessLogger:     import argparse

[2018-10-25 07:11] Bluesn0w commented on #3812
@hcho3  Thank you so much for your help. I started over with a new VM with the exactly the same image, installed the Cuda driver, NCCL , CuDNN, then install the wheel again, the it works now with multiple GPU. I cannot figure out what package is causing it only use 1 GPU with the prebuilt wheel. I guess I should try to install on the new environment earlier.

Just for my curiosity, I tried to comp

[2018-10-25 07:39] trivialfis commented on #3794
@hcho3 Tested.
Inserting:
[code]
In between two training sessions in `/test_large_sizes.py` will let the test pass.  The above line essentially recreated DMatrix.  I will focus on #3825 and #3795 next.  After that we can try to find out a solution to these problems.  Feel free to let me know if you have any suggestion. :)

[2018-10-25 07:56] trivialfis commented on #3812
@Bluesn0w No problem.
The previous crash should only happen when multiple GPUs are in used, and it was a deterministic bug.
For your curiosity, the cause for the crash is we don't support changing the number of GPUs, but GPUPredictor uses 1 GPU whilst other components use multiple of them.
As for why only 1 GPU is utilized in your old environment,  I'm afraid I can't answer that without operating

[2018-10-25 07:56] #3812 closed

[2018-10-25 08:12] jazztronomers opened #3828 "Having trouble save and load model with sklearnAPI"
Having trouble save and load XGBClassifier() model with sklearnAPI

--------------------------------------------------------------------------------------
**source:**

from sklearn import datasets
from sklearn.model_selection import train_test_split
import xgboost as xgb

iris = datasets.load_iris()
X = iris.data[:, [2, 3]]
Y = iris.target

x_train, x_test, y_train, y_test = train_test_split(X, Y,

[2018-10-25 08:14] dreamsuifeng commented on #3804
I have resolved this problem

[2018-10-25 08:16] #3828 closed

[2018-10-25 08:18] jazztronomers commented on #3828
solved with pickle lib, it worked well

--------------------------------------------------------------------

pickle.dump(model, open("pima.pickle.dat", "wb"))

# load model from file
loaded_model = pickle.load(open("pima.pickle.dat", "rb"))

# make predictions for test data

print(loaded_model.score(x_test,y_test))

[2018-10-25 08:42] hcho3 commented on #3828
@jazztronomers Sorry for the confusion about `save_model()` / `load_model()`. I will update the Python doc to explicitly recommend pickling.

[2018-10-25 08:50] hcho3 commented on #3342
Going to re-open this, now that we have new GPU predictor.

[2018-10-25 08:53] hcho3 commented on #2905
Will take another look, to see if latest GPU code still generates this crash.

[2018-10-25 08:56] hcho3 commented on #3794
Got it. The release note for 0.81 will contain a short description of the work-around. Thanks!

[2018-10-25 19:54] CodingCat commented on #3824
your tracker is not even started you need to install argparse in the machine you started tracker.....

[2018-10-25 20:00] #3824 closed

[2018-10-25 20:03] hcho3 commented on #3824
@CodingCat So XGBoost4J-Spark requires Python? We may want to document it.

[2018-10-25 20:26] Bluesn0w opened #3830 "How GPU memory is allocated on multi-GPU system?"
from #2019, I saw someone says that the gpu_hist algorithm must statically allocate memory for histograms for every single column. However, I wonder how the memory is allocated across multiple GPUs? In addition, whether xgboost copies entire dataset from ram to GPU or just in batches like how Tensorflow works? I originally thought that the memory of all GPUs will be treated as a pool, then allocat

[2018-10-25 20:46] CodingCat commented on #3824
Yes, that’s for rabit’s tracker...

[2018-10-25 20:50] hcho3 commented on #3824
@CodingCat Got it. I'll add it to the doc.
BTW, it seems like there are two variants of Rabit tracker, one in Python and another in Scala:
https://github.com/dmlc/xgboost/blob/4ae225a08d3ff75d8d3a9f59ca477680cad2579c/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoost.scala#L169-L171

Is the Scala tracker ever used?

[2018-10-25 20:52] CodingCat commented on #3824
Scala Tracker was developed because some users say they have very old version python in the cluster and they cannot upgrade due to some reason

I don't think many users are using it in production...by default, python based tracker is started

[2018-10-25 21:00] hcho3 commented on #3824
Should we add Python as requirement for XGBoost4J-Spark then? Or say "recommended"?

[2018-10-26 09:39] ch11y opened #3832 "GPU utilization is zero with customized objective function"
Hello, I am using customized objective function for regression. However the GPU utilization (TELSA P100) is zero for most of the time. Does XGBoost invoke GPU (or solely CPU instead) for the gradient and hessian calculation for customized objective function?

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 396.26                 Driver Version: 396.26

[2018-10-26 09:42] hcho3 commented on #3832
No, since the customized objective function is not written in CUDA and thus cannot run on GPU.

[2018-10-26 09:42] #3832 closed

[2018-10-26 09:46] ch11y commented on #3832
Thank you for your instant reply. :+1:  Is there a way to hack it to run in CUDA?

[2018-10-26 10:11] hcho3 commented on #3832
You will have to write a new objective function in CUDA and put it under `src/objective`.

[2018-10-26 21:10] FredYao opened #3834 "[jvm-packages] XGBoost-Spark reported "ERROR RabitTracker ......""
I was running spark using local mode, following the example posted on the official tutorial ([XGBoost4J-Spark Tutorial](https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html)). While I called `val xgbClassificationModel = xgbClassifier.fit(xgbInput)`, the following error occurred:

scala> val xgbClassificationModel = xgbClassifier.fit(xgbInput)
Tracker started, with env={}
201

[2018-10-27 01:41] CodingCat commented on #3834
Tracker started, with env={} your tracker cannot bind to your local ip address, can you check if your hosts file contains 127.0.0.1 or your computer name?

[2018-10-27 04:11] FredYao commented on #3834
@CodingCat , I am running on Yarn cluster. Everything about the cluster is set by default. I did not change them explicitly.

[2018-10-27 04:13] CodingCat commented on #3834
Yes, you need to contact your cluster admin say whether hosts files are correctly written

[2018-10-27 22:52] #3787 closed

[2018-10-27 22:53] #3782 closed

[2018-10-27 22:54] hcho3 commented on #3748
@chenqin Have you run into a similar issue?

[2018-10-27 22:59] CodingCat commented on #3748
You can test with master branch...the issue should have been fixed

[2018-10-27 23:10] hcho3 commented on #3543
Will investigate if this is due to the choice of compiler (MinGW vs Visual Studio)

[2018-10-28 01:29] chenqin commented on #3748
As Nan pointed out, latest master or upcoming 0.81 should include fix. This particular case should be xgboost4j or xgboost4j spark related. Likely shutdown race condition. I would suggest also grep "Assert", "FD", "retry" in failed spark executor log as well. Some times it can surface rabit worker native layer assertion failures...

[2018-10-28 02:57] hcho3 commented on #3543
Actually, it appears that the problem isn't restricted to Windows. Will investigate.

[2018-10-28 03:59] charron commented on #3787
Makes total sense, thank you very much for the explanation.

[2018-10-28 04:19] hcho3 commented on #3543
I ran a small test script on EC2 and so far I'm not seeing performance degradation between versions.

Test script
[code]

| C5.9xlarge | 'Exact' run time (sec)| 'Approx' run time (sec)
|---|---|---|
| latest master (commit hash d81fedb) |3.16|3.16|
| 0.71.2 (commit hash 1214081) |2.53|3.49|
| 0.71.1 (commit hash 098075b) |2.57|3.52|
| 0.6.4 (commit hash ce84af7) |2.91|3.18|'

| C5.18xlarge | 'Exac

[2018-10-28 05:01] FredYao commented on #3834
Thank you, @CodingCat, is there other way to bind the ip address to tracker by manual setting?

[2018-10-28 05:08] trivialfis commented on #3830
If I remember right, Tensorflow takes over the entire GPU by default and implement their own memory management system.
There's no canonical way to manage device memory in XGBoost, algorithms allocate there memory as they see fit,  so the implementation might change whenever needed.

[2018-10-28 05:11] hcho3 commented on #3830
Also, Tensorflow uses an algorithm called Stochastic Gradient Descent, where a small batch is taken at a time to update the weights in the neural network. What's cool about SGD is that you only need  to load a small batch at a time. Gradient boosted trees unfortunately don't use SGD; all data must be in memory all the time.

[2018-10-28 05:11] trivialfis commented on #3799
I ran `nvprof` with `gpu_hist` in master branch before,  didn't have any trouble.  Could you reproduce it with a release version from XGBoost or compile XGBoost from master branch?

[2018-10-28 05:14] hcho3 commented on #3830
In the future, we may want to look info implementing tree algorithms that can be fit on streaming data: https://homes.cs.washington.edu/~pedrod/papers/kdd00.pdf
Streaming algorithms can largely remove the memory limit.

[2018-10-28 19:12] CodingCat commented on #3834
see the discussion in https://github.com/dmlc/xgboost/pull/3833

you can add xgboost-tracker.properties in your resources directory

[2018-10-28 19:12] #3834 closed

[2018-10-29 02:51] CodingCat commented on #3810
@hcho3 if you don't mind, I can take the challenge to get the distributed faster histogram algorithm, I am currently half time on it in my Uber job and next year may have more time on xgboost

[2018-10-29 03:13] harishvk27 opened #3837 "Not able to verify my XGBoost load model, C-Code"
The question revolves around loading model file stored in text format.

I have written a python-to-c code which reads model and generates appropriate code.

My code is giving me wrong predictions, i am using XGBoost for multi-class classification with softprob.

I see the python prediction is differing from what C-code ( mycode ) is predicting. To confirm where the problem is.. i wanted to load th

[2018-10-29 04:41] hcho3 commented on #3837
(1) Do you have the binary (non human-readable) model file saved somewhere? That's the file XGBoost generates. The function `XGBoosterLoadModel()` expects binary files, not text files.
(2) See [dmlc/treelite](https://github.com/dmlc/treelite), which generates C code from the binary model file.

[2018-10-29 04:45] hcho3 commented on #3810
@CodingCat That would be great, thanks! Let me know if you have any question about the 'hist' code.

[2018-10-29 04:46] hcho3 commented on #3810
@CodingCat FYI, I plan to add unit tests for 'hist' updater soon after 0.81 release. That should help when it comes to adding distributed support.

[2018-10-29 04:49] hcho3 commented on #3744
One thing I want to get done is the proper CI for CUDA 10.0: 1) a new build worker with CUDA toolkit 10.0 will run unit tests and 2) wheels built with CUDA 8.0 would be checked so that it installs on machines with CUDA 10.0.

[2018-10-29 08:56] harishvk27 commented on #3837
Thanks. I tried using treelite.. have some issues.. will work with treelite.. for now. XGBoost doesn't seem to be the issue, closing on this.

[2018-10-29 08:56] #3837 closed

[2018-10-29 14:32] Laurae2 commented on #3810
@hcho3 @CodingCat  `approx` seems to have been removed in the last month, is it an expected behavior?

https://github.com/dmlc/xgboost/commit/70d208d68c3a32aaa4fcd6aa456f286a4da5912f#diff-53a3a623be5ce5a351a89012c7b03a31 (PR https://github.com/dmlc/xgboost/pull/3395 has removed `tree_method = approx`?) => getting identical results between approx and non approx...

[2018-10-29 14:40] hcho3 commented on #3810
@Laurae2 Looks like the refactor removed a INFO message about `approx` being selected. Otherwise, `approx` should be still available.

[2018-10-29 17:13] hcho3 commented on #3810
@Laurae2 Actually, you are actually right. Even though `approx` is still in the codebase, for some reason it is not being invoked even when `tree_method=approx` is set. I will investigate this bug ASAP.

[2018-10-29 17:24] clamoris opened #3839 "[jvm-packages] Distributed xgboost should have an option to provide train/test separately."
Currently there is no way to provide custom train/test to Watches in distributed xgboost. There should be a way, either by providing split method or actual dataframes (directly or as Watches object) to set them because random is not always applicable.

Thanks.

[2018-10-29 17:39] CodingCat commented on #3839
coming next version

duplicate with https://github.com/dmlc/xgboost/issues/3439

[2018-10-29 17:39] #3839 closed

[2018-10-29 18:14] hcho3 opened #3840 "[Blocking] "tree_method=approx" does not invoke the correct updater"
First reported by @Laurae2 in #3810.

Currently, setting `tree_method=approx` does not invoke the algorithm in the `HistMaker` class; it invokes `ColMaker` class instead.

Minimal reproduction:
[code]
Observe that the two calls to `xgboost.train()` yields the identical sequence of log outputs from the pruner. This is no accident. After injecting extra diagnostic logs into the updater classes, here

[2018-10-29 18:15] hcho3 commented on #3840
And it is not at all clear when this bug was introduced. The example script also shows the same anomalous behavior for XGBoost 0.72 release.

[2018-10-29 18:16] hcho3 commented on #3810
Issue #3840 was filed. Release 0.81 won't be released until this is fixed.

[2018-10-29 18:20] CodingCat commented on #3840
I am surprised accuracy test in spark tests can even pass if no hist sync happens during the training?

[2018-10-29 18:34] CodingCat commented on #3840
it's a python-specific problem

in the middle of Sept, I even instrumented hist-maker.cc to measure histogram sync cost. .....https://github.com/CodingCat/xgboost/commits/instrumentation I could get what I need

[2018-10-29 18:35] hcho3 commented on #3840
@CodingCat Rather, I think it is local-specific problem. For distributed mode, the updater is changed to `approx`, so no problem there.

[2018-10-29 18:39] CodingCat commented on #3840
hmmm.....interesting, in distributed mode, workers take the same parameters....maybe something entangled with something like `rabit_mode == distributed`?

[2018-10-29 19:01] hcho3 commented on #3840
See this line:
 https://github.com/dmlc/xgboost/blob/d81fedb9554642e32c5ba0c266cd5c68667587ff/src/learner.cc#L162-L164

[2018-10-29 19:01] Laurae2 commented on #3840
With R I could not trigger `approx` manually from version 0.6.0 from CRAN (0.4.4 didn't have approx I think), but did not test all versions.

However, after defining manually `updater = "grow_skmaker,prune"`, it works (@hcho3 can you try to add manually the updater to your Python code to check if it applies correctly `approx`?).

Demo code:

[code]

Example results, notice no approx ticker after t

[2018-10-29 20:03] FredYao commented on #3834
@CodingCat , I have checked the hosts file, its content:
127.0.0.1    localhost.localdomain    localhost
TrackerProperties can read this correctly?

[2018-10-29 20:37] hcho3 commented on #3840
@Laurae2 Yes, setting `updater` manually will guarantee that the right updater will be invoked. The exact value you should use is `updater=grow_histmaker,prune`. We want to fix `tree_method` though, since `updater` parameter is unintuitive and badly documented.

[2018-10-29 22:41] adibsurani opened #3841 "[BLOCKING] [python] DMatrix setting incorrect values from sliced array"
On xgboost 0.80 (tested on Windows with Python 2 and Python 3), creating a DMatrix from a sliced array will result in incorrect values being copied in some cases. Here is a minimal repro:
[code]

This issue has popped up for LightGBM before (Microsoft/LightGBM#1205), for which their solution is to test `label.flags.c_contiguous` and make a copy of the array as necessary.

[2018-10-30 09:10] sergun opened #3842 "GPU role in boosting algorithm and CPU/GPU contribution"
Hi!

Can you please explain how GPU is used during learning of boosted trees. What steps of algorithms are calculated on CPU, which on GPU? Is it possible to evaluate optimal ratio between number of CPU cores and GPU cores to use in XGBoost?

What is logic of disrtibuted fitting on multiple GPUs? We tested XGBoost on NVidia DGX and see that performance on single GPU is better than on multiple GPUs

[2018-10-30 10:39] trivialfis commented on #3720
@hcho3 Another weird test, on XGBoost Travis test:
https://travis-ci.org/dmlc/xgboost/jobs/448105204

On my Travis test:
https://travis-ci.com/trivialfis/xgboost/jobs/155019807

I also have some test failures on my machine but not on Travis, including shougun test and this one  #3622.

[2018-10-30 20:08] JelleZijlstra opened #3844 "python: import fails if `$PATH` is not set"
[code]

[2018-10-30 22:11] Bluesn0w commented on #3830
Thank you both!

Based on my test, it seems that the GPU 0 always takes the majority of the data. However, when the data size grows, it does not allocate enough of the data to the other GPUs, so the 1st device will be out of memory (Test 1 that K80 has 12GB memory and it failed at the end). Do you think there might be any work round solution? If the data can be hold inside of the GPU memory pool (

[2018-10-30 23:16] trivialfis commented on #3830
@Bluesn0w For the imbalanced GPU usage, I think it's a solved problem in master branch now.

[2018-10-31 01:47] tabrisnow opened #3846 "[jvm-packages] PySpark Wrapper: reg_lambda/lambda"
Hi,

I am trying to access reg_lambda directly within the pySpark wrapper. I am able to set it with reg_lambda within the object declaration XGBoostRegressor(), but it is not possible to use it as xgboost.lambda, because lambda is a reserve word (?).

[code]
 But xgboost.alpha = 0.0 runs successfully.

[2018-10-31 09:22] wodo2008 commented on #2480
have you fix it? i also face this problem... thanks

[2018-10-31 15:49] holysoros opened #3847 "feature request: get all possible leaf indices of every tree"
I use XGBoost to feature crosses, so after get leaves of every data instance, I need to one hot encode the leaves in every column. It will be nice to able to get all possible leaf indices of every tree, thus I can build NominalAttribute with that in spark ml, rather than iterate all predicted leaf matrix.

I noticed the closed issue [feature request: list of leaf indices](https://github.com/dmlc/x

[2018-11-01 00:49] hcho3 commented on #3841
@adibsurani Thanks, we'll fix it in the next release. For now, this issue will be listed as a "known issue."

[2018-11-01 05:00] joegaotao opened #3850 "gpu_id error in R when it's non-zero(xgboost 0.81.0.1)"
I have installed the newest multi-GPU xgboost from the source code(0.81.01) and the server has 8 GPUS. But when I change `gpu_id` to non-zero, there are some errors. Parameter `n_gpus` is ok. the test code:

[code]
error:

[code]

sessionInfo():

[code]

[2018-11-01 05:06] hcho3 commented on #3850
@joegaotao Did you compile with `-DUSE_NCCL=1`?

[2018-11-01 05:10] joegaotao commented on #3850
@hcho3 I just complie with `-DUSE_NCCL=ON` according to the doc. Should I change it to `-DUSE_NCCL=1`?

[2018-11-01 05:14] hcho3 commented on #3850
Got it. `-DUSE_NCCL=ON` is equivalent to `-DUSE_NCCL=1`.

[2018-11-01 05:55] trivialfis commented on #3850
@joegaotao Hi, what do you mean by

Does it mean, after specifying `n_gpus = -1` or `n_gpus=8`, XGBoost runs as expected.  Or it means something else?

I will take a look tomorrow. By default XGBoost uses **1** GPU, which leads to my initial guess that `gpu_id` has to be 0 since you are only using 1 GPU.

[2018-11-01 06:06] joegaotao commented on #3850
@trivialfis Yes, I tested `n_gpus = -1` or `n_gpus=8` and default `gpu_id` (=0) , XGBoost runs as expected, but If I want to run multiple R sessions and each one use specified gpu, I found I can't change `gpu_id` to other devices

[2018-11-01 06:12] hcho3 commented on #3850
@trivialfis Is this issue a release blocker?

[2018-11-01 07:18] trivialfis commented on #3850
I Will try to look into it tomorrow.  Addressing it requires some reconsideration of how we specify GPU and adding proper tests.  So a "quick fix" might not be possible.

But please note that even if this is fixed, user still can't change their GPU within the same process without deleting loaded data.

[2018-11-01 17:35] maedabr commented on #3744
Hi @hcho3 , do you know if this version will be release today?

[2018-11-01 18:50] hcho3 commented on #3744
Unfortunately, the release is being delayed by #3840. I'm working on it.

[2018-11-01 22:47] hcho3 commented on #3789
@RAMitchell We may want to disable early stopping for `gblinear`, since the saved model only remembers the coefficients in the last iteration. It isn't possible to fetch the coefficients for the arbitrary n-th round. What do you think?

[2018-11-01 22:51] #3748 closed

[2018-11-01 22:53] hcho3 commented on #3847
Can you run `get_dump()` and count all the leaf nodes in each tree? Then you can match the known leaf nodes against the predicted leaf matrix given by `predict(pred_leaf=True)`.

[2018-11-01 22:58] hcho3 commented on #3707
@thvasilo #3849 clarifies the behavior of `tree_method` and `updater`.

[2018-11-01 22:59] hcho3 commented on #3846
@tabrisnow PySpark wasn't merged to master yet, as far as I remember.

[2018-11-02 02:10] hcho3 commented on #3747
@Ravisik #3855 add `coef_` property so that `RFECV` would work.

[2018-11-02 02:33] #3840 closed

[2018-11-02 06:06] RAMitchell commented on #3789
As a mechanism for stopping training to prevent overfitting you are right that it doesn't work.

I still use early stopping though to tell when my model has converged completely, otherwise you are just spending boosting iterations doing nothing.

[2018-11-02 06:14] hcho3 commented on #3789
@RAMitchell Should we warn the user that the saved model gives you the final iteration, not the best iteration? For instance, if early stopping stops training at 200th iteration and returns 190th as the best, the `weight` variable gives you the coefficients for the 200th, not 190th. Alternatively, we can save a separate `weight` vector for each iteration, at the cost of extra space and computation

[2018-11-02 08:44] #3747 closed

[2018-11-02 12:39] orasis commented on #2334
I'm experiencing this with feature hashing.  The columns are in perfect alignment, but the test set has one fewer feature at the last feature position than the training set, because the feature hasher on the training set never saw this feature.  Frankly this is going to be challenging to fix because our training and test pipelines are separate and we're using SVM files since the data set is so lar

[2018-11-02 19:51] hcho3 commented on #3744
I will go ahead and draft the release note for the new version.

[2018-11-02 21:30] newnovice01 opened #3857 "AWS YARN Guide is very very broken"
This is very outdated - https://github.com/tqchen/yarn-ec2

Please update.

[2018-11-02 21:32] hcho3 commented on #3857
Can you be more specific?

Can you suggest a concrete step of action (or submit a draft pull request)?

[2018-11-02 22:52] newnovice01 commented on #3857
https://github.com/tqchen/yarn-ec2/issues/6

[2018-11-02 22:52] newnovice01 commented on #3857
./yarn-ec2 -k mykey -i mypem.pem launch xgboost
Setting up security groups...
Searching for existing cluster xgboost...
Launching instances...
ERROR:boto:400 Bad Request
ERROR:boto:<?xml version="1.0" encoding="UTF-8"?>
<Response><Errors><Error><Code>InvalidParameterValue</Code><Message>User data is limited to 16384 bytes</Message></Error></Errors><RequestID>42229824-0907-48a4-85d6-b8e571b92282</R

[2018-11-02 22:53] newnovice01 commented on #3857
As a simple next step if one of the dev's step thru that guide,
1. there are lots of old instance types.
2. Old AMI id's that do not support ENA's.
3. All URL's are old and point to dead 404 links.

[2018-11-03 03:12] pjgao opened #3858 "Add parameters to the plotting function to control the node shape"
It is very convenient and beautiful to plot decision tree in `sklearn`:
[code]
![regresiontree](https://user-images.githubusercontent.com/22350313/47947338-a21fb000-df55-11e8-81cb-2d61e02c4e55.png)

I can use `xgb.to_graphviz` plot the tree in xgboost too:
[code]
![xgbtree](https://user-images.githubusercontent.com/22350313/47947302-3a696500-df55-11e8-929b-7abc302fcee2.png)

You can see the differ

[2018-11-03 03:38] trivialfis commented on #3858
@hcho3  That seems nice.  I myself never understand how to make these nice plots. :(

[2018-11-03 03:39] trivialfis commented on #3858
@pjgao Would you like to make a PR for this?

[2018-11-03 05:56] WorgenZhang commented on #3095
"git clone --recursive https://github.com/dmlc/xgboost.git" helps me.

[2018-11-03 13:13] Jopepato opened #3860 "Multilabel implementation"
Hi, thanks for this marvellous implementation of the algorithm.
I was considering using it for multilabel purposes but as I can see there is no implementation for it.
Considering the algorithm as treating the labels separately as a BinaryRelevance or even OVO. Should it be implemented inside the library or use it outside, using as a base classifier this xgboost

If you are considering implementing

[2018-11-03 20:45] RAMitchell commented on #3810
Looks like a problem with multiple sockets.

[2018-11-03 21:54] hcho3 commented on #3744
I think #3856 is well tested and should be part of the 0.81 release. You will see a PR for new release by end of today (Pacific Time).

[2018-11-03 23:18] thiyangt opened #3861 "Dynamic multiclass classification problem"
I have a multi-class problem.  I have to define class weight for each class label for each instance. For example for the first observation my class labels is as follow: [0.2, 0.4. 0.4], where 0.2 is the probability of belonging to first class, 0.4 is the probability of belonging to second class and 0.4 is the probability of belonging to second class. Likewise I have a this type of vector for each

[2018-11-04 04:45] #3342 closed

[2018-11-04 09:31] Laurae2 commented on #3810
@RAMitchell Seems to be an issue with the availability of NUMA nodes, I can replicate this issue (with a way worse result with less threads during training) using Sub NUMA Clustering (2 sockets = 4 NUMA nodes instead of 1 socket = 2 NUMA nodes).

![image](https://user-images.githubusercontent.com/9083669/47962416-bb3f6400-e01c-11e8-8d14-8cad14a63025.png)

xgboost like most machine learning algs ha

[2018-11-04 12:52] Laurae2 commented on #3810
Here are the results with NUMA disabled. I paired the results with NUMA enabled for comparison. Also added 71 threads to showcase the performance before the CPU gets overwhelmed with the kernel scheduler at 72 threads (more resources required than available).

UMA fares way better than NUMA for multithreading, this is an expected result of memory interleaving on a non-NUMA aware process.

---

Tim

[2018-11-04 13:38] hcho3 commented on #3860
@Jopepato Sure, feel free to submit a pull request. We will gladly consider it.

[2018-11-04 13:40] hcho3 commented on #3861
As of now, no. XGBoost assumes that each data point has a single label. Multi-label regression would be a new feature addition.

[2018-11-04 13:49] #3744 closed

[2018-11-04 18:40] hcho3 commented on #3857
@newnovice01 Thanks. It may be easier to re-write the whole tutorial.

[2018-11-04 23:20] thiyangt commented on #3861
Thank you very much for the response

[2018-11-04 23:20] #3861 closed

[2018-11-05 09:53] trivialfis commented on #3830
@Bluesn0w Hi, have you tried building the latest 0.81 release
https://github.com/dmlc/xgboost/releases/tag/v0.81
or master branch?

[2018-11-05 14:32] Ravisik commented on #3747
Hey,

Thanks a lot!
I'm new on github, in order to use this update I have to install again Xgboost 0.8 ?

Thanks a lot mate!

[2018-11-05 16:03] hcho3 commented on #3747
The fix will be available in version 0.81.

[2018-11-05 16:12] Bluesn0w commented on #3830
Will take a try today and keep you posted! Thank you!!

[2018-11-05 19:09] hcho3 opened #3868 "Set up continuous integration for Windows GPU target"
This is a reminder to myself to set up CI for Windows GPU target. Goal: by next release.

[2018-11-05 21:09] hcho3 commented on #3038
@obones #3869 should fix the issue. The trick is to ignore the drive letter when splitting on `:`.

[2018-11-06 04:35] trivialfis commented on #3772
I don't think it's a good practice to add compiler optimization flags to a generic build system (CMake).

For starter, it's best to build everything with same version of the same compiler using same optimization flags, c/c++ don't have standard binary interface.  I don't know how cpython blob and many others are built on windows.

And, yes `-march-native` causing trouble happens a lot.

I'm closin

[2018-11-06 04:35] #3772 closed

[2018-11-06 04:49] hcho3 commented on #3772
@trivialfis FYI, the OP was using MinGW to compile XGBoost, whereas Python on Windows is built with Visual Studio. The runtime incompatibility leads to crashes.

This is a problem though, since we may want to consider adding `O3` for performance reasons. A guy I know ran experiments with hcho3/xgboost-fast-hist-perf-lab and he noticed significant difference in performance when he added `O3`. I do

[2018-11-06 05:18] trivialfis commented on #3850
Addressed in #3851 .

[2018-11-06 05:18] #3850 closed

[2018-11-06 06:33] trivialfis commented on #3772
@hcho3 I think this might be a better a quote :)

A solution might be `Function multi-versioning (FMV)`, but I don't think we have the resource to make sound maintenance on such a thing, at least not now.
Since we are using GCC-4.8 to build the wheel, I assume the major concern in binary wheel is convenience not performance.  So lets just leave it to users to decide how they want to balance these

[2018-11-06 06:52] hcho3 commented on #3772
Oops sorry for the mis-quote :)

I think it's useful to distinguish two kinds of optimizations: machine-independent and machine-dependent. In my opinion, machine-independent optimization flags (`-O3`, `-funroll-loops` etc) should be part of CMakeLists.txt and also be applied to wheel building.

On the other hand, machine-dependent flags (`-msse`, `march=native`) result in non-portable binaries and

[2018-11-06 06:56] hcho3 commented on #3772
And yes, the point of using binary wheels is convenience. You will always want to compile from source for maximum performance.

[2018-11-06 06:58] KOLANICH commented on #3772
In fact it is the only possible way in CMake other than writing a script abstracting that out and moving that all into confing for a very minor profit. In fact `-O3` for `Release` [is also hardcoded](https://github.com/Kitware/CMake/blob/b11e021bed6d406e3a7b9af6f5ef8fa5565881af/Modules/Compiler/GNU.cmake#L46) into CMake.

So what in fact we need is a CMake module creating a unified interface suita

[2018-11-06 07:03] hcho3 commented on #3772
@KOLANICH @trivialfis A CMake module for compiler flags looks like a reasonable compromise. Enable safe flags like `O3` by default, and also let users explicitly turn on unsafe flags.

[2018-11-06 07:54] trivialfis commented on #3772
@KOLANICH @hcho3

From a user's perspective, optimization flags for CMake can be appended as `cmake -DCMAKE_CXX_FLAGS="..." ../xgboost`.

If we were to add these flags as options for the benefit of GUI, we need to think about different compilers with different platforms with different runtimes of language bindings, since adding it means we are supporting/maintaining it.  I still believe if such a

[2018-11-06 08:09] Jopepato commented on #3860
@hcho3 It would be in the python implementation as it is in the language I usually work with. I was checking the code and thinking of doing this implementation in the _fit_ function directly in sklearn.py. Checking the shape of _y_ as the multilabel implementation will be an array of classifiers for each label of the _y_ set
Or maybe making another function that will call this fit and call it like

[2018-11-06 08:20] hcho3 commented on #3772
Not really, since there is `-Ofast`. Well, it looks like `O3` also has possibility of breaking things. I'll take your word for this.

Yeah, good point about maintenance burden. I'm going to scrap the idea of CMake module. We'll just set `O2` for gcc/clang compilers and call it a day. Users can always manually set flags themselves.

As for benchmark purposes, we should create a document describing

[2018-11-06 08:34] trivialfis commented on #3772
Oops, I totally missed that, thanks. Reading the man page from GCC, this option disregard strict standards compliance.

It would be interesting to benchmark these stuffs, there are some others worth trying like link time optimization.

[2018-11-06 17:20] JacobKempster commented on #2087
I agree - this feature would be extremely valuable (exactly what I need right now...)

[2018-11-06 17:34] KOLANICH opened #3871 "Fixing a recently introduced error with _create_locale"
merge https://github.com/dmlc/dmlc-core/issues/478 first.

<details>
<summary> The patch</summary>
[code]

</details>

[2018-11-06 17:56] hcho3 commented on #3871
See my comment at dmlc/dmlc-core#478.

[2018-11-06 17:56] #3871 closed

[2018-11-06 19:15] hcho3 commented on #3860
@Jopepato Let's create a new function so that we don't break existing fit() function.

[2018-11-06 21:30] Ravisik commented on #3747
Hey !

I test the new version 0.81 with RFECV :

[code]
However I got an error that come from "rfe.py':
output:
`AttributeError: 'list' object has no attribute 'ndim'`

The line in rfe.py is:
[code]

It seems that coefs from Xgboost have a problem of type?

[2018-11-06 21:41] hcho3 commented on #3747
@Ravisik It looks like the type needs to be `np.array`. Preparing a pull request now.

[2018-11-06 22:44] Ravisik commented on #3747
Yeah it is working ;)

[2018-11-07 01:17] #3038 closed

[2018-11-07 03:32] joegaotao opened #3874 "using booster='gblinear' will trigger GPU(R-xgboost 0.81)?"
When I test gblinear and I found the default model would trigger GPU usage while I didn't specify any GPU parameters.

from R-package demo with minor change
[code]
I found GPU has a process (gpu_id = 0)and memory usage

I just compile R-xgboost (0.81) with multi-GPU.

[code]

[2018-11-07 03:51] jjyock opened #3875 "rank:ndcg rusult is different with my own calculation"
i use eval_metrics is ndcg@20 ,and i get the test-ndcg@20:0.818406 finally. but i try to calculate the predict result in test set. i get a totally different value 0.547。 this is my way, the score is 5,4,3,2,1,0 and the rank_pred is sorted by pred values in descending way. rank_true is the right rank, can you tell me how xgb get the test-ndcg?? thank you so much
`
t.loc[:,'log(i+1)']=np.log2(t['ran

[2018-11-07 04:37] jjyock commented on #3875
i  read the code and i find the xgb maybe cal the ndcg use (2*rel-1)/log(i+1),but i calculate the test data, the result is also different with the iteration result.

[2018-11-07 06:04] trivialfis commented on #3874
Yes.  If XGBoost is compiled with CUDA support, it will try to run objective functions on GPU (1 GPU by default).  This reminds me that, I might need to add a switch to that.

[2018-11-07 06:12] hcho3 commented on #3875
Try using metric `ndcg@20-` instead.

[2018-11-07 06:41] joegaotao commented on #3874
OK,  I find there is a src/gpu_coord_descent.cu, and `updater = "gpu_coord_descent"` also makes GPU works, but the [xgboost doc](https://xgboost.readthedocs.io/en/latest/parameter.html#parameters-for-linear-booster-booster-gblinear) seems to miss that specification, maybe should add it to the doc?

[2018-11-07 07:53] trivialfis commented on #3874
I would love to organize the doc a bit.  It will also provide a good mental model for me to keep going.  Thanks for reminding.

[2018-11-07 08:01] #3874 closed

[2018-11-07 20:07] a-johnston commented on #3454
Hi, I ran into this same issue and came to the same possible solution of calling `setWeight` @CodingCat suggested in the above post. I think it would work but there is ambiguity around per-group weights when dealing with a per-instance weight column. Should an error be raised if the weights aren't all equal for instances in the same group? Should the first weight be used irrespective of the other

[2018-11-08 01:52] wuyunhua opened #3877 "OOM in multi-GPU"
OS:Ubuntu 16.04.5
cuda:release 9.2, V9.2.148
xgboost:[0.80](https://s3-us-west-2.amazonaws.com/xgboost-wheels/multigpu/xgboost-0.80-py2.py3-none-manylinux1_x86_64.whl)

I'm using skopt.gp_minimize for optimizing xgboost's parameters on mult-GPU. after some iterations  I got OOM like these:
[Parallel(n_jobs=-1)]: Done   2 out of   2 | elapsed: 91.3min finished
[Parallel(n_jobs=-1)]: Done   2 out of

[2018-11-08 01:58] hcho3 commented on #3877
Can you try using version 0.81? We have a bug fix related memory usage: #3635.

[2018-11-08 02:15] wuyunhua commented on #3877
@hcho3 thanks your advice, however, I just change xgboost from 0.80 into 0.81, another error throws like these:
terminate called after throwing an instance of 'dmlc::Error'
terminate called after throwing an instance of 'dmlc::Error'
  what():  [10:12:10] /workspace/include/xgboost/./../../src/common/common.h:41: /workspace/src/tree/updater_gpu_hist.cu: 279: invalid argument

Stack trace returned

[2018-11-08 02:16] hcho3 commented on #3877
Can you post the full script?

[2018-11-08 03:16] hcho3 commented on #3772
@trivialfis It turns out XGBoost already uses O3 because CMake is set to
Release configuration.

On Tue, Nov 6, 2018, 12:34 AM Jiaming Yuan <notifications@github.com wrote:

[2018-11-08 07:08] muralimadhanagopal opened #3879 "[jvm-packages] CPU Utilization across multi node clusters with xgboost4j"
Hi, I tried this algorithm on 200mb dataset across 3 node cluster. Each node has 2 cpu with 20 cores each, 40 cores in total. The cpu utlization on one node was 98%, going to 2 nodes reduced cpu utilization in each node to 50% and with 3 nodes cpu utlization dropped to 35% on each node.  So training time does not linearly scale with cpu resources across nodes.

1. Do we need a bigger dataset to ma

[2018-11-08 07:13] hcho3 commented on #3879
When you say GBM, which package are you referring to? Do you mean the R package?

[2018-11-08 08:30] muralimadhanagopal commented on #3879
Gradient Boosting Machines algorithm

[2018-11-08 08:31] muralimadhanagopal commented on #3879
on python

[2018-11-08 10:10] nathaneastwood opened #3880 "n_jobs=-1 doesn't work when passing XGBoostClassifier to xgboost.cv"
If I pass the following classifier to `xgboost.cv`, the `njobs=-1` parameter is not picked up and the function is not fit in a parallelised way

[code]

However the following does work

[code]

And the function is fit in a parallelised fashion. I am running `xgboost==0.80` on `Python 3.7.1`.

[2018-11-08 10:54] thvasilo commented on #3860
I'm wondering if it will be somehow possible to maintain the sklearn API and do multi-label as [sklearn does it](https://scikit-learn.org/stable/modules/multiclass.html).

They use an `X times |Y|` representation for the prediction matrix, and I assume for the data as well. If we want to maintain the users' expectation that XGBoost works with big data it will be hard to achieve for multi-label pro

[2018-11-08 10:58] thvasilo commented on #3857
I'd like to point out the [security vulnerability](https://github.com/tqchen/yarn-ec2/issues/5) in that guide, apart from being outdated.

My recommendation for users is to launch a YARN cluster using EMR or some other method and then simply download and build XGBoost at the master.

[2018-11-08 11:03] thvasilo commented on #3877
You are using a maxdepth range from 5-25. Actually every one increase in max depth doubles the size of the tree, essentially doubling the memory requirements of the algorithm.

We've seen this problem before, and I'd recommend we deprecate that parameter in favor of providing a power-of-two max leaf number that makes explicit the growth in computation cost/memory/model size, or at least make it ve

[2018-11-08 11:19] loretoparisi commented on #357
@tqchen Reading your great [Introduction to Boosted Trees](https://homes.cs.washington.edu/~tqchen/pdf/BoostedTree.pdf) it's not clear to me why feature scaling it's not necessary in mathematical terms.

[2018-11-08 11:38] Jopepato commented on #3860
I was thinking of that as well. Training an X numbers of classifiers one for each label |Y|. But as you say the complexity and time for the model to train all the data would increase a lot...
Another approach would be as the LabelPowerset does... this is changing the multilabel output to a multiclass problem. Assigning each set of different labels to a class.
By doing this we lose some information

[2018-11-08 12:00] KOLANICH opened #3881 "xgboost\core.py:1024: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working"
https://github.com/dmlc/xgboost/blob/19ee0a357964f4c0a7cef6c00da2e8478e360974/python-package/xgboost/core.py#L1024

[2018-11-08 12:11] goodturing opened #3882 "HDFS includes and libraries NOT found when compiling spark xgboost with USE_HDFS on"
The error info is as follow:
-- Architecture: x64
-- HDFS_LIB_PATHS: /lib/native
CMake Error at dmlc-core/cmake/Modules/FindHDFS.cmake:64 (message):
  HDFS includes and libraries NOT found.(HDFS_INCLUDE_DIR-NOTFOUND,
  HDFS_LIB-NOTFOUND)
Call Stack (most recent call first):
  dmlc-core/CMakeLists.txt:32 (find_package)

But I can't find any libhdfs anywhere

[2018-11-08 15:39] muralimadhanagopal commented on #3879
How and why does the nodes have to synchronize between tree build? That seems to be reason for low utlization. Where is it done in code, want to understand it better, thanks!

[2018-11-08 15:43] CodingCat commented on #3879
200 mb with 3 nodes does not make sense...distributed comes with cost for syncing histogram (about why, reading kdd paper about xgboost, weighted sketching part)

[2018-11-08 15:49] muralimadhanagopal commented on #3879
Thanks Nan. why would it need to sync the histogram? I just downloaded the source code, can you point me where its doing it? I would expect the job to just finish faster as we add nodes.

[2018-11-08 15:53] CodingCat commented on #3879
In distributed setting, each tree on each node is split based on the global information about your dataset, otherwise, You cannot get a “unified tree” for this iteration, read hist_maker.cc

[2018-11-08 15:58] muralimadhanagopal commented on #3879
ok thanks Nan, when would it make sense to go to multi node, if your dataset is huge and exceeds memory of one node?

[2018-11-08 16:00] CodingCat commented on #3879
Yes, the basic guidance is that you need to ensure that you spent most of
time in dealing with all training instances in your partition

On Thu, Nov 8, 2018 at 7:58 AM muralimadhanagopal <notifications@github.com>
wrote:

[2018-11-08 16:57] khotilov commented on #3860
Did you consider using any existing packages that already implement various multilabel problem reduction strategies for a generic classifier? E.g., scikit-multilearn for Python or utiml for R.

Unless there would be some clear benefit in custom implementation of some of such strategies within xgboost, it would not make much sense to add and maintain such functionality here.

[2018-11-08 20:55] Bluesn0w commented on #3830
@trivialfis and @hcho3, I just compiled the master (I don't think you made precompiled multi GPU supported 0.81 wheel this time if I am not mistaken). I ran the same code and confirmed that the data is allocated evenly with the latest version. In addition, the 4XK80 will no longer crush. Instead, I think it can hold more data than 2XP100 now.

Thank you for making this happen! Please feel free to

[2018-11-08 21:03] FredYao opened #3883 "Is it possible to load a spark-trained model in non-spark environment, or vice versa?"
I have tried XGBoost4j and XGBoost4j-spark to persist trained models. However, the persisted models have different formats. The model persisted using XGBoost4j is a single file, while the one persisted using XGBoost4j-spark is a folder containing two subfolders: data and metadata.

Is it possible to load a XGBoost4j-spark model in a non-spark environment, or load XGBoost4j model in a spark environ

[2018-11-08 21:32] newnovice01 opened #3884 "Invalid Parameter format for num_feature expect int but value='4294967258'"
[18:18:13] start ip-172-31-20-145:1
[18:18:13] Load part of data 1 of 4 parts
[18:18:45] Load part of data 1 of 4 parts
terminate called after throwing an instance of 'dmlc::ParamError'
  what():  Invalid Parameter format for num_feature expect int but value='4294967258'

This is with training of Criteo TB dataset for 1 day's worth in libsvm format. I was also using 1 days worth of data for test.

[2018-11-08 21:33] newnovice01 commented on #3857
We should update this guy - https://xgboost.readthedocs.io/en/latest/tutorials/aws_yarn.html

So everyone doesn't just blindly follows it and expectes it to work.

[2018-11-08 21:42] trivialfis commented on #3830
@Bluesn0w Thanks for the testing. Cheers.

[2018-11-08 21:42] #3830 closed

[2018-11-08 21:44] hcho3 commented on #3830
@Bluesn0w Yoy can get Multi-GPU builds from https://s3-us-west-2.amazonaws.com/xgboost-wheels/list.html?prefix=multigpu/. The wheels were too big to upload to PyPI.

[2018-11-08 21:45] hcho3 commented on #3883
See https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#interact-with-other-bindings-of-xgboost

[2018-11-08 21:53] FredYao commented on #3883
@hcho3 , thank you for pointing out the details. It works for me! I will close the issue.

[2018-11-08 21:53] #3883 closed

[2018-11-08 21:56] hcho3 commented on #3882
Did you install Apache Hadoop?

[2018-11-09 01:50] wuyunhua commented on #3877
@thvasilo thanks, maybe the max_depth is the key of this solution  other than xgboost itself, I'll try it out later...

[2018-11-09 02:38] Bluesn0w commented on #3830
@hcho3 got it! thanks! didn't realize you created a folder for that, so I only saw the other ones.

[2018-11-09 03:16] goodturing commented on #3882
Yes. I had. Hadoop and HDFS path are as follows: /usr/local/Cellar/hadoop/3.1.1//bin/hdfs; /usr/local/Cellar/hadoop/3.1.1//bin/hadoop . But I can't find hdfs lib path. Could you tell me how to set or compile hdfs ? Thank you very much.

[2018-11-09 03:37] hcho3 commented on #3884
@newnovice01 This is a limitation of XGBoost: number of features cannot exceed `INT_MAX` (2147483647). For now, I will have the program throw exception when number of features is too big. We do want to remove the limitation eventually, however.

[2018-11-09 03:38] hcho3 commented on #3880
Did you mean to use `n_jobs`?

[2018-11-09 03:38] #3879 closed

[2018-11-09 03:38] hcho3 commented on #3857
@newnovice01 I will go ahead and take it down for now.

[2018-11-09 03:56] #3884 closed

[2018-11-09 04:16] hcho3 commented on #3882
@goodturing Did you use Homebrew to install Hadoop? I tried it and the Homebrew formula doesn't seem to include libhdfs. For best results, please download the source from [Apache website](https://hadoop.apache.org/releases.html) and compile.

[2018-11-09 05:04] hcho3 commented on #3882
@goodturing For your information, here are the steps for compiling from the source:
[code]

[2018-11-09 05:28] #3857 closed

[2018-11-09 05:36] joegaotao opened #3887 "model trained is different with tree_method "gpu_hist" between on single GPU and on multi-GPU?"
I tested `tree_method = 'gpu_hist'` on single GPU and multi-GPU, and I found the predictions are different. According to my understanding, the hist method first converts continuous feature values into
k discrete bins, and then construct a histogram with k bins for each feature. Single GPU or multi-GPU just distribute and evaluate the gradients and hess in k bins, so the trained model should be the

[2018-11-09 05:52] hcho3 commented on #3887
@joegaotao I think the two models are different to begin with. You should get text dump of each model and compare. The predictor itself should give the same answer for the same model, regardless of `n_gpus` set. Prediction is different because model trained is different.

[2018-11-09 06:11] joegaotao commented on #3887
@hcho3  I know the trained models  are different leading to the different prediction, but the seed, dataset and parameter are the same except the `n_gpu`. When specifying `tree_method="gpu_exact"`, the model is the same, while `tree_method="gpu_hist"`with different gpu number is different. So I wonder what it is the difference in multi-GPU and single GPU when implementing gpu_hist algorithm?

[2018-11-09 07:34] nathaneastwood commented on #3880
Sorry, that is what I used. But it still wasn’t picked up. I copy and pasted my `nthreads` codes and wrote `njobs` instead of `n_jobs`

[2018-11-09 08:04] #3842 closed

[2018-11-09 08:04] hcho3 commented on #3798
@warmcuddles Any updates? Can you install with `pip install xgboost==0.81`?

[2018-11-09 08:05] hcho3 commented on #3799
@shhkam Any updates?

[2018-11-09 08:17] Jopepato commented on #3860
@hcho3 I guess that is a better option... using xgboost as the base classifier and letting other library work with the multi label problem...

[2018-11-09 08:31] #3882 closed

[2018-11-09 09:02] Toooodd commented on #1715
thanks, it works!!!

[2018-11-09 09:33] goodturing commented on #3882
Yes, I installed hadoop by brew. Then I fall back to Hadoop 2.7.7. This problem has been solved. But I encountered another problem.

ld: warning: ignoring file /WKS/hadoop-2.7.7/lib/native/libhdfs.a, file was built for archive which is not the architecture being linked (x86_64): /WKS/hadoop-2.7.7/lib/native/libhdfs.a
Undefined symbols for architecture x86_64:
  "_hdfsCloseFile", referenced from:

[2018-11-09 10:22] nathaneastwood commented on #3880
Oddly this is working now, maybe I did use `njobs` instead of `n_jobs` without realising. I'll reopen this issue if it happens again.

[2018-11-09 10:22] #3880 closed

[2018-11-09 10:36] thvasilo commented on #3877
@wuyunhua I'd say the general recommendation is to not go above 10 for this parameter, it's probably preferable to add more trees (iterations) if you find that your model is underfitting, though given the sensitivity of the algorithm that's unlikely (much easier to over rather than under-fit)

[2018-11-09 11:11] #3877 closed

[2018-11-09 14:18] hcho3 commented on #3882
Did you compio Hadoop 2.7.7 from source? Don't use the binary tarball, since it contains Linux binaries and doesn't work with Mac OSX.

As an aside, if you plan to deploy your application to a Spark cluster, it may be best to use a Linux machine instead.

[2018-11-10 22:02] alexvpickering commented on #3860
[Here](http://www.ke.tu-darmstadt.de/lehre/arbeiten/bachelor/2017/Bohlender_Simon.pdf) is a paper demonstrating an approach that was better than chained classifiers with xgboost.

[2018-11-12 02:51] goodturing commented on #3882
Yes I used binary tarball directly. I am used to view/edit codes on mac, Maybe I should use linux machine. Thanks a lot.

[2018-11-12 03:50] hcho3 commented on #3887
@joegaotao GPU hist uses approximate quantile sketchs to produce candidate split points. The sketch algorithm is approximate and thus may produce different answers for different `n_gpus`. Do you see significant drop in AUC?

@RAMitchell @trivialfis Correct me if I'm wrong.

[2018-11-12 03:51] hcho3 commented on #3875
@jjyock Any updates?

[2018-11-12 03:51] hcho3 commented on #3847
@holysoros Any updates?

[2018-11-12 03:52] hcho3 commented on #3799
Feel free to reopen the issue if you run into the same problem using the latest master.

[2018-11-12 03:53] hcho3 commented on #3786
@neulyp Any updates?

[2018-11-12 05:43] #3875 closed

[2018-11-12 11:11] holysoros commented on #3847
It works even though not straightforward. Have you considered adding such API?

[2018-11-12 15:56] Denisevi4 commented on #3826
@hcho3 did you have a chance to look at the problem?

[2018-11-13 00:35] selectasterisk opened #3892 "Default XGBoost binary:logistic objective vs self-implemented objective yields different results"
Hi, I'm using the python implementation of XGBoost for a classification task. I recently started trying out different loss functions, and noticed that by plugging in the vanilla log loss function found here:
https://github.com/dmlc/xgboost/blob/master/demo/guide-python/custom_objective.py#L20

that I was getting completely different results vs using 'binary:logistic'.

I was wondering if anyone no

[2018-11-13 02:25] hcho3 commented on #3892
Take a look at the comment:
https://github.com/dmlc/xgboost/blob/0ddb8a7661013c75674704872c22273415268dbd/demo/guide-python/custom_objective.py#L29-L33

[2018-11-13 04:30] hcho3 commented on #3892
Yes

[2018-11-13 04:35] selectasterisk commented on #3892
So given that's the case, and that predict gives proper transformed outputs, is there another reason that the results are so drastically different? AUC and predicted distributions look completely different, and they are derived from bst.predict.

[2018-11-13 04:38] hcho3 commented on #3892
I think you should define a custom evaluation function to make a fair comparison. Can you post your script so that I can look at it?

[2018-11-13 04:47] selectasterisk commented on #3892
`
def logregobj(preds, dtrain):
    labels = dtrain.get_label()
    preds = 1.0 / (1.0 + np.exp(-preds))
    grad = preds - labels
    hess = preds * (1.0 - preds)
    return grad, hess

X_train, X_test, y_train, y_test = train_test_split(data_sparse_rw, labels_rw, test_size=0.33, random_state=42)

dtrain = xgb.DMatrix(data=X_train,label=y_train)

dtest = xgb.DMatrix(data=X_test,label=y_test)

num

[2018-11-13 09:42] joegaotao commented on #3887
@hcho3 I use it in the regression mode with our customized evaluation metric, and I found the metric decayed significantly. The candidate split points is not  sketched by all data firstly?

[2018-11-13 09:48] hcho3 commented on #3887
@joegaotao Does your example script also show drop in metric?

[2018-11-13 09:52] trivialfis commented on #3887
@hcho3 @joegaotao Let me take a look.  I didn't try to look into this is because reason described in #3889.  If this sorted out, the results from single GPU and multi-gpu won't be the same in future anyway.

[2018-11-13 09:53] joegaotao commented on #3887
@hcho3 the example script is just a toy example, the different predictions seems to have no effect in such scenario.

[2018-11-13 10:11] joegaotao commented on #3887
@trivialfis I see. If each device propose splits based on its subset of the data, the parameter `n_gpus` will introduce some randomness for the data split strategy...

[2018-11-13 13:56] dping1 opened #3894 "'Booster' object has no attribute 'booster'"
Having an issue with a loaded model from a pickle file.  The following code was working before, but now it is going me the 'Booster' object has no attribute 'booster'

import pickle
import xgboost as xg
loaded_model = pickle.load(open("xgboost-model", "rb"))
xg.plot_importance(loaded_model)

Full stack trace below:

AttributeErrorTraceback (most recent call last)
<ipython-input-6-27f0d8bf6762> in

[2018-11-13 16:02] hcho3 commented on #3894
Did you generate the pickle file in a previous version?

[2018-11-14 00:42] trivialfis commented on #3612
@pseudotensor Should be addressed in 97984f4890e1b6357d8f98d121f2050220852998
Feel free to reopen if it doesn't work on your side.

[2018-11-14 00:42] #3612 closed

[2018-11-14 07:00] #3887 closed

[2018-11-14 07:12] hcho3 commented on #3847
@holysoros I think you can use [sklearn.preprocessing.OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) to perform one-hot encoding.

[2018-11-14 09:51] #3230 closed

[2018-11-14 15:21] Demon888 opened #3898 "[jvm-packages] there is no such aritfactId"
There is no such artifactId with this version in mvn repository.
[code]
The pom file lies in "xgboost/jvm-packages/pom.xml". Please give the right one.

[2018-11-14 19:31] pseudotensor opened #3899 "Check failed: param_.n_gpus != 0 Must have at least one device"
[model_data.zip](https://github.com/dmlc/xgboost/files/2582296/model_data.zip)

[code]

gives

[code]

Due to some kind of API change, but breaks everything form before.  Maybe if major changes to the API are made you should provide breaking changes.

I don't even know how to resolve this yet, still trying to see if there is a work-around.

@RAMitchell

[2018-11-14 19:41] pseudotensor commented on #3899
Work-around is to not set n_gpus or gpu_id if setting tree_updater='hist'.  In my view, this is a poor way to proceed.  The decision path to go into the gpu code shouldn't simply depend upon presence of n_gpus and gpu_id in the model parameters.  It should depend upon their values.

What this causes is excess code for the user to manage silly cases that the underlying code should never have reache

[2018-11-14 20:41] hcho3 commented on #3899
@pseudotensor Can you post the commit ID you are using? I thought #3878 would have fixed this issue.

[2018-11-14 20:55] pseudotensor commented on #3899
0ddb8a7661013c75674704872c22273415268dbd from Nov 12, so I may have just missed the resolution.  I'll retry with update.

[2018-11-14 23:11] trivialfis commented on #3899
@pseudotensor It should be resolved by #3878 now.  The check inherits from old GPU code.

[2018-11-14 23:11] #3899 closed

[2018-11-14 23:13] trivialfis commented on #3827
@SSJ-Goku Any update?

[2018-11-15 00:30] dshopin opened #3900 "Node not parsed correctly by xgb.model.dt.tree if split criteria is "<Inf""
Hi,

I noticed that in the table produced by `xgb.model.dt.tree` some nodes have NA in the "Feature" column, e. g.:
[code]
Afer looking through the code of the function, I think the issue is due to a regex that parses the text dump. Here's the raw text:

`55:[f279<inf] yes=83,no=84,missing=84,gain=6.56160975,cover=16.25`

The regex is:
[code]
So, it doesn't capture sub-strings where split criteria

[2018-11-15 05:42] gpetty commented on #1715
I had the same error on my Mac with a python program using numpy, keras, and matplotlib.  I solved it with 'conda install nomkl'.

[2018-11-15 14:24] csaiedu opened #3903 "Performance difference between Xgboost 0.81 and 0.60 on windows"
With Xboost 0.81 on windows 10 (gpu enabled), nthread is set to None implying 1, which require to set
that default to -1 if training on the cpu rather than the gpu. This creates portability issues.

When training with the code below:
With nthread=-1 the training time takes 12 seconds, while with my older xgboost install (xgboost 0.6 non gpu) the time is half at 6 seconds. Are there other significa

[2018-11-15 17:38] dshopin commented on #3900
And it's the same when split criteria ">NaN", e. g.:

`"206:[f333<nan] yes=227,no=228,missing=228,gain=0.739670038,cover=4.5880127"`

Guessing, this is the reason for the issue https://github.com/dmlc/xgboost/issues/2387 as well.

I currently fixed it in my code by changing `anynumber_regex` to:

`anynumber_regex <- "[-+]?[0-9]*\\.?[0-9]+([eE][-+]?[0-9]+)?|[+-]?[Ii]nf|[nN]a[nN]"`

[2018-11-15 19:39] CodingCat opened #3905 "[jvm-packages]cross validation is reportedly broken in spark"
https://github.com/salesforce/TransmogrifAI/issues/181#issuecomment-438975128

[2018-11-15 21:37] pseudotensor opened #3906 "SIGSEGV much more common in latest builds"
[code]

This is with hash c76d993681d8486decc43d4bd4b81d86762ed434 , while older hashes from 3 months ago had no such issues.

I don't have repro yet, but I hope the back trace from the seg fault will help.

[2018-11-15 21:50] hcho3 commented on #3906
Looks like the code attempted to initialize a `float` parameter with value 4920000500.0. Do you know where this number comes from? The value is larger that 16777216 and cannot be represented exactly by `float`, so `dmlc::Parameter` is throwing an error. We may want to submit a fix so that error checking is not so aggressive (the value will be silently truncated).

[2018-11-15 21:52] hcho3 commented on #3906
@pseudotensor Actually I think the behavior is strictly a mistake, since 4920000500.0 is simply 4.920005e9, which is totally fine value for a `float`. My bad. I will submit the fix right away.

[2018-11-15 22:06] hcho3 commented on #3906
@pseudotensor dmlc/dmlc-core#486 should fix the issue. We'll update the dmlc-core submodule after dmlc/dmlc-core#486 is merged.

[2018-11-15 22:11] hcho3 commented on #3903
Did you compile both versions from source? The binary wheel is compiled using Visual Studio 2015 + Windows Server 2008 (Vista) combination, so performance-wise may not be optimal.

[2018-11-15 22:14] hcho3 commented on #3900
@dshopin I wonder how `inf` and `nan` appear in splits. As far as I know, XGBoost should only produce real-valued splits.

[2018-11-15 22:15] hcho3 commented on #3898
@Demon888 Do you have any suggestion?

[2018-11-15 22:16] pseudotensor commented on #3906
Great, thanks!

[2018-11-15 22:17] hcho3 commented on #3906
No problem. And thanks for taking time to test it. Good thing we found the bug early and fix it right away.

[2018-11-16 01:33] trivialfis commented on #2274
@hcho3 One way to do it is create a parallel scan which counts number of zeros for each row, I made a little benchmark to see how much performance gain I got in the situation of data not containing `NAN`,  for data shape mentioned above:

-  number of nonzeros: 121798708
-  shape: (94306, 1628)

The convert time drops approximately from 4 sec to 2 sec.
If the input data is not of type `np.float32`

[2018-11-16 01:40] hcho3 commented on #2274
@trivialfis Thanks for your experiment. It seems like the performance gain won't be worthwhile the effort. I suppose we should close this.

[2018-11-16 01:41] Demon888 commented on #3898
For now, I do not. I should understand the project architecture first.

[2018-11-16 01:45] #2274 closed

[2018-11-16 02:07] FredYao opened #3908 "[jvm-packages] What's the best practice to set parameters and configurations for running XGBoost Spark on large data?"
I was using the Spark version of XGBoost4j, and training on a dataset sized 3.0G. I set the model's training parameters as:
`val xgbParam = Map("eta" -> 0.1f,
			"max_depth" -> 5,
			"objective" -> "binary:logistic",
			"num_round" -> 100,
			"colsample_bylevel" -> 0.7f,
			"tracker_conf" -> TrackerConf(0L, "scala"))`
My submit command was `spark-submit --master yarn --deploy-mode client --class X

[2018-11-16 02:08] trivialfis commented on #3903
Took a quick glance, I don't think the GPU has much contribution to the run time since I barely saw any activity on device monitor.  Will do some digging in the future.

[2018-11-16 02:50] #3906 closed

[2018-11-16 04:30] trivialfis commented on #3858
@pjgao Nicely done. :)

[2018-11-16 04:30] #3858 closed

[2018-11-16 06:44] trivialfis commented on #3881
@KOLANICH Addressed in  #3909. Thanks!

[2018-11-16 06:44] #3881 closed

[2018-11-16 07:33] scottfleming opened #3911 "Function to extract gradient of objective relative to query datapoint"
I'd love it if there were a way to extract the gradient for a differentiable objective on a particular data point. For example, let's say I have

xgb_train = xgb.DMatrix(X_train, label=y_train)
xgb_test_sample = xgb.DMatrix(X_test[0, :], label=y_test[0])
xgb_model = xgb.train(params, xgb_train)
# ^^^where params['objective'] = 'binary:logistic', for example

Then what I want is something like:

xg

[2018-11-16 09:53] csaiedu commented on #3903
I have used the binary wheels so may be it explains the drop in performance. It might need to wait for an anaconda release of 0.81 then.

From: Philip Hyunsu Cho
Sent: 15 November 2018 22:12
To: dmlc/xgboost
Cc: csaiedu; Author
Subject: Re: [dmlc/xgboost] Performance difference between Xgboost 0.81 and0.60 on windows (#3903)

Did you compile both versions from source? The binary wheel is compiled

[2018-11-16 09:56] hcho3 commented on #3903
@csaiedu You should compile from the source for best results. We don't manage Anaconda distribution, so I don't have much say about its distribution cycle.

[2018-11-16 17:13] pseudotensor opened #3912 "Check failed: predec <= kMaxPreDecimalDigits (261161580000000 vs. 16777216) Too many digits before the decimal point; use scientific notation instead\n\nStack trace returned 10 entries:\"
[code]

Getting this quite often now and not from any builds 3 months ago or prior.

Is this also fixed in the dmlc-core release?  @hcho3

[2018-11-16 17:16] hcho3 commented on #3912
Yes. Can you get the latest master and try again?

[2018-11-16 19:53] CodingCat commented on #3908
what's the format of your dataset and does your application only do training without any preprocessing  of data?

[2018-11-16 19:56] FredYao commented on #3908
@LeoLee1 , I have used the maximum memory that an executor can provide (i.e., 8G). It makes less sense to assume that each executor should have super large memory in a cluster.

`./bin/spark-submit --master yarn --deploy-mode client --class XXX  --num-executors 100 --executor-memory 7g --executor-cores 4 --conf spark.storage.memoryFraction=0.5 --conf spark.shuffle.memoryFraction=0.5 --jars YYY.jar

[2018-11-16 19:57] FredYao commented on #3908
@CodingCat , the dataset is in CSV format. My pipeline does some feature engineering before feeding the data into XGBoost. However, from Spark UI, I saw that it got stuck at XGBoost foreachPartion stage.

[2018-11-16 20:07] CodingCat commented on #3908
@FredYao it doesn't mean XGBoost is the bottleneck, if you didn't persist your dataframe before feeding to xgboostclassifier/regressor, only foreachPartition will show up as that's the job triggering everything

[2018-11-16 20:08] CodingCat commented on #3908
BTW you may want to post your code and UI screenshot

[2018-11-16 21:07] pseudotensor opened #3913 "xgboost.core.XGBoostError: b'[18:53:36] /root/repo/xgboost/src/common/host_device_vector.cu:355: Check failed: distribution_.IsEmpty() || distribution.IsEmpty()"
[code]

Hitting this now alot and wasn't hitting this a few months ago.  I can find repro.

[2018-11-16 22:53] gyz0807 opened #3914 "Not enough memory to run XGBoost?"
Hi,

I'm trying to run an XGBoost model on 65 gzipped .csv files (the raw .csv files are ~30GB in total) on an AWS EC2 instance. My EC2 instance has 4 cores and 16GB memory. Below are my configurations in Python and error logs. It seems to me that XGBoost cannot run because the AWS instance does not have enough memory. However, shouldn't Spark/XGBoost spit out files into hard drive if the memory i

[2018-11-16 23:17] hcho3 commented on #3914
To my knowledge, XGBoost does not support PySpark integration yet (it's in the works). Can you try using JVM instead?

@CodingCat Are we supporting PySpark integration?

[2018-11-16 23:30] gyz0807 commented on #3914
@hcho3 Thanks for the fast response. However, I've tried this and it works well on a smaller sample of data. Is there anything wrong with my configuration? I don't know JVM but I can look into it.

[2018-11-16 23:31] trivialfis commented on #3913
Can you provide the exact commit of XGBoost?
There's a known bug that if you want to change the number of GPU* you need to reload all data.

[2018-11-17 00:47] trivialfis commented on #3911
I don't think so.  Gradient computation is not exposed in C APIs.

[2018-11-17 03:37] willsnowdev commented on #1715
thanks a lot, it works.

[2018-11-17 21:11] anuragreddygv323 opened #3915 "Data format for pairwise ranking in XGBOOST"
I want to know if the pairwise loss which implements labdaMART does incorporate delta ndcg, which gives more weightage to the pairs in the top of the ranking list.

Data format

0 qid: 1 ... features
0 qid: 1 ...features
0 qid:1 ...features
1 qid:1 ..features

0 qid: 2... features
0 qid: 2 ...features
1 qid:2 ...features
0 qid:2 ..features

by mentioning the individual groups in the exact order of

[2018-11-17 21:13] hcho3 commented on #3915
Have you considered using `rank:ndcg` instead of `rank:pairwise`?

[2018-11-17 21:16] #3798 closed

[2018-11-17 21:18] anuragreddygv323 commented on #3915
if I use rank:ndcg vs rank:pariwise, how is the data format change ?

[2018-11-17 21:22] hcho3 commented on #3915
The format is the same.

[2018-11-17 21:22] anuragreddygv323 commented on #3915
Weighing each pairwise loss by the diference in NDCG resulting from swapping the positions of the two listings making up the pair.  is prioritized the rank optimization of the booked listing towards the top of the search result list, instead of the bo om. For example, improving the rank of a booked listing from position 2 to 1 would get priority over moving a booked listing from position 10 to 9.

[2018-11-17 21:27] anuragreddygv323 commented on #3915
it computes the pairs automatically in the case of pairwise loss ?

[2018-11-17 21:31] hcho3 commented on #3915
`rank:ndcg` should optimize ranking so as to optimize the overall NDCG measure. The NDCG measure is discounted over the list position, so it favors moving a relevant listing from 2 to 1, as supposed to moving a relevant listing from 10 to 9.

Yes. You can read the code at https://github.com/dmlc/xgboost/blob/93f63324e62c9e04269d17bc6505137a18dcc900/src/objective/rank_obj.cc#L41.

[2018-11-18 00:38] anuragreddygv323 commented on #3915
Thanks!

[2018-11-18 01:08] #3915 closed

[2018-11-18 02:50] henokyen commented on #3834
has anyone got a solution for this, i am struggling with the same error

[2018-11-18 02:59] CodingCat commented on #3834
@FredYao @henokyen , add xgboost-tracker.properties with the content `host-ip=0.0.0.0` in the resources folder of your jar, and

[2018-11-18 03:47] FredYao commented on #3834
@henokyen , the first thing is to check /etc/hosts of the job driver/worker, make sure that it has the 127.0.0.1 for localhost.

If the localhost is correct, then check the python version that you used. If it's lower that Python 2.7, the error is then expected. Because the rabbit tracker is supposed to work for Python 2.7+.  If this is the case, you can change the tracker to the scala-version whil

[2018-11-18 04:03] trivialfis opened #3916 "[DISCUSSION] Adopting JSON-like format as next-generation model format"
As discussed in #3878 and #3886 , we might want a more extendable format for saving XGBoost model.

For now my plan is utilizing the `JSONReader` and `JSONWriter` implemented in `dmlc-core` to add **experimental** support for saving/loading model into Json file.  Due to the fact that related area of code is quite messy and is dangerous to change, I want to share my plan and possibly an early PR as

[2018-11-18 04:06] hcho3 commented on #3916
@trivialfis Are we thinking of something like `dump_model(dump_format='json')`, except that we'd be able to both read and write the new model format? (JSON dump is currently write-only)

[2018-11-18 04:07] trivialfis commented on #3916
@hcho3 `Save()` and `Load()`, with `dmlc::JSONwriter *` instead of `dmlc::stream*` as parameter.

[2018-11-18 04:08] hcho3 commented on #3916
@trivialfis Awesome! We can add it as a plug-in.

[2018-11-18 04:12] trivialfis commented on #3916
@hcho3 My plan is we replace the old binary `Save` and `Load` in a few releases, so currently I'm trying to patch to code directly.  When it's done, XGBoost will save to json by default, as long as we keep the old binary `Load` function in the code, new releases of XGBoost can still read old binary format.  WDYT?

[2018-11-18 04:38] trivialfis commented on #3916
@hcho3 Good idea.  This way we don't even need to change the interface.

[2018-11-18 04:43] hcho3 commented on #3916
@trivialfis Cool. I'll look forward to your pull request.

[2018-11-18 06:20] nixphix opened #3918 "Fix parameter doc link in binary classification demo"
Link to parameters doc is broken in binary classification demo [README](https://github.com/dmlc/xgboost/blob/master/demo/binary_classification/README.md#L65)

Will follow up with a PR

[2018-11-18 08:35] #3918 closed

[2018-11-18 08:41] trivialfis commented on #3586
@hcho3

Suddenly I'm curious how come `tensorflow-gpu` can be downloaded via `pip`.

Notice the size of it.

[2018-11-18 08:43] hcho3 commented on #3586
@trivialfis They must have gotten a special exception. See https://pypi.org/help/#file-size-limit.

[2018-11-18 08:45] trivialfis commented on #3586
@hcho3 I see.  Thanks!

[2018-11-18 08:50] hcho3 commented on #3586
@trivialfis Deep learning frameworks such as TensorFlow and MXNet are large beasts containing many operators. So they justify an exception for large upload sizes. I feel that XGBoost is quite not that large to justify seeking an exception.

[2018-11-18 09:11] trivialfis commented on #3586
@hcho3 No problem.  I think the currently way is sufficient, it's just I came across tensorflow and noticed its size.

[2018-11-18 09:14] RAMitchell commented on #3586
We could actually compile nccl ourselves as it is now open source. Not sure if this gives any size advantage.

[2018-11-18 09:17] hcho3 commented on #3586
@RAMitchell This is a great news! I hope there would be Windows support too. As for size advantage, we'll have to try it out.

[2018-11-18 20:04] Igosuki commented on #3370
I intend to use this code with an incremental optimizer which has to run on just one machine, or at least a limited number of them (e.g: Tree Parzen Estimator). This has me having to wrap XGBoostClassifier/Regressor into another Estimator that'll just randomize params according to uniform distributions. This system allows us to converge a lot faster than with GridSearch.
It's just the search space

[2018-11-19 04:05] joegaotao opened #3921 "model can't be reproduced when data is big with tree_method = "gpu_hist" ?"
I did some tests in R(xgboost-0.81.0.1), when data N is big, I found the models trained with the same parameter are not the same on GPU (`tree_method = "gpu_hist"`), when data N is relatively small, the models are the same. But when I use `tree_method = "hist"` to train the model repeatedly on cpu, all the models result are the same. I don't know what happened on GPU training, due to the precision

[2018-11-19 07:20] LeoLee1 commented on #3908
@FredYao What is the version of your Spark Cluster?  I'm not sure, but here is my tricky method. I think that it's not related with Spark version of XGBoost4j, but handling it with RDD. Just refer to the below.

1) Repartition and mapPartitions : RDD.repartition(4*100*12).mapPartitions(iterative function)
2) Coalesce and mapPartitions : RDD.coalesce(4*100*12).mapPartitions(iterative function)

You

[2018-11-19 09:21] ch11y commented on #3756
I am also running XGBoost with GPU. My data is also large with 900 features with 30M samples.
terminate called after throwing an instance of 'thrust::system::system_error'
  what():  parallel_for failed: out of memory

But when I checked from the GPU utility. It only takes 14G out of 16G of the GPU. I have also tried to set predictor:'cpu_predictor' or not. Both ending up with the same error. Any

[2018-11-19 09:35] hcho3 commented on #3756
@ch11y Make sure to compile from the latest master. This issue has been resolved by #3738. If you keep seeing an issue, open a new issue.

[2018-11-19 10:15] trivialfis commented on #3771
@KOLANICH Hi, can you elaborate a little about what is "ksy", I couldn't find any reference on Google.

What kind of model are you talking about?  My first impression around the word "model" is tree/linear. I'm implementing a Json port of model IO, see #3916 , does that help?

[2018-11-19 10:31] hcho3 commented on #3921
@trivialfis This line sets the seed globally:
https://github.com/dmlc/xgboost/blob/0a0d4239d32cc90e48fb95be0b122164582c9d96/src/learner.cc#L300

[2018-11-19 10:31] trivialfis commented on #3921
@hcho3 Thanks!

[2018-11-19 12:13] KOLANICH commented on #3771
TLDR: machine-readable binary format specification compiled into parsing code in variety of languages. See #3170 and especially the links for more info.

[2018-11-19 12:15] KOLANICH opened #3922 "Should we remove the locking bot"
Locking an issue prevents authors of the messages in it from editing them, for example fixing the links.

[2018-11-19 12:19] KOLANICH commented on #3771
Yes, I mean them. I mean I'd like serialization/deserialization be separated from learning stuff.

[2018-11-19 13:16] thvasilo commented on #3916
I'd argue for text models, because binary models introduce long-term compatibility and maintenance burden, [case in point](https://stackoverflow.com/questions/44582581/xgboost-binary-format-spec), and recently there have been requests for adding additional parameters to the model that cannot be satisfied easily, I think we might be breaking compatibility. [[1]](https://discuss.xgboost.ai/t/treepar

[2018-11-19 13:32] thvasilo commented on #3908
@FredYao is your actual dataset 3GB? In that case I'd recommend just creating a file artifact after your pre-processing and using the base XGBoost to run your training, avoiding, Spark, partitioning etc. that is really a lot of overhead for such small input.

On many occasions I've been able to train datasets of multiple gigabytes on a laptop with 16G of memory.

[2018-11-19 13:36] thvasilo commented on #3283
I've written a [small guide here](https://discuss.xgboost.ai/t/how-to-run-tests/444/3) but it's quite hacky as it requires changing CMakeLists.txt. If there's a proper way to get Gtests to play nice and compile/run the tests I can do the write-up for the main repo.

[2018-11-19 13:44] KOLANICH commented on #3916
Depends on design. Usually developers make the format extendable enough using tag-size-contents pattern or just checking version.

Then I guess we should design a new binary format with extendability in mind and deprecate the old one. We will have to have some schema anyway, so no need to use generic-purpose formats like BSON/msgpack.

onnx supports decision trees, but it is a generic-purpose form

[2018-11-19 16:12] FredYao commented on #3908
@CodingCat , I created a pipeline with the last step being a XGBoostClassifier. However, if I replaced the last step with any other spark-ml learning methods (e.g., RandomForest), it worked fine on the dataset, and finished all the training in 20-25 minutes. I will post my code for XGBoost and Spark UI later.

[2018-11-19 16:15] FredYao commented on #3908
@thvasilo , thanks for your advice. My raw input data was 3.0G stored in HDFS with 100 partitions. I created a pipeline with a XGBoostClassifier as the last stage. So I did not know exactly what the input size to XGBoostClassifier. The input could be larger after some preorpcessing and feature engineerings in the pipeline. However, I need to get this run on a cluster instead of a personal computer

[2018-11-19 16:36] CodingCat commented on #3908
I noticed that you used 100 * 4 G memory in total to train 3G dataset...and failed...it doesn’t make any sense...must be something wrong in somewhere

I am working with 4+ T dataset with only 5-T memory budget...no problem at all...so it’s necessary to know your xgb version, code, spark ui, etc.

[2018-11-19 17:14] gyz0807 commented on #3914
Hi @thvasilo, thanks for the idea. I just tried to feed a libsvm file with multi-class labels into xgb.DMatrix, and it showed me 'Check failed: sign == true (0 vs. 1)'. So I guess this only works for binary class classification?

[2018-11-19 17:50] hcho3 commented on #3922
Threads are locked only after 90 days of inactivity, and only if they are already closed. Can you think of a scenario where someone wants to edit such threads?

[2018-11-19 17:53] hcho3 commented on #3916
I had someone tell me that XGBoost model has endian compatibility issue. Models trained with little-endian machine cannot be loaded onto big-endian machine. Endian compatibility is one reason to favor text based format (as long as we stick to UTF-8)

[2018-11-19 17:56] hcho3 commented on #3916
Also note that LightGBM uses INI-like format for model serialization.

[2018-11-19 17:57] hcho3 commented on #3922
I will bring this to discussion among the current maintainers.

[2018-11-19 18:19] CodingCat commented on #3914
How many memory you allocate to driver if you run in a single instance?

[2018-11-19 18:32] henokyen commented on #3834
this is the content of my /etc/host
##
# Host Database
#
# localhost is used to configure the loopback interface
# when the system is booting.  Do not change this entry.
##
127.0.0.1       localhost
255.255.255.255 broadcasthost
::1             localhost

i have 127.0.0.1 for localhost

I am on MacBook Pro. I am trying to implement this tutorial
https://medium.com/@bogdan.cojocar/pyspark-and-xgboo

[2018-11-19 18:35] KOLANICH commented on #3916
Endian-compatibility is not a big problem - we can just say that little endian should be used and transform endian on serialization. Or we can just save the endian in format and transform if it doesn't match machine endianness.

[2018-11-19 18:48] hcho3 commented on #3922
Got it. Will discuss this with current maintainers (there are 12 of them).

Some background: The locking bot was adopted with consensus among the maintainers. The idea was that it was difficult for us maintainers to respond to comments added to issues closed long ago: https://www.henryzoo.com/blog/2018/05/06/an-issue-with-issues.html

[2018-11-19 20:00] gyz0807 commented on #3914
@CodingCat I allocated 10g to driver and 5g to executor.

[2018-11-19 20:36] FredYao commented on #3908
@CodingCat , my spark version is 2.3.0 and XGBoost version is 0.80.
Code:
`	def main(args: Array[String]): Unit = {

		val spark = SparkSession.builder()
			.getOrCreate()

		import spark.implicits._

		// data schema
		val customSchema = StructType(Array(
			StructField("url", StringType, true),
			StructField("postal_code", StringType, true),
			StructField("label", ByteType, true)
		))

		// fi

[2018-11-19 22:39] CodingCat commented on #3908
you didn't specify `num_workers` or call `setNumWorkers` with XGBClassifier so that all data are collected to a single task (as num_workers is 1 by default)

read https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#parallel-distributed-training

[2018-11-19 22:42] CodingCat commented on #3908
BTW I suggest upgrade to 0.81 if you work with very large dataset as we fixed a memory leak in 0.81

[2018-11-19 23:13] FredYao commented on #3908
@CodingCat , thanks for pointing that out. I will try by setting num_workders. Before you mentioned this, I thought it was supposed to be the number of executors specified while submitting the Spark job. BTW, is it necessary to set num_workers (for xgboost) as same as num_executors ?

[2018-11-19 23:49] CodingCat commented on #3908
no...you have to set it as a value no larger than the total number of cores you claimed in your spark app, i.e. executor-cores * num-executors

[2018-11-19 23:56] hcho3 commented on #3916
@KOLANICH That's a fair point. I think a good way to proceed is to have multiple parser plugins implemented and then hold a beauty content to choose the best alternative for serialization format. The criteria are
1. It should be performant.
2. It should not introduce dependencies that makes compilation too difficult.
3. It should be easy to extend without breaking backward compatibility (models gi

[2018-11-20 00:08] hcho3 commented on #3916
Personally, I'd eliminate Protocol Buffers from consideration. I've tried it in another project ([dmlc/treelite](https://github.com/dmlc/treelite)) and it takes a long time to compile from source.

[2018-11-20 00:53] FredYao commented on #3908
I tried by setting num_workers as 1000 in XGBoostClassifier, and submit the job using num-executors=2000 (by default, executor-cores = 1). There are some errors. I am not sure if the errors were brought because of the memory leak you mentioned (version 0.80)

`

2018-11-19 16:43:04 INFO  MapOutputTrackerMasterEndpoint:54 - Asked to send map output locations for shuffle 19 to 10.0.30.42:57778
2018-

[2018-11-20 00:56] CodingCat commented on #3908
It looks like some executor got killed, please look at your logs and see if you can find something related

[2018-11-20 05:41] joegaotao commented on #3921
@trivialfis I think it might be not related to the random seed because the sample number has effect on the model result. Testing with cuda-9.2 and cuda-9.1 with the latest master branch, problem remains on cuda-9.2, while results are the same on cuda-9.1. I test another real data, although the difference still exists, cuda-9.1 is smaller and seems more robust. Maybe related to cuda version? Could

[2018-11-20 05:54] qkaver commented on #3858
@pjgao @hcho3  I'm also very confused how to get sample data info like the decision tree above.How can i get the number of sample in every single leaf?      :(

[2018-11-20 05:58] hcho3 commented on #3858
@qkaver Currently, the XGBoost model doesn't save the number of samples. #3452 is aimed at fixing that.

[2018-11-20 07:11] trivialfis commented on #3916
I ended up re-implementing a Json library due to it's too hard to get `dmlc::JSONReader` working (`Writer` is fine).

As for other formats, the simple facts are:

1. We have different models and I want to remain the possibility of adding new ones.
2. Only the model itself knows how to save/load its internal data.
3. There are unlimited number of formats.

So a Json representation can be both a mid

[2018-11-20 10:55] ch11y opened #3923 "Using customized subset of features when growing tree for different depths"
This might not be an issue. Please let me know if I need to move this question.

Does XGBoost have a plan to make user define a customized features sets for splitting at each depth? It might be a pretty useful feature for many applications.

when depth = 1, only using [f1, f2, f3]
when depth = 2, only using [f1, f2]
when depth = 3, only using [f2, f3]

[2018-11-20 10:56] huafengw opened #3924 "[jvm-packages] xgboost4j-spark-0.81 is not compatible with spark 2.4"
Exception will be like:
[code]

The problem comes from the incompatibility of library org.json4s:json4s-jackson_2.11

Spark 2.3 depends on `json4s-jackson_2.11-3.2.11` and spark 2.4 has upgraded it to `json4s-jackson_2.11-3.5.3`.
The old version function's signature that causes the problem is
[code]

while the newer one is

[code]

xgboost4j-spark-0.81 is compiled against spark 2.3 so running on s

[2018-11-20 11:06] hcho3 commented on #3923
No, we don't have a plan now. But we'll consider a pull request to implement it. There is already feature interaction constraints, so the proposed feature shouldn't be too hard to implement.

[2018-11-20 12:12] CodingCat commented on #3924
It is compiled against 2.3 so it is not expected to run with 2.4

[2018-11-20 12:13] #3924 closed

[2018-11-20 13:45] ch11y commented on #3923
Thank you.

[2018-11-20 15:44] KOLANICH opened #3925 "rename num_boost_round to n_estimators"
It is a hyperparam which is not in a hyperparams dict, and since we need it also to be tuned, saved and restored, I guess it is more convenient to have an alias the same as in sklearn.

It could look like
[code]

Or it may be even better to put it into hyperparams dict.

BTW in lots of places in the docs it is called just `num_round`

[2018-11-20 15:55] gyz0807 commented on #3914
Hi @CodingCat, I just tried this method and switched to an in AWS stance with 8 cores and 32g memory. I allocated 16g to the driver, but it gives me another out of memory error as below. XGBoost wrote out 7~8 cache files before getting this memory issue. I then tried to allocate 25g to driver, and XGBoost wrote out 16 cache files before getting this memory issue. Was this because the memory was no

[2018-11-20 16:35] pseudotensor commented on #3913
aa48b7e9033a4d78bf4f336960f62f63212d5530

All of our tasks are in a sub process and no model or cuda context is preserved across any of our xgboost runs.

But, it seems like once this bug is hit, it keeps happening over and over.

[2018-11-20 16:46] gyz0807 commented on #3914
@CodingCat I've put the error log file hs_err_pid6180.log [here](https://github.com/gyz0807/err_log/blob/master/hs_err_pid6180.log) in case you need to see it.

[2018-11-20 17:17] CodingCat commented on #3908
wait....according to your screenshot, you have at most 890 cores in your system, and you set worker number as 1000...how your training can even proceed? XGBoost requires all workers must be started before move forward to training

can you check if there is still anything wrong in your code, etc.?

[2018-11-20 23:09] FredYao commented on #3908
@CodingCat , I have run the scripts on my local machine. It was good. When I submit it to yarn cluster, I changed the worker number to 100 when I executed the job. The command I used is
`spark-submit --master yarn --deploy-mode client --num-executors 100 --executor-cores 4 --class XXX --queue QQQ --executor-memory 4g --conf spark.executor.memoryOverhead=2048 --jars /path/to/jars /path/to/class`
In

[2018-11-20 23:52] CodingCat commented on #3908
ERROR YarnScheduler:70 - Lost executor 115 on xxx.yyy.com: Container marked as failed: container_1542712054221_5591_01_334784 on host: xxx.yyy.com. Exit status: 255. Diagnostics: Exception from container-launch.

Your executor was crashed for some reason, you need to look at the executor log

[2018-11-21 01:38] LeoLee1 commented on #3908
@FredYao Thanks for sharing the code and logs with us. I think that there's some missing config for spark Driver. Please refer to the below URL. I found some WARN message in the logs, but not sure about your cluster status and environments.

spark.driver.maxResultSize | 1g | Limit of total size of serialized results of all partitions for each Spark action (e.g. collect) in bytes. Should be at leas

[2018-11-21 03:01] trivialfis commented on #3925
I don't think the `num_boost_round` has the same meaning as `n_estimators`.  `num_boost_round` essentially means how many trees/forests you want to **add**.  `n_estimators` doesn't carry such information.

That's a weird parameter used in various interface including cli.

[2018-11-21 03:13] holysoros commented on #3847
Finally, I use spark `VectorIndexer` and `OneHotEncoderEstimator` to perform one-hot encoding.

[2018-11-21 06:59] hcho3 commented on #3923
By any chance, would you be interested in implementing it?

[2018-11-21 07:01] hcho3 commented on #3922
@trivialfis What do you think?

[2018-11-21 08:13] trivialfis commented on #3922
@hcho3 I think 90 days is long enough.  If there's information in the issue important enough that needs to be updated, the information should belong to the documentation or something similar to wiki.

[2018-11-21 09:08] ch11y commented on #3923
Yes. I am very interested in this feature.

[2018-11-21 09:09] hcho3 commented on #3923
Great! When do you plan to start working on it?

[2018-11-21 09:10] ch11y commented on #3923
I think I can work on it during every weekend probably.

[2018-11-21 09:15] hcho3 commented on #3923
That's nice to hear. A good place to start is to look at the implementation for feature interaction constraints: https://github.com/dmlc/xgboost/blob/dc2bfbfde144ada58c6992f0315e27064a5f8ea6/src/tree/split_evaluator.cc#L346

This is one of three **split evaluator**, which assigns scores of candidate splits. By assigning negative infinity score for all splits with forbidden features at each level,

[2018-11-21 11:46] eblancost commented on #3649
We're having the same problem with Alpine. Tried installing libgomp and still no success...We're using xgboost 0.81

[2018-11-21 17:42] cyzhangchenya opened #3926 "Run XGBoost with Spark on a single node with multiple GPUs"
Are we able to run XGBoost with Spark on a single node with multiple GPUs by using the xgboost4j library plus https://xgboost.readthedocs.io/en/latest/gpu/index.html?

Or what might be a better suggested way? Thanks!

[2018-11-21 22:01] mingyang opened #3927 "[jvm-packages] Early Stopping Broken with xgboost4j-spark 0.81"
# Issue
Early stopping kicks in after **the very first iteration** with xgboost4j-spark 0.81. In other words, it stops **before** the eval metric turns around, and **doesn't wait** for `num_early_stopping_rounds` rounds, either.

# Environment
Spark local mode
[code]

# To Reproduce the Issue
## Code
[code]
## Data File
[iris_binary.txt](https://github.com/dmlc/xgboost/files/2605904/iris_binary.tx

[2018-11-21 23:21] CodingCat commented on #3927
https://github.com/dmlc/xgboost/pull/3928 should fix the problem, you can grab the code and compile locally, I will release a 0.82-SNAPSHOT soon

[2018-11-22 00:36] thvasilo opened #3929 "Change name of objective:linear_regression"
Inspired from [this issue](https://discuss.xgboost.ai/t/boosted-tree-for-regression/456) on the discussion board, right now we are calling the squared error objective linear regression which, as was the case in the linked issue is confusing to the users, especially I assume when combined with the fact that XGBoost offers a linear learner as well.

So I'm curious on the community's opinion on (even

[2018-11-22 01:57] trivialfis commented on #3913
@pseudotensor Could you show me how to reproduce it?  The error is mostly caused by changing the `n_gpus` or `gpu_id` without reloading data.  But I can't be sure if that's the problem you encountered.

[2018-11-22 02:13] aekazitt commented on #3649
@eblancost Try using this list of dependencies:
https://github.com/Nexosis/alpine-xgboost/blob/master/Dockerfile

[2018-11-22 06:17] huafengw opened #3931 "[jvm-packages] The vector size of `rawPredictionCol` generated by XGBoostClassificationModel is incorrect"
For binary classification, the vector in `rawPredictionCol` only contains one element while Spark's standard model will generate vectors having two elements. For example in GBTClassificationModel, the predictRaw function is like:
[code]

This problem will cause calling BinaryClassificationEvaluator failed when using `rawPredictionCol` to evaluate.

[2018-11-22 08:09] eblancost commented on #3649
@aekazitt the thing is that I get an error when run in Jenkins (in my local machine it works)

`dmlc-core/include/dmlc/././endian.h:24:6: error: #error "Unable to determine endianness of your machine; use CMake to compile"
     #error "Unable to determine endianness of your machine; use CMake to compile"`

[2018-11-22 09:15] hcho3 commented on #3649
@eblancost Can you use CMake in your environment?

[2018-11-22 11:12] eblancost commented on #3649
@hcho3 I get errors using CMake.

`CMakeFiles/objxgboost.dir/src/c_api/c_api.cc.o: In function `dmlc::StackTrace[abi:cxx11](unsigned long)':
c_api.cc:(.text._ZN4dmlc10StackTraceB5cxx11Em[_ZN4dmlc10StackTraceB5cxx11Em]+0x88): undefined reference to `backtrace'
c_api.cc:(.text._ZN4dmlc10StackTraceB5cxx11Em[_ZN4dmlc10StackTraceB5cxx11Em]+0x110): undefined reference to `backtrace_symbols'
CMakeFiles/o

[2018-11-22 12:33] mateuszkaleta opened #3933 "DMatrix takes csv header into account when counting number of rows"
# Environment:
- Windows 10
- Anaconda 3.5.1
- python=3.6.6
- xgboost==0.81

# Issue

I'm trying to load a CSV file into a xgb.DMatrix object.  The file has a header and a few rows.

## Current behaviour:
- dmatrix.num_row() = len(data) + 1 (especially important if you point DMatrix not to a file, but to a directory)
- DMatrix ignores header when defining feature names
- dmatrix.get_label() return

[2018-11-22 18:18] cyzhangchenya commented on #3926
ok cool, thanks.

[2018-11-22 23:29] hcho3 commented on #3649
@eblancost Can you describe your OS, compiler, and processor architecture you're using?

[2018-11-22 23:33] hcho3 commented on #3649
Related: https://github.com/tkelman/julia-alpine/issues/1. We'll need to modify dmlc-core/CMakeList.txt so that it doesn't use backtrace when musl is used.

[2018-11-23 06:01] hcho3 commented on #3933
Currently, the DMLC parser for CSV is limited and does not recognize the header. Consider using Pandas for proper CSV parsing. I may want to document this limitation.

[2018-11-23 06:34] trivialfis commented on #3916
@hcho3 I kept the binary model and it's still default.  I thought about the performance issue, and it turns out there are 3-party specifications for binary form of JSON.  Just search "binary Json" should return a lot.

[2018-11-23 07:08] hcho3 commented on #3916
@trivialfis Thanks for the pointer. [BSON](https://github.com/mongodb/mongo-c-driver/tree/master/src/libbson) looks like a good choice for binary encoding of JSON, given its permissive license (Apache 2.0) and support from MongoDB.

Also, Microsoft/LightGBM#1083 uses multi-threading to speed up serialization of large models. I'll leave more details comments in #3930 about potential use of OpenMP f

[2018-11-23 07:14] hcho3 commented on #3916
@trivialfis [MessagePack](https://github.com/msgpack/msgpack-c) also looks like a good one as well.

[2018-11-23 08:07] hcho3 commented on #3929
I agree. `reg:linear` is a misnomer, since we are not really performing linear regression. We are really performing regression task with squared loss. `reg:squarederror` sounds better.

[2018-11-23 08:08] hcho3 commented on #3922
@trivialfis Since all old threads have been locked, I will update `lock.yml` to add explanatory comment.

[2018-11-23 08:08] #3922 closed

[2018-11-23 08:10] mateuszkaleta commented on #3933
Okay, I hope I'll find time to implement this and make a proper pull request some day. Thanks.

[2018-11-23 08:13] hcho3 commented on #3933
@mateuszkaleta Sorry for inconvenience. If you do choose to implement this feature some time, you should change [dmlc-core](https://github.com/dmlc/dmlc-core) package.

[2018-11-23 08:17] #3933 closed

[2018-11-23 08:52] trivialfis commented on #3916
Okay, I will focus the discussion in this issue rather than #3930 .  My proposal is
1. Implement a format independent data structure storing our models in memory during serialization as the middle form.  Copied from #3930 :

#3930 is already a working example (albeit Linux only currently with MSVC not building), you can use the patch from it to generate a json file to see how's it look like and ro

[2018-11-23 08:59] hcho3 commented on #3916
In other words, we want nested key-value stores as intermediate representation. We don't need full JSON for this purpose. Let me try to come up with a simpler alternative by tomorrow.

The idea is to 1) have all components generate nested key-value stores and 2) have the serializer convert it into the end format, such as JSON. This design ensures that we can easily switch the end format later (JSO

[2018-11-23 09:01] trivialfis commented on #3916
@hcho3 Nice.

[2018-11-23 09:19] hcho3 commented on #3916
@trivialfis BTW, good job with RTTI. I find it educational and edifying. This will come in handy for the nested key-value store I'm designing.